<div class="dashboard">
  {% include "@organisms/dashboard/dashboard-carousel.twig" %}
  {% include "@organisms/dashboard/widget-section.twig" %}
  {% include "@organisms/dashboard/widget-section.twig" %}
  {% include "@organisms/dashboard/widget-section.twig" %}
</div>