.category-list-item {
  display: flex;
  border-top: 1px solid #DDE0E2;
  padding: 26px 0 40px;

  .group-left {
    min-width: 40px;
    max-width: 100px;
    margin-right: 8px;
  }

  &__heading-3 {
    margin: 0;
  }

  &__link {
    display: block;
    margin-bottom: 1rem;
    position: relative;

    @include breakpoint($break-small) {
      display: inline;

      &::after {
        margin: 0 4px;
        content: "|";
        // TODO: find real color
        color: grey;
      }
    }


    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}