<div class="category-list-item {% for modifier in child_modifiers %}category-list-item--{{ modifier }} {% endfor %} {% if child_blockname %}{{ child_blockname }}__category-list-item{% endif %}">
  <div class="group-left">
    {% if child_category_image_url %}
      <div class="category-list-item--image">
        <img src="{{ child_category_image_url }}" />
      </div>
    {% endif %}
  </div>
  <div class="group-right">
    {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
      with {
        "heading_3_blockname": child_category_blockname,
        "heading_3_url": child_category_title_url,
        "heading_3": child_category_title
      }
    %}
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": child_category_description,
        "paragraph_blockname": child_category_blockname
      }
    %}

    {% for link in child_category_links %}
      {% if link.link_url and link.link_text %}
        {% include "@atoms/01-links/link/link.twig"
          with {
            "link_url": link.link_url,
            "link_content": link.link_text,
            "link_blockname": child_category_blockname
          }
        %}
      {% endif %}
    {% endfor %}
  </div>
</div>