.mobile-map-view {
  width: 100%;
  position: relative;

  .location-finder-content-panel {
    padding: 0 3%;
  }

  .small-grey__paragraph {
    margin-right: 17px;
  }

  .form-item {
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: $white;
    margin: 4px 3%;
    width: 94%;
    position: absolute;
    top: 59px;
    z-index: 1;

    .icon-map-marker {
      position: absolute;
      top: 8px;
      padding-left: 15px;
    }

    .global-search__clear {
      top: 17px;
    }

    input {
      padding-left: 30px;
      box-sizing: border-box;
      width: 100%;
    }
  }


  .map-list-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-grey-2;
    padding: 15px 0 12px 0;
    box-shadow: 0 1px 0 0 $color-grey-11;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    .map-list-toggle__paragraph {
      padding-left: 5px;
      margin: 0;
    }

    .icon-map:before,
    .icon-th-list:before {
      position: relative;
      top: 5px;
    }
  }
  
  .results-content-blocks_container {
    padding: 15px 3% 0 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color-white;

    .results-content-blocks {
      box-shadow: none;
    }
  }

  @include breakpoint($break-small) {
    display: none;
  }
}