<div class="mobile-map-view">
  <div class="map-list-toggle">
    <i class="icon icon-map"></i>
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": paragraph_content,
        "paragraph_blockname": paragraph_blockname
      }
    %}
  </div>
  <div class="form-item">
    <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="City, State/Province, or Zip/Postal Code">
    <i class="icon icon-map-marker"></i>
  </div>

  {% include "@atoms/05-forms/select/select.twig"
    with {
      "select_content": "Show: All Branches",
      "select_modifiers": select_modifiers
    }
  %}
  <div class="location-map">
    {% include "@base/layouts/placeholders/_placeholders.twig"
      with {
       title: "Map"
      }
    %}

  </div>
  <div class="results-content-blocks_container">
    {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
  </div>
</div>