<template>
  <div :class="[classArray]" :style="{'background-image' : 'url(' + heroImage + ')'}">
    <div class="hero__content-holder" :class="{'hero__content-holder--loggedin' : userIsLoggedIn}">
<!--      <div class="hero__content-container">-->
        <div :class="{'column--two-thirds': searchTakeover == 'On'}">
          <h1 class="hero__headline" :class="{hero__headline__left : searchTakeover == '0'}">
            <span v-html="headline" class="hero__headline__bold "></span>
            <span v-if="!userIsLoggedIn" class="hero__headline__thin">{{ subHeadline }}</span>
          </h1>
          <p v-if="landingDescription" class="hero__content">{{ landingDescription }}</p>
        </div>
        <div v-if="searchTakeover == 'On'" class="hero-search">
          <ur-global-search-hero
                  :placeholder="globalSearchPlaceholder"
                  class="hero-search__field hero-search__search-box"
          />
  <!--        <ur-location-search-auto-complete
            class="hero-search__field hero-search__location"
          />-->
        </div>
        <!--<div v-if="!userIsLoggedIn" class="hero__subtagline" data-tracking="sign-in" data-tracking-description="Homepage Hero Subtagline" v-html="subTagline"></div>-->
        <div v-else-if="showCreditBanner" class="hero__subtagline" v-html="subTaglineAuthenticatedNoCredit">

        </div>
    </div>
<!--    </div>-->
  </div>
</template>

<script type="text/babel">
  import { mapState } from 'vuex';
  import get from 'lodash/get';

  // import UrLocationSearchAutoComplete from '@/components/global-header/container.ur-autocomplete-new';
  import UrGlobalSearchHero from './ur-global-search-hero.vue';

  export default {
    components: {
      // UrLocationSearchAutoComplete,
      UrGlobalSearchHero,
    },
    computed: {
      ...mapState({
        accounts: state => state.accounts,
        accountId: state => state.user.defaultAccountId,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      showCreditBanner() {
        // If user has no account (e.g., not logged in) OR
        // has an account but no credit, show banner.
        // Do not show banner if unless credit is greater than 0.
        return get(this.accounts.all, [this.accountId, 'creditLimit'], 0) === 0;
      },
    },
    data() {
      return {
        globalSearchPlaceholder: this.$i18n('ur.scissorLift'),
        classArray: [
          'hero',
          ((this.icon !== '' && this.icon !== undefined) ? `project-uptime-icon-${this.icon}` : ''),
          ((!this.heroImage) ? 'hero--no-image' : ''),
        ],
      };
    },
    methods: {
      takeoverCheck(takeoverFlag) {
        const $appDiv = document.getElementById('app');
        if (takeoverFlag === 'On') {
          $appDiv.classList.add('hero--takeover');
          return;
        }
        $appDiv.classList.remove('hero--takeover');
      },
    },
    props: {
      contentType: String,
      headline: String,
      heroImage: String,
      searchTakeover: String,
      subHeadline: String,
      subTagline: String,
      subTaglineAuthenticatedNoCredit: String,
      landingDescription: String,
      icon: String,
    },
    watch: {
      searchTakeover(newVal) {
        this.takeoverCheck(newVal);
      },
    },
    mounted() {
      this.takeoverCheck(this.searchTakeover);
    },
  };
</script>
