@charset 'UTF-8';

// ---------------------------------------------------------------------------------------------------------------------
// Vue Component: Home Page Hero Search and Global Hero Search
// ---------------------------------------------------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import './themes/custom/urone/styles/globals';

/**
 * Component
 */
// vue component origin: app/src/components/hero/ur-global-search-hero.vue
.component-hero--search {
  @include container();
}

.component-hero--search > div {
  margin-top: rem(-$scale-12);
  position: static;
  width: 100%;

  @include media('>=s') {
    @include grid-parent($gutter-horizontal: false);
    margin-top: rem(-$scale-6);
  }

  @include media('>=m') {
    margin-top: rem(-$scale-7);
  }

  // reset conflicting default form styles
  input[type=number],
  input[type=text] {
    border-color: transparent;
    box-shadow: inherit;
    margin: inherit;
    padding-left: inherit;
  }

  label {
    margin-top: inherit;
  }

  ul {
    list-style: none;
    padding-inline-start: inherit;
  }

  p {
    padding: inherit;
  }

  // shared styles -----------------------------------------------------------------------------------------------------
  // below styles should be consistent between location and equipment search fields
  .component-hero--search--location-field,
  .component-hero--search--equipment-field,
  .component-hero--search--button {
    height: rem($scale-12);
    position: relative;

    @include media('>=m') {
      height: rem($scale-14);
    }
  }

  .component-hero--search--location-field,
  .component-hero--search--equipment-field {
    background-color: $color-bg-light-primary;

    // labels for input fields
    .location-autocomplete label,
    .component-hero--search--equipment-input-wrapper .ur-text-input-new label.form-item__label {
      @include type-preset(
        $version: 50,
        $type: header
      );
      color: $color-text;
      padding-left: rem($scale-3);
      width: 8rem;

      @include media('>=s') {
        padding: rem($scale-3);
        width: auto;
      }
    }

    .location-autocomplete,
    .component-hero--search--equipment-input-wrapper {
      display: flex;
      height: 100%;
      width: 100%;
    }

    // format focus state of input wrapper and field for accessibilty
    .location-autocomplete .input-wrapper,
    .component-hero--search--equipment-input-wrapper .ur-text-input-new .input-field-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 60%;
      width: 100%;

      @include media('>=s') {
        height: 70%;
        padding-right: rem($scale-3);
      }
    }

    .location-autocomplete .input-wrapper input,
    .component-hero--search--equipment-input-wrapper .ur-text-input-new .input-field-wrapper .form-item__textfield {
      @include type-preset(
        $version: 50
      );
      height: 100%;
      width: 95%;

      @include media('>=s') {
        padding: inherit;
        width: 100%;
      }
    }

    // hide location icon in global search only
    .icon-before-location {
      display: none;
    }

    // clear input field icon
    .icon-before-close {
      font-size: $icon-size-xsmall;
      padding: 0 rem($scale-2);
    }

    // input dropdowns
    .component-hero--search--equipment-assisted-search {
      display: none;
    }

    .location-autocomplete .suggestions,
    .component-hero--search--equipment-input-wrapper.show-results .component-hero--search--equipment-assisted-search,
    .component-hero--search--equipment-input-wrapper.show-results .component-hero--search--equipment-results {
      @include shadow();
      background: $color-bg-light-primary;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: rem($scale-12);
      width: 100%;

      @include media ('>=m') {
        top: rem($scale-14);
        left: 0;
      }

      p,
      .recent-searches,
      .top-categories-list {
        padding-left: rem($scale-4);
        padding-right: rem($scale-4);

        li {
          max-width: 50%;
        }
      }
    }
  }

  // location search ---------------------------------------------------------------------------------------------------
  // vue component origin: app/src/components/common/ur-location-autocomplete.vue
  .component-hero--search--location-field {
    @include grid-col-reset();
    border-bottom: $border-width-light solid $color-utility-border;
    border-radius: $border-radius-med $border-radius-med 0 0;
    box-shadow: none;
    z-index: 200;

    @include media('>=s') {
      @include grid-col(5, 1);
      border-bottom: 0 none;
      border-radius: $border-radius-med 0 0 $border-radius-med;
      box-shadow: -0.2rem 0.14286rem 0.28571rem 0 $depth-color;
      display: flex;

      @include bs-ie(){
        margin-left: auto;
      }
    }

    @include media('>=m') {
      @include grid-col(5, 1);

      @include bs-ie(){
        margin-left: auto;
      }
    }

    @include media('>=l') {
      @include grid-col(4, 1);

      @include bs-ie(){
        margin-left: auto;
      }
    }

    @include media('>=xl') {
      @include grid-col(4, 2);

      @include bs-ie(){
        margin-left: auto;
      }
    }

    .location-autocomplete {
      align-items: center;
      flex-direction: row;

      .input-wrapper {
        @include media('>=s') {
          border-radius: 0;
          border-right: $border-width-light solid $color-utility-border;
        }

        input {
          border-radius: 0;
        }

        /* clears the 'X' from Internet Explorer */
        input::-ms-clear {  display: none; width : 0; height: 0; }
        input::-ms-reveal {  display: none; width : 0; height: 0; }

        .clearspan {
          padding-right: rem($scale-3);

          @include media('>=s') {
            padding-right: 0;
          }
        }
      }

      .suggestions {
        padding: rem($scale-4);

        li {
          padding-bottom: rem($scale-3);
        }

        // TODO: rename searchText class and keep styling within ur-location-autocomplete vue component
        .searchText {
          color: $color-blue-lowlight;
          font-weight: $font-weight-bold;
        }

        .selected {
          color: $color-blue-lowlight;
          font-weight: $font-weight-bold;
          text-decoration: underline;
        }
      }
    }
  }

  .component-hero--search--equipment-button-wrapper {
    @include grid-col-reset();
    display: block;

    @include media('>=s') {
      @include grid-col(5);
      display: flex;
    }

    @include media('>=m') {
      @include grid-col(6);
      padding-right: $grid-col-1;
    }

    @include media('>=l') {
      @include grid-col(7);
    }

    @include media('>=xl') {
      @include grid-col(6);
      padding-right: $grid-col-2;
    }

    // equipment search ------------------------------------------------------------------------------------------------
    .component-hero--search--equipment-field {
      @include shadow();
      border-radius: 0 0 $border-radius-med $border-radius-med;
      display: flex;
      width: 100%;
      z-index: 100;

      @include media('>=s') {
        border-radius: 0;
        box-shadow: -0.2rem 0.14286rem 0.28571rem 0 $depth-color;
      }

      .component-hero--search--equipment-input-wrapper {
        flex-direction: column;
        position: relative;

        /* clears the 'X' from Internet Explorer */
        input::-ms-clear {  display: none; width : 0; height: 0; }
        input::-ms-reveal {  display: none; width : 0; height: 0; }

        // vue component origin: app/src/components/global-header/global-header-text-input.vue
        .ur-text-input-new {
          align-items: center;
          display: flex;
          height: 100%;
        }

        // assisted search dropdown --------------------------------------------------------------
        // vue component origin: app/src/components/common/ur-assisted-search.vue
        &.show-results > .component-hero--search--equipment-assisted-search {
          .global-search__results-group.sub-categories {
            padding-top: rem($scale-4);
          }

          .global-search__results-group.top-categories.assisted-search-suggestions {
            padding-top: rem($scale-4);
            padding-bottom: rem($scale-4);
          }

          .global-search__results-group.sub-categories,
          .global-search__results-group.top-categories.assisted-search-suggestions {
            width: 100%;

            &:hover {
              background-color: $color-bg-light-secondary;
            }

            p {
              @include type-preset(
                $version: 50,
                $type: header
              );
              padding-bottom: rem($scale-3);
            }

            .recent-searches .link,
            .top-categories-list li {
              @include link();
              padding: 0 0 rem($scale-3);
            }

            .top-categories-list {
              display: flex;
              flex-wrap: wrap;

              li {
                flex: 1 1 50%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @include media('>=s') {
                  padding-right: rem($scale-6);
                }
              }
            }

            span .link {
              display: flex;
              font-weight: $font-weight-bold;
              justify-content: center;
            }
          }
        }

        // solr search dropdown ----------------------------------------------------------------------------------------
        &.show-results > .component-hero--search--equipment-results {
          .component-hero--search--equipment-results--list {
            .component-hero--search--equipment-results--list-label {
              background-color: $color-bg-light-secondary;
              display: flex;
              justify-content: space-between;
              padding: rem($scale-2) rem($scale-4);

              a {
                @include type-preset(30);
                color: $color-text-subtle;
                text-transform: uppercase;
              }

              span {
                @include border($radius: med);
                align-items: center;
                background: $color-pill-secondary;
                display: flex;
                height: rem($scale-5);
                justify-content: center;
                width: rem($scale-9);

                a {
                  @include link(reverse);
                  line-height: inherit;
                }
              }
            }

            .component-hero--search--equipment-results--objects {
              padding: rem($scale-2) rem($scale-4);

              .component-hero--search--equipment-results--object {
                display: flex;
                justify-content: space-between;
                padding-bottom: rem($scale-2);

                a {
                  @include link();
                  @include type-preset(50);
                }
              }
            }
          }
        }
      }
    }

    // search button ---------------------------------------------------------------------------------------------------
    .component-hero--search--button {
      @include btn(
        $style: attention,
        $size: regular
      );
      @include shadow();
      align-items: center;
      border-radius: $border-radius-med $border-radius-med;
      display: flex;
      justify-content: center;
      margin-top: rem($scale-5);
      position: relative;
      width: 100%;

      @include media('>=s') {
        border-radius: 0 $border-radius-med $border-radius-med 0;
        box-shadow: -0.12rem 0.14286rem 0.28571rem 0 $depth-color;
        flex: 0 0 auto;
        margin-top: 0;
        width: rem($scale-12);
        z-index: 400;

        // TODO: use mixin once the vue linter isn't stupid
        &::after {
          background-image: url(asset-path('icon','search--color-reverse.svg'));
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          display: inline-block;
          font-size: $icon-size-small;
          height: 1em;
          margin: inherit;
          width: 1em;
        }
      }

      @include media('>=m') {
        width: rem($scale-14);

        &::after {
          font-size: $icon-size-regular;
        }
      }

      .component-hero--search--button-text {
        @include type-preset(
          $version: 50
        );
        display: inline-block;

        @include media('>=s') {
          display: none;
        }
      }
    }
  }
}
