<template>
  <div>
    <!--begin location search-->
    <div class="component-hero--search--location-field">
      <ur-location-autocomplete
        :place="$store.getters['user/ratesPlaceAddress']"
        @clear="clearAllRatesPlaceInfo"
        @change="place => $store.dispatch('user/ratesPlace', place)"></ur-location-autocomplete>
    </div>
    <!--end location search-->

    <div class="component-hero--search--equipment-button-wrapper">
      <!--begin equipment search-->
      <div class="component-hero--search--equipment-field">
        <div class="component-hero--search--equipment-input-wrapper" :class="{ 'show-results': hasFocus }">
          <global-header-text-input
          :placeholder="placeholder"
          v-model="searchText"
          :secondary-click-handler="clearSearch.bind()"
          @keyup.exact="validateInput"
          @keyup.esc="clearSearch"
          @keyup.enter="goToSearch"
          @focus="setFocus(true)"
          @blur="setFocus(false)"
          />

          <div class="component-hero--search--equipment-assisted-search" v-if="searchResults.length === 0">
            <ur-assisted-search
              v-if="showAssistedSearch"
              :categories="facets.categories"
              :recentSearches="recentSearches" />
          </div>

          <div class="component-hero--search--equipment-results" v-if="hasFocus && searchResults.length > 0">
            <div class="component-hero--search--equipment-results--list" v-for="(term, termKey) in searchResults" :key="termKey">
              <div class="component-hero--search--equipment-results--list-label">
                <a :href="term.group_results_page">{{ checkLabels(term.display_name) }}</a>
                <span>
                  <a :href="term.group_results_page">{{ term.total }}</a>
                </span>
              </div>
              <div class="component-hero--search--equipment-results--objects">
                <div class="component-hero--search--equipment-results--object" v-for="(result, resultKey) in term.results" :key="resultKey">
                  <a :href="result.url" v-html="result.name"></a>
                  <span class="component-hero--search--equipment-results--object-distance" v-if="result.distance">{{ result.distance }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end equipment search-->

      <!--begin search button-->
      <button @click="goToSearch" type="submit" value="Search Rentals" aria-label="Search Rentals" class="component-hero--search--button">
        <span class="component-hero--search--button-text">{{ $i18n('ur.searchRentals') }}</span>
      </button>
      <!--end search button-->
    </div>
  </div>
</template>

<script type="text/babel">
  import api from '@/api';
  import mapLabels from '@/utils/mapLabels';
  import async from 'async';
  import GlobalHeaderTextInput from '../global-header/global-header-text-input';
  import UrAssistedSearch from '@/components/common/ur-assisted-search.vue';
  import UrLocationAutocomplete from '@/components/common/ur-location-autocomplete.vue';
  import { mapState, mapActions } from 'vuex';
  import types from '@/store/types';
  import './ur-global-search-hero.scss';

  export default {
    components: {
      GlobalHeaderTextInput,
      UrAssistedSearch,
      UrLocationAutocomplete,
    },
    props: {
      placeholder: {
        type: String,
        required: false,
        default: 'Search',
      },
    },
    computed: {
      hasText() {
        return this.searchText.length > 0;
      },
      hasResults() {
        return this.searchResults.length > 0;
      },
      showAssistedSearch() {
        return (!this.hasResults);
      },

      ...mapState({
        popularEquipmentTypes: state => state.popularEquipmentTypes.all,
        facets: state => state.facets,
      }),
    },
    data() {
      return {
        hasFocus: false,
        searchResults: [],
        searchText: '',
        recentSearches: JSON.parse(localStorage.getItem('recentSearches')),
        localValue: this.value,
        q: async.queue((task, callback) => {
          callback();
        }, 1),
        ...mapLabels({
          clear: 'ur.clear',
        }),
      };
    },
    methods: {
      clearAllRatesPlaceInfo() {
        this.clearRatesPlace();
        this.clearRatesPlaceBranch();
      },
      clearSearch() {
        this.searchText = '';
      },
      goToSearch() {
        const searchString = this.searchText.trim();
        const searchLength = searchString.length;
        const searchURL = `/search?search=${searchString}`;
        this.recentSearches = localStorage.recentSearches ? JSON.parse(localStorage.recentSearches) : [];

        if (searchLength < 1) {
          this.searchText = '';
          return false;
        }

        // add the search to the array of recent searches
        if (this.recentSearches.findIndex(val => val.val === searchString) === -1) {
          this.recentSearches.unshift({ val: searchString, url: searchURL });
          if (this.recentSearches.length > 5) {
            this.recentSearches.pop();
          }
          localStorage.setItem('recentSearches', JSON.stringify(this.recentSearches));
        }
        window.location = searchURL;
      },
      setFocus(e) {
        const self = this;
        if (e) {
          self.hasFocus = e;
        }
        else {
          setTimeout(() => {
            self.hasFocus = e;
          }, 250);
        }
      },
      getSearchResults(e) {
        if (e.length > 2) {
          this.q.push(api.globalSearch.getResults(e).then(response => {
            this.searchResults = response.data.result;
          }), () => {
          });
        }
        else {
          this.searchResults = [];
        }
      },
      checkLabels(resultCategory) {
        if (resultCategory != null) {
          if (resultCategory.toLowerCase().trim() === 'branches') {
            return this.$i18n('globalSearch.branches');
          }
        }
        return resultCategory;
      },
      validateInput() {
        this.searchText = this.searchText.replace(/[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, ''); //eslint-disable-line
      },
      ...mapActions({
        clearRatesPlace: types.user.clearRatesPlace,
        clearRatesPlaceBranch: types.user.clearRatesPlaceBranch,
        fetchPopularEquipment: types.popularEquipmentTypes.fetch,
        fetchFacets: types.facets.fetch,
      }),
    },
    name: 'urGlobalSearchNew',
    mounted() {
      this.fetchPopularEquipment();
      this.fetchFacets();
    },
    watch: {
      searchText(e) {
        this.getSearchResults(e);
      },
    },
  };
</script>
