.probox-card {
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-med;
  padding: 15px 20px 20px;
  background: $white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__container {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 180%;
    }
  }

  &__image {
    text-align: center;
  }

  .heading-5 {
    color: $color-grey-79;
    margin-top: 10px;
    margin-bottom: 5px;

    @include breakpoint($break-small) {
      font-size: $font-size-h3;
    }
  }

  &__rate {
    font-size: $font-size-small;
    padding-bottom: 5px;
  }

  &__description {
    font-size: $font-size-small;
  }

  .button {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    height: auto;

    &:first-of-type {
      @include breakpoint($break-small) {
        display: none;
      }
    }

    &:last-of-type {
      display: none;

      @include breakpoint($break-small) {
        display: flex;
      }
    }
  }
}
