<div class="probox-card__container">
  <div class="probox-card">
    <div class="probox-card__image">
      {% block probox_card_image %}
        <img src={{ probox_card_img }} alt="Bear">
      {% endblock %}
    </div>
    <div class="probox-card__content">
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig" %}
      <div class="probox-card__rate">
        Starting at ${{ probox_rate_price }}/{{ probox_rate_interval }}        
      </div>
      <div class="probox-card__description">
        {{ probox_card_description }}
      </div>
    </div>
    {% include "@atoms/06-buttons/style-1/01-button.twig" %}
    {% include "@atoms/06-buttons/style-1/01-button.twig" 
      with {
        "button_content": large_button_content
      }
    %}
  </div>
</div>
