{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<vueml-slide {{ attributes.addClass('ds-1col', 'clearfix', 'microsite-slide') }} data-slide-id="{{ content['#paragraph'].id.value }}">

{{ title_suffix.contextual_links }}

  {{ ds_content }}

</vueml-slide>
