{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass(classes) }}>

{{ title_suffix.contextual_links }}

  <a class="microsite-cta microsite-cta__phone bg-color--blue" href="tel:{{ ds_content.field_microsite_phone_number|render|striptags|trim|raw }}">
    <span class="icon microsite-cta__icon icon-phone"></span>
    <span class="microsite-cta__content">{{ ds_content.field_microsite_phone_number|render|striptags|trim|raw }}</span>
  </a>

  <a class="microsite-cta microsite-cta__email bg-color--blue-highlight" href="mailto:{{ ds_content.field_microsite_email|render|striptags|trim|raw }}">
    <span class="icon microsite-cta__icon icon-envelope"></span>
    <span class="microsite-cta__content">{{ ds_content.field_microsite_email_label }}</span>
  </a>

</{{ ds_content_wrapper }}>
