{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

{%
  set classes = [
  'callout-card',
  'ds1-col',
  'clearfix'
]
%}

<{{ ds_content_wrapper }}{{ attributes.addClass(classes) }}>

{{ title_suffix.contextual_links }}

  <a class="callout-card__link" href="{{ ds_content.field_callout_link[0]['#url']|render }}">
    <div class="callout-card__image-wrapper">
      {{ ds_content.field_callout_image }}
      <div class="callout-card__overlay"></div>
      <div class="callout-card__heading-wrapper">
        <h6 class="callout-card__heading">{{ ds_content.field_callout_title[0]['#context']['value'] }}<span class="callout-card__icon icon icon-long-arrow-right"></span></h6>
      </div>
      <div class="callout-card__icon-image-wrapper">
        {{ ds_content.field_callout_icon }}
      </div>
    </div>
  </a>

</{{ ds_content_wrapper }}>
