{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 *
 * Adds additional classes based on field values:
 * - Does the background image field have an image?
 * - Is the checkbox for gray background checked?
 * - Is the hide heading on mobile checkbox checked?
 */
#}
{%
  set classes = [
  'microsite-section',
  paragraph.field_section_background_image.isempty ? '' : 'microsite-section__with-background-image',
  paragraph.field_gray_background.value == '1' ? 'microsite-section__with-gray-background' : '',
  paragraph.field_hide_header_on_mobile.value == '1' ? 'microsite-section__hide-header-on-mobile' : ''
]
%}

{% set section_id = paragraph.field_section_heading.value|clean_id %}

<{{ ds_content_wrapper }}{{ attributes.addClass(classes).setAttribute('id', section_id) }}>

  <div class="microsite-section__wrapper">
    {{ title_suffix.contextual_links }}

    {{ ds_content }}
  </div>

</{{ ds_content_wrapper }}>
