{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 * - my_own_psuedo_field: custom psuedo field added through ur_microsite_components.module
 */
#}
<div class="microsite-carousel" data-slideshow-id="{{ content.random_hash }}">
  <div class="microsite-slideshow--featured-slides">
    {{ slides_copy }}
  </div>

  <vueml-carousel
      class="microsite-slideshow"
      :per-page-custom="[[0, 2.15],[640, 3],[1024, 4]]"
      :pagination-color="'#DDE0E2'"
      :pagination-active-color="'#008CFF'"
      :pagination-size="10"
      :pagination-padding="5"
      :navigation-next-label="''"
      :navigation-prev-label="''"
      :scroll-per-page="false"
      :navigation-enabled="true"
      {#@pagechange="gtmTrackCarouselButton('popular-equipment-types', $event)"#}
  >

    {{ ds_content|without('slides_copy') }}

  </vueml-carousel>
</div>