<div class="footer__secondary">
  <div class="footer__container grid justify--space-between align--center">
    <translation-global-footer></translation-global-footer>
    <div class="footer__social grid justify--space-between text-color--white">
      {% block social_navigation %}
        {% if social_menu %}
          {{ social_menu }}
        {% else %}
          {% include "@molecules/menus/_mock-menu-social.twig"
            with {
              "menu_data": social_navigation,
            }
          %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
<div class="footer__primary text-color--white">
  <div class="footer__container">
    <div class="footer__customer-care">
      <p class="customer-care">24/7 Customer Care</p>
      <p class="customer-care-call font-color--white">
      {% if (customer_service_number) %}
        <gtm-phone-number :number="'1-{{ customer_service_number }}'"></gtm-phone-number>
      {% else %}
        <gtm-phone-number :number="'1-{{ customer_service_mock_number }}'"></gtm-phone-number>
      {% endif %}
      </p>
    </div>
    <div class="footer__primary-navigation">

      {% block footer_nav %}
        {% if footer_menu %}
          {{ footer_menu }}
        {% else %}
          {% include "@molecules/menus/_mock-menu.twig"
            with {
              "menu_data": footer_navigation,
            }
          %}
        {% endif %}
      {% endblock %}
    </div>
    <div class="footer__legal">
      <small class="footer__legal--copy">&copy; {{ "now"|date("Y", "America/Chicago") }} United Rentals, Inc. |</small>

      {% block legal_navigation %}
        {% if legal_menu %}
          {{ legal_menu }}
        {% else %}
          {% include "@molecules/menus/_mock-menu-legal.twig"
            with {
              "menu_data": legal_navigation,
            }
          %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>

