.footer {

  &__secondary {
    background-color: $color-blue-lowlight;
    height: 70px;

    @include breakpoint($break-medium) {
      height: 50px;
    }
  }

  &__language {
    display: none;
    font-size: $font-size-small;
    line-height: 23px;
    color: $color-blue-subtle;

    @include breakpoint($break-small) {
      display: block;
      a:link {
        color: $color-white;
      }
      a:visited {
        color: $color-white;
      }
    }

    &--link {
      font-size: $font-size-small;
      color: $color-blue-subtle;
      -webkit-font-smoothing: antialiased;
    }
  }

  &__social {
    width: 100%;

    @include breakpoint($break-small) {
      width: auto;
    }

    nav { width: 100%; }

    ul.menu {
      display: flex;
      justify-content: space-between;

      .menu__item {
        display: inline;
        margin: 0;

        @include breakpoint($break-small) {
          margin-right: 23px;

          &:last-child { margin-right: 0; }
        }

        .social-link {
          font-size: 24px;
          line-height: 24px;

          &:hover {
            text-decoration: none;
          }
        }

        .icon {
          font-size: 24px;
          line-height: 24px;

          @include breakpoint($break-medium) {
            font-size: $font-size-h3;
            line-height: 18px;
          }
        }
      }
    }
  }

}