.footer {
  &__legal {
    text-align: center;
    margin-top: 22px;

    @include breakpoint($break-small) {
      text-align: left;
    }

    @include breakpoint($break-medium) {
      margin-top: 44px;
    }

    nav {
      // For some reason this isn't working if you're logged in as admin,
      // something to do with the contextual links is changing it because it looks
      // correct for anonymous users
      display: inline;

      // .visually-hidden items still take up space
      h2.visually-hidden {
        margin: 0;
      }
    }

    ul.menu__legal {
      display: inline;

      .menu__item {
        position: relative;
        padding-right: 7px;
        margin: 0;
        display: inline;

        .menu__link {
          color: $color-blue-subtle;
          font-size: $font-size-small;
          line-height: 20px;
          -webkit-font-smoothing: antialiased;
        }

        &:after {
          content: "|";
          position: absolute;
          right: 0;
          color: $color-blue-subtle;
          font-size: $font-size-small;
          line-height: 20px;
          -webkit-font-smoothing: antialiased;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    &--copy {
      color: $color-blue-subtle;
      line-height: 20px;
      -webkit-font-smoothing: antialiased;
    }
  }
}