.footer {

  .grid {
    padding: 0 29px;

    @include breakpoint($break-small) {
      padding: 0 32px;
    }

    @include breakpoint($break-medium) {
      padding: 0 40px;
    }

    // Grid within grid shouldn't have padding
    .grid {
      padding: 0;
    }
  }

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    height: inherit;
    overflow: hidden;
  }

  &__customer-care {
    margin: 0 0 28px;

    .customer-care {
      margin: 0;
      color: $color-blue-subtle;
      -webkit-font-smoothing: antialiased;
    }

    .customer-care-call {
      margin: 0;
      font-size: $font-size-h3;
      font-variant: none;
      font-weight: 700;
      line-height: 1.333333; // 24/18
      -webkit-font-smoothing: antialiased;

      // User Customer Care Number is only active on mobile devices
      @include breakpoint($break-small) {
        pointer-events: none;
      }
    }
  }

  &__primary {

    .footer__container {

      padding: 32px 16px 24px;

      @include breakpoint($break-small) {
        padding: 32px 32px 24px;
      }

      @include breakpoint($break-medium) {
        padding: 20px 40px 16px;
      }
    }

    &-navigation {

      // The menu block
      ul.menu {

        @include breakpoint($break-medium) {
          display: flex;
          justify-content: space-between;
        }

        // Top level LIs
        > .menu__item {
          position: relative;
          margin: 0;

          @include breakpoint($break-medium) {
            width: 20%;
            padding-left: 4.3%;

              &:first-child {
                border-right: 2px solid transparentize($color-blue-subtle, .5);
                padding-left: 0;
                width: 17%;
              }
          }

          // For mobile opening
          &.is-open {
            > .menu__link {
              // Rotate the angle-down icon so that it looks like an angle-up
              &:after {
                transform: rotate(180deg);
              }
            }

            > ul {
              transition:
                      max-height $animation-speed $anim-ease,
                      opacity $animation-speed-quick $animation-speed-quick $anim-ease,
                      margin-left $animation-speed-quick $animation-speed-quick $anim-ease;
              max-height: 300px;
              opacity: 1;
              margin-left: 0;
            }
          }

          // Top Level LI links
          > .menu__link {
            pointer-events: none;
            font-size: $font-size-h3;
            font-variant: none;
            font-weight: 700;
            // TODO: ask about mobile line-height for these items
            // Invision shows line-height of 50px for the menu items
            //line-height: 1.4285714286; // 20/14
            line-height: 50px;
            -webkit-font-smoothing: antialiased;

            @include breakpoint($break-medium) {
              pointer-events: auto;
              font-size: $font-size-h5;
              line-height: 1.4285714286; // 20/14
              display: inline-block;
              margin-bottom: .5rem; // 7px
            }

            // .icon-angle-down, @see atoms/text/icomoon/_icons.scss
            &:after {
              @extend .icon;
              content: "\f107";
              position: absolute;
              right: 0;
              font-size: $font-size-h3;
              // TODO: ask about mobile line-height
              //line-height: 1.333333;
              line-height: 50px;

              @include breakpoint($break-medium) {
                display: none;
              }

            }
          }

          // Submenu
          > ul {
            transition: max-height $animation-speed $anim-ease;
            margin-left: -14px;
            max-height: 0;
            opacity: 0;
            list-style: none;

            @include breakpoint($break-medium) {
              margin-left: 0;
              max-height: 300px;
              opacity: 1;
              display: flex;
              flex-direction: column;
              padding: 0;

            }

            // Submenu LIs
            .menu__item {
              margin: 0;

              @include breakpoint($break-medium) {
                font-size: $font-size-small;
                line-height: 23px;
                color: $color-grey-11;
                margin: 0;
              }

              // Hides the duplicate links sub-menu links on large sizes
              @include breakpoint($break-medium) {
                &:first-child {
                  display: none;
                }
              }

              // Submenu LIs links
              .menu__link {
                display: block;
                font-size: $font-size-h3;
                line-height: 38px;
                color: $color-blue-subtle;
                -webkit-font-smoothing: antialiased;

                @include breakpoint($break-medium) {
                  font-size: $font-size-small;
                  line-height: 23px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
---
name: Global Footer
category: Organisms
---
### Desktop Footer
```footer-desktop:footer-example.html
```
### Mobile Footer
Clicking on a menu item toggles the visibility of the subnavigation.
```footer-mobile:footer-example.html
```
```footer-mobile.js hidden
window.frameElement.style.width = '400px';

let $footerLink = document.querySelectorAll('.menu__item');
$footerLink.forEach(function(item){
  item.addEventListener('click', function(){
    item.classList.toggle('is-open');
  });
});

```
*/
