<footer class="footer bg-color--blue">
    <div class="footer__secondary">
        <div class="footer__container grid justify--space-between align--center">
            <div id="gfLanguageSelector" class="footer__language grid"><a href="https://esus-unitedrentals-kelex.onelink-translations.com/" class="footer__language--link">Español</a> &nbsp; | &nbsp;
                <a href="https://frca-unitedrentals-kelex.onelink-translations.com/" class="footer__language--link">Français</a></div>
            <div class="footer__social grid justify--space-between text-color--white">
                <nav role="navigation" aria-labelledby="block-footer-social-menu-menu" id="block-footer-social-menu">
                    <ul class="menu">
                        <li class="menu__item"><a href="https://www.facebook.com/United-Rentals-200631115132/" target="_blank" onclick="window._app.gtmTrackExitLink('Facebook', 'https://www.facebook.com/United-Rentals-200631115132/')" class="menu__link social-link"><i class="icon icon-facebook"></i></a></li>
                        <li class="menu__item"><a href="https://www.linkedin.com/company/united-rentals" target="_blank" onclick="window._app.gtmTrackExitLink('Linkedin', 'https://www.linkedin.com/company/united-rentals')" class="menu__link social-link"><i class="icon icon-linkedin"></i></a></li>
                        <li class="menu__item"><a href="https://twitter.com/United_Rentals" target="_blank" onclick="window._app.gtmTrackExitLink('Twitter', 'https://twitter.com/United_Rentals')" class="menu__link social-link"><i class="icon icon-twitter"></i></a></li>
                        <li class="menu__item"><a href="https://plus.google.com/104601727849529008192/posts" target="_blank" onclick="window._app.gtmTrackExitLink('Google Plus', 'https://plus.google.com/104601727849529008192/posts')" class="menu__link social-link"><i class="icon icon-google-plus"></i></a></li>
                        <li class="menu__item"><a href="https://www.youtube.com/channel/UCJqx4efP89s7kkS9hb-C5Cg" target="_blank" onclick="window._app.gtmTrackExitLink('Youtube', 'https://www.youtube.com/channel/UCJqx4efP89s7kkS9hb-C5Cg')" class="menu__link social-link"><i class="icon icon-youtube"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer__primary text-color--white">
        <div class="footer__container">
            <div class="footer__customer-care">
                <p class="customer-care">24/7 Customer Care</p>
                <p class="customer-care-call font-color--white">
                    <div><a>
    1-844.303.6230
  </a></div>
                </p>
            </div>
            <div class="footer__primary-navigation">
                <nav role="navigation" aria-labelledby="block-footer-menu-menu" id="block-footer-menu">
                    <ul class="menu">
                        <li class="menu__item menu__item--below"><a href="/customer-care/contact-us" onclick="window._app.gtmTrackMainNav('top', 'Contact\x20Us')" class="menu__link">Contact Us</a>
                            <ul>
                                <li class="menu__item"><a href="/customer-care/contact-us" onclick="window._app.gtmTrackMainNav('top', 'Contact\x20Us')" class="menu__link">Contact Us</a></li>
                                <li class="menu__item"><a href="/customer-care/contact-us" onclick="window._app.gtmTrackMainNav('top', 'Catalog\x20Request')" class="menu__link">Catalog Request</a></li>
                                <li class="menu__item"><a href="/services/credit-application" onclick="window._app.gtmTrackMainNav('top', 'Credit\x20Application')" class="menu__link">Credit Application</a></li>
                                <li class="menu__item"><a href="/customer-care/contact-us" onclick="window._app.gtmTrackMainNav('top', 'Email\x20Us')" class="menu__link">Email Us</a></li>
                                <li class="menu__item"><a href="/solutions/gsa-government" onclick="window._app.gtmTrackMainNav('top', 'GSA\x20Contract\x20Holder')" class="menu__link">GSA Contract Holder</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'About\x20Us')" class="menu__link">About Us</a>
                            <ul>
                                <li class="menu__item"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'About\x20Us')" class="menu__link">About Us</a></li>
                                <li class="menu__item"><a href="/sites/default/files/press-releases/UR3707_FactSheet_2017_October.pdf" onclick="window._app.gtmTrackMainNav('top', 'Corporate\x20Fact\x20Sheet')" class="menu__link">Corporate Fact Sheet</a></li>
                                <li class="menu__item"><a href="/our-company/corporate-responsibility-report" onclick="window._app.gtmTrackMainNav('top', 'Corporate\x20Responsibility')" class="menu__link">Corporate Responsibility</a></li>
                                <li class="menu__item"><a href="/our-company/about-united-rentals/leadership" onclick="window._app.gtmTrackMainNav('top', 'Leadership')" class="menu__link">Leadership</a></li>
                                <li class="menu__item"><a href="/our-company/about-united-rentals/company-overview" onclick="window._app.gtmTrackMainNav('top', 'Mission\x20\x26\x20Values')" class="menu__link">Mission &amp; Values</a></li>
                                <li class="menu__item"><a href="/our-company/about-united-rentals/our-culture" onclick="window._app.gtmTrackMainNav('top', 'Our\x20Culture')" class="menu__link">Our Culture</a></li>
                                <li class="menu__item"><a href="/project-uptime" onclick="window._app.gtmTrackMainNav('top', 'Project\x20Uptime')" class="menu__link">Project Uptime</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="http://careers.unitedrentals.com/en-us/about-us/" onclick="window._app.gtmTrackMainNav('top', 'Careers')" class="menu__link">Careers</a>
                            <ul>
                                <li class="menu__item"><a href="http://careers.unitedrentals.com/en-us/about-us/" onclick="window._app.gtmTrackMainNav('top', 'Careers')" class="menu__link">Careers</a></li>
                                <li class="menu__item"><a href="http://careers.unitedrentals.com/en-us/campus/" onclick="window._app.gtmTrackMainNav('top', 'Campus')" class="menu__link">Campus</a></li>
                                <li class="menu__item"><a href="/our-company/career-events-calendar" onclick="window._app.gtmTrackMainNav('top', 'Events')" class="menu__link">Events</a></li>
                                <li class="menu__item"><a href="http://careers.unitedrentals.com/en-us/military/" onclick="window._app.gtmTrackMainNav('top', 'Military')" class="menu__link">Military</a></li>
                                <li class="menu__item"><a href="http://jobs.unitedrentals.com/us/en-US/search-jobs/" onclick="window._app.gtmTrackMainNav('top', 'Search\x20Jobs')" class="menu__link">Search Jobs</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="/our-company/investor-relations/annual-reports-proxy-statements" onclick="window._app.gtmTrackMainNav('top', 'Investor\x20Relations')" class="menu__link">Investor Relations</a>
                            <ul>
                                <li class="menu__item"><a href="/our-company/investor-relations/annual-reports-proxy-statements" onclick="window._app.gtmTrackMainNav('top', 'Annual\x20Reports')" class="menu__link">Annual Reports</a></li>
                                <li class="menu__item"><a href="/our-company/investor-events-calendar" onclick="window._app.gtmTrackMainNav('top', 'Events')" class="menu__link">Events</a></li>
                                <li class="menu__item"><a href="/our-company/press-room/investor-press-releases" onclick="window._app.gtmTrackMainNav('top', 'Press\x20Releases')" class="menu__link">Press Releases</a></li>
                                <li class="menu__item"><a href="/our-company/investor-relations/investor-presentations" onclick="window._app.gtmTrackMainNav('top', 'Presentations')" class="menu__link">Presentations</a></li>
                                <li class="menu__item"><a href="/our-company/investor-relations/research-coverage" onclick="window._app.gtmTrackMainNav('top', 'Research\x20Coverage')" class="menu__link">Research Coverage</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="/our-company/press-room/press-releases/in-the-news" onclick="window._app.gtmTrackMainNav('top', 'News\x20\x26\x20Events')" class="menu__link">News &amp; Events</a>
                            <ul>
                                <li class="menu__item"><a href="/our-company/press-room/awards-recognition" onclick="window._app.gtmTrackMainNav('top', 'Awards\x20\x26\x20Recognition')" class="menu__link">Awards &amp; Recognition</a></li>
                                <li class="menu__item"><a href="/our-company/events-calendar" onclick="window._app.gtmTrackMainNav('top', 'Event\x20Calendar')" class="menu__link">Event Calendar</a></li>
                                <li class="menu__item"><a href="/our-company/customer-care/faqs" onclick="window._app.gtmTrackMainNav('top', 'FAQs')" class="menu__link">FAQs</a></li>
                                <li class="menu__item"><a href="/our-company/press-room/press-releases/in-the-news" onclick="window._app.gtmTrackMainNav('top', 'In\x20the\x20News')" class="menu__link">In the News</a></li>
                                <li class="menu__item"><a href="/our-company/press-room/press-releases" onclick="window._app.gtmTrackMainNav('top', 'Press\x20Room')" class="menu__link">Press Room</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__legal"><small class="footer__legal--copy">© 2018 United Rentals, Inc. |</small>
                <nav role="navigation" aria-labelledby="block-footer-legal-menu-menu" id="block-footer-legal-menu">
                    <ul class="menu menu__legal">
                        <li class="menu__item"><a href="/included-content/legal/privacy" data-drupal-link-system-path="node/277571" class="menu__link">Privacy Policy</a></li>
                        <li class="menu__item"><a href="/included-content/legal/termsofuse" data-drupal-link-system-path="node/277546" class="menu__link">Terms of Use</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
