.project-uptime-article-details_container {
  display: flex;
  padding: 0 3%;
  width: 100%;

  @include breakpoint($break-medium) {
    padding: 0 calc(5% + 60px);
  }

  .project-uptime-article__heading-1 {
    font-size: $font-size-display1;
  }

  .project-uptime-article__author_attribution {
    font-size: $font-size-small;
  }

  .project-uptime-article__author_attribution__name {
    font-size: $font-size-h6;
    font-weight: 700;
  }

  .project-uptime-article__tags {
    display: flex;
    flex-wrap: wrap;

    .button {
      color: $color-blue;
      border-radius: 24px;
      border-width: 1px;
      border-color: $color-blue;
      font-size: 10px;
      line-height: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 6px 7px;
      width: auto;
    }
  }

  .project-uptime-article__social-holder {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .project-uptime-article__social {
    display: flex;
    opacity: 0;

    @include breakpoint($break-medium) {
      flex-direction: column;
      position: fixed;
      top: 50vh;
      left: calc(3% + 252px); // 252px is width of sidebar + 3%
      align-items: center;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    .social-in-viewport & {
      flex-direction: row;
      position: static;
      transform: translate(0);
      opacity: 1;
    }

    > * {
      margin: 5px 0;

      .social-in-viewport & {
        margin: 0 17px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .ajax-progress { display: none; }

    a {
      text-decoration: none;
    }

    .icon,
    .flag-favorite_project_uptime {
      color: $color-blue;
      font-size: 13px;

      .social-in-viewport & {
        font-size: 22px;
      }
    }

    .addtoany_list {
      display: flex;
      flex-direction: column;

      .social-in-viewport & {
        flex-direction: row;
        margin-left: 0;
        margin-right: auto;
      }
    }

    .addtoany_list > a {
      padding: 0;
      font-size: initial;
      line-height: 1;

      &:first-child {
        margin-bottom: 5px;

        .social-in-viewport & {
          margin-bottom: 0;
          margin-right: 34px;
        }
      }
    }
  }

  .project-uptime-article__social-share-text {
    font-size: $font-size-small;
    color: $color-grey-38;

    .social-in-viewport & {
      display: none;
    }
  }

  .project-uptime-article__author {
    display: flex;
    padding-top: 30px;
    border-top: 1px solid $color-grey-11;
    font-size: $font-size-small;

    .link {
      font-weight: bold;
      align-self: flex-end;

      &::after {
        @extend .icon;
        content: '\f178';
        font-family: icomoon;
        color: $color-orange;
      }
    }
  }

  .project-uptime-article__author__left {
    @include setColumn(4, 12);

    @include breakpoint($break-small) {
      @include setColumn(2, 12);
    }

  }
  .project-uptime-article__author__right {
    display: flex;
    flex-direction: column;
    @include setColumn(8, 12);

    @include breakpoint($break-small) {
      @include setColumn(10, 12);
    }
  }

  .project-uptime-article__author__image {
    border-radius: 50%;
  }

  .project-uptime-article__author__info {
    margin-top: 10px;
  }

  .project-uptime-article__author__info__name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .project-uptime-article__author__bio {
    color: $color-grey-69;
    font-size: $font-size-small;
  }

}
