<div class="project-uptime-article-details_container">
  <article class="project-uptime-article__content">
    {# TODO: Replace with real breadcrumbs  #}
    <div class="project-uptime-article__breadcrumbs">
      {{ breadcrumbs }}
    </div>
    {% block content %}
      <div class="project-uptime-article__container">
        {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
          with {
            "heading_1": article_title,
            "heading_1_modifiers": article_1_title_modifiers,
            "heading_1_blockname": article_blockname,
          }
        %}

        <div class="project-uptime-article__components">
          {{ article_components }}
        </div>
        <p class="project-uptime-article__author_attribution">
          {{ article_by_text }}
          <span class="project-uptime-article__author_attribution__name">
            {{ article_by_author }}
          </span>
          {{ article_by_date }}
        </p>
        {{ article_image_src }}
        {% if article_content %}
          <div class="project-uptime-article__content">
            {{ popular_articles }}
            {{ related_equipment }}
            {{ article_content }}
          </div>
        {% endif %}
        {% if article_tags %}
          <div class="project-uptime-article__tags">
            {% for tag in article_tags %}
              {% include "@atoms/10-link-buttons/link-buttons.twig"
                with {
                  "link_modifiers": tag.modifiers,
                  "link_content": tag.content,
                  "link_url": tag.link
                }
              %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="project-uptime-article__social-holder">
          <div class="project-uptime-article__social">
            {% block social_share %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="project-uptime-article__author">
        <div class="project-uptime-article__author__left">
          <img class="project-uptime-article__author__image" src="{{ article_author_image_src }}" alt="{{ article_author_image_alt }}" />
          <div class="project-uptime-article__author__info">
            <div class="project-uptime-article__author__info__name">{{ article_author_name }}</div>
            <div class="project-uptime-article__author__info__title">{{ article_author_title }}</div>
          </div>
        </div>
        <div class="project-uptime-article__author__right">
          <p class="paragraph project-uptime-article__author__bio">{{ article_author_bio }}</p>

          {#{%  include "@atoms/01-links/link/link.twig"#}
            {#with {#}
              {#"link_url": article_author_more_link_url,#}
              {#"link_content": article_author_more_link_content,#}
              {#"link_modifiers": "project-uptime-article__author__link"#}
            {#}#}
          {#%}#}
        </div>
      </div>
    {% endblock %}
  </article>
</div>
<div class="project-uptime-article-details_popular_article">
  {{ popular_articles }}
</div>
<div class="project-uptime-article-details_related_equipment">
  {{ related_equipment }}
</div>
