<template>
  <field-value>
    {{ value | utcDate | momentSlashYYFormat }}
  </field-value>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    name: 'DateDetailField',
    extends: DetailField,
  };
</script>
