<template>
  <field-value>
    {{ value | utcDate | momentSlashYYFormat | invalidDate }}
  </field-value>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    name: 'DateListingField',
    extends: ListingField,
    filters: {
      invalidDate(date) {
        return date === 'Invalid date' ? '-' : date;
      },
    },
  };
</script>
