<template>
  <div class="listing-summary-results-divider"></div>
</template>

<script>
  /*
   * @vuese
   * @group Workplace
   * divider to separate the listing summary cards/controls from the listing records themselves
   */
  export default {
    name: 'SummaryResultsDivider',
  };
</script>
<style lang="scss">
  .listing-summary-results-divider {
    width: 100vw !important;
    border-top: 1px solid #333;
    position: absolute;
    left: 0;
    height: 72px;
    border-top: 1px solid #DDE0E2;
    background: linear-gradient(0deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
  }
</style>
