.add-to-cart__modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  @include breakpoint($break-small) {
    flex-direction: row;
    padding: 40px;
  }

  .pricing-content {
    width: 100%;
  }

  .add-to-cart__img-pricing {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 5px 80px;
    min-height: 122px;

    @include breakpoint($break-small) {
      margin: 0 27px 0 0;
      border-bottom: $border-grey;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: 100%;
      }
    }

    .object-listing-location-search {
      border-bottom: none;

      @include breakpoint($break-medium) {
        border-bottom: $border-grey;
      }
    }

    .add-to-cart__cat_class_code {
      color: $color-grey-38;
      height: 24px;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      line-height: 24px;
      position: relative;
      right: 75px;

      @include breakpoint($break-small) {
        top: 0;
        left: 0;
      }
    }

    .post-img-div {
      border: none;

      @include breakpoint($break-small) {
        border-bottom: $border-grey;
      }

      @include breakpoint($break-medium) {
        border-bottom: none;
      }
    }

    .add-to-cart__image {
      height: 69px;
      width: 69px;
      margin: 0;
      position: absolute;
      top: 34px;
      left: -83px;

      @include breakpoint($break-small) {
        height: 187px;
        width: 187px;
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    .add-to-cart__item-title {
      font-size: $font-size-h3;
      font-weight: bold;
      line-height: 24px;
    }

    p {
      color: $color-grey-38;
      background: $white;
      font-size: $font-size-small;
      width: auto;
    }
  }

  .add-to-cart__selections {
    padding-top: 15px;
    border-top: 1px solid $color-grey-11;
    @include breakpoint($break-small) {
      padding: 0;
      border: none;
    }

    .login-prompt {
      height: 20px;
      margin: 10px 0;
      display: inline-block;
    }

    input,
    select {
      margin-bottom: 7px;
    }

    .select--job {
      margin: 0;
    }

    .calendar_container {
      display: flex;
      flex-direction: row;

      .calendar_start,
      .calendar_end {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        input {
          &:active,
          &:focus {
            background: $color-blue-subtle;
          }
        }
      }

      .calendar_start {
        margin-right: 17px;
      }
    }

    .requester__select {
      position: relative;

      &:before {
        content: "\f007";
        font-family: icomoon;
        position: absolute;
        top: 48px;
        left: 21px;
        z-index: 1;
      }

      .dropdown-style1{
        @include dropdown-style(52px);
      }
    }

    .more_less_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        height: 32px;
        width: 187px;
        border: 1px solid $color-grey-11;
        border-radius: 4px;
        background-color: $color-white;
        text-align: center;
        appearance: none;
      }

      .more,
      .less {
        height: 32px;
        width: 36px;
        border-radius: 4px;
        background-color: $color-grey-11;
        padding: 1%;
        border: none;
      }
    }

    .label-selection {
      font-weight: 400;
    }

    .add-to-cart_checkout_button {
      cursor: pointer;
      height: 32px;
      width: 100%;
      padding: 1%;
      border: none;
      border-radius: 2px;
      background-color: $color-blue;
      color: $color-white;
      font-size: $font-size-base;
      font-weight: bold;
      outline: none;
      text-align: center;
      margin-top: 20px;
      &.noRequesters{
        margin-bottom: 71px;
      }
    }

    .object-listing-location-search {
      height: auto;
      border-radius: 4px;
      width: 100%;
      position: relative;
      margin-bottom: 1rem;

      p {
        cursor: pointer;
        width: 100%;
        background: $color-blue;
        color: $color-white;
        padding: 10px;
        margin: 0;
      }
    }
  }

  .location-selector {
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 5rem);
    width: 100%;
    height: auto;

    .form-controls {
      float: right;
      height: 50px;
    }

    .button {
      outline: none;
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 2px;
      font-size: $font-size-base;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1rem;
      width: auto;
    }

    .button--style-1 {
      background-color: $color-blue;
      color: #fff;
    }

    .button--style-2 {
      color: $color-blue;
    }

    .underline {
      text-decoration: underline;
    }

    .location-selector .global-search__clear {
      top: 1.2rem;
    }

    input {
      padding-left: 28px;
      font-size: $font-size-small;
      height: 32px;
    }

    .global-search__clear {
      display: none !important;
    }
  }
}

/*
---
name: Add To Cart (Modal)
category: Organisms
---
#### Unauthenicated Version
```add-to-cart-modal:add-to-cart-modal-example.html
```

```add-to-cart-modal.css hidden
@media (min-width: 640px){
  .modal__content--center {
    max-height: 100vh;
  }
}
.modal{
  height: 600px;
}
.modal__background{
  background: rgba(255,255,255,0.8);
}
```

#### Authenicated Version
```add-to-cart-modal-authenticated:add-to-cart-modal-authenticated-example.html
```

```add-to-cart-modal-authenticated.css hidden
@media (min-width: 640px){
  .modal__content--center {
    max-height: 100vh;
  }
}
.modal{
  height: 600px;
}
.modal__background{
  background: rgba(255,255,255,0.8);
}
```
*/
