.add-to-cart-location-date-qty-wrapper {
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-large;
  margin-bottom: 30px;
  padding: 1.25rem;
  width: 100%;

  @include breakpoint($break-medium) {
    max-width: 360px;
    width: auto;
  }

  .calendar_container {
    .calendar_start {
      margin-right: 17px;
    }
  }
}

.add-to-cart__modal {
  .add-to-cart__selections {
    .select > i.icon.icon-angle-down{
      top:15px;
    }
  }
}




.add-to-cart {
  display: block;
  background: white;
  padding: 0;
  margin-bottom: 30px;

  @include breakpoint($break-medium) {
    border: 1px solid $color-grey-11;
  }

  .add-to-cart__selections {

    @include breakpoint($break-medium) {

    }

    .login-prompt {
      height: 20px;
      margin: 20px 0;
    }

    input,
    select {
      margin-bottom: 7px;
    }

    .select--job {
      margin: 0;
      .error{
        margin-top: 0px;
      }
    }

    .requester__select {
      position: relative;

      .icon {
        top: 16px;

      }
      &:before {
        content: "\f007";
        font-family: icomoon;
        position: absolute;
        top: 48px;
        left: 21px;
        z-index: 1;
      }

      .dropdown-style1 {
        @include dropdown-style(52px);
      }
    }

    .more_less_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        height: 32px;
        border: 1px solid $color-grey-11;
        border-radius: 4px;
        background-color: $color-white;
        text-align: center;
        appearance: none;
      }

      .more,
      .less {
        height: 32px;
        width: 36px;
        border-radius: 4px;
        background-color: $color-grey-11;
        padding: 1%;
        border: none;
      }
    }

    .label-selection {
      font-weight: 400;
    }

    .add-to-cart_checkout_button {
      cursor: pointer;
      height: 32px;
      width: 100%;
      padding: 1%;
      border: none;
      border-radius: 2px;
      background-color: $color-blue;
      color: $color-white;
      font-size: $font-size-base;
      font-weight: bold;
      outline: none;
      text-align: center;
      margin-top: 20px;
    }

    .object-listing-location-search {
      height: auto;
      border-radius: 4px;
      width: 100%;
      position: relative;
      padding: 5px 0;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  .location-selector {
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 5rem);
    width: 100%;
    height: auto;

    .ur-place-autocomplete {
      padding: 0 10px;
    }
    .form-controls {
      display: flex;
      justify-content: space-evenly;

      .q-button {
        margin-bottom: 0;
        margin-top: 5px;
      }
    }

    [data-name='button-submit'] {
      margin-left: 10px;
    }

    p {
      cursor: pointer;
      width: 100%;
      background: $color-blue;
      color: $color-white;
      padding: 10px;
      margin: 0;
    }

    .underline {
      text-decoration: underline;
    }
    .location-selector .global-search__clear {
      top: 1.2rem;
    }

    .location-message {
      text-decoration: underline;
    }

    input {
      padding-left: 28px;
      font-size: $font-size-small;
      height: 32px;
    }

    .global-search__clear {
      display: none !important;
    }
  }

  .account-selector .icon, .job-selector .icon {
    top: 45%;
  }

  .job-selector .button-action {
    height: 40px;
  }
}

.add-to-cart.column {
  @media all and (-ms-high-contrast: none), all and (-ms-high-contrast: active) {
    flex: 1 0 auto;
  }
}

.job-selector label{
  text-transform: capitalize;
}
/*
---
name: Add To Cart (Form)
category: Organisms
---
## Rules
#### General
All specifications made within the add to cart component are retained and applied as defaults for the next add to cart instance.

#### Submission
* In order for items to be added to a cart the following information must be defined by the user or automatically by the system based on user permissions:
    * Location
    * Requestor
    * Quantity
    * Rental duration
* Not all attributes will need to be manually specified by the user.

#### Location Context
* Once location is validated, rates for the specified item are displayed.
* If user has supplied a valid location within the current session, that location will be retained for the remainder of their session, until another location is specified.

#### Authentication Context
Once Authentication is validated, account/project/job selection can be displayed.

#### Project Selector
* If user does not have permission to rent items for any existing project, project selector is not displayed.
* If user has at least 1 project and permission to rent items for said project, the project selector is displayed.
* If user has previously specified a project within the current session, the project selector retains the last known project.
* If user has made no project selection within the current session and has more than 1 project available to them, the project selector displays placeholder.
    * Placeholder: "Please select a project."
* If user has made no project selection within the current session and only has 1 project available to them, their available project is selected by default.
* Projects are sorted within the project selector alphabetically.

#### Job Selector
* Jobs available within the Job Selector are filtered by the currently selected account.
    * If user has permission to rent items for a job, the job is displayed within the selector.
    * If user has permission to create jobs within the account/project, the "Add New Job" control is displayed.
    * If user has previously specified a job within the project as well as within the current session (from either the Set Location modal or using the account selector within the modal), the job selector retains the last known job.
    * If a project has been defined, but no job, the job selector displays placeholder messaging:
        * Placeholder: "Please select a job"
* If user only has permission to 1 job within the project, the 1 available job is selected by default.
* If selected project does not contain any jobs, and user has permission to create jobs within the project, add new job control is displayed.
* Jobs are sorted within the job selector alphabetically.
* Selected job overrides a specified location.
* If selected job allows user to define requestor and more than 1 user have been given requestor permissions, requestor field is displayed.

#### Date Selector
* Past dates are not selectable.
* Dates are displayed in MM/DD/YY format.
* Start date displays tomorrow by default unless it is an unavailable date, in which case set to next available date
* End date defaults to 24 hours after date set in Start Date, unless it is an unavailable date, in which case set to next subsequent available date.
* Should user change dates, user input becomes new default until start date passes, or changed by user
* If start date passes revert to defaults

#### Unauthenicated Version
```add-to-cart-form:add-to-cart-form-example.html
```
```add-to-cart-form.css hidden
.column{
  width:50%;
}
```
#### Unauthenicated Version - No Location
```add-to-cart-form-no-location:add-to-cart-form-no-locaton-example.html
```
```add-to-cart-form-no-location.css hidden
.column{
  width:50%;
}
```
#### Authenicated Version
```add-to-cart-form-authenticated:add-to-cart-form-authenticated-example.html
```
```add-to-cart-form-authenticated.css hidden
.column{
  width:50%;
}
```
*/
