<div class="modal">
    <div class="modal__background"></div>
    <div class="modal__content modal__content--center"><a><i class="icon icon-button icon-close"></i></a>
        <div class="add-to-cart__modal">
            <section class="add-to-cart__img-pricing"><span class="add-to-cart__cat_class_code">Cat Class: 320-4001</span> <span class="add-to-cart__item-title">Light Tower Vertical Mast Towable Small</span> <img src="../dist/img/placeholders//300-1000_0.jpg" alt="" class="add-to-cart__image">
                <div class="post-img-div"></div>
                <div class="object-listing-location-search" style="height: auto;">
                    <div class="location-selector">

                        <p>You are viewing equipment rates for <span class="underline">Kansas City, MO </span></p>
                    </div>
                </div>
                <div>
                    <div class="object_listing__details__pricing">


                        <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$124</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$265</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$792</span></span>
                        </div>
                    </div>


                </div>
            </section>
            <section class="add-to-cart__selections">
                <div>


                    <div><label>Account</label>
                        <p>Construction Co.</p>

                    </div>
                    <div data-v-df141fba="" class="cover">
                        <div class="" data-v-df141fba=""><label>Job</label>
                            <div class="select select--job"><select class="dropdown-style1"><option value="">Select jobsite</option> <option value="1">United Rentals</option></select> <i class="icon icon-angle-down"></i> <button class="">+</button>

                            </div>
                        </div>
                        <div data-v-df141fba="" class="covering" style="display: none; background-color: rgb(255, 255, 255);"></div>
                    </div>
                    <div class="calendar_container">
                        <div class="calendar_start"><label class="undefined__label">Start Date</label> <input id="calendar-38f9f0996659a" readonly="readonly" type="text" class="undefined__input">

                        </div>
                        <div class="calendar_end"><label class="undefined__label">End Date</label> <input id="calendar-efdf58bd33ab7" readonly="readonly" type="text" class="undefined__input">

                        </div>
                    </div>
                    <div class="requester-select">
                        <div class="ur-select"><label for="select-rg9nvqh7iu" class="form-item__label form-item__label--textfield">
        Requestor Information
        </label>

                            <div class="select"><select id="select-rg9nvqh7iu" name="" class="dropdown-style1"><option value="">Select requestor information</option> <option value="599e2a4f-f903-8c41-906f-08b8b3950de6">BOB SMITH</option></select> <i class="icon icon-angle-down"></i>

                            </div>
                        </div>

                    </div>
                    <div><label>Quantity</label>
                        <div class="quantity-selector more_less_buttons"><button disabled="disabled" class="less">-</button> <input type="number" min="1"> <button class="more">+</button></div>
                    </div> <button class="add-to-cart_checkout_button">Add to Cart</button></div>
            </section>
        </div>
    </div>
</div>
