<div class="add-to-cart column">
    <div class="large-only">
        <div class="location-selector">
            
            <p>You are viewing equipment rates for <span class="underline">Kansas City, MO </span></p>
        </div>
    </div>
    <div class="add-to-cart__selections">
        <div>

            <div class="login-prompt"><a href="/saml_login" class="link">Sign in</a> to view account pricing.</div>


            <div class="calendar_container">
                <div class="calendar_start"><label class="undefined__label">Start Date</label> <input id="calendar-bd17771d03e17" readonly="readonly" type="text" class="undefined__input">

                </div>
                <div class="calendar_end"><label class="undefined__label">End Date</label> <input id="calendar-6934ede3388a3" readonly="readonly" type="text" class="undefined__input">

                </div>
            </div>

            <div><label>Quantity</label>
                <div class="more_less_buttons"><button disabled="disabled" class="less">-</button> <input type="number"> <button class="more">+</button></div>
            </div> <button class="add-to-cart_checkout_button">Add to Cart</button></div>
    </div>
</div>
