<div class="add-to-cart column">
  <div class="large-only">
    <div class="location-selector">
      <p>Specify your <span>location</span> to see pricing for this equipment.</p>
    </div>
  </div>
  <div class="add-to-cart__selections">
    <div>
      <div class="login-prompt">
        <span class="link">Login</span> to view account pricing.
      </div>
      <div class="calendar_container">
        <div class="calendar_start">
          <label>Start Date</label>
          <input readonly="readonly" type="text">
        </div>
        <div class="calendar_end">
          <label>End Date</label>
          <input readonly="readonly" type="text">
        </div>
      </div>
      <div>
        <label>Requester</label>
        <div class="select requester__select">
          <select class="dropdown-style1">
            <option value="">Select requester</option>
          </select>
          <i class="icon icon-angle-down"></i>
        </div>
      </div>
      <div>
        <label>Quantity</label>
        <div class="more_less_buttons">
          <button class="less">-</button>
          <input type="number">
          <button class="more">+</button>
        </div>
      </div>

      <label>Services (optional)</label>
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": modal_checkbox_item,
          "key": 0
        }
      %}

      <button class="add-to-cart_checkout_button">Add to Cart</button>
    </div>
  </div>
</div>