<div class="modal__content modal__content--center">
  {% include '@atoms/06-buttons/icon-button/icon-button.twig' %}
  <div class="add-to-cart__modal">

    <section class="add-to-cart__img-pricing">
      <span class="add-to-cart__cat_class_code">Cat Class Code: 310-9801</span>
      <span class="add-to-cart__item-title">Articulating Boom Lift, 125', 4WD</span>
      <img class="add-to-cart__image" src="https://kelex.local/sites/default/files/category/310/310-9801_0.jpg">
      <div class="post-img-div">
      </div>
      <p>You are viewing rates for Account Name in Kansas City, MO 64116</p>

      {% include '@molecules/object-listing/details-pricing.twig' %}

    </section>
    <section class="add-to-cart__selections">
      <label>Account</label>
        {% include "@atoms/05-forms/select/select.twig"
          with {
            "select_content": "Select Account",
            "job": false
          }
        %}
      <label>Job</label>
      {% include "@atoms/05-forms/select/select.twig"
        with {
          "select_content": "Select Job",
          "select_modifiers": select_modifiers2
        }
      %}

      <div class="calendar_container">
        <div class="calendar_start">
          <label>Start Date</label>
          <input type="text" value="3/24/17">
        </div>
        <div class="calendar_end">
          <label>End Date</label>
          <input type="text" value="3/27/17">
        </div>
      </div>

      <label>Requester</label>
        {% include "@atoms/05-forms/select/select.twig"
        with {
          "select_content": "Self by default",
          "select_blockname": "requester",
          "job": false
        }
      %}

      <label>Quantity</label>
        <div class="more_less_buttons">
          <button class="less">-</button>
          <input type="number" value="1">
          <button class="more">+</button>
        </div>

      <label>Services (optional)</label>
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": modal_checkbox_item,
          "key": 0
        }
      %}

      <button class="add-to-cart_checkout_button">Go to Checkout</button>
    </section>
  </div>
</div>