<div class="add-to-cart column">
    <div class="large-only">
        <div class="location-selector">

            <p>You are viewing equipment rates for <span class="underline">Kansas City, MO </span></p>
        </div>
    </div>
    <div class="add-to-cart__selections">
        <div>


            <div><label>Account</label>
                <p>Construction Co.</p>

            </div>
            <div data-v-df141fba="" class="cover">
                <div class="" data-v-df141fba=""><label>Job</label>
                    <div class="select select--job"><select class="dropdown-style1"><option value="">Select jobsite</option> <option value="1">United Rentals</option></select> <i class="icon icon-angle-down"></i> <button class="">+</button>

                    </div>
                </div>
                <div data-v-df141fba="" class="covering" style="display: none; background-color: rgb(255, 255, 255);"></div>
            </div>
            <div class="calendar_container">
                <div class="calendar_start"><label class="undefined__label">Start Date</label> <input id="calendar-8fe37eccb516f" readonly="readonly" type="text" class="undefined__input">

                </div>
                <div class="calendar_end"><label class="undefined__label">End Date</label> <input id="calendar-d551df22e19e9" readonly="readonly" type="text" class="undefined__input">

                </div>
            </div>
            <div class="requester-select">
                <div class="ur-select"><label for="select-cbod6hgr8l8" class="form-item__label form-item__label--textfield">
    Requestor Information
  </label>

                    <div class="select"><select id="select-cbod6hgr8l8" name="" class="dropdown-style1"><option value="">Select requestor information</option> <option value="599e2a4f-f903-8c41-906f-08b8b3950de6">BOB SMITH</option></select> <i class="icon icon-angle-down"></i>

                    </div>
                </div>

            </div>
            <div><label>Quantity</label>
                <div class="quantity-selector more_less_buttons"><button disabled="disabled" class="less">-</button> <input type="number" min="1"> <button class="more">+</button></div>
            </div> <button class="add-to-cart_checkout_button">Add to Cart</button></div>
    </div>
</div>
