<div class="modal">
    <div class="modal__background"></div>
    <div class="modal__content modal__content--center"><a><i class="icon icon-button icon-close"></i></a>
        <div class="add-to-cart__modal">
            <section class="add-to-cart__img-pricing"><span class="add-to-cart__cat_class_code">Cat Class: 300-1000</span> <span class="add-to-cart__item-title">Electric Scissor Lift, 10-13'</span> <img src="../dist/img/placeholders/300-1000_0.jpg" alt="Electric Scissor Lift" class="add-to-cart__image">
                <div class="post-img-div"></div>
                <div class="object-listing-location-search" style="height: auto;">
                    <div class="location-selector">
                        <!---->
                        <p>You are viewing equipment rates for <span class="underline">Kansas City, MO </span></p>
                    </div>
                </div>
                <div>
                    <div class="object_listing__details__pricing">
                        <!---->
                        <!---->
                        <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$142</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$211</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$427</span></span>
                        </div>
                    </div>
                    <!---->
                    <!---->
                </div>
            </section>
            <section class="add-to-cart__selections">
                <div>
                    <!---->
                    <div class="login-prompt"><a href="/saml_login" class="link">Sign in</a> to view account pricing.</div>
                    <!---->
                    <!---->
                    <div class="calendar_container">
                        <div class="calendar_start"><label class="undefined__label">Start Date</label> <input id="calendar-78d3a8a9240a6" readonly="readonly" type="text" class="undefined__input">
                            <!---->
                        </div>
                        <div class="calendar_end"><label class="undefined__label">End Date</label> <input id="calendar-e0399da92f634" readonly="readonly" type="text" class="undefined__input">
                            <!---->
                        </div>
                    </div>
                    <!---->
                    <div><label>Quantity</label>
                        <div class="more_less_buttons"><button disabled="disabled" class="less">-</button> <input type="number"> <button class="more">+</button></div>
                    </div> <button class="add-to-cart_checkout_button">Add to Cart</button></div>
            </section>
        </div>
    </div>
</div>
