.terms-and-conditions {
  .reservation-heading {
    margin: 0 0 7px;
  }

  .terms-and-conditions-paragraph {
    font-size: $font-size-small;
    line-height: 20px;
    opacity: 0.71;

    margin-bottom: 22px;

    @include breakpoint($break-small) {
      max-width: 79%;
    }
  }

  .form-item--checkbox__item {
    label {
      cursor: pointer;
      font-weight: normal;
    }
  }
}
