<div class="terms-and-conditions-container">
  {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
    with {
      heading_6: terms_and_conditions
    }
  %}

  <div class="terms-and-conditions">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus quis sollicitudin sapien, et congue elit. Sed bibendum mattis varius. In vitae dui sit amet velit posuere malesuada ac a tellus.
      Aliquam lobortis ipsum vitae nulla egestas, nec congue augue aliquam. </p>

    {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
      with {
        "checkbox_item": "I accept the Terms and Conditions",
        "key": 1
      }
    %}
  </div>
</div>