<template>
  <location-autocomplete :placeholder="$i18n('locationFinder.chooseLocation.enterLocation')" :place="placeAddress" :label="''" @change="doAddress"/>
</template>

<script type="text/babel">
  import LocationAutocomplete from '@/components/common/ur-location-autocomplete';
  import { mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      LocationAutocomplete,
    },
    computed: {
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      placeAddress() {
        return this.ratesPlaceAddress || this.address;
      },
    },
    methods: {
      ...mapActions({
        setRatesPlace: types.user.ratesPlace,
      }),
      doAddress(obj) {
        if (this.ratesPlaceAddress.formatted_address !== obj.formatted_address) {
          this.setRatesPlace(obj);
          this.$emit('change', obj.formatted_address);
        }
      },
    },
    props: {
      address: {
        type: String,
        required: false,
      },
    },
  };
</script>
