.branch-list {
  .results-content-blocks {
    cursor: pointer;
  }
}

.results-content-blocks {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: .5rem;
  border-bottom: 1px solid $gray-light;

  .markers {
    background-color: $color-blue-highlight;
    border-radius: 50%;
    color: $color-white;
    float: left;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 8px;
    height: 8px;
    position: relative;
    top: 36px;
    left: 10px;
  }

  .markers-specialty {
    @extend .markers;
    background-color: $color-orange;
  }

  .content-blocks {
    padding-left: 0;
    margin-left: 40px;
  }

  .small-grey__heading-6,
  .small-grey__paragraph {
    font-size: $font-size-xsmall;
    color: $gray;
    line-height: 2rem;
    margin: 0;
  }

  .heading-6.small-grey__heading-6 {
    text-transform: uppercase;
  }

  .grey__paragraph {
    color: $gray;
  }

  .results-content-blocks_title-mile {

    .heading-4 {
      color: $color-blue;
      cursor: pointer;
      display: inline;
      width: 260px;

    }
    .paragraph {
      display: inline-block;
      float: right;
      padding-right: 20px;
    }
  }

  .blue__paragraph {
    color: $color-blue;
    margin-bottom: 0;
    margin-top: 11px;
  }

  .blue__heading-6 {
    color: $color-blue;
    position: relative;
    display: inline;
    margin-bottom: 0;
  }

  .telephone-link {
    display: inline-block;
  }

  &--radio {
    margin-top: 25px;

    input[type=radio]:checked + label span:after {
      margin-left: -0.29rem;
    }
  }
}