.scroll-top {
  max-width: 95%;
  min-width: 275px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 3%;
  justify-content: center;
  z-index: 3;

  .sg-main & {
    position: static;
  }

  @include breakpoint($break-small) {
    max-width: 49%;
    left: 1%;
  }

  @include breakpoint($break-medium) {
    max-width: 40%;
  }

  .icon-angle-double-up {
    color: $color-white;
    margin-left: auto;
  }

  .text-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #showScrollButton {
    animation: fadeIn 0.2s;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.15);
    height: 38px;
    justify-content: flex-start;
    padding: 0 20px;
    position: relative;
    top: 170px;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }

    @include breakpoint($break-small) {
      top: 20px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
