<div class="results-content-blocks">
  <div class="markers left column">
    A
  </div>
  <div class="content-blocks column">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "UNITED RENTALS",
        "heading_6_blockname": "small-grey",
      }
    %}
    <div class="results-content-blocks_title-mile">
      {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
        with {
          "heading_4": "General Equipment & Tools"
        }
      %}
      {% include "@atoms/02-text/text/01-paragraph.twig"
        with {
          "paragraph_content": "48.41 mi",
          "paragraph_blockname": "small-grey",
        }
      %}
    </div>
    <em>{% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "This location offers general equipment & tool rentals",
        "paragraph_blockname": "grey",
      }
    %}</em>
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "325-672-0934",
        "paragraph_blockname": "blue",
      }
    %}
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "1766 S Treadaway Blvd, Abilene, TX 79602"
      }
    %}
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "Get Directions",
        "heading_6_blockname": "blue",
      }
    %}
  </div>
</div>
