<div class="scroll-top column">
  {% include "@atoms/06-buttons/style-1/01-button.twig"
    with {
      "button_modifiers": button_modifiers
    }
  %}
  <i class="icon icon-angle-double-up"></i>
</div>