<div>
  <h1>You have 1 items in your cart</h1>
  <h2>Please complete and submit your 1 reservations</h2>
  <div class="reservation-blocks-container">
    <div class="reservation-block">
      <header class="cart__job-title-area">
        <div class="cart__info-container">
          <div>
            <h3>Reservation</h3>
            <p class="paragraph address__paragraph">1 item</p>
            <p class="dash">-</p>
            <p class="paragraph address__paragraph">KING ELECTRIC 18</p>
          </div>
        </div>
        <div class="reservation-progress">
          <button class="button button--style-2 button--filled">Add Delivery &amp; Pickup Preferences</button>
        </div>
      </header>
      <div class="reservation-info">
        <div>
          <div class="editable-cart-item">
            <div class="cart__item">
              <div class="cart__img">
                <img height="44" width="44" src="https://kelex.local/sites/default/files/category/310/310-3450_0.jpg">
              </div>
              <div class="cart__details">
                <p class="cart__cat_class_code">Cat Class: 310-3450</p>
                <p class="cart__details__name">Articulating Boom Lift, 34', Electric</p>
                <p class="cart__details__pricing">$403</p>
                <div class="cart__details__content"><p><strong>QTY:</strong> 1 at ~ $403 each</p>
                  <p><strong>Duration:</strong> 08/23/2017 - 08/23/2017</p>
                </div>
              </div>
            </div>
            <div class="cart__details__actions">
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </div>
          </div>
        </div>
        <div class="cart__jobsite-detail-block summary">
          <div class="cart__jobsite-raw-blocks">
            <div class="cart__item-inner">
              <span class="cart__jobsite-block-title">JOBSITE</span>
            </div>
            <div class="cart__item-inner">
              <label class="cart__jobsite-name">TEST SITE</label>
              <span class="cart__jobsite-address">VML <br>KANSAS CITY, KS 64112</span>
            </div>
            <div class="cart__item-inner">
              <label class="cart__jobsite-contact">Contact</label>
              <span class="cart__jobsite-contact-detail">
          TEST CONTACT<br>(123) 456-1234<br>UR.VML.7@GMAIL.COM
        </span>
            </div>
            <a class="cart__jobsite-details-action">Edit</a>
          </div>
        </div>
        <div class="cart-block reservation-pickup-delivery ready">
          <div class="info-section">
            <label class="reservation-label">DELIVERY</label>
            <div class="summary-group-container">
              <div class="summary-group"><strong class="reservation-heading">Aug 23, 2017</strong>
                <a href="#" class="add-preferences">+ Add delivery &amp; pickup preferences</a>
              </div>
            </div>
          </div>
          <div class="info-section">
            <label class="reservation-label">PICKUP</label>
            <div class="summary-group-container">
              <div class="summary-group">
                <strong class="reservation-heading">Aug 23, 2017</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-block reservation-billing inactive">
          <div class="info-section">
            <label class="reservation-label">Billing</label>
            <div class="summary-group-container with-wrap">
              <div class="summary-group">
                <strong class="reservation-heading">Account:</strong>
                <span class="reservation-heading-supplement">KING ELECTRIC</span>
              </div>
              <div class="summary-group">
                <strong class="reservation-heading">Account Number:</strong> <span class="reservation-heading-supplement">18</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cost-summary">
        <div class="cost-summary-container">
          <div class="totals-mobile">
            <span class="title">Estimated Cost<span class="quantity">(1 item)</span></span>
            <span class="total">$408</span>
            <i class="icon icon-angle-down"></i>
          </div>
          <div class="line-item-container" style="max-height: 0px;">
            <p class="line-item">
              <span>1 Articulating Boom Lift, 34', …</span> <span>$403</span></p>
            <p class="line-item"><span>Environmental Fee</span> <span>$5</span></p>
          </div>
          <div class="totals">
            <span class="title">Estimated Cost</span>
            <span class="total">$408</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>