.reservation-billing {

  &.inactive {
    .info-section {
      opacity: .3;
    }
  }


  &.active {
    @include breakpoint($break-small) {
      .summary-group-container {
        max-width: 81%;
        width: 81%; // IE11 fix! Do not remove.
      }
    }

    .summary-group {
      border-bottom: 1px solid $color-grey-11;
      margin-bottom: 30px;

      & > div {
        width: 100%; // IE11 fix! Do not remove.
      }

      @include breakpoint($break-small) {
        max-width: 90%;
        width: 90%; // IE11 fix! Do not remove.
      }

      &:first-child,
      &:last-child {
        border: none;
      }

      .summary-group {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.account-info {
        display: flex;
        flex-wrap: wrap;

        .change-link {
          width: 100%;
          margin: 0;
          white-space: nowrap;

          @include breakpoint($break-small) {
            width: auto;
            margin-left: 10px;
          }
        }
      }

      &.account-number {
        height: 1.5rem;
      }
    }
  }

  &.complete {
    .requisition-codes__container {
      padding-bottom: 1rem;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .flex-row.col-3 {
    // override util class for mobile-only, but only on checkout flow...
    flex-direction: column!important;

    @include breakpoint($break-small) {
      flex-direction: row !important;
    }

    .form-item,
    .city,
    .state,
    .zip-code {
      width: 100%;
      @include breakpoint($break-small) {
        width: 30%;
        margin-bottom: inherit;
      }
    }
    .form-item:last-child {
      margin-bottom: 57px;

      @include breakpoint($break-small) {
        margin-bottom: 30px;
      }
    }
  }

}

.edit-account-modal {
  .account-number-select,
  .account-name-select {
    margin-bottom: 1rem;
  }

  @include breakpoint($break-small) {
    .account-number-select,
    .account-name-select {
      width: 50%;
    }
    .account-name-select {
      padding-right: 2rem;
    }
  }
}

.account-details-form {
  width: 100%;
  .address-block {
    flex-flow: wrap;
    justify-content: space-between;
    & > div {
      width: 100%;
      margin: 0;
      @include breakpoint($_break-small) {
        width: 49%;
      }
      @include breakpoint($_break-medium) {
        width: 32%;
      }
      @include breakpoint($_break-large) {
        width: 24%;
      }
    }
  }
  .ur-select {
     select {
       height: 40px;
     }
   }
}

.convert-quotes-account-details-form {
  margin: 3%;

  .address-block {
    flex-flow: wrap;
    justify-content: space-between;
    & > div {
      width: 100%;
      margin: 0;
      @include breakpoint($_break-small) {
        width: 32%;
      }
    }
  }

  .ur-select {
    select {
      height: 40px;
    }
  }

  label {
    margin-top: 24px;
  }
}

.account-details-form__use-jobsite-checkbox {
  float: right;
  margin: 0.25rem 0 0;
}

.modal-footer {
  &__button-container {
    flex-direction: row;
    display: flex;
    width: 100%;

    @include breakpoint($break-small) {
      width: auto;
    }
  }
}

.account-details-form__use-jobsite-checkbox, .add-credit-card-form, .add-ur-account {
  .q-checkbox {
    label {
      margin-top: 0;
    }
  }
}
.cart .reservation-billing .add-credit-card-form .card-holder .ur-text-input label{
  @include breakpoint($break-small) {
    margin-top: 0;
  }
}
