<template>
  <branch-selector
    @change="onChange"
    :branch-id="branchId"
  />
</template>
<script>
  import { mapActions } from 'vuex';

  import Format from '@/mixins/format';
  import businessTypes from '@/data/business-types';
  import branchSelector from '@/components/common/branch-selector.vue';
  import types from '@/store/types';

  export default {
    components: {
      branchSelector,
    },
    methods: {
      ...mapActions({
        updateContentType: types.locationFinder.updateContentType,
      }),
      onChange(branch) {
        this.$router.push({
          path: `/checkout/edit-branch/${this.reservationBlockId}`
          + `/locations/${this.urlify(branch.state)}`
          + `/${this.urlify(branch.city)}`
          + `/${businessTypes[branch.businessType].url}`
          + `/${branch.branchId}`,
        });
      },
    },
    mixins: [
      Format,
    ],
    mounted() {
      // Ensure any previous user interactions with any instance of the location finder are reset,
      // and that this Checkout instance of location finder opens in the Branch List view.
      this.updateContentType('branch-list');
    },
    props: {
      branchId: {
        type: String,
        required: true,
      },
      reservationBlockId: {
        required: true,
      },
    },
  };
</script>

<style scoped>
  .pickup-location-body {
    height: 60vh;
  }
  .reservations-and-quotes .pickup-location-body {
    height: auto;
  }
</style>
