<template>
  <div class="delivery-tool">
    <ur-select
      :label="$i18n('checkout.deliveryTitle')"
      :value="localValue"
      @change="onSelect"
      :suppress-empty-option="true"
      :disabled="requestsAreInFlight"
    >
      <option value="no" :selected="localValue == 'no'">{{ $i18n('checkout.userPickup') }}  <span v-if="parseFloat(estimatedDeliveryFee)">($0)</span></option>
      <option value="yes" :selected="localValue == 'yes'">{{ $i18n('checkout.urDelivery') }} <span v-if="parseFloat(estimatedDeliveryFee)">({{estimatedDeliveryFee | currency}})</span></option>
    </ur-select>
  </div>
</template>
<script type="text/babel">
  import UrSelect from '@/components/common/form/ur-select';

  export default {
    components: {
      UrSelect,
    },
    data() {
      return {
        localValue: this.value ? 'yes' : 'no',
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },
    },
    mounted() {
      if (this.$parent.$refs.pickupSelect) {
        this.$parent.$refs.pickupSelect.localValue = this.localValue;
      }
    },
    name: 'delivery-select',
    props: [
      'value',
      'estimatedDeliveryFee',
      'requestsAreInFlight',
    ],
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue ? 'yes' : 'no';
        }
      },
    },
  };
</script>
