<template>
  <div class="location-finder-modal-content">
    <div class="modal-header">
      <h3>{{ $i18n('ur.findUrLocation') }}</h3>
    </div>
    <div class="modal-body" >
      <div id="modal-content" class="modal-body-content" >
        <location-finder
          :dive="false"
          inCheckout="MidCheckout"
          :style="mapHeight"
          :ar-gr-branches-only="true"
        ></location-finder>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
      >
        {{ $i18n('ur.save') }}
      </button>
    </div>
  </div>
</template>
<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import LocationFinder from '@/components/location-finder/location-finder';
  import types from '@/store/types';

  export default {
    components: {
      LocationFinder,
    },
    computed: {
      ...mapGetters([
        'reservationBlocks',
      ]),
      ...mapState({
        branchId: state => state.locationFinder.all[state.locationFinder.map.active.index].branchId,
      }),
      items() {
        return this.reservationBlocks[this.$route.params.reservationBlockId].items;
      },
      mapHeight() {
        return document.getElementById('modal-content') !== null
          ? `height: ${document.getElementById('modal-content').clientHeight}px`
          : '0px';
      },
    },
    methods: {
      ...mapActions({
        resetBranchesLoaded: types.locationFinder.resetBranchesLoaded,
      }),
      cancel() {
        this.resetBranchesLoaded();
        this.$router.push({
          path: '/checkout',
        });
      },
      closeOverride() {
        this.cancel();
      },
      save() {
        // Iterate over the items and update their branch id
        this.items.forEach((item) => {
          if (item.branchId !== this.branchId) {
            this.$store.dispatch(types.cart.updateItem, {
              id: item.id,
              field: {
                branchId: this.branchId,
              },
            });
          }
        });
        this.$router.push({
          path: '/checkout',
        });
      },
    },
    mounted() {
      document.querySelector('body').classList.add('location-modal-open');
    },
    destroyed() {
      document.querySelector('body').classList.remove('location-modal-open');
    },
    name: 'edit-branch',
  };
</script>
