<template>
  <div class="delivery-tool">
    <ur-select
      :label="$i18n('checkout.pickupTitle')"
      v-model="returnTypeCode"
      :value="returnTypeCode"
      :suppress-empty-option="true"
      :disabled="requestsAreInFlight"
      @change="onSelect"
    >
      <option v-for="(item, key) in options" :key="`option.${key}`" :value="item.pickupType">
        {{ $i18n(item.text) }}
        <template v-if="parseFloat(estimatedPickupFee)">
          <span v-if="item.currency">({{ item.currency | currency }})</span>
          <span v-else>({{ parseFloat(estimatedPickupFee) | currency }})</span>
        </template>
      </option>
    </ur-select>
  </div>
</template>

<script type="text/babel">
  import UrSelect from '@/components/common/form/ur-select';

  export default {
    name: 'pickup-select',
    components: { UrSelect },
    props: [
      'value',
      'estimatedPickupFee',
      'requestsAreInFlight',
      'returnType',
      'pickup',
      'pickupFirm'
    ],
    data() {
      return {
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
        returnTypeCode: '',
      };
    },
    computed: {
      options() {
        return this.$store.state.pickupDelivery.options;
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.returnTypeCode = this.returnType;
      });
    },
    methods: {
      onSelect(value) {
        this.$emit('change', value);
      },
      deliverySelectChange() {
        this.returnTypeCode = this.returnType;
      },

    },
    watch: {
      returnType() {
        this.deliverySelectChange();
      }
    }
  };
</script>
