<template>
  <div>
    <ur-select
      @change="onSelect"
      :value="localValue"
      :label="selector.label"
      :emptyOptionLabel="selector.emptyOptionLabel"
      :suppressEmptyOption="selector.supressEmptyOption"
    >
      <option v-for="(option, key) in options" :key="key" :value="option.value">
        {{ option.text }}
      </option>
    </ur-select>
    <ur-error-label v-if="error.exists" :message="error.message" />
  </div>
</template>

<script>
  import moment from 'moment';
  import { get } from 'lodash';
  import DateTime from '@/utils/dateTime';
  import { required } from 'vuelidate/lib/validators';
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  export default {
    name: 'start-time-select',
    components: { UrSelect, UrErrorLabel },
    validations: { localValue: { required } },
    props: ['value', 'block', 'branchTimes', 'convertedDate', 'selectedStartMoment'],

    data() {
      return { localValue: '' };
    },

    mounted() {
      this.initializeValue();
    },

    computed: {
      error() {
        const exists = this.$v.$error;
        const message = this.block.delivery ? this.$i18n('checkout.deliveryTime') : `${this.$i18n('checkout.time')} ${this.$i18n('e.required')}`;

        return { exists, message };
      },

      selector() {
        const supressEmptyOption = false;
        const emptyOptionLabel = this.$i18n('ur.selectATime');
        const label = this.block.delivery ? this.$i18n('checkout.deliveryTime') : this.$i18n('checkout.pickupTime');

        return { label, supressEmptyOption, emptyOptionLabel };
      },

      hasSelectedMidnight() {
        return this.localValue === '00:00';
      },

      convertedMoment() {
        return moment(this.convertedDate);
      },

      startMoment() {
        return moment(this.selectedStartMoment);
      },

      startMomentIsToday() {
        return this.startMoment.isSame(this.convertedMoment, 'day');
      },

      selectedDay() {
        return moment(this.block.startMoment).day();
      },

      hasValidTimeOption() {
        return this.timeOptions.filter(option => option.value === this.localValue).length;
      },

      options() {
        return this.timeOptions.filter(option => option.status && option.value);
      },

      timeOptions() {
        const extension = 0.5;

        /** start time depends on the day of the week from ur-calendar. (selectedDay) */
        let start = 'start';
        let duration = 'duration';

        if (this.selectedDay === 0) {
          start = 'sunStart';
          duration = 'sunDuration';
        }
        if (this.selectedDay === 6) {
          start = 'satStart';
          duration = 'satDuration';
        }

        const startTime = get(this, ['branchTimes', start], 7);
        const durationTime = get(this, ['branchTimes', duration], 10) + extension;
        const options = DateTime.splitWorkingHours(30, 'minutes', startTime, durationTime);

        options.forEach((option) => {
          option.status = true;
          if (!this.startMomentIsToday) return;
          if (option.value >= this.currentHalfHour().format('HH:mm')) return;

          option.status = false;
        });

        options.unshift({
          value: '',
          text: this.$i18n('ur.selectATime'),
          status: false,
        });

        return options;
      },

      validTimeOptionSelected() {
        return this.timeOptions
          .filter(option => option.status)
          .map(option => option.value)
          .filter(value => value === this.value)
          .includes(true);
      },
    },
    methods: {
      currentHalfHour() {
        return DateTime.round(moment(this.convertedDate), moment.duration(30, 'minutes'), 'ceil');
      },

      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },

      initializeValue() {
        const defaultToPlaceholder = '';

        if (this.hasSelectedMidnight) this.localValue = defaultToPlaceholder;

        this.localValue = this.value || this.timeOptions[0].value;
      },
    },
    watch: {
      hasSelectedMidnight(isTrue) {
        if (isTrue) this.localValue = '';
      },
      value() {
        this.localValue = this.value;
      },

      timeOptions: {
        // IF we get a new set of time options, we have to
        // wait for those to build before we set the new
        // localValue the old value...
        handler(after, before) {
          if (after[1].value !== before[1].value) {
            this.localValue = this.validTimeOptionSelected ? this.value : '';
          }
        },
        deep: true,
      },

      hasValidTimeOption() {
        this.$emit('fireTimeError', this.hasValidTimeOption);
      },
    },
  };
</script>
