.probox-add-to-cart {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-light;

  &__input-section {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__input-row {
    border-bottom: 1px solid $gray-light;
    padding-top: 30px;
    padding-bottom: 30px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .date-inputs-row {
    display: flex;
    justify-content: space-between;

    input {
      width: 105px;
      max-width: 105px;
      font-size: $font-size-small;
    }
  }

  &__add-section {
    border-top: 1px solid $gray-light;
    display: flex;
    flex-direction: column;
    padding: 25px 15px 15px;
    background: $near-white;

    .heading-6 {
      margin-bottom: 15px;
    }

    .form-item--checkbox__item {
      margin-bottom: 25px;
    }

    .number-increment {
      margin-bottom: 10px; 
    }

    .number-increment {
      margin-bottom: 10px; 
    }

    .button--probox-add-to-cart {
      margin-bottom: 10px; 

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
}