.probox-form {
  &.grid {
    padding: 0;
  }

  &__form {
    flex: 1;

    &__section_1, &__section_2, &__section_3, &__section_4, &__buttons {
      padding: 25px 25px;
      border-bottom: $border-grey;
      display: flex;
      flex-wrap: wrap;
    }

    &__section_1, &__section_2, &__section_4 {
      .form-item:first-child {
        margin-bottom: 25px;
      }

      input {
        margin-bottom: 0;
      }
    }

    &__section_3 .form-item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__notes {
      display: flex;
      flex-direction: column;
    }

    &__date-container {
      .date-pika-placeholder:not(:first-child) {
        margin-top: 20px;
      }

    }

    &__date-picker-paragraph {
      flex: 0 0 100%;

      .date-picker-paragraph {
        font-size: $font-size-xsmall;
        color: $gray;
        padding-top: 20px;
      }
    }

    &__buttons {

      button {
        display: block;
        text-align: center;

        &:first-of-type {
          margin-bottom: 15px;
        }
      }
    }

    label, .date-pika-placeholder__label {
      font-weight: 600;
      color: $gray-dark;
    }

    .date-pika-placeholder__label {
      text-transform: capitalize;
      font-size: $font-size-base;

      &:after {
        color: $color-blue;
        top: 35px;
      }
    }

    textarea {
      border: $border-grey;
      color: $gray-dark;

      &::placeholder {
        color: $gray;
      }
    }

    select {
      border: $border-grey;
      color: $gray-dark;
    }

    .form-item {
      flex: 0 0 100%;

      .select--job {
        margin-top: 0;
      }

      .select button {
        width: 32px;
      }
    }

    &__section_4 {
      justify-content: space-between;
      font-size: $font-size-small;
    }

    @include breakpoint ($break-small) {
      &__section_1 .form-item:first-child {
        margin-bottom: 25px;
      }

      &__section_2, &__section_4 {
        .form-item:first-child {
          margin-bottom: 0;
        }
      }

      &__section_2, &__section_3 {
        justify-content: space-between;
        .form-item {
          flex: 0 0 50%;

          &:nth-child(odd) {
            padding-right: 10px;
          }
          &:nth-child(even) {
            padding-left: 10px;
          }
        }
      }

      &__section_3 .form-item:nth-child(3) {
        margin-bottom: 0
      }

      &__date-container {
        display: flex;
        margin-right: 10px;

        .date-pika-placeholder {
          flex: 1 1 50%;
          margin-top: 0px;
        }
        .date-pika-placeholder:not(:last-child) {
          margin-right: 2rem;
        }
        .date-pika-placeholder:not(:first-child) {
          margin-top: 0px;
        }
      }

      &__section_4 {
        justify-content: space-between;
        font-size: $font-size-small;

        .form-item {
          flex: 0 0 50%;
          padding-right: 10px;
        }

      }

      &__date-picker-paragraph .date-picker-paragraph {
        font-size: $font-size-small;
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 0;
        margin-bottom: 0;
      }

      &__buttons {
        justify-content: flex-end;
        border: none;

        button {
          display: block;
          text-align: center;
          flex: 0 0 110px;
          width: 110px;

          &:first-of-type {
            order: 3;
            margin-bottom: 0;
            margin-left: 15px;
          }
        }
      }
    }

    @include breakpoint ($break-medium) {
      &__buttons button {
        flex: 0 0 175px;
        width: 175px;
      }
    }
  }

}
