.probox-keep-working-box {
  padding: 15px 15px 15px 30px;
  border-radius: $border-radius-med 0 0 $border-radius-med;
  border: thin solid $gray;
  border-left: 10px solid $color-blue;
  box-shadow: $shadow-heavy;

  &__flex-container {
    display: flex;
    justify-content: space-between;
  }

  &__flex-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .button {
    display: block;
    text-align: center;
    margin-right: 15px;
    line-height: 1;
    font-weight: 400;

    &:first-of-type {
      min-width: 155px;
      max-width: 155px;
    }

    &:last-of-type {
      min-width: 120px;
      max-width: 120px;
    }
  }

  .button-row {
    display: flex;
  }

  &__heading {
    margin-bottom: 12px;
  }

  &__subheading {
    font-weight: 200;
    margin-bottom: 15px;
    letter-spacing: .5px;
  }

}
