.probox-list-added-toast {
    background: $near-white;
    border-radius: $border-radius-med;
    padding: 30px 18px;
    box-shadow: $shadow-heavy;

    &__heading {
      color: $color-blue;
      margin-bottom: 20px;
    }

    &__item-description-row {
      display: flex;
      align-items: center;
    }

    .probox-list-added-toast__item-image {
      flex: 0;
      margin-right: 10px;
    }

    &__item-quantity {
      flex: 0 0 32px;
      margin-left: auto;
    }

    input[type="number"] {
      background: $white;
      border: $gray-light thin solid;
      border-radius: $border-radius-small;
      height: 35px;
      width: 32px;
      text-align: center;
    }
}