.probox-upgrade-modal {
  padding: 20px;
  border-left: $color-brand-secondary solid 8px;
  border-radius: 5px;
  box-shadow: $shadow-heavy;
  display: flex;
  justify-content: space-between;

  &__text {
    display: flex;
    flex-direction: column;
    flex-basis: 550px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 40px;
    margin-bottom: 12px;

    .heading-3 {
      align-self: flex-end;
      font-weight: 500;
      line-height: 1.1;
    }
  }

  p {
    line-height: 1.7;
  }

  &__button-row {
    display: flex;
    justify-content: flex-start;
  }

  button {
    font-weight: 500;
    width: 100px;
    margin-right: 10px;
    display: block;
    text-align: center;
  }

  @include breakpoint($break-small) {
    &__header {
      height: 28px;
      margin-bottom: 12px;
    }
    
  }
}
