.probox-browse-search-item-list {
  
  .probox-list-item-container {
    border-top: $border-grey;
    padding: 10px;
  }

  @include breakpoint($break-small) {
    .probox-list-item-container {
      padding: 15px;
      margin: auto;
    }
  }

  @include breakpoint($break-large) {
    .probox-list-item-container {
      padding: 15px 25px;
    }
  }
}


