.probox-top-bar {
  height: auto;
  overflow: hidden;

  &__container {
    text-align: center;
    width: 100%;
    padding: 12px;
    background: $gray-lightest;
    max-height: 40px;
    position: relative;
    transition: .3s max-height;

    &.expanded {
      max-height: 130px;
    }
  }
  
  h4 {
    color: $color-blue;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: 1;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  i {
    position: absolute;
    left: calc(50% + 140px);
    top: 14px;
  }
}