.probox-inventory-modal {
  overflow: hidden;
  height:70vh;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  border-top: thin solid $gray-light;
  border-radius: 3px;

  &__header {
    height: 95px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__close-button-container, &__heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    overflow-y: scroll;
    flex: 0 1 70%;
    padding: 16px;
    border-top: thin solid $gray-light;
    border-bottom: thin solid $gray-light;

    &__outside-ul {
      list-style-type: none;
      columns: 2;
      padding: 0;
      margin: 0;

      li {
        break-inside: avoid;
      }
    }
  }

  &__footer {
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    button {
      flex: 1 0 150px;
      margin-left: 20px;
      min-width: 150px;
      max-width: 25%;
      display: block;
      font-weight: 500;
    }
  }
  
  .heading-5 {
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-size-xsmall; 
    font-weight: 600; 
  }

  .heading-6 {
    font-weight: 200;
    font-size: $font-size-small;
    color: $gray;
    letter-spacing: .5px;
  }

  .tool-list {
    text-transform: uppercase;
    font-size: $font-size-small;
    margin-left: 3px;
    list-style-type: none;
    margin-bottom: 40px;
  }

  .tool-list-item {
    position: relative;
    padding-left: 0;
    margin-top: 12px;
    margin-left: -7px;

    &:before {
      content: '';
      padding: 1px;
      line-height: 0;
      font-size: 0;
      background-color: $color-black;
      border: 1px solid $color-black;
      border-radius: 50%;
      position: absolute;
      left: -7px;
      top: 6px;
    }
  }
}
