<div class="probox-upgrade-modal">
  <div class="probox-upgrade-modal__text">
    <div class="probox-upgrade-modal__header">
      {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig" %}
    </div>
    {% include "@atoms/02-text/text/01-paragraph.twig" %}
    <div class="probox-upgrade-modal__button-row">
      {% include "@atoms/06-buttons/style-1/01-button.twig" with {
          button_modifiers: [
            "style-2",
            "filled"
          ],
          button_content: learn_more_button.button_content,
          button_url: learn_more_button.button_url
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig" with {
          button_modifiers: [
            "style-2",
            "secondary"
          ],
          button_content: no_thanks_button.button_content,
          button_url: no_thanks_button.button_url
        }
      %}
    </div>
  </div>
  <div class="probox-upgrade-modal__close">
    {% include "@atoms/06-buttons/icon-button/icon-button.twig" %}
  </div>
</div>
