<div class="probox-top-bar">
  <div class="probox-top-bar__container expanded">
    <i class="icon icon-angle-down"></i>
    <div>
    {% for link in menu_links %}
      <h4>{{ link }}</h4>
    {% endfor %}
  </div>
</div>