<div class="probox-inventory-modal">
  <header class="probox-inventory-modal__header">
    <div class="probox-inventory-modal__heading-text">
      {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig" with {
          "heading_3": probox_inventory_title
        }
      %}
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" with {
          "heading_6": probox_inventory_description
        }
      %}
    </div>
    <div class="probox-inventory-modal__close-button-container">
      <div class="probox-inventory-modal__close-button">{% include "@atoms/06-buttons/icon-button/icon-button.twig" %}</div>
    </div>
  </header>
  <section class="probox-inventory-modal__body">
    <ul class="probox-inventory-modal__body__outside-ul">
      {% for category in probox_inventory_category %}
      <li>
        <div>
          {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig" with {
              "heading_5": category.title
            }
          %}
          <ul class="tool-list">
            {% for tool in category.tool_list %}
              <li class="tool-list-item">{{ tool.title }} X {{ tool.quantity }}</li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
    </ul>
  </section>
  <footer class="probox-inventory-modal__footer">
    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        button_modifiers: [
          "style-2",
          "secondary"
        ],
        button_content: cancel_button.button_content,
        button_url: cancel_button.button_url
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        button_modifiers: [
          "style-2",
          "filled"
        ],
        button_content: add_to_probox_button.button_content,
        button_url: add_to_probox_button.button_url
      }
    %}
  </footer>
</div>
