{% for counter in counters %}
  <div class="probox-header__{{ counter_class }} counter">
    {% include "@molecules/probox-counter/probox-counter.twig" with {
        "label": counter.label,
        "number_1": counter.number_1,
        "number_2": counter.number_2
      }
    %}
  </div>
{% endfor %}