<div class="probox-keep-working-box">
  <div class="probox-keep-working-box__flex-container">
    <div class="probox-keep-working-box__flex-left">
      <h1 class="probox-keep-working-box__heading">{{ keep_working_box_heading  }}</h1>
      <h4 class="probox-keep-working-box__subheading">{{ keep_working_box_subheading  }}</h4>
      <div class="button-row">
        {% include "@atoms/06-buttons/style-1/01-button.twig" with button_1 %}
        {% include "@atoms/06-buttons/style-1/01-button.twig" with button_2 %}
      </div>
    </div>
    <div class="probox-keep-working-box__flex-right">
      <img src="{{ keep_working_box_img_src }}" alt="{{ keep_working_box_img_alt }}">
    </div>
  </div>
</div>