<div class="probox-form grid">
  <div class="probox-form__header"></div>
  <form class="probox-form__form">
    <div class="probox-form__form__section_1">
      <div class="probox-form__form__name form-item">
        <label for="probox-name" class="form-item__label form-item__label--required form-item__label--textfield">{{ probox_name_label }}</label>
        <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="probox-name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="{{ probox_name_placeholder }}">
      </div>
      <div class="probox-form__form__notes form-item">
        <label for="notes" class="form-item__label form-item__label--textfield">{{ notes_label }}</label>
        <textarea class="form-item__textfield form-item__textarea" rows="8" cols="48" name="notes" placeholder="{{ notes_placeholder }}"></textarea></div>
    </div>
    <div class="probox-form__form__section_2">
      <div class="probox-form__form__craft form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ craft_label }}</label>
        <div class="select">
          <select class="dropdown-style1">
            {% for craft in crafts %}
              <option value="{{ craft.value }}">{{ craft.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
        </div>
      </div>
      <div class="probox-form__form__crew_size form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ crew_size_label }}</label>
        <div class="select">
          <select class="dropdown-style1">
            {% for crew_size in crew_sizes %}
              <option value="{{ crew_size.value }}">{{ crew_size.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
        </div>
      </div>
    </div>
    <div class="probox-form__form__section_3">
      <div class="probox-form__form__account form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ account_label }}</label>
        <div class="select">
          <select class="dropdown-style1">
            {% for account in accounts %}
              <option value="{{ account.value }}">{{ account.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
        </div>
      </div>
      <div class="probox-form__form__project form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ project_label }}</label>
        <div class="select select--job">
          <select class="dropdown-style1">
            {% for project in projects %}
              <option value="{{ project.value }}">{{ project.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
          <button>+</button>
        </div>
      </div>
      <div class="probox-form__form__job form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ job_label }}</label>
        <div class="select select--job">
          <select class="dropdown-style1">
            {% for job in jobs %}
              <option value="{{ job.value }}">{{ job.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
          <button>+</button>
        </div>
      </div>
      <div class="probox-form__form__requester form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">{{ requester_label }}</label>
        <div class="select">
          <select class="dropdown-style1">
            {% for requester in requesters %}
              <option value="{{ requester.value }}">{{ requester.label }}</option>
            {% endfor %}
          </select>
          <i class="icon icon-angle-down"></i>
        </div>
      </div>
    </div>
    <div class="probox-form__form__section_4">
      {% for picker in date_pickers %}
        <div class="probox-form__form__date-container form-item">
          {% include "@molecules/labeled-input/date-pika-placeholder.twig" with {
              "date_pika_placeholder_value": picker.value,
              "date_pika_placeholder_label": picker.label            
            }
          %}
        </div>
      {% endfor %}
      <div class="probox-form__form__date-picker-paragraph">
        <p class="date-picker-paragraph">{{ date_picker_paragraph }}</p>
      </div>
    </div>
    <div class="probox-form__form__buttons">
      {% for button in buttons %}
        {% include "@atoms/06-buttons/style-1/01-button.twig" with button %}
      {% endfor %}
    </div>
  </form>
</div>