<section class="probox-browse-search-item-list">
  {% for list_item in probox_browse_search_item_list %}
    {% include "@molecules/probox-list-item/probox-list-item.twig" with {
        "probox_list_item_image_src": list_item.image_src,
        "probox_list_item_image_alt": list_item.image_alt,
        "probox_list_item_cat_class": list_item.cat_class,
        "probox_list_item_item_name": list_item.item_name,
        "probox_list_item_daily_rate": list_item.daily_rate,
        "probox_list_item_weekly_rate": list_item.weekly_rate,
        "probox_list_item_monthly_rate": list_item.monthly_rate,
        "probox_list_item_quick_view_link": list_item.quick_view_link,
        "probox_list_item_button_text": list_item.button_text
      }
    %}
  {% endfor %}
</section>