<div class="probox-add-to-cart">
  <div class="probox-add-to-cart__input-section ">

    {% block add_to_probox_selects %}
      {% for select in probox_add_to_cart_selects %}
        <div class="probox-add-to-cart__input-row">
          {% include "@molecules/labeled-input/labeled-select.twig" with select %}
        </div>
      {% endfor %}
    {% endblock %}

    {% block add_to_probox_date_inputs %}
      <div class="probox-add-to-cart__input-row date-inputs-row">
        {% for date_input in probox_add_to_cart_date_inputs %}
          {% include "@molecules/labeled-input/date-pika-placeholder.twig" with date_input %}
        {% endfor %}
      </div>
    {% endblock %}

  </div>
  <div class="probox-add-to-cart__add-section">

    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" with {
        "heading_6": "Add to your order"
      }
    %}
    {% include "@atoms/05-forms/checkbox/_checkbox-item.twig" with {
        "checkbox_item": "Add on list item 1"
      }
    %}

    {% include "@molecules/number-increment/number-increment.twig" with {
      "number_increment_value": 0
      }
    %}

    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        "button_url": "/",
        "button_content": "Add to Cart",
        "button_modifiers": [
          "style-2",
          "filled",
          "probox-add-to-cart"
        ]
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        "button_url": "/",
        "button_content": "Add to Probox",
        "button_modifiers": [
          "style-2",
          "secondary",
          "probox-add-to-cart"
        ]
      }
    %}

  </div>
</div>