<div class="probox-list-added-toast">
  <h5 class="probox-list-added-toast__heading">{{ item_added }}</h5>
  <div class="probox-list-added-toast__item-description-row">
    <img src="{{ image_url }}" alt="Item added" class="probox-list-added-toast__item-image">
    <div class="probox-list-added-toast__label">
      <div class="probox-list-added-toast__tag">{{ probox_tag }}</div>
      <div class="probox-list-added-toast__title">
        <h5 class="probox-list-added-toast__title-heading">{{ probox_title }}</h5>
      </div>
    </div>
    <div class="probox-list-added-toast__item-quantity">
      <input type="number" value="{{ item_quantity }}" disabled>
    </div>
  </div>
</div>