#quote-link-generator-form > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #414b50;

  @include breakpoint($break-small) {
    flex-direction: row;
  }

  p {
    margin:0;
  }

  li {
    padding: 0.4rem 0rem;
  }

  input {
    height:40px;
  }

  h2 {
    margin:1rem 0;
    display:inline-block;
  }

  .message.input-error {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 14px;

    &:empty {
      display:none;
    }
  }

  #message_linked {
    padding: 1rem 0;
  }

  .form-item__label {
    padding: 7px 0;
    margin-bottom: 2px;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
  }

  .column.left {
    background: #f9f9f9;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px 20px 0 14px;
    display:flex;
    justify-content: center;

    @include breakpoint($break-small) {
      @include setColumn(5, 12);

      padding: 40px 26px 40px 40px;
    }

    > div {
      max-width:670px;

      > ul {
        list-style-type: decimal;
        margin-top: 0;

        ul {
          list-style-type: lower-alpha;
        }
      }
    }
  }

  .column.right {
    padding: 14px 14px 50px 14px;
    display: flex;
    justify-content: center;

    @include breakpoint($break-small) {
      @include setColumn(7, 12);
      padding: 40px 40px 40px 40px;
    }
    > div {

      @include breakpoint($break-large) {
        width:65%;
      }

      .copy-quote-container {
        border: #dde0e2 1px solid;
        background: #ffffff;
        height:40px;
        display: flex;
        white-space: nowrap;
        align-items:center;
        padding: 0 0.5rem;
        margin-top:2rem;
        justify-content: space-between;
        font-weight: 700;
        position:relative;
        border-radius: 2px;

        #copy-quote-link-wrapper {
          padding: 0 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          width:100%;
        }

        #quote_link_button {
          display: inline-block;

          svg {
            width: 18px;
            height: 18px;
          }
          &:hover {
            color: #008cff;
          }
        }
      }

      .copy-quote-container:not(.generated) {
        color:#91969b;

        #quote_link_button {
          color:#91969b;
        }
      }
      input.button {
        margin-top:1rem;

        @include breakpoint($break-small) {
          width: auto;
          padding: 0 1.2rem;
        }
      }
      .quote-reset-wrapper {
        padding-top:2rem;
        width:100%;
        text-align:right;
      }

      #edit-customer-information {
        box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16);
        margin-top:0.4rem;
        padding: 1rem;

        .form-item__dropdown.select {
          margin-bottom: 12px;

          select.dropdown-style1 {
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
