.homepage-cta {
  display: flex;
  flex-direction: column;
  background-color: $color-grey-2;

  @include breakpoint($break-small) {
    flex-direction: row;
    padding: 24px $_padding-small;

    &__image-div {
      width: 50%;
    }

    &__promotion-div {
      width: 50%;
    }
  }

  @include breakpoint($break-medium) {
      padding: 37px $_padding-large;
  }

  &__promotion-div {
    padding: 15px 35px 78px;

    @include breakpoint($break-small) {
      padding: 10px 37px;
    }
  }

  &__heading-5 {
    color: $color-orange;
    padding: 0 0 15px 0;
    margin: 0;
  }

  &__heading-2 {
    font-weight: bold;
    padding: 0 0 17px 0;
    margin: 0;

    @include breakpoint($break-medium) {
      padding: 0 0 43px 0;
    }
  }

  &__link-wrapper {
    max-width: 236px; // width of homepage cta button

    @include breakpoint($break-small) {
      max-width: 100%;
    }
  }

  &__link {
    height: 24px;
    width: 236px;
    color: $color-blue !important;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 16px;

    .icon {
      transform: rotate(180deg) translateY(-1px);
      display: inline-block;
      color: $color-orange;
      font-size: 13px;
      margin-left: 4px;
    }
  }
}

.homepage-cta-btn {
  &__link {
    @extend %button;
    @extend .button--filled;

    width: 236px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    line-height: 40px;

    &:hover {
      text-decoration: none;
      color: $color-white;
    }

    &:visited {
      text-decoration: none;
      color: $color-white;
    }

    @include breakpoint($break-medium) {
      margin-bottom: 23px;
    }
  }
}

$banner-title-width-large: 40%;
$banner-content-width-large: 35%;
$banner-image-width-large: 25%;

$banner-title-width-medium: 100%;
$banner-content-width-medium: 100%;

.homepage-cta__banner-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 14px $_padding-small;

  .banner-title {
    width: $banner-title-width-large;
    max-width: $banner-title-width-large;
    margin-right: 25px;

    h2 {
      color: $color-blue;
      font-size: 2rem;
      line-height: 35px;
      text-transform: uppercase;
    }
  }

  .banner-content {
    width: $banner-content-width-large;
    max-width: $banner-content-width-large;

    h3 {
      font-size: 18px;
    }

    a {
      padding: 0;
      width: auto;
      max-width: 250px;
    }
  }

  .banner-image-wrapper {
    position: relative;
    max-width: $banner-image-width-large;
    width: $banner-image-width-large;
  }

  .banner-image{
    right: 0vw;
    height: 195px;
  }

  @media(max-width: 768px) {
    padding: 14px $_padding-small;
    background-color: $color-orange;

    .homepage-banner-wrapper {
      flex-direction: column;
      justify-content: center;
      width: 100%;

      &::after, &::before {
        background: none;
        display: none;
      }
    }

    .banner-image-wrapper {
      display: none;
    }

    .banner-content {
      width: $banner-content-width-medium;
      max-width: $banner-content-width-medium;
      text-align: center;

      .banner-copy {
        width: 100%;
      }

      h3 {
        color: $color-black;
        margin: 10px 0;
        font-size: 20px;
      }

      a {
        align-self: center;
        margin: 0 0 30px;
        padding: 0 25px;
        max-width: auto;
      }
    }

    .banner-title {
      width: $banner-title-width-medium;
      max-width: $banner-title-width-medium;

      h1 {
        color: $color-white;
        font-size: 2rem;
        line-height: 30px;
        margin: 0;
        text-align: center;
      }
    }
  }

  @media (max-width: 640px) {
    flex-direction: row;
    padding: 14px $_padding-small;

    .homepage-banner-wrapper {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    .banner-image-wrapper {
      display: none;
    }

    .banner-content {
      width: $banner-content-width-medium;
      max-width: $banner-content-width-medium;

      .banner-copy {
        width: 100%;

        h3 {
          color: $color-black;
          margin: 10px 0;
          font-size: 20px;
          text-align: left;
        }

        a {
          align-self: flex-start;
          margin: 0 0 30px;
          padding: 0 25px;
          max-width: unset;
        }
      }
    }

    .banner-title {
      width: $banner-title-width-medium;
      max-width: $banner-title-width-medium;

      h1 {
        color: $color-white;
        font-size: 2rem;
        line-height: 30px;
        margin: 0;
        text-align: left;
      }
    }
  }

  @include breakpoint($break-medium) {
    padding: 20px $_padding-large;
  }
}

.banner-title {
  width: $banner-title-width-large;
  max-width: $banner-title-width-large;
  margin-right: 50px;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  h1 {
    color: $color-brand-primary;
    font-size: 2.5rem;
    line-height: 35px;
  }
}

.banner-content {
  max-width: $banner-content-width-large;
  width: $banner-content-width-large;
  flex: 1 1 auto;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -ms-grid-column-align: center;
  justify-items: center;

  h3 {
    color: #F99222;
    font-size: 22px;
    margin: 25px 0 5px;
    line-height: 25px;
  }
}

.banner-copy {
  display: flex;
  flex-direction: column;
}

.banner-content button {
  width: auto;
  margin: 0 0 30px;
  padding: 0 25px;
  max-width: 250px;
}

.homepage-banner-wrapper {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  display:flex;

  &::before {
    height: 1px;
    display: block;
    background: #0050A9;
    content: '';
    position: absolute;
    top: 0;
    width: 115%;
    left: -100px;
  }

  &::after {
    height: 1px;
    display: block;
    background: #0050A9;
    border-right: 1px solid #0050A9;
    content: '';
    position: absolute;
    bottom: 0;
    width: 115%;
    left: -100px;
  }
}

.banner-image {
  position: absolute;
  right: 5vw;
  bottom: 0;
  height: 211px;
}

.banner-image-wrapper {
  position: relative;
  max-width: $banner-image-width-large;
  width: $banner-image-width-large;
}
