<div class="homepage-cta">

    <div class="homepage-cta__image-div">
        <img class="homepage-cta__image" src="{{ homepage_image }}" />
    </div>
    <div class="homepage-cta__promotion-div">
        <p class="heading-5 homepage-cta__heading-5">{{ homepage_category_name|raw }}</p>
        <p class="heading-2 homepage-cta__heading-2">{{ homepage_title|raw }}</p>
        {% if homepage_link_btn %}
            <a href="{{ homepage_url_link_btn }}" class="homepage-cta-btn__link" target="_blank">{{ homepage_link_btn|raw }}</a>
        {% endif %}
        <p class="homepage-cta__link-wrapper">
            {% if homepage_link_1 %} <a href="{{ homepage_url_link_1 }}" class="link homepage-cta__link"> {{ homepage_link_1|raw }} <i class='icon icon-long-arrow-left'></i></a> {% endif %}
        </p>
        <p class="homepage-cta__link-wrapper">
            {% if homepage_link_2 %} <a href="{{ homepage_url_link_2 }}" class="link homepage-cta__link"> {{ homepage_link_2|raw }} <i class='icon icon-long-arrow-left'></i></a> {% endif %}
        </p>
    </div>
</div>
<div class="homepage-cta__banner-div">
  <homepage-banner img-src="/themes/custom/unitedrentals/dist/img/homepage-banner-worker.png"></homepage-banner>
</div>
