@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Library: Favorite reusable styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.flag {
  min-height: $icon-size-small;
  position: relative;
  text-align: right;

  a {
    position: relative;
    z-index: 5;
  }
}

.action-flag {
  a {
    @include icon(
      $filename: star-border,
      $size: $icon-size-xsmall
    ) {
      margin: 0;

      @include media('>=m') {
        font-size: $icon-size-regular;
      }
    }
  }
}

.action-unflag {
  a {
    @include icon(
      $filename: star,
      $size: $icon-size-xsmall
    ) {
      margin: 0;

      @include media('>=m') {
        font-size: $icon-size-regular;
      }
    }
  }
}

.ajax-progress-throbber,
.throbber {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.object-listing__actions-sub {
  .action-flag a,
  .action-unflag a {
    &::before {
      font-size: $icon-size-xsmall;
    }
  }
}
