@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: First AND Second AND Mobile
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-menu-block.secondary-nav {
  @include container-full-width();
  @include shadow(nav);

  background-color: $color-bg-light-primary;
  display: none;

  @include media($header-bp-desktop) {
    display: block;
  }

  .block__content {
    @include container();
  }

  .menu--depth-0 {
    align-items: center;
  }

  .menu-item__link.menu-item__link--depth-0 {
    @include type-preset(
      $version: 30
    );

    color: $color-text;
    padding-top: 0;

    @include on-event() {
      color: $color-text-link-hover;
      text-decoration: underline;
    }

    // Currently everything is active since the children are under the manage parent item. Need to have additional active for the children items
    //&.is-active {
    .menu-item--in-active-trail {
      @include type-preset(
        $version: 30,
        $type: header
      );

      color: $color-text-link;
    }
  }

  // Currently everything is active since the children are under the manage parent item. Need to have additional active for the children items
  //&.is-active {
  .menu-item--depth-0.menu-item--in-active-trail > .is-active {
    color: $color-text-link;
    font-weight: $font-weight-bold;
  }

  .menu-item__link.menu-item__link--depth-0 {
    margin-bottom: rem(10);
    margin-top: rem(10);
    padding-bottom: 0;
    padding-top: 0;
  }

  .menu-item__link--depth-0:not(.menu-item--has-children) {
    &::after {
      display: none;
    }
  }

  .menu-item--depth-0:first-of-type .menu-item__link--depth-0 {
    padding-left: 0;
  }


  .menu-item--depth-0:last-of-type .menu-item__link--depth-0 {
    padding-right: 0;
  }

  .menu-item--has-children {
    .menu-item__link--depth-0 {
      @include icon(
        $filename: arrow-down,
        $size: $icon-size-xxsmall,
        $insert: after
      ) {
        display: inline-block;
        height: inherit;
        margin: 0;
        padding: 0;
        transition: $transition-base;
        z-index: 0;
      }

      align-items: center;
      border-left: $border-width-regular solid $color-utility-border;
      display: flex;
      padding-right: 0;
    }

    &.menu-item--expanded .menu-item__link--depth-0 span::after {
      transform: rotate(180deg);
    }
  }

  .menu-item__panel {
    background-color: $color-bg-light-primary;

    .menu-item__link {
      font-weight: $font-weight-regular;
    }
  }
}

// Manage secnav only
.block-menu-blockmain.secondary-nav {
  .menu-item--depth-0:last-of-type {
    margin-left: auto;

    .menu-item__link--depth-0 {
      @include on-event() {
        text-decoration: none;
      }
    }
  }
}
