.article {

  &__breadcrumbs {
    margin-top: 32px;

    @include breakpoint($break-medium) {
      margin-top: 40px;
    }
  }

  &__heading-1 {
    line-height: 38px;
    margin: 46px 0 26px;

    @include breakpoint($break-small) {
      margin: 32px 0;
    }
  }

  &__heading-3 {
    line-height: 24px;
    margin-bottom: 26px;
  }

  // We might not be able to apply classes to content from a WYSIWYG so having to style based on element tags
  &__paragraph,
  &__content p {
    line-height: 24px;
  }
}
