<div class="events a1-layout">
  <div class="group-right article grid">
    <article class="article__content">
      {% block content %}
        <div class="article__container">
          {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
            with {
              "heading_1": article_title,
              "heading_1_modifiers": article_1_title_modifiers,
              "heading_1_blockname": article_blockname,
            }
          %}

          {% set timestamp = article_location ~ ' - ' ~ article_date|date("M j, Y")  %}

          {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
            with {
              "heading_3": timestamp,
              "heading_3_blockname": article_blockname,
            }
          %}

          {% if article_content %}
            <div class="article__content">
              {{ article_content }}
            </div>
          {% endif %}

        </div>
      {% endblock %}
    </article>
  </div>
</div>
