.article-tile {
  display: block;
  position: relative;
  border-radius: $border-radius-med;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all $animation-speed $anim-ease;
  margin: 0 6px;

  &:before {
    content: "";
    display: block;
    padding-top: 230%;
  }

  @include breakpoint($break-small) {
    &:before {
      padding-top: 133.33333%;
      margin: 0 8px;
    }
  }

  &__holder {
    display: inline-block;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__image-holder {
    height: 37.5%;
    overflow: hidden;
    transition: all $animation-speed $anim-ease;
    border-radius: $border-radius-med $border-radius-med 0 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1,1);
    transition: all $animation-speed $anim-ease;
  }

  &__content {
    background-color: rgba($color-grey-11, 0.5);
    height: 62.5%;
    padding: 18px 8.66666%;
    transition: all $animation-speed $anim-ease;

    p {
      margin: 0;
    }
  }

  &__catagory {
    font-size: $font-size-h6;
    color: $color-brand-secondary;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: bold;

    @include breakpoint($break-medium) {
      font-size: $font-size-h5;
    }
  }

  &__headline {
    font-family: $font-family-base;
    font-size: $font-size-h5;
    color: $color-text;
    font-variant: none;
    font-weight: 700;
    line-height: 1.090909;

    @include breakpoint($break-medium) {
      font-size: $font-size-h2;
    }

    .icon {
      transform: rotate(180deg);
      display: inline-block;
      color: $color-orange;
      font-size: $font-size-base;
      margin-left: 0px;
      opacity: 0;
      transition: all $animation-speed $anim-ease;
    }
  }

  &__date {
    font-size: $font-size-small;
    color: $color-text-subtle;
    position: absolute;
    left: 8.66666%;
    bottom: 29px;
  }

  &:hover {
    border-color: $color-grey-11;
    border-radius: $border-radius-xlarge;

    .article-tile {
      &__image-holder {
        border-radius: $border-radius-xlarge $border-radius-xlarge 0 0;
      }
      &__image {
        transform: scale(1.1,1.1);
      }

      &__content {
        background-color: rgba($color-grey-11, 1);
        padding-top: 10px;

        .icon {
          margin-left: 8px;
          opacity: 1;
        }
      }
    }
  }
}
