<div style="display: flex;">
  <div style="width:33.33333%;">
    {% include "@organisms/tile/article/article-tile.twig" %}
  </div>
  <div style="width:33.33333%;">
    {% include "@organisms/tile/article/article-tile.twig" %}
  </div>
  <div style="width:33.33333%;">
    {% include "@organisms/tile/article/article-tile.twig" %}
  </div>
</div>
