<a href="{{ article_tile_path }}" class="article-tile">
  <div class="article-tile__container">
    <div class="article-tile__image-holder">
      <div class="article-tile__image" style="background-image: url({{ article_tile_image }})"></div>
    </div>
    <div class="article-tile__content">
      <p class="article-tile__catagory">{{ article_tile_category }}</p>
      <p class="article-tile__headline">
        {% if article_tile_headline|length > 75 %}
          {{ article_tile_headline|raw|slice(0, 75) }}...<i class="icon icon-long-arrow-left"></i>
        {% else %}
          {{ article_tile_headline|raw }}<i class="icon icon-long-arrow-left"></i>
        {% endif %}
      </p>
      <p class="article-tile__date">{{ article_tile_date }}</p>
    </div>
  </div>
</a>
