<template>
  <field-value>
    {{ value | emptyString }}
  </field-value>
</template>

<script>
  import { get } from 'lodash';
  import BaseField from './field';
  import { FieldFilters, FieldSlots } from './mixins';

  export default {
    name: 'DetailField',
    extends: BaseField,
    mixins: [FieldFilters, FieldSlots],
    props: {
      /* Pass in item js object */
      item: {
        type: [Object],
        required: true,
      },
      /* Table Resource, Column and Field Settings */
      field: {
        type: [Object],
        required: true,
      },
    },
    computed: {
      /* Prepend Content To Field */
      prepend() {
        return this.field.prepend || '';
      },
      /* Append Content To Field */
      append() {
        return this.field.append || '';
      },
      /* Returns Resource Field Value Based On Resource Property Field Is Made With */
      value() {
        /* Allow for callback functions to determine field value */
        if (typeof this.field.value === 'function') return this.field.value(this.item);

        /* Use lodash to get the property so we can grab nested properties */
        const value = get(this.item, this.field.resourceProperty, null);

        /* if we have an invalid value and a fallbackValue is provided, return the fallback value */
        return value || this.fallbackValue;
      },
      /* Determine if a default fallbackValue was provided */
      fallbackValue() {
        const fallbackValue = get(this.item, this.field.fallbackResourceProperty, false);

        /* If fallback value exists, return it ~ otherwise return the default value - even if null */
        return fallbackValue || get(this.item, this.field.resourceProperty, null);
      },
      payload() {
        return {
          el: this.$el,
          item: this.item,
          field: this.field,
          value: this.value,
          $route: this.$route,
          $router: this.$router,
        };
      },
    },
    filters: {
      emptyString(value) {
        return value === '' ? '-' : value;
      },
    },
  };
</script>
