<template>
  <field-value>
    {{ value | emptyString }}
  </field-value>
</template>

<script>
import { get } from 'lodash';
import BaseField from './field';
import { FieldFilters, FieldSlots } from './mixins';

export default {
  name: 'ListingField',
  extends: BaseField,
  mixins: [FieldFilters, FieldSlots],
  mounted() {
    this.appendFieldClasses();
  },
  props: {
    /* Pass in resource item */
    item: {
      type: [Object],
      required: true,
    },
    /* Table Resource, Column and Field Settings */
    resource: {
      type: [Object],
      required: true,
    },
  },
  computed: {
    /* Prepend Content To Field */
    prepend() {
      return this.field.prepend || '';
    },
    /* Append Content To Field */
    append() {
      return this.field.append || '';
    },
    /* Return column settings */
    column() {
      return this.resource.column;
    },
    /* Return column field settings */
    field() {
      return this.resource.field;
    },
    /* Returns Resource Field Value Based On Resource Property Field Is Made With */
    value() {
      /* Allow for callback functions to determine field value */
      if (typeof this.field.value === 'function') return this.field.value(this.item);

      /* Use lodash to get the property so we can grab nested properties */
      const value = get(this.item, this.field.resourceProperty, null);

      /* if we have an invalid value and a fallbackValue is provided, return the fallback value */
      return value || this.fallbackValue;
    },
    /* Determine if a default fallbackValue was provided */
    fallbackValue() {
      const fallbackValue = get(this.item, this.field.fallbackResourceProperty, false);

      /* If fallback value exists, return it ~ otherwise return the default value - even if null */
      return fallbackValue || get(this.item, this.field.resourceProperty, null);
    },
    payload() {
      return {
        el: this.$el,
        item: this.item,
        field: this.field,
        value: this.value,
        $route: this.$route,
        column: this.column,
        $router: this.$router,
      };
    },
  },
  methods: {
    /*
     * @vuese
     * appendFieldClasses
     * Grab the classes array from the field api object and append each of the classes to the this.$el's class list
    */
    appendFieldClasses() {
      if (!this.field.classes) this.field.classes = [];
      this.$el.classList = `${this.$el.classList} ${this.field.classes.join(' ')}`;

      return this;
    },
  },
  filters: {
    emptyString(value) {
      return value === '' ? '-' : value;
    },
  },
};
</script>
