.child_landing_page {
  &__container {
    flex-wrap: wrap;

    > * {
      flex-grow: 1;
    }

    @include breakpoint($break-medium) {
      box-sizing: content-box;
      max-width: 640px;
      padding-left: 71px;
    }

    @include breakpoint($break-large) {
      padding-left: 93px;
    }
  }

  &__paragraph {
    margin: 29px 0 0;
    @extend .font-size--type-large;
  }

  &__button-group {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($break-medium) {
      margin: 30px 0 26px;
    }

    .button {
      margin: 30px 0 26px;
      padding: 0;
      display: block;
      line-height: 2.85714rem;

      @include breakpoint($break-medium) {
        margin: 0;
      }
    }
  }

  &__button-container {
    width: 100%;

    @include breakpoint($break-small) {
      width: auto;
      min-width: 240px;
    }
  }

  &__marketing-file {
    width: 100%;
    line-height: 24px;

    @include breakpoint($break-medium) {
      width: auto;
      line-height: 2.85714em; // The same amount our buttons are using
    }

    strong {
      display: block;
      margin-right: 4px;

      @include breakpoint($break-small) {
        display: inline-block;
      }
    }

    .divider {
      color: $color-blue;
    }
  }
}
