<div class="child_landing_page">
  {% block content %}


    {% if child_landing_description %}
      <div class="child_landing_page__intro">
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": child_landing_description,
            "paragraph_modifiers": [],
            "paragraph_blockname": child_landing_blockname
          }
        %}
      </div>
    {% endif %}


    {% if primary_button_content or marketing_brochure_desc %}
      <div class="child_landing_page__button-group">
        {% if primary_button_content %}
          <div class="child_landing_page__button-container">
            {% include "@atoms/10-link-buttons/link-buttons.twig"
              with {
                "link_modifiers": primary_button_modifiers,
                "link_content": primary_button_content,
                "link_url": primary_button_url
              }
            %}
          </div>
        {% endif %}

        {% if marketing_brochure_desc %}
          <div class="child_landing_page__marketing-file">
            <strong>{{ marketing_brochure_desc }}:</strong>
            {% include "@atoms/01-links/link/link.twig"
              with {
                "link_url": marketing_brochure_url,
                "link_content": "View PDF"
              }
            %}
            <span class="divider">|</span>
            {% include "@atoms/01-links/link/link.twig"
              with {
              "link_url": marketing_brochure_url,
              "link_content": "Download",
              "link_attributes": {'download': marketing_brochure_desc}
              }
            %}
          </div>
        {% endif %}
      </div>
    {% endif %}


    <div class="product_detail__content">
      <div>
        {% if child_landing_content %}
          {{ child_landing_content }}
        {% endif %}
      </div>
    </div>

    {% endblock %}
</div>