<!--Takes a string and returns a google place object-->
<template>
  <div class="location-autocomplete input-group" :class="additionalClass">
    <global-header-text-input
    ref="locationAutocompleteInput"
    :icon-primary="true"
    :icon-secondary="true"
    :secondary-click-handler="clear.bind()"
    :label="label !== '' ? label : null"
    :placeholder="placeholder"
    @input="getSuggestions()"
    @focus="doFocus(true)"
    @blur="doFocus(false)"
    @keyup.enter="handleEnterKey"
    @keyup.escape="handleEscapeKey"
    @keyup.down="handleDownKey"
    @keyup.up="handleUpKey"
    @keyup.clear="clear"
    v-model="holdPlace"
    tabindex="1"
    />

    <ul v-show="suggestions.length" class="suggestions" id="suggestions" ref="suggestions">
      <li v-for="(item, index) in suggestions" :key="index" @click="setSuggestion(item)" :class="index === selected? 'selected':''"
          v-html="prepareText(item.description)"
      >
      </li>
    </ul>
    <div class="mobile-spacer" v-if="suggestions.length && isMobile()"></div>
  </div>
</template>

<script>
  import GooglePlaces from '@/lib/google-places';
  import BrowserInfo from '@/mixins/browser-info';
  import GlobalHeaderTextInput from './global-header-text-input';
  import { debounce } from 'lodash';

  export default {
    components: {
      GlobalHeaderTextInput,
    },
    name: 'ur-location-autocomplete-new',
    data() {
      return {
        holdPlace: '',
        placeHasFocus: false,
        suggestions: [],
        suggestion: {},
        busy: false,
        originalPlace: '',
        selected: null,
        service: false,
        countryRegex: /, United States| United States|, USA| USA| Canada|, Canada, Puerto Rico|, Puerto Rico,/,
        // Regardless of what the linter may tell you, the square brackets [] are very much required
        // to be escaped in this next line, so the linter is disabled for that line.
        symbolRegex: /[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, // eslint-disable-line
      };
    },
    computed: {
      showClearButton() {
        return this.holdPlace.length && this.placeHasFocus;
      },
    },
    methods: {
      clear() {
        this.holdPlace = '';
        this.suggestions = [];
        this.selected = null;
        this.inputHasFocus = true;
        this.$emit('clear');
      },
      doFocus(state) {
        setTimeout(() => {
          this.placeHasFocus = state;
          if (!state) {
            this.suggestions = [];
            if (this.holdPlace !== this.originalPlace && this.holdPlace !== '') {
              this.holdPlace = this.originalPlace;
            }
          }
        }, 250);
      },
      handleEnterKey() {
        if (this.suggestions.length > 0 && !this.busy) {
          if (this.selected === null) {
            this.selected = 0;
          }
          this.setSuggestion(this.suggestions[this.selected]).then(() => {
            this.suggestions = [];
          });
        }
      },
      handleEscapeKey() {
        this.suggestions = [];
        this.holdPlace = this.originalPlace;
      },
      handleDownKey() {
        if (this.selected === null || this.selected === this.suggestions.length - 1) {
          this.selected = 0;
        }
        else {
          this.selected++;
        }
      },
      handleUpKey() {
        if (this.selected === null || this.selected === 0) {
          this.selected = this.suggestions.length - 1;
        }
        else {
          this.selected--;
        }
      },
      prepareText(text) {
        return text.replace(this.countryRegex, '')
          .replace(RegExp(`(${this.holdPlace})`, 'ig'), '<span class="searchText">$1</span>');
      },
      async setSuggestion(suggestion) {
        this.loadService();
        const togo = await this.service.getPlaceFromPrediction(suggestion);
        this.holdPlace = togo.formatted_address.slice(0).replace(this.countryRegex, '');
        this.originalPlace = this.holdPlace;
        this.$emit('change', togo);
      },
      async getSuggestions() {
        // this.holdPlace = '';
        // @TODO: clean input countries and symbols.
        this.holdPlace = this.holdPlace.replace(this.symbolRegex, '');
        if (!this.busy && this.holdPlace.length > 2) {
          this.busy = true;
          this.loadService();
          try {
            await this.service.getPredictionsFromAddress(this.holdPlace)
              .then((response) => {
                this.suggestions = response;
                this.busy = false;
              });
          }
          catch (error) {
            this.suggestions = [];
            this.busy = false;
          }
        }
      },
      loadService() {
        if (!this.service && google) {
          this.service = new GooglePlaces();
          this.service.autoCompleteOptions = {
            types: ['(regions)'],
            componentRestrictions: { country: ['us', 'ca', 'pr'] },
          };
        }
      },
    },
    mixins: [
      BrowserInfo,
    ],
    props: {
      label: {
        type: String,
        required: false,
        default: '',
      },
      place: {
        type: String,
        required: false,
        default: '',
      },
      placeholder: {
        type: String,
        required: false,
      },
      additionalClass: {
        type: String,
        required: false,
      },
    },
    created() {
      this.getSuggestions = debounce(this.getSuggestions, 250);
    },
    mounted() {
      if (this.place) {
        this.holdPlace = this.place.slice(0);
        this.originalPlace = this.place.slice(0);
      }
    },
    watch: {
      place() {
        if (this.holdPlace !== this.place.slice(0)) {
          this.holdPlace = this.place.slice(0);
          this.originalPlace = this.holdPlace;
        }
      },
      holdPlace() {
        if (!this.holdPlace.length) {
          this.clear();
        }
      },
      suggestions() {
        if (this.suggestions.length > 0) {
          if (document.body.offsetWidth >= 375) {
            this.$refs.suggestions.style.width = `${this.$refs.locationAutocompleteInput.offsetWidth}px`;
            if (this.isIE11()) {
              this.$refs.suggestions.style.left = `${this.$refs.locationAutocompleteInput.getBoundingClientRect().left}px`;
              this.$refs.suggestions.style.top = `${this.$refs.locationAutocompleteInput.getBoundingClientRect().bottom}px`;
            }
          }
        }
      },
    },
  };
</script>
