@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Term - Slider layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.similar-equipment-view-container {
  @include vertical-rhythm();
  
  display: block;
  width: 100%;

  .views-element-container {
    display: block;
    width: 100%;
  }

  .view-display-id-similar_equipment {
    @include grid-parent-reset();
    overflow: visible;

    @include media('>=m') {
      @include container-reset($position: relative);
    }

    h3.view-title {
      margin-bottom: 1rem;
    }

    .slick-list {
      margin: 0 (-$grid-gutter-sm / 2);
      overflow: visible;

      @include media('>=s') {
        margin: 0 (-$grid-gutter-lg / 2);
      }
    }

    .similar-equipment__list {
      padding-left: 0;

      // Hides the cards past the side bounds
      &::before,
      &::after {
        @include media('>=m') {
          background-color: $color-bg-light-primary;
          bottom: -5%;
          content: '';
          position: absolute;
          top: -5%;
          width: 100%;
          z-index: 1;
        }
      }

      &::before {
        @include media('>=m') {
          right: calc(100% + #{rem(8)});
        }
      }

      &::after {
        @include media('>=m') {
          left: calc(100% + #{rem(8)});
        }
      }

      .slick-arrow.slick-prev {
        left: -4%;
        right: initial;
      }

      .slick-arrow.slick-next {
        right: -4%;
        left: initial;
      }
    }

    .slick-slide {
      margin: 0 ($grid-gutter-sm / 2);

      @include media('>=s') {
        margin: 0 ($grid-gutter-lg / 2);
      }
    }

    .similar-equipment__list:not(.slick-initialized) {
      article {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    .slick-slide .media {
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
      max-width: 100vw;
      position: relative;

      img,
      video {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
