@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Views: pagination
// Pagination styles
// -----------------------------------------------------------------------------
@import '../../globals';

.pager {

  margin-top: 2rem;

  .pager__items {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .pager__item {
    padding: 0 rem($scale-6);
    vertical-align: middle;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &.is-active {
      a {
        color: $color-text;
      }
    }
  }

  .pager__item--next,
  .pager__item--previous {
    padding-left: 0;
    padding-right: 0;

    span {
      display: none;
    }
  }

  .pager__item--previous {
    a {
      @include icon(
        $filename: arrow-left,
        $size: $icon-size-xsmall) {

        margin: 0;
        vertical-align: middle;
      }
    }
  }

  .pager__item--next {
    a {
      @include icon(
        $filename: arrow-right,
        $size: $icon-size-xsmall) {

        margin: 0;
        vertical-align: middle;
      }
    }
  }

  .pager__item--disabled {
    a {
      color: $color-text-subtle;
      pointer-events: none;

      &::before {
        vertical-align: middle;
      }
    }
  }
}
