@charset 'UTF-8';

// -----------------------------------------------------------------------------------------
// Libraries/Views: Project Uptime - Search All
// View Embed - Project Uptime Search All - Views Block
// Block Embed - Left Sidebar - Project Uptime Search All Page - Views Page Exposed Filters
// -----------------------------------------------------------------------------------------

@import '../../globals';

// shared style - sort exposed filter ----------------------------------------------------------------------------------
.view-project-uptime .view-filters .view-project-uptime__exposed-filter .form-type-select,
.block-views-exposed-filter-blockproject-uptime-search-all-page .form-type-select {
  .form-select {
    border-radius: $border-radius-small;
    padding-right: rem($gap-e);
    width: 100%;
    z-index: 400;
  }
}

// view embed - project uptime search all views block ------------------------------------------------------------------
.component-block-embed {
  display: none;
}

.view-project-uptime {
  max-width: 100%;

  // hide pillars and business units exposed filters
  .form-checkboxes {
    display: none;
  }

  // hide sort exposed filter
  .view-filters {
    display: none;

    // show sort exposed filter
    @include media('>=s') {
      display: block;
    }

    .view-project-uptime__exposed-filter {
      width: 100%;

      @include media('>=s') {
        width: inherit;
      }

      .form-type-select {
        align-items: center;
        display: block;
        justify-content: flex-end;

        @include media('>=s') {
          display: flex;
        }

        label {
          @include media('>=s') {
            display: none;
          }
        }
      }
    }
  }
}

// block embed - left sidebar - project uptime search all page - views page exposed filters -----------------------------------
.block-views-exposed-filter-blockproject-uptime-search-all-page {
  background-color: $color-bg-light-primary;
  padding: rem($gap-e) 0;

  @include media('>=s') {
    background-color: $color-bg-light-secondary;
    padding: rem($gap-e);
  }

  ul,
  li {
    list-style-type: none;
    padding: initial;
  }

  // style filters button added when window < 1024
  .jsa-is-mobile {
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-xsmall,
      $insert: after
    );

    @include link-btn();
    background-color: $color-bg-light-secondary;
    border-bottom: rem($scale-0) solid $color-utility-border;
    border-top: rem($scale-0) solid $color-utility-border;
    display: flex;
    justify-content: center;
    padding: rem($gap-c) 0;
    width: 100%;
  }

  .jsa-is-mobile.jsa-is-open {
    &::after {
      transform: rotate(180deg);
    }
  }

  // hide sort exposed filter
  .form-type-select {
    @include media('>=s') {
      display: none;
    }
  }

  .block-views-exposed-filter-blockproject-uptime-search-all-page__title {
    display: none;

    @include media('>=s') {
      @include type-preset(
        $version: 70,
        $type: header
      );

      display: inline-block;
    }
  }

  .block-views-exposed-filter-blockproject-uptime-search-all-page__content {
    display: none;

    @include media('>=s') {
      display: block;
    }

    &.jsa-is-open {
      background-color: $color-bg-light-secondary;
      display: block;
    }

    #edit-reset {
      visibility: hidden;
    }

    .form--inline {
      display: flex;
      flex-direction: column;
      max-width: 100%;

      .form-wrapper {
        margin-bottom: 0;
        padding: 0 rem($gap-e);

        @include media('>=s') {
          padding: 0;
        }
      }

      .form-type-select {
        margin: 0 rem($gap-e);

        &::after {
          top: 70%;
        }
      }

      fieldset#edit-pillars--wrapper { // eslint-disable-line
        border-bottom: rem($scale-0) solid $color-utility-border;
        padding-bottom: rem($gap-b);

        legend {
          display: none;
        }

        .form-checkboxes .form-item {
          margin-top: rem($scale-3);
        }
      }

      #clear_btn{
        position: absolute;
        top: 0;
        right: .5rem;
        z-index: 2;
      }

      .form-checkboxes {
        > ul > li {
          position: relative;
        }

        // pillars exposed filter category label
        > ul > li > .form-type-checkbox > label {
          @include type-preset(
            $version: 30,
            $type: header
          );

          padding-left: 0;

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        // pillars and business units exposed filter sub-category label
        > ul > li > ul > li > .form-type-checkbox > label,
        > div > .form-type-checkbox > label {
          @include type-preset(
            $version: 30,
          );

          color: $color-text-subtle;
          display: inline-block;
          line-height: 1;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }
}
