<template>
  <div>
    <!--    NEW ur-location -->
    <div id="global-search__dropdown">
      <ur-location-search-auto-complete
              class="hero-search__field hero-search__location"
      />
    </div>
    <div class="global-search__field global-search__search-box" :class="{ 'show-results': hasFocus }">
        <global-header-text-input
        class="global-search-input"
        :icon-primary="true"
        icon-primary-class="icon-search-herobar"
        icon-secondary-class="icon-close icon-close-hero"
        :placeholder="placeholder"
        v-model="searchText"
        :secondary-click-handler="clearSearch.bind()"
        @keyup.exact="validateInput"
        @keyup.enter="goToSearch"
        @keyup.esc="clearSearch"
        @focus="setFocus(true)"
        @blur="setFocus(false)"
        />

      <div class="global-search__search-results" v-if="searchResults.length === 0">

        <ur-assisted-search
          v-if="showAssistedSearch"
          :categories="facets.categories"
          :recentSearches="recentSearches" />

      </div>
      <div class="global-search__search-results" v-if="hasFocus && searchResults.length > 0">
        <div class="global-search__results-group" v-for="(term, termKey) in searchResults" :key="termKey">
          <div class="global-search__results-group--label">
            <a :href="term.group_results_page">{{ checkLabels(term.display_name) }}</a>
            <span>
              <a :href="term.group_results_page">{{ term.total }}</a>
            </span>
          </div>
          <div class="global-search__results-objects">
            <div class="global-search__results-object" v-for="(result, resultKey) in term.results" :key="resultKey">
              <a :href="result.url" v-html="result.name"></a>
              <span class="global-search__results-object--distance" v-if="result.distance">{{ result.distance }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>
      <button @click="goToSearch"  type="submit" value="Search Rentals" class="icon input-icon__primary icon-search-hero button button--style-1 button--attention global-search__button-hero" style="box-shadow: 0 4px 12px 0 rgba(22,23,24,0.16);">
        <span class="button--displayed-hero">{{ $i18n('ur.searchRentals') }} </span>
      </button>
    </div>
  </div>
</template>

<script>
  import api from '@/api';
  import mapLabels from '@/utils/mapLabels';
  import async from 'async';
  import GlobalHeaderTextInput from '../global-header/global-header-text-input';
  import UrAssistedSearch from '@/components/common/ur-assisted-search.vue';
  import { mapState, mapActions } from 'vuex';
  import types from '@/store/types';
  import UrLocationSearchAutoComplete from '@/components/global-header/container.ur-autocomplete-new';

  export default {
    components: {
      GlobalHeaderTextInput,
      UrAssistedSearch,
      UrLocationSearchAutoComplete,
    },
    props: {
      placeholder: {
        type: String,
        required: false,
        default: 'Search',
      },
    },
    computed: {
      hasText() {
        return this.searchText.length > 0;
      },
      hasResults() {
        return this.searchResults.length > 0;
      },
      showAssistedSearch() {
        return (!this.hasResults);
      },

      ...mapState({
        popularEquipmentTypes: state => state.popularEquipmentTypes.all,
        facets: state => state.facets,
      }),
    },
    data() {
      return {
        hasFocus: false,
        searchResults: [],
        searchText: '',
        recentSearches: JSON.parse(localStorage.getItem('recentSearches')),
        localValue: this.value,
        q: async.queue((task, callback) => {
          callback();
        }, 1),
        ...mapLabels({
          clear: 'ur.clear',
        }),
      };
    },
    methods: {
      clearSearch() {
        this.searchText = '';
      },
      goToSearch() {
        const searchString = this.searchText.trim();
        const searchLength = searchString.length;
        const searchURL = `/search?search=${searchString}`;
        this.recentSearches = localStorage.recentSearches ? JSON.parse(localStorage.recentSearches) : [];

        if (searchLength < 1) {
          this.searchText = '';
          return false;
        }

        // add the search to the array of recent searches
        if (this.recentSearches.findIndex(val => val.val === searchString) === -1) {
          this.recentSearches.unshift({ val: searchString, url: searchURL });
          if (this.recentSearches.length > 5) {
            this.recentSearches.pop();
          }
          localStorage.setItem('recentSearches', JSON.stringify(this.recentSearches));
        }
        window.location = searchURL;
      },
      setFocus(e) {
        const self = this;
        if (e) {
          self.hasFocus = e;
        }
        else {
          setTimeout(() => {
            self.hasFocus = e;
          }, 250);
        }
      },
      getSearchResults(e) {
        if (e.length > 2) {
          this.q.push(api.globalSearch.getResults(e).then((response) => {
            this.searchResults = response.data.result;
          }), () => {
          });
        }
        else {
          this.searchResults = [];
        }
      },
      checkLabels(resultCategory) {
        if (resultCategory != null) {
          if (resultCategory.toLowerCase().trim() === 'branches') {
            return this.$i18n('globalSearch.branches');
          }
        }
        return resultCategory;
      },
      validateInput() {
        this.searchText = this.searchText.replace(/[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, ''); //eslint-disable-line
      },
      ...mapActions({
        fetchPopularEquipment: types.popularEquipmentTypes.fetch,
        fetchFacets: types.facets.fetch,
      }),
    },
    name: 'urGlobalSearchNew',
    mounted() {
      this.fetchPopularEquipment();
      this.fetchFacets();
    },
    watch: {
      searchText(e) {
        this.getSearchResults(e);
      },
    },
  };
</script>
