<!-- Add you custom twig html here -->
<div v-if="userIsLoggedIn && $root.pageIsLoading" class="spinner" style="font-size: 6.5rem; margin: 1.7857rem 0 1.7857rem -3.25rem; position:relative; left:50%"></div>
<view-manage></view-manage>