<template>
  <div
    class="toast"
    @click="() => $emit('toastClick')"
    @mouseenter="cancelTimer"
    @mouseleave="restartTimer"
    v-show="details"
  >
    <slot name="image" />
    <div class="message-wrapper">
      <p class="headline">
        <slot name="headline">{{ headline }}</slot>
      </p>
      <p class="details">
        <slot name="details">{{ details }}</slot>
      </p>
    </div>
    <q-button
      v-if="showButton"
      class="button"
      @click="() => $emit('toastButtonClick')"
      :text="buttonLabel"
      size="small"
    />
  </div>
</template>

<style lang="scss" scoped>
  @import '01-variables';
  @import 'breakpoints';
  @import '~breakpoint-sass/stylesheets/breakpoint';

  $toast-default-width: 352px;
  $toast-max-width: 740px;
  $toast-padding: 16px 12px;
  $toast-image-margin: 0 8px 0 0;
  $toast-button-margin: 0 0 0 12px;

  .toast {
    @extend %shadow-depth-2;
    z-index: 9999;
    width: 100%;
    width: $toast-default-width;
    background: $color-white;
    padding: $toast-padding;
    border-radius: $border-radius-med;
    cursor: pointer;
    display: flex;
    pointer-events: all;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 16px;

    .message-wrapper {
      @extend %ellipsis;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .headline {
      @extend %type-paragraph-small-bold;
      margin: 0;
    }

    .details {
      @extend %type-paragraph-base;
      @extend %ellipsis;
      color: $color-text;
      margin: 0;
    }

    /deep/ img, /deep/ i {
      height: $icon-size-regular;
      width: $icon-size-regular;
      margin: $toast-image-margin;
    }

    /deep/ .button {
      flex-grow: 0 !important;
      margin: $toast-button-margin;
    }
  }
</style>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: 'toast',
    props: {
      buttonLabel: {
        type: String,
        default: '',
      },
      headline: {
        type: String,
        default: '',
      },
      details: {
        type: String,
        default: '',
      },
      timeToLive: {
        type: Number,
        default: 6000,
      },
    },
    computed: {
      showButton() {
        return this.buttonLabel.length > 0;
      },
    },
    data: () => ({ timer: null }),
    methods: {
      cancelTimer() {
        clearTimeout(this.timer);
        this.timer = null;
      },
      expire() {
        this.$emit('expire');
        this.$parent.$emit('expire');
      },
      restartTimer() {
        // Added the timer override to facilitate future A/B testing
        const timerOverride = window.toastTimerOverride && typeof window.toastTimerOverride === 'number' ? window.toastTimerOverride : this.timeToLive;
        this.timer = setTimeout(this.expire.bind(this), timerOverride);
      },
    },
    mounted() {
      this.restartTimer();
    },
    beforeDestroy() {
      this.cancelTimer();
    },
    watch: {
      details() {
        if (this.details) {
          this.restartTimer();
        }
      },
    },
  });
</script>
