@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: sidebar
// Sidebar region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Regions
 */
.region-left-sidebar {
  background-color: $color-bg-light-secondary;

  > div {
    @include gap(
      $property: padding,
      $sizes: $gap-e
    )
  }

  > .block-nested-navigation-block {
    @include media('>=s') {
      padding: rem($gap-e) 0;
    }
  }
}
