@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: sidebar
// Sidebar region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Regions
 */
.region-right-sidebar {

  // Default block spacing
  .block {
    &:not(:first-of-type) {
      @include gap(
        $sizes: $gap-e
      );
    }

    .block__title h2 {
      @include type-preset(
        $version: 50,
        $type: header
      );
    }

    .block__content {
      @include gap(
        $sizes: $gap-c
      );
    }
  }

  .views-row .taxonomy-term {
    @include gap(
      $sizes: $gap-c
    );
  }

  // Contact sidebar
  .contact-sidebar {
    .contact-sidebar__item:not(:first-of-type) {
      @include gap(
        $sizes: $gap-e
      );
    }

    .contact-sidebar__item-content,
    .contact-sidebar__item-content address + ul {
      @include gap(
        $sizes: $gap-c
      );

      address {
        font-style: normal;
      }

      ul {
        list-style: none;
        margin-left: 0;
        padding: 0;
      }

      li:not(:first-of-type) {
        @include gap(
          $sizes: $gap-b
        );
      }

      li span {
        display: inline-block;
        vertical-align: -0.065em;
      }
    }
  }
}

// override sidebar styling cascade for project uptime pages
.page-node-type-project-uptime-pages {
  .region-right-sidebar {
    @include media('>=s') {
      @include grid-col(6);
    }
  }

  .main-content--with-sidebar {
    .region-content {
      @include media('>=s') {
        @include grid-col(11);

        @include bs-ie() {
          flex-basis: inherit;
        }
      }
    }
  }
}
