@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: sidebar
// Sidebar region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Regions
 */
.main-content--with-sidebars,
.main-content--with-sidebar {
  @include container();
}

.main-content__sidebar-wrapper {
  display: flex;
  flex-direction: column;

  @include media('>=s') {
    @include grid-parent();
    flex-wrap: nowrap;
  }

  .region-content {
    @include media('>=s') {
      flex-grow: 1;
      flex-shrink: 1;
      max-width: inherit;
      width: inherit;
    }
  }
}

.main-content--with-sidebars {
  .region-content {
    @include media('>=s') {
      @include grid-col(6);
    }
  }
}

.main-content--with-sidebar {
  .region-content {
    @include media('>=s') {
      @include grid-col(9);
    }
  }
}

.region-left-sidebar {
  @include container-full-width();

  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  @include media('>=s') {
    @include container-reset();
    @include grid-col(3);

    margin-bottom: 0;
  }
}

.region-right-sidebar {
  @include media('>=s') {
    @include container-reset();

    margin-bottom: 0;
  }
}

.main-content--with-sidebar .main-content__sidebar-wrapper,
.main-content--with-sidebars .main-content__sidebar-wrapper {

  .component-hero,
  .component-tabs__nav {
    left: inherit;
  }

  .component-hero,
  .component-hero-slide,
  .component-hero-slide.slick-slide {
    width: auto;
  }

  // remove the content region footer gap
  .region-content {
    @include media('<s') {
      @include footer-gap(
        $reset: true
      );
    }

    @include media('>=m') {
      padding: 0 0 0 rem($gap-e);
    }
  }

  // add the footer gap to the sidebar which is on the bottom
  .region-right-sidebar {
    //@include footer-gap();
    //@include vertical-rhythm();

    @include media('<s') {
      @include footer-gap();
      @include vertical-rhythm();
    }
  }
}
