<template>
  <section class="flex-column flex-gap-10 datetime-select">
    <div class="flex-column flex-gap-2  section-title-container">
      <h3 v-if="isPickup" class="m-0">
        {{ isPickup ? $i18n('workplace.choosePickupTime') : $i18n('workplace.selectReturnDate') }}
      </h3>
    </div>
    <div class="flex-column flex-gap-10 m-b-10">
      <div class="flex-row flex-gap-10 left-label-container datetime-select__rental-start">
        <span class="left-label">
          {{ $i18n('workplace.rescheduleRequest.rentalStart') }}
        </span>
        <span>
          {{ originalStartDateTime | momentSlashFormat }} {{ originalStartDateTime | momentShortTime }}
        </span>
      </div>
      <div class="flex-row flex-gap-10 left-label-container">
        <span class="left-label">
          {{ $i18n('workplace.rescheduleRequest.originalReturn') }}
        </span>
        <span>
          {{ originalReturnDateTime | momentSlashFormat }} {{ originalReturnDateTime | momentShortTime }}
        </span>
      </div>
    </div>
    <div class="flex-row flex-gap-10 input-wrapper">
      <div class="calendar_container m-0">
        <ur-calendar
          :label="isRequestingPickup ? $i18n('workplace.rescheduleRequest.pickupDate') : $i18n('workplace.extendContract')"
          :minDate='minDate'
          :satOff='false'
          :sunOff='false'
          :watchMoment='true'
          :disableWeekends='false'
          class='calendar_start'
          :selectedMoment='selectedDateTime'
          @date-select='onCalendarChange($event)'
      />
      </div>
      <ur-select
        :label="$i18n('checkout.time')"
        :suppressEmptyOption="true"
        :value="selectedDateTime.toISOString()"
        @change="setSelectedTime($event)">
        <template v-for="(option, idx) in dateTimeOptions">
          <option v-if="option.enabled" :key="idx" :value="option.iso">
            <template v-if="option.isNow">
              {{ $i18n('checkout.now') }}
            </template>
            <template v-else>
              {{ option.iso | momentShortTime }}
            </template>
          </option>
        </template>
      </ur-select>
    </div>
    <span class="fs-small">
      {{ $i18n('workplace.rescheduleRequest.noteRentalDays') }}
    </span>
  </section>

</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../shared/request-pickup/datetime-select';
</style>

<script>
  import * as moment from 'moment';
  import DateTime from '@/utils/dateTime';
  import { mapActions, mapState, mapGetters } from 'vuex';
  import UrCalendar from '@/components/common/ur-calendar.vue';
  import UrSelect from '@/components/common/form/ur-select.vue';
  import types from '@/store/types';

  import { dateFormat } from '@/utils';

  export default {
    name: 'RescheduleRequestDatetimeSelect',
    components: {
      UrCalendar,
      UrSelect,
    },
    mounted() {
      !this.isPickup ? this.mountedExtendingContractDateTime() : this.mountedRequestingPickupDateTime();
    },
    computed: {
      ...mapGetters({
        branchHoursOffset: types.workplace.rescheduleRequest.branchHoursOffset,
        isPickup: types.workplace.rescheduleRequest.isPickup,
        originalStartDateTime: types.workplace.rescheduleRequest.originalStartDateTime,
        originalReturnDateTime: types.workplace.rescheduleRequest.originalReturnDateTime,
      }),
      ...mapState({
        branch: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.branch,
        selectedDateTime: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.selectedDateTime,
      }),
      isExtendingContract() {
        return !this.isPickup;
      },
      isRequestingPickup() {
        return this.isPickup;
      },
      branchNowRounded() {
        const branchNow = moment(moment.utc().subtract(this.branchHoursOffset, 'hours').format(dateFormat.iso));
        return DateTime.round(branchNow, moment.duration(30, 'minutes'), 'floor');
      },
      originalEndDate() {
        return moment(this.originalReturnDateTime);
      },
      now() {
        return moment();
      },
      tomorrow() {
        return moment().add(1, 'days');
      },
      oneDayAfterOriginalEndDate() {
        const originalEndDate = this.originalEndDate.add(1, 'days');
        originalEndDate
          .hours(this.originalStartDateTime.hours())
          .minutes(this.originalStartDateTime.minutes())
          .seconds(this.originalStartDateTime.seconds());

        return this.nearestHalfHourFor(originalEndDate);
      },
      minDate() {
        if (this.isRequestingPickup) return this.now;

        return this.originalEndDate.isBefore(this.now) ? this.tomorrow : this.oneDayAfterOriginalEndDate;
      },
      selectedDateIsToday() {
        return this.selectedDateTime && this.selectedDateTime.isSame(this.branchNowRounded, 'day');
      },
      dateTimeOptions() {
        const selectedDate = this.selectedDateTime.clone().hours(0).minutes(0).seconds(0);
        return DateTime.chunkify(selectedDate, selectedDate.clone().add(1, 'days')).map(opt => ({
          enabled: !(this.isPickup && this.selectedDateIsToday && opt.isBefore(this.branchNowRounded, 'minutes')),
          isNow: this.selectedDateIsToday && opt.isSame(this.branchNowRounded, 'minutes'),
          iso: opt.clone().toISOString(),
        }));
      },
    },
    methods: {
      ...mapActions({
        setSelectedDateTime: types.workplace.rescheduleRequest.setSelectedDateTime,
      }),
      nearestHalfHourFor(dateTime) {
        return DateTime.round(dateTime, moment.duration(30, 'minutes'), 'floor');
      },
      mountedExtendingContractDateTime() {
        if (!this.isExtendingContract) return this;

        this.originalEndDate.isBefore(this.now) ? this.setOverdueDateTime() : this.setNonOverdueDateTime();

        return this;
      },
      mountedRequestingPickupDateTime() {
        this.setSelectedDateTime(moment(this.branchNowRounded));

        return this;
      },
      setOverdueDateTime() {
        this.setDateTime(this.tomorrow, false);
      },
      setNonOverdueDateTime() {
        this.setDateTime(this.oneDayAfterOriginalEndDate, false);
      },
      onCalendarChange(maybeDateTime, ignoreTime = true) {
        this.setDateTime(maybeDateTime, true, true);
      },
      setDateTime(maybeDateTime, ignoreTime = false, originalTime = false) {
        const dateTime = !maybeDateTime
          ? this.branchNowRounded.clone()
          : moment.isMoment(maybeDateTime)
            ? maybeDateTime.clone()
            : moment(maybeDateTime);

        if (ignoreTime) {
          dateTime
            .hours(this.selectedDateTime.hours())
            .minutes(this.selectedDateTime.minutes())
            .seconds(this.selectedDateTime.seconds());
        }

        if (originalTime || !ignoreTime) {
          dateTime
            .hours(this.originalStartDateTime.hours())
            .minutes(this.originalStartDateTime.minutes())
            .seconds(this.originalStartDateTime.seconds());
        }

        const dateTimeFinal = this.nearestHalfHourFor(dateTime);
        this.setSelectedDateTime(dateTimeFinal);
      },
      setSelectedTime(maybeDateTime) {
        const dateTime = moment.isMoment(maybeDateTime) ? maybeDateTime : moment(maybeDateTime);
        this.setSelectedDateTime(this.nearestHalfHourFor(dateTime));
      },
    },
    watch: {
      originalStartDateTime() {
        this.setDateTime();
      },
    },
  };
</script>
