<template>
  <div class="email-recipients flex-row flex-gap-10 grow">

    <div class="flex-column flex-gap-10 m-t-10 m-b-10 w-100pct">
      <h3 class="m-t-0 section-title-container m-b-5">{{ $i18n('workplace.rescheduleRequest.addConfirmationRecipients')
        }}</h3>

      <label class="form-item__label m-b-2 form-item__label--textfield">
        {{ $i18n('workplace.rescheduleRequest.emailOptional') }}
      </label>
      <div class="input-row m-b-12 align-items-baseline w-100pct" ref="inputWrapper">

        <q-input
          class="new-item-input w-100pct"
          v-model="pendingEmail"
          :secondary-click-handler="clear.bind(this,'pendingEmail')"
          :placeholder="$i18n('workplace.rescheduleRequest.emailPlaceholder')"
          :has-error="$v.pendingEmail.$error"
          :message="$i18n('workplace.rescheduleRequest.pleaseEnterValidEmail')"
          :maxlength="50"
          v-on:keyup.enter="handleNewButtonClick(pendingEmail)"
        />
        <button
          @click="handleNewButtonClick(pendingEmail)"
          class="new-item-button button-action button--filled/">
        </button>
      </div>

      <ul>
        <li v-for="emailRecipient in emailRecipients" v-bind:key="emailRecipient">
          <button class="search-term-badge ur-query-link-active" @click="handleRemoveBadge(emailRecipient)">
            <span class="subfilter-label">{{emailRecipient}}</span>
          </button>
        </li>
      </ul>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../shared/request-pickup/email-recipients';
</style>

<script>

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { email } from 'vuelidate/lib/validators';


  export default {
    name: 'rescheduleRequestEmailRecipients',
    data() {
      return {
        pendingEmail: '',
      };
    },
    props: {
      bus: {
        type: Object,
      },
    },
    computed: {
      ...mapState({
        tcUserEmail: state => state.tcUser.email,
        emailRecipients: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.emailRecipients,
      }),
      emailString() {
        return this.emailRecipients.join(';');
      },
    },
    mounted() {
      this.bus.$on('saveEmailFromParent', this.handleNewButtonClick);
      if (!this.tcUserEmail || !this.tcUserEmail.length) return;
      this.saveEmailRecipients([this.tcUserEmail, ...this.emailRecipients.filter(str => str !== this.tcUserEmail)]);
    },
    beforeDestroy() {
      this.bus.$off('saveEmailFromParent', this.handleNewButtonClick);
    },
    methods: {
      ...mapActions({
        saveEmailRecipients: types.workplace.rescheduleRequest.saveEmailRecipients,
      }),
      handleRemoveBadge(emailRecipient) {
        this.saveEmailRecipients(this.emailRecipients.filter(str => str !== emailRecipient));
      },
      scrollToErrorMessage() {
        const objDiv = document.querySelector('.modal .modal-framed .modal-framed__main');
        if (objDiv) objDiv.scrollTop = objDiv.scrollHeight;
      },
      handleNewButtonClick(email = null, resolve, reject) {
        if (resolve) email = this.pendingEmail;
        this.$v.$touch();
        if (this.$v.$invalid) {
          this.scrollToErrorMessage();
          if (reject) reject(false);
          return;
        }
        else if (email === '') {
          if (resolve) resolve(true);
          return;
        }
        this.saveEmailRecipients([email, ...this.emailRecipients.filter(str => str !== email)]);
        this.pendingEmail = '';
        this.$v.$reset();
        // manual update, otherwise not clearing here
        const el = document.body.querySelector('.new-item-input input');
        if (el) el.value = '';
        // ---
        if (resolve) resolve(true);
      },
      clear(field) {
        this[field] = '';
        this.$v.$reset();
      },
    },
    validations: {
      pendingEmail: { email },
    },
  };

</script>
