<template>
  <div v-if="!equipmentListIsEmpty" class="flex-column m-b-5 equipment-select-list">
    <div v-if="isPickup && !readonly && equipmentList.length > 1" class="m-b-5">
      <h3 class="m-r-2 m-b-0 m-l-0 display-inline-block  section-title-container" style="width: auto">{{
        $i18n('workplace.selectItemsToReturn') }}
      </h3>
    </div>
    <div v-if="equipmentList.length > 1 && !readonly && isPickup" class="flex-row justify-space-between">
      <ur-checkbox
        :label="$i18n('workplace.rescheduleRequest.selectAll')"
        :checked="allEquipmentIsSelected"
        @change="onSelectAllEquipmentChecked($event)"/>
      <ur-error-label
        v-if="!atLeastOneEquipmentIdSelected"
        class="m-0"
        :message="$i18n('workplace.pleaseSelectAnItem')"/>
    </div>


    <div class="equipment-select-list__item-wrapper">
      <template v-for="(equipment) in sortedEquipment.slice(0, showCount)">
        <div
          v-if="!readonly || equipmentIsSelected(equipment.equipmentId)"
          :key="equipment.equipmentId"
          class="equipment-select-list__item flex-row flex-gap-20 align-items-center">
          <div class="align-items-center">
            <ur-checkbox
              v-if="isPickup && equipmentList.length > 1 && !readonly"
              :checked="equipmentIsSelected(equipment.equipmentId)"
              @change="onEquipmentChecked($event, equipment.equipmentId)"/>

            <img :src="equipmentImgSrc(equipment)"/>

            <div class="flex-column justify-center" style="height: 100%">
              <p class="m-0 m-b-2 fs-small c-gray">{{ $i18n('workplace.rescheduleRequest.equipmentId') }}: {{
                equipment.equipmentId }}</p>
              <p v-if="!readonly" class="m-0 m-b-2 fw-bold">{{ equipment.dalDescription }}</p>
              <a v-else
                 class="m-0 m-b-2 fw-bold"
                 target="__blank"
                 :href="`/marketplace/equipmentPageByCatClass/${equipment.catClass}`">
                {{ equipment.dalDescription }}
              </a>
              <leniency-rates-text
                v-if="!readonly"
                class="fs-small m-0"
                :transactionId="equipment.transId"
                :lineNumber="equipment.transLineId"/>
              <span
                v-else-if="
                isPickup
                && (equipment.quantityOnRent - equipment.quantityPendingPickup) > 1
                && equipmentQuantity(equipment.equipmentId) > 0"
                class="fs-small m-0">
              {{ $i18n('workplace.rescheduleRequest.pickupQty') }}: {{ equipmentQuantity(equipment.equipmentId) }} {{ $i18n('workplace.rescheduleRequest.of') }} {{ equipment.quantityOnRent - equipment.quantityPendingPickup }}
            </span>
            </div>
          </div>
          <div class="grow"></div>
          <div class="quantity-selector-container">

            <div class="grow"></div>
            <quantity-selector class="quantity-selector"
                v-if="isPickup && !readonly && (equipment.quantityOnRent - equipment.quantityPendingPickup) > 1"
                @change="setSelectedEquipmentQtyById({ equipmentId: equipment.equipmentId, quantity: $event })"
                :max="(equipment.quantityOnRent - equipment.quantityPendingPickup)"
                :value="equipmentQuantity(equipment.equipmentId)"
            />
          </div>
        </div>
      </template>
    </div>
    <div class="flex-column align-start" v-if="sortedEquipment.length > 3">
      <q-button
        @click="showMore()"
        :icon="this.showCount < sortedEquipment.length ? 'add' : 'remove'"
        :text="showMoreLabel"
        size="regular"
        class="no-grow expand-button flex-row-reverse flex-gap-5 p-0 m-b-15 m-t-0"
        buttonStyle="tertiary"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../shared/request-pickup/equipment-select-list';
</style>

<script>
  import { get } from 'lodash';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import LeniencyRatesText from '@/components/workplace/reschedule-request/leniency-rates-text.vue';
  import QuantitySelector from '@/components/workplace/common/quantity-selector.vue';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';
  import UrErrorLabel from '@/components/common/form/ur-error-label.vue';
  import types from '@/store/types';

  export default {
    name: 'rescheduleRequestEquipmentSelectList',
    components: {
      LeniencyRatesText,
      QuantitySelector,
      UrCheckbox,
      UrErrorLabel,
    },
    data() {
      return {
        showCount: 3,
      };
    },
    props: {
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapState({
        catalogEquipment: ({ catalog }) => catalog.equipment,
        equipmentList: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.equipmentList,
        selectedEquipmentQtys: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.selectedEquipmentQtys,
      }),
      ...mapGetters({
        allEquipmentIsSelected: types.workplace.rescheduleRequest.allEquipmentIsSelected,
        atLeastOneEquipmentIdSelected: types.workplace.rescheduleRequest.atLeastOneEquipmentIdSelected,
        equipmentListIsEmpty: types.workplace.rescheduleRequest.equipmentListIsEmpty,
        isExtension: types.workplace.rescheduleRequest.isExtension,
        isPickup: types.workplace.rescheduleRequest.isPickup,
        selectedEquipment: types.workplace.rescheduleRequest.selectedEquipment,
      }),
      showMoreLabel() {
        return this.showCount < this.sortedEquipment.length
          ? `${this.$i18n('workplace.rescheduleRequest.viewAll')} ${this.sortedEquipment.length} ${this.$i18n('workplace.rescheduleRequest.items')}`
          : this.$i18n('workplace.rescheduleRequest.viewLess');
      },
      sortedEquipment() {
        const selectedItem = this.equipmentList.find(item => item.transLineId === this.$route.query.transLineId);
        const list = [...this.equipmentList]
          .filter(item => item !== selectedItem)
          .sort((a, b) => {
            const textA = a.dalDescription.toUpperCase();
            const textB = b.dalDescription.toUpperCase();
            if (textA < textB) {
              return -1;
            }
            else if (textA > textB) {
              return 1;
            }
            else {
              return 0;
            }
          });

        const results = selectedItem
          ? [selectedItem, ...list]
          : list;
        if (!this.readonly) {
          return results;
        }
        else {
          return results.filter(equipment => this.equipmentIsSelected(equipment.equipmentId));
        }
      },
    },

    methods: {
      ...mapActions({
        selectAllEquipment: types.workplace.rescheduleRequest.selectAllEquipment,
        unselectAllEquipment: types.workplace.rescheduleRequest.unselectAllEquipment,
        setEquipmentSelectedById: types.workplace.rescheduleRequest.setEquipmentSelectedById,
        setSelectedEquipmentQtyById: types.workplace.rescheduleRequest.setSelectedEquipmentQtyById,
      }),
      equipmentImgSrc(eqp) {
        return get(this.catalogEquipment, [eqp.catClass, 'imageUrls', 0], '/themes/custom/unitedrentals/images/placeholders/equipment-null-500.png');
      },
      equipmentIsSelected(equipmentId) {
        return this.selectedEquipment.map(eqp => eqp.equipmentId).includes(equipmentId);
      },
      equipmentQuantity(equipmentId) {
        return this.selectedEquipmentQtys[equipmentId];
      },
      onEquipmentChecked(checked, equipmentId) {
        this.setEquipmentSelectedById({ equipmentId, selected: checked });
      },
      onSelectAllEquipmentChecked(checked) {
        if (checked) {
          this.selectAllEquipment();
          this.showCount = this.equipmentList.length;
        }
        else {
          this.unselectAllEquipment();
        }
      },
      showMore() {
        if (this.showCount === this.equipmentList.length) {
          this.$emit('equipmentListExpanded', false);
          this.showCount = 3;
          return;
        }
        this.$emit('equipmentListExpanded', true);
        this.showCount = this.equipmentList.length;
      },
    },
  };

</script>
