<template>
  <p
    v-if="leniencyText !== ''"
    class="m-0"
    :class="`${classaddon}`">
    {{ leniencyText }}
  </p>
</template>

<script>
  import * as moment from 'moment';
  import { mapState } from 'vuex';

  import { find } from 'lodash';

  import i18n from '@/data/i18n';

  export default {
    name: 'leniency-rates-text',
    computed: {
      ...mapState({
        leniencyRates: state => state.workplace.leniencyRates,
      }),
    },
    data() {
      return {
        leniencyText: '',
        inLeniency: false,
      };
    },
    props: {
      classaddon: {
        default: '',
      },
      transactionId: {
        required: true,
      },
      lineNumber: {
        required: true,
      },
    },
    mounted() {
      this.updateLeniencyText();
    },
    methods: {
      findCurrentLeniency() {
        if (!(this.transactionId in this.leniencyRates)
          || !(this.lineNumber in this.leniencyRates[this.transactionId])) {
          return false;
        }
        const leniency = find(this.leniencyRates[this.transactionId][this.lineNumber], (rate) => {
          const now = moment();
          return (now.isSameOrAfter(moment(rate.startDate, 'YYYY-MM-DD'), 'day')
            && moment(rate.endDate, 'YYYY-MM-DD').isSameOrAfter(now, 'day'));
        });
        return leniency;
      },
      findNextLeniency() {
        if (!(this.transactionId in this.leniencyRates) || !(this.lineNumber in this.leniencyRates[this.transactionId])) {
          return false;
        }
        const leniency = find(
          this.leniencyRates[this.transactionId][this.lineNumber],
          rate => moment(rate.startDate, 'YYYY-MM-DD').isAfter(moment(), 'day'),
        );
        return leniency;
      },
      updateLeniencyText() {
        this.inLeniency = false;
        if (!(this.transactionId in this.leniencyRates)
          || !(this.lineNumber in this.leniencyRates[this.transactionId])) {
          return '';
        }
        let leniency = this.findCurrentLeniency();

        if (leniency) {
          this.leniencyText = `${i18n.workplace.inLeniencyUntil} ${moment(leniency.endDate, 'YYYY-MM-DD').format('MM/DD/YY')}`;
          this.inLeniency = true;
          return;
        }

        leniency = this.findNextLeniency();
        if (!leniency) {
          this.leniencyText = '';
          return;
        }
        this.leniencyText = `${i18n.workplace.leniencyStarts} ${moment(leniency.startDate, 'YYYY-MM-DD').format('MM/DD/YY')}`;
      },
    },
    watch: {
      leniencyRates() {
        this.updateLeniencyText();
      },
    },
  };
</script>
