<template>
  <div>
    <div class="modal-header jobsite-modal-header">
      <h3>{{ $i18n('job.addJobsite') }}</h3>
    </div>
    <div class="modal-body jobsite-modal-body">
      <form class="jobsite-form">
        <div class="jobsite-form-row-inline">
          <jobsite-name-text-input :value="job.name" @input="name => updateFormField({name})"/>
          <contact-text-input :value="job.contact" @input="contact => updateFormField({contact})"/>
          <phone-text-input :value="job.mobilePhone" @input="mobilePhone => updateFormField({mobilePhone})"/>
        </div>
        <email-text-input :value="job.email" @input="email => updateFormField({email})"/>
        <address1-text-input :value="job.address1" @input="address1 => updateFormField({address1})"/>
        <address2-text-input :value="job.address2" @input="address2 => updateFormField({address2})"/>
        <div class="jobsite-form-row-inline jobsite-address">
          <city-text-input :value="job.city" @input="city => updateFormField({city})"/>
          <state-select :value="job.state" :country='countryCode' @change="state => updateFormField({state})"/>
          <zip-text-input :value="job.zip" @input="zip => updateFormField({zip})"/>
          <country-select :value="countryCode" @change="country => updateFormField({country})"/>
        </div>

        <delivery-instructions-textarea
          :value="job.notes"
          @input="notes => updateFormField({notes})"
        />
      </form>
    </div>
    <div class="modal-footer jobsite-modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
        :disabled="isSaving"
      >
        <span v-if="!isSaving">{{ $i18n('ur.save') }}</span>
        <ur-loading-spinner v-if="isSaving" class="icon-button-spinner" />
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .icon-button-spinner {
    font-size: 1.5em;
    text-align: center;
  }
</style>

<script type="text/babel">
  import JobsiteNameTextInput from '@/components/common/form/text-input/jobsite-name';
  import Address1TextInput from '@/components/common/form/text-input/address1';
  import Address2TextInput from '@/components/common/form/text-input/address2';
  import CityTextInput from '@/components/common/form/text-input/city';
  import StateSelect from '@/components/common/form/select/state';
  import ZipTextInput from '@/components/common/form/text-input/zip';
  import CountrySelect from '@/components/common/form/select/country';
  import DeliveryInstructionsTextarea from '@/components/common/form/textarea/delivery-instructions';
  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';
  import UrGtm from '@/mixins/ur-gtm';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import { mapActions, mapState } from 'vuex';
  import { minLength, required } from 'vuelidate/lib/validators';
  import types from '@/store/types';

  const SNAPSHOT_TYPE = types.jobs.reloadForm;

  export default {
    components: {
      JobsiteNameTextInput,
      Address1TextInput,
      Address2TextInput,
      CityTextInput,
      StateSelect,
      ZipTextInput,
      CountrySelect,
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
      DeliveryInstructionsTextarea,
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        job: state => state.jobs.form,
        jobIsEmpty: state => Object.values(state.jobs.form).join('') === '',
      }),
      /**
       * If the country code hasn't already been set, use the country from
       * rates place.
       *
       * @return {string} country code
       */
      countryCode() {
        return (this.job.country) ? this.job.country : 'US';
      },
    },
    created() {
      this.takeJobSiteFormSnapShot();
    },
    data() {
      return {
        isSaving: false,
      };
    },
    methods: {
      ...mapActions({
        addJobsite: types.jobs.addJobsite,
        resetJobsiteForm: types.jobs.resetForm,
        updateFormField: types.jobs.updateFormField,
        createSnapshot: types.snapshot.take,
        replaySnapshot: types.snapshot.replay,
      }),
      cancel() {
        this.closeCallback();
        this.$router.go(-1);
      },
      save() {
        if (this.$v.$invalid) {
          this.$validateChildrenAndScrollToError();
          return;
        }
        this.isSaving = true;
        this.addJobsite(this.$route.params.accountId)
          .then((jobsiteId) => {
            // TODO this functionality should be replaced by utilizing the new observable $store.state.jobs.created...
            // TODO ...which is a list jobsite IDs the user has created.  This whole "afterAddJobsiteAction" stuff is too complicated.
            // TODO ...Currently this is only utilized by platform-account's Edit Quote and Convert Quote flows.
            /**
             * The Route passes in an action to dispatch when a jobsite is created.
             * This action is determined by the workflow that got the user to this form.
             * User's in the Add To Cart workflow will dispatch an action (here) that updates the
             * Default Job Id (which will get loaded by the Cart item Form when this modal closes)
             * User's in the Edit Cart Item workflow will dispatch the same action as the one above.
             * User's in the Checkout > Edit Jobsite workflow will dispatch an action (here) that updates the
             * Reservation Block's Jobsite Id.
             */
            const { afterAddJobsiteAction } = this.$route.params;

            if (typeof afterAddJobsiteAction !== 'undefined') {
              this.$store.dispatch(afterAddJobsiteAction, jobsiteId);
            }

            this.gtmTrackFormSubmissions('add-jobsite', 'save');

            this.$router.go(-1);
          });
      },
      takeJobSiteFormSnapShot() {
        if (this.jobIsEmpty) return this;

        this.createSnapshot({
          type: SNAPSHOT_TYPE,
          data: this.job,
        });

        this.resetJobsiteForm();

        return this;
      },
      closeCallback() {
        this.replaySnapshot({ type: SNAPSHOT_TYPE, reset: true });
      },
    },
    mounted() {
      this.$emit('isValid', this.$v.$invalid);
      this.$watch('$v.$invalid', (invalid) => {
        this.$emit('isValid', invalid);
      });
    },
    mixins: [
      UrGtm,
    ],
    validations: {
      job: {
        address1: { required },
        city: { required },
        country: { required },
        email: {
          email(value) {
            const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // eslint-disable-line
            return regex.test(value);
          },
        },
        contact: {
          required,
          startsWithASpace: (value) => {
            const startsWithASpace = /^\s/.test(value);
            return !startsWithASpace;
          },
        },
        mobilePhone: {
          required,
          minLength: minLength(14),
        },
        name: { required },
        state: { required },
        zip: { required },
      },
    },
    name: 'create-jobsite-form-modal',
  };
</script>
