<template>
  <div class="address-2">
    <ur-text-input
      :label="$i18n('ur.address2')"
      :value="localValue"
      :placeholder="$i18n('ur.address1Placeholder')"
      :maxlength="30"
      @input="onInput"
      :disabled="disabled"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="i18n.errorMessage"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { mapLabels } from '@/utils';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        // Translated strings
        i18n: mapLabels({
          errorMessage: '',
        }),
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
    },
    name: 'address2-text-input',
    props: {
      value: {
        required: true,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    validations: {},
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
