<template>
  <div class="card-cvv">
    <ur-text-input
      :mask="mask"
      :label="$i18n('card.cvv')"
      :value="localValue"
      :placeholder="$i18n('card.cvv')"
      :size=size
      @input="onInput"
      @blur="onBlur"
      type="tel"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.cardCvv')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    computed: {

      /**
       * CCV can be 3-4 digits depending on the type of card.
       * @return {string} ccv mask
       */
      mask() {
        const ccvStandardMask = '0000'; // Can be up to 4 digits
        (this.localValue || '').replace(/\s/g, '');
        return ccvStandardMask;
      },
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'card-cvv-text-input',
    props: {
      value: {
        required: true,
      },
      size: {
        type: Number,
        default: 60,
      },
    },
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
