<template>
  <div class="card-number">
    <ur-text-input
      :mask="mask"
      :label="$i18n('card.number')"
      :value="localValue"
      :placeholder="$i18n('card.numberPlaceholder')"
      @input="onInput"
      @blur="onBlur"
      type="tel"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.cardNumber')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required, minLength } from 'vuelidate/lib/validators';
  import creditCardType from 'credit-card-type';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    computed: {

      /**
       * The mask is a function of the card type, as determined by the first 4
       * digits (using the "credit card type" library).
       * @return {string} card-specific mask
       */
      mask() {
        const amexMask = '0000 000000 00000'; // 15 digits
        const normalMask = '0000 0000 0000 0000'; // 16 digits

        const sanitizedLocalValue = (this.localValue || '').replace(/\s/g, '');

        const type = creditCardType(sanitizedLocalValue)[0];

        if (!type) {
          return normalMask;
        }

        return type.type === 'american-express' ? amexMask : normalMask;
      },
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', this.localValue);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'card-number-text-input',
    props: {
      value: {
        required: true,
      },
    },
    validations: {
      localValue: {
        required,
        minLength: minLength(17),
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
