<template>
  <div class="city">
    <ur-text-input
      :label="$i18n('ur.city')"
      :value="localValue"
      :placeholder="$i18n('ur.cityPlaceholder')"
      :maxlength="20"
      @input="onInput"
      @blur="onBlur"
      :disabled="disabled"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.city')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import { required } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'city-text-input',
    props: {
      value: {
        required: true,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
    },

    validations: {
      value: {
        required,
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
