<template>
  <div class="company-name">
    <ur-text-input
      :label="$i18n('cart.company')"
      :placeholder="$i18n('cart.companyPlaceholder')"
      :value="localValue"
      :maxlength="30"
      @input="onInput"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.required')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
    },
    name: 'company-name-text-input',
    props: {
      value: {
        required: true,
      },
    },
    validations: {
      localValue: {},
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
