<template>
  <div class="contact-name">
    <ur-text-input
      :placeholder="$i18n('job.contactPlaceholder')"
      :label="$i18n('job.contactName')"
      :value="localValue"
      :disabled="disabled"
      :maxlength="30"
      @input="onInput"
      @blur="onBlur"
      style="margin-bottom:0"
      :isTouched="isTouched"
    />
    <ur-error-label
      class="error-message"
      v-if="$v.$error"
      :message="$v.localValue.maxLength ? $i18n('e.contactRequired') : $i18n('e.contactMax')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import FormControlMixin from '../mixins/form-control.mixin';

  // Import Modules
  import { required, maxLength } from 'vuelidate/lib/validators';

  export default {
    mixins: [
      FormControlMixin,
    ],
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    props: {
      isTouched: Boolean,
    },
    name: 'contact-text-input',

    validations: {
      localValue: {
        required,
        maxLength: maxLength(40),
      },
    },
    watch: {
      isTouched(value) {
        if (value) {
          this.$v.$touch();
        }
      },
    },
  };
</script>
