<template>
  <div class="email">
    <ur-text-input
      :label="$i18n('ur.email')"
      :value="localValue"
      :placeholder="$i18n('ur.emailPlaceholder')"
      :disabled="disabled"
      :maxlength="50"
      @input="onInput"
      @blur="onBlur"
      type="email"
    />
    <ur-error-label
      class="error-message"
      v-if="$v.$error"
      :message="err || !$v.value.email ? $i18n('e.emailValidity') : $i18n('e.email')"
    />
  </div>
</template>
<script type="text/babel">
  import UrTextInput from '@/components/common/form/ur-text-input';

  import FormControlMixin from '../mixins/form-control.mixin';
  import { mapActions } from 'vuex';
  import { email, required } from 'vuelidate/lib/validators';
  import types from '@/store/types';

  export default {
    mixins: [
      FormControlMixin,
    ],
    components: {
      UrTextInput,
    },
    methods: {
      ...mapActions({
        toggleFormError: types.jobs.toggleFormError,
      }),
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'email-text-input',
    props: {
      err: Boolean,
    },
    validations: {
      value: {
        required,
        email,
      },
    },
    created() {
      this.toggleFormError(this.$v.$error);
    },
    mounted() {
      this.$watch('$v.$error', (v) => {
        this.toggleFormError(v);
      });
    },
  };
</script>
