<template>
  <div class="jobsite-name">
    <ur-text-input
      :label="$i18n('job.name')"
      :placeholder="$i18n('job.namePlaceholder')"
      :value="localValue"
      :disabled="disabled"
      :maxlength="30"
      @input="onInput"
      @blur="onBlur"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.jobsiteRequired')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required, maxLength } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        // Translated strings
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$emit('blur');
        this.$v.$touch();
      },
    },
    name: 'jobsite-name-text-input',
    props: {
      value: {
        required: true,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    validations: {
      localValue: {
        required,
        maxLength: maxLength(30),
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
