<template>
  <div class="phone-number">
    <ur-text-input
      :placeholder="$i18n('job.phoneNumberPlaceholder')"
      :label="$i18n('job.phoneNumber')"
      :value="localValue"
      mask="(999) 999-9999"
      :disabled="disabled"
      @input="onInput"
      @blur="onBlur"
      type="tel"
    />
    <ur-error-label
      class="error-message"
      v-if="$v.$error"
      :message="$i18n('e.mobilePhone')"
    />
  </div>
</template>
<script type="text/babel">
  import UrTextInput from '@/components/common/form/ur-text-input';
  import FormControlMixin from '../mixins/form-control.mixin';

  export default {
    mixins: [
      FormControlMixin,
    ],
    components: {
      UrTextInput,
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'phone-text-input',
    validations: {
      localValue: {
        mobilePhone() {
          return /^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/.test(this.localValue);
        },
      },
    },
  };
</script>
