<template>
  <div class="po-number">
    <ur-text-input
      class="po-text-input"
      :label="label"
      :value="localValue"
      @input="onInput"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('checkout.poNumber') + ' ' + $i18n('e.required')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';

  // Import Modules
  import FormControlMixin from '../mixins/form-control.mixin';
  import { required } from 'vuelidate/lib/validators';

  export default {
    mixins: [
      FormControlMixin,
    ],
    components: {
      UrTextInput,
    },
    computed: {
      label() {
        return this.editLabel
          ? this.$i18n('workplace.newPoLabel')
          : this.$i18n('checkout.po');
      },
    },
    name: 'po-number',
    props: {
      editLabel: {
        type: Boolean,
        default: false,
      },
    },
    validations: {
      localValue: { required },
    },
  };
</script>
