<template>
  <div class="zip-code">
    <ur-text-input
      :label="$i18n('ur.zip')"
      :value="localValue"
      :placeholder="$i18n('ur.zipPlaceholder')"
      :maxlength="10"
      @input="onInput"
      @blur="onBlur"
    />
    <ur-error-label
      class="error-message"
      v-if="$v.$error"
      :message="$i18n('e.zip')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import { minLength, maxLength, required } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'zip-text-input',
    props: {
      value: {
        required: true,
      },
    },
    validations: {
      localValue: {
        // valid for us 5 digits, 5+4 digits, or canadian 6 digits
        zip() {
          const isUsZip = /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(this.localValue);
          const isCaZip = /^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$/.test(this.localValue);
          return isUsZip || isCaZip;
        },
      },
      value: {
        required,
        minLength: minLength(5),
        maxLength: maxLength(10),
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
