.content-panel-footer_container {
  width: 100%;
  background-color: $gray-lightest;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 2px solid $gray-light;

  label {
    font-weight: inherit;
    font-size: .9em;
  }

  .content-panel-footer {
    display: flex;
    flex-direction: row;



    .content-panel_pagination {
      display: flex;
      width: 100%;

      .navigation-arrows {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: space-between;

        .icon-chevron-left,
        .icon-chevron-right {
          flex: 1 1 auto;
          margin-top: 8px;
          opacity: 0.4;
          height: 22px;
          color: $color-blue;
          text-align: center;

          @include breakpoint($break-small) {
            margin-top: 23px;
            margin-bottom:0px;
          }

          &.active {
            opacity: 1;
            cursor: pointer;
          }
        }
      }

      .heading-6 {
        width: 220px;
        color: $gray-dark;
        font-family: $font-family-sans-serif;
        font-weight: normal;
        font-size: $font-size-base;
        display: inline-block;
        height: 20px;
        margin-top: 8px;
        margin-bottom: 5px;
        line-height: 20px;

        @include breakpoint($break-small) {
          width: 240px;
          height: 20px;
          margin-top: 20px;
          line-height: 20px;
        }
      }
    }

  }
}