<div class="content-panel-footer_container column">
  <div class="content-panel-footer">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" %}
    <i class="icon icon-chevron-left"></i><i class="icon icon-chevron-right"></i>
  </div>
  <div>
    <li class="form-item--checkbox__item">
      <input type="checkbox" id="checkbox" name="check-example" checked="checked"/>
      <label for="checkbox" class="label-selection">
        <span class="check">
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>check</title>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="check">
                <rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect>
                <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon>
              </g>
            </g>
          </svg>
        </span>
      </label>Update results when map moves
    </li>
  </div>
</div>