<template>
  <div v-if="branchNotFound" class="cart-block reservation-pickup-delivery">
    <ur-error-label :message="$i18n('cart.branchNotFound')" />
  </div>
  <div v-else class="cart-block reservation-pickup-delivery" :class="progress">
    <div class="info-section">
      <label class="reservation-label">
        {{ $i18n('cartItem.delivery') | uppercase }}
      </label>

      <div v-if="inactive">
        <div class="summary-group-container">
          <div class="summary-group">
            <strong class="reservation-heading">
              {{ startMoment | momentFriendlyFormat }}
            </strong>
          </div>
        </div>
      </div>

      <div v-if="ready">
        <div class="summary-group-container">
          <div class="summary-group">
            <strong class="reservation-heading">
              {{ startMoment | momentFriendlyFormat }}
            </strong>
            <a class="add-preferences" v-if="!small && ready" href="#" @click.prevent="gotoActive">
              {{ $i18n('cart.addDeliveryAndPickupPref') }}
            </a>
          </div>
        </div>
      </div>

      <transition name="tbSlideFade" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <form v-if="active">
          <delivery-select
            :estimated-delivery-fee="estimatedDeliveryFee"
            @change="deliverySelectChange"
            :value="block.delivery"
            :requests-are-in-flight="requestsAreInFlight"
            ref="delSelect"
          />

          <branch-selector
            v-if="block.delivery === false"
            :reservation-block-id="block.id"
            :branch-id="block.branchId"
          />

          <div class="date-time-group start-date-time-group" :style="small ? 'margin-bottom: 0' : ''">
            <div @click="$emit('date-change-warning')" class="date-time-tool">

              <div class="calendar_container">
                <ur-calendar
                  :label="block.delivery ? $i18n('checkout.deliveryDate') : $i18n('checkout.pickupDate')"
                  :satOff="satOff"
                  :sunOff="sunOff"
                  :min-date="minMoment"
                  :satHours="satHours"
                  :sunHours="sunHours"
                  :watchMoment="true"
                  :selected-moment="startMoment"
                  @date-select="onStartDateSelect"
                  class="calendar_start"
                />
              </div>

              <div>
                <ur-error-label v-if="isDateBeforeToday(startMoment)" :message="$i18n('e.errorMessage2')"
                />
                <ur-error-label v-if="invalidTime" :message="$i18n('e.errorMessage7')"
                />
              </div>
            </div>

            <div class="date-time-tool">
              <start-time-select
                :block="block"
                :value="startTime"
                :converted-date="convertedDate"
                :selected-start-moment="startMoment"
                :branch-times="branchOpenHours"
                @fireTimeError="fireTimeError"
                @change="onStartTimeSelect"
                @focus="onStartTimeBlur"
                @blur="onStartTimeBlur"
              />
              <div v-if="branchIsClosedAtTheSelectedTime">
                <ur-error-label :message="$i18n('checkout.startTimeError')" />
              </div>
            </div>
          </div>

        </form>
      </transition>

      <transition name="fadeEnterOnlyLongDelay" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <div v-if="summary || complete">
          <div class="summary-group-container">

            <div class="summary-group">
              <strong class="reservation-heading">
                {{ block.delivery ? $i18n('checkout.urDelivery') : $i18n('checkout.userPickup') }}
              </strong>
              <span class="reservation-heading-supplement">
                + {{ block.delivery ? estimatedDeliveryFee : 0 | currency }}</span>
            </div>

            <div class="summary-group">
              <strong class="reservation-heading">
                {{ startMoment | momentFriendlyFormat }}
              </strong>
              <span class="reservation-heading-supplement">
                {{ startMoment | momentShortTime }}
              </span>
            </div>
          </div>

          <a v-if="summary" class="cart-block__edit-link" href="#" @click.prevent="gotoActive">
            {{ $i18n('ur.edit') }}
          </a>

        </div>
      </transition>
    </div>

    <div class="info-section">
      <label class="reservation-label">
        {{ $i18n('cartItem.return') | uppercase }}
      </label>
      <div v-if="inactive">
        <div class="summary-group-container">
          <div class="summary-group">
            <strong class="reservation-heading">
              {{ endMoment | momentFriendlyFormat }}
            </strong>
          </div>
        </div>
      </div>
      <div v-if="ready">
        <div class="summary-group-container">
          <div class="summary-group">
            <strong class="reservation-heading">
              {{endMoment | momentFriendlyFormat}}
            </strong>
          </div>
        </div>
      </div>

      <transition name="fadeEnterOnlyLongDelay" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <div v-if="summary || complete">
          <div class="summary-group-container">
            <div class="summary-group">
              <strong v-if="block.pickup" class="reservation-heading">
                {{ returnTypeCode === 'A' || block.pickupFirm === true ? $i18n('checkout.prescheduledPickup') : $i18n('checkout.urPickupLater') }}
              </strong>
              <strong v-else class="reservation-heading">
                {{ $i18n('checkout.userReturn') }}
              </strong>
              <span class="reservation-heading-supplement">
                + {{block.pickup ? estimatedPickupFee : 0 | currency}}
              </span>
            </div>
            <div class="summary-group">
              <strong class="reservation-heading">
                {{endMoment | momentFriendlyFormat}}
              </strong>
              <span class="reservation-heading-supplement">
                <template>
                  {{endMoment | momentShortTime}}
                </template>
              </span>
            </div>

          </div>
        </div>
      </transition>

      <transition name="tbSlideFade" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">

        <form v-if="active">
          <pickup-select
            class="pickup-select"
            :estimated-pickup-fee="estimatedPickupFee"
            :returnType="this.returnTypeCode"
            :value="returnTypeCode"
            :requests-are-in-flight="requestsAreInFlight"
          /><br/>
          <div class="date-time-group">
            <div @click="$emit('date-change-warning')" class="date-time-tool">
              <div class="calendar_container">
                <ur-calendar
                  :label="returnDateFieldLabel"
                  :selected-moment="endMoment"
                  :highlight-range="true"
                  :min-date="startMoment"
                  :satOff="satOff"
                  :sunOff="sunOff"
                  :satHours="satHours"
                  :sunHours="sunHours"
                  :watchMoment="true"
                  @date-select="onEndDateSelect"
                  class="calendar_end"
                />
              </div>

              <div v-if="isDateBeforeToday(endMoment)" >
                <ur-error-label :message="$i18n('e.errorMessage2')"/>
              </div>
            </div>

            <div class="date-time-tool">
              <end-time-select
                :block="block"
                :value.sync="endTime"
                :converted-date="convertedDate"
                :branch-times="branchOpenHours"
                @fireTimeError="fireTimeError"
                @change="onEndTimeSelect"
                @blur="onEndTimeBlur"
                @focus="onEndTimeBlur"
              />
              <div v-if="$v.endsEarlier.$invalid || $v.endTime.$error">
                <ur-error-label :message="$i18n('checkout.pickupTimeError')" />
              </div>
            </div>
          </div>

          <div v-if="$v.compareDayTime.$invalid">
            <ur-error-label :message="$i18n('checkout.timeCollisionError')" />
          </div>
          <div v-if="timeError && endTime !== ''">
            <ur-error-label :message="$i18n('checkout.timeError')"/>
          </div>

          <div class="advanced-pickup-checkbox" v-if="block.pickup">
            <i class="icon icon-info-circle"></i>
            <!--Only for UR Pickup-->
            <strong>
              <template v-if="returnTypeCode === 'pickupLater'">{{ $i18n('cart.estimatedTimeMessage') }}</template>
              <template v-else>{{ $i18n('cart.scheduledTimeMessage') }}</template>
            </strong>
          </div>
          <br>

          <delivery-instructions-textarea
            v-if="block.delivery"
            :value="blockJobsite.notes"
            @input="onDeliveryInstructionsInput">
          </delivery-instructions-textarea>
        </form>
      </transition>
    </div>

    <div v-if="summary || complete">
      <div v-if="blockJobsite.notes && block.delivery" class="additional-notes">
        <strong class="reservation-subheading">
          {{ $i18n('checkout.deliveryNotes') }}
        </strong>
        <small class="shipping-notes">
          {{ blockJobsite.notes }}
        </small>
      </div>
      <div v-if="block.pickup === false" class="additional-notes">
        <strong class="reservation-subheading">
          {{ $i18n('checkout.branchLocation') }}
        </strong>
        <strong class="reservation-subheading">
          {{ blockBranch.name }}
        </strong>
        <small class="shipping-notes">
          {{ shippingAddress }}
        </small>
      </div>
    </div>

    <div>
      <a class="add-preferences" v-if="ready && small" href="#" @click.prevent="gotoActive">
        {{ $i18n('cart.addDeliveryAndPickupPref') }}
      </a>
    </div>

    <div class="button-group" v-if="active">
      <button class="button button--style-2 button--filled"
              :class="{
          'button--disabled': cannotCheckout || preventCheckoutValue || timeError || invalidTime
        }"
              :disabled="requestsAreInFlight"
              @click.prevent="save" >
        {{ $i18n('cart.saveAndContinue') }}
      </button>
      <ur-loading-spinner :style="spinnerStyles" v-if="requestsAreInFlight" />
    </div>
  </div>
</template>
<script type="text/babel">
  /* eslint-disable no-console */
  // Import Components
  import UrCalendar from '@/components/common/ur-calendar';
  import BranchSelector from '@/components/cart/reservation-block/delivery-pickup/branch-selector';
  import DeliveryInstructionsTextarea from '@/components/common/form/textarea/delivery-instructions';
  import DeliverySelect from './delivery-pickup/delivery-select.vue';
  import PickupSelect from './delivery-pickup/pickup-select.vue';
  import StartTimeSelect from './delivery-pickup/start-time-select.vue';
  import EndTimeSelect from './delivery-pickup/end-time-select.vue';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import ReservationBlock from '@/lib/reservation-block';
  import ProgressMixin from '@/components/cart/reservation-block/progress-mixin';
  import { dateFormat, dateTime, autocomplete } from '@/utils';
  import { debounce, get, isEmpty, pick } from 'lodash';
  import moment from 'moment';
  import api from '@/api';
  import { FlightToken } from '@/api/flight-track/tokens';
  import UrGtm from '@/mixins/ur-gtm';

  const ESTIMATES_API_PARAM_OVERRIDES = {
    delivery: true,
    pickup: true,
    pickupFirm: true,
  };

  export const DEFAULTS = {
    resetValues(keys) {
      const values = {
        startMoment: {},
        startTime: '',
        endMoment: {},
        endTime: '',
        timeError: false,
      };
      if (!keys) return values;
      return pick(values, keys);
    },
  };

  export default {
    components: {
      UrCalendar,
      BranchSelector,
      DeliveryInstructionsTextarea,
      DeliverySelect,
      PickupSelect,
      StartTimeSelect,
      EndTimeSelect,
      UrErrorLabel,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
      ]),
      ...mapGetters({
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        relatedStartMomentFromQuantitySection: state => state.cartItemForm.startDate,
        relatedEndMomentFromQuantitySection: state => state.cartItemForm.endDate,
        blockBranch(state) {
          return get(state.branch.all, [this.block.branchId], {});
        },
        blockJobsite(state) {
          return get(state.jobs.all, [this.block.accountId, this.block.jobsiteId], state.jobs.form);
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
        branches: state => state.branch.all,
        isSubmitting: state => state.checkout.isSubmitting,
      }),
      returnDateFieldLabel() {
        switch (this.returnTypeCode) {
          case 'A':
            return this.$i18n('checkout.UrPickupDate');
          case 'Y':
            return this.$i18n('checkout.UrEstimatedPickupDate');
          default:
            return this.$i18n('checkout.dropOffDate');
        }
      },
      branchIsClosedAtTheSelectedTime() {
        const placeholder = (this.startTime === '00:00' || this.startTime === '');

        return (
          this.$v.startsLater.$invalid
          | (this.$v.startsLater.$invalid && this.$v.startTime.$error)
          && !placeholder
        );
      },
      startTimePlaceholder: () => (this.startTime === ''),
      endTimePlaceholder: () => (this.endTime === ''),
      midNightIsSelected() {
        return this.startTime === '00:00' || this.endTime === '00:00';
      },
      blockBranchId() {
        return this.block.branchId;
      },
      estimatedDeliveryFee() {
        const overrides = {
          ...ESTIMATES_API_PARAM_OVERRIDES,
          branchId: this.branchClosestToJobsite,
        };
        const estimate = this.getEstimate(this.block.id, overrides);
        return get(estimate, ['totals', 'deliveryFee'], '--');
      },
      estimatedPickupFee() {
        const overrides = {
          ...ESTIMATES_API_PARAM_OVERRIDES,
          branchId: this.branchClosestToJobsite,
        };
        const estimate = this.getEstimate(this.block.id, overrides);
        return get(estimate, ['totals', 'pickupFee'], '--');
      },
      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getBranchData,
          FlightToken.getNearbyBranchData,
          FlightToken.fetchChargeEstimates,
        );
      },
      branchOffset() {
        if (!this.blockBranch) return 0;

        let branchOffset = this.blockBranch.timeOffset;

        if (!branchOffset) return 0;

        branchOffset = Number(branchOffset) + this.hoursToSubtract();
        branchOffset = branchOffset.toString().replace('00', '');
        branchOffset = branchOffset.toString().replace('-', '');

        return branchOffset;
      },
      branchOpenHours() {
        const hours = get(this.branches[this.blockBranch.branchId], 'weekdayHours', {});
        const satHours = get(this.branches[this.blockBranch.branchId], 'saturdayHours', {});
        const sunHours = get(this.branches[this.blockBranch.branchId], 'sundayHours', {});
        const usualStartTime = !isEmpty(hours) ? dateTime.toDecimal(hours.open) : '';
        const satStartTime = !isEmpty(satHours) ? dateTime.toDecimal(satHours.open) : '';
        const sunStartTime = !isEmpty(sunHours) ? dateTime.toDecimal(sunHours.open) : '';
        const durationOfUsualTime = (hours.close) ? (dateTime.toDecimal(hours.close) - usualStartTime) : 0.0;
        const durationOfSaturdaysTime = (satStartTime && !isEmpty(satHours)) ? dateTime.toDecimal(satHours.close) - satStartTime : '';
        const durationOfSundaysTime = (sunStartTime && !isEmpty(sunHours)) ? dateTime.toDecimal(sunHours.close) - sunStartTime : '';

        return {
          start: usualStartTime,
          satStart: satStartTime,
          sunStart: sunStartTime,
          duration: durationOfUsualTime,
          satDuration: durationOfSaturdaysTime,
          sunDuration: durationOfSundaysTime,
        };
      },
      minMoment() {
        // Default timeOffset = UTC Timezone
        const date = {
          time: moment.utc().format(dateFormat.iso),
          offset: this.branchOffset,
        };

        // default offset = UTC ==> only subtract
        const adjustedMoment = moment(date.time).subtract(date.offset, 'hours');
        /**
         * If it's "after hours" in the time zone of
         * the branch the minimum date is tomorrow.
         * Otherwise it's still today
         *
         * @TODO: The lastHour value should not be hard coded, but we haven't implemented the branch hours lookup
         * As soon as we look up the "real" branch operating hours this variable should be replaced.
         */
        const lastHour = 17;
        if (adjustedMoment.hour() >= lastHour) {
          return adjustedMoment.add(1, 'days');
        }
        return adjustedMoment;
      },
      // Set this as TRUE only if satHours and sunHours, BOTH are empty.
      disableWeekends() {
        return isEmpty(this.sunHours) && isEmpty(this.satHours);
      },
      satOff() {
        return isEmpty(this.satHours);
      },
      sunOff() {
        return isEmpty(this.sunHours);
      },
      satHours() {
        return this.blockBranch.branchId ? this.branches[this.blockBranch.branchId].saturdayHours : {};
      },
      sunHours() {
        return this.blockBranch.branchId ? this.branches[this.blockBranch.branchId].sundayHours : {};
      },
      invalidStartMomentHours() {
        return parseInt(this.startMoment.format('HHmm'), 10);
      },
      startMomentIsSaturday() {
        return this.startMoment.day() === 6;
      },
      startMomentIsSunday() {
        return this.startMoment.day() === 0;
      },
      endMomentIsSaturday() {
        return this.endMoment.day() === 6;
      },
      endMomentIsSunday() {
        return this.endMoment.day() === 0;
      },
      invalidStartMomentIsSaturday() {
        return (this.startMomentIsSaturday && this.satOff);
      },
      invalidEndMomentIsSunday() {
        return (this.endMomentIsSunday && this.sunOff);
      },
      invalidEndMomentIsSaturday() {
        return (this.endMomentIsSaturday && this.satOff);
      },
      invalidStartMomentIsSunday() {
        return (this.startMomentIsSunday && this.sunOff);
      },
      endMomentIsValidSaturday() {
        return (this.endMomentIsSaturday && !this.satOff);
      },
      endMomentIsValidSunday() {
        return (this.endMomentIsSunday && !this.sunOff);
      },
      hasSelectedInvalidWeekendMoment() {
        return (this.invalidStartMomentIsSaturday
          || this.invalidStartMomentIsSunday
          || this.invalidEndMomentIsSaturday
          || this.invalidEndMomentIsSunday
        );
      },
      shippingAddress() {
        return `${this.blockBranch.address1}, ${this.blockBranch.city} ${this.blockBranch.zip}`;
      },
    },
    data() {
      return {
        ...DEFAULTS.resetValues(),
        // This flag gets flipped if the user enters "delivery notes", which are really Jobsite Notes.
        mustSaveJobsite: false,
        jobsiteBranchId: this.block.branchId,
        branchClosestToJobsite: this.block.branchId,
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
        validHour: 0,
        invalidTime: false,
        branchNotFound: false,
        returnType: '',
        returnTypeCode: 'N',
      };
    },
    created() {
      /*
       * Register pre-populated value for pickup delivery dropdown via vuex store
       */
      this.$root.$on('pickup-select-change', this.pickupSelectChange);
      this.$root.$on('delivery-select-change', this.deliverySelectChange);
      this.updateReservationWithJobsiteBranch = debounce(this.updateReservationWithJobsiteBranch, 500);
      this.updatePickupAndDeliveryFees = debounce(this.updatePickupAndDeliveryFees, 500);
    },
    methods: {
      /*
       * Pre-populate pickup-delivery dropdown via vuex store on initial page load
       */
      /* registerPickupSelectDropdown() {
        this.$store.commit(types.pickupDelivery.select, { returnType: this.returnType });
      }, */
      ...mapActions({
        fetchBranch: types.branch.fetchById,
        fetchProjectedEstimates: types.checkout.fetchProjectedEstimates,
        updateBillingDeliveryNote: types.checkout.billingDeliveryNote,
        updateItems: types.cart.updateItemsByReservationId,
        updateTransType: types.checkout.billingTransType,
        updateJobsiteFormField: types.jobs.updateFormField,
        loadJobsiteForm: types.jobs.loadForm,
        saveItems: types.cart.saveItemsByReservationId,
        saveJobsiteForm: types.jobs.saveForm,
      }),
      initDateTime() {
        // IF this is a new cart item the hour will be 0 (zed)
        // which is the same as false. IF the user selects the
        // midnight time range then the earliest moment will
        // be 12:01 am (midnight plus one minute) so we can
        // be sure that there will always be a null test
        // see: /vue/src/utils/dateTime.js -> options
        this.timeError = false;
        this.startMoment = get(this.block, 'startMoment', '');
        this.endMoment = get(this.block, 'endMoment', '');

        const start = this.startMoment ? this.startMoment.format('HH:mm') : '';
        const end = this.endMoment ? this.endMoment.format('HH:mm') : '';

        /** TODO: This method doesn't check for holidays */
        if (this.hasInvalidWeekendDays()) return;
        if (this.startMomentIsBeforeOrAfterHours(start)) {
          this.throwTimeError();
          return;
        }
        if (this.endMomentIsBeforeOrAfterHours(end)) {
          this.throwTimeError();
          return;
        }
        this.startTime = start;
        this.endTime = end;
      },
      resetValues(keys) {
        // As pointless as this method seems, at the time of
        // writing this component is 1070-ish lines long.
        Object.assign(this, DEFAULTS.resetValues(keys));
      },
      updateBlockItem(field = {}) {
        return this.updateItems({ reservationBlockId: this.block.id, field });
      },
      resetDates() {
        if (this.isSubmitting) {
          console.info('Skipping resetDates during submission...');
          return;
        }
        this.updateBlockItem({ startDate: moment(undefined), endDate: moment(undefined) });
        this.resetValues(['startMoment', 'endMoment', 'startTime', 'endTime']);

        this.gotoReady();
        this.$parent.progress.billing = 'inactive';
      },
      throwTimeError() {
        this.resetValues(['startTime', 'endTime']);
        // Blank out the hour selection
        const adjStartDate = this.startMoment;
        adjStartDate.set({
          hours: 0,
          minutes: 0,
        });
        const adjEndDate = this.endMoment;
        adjEndDate.set({
          hours: 0,
          minutes: 0,
        });
        // This also updates the end times, per biz rules. This is only to
        // be set on initial load else it causes errors.
        this.updateItems({ reservationBlockId: this.block.id, field: { startDate: adjStartDate } });
        this.updateItems({ reservationBlockId: this.block.id, field: { endDate: adjEndDate } });
        // Show the error message
        this.timeError = true;
      },
      // tell the parent the component form has transitioned, either into an active state or not
      afterTransitionLeave() {
        this.$emit('closed-animation', {});
      },

      leaveTransition() {
        this.$emit('closing-animation', {});
      },

      enterTransition() {
        const { small } = this;
        if (small) {
          this.$emit('opening-animation', {
            isActive: this.active,
            elToScrollTo: this.$refs.delSelect,
          });
        }
        else {
          this.$emit('opening-animation', {
            isActive: this.active,
            elToScrollTo: document.querySelector('.cart__jobsite-raw-blocks'),
          });
        }
      },

      afterTransitionEnter() {
        this.$emit('opened-animation', {});
      },

      // TODO If the user changes the delivery notes, take note, and then when they hit Save, send
      // TODO the new notes to the Jobsite API.
      onDeliveryInstructionsInput(notes) {
        // Since the module.jobs.form is what gets saved via the SaveForm action, we have to load it initially
        const hasntInitializedJobsiteForm = !this.mustSaveJobsite;
        if (hasntInitializedJobsiteForm) {
          this.loadJobsiteForm({ accountId: this.block.accountId, jobId: this.block.jobsiteId });
        }

        this.mustSaveJobsite = true;
        this.updateJobsiteFormField({ notes });
      },

      // Update the pickup & pickupFirm fields for all items in the block
      pickupSelectChange(value) {
        const pickup = value !== 'N';
        const pickupFirm = value === 'A';
        const returnType = value;
        const reservationBlockId = this.block.id;
        this.$emit('change', pickupFirm);
        this.$nextTick(() => {
          this.returnTypeCode = returnType;
        });
        this.updateItems({
          reservationBlockId,
          field: {
            pickup,
            pickupFirm,
            returnType,
          },
        });
      },

      // Update the delivery field for all items in the block
      deliverySelectChange(delivery) {
        // User chose "Select", we update the view (above) but then do nothing else.
        if (typeof delivery === 'undefined') {
          return;
        }
        this.returnTypeCode = delivery === 'yes' ? 'Y' : 'N';
        delivery = delivery === 'yes'; // map to boolean
        const reservationBlockId = this.block.id;
        this.updateItems({
          reservationBlockId,
          field: {
            delivery,
            pickup: delivery,
          },
        }).then(() => {
          if (delivery) {
            this.updateReservationWithJobsiteBranch()
              .then(this.updatePickupAndDeliveryFees());
          }
        });
      },

      isDateBeforeToday(date) {
        return date < moment() && date.day() < moment().day();
      },

      onStartDateSelect(startDateValue) {
        const reservationBlockId = this.block.id;
        this.startMoment = this.startTime ? this.makeDateTime(startDateValue, this.startTime) : startDateValue;
        this.updateItems({ reservationBlockId, field: { startDate: this.startMoment } });
      },

      onEndDateSelect(endDateValue) {
        const reservationBlockId = this.block.id;
        this.endMoment = this.endTime ? this.makeDateTime(endDateValue, this.endTime) : endDateValue;
        this.updateItems({ reservationBlockId, field: { endDate: this.endMoment } });
      },

      makeDateTime(date, time) {
        const newHour = parseInt(time.substring(0, time.indexOf(':')), 10);
        const newMinute = parseInt(time.substring(time.indexOf(':') + 1), 10);
        return moment(date).hour(newHour).minutes(newMinute);
      },
      // Update the startTimes for all items in the block
      // We only – ever – pass around moment objects.
      onStartTimeSelect(hour) {
        this.$v.startTime.$touch();
        this.$v.endTime.$touch();
        this.timeError = false;
        this.startTime = hour;
        this.endTime = this.getValidEndTime(hour);

        const newHour = parseInt(hour.substring(0, hour.indexOf(':')), 10);
        const newMinute = parseInt(hour.substring(hour.indexOf(':') + 1), 10);

        const reservationBlockId = this.block.id;

        const adjStartDate = this.startMoment;
        adjStartDate.set({
          hours: newHour,
          minutes: newMinute,
        });

        this.updateItems({ reservationBlockId, field: { startDate: adjStartDate } });
        if (this.endTime && hour) {
          const adjEndDate = this.endMoment;
          adjEndDate.set({
            hours: newHour,
            minutes: newMinute,
          });
          // This also updates the end times, per biz rules. This is only to
          // be set on initial load else it causes errors.
          this.updateItems({ reservationBlockId, field: { endDate: adjEndDate } });
        }
      },

      onStartTimeBlur() {
        this.$v.startTime.$touch();
      },

      // Update the endTimes for all items in the block
      // We only – ever – pass around moment objects.
      onEndTimeSelect(hour) {
        this.endTime = hour;
        const newHour = parseInt(hour.substring(0, hour.indexOf(':')), 10);
        const newMinute = parseInt(hour.substring(hour.indexOf(':') + 1), 10);
        this.timeError = false;

        const reservationBlockId = this.block.id;
        const adjEndDate = this.endMoment;
        adjEndDate.set({
          hours: newHour,
          minutes: newMinute,
        });
        this.updateItems({ reservationBlockId, field: { endDate: adjEndDate } });
      },

      onEndTimeBlur() {
        this.$v.endTime.$touch();
      },

      fireTimeError(value) {
        if (value === 0) {
          this.invalidTime = true;
          this.validHour = value;
          this.$emit('error', true);
        }

        if (value !== 0) {
          this.invalidTime = false;
          this.validHour = value;
        }
      },

      save() {
        if (!this.$validateChildrenAndScrollToError() || this.$v.$invalid) return;

        if (this.userIsLoggedIn) {
          const payload = this.block.items.map(({ isActive, ...item }) => item);
          payload.forEach((ea) => {
            ea.startDate = dateTime.format(ea.startDate, 'iso');
            ea.endDate = dateTime.format(ea.endDate, 'iso');
          });
          this.saveItems(payload);
        }

        // Save the Delivery Notes (to the jobsite api) if needed
        if (this.mustSaveJobsite) {
          const { accountId, jobsiteId } = this.block;
          this.saveJobsiteForm({ accountId, jobsiteId });
        }

        this.gtmTrackFormSubmissions('reservation-delivery-pickup', 'save-and-continue');

        this.gotoSummary();
      },
      showDateChangeModal() {
        this.$router.push('/checkout/date-change-warning');
      },
      // Finds a branch near the jobsite, then updates the branchId field for the reservation block
      async updateReservationWithJobsiteBranch() {
        if (this.isSubmitting) {
          console.info('Skipping updates during submission...');
          return;
        }
        try {
          const { address1, city, state, zip } = this.blockJobsite; // eslint-disable-line

          // Make three attempts to get the place, where each attempt becomes increasingly less specific
          const place = await autocomplete.getPlaceFromAddress(`${address1}, ${city}, ${state} ${zip}`)
            .catch(() => autocomplete.getPlaceFromAddress(`${city}, ${state} ${zip}`))
            .catch(() => autocomplete.getPlaceFromAddress(`${zip}`));

          if (!place || !place.geometry) return Promise.reject();

          const result = await api.branches.getNearbyBranch(place.geometry.location);

          const branchId = get(result, ['data', 'data', 0, 'branchId'], '');

          if (!branchId) return;

          this.branchClosestToJobsite = branchId;
          this.jobsiteBranchId = branchId;

          const reservationBlockId = this.block.id;
          // If we have a place with this address, we need to update
          // the location string in the reservation block
          this.updateItems({ reservationBlockId, field: { branchId, locationString: `${city}, ${state} ${zip}` } });
          if (this.userIsLoggedIn) this.saveItems(this.block.id);
        }
        catch (err) {
          console.warn(err); // eslint-disable-line
        }
      },
      // This method calls charge estimates so we can know what the pu/del fees would be.
      // These fees do not reflect what the user's estimate really is, just what they would
      // be if they chose these options.  These amounts are rendered in the Select Dropdowns
      // for pu / del.  This fn gets called on mounted, and whenever the user's jobsite changes.
      async updatePickupAndDeliveryFees() {
        if (this.isSubmitting) {
          console.info('Skipping updates during submission...');
          return;
        }
        // Fetch projected fees for pickup/delivery for the Options labels.
        this.fetchProjectedEstimates({
          reservationBlockId: this.block.id,
          override: {
            ...ESTIMATES_API_PARAM_OVERRIDES,
            branchId: this.branchClosestToJobsite,
          },
        });
      },

      hoursToSubtract() {
        // Depending on the DST truthy or falsy, hours that we should subtract from UTC can be -400 or -500
        // HoursToSubtract finds the count of that hours
        return moment().isDST() ? -400 : -500;
      },
      getValidSaturdayBranch(hour) {
        const opensAt = Number(this.satHours.open.split(':')[0]);
        const closesAt = Number(this.satHours.close.split(':')[0]);
        const currentTime = Number(hour.split(':')[0]);
        const currentTimeIsValid = (currentTime >= opensAt && currentTime <= closesAt);

        return (currentTimeIsValid) ? hour : this.satHours.close;
      },
      getValidSundayBranch(hour) {
        const opensAt = Number(this.sunHours.open.split(':')[0]);
        const closesAt = Number(this.sunHours.close.split(':')[0]);
        const currentTime = Number(hour.split(':')[0]);
        const currentTimeIsValid = (currentTime >= opensAt && currentTime <= closesAt);

        return (currentTimeIsValid) ? hour : this.sunHours.close;
      },
      getValidEndTime(hour) {
        if (this.endMomentIsValidSaturday) return this.getValidSaturdayBranch(hour);

        if (this.endMomentIsValidSunday) return this.getValidSundayBranch(hour);

        return hour;
      },
      endMomentIsBeforeOrAfterHours(end) {
        return (dateTime.toDecimal(end) < this.branchOpenHours.start || dateTime.toDecimal(end) > (this.branchOpenHours.start + this.branchOpenHours.duration + 0.5));
      },
      startMomentIsBeforeOrAfterHours(start) {
        return (dateTime.toDecimal(start) < this.branchOpenHours.start || dateTime.toDecimal(start) > (this.branchOpenHours.start + this.branchOpenHours.duration + 0.5));
      },
      hasInvalidWeekendDays() {
        if (!this.invalidStartMomentHours) return false;

        if (this.hasSelectedInvalidWeekendMoment) {
          this.throwTimeError();
          return true;
        }
      },
    },
    mixins: [
      ProgressMixin,
      UrGtm,
    ],
    mounted() {
      this.updatePickupAndDeliveryFees();

      // Pop a modal (every time) if start/end date is manipulated
      // DO NOT CHANGE, can only fire once! Brewer
      this.$once('date-change-warning', this.showDateChangeModal);

      if (!this.blockBranch || isEmpty(this.blockBranch)) {
        this.fetchBranch(this.block.branchId);
      }

      this.initDateTime();
    },
    name: 'pickup-delivery',
    props: {
      block: {
        type: ReservationBlock,
        required: true,
      },
      cannotCheckout: Boolean,
      preventCheckoutValue: Boolean,
      convertedDate: String,
      // the `progress` prop is passed in by the mixin
    },
    validations: {
      /*
      The system defaults products to 6am (why?)(Serverless Cart??).
      Early in the application's life, cart items were added at 0:00:00 hour.
      At some point they began getting added at 6am. There may still be some bugs
      stemming from this change.
      6am is not a valid time, and is currently the value for "Please Select a time"
      */
      endTime: {
        required(time) {
          return time;
        },
      },
      /*
      The system defaults products to 6am (why?).
      Early in the application's life, cart items were added at 0:00:00 hour.
      At some point they began getting added at 6am. There may still be some bugs
      stemming from this change.
      6am is not a valid time, and is currently the value for "Please Select a time"
      */
      startTime: {
        required(time) {
          return time;
        },
      },
      startsLater: {
        /**
         * Ensures rentals that start today start in the future.
         * @return {boolean} Validates rentals starting today can't start before NOW
         */
        startsLater() {
          const today = moment(this.convertedDate);
          const { startMoment } = this.block;
          if (this.startTime && this.startTime !== '') {
            return startMoment.isSame(today, 'day')
              ? startMoment.hour() >= today.hour()
              : true;
          }
          return true;
        },
      },
      endsEarlier: {
        endsEarlier() {
          const { startMoment, endMoment } = this.block;
          if (this.endTime) {
            return endMoment.isSameOrBefore(startMoment, 'day')
              ? endMoment > startMoment
              : true;
          }
          return true;
        },
      },
      compareDayTime: {
        /**
         * Prevent single-day rentals from having an End Time the same as or before its Start Time
         * @return {boolean} validates single-day rentals
         */
        compareDayTime() {
          if (this.endsEarlier && this.startsLater) {
            if (this.block.endMoment.isSameOrBefore(this.block.startMoment)) {
              return false;
            }
          }
          return true;
        },
      },
    },
    watch: {
      relatedStartMomentFromQuantitySection(moment) {
        if (moment.isValid()) this.startMoment = moment;
      },
      relatedEndMomentFromQuantitySection(moment) {
        if (moment.isValid()) this.endMoment = moment;
      },
      validHour() {
        if (this.validHour !== 0) {
          this.invalidTime = false;
        }
      },
      active(val) {
        if (val) {
          window.setTimeout(() => {
            this.$refs.delSelect.$el.getElementsByTagName('select')[0].focus();
          }, 0);
          this.branchNotFound = !this.block.branchId;
        }
      },
      blockBranchId() {
        this.initDateTime();
      },
      // When the user changes the jobsite for their order, we find the closest branch to that
      // jobsite and tie it to the order, and then we update pickup/delivery fees. (The fees shown in the dropdwons.)
      'block.jobsiteId': function () {
        if (this.isSubmitting) {
          console.info('Skipping updates during submission...');
          return;
        }
        this.updateReservationWithJobsiteBranch()
          .then(this.updatePickupAndDeliveryFees);
        this.resetDates();
      },
      // If the user changes anything about the items, e.g., dates/times, we update the pickup/delivery fees
      // shown in the dropdowns.
      'block.items': {
        handler(curVal, oldVal) {
          const monitoredValues = ['accountId', 'branchId', 'delivery', 'endDate', 'jobsiteId', 'pickup', 'pickupFirm', 'quantity', 'startDate'];
          const relativeChangeMade = monitoredValues.some(field => curVal[field] !== oldVal[field]);

          if (relativeChangeMade) {
            this.updatePickupAndDeliveryFees();
          }
        },
        deep: true,
      },
      'block.startMoment': {
        handler() {
          this.updatePickupAndDeliveryFees();
        },
        deep: true,
      },
      'block.endMoment': {
        handler() {
          this.updatePickupAndDeliveryFees();
        },
        deep: true,
      },
    },
  };
</script>
