.faq {

  .group-right {

    .faq-list {

      .faq-list-item {

        &:first-child {

          border-top: 1px solid $color-grey-11;
        }
      }
    }
  }
}

.page-title {
  color: $color-grey-79;
  font-size: 28px;
  font-weight: 100;
  line-height: 32px;
  padding: 19px 0 20px 10px;
}

.path-faq-list .heading-1 {
  color: $color-grey-79;
  font-size: 28px;
  font-weight: 100;
  line-height: 32px;
  padding: 19px 0 0 37px;
}