<div>
  <ul class="page-title">
    {{ page_title }}
  </ul>
</div>
<div class="faq">
  <div class="group-top">
    <ul class="faq-list">
      {% for category in faq_categories %}
        <li class="faq-question-list">
          {% include "@molecules/faq/faq-top.twig"
            with {
              "faq_list_blockname": "faq-list-item",
              "faq_category": category.faq_category,
              "faq_question": category.faq_question,
              "faq_question2": category.faq_question2
            }
          %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="faq">
  <div class="group-right">
    <ul class="faq-list">
      {% for item in faq_list_items %}
        <li class="faq-list-item">
          {% include "@molecules/faq/faq.twig"
            with {
              "faq_list_blockname": "faq-list-item",
              "faq_question": item.faq_question,
              "faq_answer": item.faq_answer
            }
          %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>