<template>
  <div class="ur-select">
    <label
      v-if="!suppressLabel"
      :for="uid"
      class="form-item__label form-item__label--textfield"
      :class="{'form-item__label--required': required}"
    >
      {{label}}
    </label>
    <div v-if="error" class="error-message">{{error}}</div>

    <div class="select">
      <select
        :id="uid"
        :class="['dropdown-style1', {disabled : disabled}, error ? 'error' : '']"
        :disabled="disabled"
        :name="name"
        :value="localValue"
        v-model="localValue"
        @change="onSelect($event.target.value)"
        @blur="onBlur($event.target.value)"
      >
        <option v-if="!suppressEmptyOption" value="" :selected="value === ''" disabled>{{emptyOptionLabel ? emptyOptionLabel : $i18n('ur.select') + ' ' + label.toLowerCase()}}</option>

        <!-- options -->
        <slot></slot>

      </select>

      <ur-loading-spinner v-if="loading" class="icon-form-item" />
      <i v-else class="icon icon-angle-down"></i>
      <p v-if="helpText">{{helpText}}</p>
    </div>
  </div>
</template>
<script type="text/babel">
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ValidationMixin from './mixins/validation.mixin';
  import { uid } from '@/utils';

  export default {
    components: {
      UrLoadingSpinner,
    },
    data() {
      return {
        uid: `select-${uid()}`,
        localValue: this.value,
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
        this.$emit('input', value);
      },
      onBlur() {
        this.$emit('blur');
      },
    },
    mixins: [
      ValidationMixin,
    ],
    name: 'ur-select',
    props: {
      disabled: {
        type: Boolean,
        required: false,
        default: false,
      },
      error: {
        type: [Boolean, String],
        required: false,
        default: false,
      },
      helpText: {
        type: String,
        required: false,
        default: '',
      },
      emptyOptionLabel: {
        type: String,
        required: false,
        default: '',
      },
      value: {
        type: [String, Number],
        required: false,
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
      loading: {
        type: Boolean,
        required: false,
        default: false,
      },
      name: {
        type: String,
        required: false,
        default: '',
      },
      required: {
        type: Boolean,
        required: false,
        default: false,
      },
      // Hides the empty option, "Select"
      suppressEmptyOption: {
        type: Boolean,
        default: false,
      },
      suppressLabel: {
        type: Boolean,
        default: false,
      },
    },
    watch: {
      value() {
        this.localValue = this.value;
      },
    },
  };
</script>
