<div class="carousel-card">
  {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
    with {
      "heading_1": card_title,
      "heading_1_modifiers": card_title_modifiers
    }
  %}

  {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
    with {
      "heading_6": card_subtitle,
      "heading_6_modifiers": card_subtitle_modifiers
    }
  %}

  <i class="icon icon-arrow-up"></i>

  {% include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": change
    }
  %}

</div>
