.no-data-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;

  p {
    color: $color-grey-38;
  }

  & > div {
    flex-direction: row;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }
  }

  a {
    margin: 0 15px;
  }

  .icon-check {
    color: rgba(72, 189, 0, 1);
    font-size: 2rem;
    padding-right: 1rem;

    @include breakpoint($break-small) {
      font-size: 3rem;
    }

    @include breakpoint($break-medium) {
      font-size: 4rem;
    }

    @include breakpoint($break-large) {
      font-size: 4rem;
    }

    @include breakpoint($break-xlarge) {
      font-size: 4rem;
    }
  }

  &.value-zero {
    flex-direction: row;
    height: 140px;

    p {
      margin: 0;
      width: auto;
    }
  }
}