<div class="widget-body">
  <section class="widget">
      <div class="widget-content">
          <div class="widget-header">
              <div>

                  <h4>
                      Equipment Deliveries
                      <i class="icon icon-info-circle has-tooltip"></i></h4>
              </div>
              <div>
                  <div><i class="icon icon-time"></i> <time datetime="Tue Feb 27 2018 11:04:31 GMT-0600 (CST)" title="2/27/2018, 11:04:31 AM">4m ago</time></div>


                  <div class="kebab-menu"><i class="icon icon-more"></i>

                  </div>
              </div>
          </div>
          <div class="widget-data-visualization__map">
              <div class="vue-map-container">
                  <div class="vue-map" style="overflow: hidden;">
                      <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                          <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                              <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                                  <div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                              <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                  <div style="width: 256px; height: 256px; position: absolute; left: 3px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; position: absolute; left: 3px; top: 190px;"></div>
                                                  <div style="width: 256px; height: 256px; position: absolute; left: -253px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; position: absolute; left: -253px; top: 190px;"></div>
                                                  <div style="width: 256px; height: 256px; position: absolute; left: 259px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; position: absolute; left: 259px; top: 190px;"></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                          <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                              <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 3px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 3px; top: 190px;"></div>
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -253px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -253px; top: 190px;"></div>
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 259px; top: -66px;"></div>
                                                  <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 259px; top: 190px;"></div>
                                              </div>
                                          </div>
                                          <div style="width: 40px; height: 40px; position: absolute; left: 192px; top: 130px; z-index: 150;"><canvas width="40" height="40" draggable="false" style="width: 40px; height: 40px; position: absolute; left: 0px; top: 0px; user-select: none;"></canvas></div>
                                          <div style="position: absolute; left: 212px; top: 150px; z-index: 150;">
                                              <div style="height: 100px; margin-top: -50px; margin-left: -50%; display: table; border-spacing: 0px;">
                                                  <div style="display: table-cell; vertical-align: middle; white-space: nowrap; text-align: center;">
                                                      <div style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto, Arial, sans-serif;">1</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                          <div style="overflow: hidden; width: 424px; height: 300px;"><img src="https://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i1980413&amp;2i3275842&amp;2e1&amp;3u15&amp;4m2&amp;1u424&amp;2u300&amp;5m9&amp;1e0&amp;5sen-US&amp;6sus&amp;8m3&amp;1e33&amp;2e3&amp;8e1&amp;10b1&amp;12b1&amp;token=39630" style="width: 424px; height: 300px;"></div>
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                          <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                              <div style="position: absolute; left: 3px; top: 190px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7736!3i12797!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=90103" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                              <div style="position: absolute; left: 3px; top: -66px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7736!3i12796!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=57872" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                              <div style="position: absolute; left: 259px; top: 190px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7737!3i12797!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=94773" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                              <div style="position: absolute; left: 259px; top: -66px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7737!3i12796!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=62542" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                              <div style="position: absolute; left: -253px; top: 190px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7735!3i12797!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=85433" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                              <div style="position: absolute; left: -253px; top: -66px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i7735!3i12796!4i256!2m3!1e0!2sm!3i411107870!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmY!4e0&amp;token=53202" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
                                      <p class="gm-style-pbt"></p>
                                  </div>
                                  <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;">
                                      <div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
                                  </div>
                                  <div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                                          <div class="cluster"></div>
                                          <div class="gmnoprint" title="" style="width: 40px; height: 40px; overflow: hidden; position: absolute; opacity: 0.01; cursor: pointer; left: 192px; top: 130px; z-index: 150;"><img alt="" src="https://maps.gstatic.com/mapfiles/transparent.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 40px; height: 40px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                                  </div>
                              </div>
                              <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                  <a target="_blank" href="https://maps.google.com/maps?ll=36.625712,-95.000817&amp;z=15&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                                      <div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div>
                                  </a>
                              </div>
                              <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 62px; top: 60px;">
                                  <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
                                  <div style="font-size: 13px;">Map data ©2018 Google</div>
                                  <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                              </div>
                              <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 167px; bottom: 0px; width: 122px;">
                                  <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                                      <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                          <div style="width: 1px;"></div>
                                          <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                      </div>
                                      <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div>
                                  </div>
                              </div>
                              <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                                  <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div>
                              </div>
                              <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 96px; bottom: 0px;">
                                  <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                      <div style="width: 1px;"></div>
                                      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                  </div>
                                  <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div>
                              </div><button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; display: none; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button>
                              <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                                  <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                      <div style="width: 1px;"></div>
                                      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                  </div>
                                  <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@36.6257124,-95.0008168,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div>
                              </div>
                              <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;">
                                  <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
                                      <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                      <div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="vue-map-hidden">
                      <div>

                      </div>
                      <div></div>
                  </div>
              </div>
          </div>
          <a href="#/equipment?groupBy=all&amp;sortBy=endDate&amp;sortDirection=asc&amp;filterBy%5BdeliveryStatus%5D%5B0%5D=Out%20for%20Delivery" class="">
              <div class="widget-data-group">
                  <div><span class="status-span status-blue-highlight"></span>
                      <h5>Out for delivery</h5>
                      <p>Arriving at jobsite today</p>
                  </div>
                  <div>
                      <h3 class="heading-3 heading-3--thin">0</h3> <i class="icon icon-chevron-right"></i></div>
              </div>
          </a>
          <a href="#/equipment?groupBy=all&amp;sortBy=endDate&amp;sortDirection=asc&amp;filterBy%5BdeliveryStatus%5D%5B0%5D=Reserved%20for%20Delivery" class="">
              <div class="widget-data-group">
                  <div><span class="status-span status-blue-lowlight"></span>
                      <h5>Reserved for delivery</h5>
                      <p>Within 7 days</p>
                  </div>
                  <div>
                      <h3 class="heading-3 heading-3--thin">1</h3> <i class="icon icon-chevron-right"></i></div>
              </div>
          </a>
          <a href="#/equipment?groupBy=all&amp;sortBy=endDate&amp;sortDirection=asc&amp;filterBy%5BdeliveryStatus%5D%5B0%5D=Reserved%20for%20Branch%20Pickup" class="">
              <div class="widget-data-group">
                  <div><span class="status-span status-grey"></span>
                      <h5>Reserved for branch pickup</h5>
                      <p>Ready today</p>
                  </div>
                  <div>
                      <h3 class="heading-3 heading-3--thin">0</h3> <i class="icon icon-chevron-right"></i></div>
              </div>
          </a>
      </div>
  </section>
</div>
