<div class="widget-body">
  <section class="widget">
      <div class="widget-content">
          <div class="widget-header">
              <div>
                  <h4>
                      Equipment Due
                      <i class="icon icon-info-circle has-tooltip" aria-describedby="tooltip_o1a3jikckv"></i></h4>
              </div>
              <div>
                  <div><i class="icon icon-time"></i> <time datetime="Tue Feb 27 2018 11:04:31 GMT-0600 (CST)" title="2/27/2018, 11:04:31 AM">2h ago</time></div>


                  <div class="kebab-menu"><i class="icon icon-more"></i>

                  </div>
              </div>
          </div>
          <div class="widget-data-visualization__map">
              <div class="">
                  <div class="chartjs-size-monitor">
                      <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                          <div></div>
                      </div>
                      <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                          <div></div>
                      </div>
                  </div>
                </div>
          </div>


          <a href="#/equipment?groupBy=all&amp;sortBy=endDate&amp;sortDirection=desc&amp;filterBy%5BoverdueStatus%5D%5B0%5D=Overdue" class="">
              <div class="widget-data-group">
                  <div><span class="status-span status-bright-red"></span>
                      <h5>Overdue</h5>
                      <p>Due date has past</p>
                  </div>
                  <div>
                      <h3 class="heading-3 heading-3--thin highlight-count">4</h3> <i class="icon icon-chevron-right"></i></div>
              </div>
          </a>
          <a href="#/equipment?groupBy=all&amp;sortBy=endDate&amp;sortDirection=asc&amp;filterBy%5BoverdueStatus%5D%5B0%5D=Pending%20Due" class="">
              <div class="widget-data-group">
                  <div><span class="status-span status-grey"></span>
                      <h5>Pending Due</h5>
                      <p>Due within 3 days</p>
                  </div>
                  <div>
                      <h3 class="heading-3 heading-3--thin">2</h3> <i class="icon icon-chevron-right"></i></div>
              </div>
          </a>
      </div>
  </section>
</div>
