<div class="widget-data-visualization">
  <div class="no-data-available" label="Add Equipment">
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": no_data_title
      }
    %}

    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": no_data_subtitle
      }
    %}
    <div>
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": refresh_link_title,
          "link_url": url
        }
      %}

      {% include "@atoms/02-text/text/01-paragraph.twig"
        with {
          "paragraph_content": or_text
        }
      %}

      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": add_equipment_link_title,
          "link_url": url
        }
      %}
    </div>
  </div>
</div>