<div class="widget-data-group">
  <div>
    <span class="status-span" style="background: rgb(0, 140, 255);"></span>
    {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
      with {
        "heading_5": widget_data_group_title
      }
    %}

    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": widget_data_group_subtitle
      }
    %}
  </div>
  <div>
    {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
      with {
        "heading_3": widget_data_group_count,
        "heading_3_modifiers": widget_data_group_count_modifiers
      }
    %}
    <i class="icon icon-chevron-right"></i>
  </div>
</div>