<div class="widget-header">
  <div>
    {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
      with {
        "heading_4": widget_header_title
      }
    %}
    <i class="icon icon-info-circle"></i>
  </div>

  <div>

    {% if widget_timestamp %}
      <div>
        <i class="icon icon-time"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": widget_header_timestamp
          }
        %}
      </div>
    {% elseif widget_select %}
      <div class="ur-select">
        {% include "@atoms/05-forms/select/select.twig"
          with {
            "select_options": select_options,
            "select_attributes": select_attributes
          }
        %}
      </div>
    {% endif %}

    <div class="kebab-menu">
      <i class="icon icon-more"></i>
    </div>
  </div>
</div>