<template>
  <a :href="value | telLink">
    <field-value>
      {{ value }}
    </field-value>
  </a>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    name: 'PhoneDetailField',
    extends: DetailField,
  };
</script>
