<template>
  <a :href="value | telLink">
    <field-value>
      {{ value }}
    </field-value>
  </a>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    name: 'PhoneListingField',
    extends: ListingField,
  };
</script>
