$promotional-tile-base: promotional-tile;

.#{$promotional-tile-base} {
  display: block;
  @include fill-container;

  &__container {
    position: relative;
    height: 168px;

    @include breakpoint($break-small) {
      height: auto;

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }

  &__image {
    @include fill-container;
    overflow: hidden;
    z-index: 0;

    * {
      height: 100%;
      width: 100%;
    }

    img {
      @include object-fit;
      transition: all $animation-speed $anim-ease;
    }
  }

  &__cover {
    @include fill-container;
    top: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    transition: all $animation-speed $anim-ease;
  }

  &__content {
    position: absolute;
    left: 17px;
    width: 100%;
    bottom: 21px;
    z-index: 2;
    padding-right: 26%;
    transition: all $animation-speed $anim-ease;

    @include breakpoint($break-small) {
      padding: 0 6% 20px;
      left: 0;
      bottom: 0;
    }
  }

  &__category {
    font-family: $font-family-base;
    font-variant: none;
    font-weight: 700;
    line-height: 1.4285714286;
    color: $color-utility-attention;
    font-size: .85rem;

    @include breakpoint($break-small) {
      font-size: $font-size-h5;
    }
  }

  &__headline {
    font-family: $font-family-base;
    color: $color-text-reverse;
    font-size: 1rem;
    font-variant: none;
    font-weight: 700;
    line-height: 1.090909;

    @include breakpoint($break-small) {
      font-size: $font-size-h2;
    }

    .icon {
      transform: rotate(180deg);
      display: inline-block;
      color: $color-orange;
      font-size: $font-size-base;
      margin-left: 0px;
      opacity: 0;
      transition: all $animation-speed $anim-ease;
    }
  }

  &:hover {
    .#{$promotional-tile-base} {
      &__headline {
        .icon {
          margin-left: 8px;
          opacity: 1;
        }
      }

      &__image {
        img {
          transform: scale(1.1,1.1);
        }
      }

      &__cover {
        top: 0;
      }

      &__content {
        transform: translateY(-8px);
      }
    }
  }
}

.no-object-fit {
  .promotional-tile:hover {
    .promotional-tile__image {
      img {
        transform: translate(-50%,-50%) scale(1.1);
      }
    }
  }
}
/*
---
name: Promotional Tile
category: Organisms
---
### Behaviors

#### Hover
* Animation begins:
    * Image Scales from 100% to 110%
    * Text and link arrow transition -8px in the Y direction
    * Gradient Scrim transitions from 50% height to 100% height
    * Link Arrow transitions 8px in the X direction

#### Click/tap
User is sent to the linked page for the card.

```promotional-tile.html
<div class="promotional-tile__container">
    <a href="/solutions/specialty-solutions/trench-safety/about-trench-safety" class="promotional-tile">
        <div class="promotional-tile__image">
            <div>
                <picture>
                    <source srcset="../components/images/FPO_Promotional_Block_Trench.jpg 1x" media="all and (min-width: 1920px)" type="image/jpeg">
                    <source srcset="../components/images/FPO_Promotional_Block_Trench.jpg 1x" media="all and (min-width: 1440px)" type="image/jpeg">
                    <source srcset="../components/images/FPO_Promotional_Block_Trench.jpg 1x" media="all and (min-width: 1024px)" type="image/jpeg">
                    <source srcset="../components/images/FPO_Promotional_Block_Trench.jpg 1x" media="all and (min-width: 640px)" type="image/jpeg">
                    <img src="../components/images/FPO_Promotional_Block_Trench.jpg" alt="" typeof="foaf:Image">
                    </picture>
            </div>
        </div>
        <div class="promotional-tile__cover"></div>
        <div class="promotional-tile__content">
            <div class="promotional-tile__category">Trench Safety Solutions</div>
            <div class="promotional-tile__headline">Trench safety rental solutions<i class="icon icon-long-arrow-left"></i></div>
        </div>
    </a>
</div>
```
```promotional-tile.css hidden
.promotional-tile__container{
  width: 50%;
}
```

*/
