.promotional-block {
  background-color: $color-grey-2;
  padding-top: 7.5%;
  padding-bottom: 12.5%;

  @include breakpoint($break-small) {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    @include breakpoint($break-small) {
      padding-bottom: 27px;
    }
  }

  &__headline {
    font-size: $font-size-large;
    font-weight: bold;
    margin: 0;

    @include breakpoint($break-small) {
      font-size: $font-size-h3;
    }
  }

  &__see-all {
    display: none;

    @include breakpoint($break-small) {
      display: block;
    }

    .icon {
      transform: rotate(180deg);
      display: inline-block;
      color: $color-orange;
      font-size: $font-size-base;
      margin-left: 8px;
    }
  }

  @include breakpoint($break-small) {
    .VueCarousel {
      margin: 0 -8px;

      &-slide {
        padding: 0 $_gutter-large/2;
      }
    }
  }
}
