<div class="promotional-block grid">
  <div class="column">
    <div class="promotional-block__header">
      <p class="promotional-block__headline">{{ promotional_block_headline }}</p>
      <a class="promotional-block__see-all" href="{{ promotional_block_see_all_path }}">{{ promotional_block_see_all_label }}<i class="icon icon-long-arrow-left"></i></a>
    </div>

    {% block promotional_block_tiles %}
      <style>
        .promotional-tile-pl--hidden {
          display: none;
        }

        .promotional-tile-pl__container {
          display: flex;
        }

        @media (min-width: 640px) {
          .promotional-tile-pl--hidden {
            display: block;
          }
        }
      </style>
      <div class="promotional-tile-pl__container">
        <div class="column">
          {% include "@organisms/tile/promotional/promotional-tile.twig"
            with {
              promotional_tile_path: "#",
              promotional_tile_category: "Pump Solutions",
              promotional_tile_headline: "Complete pump rental solutions",
            }
          %}
        </div>
        <div class="column promotional-tile-pl--hidden">
          {% include "@organisms/tile/promotional/promotional-tile.twig"
            with {
              promotional_tile_path: "#",
              promotional_tile_category: "Pump Solutions",
              promotional_tile_headline: "Complete pump rental solutions",
            }
          %}
        </div>
        <div class="column promotional-tile-pl--hidden">
          {% include "@organisms/tile/promotional/promotional-tile.twig"
            with {
              promotional_tile_path: "#",
              promotional_tile_category: "Pump Solutions",
              promotional_tile_headline: "Complete pump rental solutions",
            }
          %}
        </div>
      </div>
    {% endblock %}
  </div>
</div>
