<div class="promotional-tile__container">
  <a href="{{ promotional_tile_path }}" class="promotional-tile">
    <div class="promotional-tile__image">
      {% block promotional_tile_image %}
        <picture>
          <source media="all and (min-width: 1024px)" srcset="https://lorempixel.com/1920/600/city/6/Greater%20than%201000px/">
          <source media="all and (min-width: 640px)" srcset="https://lorempixel.com/1000/400/city/5/Between%20500px%20and%201000px/">
          <img src="https://lorempixel.com/400/200/city/4/Less%20than%20500px/" alt="">
        </picture>
      {% endblock %}
    </div>
    <div class="promotional-tile__cover"></div>
    <div class="promotional-tile__content">
      <div class="promotional-tile__category">{{ promotional_tile_category|raw }}</div>
      <div class="promotional-tile__headline">{{ promotional_tile_headline }}<i class="icon icon-long-arrow-left"></i></div>
    </div>
  </a>
</div>
