$advanced-account-search-height-mobile: 400px;
$advanced-account-search-width-mobile: 288px;
$advanced-account-search-height: auto;
$advanced-account-search-width: 455px;
$advanced-account-search-width: 455px;
$advanced-account-search-input-width: 308px;
$advanced-account-search-input-width-mobile: auto;
$listing-table-first-col-max-width: 268px;
$modal-footer-button-width: 148px;
$modal-footer-height: 72px;
$modal-header-height: 183px;
$modal-height: 720px;
$modal-body-max-height: $modal-height - ($modal-footer-height + $modal-header-height);
$search-bar-width: 308px;
$search-bar-height: 40px;
$search-button-width: 40px;
