<template>
  <li
    v-if="userIsLoggedIn && (accountIds.length || userIsEmployee)"
    id="menu-menu-item-2"
    class="menu-item menu-item--depth-0"
    :class="{ 'menu-item--has-children': (accountIds.length > 1 || userIsEmployee) }" >

    <!-- Do not remove id="account-selector"! It's used by global.js -->
    <button
      id="account-selector"
      class="menu-item__link menu-item__link--account menu-item__link--depth-0"
      v-if="accountIds.length > 1 || userIsEmployee"
      :class="['menu__link', {'select-an-account': !hasDefaultAccount}]"
      v-html="accountSelectorText"
      @click="toggleModal"
    />

    <span
      v-else-if="hasDefaultAccount"
      id="account-selector"
      class="menu__link menu__link--inactive">
      {{defaultAccount.name}} • #{{defaultAccount.id}}
    </span>

    <ur-modal
      :class-additional="modal.classAdditional"
      :close-on-background-click="true"
      :close-on-escape-key="true"
      :content="modal.content"
      :content-props="modal.contentProps"
      v-if="modal.isOpen"
    />
  </li>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';
</style>

<script>
  import Vue from 'vue';
  import { mapMutations, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import UrModal from '@/components/common/ur-modal.vue';
  import AccountSelectorModal from '@/components/account-selector/account-selector-modal';

  export default Vue.extend({
    name: 'account-selector-trigger',
    components: {
      UrModal,
    },
    created() {
      window.ur.bus.$on('showAccountSelectorModal', () => this.modal.isOpen = true);
    },
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
      }),

      ...mapState({
        accountIds: state => Object.keys(state.accounts.all),
        accountsReady: state => state.accounts.accountsFetched,
        userIsEmployee: state => state.user.isEmployee,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),

      accountSelectorText() {
        return this.hasDefaultAccount
          ? `<div><span class="account-name">${this.defaultAccount.name}</span> <span class="account-divider">•</span> <span class="account-id">#${this.defaultAccount.id}</span></div>`
          : this.$i18n('checkout.selectAnAccount');
      },
      hasDefaultAccount() {
        return Object.keys(this.defaultAccount).length > 0;
      },
    },
    data() {
      return {
        modal: {
          content: AccountSelectorModal,
          contentProps: {
            close: () => this.modal.isOpen = false,
            // contentSize: 90,
          },
          isOpen: false,
        },
      };
    },
    methods: {
      ...mapMutations({
        setDefaultAccountId: types.user.setDefaultAccountId,
      }),
      toggleModal() {
        this.modal.isOpen = !this.modal.isOpen;
      },
      // Adds the current Account# to the menu links rendered by drupal. This fixes UR-3806 for the EDGE browser.
      // (UR-3806 has a different fix for IE11 (in main.js).)
      setSubNavHrefsInWorkplace() {
        const links = document.querySelectorAll('.region-header a[href*="#/manage"], .region-pre-content a[href*="#/manage"], .region-mobile-menu__content a[href*="#/manage"]');

        for (let i = 0; i < links.length; i++) {
          // This regex was scooped up from: http://jsfiddle.net/entropo/tkP74/
          // https://stackoverflow.com/questions/5642315/regular-expression-to-get-a-string-between-two-strings-in-javascript
          const oldAccountId = links[i].href.replace(/.*#\/manage\/(.*)\/.*/, '$1');

          links[i].href = links[i].href.replace(new RegExp(oldAccountId), this.defaultAccount.id);
        }
      },
    },
    watch: {
      accountsReady: {
        immediate: true,
        handler(ready) {
          if (!ready) {
            return;
          }

          // If the user is on the Manage page, we do some special work.
          // (This Account Id will not exist if the user is NOT on a Manage page,
          // because the Workplace Vuex Store does not exist outside of www.unitedrentals.com/manage.)
          // TODO this business logic should be extracted out of this component.
          const workplaceAccountId = this.$store.getters[types.workplace.accountId];
          const workplaceAccountIdIsValid = this.$store.getters[types.workplace.accountIdIsValid];

          if (!workplaceAccountId) {
            return;
          }

          if (workplaceAccountId === this.defaultAccount.id || !workplaceAccountIdIsValid) {
            return;
          }

          this.setDefaultAccountId(workplaceAccountId);
        },
      },
      'modal.isOpen': {
        handler(isOpen) {
          const mobileMenuEmbedElement = findAncestor(this.$el, 'mobile-menu__holder');

          if (!mobileMenuEmbedElement) {
            return;
          }

          mobileMenuEmbedElement
            .classList[isOpen ? 'add' : 'remove']('mobile-menu__holder--full-width', 'mobile-menu__holder--above-egain');
        },
      },
      'defaultAccount.id': {
        handler: 'setSubNavHrefsInWorkplace',
        immediate: true,
        deep: true,
      },
    },
  });

  // IE 11 compatible "closest" ancestor function. (IE11 does not support $el.closest.)
  function findAncestor(el, cls) {
    while ((el = el.parentElement) && !el.classList.contains(cls)); // eslint-disable-line
    return el;
  }
</script>
