<template>
  <div class="account-search-tags flex-row flex-gap-5 cursor-pointer flex-wrap">
    <button
      v-for="(value, key) in shownParams"
      :key="key"
      :disabled="fetchRequestPending"
      @click="disableCriteriaAndSearch(key)"
      class="badge m-b-2 flex-row flex-gap-2">
      <span>{{ paramLabel(key) }}</span>
      <span class="fw-bold" v-if="key !== 'favorites'">{{ value }}</span>
    </button>
    <a class="clear-all" v-if="showClearAllButton" @click="resetSearchResultsAndCriteria">{{ $i18n('catalog.clearAll') }}</a>
  </div>
</template>

<style lang="scss" scoped>
  @import '01-variables';

  .account-search-tags {
    .badge {
      line-height: 1;
      color: $color-grey-69;
      background-color: $color-grey-2;
      border-radius: $border-radius-small;
      border: $border-grey;
      font-size: $font-size-small;
      height: 20px;
      justify-content: center;
      padding: 0 5px;
      width: auto;

      &::before {
        content: '\e5cd';
        font-family: icomoon;
        padding-right: 15px;
        height: 100%;
        width: 6px;
      }

      &:hover {
        &::before {
          color: $color-blue-highlight;
        }
      }

    }
    .clear-all {
      color: $color-text-link;
      line-height: 20px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
</style>

<script>
  import Vue from 'vue';
  import { mapActions, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';

  export default Vue.extend({
    name: 'account-search-tags',
    computed: {
      ...mapState({
        searchCriteria: state => state.accounts.searchCriteria,
        latestSuccessfulSearchParams: state => state.accounts.latestSuccessfulSearchParams,
      }),
      ...mapGetters({
        fetchRequestPending: types.accounts.fetchRequestPending,
        searchParams: types.accounts.searchParams,
        tokensAreInFlight: types.inFlightRequests.tokensAreInFlight,
      }),
      enabledCriteriaCount() {
        return Object.keys(this.latestSuccessfulSearchParams).length;
      },
      shownParams() {
        const { name_filter: _, ...shownParams } = this.latestSuccessfulSearchParams;
        return shownParams;
      },
      showClearAllButton() {
        return this.enabledCriteriaCount > 1 && !this.fetchRequestPending;
      },
    },
    methods: {
      ...mapActions({
        resetSearchResultsAndCriteria: types.accounts.resetSearchResultsAndCriteria,
        saveActiveSearch: types.accounts.saveActiveSearch,
        searchAccounts: types.accounts.searchAccounts,
        updateSearchCriteriaEnabled: types.accounts.updateSearchCriteriaEnabled,
      }),
      async disableCriteriaAndSearch(...keys) {
        // If this is the last criteria, clear the results and skip the search request
        if (Object.keys(this.shownParams).length <= 1) return this.resetSearchResultsAndCriteria();

        try {
          await this.updateSearchCriteriaEnabled({ enabled: false, keys });
          const params = { ...this.searchParams };
          const accounts = await this.searchAccounts(params);
          if (accounts.length > 0) await this.saveActiveSearch({ params, accounts });
        }
        catch (error) {
          this.updateSearchCriteriaEnabled({ enabled: true, keys });
        }
      },
      paramLabel(paramKey) {
        // Handles returning the correct label for each search parameter.
        switch (paramKey) {
          case 'name': {
            let str = `${this.searchCriteria[paramKey].label}`;
            const modifier = this.latestSuccessfulSearchParams.name_filter === 'contains'
              ? 'contains'
              : 'starts with';

            str += ` ${modifier}:`;
            return str;
          }
          case 'favorites':
            return this.searchCriteria[paramKey].label;
          default:
            return `${this.searchCriteria[paramKey].label}:`;
        }
      },
    },
  });
</script>
