<template>
  <ur-legacy-styles>
    <div class="advanced-account-search-form flex-column">
      <!-- Header -->
      <div class="flex-column no-grow no-shrink border-b-normal">
        <h5 class="m-0">{{ $i18n('dashboard.advancedAccountSearchTitle') }}</h5>
        <span class="type-paragraph-base">{{ $i18n('dashboard.advancedAccountSearchInstruction') }}</span>

        <ur-error-label v-if="showErrorMessage" message="Sorry, there are no matching accounts. Please update your search." />
      </div>

      <!-- Body -->
      <div class="criteria-list flex-column grow shrink flex-gap-10 border-b-normal">

        <!-- Favorited criteria -->
        <div class="criteria-wrapper flex-row flex-gap-10 m-x-0">
          <ur-checkbox
            :checked="searchCriteria.favorites.enabled"
            @change="toggleCriteria($event, 'favorites')"
          />
          <div class="criteria-input-wrapper">
            <span
              @click="toggleCriteria(!searchCriteria.favorites.enabled, 'favorites')"
              class="criteria-label">
              {{ $i18n('favorites.title') }}
            </span>
          </div>
        </div>

        <!-- Account name criteria -->
        <div class="criteria-wrapper flex-row flex-gap-10 m-x-0">
          <ur-checkbox
            :checked="searchCriteria.name.enabled"
            @change="toggleCriteria($event, 'name', 'name_filter')"
          />
          <div class="criteria-input-wrapper">
            <span class="criteria-label">{{ $i18n('accountSelector.labels.name') }}</span>
            <div class="criteria-input focused-search flex-row grow" @click="toggleCriteria(true, 'name', 'name_filter')">
              <ur-select
                :value="searchCriteria.name_filter.value"
                @change="updateField('name_filter', $event)"
                @cleared="updateField('name_filter', '')"
                class="fs-small"
                suppress-label
                suppress-empty-option
              >
                <option value="contains">{{ $i18n('accountSelector.labels.contains') }}</option>
                <option value="startswith">{{ $i18n('accountSelector.labels.startsWith') }}</option>
              </ur-select>
              <q-input
                :value="searchCriteria.name.value"
                @change="updateField('name', $event)"
                @cleared="updateField('name', '')"
                field-size="small"
                class="m-0"
                :placeholder="$i18n('accountSelector.labels.enterAccName')"
              />
            </div>
          </div>
        </div>

        <!-- City criteria -->
        <div class="criteria-wrapper flex-row flex-gap-10 m-x-0">
          <ur-checkbox
            :checked="searchCriteria.city.enabled"
            @change="toggleCriteria($event, 'city')"
          />
          <div class="criteria-input-wrapper">
            <span class="criteria-label">{{ $i18n('ur.city') }}</span>
            <q-input
              :value="searchCriteria.city.value"
              @focus="toggleCriteria(true, 'city')"
              @change="updateField('city', $event)"
              @cleared="updateField('city', '')"
              field-size="small"
              class="criteria-input m-0 grow"
              :placeholder="$i18n('accountSelector.labels.enterParOrFullCityNameLbl')"
            />
          </div>
        </div>

        <!-- State criteria -->
        <div class="criteria-wrapper flex-row flex-gap-10 m-x-0">
          <ur-checkbox
            :checked="searchCriteria.state.enabled"
            @change="toggleCriteria($event, 'state')"
          />
          <div class="criteria-input-wrapper" @click="toggleCriteria(true, 'state')">
            <span class="criteria-label">{{ $i18n('accountSelector.labels.stateProv') }}</span>
            <ur-select
              :value="searchCriteria.state.value"
              @change="updateField('state', $event)"
              @cleared="updateField('state', '')"
              class="criteria-input grow"
              suppress-label
              suppress-empty-option
            >
              <optgroup label="United States">
                <option v-for="(label, val) in usStates" :key="val" :value="val">{{label}}</option>
              </optgroup>
              <optgroup label="Canada">
                <option v-for="(label, val) in caProvinces" :key="val" :value="val">{{label}}</option>
              </optgroup>
            </ur-select>
          </div>
        </div>

        <!-- Parent ID criteria -->
        <div class="criteria-wrapper flex-row flex-gap-10 m-x-0">
          <ur-checkbox
            :checked="searchCriteria.parentId.enabled"
            @change="toggleCriteria($event, 'parentId')"
          />
          <div class="criteria-input-wrapper">
            <span class="criteria-label">{{ $i18n('accountSelector.labels.parentId') }}</span>
            <q-input
              :value="searchCriteria.parentId.value"
              @focus="toggleCriteria(true, 'parentId')"
              @change="updateField('parentId', $event)"
              @cleared="updateField('parentId', '')"
              field-size="small"
              class="criteria-input m-0 grow"
              :placeholder="$i18n('accountSelector.labels.parentAccIdLbl')"
            />
          </div>
        </div>

        <div v-if="searchRequestPending" class="loading-overlay">
          <div class="spinner"></div>
        </div>
      </div>

      <!-- Footer -->
      <div class="flex-row no-grow no-shrink flex-gap-10 justify-end">
        <span class="grow"></span>
        <q-button
          @click="close()"
          :text="$i18n('ur.close')"
          class="m-y-0"
          size="small"
          buttonStyle="secondary"/>
        <q-button
          :text="$i18n('ur.applySearch')"
          class="m-y-0"
          :disabled="!searchEnabled"
          @click="handleSearchButtonClicked"
          size="small"
          buttonStyle="primary"/>
      </div>
    </div>
  </ur-legacy-styles>
</template>

<style lang="scss" scoped>
  @import '01-variables';
  @import 'breakpoints';
  @import '~breakpoint-sass/stylesheets/breakpoint';
  @import './account-selector.variables';

  .advanced-account-search-form {
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-med;
    border: $border-grey;
    max-width: 450px;
    @extend %shadow-depth-2;

    height: $advanced-account-search-height-mobile;
    width: $advanced-account-search-width-mobile;
    @include medium {
      height: $advanced-account-search-height;
      width: $advanced-account-search-width;
    }

    & > div {
      position: relative;
      padding: 1rem;
    }

    & /deep/ select {
      border-radius: $border-radius-med;
      font-size: $font-size-base;
    }
    .criteria-list {
      overflow: auto;
    }

    .criteria-wrapper {
      flex-shrink: 0;
      align-items: flex-start;

      @include medium {
        align-items: center;
      }

      .criteria-input-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include medium {
          flex-direction: row;
          align-items: center;
          width: $advanced-account-search-input-width;
        }

        .criteria-input {
          flex-grow: 1;
          width: $advanced-account-search-input-width-mobile;

          @include medium {
            width: $advanced-account-search-input-width;
          }
        }

        .criteria-label {
          width: 140px;
          margin-bottom: 0.5rem;
          @include medium {
            margin: 0;
          }
        }
      }
    }

    .criteria-input.focused-search {
      & /deep/ select {
        min-width: 110px;
        font-weight: $font-weight-bold;
        border: 1px solid #dde0e2;

        &:disabled { // TODO: border still doesn't match when disabled
          border: 1px solid #dde0e2;
        }
      }

      & /deep/ span.input-field-wrapper {
        border-radius: 0 0.28rem 0.28rem 0;
        border-left: none;
      }
    }

    .loading-overlay {
      position: absolute;
      background-color: $white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import { UrErrorLabel, UrSelect } from '../common/form';
import UrCheckbox from '../common/ur-checkbox.vue';
import types from '../../store/types';
import usStates from '@/data/states-hash.json';
import caProvinces from '@/data/provinces-hash.json';

export default {
  name: 'advanced-account-search-form',
  components: {
    UrCheckbox,
    UrErrorLabel,
    UrSelect,
  },
  computed: {
    ...mapGetters({
      searchParams: types.accounts.searchParams,
      searchRequestPending: types.accounts.searchRequestPending,
    }),
    ...mapState({
      searchCriteria: state => state.accounts.searchCriteria,
    }),
    searchEnabled() {
      return !this.searchRequestPending && Object.keys(this.searchParams).length > 0;
    },
  },
  methods: {
    ...mapActions({
      saveActiveSearch: types.accounts.saveActiveSearch,
      searchAccounts: types.accounts.searchAccounts,
      updateSearchCriteriaEnabled: types.accounts.updateSearchCriteriaEnabled,
      updateSearchCriteriaValue: types.accounts.updateSearchCriteriaValue,
    }),
    close() {
      this.$emit('close');
    },
    async handleSearchButtonClicked() {
      this.showErrorMessage = false;
      const params = { ...this.searchParams };
      const accounts = await this.searchAccounts(params);
      if (accounts.length > 0) {
        await this.saveActiveSearch({ params, accounts });
        this.close();
      }
      else {
        this.showErrorMessage = true;
      }
    },
    toggleCriteria(enabled, ...keys) {
      this.updateSearchCriteriaEnabled({ enabled, keys });
    },
    updateField(key, value) {
      this.updateSearchCriteriaValue({ key, value });
    },
  },
  data() {
    return {
      caProvinces,
      showErrorMessage: false,
      usStates,
    };
  },
  watch: {
    // Clear the error message (if any) when the user modifies the form
    searchParams() {
      this.showErrorMessage = false;
    },
  },
};
</script>
