<template>
  <div class="allocation-codes" v-show="availableRequisitionCodes.length || availableAccountingCodes.length">
    <accounting-codes v-if="availableAccountingCodes.length" :accounting-codes="availableAccountingCodes" :editing="true"></accounting-codes>
  </div>
</template>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { get } from 'lodash';
  import types from '@/store/types';

  import AccountingCodes from './accounting-codes.vue';

  export default {
    components: {
      AccountingCodes,
    },
    computed: {
      // Import State from Vuex Getters
      ...mapGetters([]),

      // Import State from Vuex
      ...mapState({
        accountingCodesLen(state) {
          if (this.quote && this.quote.quoteId) {
            return Object.values(state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
              .filter(({ codeType }) => codeType === 'A')
              .length;
          }
        },
        availableAccountingCodes(state) {
          const tcLevel = get(state.accounts.all, [this.reservationDetails.accountId, 'tcLevel'], '');
          if (tcLevel !== 'C') {
            return [];
          }
          const codes = state.allocationCodes.allAccountingCodes[this.reservationDetails.accountId];
          return codes || [];
        },
        availableRequisitionCodes(state) {
          const tcLevel = get(state.accounts.all, [this.reservationDetails.accountId, 'tcLevel'], '');
          if (tcLevel !== 'C') {
            return [];
          }
          const codes = state.allocationCodes.allRequisitionCodes[this.reservationDetails.accountId];
          return codes || [];
        },
        currentAccountingCodes(state) {
          return get(state.checkout.billing, [this.block.id, 'accountingCodes'], []);
        },
        quote(state) {
          return state.quotes.all[this.$route.params.quoteId];
        },
      }),
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        fetchAccountingCodes: types.allocationCodes.fetchAllocationCodes,
        fetchRequisitionCodes: types.allocationCodes.fetchRequisitionCodes,
        fetchAccountingRequisitionCodes: types.accountingRequisitionCodes.fetch,
      }),
      fetchAllocationCodes() {
        // Fetch accounting codes if needed
        const { accountId } = this.reservationDetails;
        const transId = this.quote.quoteId;
        this.fetchAccountingRequisitionCodes({ accountId, transId });

        if (!this.availableAccountingCodes.length) {
          this.fetchAccountingCodes(this.reservationDetails.accountId);
        }

        // Fetch requisition codes if needed
        if (!this.availableRequisitionCodes.length) {
          this.fetchRequisitionCodes(this.reservationDetails.accountId);
        }
      },
    },
    mounted() {
      this.fetchAllocationCodes();
    },
    name: 'allocation-codes',
    props: {
      editing: {
        type: Boolean,
        default: true,
      },
      reservationDetails: {
        type: Object,
      },
    },
    watch: {
      'reservationDetails.accountId': function fetchCodes() {
        this.fetchAllocationCodes();
      },
    },
  };
</script>
