<template>
  <div>
    <div v-if="small" class="platform-account-reservation-details-billing">
      <div class="group-full">
        <div class="quote-billing-title-cont">
          <p class="section_name">{{ $i18n('reservationView.billing') }}</p>
        </div>
        <!-- inactive state -->
        <template v-if="formState === 'inactive' || formState === 'success'">
          <div class="group-full">
            <div class="billing-data-group">
              <div class="platform-account-reservation-details-billing__container">
                <div>
                  <p>
                    <strong>{{ $i18n('reservationView.accountName') }}: </strong>
                    {{ account.name }}
                  </p>
                </div>
              </div>
              <div class="platform-account-reservation-details-billing__container">
                <div>
                  <p>
                    <strong>{{ $i18n('ur.accountNumber') }}: </strong>
                    {{ account.id }}</p>
                </div>
              </div>
            </div>
            <div class="inner-column_edit_link">
              <a v-if="!editActive && formState !== 'success'" @click.prevent="toggleBillingEdit(true)">{{ $i18n('ur.edit') }}</a>
            </div>
          </div>
        </template>
        <!-- active state -->
        <template v-else>
          <div class="group-full">
            <div class="billing-data-group">

              <div class="group-full" v-if="transTypeId === 'R'">
                <h4>{{ $i18n('reservationView.billingInformation') }}</h4>
              </div>

              <div class="platform-account-reservation-details-billing__container">
                <div>
                  <p>
                    <strong>{{ $i18n('reservationView.accountName') }}: </strong>
                    {{ account.name }}
                    <!-- <router-link
                      v-if="userHasManyAccounts"
                      class="reservation-heading-supplement change-link"
                      :to="`/convert-quote/${reservationDetails.requestId}/edit-account/`">
                      {{ $i18n('ur.changeAccount') }}
                    </router-link> -->
                  </p>
                </div>
              </div>
              <div class="platform-account-reservation-details-billing__container">
                <div>
                  <p>
                    <strong>{{ $i18n('ur.accountNumber') }}: </strong>
                    {{ account.id }}</p>
                </div>
              </div>

              <div class="platform-account-reservation-details-billing__container" v-if="account.creditLimit === 0">
                <confirm-credit-card
                  v-if="allCreditCards.length"
                  :account="account"
                  :quote="quote"/>
                <add-credit-card-form
                  v-else
                  ref="creditCardForm"/>
              </div>

              <div class="platform-account-reservation-details-billing__container">
                <div class="">
                  <po-number
                    :poNumber="quote.po"
                    :accountId="quote.accountId"
                    :requirePo="account.requirePo"
                    @changePo="setPo"
                    @noPoChanged="setNoPoChanged"
                    @poError="setPoError"/>
                </div>
              </div>
              <div class="platform-account-reservation-details-billing__container border-b-normal" v-if="!hideRppBlock">
                <rental-protection-plan
                  :accountId="quote.accountId"
                  :rpp="tempRpp"
                  :hideDecline="hideDecline"
                  @rppChanged="setRpp"/>
              </div>

              <div class="platform-account-terms-and-conditions">

                <div class="terms-and-conditions-container">
                  <h5 class="heading-5 reservation-heading">{{ $i18n('checkout.termsAndConditionsTitle') }}</h5>
                  <div class="terms-and-conditions">
                    <p class="terms-and-conditions-paragraph" v-html="$i18n('checkout.termsAndConditionsParagraph')"></p>
                    <div class="form-item--checkbox__item" style="overflow: hidden">
                      <ur-checkbox
                        :label="$i18n('checkout.termsAndConditionsAcceptance')"
                        :checked="termsChecked"
                        @change="setTerms"/>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div v-else class="platform-account-reservation-details-billing no-border" :class="formState">
      <div class="group-left">
        <p class="section_name">{{ $i18n('reservationView.billing') }}</p>
      </div>

      <!-- inactive state -->
      <template v-if="formState === 'inactive' || formState === 'success'">
        <div class="group-right">
          <div class="billing-data-group">
            <div class="platform-account-reservation-details-billing__container">
              <div>
                <p>
                  <strong>{{ $i18n('reservationView.accountName') }}: </strong>
                  {{ account.name }}
                </p>
              </div>
            </div>
            <div class="platform-account-reservation-details-billing__container">
              <div>
                <p>
                  <strong>{{ $i18n('ur.accountNumber') }}: </strong>
                  {{ account.id }}</p>
              </div>
            </div>
          </div>
          <div class="inner-column_edit_link">
            <a v-if="!editActive && formState !== 'success'" @click.prevent="toggleBillingEdit(true)">{{ $i18n('ur.edit') }}</a>
          </div>
        </div>
      </template>
      <!-- active state -->
      <template v-else>
        <div class="group-right">
          <div class="billing-data-group">

            <div class="group-full" v-if="transTypeId === 'R'">
              <h4>{{ $i18n('reservationView.billingInformation') }}</h4>
            </div>

            <div class="platform-account-reservation-details-billing__container">
              <div>
                <p>
                  <strong>{{ $i18n('reservationView.accountName') }}: </strong>
                  {{ account.name }}
                  <!-- <router-link
                    v-if="userHasManyAccounts"
                    class="reservation-heading-supplement change-link"
                    :to="`/convert-quote/${reservationDetails.requestId}/edit-account/`">
                    {{ $i18n('ur.changeAccount') }}
                  </router-link> -->
                </p>
              </div>
            </div>
            <div class="platform-account-reservation-details-billing__container">
              <div>
                <p>
                  <strong>{{ $i18n('ur.accountNumber') }}: </strong>
                  {{ account.id }}</p>
              </div>
            </div>

            <div class="platform-account-reservation-details-billing__container" v-if="account.creditLimit === 0">
              <confirm-credit-card
                v-if="allCreditCards.length"
                :account="account"
                :quote="quote"
                @expired="setExpired"/>
              <add-credit-card-form
                v-else
                ref="creditCardForm"/>
            </div>

            <div class="platform-account-reservation-details-billing__container">
              <div class="">
                <po-number
                  :poNumber="quote.po"
                  :accountId="quote.accountId"
                  :requirePo="account.requirePo"
                  @changePo="setPo"
                  @noPoChanged="setNoPoChanged"
                  @poError="setPoError"/>
              </div>
            </div>


            <!-- TODO  Accounting codes  -->
            <!-- <object-details-accounting-codes
              v-if="accountingCodesLen > 0"
              :transTypeId="transTypeIdentifier"
              :requisition="quote"
            ></object-details-accounting-codes>

            <div v-show="allocationCodesExist" class="platform-account-reservation-details-billing__container">
              <allocation-codes
                :reservationDetails="reservationDetails"
              ></allocation-codes>
            </div> -->

            <!-- TODO To be used in convert quotes v2  -->
            <!--
            <div class="platform-account-reservation-details-billing__container p-b-20  border-b-normal">
              <div class="inner-column_five-column" v-if="showApproversOrRequestors">
                <p>
                  <strong>{{ $i18n('cart.approvalInformation') }} </strong>

                </p>
                <div v-if="showApprovers">
                  <approver-selector :account-id="account.id" :value="approverId" @change="onApproverChange"></approver-selector>
                </div>
                <div v-if="showRequestors">
                  <requester-selector :account-id="account.id" :value="requesterId" @change="onRequesterChange"></requester-selector>
                </div>
              </div>
            </div>
            -->
            <div class="platform-account-reservation-details-billing__container border-b-normal" v-if="!hideRppBlock">
              <rental-protection-plan
                :accountId="quote.accountId"
                :rpp="tempRpp"
                :hideDecline="hideDecline"
                @rppChanged="setRpp"/>
            </div>

            <div class="platform-account-terms-and-conditions">

              <div class="terms-and-conditions-container">
                <h5 class="heading-5 reservation-heading">{{ $i18n('checkout.termsAndConditionsTitle') }}</h5>
                <div class="terms-and-conditions">
                  <p class="terms-and-conditions-paragraph" v-html="$i18n('checkout.termsAndConditionsParagraph')"></p>
                  <div class="form-item--checkbox__item" style="overflow: hidden">
                    <ur-checkbox
                      :label="$i18n('checkout.termsAndConditionsAcceptance')"
                      :checked="termsChecked"
                      @change="setTerms"/>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script type="text/babel">
  import { get } from 'lodash';
  import { mapGetters, mapState, mapActions } from 'vuex';
  import AddCreditCardForm from '@/components/cart/reservation-block/billing/add-credit-card-form.vue';
  import ConfirmCreditCard from '@/components/platform-account/quotes/convert-quote/billing/confirm-credit-card-and-account-billing.vue';
  import PoNumber from '@/components/platform-account/quotes/convert-quote/billing/po-number.vue';
  import RentalProtectionPlan from '@/components/platform-account/quotes/convert-quote/billing/rental-protection-plan';
  import UrCheckbox from '@/components/common/ur-checkbox';

  import types from '@/store/types';

  export default {
    name: 'convert-quotes-billing',
    components: {
      AddCreditCardForm,
      ConfirmCreditCard,
      PoNumber,
      RentalProtectionPlan,
      UrCheckbox,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'getRequisitionCodes',
      ]),
      ...mapState({
        allApprovers: state => state.approvers.all,
        allRequesters: state => state.requesters.all,
        allCreditCards: state => state.creditCards.all,
        userHasManyAccounts: state => Object.keys(state.accounts.all).length > 1,
        /**
         * TODO To be used in convert quotes v2
         */
        /*
        showApproversOrRequestors() {
          const test = parseInt(this.showApprovers, 0) + parseInt(this.showRequestors, 0) !== 0;
          return test;
        },
        showApprovers() {
          let aa = 0;
          if (this.allApprovers && this.allApprovers[this.account.id]) {
            aa = Object.keys(this.allApprovers[this.account.id]).length;
          }
          return aa;
        },
        showRequestors() {
          let ar = 0;
          if (this.allRequesters && this.allRequesters[this.account.id]) {
            ar = Object.keys(this.allRequesters[this.account.id]).length;
          }
          return ar;
        },
        */
        accountingCodesLen(state) {
          if (this.quote && this.quote.quoteId) {
            return Object.values(state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
              .filter(({ codeType }) => codeType === 'A')
              .length;
          }
        },
        requisitionCodesLen(state) {
          if (this.quote && this.quote.quoteId) {
            return Object.values(state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
              .filter(({ codeType }) => codeType === 'R')
              .length;
          }
        },
        rppConfirmed: state => state.cart.confirmed,
      }),
    },
    data() {
      return {
        canEdit: true,
        editActive: false,
        reqCodesFetched: false,
        requesterId: '',
        approverId: '',
        tempRpp: false,
        savedRpp: false,
        transTypeIdentifier: 'Q',
        checked: this.termsChecked,
      };
    },
    mounted() {
      this.fetchData();
      this.tempRpp = this.quote.rpp === 'Y';
      this.savedRpp = this.quote.rpp === 'Y';
      this.$store.state.cart.rpp = this.quote.rpp === 'Y';
    },
    methods: {
      ...mapActions({
        updateReservationFields: types.readReservationDetails.updateReservationFields,
        updateRpp: types.readReservationDetails.updateReservationFields,
        fetchEstimates: types.estimates.fetch,
        fetchAccountingRequisitionCodes: types.accountingRequisitionCodes.fetch,
        setConfirmed: types.cart.setConfirmed,
      }),
      // Close/Open jobsite edit form
      toggleBillingEdit(toggle) {
        if (toggle && !this.hideEditLink) {
          this.gotoActive();
        }
        this.editActive = toggle;
      },
      onRequesterChange(requesterId) {
        this.requesterId = requesterId;
      },
      onApproverChange(approverId) {
        this.approverId = approverId;
      },
      setPo(input) {
        const { requisitionId } = this.quote;
        this.updateReservationFields({
          reservationId: requisitionId,
          fields: {
            po: input,
          },
        });
        this.quote.po = input;
      },
      setPoError(input) {
        this.$emit('error', input);
      },
      setExpired(input) {
        this.$emit('expired', input);
      },
      setNoPoChanged(value) {
        this.$emit('noPoChanged', value);
      },
      /**
       * Business Logic for when the RPP Selection component is available.
       * @return {boolean} whether or not the rpp component should be rendered
       */
      rppIsAvailable() {
        return get(this.account, ['rppDefault']) === 'C';
      },

      /**
       * Does the user have allocation codes? This drives the display of <allocation-codes>
       * @param {object} state (vuex)
       * @return {boolean} if accounting or requisition codes exist
       */
      allocationCodesExist(state) {
        const tcLevel = get(state.accounts.all, [this.quote.accountId, 'tcLevel'], '');
        const accountingCodes = state.allocationCodes.allAccountingCodes[this.quote.accountId];
        const requisitionCodes = state.allocationCodes.allRequisitionCodes[this.quote.accountId];

        return tcLevel === 'C' && (accountingCodes || requisitionCodes);
      },
      fetchData() {
        const { accountId, transId } = this.quote;
        this.fetchAccountingRequisitionCodes({ accountId, transId });
      },
      setTerms() {
        this.$emit('termsChanged');
      },
      setRpp(val) {
        this.tempRpp = val;
        this.$router.push(`/convert-quote/${this.quote.requisitionId}/edit-rpp`);
      },
      saveRpp() {
        this.updateRpp({
          reservationId: this.quote.requisitionId,
          fields: {
            rpp: this.savedRpp,
          },
        }).then(() => {
          const catClassesAndQuantities = [];
          Object.keys(this.estimate.items).forEach((ea) => {
            if (this.estimate.items[ea].quantity) {
              catClassesAndQuantities.push(`${ea}=${this.estimate.items[ea].quantity}`);
            }
          });
          const estObj = {
            branchId: this.estimate.branchId,
            jobsiteId: this.quote.jobsite.id,
            startDateTime: this.estimate.startDate,
            returnDateTime: this.estimate.returnDate,
            delivery: this.estimate.delivery,
            urWillPickup: this.estimate.pickup,
            rpp: this.savedRpp,
            items: this.estimate.items,
            accountId: this.estimate.accountId,
            requisitionId: this.quote.requisitionId,
            useCache: false,
          };
          this.fetchEstimates(estObj);
        });
      },
    },
    props: {
      transTypeId: String,
      quote: Object,
      estimate: Object,
      account: Object,
      formState: String,
      hideEditLink: Boolean,
      hideRppBlock: Boolean,
      hideDecline: Boolean,
      termsChecked: Boolean,
    },
    watch: {
      $route(to, from) {
        if (from.path.indexOf('edit-rpp') > 0) {
          if (this.rppConfirmed) {
            this.setConfirmed(false);
            this.savedRpp = this.tempRpp;
            this.saveRpp();
          }
          else {
            this.tempRpp = this.savedRpp;
          }
        }
      },
    },
  };
</script>
