<template>
  <form class="convert-quotes-account-details-form">
    <header>
      <ul class="account-details-form__use-jobsite-checkbox">
        <ur-checkbox :checked="addressMatchesJobsite" :label="$i18n('checkout.useJobsiteAddress')" @change="useJobsiteForBillingAddress"></ur-checkbox>
      </ul>
      <h3>{{ $i18n('checkout.billingAddress') }}</h3>
    </header>

    <company-name-text-input :value="accountForm.name" @input="name => updateAccountFormField({name})"></company-name-text-input>
    <address1-text-input :value="accountForm.address1" @input="address1 => updateAccountFormField({address1})"></address1-text-input>
    <address2-text-input :value="accountForm.address2" @input="address2 => updateAccountFormField({address2})"></address2-text-input>

    <div v-bind:class="['address-block', small ? 'flex-column' : 'flex-row col-3']">
      <city-text-input :value="accountForm.city" @input="city => updateAccountFormField({city})"></city-text-input>
      <state-select :value="accountForm.state" @change="state => updateAccountFormField({state})"></state-select>
      <zip-text-input :value="accountForm.zip" @input="zip => updateAccountFormField({zip})"></zip-text-input>
    </div>

    <header>
      <ul class="account-details-form__use-jobsite-checkbox">
        <ur-checkbox :checked="contactMatchesJobsite" :label="$i18n('checkout.useJobsiteContact')" @change="useJobsiteForBillingContact"></ur-checkbox>
      </ul>
      <h3>{{ $i18n('checkout.billingContact') }}</h3>
    </header>

    <tc-user-form></tc-user-form>

    <phone-text-input :value="accountForm.phone" @input="phone => updateAccountFormField({phone})"></phone-text-input>
    <email-text-input :value="accountForm.email" @input="email => updateAccountFormField({email})"></email-text-input>

    <slot name="footer"></slot>
  </form>
</template>

<script>
  import CompanyNameTextInput from '@/components/common/form/text-input/company-name';
  import Address1TextInput from '@/components/common/form/text-input/address1';
  import Address2TextInput from '@/components/common/form/text-input/address2';
  import CityTextInput from '@/components/common/form/text-input/city';
  import StateSelect from '@/components/common/form/select/state';
  import ZipTextInput from '@/components/common/form/text-input/zip';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';

  import TcUserForm from '@/components/account/tc-user-form';

  import UrCheckbox from '@/components/common/ur-checkbox';

  import types from '@/store/types';

  import { mapActions, mapState, mapGetters } from 'vuex';
  import { email, required } from 'vuelidate/lib/validators';
  import { get } from 'lodash';

  export default {
    name: 'convert-quote-account-form',
    components: {
      CompanyNameTextInput,
      Address1TextInput,
      Address2TextInput,
      CityTextInput,
      StateSelect,
      ZipTextInput,
      EmailTextInput,
      PhoneTextInput,
      TcUserForm,
      UrCheckbox,
    },

    computed: {
      ...mapState({
        accountForm: state => state.accounts.form,
        tcUserForm: state => state.accounts.tcUserForm,
        reservationJobsite(state) {
          const { accountId, jobsiteId } = this.reservation;
          return get(state.jobs.all, [accountId, jobsiteId], state.jobs.form.anon);
        },
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),

      /**
       * @return {boolean} if the form matches the jobsite form
       */
      addressMatchesJobsite() {
        return ['address1', 'address2', 'city', 'state', 'zip'].reduce((isMatch, fieldName) => {
          if (get(this.reservationJobsite, [fieldName]) !== get(this.accountForm, [fieldName])) {
            isMatch = false;
          }
          return isMatch;
        }, true);
      },

      /**
       * @return {boolean} if the account form matches the jobsite form
       */
      contactMatchesJobsite() {
        const allCriteria = [];

        // Does the jobsite contact match the first & last name fields on the account?
        const [firstName, lastName] = get(this.reservationJobsite, ['contact'], '').split(' ');
        allCriteria.push(firstName === this.tcUserForm.firstName && lastName === this.tcUserForm.lastName);

        // Does the jobsite mobilePhone match the account phone? (Regardless of formatting)
        allCriteria.push(get(this.reservationJobsite, ['mobilePhone'], '').replace(/\D/g, '') === get(this.accountForm, ['phone'], '').replace(/\D/g, '')); // eslint-disable-line

        // Do the emails match?
        allCriteria.push(get(this.reservationJobsite, ['email'], '') === get(this.accountForm, ['email'], ''));

        return !allCriteria.includes(false);
      },
    },

    methods: {
      ...mapActions({
        updateAccountFormField: types.accounts.updateFormField,
        updateTcUserFormField: types.accounts.updateTcUserFormField,
      }),
      useJobsiteForBillingAddress() {
        const fieldNames = ['address1', 'address2', 'city', 'state', 'zip'];
        fieldNames
          .map(field => ({ [field]: this.reservationJobsite[field] }))
          .forEach(this.updateAccountFormField);
      },
      useJobsiteForBillingContact() {
        this.updateAccountFormField({ phone: get(this.reservationJobsite, ['mobilePhone']) });
        this.updateAccountFormField({ email: get(this.reservationJobsite, ['email']) });

        const [firstName, lastName] = get(this.reservationJobsite, ['contact'], '').split(' ');
        this.updateTcUserFormField({ firstName, lastName });
      },
    },

    mounted() {
      this.$emit('isValid', false);
      this.$watch('$v.job.$invalid', invalid => {
        this.$emit('isValid', !invalid);
      });
    },
    props: {
      reservation: {
        type: Object,
        required: false,
      },
    },
    validations: {
      accountForm: {
        address1: { required },
        city: { required },
        email: { email },
        phone: { required },
        state: { required },
        zip: { required },
      },
    },
  };
</script>
