<!-- Cloned from /vue/src/components/cart/reservation-block/billing/edit-account-modal.vue -->
<!-- In convert-quote we're using different store so we have to rewrite save method -->
<template>
  <div class="edit-account-modal">
    <div class="modal-header">
      <h2>{{ $i18n('checkout.selectAnAccount') }}</h2>
    </div>

    <div class="modal-body">
      <ur-select
        class="account-name-select"
        :label="$i18n('cart.accountName')"
        :suppress-empty-option="true"
        :value="selectedAccountId"
        @change="onAccountChange">
        <option v-for="(account, key) in allAccounts" :key="key" :value="account.id" :selected="selectedAccountId === account.id">{{account.name}}</option>
      </ur-select>

      <ur-select
        class="account-number-select"
        :label="$i18n('cart.accountNumber')"
        :suppress-empty-option="true"
        :value="selectedAccountId"
        @change="onAccountChange">
        <option v-for="(account, key) in allAccounts" :key="key" :value="account.id" :selected="selectedAccountId === account.id">{{account.id}}</option>
      </ur-select>

      <div class="after-account-selectors">
        <template v-if="hasChangedAccount">
          <p>{{ $i18n('checkout.restartAlert') }}</p>
          <jobsite-select :account-id="selectedAccountId" :value="selectedJobsiteId" @change="onJobsiteChange"></jobsite-select>
        </template>
        <p v-else>{{ $i18n('checkout.restartWarning') }}</p>
      </div>
    </div>

    <div class="modal-footer">
      <button
        class="button--secondary button--style-1"
        @click="$router.go(-1)">
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button--filled button--style-1"
        @click="save">
        {{ $i18n('checkout.done') }}
      </button>
    </div>

  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import JobsiteSelect from '@/components/common/job-selector';

  // Import Modules
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  import UrGtm from '@/mixins/ur-gtm';

  export default {
    components: {
      UrSelect,
      JobsiteSelect,
    },
    computed: {
      // Import State from Vuex
      ...mapState({
        allAccounts: state => state.accounts.all,
      }),
    },
    data() {
      return {
        selectedAccountId: null,
        selectedJobsiteId: null,
        hasChangedAccount: false,
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        allJobsites: types.jobs.all,
        fetchJobsites: types.jobs.fetch,
        updateAccountId: types.readReservationDetails.updateAccountId,
      }),
      onAccountChange(accountId) {
        this.hasChangedAccount = true;
        this.selectedAccountId = accountId;
        if (!this.allJobsites[accountId]) {
          this.fetchJobsites(accountId);
        }
      },
      onJobsiteChange(jobsiteId) {
        this.selectedJobsiteId = jobsiteId;
      },
      save() {
        const { quoteId } = this.$route.params;

        this.updateAccountId({
          reservationId: quoteId,
          accountId: this.selectedAccountId,
        });

        this.$router.go(-1);
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'edit-account-modal',
  };
</script>
