<template>
  <div class="rental-protection-plan-container">
    <label class="heading-5 rpp-heading">{{ $i18n('checkout.rentalProtectionPlan') }}</label>
    <div class="rental-protection-plan">
      <p class="rpp-paragraph" v-html="$i18n('checkout.rppParagraph')"></p>
      <div class="plan-acceptance" style="align-items: baseline;">
        <input :id="id1" type="radio" :checked="rpp" />
        <label :for="id1" class="label-selection" @click="onClick(true)">
          <span class="radio"></span>{{ $i18n('ur.iAccept') }}
        </label>
        <input :id="id2" type="radio" :checked="!rpp" v-if="!hideDecline"/>
        <label :for="id2" class="label-selection" @click="onClick(false)" v-if="!hideDecline">
          <span class="radio"></span>{{ $i18n('ur.iDecline') }}
        </label>
      </div>
    </div>
  </div>
</template>
<script>
  import uid from '@/utils/uid';

  export default {
    name: 'rental-protection-plan',
    data() {
      return {
        id1: uid(),
        id2: uid(),
      };
    },
    methods: {
      onClick(val) {
        this.$emit('rppChanged', val);
      },
    },
    props: {
      rpp: Boolean,
      accountId: String,
      hideRppBlock: Boolean,
      hideDecline: Boolean,
    },
  };
</script>
