<template>
  <div class="select-credit-card">
    <div class="select-credit-card__top">
      <p>{{ $i18n('checkout.selectADifferentCard') }}</p>
    </div>
    <ul class="form-item--radios">
      <li v-for="card in cards" :key="card.id">
        <input type="radio" :id="`radio-${card.id}`" name="radio-select-credit-card" :checked="card.id === currentCardId" :disabled="ccIsExpiredCheck(card.expireDate)" @click="onSelect(card.id)"/>
        <label :for="`radio-${card.id}`" class="label-selection">
          <span class="radio"></span>
        </label>
        <div>
          <p class="card-type"><img :src="card.cardType | ccTypeImg"/> {{card.cardType | ccTypeName}} **** {{card.ccNum4}} </p>
          <p class="paragraph">{{ $i18n('checkout.expiration') }} {{card.expireDate | ccMonthYear}} </p>
          <p v-if="ccIsExpiredCheck(card.expireDate)" class="error-message">{{ $i18n('card.errorExpiredCard') }}</p>
        </div>
      </li>
    </ul>
    <div class="select-credit-card__bottom">
      <a @click="onSave" class="button button--style-2 button--filled"> {{ $i18n('ur.save') }}</a>
      <a @click="$router.go(-1)" class="button button--style-2 button--secondary" style="margin-right: 1rem;">{{ $i18n('ur.cancel') }}</a>
    </div>
  </div>
</template>

<script>
  // Import Components

  // Import Modules
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import { padStart } from 'lodash';
  import moment from 'moment';

  export default {
    components: {},
    computed: {
      // Import State from Vuex Getters
      ...mapGetters([]),

      // Import State from Vuex
      ...mapState({
        cards: state => state.creditCards.all.filter(({ status }) => status === true), // active cards
        currentCardId(state) {
          return state.convertQuotes.billing.cardId;
        },
      }),
    },
    data() {
      return {
        localCardId: this.currentCardId,
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        fetchCreditCards: types.creditCards.fetch,
        updateBillingCreditCard: types.convertQuotes.billingCreditCard,
      }),
      onSelect(cardId) {
        this.localCardId = cardId;
      },
      ccIsExpiredCheck(expDate) {
        const formattedExpDate = padStart(Number(expDate), 4, '0');
        const expDateMoment = moment(formattedExpDate, 'MMYY');
        return expDateMoment.isBefore(moment().add(1, 'm').startOf('month'));
      },
      onSave() {
        const cardId = this.localCardId;
        this.updateBillingCreditCard({ cardId });
        this.$router.go(-1);
      },
    },
    name: 'select-credit-card',
  };
</script>

<style lang="scss">
  @import 'styles/globals';

  .select-credit-card .form-item--radios li {
    display: flex;
    align-items: flex-start;
    & label {
      margin-top: rem(-2);
      width: rem(26);
    }
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      & p {
        width: 100%;
        &:nth-child(2) {
          font-size: .875em;
          color: #999999;
          margin: rem(5) 0;
        }
      }
    }

    label.label-selection {
      width: rem(26);
    }
  }
</style>
