/*
---
name: Segmented Action Bar
category: Molecules
---
Each control within the action bar contains a contextual icon and `span` for a label. They all flex to respond to different screen widths.

```segmented-action-bar-single.html
<div class="file-sort-buttons">
  <button class="button button--style-1 button--default">
    <i class="icon icon-sort"></i> <span>Sort</span>
  </button>
</div>
```
```segmented-action-bar-double.html
<div class="file-sort-buttons">
  <button class="button button--style-1 button--default">
    <i class="icon icon-sort"></i> <span>Sort</span>
  </button>
  <button class="button button--style-1 button--default">
    <i class="icon icon-views"></i> <span>Views</span>
  </button>
</div>
```
```segmented-action-bar-double.css hidden
.button + .button i{
  padding-right: 4px;
}
```
```segmented-action-bar-triple.html

  <div class="file-sort-buttons">
    <button class="button button--style-1 button--default">
      <i class="icon icon-sort"></i> <span>Sort</span>
    </button>
    <button class="button button--style-1 button--default">
      <i class="icon icon-views"></i> <span>Views</span>
    </button>
    <button class="button button--style-1 button--default">
      <i class="icon icon-cog"></i> <span>Settings</span>
    </button>
  </div>
```
```segmented-action-bar-triple.css hidden
.button + .button i{
  padding-right: 4px;
}
```
*/
