<template>
  <Layout>
    <div class="manage">
<!--      <ur-legacy-styles>-->
        <Workplace/>
<!--      </ur-legacy-styles>-->
    </div>
  </Layout>
</template>


<script>
  import Workplace from '@/components/workplace/workplace';
  import Layout from '@/layouts/LayoutDefault.vue';

  export default {
    name: 'ViewManage',
    components: { Layout, Workplace },
  };
</script>
