<template>
  <Layout class="flex-row pickup-landing__container">
      <div class="flex-column">
        <div class="flex-column ">
          <h1>{{ this.$i18n('workplace.pickupRequest.PickupTitle') }}</h1>
        </div>
        <div class="flex-column flex-gap-10">
          <div class="flex-row flex-gap-10 subhead">
            {{ this.$i18n('workplace.pickupRequest.PickupDescription') }}
          </div>
          <div class="section-box">
            <h4 class="padded">{{ this.$i18n('workplace.pickupRequest.IdentifyContract') }}</h4>
            <div class="padded">{{ this.$i18n('workplace.pickupRequest.IdentifyContractDesc') }}</div>
            <div class="padded input-wrapper">
              <q-input
                v-model="accountId"
                class="m-t-0"
                field-size="small"
                :maxlength="10"
                :required="true"
                placeholder="Account Number"
                v-on:cleared="accountId = ''"/>
              or
              <q-input
                v-model="email"
                class="m-t-0"
                field-size="small"
                :maxlength="50"
                :required="true"
                placeholder="Email"
                v-on:cleared="email = ''"/>
              or
              <q-input
                v-model="phone"
                mask="(999) 999-9999"
                class="m-t-0"
                field-size="small"
                :maxlength="15"
                :required="true"
                placeholder="Phone Number"
                v-on:cleared="phone = ''"/>
            </div>
          </div>
          <div class="section-box">
            <h4 class="padded">{{ this.$i18n('workplace.pickupRequest.IdentifyEquipment') }}</h4>
            <div class="padded">{{ this.$i18n('workplace.pickupRequest.IdentifyEquipmentDesc') }}</div>
            <div class="padded input-wrapper">
              <q-input
                class="m-t-0"
                v-model="equipmentId"
                field-size="small"
                :required="true"
                placeholder="Equipment Id"
                v-on:cleared="equipmentId = ''"/>
              or
              <q-input
                class="m-t-0"
                v-model="transId"
                field-size="small"
                :required="true"
                placeholder="Contract Number"
                v-on:cleared="transId = ''"/>
            </div>
          </div>
          <ur-error-label v-if="hasError" class="m-t-10  grow" :message="errorMsg"/>
          <button
            class="btn btn-style--primary btn-size--regular"
            :disabled="inputInvalid"
            @click="continueClickHandler($event)">
            {{ this.$i18n('workplace.pickupRequest.ReturnNow') }}
          </button>
        </div>
        <router-view/>
      </div>
  </Layout>
</template>

<script>
  import { mapActions } from 'vuex';
  import types from '@/store/types';
  import UrErrorLabel from '@/components/common/form/ur-error-label.vue';
  import Layout from '@/layouts/LayoutDefault.vue';

  export default {
    name: 'ViewPickup',
    components: { Layout, UrErrorLabel },
    data() {
      return {
        errorMsg: '',
        requestFetchingInProgress: false,
      };
    },
    computed: {
      inputInvalid() {
        if (!this.email.trim() && !this.phone.trim() && !this.accountId.trim()) {
          return true;
        }
        if (!this.transId.trim() && !this.equipmentId.trim()) {
          return true;
        }
        if (this.$v.phone.$invalid || this.$v.email.$invalid) {
          return true;
        }
        return false;
      },
      hasError() {
        return this.$v.phone.$invalid || this.$v.email.$invalid;
      },
    },
    methods: {
      ...mapActions({
        fetchTcUser: types.tcUser.fetch,
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
      }),
      async continueClickHandler() {
        this.$router.push({
          name: 'workplace:pickup:request-reschedule',
          params: {
            email: this.email,
            phone: this.phone,
            accountId: this.accountId,
            equipmentId: this.equipmentId,
            transId: this.transId,
            rescheduleType: 'pickup',
          },
          query: {
            contentSize: '90',
          },
        });
      },
    },

    validations: {
      phone: {
        isValid(phone) {
          if (phone.replace(/\D/g, '').length <= 0) {
            return true;
          }
          if (phone.replace(/\D/g, '').length !== 10) {
            this.errorMsg = this.$i18n('workplace.rescheduleRequest.pleaseEnterPhone');
            return false;
          }
          return true;
        },
      },
      email: {
        isValid(email) {
          if (email.length > 0) {
            const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // eslint-disable-line
            if (!regex.test(email)) {
              this.errorMsg = this.$i18n('checkout.wrongEmailFormat');
              return false;
            }
          }
          return true;
        },
      },
    },
  };
</script>

<style lang="scss">
  @import 'styles/globals';

  .path-pickup {
    aside#region-right-sidebar {
      display: flex;
    }

    #block-pickupsidebarblock {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      height: 100%;

      img {
        max-height: rem(500);

        @include media('<m') {
          display: none;
        }
      }

      .block-pickup-sidebar-block__content {
        @include footer-gap();

        @include bs-ie {
          min-width: 1px;
          max-width: rem(340);
        }
      }
    }

    div[role=main] {
      display: table;
      width: 100%;

      aside.main-sidebar {
        background: white;
        display: none;
        width: 100%;

        div:first-child {
          height: 100%;
        }
      }
    }
  }

  @include media('>=640px') {
    .path-pickup {
      div[role=main] {
        display: flex;
        width: inherit;

        aside.main-sidebar {
          display: block;
          order: 2;
        }

        div.main-content--with-sidebar {
          order: 1;
        }
      }
    }
  }

</style>

<style lang="scss" scoped>
  @import 'styles/globals';

  .path-pickup {
    .pickup-landing__container {
      padding: rem(20) rem(14) rem(50) rem(14);
      justify-content: center;

      > div.flex-column {
        width: 100%;
      }

      h1 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem !important;
      }

      .subhead {
        line-height: 1.4rem;
        margin-bottom: 2.2rem !important;
      }

      label.error-message {
        margin-bottom: 1.6rem;
      }

      .q-text-input {
        & /deep/ .form-item__label.form-item__label--textfield {
          margin-top: 0.2rem;
          margin-bottom: rem(8);
        }
      }

      .q-text-input.personal {
        margin-bottom: 3rem !important;
      }

      .q-text-input.q-text-input__small {
        & /deep/ .input-field-wrapper {
          height: rem(40) !important;

          input {
            height: rem(38) !important;
            font-size: 1rem;
          }
        }

        & /deep/ label.message {
          margin-top: 1rem;
        }

        width: rem(185);
        display: inline-block;
        padding: rem(5);
      }

      button {
        margin-top: 2rem;
      }

      .section-box {
        border-color: #dde0e2;
        padding: rem(10);
        border-radius: 2px;
        border-width: 2px;

        .padded {
          margin: rem(10);
        }
      }
    }
  }

  .input-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  @include media('>=640px') {
    .path-pickup {

      .pickup-landing__container {
        padding: rem(40);

        h1 {
          font-size: 2rem;
          margin-bottom: 0.8rem !important;
        }

        .subhead {
          margin-bottom: 2rem !important;
        }

        div:first-child {
          width: rem(650);
        }

        button {
          width: rem(168) !important;
        }
      }
    }
  }
</style>
