$left-label-width: 140px;

.left-label {
  font-weight: bold;
  width: $left-label-width;
}

.flex-column.flex-gap-10.pickup-details-no-edit {
  margin-bottom: 0.8rem !important;

  .flex-row.flex-gap-10 {
    margin-bottom: 1.2rem !important;
  }
}

.flex-column.flex-gap-20 > :not(:last-child) {
  margin-bottom: 1.2rem;
}

.flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
  display: block !important;
  margin-bottom: 1.5rem;

  .left-label {
    display: block;
    margin-bottom: 0.7rem;
  }
}

.footer-message {
  line-height: 1.5rem;

  .promo {
    padding: 0rem 1rem;
    display: block;

    span {
      white-space: nowrap;
    }
  }
}

.location-details .flex-gap-10:last-child {
  margin-bottom: 0.4rem;
}

h3.section-title-container + ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 1rem;

    button {
      border-radius: 3px;
      height: rem(21);

      .subfilter-label {
        text-transform: none;
        font-weight: bold;
      }
    }
  }
}

.search-term-badge::before {
  content: none;
}

.email-recipients {
  max-width: rem(445);
}

@include media('>=640px') {
  .flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
    margin-bottom: 0rem;
    display: flex !important;
  }
  .flex-column.flex-gap-20.location-details {
    margin-top: 1.2rem !important;
  }
  .flex-column.flex-gap-10.pickup-details-no-edit {
    margin-bottom: 1.4rem !important;

    .flex-row.flex-gap-10 {
      margin-bottom: 0.1rem !important;

      .left-label {
        width: rem(135);
      }
    }
  }
}
