$left-label-width: rem(140);

.modal-framed__content .datetime-select {
  .left-label {
    font-weight: bold;
    width: $left-label-width;
  }

  .input-wrapper {
    max-width: rem(436);
    display: block !important;

    & > * {
      flex-basis: 50%;
    }

    & /deep/ .ur-select, & /deep/ .ur-calendar {
      display: inline;
    }

    @include media('>=640px') {
      margin-bottom: 0.5rem !important;
      display: flex !important;
    }

    & /deep/ .ur-calendar {
      margin-right: 0;
      margin-bottom: 0.6rem !important;

      @include media('>=640px') {
        margin-bottom: 0 !important;
      }

      label {
        margin-top: rem(4);
        margin-bottom: rem(4);
      }

      span, span input {
        height: rem(40);
        cursor: pointer;
      }

      span {
        width: 100%;

        & input {
          padding-left: rem(36);
          border-radius: 4px;
          height: rem(40);
        }

        // Add a down arrow to the right side of the calendar
        &::before {
          content: icon-char(arrow-down);
          bottom: 0;
          font-family: "themeIcons";
          font-size: $font-size-preset-50;
          margin: auto 0;
          pointer-events: none;
          position: absolute;
          right: rem(14);
          top: rem(2);
          z-index: 1;
          height: 2.85714rem;
          line-height: 2.85714rem;
        }

        // Restyle the calendar icon on the left side
        &::after {
          color: $color-grey-69;
          font-size: $font-size-preset-30;
          left: rem(14);
          right: auto;
          height: 2.85714rem;
          line-height: 2.85714rem;
        }
      }
    }

    & /deep/ .ur-select {
      height: rem(40);

      @include media('>=640px') {
        margin-left: 0.8rem;
      }

      label {
        margin-top: rem(4);
        margin-bottom: rem(4);
      }

      select.dropdown-style1 {
        height: rem(40);
        border-radius: 4px;
        font-size: $font-size-preset-40;
      }

      i {
        color: $color-grey-69;
        font-size: $font-size-preset-50;
        height: $font-size-preset-20;
        right: rem(12);

        &::before {
          margin-right: rem(2);
        }
      }
    }
  }

  .datetime-select__rental-start.flex-row.flex-gap-10.left-label-container {
    margin-bottom: 0.6rem !important;
  }

  .flex-row.flex-gap-10.left-label-container {
    display: block !important;

    span {
      display: block;
      margin-bottom: 0.6rem;
    }

    @include media('>=640px') {
      margin-bottom: 0.2rem !important;
      display: flex !important;

      span {
        display: inline;
      }

      .left-label {
        width: 8.5rem;
      }

      .rental-start {
        margin-bottom: 0.2rem !important;
      }
    }
  }
}