$MIN-RIGHT-WIDTH: rem(442);
$left-label-width: rem(160);

div.edit-location-details.flex-column.flex-gap-10 {
  .flex-column.flex-gap-5 .q-text-input.q-text-input__small {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include media('>=640px') {
      margin-bottom: 2rem;
    }

    & /deep/ .input-field-wrapper {
      height: rem(32);

      input {
        height: rem(30);
      }
    }
  }

  .edit-location-details__address {
    @include media('>=640px') {

      .q-text-input.m-t-0 {
        min-width: $MIN-RIGHT-WIDTH;
      }

      .zip-input {
        margin-top: 0.5rem;
      }
    }

    > div > div:first-child {
      margin-bottom: 0.7rem;
    }

    .city-state-zip.flex-row.flex-gap-10 {
      margin-top: -0.4rem;
      width: 100%;

      @include media('>=640px') {
        margin-top: 0;
        width: rem(308);
      }

      .flex-column.flex-gap-10 {
        margin-right: 0.8rem;
      }
    }

    .state {
      margin-top: 0;
      max-width: 35%;

      & /deep/ .ur-select {
        .select {
          line-height: 1;
        }
      }

      @include media('>=640px') {
        & /deep/ .ur-select {
          .select {
            height: rem(40);

            select {
              height: rem(40);
              font-size: 1rem;
              line-height: 1rem;
            }
          }
        }
      }

      & /deep/ .ur-select {
        label {
          margin-bottom: rem(5);
        }
      }

      &.is-invalid {
        & /deep/ .ur-select .select {
          select {
            border: #E10000 2px solid !important;
            border-radius: 3px;
          }
        }
      }
    }
  }

  .edit-location-details__contact {
    @include media('>=640px') {
      .edit-location-details__contact .q-text-input {
        min-width: $MIN-RIGHT-WIDTH;
      }
    }
  }

  .edit-location-details__instructions {
    &.flex-row.flex-gap-10.align-items-baseline .flex-column.flex-gap-5.grow {
      margin-bottom: 0rem;
    }

    .ur-textarea {
      margin-bottom: rem(21);

      @include media('>=640px') {
        margin-bottom: rem(24);
      }

      & /deep/ textarea {
        border-radius: 4px;
        height: rem(60);
        margin-bottom: -0.2rem;
        min-width: inherit;

        @include media('>=640px') {
          max-width: rem(424);
          border-radius: 4px;
          height: rem(56);
          margin-bottom: 0px;
        }
      }
    }

    & /deep/ label {
      font-weight: normal;
      margin-bottom: 4px;

      @include media('>=640px') {
        font-weight: normal;
        margin-bottom: 4px;
      }
    }

    .flex-column.flex-gap-5 > :nth-last-child(3) {
      margin-bottom: 0rem;
    }

    .flex-column.buttons-column {
      margin-top:1rem;
    }

    .buttons-column {
      button.q-button {
        width: 50% !important;

        &:not(:last-child) {
          margin-right: 0.8rem;
        }
      }

      .q-button--regular /deep/ {
        height: rem(32);
        font-size: rem(12);
      }

      @include media('>=640px') {
        margin-top: -0.25rem;
        width: rem(308);

        button.q-button {
          &:not(:last-child) {
            margin-right: 0.8rem;
          }
        }
      }
    }

  }

  .edit-location-details__address, .edit-location-details__contact, .edit-location-details__instructions {
    &.flex-row {
      @include media('>=640px') {
        margin-bottom: 0rem !important;
        display: flex !important; //override flex-row;

        .left-label {
          padding-top: 0.2rem;
        }
      }
    }

    > div.flex-column.flex-gap-5 {
      margin-top: 1rem;

      @include media('>=640px') {
        margin-top: rem(3);
      }

      .q-text-input.q-text-input__small {
        > /deep/ label.form-item__label--textfield {
          padding-top: 0.33rem !important;
          margin-bottom: rem(10);

        }

        /deep/ .input-field-wrapper {
          input.form-item__textfield {
            width: 100%;
            padding-left: rem(12);
            margin-left: 0;
          }

          @include media('>=640px') {
            height: rem(40);
            max-width: rem(308);

            input.form-item__textfield {
              height: rem(38);
            }
          }
        }

        /deep/ label.message {
          padding-top: 0.33rem;
        }
      }
    }
  }
}

.flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
  display: block !important;
}

.flex-column.flex-gap-5 .error-message {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.flex-column.flex-gap-10 .q-text-input {
  margin-top: 0.4rem;
}

.flex-column.flex-gap-5 .q-text-input.q-text-input__small.is-invalid {
  & /deep/ .input-field-wrapper {
    border: 1px solid #E10000 !important;

    input {
      border: 1px solid #E10000 !important;
    }
  }
}

.flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
  .zip-input {
    margin-top: 0rem;
  }

  .left-label {
    padding-top: 0rem;
    font-weight: bold;
    width: $left-label-width;
  }
}
