.w-100pct {
  width: 100% !important;
}

.email-recipients {
  max-width: 100%;

  &.flex-row {
    @import 'styles/libraries/theme-crossover/workplace/search-term-badge';
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  .input-row {
    display: flex;

    .q-text-input /deep/ input {
      margin-right: rem(50);
      width: 100% !important;
    }

    button {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      width: rem(40);
      font-size: rem(16);
      background-color: $color-blue-highlight;
      color: white;
      height: rem(40);
      align-self: flex-start;
      margin-left: rem(-40);
      z-index: 20;

      &:before {
        font-weight: $font-weight-regular;
        padding-right: 0;
      }
    }
  }

  > div ul {
    padding: 0;
    margin: 0;
    margin-bottom: -0.7rem;
    margin-left: 0;
    padding-left: 0;

    li {
      margin-bottom: 0.8rem;
      list-style-type: none;

      button {
        border-radius: 3px;
        height: rem(21);

        .subfilter-label {
          text-transform: none;
          font-weight: bold;
        }
      }
    }
  }
}

.form-item__label.form-item__label--textfield {
  margin-bottom: rem(4);
}

.search-term-badge.ur-query-link-active.contact-email {
  opacity: 1;

  &::before {
    opacity: 0.5
  }
}

@include media('>=640px') {
  .input-row {
    display: flex;

    .q-text-input.w-100pct {
      width: rem(260);
    }
  }

  .email-recipients {
    max-width: rem(436);
  }
}