.equipment-select-list {

  > div > h3.section-title-container {
    margin-top: 0.8rem;
  }

  .equipment-select-list__item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  /deep/.equipment-select-list__item {
    min-height: rem(83);
    padding: 1rem 1.7rem;
    box-sizing: border-box;
    background-color: $color-white;
    border: 1px solid $color-grey-11;
    border-width: 1px 1px 0;
    flex-flow: column wrap;

    &:first-child {
      border-radius: rem(8) rem(8) 0 0;
    }

    &:last-child {
      border-width: 1px;
      border-radius: 0 0 rem(8) rem(8);
    }

    &:first-child:last-child {
      border-radius: 8px;
    }

    > :first-child {
      display: flex;
      line-height:normal;
    }

    img {
      height: rem(48);
      width: rem(48);
      margin-right: 1.5rem;
    }

    li {
      margin-right: 1.8rem;
    }

    .quantity-selector-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      margin-top: 0.6rem;

      .quantity-selector {
        align-self: flex-end;
        flex-direction: row !important;

        /deep/ .q-button {
          display: block;
        }

        /deep/ .fs-small.c-gray {
          margin-left: 1rem;
        }
      }
    }

    @include media('>=640px') {
      .quantity-selector-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: inherit;
        margin-top: 0;

        .quantity-selector {
          align-self: flex-end;
          flex-direction: column !important;

          /deep/ .fs-small.c-gray {
            margin-left: 0;
          }
        }
      }
    }
  }
}
