$left-label-width: rem(160);

.flex-column.flex-gap-10 {
  > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .flex-row.flex-gap-10.align-items-baseline {
    display: block !important;

    .left-label {
      display: block;
      margin-bottom: 0.7rem;
    }
  }

  .top-edit-row.flex-row.flex-gap-10.align-items-baseline {
    display: flex !important;
    justify-content: space-between;
    max-width: rem(442);

    .q-button {
      display: flex;

      /deep/ span {
        margin-top: 2px;
      }
    }
  }

  @include media('>=640px') {
    > :not(:last-child).contact {
      margin-bottom: 1.5rem;
    }

    .flex-row.flex-gap-10.align-items-baseline {
      display: flex !important;
      justify-content: normal;

      .left-label {
        margin-bottom: 0rem;
      }
    }

    .top-edit-row.flex-row.flex-gap-10.align-items-baseline {
      justify-content: normal;
    }
  }
}

.flex-column.flex-gap-20 {
  .field-content {
    line-height: 1.5rem;
  }

  .left-label {
    width: 100%;
    display: inline;

    @include media('>=640px') {
      width: $left-label-width;
    }
  }

  .flex-row.flex-gap-10.align-items-baseline .q-button /deep/ {
    display: inline;
  }
}

.flex-column.flex-gap-5 > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.edit-button {
  margin: 0;
  height: 100%;
}

.left-label {
  font-weight: bold;
  width: $left-label-width;
}

.q-checkbox /deep/ input[type=checkbox] {
  display: block;
}