$left-label-width: rem(140);

.modal .modal-framed.reschedule-request-modal {
  .modal-framed__main {
    .location-details, .datetime-select {
      padding-bottom: 2rem;
    }

    .location-details.editing {
      padding-bottom: 1rem;
    }
  }
}

.modal .modal-framed.reschedule-request-modal,
.modal .modal-framed.reschedule-confirmation-modal {
  .modal-framed__main {
    .flex-column.flex-gap-20.grow.no-shrink {
      padding: 0.2rem 1rem 2rem 1rem !important;
    }
  }
}

.modal .modal-framed.reschedule-request-modal,
.modal .modal-framed.reschedule-confirmation-modal {
  height: inherit;

  .modal-framed__header {
    height: rem(124);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > div:first-child {
      display: flex;
      flex-wrap: wrap;
    }

    h3 {
      margin-top: 0rem;
      font-size: 1.15em;
    }

    p {
      margin-top: 0.2rem;
      line-height: 1.5rem;
    }
  }

  .modal-framed__main {
    height: calc((100vh - #{rem(2)}) - #{rem(124 + 71)});
    overflow-x: hidden;

    .flex-column.flex-gap-10 > :not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .flex-column.flex-gap-10 .section-title-container {
      margin-top: 0.8rem;
      margin-bottom: 1.2rem;
    }

    .flex-column .expand-button.q-button {
      height: auto !important;

      /deep/ span {
        margin-left: 0.2rem;
      }
    }

    .section-title-container {
      &, h3 {
        font-size: 1.15rem;
      }

      .q-button /deep/ span {
        font-size: 1rem;
      }
    }

    .spinner-container {
      justify-content: center;
    }

    .m-b-12 {
      margin-bottom: 1.2rem !important;
    }

    .m-b-15 {
      margin-bottom: 1.5rem !important;
    }
  }

  .modal-framed__footer {
    height: rem(71);
    align-items: flex-start;
    background: white;

    > div:first-child {
      flex-direction: column !important;
      width: 100% !important;
      height: 100%;

      .footer-message {
        width: 100% !important;
        border-bottom: 1px solid #dde0e2;

        i.icon-before-long-arrow-right {
          position: relative;
          top: rem(3);
          margin-left: rem(3);
        }
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      align-items: center;
    }

    .button {
      line-height: 2.85714em;
      width: 50%;

      &.button--secondary {
        margin-left: 1rem;
      }

      &.button--filled {
        margin-right: 1rem;
      }
    }
  }

  @include media('>=640px') {
    .modal-framed__header {
      height: rem(92);
      padding: 1rem 1.7rem !important;

      h3 {
        font-size: 1.25em;

        span:first-child {
          display: inline;
        }
      }

      p {
        margin-top: 0.4rem;
      }
    }

    .modal-framed__main {
      height: calc((80vh - #{rem(2)}) - #{rem(92 + 71)});

      .section-title-container {
        &, h3 {
          font-size: 1.25rem;
        }
      }

      .location-details, .datetime-select {
        padding-bottom: 2rem;
      }

      .location-details.editing {
        padding-bottom: 1rem;
      }

    }
    .modal-framed__footer {
      height: rem(71);

      > div:first-child {
        flex-direction: row !important;

        .footer-message {
          border-bottom: none;
        }
      }

      .buttons-container {
        display: flex;
        flex-direction: row;
        width: inherit;
        justify-content: flex-end;

      }

      .button {
        width: rem(150);
        flex-direction: column !important;

        &.button--secondary {
          margin-left: 1rem;
        }

        &.button--filled {
          margin-right: 1rem;
        }
      }
    }
  }
  @include media('>=m') {
    .modal-framed__main {
      height: calc((80vh - #{rem(2)}) - #{rem(92 + 71)});
    }
  }
}

@include media('>=m') {
  .equipment-details .modal .modal__content.modal__content--center {
    max-height: inherit;
  }
}

.modal .modal-framed.reschedule-request-modal.has-submission-error, .modal .modal-framed.reschedule-confirmation-modal {
  .modal-framed__main {
    height: calc((100vh - #{rem(2)}) - #{rem(124 + 144)});
  }

  .modal-framed__footer {
    height: rem(144);
  }

  @include media('>=640px') {
    .modal-framed__main {
      height: calc((80vh - #{rem(2)}) - #{rem(92 + 71)});
    }

    .modal-framed__footer {
      height: rem(71);
    }
  }
}

@include media('>=640px') {
  .modal .modal-framed.reschedule-request-modal {
    .modal-framed__main {
      .flex-column.flex-gap-20.grow.no-shrink {
        padding: 0.5rem 1.7rem 2rem 1.7rem !important;
      }
    }
  }
  .modal .modal-framed.reschedule-confirmation-modal {
    .modal-framed__main {
      .flex-column.flex-gap-20.grow.no-shrink {
        padding: 0.2rem 1.7rem 2rem 1.7rem !important;
      }
    }
  }
}

.equipment-details {
  /* go higher than call-us (in front of modal buttons) */
  .modal {
    z-index: 11000;
  }
}


.modal .modal-framed.reschedule-request-modal .modal-framed__main .section-title-container.top-edit-row {
  h3 {
    height: inherit;
    line-height: normal;
    padding-top: rem(9);
  }

  .edit-button {
    margin-top: 0;
    margin-bottom: 0;
  }
}
