.icon-button {
  color: $color-white;
  font-size: $font-size-base;
  background-color: $color-brand-secondary;
  border-radius: 20px;
  padding: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
