.project-uptime-article-card {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.project-uptime-article-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.project-uptime-related-articles__wrapper {
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 0 3%;

  @include breakpoint(54.85714em) {
    padding: 0;
  }

  .heading-2 {
    padding: 0 6px;
  }

  .VueCarousel-slide {
    > * {
      margin: 0 $_gutter-small/2;
    }

    .project-uptime-article-card__container:before {
      padding-top: 125%;

      @include breakpoint($break-large) {
        padding-top: 105%;
      }

      @include breakpoint($break-xlarge) {
        padding-top: 95%;
      }
    }
  }
}

.project-uptime-article-card__container {
  background-color: $color-grey-2;
  position: relative;

  &::before {
    content: "";
    padding-top: 168%;
    display: block;
  }
}

.project-uptime-article-card__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project-uptime-article-card__image {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.project-uptime-article-card__text-wrapper {
  padding: 20px;
}

.project-uptime-article-card__category h4 {
  color: $color-blue-highlight;
  margin: 0 0 5px 0;
  font-size: $font-size-base;
}

.project-uptime-article-card__title__heading-3 {
  color: $color-black;
  margin: 0;
  font-size: $font-size-h3;
  padding-bottom: 20px;
}

.project-uptime-article-card__date {
  color: $color-grey-38;
  position: absolute;
  bottom: 20px;
}
