<div class="project-uptime-article-card__container">
  <a href="{{ article_url }}">
    <div class="project-uptime-article-card">
      <div class="project-uptime-article-card__image">
        <img src="{{ article_image_src }}" alt="{{ article_image_alt }}" />
      </div>
      <div class="project-uptime-article-card__text-wrapper">
        {% if article_category_title %}
          <div class="project-uptime-article-card__category">
            {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
              with {
              "heading_4": article_category_title,
              "heading_4_modifiers": article_category_title_modifiers,
              "heading_4_blockname": article_category_blockname,
            }
            %}
          </div>
        {% endif %}
        {% if article_title %}
          {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
            with {
            "heading_3": article_title,
            "heading_3_modifiers": article_title_modifiers,
            "heading_3_blockname": "project-uptime-article-card__title"
          }
          %}
        {% endif %}
        {% if article_date %}
          <div class="project-uptime-article-card__date">{{ article_date }}</div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
