<ul class="project-uptime-article-card__list">
{% for article in articles %}
  <li class="views-row">
    {% include "@organisms/project-uptime/related-articles/related-articles.twig"
      with {
        article_title: article.article_title,
        article_blockname: article.article_blockname,
        article_title_modifiers: article.article_title_modifiers,
        article_url: article.article_title_modifiers,
        article_image_src: article.article_image_src,
        article_image_alt: article.article_image_alt,
        article_category_title: article.article_category_title,
        article_category_title_modifiers: article.article_category_title_modifiers,
        article_category_blockname: article.article_category_blockname,
        article_date: article.article_date
      }
    %}
  </li>
{% endfor %}
</ul>