/**
 * Foundation for Sites by ZURB
 * Version 6.5.0-rc.2
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */


// --- Settings ---
@import 'foundation/settings';

// --- Components ---
// Utilities
@import 'foundation/util/util';


// Grids
@import 'foundation/grid';


// Helpers
@import 'foundation/flex';
@import 'foundation/visibility';


@mixin foundation-everything(
  $flex: true,
  $prototype: false
) {
  @if $flex {
    $global-flexbox: true !global;
  }


  // Grids
  @include foundation-flex-grid;

  // Helpers
  // @include foundation-float-classes;
  @if $flex { @include foundation-flex-classes; }
  @include foundation-visibility-classes;
  // @if $prototype { @include foundation-prototype-classes; }
}

@include foundation-everything;

.row-max-width-1024 {
  max-width: 1024px;
  margin: 0 auto;
}

.row-max-width-1440 {
  max-width: 1440px;
  margin: 0 auto;
}