{#
/**
 * Available variables:
 * - basic_field_modifiers - array of modifiers to add to the base classname
 * - basic_field_blockname - blockname prepended to the base classname
 * - basic_field_content - the content of the field (typically text)
 * - basic_field_label - the label of the field (typically text)
 *
 * Available blocks:
 * - basic_field_content - used to replace the content of the paragraph with something other than plain text
 *   for example: An unformatted text field in Drupal
 */
#}
<div class="basic-field{% for modifier in basic_field_modifiers %} basic-field--{{ modifier }}{% endfor %}{% if basic_field_blockname %} {{ basic_field_blockname }}__basic-field{% endif %}{% if not label_hidden %} label-display--{{ label_display }}{% endif %}">
  {% if not label_hidden %}
    <div class="basic-field__label">{{ basic_field_label }}</div>
    <div class="basic-field__content">
  {% endif %}
  {% block basic_field_content %}
    {{ basic_field_content }}
  {% endblock %}
  {% if not label_hidden %}
    </div>
  {% endif %}
</div>
