<template>
  <div class="equipment-details-section delivery-pickup" :class="{'shimmer': !item}">
    <h2>{{ $i18n('workplace.durationTitle') }}</h2>
    <div class="equipment-details-section__body flex-row flex-gap-10">

      <div :class="startDateClasses">
        <p>{{$i18n('workplace.startDate')}}</p>
        <slot name="start-date">
          <p>
            <span>{{ item.startDateTime | urDate }}</span>
            <span>{{ item.startDateTime | urTime }}</span>
          </p>
        </slot>

        <slot name="start-delivery-status">
          <p>{{ item | urStartDeliveryStatus }}</p>
        </slot>
      </div>

      <div :class="endDateClasses">
        <p>{{$i18n('workplace.estEnd')}}</p>
        <slot name="end-date">
          <p>
            <span>{{ item.returnDateTime | urDate }}</span>
            <span>{{ (item.returnDateTime || item.endDateTime) | urTime }}</span>
          </p>
        </slot>
        <slot name="end-delivery-status">
          <p>{{ item | urEndDeliveryStatus }}</p>
        </slot>
      </div>

    </div>
    <slot></slot>
  </div>
</template>

<script>
import { urFormats } from './editorial';

export default {
  name: 'DetailsDuration',
  filters: {
    ...urFormats,
  },
  props: {
    item: Object,
    startDateClasses: { default: 'flex-column flex-gap-10' },
    endDateClasses: { default: 'flex-column flex-gap-10' },
  },
};
</script>
