<template>
  <div>
    <ur-back-link :route="backRoute"/>
    <div class="details-header">
      <div>
        <div class="details-header__title">
          <slot name="suptitle">
            {{suptitle}}
          </slot>
          <slot name="title">
            <h1>{{title}}</h1>
          </slot>
          <slot name="subtitle" class="flex-row">
            <span class="subtitle">{{subtitle}}</span>
          </slot>
          <div class="details-header__status-object display-flex flex-row">
            <status-detail-field class="m-r-10 m-l-5"
              :item="item"
              :field="{ resourceProperty: 'status' }"
            />
          </div>

          <!-- Default content gets rendered after the title stuffs -->
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { WorkplaceRouteNames } from '@/lib/workplace';
  import UrBackLink from '@/components/common/ur-back-link';
  import StatusDetailField from '@/components/workplace/shared/fields/status/detail-field';

  export default {
    name: 'DetailsHeader',
    props: {
      suptitle: String,
      title: String,
      subtitle: String,
      item: Object,
    },
    components: {
      StatusDetailField,
      UrBackLink,
    },
    computed: {
      backRoute: vm => ({ ...vm.$route, name: WorkplaceRouteNames.OrderList }),
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .details-header {
    font-size: rem(12);

    &__title {
      padding-top: rem(19);

      @include media('>=m') {
        padding-top: rem(22);
      }

      .suptitle {
        @include media('>=m') {
          font-size:rem(14);
        }
        @include media('>=l') {
          font-size:rem(16);
          line-height:rem(24);
        }
      }

      h1 {
        font-size: rem(22);
        line-height: rem(24);
        margin: rem(9) 0 rem(4) 0;

        @include media('>=m') {
          margin: rem(12) 0 rem(4) 0;
          font-size: rem(28);
          line-height: rem(36);
        }
        @include media('>=l') {
          margin: rem(9) 0 rem(5) 0;
          font-size: rem(36);
          line-height: rem(40);
        }
      }

      .subtitle {
        color: #72777E;
        font-size: rem(12);
        line-height: rem(16);
        display:inline-block;
        padding-bottom:rem(17);
        @include media('>=m') {
          padding-bottom:rem(15);
        }
        @include media('>=l') {
          font-size: rem(14);
          line-height: rem(20);
        }
      }
    }

    &__status-object {
      align-items: baseline;
      flex-wrap: wrap;
      margin-bottom: rem(18);

      @include media('>=640px') {
        margin-bottom: rem(32);
        margin-left: rem(2);
      }
      @include media('>=m') {
        margin-left: rem(3);
      }

      /deep/ span {
        font-weight:700;
        font-size:rem(12);
        @include media('>=m') {
          font-size:rem(14);
        }
        &::before {
          height:rem(12);
          top:rem(2);
          @include media('>=m') {
            height:rem(14);
          }
        }
      }
    }
  }
</style>
