/*
---
name: Status Pill
category: Molecules
---


### Examples

```status-pill-example.html hidden
<table>
  <tr>
    <th>
      Example
    </td>
    <th>
      Class Name
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>
      <div class="status-pill">contract pricing</div>
    </td>
    <td>
      status-pill
    </td>
    <td>
      <pre>
        .status-pill{
          background: $color-orange;
          color: $color-white;
          display: inline-block;
          font-size: 7px;
          line-height: 1;
          padding: 4px 10px;
          border-radius: 10px;
          text-transform: uppercase;
          margin-left: 10px;
        }
      </pre>
    </td>
  </tr>
</table>
```
```status-pill-example:/components/_patterns/_styleguide-common.css hidden
```

```status-pill-products.html
<div class="list__container">

    <div class="object_listing__wrapper">
        <div class="object_listing__image"><img src="../dist/img/placeholders/100-3350_3.jpg" alt="" height="44" width="44"></div>
        <div class="object_listing__details">
            <div class="object_listing__details__cat_class_code">Cat Class: 100-3350</div> <a href="/marketplace/equipment/air-compressors-air-tools/air-compressors/compressor-350-395-cfm-diesel" class="object_listing__details__name">Compressor, 350-395 cfm, Diesel</a>

            <div>
                <div class="status-pill">contract</div>
                <div class="object_listing__details__pricing">
                    <div class="pricing-content"><span class="time-period">Daily
                    <span style="transition: color 1s;">$246</span>
                    </span> <span class="time-period">Weekly <span style="transition: color 1s;">$597</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$1,771</span></span>
                    </div>
                </div>
            </div>
            <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                <div>
                </div>
            </div>
        </div>
        <div class="object_listing__actions">
            <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
            <div class="object_listing__actions__sub"><i class="icon icon-star-o"></i> <a href="mailto:?subject=Compressor, 350-395 cfm, Diesel&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/air-compressors-air-tools/air-compressors/compressor-350-395-cfm-diesel%0D%0A%0D%0ACat%20Class:%20100-3350%0D%0A%0D%0AEquipment%20Title%0D%0ACompressor, 350-395 cfm, Diesel%0D%0A%0D%0AEquipment%20Features%20Include%0D%0AEfficient diesel-powered engine%0D%0AHeavy-duty enclosures provide quieter operation%0D%0AEasy-to-use instrument panel%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
        </div>
    </div>
</div>
```
```status-pill-products.css hidden
div div.status-pill{
  margin-left: 0;
}

```
```status-pill-new.html
<div class="project-uptime-article-teaser__container">
    <article class="project-uptime-article-teaser">
        <div class="project-uptime-article-teaser__left"><img src="../dist/img/placeholders/PU%20-%20BIM%20engineers.jpg" alt="alt" class="project-uptime-article-teaser__image"></div>
        <div class="project-uptime-article-teaser__right">
            <div class="project-uptime-article-teaser__category">
                <h4 class="heading-4 category__heading-4">
                    Workforce
                </h4>
                <div class="status-pill">New</div>
            </div>
            <h3 class="heading-3 project-uptime-article-teaser__title__heading-3"><a href="/project-uptime/workforce/construction-workers-demand-bim-engineers" class="link heading-3__link">
      Construction Workers in Demand: BIM Engineers
  </a></h3>
            <div class="project-uptime-article-teaser__content">
                <p class="paragraph project-uptime-article__paragraph">
                    BIM is the present and future of construction.
                </p>
            </div>
        </div>
    </article>
</div>
```
*/
