<div class="location-finder-wrapper" data-lat="{{ lat }}" data-lng="{{ lng }}">
  <div id="location-finder-container" class="location-finder-container">
    <div class="location-finder-content-panel">
      <div class="spinner-overlay"><div class="spinner"></div></div>
      <div class="content-panel__content">
        <div class="content-panel-header_container">
          <div id="desktopSearchContainer">
            <div class="location-search">
              {% if businessTypes %}
                <div class="branch-filter">
                  <div class="ur-menu-wrapper left">
                    <span class="ur-menu-button">
                      <span class="branch-filter-menu-label">{{ 'All Branches' | t }}</span>
                    </span>
                    <div class="ur-menu-container">
                      <div class="ur-menu-group">
                        <div class="ur-menu-group-item selectable list-item">
                          <a class="ur-menu-list-item" data-name="All Branches" data-type="All Branches">{{ 'All Branches' | t }}</a>
                        </div>
                        {% for idx,bt in businessTypes %}
                          <div class="ur-menu-group-item selectable list-item">
                            <a class="ur-menu-list-item" data-name="{{ bt }}" data-type="{{ idx }}">{{ bt }}</a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="location-autocomplete input-group">
                <div class="input-wrapper">
                  <input
                    autocomplete="new-password"
                    tabindex="1"
                    ref="locationAutocompleteInput"
                    type="text"
                    placeholder="{{ 'Enter a location' | t }}">
                  <span class="clearspan" style="display: none;">Clear</span>
                </div>
                <ul class="suggestions" id="suggestions" ref="suggestions" style="display: none;">
                </ul>
              </div>
              <button class="button location-search-button">
                <i class="icon icon-before-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="branch-details_container">
          <div class="results-content-blocks">
            <div class="return_directions">
              <i class="icon icon-before-long-arrow-left"></i>
              <h6 class="heading-6 return__heading-6">
                <a href="#">{{ 'Return to Results' | t }}</a>
              </h6>
              <h6 class="heading-6 directions__heading-6">
                <a rel="noopener noreferrer" target="_blank" href="{{ directionsLink }}">{{ 'Get Directions' | t }}</a>
                <i class="icon icon-before-location"></i>
              </h6>

            </div>

            <h6 class="heading-6 small-grey__heading-6">{{ ur }}</h6>
            <h1 class="heading-2">{{ branchName }}
              <div class="address">
                <i class="icon icon-before-location"></i>
                <p class="paragraph m-0 p-b-5">
                  <a style="display: block;" href="{{ directionsLink }}" class="address-directions" target="_blank">
                  <span style="display: block;">
                    {{ address1 }}
                  </span>
                    {% if address2 %}
                      <span style="display: block;">
                    {{ address2 }}
                  </span>
                    {% else %}
                      <span style="display: block;">
                    {{ city }}, {{ state }} {{ zip }}
                  </span>
                    {% endif %}
                  </a>
                </p>
              </div>
            </h1>
            <div class="phone-address">
              <div class="phonenumber">
                <i class="icon icon-before-phone"></i>
                <p class="paragraph">
                <span style="display:block;">
                  <a href="{{ phoneLink }}">
                    {{ phone }}
                  </a>
                </span>
                </p>
              </div>

              <div class="fax">
                <i class="icon icon-before-fax"></i>
                <p class="paragraph">{{ 'Fax' | t }}: {{ fax }}</p>
              </div>
              <div class="manager">
                <i class="icon icon-before-user-circle"></i>
                <p class="paragraph">{{ 'Manager' | t }}: {{ managerName }}</p>
              </div>
              <div class="direction">
                <i class="icon icon-before-location-arrow"></i>
                <p class="paragraph">{{ 'Branch ID' | t }}: {{ branchId }}</p>
              </div>
            </div>

            <div class="branch-details-buttons">
              {% if contactUsLinkShow %}
                <button class="button button--style-2 button--secondary"
                        onClick="window.location = '{{ contactUsLink }}';return false;">{{ 'Learn More' | t }}
                </button>
              {% endif %}
              {% if rentOnlineLinkShow %}
                <button
                  class="button button--style-2 button--filled rent-online-link"
                  data-address="{{ city }}, {{ state }} {{ zip }}"
                  data-link="{{ rentOnlineLink }}">
                  {{ 'Rent Online' | t }}
                </button>
              {% endif %}
            </div>
            <div class="row mobile">
              <div class="col">
                <div class="tabs">
                  <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">
                      <div class="paragraph">
                        <div>{{ today | t }}
                          {% if todayHours %}
                            {{ todayOpen | amPmFormat }} - {{ todayClose | amPmFormat }}
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </label>
                    <div class="tab-content">
                      <div class="hours-of-operation">
                        <h5 class="hours-of-operation__header">{{ hoursOfOperation }}</h5>
                        <div class="paragraph">
                          <div>{{ 'Monday' | t }}</div>
                          {% if mondayHours %}
                            <div>{{ mondayHoursOpen | amPmFormat }} - {{ mondayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Tuesday' | t }}</div>
                          {% if tuesdayHours %}
                            <div>{{ tuesdayHoursOpen | amPmFormat }} - {{ tuesdayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Wednesday' | t }}</div>
                          {% if wednesdayHours %}
                            <div>{{ wednesdayHoursOpen | amPmFormat }} - {{ wednesdayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Thursday' | t }}</div>
                          {% if thursdayHours %}
                            <div>{{ thursdayHoursOpen | amPmFormat }} - {{ thursdayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Friday' | t }}</div>
                          {% if fridayHours %}
                            <div>{{ fridayHoursOpen | amPmFormat }} - {{ fridayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Saturday' | t }}</div>
                          {% if saturdayHours %}
                            <div>{{ saturdayHoursOpen | amPmFormat }} - {{ saturdayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                        <div class="paragraph">
                          <div>{{ 'Sunday' | t }}</div>
                          {% if sundayHours %}
                            <div>{{ sundayHoursOpen | amPmFormat }} - {{ sundayHoursClose | amPmFormat }}</div>
                          {% else %}
                            <div>{{ 'CLOSED' | t }}</div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hours-of-operation non-mobile">
              <h5 class="hours-of-operation__header">{{ hoursOfOperation }}</h5>
              <div class="paragraph">
                <div>{{ 'Monday' | t }}</div>
                {% if mondayHours %}
                  <div>{{ mondayHoursOpen | amPmFormat }} - {{ mondayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Tuesday' | t }}</div>
                {% if tuesdayHours %}
                  <div>{{ tuesdayHoursOpen | amPmFormat }} - {{ tuesdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Wednesday' | t }}</div>
                {% if wednesdayHours %}
                  <div>{{ wednesdayHoursOpen | amPmFormat }} - {{ wednesdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Thursday' | t }}</div>
                {% if thursdayHours %}
                  <div>{{ thursdayHoursOpen | amPmFormat }} - {{ thursdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Friday' | t }}</div>
                {% if fridayHours %}
                  <div>{{ fridayHoursOpen | amPmFormat }} - {{ fridayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Saturday' | t }}</div>
                {% if saturdayHours %}
                  <div>{{ saturdayHoursOpen | amPmFormat }} - {{ saturdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Sunday' | t }}</div>
                {% if sundayHours %}
                  <div>{{ sundayHoursOpen | amPmFormat }} - {{ sundayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
            </div>

            <div class="flex-video">
              <iframe frameborder="0" allowfullscreen="1" height="197" src="{{ videoUrl }}"></iframe>
            </div>

            <h6 class="heading-6 branch-information__heading-6">{{ webDescription }}</h6>
            <p class="paragraph">{{ webContentBlock }}</p>

            {% if branchTypeEquipmentCategoryLinks %}
              <div class="results-content-blocks_container branch-type-equipment-category-links-list">
                <h2 class="heading-2">{{ 'Equipment Category Links' | t }}</h2>
                <ul>
                  {% for branchTypeEquipmentCategoryLink in branchTypeEquipmentCategoryLinks %}
                    <li class="branch-type-equipment-category-link">
                      <a href="{{ branchTypeEquipmentCategoryLink.uri }}" class="{{ branchTypeEquipmentCategoryLink.options.attributes.class }}">{{ branchTypeEquipmentCategoryLink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if globalContentBlocks %}
              <div class="results-content-blocks_container global-branch-content-blocks-list">
                {% for contentBlock in globalContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if branchTypeContentBlocks %}
              <div class="results-content-blocks_container branch-type-content-blocks-list">
                {% for contentBlock in branchTypeContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if branchContentBlocks %}
              <div class="results-content-blocks_container branch-content-blocks-list">
                {% for contentBlock in branchContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if nearbyBranches %}
              <div class="results-content-blocks_container branch-list">
                <h2 class="heading-2">{{ 'Nearby Locations' | t }}</h2>
                {% for branch in nearbyBranches %}
                  <div class="branch-wrapper branch-details_container">
                    <div
                      class="branch active"
                      data-id="`branch_${branch.branchId}`">
                      <div class="{{ branch.businessType == 'GR' ? 'markers' : 'markers-specialty' }}">
                      </div>
                      <div class="content-blocks column">
                        <h6 class="heading-6 small-grey__heading-6">
                          {{ 'United Rentals' | t }}
                        </h6>
                        <div class="results-content-blocks_title-mile">
                          <h4 class="heading-4 branch-name">
                            <a href="{{ branch.branchLink }}">{{ branch.name }}</a>
                          </h4>
                          <p class="paragraph small-grey__paragraph">
                            <span class="branch-distance">{{ branch.distance }}</span>
                          </p>
                        </div>
                        <div class="paragraph blue__paragraph telephone-link">
                          <div>
                            <a href="{{ branch.phoneLink }}">
                              {{ branch.phone }}
                            </a>
                          </div>
                        </div>
                        <div>
                          <span>{{ branch.address1 }},</span><br>
                          <span>{{ branch.city }}, {{ branch.state }}
                            {{ branch.zip }}</span>
                        </div>
                        <h6 class="heading-6 blue__heading-6 directions">
                          <a rel="noopener noreferrer" target="_blank" href="{{ branch.directionsLink }}">{{ 'Get Directions' | t }}</a>
                        </h6>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="content-panel-footer_container">
        <div class="content-panel-footer">
          <div class="content-panel_pagination">
          </div>
        </div>
      </div>
    </div>
    <div class="location-map">
      <div class="spinner-overlay active"><div class="spinner"></div></div>
      <div id="map"></div>
    </div>
  </div>
</div>