<div class="branch-wrapper" data-distance="{{ distance }}" data-branchid="{{ branchId }}" data-branchname="{{ branchName }}">
  <div id="branch_{{ branchId }}" class="branch">
    <div class="{% if specialty %}markers-specialty{% else %}markers{% endif %}"><!----></div>
    <div class="content-blocks column">
      <h6 class="heading-6 small-grey__heading-6">United Rentals</h6>
      <div class="results-content-blocks_title-mile">
        <h4 class="heading-4 branch-name">
          <a href="{{ path_alias }}" class="">{{ branchName }}</a>
        </h4>
        <p class="paragraph small-grey__paragraph">
          <span class="branch-distance">{{ distance }}</span>
        </p>
      </div>
      <div class="paragraph blue__paragraph telephone-link">
        <div><a href="{{ phoneLink }}">{{ phone }}</a></div>
      </div>
      <div>
        <span>{{ address1 }}</span><br>
        <span>{{ city }}, {{ state }}, {{ zip }}</span>
      </div>
      <h6 class="heading-6 blue__heading-6 directions">
        <a rel="noopener noreferrer" target="_blank" href="{{ directionsLink }}">{{ 'Get Directions'|trans }}</a>
      </h6>
    </div>
  </div>
</div>
