<div class="location-finder-wrapper">
  <div id="location-finder-container" class="location-finder-container">
    <div class="location-finder-content-panel">
      <div class="spinner-overlay"><div class="spinner"></div></div>
      <div class="content-panel__content">
        <div class="content-panel-header_container">
          <div id="desktopSearchContainer">
            <div class="location-search">
              {% if businessTypes %}
                <div class="branch-filter">
                  <div class="ur-menu-wrapper left">
                    <span class="ur-menu-button">
                      <span class="branch-filter-menu-label">{{ 'All Branches' | t }}</span>
                    </span>
                    <div class="ur-menu-container">
                      <div class="ur-menu-group">
                        <div class="ur-menu-group-item selectable list-item">
                          <a class="ur-menu-list-item" data-name="All Branches" data-type="All Branches">{{ 'All Branches' | t }}</a>
                        </div>
                        {% for idx,bt in businessTypes %}
                          <div class="ur-menu-group-item selectable list-item">
                            <a class="ur-menu-list-item" data-name="{{ bt }}" data-type="{{ idx }}">{{ bt }}</a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="location-autocomplete input-group">
                <div class="input-wrapper">
                  <input
                    autocomplete="new-password"
                    tabindex="1"
                    ref="locationAutocompleteInput"
                    type="text"
                    placeholder="{{ 'Enter a location' | t }}">
                  <span class="clearspan" style="display: none;">Clear</span>
                </div>
                <ul class="suggestions" id="suggestions" ref="suggestions" style="display: none;">
                </ul>
              </div>
              <button class="button location-search-button">
                <i class="icon icon-before-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="results-content-blocks_container branch-list">
          <div>
            {{ branch_listing }}
          </div>
        </div>
      </div>
      <div class="content-panel-footer_container">
        <div class="content-panel-footer">
          <div class="content-panel_pagination">
          </div>
        </div>
      </div>
    </div>
    <div class="location-map">
      <div class="spinner-overlay active"><div class="spinner"></div></div>
      <div id="map"></div>
    </div>
  </div>
</div>
