<div class="location-finder-wrapper" data-lat="{{ lat }}" data-lng="{{ lng }}">
  <div id="location-finder-container" class="location-finder-container">
    <div class="location-finder-content-panel">
      <div class="spinner-overlay"><div class="spinner"></div></div>
      <div class="content-panel__content" style="overflow: scroll;">
        {% include '/modules/custom/locations/templates/partials/locations_header.html.twig' %}
        <div class="results-content-blocks_container branch-list">
          <div>
            {{ branch_listing }}
          </div>
        </div>
      </div>
      {% include '/modules/custom/locations/templates/partials/locations_footer.html.twig' %}
    </div>
    {% include '/modules/custom/locations/templates/partials/locations_map.html.twig' %}
  </div>
</div>