<div class="location-finder-wrapper">
  <div id="location-finder-container" class="location-finder-container">
    <div class="location-finder-content-panel">
      <div class="spinner-overlay"><div class="spinner"></div></div>
      <div class="content-panel__content" style="overflow: scroll;">
        {% include '/modules/custom/locations/templates/partials/locations_header.html.twig' %}
        <div class="branch-details_container">
          <div class="results-content-blocks">
            <div class="return_directions">
              <i class="icon icon-long-arrow-left"></i>
              <h6 class="heading-6 return__heading-6">
                <a href="#">{{ 'Return to Results' | t }}</a>
              </h6>
              <h6 class="heading-6 directions__heading-6">
                <a rel="noopener noreferrer" target="_blank" href="{{ directionsLink }}">{{ 'Get Directions' | t }}</a>
                <i class="icon icon-map-marker"></i>
              </h6>

            </div>

            <h6 class="heading-6 small-grey__heading-6">{{ ur }}</h6>
            <h1 class="heading-2">{{ branchName }}
              <div class="address">
                <i class="icon icon-map-marker"></i>
                <p class="paragraph m-0 p-b-5">
                  <a style="display: block;" href="{{ directionsLink }}" class="address-directions" target="_blank">
                  <span style="display: block;">
                    {{ address1 }}
                  </span>
                    {% if address2 %}
                      <span style="display: block;">
                    {{ address2 }}
                  </span>
                    {% else %}
                      <span style="display: block;">
                    {{ city }}, {{ state }} {{ zip }}
                  </span>
                    {% endif %}
                  </a>
                </p>
              </div>
            </h1>
            <div class="phone-address">
              <div class="phonenumber">
                <i class="icon icon-phone"></i>
                <p class="paragraph">
                <span style="display:block;">
                  <a href="{{ phoneLink }}">
                    {{ phone }}
                  </a>
                </span>
                </p>
              </div>

              <div class="fax">
                <i class="icon icon-fax"></i>
                <p class="paragraph">{{ 'Fax' | t }}: {{ fax }}</p>
              </div>
              <div class="manager">
                <i class="icon icon-user-circle"></i>
                <p class="paragraph">{{ 'Manager' | t }}: {{ managerName }}</p>
              </div>
              <div class="direction">
                <i class="icon icon-location-arrow"></i>
                <p class="paragraph">{{ 'Branch ID' | t }}: {{ branchId }}</p>
              </div>
            </div>

            <div class="branch-details-buttons">
              {% if contactUsLinkShow %}
                <button class="button button--style-2 button--secondary"
                        onClick="window.location = '{{ contactUsLink }}';return false;">{{ 'Learn More' | t }}
                </button>
              {% endif %}
              {% if rentOnlineLinkShow %}
                <button
                  class="button button--style-2 button--filled rent-online-link"
                  data-address="{{ city }}, {{ state }} {{ zip }}"
                  data-link="{{ rentOnlineLink }}">
                  {{ 'Rent Online' | t }}
                </button>
              {% endif %}
            </div>

            <div class="hours-of-operation">
              <h5 class="hours-of-operation__header">{{ hoursOfOperation }}</h5>
              <div class="paragraph">
                <div>{{ 'Monday' }}</div>
                {% if mondayHours %}
                  <div>{{ mondayHoursOpen | amPmFormat }} - {{ mondayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Tuesday' | t }}</div>
                {% if tuesdayHours %}
                  <div>{{ tuesdayHoursOpen | amPmFormat }} - {{ tuesdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Wednesday' | t }}</div>
                {% if wednesdayHours %}
                  <div>{{ wednesdayHoursOpen | amPmFormat }} - {{ wednesdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Thursday' | t }}</div>
                {% if thursdayHours %}
                  <div>{{ thursdayHoursOpen | amPmFormat }} - {{ thursdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Friday' | t }}</div>
                {% if fridayHours %}
                  <div>{{ fridayHoursOpen | amPmFormat }} - {{ fridayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Saturday' | t }}</div>
                {% if saturdayHours %}
                  <div>{{ saturdayHoursOpen | amPmFormat }} - {{ saturdayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
              <div class="paragraph">
                <div>{{ 'Sunday' | t }}</div>
                {% if sundayHours %}
                  <div>{{ sundayHoursOpen | amPmFormat }} - {{ sundayHoursClose | amPmFormat }}</div>
                {% else %}
                  <div>{{ 'CLOSED' | t }}</div>
                {% endif %}
              </div>
            </div>

            <div class="flex-video">
              <iframe frameborder="0" allowfullscreen="1" width="350" height="197" src="{{ videoUrl }}"></iframe>
            </div>

            <h6 class="heading-6 branch-information__heading-6">{{ webDescription }}</h6>
            <p class="paragraph">{{ webContentBlock }}</p>

            {% if branchTypeEquipmentCategoryLinks %}
              <div class="results-content-blocks_container branch-type-equipment-category-links-list">
                <h2 class="heading-2">{{ 'Equipment Category Links' | t }}</h2>
                <ul>
                  {% for branchTypeEquipmentCategoryLink in branchTypeEquipmentCategoryLinks %}
                    <li class="branch-type-equipment-category-link">
                      <a href="{{ branchTypeEquipmentCategoryLink.uri }}" class="{{ branchTypeEquipmentCategoryLink.options.attributes.class }}">{{ branchTypeEquipmentCategoryLink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if globalContentBlocks %}
              <div class="results-content-blocks_container global-branch-content-blocks-list">
                {% for contentBlock in globalContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if branchTypeContentBlocks %}
              <div class="results-content-blocks_container branch-type-content-blocks-list">
                {% for contentBlock in branchTypeContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if branchContentBlocks %}
              <div class="results-content-blocks_container branch-content-blocks-list">
                {% for contentBlock in branchContentBlocks %}
                  <div class="content-block">
                    {{ contentBlock | raw }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if nearbyBranches %}
              <div class="results-content-blocks_container branch-list">
                <h2 class="heading-2">{{ 'Nearby Locations' | t }}</h2>
                {% for branch in nearbyBranches %}
                  {%
                    set vars = {
                    branch: branch,
                    branchName: branch.primaryBusinessType != null ? branch.primaryBusinessType.name : ''
                  }
                  %}
                  {% include '/modules/custom/locations/templates/partials/locations_branch_list_item.html.twig' with vars %}
                {% endfor %}
              </div>
            {% endif %}
          </div>


          <!-- MOBILE ONLY
          === This should only show on mobile. ===
          <div class="results-content-blocks mobile-only">
            <h6 class="heading-6 small-grey__heading-6">{{ 'United Rentals' | t }}</h6>
            <div class="results-content-blocks_title-mile">
              <h4 class="heading-4" onClick="alert('Should go to branch.');return false;">{{ branchName }}</h4>
              <p class="paragraph small-grey__paragraph"></p>
            </div>
            <p class="paragraph blue__paragraph">
            <span style="display:block;">
              <a href="{{ phoneLink }}">
                {{ phone }}
              </a>
            </span>
            </p>
            <p class="paragraph">{{ address1 }}, {{ city }}, {{ state }} {{ zip }}</p>
            <h6 class="heading-6 black__heading-6">
              <a rel="noopener noreferrer" target="_blank" href="{{ directionsLink }}">{{ 'Get Directions' | t }}</a>
            </h6>
          </div>
          === This should only show on mobile. ===
          -->

        </div>
      </div>
      {% include '/modules/custom/locations/templates/partials/locations_footer.html.twig' %}
    </div>
    {% include '/modules/custom/locations/templates/partials/locations_map.html.twig' %}
  </div>
</div>
