<div class="filter-panel">
  <div class="filter-panel__label">
    <div class="container-inline">
      <h5 class="heading-5">{{ 'Filters' | t }}</h5>
      <p class="collapse__paragraph link collapse-toggle" data-target=".filter-panel__content-container" data-trigger=".filter-panel__content-container .collapse-toggle">{{ 'Collapse' | t }}</p>
    </div>
  </div>

  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      <a class="link collapse-toggle has-icon" data-target=".filter-panel__content">{{ 'Equipment Attributes' | t }}</a>
      <i class="icon icon-angle-up collapse-toggle" data-target=".filter-panel__content"></i>
    </div>
    <div class="filter-panel__content">
      <div>
        <!-- Iterate over all equipment attributes, Eg. "Platform Height" -->
        {% for idx,attribute in equipmentAttributes %}
          {% if attribute.children|length > 0 and attribute.depth_level > 2 %}
          <div label="equipmentAttributes{{ idx }}">
            <h6 class="heading-6">{{ attribute.name }}</h6>
            <ul>
              {% for filter in attribute.children %}
                {% if filter.catClasses %}
                <li class="form-item--checkbox__item">
                  <input class="equipment-listing-filter" data-tid="{{ filter.tid }}" type="checkbox" id="filter{{ filter.tid }}" name="checkbox{{ filter.tid }}"
                    {% if filter.tid in selectedFilters %}checked="checked"{% endif %}>
                  <label for="filter{{ filter.tid }}" class="labelClass" style="labelStyle">
                    <span style="checkboxStyle">
                      <svg
                        width="16px"
                        height="16px"
                        viewBox="0 0 16 16"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        style="height: auto !important"
                      >
                        <title>checkboxTitle</title>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="check">
                            <rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect>
                            <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon>
                          </g>
                        </g>
                      </svg>
                    </span>
                    {{ filter.name }} ({{ filter.catClasses|length }})
                  </label>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>