<div class="navigation-panel">

  <!-- <equipment-search
    :placeholder="equipmentSearchLabel | ellipses(13)"
    @focus="searchFocus = true"
    @blur="searchFocus = false"
  /> -->

  <div class="navigation-panel__label">
    <div class="container-inline">
      <h5 class="heading-5">{{ 'Navigation' | t }}</h5>
      <p class="collapse__paragraph link collapse-toggle" data-target=".navigation-panel__parent">{{ 'Collapse' | t }}</p>
    </div>
  </div>

  <div class="navigation-panel__parent">
    <a class="link{% if currentSubCategory.tid == null %} is-active{% endif %}" href="{{ currentCategory.urlComponent }}">{{ currentCategory.name }}</a>
    <i class="icon icon-angle-up collapse-toggle" data-target=".navigation-panel__child__{{ currentCategory.tid }}"></i>
    <div class="navigation-panel__child navigation-panel__child__{{ currentCategory.tid }}">
      {% for key,subcat in currentCategory.children %}
      <a class="link {% if subcat.tid == currentSubCategory.tid %} is-active{% endif %}" href="{{ subcat.urlComponent }}">{{ subcat.name }}</a>
      {% endfor %}
    </div>
  </div>

  {% for index,category in categories %}
    {% if category.tid != currentCategory.tid %}
    <div class="navigation-panel__content hidden">
      <div class="navigation-panel__parent">
        <a class="link" href="{{ category.urlComponent }}">{{ category.name }}</a>
        <i class="icon icon-angle-up collapse-toggle collapsed" data-target=".navigation-panel__child__{{ category.tid }}"></i>
        <div class="navigation-panel__child navigation-panel__child__{{ category.tid }} hidden">
          {% for key,subcat in category.children %}
          <a class="link" href="{{ subcat.urlComponent }}">{{ subcat.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <div class="viewMore_link">
    <a class="link view-more-toggle view-more" href="#">{{ 'View More' | t }}</a>
  </div>

</div>