<div class="contextual-links-panel">
  <div class="contextual-links-panel__label">
    <div class="container-inline">
      <h5 class="heading-5">{{ 'Recommended Links' | t }}</h5>
      <p class="collapse__paragraph link collapse-toggle" data-target=".contextual-links-panel__parent">{{ 'Collapse' | t }}</p>
    </div>
  </div>

  <div class="contextual-links-panel__parent">
    <a class="link"{% if recentlyViewedCount <= 0 %} disabled="disabled"{% else %} href="{{ recentlyViewedUrl }}"{% endif %}>
      {{ 'Recently Viewed' | t }} ({{ recentlyViewedCount }})
    </a>
    {% if isLoggedIn %}
    <a class="link"{% if favoritesCount <= 0 %} disabled="disabled"{% else %} href="{{ favoritesUrl }}"{% endif %}>
      {{ 'Favorites' | t }} ({{ favoritesCount }})
    </a>
    {% endif %}
  </div>
</div>