
/*
---
name: Typography
category: Atoms
---

## <a name='typography-top'>Overview
Typography is documented in a two tier system and assigned a variable name. The first tier defines the different available values of a piece of typography. The second tier defines how those values are assembled to create typographic uses within the application.
***
Jump to:
* 1st Tier Typographic Elements
    * [Families](#families)
    * [Base](#base)
    * [Scale](#scale)
* [2nd Tier Typographic Elements](#second)
    * [Headers](#headers)
        * [Bold](#bold)
        * [Thin](#thin)
    * [Paragraph](#paragraph)
    * [Inline Elements](#inline)

## <a name='typography-first'>1st Tier: Typographic Elements

#### Fonts
##### <a name='typography-families'>Families
```typography-fonts.html hidden
<table>
  <tr>
    <th>
      Name
    </td>
    <th>
      Value
    </th>
    <th>
      Example
    </th>
  </tr>
  <tr>
    <td>
      $font-family-sans-serif
    </td>
    <td>
      "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    </td>
    <td class="font-family-sans-serif font-example">
      The quick fox jumps over the lazy brown dog.
    </td>
  </tr>
  <tr>
    <td>
      $font-family-serif
    </td>
    <td>
      Georgia, Times, "Times New Roman", "Noto Serif", serif;
    </td>
    <td class="font-family-serif font-example">
      The quick fox jumps over the lazy brown dog.
    </td>
  </tr>
  <tr>
    <td>
      $font-family-monospace
    </td>
    <td>
      "Menlo", "Monaco", "Consolas", "Courier New", "Roboto Mono", monospace;
    </td>
    <td class="font-example">
      The quick fox jumps over the lazy brown dog.
    </td>
  </tr>
</table>
```
```typography-fonts:/components/_patterns/_styleguide-common.css hidden
```


##### <a name='typography-base'>Base
```typography-base.html hidden
<table>
  <tr>
    <th>
      Name
    </td>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>
      $font-family-base
    </td>
    <td>
      $font-family-sans-serif
    </td>
  </tr>
</table>

```

```typography-base:/components/_patterns/_styleguide-common.css hidden
```

#### <a name='typography-scale'>Scale
```typography-scale:/components/_patterns/01-atoms/02-text/typography-scale.html
```

```typography-scale:/components/_patterns/_styleguide-common.css hidden
```
[Back to top](#top)

***
## <a name='typography-second'>2nd Tier: Application Typography
#### <a name='typography-headers'>Headers
##### <a name='typography-bold'>Bold

```typography-headings:/components/_patterns/01-atoms/02-text/typography-headings.html
```

```typography-headings:/components/_patterns/_styleguide-common.css hidden
```

##### <a name='typography-thin'>Thin

```typography-headings-thin:/components/_patterns/01-atoms/02-text/typography-headings-thin.html
```

```typography-headings-thin:/components/_patterns/_styleguide-common.css hidden
```
***
#### <a name='typography-paragraph'>Paragraph

```typography-paragraph.html hidden
<table>
  <tr>
    <th>
      Reference
    </th>
    <th>
      Tag
    </th>
    <th>
      Values
    </th>
  </tr>
  <tr>
    <td>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in justo magna. Vestibulum efficitur metus dui, venenatis posuere sapien laoreet nec.
      </p>
    </td>
    <td>
      <pre class="short">&lt;p&gt;</pre>
    </td>
    <td>
      <pre>
        p {
          font-family: $font-family-base;
          font-size: $font-size-base;
          color: $text-color;
          line-height: 1.7142857143; 24/14

          // suggested max-width: 32em
          // this is devised from ~70 character width
        }
      </pre>
    </td>
  </tr>
</table>
```
```typography-paragraph:/components/_patterns/_styleguide-common.css hidden
```

***
#### <a name='typography-inline'>Inline elements

``` typography-inline:/components/_patterns/01-atoms/02-text/typography-inline.html hidden
```

```typography-inline:/components/_patterns/_styleguide-common.css hidden
```
[Back to top](#top)
*/
