<table>
  <tr>
    <th>
      Reference
    </th>
    <th>
      Tag
    </th>
    <th>
      Values
    </th>
    <th>
      Notes
    </th>
  </tr>
  <tr>
    <td>
      <p><a href="#">
        This is a text link.
      </a></p>
    </td>
    <td>
      <pre class="short">&lt;a&gt;</pre>
    </td>
    <td>
      <pre>
        a {
          color: $color-text-link;
          text-decoration: none;

          &:hover
          color: $color-text-link-hover;
          text-decoration: underline;

          &:visited
          color: $color-text-link-visited;

          &:active
          color: $color-text-link-active;
        }
      </pre>
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      <p><small>
        Small text, used for fine print, etc.
      </small></p>
    </td>
    <td>
      <pre class="short">&lt;small&gt;</pre>
    </td>
    <td>
      <pre>
        small {
          font-size: $font-size-small
        }
      </pre>
    </td>
    <td>
      <p>Uses the same ratio as <strong>$font-size-small</strong></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        &ldquo;This is a &lsquo;short inline&rsquo; quotation.&rdquo;
      </p>
    </td>
    <td>
      <pre class="short">&lt;q&gt;</pre>
    </td>
    <td>
      <pre>
        &amp;lsquo;
        &amp;rsquo;
        &amp;ldquo;
        &amp;rdquo;
      </pre>
    </td>
    <td>
      <p>Quotes should use proper quotation marks, not straight quotes!</p>
    </td>
  </tr>

</table>
