<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Class Name
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td class="header-display-1 header-display-1--thin">
      d1 Display
    </td>
    <td>
      header-display-1--thin
    </td>
    <td>
      <pre>
        .header-display-1.header-display-1--thin{
          font-weight: 100;
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-1 heading-1--thin">
      H1 Header Thin
    </td>
    <td>
      heading-1--thin
    </td>
    <td>
      <pre>
        .heading-1.heading-1--thin{
          font-weight: 100;
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-2 heading-2--thin">
      H2 Header Thin
    </td>
    <td>
      heading-2--thin
    </td>
    <td>
      <pre>
        .heading-2.heading-2--thin{
          font-weight: 100;
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-3 heading-3--thin">
      H3 Header Thin
    </td>
    <td>
      heading-3--thin
    </td>
    <td>
      <pre>
        .heading-3.heading-3--thin{
          font-weight: 100;
        }
      </pre>
    </td>
  </tr>
</table>
