<table class="font-family-sans-serif">
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>
      Rendered Size
    </th>
  </tr>
  <tr>
    <td>
      Global
    </td>
    <td>

    </td>
    <td>
      <pre>
        html{
          font-size: 87.5%
          //sets base at 14
        }
      </pre>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="fs-base">
      Base size
    </td>
    <td>
      $font-size-base
    </td>
    <td>
      1rem
    </td>
    <td>
      14px
    </td>
  </tr>
  <tr>
    <td class="fs-xsmall">
      X-small Size
    </td>
    <td>
      $font-size-xsmall
    </td>
    <td>
      0.7142857143rem
    </td>
    <td>
      10px at base
    </td>
  </tr>
  <tr>
    <td class="fs-small">
      Small Size
    </td>
    <td>
      $font-size-small
    </td>
    <td>
      0.8571428571em
    </td>
    <td>
      12px at base
    </td>
  </tr>
  <tr>
    <td class="fs-large">
      Large Size
    </td>
    <td>
      $font-size-large
    </td>
    <td>
      1.1428571429rem
    </td>
    <td>
      16px at base
    </td>
  </tr>
  <tr>
    <td class="fs-display1">
      Display 1 Size
    </td>
    <td>
      $font-size-display1
    </td>
    <td>
      3.1428571429rem
    </td>
    <td>
      44px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h1">
      H1 Size
    </td>
    <td>
      $font-size-h1
    </td>
    <td>
      2rem
    </td>
    <td>
      28px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h2">
      H2 Size
    </td>
    <td>
      $font-size-h2
    </td>
    <td>
      1.5714285714rem
    </td>
    <td>
      22px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h3">
      H3 Size
    </td>
    <td>
      $font-size-h3
    </td>
    <td>
      1.2857142857rem
    </td>
    <td>
      18px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h4">
      H4 Size
    </td>
    <td>
      $font-size-h4
    </td>
    <td>
      1.1428571429rem
    </td>
    <td>
      16px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h5">
      H5 Size
    </td>
    <td>
      $font-size-h5
    </td>
    <td>
      1rem
    </td>
    <td>
      14px at base
    </td>
  </tr>
  <tr>
    <td class="fs-h6">
      H6 Size
    </td>
    <td>
      $font-size-h6
    </td>
    <td>
      0.8571428571rem
    </td>
    <td>
      12px at base
    </td>
  </tr>
</table>
