<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Class Name
    </th>
    <th>
      Line Height/Pixel Size
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td class="header-display-1">
      d1 Display Bold
    </td>
    <td>
      header-display-1
    </td>
    <td>
      48/44
    </td>
    <td>
      <pre>
        .header-display-1{
          font-family: $font-family-base;
          font-size: $font-size-display1;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.0909; // 48/44
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-1">
      H1 Header Bold
    </td>
    <td>
      heading-1
    </td>
    <td>
      36/28
    </td>
    <td>
      <pre>
        .heading-1{
          font-family: $font-family-base;
          font-size: $font-size-h1;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.2857142857; // 36/28
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-2">
      H2 Header Bold
    </td>
    <td>
      heading-2
    </td>
    <td>
      24/22
    </td>
    <td>
      <pre>
        .heading-2{
          font-family: $font-family-base;
          font-size: $font-size-h2;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.090909; // 24/22
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-3">
      H3 Header Bold
    </td>
    <td>
      heading-3
    </td>
    <td>
      24/18
    </td>
    <td>
      <pre>
        .heading-3{
          font-family: $font-family-base;
          font-size: $font-size-h3;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.333333; // 24/18
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-4">
      H4 Header Bold
    </td>
    <td>
      heading-4
    </td>
    <td>
      20/16
    </td>
    <td>
      <pre>
        .heading-4{
          font-family: $font-family-base;
          font-size: $font-size-h4;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.25; // 20/16
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-5">
      H5 Header Bold
    </td>
    <td>
      heading-5
    </td>
    <td>
      20/14
    </td>
    <td>
      <pre>
        .heading-5{
          font-family: $font-family-base;
          font-size: $font-size-h5;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.4285714286; // 20/14
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td class="heading-6">
      H6 Header Bold
    </td>
    <td>
      heading-6
    </td>
    <td>
      16/12
    </td>
    <td>
      <pre>
        .heading-6{
          font-family: $font-family-base;
          font-size: $font-size-h6;
          color: $color-text;
          font-variant: none;
          font-weight: 700;
          line-height: 1.333333; // 16/12
        }
      </pre>
    </td>
  </tr>
</table>
