<div class="card-rates-list">
{% for rate in card_rates_list %}
  {% include "@atoms/cards/card-price.twig" 
    with {
      "interval": rate.interval,
      "rate": rate.rate
    }
  %}
{% endfor %}
</div>