.cart-credit-banner-wrapper{
  position: relative;
  width: 100%;
}

.reservation-block {
  .cart-credit-banner-wrapper {
    background-color: $color-grey-2;
  }
  .banner-bottom-wrapper {
    background-color: $white;
  }

}

.banner-bottom-wrapper{
  display: flex;
  flex-direction: row;
  max-width:69%;
  border-top: 1px solid #dde0e2;
  border-left: 1px solid #dde0e2;
  border-right: 1px solid #dde0e2;
  margin-top: 60px;
  padding:0 $_padding-small;

  .banner-title {
    width: 40%;
    max-width: 40%;
    flex: 1 1 auto;
    display: flex;
    margin-right: 5px;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 1.75rem;
      color: $color-blue;
      line-height: 35px;
    }
  }

  .banner-content{
    width: 35%;
    margin-right: 5px;
    max-width: 35%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-copy {
      width: 100%;
    }

    .banner-copy {
      width: 100%;
    }

    h3 {
      font-size: 18px;
      color: $color-orange;
    }

    a {
      padding: 0;
      width: auto;
      font-size: 12px;
      max-width: 250px;
      line-height: 35px;
    }
  }

  .banner-image-wrapper{
    position: relative;
    max-width: 30%;
    width: 30%;
    flex: 1 0 auto;

    .banner-image{
      position: absolute;
      right: 0;
      max-height: 195px;
      bottom: 0;
      z-index: 10;
    }
  }
}

@media (max-width: 1024px) {
  .cart-credit-banner-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .cart-credit-banner-wrapper {
    display: none;
    padding-bottom: 20px;
  }

  .banner-bottom-wrapper{
    flex-wrap: wrap;
    border-bottom:1px solid $color-blue;
    border-left: none;
    border-right: none;

    .banner-title {
      width: 70%;
      max-width: 70%;
      margin-right: 5px;

      h1 {
        margin: 10px 0 0 0;
      }
    }

    .banner-content{
      width: 65%;
      max-width: 65%;
      margin-right: 5px;

      h3 {
        margin: 5px 0 10px 0;
      }
    }

    .banner-image-wrapper{
      max-width: 30%;
      min-width: 30%;
      width: 30%;
      position: inherit;

      .banner-image{
        position: absolute;
        right: 4%;
        max-width: 215px;
        bottom: 0;
        z-index: 10;
      }
    }
  }
}

@media (max-width: 540px) {

  .banner-bottom-wrapper{
    max-width: 100%;

    .banner-title {
      width: 65%;
      max-width: 65%;
      margin-right: 10px;

      h1 {
        font-size: 1.25rem;
      }
    }

    .banner-content{
      width: 65%;
      max-width: 65%;
      margin-right: 10px;

      h3 {
        font-size:14px;
      }

      a {
        padding: 0;
        width: auto;
        font-size: 12px;
        max-width: 190px;
        line-height: 35px;
      }
    }

    .banner-image-wrapper{

      .banner-image{
        max-width: 180px;
      }
    }
  }
}

@media (max-width: 400px) {
  .cart-credit-banner-wrapper{
    padding-bottom: 10px;
  }

  .banner-bottom-wrapper{
    .banner-title {
      h1 {
        font-size: 1rem;
      }
    }

    .banner-content{
      h3 {
        font-size: 12px;
      }

      a {
        font-size: 11px;
        max-width: 180px;
        line-height: 30px;
      }
    }

    .banner-image-wrapper{
      .banner-image{
        max-width: 155px;
        right: 0;

      }
    }
  }
}

@media (max-width: 350px) {
  .banner-bottom-wrapper{

    .banner-title {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }

    .banner-content{
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }

    .banner-image-wrapper{
      display:none;
    }
  }
}
