/*
---
name: Cart Cost Summary
category: Organisms
---

### Desktop Version

```cart-cost-summary:cart-cost-summary.html
```
```cart-cost-summary-mobile.js hidden
window.frameElement.style.width = '400px';
let $menuToggle = document.querySelector('.cost-summary-container');
$menuToggle.addEventListener('click', function(event){
    event.currentTarget.classList.toggle('is-open');
});
```
```cart-cost-summary.css hidden
.line-item-container{
  max-height: 0;
}
.is-open .line-item-container{
  max-height: 500px;
}
.cost-summary{
  bottom: auto;
}
@media (min-width: 960px){
  .totals-mobile {
      display: none;
  }
  .cost-summary {
      flex-basis: 31%;
      max-width: 40%;
      position: relative;
      bottom: auto;
  }
  .line-item-container {
      overflow-y: visible;
      transition: none;
      padding: 0;
      max-height: none!important;
  }
  .cost-summary-container {
      box-shadow: none;
      padding: 16px;
  }
}

```
### Mobile Version
The cost is condensed down to a total of all items in the cart, with the tap action toggling the visibility of the cost summary details
```cart-cost-summary-mobile:cart-cost-summary.html hidden
```
```cart-cost-summary-mobile.js hidden
window.frameElement.style.width = '400px';
let $menuToggle = document.querySelector('.cost-summary-container');
$menuToggle.addEventListener('click', function(event){
    event.preventDefault();
    $menuToggle.classList.toggle('is-open');
});
```
```cart-cost-summary-mobile.css hidden
.line-item-container{
  max-height: 0;
}
.is-open .line-item-container{
  max-height: 500px;
}
.cost-summary{
  bottom: auto;
}
@media (min-width: 960px){
  .totals-mobile {
      display: none;
  }
  .cost-summary {
      flex-basis: 31%;
      max-width: 40%;
      position: relative;
      bottom: auto;
  }
  .line-item-container {
      overflow-y: visible;
      transition: none;
      padding: 0;
      max-height: none!important;
  }
  .cost-summary-container {
      box-shadow: none;
      padding: 16px;
  }
}

```
*/
