<div class="cart-cost-summary__container">
  <div class="cart-cost-summary">
    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span><i class="icon icon-eye-off"></i></span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span>$$$</span></p>

    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span>$$$</span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span><i class="icon icon-eye-off"></i></span></p>

    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span>$$$</span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span><i class="icon icon-eye-off"></i></span>
    </p>

    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span>$$$</span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span>$$$</span>
    </p>

    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span>$$$</span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span>$$$</span>
    </p>

    <label class="label-field-name cart-cost-summary__label">Guest User</label>
    <p class="cart-cost-summary__line-item">
      <span>Kansas City, MO… - 3 Items</span>
      <span>$$$</span>
    </p>
    <p class="cart-cost-summary__line-item">
      <span>St. Louis, MO 6… - 2 Items</span>
      <span>$$$</span>
    </p>
  </div>
  <div class="cart-cost-summary__footer">
    <p class="cart-cost-summary__sub-total">
      <span><strong>Subtotal</strong></span>
      <span><strong>$4,123</strong></span>
    </p>
    <div class="cart-cost-summary__controls">
      <button class="button button--filled">Proceed to Checkout</button>
      <button class="button button--filled">Request a Quote</button>
    </div>
  </div>
</div>