<div class="cost-summary">
    <div class="cost-summary-container">
        <div class="totals-mobile"><span class="title">Estimated Cost<span class="quantity">(1 item)</span></span> <span class="total">$491.30</span> <i class="icon icon-angle-down"></i></div>
        <div class="line-item-container">
            <p class="line-item"><span>1 Skid Steer Loader, 1700-1899 …</span> <span>$331.00</span></p>
            <p class="line-item"><span>
        UR Delivery
        <i class="icon icon-info-circle has-tooltip"></i></span> <span>$128.00</span></p>
            <p class="line-item"><span><em>Online Discount</em> <i class="icon icon-info-circle has-tooltip"></i></span> <span>(-$50.00)</span></p>
            <p class="line-item"><span>UR Pickup</span> <span>$128.00</span></p>
            <p class="line-item"><span><em>Online Discount</em> <i class="icon icon-info-circle has-tooltip"></i></span> <span>(-$50.00)</span></p>
            <p class="line-item"><span>
        Environmental Fee
        <i class="icon icon-info-circle has-tooltip"></i> </span> <span>$4.30</span></p>



        </div>
        <div class="totals"><span class="title">Estimated Cost</span> <span class="total">$491.30</span></div>

    </div>
</div>
