.sap {
  display: block;
  width: 100%;

  .sap-inputs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .sap-button {
    margin-bottom: 20px;
  }

  .sap-select,
  .sap-input,
  .sap-textarea {
    width: 100%;

    input {
      margin: 0;
    }
  }

  .sap-textarea textarea {
    border: 1px solid #dde0e2;
    height: 100px;
    width: 100%;
    padding: .5em;
  }

  .sap-search-results ul {
    list-style-type: none;
  }

  /* Input Validation Classes */
  .sap-spinner {
    text-align: center;
    margin-bottom: 10px;
  }
  .sap-input-error input,
  .sap-input-error select {
    border: 2px solid $color-bright-red;
  }

  .sap-input-warning input,
  .sap-input-warning select {
    border: 2px solid $color-orange-highlight;
  }

  .sap-input-icon {
    z-index: 1;
    position: relative;
    top: -55px;
    text-align: right;
    width: 97%;
    pointer-events: none;
    height: 0px;
    overflow: visible;
  }

  .sap-input-icon .icon {
    font-size: 2em;
    font-weight: 800;
    pointer-events: all;
  }

  /* Message Validation Classses */
  .sap-error {
    color: $color-bright-red !important;
  }

  .sap-warning {
    color: $color-orange-highlight !important;
  }

  .sap-info {
    color: $color-blue !important;
  }
}
