<a id="blue"></a>
<h3>
  Blue
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-blue">

    </td>
    <td>
      $color-blue
    </td>
    <td>
      #0050A9
    </td>
    <td>
     rgba(0,80,170,1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-lowlight">

    </td>
    <td>
      $color-blue-lowlight
    </td>
    <td>
      #002F55
    </td>
    <td>
     rgba(0, 47, 86, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-highlight">

    </td>
    <td>
      $color-blue-highlight
    </td>
    <td>
      #008CFF
    </td>
    <td>
     rgba(0, 140, 255, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-subtle">

    </td>
    <td>
      $color-blue-subtle
    </td>
    <td>
      #EDF8FF
    </td>
    <td>
     rgba(237, 248, 255, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
