<a id="bright-red"></a>
<h3>
  Bright Red
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-bright-red">

    </td>
    <td>
      $color-bright-red
    </td>
    <td>
      #E10000
    </td>
    <td>
     rgba(132, 0, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-lowlight">

    </td>
    <td>
      $color-bright-red-lowlight
    </td>
    <td>
      #840000
    </td>
    <td>
     rgba(255, 0, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-highlight">

    </td>
    <td>
      $color-bright-red-highlight
    </td>
    <td>
      #FF4F4F
    </td>
    <td>
     rgba(255, 79, 70, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-subtle">

    </td>
    <td>
      $color-bright-red-subtle
    </td>
    <td>
      #FFECEC
    </td>
    <td>
     rgba(255, 236, 236, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
