<a id="link"></a>

<h3>
  Link Colors
</h3>
<a id="link-default"></a>

<h4>
  Default
</h4>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>Matching Class Name</th>
  </tr>
  <tr>
    <td class="bgc-blue">

    </td>
    <td>
      $color-text-link
    </td>
    <td>
      $color-blue
    </td>
    <td>
     .bgc-blue
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-highlight">

    </td>
    <td>
      $color-text-link-hover
    </td>
    <td>
      $color-blue-highlight
    </td>
    <td>
     .bgc-blue-highlight
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-lowlight">

    </td>
    <td>
      $color-text-link-visited
    </td>
    <td>
      $color-blue-lowlight
    </td>
    <td>
     .bgc-blue-lowlight
    </td>
  </tr>
  <tr>
    <td class="bgc-blue">

    </td>
    <td>
      $color-text-link-active
    </td>
    <td>
      $color-blue
    </td>
    <td>
     .bgc-blue
    </td>
  </tr>
</table>
<a id="link-light"></a>

<h4>
  Light
</h4>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>Matching Class Name</th>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-text-link-light
    </td>
    <td>
      $color-white
    </td>
    <td>
     .bgc-white
    </td>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-text-link-light-hover
    </td>
    <td>
      $color-white
    </td>
    <td>
     .bgc-white
    </td>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-text-link-light-visited
    </td>
    <td>
      $color-white
    </td>
    <td>
     .bgc-white
    </td>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-text-link-light-active
    </td>
    <td>
      $color-white
    </td>
    <td>
     .bgc-white
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
