<a id="brand-colors"></a>

<h3>Brand Colors</h3>
<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>Matching Class Name</th>
  </tr>
  <tr>
    <td class="bgc-blue">

    </td>
    <td>
      $color-brand-primary
    </td>
    <td>
      $color-blue
    </td>
    <td>
     .bgc-blue
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-highlight">

    </td>
    <td>
      $color-brand-secondary
    </td>
    <td>
      $color-blue-highlight
    </td>
    <td>
     .bgc-blue-highlight
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
