<a id="back-to-top"></a>
<h5>Jump to:</h5>
<ul class="styleguide__subnav">
  <li>
    <a href="#blue">Blue</a>
  </li>
  <li>
    <a href="#orange">Orange</a>
  </li>
  <li>
    <a href="#bright-red">Bright Red</a>
  </li>
  <li>
    <a href="#green">Green</a>
  </li>
  <li>
    <a href="#grey">Grey</a>
  </li>
</ul>

<!-- <a id="blue"></a>
<h3>
  Blue
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-blue">

    </td>
    <td>
      $color-blue
    </td>
    <td>
      #0050A9
    </td>
    <td>
     rgba(0,80,170,1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-lowlight">

    </td>
    <td>
      $color-blue-lowlight
    </td>
    <td>
      #002F55
    </td>
    <td>
     rgba(0, 47, 86, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-highlight">

    </td>
    <td>
      $color-blue-highlight
    </td>
    <td>
      #008CFF
    </td>
    <td>
     rgba(0, 140, 255, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-subtle">

    </td>
    <td>
      $color-blue-subtle
    </td>
    <td>
      #EDF8FF
    </td>
    <td>
     rgba(237, 248, 255, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a> -->


<!-- <a id="orange"></a>
<h3>
  Orange
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-orange">

    </td>
    <td>
      $color-orange
    </td>
    <td>
      #F99222
    </td>
    <td>
     rgba(249, 146, 34, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-orange-lowlight">

    </td>
    <td>
      $color-orange-lowlight
    </td>
    <td>
      #B03712
    </td>
    <td>
     rgba(176, 55, 18, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-orange-highlight">

    </td>
    <td>
      $color-orange-highlight
    </td>
    <td>
      #FFCF3D
    </td>
    <td>
     rgba(255, 206, 61, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-orange-subtle">

    </td>
    <td>
      $color-orange-subtle
    </td>
    <td>
      #FFF2EC
    </td>
    <td>
     rgba(255, 242, 236, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a> -->


<!-- <a id="bright-red"></a>
<h3>
  Bright Red
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-bright-red">

    </td>
    <td>
      $color-bright-red
    </td>
    <td>
      #E10000
    </td>
    <td>
     rgba(132, 0, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-lowlight">

    </td>
    <td>
      $color-bright-red-lowlight
    </td>
    <td>
      #840000
    </td>
    <td>
     rgba(255, 0, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-highlight">

    </td>
    <td>
      $color-bright-red-highlight
    </td>
    <td>
      #FF4F4F
    </td>
    <td>
     rgba(255, 79, 70, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-subtle">

    </td>
    <td>
      $color-bright-red-subtle
    </td>
    <td>
      #FFECEC
    </td>
    <td>
     rgba(255, 236, 236, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a> -->


<!-- <a id="green"></a>
<h3>
  Green
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-green">

    </td>
    <td>
      $color-green
    </td>
    <td>
      #48BD00
    </td>
    <td>
     rgba(72, 189, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-green-highlight">

    </td>
    <td>
      $color-green-highlight
    </td>
    <td>
      #237000
    </td>
    <td>
     rgba(35, 112, 0, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a> -->


<!-- <a id="grey"></a>
<h3>
  Grey
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
    <th>
      Notes
    </th>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-white
    </td>
    <td>
      #FFFFFF
    </td>
    <td>
     rgba(255, 255, 255, 1)
    </td>
    <td>

    </td>
  </tr>

  <tr>
    <td class="bgc-near-white">

    </td>
    <td>
      $color-grey-2
    </td>
    <td>
      #F9F9F9
    </td>
    <td>
     rgba(249, 249, 249, 1)
   </td>
   <td>
     Also referred to as subtle grey
   </td>
   </tr>
  <tr>
    <td class="bgc-gray-light">

    </td>
    <td>
      $color-grey-11
    </td>
    <td>
      #DDE0E2
    </td>
    <td>
     	rgba(221, 224, 226, 1)
   </td>
   <td>
     Also referred to as light grey
   </td>
 </tr>
  <tr>
    <td class="bgc-united-gray">

    </td>
    <td>
      $color-grey-38
    </td>
    <td>
      #91969B
    </td>
    <td>
     rgba(145, 150, 155, 1)
    </td>
    <td>
      Also referred to as united grey
    </td>
  </tr>
  <tr>
    <td class="bgc-gray-dark">

    </td>
    <td>
      $color-grey-69
    </td>
    <td>
      #414B50
    </td>
    <td>
     	rgba(65, 75, 80, 1)
   </td>
   <td>
     Also referred to as dark grey
   </td>
 </tr>
  <tr>
    <td class="bgc-black">

    </td>
    <td>
      $color-black
    </td>
    <td>
      #000000
    </td>
    <td>
     rgba(0, 0, 0, 1)
    </td>
    <td>

    </td>
  </tr>

</table>
<a href="#back-to-top">back to top</a> -->
