<a id="green"></a>
<h3>
  Green
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
  </tr>
  <tr>
    <td class="bgc-green">

    </td>
    <td>
      $color-green
    </td>
    <td>
      #48BD00
    </td>
    <td>
     rgba(72, 189, 0, 1)
    </td>
  </tr>
  <tr>
    <td class="bgc-green-highlight">

    </td>
    <td>
      $color-green-highlight
    </td>
    <td>
      #237000
    </td>
    <td>
     rgba(35, 112, 0, 1)
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
