<a id="text"></a>

<h3>
  Text Colors
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>Matching Class Name</th>
  </tr>
  <tr>
    <td class="bgc-gray-darker">

    </td>
    <td>
      $color-text
    </td>
    <td>
      $color-grey-69
    </td>
    <td>
     .bgc-gray-darker
    </td>
  </tr>
  <tr>
    <td class="bgc-united-gray">

    </td>
    <td>
      $color-text-subtle
    </td>
    <td>
      $color-grey-38
    </td>
    <td>
     .bgc-united-gray
    </td>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-text-reverse
    </td>
    <td>
      $color-white
    </td>
    <td>
     .bgc-white
    </td>
  </tr>

</table>
<a href="#back-to-top">back to top</a>
