<a id="utility"></a>

<h3>
  Utility Colors
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>Matching Class Name</th>
  </tr>
  <tr>
    <td class="bgc-blue-highlight">

    </td>
    <td>
      $color-utility-positive
    </td>
    <td>
      $color-blue-highlight
    </td>
    <td>
     .bgc-blue-highlight
    </td>
  </tr>
  <tr>
    <td class="bgc-blue-subtle">

    </td>
    <td>
      $color-utility-positive-subtle
    </td>
    <td>
      $color-blue-subtle
    </td>
    <td>
     .bgc-blue-subtle
    </td>
  </tr>
  <tr>
    <td class="bgc-orange">

    </td>
    <td>
      $color-utility-attention
    </td>
    <td>
      $color-orange
    </td>
    <td>
     .bgc-orange
    </td>
  </tr>


  <tr>
    <td class="bgc-orange-subtle">

    </td>
    <td>
      $color-utility-attention-subtle
    </td>
    <td>
      $color-orange-subtle
    </td>
    <td>
      .bgc-orange-subtle
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-highlight">

    </td>
    <td>
      $color-utility-negative
    </td>
    <td>
      $color-bright-red
    </td>
    <td>
     .bgc-bright-red-highlight
    </td>
  </tr>
  <tr>
    <td class="bgc-bright-red-subtle">

    </td>
    <td>
      $color-utility-negative-subtle
    </td>
    <td>
      $color-bright-red-subtle
    </td>
    <td>
     .bgc-bright-red-subtle
    </td>
  </tr>
</table>
<a href="#back-to-top">back to top</a>
