<a id="grey"></a>
<h3>
  Grey
</h3>

<table>
  <tr>
    <th>
      Reference
    </td>
    <th>
      Name
    </th>
    <th>
      Hex Value
    </th>
    <th>
      RGBa Value
    </th>
    <th>
      Notes
    </th>
  </tr>
  <tr>
    <td class="bgc-white">

    </td>
    <td>
      $color-white
    </td>
    <td>
      #FFFFFF
    </td>
    <td>
     rgba(255, 255, 255, 1)
    </td>
    <td>

    </td>
  </tr>

  <tr>
    <td class="bgc-near-white">

    </td>
    <td>
      $color-grey-2
    </td>
    <td>
      #F9F9F9
    </td>
    <td>
     rgba(249, 249, 249, 1)
   </td>
   <td>
     Also referred to as subtle grey
   </td>
   </tr>
  <tr>
    <td class="bgc-gray-light">

    </td>
    <td>
      $color-grey-11
    </td>
    <td>
      #DDE0E2
    </td>
    <td>
     	rgba(221, 224, 226, 1)
   </td>
   <td>
     Also referred to as light grey
   </td>
 </tr>
  <tr>
    <td class="bgc-united-gray">

    </td>
    <td>
      $color-grey-38
    </td>
    <td>
      #91969B
    </td>
    <td>
     rgba(145, 150, 155, 1)
    </td>
    <td>
      Also referred to as united grey
    </td>
  </tr>
  <tr>
    <td class="bgc-gray-dark">

    </td>
    <td>
      $color-grey-69
    </td>
    <td>
      #414B50
    </td>
    <td>
     	rgba(65, 75, 80, 1)
   </td>
   <td>
     Also referred to as dark grey
   </td>
 </tr>
  <tr>
    <td class="bgc-black">

    </td>
    <td>
      $color-black
    </td>
    <td>
      #000000
    </td>
    <td>
     rgba(0, 0, 0, 1)
    </td>
    <td>

    </td>
  </tr>

</table>
<a href="#back-to-top">back to top</a>
