/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
@media (min-width: 768px) { .page-node-type-project-uptime-pages .page { margin: 0; padding: 0; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }
  .page-node-type-project-uptime-pages .page > * { background-clip: padding-box; border: 0 solid transparent; } }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .region-header, .page-node-type-project-uptime-pages .region-pre-content, .page-node-type-project-uptime-pages .region-footer, .page-node-type-project-uptime-pages .region-mobile-menu { background-clip: inherit; border: 0 none; flex: inherit; margin-left: 0; max-width: inherit; } }

.page-node-type-project-uptime-pages .main-sidebar { display: none; }

.page-node-type-project-uptime-pages .region-content { padding: 0; position: relative; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .region-content { flex-basis: calc((8 / 12) * 100%); max-width: calc((8 / 12) * 100%); margin-left: 16.66667%; } }

.page-node-type-project-uptime-pages .region-content > .media--image { width: 100%; }

.page-node-type-project-uptime-pages .region-content > .media--image img { left: calc(-50vw + 50%); max-width: none; position: relative; width: 100%; width: 100vw; }

.page-node-type-project-uptime-pages .node__content { padding-top: 1.14286rem; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .node__content { padding-top: 2.57143rem; } }

.page-node-type-project-uptime-pages .node__content > .paragraph-component:first-of-type { margin-top: 1.14286rem; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .node__content > .paragraph-component:first-of-type { margin-top: 2.57143rem; } }

.page-node-type-project-uptime-pages .field--name-field-sub-headline { transition: font-size 300ms ease-in-out; font-weight: 500; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; color: #72777E; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .field--name-field-sub-headline { transition: font-size 300ms ease-in-out; font-weight: 500; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; } }

.page-node-type-project-uptime-pages .field--name-field-sub-headline > p { margin: 0; }

.page-node-type-project-uptime-pages .node__byline { transition: font-size 300ms ease-in-out; font-weight: 500; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; padding-top: 1.14286rem; color: #72777E; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .node__byline { padding-top: 2.57143rem; } }

.page-node-type-project-uptime-pages .project-uptime-article__tags { padding-top: 1.14286rem; display: flex; flex-wrap: wrap; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .project-uptime-article__tags { padding-top: 2.57143rem; } }

.page-node-type-project-uptime-pages .project-uptime-article__tags .tag { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.57143rem; line-height: 2; border: 0.07143rem solid currentColor; color: #008CFF; border-radius: 0.57143rem; padding: 0.28571rem 0.57143rem; text-transform: uppercase; transition: all 300ms ease-in-out; margin-right: 0.57143rem; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .project-uptime-article__tags .tag { font-size: 0.57143rem; } }

.page-node-type-project-uptime-pages .project-uptime-article__tags .tag:hover, .page-node-type-project-uptime-pages .project-uptime-article__tags .tag:active, .page-node-type-project-uptime-pages .project-uptime-article__tags .tag:focus { color: #FFFFFF; text-decoration: none; }

.page-node-type-project-uptime-pages .project-uptime-article__tags .tag:hover, .page-node-type-project-uptime-pages .project-uptime-article__tags .tag:active, .page-node-type-project-uptime-pages .project-uptime-article__tags .tag:focus { background-color: #008CFF; }

.page-node-type-project-uptime-pages .project-uptime-article__tags .tag:last-of-type { margin-right: 0; }

@media (min-width: 768px) { #block-projectuptimesubscribe, .block-ur-helpfulness-rating { display: inline-block; } }

.jsa-block-wrap { margin-top: 1.14286rem; background-color: #F2F2F2; display: flex; justify-content: space-between; }

@media (min-width: 768px) { .jsa-block-wrap { margin-top: 2.57143rem; } }

/*# sourceMappingURL=../../../maps/libraries/node/project-uptime-pages/full--project-uptime-pages.css.map */
