.page-node-type-project-uptime-pages #block-pagetitle { padding: 0 3%;}
@media (min-width: 768px) { .page-node-type-project-uptime-pages #block-pagetitle { padding: 0;} }
.page-node-type-project-uptime-pages #block-unitedrentals-content { padding: 0 3%;}
@media (min-width: 768px) { .page-node-type-project-uptime-pages #block-unitedrentals-content { padding: 0;} }
@media (min-width: 768px) { .page-node-type-project-uptime-pages #block-pagetitle { margin:2rem 0 0;} }
@media (min-width: 768px) { .page-node-type-project-uptime-pages #block-pagetitle h1 { font-size:2.25rem} }
.page-node-type-project-uptime-pages .node__byline { font-size: 1.1rem; }
.page-node-type-project-uptime-pages .project-uptime-article__tags { padding: 1.14286rem 0 0; margin: 0; list-style-type: none; }
@media (min-width: 768px) { .page-node-type-project-uptime-pages .node__content > .paragraph--type-content { padding-top:0; font-size: 1.15rem; } }
@media (min-width: 768px) { .page-node-type-project-uptime-pages .node__content > .paragraph--type-content .component-content__title { font-size:1.3rem; margin-bottom: 1rem;} }