/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
.node--type-project-uptime-pages.node--view-mode-teaser { margin-bottom: 2.28571rem; padding-bottom: 2.28571rem; }

@media (min-width: 768px) { .node--type-project-uptime-pages.node--view-mode-teaser { display: flex; } }

.node--type-project-uptime-pages.node--view-mode-teaser:last-child { border-bottom: 0; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags-container { align-items: center; display: flex; margin-bottom: 0.57143rem; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags { list-style-type: none; margin: 0; padding: 0; display: flex; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags li { padding-bottom: 0; padding-right: 0; position: relative; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags li a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; line-height: 1.25; margin-right: 0.28571rem; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags li a::after { color: #72777E; content: '|'; font-weight: 500; position: absolute; right: -0.28571rem; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags li:first-child { padding-left: 0; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__tags li:last-child a::after { content: ''; }

.node--type-project-uptime-pages.node--view-mode-teaser .node__new-tag-pill { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.57143rem; line-height: 2; color: #FFFFFF; background-color: #F99222; border-radius: 0.57143rem; padding: 0.28571rem 0.57143rem; text-transform: uppercase; transition: all 300ms ease-in-out; }

@media (min-width: 768px) { .node--type-project-uptime-pages.node--view-mode-teaser .node__new-tag-pill { font-size: 0.57143rem; } }

@media (min-width: 768px) { .node--type-project-uptime-pages.node--view-mode-teaser .node__content { margin-left: 1.14286rem; } }

.node--type-project-uptime-pages.node--view-mode-teaser .field--name-body { margin-top: 1.42857rem; max-width: none; }

/*# sourceMappingURL=../../../maps/libraries/node/project-uptime-pages/teaser--project-uptime-pages.css.map */
