<!-- this is the location finder on the homepage -->
<template>
  <div>
    <global-header-location-autocomplete
      :placeholder="$i18n('locationFinder.chooseLocation.enterLocationHero')"
      ref="urAutocompleteNew"
      @change="onPlaceChanged"
      @clear="clearAllRatesPlaceInfo"
      @inputFocused="stopGeoLocation"
      :place="ratesPlaceAddress"
    />
  </div>
</template>
<!--TODO changed placeholder-->

<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { loaded } from 'vue2-google-maps';
  import types from '@/store/types';
  import { find, isEmpty } from 'lodash';

  import GlobalHeaderLocationAutocomplete from './global-header-location-autocomplete';

  export default {
    name: 'ContainerUrAutocompleteNew',
    components: {
      GlobalHeaderLocationAutocomplete,
    },
    computed: {
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      ...mapState({
        geolocation: state => state.user.geolocation,
        ratesPlace: state => state.user.ratesPlace,
      }),
    },
    data() {
      return {
        disregardGeolocationResult: false,
        inputElement: null, // a $ref--and $refs must be set after mounted
      };
    },
    methods: {
      ...mapActions({
        setRatesPlace: types.user.ratesPlace,
        clearRatesPlace: types.user.clearRatesPlace,
        clearRatesPlaceBranch: types.user.clearRatesPlaceBranch,
        updateDefaultJobId: types.user.defaultJobId,
      }),
      clearAllRatesPlaceInfo() {
        this.clearRatesPlace();
        this.clearRatesPlaceBranch();
      },
      onPlaceChanged(place) {
        // Guarantee the place has complete details
        // if (!place.address_components) {
        //   this.getPlaceFromAddress(place.name)
        //     .then(this.setRatesPlace);
        // }
        // else {
        //   this.setRatesPlace(place);
        // }
        this.setRatesPlace(place);
        // Any interaction with a Location component should wipe-out the User's Default Jobsite
        this.updateDefaultJobId('');
      },

      /**
       * Performs an address lookup given geocoordinates. If successful, and the user hasn't used the form control,
       * it then sets the input to this address.
       */
      setInputToGeolocationAddress({ coords }) {
        loaded.then(() => { // loaded is a promise for google maps api being loaded
          const lat = parseFloat(coords.latitude);
          const lng = parseFloat(coords.longitude);
          const geocoder = new google.maps.Geocoder();
          const latLng = new google.maps.LatLng(lat, lng);
          geocoder.geocode({ latLng }, (results, status) => {
            if (status !== google.maps.GeocoderStatus.OK || this.disregardGeolocationResult) {
              return;
            }
            try {
              this.setRatesPlace(find(results, result => result.geometry.location_type === 'APPROXIMATE'));
            }
            catch (error) {
              // do nothing, could not geolocate
            }
          });
        });
      },
      stopGeoLocation() {
        const { length } = this.inputElement.value;
        this.inputElement.setSelectionRange(0, length);
        this.inputElement.focus();
        this.disregardGeolocationResult = true;
      },

      /**
       * Parse the component address info to return city, state and zip
       *
       * @param {object} parts - Address components received from Google Places
       * @return {object} - Parsed object of address components
       */
      parseComponentParts(parts) {
        const keys = {
          administrative_area_level_1: 'state',
          administrative_area_level_2: 'county',
          country: 'country',
          locality: 'city',
          postal_code: 'zip',
        };

        const addressParts = {};

        parts.forEach((part) => {
          if (keys[part.types[0]] !== undefined) {
            const ap = keys[part.types[0]];
            addressParts[ap] = part.short_name;
          }
        });

        return addressParts;
      },
    },
    mounted() {
      // If user has a cached rates place load it, otherwise try to geolocate them
      if (isEmpty(this.ratesPlace)) {
        if (Object.keys(this.geolocation).length !== 0) {
          this.setInputToGeolocationAddress(this.geolocation);
        }
      }
    },
  };
</script>
