<template>
  <div class="ur-text-input-new" :class="messageClass">
    <label
      :for="uid"
      class="form-item__label form-item__label--textfield"
      :class="{'form-item__label--required': required}"
      v-if="label"
    >
      {{ required ? label : label + ' ' + $i18n('ur.optional') }}
    </label>
    <span class="input-field-wrapper" :class="{error : hasError}">

<!--      Removed this showed pic icons for location and search-->
   <i class="icon icon-divider input-icon__primary" :class="iconPrimaryClass" v-if="iconPrimary"></i>

<!--    <i class="icon" :class="iconPrimaryClass" v-if="iconPrimary">{{ $i18n('ur.searchRentals') }}</i>-->

    <!--

    Render either an <input> or <masked-input>

    NOTE: DO NOT USE the <component :is="inputOrMaskedInput">!!!!!!!
    In our current version of Vue (2.4), reactivity gets lost!

    This bug became evident in the Address1.vue component within the Account Details Form
    when users clicked on the Checkbox to use Billing Address.

    To regain reactivity, with Vue 2.4, the <component :is> tag was replaced with these two tags, which
    seem verbose, but is required!
    -->
   <masked-input
      v-if="mask"
      autocomplete="new-password"
      :guide="false"
      :aria-describedby="ariaDescribedBy"
      :aria-required="required"
      :autocorrect="autocorrect"
      :autocapitalize="autocapitalize"
      class="form-item__textfield"
      :class="{'form-item__textfield&#45;&#45;required': required}"
      :id="uid"
      :maxlength="maxlength"
      :mask="parsedMask"
      :name="name"
      :size="size"
      :placeholder="placeholder"
      :spellcheck="spellcheck"
      :type="type"
      :value="localValue"
      :disabled="disabled"
      @focus="focusHandler"
      @blur="blurHandler"
      @input="updateValue"
    />
    <input
      v-else
      autocomplete="new-password"
      :aria-describedby="ariaDescribedBy"
      :aria-required="required"
      :autocorrect="autocorrect"
      :autocapitalize="autocapitalize"
      class="form-item__textfield global-search__field-hero"
      :class="{'form-item__textfield--required': required}"
      :id="uid"
      :maxlength="maxlength"
      :name="name"
      :size="size"
      :placeholder="placeholder"
      :spellcheck="spellcheck"
      :type="type"
      :value="localValue"
      :disabled="disabled"
      @focus="focusHandler"
      @blur="blurHandler"
      @input="updateValue"
      @keyup="keyUpHandler"
      @keydown="keyDownHandler"
      @keypress="keyPressHandler"
    />
<!--        TODO added style prop-->
      <i class="icon icon-hero input-icon__secondary" :class="iconSecondaryClass" v-show="showClearIcon" @click="combinedSecondaryClick" style="left: auto"></i>
      <i class="icon input-icon__tertiary" :class="iconTertiaryClass" v-if="iconTertiary" @click="tertiaryClickHandler"></i>
      <i class="icon input-icon__validation" :class="iconValidationClass" v-if="iconValidation"></i>
    </span>
    <ur-error-label v-if="hasError" :message="computedErrorMessage"/>
  </div>

</template>

<script type="text/babel">
  // import MaskedInput from 'vue-text-mask';
  import ValidationMixin from '@/components/common/form/mixins/validation.mixin';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import { uid, parseMask } from '@/utils';

  export default {
    components: {
      // MaskedInput,
      UrErrorLabel,
    },
    computed: {
      ariaDescribedBy() {
        return `edit-${this.name}--description`;
      },
      inputOrMaskedInput() {
        return this.mask ? 'masked-input' : 'input';
      },
      computedErrorMessage() {
        return this.errorMessage ? this.errorMessage : `${this.label} ${this.$i18n('e.required')}`;
      },
      showClearIcon() {
        return this.localValue !== '' && this.iconSecondary;
      },
    },
    data() {
      return {
        localValue: this.value,
        uid: `text-input${uid()}`,
        parsedMask: this.mask ? parseMask(this.mask) : null,
      };
    },
    methods: {
      updateValue($event) {
        const value = typeof $event.target !== 'undefined' ? $event.target.value : $event;
        this.localValue = value;
        this.$emit('input', value);
        this.$emit('change', value);
      },
      keyDownHandler($event) {
        this.$emit('keydown', $event);
      },
      keyPressHandler($event) {
        this.$emit('keypress', $event);
      },
      keyUpHandler($event) {
        this.$emit('keyup', $event);
      },
      focusHandler($event) {
        this.$el.querySelector('.input-field-wrapper').classList.add('input-focus');
        this.$emit('focus', $event);
      },
      blurHandler($event) {
        setTimeout(() => {
          this.$el.querySelector('.input-field-wrapper').classList.remove('input-focus');
        }, 200);
        this.$emit('blur', $event);
      },
      clearHandler($event) {
        this.localValue = '';
        this.$el.querySelector('input').focus();
        this.$emit('focus', $event);
        setTimeout(() => {
          this.focusHandler();
        }, 250);
      },
      combinedSecondaryClick() {
        this.clearHandler();
        if (this.secondaryClickHandler) {
          this.secondaryClickHandler();
        }
      },
    },
    mixins: [
      ValidationMixin,
    ],
    name: 'ur-text-input-new',
    props: {
      autocorrect: {
        type: String,
        default: 'none',
        required: false,
        description: 'Whether or not to autocorrect',
      },
      autocapitalize: {
        type: String,
        default: 'none',
        required: false,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
      errorMessage: {
        type: String,
      },
      hasError: {
        type: Boolean,
        default: false,
      },
      iconPrimary: {
        type: Boolean,
        default: false,
      },
      iconPrimaryClass: {
        type: String,
        default: 'icon-map-marker-hero',
      },
      iconSecondary: {
        type: Boolean,
        default: true,
      },
      iconSecondaryClass: {
        type: String,
        default: 'icon-close',
      },
      iconSecondaryClassTwo: {
          type: String,
          default: '',
      },
      // TODO added above
      secondaryClickHandler: {
        description: 'extra click hander to be passed in as needed',
        type: Function,
        required: false,
      },
      iconTertiary: {
        type: Boolean,
        default: false,
      },
      iconTertiaryClass: {
        description: 'extra click hander to be passed in as needed',
        type: String,
        default: 'icon-angle-down',
      },
      tertiaryClickHandler: {
        type: Function,
        // default: () => {},
        required: false,
      },
      iconValidation: {
        type: Boolean,
        default: false,
      },
      iconValidationClass: {
        type: String,
        default: 'icon-check',
      },
      label: {
        type: String,
        default: '',
      },
      mask: {
        type: String,
        default: '',
        required: false,
      },
      maxlength: {
        type: Number,
        default: null,
        required: false,
      },
      messageClass: {
        type: String,
        default: 'error',
        required: false,
      },
      name: {
        type: String,
        default: '',
        required: false,
      },
      placeholder: {
        type: String,
        default: null,
        required: false,
      },
      required: {
        type: Boolean,
        default: false,
        required: false,
      },
      size: {
        type: Number,
        default: 60,
        required: false,
      },
      spellcheck: {
        type: Boolean,
        default: false,
        required: false,
      },
      type: {
        type: String,
        default: 'text',
        required: false,
      },
      value: {
        type: String,
        default: '',
        required: true,
      },
      // Props v and vMessages come from the validation mixin
    },
    watch: {
      hasError(newValue) {
        this.iconValidation = newValue;
      },
      mask(newMask) {
        this.parsedMask = newMask ? parseMask(newMask) : null;

        // There's a bug in the Vue Text Mask Plugin, where when a mask changes, the MaskedInput doesn't update its value.
        // https://github.com/text-mask/text-mask/issues/621

        // To get around this, whenever we change the mask, we call #bind on the masked input.
        // Additionally, this needs to occur on the next tick.
        this.$nextTick(this.$children[0].bind);
      },
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
