.branding-block {
  display: none;

  @include breakpoint($break-medium) {
    display: block;
  }
}

.project-uptime-branding__container {
  background: $color-blue-highlight;
  padding: 0 40px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-uptime-branding__title {
  position: relative;

  &:after {
    background: $color-white;
    height: 6px;
    width: 40px;
    content: '';
    position: absolute;
  }
}

.project-uptime-branding__title__heading-1 {
  color: $color-white;
}

.project-uptime-branding__subhead {
  margin-top: 30px;

  h3 {
    margin: 0;
  }
}

.project-uptime-branding__subhead__heading-3 {
  color: $color-white;
}
