<div class="branding-block">
  <div class="project-uptime-branding__container">
    <div class="project-uptime-branding__title">
      {% if branding_title %}
        {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
          with {
            "heading_1": branding_title,
            "heading_1_modifiers": branding_title_modifiers,
            "heading_1_blockname": branding_title_blockname,
          }
        %}
      {% endif %}
    </div>
    <div class="project-uptime-branding__subhead">
      {% if branding_subhead %}
        {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
          with {
            "heading_3": branding_subhead,
            "heading_3_modifiers": branding_subhead_modifiers,
            "heading_3_blockname": branding_subhead_blockname
          }
        %}
      {% endif %}
    </div>
  </div>
</div>