@charset 'UTF-8';

// ---------------------------------------------------------------------------------------------------------------------
// Libraries/Node: Welcome Microsite Page
// CSS copied from prod: css/libraries/node/microsite-page/welcome-page.scss
// Below styles match page to prod
// ---------------------------------------------------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

.page-node-type-microsite-page {
  // Content region overrides
  .region-content {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 100%;

    .node__content > .text-formatted {
      max-width: 100%;
    }
  }

  // Hero with video ---------------------------------------------------------------------------------------------------
  .field--name-field-microsite-components > div > .hero--with-video {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/sites/default/files/styles/microsite_hero_large/public/2018-07/Welcome_Tank_and_Pump.jpg?itok=4cv12lFT');
  }

  .paragraph--type-hero-blocks .microsite-hero--media-container.video-playing {
    .microsite-hero--video {
      display: block;
    }

    .microsite-hero--video-thumbnail,
    .overlay,
    .circle {
      display: none;
    }
  }

  // Our Stories slick slider ------------------------------------------------------------------------------------------
  .microsite-slideshow > ul.microsite-slides {
    list-style-type: none;
    padding: 0;

    > .slick-list > .slick-track {
      display: flex;
    }
  }

  .microsite-slide--media-container.video-playing {
    .microsite-slide--video {
      display: block;
    }

    .microsite-slide--featured-thumbnail-wrapper {
      display: none;
    }
  }

  // Grow with Us cards ------------------------------------------------------------------------------------------------
  .callout-card__link {
    color: $color-text-link-reverse;
  }

  // FAQ accordion -----------------------------------------------------------------------------------------------------
  #faqs > .microsite-section__wrapper {
    .microsite-section__bg-image {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.46)), url('/sites/default/files/styles/microsite_background_large/public/2018-06/UNIR_IMG44_FAQs.jpg?itok=K3u9mw67');
    }

    .component-faq-list {
      display: flex;
      justify-content: center;
      max-width: 100%;

      .component-faq-list__content {
        max-width: 80%;
        width: 80%;

        .faq-row {
          .field--name-node-title {
            width: 100%;
            z-index: 2;
          }

          &.component-accordion-item--open {
            display: flex;
            flex-direction: column;
            padding-bottom: rem(18);

            .faq__answer {
              display: contents;
            }

            .view-answer.icon.icon-add {
              @include gap($gap-c);

              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }

        footer {
          margin: rem(30) 0;
          position: relative;

          a {
            margin: 0 auto;
            max-width: rem(174);
          }
        }
      }
    }
  }

  // Contact Us CTA ----------------------------------------------------------------------------------------------------
  span.icon.microsite-cta__icon.icon-phone,
  span.icon.microsite-cta__icon.icon-envelope {
    align-items: center;
    display: flex;
    justify-content: center;
  }

}
