@charset 'UTF-8';
// -----------------------------------------------------------------------------
// Libraries/Node/Microsite-page: welcome page
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------
@font-face{
  font-family: icomoon;
  src: url('https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../fonts/icomoon.eot?59alyw');
  src: url('https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../fonts/icomoon.eot?59alyw#iefix') format('embedded-opentype'),
  url('https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../fonts/icomoon.ttf?59alyw') format('truetype'),
  url('https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../fonts/icomoon.woff?59alyw') format('woff'),
  url('https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../fonts/icomoon.svg?59alyw#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

/*! CSS Used from: https://www.unitedrentals.com/sites/default/files/css/css_Xn6YVTCKf4qGuPrh_YngCP1MmqQR5vzQVGHv6ZHhz0A.css?q1zax1 ; media=all */
@media all{
  *,:after,:before{border: none}
  *,::after,::before{background-repeat:no-repeat;box-sizing:inherit;}
  ::after,::before{text-decoration:inherit;vertical-align:inherit;}
  header,nav{display:block;}
  nav ul{list-style:none;}
  a{background-color:transparent;-webkit-text-decoration-skip:objects;}
  ::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
  a{touch-action:manipulation;}
  .bg-color--blue-lowlight{background-color:#002f55;}
  .bg-color--blue{background-color:#0050a9;}
  .text-color--white{color:#fff;}
  .align--center{align-items:center;}
  .justify--right{justify-content:flex-end;}
  .grid{width:100%;display:flex;padding:0 3vw;}
  @media (min-width:1024px){
    .grid{padding:0 5vw;}
  }
  a{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  .text-color--white a{color:#fff;text-decoration:none;}
  .text-color--white a:hover{color:#fff;text-decoration:underline;}
  .text-color--white a:visited{color:#fff;}
  .text-color--white a:active{color:#fff;}
  .icon{font-family:icomoon!important;color:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
  .icon-bars:before{content:"\f0c9";}
  .font-size--type-xsmall{font-size:.71429rem;}
  .font-size--type-header-h5{font-size:1rem;}
  ul{margin-left:1em;padding-left:12px;}
  ul{list-style-type:disc;}
  a{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  .text-color--white a{color:#fff;text-decoration:none;}
  .text-color--white a:hover{color:#fff;text-decoration:underline;}
  .text-color--white a:visited{color:#fff;}
  .text-color--white a:active{color:#fff;}
  a{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  .text-color--white a{color:#fff;text-decoration:none;}
  .text-color--white a:hover{color:#fff;text-decoration:underline;}
  .text-color--white a:visited{color:#fff;}
  .text-color--white a:active{color:#fff;}
  .menu{list-style:none;margin:0;padding:0;}
  .menu__item{margin:0 1em .5em 0;}
  .menu__item:last-child{margin-right:0;}
  @media print{
    .header{visibility:visible!important;padding-top:0!important;border:hidden!important;}
  }
  .header{position:relative;z-index:25;}
  .header .grid{padding:0 16px;}
  @media (min-width:1024px){
    .header .grid{padding:0 40px;}
  }
  .header__logo{width:97px;height:26px;display:block;background:url(https://www.unitedrentals.com/themes/custom/unitedrentals/dist/../images/icons/src/UR-Logo-Stacked-reversed.svg) no-repeat;margin:0;}
  .header__logo-holder{flex:0 0 auto;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);order:2;}
  @media (min-width:1024px){
    .header__logo-holder{position:static;left:auto;-webkit-transform:none;transform:none;order:-2;}
  }
  .header__specialty-navigation{height:32px;line-height:32px;display:none;}
  @media (min-width:1024px){
    .header__specialty-navigation{display:flex;}
  }
  .header__primary-navigation{height:64px;justify-content:space-between;position:relative;}
  @media (min-width:1024px){
    .header__primary-navigation{height:70px;}
  }
  .header__primary-navigation .icon-bars{font-size:22px;cursor:pointer;flex:0 0 auto;order:1;}
  @media (min-width:1024px){
    .header__primary-navigation .icon-bars{display:none;}
  }
  .header__global-navigation-pages{display:none;font-weight:400;flex:1 0 auto;}
  @media (min-width:1024px){
    .header__global-navigation-pages{display:block;order:-1;margin-left:40px;}
  }
  .header__global-navigation-pages nav .menu>.menu__item{margin:0 8px 0 0;padding:12px;display:inline-block;position:relative;}
  .header__global-navigation-pages nav .menu>.menu__item>a{font-size:1rem;font-weight:700;position:relative;display:inline-block;}
  .header__global-navigation-pages nav .menu>.menu__item:last-child{margin-right:0;}
  .header__global-navigation-pages nav .menu>.menu__item:hover>a{text-decoration:none;}
  .header__global-navigation-pages nav .menu>.menu__item:hover>a:before{content:'';height:5px;background:#dde0e2;display:block;position:absolute;width:100%;left:0;bottom:-18px;}
  .header__global-navigation-pages nav .menu>.menu__item.menu__item--active>a:before{content:'';height:5px;background:#008cff;display:block;position:absolute;width:100%;left:0;bottom:-18px;}
  @media print{
    .header{display:none!important;}
  }
  :focus{outline:0;}
  .icon{transition:transform .5s ease;}
}

/*! CSS Used from: https://www.unitedrentals.com/sites/default/files/css/css_Yo_19ldP-S7rhQKr1_YpMwm_sg885jOcddI0wG_U0ek.css?q1zax1 ; media=all */
@media all{
  .text-align-center{text-align:center;}
  .clearfix:after{display:table;clear:both;content:"";}
}
/*! CSS Used from: https://www.unitedrentals.com/sites/default/files/css/css_cX_yuFvCjJ36NtlAuY4CfWqHO1LWVqj5alW_a_kSfO4.css?q1zax1 ; media=all */
@media all{
  .video-embed-field-responsive-video{position:relative;}
  .video-embed-field-responsive-video:after{content:'';display:block;padding-bottom:56.25%;}
  .video-embed-field-responsive-video iframe{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;margin:0;}
}
/*! CSS Used from: https://www.unitedrentals.com/sites/default/files/css/css_Xn6YVTCKf4qGuPrh_YngCP1MmqQR5vzQVGHv6ZHhz0A.css?q1zax1 ; media=all */
@media all{
  *,:after,:before{border:none;}
  img{border-style:solid;}
  img{max-width:100%;height:auto;}
  *,::after,::before{background-repeat:no-repeat;box-sizing:inherit;}
  ::after,::before{text-decoration:inherit;vertical-align:inherit;}
  footer,section{display:block;}
  h1{font-size:2em;margin:.67em 0;}
  a{background-color:transparent;-webkit-text-decoration-skip:objects;}
  ::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
  iframe,img{vertical-align:middle;}
  img{border-style:none;}
  a{touch-action:manipulation;}
  .bg-color--blue-highlight{background-color:#008cff;}
  .bg-color--blue{background-color:#0050a9;}
  .bg-color--blue-highlight{background-color:#008cff;}
  a,a.button{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  a.button{color:#fff;text-align:center;display:block;text-decoration:none;line-height:2.85714em;}
  h1,h2,h6{font-family:helvetica neue,Helvetica,Roboto,Noto,Arial,sans-serif;color:#414b50;font-variant:none;font-weight:700;width:100%;}
  h1{font-size:2rem;line-height:1.28571;}
  h2{font-size:1.57143rem;line-height:1.090909;}
  h6{font-size:.85714rem;line-height:1.333333;}
  .icon{font-family:icomoon!important;color:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
  .icon-add:before{content:"\e145";}
  .icon-phone:before{content:"\f095";}
  .icon-envelope:before{content:"\f0e0";}
  .icon-long-arrow-right:before{content:"\f178";}
  .icon-add:before{content:"\e145";}
  img{max-width:100%;height:auto;}
  .button,a.button{cursor:pointer;display:flex;justify-content:center;align-items:center;width:100%;height:2.85714em;border:#dde0e2 solid 2px;border-radius:4px;font-family:helvetica neue,Helvetica,Roboto,Noto,Arial,sans-serif;font-size:1rem;letter-spacing:.01em;text-transform:capitalize;text-align:center;}
  .button{display:inline-block;}
  .button--filled-reverse,a.button.button--filled-reverse{background-color:#fff;color:#0050a9;border:none;}
  .button--filled-reverse:hover,a.button.button--filled-reverse:hover{background-color:#ececec;}
  a,a.button{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  a.button{padding:.5em;line-height:1rem;}
  a.button:hover{text-decoration:none;}
  a,a.button{color:#0050a9;cursor:pointer;text-decoration:none;}
  a:hover{color:#008cff;text-decoration:underline;}
  a:visited{color:#0050a9;}
  a:active{color:#0050a9;}
  a.button{padding:.5em;line-height:1rem;}
  a.button:hover{text-decoration:none;}
  .hero{background-color:#f9f9f9;background-position:center;background-size:cover;color:#fff;width:100vw;position:relative;}
  .hero--with-video{text-align:center;}
  .callout-cards-container{padding:0 1rem;}
  .callout-cards-container,.component-callout-cards-container__content{display:flex;flex-flow:row wrap;justify-content:left;}
  @media (min-width:1024px){
    .callout-cards-container,.component-callout-cards-container__content{padding:0;max-width:1024px;margin:0 auto;}
  }
  .callout-card{position:relative;margin-bottom:1rem;}
  @media (min-width:640px){
    .callout-card{width:50%;}
    .callout-card:nth-child(odd){padding-right:.5rem;}
    .callout-card:nth-child(even){padding-left:.5rem;}
  }
  @media (min-width:1024px){
    .callout-card{overflow:visible;margin-bottom:85px;flex-basis:49%;padding-left:0;padding-right:0;display:flex;flex:auto;}
  }
  .callout-card__link{position:relative;display:block;}
  .callout-card__link:hover .callout-card__icon{opacity:1;left:0;}
  .callout-card__icon-image-wrapper{display:none;width:110px;height:110px;border-radius:50%;position:absolute;bottom:-50px;right:-50px;z-index:1;overflow:hidden;}
  @media (min-width:1024px){
    .callout-card__icon-image-wrapper{display:block;}
  }
  .callout-card__image-wrapper{position:relative;}
  @media (min-width:1024px){
    .callout-card__image-wrapper{margin:0 auto;max-width:410px;}
  }
  .callout-card__overlay{position:absolute;top:0;right:0;bottom:0;left:0;background:linear-gradient(to bottom,rgba(0,0,0,0) 55%,rgba(0,0,0,.8) 100%);}
  .callout-card__heading-wrapper{position:absolute;width:100%;bottom:0;padding:0 0 21px 23px;}
  @media (min-width:640px){
    .callout-card__heading-wrapper{max-width:80%;}
  }
  .callout-card__heading{color:#fff;font-size:24px;line-height:1;margin:0;-webkit-font-smoothing:antialiased;}
  @media (min-width:640px){
    .callout-card__heading{font-size:28px;line-height:1.11;}
  }
  .callout-card__icon{transition:all .1s linear;margin-left:7px;font-size:1.14286rem;color:#f99222;opacity:0;position:relative;left:-5px;}
  .faq-row .faq__question{margin:0;padding:18px 0 15px;font-size:21px;font-weight:300;max-width:90%;flex-grow:1;-webkit-font-smoothing:antialiased;}
  .faq-row .faq__question:hover{text-decoration:underline;}
  .faq__answer{-webkit-font-smoothing:antialiased;overflow:hidden;margin:0;transition:all .3s ease;width:100%;}
  .faq__answer p{margin:0;}
  .microsite-faq-list{padding:0 1rem;}
  @media (min-width:640px){
    .microsite-faq-list{max-width:80%;margin:0 auto;}
  }
  .microsite-faq-list footer{position:relative;margin:30px 0;}
  .microsite-faq-list footer .button{max-width:174px;margin:0 auto;}
  .faq-row{position:relative;border-top:1px solid #fff;display:flex;align-items:baseline;justify-content:space-between;cursor:pointer;}
  .faq-row:last-of-type{border-bottom:1px solid #fff;}
  .faq-row .view-answer{background:#fff;border-radius:50%;width:25px;height:25px;line-height:25px;flex-grow:0;flex-shrink:0;color:#002f55;text-align:center;font-size:1.5rem;position:absolute;right:0;top:16px;z-index:1;}
  .paragraph--type-microsite-contact-ctas{margin:0;}
  @media (min-width:640px){
    .paragraph--type-microsite-contact-ctas{display:flex;justify-content:center;}
  }
  @media (min-width:1024px){
    .paragraph--type-microsite-contact-ctas{margin-bottom:46px;}
  }
  .microsite-cta{position:relative;top:0;transition:all .1s linear;height:84px;display:flex;align-items:center;cursor:pointer;color:#fff;text-decoration:none;padding:19.3px 15.1px 17.5px;word-break:break-all;-webkit-font-smoothing:antialiased;}
  .microsite-cta:hover{top:-5px;box-shadow:0 6px 9px 0 rgba(0,0,0,.19);}
  .microsite-cta__phone:hover{background-color:#012e56;}
  .microsite-cta__email:hover{background-color:#012e56;}
  @media (min-width:640px){
    .microsite-cta{flex-grow:1;flex-basis:410px;max-width:410px;height:133px;}
  }
  .microsite-cta:active,.microsite-cta:focus,.microsite-cta:hover,.microsite-cta:visited{color:#fff;text-decoration:none;}
  .microsite-cta__content,.microsite-cta__icon{display:inline-block;}
  .microsite-cta__icon{width:48px;height:48px;border-radius:50%;flex-grow:0;flex-shrink:0;background:#fff;margin-right:1rem;text-align:center;font-size:24px;line-height:48px;}
  @media (min-width:640px){
    .microsite-cta__icon{height:75px;width:75px;line-height:75px;font-size:3.14286rem;}
  }
  .microsite-cta__phone .microsite-cta__icon{color:#0050a9;}
  .microsite-cta__email .microsite-cta__icon{color:#008cff;}
  .microsite-cta__content{font-weight:700;font-size:1.57143rem;}
  @media (min-width:640px){
    .microsite-cta__content{font-size:2rem;}
  }
  .fact-cards{display:flex;flex-flow:row wrap;}
  @media (min-width:640px){
    .fact-cards{margin-bottom:59px;padding:0 1rem;justify-content:space-between;}
  }
  @media (min-width:1024px){
    .fact-cards{padding:0;}
  }
  .fact-cards .component-fact-cards__content{width:100%;}
  @media (min-width:640px){
    .fact-cards .component-fact-cards__content{display:flex;justify-content:inherit;}
  }
  .fact-card{overflow:auto;padding:0 1rem;margin-bottom:1.5rem;flex-basis:100%;display:flex;flex-direction:column;}
  @media (min-width:640px){
    .fact-card{flex-basis:32%;flex-basis:33%;padding:0 .5rem;}
    .fact-card:first-child{padding-left:0;padding-right:.5rem;}
    .fact-card:last-child{padding-left:.5rem;padding-right:0;}
  }
  .fact-card::after{content:'';display:block;width:100%;height:10px;background-color:#0050a9;}
  .fact-card__heading,.fact-card__subline{margin:0;}
  .fact-card__heading{font-size:62px;color:#0050a9;}
  @media (min-width:1024px){
    .fact-card__heading{font-size:70px;}
  }
  .fact-card__subline{font-size:1.14286rem;line-height:1.5;margin-bottom:14.3px;flex:1 0 auto;}
  @media (min-width:640px){
    .fact-card__subline{margin-bottom:53px;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video{overflow:visible;height:auto;margin-bottom:80px;}
  @media (min-width:640px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video{margin-bottom:140px;}
  }
  @media (min-width:1024px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video{margin-bottom:170px;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video [responsive-hero-image]{position:relative;background-position:top left;background-repeat:no-repeat;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video [responsive-hero-image] img{display:none;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--with-video{background-size:cover;max-height:475px;}
  @media (min-width:1024px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--with-video{padding:0 1rem;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container{overflow:hidden;cursor:pointer;position:relative;max-width:545px;margin:0 auto;box-shadow:4px -5px 22px 0 rgba(0,0,0,.49);}
  @media (min-width:1024px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container{max-height:358px;overflow:hidden;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container img{transition:all .1s;display:block;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container .overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-image:linear-gradient(186deg,rgba(0,0,0,0),rgba(0,0,0,.68));}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container .microsite-hero--video{display:none;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container:hover .circle{background:#fff;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .microsite-hero--media-container:hover .microsite-hero--video-thumbnail img{-webkit-transform:scale(1.1);transform:scale(1.1);}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--description,.paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--headline{margin:0;color:inherit;}
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--headline{font-size:64px;line-height:2.48;padding-top:28px;-webkit-font-smoothing:antialiased;}
  @media (min-width:1024px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--headline{padding:0;font-size:58px;line-height:normal;padding-top:94px;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--description{font-size:16px;line-height:1.3;max-width:658px;margin:0 auto 15px;}
  @media (min-width:1024px){
    .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .hero--description{font-size:20px;margin:0 auto 53px;}
  }
  .paragraph--type-hero-blocks.paragraph--view-mode-hero-block-with-video .video-embed-field-responsive-video{min-width:290px;min-height:192px;}
  .microsite-section{overflow:auto;padding:0;margin:0;}
  .microsite-section__wrapper{max-width:1280px;}
  @media (min-width:1024px){
    .microsite-section{padding:1.5rem 46px;}
  }
  .microsite-section__with-background-image{position:relative;overflow:hidden;}
  @media (min-width:1024px){
    .microsite-section__with-background-image{padding:71px 46px;}
  }
  .microsite-section__with-background-image *{color:#fff;}
  @media (min-width:1024px){
    .microsite-section__with-background-image{min-height:527px;}
  }
  .microsite-section [responsive-background-image]{position:absolute;top:0;right:0;bottom:0;left:0;height:800px;background-size:cover;background-position:center center;background-repeat:no-repeat;}
  .microsite-section [responsive-background-image] img{display:none;}
  .microsite-section__wrapper{margin:0 auto;}
  .microsite-section__heading-group{position:relative;padding:1.5rem 1rem 0;margin:0 auto 48px;max-width:1024px;}
  .microsite-section__heading-group::after{content:'';display:block;position:relative;width:42px;height:6px;background-color:#008cff;margin:0 auto;bottom:-1rem;left:0;}
  .microsite-section__heading,.microsite-section__subheading{margin:0;-webkit-font-smoothing:antialiased;}
  .microsite-section__heading{font-size:36px;}
  @media (min-width:1024px){
    .microsite-section__heading{font-size:38px;}
  }
  @media (min-width:1024px){
    .microsite-section__subheading{font-size:20px;}
  }
  .microsite-slideshow{margin-bottom:42px;}
  @media (min-width:640px){
    .microsite-slideshow{max-width:95%;margin:23px auto 0;}
  }
  @media (min-width:1024px){
    .microsite-slideshow{max-width:none;margin:23px 0 0;}
  }
  @media (min-width:640px){
    .microsite-slideshow--featured-slides{padding:0;}
  }
  .microsite-slide{padding:0 3.5px;}
  @media (min-width:640px){
    .microsite-slide{padding:0 9px;}
    .microsite-slide:first-child{padding-left:1rem;}
  }
  @media (min-width:640px) and (min-width:1024px){
    .microsite-slide:first-child{padding-left:0;}
  }
  .microsite-slide.is-active .microsite-slide--thumbnail-overlay{display:none;}
  .microsite-slide--featured-slide{display:none;}
  .microsite-slide--featured-slide.is-active{display:block;}
  @media (min-width:640px){
    .microsite-slide--featured-slide .paragraph--type-microsite-slide{display:flex;margin:0;justify-content:space-between;}
  }
  .microsite-slide--featured-wrapper{padding:0 1rem;}
  .microsite-slide--featured-title{margin-top:35px;margin-bottom:11px;font-size:24px;}
  @media (min-width:640px){
    .microsite-slide--featured-title{margin-top:0;}
  }
  .microsite-slide--featured-caption{font-size:1.14286rem;line-height:1.5;margin-bottom:0;}
  .microsite-slide--featured-thumbnail-wrapper{position:relative;max-width:494px;}
  .microsite-slide--media-container{cursor:pointer;width:100%;position:relative;display:inline-block;overflow:hidden;}
  @media (min-width:640px){
    .microsite-slide--media-container{padding-left:1rem;flex:1 0 410px;}
  }
  @media (min-width:1024px){
    .microsite-slide--media-container{padding-left:0;flex:1 0 508px;}
  }
  .microsite-slide--media-container img{transition:all .1s;display:block;}
  .microsite-slide--media-container:hover .circle{background:#fff;}
  .microsite-slide--media-container:hover .microsite-slide--featured-thumbnail img{-webkit-transform:scale(1.1);transform:scale(1.1);}
  .microsite-slide--media-container .microsite-slide--featured-thumbnail{overflow:hidden;}
  .microsite-slide--video{display:none;width:100%;}
  @media (min-width:1024px){
    .microsite-slide--video{width:494px;}
  }
  @media (min-width:640px){
    .microsite-slide--thumbnail-wrapper{max-width:239px;}
  }
  .microsite-slide--thumbnail{position:relative;display:inline-block;}
  .microsite-slide--thumbnail-overlay{background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.64));position:absolute;top:0;right:0;bottom:0;left:0;}
  .microsite-slide--caption,.microsite-slide--title{-webkit-font-smoothing:antialiased;opacity:.5;}
  .is-active .microsite-slide--caption,.is-active .microsite-slide--title{opacity:1;}
  .microsite-slide--title{margin:4.1px 0 0;font-size:1.14286rem;line-height:1.38;}
  .microsite-slide--caption{display:none;}
  @media (min-width:640px){
    .microsite-slide--caption{display:block;}
  }
  .circle{height:80px;width:80px;border-radius:50%;position:absolute;top:calc(50% - 40px);left:calc(50% - 40px);background:rgba(255,255,255,.9);transition:background-color .1s linear;}
  @media (min-width:640px){
    .circle{height:75px;width:75px;border-radius:50%;position:absolute;top:calc(50% - 37.5px);left:calc(50% - 37.5px);}
  }
  .play-button-wrapper{position:relative;top:calc(50% - 11px);left:calc(50% - 5.5px);}
  @media (min-width:640px){
    .play-button-wrapper{top:calc(50% - 10px);left:calc(50% - 5px);}
  }
  .play-button{text-align:initial;background-color:#008cff;border-top-right-radius:30%;-webkit-transform:rotate(30deg) skewX(-30deg) scale(1,.866);transform:rotate(30deg) skewX(-30deg) scale(1,.866);width:22px;height:22px;position:relative;}
  .play-button:after,.play-button:before{content:'';position:absolute;background-color:inherit;border-top-right-radius:30%;width:22px;height:22px;}
  .play-button:before{-webkit-transform:rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);transform:rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);}
  .play-button:after{-webkit-transform:rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);transform:rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);}
  @media (min-width:640px){
    .play-button{text-align:initial;background-color:#008cff;border-top-right-radius:30%;-webkit-transform:rotate(30deg) skewX(-30deg) scale(1,.866);transform:rotate(30deg) skewX(-30deg) scale(1,.866);width:20px;height:20px;}
    .play-button:after,.play-button:before{content:'';position:absolute;background-color:inherit;border-top-right-radius:30%;width:20px;height:20px;}
    .play-button:before{-webkit-transform:rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);transform:rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);}
    .play-button:after{-webkit-transform:rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);transform:rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);}
  }
  .paragraph.paragraph--type-microsite-text-component{padding:0 1rem;margin:38px 0 18px;}
  @media (min-width:640px){
    .paragraph.paragraph--type-microsite-text-component{padding:0;margin:0 auto 61px;max-width:497px;}
  }
  .paragraph.paragraph--type-microsite-text-component .microsite-text--heading{color:#008cff;font-size:16px;text-transform:uppercase;margin:0 0 8px;-webkit-font-smoothing:antialiased;}
  .paragraph.paragraph--type-microsite-text-component .microsite-text--copy{font-size:20px;line-height:normal;margin:0;-webkit-font-smoothing:antialiased;}
  :focus{outline:0;}
  .icon{transition:transform .5s ease;}
}

/*! CSS Used from: https://www.unitedrentals.com/sites/default/files/css/css_Xn6YVTCKf4qGuPrh_YngCP1MmqQR5vzQVGHv6ZHhz0A.css?q1zax1 ; media=all */
@media all{
  *,:after,:before{border:none;}
  *,::after,::before{background-repeat:no-repeat;box-sizing:inherit;}
  ::after,::before{text-decoration:inherit;vertical-align:inherit;}
  ::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
  .icon{font-family:icomoon!important;color:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
  .icon-add:before{content:"\e145";}
  .icon-add:before{content:"\e145";}
  .faq-row.component-accordion-item--open span:before{content:"";}
  .faq-row .view-answer{background:#fff;border-radius:50%;width:25px;height:25px;line-height:25px;flex-grow:0;flex-shrink:0;color:#002f55;text-align:center;font-size:1.5rem;}
  .microsite-section__with-background-image *{color:#fff;}
  :focus{outline:0;}
  .icon{transition:transform .5s ease;}
}
