<template>
  <Layout>
    <div class="pickup">
<!--      <ur-legacy-styles>-->
        <PickupLanding/>
<!--      </ur-legacy-styles>-->
    </div>
  </Layout>
</template>


<script>
  import PickupLanding from './pickup-landing';
  import Layout from '@/layouts/LayoutDefault.vue';
  import { default as storeModule } from './state';

  export default {
    name: 'ViewPickup',
    components: { Layout, PickupLanding },
    mounted() {
      this.$store.registerModule('requestPickup', storeModule);
    },
    destroyed() {
      this.$store.unregisterModule('requestPickup');
    },
  };
</script>
