#probox-build-custom-gang-box {
  display: flex;
  flex-direction: column;
  
  h1 {
    font-weight: 100;
    margin-bottom: 30px;
  }

  h5 {
    color: $color-blue-lowlight;
    margin-bottom: 60px;
  }

  .button-row {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-around;

    button {
      display: block;
      text-align: center;
      max-width: 200px;
      height: 35px;
      font-weight: 400;
      font-size: $font-size-small;
    }

    @include breakpoint($break-small) {
      justify-content: flex-start;

      button {
        margin-right: 20px;
      }
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  h3 {
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;

    li {
      position: relative;
      padding-left: 0;
      margin-bottom: 15px;
      margin-left: -18px;

      &:before {
        content: '';
        padding: 1px;
        line-height: 0;
        font-size: 0;
        background-color: $color-black;
        border: 1px solid $color-black;
        border-radius: 50%;
        position: absolute;
        left: -7px;
        top: 10px;
      }
    }
  }
}