.probox-getting-started-template {
  margin: 20px 15px 40px;

  .heading-1, .heading-3, .heading-5, .paragraph {
    color: $color-grey-79;
  }

  .heading-1 {
    margin-bottom: 0;
  }

  .feeling-stuck {
    margin-top: 40px;
  }

  @include breakpoint($break-small) {
    margin: 35px 60px 40px;
  }
}