.probox-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;

  h1, h2, h6 {
    margin: 0px;
    padding: 0px;
  }

  .heading-1 {
    color: $color-grey-69;
    margin-bottom: 0;
    line-height: 1;
    font-size: 32px;
  }

  .heading-2 {
    font-weight: 200;
    color: $color-grey-69;
    letter-spacing: 1px;
  }

  .heading-6 {
    font-weight: 200;
    font-size: $font-size-small;
    color: $color-grey-38;
    letter-spacing: .5px;
  }

  .link--probox-add-detail {
    font-weight: 400;
    color: $color-grey-38;
    font-size: $font-size-small;
  }

  &__heading {
    margin-bottom: 7px;
    flex: 3;
    order: 1;
  }

  &__counters {
    display: flex;
    flex: 2;
    order: 2;
    justify-content: flex-end;

    .counter {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      margin-right: 30px;

      &:first-of-type {

        flex: 0 0 105px;
      }

      &:last-of-type {
        flex: 0 0 105px;
        margin-right: 0px;

      }

    }

  }

  &__details {
    width: 100%;
    position: absolute;
    top: 255px;
    left: 0;
    z-index: 2;
    height: auto;
    box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.5);
    background-color: $color-white;
    padding: 0 0 25px 0;
  }

  @include breakpoint($break-small) {
    flex-direction: row;
    justify-content: space-between;

    &__heading {
      margin-bottom: 0;
    }

    &__counters {
      flex: 2;
      justify-content: flex-end;

      .counter {
        flex: 0;
        justify-content: flex-end;
      }
    }
  }
}

.probox-hud {
  .pro-box__build {
    display: flex;
    main {
      width: 80%;
    }
  }
  .nested-navigation {
    min-width: 200px;
  }

  .tab-container {
    display: flex;
  }
  #tabs {
    flex: 1;
  }
  .action-buttons {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0px 25px 0px 25px;

    button {
      margin-bottom: 10px;
    }
  }

  @include breakpoint($break-small) {
    .action-buttons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;

    }
    .action-buttons button {
      width: 200px;
      display: block;
      text-align: center;
      margin-bottom: 0px;

    }
  }
}

.pro-box__view {
  display: flex;

  div {
    display: flex;
  }
  aside {
    padding: 1rem;
    background: #dde0e2;
    flex: 1
  }
  main {
    padding: 1rem;
    flex: 3
  }
}

.probox-cards-collection {
  .VueCarousel-inner {
    justify-content: space-between;
  }
}
