.probox-browser-header-and-list {

  .probox-list-item-container, .probox-item-list-description {
    padding: 10px;
  }

  @include breakpoint($break-small) {
    .probox-list-item-container, .probox-item-list-description {
      padding: 15px;
    }
    .probox-list-item, .probox-item-list-description {
      margin: auto;
    }
  }

  @include breakpoint($break-medium) {
    .probox-list-item-container {
      padding-left: 25px;
      padding-right: 25px;
    }
    .probox-item-list-description {
      padding-left: 0;
      padding-right: 0;
    }
    .probox-list-item, .probox-item-list-description {
      max-width: 900px;
    }
  }
}
