<section id="probox-build-custom-gang-box">
  {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig" %}

  {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig" %}

  <div class="button-row">
    {% include "@atoms/06-buttons/style-1/01-button.twig" with button_1 %}
    {% include "@atoms/06-buttons/style-1/01-button.twig" with button_2 %}
  </div>

  {% include "@atoms/02-text/text/01-paragraph.twig" with {
      "paragraph_content": paragraph_1_content
    }
  %}

  {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig" %}

  {% include "@atoms/02-text/text/01-paragraph.twig" with {
      "paragraph_content": paragraph_2_content
    }
  %}

  {% include "@atoms/03-lists/00-unordered.twig" with { "list_ul_items":unordered_list_items } %}
</section>