<section class="probox-header">
  <div class="probox-header__heading">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" with {
        "heading_6": "ProBox Configurator"
      } 
    %}
    {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig" with {
        "heading_1": "Untitled"
      } 
    %}
    {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig" with {
        "heading_2": "General ProBox"
      } 
    %}
    {% include "@atoms/01-links/link/link.twig" with {
        "link_content": "+  Add Job Details",
        "link_modifiers": [ "probox-add-detail" ]
      } 
    %}
  </div>
  <div class="probox-header__counters">
    {% include "@organisms/probox-organisms/probox-header-counters.twig" with {
        "counters": counters
      }
    %}
  </div>
</section>