<section class="probox-browser-header-and-list">
  {% include "@molecules/probox-item-list-description/probox-item-list-description.twig" %}
  {% include "@organisms/probox-organisms/probox-browse-search-item-list.twig" %}
</section>
