<div class="probox-getting-started-template">
  {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig" with
    {
      "heading_1": template_heading
    }
  %}
  {% include "@atoms/02-text/text/01-paragraph.twig" with {
    "paragraph_content": paragraph_1_content
    }
  %}
  {% include "@atoms/02-text/text/01-paragraph.twig" with { 
    "paragraph_content": paragraph_2_content
    } 
  %}
  {% include '@organisms/probox-cards/probox-cards.twig' with
    {
      "title": "Prebuilt ProBoxes",
      "description": ""
    }
  %}
  {%
    include '@molecules/feeling-stuck/feeling-stuck.twig'
  %}
</div>
  