.align {
  &--center {
    align-items: center;
  }
}

.justify {
  &--right {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }
}

.show-mobile-only {
  @include breakpoint($break-small) {
    display: none;
  }
}

.show-tablet-only {
  @media (max-width: $break-small), (min-width: $break-medium) {
    display: none;
  }
}

// Handles making sidebar flow properly
div[role="main"] {
  @include breakpoint($break-medium) {
    display: flex;
  }
}

// TODO: Fix me for nested navigation
aside.main-sidebar {
  background: $color-grey-2;
  overflow: hidden;

  @include breakpoint($break-medium) {
    background: $color-grey-2;
    width: 252px;
    min-width: 252px;
  }
}

.main-content--with-sidebar {
  flex-grow: 1;
  width: 100%; // Required for IE11
  #block-unitedrentals-content .row-wrap > div > .text-long {
    width: calc(100% - 60px);
  }
}

.vue-map-container {
  position: relative;

  .vue-map {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
}

.vue-map-hidden {
  display: none;
}

.no-text-decoration:hover {
  text-decoration: none !important;
}
