$searchInputHeightMobile: 40px;
$searchAnimationSpeed: $animation-speed;

.global-search {
  background: $color-blue;
  box-shadow: 0 0.5px 0 0 rgba(178, 178, 178, 0.25);
  position: relative;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  @include breakpoint($break-small) {
    padding: 0 32px;
    align-items: center;
    height: 64px;
    flex-direction: row;
    > * {
      flex-grow: 1;
    }
  }

  @include breakpoint($break-medium) {
    padding: 37px 40px 61px;
    height: auto;
  }

  &__close {
    color: $color-white;
    display: flex;
    justify-content: flex-end;

    &--text {
      position: absolute;
      top: 24px;
      right: 16px;
      font-size: 16px;
      line-height: 1;
      transition: transform $searchAnimationSpeed $anim-ease;
      @include breakpoint($break-small) {
        display: none;
      }
    }

    &--icon {
      transform: rotate(45deg);
      display: none;
      width: 28px;
      height: 28px;
      background: $color-blue-highlight;
      border-radius: 50%;
      font-size: 24px;
      line-height: 1;
      transition: transform $searchAnimationSpeed $anim-ease;
      @include breakpoint($break-small) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover,
    &:visited {
      color: $color-white;
    }
    @include breakpoint($break-small) {
      @include setColumn(40, 704);

      &:hover {
        text-decoration: none;
      }
    }
    @include breakpoint($break-medium) {
      @include setColumn(54, 944);
    }
  }

  &__field-wrapper {
    display: inherit;
  }

  &__logo {
    flex: 1;
    padding-bottom: 14px;
    @include breakpoint($break-small $break-medium - 1) {
      display: none;
    }

    .header__logo {
      transform: translate(0.5px, -1px);
      @include breakpoint($break-medium) {
        transform: translate(0, 2px);
      }
    }
  }

  &__field {
    position: relative;
    transition: transform $searchAnimationSpeed $anim-ease;

    &--icon {
      position: absolute;
      left: 20px;
      top: calc(#{$searchInputHeightMobile}/2);
      transform: translate(0, -50%);
      z-index: 1;

      &.icon.icon-search {
        visibility: visible;
        z-index: 200;
      }
    }

    .global-search-input {
      z-index: 200;
    }

    input[type='text'] {
      font-size: $font-size-large;
      padding-left: 49px;
      padding-right: 20px;
      height: $searchInputHeightMobile;
      border-radius: $border-radius-med;
      border: none;
      position: relative;
      z-index: 1;

      &:focus {
        ~ .icon {
          color: $color-blue;
        }
      }
      @include breakpoint($break-small) {
        margin-bottom: 0;
        padding-right: 60px;
      }
    }

    &-hero {
      @include breakpoint(max-width $break-small - 1) {
        margin-top: 3px;
      }
    }
  }

  &__clear {
    position: absolute;
    right: 16px;
    top: calc(#{$searchInputHeightMobile}/2);
    transform: translate(0, -50%);
    z-index: 1;
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-size-small;
    display: none;
    cursor: pointer;

    #app & {
      display: block;
    }
  }

  &__search-box {
    width: 100%;
    + div{
      display: none;
      @include breakpoint($break-small) {
        display: block;
      }
    }

    @include breakpoint($break-small) {
      flex: 1 1 50%;
      display: flex;

      input[type='text'] {
        border-radius: 0;
        border-right: none;
      }
    }
  }

  &__search-results {
    width: calc(100% + 32px);
    z-index: 100;
    color: #000;
    background: $white;
    position: absolute;
    left: 17px;
    margin-left: -17px;
    display: none;
    overflow: auto;
    text-align: left;
    margin-top:0;
    top: 100%;

    .show-results & {
      display: block;
    }

    .show-no-results & {
      display: block;
      padding-left: 10px;
    }

    .hero & {
      top: calc(11vh + 2px);
    }

    @include breakpoint($break-small) {
      width: 100%;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
      border-radius: 0 0 $border-radius-med $border-radius-med;
      margin-left: 0;
      height: auto;
      max-height: 100vh;
      left: 0;

      .hero & {
        top: calc(100%);
      }
    }
  }

  &__search-results--labelled {
    &--label {
      display: flex;
    }

    .global-search__results-object:first-child {
      margin-top: 0;
    }
  }

  &__results-group {
    margin-bottom: 22px;

    a {
      color: inherit;
    }

    &--label {
      background-color: rgba(220, 224, 227, 0.3);
      text-transform: uppercase;
      color: $color-grey-38;
      display: flex;
      font-size: $font-size-xsmall;
      height: 30px;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px 0 20px;
      margin: 14px 0 10px;

      span {
        color: $white;
        background: $color-blue-highlight;
        border-radius: $border-radius-med;
        line-height: 20px;
        width: 35px;
        text-align: center;
      }
    }

    .global-search__results-object:first-child {
      margin-top: 11px; // same value used in .search-by-term .results
    }



    @include breakpoint(max-width $break-small - 1) {
      &:first-child {
        .global-search__results-group--label {
          margin-top: 0;
        }
      }
    }
  }

  &__results-objects {
    font-size: $font-size-large;
    line-height: 1.688;
    margin-bottom: 0;
    padding: 0 12px 0 20px;
  }

  &__results-object {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 8px;

    a {
      color: inherit;

      span {
        color: $color-blue;
        font-weight: bold;
      }

      &:hover {
        color: $color-blue;
        font-weight: bold;
      }
    }

    &--distance {
      font-size: $font-size-base;
      @include breakpoint(max-width $break-medium - 1) {
        display: none;
      }
    }
  }

  &__location {
    flex: 2;
    margin: 0 0 10px 0;
    order: 2;
    + div{
      display: flex;
      flex: 5;
    }

    @include breakpoint($break-small) {
      order: 0;
      margin: 0 5px 0px 0;

      input[type='text'] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: $color-border $border-light solid;

        &:not(:placeholder-shown) {
          background: $color-grey-2;
        }
      }
    }
  }

  &__button {
    @include breakpoint($break-small) {
      width: 130px;
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0 0 0 5px;
    }

    &-hero {
      @include breakpoint(max-width $break-small - 1) {
        margin-top: 20px;
      }

      @include breakpoint($break-small) {
        border-radius: 0 $border-radius-med $border-radius-med 0;
        height: 48px;
        margin: 0 0 0 -6px;
        width: 56px;
      }

      @include breakpoint($break-medium) {
        height: 56px;
      }
    }
  }

  .layout-container & {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 24;
    opacity: 0;
    transition: visibility 0s $anim-ease $searchAnimationSpeed,
    opacity $searchAnimationSpeed $anim-ease,
    padding $searchAnimationSpeed $anim-ease;
    @include breakpoint(max-width $break-small - 1) {
      .global-search__close--text,
      .global-search__field {
        transform: translateY(-15px);
      }
    }
    @include breakpoint($break-small $break-medium - 1) {
      .global-search__field {
        transform: translateX(19px);
      }

      .global-search__close--icon {
        transform: translateX(19px) rotate(45deg);
      }
    }
    @include breakpoint($break-medium) {
      padding-bottom: 13px;

      .global-search__field {
        transform: translateX(26px);
      }
    }

    .global-search-visible & {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      z-index: 26;

      @include breakpoint(max-width $break-small - 1) {

        .global-search__close--text,
        .global-search__field {
          transform: translateY(0px);
        }
      }
      @include breakpoint($break-small $break-medium - 1) {
        .global-search__field {
          transform: translateX(0px);
        }

        .global-search__close--icon {
          transform: translateX(0px) rotate(45deg);
        }
      }
      @include breakpoint($break-medium) {
        padding-bottom: 36px;

        .global-search__field {
          transform: translateX(0px);
        }
      }
    }
  }
}

#global-search__dropdown {
  & ul {
    @include breakpoint($break-small) {
      margin-top: 10px;
    }
    @include breakpoint($break-medium) {
      margin-top: 38px;
    }
    @include breakpoint($break-xlarge) {
      margin-top: 60px;
    }
  }
}

.pac {
  &-container {
    background: $white;
    box-shadow: none;
    border-top: none;
    padding-top: 8px;
    padding-bottom: 19px;
    z-index: 10000;

    @include breakpoint(max-width $break-small - 1) {
      width: 100vw !important;
      margin-top: 10px;
      left: 0 !important;
      height: calc(100vh - 176px);

      .hero & {
        top: calc(33vh + 64px) !important;
      }
    }

    @include breakpoint($break-small) {
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
      border-radius: 0 0 $border-radius-med $border-radius-med;
    }
  }

  &-logo:after {
    display: none;
  }

  &-item {
    border: none;
    font-size: $font-size-large;
    line-height: 1.688;
    margin-bottom: 0;
    padding: 0 12px 0 20px;
    color: $color-grey-69;

    &:hover {
      background-color: inherit;
      color: $color-blue;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;

      .pac-item-query {
        color: $color-blue;
      }
    }

    &-query {
      font-size: $font-size-large;
      color: $color-grey-69;
    }
  }

  &-matched {
    color: $color-blue;
    font-weight: bold;
  }

  &-icon-marker {
    display: none;
  }
}

.path-search {
  .layout-container {
    z-index: 24;
  }

  .icon-search {
    visibility: hidden;
  }
}

.pac-container.pac-logo.hdpi {
  height: calc(100vh - 440px);
  @include breakpoint($break-small) {
    height: calc(100vh - 240px);
  }
}

// Hide search result group labels inside Workplace (aka, Manage)
.path-manage .global-search__results-group--label{
  display: none;
}

.assisted-search-container{
  display:flex;
  ul {
    margin-left: 0;
    padding-left: 0;
    margin: 0 0 14px 0;
  }
}
.sub-categories{
  display:none;
}
.top-categories{
  width:100%;
  margin-bottom: 0;
  padding: 0 25px;
}

.top-categories, .sub-categories{
  margin-bottom: 0;

  &:hover{
    background-color:#F9F9F9;
  }

  p {
    font-weight: bolder;
    font-size:16px;
    text-align: left;
    padding-left: 12px;
    margin-top:14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.top-categories-list, .sub-categories-list{
  margin-bottom: 0;
  li{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    a{
      color: $color-brand-primary;
      font-size: 14px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 10px 5px 10px 12px;
      &:visited{
        color: $color-brand-primary;
      }
      &:hover{
        color: $color-blue-highlight;
      }
      &:visited:hover{
        color: $color-blue-highlight;
      }
    }
    &:last-child a{
      font-weight: bold;
    }

  }
}
@include breakpoint($break-medium) {
  .sub-categories {
    display:block;
    width:50%;
  }
  .top-categories {
    width:50%;
    padding: 0;
  }
}


/*
---
name: Global Search
category: Organisms
---

## SUMMARY
The Global Search allows a user to search for content across Marketplace and Locations on the UnitedRentals.com site. The user can invoke the search from anywhere on the site.

To interact with the Global Search, the user clicks on the Search Icon to expand it.
### Global Search closed
```global-search-closed:global-search-closed-example.html
```

### Global Search expanded
```global-search-expanded:global-search-example.html
```

*/

/*
---
name: Location Finder
category: Molecules
---
## Rules
#### General
* Location Input supports alphanumeric characters only, no symbols.
* Searches performed via the Location Input can be against cities, zip/postal codes or addresses in the United States or Canada. If states or provinces are entered, default to nearest city and zip based on IP address.
* The Location Input acts as a location filter to searches made in the Query Input.

###### ...If user is a guest with no previous searches who has denied location-detection
Field is populated with the default text: "City, zip/postal code, or address".

###### ...If user is a guest with no previous searches who has allowed location-detection
Field is populated with user's current location: City, Abbreviated State/Province Zip/Postal Code (ex. Austin, TX 78705).

###### ...If user is a guest with previous location searches
Field is populated with last set location.

###### ...If user is an authorized user
Field is populated with last set location.

#### Location finder - no location provided
```location-finder-example.html
<div class="global-search__field global-search__location">
    <div class="location-autocomplete input-group"><input tabindex="1" type="text" placeholder="Enter a location (required)"> <i class="icon icon-map-marker"></i> <span class="clearspan" style="display: none;">
    Clear
  </span>
        <ul id="suggestions" class="suggestions" style="display: none;"></ul>
    </div>
</div>
```
```location-finder-example:/components/_patterns/_styleguide-common.css hidden
```
#### Location finder - with location

```location-finder-example-completed.html hidden
<div class="global-search__field global-search__location">
    <div class="location-autocomplete input-group">
        <!---->
        <div class="input-wrapper"><input tabindex="1" type="text" placeholder="Enter a location (required)" value="Kansas City, MO 64116"> <i class="icon icon-map-marker"></i> <span class="clearspan">Clear
    </span></div>
        <ul id="suggestions" class="suggestions" style="display: none;"></ul>
    </div>
</div>
```
```location-finder-example-completed:/components/_patterns/_styleguide-common.css hidden
```
#### Location finder - with autocomplete
```location-finder-example-autocomplete.html hidden
<div class="global-search__field global-search__location">
    <div class="location-autocomplete input-group">
        <!---->
        <div class="input-wrapper"><input tabindex="1" type="text" placeholder="Enter a location (required)" value="Okl"> <i class="icon icon-map-marker"></i> <span class="clearspan">Clear
    </span></div>
      <ul id="suggestions" class="suggestions" style="width: 345px;">
          <li class=""><span class="searchText">Okl</span>ahoma City, OK</li>
          <li class=""><span class="searchText">Okl</span>ahoma</li>
          <li class="selected"><span class="searchText">Okl</span>ahoma, OK</li>
          <li class="">Tulsa, OK</li>
          <li class="">Stillwater, OK</li>
      </ul>
    </div>
</div>
```
```location-finder-example-autocomplete:/components/_patterns/_styleguide-common.css hidden
```
```location-finder-example-autocomplete.css hidden
#suggestions{
  margin-bottom: 10px;
}
```
*/
