<div class="global-search">

  <div class="global-search__logo">
    <span class="header__logo"></span>
  </div>

  {% block search_location %}
      {% include "@molecules/global-search/search-location.twig" %}
  {% endblock %}

  {% block search_results %}
    {% include "@molecules/global-search/search-results.twig" %}
  {% endblock %}

  <a href="#" class="global-search__close">
    <span class="global-search__close--text">{{ close_text }}</span>
    <span class="global-search__close--icon"><i class="icon icon-add"></i></span>
  </a>

</div>
