<div class="global-search">
    <div class="global-search__logo"><span class="header__logo"></span></div>
    <div class="global-search__field global-search__search-box show-results"><input type="text" placeholder="Search equipment, solutions" class="global-search-input"> <i class="icon icon-search"></i>

        <div class="global-search__search-results">
            <div class="global-search__results-group">
                <div class="global-search__results-group--label"><a href="/search?search=lift">Equipment</a> <span><a href="/search?search=lift">102</a></span></div>
                <div class="global-search__results-objects">
                    <div class="global-search__results-object"><a href="/marketplace/equipment/lifting-beam-25"><strong>Lift</strong>ing Beam 25'</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/lifting-hooks-7-ton"><strong>Lift</strong>ing Hooks 7 Ton</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/forklifts-material-handling/misc-material-handling/drywall-lift">Drywall <strong>Lift</strong></a>

                    </div>
                </div>
            </div>
            <div class="global-search__results-group">
                <div class="global-search__results-group--label"><a href="/search?search=lift">Equipment Type</a> <span><a href="/search?search=lift">4</a></span></div>
                <div class="global-search__results-objects">
                    <div class="global-search__results-object"><a href="/marketplace/equipment/aerial-work-platforms/boom-lifts">Boom <strong>Lift</strong>s</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts">Scissor <strong>Lift</strong>s</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/trench-safety-shoring/roadcrossing-plates">Road/Crossing Plates</a>

                    </div>
                </div>
            </div>
            <div class="global-search__results-group">
                <div class="global-search__results-group--label"><a href="/search?search=lift">Equipment Category</a> <span><a href="/search?search=lift">3</a></span></div>
                <div class="global-search__results-objects">
                    <div class="global-search__results-object"><a href="/marketplace/equipment/aerial-work-platforms">Aerial Work Platforms</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/trench-safety-shoring">Trench Safety &amp; Shoring</a>

                    </div>
                    <div class="global-search__results-object"><a href="/marketplace/equipment/forklifts-material-handling">Fork<strong>lift</strong>s &amp; Material Handling</a>

                    </div>
                </div>
            </div>
            <div class="global-search__results-group">
                <div class="global-search__results-group--label"><a href="/search?search=lift">Found on unitedrentals.com</a> <span><a href="/search?search=lift">5</a></span></div>
                <div class="global-search__results-objects">
                    <div class="global-search__results-object"><a href="/project-uptime/safety/scissor-lifts">4 Tips for Working With a Scissor <strong>Lift</strong></a>

                    </div>
                    <div class="global-search__results-object"><a href="/project-uptime/safety/aerial-lift">Common Safety Mistakes When Using an Aerial <strong>Lift</strong></a>

                    </div>
                    <div class="global-search__results-object"><a href="/our-company/press-room/in-the-news/detail/united-rentalsrsc-bond-buyers-pile-backhoes-boom-lifts">United Rentals/RSC: Bond Buyers Pile onto Backhoes &amp; Boom <strong>Lift</strong>s</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-search__field global-search__location">
        <div class="location-autocomplete input-group"><input tabindex="1" type="text" placeholder="Enter a location (required)"> <i class="icon icon-map-marker"></i> <span class="clearspan" style="display: none;">
    Clear
  </span>
            <ul id="suggestions" class="suggestions" style="display: none;"></ul>
        </div>
    </div> <a href="#" class="global-search__close"><span class="global-search__close--text">Cancel</span> <span class="global-search__close--icon"><i class="icon icon-add"></i></span></a></div>
