<div class="header__primary-navigation grid bg-color--blue text-color--white font-size--type-header-h5 align--center"><i class="icon icon-bars mobile-menu__open"></i> <i class="icon icon-search"></i>
    <div class="header__global-navigation-pages">
        <nav role="navigation" aria-labelledby="block-unitedrentals-main-menu-menu" id="block-unitedrentals-main-menu">
            <ul class="menu">
                <li class="menu__item menu__item--below menu__item--active"><a href="/marketplace/equipment" onclick="window._app.gtmTrackMainNav('top', 'Equipment')" class="menu__link">Equipment</a>
                    <ul>
                        <li class="menu__item menu__item--active"><a href="/marketplace/equipment" onclick="window._app.gtmTrackMainNav('top', 'Rent\x20Equipment')" class="menu__link">Rent Equipment</a></li>
                        <li class="menu__item"><a href="http://used.unitedrentals.com/" onclick="window._app.gtmTrackMainNav('top', 'Buy\x20Used\x20Equipment')" class="menu__link">Buy Used Equipment</a></li>
                        <li class="menu__item"><a href="https://unitedacademy.ur.com" onclick="window._app.gtmTrackMainNav('top', 'Training')" class="menu__link">Training</a></li>
                    </ul>
                </li>
                <li class="menu__item"><a href="/locations" onclick="window._app.gtmTrackMainNav('top', 'Branches')" class="menu__link">Branches</a></li>
                <li class="menu__item menu__item--below"><a href="/solutions" onclick="window._app.gtmTrackMainNav('top', 'Solutions')" class="menu__link">Solutions</a>
                    <ul>
                        <li class="menu__item"><a href="/solutions/industry-solutions/chemical/emergency-preparedness" onclick="window._app.gtmTrackMainNav('top', 'Industry\x20Solutions')" class="menu__link">Industry Solutions</a></li>
                        <li class="menu__item"><a href="/solutions/specialty-solutions/power-hvac/about-power-hvac" onclick="window._app.gtmTrackMainNav('top', 'Specialty\x20Solutions')" class="menu__link">Specialty Solutions</a></li>
                    </ul>
                </li>
                <li class="menu__item menu__item--below"><a href="/services" onclick="window._app.gtmTrackMainNav('top', 'Services')" class="menu__link">Services</a>
                    <ul>
                        <li class="menu__item"><a href="/services/online-services/total-control" onclick="window._app.gtmTrackMainNav('top', 'Online\x20Services')" class="menu__link">Online Services</a></li>
                        <li class="menu__item"><a href="/services/equipment-protection/rental-protection-plan" onclick="window._app.gtmTrackMainNav('top', 'Equipment\x20Protection')" class="menu__link">Equipment Protection</a></li>
                    </ul>
                </li>
                <li class="menu__item menu__item--below"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'Company')" class="menu__link">Company</a>
                    <ul>
                        <li class="menu__item"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'About\x20Us')" class="menu__link">About Us</a></li>
                        <li class="menu__item"><a href="http://careers.unitedrentals.com" onclick="window._app.gtmTrackMainNav('top', 'Our\x20Careers')" class="menu__link">Our Careers</a></li>
                        <li class="menu__item"><a href="/our-company/press-room/press-releases/in-the-news" onclick="window._app.gtmTrackMainNav('top', 'News\x20\x26\x20Events')" class="menu__link">News &amp; Events</a></li>
                        <li class="menu__item"><a href="/our-company/investor-relations/annual-reports-proxy-statements" onclick="window._app.gtmTrackMainNav('top', 'Investor\x20Relations')" class="menu__link">Investor Relations</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div> <a href="/" class="header__logo-holder"><span class="header__logo"></span></a> <span class="icon-shopping-cart-container"><i class="icon icon-shopping-cart"><!----></i> <!----></span>
    <div class="notifications-wrapper"><span class="notifications"><i class="icon icon-notification"></i> <span class="pill-count">0</span></span>
    </div>
</div>
