// disable body scrolling when menu is open
.category-menu-visible {
  body {
    overflow: hidden;
  }
}

.category-menu {

  &__title {
    color: $color-blue;
    font-size: $font-size-large;
    cursor: pointer;
    border-bottom: 1px solid $color-grey-11;
    padding: 0 17px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    .icon-angle-down {
      color: $color-orange;
      transform: rotate(-90deg);
      font-size: 18px;
    }

    @include breakpoint($break-medium) {
      color: $color-grey-69;
      font-size: $font-size-h3;
      padding: 0 0 10px 10px;
      font-weight: bold;
      border: none;
      display: block;
      height: auto;

      .icon-angle-down {
        display: none;
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999998;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all $animation-speed $anim-ease;

    .category-menu-visible & {
      @include breakpoint($break-small $break-medium) {
        visibility: visible;
        opacity: 1;
      }
    }

    @include breakpoint($break-medium) {
      display: none;
    }
  }

  &__menu {
    background-color: $color-white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999999;
    transform: translateX(100vw);
    transition: all $animation-speed $anim-ease;

    .category-menu-visible & {
      transform: translateX(0);
    }

    @include breakpoint($break-small) {
      max-width: 375px;
    }

    @include breakpoint($break-medium) {
      background: none;
      position: relative;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      z-index: 1;
      transform: none;
      transition: none;
      overflow: visible;
    }
  }

  &__menu-container {
    width: 200%;
    transition: all $animation-speed $anim-ease;

    .category-menu-details-visible & {
      transform: translateX(-50%);
    }

    @include breakpoint($break-medium) {
      width: auto;
      transition: none;
      transform: none;
    }
  }

  &__bar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $color-blue;
    color: $color-white;
    height: 64px;
    cursor: pointer;
    transform: translateX(0);
    transition: all $animation-speed $anim-ease;

    &-item {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 0 4%;
    }

    .icon {
      margin-right: 10px;
    }

    @include breakpoint($break-medium) {
      display: none;
    }
  }

  .menu {
    position: relative;
    overflow: scroll;
    height: calc(100vh - 64px);

    ul, li {
      margin: 0;
      padding: 0;
    }

    > li {
      border-bottom: 1px solid $color-grey-11;
      width: 50%;

      .category-menu-details-visible & {

        // When second level is open, hide all the other links
        &:not(.category-menu-details-active) {
          opacity: 0;
          display: none;
        }

        // First level is open
        &.category-menu-details-active {
          // Javascript is adding the same class to second level links, need
          // to undo that
          li.category-menu-details-active {
            > a {
              position: relative;
              left: 0;
              top: auto;
              color: $color-blue;
              border-bottom: 1px solid $color-grey-11;
              display: flex;
              font-size: $font-size-large;
              font-weight: bold;
              justify-content: space-between;
              margin: 0 3%;
              padding: 14px 8px;
              width: calc(100% - 6%);
              text-transform: none;
            }
          }

          // Put the link they clicked on top of the list and style it differently
          > a {
            position: absolute;
            top: 0;
            left: 50%;
            color: $color-grey-38;
            text-transform: uppercase;
            font-size: $font-size-small;
            border-bottom: none;
            padding-top: 19px;
            pointer-events: none;
            width: 50%;
            margin: 0 2%;

            &:after {
              display: none;
            }
          }

          // Make second level of links display
          > ul {
            display: block;

            > li {
              width: 100%;
              opacity: 1;
              display: block;

              a {
                // Turning off pointer events for now
                pointer-events: auto;

                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      > ul {
        position: absolute;
        width: 50%;
        top: 48px;
        left: 50%;
        display: none;
        height: auto;
      }

      a {
        display: flex;
        font-size: $font-size-large;
        font-weight: bold;
        justify-content: space-between;
        margin: 0 3% 0 0;
        padding: 14px 8px;
        pointer-events: auto;
        width: calc(100% - 26%);

        @include breakpoint($break-medium) {
          width: calc(100% - 6%);
        }
      }

      > a {
        &::after {
          content: "\f105";
          color: $color-orange;
          display: block;
          font-family: icomoon;
          font-size: 18px;
          left: 15%;
          pointer-events: none;
          position: relative;

          @include breakpoint($break-medium) {
            left: 0;
          }
        }
      }
    }

    // Styles for >= 1024
    @include breakpoint($break-medium) {
      overflow: visible;
      height: auto;

      a {
        display: block;
        font-size: $font-size-small;
        font-weight: bold;
        line-height: 15px;
        pointer-events: auto;

        &:hover {
          text-decoration: none;
        }
      }

      > li {
        width: auto;
        position: relative;

        > a {
          border: none;
          display: block;
          font-size: $font-size-small;
          font-weight: 700;
          line-height: 15px;
          pointer-events: auto;
          padding: 8px 10px;
          color: $color-blue;

          &::after {
            font-family: icomoon;
            content: "\f105";
            color: $color-orange;
            font-size: $font-size-small;
            display: inline-block;
            margin-left: 6px;
          }
        }

        &:hover {
          background-color: $color-blue;
          color: $color-white;

          > a {
            color: $color-white;
          }

          > ul {
            display: block;
          }
        }

        > ul {
          display: none;
          position: absolute;
          z-index: 1;
          left: 100%;
          top: 0;
          width: auto;
          min-width: 230px;
          color: $white;
          background-color: $color-blue;
          padding: 22px;
          box-shadow: $shadow-heavy;

          > li {
            border: none;

            a {
              color: $white;
              padding: 8px 14px;
              display: block;

              &:hover {
                background-color: $color-blue-lowlight;
              }
            }
          }
        }
      }
    }
  }

  .hideCatMenuOnClick {
    @include breakpoint($break-medium) {
      display: none;
    }
  }

}
