<div class="category-menu">
  <div class="category-menu__title">
    {{ category_menu_title }}
    <i class="icon icon-angle-down"></i>
  </div>

  <div class="category-menu__overlay"></div>

  <div class="category-menu__menu">
    <div class="category-menu__menu-container">
      <div class="category-menu__bar">
        <div class="category-menu__bar-item category-menu__bar--first">
          <i class="icon icon-long-arrow-left show-mobile-only"></i>
          <i class="icon icon-long-arrow-left show-tablet-only"></i>
          <span class="show-mobile-only">{{ category_menu_bar_first_mobile }}</span>
          <span class="show-tablet-only">{{ category_menu_bar_first_tablet }}</span>
        </div>
        <div class="category-menu__bar-item category-menu__bar--second">
          <i class="icon icon-long-arrow-left"></i> {{ category_menu_bar_second }}
        </div>
      </div>
      {% block category_menu_list %}
        {% include "@molecules/menus/_mock-menu.twig"
          with {
            "menu_data": category_menu_items,
          }
        %}
      {% endblock %}
    </div>
  </div>
</div>
