@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Location Entity: Branch Full
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

.branch-details_container { // sass-lint:disable-line class-name-format
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 100%;

  @media (min-width: 640px) {
    padding-left: 0;
  }

  .results-content-blocks {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: rem(10);

    .small-grey__heading-6 {
      line-height: rem(25);
      margin-top: rem(13);
    }

    .return_directions { // sass-lint:disable-line class-name-format
      align-items: center;
      display: flex;
      padding-bottom: rem(10);

      .icon-before-long-arrow-left {
        color: $color-utility-attention;
      }

      .return__heading-6 {
        color: $color-brand-primary;
        margin: 0;
        padding: 0 0 0 rem(15);
        width: 48%;
      }

      .directions__heading-6 {
        align-items: center;
        color: $color-brand-primary;
        display: flex;
        margin-bottom: 0;
        margin-left: auto;
        margin-top: 0;
        padding: 0;
        text-align: right;
        width: 37%;

        @media (min-width: 640px) {
          margin-right: 0;
        }
      }

      .icon-before-location {
        color: $color-text;
        font-size: rem(16);
        margin-left: rem(15);

        &::before {
          font-size: rem(16);
        }

        @media (min-width: 640px) {
          position: inherit;
        }
      }
    }

    .heading-2 {
      line-height: rem(25);
      margin: 0;

      .address {
        display: flex;
        font-size: 1rem;
        font-weight: $font-weight-regular;
        margin-left: rem(5);
        margin-top: 1rem;

        .address-directions {
          .paragraph {
            color: $color-brand-primary;
            text-transform: capitalize;

            &:hover {
              color: $color-brand-secondary;
              text-decoration: underline;
            }
          }
        }

        .paragraph {
          margin-bottom: 0;
        }

        .icon-before-location {
          margin: rem(5) rem(15) 0 0;
          text-align: center;
          width: rem(14);
        }
      }
    }

    .branch-details-buttons {
      padding-top: 0;

      .button {
        display: inline-block;
        margin-bottom: rem(7);
        margin-top: rem(9);
        text-align: center;
        width: rem(163);

        @media (min-width: 640px) {
          width: rem(172);
        }
      }

      :first-child {
        margin-right: rem($scale-1);
      }
    }

    .phone-address {
      margin: 0 0 rem(5) rem(5);

      p {
        line-height: rem($scale-6);
        margin: 0;
        padding-bottom: rem(10);
        padding-left: rem(5);
      }

      .icon {
        height: auto;
        line-height: inherit;
        position: relative;
        top: rem($scale-1);
        width: rem(14);

        &::before {
          color: $color-text;
        }
      }

      .phonenumber {
        display: flex;

        .icon-before-phone {
          margin-right: rem(10);
        }
      }

      .address {
        display: flex;

        .address-directions {
          .paragraph {
            color: $color-brand-primary;
            text-transform: capitalize;

            &:hover {
              color: $color-brand-secondary;
              text-decoration: underline;
            }
          }
        }

        .icon-before-location {
          margin-right: rem(10);
        }
      }
    }

    .fax {
      display: flex;

      .icon-before-fax {
        margin-right: rem(10);
      }
    }

    .manager {
      display: flex;

      .icon-before-user-circle {
        margin-right: rem(10);
      }
    }

    .direction {
      display: flex;

      .icon-before-location-arrow {
        margin-right: rem(10);
      }
    }
  }

  .hours-of-operation {
    margin-bottom: 1rem;

    .hours-of-operation__header {
      margin-bottom: rem(15);
    }

    .paragraph {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: rem(3);
    }

    .table__heading-cell {
      color: $color-brand-primary;
      font-size: 1rem * 0.8571428571;
      line-height: rem(25);
      padding: 0;
    }

    .table__row {
      .table__cell {
        border: 0 none;
        padding: 0;
      }
    }
  }

  .flex-video {
    height: 0;
    margin-bottom: 0.88889rem;
    margin-left: -1em;
    margin-top: rem(10);
    overflow: hidden;
    padding-bottom: 56.34%;
    padding-top: 0;
    position: relative;

    @media (min-width: 640px) {
      margin-left: 0;
      margin-top: rem(15);
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .branch-information__heading-6 {
    margin-bottom: rem(10);
    margin-top: rem(15);
  }

  .products {
    margin-bottom: rem(7);
    margin-top: rem(10);

    h6 {
      color: $color-text;
      margin-bottom: rem(15);
      margin-top: 0;
      padding: 0;
      text-transform: uppercase;
    }

    .paragraph {
      margin-bottom: rem(3);
    }
  }

  .global-branch-content-blocks-list,
  .branch-type-content-blocks-list,
  .branch-content-blocks-list {
    margin: 0;

    h2.summary-card-title__heading-2,
    h2.heading-2 {
      margin-bottom: rem(15);
    }
  }

  .branch-list {
    h2.summary-card-title__heading-2,
    h2.heading-2 {
      margin-bottom: rem(15);
    }
  }

  .paragraph--type-summary-card {
    &.paragraph--view-mode-branch {
      border-top: $border-width-light solid $color-utility-border;
      margin: 1em 0 0;
      padding: 1em 0 0;

      .summary-card-title__heading-6 {
        margin-bottom: rem(10);
        margin-top: 0;
      }

      .summary-card-copy {
        margin-bottom: rem(3);

        p {
          margin: 0;
        }
      }
    }
  }
}

