.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;

  &__background {
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    @include breakpoint($break-small) {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      max-height: 80vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 800px;
      min-height: 50px;
    }

    @include breakpoint($break-large) {
      max-width: 1000px;
    }

    .icon-close {
      position: absolute;
      right: 15px;
      top: 17px;

      &:before {
        content: "\e5cd";
      }
    }
  }
}
