<div class="modal__content modal__content--center">
  {% include '@atoms/06-buttons/icon-button/icon-button.twig' %}
  <div>
    This could be some modal content
    <div>
      This is here to give the modal some height
    </div>
  </div>
</div>