<template>

  <transition name="tbSlideFade" tag="div">
    <div v-if="hasFilter" class="search-term-badge-container">
      <button
        v-for="filter in filters"
        :key="filter.id"
        class="search-term-badge"
        href="#"
        @click.prevent="removeFilter(filter)">
        {{ filter.term }}
      </button>
      <p
        class="clear-all"
        @click="removeAllFilters">
        {{ $i18n('catalog.clearAll') }}
      </p>
    </div>
  </transition>

</template>

<script lang="ts" src="./search-term-badges-container.ts"></script>
