<template>

  <!--
    Normal theme
  -->
  <div class="search-by-term"
    :class="{
      'show-results': hasOptions,
      'show-no-results': (hasFocus && !hasOptions && searchText.length >= 2)
    }"
    v-if="isNormalTheme" >

    <input
      type="text"
      :placeholder="$i18n('ur.search') + ' ' + placeholder"
      v-model="searchText"
      @focus="setFocus(true)"
      @blur="setFocus(false)"
      @keyup.enter="onMatchingTermClick(matchingTerms[0])">

    <div class="results">
      <div v-if="!hasOptions" class='no-result-wrapper'>
        <cite>{{ $i18n('ur.noResultsFound') }}</cite>
      </div>
      <template v-if="hasOptions">
        <div class="result-wrapper" v-for="term in matchingTerms" :key="term.id">
          <a href="#" v-html="matchingTermLabel(term)" @click.prevent="onMatchingTermClick(term)"></a>
        </div>
      </template>
    </div>
  </div>

  <!--
    Global-search theme
  -->
  <div class="global-search__field global-search__search-box"
    :class="{
      'global-search__search-box--expanded': isSearchExpanded,
      'show-results': hasOptions,
      'show-no-results': (!hasOptions && searchText.length >= 2)
    }"
    v-else >

    <input
      class="global-search-input"
      type="text"
      :placeholder="placeholder"
      v-model="searchText"
      @keyup.enter="onMatchingTermClick(matchingTerms[0])"
      @keyup.esc="clearSearchText"
      @focus="setFocus(true)"
      @blur="setFocus(false)">

    <i class="global-search__field--icon icon icon-search"></i>
    <span class="global-search__clear"  v-if="hasFocus && hasSearchText" @click="clearSearchText">&times;</span>

    <div class="global-search__search-results"
      style="z-index: 23"
      :class="{
        'global-search__search-results--labelled': hasGroupLabel
      }">
      <div class="global-search__results-group">

        <div class="global-search__results-group--label">
          {{ $i18n('ur.matchingTerms') }}
          <span>{{matchingTermCount}}</span>
        </div>

        <div class="global-search__results-objects" v-if="hasOptions">
          <div class="global-search__results-object" v-for="term in matchingTerms" :key="term.id" @click.prevent="onMatchingTermClick(term)">
            <a href="#" v-html="matchingTermLabel(term)"></a>
          </div>
        </div>
        <div class="global-search__no-results" v-else>
          <cite>{{ $i18n('ur.noResultsFound') }}</cite>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts" src="./search-by-term.ts"></script>
