<template>

  <ur-select
    :value="selectedFilterId"
    label=""
    :emptyOptionLabel="emptyOptionLabel"
    @change="filterChange">
    <option
      v-for="filter in filters"
      :key="filter.id"
      :value="filter.id">
      {{ filter.label }} <template v-if="showCounts">({{getCountOf(filter)}})</template>
    </option>
  </ur-select>

</template>

<script lang="ts" src="./view-filter-select.ts"></script>
