{% if home_page %}<div class="path-frontpage">{% endif %}
<div class="layout-container">
  <header class="header">
  {% embed "@organisms/site/site-header/_global-header.twig" %}
    {% block mobile_menu_open %} mobile-menu__open{% endblock  %}
  {% endembed %}
  </header>

  <main>
    <div class="main-content">
      {% include "@organisms/hero/_global-hero.twig" %}
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fugit unde minima est et nostrum molestiae optio dolor vitae eligendi officiis, aperiam recusandae nemo doloribus eveniet, rerum harum vero. Beatae!</p>
        <p>Amet ea iure adipisci, facere fugit libero omnis eos dolores consequatur temporibus mollitia laborum repellendus illo! A, dolores facere ab quaerat ratione consequatur soluta aspernatur, nulla unde aperiam praesentium asperiores.</p>
        <p>Possimus dolore accusamus aspernatur maiores iste soluta commodi consequatur accusantium sed et assumenda molestias laudantium ad nobis quidem quae, eos in. Ducimus assumenda error totam nobis unde, dolor at atque?</p>
        <p>In deserunt, error? Illum laudantium voluptatum eligendi illo repellendus. Inventore odio nostrum laboriosam. Deserunt quibusdam qui, aspernatur aliquid repellat saepe eligendi dolorum autem illo debitis vel voluptate molestiae sequi explicabo.</p>
        <p>Voluptatibus fugit quam nesciunt, ipsam, rerum eius saepe corporis culpa est optio facilis aperiam distinctio laudantium odio amet accusantium impedit! Voluptatibus ab a, numquam sunt obcaecati, impedit repudiandae perferendis odio.</p>
        <p>Qui recusandae sapiente inventore eveniet obcaecati ex facere voluptas molestias ea iusto maiores sed at ratione officiis vitae, placeat, fuga? Doloremque, doloribus? Tempore culpa est molestias, ea ullam sint amet.</p>
        <p>Deserunt, velit, modi. Itaque, aperiam, repudiandae. Doloribus rem error libero distinctio itaque reiciendis animi deserunt sapiente minima ea repellendus expedita repudiandae illo ducimus, recusandae cum temporibus amet, laborum sequi tenetur.</p>
        <p>Aliquam neque quod et asperiores, accusantium ipsum fuga perferendis quisquam excepturi officiis reprehenderit fugit, molestiae voluptas repellat eaque. Ex error suscipit exercitationem, delectus consectetur saepe eaque nostrum quam quidem accusamus.</p>
        <p>Molestiae vel similique quas dolore facere, placeat beatae molestias perspiciatis quis maxime magni minima odit officia ipsam quidem, quibusdam alias laudantium quia animi quaerat. Quos natus atque hic dolore ut.</p>
        <p>Deleniti rem est voluptates nulla et dolorum numquam, quisquam ab recusandae, autem, enim, fugiat nemo iure? Rem veniam consectetur pariatur voluptatibus perferendis deserunt ut quam eos, dolore corrupti. Minus, pariatur.</p>
        <p>Accusamus cum autem architecto eos possimus repudiandae obcaecati quis iste ad perspiciatis laboriosam dolores dolorem quam voluptatem odio deserunt, perferendis voluptates veritatis inventore optio quia, soluta temporibus sint, debitis commodi?</p>
        <p>Atque quia nobis sed repudiandae, sit beatae sunt. Excepturi modi facere reprehenderit quae quis ab soluta inventore expedita temporibus, sapiente. Nesciunt eveniet error minima tenetur. Commodi nobis, excepturi id porro.</p>
        <p>Repudiandae dolor quos voluptatem beatae nesciunt consectetur quasi repellat corporis, vitae, neque hic reiciendis enim corrupti esse temporibus distinctio quisquam tempora eaque iusto earum quibusdam molestias. Ipsam iusto eum fugit?</p>
        <p>Deserunt voluptatum iusto temporibus pariatur nam, quisquam illum tempore recusandae eligendi laudantium? Numquam repellendus illum voluptate, repudiandae cum aspernatur! In iusto, adipisci doloribus facere et impedit aliquam saepe dolore mollitia?</p>
        <p>Nostrum, ea, sint. Fugit eum eaque consequatur, maxime excepturi veniam quibusdam ex rerum, molestiae illo? Corrupti quae, necessitatibus odio aspernatur, numquam deleniti vel maxime, sit cupiditate doloribus laboriosam quisquam. Facilis.</p>
        <p>Fugiat, pariatur, inventore. Atque vel adipisci dolores eos alias quam doloremque dignissimos cumque mollitia sequi repudiandae quisquam, quo, labore voluptatum, consectetur, aliquid dolor. Excepturi iste suscipit commodi ut totam aperiam!</p>
        <p>Illum, odio, optio! Quod aliquam eligendi, asperiores, vero quis adipisci nobis iure ducimus repellendus placeat enim labore explicabo magnam qui doloribus, voluptas quas ex. Vitae cumque molestiae similique esse unde.</p>
        <p>Illum, ea, sint qui fuga autem est quod, eaque accusantium aut, cumque perspiciatis debitis ipsa eius accusamus laudantium iure reprehenderit. Quisquam repellat illo nisi provident eaque beatae numquam repellendus voluptate!</p>
        <p>Illo eligendi quis et hic ipsum officiis facere impedit! Quaerat laudantium, nisi sequi quia consequatur, eius sed dolores quae, modi maiores esse tempora qui perferendis fugiat vero omnis. Error, ipsum.</p>
        <p>Repellendus laboriosam, quisquam temporibus tempore deserunt ipsam fugiat porro earum sit, veniam et. Exercitationem quibusdam, sed delectus nulla dolorum ipsum cupiditate deleniti unde, quis nesciunt porro maxime ad. Eaque, nobis.</p>
        <p>Quasi quis, minima quod magni cum earum expedita. Eius tenetur ipsum repudiandae perferendis est at fugit facere cumque. Esse itaque provident omnis officiis impedit delectus vitae nisi, aut ipsa tempore!</p>
        <p>Eaque, minus quis obcaecati tempora numquam, cupiditate facere nobis ratione quidem quam tenetur explicabo? Dicta maxime reprehenderit excepturi, labore velit commodi placeat, deleniti quae perferendis hic expedita accusamus vero alias.</p>
        <p>Minus molestias quas, esse reiciendis sunt in distinctio, optio modi tenetur facilis animi facere ex nulla placeat doloremque et cumque totam earum omnis expedita magnam illum. Ullam ab vero laboriosam.</p>
        <p>Harum iusto ab facilis maxime natus, praesentium qui reprehenderit, accusamus, soluta quas perferendis! Labore aspernatur sit soluta ea adipisci illo. Accusamus laudantium, nesciunt dolores dolor nam. Mollitia aliquid, eligendi facilis.</p>
        <p>Laborum animi rerum ex quo pariatur excepturi consequatur expedita ratione iste, praesentium facilis totam iusto maiores, quod ducimus dignissimos corporis non quisquam quis natus optio a magni fugit. Voluptates, repudiandae?</p>
        <p>Voluptatibus vel suscipit obcaecati corrupti cumque commodi recusandae natus, facere necessitatibus laborum possimus fugiat optio fugit exercitationem ex, quae porro earum, debitis. Officiis iure non repudiandae in, blanditiis adipisci officia?</p>
        <p>Earum magnam reiciendis sequi labore, at quam vitae atque veritatis doloribus accusantium explicabo voluptas voluptates fugit illo nulla eos, placeat reprehenderit! Rerum eos dolorum, veritatis praesentium in dolores possimus earum.</p>
        <p>Recusandae perspiciatis perferendis libero dolorem ducimus, tempore labore saepe vero rerum magnam modi voluptatem culpa mollitia incidunt, eaque veniam iste officia, molestias cupiditate sed hic blanditiis quia. Quis, non, laborum.</p>
        <p>Recusandae iure magni vero harum quibusdam, ipsa obcaecati omnis incidunt culpa odio, quod ab. Facere excepturi saepe illo reiciendis esse eos libero eveniet cumque pariatur quisquam quasi ducimus, aspernatur rerum.</p>
        <p>Soluta totam quos quibusdam explicabo officia accusamus animi labore nostrum mollitia excepturi praesentium veniam nulla vel rem nam, ea quisquam nobis assumenda eius vero minima voluptas ut ab aspernatur. Veritatis!</p>
        <p>Velit repellendus, aut magnam, eos accusamus, facere, libero vel mollitia voluptates hic accusantium voluptas. Laboriosam perspiciatis consectetur, ut hic. Provident aut amet maxime repudiandae praesentium laboriosam et quaerat, ab numquam.</p>
        <p>Tempore doloribus quidem nam sit, repudiandae earum excepturi commodi natus alias quia cum sequi officia quibusdam aliquid porro quae itaque, nulla vero nemo dolores? Quas cupiditate iusto aspernatur nemo? Maiores!</p>
        <p>Perspiciatis voluptate facilis, iste possimus, accusantium dolor nulla illo a accusamus officia eum, quasi nemo. Temporibus voluptates accusamus deleniti, amet in, ipsum provident cupiditate libero aperiam fugit magnam, neque officiis.</p>
        <p>Vel temporibus ratione labore illo odio molestiae quos, harum, animi rem tenetur sunt. Deserunt dolore sed rerum doloremque praesentium quis, unde quia est impedit natus veniam tenetur at, animi aspernatur.</p>
        <p>Maiores accusamus vitae, nostrum aliquam ab quos commodi beatae ut illo ex iusto natus, nisi deserunt soluta porro odio voluptatem cumque error inventore enim eligendi in totam. Officia, maxime, placeat!</p>
        <p>Delectus culpa ipsa deserunt odit voluptate impedit aut cum quia, expedita, recusandae itaque animi, earum ullam quos. Sapiente aliquam ullam nesciunt culpa at reiciendis provident modi reprehenderit, voluptas eos quod!</p>
        <p>Placeat eum fuga autem dolorum, qui eos incidunt, molestiae aliquid labore delectus vel modi et iure nihil, voluptatum, sed illum quia deserunt animi veniam consequatur amet! Temporibus assumenda beatae repellat.</p>
        <p>Atque animi eaque obcaecati, ipsum delectus laborum repellendus dolorum harum corporis, voluptates exercitationem blanditiis in esse veritatis quibusdam magni asperiores expedita qui distinctio iusto nobis? Odio laborum velit, labore illo.</p>
        <p>Quia explicabo, inventore. Ipsam veritatis aliquid minima voluptatum mollitia illum nostrum repudiandae ea itaque sint dolorem doloribus laudantium, architecto culpa velit reiciendis facere autem, maiores asperiores obcaecati harum dolore, quasi.</p>
        <p>Nemo quos laboriosam dignissimos velit, eligendi ullam autem saepe, soluta illo hic nulla facere atque aspernatur nihil vitae repellat qui, in numquam unde consequatur. Qui eligendi numquam nesciunt est dicta!</p>
        <p>Dicta necessitatibus inventore repellat iure, consequatur qui, consequuntur ea deleniti corrupti autem sequi magni accusamus eius at beatae ratione earum laborum in. Illo obcaecati eum amet laboriosam, consectetur iure aut.</p>
        <p>Repellendus nostrum assumenda eum voluptatem perspiciatis ducimus sint quasi rerum vero atque rem molestias quos velit nesciunt magnam reiciendis similique aliquid delectus, laborum minus nisi unde voluptatibus deserunt, ullam eos.</p>
        <p>Rem odio iste veritatis optio, ipsa accusamus aliquid numquam fugit doloremque nemo repellendus quas exercitationem dignissimos consequuntur cupiditate quisquam consequatur tempora aperiam repellat! Minima reiciendis delectus culpa expedita similique aliquid.</p>
        <p>Nemo ullam quae, odio quasi similique. Nesciunt officia, at excepturi quisquam, hic et dolore! Nostrum expedita dolore sunt culpa ratione placeat corrupti in id, odio, officiis inventore aut cumque dolorem?</p>
        <p>Reiciendis accusamus iusto, pariatur at veritatis maiores. Excepturi aspernatur provident, nam ab, nisi ex, in earum tempore voluptatibus, dolorem suscipit dolorum eius! Qui necessitatibus reiciendis numquam mollitia illum labore et!</p>
        <p>Distinctio odit sequi ipsum, necessitatibus cupiditate officiis nam non quaerat ratione magnam error nesciunt perspiciatis dolorem aut enim assumenda explicabo officia perferendis, mollitia aliquid quam, reiciendis nobis porro deleniti. Consequatur.</p>
        <p>Quisquam assumenda fuga, dignissimos eum. Illo illum recusandae blanditiis facere obcaecati. Perspiciatis optio unde tempore mollitia non laudantium nam quos enim aliquid facilis repudiandae, adipisci inventore ducimus nesciunt explicabo! Sapiente.</p>
        <p>Sed repudiandae vitae animi, molestiae aperiam maxime vel accusamus distinctio temporibus cum, maiores culpa magnam, deleniti error ad saepe dolorum quod! Esse similique reiciendis pariatur quia, quam suscipit eius. Cupiditate?</p>
        <p>Dolor qui repudiandae iusto ex, placeat ipsam mollitia harum repellat aliquam est itaque, et. Animi natus expedita, ullam esse sunt asperiores harum sint incidunt voluptatem praesentium dignissimos modi repellendus ut.</p>
        <p>Accusamus eveniet necessitatibus vitae id suscipit. Perspiciatis aliquam quisquam est minus voluptate maiores explicabo quos eligendi eaque maxime molestias quam, enim ducimus nobis ratione, dolorum repudiandae neque obcaecati doloremque harum?</p>
      </div>
    </div>
  </main>
  {% embed "@organisms/site/site-footer/site-footer.twig" %}
  {% endembed %}

  {% include "@organisms/global-search/global-search.twig" %}
</div>
{% include "@molecules/menus/mobile/_mobile-menu.twig"
  with {
    "mobile_menu_items": mobile_menu_items
  }
%}
{% if home_page %}</div>{% endif %}
