<div class="ms-demo">
  <div
      class="ms-demo-video-wrapper-mobile"
      style="background-image: url('/themes/custom/unitedrentals/templates/paragraphs/assets/laptop.png');">
    <div
      class="ms-demo-video-wrapper-mobile-right-cap"
      style="background-image: url('/themes/custom/unitedrentals/templates/paragraphs/assets/laptop-right-mobile.png');"></div>
    <iframe class="video-vimeo"
            src="https://player.vimeo.com/video/314590394?background=1&autoplay=1&loop=1&title=0&byline=0&portrait=0&dnt=1"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="ms-demo-description-wrapper">
    <div class="ms-demo-title-label">{{ content.field_step_number | field_value }}</div>
    <div class="ms-demo-title">{{ content.field_title | field_value }}</div>
    <div class="ms-demo-body">{{ content.field_copy | field_value }}</div>
  </div>
  <div class="ms-demo-video-wrapper-desktop">
    <iframe class="video-vimeo"
            src="{{ content.field_video_url | field_value }}?background=1&autoplay=1&loop=1&title=0&byline=0&portrait=0&dnt=1"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
