{{ attach_library('slab/reveal') }}
{{ attach_library('slab/grid-rays') }}

<section component-root="cta-bar" class="{{ content.field_background_color | field_value }} o-flex o-flex-col o-justify-center o-items-center ms-cta-tile o-px-40 o-relative">
  <div
      reveal
      reveal-direction="up"
      reveal-trigger="scroll"
      reveal-trigger-scroll-threshold="100"
      class="text-center o-flex o-flex-col o-justify-center o-items-center">
    <div class="sm:o-text-xlarge sm:o-leading-24 md:o-text-38 md:o-leading-48 o-mb-20 o-text-white o-font-bold o-tracking-wide">{{ content.field_title | field_value }}</div>
    <a href="{{ content.field_button_link.0['#url'] }}" class="o-button o-button-regular o-button-primary-alternative">{{ content.field_button_link.0['#title'] }}</a>
  </div>
</section>
