{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title_is_set = title|render|striptags|trim is not empty %}
{% set supertitle_is_set = super_title|render|striptags|trim is not empty %}
{% set subtitle_is_set = subtitle|render|striptags|trim is not empty %}
{% set content_is_set = content|render|striptags|trim is not empty %}
{% set cta_is_set = cta|render|striptags|trim is not empty %}

{# Check if any of our content is set #}
{% set no_content = title_is_set or supertitle_is_set or subtitle_is_set or content_is_set %}


{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div>
      <div>
        {% if no_content %}
          <div{{ content_attributes }}>
            {% if super_title_is_set %}<h3>{{ super_title }}</h3>{% endif %}
            <h2{{ title_attributes }}>{{ title }}</h2>
            {% if subtitle_is_set %}<h4>{{ subtitle }}</h4>{% endif %}
            {{ content }}
            {% if cta_is_set %}<div{{ cta_attributes }}>{{ cta }}</div>{% endif %}
          </div>
        {% endif %}

        <div{{ collection_attributes }}>{{ card_collection }}</div>
      </div>
    </div>
  </section>
{% endblock paragraph %}
