<div class="platform-account-reservation-details-jobsite">
  <div class="group-left">
    <p class="section_name">
      {{ platform_account_reservation_details_jobsite_label }}
    </p>
  </div>

  <div class="group-right">
    {# Edit link opens new area in Vue for editing a reservation. #}
    <div class="platform-account-reservation-details-jobsite__container">
      <div class="inner-column_five-column">
        <h3>{{ platform_account_reservation_details_jobsite_name }}</h3>
        <p>{{ platform_account_reservation_details_jobsite_address1 }}</p>
        <p>{{ platform_account_reservation_details_jobsite_city }}
          , {{ platform_account_reservation_details_jobsite_state }} {{ platform_account_reservation_details_jobsite_zip }}</p>
      </div>

      <div class="inner-column_five-column">
        <p class="label">
          {{ platform_account_reservation_details_jobsite_contact_label }}
        </p>
        <h4>Johnathan Smith</h4>
        <p>{{ platform_account_reservation_details_jobsite_phone }}</p>
        <a class="link link--alt link--more-link"
           href="mailto:{{ platform_account_reservation_details_jobsite_email }}">{{ platform_account_reservation_details_jobsite_email }}</a>
      </div>

      <div class="inner-column_edit_link">
        <a href="#">{{ platform_account_reservation_details_edit_link }}</a>
      </div>
    </div>
  </div>
</div>