<div class="platform-account-reservation-details-jobsite">
  <div class="group-left">
    <p class="section_name">
      {{ platform_account_reservation_details_jobsite_label }}
    </p>
  </div>

  <div class="group-right">
    {# Edit link opens new area in Vue for editing a reservation. #}
    <div class="platform-account-reservation-details-jobsite__container">
      <div class="inner-column_five-column">
        <h3>{{ platform_account_reservation_details_jobsite_name }}</h3>
        <p>{{ platform_account_reservation_details_jobsite_address1 }}</p>
        <p>{{ platform_account_reservation_details_jobsite_city }}
          , {{ platform_account_reservation_details_jobsite_state }} {{ platform_account_reservation_details_jobsite_zip }}</p>
      </div>
    </div>

    <div class="platform-account-reservation-details-jobsite__container">
      <p class="instructions">{{ platform_account_reservation_details_instructions_1 }} <a href="#">{{ platform_account_reservation_details_instructions_2 }}</a>. <strong>{{ platform_account_reservation_details_branch_manager }}</strong> {{ platform_account_reservation_details_branch_phone }}</p>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="form-item">
        <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">Contact Name</label>
        <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="First, Middle, Last">
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="form-item">
        <label for="edit-phone" class="form-item__label form-item__label--required form-item__label--textfield">Phone Number</label>
        <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-phone--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="(512) 555-1212">
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="form-item">
        <label for="edit-email" class="form-item__label form-item__label--required form-item__label--textfield">Email (optional)</label>
        <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-email--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="johnsmith@example.com">
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="form-item">
        <label for="textarea" class="form-item__label form-item__label--textfield">Delivery Instructions(optional)</label>
        <textarea class="form-item__textfield form-item__textarea"  rows="4" cols="67" placeholder="Enter your message here"></textarea>
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_first">
        <button class="button button--style-2 button--filled"  href="/">
          Save
        </button>
      </div>

      <div class="inner-column_first">
        <button class="button button--style-2 button--filled-reverse"  href="/">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>