<div class="platform-account-item-list-status">

  <div class="group-full">
    <span class="platform-account-list-item__item-name">
    {{ platform_account_reservation_list_item_item_name }}
      #{{ platform_account_reservation_list_item_reservation_number }}</span>
  </div>

  <div class="inner-column_small">
    <div class="platform-account-item-list-status__chip progress">
      {{ platform_account_reservation_list_item_reservation_status }}
    </div>
  </div>

  <div class="inner-column_small">
    <span class="label">Created</span>
    <span class="inner-label">{{ platform_account_reservation_list_item_created_date }}</span>
  </div>

  <div class="inner-column_small">
    <span class="label">End Date</span>
    <span class="inner-label">{{ platform_account_reservation_list_item_expire_date }}</span>
  </div>

  <div class="inner-column_small">
    <span class="label">Item(s)</span>
    <span class="inner-label">{{ platform_account_reservation_list_item_item_quantity }}</span>
  </div>

  <div class="inner-column_small">
    <span class="platform-account-list-item__item-price price">${{ platform_account_reservation_list_item_price }}</span>
  </div>

  <div class="group-full">
    <div class="platform-account-list-item__quick-view">
      <a href="#" class="quick-view-link">{{ platform_account_reservation_list_item_button_link_text }} <i class="icon icon-long-arrow-left"></i></a>
    </div>
  </div>
</div>
