<div class="platform-account-reservation-details-req-codes">
  <div class="group-left">
    {# Leave the group-left wrapper div even if there is no text to keep
    alignments consistent on the page. #}
  </div>

  <div class="group-right">
    <h4>{{ platform_account_reservation_details_req_codes_label }}</h4>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_left">
        <p class="inner-label">{{ platform_account_reservation_details_req_code_location_label }}</p>
        <p>{{ platform_account_reservation_details_req_code_location }}</p>
      </div>

      <div class="inner-column_middle">
        <p class="inner-label">
          {{ platform_account_reservation_details_req_code_cc_owner_label }}
        </p>
        <p>{{ platform_account_reservation_details_req_code_cc_owner }}</p>
      </div>

      <div class="inner-column_right">
        <p class="inner-label">
          {{ platform_account_reservation_details_req_code_ecc_label }}
        </p>
        <p>{{ platform_account_reservation_details_req_code_ecc }}</p>
      </div>
    </div>
  </div>
</div>
