<div class="platform-account-reservation-details-accounting-codes">
  <div class="group-left">
    {# Leave the group-left wrapper div even if there is no text to keep
    alignments consistent on the page. #}
  </div>

  <div class="group-right">
    <h4>{{ platform_account_reservation_details_accounting_codes_label }}</h4>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_left">
        <p class="inner-label">{{ platform_account_reservation_details_accounting_codes_start_date_label }}</p>
        <p>{{ platform_account_reservation_details_accounting_codes_start_date }}</p>
      </div>

      <div class="inner-column_middle">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_pm_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_pm }}</p>
      </div>

      <div class="inner-column_right">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_ecc_code_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_ecc_code }}</p>
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_left">
        <p class="inner-label">{{ platform_account_reservation_details_accounting_codes_days_rent_label }}</p>
        <p>{{ platform_account_reservation_details_accounting_codes_days_rent }}</p>
      </div>

      <div class="inner-column_middle">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_charge_number_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_charge_number }}</p>
      </div>

      <div class="inner-column_right">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_received_method_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_received_method }}</p>
      </div>
    </div>

    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_left">
        <p class="inner-label">{{ platform_account_reservation_details_accounting_codes_contractor_label }}</p>
        <p>{{ platform_account_reservation_details_accounting_codes_contractor }}</p>
      </div>

      <div class="inner-column_middle">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_percentage_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_percentage }}</p>
      </div>

      <div class="inner-column_right">
        <p class="inner-label">
          {{ platform_account_reservation_details_accounting_codes_rpp_label }}
        </p>
        <p>{{ platform_account_reservation_details_accounting_codes_rpp }}</p>
      </div>
    </div>
  </div>
</div>
