<div class="platform-account-reservation-details-status">
  <h6 class="breadcrumb__link">
    <a href="#">{{ platform_account_reservation_details_all_reservations }}</a>/{{ platform_account_reservation_details_reservations_label }} #{{ platform_account_reservation_details_reservation_number }}
  </h6>

  <h1>{{ platform_account_reservation_details_item_name }}
    #{{ platform_account_reservation_details_reservation_number }}</h1>

  <div class="group-left">
    <div class="platform-account-reservation-details-status__chip">
      {{ platform_account_reservation_details_reservation_status }}
    </div>
  </div>

  <div class="group-right">
    <div class="platform-account-reservation-details-status__container">
      <div class="inner-column_centered">
      <span class="label">
        {{ platform_account_reservation_details_account_label }}
      </span> {{ platform_account_reservation_details_account_name }}
    </div>

      <div class="inner-column_centered">
      <span class="label">
        {{ platform_account_reservation_details_account_number_label }}
      </span>
        {{ platform_account_reservation_details_account_number }}
    </div>
    </div>

    <div class="platform-account-reservation-details-status__container">

      <div class="inner-column_centered">
      <span class="label">
        {{ platform_account_reservation_details_created_label }}
      </span>
      {{ platform_account_reservation_details_created_date }}
    </div>

      <div class="inner-column_centered">
      <span class="label">
        {{ platform_account_reservation_details_item_quantity_label }}
      </span>
        {{ platform_account_reservation_details_item_quantity }}
    </div>
    </div>
  </div>
</div>