<div class="platform-account-reservation-details-delivery-pickup no-border">
  <div class="group-left">
    <p class="section_name">
      {{ platform_account_reservation_details_delivery_label }}
    </p>
  </div>

  <div class="group-right">
    <div class="platform-account-reservation-details-req-codes__container">
      <div class="inner-column_centered">
        <p class="label">
          {{ platform_account_reservation_details_ur_delivery_label }}
          <span>+ ${{ platform_account_reservation_details_ur_delivery_price }}</span>
        </p>
      </div>
      <div class="inner-column_centered">
        <p class="label">
          {{ platform_account_reservation_details_ur_delivery_date }}
          <span>{{ platform_account_reservation_details_ur_delivery_time }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="platform-account-reservation-details-delivery-pickup">
  <div class="group-left">
    <p class="section_name">
      {{ platform_account_reservation_details_pickup_label }}
    </p>
  </div>

  <div class="group-right">
      <div class="platform-account-reservation-details-req-codes__container">
        <div class="inner-column_centered">
          <p class="label">
            {{ platform_account_reservation_details_ur_pickup_label }}
            <span>+ ${{ platform_account_reservation_details_ur_delivery_pickup_price }}</span>
          </p>
        </div>
        <div class="inner-column_centered">
          <p class="label">
            {{ platform_account_reservation_details_ur_delivery_pickup_date }}
            <span>{{ platform_account_reservation_details_ur_delivery_pickup_time }}</span>
          </p>
        </div>
      </div>

    <div class="group-full">
      <p class="label">
        {{ platform_account_reservation_details_ur_delivery_pickup_notes_label }}</p>
      <p>{{ platform_account_reservation_details_ur_delivery_pickup_notes }}</p>
    </div>
    </div>
</div>
