<div class="sidebar-items">
  <div class="items">
    <span class="label">
      {{ platform_account_reservation_details_sidebar_item_label }}
    </span>
      <span class="price">
      {{ platform_account_reservation_details_sidebar_item_price }}
    </span>

    <span class="label">
      {{ platform_account_reservation_details_sidebar_ur_delivery_label }}
    </span>
      <span class="price">
      {{ platform_account_reservation_details_sidebar_del_pickup_price }}
    </span>

    <span class="label">
      {{ platform_account_reservation_details_sidebar_ur_pickup_label }}
    </span>
      <span class="price">
      {{ platform_account_reservation_details_sidebar_del_pickup_price }}
    </span>
  </div>

  <div class="totals">
    <span class="total-estimate">
      {{ platform_account_reservation_details_sidebar_total_estimates }}
    </span>
     <span class="total-price">
      {{ platform_account_reservation_details_sidebar_total_price }}
    </span>
  </div>
</div>