<div class="platform-account-reservation-details-item">
  <div class="group-left">
    <div class="cart__item">
      <div class="cart__img">
        <img height="44" width="44"
             src="https://kelex.local/sites/default/files/category/310/310-3450_0.jpg">
      </div>
    </div>
  </div>

  <div class="group-right">
    <div class="cart__details">
      <p class="cart__cat_class_code">{{ platform_account_reservation_details_cat_class }}</p>
      <p class="cart__details__name">{{ platform_account_reservation_details_item_name }}</p>
      <p class="cart__details__pricing">{{ platform_account_reservation_details_pricing }}</p>
      <div class="cart__details__content"><p><strong>{{ platform_account_reservation_details_quantity_label }}:</strong> {{ platform_account_reservation_details_quantity }}</p>
        <p><strong>{{ platform_account_reservation_details_duration_label }}:</strong> {{ platform_account_reservation_details_duration }}</p>
      </div>
    </div>
  </div>
</div>