<div class="platform-account-reservation-details-billing">
  <div class="group-left">
    <p class="section_name">
      {{ platform_account_reservation_details_billing_label }}
    </p>
  </div>


  <div class="group-right">
    <div class="group-full">
      <h4>{{ platform_account_reservation_details_billing_info_label }}</h4>
    </div>
    <div class="platform-account-reservation-details-billing__container">
      <div class="inner-column_centered">
        <p class="label">{{ platform_account_reservation_details_account_name_label }}</p>
        <p>{{ platform_account_reservation_details_account_name }}</p>
      </div>
      <div class="inner-column_centered">
        <p class="label">
          {{ platform_account_reservation_details_requestor_label }}
        </p>
        <p>{{ platform_account_reservation_details_requestor }}</p>
      </div>
    </div>

    <div class="platform-account-reservation-details-billing__container">
      <div class="inner-column_centered">
        <h4>{{ platform_account_reservation_details_account_number_label }}</h4>
        <p>{{ platform_account_reservation_details_account_number }}</p>
      </div>
      <div class="inner-column_centered">
        <p class="label">
          {{ platform_account_reservation_details_approver_label }}
        </p>
        <p>{{ platform_account_reservation_details_approver }}</p>
      </div>
    </div>
  </div>
</div>
