// -----------------------------------------------------------------------------
// Libraries/Region: Global search
// -----------------------------------------------------------------------------

$gs-offset: rem(100);
$search-bar-width: calc((100% - #{$gs-offset}) - (#{$header-logo-max} + 1rem));
$global-search-height: rem(182);

body.path-search .views-element-container .global-search .icon-search::before {
  content: icon-char(search);
}

body.path-search .views-element-container .global-search {
  animation-name: none;
  left: inherit;
  margin-left: 0;
  overflow: visible;
  right: inherit;
  top: rem($scale-25);
}

.global-search {
  animation-duration: $transition-base-time * 2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: vertical;
  animation-timing-function: ease-in-out;
  background-color: $color-bg-dark-secondary;
  height: $global-search-height;
  left: -$container-gutter-sm;
  overflow: hidden;
  padding: 0 $container-gutter-sm;
  position: absolute;
  right: -$container-gutter-sm;
  top: 100%;
  transition: $transition-base;
  z-index: 925;

  @include media($header-bp-desktop) {
    animation-name: horizontal;
    display: flex;
    flex-wrap: nowrap;
    height: inherit;
    left: inherit;
    padding: 0.5rem;
    right: rem(100);
    top: 50%;
    transform: translateY(-50%);
  }

  // when open
  &.jsa-open {
    overflow: visible;
  }

  // while closing
  &.jsa-closing {
    animation-duration: $transition-base-time * 2;
    animation-iteration-count: 1;
    animation-name: vertical2;
    height: 0;

    @include media($header-bp-desktop) {
      animation-duration: $transition-base-time * 2;
      animation-iteration-count: 1;
      animation-name: horizontal2;
      height: inherit;
    }

    // hide autocomplete when closing
    .location-autocomplete .suggestions,
    .global-search__search-results {
      opacity: 0;
    }
  }

  + .global-search {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  // submit button
  .global-search__button {
    @include btn(
      $style: primary-alternative
    );

    margin-top: 1rem;
    width: 100%;

    @include media($header-bp-desktop) {
      margin-top: 0;
      white-space: nowrap;
      width: inherit;
    }
  }

  // x button
  .global-search__close {
    @include btn-reset();
    margin-left: 1rem;
  }

  .global-search__close--text {
    display: none;
  }

  .global-search__close--icon {
    @include icon (
      $filename: close,
      $size: $icon-size-regular
    ) {
      color: $color-text-reverse;
    }
  }

  // Both input fields ------------------------------------------------
  .global-search__field {
    margin-top: 1rem;
    position: relative;

    @include media($header-bp-desktop) {
      margin-right: 1rem;
      margin-top: 0;
    }

    label {
      @include visually-hidden();
    }

    input {
      margin: 0;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    .icon {
      color: $color-brand-primary;
      left: rem($gap-b);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    // clear shared
    .global-search__clear,
    .location-autocomplete .clearspan {
      @include type-preset(20);

      color: $color-text-subtle;
      cursor: pointer;
      position: absolute;
      right: rem(10);
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }

    // auto complete shared
    .location-autocomplete .suggestions,
    .global-search__search-results {
      @include shadow(
        $depth: two
      );

      background: $color-bg-light-primary;
      border-radius: 0 0 $border-radius-med $border-radius-med;
      color: $color-text;
      left: 0;
      position: absolute;
      right: 0;
      text-align: left;
      top: calc(100% - #{$border-radius-med});
      width: 100%;
      z-index: 1;

      @include media ('>=s') {
        height: auto;
        max-height: 100vh;
      }
    }
  }

  // Location ------------------------------------------------
  .global-search__location,
  .global-search__location + div {
    flex: 1 1 auto;
  }

  .global-search__location {
    + div {
      @include media($header-bp-desktop) {
        display: flex;
        flex-wrap: nowrap;
      }

      > .global-search__field {
        flex: 1 1 auto;
      }
    }

    .icon-map-marker {
      @include icon(
        $filename: location,
        $size: $icon-size-small
      );
    }

    // auto complete
    .location-autocomplete .suggestions {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: rem($scale-4);

      li {
        cursor: pointer;
        padding-bottom: rem($scale-3);

        &:last-of-type {
          padding-bottom: 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      // class name is from old code to be converted
      .searchText { // sass-lint:disable-line class-name-format
        color: $color-blue-lowlight;
        font-weight: $font-weight-bold;
      }

      .selected {
        color: $color-blue-lowlight;
        font-weight: $font-weight-bold;
        text-decoration: underline;
      }

      p,
      .recent-searches,
      .top-categories-list {
        padding-left: rem($scale-4);
        padding-right: rem($scale-4);
      }
    }
  }

  // Search ------------------------------------------------
  .global-search__search-box {
    .icon-search {
      @include icon(
        $filename: search,
        $size: $icon-size-small
      );
    }

    // auto complete
    .global-search__search-results {
      display: none;
      overflow: auto;
    }

    &.show-results .global-search__search-results {
      display: block;
    }

    .global-search__results-group {
      margin-top: rem($gap-c);

      &:first-of-type {
        margin-top: 0;
      }

      a {
        color: inherit;
      }
    }

    .global-search__results-group--label {
      @include type-preset(20);

      align-items: center;
      background-color: $color-bg-light-tertiary;
      color: $color-text-subtle;
      display: flex;
      justify-content: space-between;
      padding: rem($gap-a) rem($gap-c);
      text-transform: uppercase;
    }

    .global-search__results-group--label span {
      @include pill(
        $color: secondary
      );

      min-width: rem(30);
      text-align: center;
    }

    .global-search__results-objects {
      padding: 0 rem($gap-c);
    }

    .global-search__results-object {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem($gap-b);

      &:first-child {
        margin-top: rem($gap-b);
      }

      a {
        color: inherit;
      }
    }
  }
}

@keyframes horizontal {
  from {
    width: 0;
  }

  to {
    width: $search-bar-width;
  }
}

@keyframes horizontal2 {
  from {
    width: $search-bar-width;
  }

  to {
    width: 0;
  }
}

@keyframes vertical {
  from {
    max-height: 0;
  }

  to {
    max-height: $global-search-height;
  }
}

@keyframes vertical2 {
  from {
    max-height: $global-search-height;
  }

  to {
    max-height: 0;
  }
}
