@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: Second
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';
@import 'global-search';

$gs-offset: rem(100);
$search-bar-width: calc((100% - #{$gs-offset}) - (#{$header-logo-max} + 1rem));
$global-search-height: rem(182);

/**
 * Region
 */
.region-header-second {
  position: relative;

  .block-menu-blockmain {
    @include media($header-bp-mobile) {
      display: none;
    }
  }

  .menu-item--depth-0 {
    @include on-event() {
      .menu-item__link--depth-0::after {
        background-color: $color-grey-11;
      }
    }

    &.menu-item--expanded {
      .menu-item__link--depth-0 {
        background-color: $color-bg-light-primary;
        color: $color-text;
      }
    }
  }

  // hide the tab expand button on this child level
  .menu-item--depth-1 {
    .menu-item__button {
      display: none;
    }
  }

  // LINK -----------------------------------------------------


  .menu-item__link.menu-item__link--depth-0[href^='https']::after,
  .menu-item__link.menu-item__link--depth-0[href^='http']::after {
    content: '';
    display: block;
    margin-top: rem($gap-b);
    position: static;
  }

  .menu-item__link--depth-0 {
    height: 100%;
    padding: 0.85714rem rem($gap-b) 0;

    @include media('>=m') {
      padding: 0.85714rem rem($gap-c) 0;
    }

    &::after {
      background-color: $color-transparent;
      content: '';
      display: block;
      height: $border-width-thick;
      margin-top: rem($gap-b);
      transition: $transition-base;
      width: 100%;
      z-index: -1;
    }

    &[href*='https://totalcontrol.ur.com']::after {
      content: '' ;
      margin-top: rem($gap-b);
      position: static;
      transform: none;
    }
  }

  .link-btn {
    text-decoration: none;
    transition: $transition-base;

    @include on-event(
      $visited: true
    ) {
      color: $color-text-reverse;
      text-decoration: none;
      transform: scale(1.15);
    }

    &::before {
      font-size: $icon-size-regular;
      margin: 0;
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &.icon-before-shopping-cart {
      position: relative;
    }

    .pill-count {
      align-items: center;
      background-color: $color-red;
      border: $border-width-regular solid;
      border-radius: 100%;
      bottom: rem(13);
      box-shadow: 0 0 0 $border-width-regular $color-bg-dark-secondary;
      color: $color-text-reverse;
      display: flex;
      font-size: rem($scale-4);
      font-variant-numeric: tabular-nums;
      height: 1em;
      justify-content: center;
      left: rem(13);
      opacity: 0;
      padding: 30%;
      position: absolute;
      visibility: hidden;
      width: 1em;

      @include bs-ie() {
        padding: 0;
      }

      .pill-count__total {
        @include type-preset(
          $version: 10,
          $type: header
        );

        display: none;

      }

      &.pill-count--single,
      &.pill-count--double,
      &.pill-count--triple {
        opacity: 1;
        visibility: visible;
      }

      &.pill-count--single,
      &.pill-count--double {
        .pill-count__total {
          display: inline;
        }
      }

      &.pill-count--triple {
        .pill-count__total {
          display: none;
        }
      }

      // hide if none
      &:empty,
      &.pill-count--zero {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // expanding global search styles ------------------------------------------------------------------------------------
  .global-search__location {
    border-radius: $border-radius-med $border-radius-med 0 0;

    @include media('>=s') {
      border-radius: $border-radius-med 0 0 $border-radius-med;
    }
  }

  .global-search {
    background: $color-bg-dark-secondary;
    z-index: 945; // places expanding global search in front of main nav, but behind user account menu

    .global-search__location .input-group .input-wrapper input {
      border-radius: $border-radius-med;

      @include media('>=s') {
        border-radius: $border-radius-med 0 0 $border-radius-med;
      }
    }

    .global-search__search-box input {
      border-radius: $border-radius-med;

      @include media('>=s') {
        border-radius: 0;
      }
    }

    .global-search__button {
      border-radius: $border-radius-med;

      @include media('>=s') {
        border-radius: 0 $border-radius-med $border-radius-med 0;
      }
    }
  }
}

// search icon button styles -------------------------------------------------------------------------------------------
.path-frontpage .region-header-second .search-buttons,
.path-search .region-header-second .search-buttons {
  display: none;
}

.region-header-second .search-buttons {
  @include btn-reset();
  @include gap(
    $property: margin-right,
    $sizes: $gap-e
  );

  font-size: $icon-size-regular;
  height: 1em;
  position: relative;
  width: 1em;

  .search-buttons__btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon-before-close {
    display: none;
    visibility: hidden;
  }

  &.jsa-active {
    .icon-before-search {
      display: none;
      visibility: hidden;
    }

    .icon-before-close {
      display: block;
      visibility: visible;
    }
  }
}
