@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: First
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Region
 */
.user-logged-in .region-header-first .block-menu-blockaccount .menu {
  margin-top: rem($gap-a);
}

.region-header-first .block-menu-blockaccount {
  @include media($header-bp-mobile) {
    display: none;
  }

  @include media($header-bp-desktop) {
    display: block;
  }

  // MENU ------------------------------------------------
  .menu {
    justify-content: flex-end;
  }

  // ITEM ------------------------------------------------
  .menu-item--depth-0 {
    cursor: pointer;
    margin-left: rem($gap-e);

    &:first-of-type {
      margin-left: 0;
    }

    .menu-item__link,
    .menu-item__button--text {
      @include on-event() {
        text-decoration: underline;
      }

      @include type-preset(
        $version: 30
      );

      line-height: 1;
    }

    &.menu-item--expanded .menu-item__link span::after,
    .menu-item__button--text[aria-expanded='true'] span::after {
      transform: rotate(180deg);
    }
  }

  // ITEM - current page --------------------------------------
  .menu-item--depth-0.menu-item--in-active-trail {
    .menu-item__link--depth-0::after {
      display: none;
    }
  }

  // LINK - phone -----------------------------------------------------
  .menu-item__link[href*='tel:'] {
    @include icon(
      $filename: phone,
      $size: $icon-size-xxsmall);

    align-items: center;
    display: flex;
  }

  // LINK - user -----------------------------------------------------
  .menu-item__link--depth-0[href*='/user'],
  .menu-item__link--depth-0[href*='/saml'] {
    height: 100%;
    padding: 0;

    span {
      @include icon(
        $filename: account-circle,
        $size: $icon-size-xsmall,
        $insert: before
      ) {
        display: inline-block;
        padding: 0;
        transition: $transition-base;
      }

      align-items: center;
      display: flex;
      height: 100%;
      padding: 0;
    }

    // Disable being able click username and log out only when user is logged in
    .user-logged-in & {
      pointer-events: none;
    }
  }

  // LINK - user logged in -----------------------------------------------------
  .menu-item__link--depth-0[href*='/user/logout'] {
    span {
      @include icon(
        $filename: arrow-down,
        $size: $icon-size-xxsmall,
        $insert: after
      ) {
        display: inline-block;
        margin: 0;
        padding: 0;
        transition: $transition-base;
      }
    }
  }

  // LINK - user logged out -----------------------------------------------------
  .menu-item__link--depth-0[href*='/user/login'],
  .menu-item__link--depth-0[href*='/saml_login'] {
    @include btn-style(
      $style: primary-alternative
    );

    border-radius: 0 0 $border-radius-med $border-radius-med;
    font-weight: $font-weight-bold;
    padding: rem(6) rem($gap-c);

    &::after {
      display: none;
    }
  }

  // LINK - translation -----------------------------------------------------
  .menu-item__button-title--translation {
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-xxsmall,
      $insert: after
    ) {
      display: inline-block;
      margin: 0;
      padding: 0;
      transition: $transition-base;
    }

    align-items: center;
    display: flex;
    padding: 0;
  }

  // LINK - account -----------------------------------------------------
  .menu-item__link--account {
    @include btn-reset();
    align-items: flex-start;
    color: $color-text-reverse;
    display: flex;
    max-width: 100%;
    white-space: nowrap;
    width: 100%;
  }

  // PANEL ------------------------------------------------
  .menu-item__panel {
    z-index: 2;
  }

  // PANEL ITEM ------------------------------------------------
  .menu-item--depth-1.menu-item--active {
    display: none;
  }
}
