@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: First AND Second AND Mobile
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Regions
 */
.region-header-first,
.region-header-second,
.region-mobile-menu,
.region-footer-second {
  color: $color-text-reverse;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.region-header-first,
.region-header-second,
.region-mobile-menu,
.region-footer-second,
.block-menu-block.secondary-nav {
  .region-header-second__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: rem($scale-5) 0;
  }

  .block-menu-block {
    flex: 1;
    z-index: 940;
  }

  .link-btn:empty {
    line-height: 1;
    padding: 0;
  }

  .menu {
    margin: 0;
  }

  .menu-item {
    list-style: none;
    margin: 0;
    padding-top: 0;
  }

  .menu-item__panel {
    color: $color-text;
    display: none;
  }

  .menu-item__link {
    display: block;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &[href^='https'],
    &[href^='http'],
    &[href^='www'],
    &[href*='/user/login'] {
      @include icon(
        $filename: long-arrow-right,
        $size: $icon-size-xxsmall,
        $insert: after) {

        color: $color-orange;
        margin: 0;
        position: absolute;
        right: $container-gutter-sm + 0.4rem;
        top: 50%;
        transform: translateY(-50%);
      }

      position: relative;
    }

    &.menu-item__link--depth-0,
    &.menu-item__link--depth-1,
    &.menu-item__link--depth-2 {
      white-space: nowrap;
    }
  }

  span.menu-item__link {
    cursor: default;
  }

  .menu-item__button[aria-expanded='true'] .menu-item__button-collapse,
  .menu-item__button[aria-expanded='false'] .menu-item__button-expand {
    display: inline-block;
  }

  .menu-item__button[aria-expanded='false'] .menu-item__button-collapse,
  .menu-item__button[aria-expanded='true'] .menu-item__button-expand {
    display: none;
  }

  .menu-item__button[aria-expanded='true'] + .menu-item__panel {
    display: block;

    .menu-item__panel-inner > * {
      animation-direction: normal;
      opacity: 1;
    }
  }
}

.region-mobile-menu,
.region-header-second {
  .menu-item__panel--depth-1 {
    display: none;
  }

  .menu-item__link--depth-0[href*='/manage'] ~ .menu-item__panel {
    .menu-item--depth-1.menu-item--has-children {
      border-top: $border-width-light solid $color-utility-border;
      margin-top: rem($gap-b);
      padding-top: rem($gap-b);

      @include media($header-bp-desktop) {
        padding-top: 0;
      }
    }

    .menu-item__panel--depth-1 {
      box-shadow: inherit;
      margin-top: rem($gap-b);
      position: relative;

      @include media($header-bp-desktop) {
        display: block;
        margin-top: 0;
      }
    }
  }

  .block-menu-blockmain span.menu-item__link--depth-1 {
    color: $color-text-subtle;
    font-weight: $font-weight-regular;

    @include on-event() {
      background-color: transparent;
      text-decoration: none;
    }

    @include media($header-bp-desktop) {
      padding-top: rem($gap-c);
    }
  }
}
