@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: First AND Second
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Variables
 */
$header-bp-desktop: '>=s';
$header-bp-mobile: '<s';

/**
 * Regions
 */
.region-header-first,
.region-header-second {
  .block-menu-block {
    .menu-item__panel {
      background-color: $color-bg-light-primary;
    }
  }
}

.region-header-first .block-menu-blockaccount,
.region-header-second .block-menu-blockmain,
.block-menu-block.secondary-nav {
  @include media($header-bp-desktop) {
    // MENU -----------------------------------------------------
    .menu--depth-0 {
      display: flex;
    }

    // ITEM -----------------------------------------------------
    .menu-item--depth-0 {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
    }

    // LINK -----------------------------------------------------
    .menu-item__link--depth-0 {
      color: $color-text-reverse;
      padding-left: rem($gap-b);
      padding-right: rem($gap-b);
      text-align: center;
      transition: none;

      @include media('>=m') {
        padding-left: rem($gap-c);
        padding-right: rem($gap-c);
      }

      &:hover {
        text-decoration: none;
      }
    }

    .mobile-only {
      @include media('>=s') {
        display: none;
      }
    }

    // BUTTON ---------------------------------------------------
    .menu-item__button {
      @include btn-reset();
      @include visually-hidden();
      background-color: $color-bg-light-primary;
      color: $color-text;
      z-index: 1;

      &:focus {
        @include visually-hidden-reset();
      }

      span {
        padding: rem($gap-b);
      }

      span:not(.menu-item__button-title) {
        @include type-preset(
          $version: 10
        );

        color: $color-text;
        white-space: nowrap;
      }
    }

    // BUTTON - with text ---------------------------------------------------
    .menu-item__button.menu-item__button--text {
      @include visually-hidden-reset();

      background-color: transparent;
      position: relative;

      &:hover {
        background-color: transparent;
      }

      span {
        color: $color-text-reverse;
        padding-left: 0;
      }

      span.menu-item__button-expand,
      span.menu-item__button-collapse {
        background-color: $color-bg-light-tertiary;
        color: $color-text;
        padding: rem($gap-b);
      }

      &:focus {
        span.menu-item__button-expand,
        span.menu-item__button-collapse {
          @include visually-hidden-reset();
          left: 0;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      span.menu-item__button-expand,
      span.menu-item__button-collapse {
        @include visually-hidden;
      }
    }

    // ITEM - current page --------------------------------------
    .menu-item--depth-0.menu-item--in-active-trail {
      .menu-item__link--depth-0::after {
        background-color: $color-brand-secondary;
      }
    }

    // PANEL ----------------------------------------------------
    .menu-item__panel {
      @include shadow(two);
      left: 0;
      min-width: 100%;
      padding: rem($gap-a) 0 rem($gap-b);
      position: absolute;
      top: 100%;
      z-index: 1;
    }

    // PANEL ITEM ------------------------------------------------
    .menu-item--depth-1,
    .menu-item--depth-2 {
      position: relative;
    }

    // PANEL LINK ------------------------------------------------
    .menu-item__link--depth-1,
    .menu-item__link--depth-2 {
      color: $color-text;
      display: block;
      padding: rem($gap-b) rem($gap-c);
      transition: background-color $transition-base-time-style;

      &:hover,
      &:focus {
        background-color: $color-bg-light-tertiary;
        text-decoration: underline;
      }

      &[href^='https'],
      &[href^='http'],
      &[href^='www'],
      &[href*='/user/login'] {
        padding-right: 3rem;
      }
    }
  }
}
