@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: First
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

$drawer-width: 76vw;

/**
 * Region
 */
.region-mobile-menu {
  @include media('>=s') {
    display: none;
  }

  &::after {
    @include trbl();
    background: $scrim-65;
    content: '';
    opacity: 0;
    transition: $transition-base;
    z-index: -1;
  }

  // mobile menu branding
  .block-system-branding-block {
    background-color: $color-bg-dark-secondary;
    margin-bottom: rem($gap-b);
    padding: rem($scale-5) $container-gutter-sm;
  }

  .block-system-branding-block__content {
    margin-bottom: rem(2);
  }
}

// DRAWER ------------------------------------------------
.region-mobile-menu__content {
  background-color: $color-bg-light-primary;
  bottom: 0;
  left: -$drawer-width;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: $transition-base;
  width: $drawer-width;
  z-index: -1;
}

// DRAWER - overhang ------------------------------------------------
.region-header-second,
.region:not(.region-mobile-menu) {
  transition: transform $transition-base-time $transition-base-style;
}

.jsa-mobile-menu-open {
  .region-header-second,
  .region:not(.region-mobile-menu),
  .component-hero {
    transform: translateX($drawer-width);
  }
}

.jsa-mobile-menu-open .region-mobile-menu {
  &::after {
    opacity: 1;
    z-index: 300;
  }

  .region-mobile-menu__content {
    left: 0;
    z-index: 400;
  }
}

// LOGGED IN OFFSET ------------------------------------------------
.user-logged-in {
  // menu offset for admin toolbar
  &.toolbar-fixed .region-mobile-menu__content {
    top: $admin-toolbar;
  }

  // menu offset for if the tray is open horizontally
  &.toolbar-horizontal.toolbar-tray-open .region-mobile-menu__content {
    top: $admin-toolbar-and-tray-horizontal;
  }

  // menu offset for if the tray is open vertically
  &.toolbar-vertical.toolbar-tray-open.jsa-styleguide-menu--open .region-mobile-menu__content {
    left: $admin-tray-vertical;
  }
}

// BLOCK MENU - all -----------------------------------------------------
.region-mobile-menu .block-menu-block {
  flex: none;
  padding: 0;

  // Divider between different menus
  &::after {
    background-color: $color-bg-light-tertiary;
    content: '';
    display: block;
    height: $border-width-thick;
    margin: rem($gap-b) auto;
    width: calc(100% - (#{$container-gutter-sm} * 2));
  }

  &:last-of-type::after {
    display: none;
  }

  // ITEM -----------------------------------------------------
  .menu-item {
    margin: 0;

    &.menu-item--has-children {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // LINK -----------------------------------------------------
  .menu-item__link {
    @include type-preset(50);

    align-items: center;
    color: $color-text;
    display: flex;
    flex: 1;
    font-weight: $font-weight-bold;
    justify-content: space-between;
    padding: rem($scale-3) rem($gap-c);
    position: relative;
    z-index: 1;

    &::after {
      font-size: $icon-size-xsmall;
      margin-right: rem(-2);
    }
  }

  .menu-item__link--depth-0 {
    padding: rem($scale-3) $container-gutter-sm;
    text-align: left;
    white-space: normal;
  }

  // BUTTON ---------------------------------------------------
  .menu-item__button {
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-small,
      $insert: after
    ) {
      color: $color-utility-attention;
      display: inline-block;
      margin: 0;
      padding: 0 $container-gutter-sm;
      position: relative;
      top: rem(2);
      transition: $transition-base;
    }

    align-items: center;
    background: 0;
    border: 0;
    display: flex;
    flex: 0;
    justify-content: flex-end;
    line-height: 1;
    padding: rem($gap-b) 0;
    position: absolute;
    width: 100%;
    z-index: 1;

    span.menu-item__button-expand,
    span.menu-item__button-collapse {
      @include visually-hidden;
    }

    &[aria-expanded='true']::after {
      transform: rotate(180deg);
    }
  }

  .menu-item__button--text {
    display: flex;
    flex: auto;
    justify-content: space-between;
    margin-left: $container-gutter-sm;

    span {
      padding-left: 0;
    }
  }

  // PANEL ----------------------------------------------------
  .menu-item__panel {
    flex: none;
    margin-top: 0;
    width: 100%;
  }

  // PANEL LINK ------------------------------------------------
  .menu-item__panel--depth-0 > .menu-item__link--depth-0,
  .menu-item__link--depth-1,
  .menu-item__link--depth-2 {
    font-weight: $font-weight-regular;
    padding-left: $container-gutter-sm * 2;
  }
}

// BLOCK MENU - account -----------------------------------------------------
.region-mobile-menu .block-menu-block.block-menu-blockaccount {
  @include glyph-bars(
    $type: wide,
    $align: center
  );

  &::after {
    background-color: $color-bg-light-tertiary;
  }

  // MENU -----------------------------------------------------
  .menu--depth-0 {
    display: flex;
    flex-direction: column-reverse;
  }

  // ITEM ------------------------------------------------
  .menu-item--depth-0 {
    color: $color-text;

    .menu-item__button {
      line-height: 1.43; // match account circle height so toggle btn covers link
    }

    .menu-item__panel .menu-item__link {
      color: $color-grey-38;
    }

    .menu-item__link[href*='/user'] span {
      @include icon(
        $filename: account-circle,
        $size: $icon-size-regular,
        $insert: before
      ) {
        display: inline-block;
        padding: 0;
        transition: $transition-base;
      }

      align-items: center;
      color: $color-grey-38;
      display: flex;
    }

    .menu-item__button-title--translation {
      @include icon(
        $filename: language,
        $size: $icon-size-small,
        $insert: before
      ) {
        display: inline-block;
        padding: 0;
        transition: $transition-base;
      }

      align-items: center;
      color: $color-grey-38;
      display: flex;
    }

    .menu-item__link--account {
      @include btn-reset();
      @include icon(
        $filename: rental-account,
        $size: $icon-size-small,
        $insert: before
      ) {
        display: inline-block;
        padding: 0;
        transition: $transition-base;
      }

      @include icon(
        $filename: long-arrow-right,
        $size: $icon-size-xsmall,
        $insert: after) {

        color: $color-orange;
        margin: 0 rem(-2) 0 0;
        position: absolute;
        right: $container-gutter-sm + 0.4rem;
        top: 50%;
        transform: translateY(-50%);
      }

      align-items: flex-start;
      color: $color-grey-38;
      display: flex;
      justify-content: flex-start;
      max-width: 100%;
      padding: rem($gap-b) $container-gutter-sm;
      width: 100%;

      > div {
        padding-top: 0.275em;
        width: 100%;
      }

      .account-name,
      .account-id {
        display: block;
        text-align: left;
        width: 100%;
      }

      .account-divider {
        display: none;
      }

      .account-name {
        @include single-line-clamp();
        max-width: calc(100% - (#{$icon-size-small} * 3));
      }
    }
  }

  // PANEL ITEM ------------------------------------------------
  .menu-item--depth-1.menu-item--active,
  .menu-item--depth-2.menu-item--active {
    display: none;
  }

  // LINK -----------------------------------------------------
  .menu-item__link {
    @include type-preset(
      $version: 40
    );
  }

  .menu-item__link--depth-0 {
    font-weight: $font-weight-regular;
  }

  .menu-item__link--depth-1,
  .menu-item__link--depth-2 {
    padding-left: rem($scale-10);
  }

  // language dropdown btn is not a link and does not need to be absolutely positioned
  // eslint-disable-next-line
  .menu--depth-0 #mobile-account-menu-item-1.menu-item--depth-0.menu-item--has-children .menu-item__button {
    position: relative;
  }
}

// BLOCK MENU - main -----------------------------------------------------
.region-mobile-menu .block-menu-block.block-menu-blockmain {
  // MENU -----------------------------------------------------
  .menu--depth-0 {
     padding: rem($gap-b) 0;
   }

  .menu--depth-1 {

    .menu-item--has-children {
      .menu-item__button::after {
        color: $color-text;
      }
    }

    .menu-item__panel--depth-1 {
      border: 0;
      padding-left: rem($gap-c);

      .menu-item__link--depth-1,
      .menu--depth-2 .menu-item--depth-2 .menu-item__link--depth-2 {
        @include type-preset(
          $version: 40
        );
      }
    }
  }

  // ITEM ------------------------------------------------
  .menu-item--depth-0 {
    > button::after {
      font-size: $icon-size-regular;
      position: relative;
      top: rem(2);
    }
  }

  // extra padding for company > our careers with two icons
  .menu-item--depth-1.menu-item--has-children > .menu-item__link--depth-1::after {
    padding-right: rem($scale-12);
  }

  // PANEL ----------------------------------------------------
  .menu-item__panel {
    background-color: $color-bg-light-tertiary;
    border: $border-width-light solid $color-utility-border;
    border-left: 0 none;
    border-right: 0 none;
    padding: rem($gap-b) 0;
  }

  .menu-item__panel--depth-1 {
    border-bottom: 0 none;
  }
}
