@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: Toggle
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

/**
 * Variables
 */
$header-bp-desktop: '>=s';
$header-bp-mobile: '<s';

.region-header-second,
.region-mobile-menu {
  .block-menu__toggle {
    @include btn-reset();
    opacity: 1;
    transition: opacity $transition-base-time-style;

    @include media($header-bp-desktop) {
      display: none;
    }

    svg {
      display: block;
      height: rem($scale-7);
      transition: $transition-base;
      width: unset;

      rect {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg) scale(1);
        transition: $transition-base;
      }
    }

    &:focus {
      outline: 0;

      svg {
        outline: -webkit-focus-ring-color auto rem(2);
        outline: $color-brand-primary auto rem(2);
      }
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  .block-menu__toggle[aria-expanded='true'] {
    svg {
      &:focus {
        outline: $color-brand-primary auto rem(2);
      }

      rect {
        fill: $color-text-reverse;
      }

      rect:nth-child(1) {
        transform: translate(9%, -8%) rotate(45deg) scale(1.2);
      }

      rect:nth-child(2) {
        opacity: 0;
      }

      rect:nth-child(3) {
        transform: translate(-36%, 17%) rotate(-45deg) scale(1.2);
      }
    }

    &:focus {
      rect:nth-child(2) {
        outline: none;
      }
    }
  }
}

.region-mobile-menu {
  .block-menu__toggle {
    font-size: $icon-size-regular;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: rem($scale-3);
    top: rem($scale-5);
    z-index: 500;
  }
}

.jsa-mobile-menu-open {
  .region-header-second .block-menu__toggle {
    opacity: 0;
  }

  .region-mobile-menu .block-menu__toggle {
    opacity: 1;
  }
}
