<template>
  <workplace-widget
    :loading="equipmentOnRentRequestsPending"
    :tooltip="pickupTooltip"
    :dataGroups="pickupDataGroups"
    :timeSinceUpdate="timeOfCall"
    :title="$i18n('dashboard.equipmentPickup')">
    <jobsite-map
      :placeName="'equipment-pickup'"
      :equipmentStatuses="pickupStatuses"
      :noEquipmentMessage="$i18n('dashboard.zeroPickupMessage')"
      :totalCounts="totalCounts"
      :clusters="pickupClusters" />
  </workplace-widget>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { mapState, mapGetters } from 'vuex';
  import {
    WorkplaceEquipment,
    WorkplaceEquipmentJobsiteClusterWithMarkers,
    WorkplacePredefinedRoutes,
    WorkplaceEquipmentStatusId,
  } from '@/lib/workplace';
  import { StatusUtils } from '@/lib/statuses';
  import types from '@/store/types';
  import { WorkplaceState } from '@/store/module.workplace';

  import DataIsValueOfZero from '@/components/workplace/dashboard/widgets/data-is-value-of-zero.vue';
  import JobsiteMap from '@/components/workplace/dashboard/widgets/jobsite-map.vue';
  import NoDataAvailable from '@/components/workplace/dashboard/widgets/no-data-available.vue';
  import WidgetDataGroup from '@/components/workplace/dashboard/widgets/widget-data-group.vue';
  import WorkplaceWidget from '@/components/workplace/dashboard/widgets/workplace-widget.vue';

  export default Vue.extend({
    name: 'equipmentPickup',
    components: {
      DataIsValueOfZero,
      JobsiteMap,
      NoDataAvailable,
      WidgetDataGroup,
      WorkplaceWidget,
    },
    computed: {
      ...mapState<{ workplace: WorkplaceState }>({
        timeOfCall: state => state.workplace.timeOfCall || Date.now(),
      }),
      ...mapGetters({
        equipment: types.workplace.equipmentForCurrentAccount,
        equipmentOnRentRequestsPending: types.workplace.equipmentOnRentRequestsPending,
      }),
      pickupClusters(): WorkplaceEquipmentJobsiteClusterWithMarkers[] {
        const getter = types.workplace.equipmentLocation.jobsiteMapMarkersFromStatuses;
        const clusters: WorkplaceEquipmentJobsiteClusterWithMarkers[] = this.$store.getters[getter](this.pickupStatuses);

        const all = [...this.pickupEquipment, ...this.advancedEquipment].map(eqp => {
          return eqp.jobsite.id;
        });

        const out = clusters.filter(marker => {
          return all.includes(marker.jobsite.id);
        });

        return out;
      },
      pickupStatuses(): WorkplaceEquipmentStatusId[] {
        return [
          WorkplaceEquipmentStatusId.AdvancedPickup,
          WorkplaceEquipmentStatusId.PickupRequested,
        ];
      },
      advancedEquipment(): WorkplaceEquipment[] {
        // Reserved for Delivery
        const out = StatusUtils.selectItemsWithStatuses<WorkplaceEquipment>(
          [ WorkplaceEquipmentStatusId.AdvancedPickup ],
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );

        return out;
      },
      pickupEquipment(): WorkplaceEquipment[] {
        // Reserved for Branch Pickup
        return StatusUtils.selectItemsWithStatuses<WorkplaceEquipment>(
          [ WorkplaceEquipmentStatusId.PickupRequested ],
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );
      },
      pickupTooltip(): any {
        return this.$i18n('dashboard.pickupCount', {
          '@count': this.pickupEquipment.length,
        });
      },
      pickupDataGroups(): any[] {
        const advancedEquipmentCount = this.advancedEquipment.reduce((sum, { quantityPickedUp }) => sum + quantityPickedUp, 0);
        const pickupEquipmentCount = this.pickupEquipment.reduce((sum, { quantityPickedUp }) => sum + quantityPickedUp, 0);
        return [
          {
            title: this.$i18n('dashboard.advancedPickup'),
            path: WorkplacePredefinedRoutes.pickupAdvanced,
            count: advancedEquipmentCount,
          },
          {
            title: this.$i18n('dashboard.pickupRequested'),
            path: WorkplacePredefinedRoutes.pickupRequested,
            count: pickupEquipmentCount,
          },
        ];
      },
      totalCounts() {
        return this.pickupDataGroups.reduce((count, dataGroup) => count + dataGroup.count, 0);
      },
    },
  });

</script>
