<template>
  <workplace-widget
    :style="myStyle"
    :loading="equipmentOnRentRequestsPending"
    :tooltip="dueTooltip"
    :dataGroups="dueDataGroups"
    :timeSinceUpdate="timeOfCall"
    :title="$i18n('dashboard.equipmentDue')">
    <transition name="tbSlideFade" tag="div">
      <div v-if="dueCount > 0">
        <bar-chart
          :chart-data="equipmentDueData"
          :options="equipmentDueOptions"
          :style="myStyle"
        />
      </div>
      <div v-else>
        <data-is-value-of-zero
          :title="noEquipmentMessage" />
      </div>
    </transition>
  </workplace-widget>
</template>

<script>
  import { mapState, mapGetters } from 'vuex';
  import * as moment from 'moment';
  import {
    WorkplacePredefinedRoutes,
    WorkplaceEquipmentStatusId,
  } from '@/lib/workplace';
  import { StatusUtils } from '@/lib/statuses';
  import { Colors } from '@/lib/constants';
  import ChartMixin from '@/components/workplace/common/chart-mixin';
  import types from '@/store/types';

  import BarChart from '@/components/common/chart/bar-chart.vue';
  import WorkplaceWidget from '@/components/workplace/dashboard/widgets/workplace-widget.vue';
  import DataIsValueOfZero from '@/components/workplace/dashboard/widgets/data-is-value-of-zero.vue';

  export default {
    name: 'equipment-pickup',
    components: {
      BarChart,
      WorkplaceWidget,
      DataIsValueOfZero,
    },
    mixins: [
      ChartMixin,
    ],
    data() {
      return {
        columnColors: [
          Colors.Gray11,
          Colors.Red,
          Colors.RedLowlight,
        ],
        overduePath: WorkplacePredefinedRoutes.overdue,
        dueSoonPath: WorkplacePredefinedRoutes.dueSoon,
        noEquipmentMessage: 'There are no items overdue or due soon',
        width:100
      };

    },
    computed: {
      ...mapState({
        timeOfCall: state => state.workplace.timeOfCall || Date.now(),
      }),
      ...mapGetters({
        equipment: types.workplace.equipmentForCurrentAccount,
        equipmentOnRentRequestsPending: types.workplace.equipmentOnRentRequestsPending,
      }),
      equipmentDueData() {
        return {
          labels: ['Due Soon', 'Overdue (1-3 days)', 'Overdue (3+ days)'],
          datasets: [{
            label: '',
            data: [
              this.dueSoonCount,
              this.overDueCount,
              this.veryOverDueCount,
            ],
            backgroundColor: this.columnColors,
            borderWidth: 0,
          }],
        };
      },
      equipmentWithOverdueStatus() {
        const equipment = StatusUtils.selectItemsWithStatuses(
          [WorkplaceEquipmentStatusId.Overdue],
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );
        return equipment;
      },
      overdueEquipment() {
        const equipment = this.equipmentWithOverdueStatus
          .filter((item) => {
            const now = moment();
            const returnDate = moment(item.returnDateTime);
            const days = now.diff(returnDate, 'days');
            // FORCE a true / false value. Yes, I know this should
            // evaluate to a boolean anyway, but it doesn't do
            // that sometimes because of reasons ¯\_(ツ)_/¯
            return days <= 3 ? true : false; // eslint-disable-line
          });
        return equipment;
      },
      veryOverdueEquipment() {
        return this.equipmentWithOverdueStatus
          .filter((item) => {
            const now = moment();
            const returnDate = moment(item.returnDateTime);
            const days = now.diff(returnDate, 'days');
            // FORCE a true / false value. Yes, I know this should
            // evaluate to a boolean anyway, but it doesn't do
            // that sometimes because of reasons ¯\_(ツ)_/¯
            return days > 3 ? true : false; // eslint-disable-line
          });
      },
      dueSoonEquipment() {
        const equipment = StatusUtils.selectItemsWithStatuses(
          [WorkplaceEquipmentStatusId.DueSoon],
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );
        return equipment;
      },
      overDueCount() {
        let count = 0;
        this.overdueEquipment.forEach((ea) => {
          count += ea.quantityOnRent;
        });
        return count;
      },
      veryOverDueCount() {
        let count = 0;
        this.veryOverdueEquipment.forEach((ea) => {
          count += ea.quantityOnRent;
        });
        return count;
      },
      dueSoonCount() {
        let count = 0;
        this.dueSoonEquipment.forEach((ea) => {
          count += ea.quantityOnRent;
        });
        return count;
      },
      dueCount() {
        return this.veryOverDueCount + this.overDueCount + this.dueSoonCount;
      },
      dueDataGroups() {
        return [
          {
            title: this.$i18n('dashboard.overdue'),
            path: WorkplacePredefinedRoutes.overdue,
            count: this.veryOverDueCount + this.overDueCount,
          },
          {
            title: this.$i18n('dashboard.dueSoon'),
            path: WorkplacePredefinedRoutes.dueSoon,
            count: this.dueSoonCount,
          },
        ];
      },
      dueTooltip() {
        return this.$i18n('dashboard.dueCount', { '@count': this.dueCount });
      },
      myStyle() {
      return {
        width: `${this.width}%`,
        position: 'relative'
      };
    }

    },
  };
</script>

<style lang="scss" >
@import '../../../themes/custom/urone/styles/_globals.scss';
.chartjs-render-monitor {
  margin-left: -0.5rem;
}
</style>
