<template>
  <workplace-widget
    :loading="equipmentOnRentRequestsPending"
    :tooltip="deliveriesTooltip"
    :dataGroups="deliveryDataGroups"
    :timeSinceUpdate="timeOfCall"
    :title="$i18n('dashboard.equipmentDeliveries')">
    <jobsite-map
      :placeName="'equipment-deliveries'"
      :equipmentStatuses="mapStatuses"
      :noEquipmentMessage="$i18n('dashboard.zeroDeliveryMessage')"
      :totalCounts="totalCounts"
      :clusters="deliveryClusters" />
  </workplace-widget>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { mapState, mapGetters } from 'vuex';
  import {
    WorkplaceEquipment,
    WorkplaceEquipmentJobsiteClusterWithMarkers,
    WorkplacePredefinedRoutes,
    WorkplaceEquipmentStatusId,
  } from '@/lib/workplace';
  import { StatusUtils } from '@/lib/statuses';
  import types from '@/store/types';
  import { WorkplaceState } from '@/store/module.workplace';
  // import { get } from 'lodash';

  import DataIsValueOfZero from '@/components/workplace/dashboard/widgets/data-is-value-of-zero.vue';
  import JobsiteMap from '@/components/workplace/dashboard/widgets/jobsite-map.vue';
  import NoDataAvailable from '@/components/workplace/dashboard/widgets/no-data-available.vue';
  import WidgetDataGroup from '@/components/workplace/dashboard/widgets/widget-data-group.vue';
  import WorkplaceWidget from '@/components/workplace/dashboard/widgets/workplace-widget.vue';

  export default Vue.extend({
    name: 'equipmentDeliveries',
    components: {
      DataIsValueOfZero,
      JobsiteMap,
      NoDataAvailable,
      WidgetDataGroup,
      WorkplaceWidget,
    },
    computed: {
      ...mapState<{ workplace: WorkplaceState }>({
        timeOfCall: state => state.workplace.timeOfCall || Date.now(),
      }),
      ...mapGetters({
        equipment: types.workplace.equipmentForCurrentAccount,
        equipmentOnRentRequestsPending: types.workplace.equipmentOnRentRequestsPending,
        getMarkers: types.workplace.equipmentLocation.jobsiteMapMarkersFromStatuses,
      }),
      mapStatuses() {
        return [...this.deliveryStatuses, ...this.pickupStatuses];
      },
      deliveryClusters(): WorkplaceEquipmentJobsiteClusterWithMarkers[] {
        const markers = this.getMarkers([WorkplaceEquipmentStatusId.ReservedForDelivery, WorkplaceEquipmentStatusId.ReservedForBranchPickup]);
        const all = [...this.deliveryEquipment, ...this.pickupEquipment].map(eqp => {
          return eqp.jobsite.id;
        });

        const out = markers.filter(marker => {
          return all.includes(marker.jobsite.id);
        });

        return out;
      },
      deliveriesTooltip(): any {
        return this.$i18n('dashboard.deliveriesCount', {
          '@count': this.deliveryEquipment.length + this.pickupEquipment.length,
        });
      },
      deliveryEquipment(): WorkplaceEquipment[] {
        // Reserved for Delivery
        const out = StatusUtils.selectItemsWithStatuses<WorkplaceEquipment>(
          this.deliveryStatuses,
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );

        return out;
      },
      pickupEquipment(): WorkplaceEquipment[] {
        // Reserved for Branch Pickup
        return StatusUtils.selectItemsWithStatuses<WorkplaceEquipment>(
          this.pickupStatuses,
          eqp => eqp.equipmentStatuses,
          this.equipment,
        );
      },
      deliveryDataGroups(): any[] {
        const pickupEquipmentCount = this.pickupEquipment.reduce((sum, { quantityOnRent }) => sum + quantityOnRent, 0);
        const deliveryEquipmentCount = this.deliveryEquipment.reduce((sum, { quantityOnRent }) => sum + quantityOnRent, 0);
        return [
          {
            title: this.$i18n('dashboard.reservedForBranchPickup'),
            path: WorkplacePredefinedRoutes.reservedForPickup,
            count: pickupEquipmentCount,
          },
          {
            title: this.$i18n('dashboard.reservedForDelivery'),
            path: WorkplacePredefinedRoutes.reservedForDelivery,
            count: deliveryEquipmentCount,
          },
        ];
      },
      totalCounts() {
        return this.deliveryDataGroups.reduce((count, dataGroup) => count + dataGroup.count, 0);
      },
    },
    data() {
      return {
        deliveryStatuses: [ WorkplaceEquipmentStatusId.ReservedForDelivery ],
        pickupStatuses: [ WorkplaceEquipmentStatusId.ReservedForBranchPickup ],
      };
    },
  });
</script>
