<template>
  <div class="widget-section">
    <div class="widget-section-header">
      <!--template in anything larger than small-->
      <div class="row" v-if="!small">
        <div class="column--half">
          <div class="search-widget">
            <h2 class="heading-2--thin">{{$i18n('dashboard.myFleetTitle')}}</h2>
            <div class="widget-section-header__search-toggle"
                 :class="{
                'widget-section-header__search-toggle--expanded': !searchExpanded
              }"
                 @click="toggleSearch()"
                 v-if="isSearchCollapsable" >
              <i class="icon icon-before-search"></i>
            </div>
            <equipment-search
              :placeholder="$i18n('workplace.searchEquipment')"
              :go-to-listing-on-multi-match="true"
              :go-to-details-on-single-match="true"/>
          </div>
        </div>
        <div class="column--half">
          <div @click="refresh" class="button refresh-now">
            <span>{{ $i18n('workplace.refreshNow') }}</span>
            <span class="icon icon-before-refresh"></span>
          </div>
        </div>
      </div>
      <!--template in small-->
      <div class="w-100" v-else>
        <div class="row">
          <div class="column--half">
            <h2 class="heading-2--thin">{{$i18n('dashboard.myFleetTitle')}}</h2>
          </div>
          <div class="column--half justify--right">
            <div @click="refresh" class="button refresh-now">
              <span>{{ $i18n('workplace.refreshNow') }}</span>
              <span class="icon icon-before-refresh"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="search-widget search-widget-small">
            <equipment-search
              :placeholder="$i18n('workplace.searchEquipment')"
              :go-to-listing-on-multi-match="true"
              :go-to-details-on-single-match="true"
              :isFleet="isFleet"
              :has-group-label="hasGroupLabel" />
          </div>
        </div>
      </div>
    </div>

    <div class="widget-section-header">
      <equipment-filter-badges />
    </div>

    <div class="widgets-body workplace-widgets">
      <equipment-due />
      <equipment-deliveries v-if="googleIsReady" />
      <equipment-pickup v-if="googleIsReady" />
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState, mapGetters } from 'vuex';
  import { loaded } from 'vue2-google-maps';
  import types from '@/store/types';
  import EquipmentSearch from '@/components/workplace/shared/equipment-search.vue';
  import EquipmentFilterBadges from '@/components/workplace/shared/equipment-filter-badges.vue';
  import EquipmentDeliveries from './equipment-deliveries.vue';
  import EquipmentDue from './equipment-due.vue';
  import EquipmentPickup from './equipment-pickup.vue';

  export default {
    components: {
      EquipmentDeliveries,
      EquipmentDue,
      EquipmentFilterBadges,
      EquipmentPickup,
      EquipmentSearch,
    },
    computed: {
      ...mapState({
        timeOfCall: state => state.workplace.timeOfCall || Date.now(),
        jobs: state => state.jobs,
      }),
      ...mapGetters([
        'small',
      ]),
      ...mapGetters({
        accountId: types.workplace.accountId,
        equipment: types.workplace.equipmentForCurrentAccount,
      }),
      jobsitesForCurrentAccount() {
        return this.jobs.all[this.accountId] || {};
      },
      // Both the list of equipment and jobsites must be populated before
      // we can start fetching the jobsite location data
      canGetJobsiteLocationsFromEquipment() {
        return Array.isArray(this.equipment)
          && this.equipment.length > 0
          && Object.values(this.jobsitesForCurrentAccount).length > 0;
      },
      isSearchExpanded: {
        get() {
          return this.searchExpanded;
        },
        set(isSearchExpanded) {
          this.searchExpanded = isSearchExpanded;
        },
      },
    },
    data() {
      return {
        googleIsReady: false,
        hasGroupLabel: false,
        isSearchCollapsable: true,
        searchExpanded: false,
        isFleet: true,
      };
    },
    async mounted() {
      await loaded;
      this.googleIsReady = true;
    },
    watch: {
      accountId() {
        if (this.canGetJobsiteLocationsFromEquipment) {
          this.getJobsiteLocationsFromEquipment({
            accountId: this.accountId,
            equipment: this.equipment,
            jobsites: this.jobsitesForCurrentAccount,
          });
        }
      },
      canGetJobsiteLocationsFromEquipment: {
        immediate: true,
        handler(is) {
          if (is === true) {
            this.getJobsiteLocationsFromEquipment({
              accountId: this.accountId,
              equipment: this.equipment,
              jobsites: this.jobsitesForCurrentAccount,
            });
          }
        },
      },
    },

    methods: {
      ...mapActions({
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
        getJobsiteLocationsFromEquipment: types.workplace.equipmentLocation.getJobsiteLocationsFromEquipment,
      }),
      refresh() {
        this.fetchEquipmentOnRent({
          accountId: this.accountId,
        });
      },
      toggleSearch() {
        this.isSearchExpanded = !this.isSearchExpanded;
      },
    },
  };
</script>
