<template>
  <div class="photo_area">
    <div class="photo_area__active">
      <img :alt="alt(activeImage)" :src="image(activeImage)" />
    </div>
    <carousel
      v-if="displayCarousel"
      class="photo-area__carousel"
      :min-swipe-distance="0"
      :navigation-enabled="navigationEnabled"
      :navigation-next-label="navigationNextLabel"
      :navigation-prev-label="navigationPrevLabel"
      :pagination-active-color="'#008CFF'"
      :pagination-color="'#DDE0E2'"
      :pagination-enabled="paginationEnabled"
      :per-page-custom="[[220,4],[280,5],[320, 6]]"
      @click="clicked($this)"
      @pageChange="pageChange"
      v-bind:class="{'hasNavigation' : navigationEnabled}"
    >
      <slide v-for="([image, alt], idx) in Object.entries(images)" class="carousel_slide" :key="idx">
        <img
          :class="carouselImageClass(image)"
          :src="image"
          :alt="alt"
          :style="slideStyle"
          @click="setActiveImage(idx)"/>
      </slide>
    </carousel>
  </div>
</template>
<script>
  import UrGtm from '@/mixins/ur-gtm';
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
      ]),

      /**
       * Display Carousel
       *
       * We display the carousel only if there is more than one image.
       *
       * @return {bool} true if there is more than one image
       */
      displayCarousel() {
        return Object.keys(this.images).length > 1 && !this.small;
      },

      /**
       * Navigation Enabled
       *
       * Navigation is determined by the screen size (not small devices). This also method also
       * checks to make sure there are more images than what is displayed per page.
       *
       * @return {bool} true if the count of images is greater than our display amount
       */
      navigationEnabled() {
        return Object.keys(this.images).length > this.perPage && !this.small;
      },

      /**
       * Navigation Next Label
       *
       * @return {string} the next label
       */
      navigationNextLabel() {
        return '<i class="icon icon-chevron-right"></i>';
      },

      /**
       * Navigation Prev Label
       *
       * @return {string} the previous label
       */
      navigationPrevLabel() {
        return '<i class="icon icon-chevron-left"></i>';
      },

      /**
       * Pagination Enabled
       *
       * Determines whether or not to enable the pagination for the carousel.
       *
       * @return {boolean} flag for pagination
       */
      paginationEnabled() {
        return false;
      },

      /**
       * Per Page
       *
       * Number of images to show per page. Variable is referenced to determine
       * the (dis)enabling of navigation.
       * @return {number} items per page
       */
      perPage() {
        if (this.small) {
          return 1;
        }
        return 6;
      },

      /**
       * Slide Style
       *
       * Determines the slide style based off viewport size.
       *
       * @return {string} the slide style
       */
      slideStyle() {
        return '';
      },
    },
    data() {
      return {

        /**
         * Active Image
         *
         * The current index in the images array of the image to be shown in the active
         * photo area section.
         */
        activeImage: 0,
      };
    },
    methods: {
      alt(idx) {
        return Object.values(this.images)[idx];
      },
      /**
       * Carousel Image Class method
       *
       * Returns a string with the active class modifier if the passed index is equal
       * to the active image property.
       *
       * @param {integer} idx | the index of the current image to check
       * @return {string} the class for the image
       */
      carouselImageClass(idx) {
        return idx === this.activeImage ? 'carousel_image active' : 'carousel_image';
      },

      image(idx) {
        return Object.keys(this.images)[idx];
      },
      /**
       * Page Change method
       *
       * Method fired when the pageChange event from the carousel is emitted when a user clicks on
       * a pagination page (little dot). The active image is then set to the page index.
       *
       * @param {integer} event | the event data containing page and type
       */
      pageChange(event) {
        const isNotEvent = typeof event === 'number';
        if (isNotEvent) {
          return;
        }
        this.setActiveImage(event.page);
        this.gtmTrackCarouselButton('equipment-hero', event);
      },

      /**
       * Set Active Image method
       *
       * Updates the activeImage property to that of the passed index
       *
       * @param {integer} idx | index to set the activeImage property to
       */
      setActiveImage(idx) {
        this.activeImage = idx;
      },
    },
    mixins: [
      UrGtm,
    ],
    props: [

      /**
       * Images
       *
       * The array of images to be used for the equipment carousel in the format
       * [idx => 'path/to/img', idx => 'path/to/next/img', ...]
       */
      'images',
    ],
  };
</script>
