<template>
  <div class="equipment-listing-full">
    <object-listing-header
      :loading="isLoadingEquipment"/>

    <!--This Modal opens on load of the page when user comes the the Rent Equipment pages without a location set -->
    <router-link class="link-account" :to="'/locations/chooseLocationModal'"></router-link>

    <paginate
      name="filteredEquipment"
      :list="filteredEquipment"
      :per="25"
      ref="pagination"
      tag="div"
      class="list__container">

      <empty-results-block
        v-if="makeEmptyBlockAvailable"
        :messageType="'equipmentListing'"/>

      <listing-item
        v-for="item in paginated('filteredEquipment')"
        :cat-class="item.catClass"
        :img-src="item.images[0].link"
        :img-alt="item.images[0].alt"
        :key="item.catClass"
        :quick-view-items="item.highlights"
        :title="item.title"
        :view-more-link="item['node-link']"
        :not-rentable-online="item['field_item_not_rentable_online']"
        :loading="isLoadingEquipment"/>

    </paginate>

    <div class="object_listing__footer">
      <pagination-message v-if="!small" :pagination="$refs.pagination"></pagination-message>

      <div class="paginate-links_container">
        <paginate-links for="filteredEquipment" :async="true" @change="fetchRates" :limit="5" :show-step-links="true"></paginate-links>
      </div>
    </div>

  </div>
</template>
<script type="text/babel">
  import ListingItem from './listing-item.vue';
  import ObjectListingHeader from './object-listing-header.vue';
  import PaginationMessage from '@/components/common/object-listing/pagination-message';
  import EmptyResultsBlock from '@/components/common/empty-results';
  import UrGtm from '@/mixins/ur-gtm';

  import { get, isEmpty, range } from 'lodash';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      EmptyResultsBlock,
      ListingItem,
      ObjectListingHeader,
      PaginationMessage,
    },
    computed: {
      ...mapGetters([
        'categoryIdOfCurrentUrl',
        'filteredEquipment',
        'small',
        'subcategoryIdOfCurrentUrl',
      ]),
      ...mapGetters({
        fetchingAccounts: types.accounts.fetchRequestPending,
        ratesPlaceCreated: types.user.ratesPlaceCreated,
      }),
      ...mapState({
        categories: state => state.facets.categories,
        isEquipmentLoaded: state => state.catalog.loaded,
        isLoadingEquipment: state => state.catalog.loading,
        rates: state => state.catalog.rates,
        ratesPlace: state => state.user.ratesPlace,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        selectedFilters: state => state.facets.selectedFilters,
        userDefaultAccountId: state => state.user.defaultAccountId,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      category() {
        return this.categories[this.categoryIdOfCurrentUrl];
      },
      subCategory() {
        return get(this.category, ['children', this.subcategoryIdOfCurrentUrl], '');
      },
    },
    created() {
      // Because the choose location modal takes over the URL, we need
      // to store the current route so it can be restored after the
      // modal is closed.
      this.$store.dispatch(types.locationFinder.setPreviousRoute, this.$route);
    },
    data() {
      return {
        accountFetchUnwatcher: {},
        paginate: ['filteredEquipment'],
        makeEmptyBlockAvailable: false,
      };
    },
    methods: {
      ...mapActions({
        fetchCategoricalEquipment: types.catalog.fetchCategoricalEquipment,
        fetchFavoritesList: types.favorites.fetchList,
        fetchRecentlyViewedList: types.recentlyViewed.fetch,
        fetchRatesPlaceBranch: types.user.ratesPlaceBranch,
        setJobsiteId: types.user.defaultJobId,
        setAccountId: types.user.updateDefaultAccountId,
        setRatesPlace: types.user.ratesPlace,
      }),

      getLocationFromUser() {
        if (this.fetchingAccounts) {
          this.accountFetchUnwatcher = this.$watch('fetchingAccounts', this.getLocationFromUser);
          return;
        }

        if (typeof this.accountFetchUnwatcher === 'function') {
          this.accountFetchUnwatcher();
        }

        if (!this.$route.path.includes('/add-to-cart')) {
          this.$router.push({
            path: '/locations/chooseLocationModal',
          });
        }
      },

      goToAPage() {
        const pageNum = Number(this.$route.path.replace(/\//g, ''));
        if (this.$refs.pagination && (pageNum > 1)) {
          this.$refs.pagination.goToPage(pageNum);
        }
        else {
          this.$refs.pagination.goToPage(1);
        }
      },

      /**
       * This component's initialization waits for the current url's category ID to be resolved,
       * as it will pass that term id to the items api to fetch equipment.
       * (this is a Vuex Getter)
       */
      init() {
        // Currently we fetch ALL equipment in cat/subcat. This may be offset/limited in Kelex 1.1 (post 7/2017 release)
        const requestEquipment = this.fetchCategoricalEquipment({
          termId: this.termId,
          branchId: this.ratesPlaceBranch,
        });

        // If the user has declared a location we can fetch rates
        if (this.ratesPlaceCreated && this.ratesPlaceBranch) {
          requestEquipment.then(this.fetchRates);
        }
        // There are some situations where a user will have a rates place, but no branch (seen after logging out)
        else if (this.ratesPlaceCreated && !this.ratesPlaceBranch) {
          const requestBranch = this.fetchRatesPlaceBranch(this.ratesPlace);
          Promise.all([requestEquipment, requestBranch])
            .then(this.fetchRates);
        }
        // Otherwise wait until a user selects a location, then fetch rates
        else {
          this.getLocationFromUser();
        }

        // Our buggy paginator plugin requires we call this.
        requestEquipment.then(() => {
          this.$refs.pagination.goToPage(1);
        });
      },

      /**
       * Fetch rates for only the items on display
       */
      fetchRates() {
        const { currentPage, per } = this.$refs.pagination;
        const itemRange = range(currentPage * per, (currentPage + 1) * per);
        const catClasses = this.filteredEquipment
          .map(item => item.catClass)
          .filter((item, index) => itemRange.includes(index));

        const accountId = this.userDefaultAccountId;
        this.$store.dispatch(types.catalog.fetchRates, {
          catClasses,
          branchId: this.ratesPlaceBranch,
          accountId,
        }).then(this.recordProductImpressions);

        // Routing
        const pageNum = this.paginate.filteredEquipment.page + 1;
        const page = pageNum.toString();
        if (pageNum > 1) {
          this.$router.push({
            path: page,
          });
        }
      },
      recordProductImpressions() {
        const categoryName = get(this.category, ['name']);
        const subCategoryName = get(this.subCategory, ['name'], 'No Subcategory Name');

        this.gtmTrackProductImpression({
          categoryName,
          items: this.filteredEquipment,
          rates: this.rates,
          ratesPlaceBranchId: this.ratesPlaceBranch,
          subCategoryName,
        });
      },
    },
    mixins: [
      UrGtm,
    ],
    mounted() {
      if (this.categoryIdOfCurrentUrl) {
        this.init();
      }
      else {
        this.$watch('categoryIdOfCurrentUrl', this.init);
        // @TODO: Doing it this way is not great, but in the effort for time it works
        // this.$watch('ratesPlaceBranch', this.init);
      }

      // Load the list of the user's favorited cat. classes. We'll use this information to properly shade the favorite icons.
      if (this.userIsLoggedIn) {
        this.fetchFavoritesList();
      }

      // Load the list of recently viewed items
      this.fetchRecentlyViewedList();
    },
    name: 'equipmentListing',
    props: {
      termId: String,
    },
    watch: {
      $route() {
        if (!this.$refs.pagination) {
          return;
        }
        if ((this.$refs.pagination.list > 0) && !isEmpty(this.rates)) {
          this.goToAPage();
        }
      },

      filteredEquipment: {
        handler(items) {
          if (this.isEquipmentLoaded && !items.length && this.filteredEquipment.length === 0) {
            this.makeEmptyBlockAvailable = true;
          }
          if (this.filteredEquipment.length > 0) {
            this.makeEmptyBlockAvailable = false;
          }
          if (!items.length) {
            return;
          }

          if (!isEmpty(this.rates) && !isEmpty(this.ratesPlaceBranch)) {
            const categoryName = get(this.category, ['name']);
            const subCategoryName = get(this.subCategory, ['name']);

            this.gtmTrackProductImpression({
              categoryName,
              items,
              rates: this.rates,
              ratesPlaceBranchId: this.ratesPlaceBranch,
              subCategoryName,
            });

            this.$nextTick(() => {
              if (this.$refs.pagination && this.$refs.pagination.list.length > 0) {
                this.goToAPage();
              }
            });
          }
        },
        deep: true,
        immediate: true,
      },

      /**
       * Fetch new rates when the ratesPlaceBranch changes
       * @param {object} place a rates place object (from google)
       */
      ratesPlaceBranch() {
        this.init();
      },

      /**
       * Watch for changes in the selected filters, and inspect the new
       * filtered equipment list to see if it's missing rates. If it is, fetch them.
       */
      selectedFilters() {
        // Get a list of cat classes w/o rates
        const catClasses = this.filteredEquipment
          .map(({ catClass }) => catClass)
          .filter(catClass => !get(this.rates, [this.ratesPlaceBranch, catClass]));

        if (catClasses.length && this.ratesPlaceBranch) {
          this.$store.dispatch(types.catalog.fetchRates, {
            catClasses,
            branchId: this.ratesPlaceBranch,
            accountId: this.userDefaultAccountId,
          });
        }
      },

      // In some edge cases, the Paginate plugin may set its page to -1,
      // (which shows a blank page). If we ever encounter a -1, wait a small tick,
      // then try to set it to page 1 again.
      // TODO replace this plugin. It's unmaintained and buggy.  This bug is happening because somehow we're asking
      // it to change pages before it's ready (even though it already has a collection to paginate at the time of our request).
      // Plus it countermands itself, and indexes pages from 0 and/or 1, depending on how you query it for pages.
      'paginate.filteredEquipment.page': {
        handler(value) {
          if (value !== -1) {
            return;
          }

          // The site might get stuck at page -1 during initialization. (Ie11 tends to get stuck in some edge cases.)
          // To fix this, keep trying to go to page 1 until you get there.
          // Super dirty, don't judge me.
          const interval = setInterval(() => {
            this.$refs.pagination.goToPage(1);
            if (this.paginate.filteredEquipment.page === 0) { // reading page-number this way, 0 is actually page 1... silly plugin.
              clearInterval(interval);
            }
          }, 1000);
        },
        immediate: true,
      },
    },
  };
</script>
