<template>
  <div class="item-rates-container">
    <!--if locationFiltered = true(item available in branch) and rates came back from rates endpoint(noCost is False), price will be shown-->
    <ur-item-rates v-if="shouldShowRates"
      :contract-rates="contractPricing"
      :day-rate="dayRate"
      :week-rate="weekRate"
      :month-rate="monthRate"
      :loading="shouldShimmer || ratesLoading"
      :mono-rate="monoRate"
      :showChipsInline="showChipsInline"
      :showWebRateChip="showWebRateChip"
      :showChipOnly="showChipOnly"
      :showRateOnly="showRateOnly"
    />

    <p v-html="$i18n('rates.locationFiltered')" v-else-if="shouldShowLocationFiltered && !showChipOnly"></p>
    <template v-if="checkUserLoggedIn && !showChipOnly">
      <div class="sign-in-link-rates" data-tracking="location" v-if="unknownLocation && !hasRequestInFlight">
        <a @click="setLocationModalPopup" v-html="$i18n('rates.enterLocationRequiredLinkable')"></a>
      </div>
    </template>
    <template v-else-if="!showChipOnly">
      <p v-html="$i18n('rates.enterLocationRequired')" v-if="!hasRequestInFlight && unknownLocation && !linkable"></p>

      <div class="sign-in-link-rates" data-tracking="location" v-if="!userIsLoggedIn && linkable && unknownLocation && !hasRequestInFlight">
        <a @click="setLocationModalPopup" v-html="$i18n('rates.enterLocationRequiredLinkable')"></a>
      </div>
    </template>
  </div>
</template>
<style lang="scss">
  @import "../../../themes/custom/urone/styles/_globals.scss";

  .sign-in-link-rates {
    text-decoration: underline;
  }

  section.empty-cart-state > div.empty-cart-state__body > div.VueCarousel > div.VueCarousel-wrapper > div.VueCarousel-inner > div.VueCarousel-slide > div.product-card {
    div.item-rates-container {
      margin: 0;

      p {
        @include type-preset(30);
        margin: 0;

        @include media('>=s') {
          @include type-preset(40);
        }
      }
    }

    div.object_listing__details__pricing {
      margin: 0;

      @include media('>=l') {
        flex-direction: row;
      }

      div.pricing-content {
        @include gap(
          $property: margin,
          $sizes: $gap-c 0 0
        );
        @include type-preset(20);

        width: 100% !important;

        @include media('>=m') {
          @include type-preset(30);
        }

        @include media('>=l') {
          margin-top: 0;
        }

        .time-period {
          flex: initial;
        }
      }

      .chip-tooltip {
        margin-bottom: 0;
        z-index: 7;
      }
    }
  }
</style>
<script>
  import UrItemRates from '@/components/common/ur-item-rates';

  import { get } from 'lodash';
  import { mapState } from 'vuex';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';

  export default {
    components: {
      UrItemRates,
    },
    computed: {
      ...mapState({
        catalog: state => state.catalog,
        defaultAccountId: state => state.user.defaultAccountId,
        fetchingRates: state => state.catalog.fetchingRates,
        rates() {
          const ratesReturn = get(this.catalog.rates, [this.catClass, this.ratesBranch], {});
          this.$emit('hasrates', (Object.keys(ratesReturn).length > 0));
          return ratesReturn;
        },
        ratesPlace: state => state.user.ratesPlace,
        ratesBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      ratesLoading() {
        return this.requestInFlight;
      },
      shouldRefreshOnChange: vm => vm.refreshOnChange === '1',
      shouldShowRates() {
        return (((this.rentableItemOnline && !this.noRatesError && !this.itemNotAvailableError)
          || this.unknownLocation) && !this.requestInFlight)
          || ((this.rentableItemOnline && this.noRatesError && !this.itemNotAvailableError
          && !this.unknownLocation && !this.noRatesRentableError) || this.requestInFlight);
      },
      shouldShowLocationFiltered() {
        return ((!this.rentableItemOnline && !this.unknownLocation)
          || (!this.itemNotAvailableError && this.noRatesError)
          || (this.itemNotAvailableError && !this.unknownLocation))
          && !this.hasRequestInFlight;
      },
      hasRequestInFlight: vm => vm.requestInFlight !== null && vm.requestInFlight.length > 0,
      requestInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getBranchData,
          FlightToken.fetchFacets,
          FlightToken.fetchRates,
          FlightToken.fetchEquipmentByTermId,
          FlightToken.getNearbyBranchData,
        );
      },
      noRatesError() {
        /**
         * TODO: The naming is confusing on this. Probably expect it to mean:
         *    - "No (Rates Error)" -> No errors when getting rates; Successfully retrieved rates info.
         *    - "(No Rates) Error" -> Error (exception) when getting rates. Failed to retreive rates info.
         *
         * What it really means:
         *    - "No Rates. [No] Error." -> Successfully retreived rates info; Item has not been assigned a rate.
         */
        if (this.rentableItemOnline) {
          return !this.fetchingRates && this.rates.noCost;
        }

        return false;
      },
      unknownLocation() {
        return !this.ratesBranch;
      },
      itemNotAvailableError() {
        return !this.rates.locationFiltered;
      },
      noRatesRentableError() {
        if (this.rentableItemOnline) {
          return this.rates.noCost;
        }

        return false;
      },
      rentableItemOnline() {
        return typeof this.notRentableOnline === 'boolean' ? this.notRentableOnline : this.notRentableOnline === 'false';
      },
      dayRate() {
        let dayRate = '--';
        if (this.rates.dayRate) {
          ({ dayRate } = this.rates);
        }
        return dayRate;
      },
      monthRate() {
        let monthRate = '--';
        if (this.rates.monthRate) {
          ({ monthRate } = this.rates);
        }
        return monthRate;
      },
      weekRate() {
        let weekRate = '--';
        if (this.rates.weekRate) {
          ({ weekRate } = this.rates);
        }
        return weekRate;
      },
      contractPricing() {
        let contractPricing = false;
        if (this.rates.contractPricing) {
          ({ contractPricing } = this.rates);
        }
        return contractPricing;
      },
    },
    name: 'itemRates',
    created() {
      // If we don't load with the ratesBranch, don't allow rates to change.
      if (this.ratesBranch || !this.shouldRefreshOnChange) {
        this.shouldShimmer = false;
      }
    },
    methods: {
      ratesBranchWatchHandler() {
        if (this.ratesBranch) {
          if (this.fetchOwnRates) {
            this.$store.dispatch(types.catalog.fetchRates, {
              catClass: this.catClass,
              branchId: this.ratesBranch,
              accountId: this.defaultAccountId,
            });
          }
        }
      },
      setLocationModalPopup() {
        const paramsIn = {};
        if (this.shouldRefreshOnChange) {
          paramsIn.refreshOnChange = '1';
        }
        this.$router.push({
          path: '/locations/chooseLocationModal',
          query: paramsIn,
        });
      },
    },
    data() {
      return {
        shouldShimmer: true,
        previousPlace: null,
      };
    },
    props: {
      catClass: String,
      fetchOwnRates: Boolean,
      monoRate: Boolean,
      notRentableOnline: String,
      linkable: {
        default: false,
        require: false,
      },
      // two 'showChips' booleans are just pass-thrus from parent to ur-item-rates
      showChipsInline: {
        type: Boolean,
        default: true,
      },
      showWebRateChip: {
        type: Boolean,
        default: true,
      },
      checkUserLoggedIn: {
        type: Boolean,
        default: false,
      },
      refreshOnChange: {
        required: false,
        type: String,
      },
      showChipOnly: {
        required: false,
        type: Boolean,
        default: false
      },
      showRateOnly: {
        required: false,
        type: Boolean,
        default: false
      }
    },
    watch: {
      ratesBranch: {
        handler: 'ratesBranchWatchHandler',
        immediate: true,
      },
      $route(to, from) {
        if (this.shouldRefreshOnChange) {
          // Location modal?
          if (to.name === 'lfChooseLocationModal' && this.ratesBranch) {
            this.previousPlace = this.ratesPlace;
            this.shouldShimmer = true;
          }

          // Location set?
          else if (to.name === null && from.name === 'lfChooseLocationModal') {
            // Canceled Location set?
            if (!this.ratesBranch || this.previousPlace === this.ratesPlace) {
              this.shouldShimmer = false;
            }
            else {
              this.shouldShimmer = true;
            }
          }
        }

        else {
          this.shouldShimmer = false;
        }
      },
    },
  };
</script>
