<template>
  <span style="display: none;"></span>
</template>
<script>
  import { mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        fetchingRates: state => state.catalog.fetchingRates,
        ratesBranch: state => state.user.ratesPlaceBranch,
      }),
    },
    name: 'itemRatesLoader',
    methods: {
      init() {
        if (this.ratesBranch && !this.fetchingRates) {
          this.$store.dispatch(types.catalog.fetchRates, {
            catClass: this.catClass,
            branchId: this.ratesBranch,
            accountId: this.defaultAccountId,
          });
        }
      },
    },
    props: {
      catClass: String,
    },
    watch: {
      ratesBranch: {
        handler: 'init',
        immediate: true,
      },
    },
  };
</script>
