<template>
    <div class="breadcrumbs_container" v-html="breadcrumbs"></div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState({
        breadcrumbs: state => state.facets.breadcrumbs,
      }),
    },
  };
</script>
