<template>
  <div>
    <search-term-badges-container
      @removeFilter="removeFilter($event)"
      @removeAllFilters="removeAllFilters()"
      :filters="filters"/>
  </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { SearchTermBadgesContainer } from '@/components/common/listings';

  export default {
    components: {
      SearchTermBadgesContainer,
    },
    computed: {
      ...mapState({
        filters: state =>
          state.facets.selectedFilters
            .map(id => state.facets.contextualFilters[id] || state.facets.equipmentFilters[id])
            .filter(item => typeof item !== 'undefined')
            /*
              TODO: The facets module is still using the old (non-generic) data specs
              for searcha and filters. We need to map filter.name to filter.term
              for the filter badge to display properly.
            */
            .map(filter => ({
              ...filter,
              term: filter.name,
            })),
      }),
    },
    methods: {
      removeFilter(filter) {
        this.$store.dispatch(types.facets.removeFilter, filter.id);
      },
      ...mapActions({
        removeAllFilters: types.facets.removeAllFilters,
      }),
    },
  };
</script>
