<template>
  <div @scroll="toggleShowScroll" class="object-list-header">
    <div v-if="small || medium" class="filter-sort-buttons">
      <button class="button filters__button" :class="{'is-active': showFilters}" href="#" @click="showFilters = !showFilters">
        {{ $i18n('catalog.filters') }}
      </button>
      <!--TODO unhide this when it works-->
      <!--<button class="button sort__button" :class="{'is-active': showSorting}" href="#" @click="showSorting = !showSorting">-->
        <!--{{ i18n.sort }}-->
      <!--</button>-->
    </div>

    <faceted-search v-if="showFilters && (small || medium)" style="width: 100%" :mobile-open="mobileOpen"/>

    <object-listing-breadcrumbs
            v-if="showScroll"
    ></object-listing-breadcrumbs>

    <div class="label-select_container">
      <div class="label-side">
        <div class="heading-label">
          <h1 class="heading-1">
            {{ headingLabel }}
            <span class="results-number__heading-1"><ur-loading-spinner v-if="loading"></ur-loading-spinner><span v-if="resultCount && !loading">({{ resultCount }})</span></span>
          </h1>
        </div>

        <object-listing-description
          v-if="showScroll"
        />

        <object-listing-filter-container/>
      </div>

      <!--TODO unhide this after dark-release and it works-->
      <!--<div class="select_container">-->
        <!--<object-listing-sort v-if="large || xlarge"></object-listing-sort>-->
      <!--</div>-->
    </div>
    <div class="ur-drawer-banner__wrapper">
      <ur-drawer-banner/>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';

  import FacetedSearch from '@/components/faceted-search/faceted-search';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import UrDrawerBanner from '@/components/common/ur-drawer-banner';
  import ObjectListingBreadcrumbs from './object-listing-breadcrumbs.vue';
  import ObjectListingDescription from './object-listing-description.vue';
  import ObjectListingFilterContainer from './object-listing-filter-container.vue';
//  import ObjectListingSort from './object-listing-sort.vue';

  export default {
    components: {
      FacetedSearch,
      UrDrawerBanner,
      UrLoadingSpinner,
      ObjectListingBreadcrumbs,
      ObjectListingDescription,
      ObjectListingFilterContainer,
    //      ObjectListingSort
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'filteredEquipment',
        'categoryIdOfCurrentUrl',
        'subcategoryIdOfCurrentUrl',
      ]),
      ...mapState({
        headingLabel(state) {
          const currentCategory = state.facets.categories[this.categoryIdOfCurrentUrl] || {};
          return !this.subcategoryIdOfCurrentUrl ? currentCategory.name : currentCategory.children[this.subcategoryIdOfCurrentUrl].name;
        },
      }),
      mobileOpen() {
        return this.showFilters === true;
      },
      resultCount() {
        return Object.keys(this.filteredEquipment).length;
      },
    },
    data() {
      return {
        showFilters: false,
        showScroll: true,
        // showSorting: false,
      };
    },
    methods: {
      toggleShowScroll(event) {
        if (event.currentTarget.scrollTop > 1) {
          this.showScroll = !this.showScroll;
        }
      },
    },
    props: [
      'loading',
    ],
  };
</script>
