<template>
  <div class="select">
    <select class="dropdown-style1">
      <option value="all">{{ $i18n('catalog.sortBy') }}</option>
      <option>{{ $i18n('catalog.option') }}</option>
      <option>{{ $i18n('catalog.option') }}</option>
      <option>{{ $i18n('catalog.option') }}</option>
      <option>{{ $i18n('catalog.option') }}</option>
    </select>
    <i class="icon icon-angle-down"></i>
  </div>
</template>
<script>

  export default {
    data() {
      return {};
    },
  };
</script>
