
<template>

  <div :class="{'object-listing__actions-sub': !small, 'object_listing__details__quick_view': small && !viewMoreLink }">
    <div v-if="userIsLoggedIn" class="icon flag flag-favorites" :class="{'action-flag' : !isFavorite, 'action-unflag': isFavorite}">
      <a @click="toggleFavorite">
      </a>
    </div>
    <a target="_top"
      :href="mailtoLink">
      <!-- @click="gtmTrackProductInterestInteractions('email', equipmentTitle)" -->
      <i class="icon icon-before-mail-outline"></i>
    </a>

    <i class="icon icon-before-print" @click="printDiv('app')"></i>
  </div>

</template>
<style lang="scss" scoped>
  // override object listing action ur-legacy-styles to match prod
  // TODO: import and use urone global styles and strip out vue component specific styles
  // product detail page
  .node__primary-content .object-listing__actions-sub,
  .node__primary-content .object_listing__actions--object-detail {
    display: flex;
    justify-content: flex-end;
    /*max-width: 128px; // match width of add to cart buton (which controls actions container width) on listing page*/

    .flag-favorites > a::before,
    i::before,
    .icon-before-print::before {
      color: #0050A9;
      font-size: 1.3rem;
      margin: 0 8px;
    }
  }

  // product listing page
  .object-listing__actions-sub {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5rem;
  }
</style>
<script type="text/babel">
  import UrGtm from '@/mixins/ur-gtm';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      equipmentTitle() {
        return this.title.toString().replace(/(<([^>]+)>)/ig, '');
      },
      ...mapGetters([
        'small',
      ]),
      ...mapState({
        isFavorite(state) {
          return state.favorites.all.includes(this.catClass);
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      mailtoLink() {
        const viewLink = this.viewMoreLink ? `https://www.unitedrentals.com${this.viewMoreLink}` : window.location.href;
        // eslint-disable-next-line
        let mailLink = `mailto:?subject=${this.equipmentTitle}&body=View%20this%20United%20Rentals%20Equipment%20at%0D%0A${viewLink}%0D%0A%0D%0ACat%20Class:%20${this.catClass}%0D%0A%0D%0AEquipment%20Title%0D%0A${this.equipmentTitle}`; /* eslint-disable-line */
        if (this.quickViewItems.length) {
          // eslint-disable-next-line
          mailLink = `${mailLink}%0D%0A%0D%0AEquipment%20Features%20Include%0D%0A${this.quickViewItems[0]}%0D%0A${this.quickViewItems[1]}%0D%0A${this.quickViewItems[2]}%0D%0A`; /* eslint-disable-line */
        }
        return mailLink;
      },
    },

    methods: {
      ...mapActions({
        addFavorite: types.favorites.add,
        removeFavorite: types.favorites.remove,
        fetchFavoritesList: types.favorites.fetchList,
      }),

      toggleFavorite() {
        const action = this.isFavorite ? 'removeFavorite' : 'addFavorite';
        if (action === 'addFavorite') {
          // this.gtmTrackProductInterestInteractions('favorite', this.equipmentTitle);
        }
        this[action](this.catClass);
      },

      printDiv(id){
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
      }
    },

    mixins: [
      UrGtm,
    ],
    mounted() {
      // Load the list of the user's favorited cat. classes. We'll use this information to properly shade the favorite icons.
      if (this.userIsLoggedIn) {
        this.fetchFavoritesList();
      }
    },
    name: 'objectListingActions',
    props: {
      catClass: String,
      quickViewItems: {
        type: Array,
        default: () => [],
      },
      title: String,
      viewMoreLink: String,
    },
  };
</script>
