<template>
  <div class="description_container">
    <div class="paragraph description__paragraph" :class="descriptionClass" v-html="description"></div>
    <p class="more_less_toggle">
      <a @click="toggle">{{ short ? $i18n('ur.more') : $i18n('ur.less') }}</a>
    </p>
  </div>
</template>
<script>
  import { mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapGetters([
        'categoryIdOfCurrentUrl',
        'subcategoryIdOfCurrentUrl',
      ]),
      ...mapState({
        description: state => state.facets.description,
      }),
      descriptionClass() {
        return this.short ? 'less' : 'more';
      },
    },
    data() {
      return {
        short: true,
      };
    },
    methods: {
      load() {
        const data = {
          categoryTid: this.categoryIdOfCurrentUrl,
          subcategoryTid: this.subcategoryIdOfCurrentUrl,
        };
        this.$store.dispatch(types.facets.fetchDescription, data);
      },
      toggle() {
        this.short = !this.short;
      },
    },
    mounted() {
      if (this.categoryIdOfCurrentUrl) {
        this.load();
      }
      else {
        this.$watch('categoryIdOfCurrentUrl', this.load);
      }
    },
  };
</script>
