<template>
  <div v-if="!small" class="object-listing--actions">
    <template v-if="(!rentableItemOnline && !unknownLocation && !requestInFlight) || (!itemNotAvailableError && noRatesError && !requestInFlight) || (itemNotAvailableError && !unknownLocation && !requestInFlight)">
      <button @click="findSimilarLink" class="primary-reverse">{{ $i18n('rates.findSimilar') }}</button>
    </template>
    <template v-else>
      <router-link tag="button" :disabled="(preventAddingToCart || requestInFlight)" class="button--add-to-cart" :to="addToCartLink">{{ $i18n('catalog.addToCart') }}</router-link>

      <object-listing-actions
        :cat-class="catClass"
        :title="title"
        :view-more-link="viewMoreLink" />
    </template>
  </div>

</template>

<script type="text/babel">

  import { get } from 'lodash';
  import { mapGetters, mapState } from 'vuex';
  import ObjectListingActions from './object-listing-actions.vue';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';

  export default {
    components: {
      ObjectListingActions,
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapState({
        disabledRates(state) {
          const rates = get(state.catalog.rates, [this.catClass, this.ratesPlaceBranch], {});
          return rates.noCost;
        },
        rates(state) {
          return get(state.catalog.rates, [this.catClass, this.ratesPlaceBranch], {});
        },
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      requestInFlight() {
        const requestsInFlight = this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getBranchData,
          FlightToken.fetchFacets,
          FlightToken.fetchRates,
          FlightToken.fetchEquipmentByTermId,
          FlightToken.getNearbyBranchData,
        );

        return requestsInFlight;
      },
      noRatesError() {
        if (this.rentableItemOnline) {
          return !this.fetchingRates && this.rates.noCost;
        }
        return false;
      },
      unknownLocation() {
        return !this.ratesPlaceBranch;
      },
      itemNotAvailableError() {
        return !this.rates.locationFiltered;
      },
      noRatesRentableError() {
        if (this.rentableItemOnline) {
          return this.rates.noCost;
        }
        return false;
      },
      rentableItemOnline() {
        return typeof this.notRentableOnline === 'boolean' ? this.notRentableOnline : this.notRentableOnline === 'false';
      },
      preventAddingToCart() {
        if (this.notRentableOnline === 'true') {
          return true;
        }
        return !this.ratesPlaceBranch || this.disabledRates;
      },
      addToCartLink() {
        return {
          name: 'addToCartModal',
          params: {
            0: '',
            catClass: this.catClass,
          },
        };
      },
    },
    methods: {
      findSimilarLink() {
        const arr = this.viewMoreLink.split('/');
        arr.pop();
        window.location = arr.join('/');
      },
    },
    name: 'searchObjectListingActions',
    props: {
      catClass: String,
      notRentableOnline: String,
      title: String,
      viewMoreLink: String,
    },
 };
</script>
