<template>
  <span class="search-fetch-equipment" style="display: none"></span>
</template>
<script type="text/babel">
  import { mapActions, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';

  export default {
    name: 'searchFetchEquipment',
    computed: {
      ...mapState({
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        ratesPlace: state => state.user.ratesPlace,
        userDefaultAccountId: state => state.user.defaultAccountId,
      }),
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress
      }),
      ratesPlacesRaceCondition() {
        return this.ratesPlaceAddress.length > 0 && !this.ratesPlaceBranch.length > 0
      }
    },
    methods: {
      ...mapActions({
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
        getClosestBranch: types.jobs.setClosestBranchToJobsite,
        fetchBranch: types.user.ratesPlaceBranch
      }),
      init() {
        // Resolve any ratesPlaceBranch race conditions
        // if ratesPlaceAddress is populated, but no branch found, make calls again
        if (this.ratesPlacesRaceCondition) {
          this.fetchBranch(this.ratesPlace);
        }

        if (document.querySelectorAll('.equipmentItems')) {
          const catClasses = Array.from(document.querySelectorAll('.equipmentItems')).map(el => el.dataset.catclass);
          this.fetchEquipment(catClasses).then(this.fetchRates(catClasses));
        }
      },
      fetchRates(catClasses) {
        const accountId = this.userDefaultAccountId;
        this.$store.dispatch(types.catalog.fetchRates, {
          catClasses,
          branchId: this.ratesPlaceBranch,
          accountId,
        });
      },
    },
    mounted() {
      this.init();
    },
    watch: {
      ratesPlaceBranch: {
        handler(ratesPlaceBranch) {
          if (ratesPlaceBranch) {
            const catClasses = Array.from(document.querySelectorAll('.equipmentItems')).map(el => el.dataset.catclass);
            this.fetchRates(catClasses);
          }
        },
        immediate: true,
      },
    },
  };
</script>
