<template>
  <a class="link" href="#" @click="onClick">{{ $i18n('favorites.title') }} ({{ contextualFavoritesCount }})</a>
</template>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapGetters([
        'filteredEquipment',
      ]),
      ...mapState({
        favoritesList: state => state.favorites.all,
        contextualFavoritesCount() {
          return this.filteredEquipment
            .map(({ catClass }) => catClass)
            .filter(catClass => this.favoritesList.includes(catClass)).length;
        },
        isActive(state) {
          return state.facets.selectedFilters.includes(this.filterId);
        },
      }),
    },
    data() {
      return {
        filterId: null,
      };
    },
    methods: {
      ...mapActions({
        createContextualFilter: types.facets.createContextualFilter,
        removeFilter: types.facets.removeFilter,
      }),
      onClick() {
        if (this.contextualFavoritesCount > 0 && !this.isActive) {
          const filter = { name: this.$i18n('favorites.title'), catClasses: this.favoritesList };
          this.createContextualFilter(filter)
            .then((value) => {
              this.filterId = value;
            });
        }
      },
    },
    name: 'FavoritesContextualLink',
  };
</script>
