<template>
  <div class="contextual-links-panel">
    <div class="contextual-links-panel__label">
      <div class="container-inline">
        <h5 class="heading-5">{{ $i18n('facetedSearch.contextualLinks') }}</h5>
        <p class="collapse__paragraph link" @click="toggle">{{ (collapsed ? $i18n('ur.expand') : $i18n('ur.collapse')) }}</p>
      </div>
    </div>

    <transition name="tbSlideFade">
      <div v-if="!collapsed" class="contextual-links-panel__parent">
        <!--<a class="link" href="#">{{i18n.relatedEquipment}}</a>-->
        <!--<a class="link" href="#">{{i18n.accessories}}</a>-->
        <contextual-link-recently-viewed />
        <!--<a class="link" href="#">{{i18n.recentlyPurchased}}</a>-->
        <contextual-link-favorites v-if="userIsLoggedIn" />
      </div>
    </transition>
  </div>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';

  import ContextualLinkFavorites from './contextual-link-favorites.vue';
  import ContextualLinkRecentlyViewed from './contextual-link-recently-viewed.vue';

  export default {
    components: {
      ContextualLinkFavorites,
      ContextualLinkRecentlyViewed,
    },
    computed: {
      ...mapState({
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
    },
    data() {
      return {
        collapsed: false,
        filterId: null,
      };
    },
    methods: {
      toggle() {
        this.collapsed = !this.collapsed;
      },
    },
    name: 'contextualLinks',
  };
</script>
