<template>
  <a class="link" href="#" @click="onClick">{{ $i18n('facetedSearch.recentlyViewed')}} ({{ recentlyViewedCount }})</a>
</template>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapGetters([
        'filteredEquipment',
      ]),
      ...mapState({
        recentlyViewedList: state => state.recentlyViewed.all,
        recentlyViewedCount() {
          return this.filteredEquipment
            .map(({ catClass }) => catClass)
            .filter(catClass => this.recentlyViewedList.includes(catClass)).length;
        },
        isActive(state) {
          return state.facets.selectedFilters.includes(this.filterId);
        },
      }),
    },
    data() {
      return {
        filterId: null,
      };
    },
    methods: {
      ...mapActions({
        createContextualFilter: types.facets.createContextualFilter,
        removeFilter: types.facets.removeFilter,
      }),
      onClick() {
        if (this.recentlyViewedCount > 0 && !this.isActive) {
          const filter = {
            name: this.$i18n('facetedSearch.recentlyViewed'),
            catClasses: this.recentlyViewedList,
          };
          this.createContextualFilter(filter)
            .then((value) => {
              this.filterId = value;
            });
        }
      },
    },
    name: 'RecentlyViewedContextualLink',
  };
</script>
