<template>
  <aside class="nested-navigation" v-show="large || xlarge || mobileOpen">
    <authentication-panel/>
    <navigation-panel/>
    <contextual-links-panel/>
    <filter-panel/>
  </aside>
</template>
<script type="text/babel">
  import AuthenticationPanel from './authentication-panel.vue';
  import ContextualLinksPanel from './contextual-links-panel.vue';
  import FilterPanel from './filter-panel/filter-panel.vue';
  import NavigationPanel from './navigation-panel.vue';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      AuthenticationPanel,
      ContextualLinksPanel,
      FilterPanel,
      NavigationPanel,
    },
    computed: {
      ...mapState({
        categories: state => state.facets.categories,
        userIsLoggedIn: state => state.user.isLoggedIn,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
      }),
      ...mapGetters([
        'medium',
        'small',
        'large',
        'xlarge',
      ]),
    },
    methods: {
      ...mapActions({
        fetch: types.facets.fetch,
      }),
    },
    mounted() {
      this.fetch(this.ratesPlaceBranch);
    },
    name: 'facetedSearch',
    props: {
      mobileOpen: {
        type: Boolean,
        required: false,
        default: false,
      },
      termId: String,
    },
    watch: {
      ratesPlaceBranch() {
        this.fetch(this.ratesPlaceBranch);
      },
    },
  };
</script>
