<template>
  <div class="navigation-panel">

    <equipment-search
      :placeholder="equipmentSearchLabel | ellipses(13)"
      @focus="searchFocus = true"
      @blur="searchFocus = false"
    />

    <div class="navigation-panel__label">
      <div class="container-inline">
        <h5 class="heading-5">{{ $i18n('facetedSearch.navigation') }}</h5>
        <p class="collapse__paragraph link" @click="toggleAll">{{ (collapsed ? $i18n('ur.expand') : $i18n('ur.collapse')) }}</p>
      </div>
    </div>

    <transition name="tbSlideFade">
      <div v-if="!collapsed" class="navigation-panel__parent">
        <a
          class="link"
          :class="{'is-active': !subcategoryIdOfCurrentUrl}"
          :href="currentCategory.urlComponent"
        >
          {{ currentCategory.name }}
        </a>
        <i :class="'icon icon-angle-up' + (collapsedCategoryStates[currentCategory.id] ? ' rotate' : '')"
           @click="toggle(currentCategory.id)"></i>

        <transition name="tbSlideFade">
          <div class="navigation-panel__child" v-if="!collapsedCategoryStates[currentCategory.id]">
            <a
              v-for="(subcat, key) in currentCategory.children"
              :key="key"
              class="link"
              :class="{'is-active': subcat.id === subcategoryIdOfCurrentUrl}"
              :href="subcat.urlComponent"
            >
              {{ subcat.name }}
            </a>
          </div>
        </transition>
      </div>
    </transition>

    <transition-group name="tbSlideFade">
      <template v-if="viewingAllCategories && !collapsed">
        <template v-for="(category, index) in categories">
          <div :key="index" v-if="category.id !== categoryIdOfCurrentUrl">
            <div class="navigation-panel__parent">
              <a class="link" :href="category.urlComponent">{{category.name}}</a>
              <i :class="'icon icon-angle-up' + (collapsedCategoryStates[category.id] ? ' rotate' : '')"
                @click="toggle(category.id)"></i>

              <transition name="tbSlideFade">
                <div
                  class="navigation-panel__child"
                  v-if="!collapsedCategoryStates[category.id]"
                >
                  <a
                    v-for="(subcat, index) in category.children"
                    :key="index"
                    class="link"
                    :href="subcat.urlComponent"
                  >
                    {{ subcat.name }}
                  </a>
                </div>
              </transition>
            </div>
          </div>
        </template>
      </template>
    </transition-group>

    <div class="viewMore_link" v-if="!collapsed">
      <a class="link" href="#" @click.prevent="viewingAllCategories = !viewingAllCategories">{{ viewingAllCategories ?
        $i18n('ur.viewLess') : $i18n('ur.viewMore') }}</a>
    </div>

  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';
  import { clone, forOwn, isEmpty } from 'lodash';
  import EquipmentSearch from './equipment-search';

  export default {
    components: {
      EquipmentSearch,
    },
    computed: {
      ...mapGetters([
        'categoryIdOfCurrentUrl',
        'subcategoryIdOfCurrentUrl',
      ]),
      ...mapState({
        categories: state => state.facets.categories,
      }),
      equipmentSearchLabel() {
        if (isEmpty(this.categories)) {
          return '';
        }
        if (!this.searchFocus) {
          return `${this.$i18n('ur.within')}...`;
        }
        return `${this.$i18n('ur.within')} ${!isEmpty(this.currentSubcategory) ? this.currentSubcategory.name : this.currentCategory.name}`;
      },
      currentCategory() {
        return this.categories[this.categoryIdOfCurrentUrl] || {};
      },
      currentSubcategory() {
        if (!this.currentCategory) {
          return {};
        }

        return this.currentCategory.children[this.subcategoryIdOfCurrentUrl];
      },
    },
    data() {
      return {
        collapsed: false,
        collapsedCategoryStates: {},
        viewingAllCategories: false,
        searchFocus: false,
      };
    },
    methods: {
      toggleAll() {
        this.collapsed = !this.collapsed;
      },
      toggle(id) {
        this.collapsedCategoryStates[id] = !this.collapsedCategoryStates[id];
      },
    },
    watch: {
      categories() {
        const copy = clone(this.categories);

        forOwn(copy, (value, key) => {
          // set the default values to true (collapsed) unless its the current category
          copy[key] = key !== this.categoryIdOfCurrentUrl;
        });

        this.collapsedCategoryStates = copy;
      },
    },
  };
</script>

<style>
  .rotate {
    transform: rotate(180deg);
  }
</style>
