.link {
  color: $color-text-link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-text-link-visited;
  }

  &:active {
    color: $color-text-link-active;
  }
}

%link--white {
  color: $color-text-link-light;
  text-decoration: none;

  &:hover {
    color: $color-text-link-light-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-text-link-light-visited;
  }

  &:active {
    color: $color-text-link-light-active;
  }
}

a {
  @extend .link;

  .text-color--white & {
    @extend %link--white;
  }
}

a.button {
  @extend %button;
  padding: .5em;
  line-height: 1rem;

  &:hover {
    text-decoration: none;
  }

  &.button {
    &--style-1 {
      @extend .button--style-1;
    }

    &--style-2 {
      @extend .button--style-2;
    }

    &--default {
      @extend .button--default;
    }

    &--filled {
      @extend .button--filled;
    }

    &--filled-reverse {
      @extend .button--filled-reverse;
    }

    &--secondary {
      @extend .button--secondary;
    }

    &--secondary-alt {
      @extend .button--secondary-alt;
    }

    &--attention {
      @extend .button--attention;
    }
  }
}
