<template>
  <div>
    <button
      class="actions-button no-inactive-border btn btn-style--secondary btn-size--regular"
      :disabled="!actions.length"
      ref="button"
      @mousedown.prevent.stop="handleButtonDown"
      @click.prevent.stop
    >

      <i :class="show ? 'icon-before-close' : 'icon-before-more-vert'"></i>

    </button>
  </div>
</template>
<script lang="ts">

  import Vue from 'vue';
  import ActionsManager from './index.vue';

  /*
   * @vuese
   * @group Mixins
   * Render Floating Actions Menu For Any Workplace Collection Type
   * EXTENDS: WorkplaceActionsManager
   */
  export default Vue.extend({
    extends: ActionsManager,
    name: 'ActionsButton',
    data() {
      return {
        /*
         * @vuese
         * @type Null|VueRenderComponent
         * Floating Actions Menu Exists
         */
        show: false,
      };
    },

    mounted() {
      this.$root.$on('workplace-close-actions', this.close);
    },

    beforeDestroy() {
      if(this.$refs.button !== undefined) this.$refs.button.removeEventListener('blur', this.handleBlur);
      this.$root.$off('workplace-close-actions', this.close);
    },

    methods: {
      handleBlur(event) {
        // blur happens first, so delay close for possible action click
        setTimeout(() => {
          this.$root.$emit('workplace-close-actions', true);
        }, 200);
      },

      handleButtonDown() {
        if (this.show) {
          // button in open state (X icon visible)
          // set closed state.
          this.close();
          //first close any other buttons listening to event
          this.$root.$emit('workplace-close-actions', true);
        }
        else {
          //first close any other buttons listening to event
          this.$root.$emit('workplace-close-actions', true);
          this.$nextTick(() => {
            //then focus selected button.
            this.$refs.button.addEventListener('blur', this.handleBlur);
            this.$refs.button.focus();
            this.open();
          });
        }
      },

      /*
       * @vuese
       * Open Actions Menu And Determine Style Attributes To Properly Set Floating Menu Position
       */
      open() {
        this.show = true;
        //open the menu.
        this.$root.$emit('workplace-open-actions', {
          actions: this.actions,
          handle: this.handle,
          button: this.$refs.button,
        });
      },

      /*
       * @vuese
       * Close Floating Actions Menu
       */
      close() {
        if(this.$refs.button !== undefined) {
          this.$refs.button.removeEventListener('blur', this.handleBlur);
          this.$refs.button.blur();
        }
        this.show = false;
      },
    },
  });
</script>

<style lang="scss" scoped>
  @import 'actions-button';
</style>
