<template>
  <div class="q-option-menu scrolling actions-menu"
       v-show='show' :style="floatingActionsStyle" >
    <ul v-if="actions" ref="list">
      <li v-for="(action, key) in actions" :key="`action-${key}`" @click="handle(action)" class="bgc-white action-item">
          <span v-if="action">
            {{ action.label }}
          </span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { throttle, debounce } from 'lodash';
/*
 * @vuese
 * @group Mixins
 * Render Listing Actions Menu Controlled by Listing Actions Button
 * EXTENDS: WorkplaceActionsManager
 */
export default Vue.extend({
  name: 'ActionsMenu',
  data() {
    return {

      show: false,

      button: null,

      actions: {
        default: null,
      },

      handle: {
        type: Function,
        default: null,
      },

      floatingActionsStyle: '',

      // lodashed listener for add / remove
      updatePositionThrottled: null,

    };
  },

  mounted() {
    this.updatePositionThrottled = throttle(this.updatePosition, 10, { leading: true });
    this.handleOpen = debounce(this.handleOpen, 100, { leading: true });
    this.close = debounce(this.close, 100, { leading: true });
    this.$root.$on('workplace-close-actions', this.close);
    this.$root.$on('workplace-open-actions', this.handleOpen);
  },

  beforeDestroy() {
    this.handle = null;
    this.actions = null;
    this.button = null;
    this.removePositionListeners();
    this.$root.$off('workplace-close-actions', this.close);
    this.$root.$off('workplace-open-actions', this.handleOpen);
  },

  methods: {

    handleOpen(event) {
      // TODO proper
      this.handle = event.handle;
      this.actions = event.actions;
      this.button = event.button;
      this.removePositionListeners();
      this.addPositionListeners();
      this.show = true;
      this.updatePosition();
    },

    addPositionListeners() {
      // window scroll for mobile
      window.addEventListener('scroll', this.updatePositionThrottled);
      document.body.addEventListener('scroll', this.updatePositionThrottled);
      window.addEventListener('resize', this.updatePositionThrottled);
      const vscrollViewport = document.querySelector('.listing__table-body');
      if (vscrollViewport) vscrollViewport.addEventListener('scroll', this.updatePositionThrottled);
    },

    removePositionListeners() {
      window.removeEventListener('scroll', this.updatePositionThrottled);
      document.body.removeEventListener('scroll', this.updatePositionThrottled);
      window.removeEventListener('resize', this.updatePositionThrottled);
      const vscrollViewport = document.querySelector('.listing__table-body');
      if (vscrollViewport) vscrollViewport.removeEventListener('scroll', this.updatePositionThrottled);
    },

    updatePosition() {
      if (!this.show) return;

      const buttonRect = this.button.getBoundingClientRect();

      // TODO measure size of menu
      const elHeight = this.actions.length * 33 + 20;

      const openable = {
        right: window.innerWidth - buttonRect.right + buttonRect.width > buttonRect.left,
        down: window.innerHeight - buttonRect.bottom + buttonRect.height > buttonRect.top,
      };

      // if within listing, test for bounds
      const vscrollViewport = document.querySelector('.listing__table-body');
      if (vscrollViewport) {
        const scrollRect = vscrollViewport.getBoundingClientRect();
        if (buttonRect.bottom <= scrollRect.top || buttonRect.top >= scrollRect.bottom) {
          this.button.blur();
          this.$root.$emit('workplace-close-actions', true);
          this.show = false;
        }
      }

      const position = {
        x: openable.right ? { left: `${buttonRect.left - 1}px`, right: '' }
        : { right: `${document.body.offsetWidth - window.pageXOffset - buttonRect.right - 1}px`, left: '' },
        y: openable.down ? { top: `${buttonRect.bottom}px`, bottom: 'auto' }
        : { top: `${buttonRect.top - elHeight}px`, bottom: 'auto' },
      };

      this.floatingActionsStyle = { ...position.x, ...position.y };
    },

    close() {
      this.removePositionListeners();
      this.show = false;
    },

  },
});
</script>

<style lang="scss" scoped>
  @import 'actions-button';

  .c-gray-dark {
    color: #414b50;
  }
  .text-left {
    text-align: left;
  }

  .action-item:hover {
    color: #fff !important;
    background-color: #2C5BAD !important;
  }

  .actions-menu {
    margin: rem(1) 0 !important;
    max-width: rem(160);
    overflow: auto;
    position: fixed;
    top: 200px;
    z-index: 4;
    text-align: left;
  }
</style>
