<template>
  <div>
    <button
      class="actions-button no-inactive-border btn btn-style--secondary btn-size--regular"
      :disabled="!actions.length"
      ref="button"
      @mousedown.stop="handleButtonDown"
    >
      <i :class="show ? 'icon-before-close' : 'icon-before-more-vert'"></i>

    </button>

    <actions-menu />

  </div>
</template>
<script lang="ts">

  import Vue from 'vue';
  import ActionsMenu from '@/components/workplace/shared/actions/actions-menu.vue';
  import ActionsButton from '@/components/workplace/shared/actions/actions-button.vue';

  /*
   * @vuese
   * @group Mixins
   * Render Floating Actions Menu For Any Workplace Collection Type
   * EXTENDS: ActionsButton
   */
  export default Vue.extend({
    extends: ActionsButton,
    name: 'ActionsGroup',
    components: {
      ActionsMenu,
      ActionsButton,
    },
  });
</script>

<style lang="scss" scoped>
  @import 'actions-button';
</style>
