@import 'styles/globals';

.actions-button {
  outline: none;
  margin: 0;
  width: rem(40);
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(43);
  font-size: rem(22);
  //transition: none !important; //override .btn
  border: 0.07143rem solid rgba(0, 0, 0, 0);
  cursor:pointer;

  @include focus-state(
    $reset: true
  );

  &:hover,  &:focus {
    border: 0.07143rem solid #dde0e2;
  }

  &:not([disabled]){
    color: $color-blue;
  }

  i {
    fill: $color-blue;
    pointer-events: none;
    vertical-align: middle;
    display: table-cell;
    position:relative;
    top: rem(-4);

    &::before {
      margin-right: 0;
      display: table-cell;
      vertical-align: middle;
      font-size:inherit;
    }
  }
  span {
    height: rem(20);
    vertical-align: middle;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }
}

.actions-button:not(:active):not(:focus):not(:hover):not(.actions).no-inactive-border {
  border: rem(1) solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background-color: transparent;
  display: inline-flex;
}