<template>
  <div class="decision-box" @click="$emit('click')">
    <h6 class="heading-6">{{ title }}</h6>
    <p class="paragraph subheading__paragraph" v-if="text">{{ text }}</p>
    <!--TODO uncomment this after dark-release and it works-->
    <!--<p class="paragraph subheading__paragraph ui&#45;&#45;orange" v-if="warningText">{{warningText}}</p>-->
    <p class="paragraph pricing__paragraph">{{ subtitle }}</p>
  </div>
</template>
<script type="text/babel">
  export default {
    name: 'decision-box',
    props: [
      'title',
      'subtitle',
      'text',
      'warningText',
    ],
  };
</script>
