.path-user {

  // Hide the "Edit" and "View" tabs displayed from drupal
  .drupal-tabs {
    display: none;
  }

  .modal__content {

    .modal-body {

      .jobsite-form {
        padding: 24px;
        background-color: #f9f9f9;
      }
    }

    .link-account-form {

      .password input {
        -webkit-text-security: disc;
      }

      .form-group {
        background-color: $color-grey-2;
      }

      p {
        color: $color-grey-38;
        margin-left: 8px;
        max-width: 500px;
      }

      .form-item {
        width: 55%;
      }

      .icon-views, .icon-eye-off {
        cursor: pointer;
        color: $color-grey-38;
        font-size: 20px;
        position: relative;
        top: -38px;
        left: 85%;
        z-index: 10;
      }

      @include breakpoint ($break-small) {
        .icon-views, .icon-eye-off {
          left: 90%;
        }
      }
    }

    .remove-account-body {
      background-color: $color-grey-2;
      padding: 20px;

      h3 {
        color: $color-orange-lowlight;
      }

      .remove-account-details {
        padding-left: 20px;
        padding-right: 20px;

        .account-name {
          font-weight: bold;
        }

        .account-number {
          color: $color-grey-38;
        }
      }
    }

    .user-details-form {

      .form-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $color-grey-2;

        .form-item {
          padding: 0;
        }
      }

      @include breakpoint ($break-small) {
        .form-content {
          .form-item {
            width: 50%;
            flex: 1 1 auto;
            margin: auto;
            padding: 1rem;
          }
        }

      }

    }

    .modal-content {

      .card-edit-form {
        padding: 1rem;

        .card-details {

          .card-info {

            border-bottom: 1px solid $color-grey-11;
            .form-item {
              padding: 1rem;

              &:last-of-type {
                padding-bottom: 2rem;

                @include breakpoint ($break-small) {
                  padding-bottom: 1rem;
                }
              }

              .card-cvv {
                input {
                  margin-bottom: 0;
                  height: 32px;
                }
              }
            }
          }
        }

        .card-name {
          margin-top: 1rem;

          @include breakpoint ($break-small) {
            margin-top: 0;
          }
        }

        @include breakpoint ($break-small) {
          .card-details {
            .card-info {
              display: flex;
              flex-wrap: wrap;
            }
          }
          .form-item {
            flex: 1 1;
            margin: auto auto 2rem;
            padding: 1rem;
          }

        }

      }
    }

    .modal-footer {
      border-top: 1px solid $color-grey-11;
      flex-direction: column;

      @include breakpoint($break-small) {
        flex-direction: row;
      }

      .help {
        margin-bottom: 1rem;
        margin-top: 1rem;

        @include breakpoint($break-small) {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
    
    .credit-card-form {
      .form-group {
        flex-direction: column;

        @include breakpoint($break-small) {
          flex-direction: row;
        }

        .flex-row.col-3 {
          flex-direction: column !important;

          @include breakpoint($break-small) {
            flex-direction: row !important;
          }
        }

        .card-holder {
          width: 250px;

          @include breakpoint($break-small) {
            width: auto;
          }
        }

        &:nth-of-type(2) {
          margin-top: 1rem;

          @include breakpoint($break-small) {
            margin-top: 0;
          }
        }

      }
    }
  }

  .modal--quotes-rpp {
    .modal__content {
      padding: 24px;
    }
  }

  .account {
    .account-id {
      color: $color-grey-38;
    }
  }

  .removeCardModal {
    .form-content {
      flex-direction: column;
      margin: 1rem;
    }
    .modal-header {
      padding: 0 1rem;
      height: auto;

    }
  }
  @include breakpoint ($break-small) {
    .removeCardModal {
      .modal__content {
        max-width: 400px;
      }
      .warningText {
        color: $color-bright-red;
      }
      .cardDetails {
        margin-left: 1rem;
        .cardName {
          margin: 0;
          color: $color-blue-lowlight;
        }
        .expiration small {
          color: $color-grey-38;
          font-size: .8rem;
        }
      }
    }
  }

  .edit-card-modal,
  .add-credit-card-modal {
    .modal__content {
      @include breakpoint($break-large) {
        max-width: 800px;
      }
    }
  }

}
