.group {
  margin-top: 44px;

  &__heading {
    margin-top: 0;
    margin-bottom: 29px;
  }

  > a {
    display: inline-block;
    margin-top: 28px;
  }
}

.section {
  position: relative;
  padding: 24px  0;
  border-top: 1px solid $color-grey-11;

  &:last-child {
    border-bottom: 1px solid $color-grey-11;
  }

  &__title {
    margin: 0 0 5px;
    position: relative;

    .card-name {
      margin-bottom: 5px;
    }
  }

  &__actions {
    margin-top: 25px;

    a:first-child {
      margin-right: 30px;
    }

    @include breakpoint($break-small) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;

      a {
        margin-left: 1rem;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }

  h5 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.section__field-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  label {
    margin: 0 10px 0 0;
  }

  span {
    color: $color-grey-38;
  }
}
