.personal-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .change-link {
    width: 100%;
    margin: 0;

    @include breakpoint($break-small) {
      width: auto;
      margin-left: 10px;
    }
  }
}
