 .form-checkboxes input[type='checkbox']:checked,  .form-checkboxes input[type='checkbox']:not(:checked),  .form-checkboxes input[type='radio']:checked,  .form-checkboxes input[type='radio']:not(:checked) { left: -9999px; position: absolute; }

 .form-checkboxes input[type='checkbox']:checked + label,  .form-checkboxes input[type='checkbox']:not(:checked) + label,  .form-checkboxes input[type='radio']:checked + label,  .form-checkboxes input[type='radio']:not(:checked) + label { cursor: pointer; display: inline-block; line-height: 1; padding-left: 1.42857rem; position: relative; }

 .form-checkboxes input[type='checkbox']:checked + label::before,  .form-checkboxes input[type='checkbox']:not(:checked) + label::before,  .form-checkboxes input[type='radio']:checked + label::before,  .form-checkboxes input[type='radio']:not(:checked) + label::before { background: #FFFFFF; border: 0.07143rem solid #DDE0E2; border-radius: 0.14286rem; content: ''; height: 1.14286em; left: 0; position: absolute; top: -0.07143rem; transition: all 300ms ease-in-out; width: 1.14286em; }

 .form-checkboxes input[type='checkbox']:checked + label::after,  .form-checkboxes input[type='checkbox']:not(:checked) + label::after,  .form-checkboxes input[type='radio']:checked + label::after,  .form-checkboxes input[type='radio']:not(:checked) + label::after { left: 3px; position: absolute; top: 0; transition: all 300ms ease-in-out; }

 .form-checkboxes input[type='checkbox']:not(:checked) + label::after,  .form-checkboxes input[type='radio']:not(:checked) + label::after { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }

 .form-checkboxes input[type='checkbox']:checked + label::after,  .form-checkboxes input[type='radio']:checked + label::after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-transform-origin: top; transform-origin: top; }

 .form-checkboxes .description { margin-left: 1.42857rem; }

 .form-checkboxes input[type='checkbox']:checked + label::before { background-color: #0050A9; border-color: #0050A9; }

 .form-checkboxes input[type='checkbox']:checked + label::after { font-family: "themeIcons"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; speak: none; text-decoration: none; text-transform: none; background-image: url("/themes/custom/unitedrentals/dist/img/icons/src/check--white.svg"); background-position: center; background-repeat: no-repeat; background-size: 1em; color: #FFFFFF; content: ''; font-size: calc(1.14286em - 6px); height: 1em; -webkit-transform: scale(1.5); transform: scale(1.5); width: 1em; }

 .form-radios input[type='checkbox']:checked,  .form-radios input[type='checkbox']:not(:checked),  .form-radios input[type='radio']:checked,  .form-radios input[type='radio']:not(:checked) { left: -9999px; position: absolute; }

 .form-radios input[type='checkbox']:checked + label,  .form-radios input[type='checkbox']:not(:checked) + label,  .form-radios input[type='radio']:checked + label,  .form-radios input[type='radio']:not(:checked) + label { cursor: pointer; display: inline-block; line-height: 1; padding-left: 1.42857rem; position: relative; }

 .form-radios input[type='checkbox']:checked + label::before,  .form-radios input[type='checkbox']:not(:checked) + label::before,  .form-radios input[type='radio']:checked + label::before,  .form-radios input[type='radio']:not(:checked) + label::before { background: #FFFFFF; border: 0.07143rem solid #DDE0E2; border-radius: 0.14286rem; content: ''; height: 1.14286em; left: 0; position: absolute; top: -0.07143rem; transition: all 300ms ease-in-out; width: 1.14286em; }

 .form-radios input[type='checkbox']:checked + label::after,  .form-radios input[type='checkbox']:not(:checked) + label::after,  .form-radios input[type='radio']:checked + label::after,  .form-radios input[type='radio']:not(:checked) + label::after { left: 3px; position: absolute; top: 0; transition: all 300ms ease-in-out; }

 .form-radios input[type='checkbox']:not(:checked) + label::after,  .form-radios input[type='radio']:not(:checked) + label::after { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }

 .form-radios input[type='checkbox']:checked + label::after,  .form-radios input[type='radio']:checked + label::after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); -webkit-transform-origin: top; transform-origin: top; }

 .form-radios .description { margin-left: 1.42857rem; }

 .form-radios input[type='radio']:checked + label::before,  .form-radios input[type='radio']:not(:checked) + label::before { border-radius: 100%; }

 .form-radios input[type='radio']:checked + label::after,  .form-radios input[type='radio']:not(:checked) + label::after { background-color: #0050A9; border-radius: 100%; content: ''; height: 1.14286em; left: 0; top: -0.07143rem; -webkit-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: center; transform-origin: center; width: 1.14286em; }