.reservation-confirmation {
  position: relative;

  .cart__job-confirmation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include breakpoint($break-small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    a {
      margin-right: 20px;
    }

    .icon {
      cursor: pointer;
      color: $color-blue;
    }

    .icon-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;

      @include breakpoint($break-small) {
        margin-bottom: 0;
      }
    }
  }

  .delivery-pickup-summary {
    border-left: $border-grey;
    border-right: $border-grey;
    background: $color-white;
  }

  .date-time-group {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    .left-side,
    .right-side {
      display: flex;
      flex-direction: row;
      width: 95%;
      margin: 10px 0;

      @include breakpoint($break-small) {
        width: auto;
        margin: 0;
      }
    }

    &__details {
      flex-direction: column;

      p {
        margin: 0;
      }

      h3 {
        margin: 0 0 10px 0;
      }
    }

    .calendar-style {
      height: 60px;
      width: 60px;
      margin-right: 15px;
      background: $color-grey-11;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > * {
        margin: 0;
        width: auto;
      }
    }
  }

  .billing-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: $color-grey-2;
    border-left: $border-grey;
    border-right: $border-grey;
    border-bottom: $border-grey;

    h3 {
      margin-top: 0;
    }

    &__content {
      display: flex;
      flex-direction: row;
    }

    h6,
    p {
      margin: 0;
    }

    .requester,
    .approver {
      display: flex;
      flex-direction: column;
      margin-right: 5rem;
    }
  }
}