<div class="reservation-confirmation">
  <div class="cart__job-grouping">
    <header class="cart__job-confirmation">
      {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
        with {
          heading_2: reservation_heading_2,
          heading_2_modifiers: reservation_heading_2_modifiers
        }
      %}
      <div class="icon-group">
        <a href="mailto:test@unitedrentals.com?subject=heybody=you%20did%20it!" target="_top">
          <i class="icon icon-envelope"></i>
        </a>
        <i class="icon icon-print"></i>
      </div>
    </header>
    <header class="cart__job-title-area">
      <div class="heading-3">TODO TITLE </div>
      <p class="paragraph address__paragraph">TODO SUBTITLE </p>
    </header>
    <header class="cart__needed-by">
      <p class="paragraph">
        Needed By 07/24/2017
        <span><strong>Job Site Contact</strong> John Doe (000) 555-1212</span>
      </p></header>
    <div class="delivery-pickup-summary">
      <div class="date-time-group">
        <div class="left-side">
          <div class="calendar-style">
            <h6>AUG</h6>
            <h2>14</h2>
          </div>


          <div class="date-time-group__details">
            <h3>UR Delivery</h3>
            <p>Morning 7am-10am, 07/24/2017</p>
          </div>
        </div>

        <div class="right-side">
          <div class="calendar-style">
            <h6>AUG</h6>
            <h2>24</h2>
          </div>
          <div class="date-time-group__details">
            <h3>UR Pickup</h3>
            <p>Morning 7am-10am, 07/27/2017</p>
          </div>
        </div>
      </div>

    </div> <div class="editable-cart-item">
      <div class="cart__item">
        <div class="cart__img">
          <img src="https://kelex.local/sites/default/files/category/310/310-9801_0.jpg" height="44" width="44">
        </div>
        <div class="cart__details">
          <p class="cart__cat_class_code">310-9801</p>
          <p class="cart__details__name">Articulating Boom Lift, 125', 4WD</p>
          <p class="cart__details__pricing">$3,813<i class="icon icon-chevron-down"></i></p>
          <div class="cart__details__content">
            <p><strong>Delivery:</strong> Morning 7am-10am, 07/24/2017</p>
            <p><strong>Pick up:</strong> Morning 7am-10am, 07/27/2017</p>
          </div>
        </div>
      </div>
    </div>
    <div class="billing-info">
      <h3>Billing Information</h3>
      <div class="billing-info__content">
        <div class="requester">
          <h6>Requester</h6>
          <p>TODO</p>
        </div>
        <div class="approver">
          <h6>Approver</h6>
          <p>TODO</p>
        </div>
      </div>
    </div>
  </div>
</div>