.project-uptime-related-equipment {

  &__wrapper {
    width: 80%;
    margin: 2.85rem auto 0;

    @include breakpoint($break-medium) {
      margin-top: 0;
      max-width: 12.14rem;
      margin-left: 1.43rem;
      float: right;
      clear: right;
    }

    h2.heading-2 {
      font-size: $font-size-xsmall;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey-11;
      padding-bottom: .43rem;
    }
  }
}

.project-uptime-article__content {
  padding-top: 1.785rem;

  .project-uptime-related-equipment__wrapper {
    display: none;

    @include breakpoint($break-medium) {
      display: block;
    }
  }
}

.project-uptime-article-details_related_equipment {
  @include breakpoint($break-medium) {
    display: none;
  }
}

.related-equipment-type {
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-med;
  padding: 1.07rem 1.43rem 1.43rem;
  background: $white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    min-height: 19.64rem;

    &:before {
      content: '';
      display: block;
      padding-top: 142%;
    }
  }

  &__image {
    text-align: center;
    min-height: 65%;
    max-width: 95%;
    text-align: center;
    margin: 0 auto;

    @include breakpoint($break-small) {
      min-height: 37%;
    }
  }

  &__name {
    color: $color-blue;
    margin-top: .714rem;
    position: absolute;
    bottom: 3.43rem;
    width: auto;
    padding-right: 1.285rem;
    font-size: 1.07rem;

    @include breakpoint($break-small) {
      font-size: $font-size-h5;
    }
  }

  .button {
    justify-content: center;
    position: absolute;
    width: calc(100% - 2.857rem);
    bottom: 1.43rem;
    height: 3.2857rem !important;
    font-size: 0.8rem;
  }
}

.related-equipment-block {
  background-color: $color-grey-2;
  padding-top: 7.5%;
  padding-bottom: 12.5%;

  @include breakpoint($break-small) {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  &__headline {
    font-size: $font-size-large;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1.43rem;

    @include breakpoint($break-small) {
      font-size: $font-size-h3;
      padding-bottom: 1.93rem;
    }
  }
}

.page-node-type-project-uptime-pages {
  .block-project-uptime-siderail-block {
    .equipment-type__container {
      display: block;
      height: 21rem;
      min-height: 21rem;

      @include breakpoint(1200px) {
        display: block;
        height: 18vw;
        min-height: 18vw;
      }

      &:nth-child(n+2) {
        @include breakpoint($break-small) {
          display: none;
        }
      
        @include breakpoint(1200px) {
          display: block;
        }
      }
    }

    .equipment-type {
      padding: 2% 3% 3%;
      .button {
        position: static;
        margin: .5rem auto 0;
        font-size: .85rem;

        @include breakpoint(1200px) {
          font-size: 1rem;
        }
      }
    }

    .equipment-type__image {
      img {
        max-height: 12rem;
        margin: 0 0 1rem;
      }
    }

    .equipment-type__name {
      position: static;
      width: auto;
      margin: 0 auto;
      padding: 0;
      height: auto;
      font-size: 1rem;
      
      @include breakpoint(1200px) {
        font-size: $font-size-h3;
      }
    }
  }
}
