<div class="related-equipment-type__container">
  <a href="{{ button_url }}">
    <div class="related-equipment-type">
      <div class="equipment-type__image">
        {% block equipment_type_image %}
          {{ equipment_image }}
        {% endblock %}
      </div>
      <h5 class="related-equipment-type__name">{{ equipment_type_name|raw }}</h5>
      {% include "@atoms/11-link-buttons-product-card/link-buttons.twig"
        with {
        link_modifiers: button_modifiers,
        link_content: button_content,
        link_url: button_url,
      }
      %}
    </div>
  </a>
</div>
