<template>
  <div class="no-data-available value-zero">
    <i class="icon icon-before-check"></i>
    <p>{{title}}</p>
  </div>
</template>
<script type="text/babel">
  export default {
    props: {
      title: {
        type: String,
        required: true,
        default: 'no items to display',
      },
    },
  };
</script>
