<template>
  <div class="no-data-available">
    <p>{{$i18n('dashboard.noData')}}</p>
    <p>{{$i18n('dashboard.noDataCause')}}</p>

    <div>
      <a @click="refresh">{{$i18n('dashboard.refresh')}}</a>
      <p>{{$i18n('dashboard.or')}}</p>
      <a :href="path">{{$i18n('dashboard.addEquipment')}}</a>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapActions, mapGetters } from "vuex";
  import types from "@/store/types";

  export default {
    computed: {
      ...mapGetters({
        accountId: types.workplace.accountId,
      }),
    },
    methods: {
      ...mapActions({
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
      }),
      refresh() {
        this.fetchEquipmentOnRent({
          accountId: this.accountId,
        });
      },
    },
    props: {
      path: {
        type: String,
        default: '/marketplace/equipment',
      },
    },
  };
</script>
