<template>
  <router-link  @click.native.prevent="handleClick(route)" event="" :to="route">
    <div :class="{'widget-data-group':true, 'shimmer':loading, 'disabled':disabled}">
      <div>
        <span class="status-span" :class="statusSpan"></span>
        <h5>{{ title }}</h5>
      </div>
      <div>
        <h3 class="heading-3 heading-3--thin" :class="highlightCount">{{ count }}</h3>
        <i class="icon icon-before-arrow-right"></i>
      </div>
    </div>
  </router-link>
</template>
<script type="text/babel">
  import { has } from 'lodash';

  export default {
    computed: {
      route() {
        return {
          name: this.path.name,
          query: this.path.query,
          params: {
            accountId: this.$route.params.accountId,
          },
        };
      },
      highlightCount() {
        return this.count > 0 && has(this.statusColorCount, this.title)
          ? 'highlight-count'
          : '';
      },
      statusSpan() {
        if (this.count > 0 && has(this.statusColorCount, this.title)) {
          return this.statusColorCount[this.title];
        }

        if (has(this.statusColor, this.title)) {
          return this.statusColor[this.title];
        }

        return 'status-grey';
      },
      disabled() {
        return this.count < 1;
      },
    },
    methods: {
      handleClick(route) {
        if (!this.disabled) {
          this.$router.push(route);
        }
      },
    },
    data() {
      return {
        statusColor: {
          'Advanced Pickup': 'status-blue-lowlight',
          'Overdue': 'status-bright-red', // eslint-disable-line
          'Due Soon': 'status-orange-highlight',
          'Pickup Requested': 'status-grey',
        },
        statusColorCount: {
          'Idle': 'status-bright-red',  //eslint-disable-line
          'Overdue': 'status-bright-red',  //eslint-disable-line
        },
      };
    },
    props: {
      count: {
        type: Number,
        required: true,
        default: 0,
      },
      path: {
        type: Object,
        required: true,
        default() {
          return {
            name: 'workplaceEquipmentList',
            query: {
              group: 'jobsite',
              sortBy: 'equipmentName',
              sortDirection: 'asc',
            },
          };
        },
      },
      title: {
        type: String,
        required: true,
        default: '',
      },
      loading: {
        type: Boolean,
        required: true,
        default: true,
      },
    },
  };
</script>
