<template>
  <card class="workplace-widget">
    <card-header class="workplace-widget__header flex-row">
      <h4 class="workplace-widget__header-title fw-normal m-y-0" style="width: auto">{{ title }}</h4>
      <ur-tooltip :message="tooltip" :messageIsHtml="true" position="right" trigger="hover click touch" v-if="tooltip"></ur-tooltip>

      <span class="grow"></span>
      <div class="workplace-widget__header-time-ago time-ago" v-if="!loading">
        <div class="flex-row fs-small c-gray flex-gap-2 align-items-center">
          <i class="icon icon-before-access-time"></i>
          <timeago :datetime="timeSinceUpdate" :auto-update="60" :max-time="86400 * 365"/>
        </div>
      </div>
    </card-header>

    <card-body class="widget-body">
      <slot v-if="!loading" />
      <div v-else class="bgc-gray-lightest">
        <ur-loading-spinner/>
      </div>
    </card-body>

    <card-footer v-if="dataGroups.length > 0">
      <widget-data-group
        v-for="group in dataGroups"
        :key="group.title"
        :count="group.count"
        :loading="loading"
        :path="group.path"
        :title="group.title"
      />
    </card-footer>

  </card>
</template>

<script>
  import Vue from 'vue';
  import { Card, CardHeader, CardBody, CardFooter } from '@/components/common/card';
  import UrMenu from '@/components/common/ur-menu';
  import WidgetDataGroup from './widget-data-group.vue';
  import UrTooltip from '@/components/common/ur-tooltip.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  export default Vue.extend({
    name: 'workplaceWidget',
    components: {
      Card,
      CardBody,
      CardFooter,
      CardHeader,
      UrLoadingSpinner,
      UrMenu,
      UrTooltip,
      WidgetDataGroup,
    },
    props: {
      title: {
        type: String,
        required: true,
      },
      loading: {
        type: Boolean,
        default: false,
      },
      timeSinceUpdate: {
        type: Number,
        required: true,
      },
      dataGroups: {
        type: Array,
        default: () => [],
        validator(groups) {
          return Array.isArray(groups) && groups.every(group => typeof group === 'object'
              && typeof group.title === 'string'
              && typeof group.count === 'number');
        },
      },
      tooltip: {
        type: String,
        required: false,
      },
    },
    methods: {
      update() {
        window.location.reload();
      },
      windowPrint() {
        window.print();
      },
    },
  });
</script>

<style lang="scss">
  @import 'styles/globals';

  .workplace-widget__header {
    .info-icon-tooltip {
      //override inline styles in ur-tooltip
      font-size: rem(16) !important;
      height: rem(16) !important;
      width: rem(16) !important;
      line-height: rem(20);
    }

    [class^="workplace-widget__header"], .info-icon-tooltip {
      border: 5px solid $color-transparent;
      box-sizing: content-box;
    }

    > *:first-child {
      border-left:0;
    }

    > *:last-child {
      border-right:0;
    }
  }

  .workplace-widget__header-time-ago {
    i::before {
      font-size: rem(16);
      line-height: rem(20);
      margin-right:0;
      line-height:100%;
      vertical-align: middle;
    }
  }

  .info-icon-tooltip {
    padding:0;
  }

  // keep rows same height for range where they can wrap.
  @include media(">=m", "<1238px") {
    .workplace-widget__header {
      min-height: rem(78);
    }

    .card-footer a {
      min-height: rem(66);
    }
  }

  @include media(">=640px", "<800px") {
    .workplace-widget__header {
      min-height: rem(78);
    }

    .card-footer a {
      min-height: rem(66);
    }
  }
</style>
