{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
{% embed "@organisms/landing-page-sitemap/landing-page-sitemap.twig" %}

  {% block outer_attributes %}
    {{ attributes.addClass('sitemap-block', 'grid') }}
  {% endblock %}

  {% block left_attributes %}
    {{ left_attributes.addClass('group-left', 'column') }}
  {% endblock %}

  {% block left_content %}
    {{ left }}
  {% endblock %}

  {% block right_attributes %}
    {{ right_attributes.addClass('group-right', 'column') }}
  {% endblock %}

  {% block right_content %}
    {{ right }}
  {% endblock %}

{% endembed %}
