<template>

  <div class="reservations-and-quotes" v-if="showChildRoute">
    <router-view
      name="quotes"
      :stat="timedOut"
      @refresh="init"></router-view>
  </div>
  <div v-else class="flex-row align-center">
    <div style="margin: 15px auto 20px;">
      <ur-loading-spinner />
    </div>

  </div>

</template>
<script>
  /* eslint-disable max-nested-callbacks */
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import { mapActions, mapState, mapMutations } from 'vuex';
  import types from '@/store/types';
  import moment from 'moment';
  import { isEmpty } from 'lodash';

  export default {
    name: 'quotes',
    components: {
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        selectedGlobalAccountId: state => state.accounts.selectedAccountId,
        accounts(state) {
          return state.accounts;
        },
        allAccounts(state) {
          return state.accounts.all;
        },
        account(state) {
          return state.accounts.all[this.defaultAccountId];
        },
        defaultAccountId: state => state.user.defaultAccountId,
        accountTrans(state) {
          return state.transactions.all[this.defaultAccountId];
        },
        allQuotes(state) {
          const { quoteId } = this.$route.params;
          return state.workplace.equipment[this.defaultAccountId].filter(quote =>
            quote.accountId === this.defaultAccountId && quote.transId === quoteId);
        },
        routeQuoteId() {
          const { quoteId } = this.$route.params;
          return quoteId;
        },
      }),
    },
    data() {
      return {
        showChildRoute: false,
        skipProcessing: false,
        transType: '2',
        timedOut: false,
      };
    },
    created() {
      if (window.location.hash.includes('quote-not-found') || window.location.hash.includes('cannot-proceed')) {
        this.showChildRoute = true;
        this.skipProcessing = true;
      }
    },
    methods: {
      ...mapActions({
        fetchEstimates: types.estimates.fetch,
        fetchDetails: types.readReservationDetails.fetch, // fetches details for a reservation OR transaction object
        setEmptyEstimate: types.estimates.setEmpty,
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
        fetchBranch: types.branch.fetch,
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
      }),
      ...mapMutations({
        setDefaultAccountId: types.user.setDefaultAccountId,
      }),
      pushToErrorPage(errorMsg, accountId, quoteId) {
        this.showChildRoute = true;
        this.$router.push({ name: 'quote-not-found',
          params: {
            errorMsg,
            accountId,
            reqId: quoteId,
          } });
      },
      processLoadingLogic() {
        if (this.skipProcessing) {
          return;
        }
        if (this.$route.params.quoteId) {
          // If an account is passed in we have to handle it all the possible scenarios
          if (this.$route.params.accountId) {
            if (!this.accounts.all[this.$route.params.accountId]) {
              this.pushToErrorPage('Account not available', this.$route.params.accountId, this.$route.params.quoteId);
            }
            else if (this.defaultAccountId === this.$route.params.accountId) {
              this.init();
            }
            // This handles when a user deep links while viewing another account.
            else if (this.accounts.all[this.$route.params.accountId]) {
              this.setDefaultAccountId(this.$route.params.accountId);
              this.processLoadingLogic();
            }
          }
          else {
            this.init();
          }
        }
      },
      processOrReload() {
        if (this.skipProcessing) {
          return;
        }
        // Verify that the full url is loaded (because deep links are weird it isn't always there).
        if (window.location.hash.length > 4) {
          // Make sure the route is loaded (again because deep links do weird things)
          if (!this.$route.params.quoteId) {
            window.location.reload();
          }
          else {
            this.processLoadingLogic();
          }
        }
      },
      setDetails(params) {
        this.fetchDetails(params).then(({ data }) => {
          /**
           * We normalize all of the data from the details calls into sensible params for estimates calls
           * Some items will have a requestId, others a requisitionId
           * Then we'll fetch estimates.
           */
          // IF the quote is corrupted, data will be an empty array.
          // IF the quote is valid, it will be an object with keys.
          this.timedOut = false;
          if (Object.keys(data).length) {
            const { accountId, branchId, requisitionId, pickup, jobsite, returnDateTime, startDateTime, urDelivery, rpp } = this.allQuotes[0];

            // Need to build items
            const items = this.allQuotes.map((q) => {
              const rObj = {};
              rObj.quantity = q.quantity;
              rObj.catClass = q.catClass;
              rObj.currency = q.currency;
              rObj.dayRate = q.dayRate;
              rObj.minRate = q.minRate;
              rObj.monthRate = q.monthRate;
              rObj.rate = q.rate;
              rObj.weekRate = q.weekRate;
              return rObj;
            }).reduce((acc, obj) => {
              acc[obj.catClass] = obj;
              return acc;
            }, {});

            const estimateData = {
              accountId,
              branchId,
              items,
              delivery: urDelivery ? 'Y' : 'N',
              jobsiteId: jobsite.id,
              requisitionId,
              returnDateTime,
              rpp: rpp === 'Y',
              startDateTime,
              urWillPickup: pickup ? 'Y' : 'N',
              webRates: false,
              useCache: false,
            };

            this.fetchEstimates(estimateData).then((result) => {
              if (result && result.totals) {
                this.fetchBranch(result.branchId).then(() => {
                  this.showChildRoute = true;
                  this.timedOut = false;
                  },
                ).then(() => {
                  if (this.$route.query.action === 'print') {
                    window.print();
                  }
                });
              }
              else {
                this.$router.push({ name: 'cannot-proceed',
                  params: {
                    errorMsg: 'Estimate or estimate totals is missing.',
                    accountId: params.accountId,
                    reqId: params.requisitionId,
                  } });
              }
            }).catch((e) => {
              console.warn(`This likely means charge estimates call has timeout error.`); // eslint-disable-line
              if (JSON.stringify(e).includes('cURL error 28')) {
                this.timedOut = true;
              }
              this.$router.push({ name: 'cannot-proceed',
                params: {
                  errorMsg: `Charge estimates: ${e}.`,
                  accountId: params.accountId,
                  reqId: params.requisitionId,
                } });
            });
         }
          else {
            this.setEmptyEstimate(params.requisitionId);
          }
        }).catch((e) => {
          console.warn(`This likely means details call has timeout error.`); // eslint-disable-line
          if (JSON.stringify(e).includes('cURL error 28')) {
            this.timedOut = true;
          }
          this.$router.push({ name: 'cannot-proceed',
            params: {
              errorMsg: `Details call: ${e}.`,
              accountId: params.accountId,
              reqId: params.requisitionId,
           } });
        });
      },
      /**
       * This init function runs after any changes on the account-selector on quote listing page
       * for changing the account to the one that we can retrieve the correct data from.
       */
      init() {
        const quoteId = this.routeQuoteId;
        const accountId = this.defaultAccountId;
        /**
         * Because of the caching on the equipment listing page, new quotes and converted quotes
         * will not be immediately seen. The will be seen on the quotes-list page.
         * There are ongoing discussions on how to deal with that problem and ultimately remove the quote listing page
         * which will allow us to simplify these data calls further.
         */
        this.fetchEquipmentOnRent({ accountId, type: this.transType, transId: quoteId, useCache: true }).then(() => {
          if (!this.allQuotes || this.allQuotes.length <= 0) {
            this.pushToErrorPage('Account not available', accountId, quoteId);
          }
          else if (this.allQuotes[0].startDateTime
            && moment().diff(moment(this.allQuotes[0].startDateTime), 'months', true) > 1) {
            this.pushToErrorPage('Quote over a month old', accountId, quoteId);
          }
          else {
            this.showChildRoute = true;
            this.timedOut = false;
            // AllQuotes will contain all the equipment lines, we only need to pull this data once.
            const { accountId, requisitionId } = this.allQuotes[0];
            const $params = {};
            $params.accountId = accountId;
            $params.requisitionId = requisitionId;
            this.setDetails($params);
            const catClasses = Object.values(this.allQuotes)
              .map(({ catClass }) => catClass);
            if (catClasses) {
              this.fetchEquipment(catClasses);
            }
            else {
              this.$router.push({ name: 'cannot-proceed',
                params: {
                  errorMsg: 'No cat classes found.',
                  accountId,
                  reqId: quoteId,
                } });
            }
          }
        }).catch((e) => {
          console.warn(`This likely means quotes call has timeout error.`); // eslint-disable-line
          if (JSON.stringify(e).includes('cURL error 28')) {
            this.timedOut = true;
          }
          this.pushToErrorPage(`Quotes call: ${e}.`, accountId, quoteId);
        });
      },
    },
    watch: {
      /*
     If the user selects an account via the Global Account Selector, we will
     send them back to the manage equipment page because quote data is no longer valid
      */
      selectedGlobalAccountId(accountId) {
        window.location.assign(`/manage#/manage/${accountId}/dashboard`);
      },
      // Using this to determine if we can load the quote. We are not doing this in mounted as we need at least the
      // account list and this reduces some race conditions.
      // For reasons... the route won't load on a deep link normally, so a reload of the page is probably necessary.
      // The setTimeout is here to help with race conditions. Even a second can help.
      allAccounts(data) {
        if (!isEmpty(data)) {
          setTimeout(this.processOrReload, 1000);
        }
      },
    },
  };
</script>
<style lang="scss" scoped>
  .spinner {
    font-size: 8rem;
  }
</style>
