<template>
  <div class="reservation-details">

    <section class="reservation">
      <object-details-status
        :transTypeId="transTypeIdentifier"
        :quote="quote"
        :estimate="estimate"/>

      <object-details-item
        :allEquipment="allEquipment"
        :isEditable="true"
        :transTypeId="transTypeIdentifier"
        :quote="quote"
        :estimate="estimate"
        :loading="estimateLoading"
        :opened="editDetailToggle"
        :class="{ghost: editBillingIsOpen || editPickupDeliveryIsOpen || editJobsiteIsOpen}"
        :hideEditLink="hideEditLink"
        @editItemQtyIsOpen="handleToggle"
        @toggle="handleToggle"
        @saveQuantity="saveQuantity"/>

      <quote-jobsite-edit
        :jobsite="tempJobsite"
        :jobsiteError="jobsiteError"
        :accountId="defaultAccountId"
        :changing="jobsiteChanging"
        :saving="jobsiteSaving"
        :quote="quote"
        :afterAddJobsiteAction="addJobsiteAction"
        :class="{ghost: editBillingIsOpen || editPickupDeliveryIsOpen || editItemQtyIsOpen}"
        :hideEditLink="hideEditLink"
        @editJobsiteIsOpen="handleToggle"
        @change="setJobsiteChange"
        @save="saveNewJobsite"/>

      <quote-delivery-pickup
        :transTypeId="transTypeIdentifier"
        :quote="quote"
        :estimate="estimate"
        :totdelamnt="estimate.totals.deliveryFee"
        :totpuamnt="estimate.totals.pickupFee"
        :jobsiteError="jobsiteError"
        :dateError="dateError"
        :class="{ghost: editBillingIsOpen || editJobsiteIsOpen || editItemQtyIsOpen}"
        :hideEditLink="hideEditLink"
        @error="setError"
        @saving="setDpSaving"
        @editPickupDeliveryIsOpen="handleToggle"/>

      <object-details-billing
        :transTypeId="transTypeIdentifier"
        :quote="quote"
        :canEditForConvert="false"
        :account="account"
        :canEdit="false"
        :estimate="estimate"
        :class="{ghost: editPickupDeliveryIsOpen || editJobsiteIsOpen || editItemQtyIsOpen}"
        :hideEditLink="false"/>

    </section>

    <aside class="sidebar">
      <object-details-summary-sidebar
        :transTypeId="transTypeIdentifier"
        :quote="quote"
        :quoteItems="quoteItems"
        :estimate="estimate"
        :hideRppLineItem="hideRppLineItem"
        :loading="sidebarLoading"
        :accountRequirePo="accountRequirePo"
        :ctaActive="ctaError"/>
    </aside>
  </div>
</template>
<script>
  /* eslint-disable max-nested-callbacks */
  import ObjectDetailsStatus from '@/components/platform-account/common/object-details-status.vue';
  import ObjectDetailsItem from '@/components/platform-account/common/object-details-item.vue';
  import ObjectDetailsBilling from '@/components/platform-account/common/object-details-billing.vue';
  import ObjectDetailsSummarySidebar from '@/components/platform-account/common/object-details-summary-sidebar.vue';
  import QuoteJobsiteEdit from '@/components/platform-account/quotes/src/quote-jobsite-edit.vue';
  import QuoteDeliveryPickup from '@/components/platform-account/quotes/src/quote-delivery-pickup.vue';

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { get, isEmpty } from 'lodash';

  export default {
    name: 'quote-detail',
    components: {
      ObjectDetailsStatus,
      ObjectDetailsItem,
      ObjectDetailsBilling,
      ObjectDetailsSummarySidebar,
      QuoteJobsiteEdit,
      QuoteDeliveryPickup,
    },
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId || 0,
        quote(state) {
          return state.workplace.equipment[this.defaultAccountId].filter(a => a.transId === this.$route.params.quoteId)[0] || {};
        },
        quoteItems(state) {
          return state.workplace.equipment[this.defaultAccountId].filter(a => a.transId === this.$route.params.quoteId) || [];
        },
        reservationDetails() {
          return this.quote;
        },
        estimate(state) {
          return state.estimates.all[this.quote.requisitionId] || { items: [], totals: {} };
        },
        accountingCodesLen(state) {
          if (!isEmpty(this.quote) && this.quote.quoteId) {
            return Object.values(state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
              .filter(({ codeType }) => codeType === 'A')
              .length;
          }
        },
        requisitionCodesLen(state) {
          if (!isEmpty(this.quote) && this.quote.quoteId) {
            return Object.values(state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
              .filter(({ codeType }) => codeType === 'R')
              .length;
          }
        },
        allEquipment: state => state.catalog.equipment,
        account(state) {
          if (!isEmpty(this.quote)) {
            return state.accounts.all[this.quote.accountId];
          }
        },
        accountRequirePo() {
          return this.account.requirePo;
        },
        jobsites(state) {
          if (!isEmpty(this.quote)) {
            return state.jobs.all[this.defaultAccountId];
          }
          return {};
        },
        newestJobsite(state) {
          return state.quotes.newJobsiteId;
        },
      }),
      jobsite() {
        let jobId = 1;
        if (this.tempJobsiteId) {
          jobId = this.tempJobsiteId;
        }
        else {
          jobId = this.quote.jobsite.id;
        }
        return this.jobsites[jobId];
      },
      ctaError() {
        return this.jobsiteError || this.dateError || this.costError;
      },
    },
    data() {
      return {
        editItemQtyIsOpen: false,
        editJobsiteIsOpen: false,
        editPickupDeliveryIsOpen: false,
        editBillingIsOpen: false,
        editDetailToggle: false,
        current: '',
        hideEditLink: false,
        sidebarLoading: false,
        estimateLoading: false,
        transTypeIdentifier: 'Q',
        jobsiteError: false,
        jobsiteChanging: false,
        jobsiteSaving: false,
        dateError: false,
        costError: false,
        tempJobsiteId: 0,
        tempJobsite: {},
        addJobsiteAction: types.quotes.setNewJobsiteId,
        hideRppLineItem: true,
        hideDecline: false,
        hideRppBlock: true,
      };
    },
    methods: {
      ...mapActions({
        fetchAccountingRequisitionCodes: types.accountingRequisitionCodes.fetch,
        saveFormQuantity: types.readReservationDetails.saveFormQuantity,
        fetchEstimates: types.estimates.fetch,
        saveJobsite: types.readReservationDetails.updateJobsiteInfoOrTransactionJobId,
        storeJobsite: types.jobs.storeJobsite,
        fetchDetails: types.readReservationDetails.fetch,
        getPlace: types.googleMaps.getPlaceFromAddress,
        setPlace: types.user.ratesPlace,
        updateRequisitionBranchId: types.requisitions.update,
      }),
      setDpSaving(input) {
        if (!input && this.jobsiteError) {
          this.setError({ type: 'jobsite', flag: false });
        }
        this.sidebarLoading = input;
      },
      setError(input) {
        const { type, flag } = input;
        switch (type) {
          case 'jobsite':
            this.jobsiteError = flag;
            break;
          case 'date':
            this.dateError = flag;
            break;
          case 'cost':
            this.costError = flag;
            break;
          default:
            return false;
        }
      },
      setJobsiteChange(id) {
        // The temp Jobid
        this.tempJobsiteId = id;
        let changedId = id;
        if (!id) {
          changedId = this.quote.jobId || this.transaction.jobsite.id;
        }
        this.tempJobsite = Object.assign({}, this.jobsites[changedId]);
      },
      setClosestBranch(input) {
        const address = `${input.address1} ${input.city}, ${input.state}`;
        return this.getPlace(address).then(({ place }) => this.setPlace(place));
      },
      saveNewJobsite(input) {
        // input is the "new" jobsite
        this.jobsiteSaving = true;
        this.sidebarLoading = true;
        // Test if we have a new jobsite location
        let newJobsite = false;
        if (input.id !== this.quote.jobsite.id) {
          newJobsite = true;
        }
        // Test if we need to save the jobsite details
        let saveJobsite = false;
        Object.keys(this.jobsite).forEach((k) => {
          if (input[k] !== this.jobsite[k]) {
            saveJobsite = true;
          }
        });
        // IF we have nothing to save...
        if (!saveJobsite && !newJobsite) {
          this.jobsiteSaving = false;
          this.sidebarLoading = false;
          return;
        }

        const jobData = {
          jobId: input.id,
          accountId: input.accountId,
          name: input.name,
          contact: input.contact,
          email: input.email,
          address1: input.address1,
          mobilePhone: input.mobilePhone.replace(/\D/g, ''),
          city: input.city,
          state: input.state,
          zip: input.zip,
          requisitionId: this.quote.requisitionId,
          quoteId: this.quote.quoteId,
          jobsiteQuoteEditFlag: saveJobsite || newJobsite,
          status: 'OR,OA,OC,OD,QR,QT,QC,QD',
        };

        // Save the new jobsite with DAL, then...
        this.saveJobsite(jobData).then(() => {
          // Set the new information into the store.state
          this.storeJobsite(input);
          // Go get the new information to share with
          // all the other elements on the page...
          const vuexData = {
            accountId: input.accountId,
            requisitionId: this.quote.requisitionId,
            reservationId: this.quote.quoteId,
          };
          if (newJobsite && this.quote.delivery === 'Y') {
            // If this is a UR Delivery, AND this is a new jobsite id...
            // we need to go get the closest branch...
            this.setClosestBranch(input).then((response) => {
              // save the closest branch with DAL...
              this.updateRequisitionBranchId({
                accountId: this.account.id,
                requestId: this.quote.requisitionId,
                branchId: response.branchId,
              }).then(() => {
                // then go get the new requisition details
                this.fetchDetails(vuexData).then(() => {
                  this.jobsiteSaving = false;
                  this.sidebarLoading = false;
                  this.pullEstimate(
                    this.quote.delivery,
                    this.quote.urWillPickup,
                    this.quote.rpp,
                  );
                });
              });
            });
          }
          else { // just go get the new details
            this.fetchDetails(vuexData).then(() => {
              this.jobsiteSaving = false;
              this.sidebarLoading = false;
            });
          }
          // IF this is a branch pickup, we might have just
          // caused a price change for delivery, so we
          // need to alert the user of the change.
          if (this.estimate.delivery === 'N' && newJobsite) {
            this.jobsiteError = true;
          }
        });
      },
      getTransaction(quote) {
        return get(this.transactions, [quote.quoteId, 'items'], {});
      },
      init() {
        window.scrollTo(0, 0);
        this.tempJobsite = Object.assign({}, this.jobsites[this.quote.jobsite.id]);
      },
      handleToggle(input) {
        // this.editDetailToggle = !this.editDetailToggle;
        this.current = input.name;
        this.editDetailToggle = input.status;
        this.isGhost();
      },
      rppHandler() {
        if (this.account.rppDefault && this.account.rppDefault === 'Y') {
          this.hideDecline = true;
          this.hideRppLineItem = false;
          // this.hideRppBlock = false;
        }
        if (this.account.rppDefault && this.account.rppDefault === 'N') {
          this.hideRppLineItem = true;
          this.hideDecline = true;
          // this.hideRppBlock = true;
        }
        if (this.account.rppDefault && this.account.rppDefault === 'C') {
          this.hideRppLineItem = false;
          this.hideDecline = false;
          // this.hideRppBlock = false;
        }
      },
      isGhost() {
        if (this.current === 'object-details-item' && this.editDetailToggle === true) {
          this.editItemQtyIsOpen = true;
          this.hideEditLink = true;
        }
        if (this.current === 'quote-jobsite-edit' && this.editDetailToggle === true) {
          this.editJobsiteIsOpen = true;
          this.hideEditLink = true;
        }
        if (this.current === 'quote-delivery-pickup' && this.editDetailToggle === true) {
          this.editPickupDeliveryIsOpen = true;
          this.hideEditLink = true;
        }
        if (this.current === 'object-details-billing' && this.editDetailToggle === true) {
          this.editBillingIsOpen = true;
          this.hideEditLink = true;
        }
        if (!this.editDetailToggle) {
          this.editJobsiteIsOpen = false;
          this.editItemQtyIsOpen = false;
          this.editPickupDeliveryIsOpen = false;
          this.editBillingIsOpen = false;
          this.hideEditLink = false;
        }
      },
      makeCatClassesAndQuantities(data) {
        const catClassesAndQuantities = [];
        const catClasses = [];
        const quantities = [];
        Object.keys(data).forEach((ea) => {
          if (data[ea].quantity) {
            catClasses.push(ea);
            quantities.push(data[ea].quantity);
            catClassesAndQuantities.push(`${ea}=${data[ea].quantity}`);
          }
        });
        return { catClassesAndQuantities, catClasses, quantities };
      },
      pullEstimate(delivery, pickup, rpp) {
        const estObj = {
          branchId: this.quote.branchId,
          startDateTime: this.estimate.startDate,
          returnDateTime: this.estimate.returnDate,
          delivery,
          urWillPickup: pickup,
          rpp,
          items: this.estimate.items,
          accountId: this.estimate.accountId,
          jobsiteId: this.quote.jobsite.id,
          requisitionId: this.quote.requisitionId,
        };

        this.fetchEstimates(estObj).then(() => {
          this.sidebarLoading = false;
          this.estimateLoading = false;
        });
      },
      saveQuantity(data) {
        this.estimateLoading = true;
        this.sidebarLoading = true;

        /**
         * WARNING !!!!!
         *
         * I know this is goofy, I understand there are more
         * ES-6 ways of doing this. DO NOT CHANGE THIS!!
         *
         * There is a bug in javascript that nullifies the
         * value of an object on the first pass if that
         * object has only one key/value pair. Sending
         * a null value is BAD. See the note below...
         */
        const sendObj = {
          accountId: this.quote.accountId,
          requestId: this.quote.requisitionId,
          catClassList: '',
          qtyList: '',
        };

        const ccaq = this.makeCatClassesAndQuantities(data);

        /**
         * ATTENTION !!!!!
         *
         * This IF statement is REALLY IMPORTANT...
         * If you try to send this request to the DAL with either of these
         * two variables having an empty value, the request will cause
         * DAL to nullify and destroy all data for this quote
         *
         */
        if (ccaq.catClassesAndQuantities.length) {
          sendObj.catClassList = ccaq.catClasses.join(',');
          sendObj.qtyList = ccaq.quantities.join(',');

          this.saveFormQuantity(sendObj).then(() => {
            this.editDetailToggle = false;
            const estObj = {
              branchId: this.quote.branchId,
              startDateTime: this.estimate.startDate,
              returnDateTime: this.estimate.returnDate,
              delivery: this.estimate.delivery,
              urWillPickup: this.estimate.pickup,
              rpp: this.estimate.rpp === 'Y',
              items: data,
              accountId: this.estimate.accountId,
              jobsiteId: this.quote.jobsite.id,
              requisitionId: this.quote.requisitionId,
            };
            this.fetchEstimates(estObj).then(() => {
              this.sidebarLoading = false;
              this.estimateLoading = false;
            });
          });
        }
      },
    },
    // Hide the Sidebar -- Please leave this commented out for now - ejg
    beforeRouteEnter(to, from, next) {
      sidebarDisplay('none');
      accountSwitcher('none');
      next();
    },
    beforeRouteLeave(to, from, next) {
      sidebarDisplay('block');
      accountSwitcher('block');
      next();
    },
    mounted() {
      this.init();
      this.rppHandler();
      if (!this.jobsite) {
        this.$router.push({ name: 'cannot-proceed',
          params: {
            errorMsg: `Unable to find jobsite: ${this.quote.jobsite.id}`,
            accountId: this.quote.accountId,
            reqId: this.quote.requisitionId,
          } });
      }
    },
    watch: {
      newestJobsite() {
        if (this.newestJobsite) {
          this.setJobsiteChange(this.newestJobsite);
        }
      },
    },
  };

  function sidebarDisplay(value) {
    const el = document.querySelector('.main-sidebar');
    if (el) {
      el.style.display = value;
    }
  }

  function accountSwitcher(value) {
    const el = document.querySelector('.account-selector-reservation-listing');
    if (el) {
      el.style.display = value;
    }
  }
</script>
