.project-uptime-attachment {
  width: 100%;
  overflow: hidden;

  @include breakpoint($break-medium) {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 24px 3% 70px;
    font-size: $font-size-small;

    @include breakpoint($break-medium) {
      margin-right: 5%;
      margin-left: 5%;
    }
  }

  &__item {
    display: none;

    @include breakpoint($break-small) {
      display: flex;
    }

    &:last-child {
      display: flex;
      font-weight: bold;
      width: 100%;

      .icon {
        display: none;
      }

      span {
        font-weight: normal;
        display: none;
      }

      a {
        @extend .button;
        @extend .button--style-2;
        @extend .button--default;
        justify-content: center;
        align-items: center;
      }

      @include breakpoint($break-small) {
        width: initial;
        width: auto;

        span {
          display: block;
        }

        a {
          padding: inherit;
          line-height: inherit;
          display: inherit;
          width: inherit;
          height: inherit;
          border: inherit;
          border-radius: initial;
          font-size: inherit;
        }
      }
    }

    .icon {
      color: $color-grey-38;
      font-size: 12px;
      margin-right: 3px;
    }

    span {
      margin-left: 5px;
      color: $color-grey-38;
    }
  }
}

.project-uptime__featured-article-carousel {
  height: 260px;

  .featured-news-tile__wrapper {
    height: 260px;

    &::after {
      padding-top: 0;
    }
  }

  .VueCarousel{
      &-dot {
        margin-top: 0  !important;
      }

      &-pagination {
        width: auto !important;
        float: none !important;
        text-align: left !important;
        position: absolute;
        left: 4%;
        bottom: 6%;

        @include breakpoint($break-small) {
          left: 6%;
          bottom: 6%;
        }

        @include breakpoint($break-medium) {
          left: 5%;
          bottom: 5%;
        }
      }

      &-navigation {
        &-button {
          top: auto !important;
          bottom: 24px !important;
          @extend .icon;
          @extend .icon-angle-down;
          font-size: 18px !important;
          color: $color-grey-11 !important;
          border: 2px solid $color-grey-11;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          line-height: 32px;

          &::before {
            display: block;
            position: absolute;
            font-size: 18px;
            line-height: 18px;
            width: 18px;
            height: 18px;
            text-align: center;
            left: 50%;
            top: 50%;
          }
        }

        // &--disabled {
        //   color: $color-grey-11 !important;
        //   opacity: 1 !important
        // }

        &-prev {
          transform: none !important;
          left: auto !important;
          right: 64px !important;

          &::before {
            transform: rotate(90deg) translate(-50%,50%);
          }
        }

        &-next {
          transform: none !important;
          right: 24px !important;

          &::before {
            transform: rotate(270deg) translate(50%,-50%);
          }
        }
      }
    }
}
