.product_detail {

  &__container {
    padding: 32px 16px;

    @include breakpoint($break-small) {
      padding: 32px;
    }

    @include breakpoint($break-medium) {
     padding: 40px 32px 40px 40px;
    }
  }

  &__heading-1 {
    line-height: 38px;
    margin: 32px 0;
  }

  &__heading-4 {
    color: $color-blue-lowlight;
    line-height: 24px;
    margin-bottom: 32px;
    margin-top: 0;
  }

  &__button-group {
    display: flex;

    @include breakpoint($break-medium) {
      margin-bottom: 32px;
    }

    :first-child {
      @include breakpoint($break-small) {
        margin-right: 16px;
      }
    }

    .button {
      width: 343px;

      @include breakpoint($break-small) {
        width: 200px;
      }

      display: block;
      margin-bottom: 16px;
    }

  }
}