<div class="product_detail__content">
  {% block content %}
  <div class="product_detail__container">
    <div class="product_detail__breadcrumbs">
      {{ breadcrumbs }}
    </div>
    {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
      with {
        "heading_1": product_detail_title,
        "heading_1_modifiers": product_detail_title_modifiers,
        "heading_1_blockname": product_detail_blockname,
      }
    %}

    {% if product_detail_header_description %}
      <div class="product_detail__intro">
        {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
          with {
            "heading_4": product_detail_header_description,
            "heading_4_modifiers": ['bold'],
            "heading_4_blockname": product_detail_blockname
          }
        %}
      </div>
    {% endif %}


    <div class="product_detail__button-group">
      {% if secondary_button_content %}
        {% include "@atoms/10-link-buttons/link-buttons.twig"
          with {
            "link_modifiers": secondary_button_modifiers,
            "link_content": secondary_button_content,
            "link_url": secondary_button_url
          }
        %}
      {% endif %}

      {% if primary_button_content  %}
        {% include "@atoms/10-link-buttons/link-buttons.twig"
          with {
            "link_modifiers": primary_button_modifiers,
            "link_content": primary_button_content,
            "link_url": primary_button_url
          }
        %}
      {% endif %}
    </div>


    <div class="product_detail__content">
      <div>
        {% if product_detail_content %}
          {{ product_detail_content }}
        {% else %}
          {% include "@base/layouts/placeholders/_placeholders.twig"
            with {
              title: "Product Detail Content"
            }
          %}
        {% endif %}
      </div>
    </div>

    <div class="product_detail__button-group">
      {% if secondary_button_content %}
        {% include "@atoms/10-link-buttons/link-buttons.twig"
          with {
            "link_modifiers": secondary_button_modifiers,
            "link_content": secondary_button_content,
            "link_url": secondary_button_url
          }
        %}
      {% endif %}

      {% if primary_button_content  %}
        {% include "@atoms/10-link-buttons/link-buttons.twig"
          with {
            "link_modifiers": primary_button_modifiers,
            "link_content": primary_button_content,
            "link_url": primary_button_url
          }
        %}
      {% endif %}
    </div>
    {% endblock %}
  </div>
</div>