{% set catClass = content.field_item_cat_class_code|render|striptags|trim|slice(-8) %}
{#{% set title = node.title|render|striptags|trim %}#}
{% set url = path('entity.node.canonical', {'node': node.id}) %}
{% set not_rentable_online = content.field_item_not_rentable_online|render|striptags|trim %}

{% if content.field_images_unlimited['#items'][0].entity.fileuri|length > 0 %}
  {% set imgSrc = file_url(content.field_images_unlimited['#items'][0].entity.fileuri) %}
{% else %}
  {% set imgSrc = '/themes/custom/unitedrentals/images/placeholders/equipment-null-500.png' %}
{% endif %}
{{ devel_breakpoint() }}
<div class="object-listing--wrapper equipmentItems" data-catclass="{{ catClass }}">

  <div class="object-listing--image">
    <img src="{{ imgSrc }}" height="44px" width="44px"/>
  </div>

  <div class="object-listing--details">
    <div class="object-listing--details--cat-class-code">
      Cat Class: {{ catClass }}
    </div>

    <a href="{{ url }}" class="object-listing--details--name">
      {{ title }}
    </a>

    <ur-legacy-styles>
      <item-rates
        not-rentable-online="{{ not_rentable_online }}"
        cat-class="{{ catClass }}"
        :fetch-own-rates="false"
        :check-user-logged-in="true"
        :show-web-rate-chip=false
      ></item-rates>
    </ur-legacy-styles>
  </div>
  <search-object-listing-actions
    not-rentable-online="{{ not_rentable_online }}"
    cat-class="{{ catClass }}"
    title="{{ title }}"
    view-more-link="{{ url }}">
  </search-object-listing-actions>
</div>
