
#main-content {
  /* overriding content.scss for this page */
  margin: 0 !important;
  max-width: none;
  width: 100%;
}

#quote-link-generator-form .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

#quote-link-generator-form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #414b50;
}

#quote-link-generator-form .form-type-textfield label:not(.form-required)::after {
  content: none;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column{
    flex-direction: row;
  }
}

#quote-link-generator-form > div li {
  padding: .4rem 0;
}

#quote-link-generator-form > div input {
  height: 40px;
}

#quote-link-generator-form > div h2 {
  margin: 1rem 0;
  display: inline-block;
}

#quote-link-generator-form > div .message.input-error {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 14px;
}

#quote-link-generator-form > div .message.input-error:empty {
  display: none;
}

#quote-link-generator-form > div #message_linked {
  padding: 1rem 0;
}

#quote-link-generator-form > div .form-item__label {
  padding: 7px 0;
  margin-bottom: 2px;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

#quote-link-generator-form > div .form-item label {
  margin-bottom:0;
}

#quote-link-generator-form > div .column {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;
}

#quote-link-generator-form > div .column > div {
  width: 100%;
  padding: 1rem;
  border-right-width: 0;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column > div {
    width: 100%;
    padding: 0 0 1rem 0;
  }
}

#quote-link-generator-form > div .column.left {
  background: #f9f9f9;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column.left {
    flex-basis: 50%;
    max-width: 50%;
    padding: 32px 26px 32px 32px;
  }
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column > div {
    max-width: 670px;
  }
}

#quote-link-generator-form > div .column.left > div > ul {
  list-style-type: decimal;
  margin-top: 0;
}

#quote-link-generator-form > div .column.left > div > ul ul {
  list-style-type: lower-alpha;
}

#quote-link-generator-form > div .column.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column.right {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 32px;
  }
}

#quote-link-generator-form > div .column.right > div {
  padding: 1rem 2rem;
}

#quote-link-generator-form > div .column.right > div > h2 {
  margin-left: -1rem;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column.right > div {
    padding: 0 2rem 1rem 2rem;
  }

  #quote-link-generator-form > div .column.right > div > h2 {
    margin-left: 0;
  }
}

#quote-link-generator-form > div .column.right h2 {
  margin-bottom: 1.5rem;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container {
  border: #dde0e2 1px solid;
  background: #fff;
  height: 40px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0 .5rem;
  margin-top: 2rem;
  justify-content: space-between;
  font-weight: 700;
  position: relative;
  border-radius: 2px;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container #copy-quote-link-wrapper {
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container #quote_link_button {
  display: inline-block;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container #quote_link_button svg {
  width: 18px;
  height: 18px;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container #quote_link_button:hover {
  color: #008cff;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container:not(.generated) {
  color: #91969b;
}

#quote-link-generator-form > div .column.right > div .copy-quote-container:not(.generated) #quote_link_button {
  color: #91969b;
}

#quote-link-generator-form > div .column.right > div select.form-select {
  margin-top: 8px;
  margin-bottom: 12px;
  height: 40px;
}

#quote-link-generator-form > div .column.right > div input.button {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  #quote-link-generator-form > div .column.right > div input.button {
    width: auto;
    padding: 0 1.2rem;
  }
}

#quote-link-generator-form > div .column.right > div .quote-reset-wrapper {
  padding-top: 2rem;
  width: 100%;
  text-align: right;
}

#quote-link-generator-form > div .column.right > div #edit-customer-information {
  box-shadow: 0 .14286rem .57143rem .07143rem rgba(22, 23, 24, .16);
  margin-top: .4rem;
  padding: 1rem;
}

#quote-link-generator-form > div .column.right > div #edit-customer-information .form-item__dropdown.select {
  margin-bottom: 12px;
}

#quote-link-generator-form > div .column.right > div #edit-customer-information .form-item__dropdown.select select.dropdown-style1 {
  height: 40px;
  font-size: 14px;
}
