<div class="events a1-layout">
  {# TODO: Replace with completed "panel" sidebar menu #}
  <aside class="group-left article__sidebar">
    {% include "@base/layouts/placeholders/_placeholders.twig"
      with {
        title: "Sidebar"
      }
    %}
  </aside>

  <div class="group-right product_detail grid">
    {% include "@organisms/product-detail/product-detail.twig" %}
  </div>
</div>