<template>
  <div
    class="listing"
    :class="[`listing--${layout.scrollPositionX}`, `listing--${layout.scrollPositionY}`]"
  >
    <!-- Table Header -->
    <div class="listing__header-wrapper" style="z-index:4 !important">
      <grid-table-header class="listing__table-header" />
    </div>

    <!-- [Optional] Loading slot -->
    <div v-if="loading" class="listing_table-body">
      <slot name="loading"></slot>
    </div>

    <!-- [Optional] Empty data (no items to list) slot  -->
    <div v-else-if="dataIsEmpty" class="listing_table-body">
      <slot name="empty">{{ $i18n('noContent') }}</slot>
    </div>

    <!-- Table body -->
    <!-- inline style is a work around to a funky error where virtual scroll doesn't -->
    <!-- allow us padding is to allow for viewing bottom card in grid layout -->
    <grid-table-body v-else class="listing__table-body" style="padding-bottom:150px"/>

    <!-- [Optional] Table footer slot -->
    <div class="listing__footer-wrapper" :style="{ 'height': `${tableFooterHeight}px`, 'line-height': `${tableFooterHeight}px` }">
      <slot name="footer" :layout="layout"></slot>
    </div>

    <!-- [Internal] Column resize handle overlay -->
    <div
      v-show="layout.resizeProxyVisible"
      class="listing__column-resize-proxy"
      :style="{ 'left': `${layout.resizeProxyLeft}px` }"
    />

    <!-- [Internal] <listing-column> child components are kept hidden inside this slot -->
    <div class="hidden">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss">@import './listing';</style>

<style lang="scss" scoped>
  .listing__table-body{
    margin-right:0 !important; //override virtual-scroll inline style; shows scroll bar.
  }
  .no-grouping /deep/ .cell--group-header{
    display:none;
  }
</style>

<script lang="ts" src="./grid-listing.ts"></script>
