@import './styles/variables';
@import './styles/mixins';
@import 'styles/globals';

.listing {

  // Special utility classes
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  // Root styles
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: $font-size-preset-40;
  max-width: 100%;
  line-height: normal;

  &__table-body {
    overflow-x: hidden;
  }

  &__header-wrapper,
  &__footer-wrapper {
    display: block;
    width: 100%;
    position: relative;
  }

  &__header-wrapper,
  &__footer-wrapper {
    z-index: map-get($listing-z-index, header-wrapper);
  }

  &__header-wrapper {
    overflow: hidden;
    border-bottom: $listing-border;

    // actions-button column header
    th.cell--left-pinned:nth-of-type(2) {
      pointer-events: none;
    }
  }

  &--middle &__header-wrapper,
  &--bottom &__header-wrapper {
    box-shadow: $listing-overflow-shadow-black;
  }

  &--top &__footer-wrapper,
  &--middle &__footer-wrapper {
    box-shadow: $listing-overflow-shadow-white;
  }

  &__column-resize-proxy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $listing-resize-proxy-width;
    background-color: $listing-resize-proxy-color;
    z-index: map-get($listing-z-index, resize-proxy);
    display: block;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -20px;
      right: -20px;
      background: $listing-resize-proxy-bg;
    }
  }

  th, td {
    position: relative;
    text-align: left;
  }

  col {
    transition: width .15s ease-out;
  }

  table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px;
  }

  .listing-row {
    position: relative;
    overflow: hidden;

    &--link-hover {
      cursor: pointer;
      user-select: none;
      & * {
        background-color: $listing-row-highlight-background;
      }
      &::after {
        pointer-events: none;
        border-radius: 4px;
        content: '';
        border: $listing-row-highlight-border;
        z-index: map-get($listing-z-index, row-link-hover);
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }

    &--even {
      background-color: $listing-row-bg-even;
    }

    &--odd {
      background-color: $listing-row-bg-odd;
    }

    // actions-button column
    td.cell--left-pinned:nth-of-type(2) > div {
      text-align:center;
      display:inline-flex;
      vertical-align: middle;
    }
  }

  .listing-row-leave-active,
  .listing-row-enter-active {
    transition: opacity 0.1s;
  }
  .listing-row-leave-to,
  .listing-row-enter {
    opacity: 0;
  }

  // Hacky lookin thing to get the rows to have visible bottom borders
  .vscroll__viewport > table.listing-row:not(:last-child) tr:first-of-type > * {
    border-bottom: $listing-border;
  }

  .subtable-wrapper {
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -10rem;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .cell > * {
      cursor: default;
    }
  }

  .hidden, .hidden > * {
    visibility: hidden;
    z-index: map-get($listing-z-index, hidden);
  }

  .cell {
    position: relative;
    box-sizing: border-box;
    padding: $listing-cell-padding;
    color: $color-text;
    text-align: left;
    overflow: hidden;

    @include mod(subtable) {
      border: none;
    }

    @include mod(align-center) {
      text-align: center;
    }

    @include mod(align-right) {
      text-align: right;
    }

    @include mod(align-left) {
      text-align: left;
    }

    @include mod(group-header) {
      background-color: $listing-row-group-header-background;
      font-size: $font-size-preset-60;
      font-weight: $font-weight-bold;
      height: $listing-row-group-header-height;
      padding-top: 20px;
      color: $color-grey-69;
    }

    @include mod(table-header) {
      user-select: none;
      font-size: $font-size-preset-30;
      font-weight: $font-weight-bold;
      color: $listing-table-header-cell-color;
    }

    @include mod(data) {
      font-size: $font-size-preset-40;
      font-weight: $font-weight-regular;
      color: $color-grey-69;
      border-left: $listing-border-transparent;
      border-right: $listing-border-transparent;
    }

    @include mod(
      data left-pinned,
      data right-pinned
    ) {
      z-index: map-get($listing-z-index, data-pinned);
      // background: $white;
    }

    @include mod(
      table-header sortable
    ) {
      padding-right: 3rem;
    }

    @include mod(
      table-header left-pinned,
      table-header right-pinned
    ) {
      z-index: map-get($listing-z-index, table-header-pinned);
    }

    @include mod(table-header) {
      border: solid rgba(0,0,0,0);
      border-width: 1px 1px 0 1px;
      border-radius: $listing-border-radius $listing-border-radius 0 0 !important;
    }

    @include mod(table-header column-selected) {
      border: solid $listing-border-color;
      border-width: 1px 1px 0 1px;
      border-radius: $listing-border-radius $listing-border-radius 0 0 !important;
    }

    @include mod(data column-selected) {
      border-left: $listing-border;
      border-right: $listing-border;
    }

    @include mod(group-header collapsed) {
      cursor: s-resize;
    }

    @include mod(group-header expanded) {
      cursor: n-resize;
    }

    &--link, &--link a {
      font-weight: $font-weight-bold;
      color: $color-blue;

      &:hover {
        text-decoration: none;
      }
    }

    @include mod(data left-pinned last) {
      @at-root .listing--left #{select-inner(&)} {
        border-right: $listing-border;
        overflow:visible;
      }
    }

    @include mod(data right-pinned first) {
      @at-root .listing--right #{select-inner(&)} {
        border-left: $listing-border;
      }
    }

    &__resize-handle {
      &:hover, &--is-resizing {
        opacity: 1;
      }
      &--is-resizing {
        cursor: ew-resize;
      }
      border-radius: 0 $listing-border-radius 0 0;
      transition: opacity .2s ease-in-out;
      background: $listing-resize-handle-background;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(100% - #{$listing-resize-handle-width});
      right: 0;
      z-index: map-get($listing-z-index, resize-handle);
      // TODO future resize?
      // cursor: col-resize;
    }
  }

  .listing-sort-controls {
    position: absolute;
    top: 11px;
    right: 1.5 * $listing-resize-handle-width;
    box-sizing: content-box;
    height: $listing-sort-controls-size;
    width: $listing-sort-controls-size;
    padding: $listing-sort-controls-padding;
    color: $listing-sort-controls-color;
    background: $listing-sort-controls-bg;
    z-index: map-get($listing-z-index, sort-controls);

    svg {
      fill: $color-text-subtle;
      display: block;
      height: inherit;
      width: inherit;
    }

    &--active svg {
      fill: $listing-sort-controls-active-color;
    }

    &--asc {
      cursor: n-resize;
    }

    &--desc {
      cursor: s-resize;
    }
  }
}

.overflow-shadow {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: map-get($listing-z-index, horizontal-overflow-shadow);

  @include mod(right) {
    right: 0;
    .listing--center &,
    .listing--left & {
      box-shadow: $listing-overflow-shadow-black;
    }
  }
  @include mod(left) {
    left: 0;
    .listing--center &,
    .listing--right & {
      box-shadow: $listing-overflow-shadow-black;
    }
  }
}
