<template>
  <div>
    <ur-select
      :label="fieldLabel"
      :value="localValue"
      @change="onSelect"
      :suppressEmptyOption="false"
      :emptyOptionLabel="$i18n('ur.selectATime')"
      :disabled="disabled"
    >
      <template v-for="(select, idx) in timeOptions">
        <option v-if="select.status && select.value" :key="idx" :value="select.value">{{ select.text }}</option>
      </template>
    </ur-select>
    <ur-error-label
      v-if="$v.$error"
      :message="(block.delivery ? $i18n('checkout.deliveryTime') : $i18n('checkout.time') + ' ' + $i18n('e.required'))"
    />
  </div>
</template>

<script>
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import DateTime from '@/utils/dateTime';
  import moment from 'moment';
  import { required } from 'vuelidate/lib/validators';
  import { get } from 'lodash';

  export default {
    created() {
      this.$root.$on('pickup-select-change', this.pickupSelectChange);
      this.$root.$on('delivery-select-change', this.deliverySelectChange);
    },
    components: {
      UrSelect,
      UrErrorLabel,
    },
    computed: {
      duration() {
        if (this.selectedDay === 0) return 'sunDuration';
        if (this.selectedDay === 6) return 'satDuration';

        return 'duration';
      },
      start() {
        if (this.selectedDay === 0) return 'sunStart';
        if (this.selectedDay === 6) return 'satStart';

        return 'start';
      },
      timeOptions() {
        const extension = 0.5;

        const startTime = get(this, ['branchTimes', this.start], 7);
        const durationTime = get(this, ['branchTimes', this.duration], 10) + extension;
        const options = DateTime.splitWorkingHours(30, 'minutes', startTime, durationTime);

        options.forEach((ea) => {
          ea.status = true;
          const { endMoment } = this.block;
          if (endMoment.isSame(moment(this.convertedDate), 'day')) {
            if (ea.value < this.currentHalfHour().format('HH:mm')) {
              ea.status = false;
            }
          }
        });

        options.unshift({
          value: '',
          text: this.$i18n('ur.selectATime'),
          status: false,
        });

        return options;
      },
      selectedDay() {
        return moment(this.block.endMoment).day();
      },
      hasSelectedMidNight() {
        return this.localValue === '00:00';
      },
      validHour() {
        /** This filter finds the current value of time in dropdown options, if the length===0, that hour is not valid anymore. */
        return this.timeOptions.filter(option => option.value === this.localValue).length;
      },
      fieldLabel() {
        switch (this.returnTypeCode) {
          case 'A':
            return this.$i18n('checkout.UrScheduledPickupTime');
          case 'Y':
            return this.$i18n('checkout.UrPickupTime');
          default:
            return this.$i18n('checkout.dropOffTime');
        }
      },
    },
    data() {
      return {
        localValue: '',
        disabled: false,
        returnTypeCode: '',
      };
    },
    methods: {
      currentHalfHour() {
        return DateTime.round(moment(this.convertedDate), moment.duration(30, 'minutes'), 'ceil');
      },
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },
      initializeValue() {
        if (this.value === '00:00') this.value = '';
        this.localValue = this.value || this.timeOptions[0].value;
        this.returnTypeCode = this.returnType;
      },
      deliverySelectChange(value) {
        this.returnTypeCode = value === 'yes' ? 'Y' : 'N';
        this.disabled = this.returnTypeCode === 'Y';
      },
      pickupSelectChange(selectedOption) {
        this.returnTypeCode = selectedOption;
        this.disabled = this.returnTypeCode === 'Y';
      },
    },
    name: 'end-time-select',
    props: [
      'value',
      'block',
      'branchTimes',
      'convertedDate',
      'returnType',
    ],
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      hasSelectedMidNight(isTrue) {
        if (isTrue) this.localValue = '';
      },
      value() {
        this.localValue = this.value;
      },
      timeOptions: {
        // IF we get a new set of time options, we have to
        // wait for those to build before we set the new
        // localValue the old value...
        handler(after, before) {
          if (after[1].value !== before[1].value) {
            this.$data.localValue = this.value;
          }
        },
        deep: true,
      },
      validHour() {
        this.$emit('fireTimeError', this.validHour);
      },
    },
    mounted() {
      this.initializeValue();
    },
  };
</script>
