<template>
  <div class="delivery-tool">
    <ur-select
      :label="$i18n('checkout.pickupTitle')"
      :value="this.returnTypeCode"
      @change="onSelect"
      :suppress-empty-option="true"
      :disabled="requestsAreInFlight"
    >
      <option v-for="(item, key) in options" :key="`option.${key}`" :value="item.pickupType">
        {{ $i18n(item.text) }}
        <template v-if="parseFloat(estimatedPickupFee)">
          <span v-if="item.currency">({{ item.currency | currency }})</span>
          <span v-else>({{ parseFloat(estimatedPickupFee) | currency }})</span>
        </template>
      </option>
    </ur-select>
  </div>
</template>

<script type="text/babel">
  import UrSelect from '@/components/common/form/ur-select';

  export default {
    name: 'pickup-select',
    components: { UrSelect },
    created() {
      this.$root.$on('delivery-select-change', this.deliverySelectChange);
    },
    props: [
      'value',
      'estimatedPickupFee',
      'requestsAreInFlight',
      'returnType',
    ],
    data() {
      return {
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
        returnTypeCode: '',
      };
    },
    computed: {
      options() {
        return this.$store.state.pickupDelivery.options;
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.returnTypeCode = this.returnType;
      });
    },
    methods: {

      onSelect(value) {
        this.$nextTick(() => {
          this.$emit('change', value);
          this.$root.$emit('pickup-select-change', value);
        });
      },
      deliverySelectChange(delivery) {
        this.returnTypeCode = delivery === 'yes' ? 'Y' : 'N';
      },

    },
  };
</script>
