<template>

  <div>
    <div class="modal-header">
      <h3>{{ $i18n('quotes.toConvertQuote ') }}</h3>
    </div>
    <div class="modal-body modal-body--authenticate">
      <div>
        <button class="button button--style-1 button--secondary" @click="$router.go(-1)">
          {{ $i18n('quotes.cancelQuoteConversion') }}
        </button>
        <button class="button button--style-1 button--filled" @click="confirmConvert()">
          {{ $i18n('quotes.confirmQuoteConversion') }}
        </button>
      </div>
      <p>{{ $i18n('quotes.quoteConversionBlurb') }}</p>
    </div>
    <div class="modal-footer"></div>
  </div>

</template>

<script>
  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'confirm-convert-quote-modal',
    props: {
      transId: String,
      quoteId: String,
    },
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
      }),
    },
    methods: {
      ...mapActions({
        sendConvertQuote: types.quotes.convertQuote,
      }),
      async confirmConvert() {
        this.$router.push(`/convert-quote/${this.quoteId}/${this.defaultAccountId}`);
      },
    },
  };
</script>
