<template>
  <field-value v-if="isNumber">
    {{ value }}
  </field-value>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    name: 'NumberDetailField',
    extends: DetailField,
    computed: {
      isNumber() {
        return typeof this.number === 'number';
      },
    },
  };
</script>
