<template>
  <field-value v-if="isNumber">
    {{ value }}
  </field-value>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    name: 'NumberListingField',
    extends: ListingField,
    computed: {
      isNumber() {
        return typeof this.number === 'number';
      },
    },
  };
</script>
