$toggle-link-width: 75px;
$summary-text-width: 450px;
$button-spacer: 5px;

.object-list-header {
  display: flex;
  flex-direction: column;

  .filter-sort-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .filters__button,
    .sort__button {
      justify-content: center;
      border: 1px solid $color-grey-11;
      border-radius: 1px;
      background-color: $color-white;
      margin: 12px 0;
      color: $color-blue;

      &:hover,
      &:active,
      &.is-active {
        background-color: $color-grey-11;
        border: 1px solid $color-grey-11;
      }
    }

    .filters__button {
      &:before {
        content: "\f0b0";
        font-family: "icomoon";
        padding-right: $button-spacer;
      }
    }

    .sort__button {
      &:before {
        content: "\e0c3";
        font-family: "icomoon";
        padding-right: $button-spacer;
      }
    }
  }

  .label-select_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-grey-11;

    .label-side {
      width: 100%;

      //TODO uncomment this after dark-release and the sort works
      //@include breakpoint($break-medium) {
      //  width: 66%;
      //}

      .heading-label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        h1 {
          width: auto;
          margin-right: 7px;
          line-height: 1em;
          margin-top: 1rem;
        }

        .results-number__heading-1 {
          font-weight: 300;
        }
      }

      .description_container {
        display: inline-block;

        .description__paragraph {
          margin: 0 10px 0 0;
          @include breakpoint($break-medium) {
            max-width: 80vw;
          }
          &.less{
            display: inline-block;
            height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70vw;
            white-space: nowrap;
            vertical-align: bottom;
            
            @supports (-webkit-line-clamp: 2) {
              display: -webkit-inline-box;
              height: 33px;
              white-space: initial;
              /* autoprefixer: ignore next */
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            @include breakpoint($break-small) {
              width: $summary-text-width - $toggle-link-width;
            }
            + .more_less_toggle{
              vertical-align: bottom;
            }
          }
          &.more{
            display: block;
            max-width: 600px;
          }
          p {
            margin: 0;
            display: inline;
          }
        }

        .more_less_toggle {
          font-size: $font-size-small;
          font-weight: 700;
          height: 14px;
          width: $toggle-link-width;
          display: inline;
        }
      }

      .filter_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .individual-filters__button {
          width: auto;
          height: 20px;
          display: flex;
          justify-content: center;
          font-size: $font-size-xsmall;
          border: 1px solid $color-grey-11;
          border-radius: 2px;
          background-color: $color-grey-2;
          padding: 0 $button-spacer;
          margin: 20px 3px 0 3px;

          &:before {
            content: '\e5cd';
            font-family: "icomoon";
            padding-right: 15px;
            height: 6px;
            width: 6px;
          }
        }

        .clear_all__paragraph {
          margin: 20px 0 0 10px;
          font-size: $font-size-small;
          color: $color-grey-38;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .select_container {
      display: none;

      @include breakpoint($break-medium) {
        display: flex;
        align-items: flex-end;
        width: 44%;

        .select {
          width: 100%;
          margin-left: 10px;
        }
      }
    }
  }

  .breadcrumbs_container{
    margin-top: 10px;

    li:last-child {
      color: $color-grey-38;
    }
  }
}
