<div class="object-list-header">
  <div class="filter-sort-buttons">
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        "button_content": filter_button_content,
        "button_blockname": filter_button_blockname
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        "button_content": sort_button_content,
        "button_blockname": sort_button_blockname
      }
    %}
  </div>
  <div class="label-select_container">
    <div class="label-side">
      <div class="heading-label">
        {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
          with {
            "heading_1": heading_1
          }
        %}
        {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
          with {
            "heading_1": "(800)",
            "heading_1_blockname": results_number
          }
        %}
      </div>
      <div class="description_container">
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": paragraph_content,
            "paragraph_blockname": description_paragraph_blockname
          }
        %}
      </div>
      <div class="filter_container">
        {% include "@atoms/06-buttons/style-1/01-button.twig"
          with {
            "button_content": filter_buttons_content,
            "button_blockname": filter_buttons_blockname
          }
        %}
        {% include "@atoms/06-buttons/style-1/01-button.twig"
          with {
            "button_content": filter_buttons_content,
            "button_blockname": filter_buttons_blockname
          }
        %}
        {% include "@atoms/06-buttons/style-1/01-button.twig"
          with {
            "button_content": filter_buttons_content,
            "button_blockname": filter_buttons_blockname
          }
        %}
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "Clear All",
            "paragraph_blockname": clear_all
          }
        %}
      </div>
    </div>
    <div class="select_container">
      {% include "@atoms/05-forms/select/select.twig"
        with {
          "select_content": "Sort by: Recently Rented",
        }
      %}
    </div>
  </div>
</div>