<div {{ attributes.addClass('ds-1col', 'clearfix') }}>
{% include "@organisms/tile/article/article-tile.twig"
  with {
    article_tile_path: url,
    article_tile_category: category|render|striptags|trim,
    article_tile_date: created|render|striptags|trim,
    article_tile_headline: title,
    article_tile_image: content.field_image|render|striptags|trim,
  }
%}
</div>
