/*
---
name: Product Card
category: Molecules
---

### Behavior
Clicking on the "Quick View" CTA will toggle the visibility of the product summary.

```product-card-single.html
<div class="list__container">

    <div class="object_listing__wrapper">
        <div class="object_listing__image"><img src="../dist/img/placeholders/100-3350_3.jpg" alt="" height="44" width="44"></div>
        <div class="object_listing__details">
            <div class="object_listing__details__cat_class_code">Cat Class: 100-3350</div> <a href="/marketplace/equipment/air-compressors-air-tools/air-compressors/compressor-350-395-cfm-diesel" class="object_listing__details__name">Compressor, 350-395 cfm, Diesel</a>

            <div>
                <div class="status-pill">contract</div>
                <div class="object_listing__details__pricing">
                    <div class="pricing-content"><span class="time-period">Daily
                    <span style="transition: color 1s;">$246</span>
                    </span> <span class="time-period">Weekly <span style="transition: color 1s;">$597</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$1,771</span></span>
                    </div>
                </div>
            </div>
            <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
              <div>
                  <ul class="list-ul">
                      <li class="list-item">Efficient diesel-powered engine</li>
                      <li class="list-item">Heavy-duty enclosures provide quieter operation</li>
                      <li class="list-item">Easy-to-use instrument panel</li>
                      <li class="list-item">Towable Unit</li>
                  </ul>
                  <a href="/marketplace/equipment/air-compressors-air-tools/air-compressors/compressor-185-cfm-tier-4" class="view-details-quickView-button">View Details</a>
              </div>
            </div>
        </div>
        <div class="object_listing__actions">
            <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
            <div class="object_listing__actions__sub"><i class="icon icon-star-o"></i> <a href="mailto:?subject=Compressor, 350-395 cfm, Diesel&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/air-compressors-air-tools/air-compressors/compressor-350-395-cfm-diesel%0D%0A%0D%0ACat%20Class:%20100-3350%0D%0A%0D%0AEquipment%20Title%0D%0ACompressor, 350-395 cfm, Diesel%0D%0A%0D%0AEquipment%20Features%20Include%0D%0AEfficient diesel-powered engine%0D%0AHeavy-duty enclosures provide quieter operation%0D%0AEasy-to-use instrument panel%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
        </div>
    </div>
</div>
```
```product-card-single.css hidden
.list-ul, .object_listing__details__quick_view .view-details-quickView-button{
  display:none;
}
.is-active + div .list-ul{
  display: block;
}
.is-active + div .view-details-quickView-button{
  display: flex;
}

```
```product-card-single.js hidden
let openElements = document.querySelectorAll('.object_listing__details__quick_view > a, .object_listing__details__quick_view > i');
openElements.forEach(function(item){
  item.addEventListener('click', function(event){
    event.preventDefault();
    document.querySelector('.object_listing__details__quick_view > i').classList.toggle('is-active');
  });
});

```


```product-card-list:product-list-example.html hidden
```
```product-card-list.css hidden
.catalog-listing .equipment-listing-full .list__container{
  min-height: auto;
}
.object_listing__details > i, .filters__button{
  display:none;
}
.object-list-header aside{
  display: none;
}
```
### Used Product Card Placeholder
```product-used-listing-single.html hidden
<img src="../dist/img/placeholders/fpo-product-card-used.png" />
```

### Used Product Carousel Placeholder

```product-used-listing-carousel.html hidden
<img src="../dist/img/placeholders/fpo-product-card-used-carousel.png" />
```
*/
