<div class="special-card ipad-card home-card">
                        <div class="special-badge">Special Deal</div>
                        <a href="/Equipment/N46120" tabindex="0"><img src="https://images.rouseservices.com/ImageProcessor/get/getimage.aspx?type=ItemDetailBig&amp;guid=c5dd124f-a9a8-2478-c7b4-f4fe32a3021d" class="card-img" alt="2007 Genie S-85"></a>
                        <div class="special-content">
                            <span class="cat-class">
                                CAT CLASS CODE:<br>310-8526
                            </span>
                            <h4 class="dark-type product-char-count card-home-asset-title"><a href="/Equipment/N46120" tabindex="0">2007 Genie S-85</a></h4>

                             <div class="location-block">
                             <a class="detail-location" href="https://www.google.com/maps/place/1600 SOUTH DIRKSEN PKWY,+SPRINGFIELD,+IL+62703/" target="_blank" tabindex="0"><i class="fa fa-map-marker special-marker" aria-hidden="true"></i><span class="location-text"> SPRINGFIELD, IL </span></a>
                            <div class="location-options detail-location-options">
<i class="fa fa-percent orange-type" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Low Interest Financing"></i>                                <i class="fa fa-tag orange-type" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Special Deal"></i>                                                             </div>
                            </div>
                        </div>
                        <div class="special-price price-home">$45,840 USD</div>
                        <a class="btn btn-details home-details-btn" href="/Equipment/N46120" role="button" tabindex="0">See Details</a>
                    </div>
