<div class="catalog-listing">
    <aside class="nested-navigation" style="">
        <div>
            <div class="authentication-panel">
                <div class="container-inline">
                    <h5>My Account</h5>
                    <span class="edit__paragraph link">Edit</span></div>
                <div>

                    <div class="container-inline"><span>Location</span> <span class="selection__paragraph">Kansas City, MO </span></div>
                    <p class="selection__paragraph-left"><a href="/saml_login" class="link">Sign in</a> to view account pricing.</p>
                </div>

            </div>
        </div>
        <div class="navigation-panel">
            <div class="search-by-term"><input type="text" placeholder="Search within...">
                <div class="results">
                    <div class="no-result-wrapper"><cite>No results found.</cite></div>
                </div>
            </div>
            <div class="navigation-panel__label">
                <div class="container-inline">
                    <h5 class="heading-5">Navigation</h5>
                    <p class="collapse__paragraph link">Collapse</p>
                </div>
            </div>
            <div class="navigation-panel__parent"><a class="link" href="/marketplace/equipment/aerial-work-platforms">
        Aerial Work Platforms
      </a> <i class="icon icon-angle-up"></i>
                <div class="navigation-panel__child"><a href="/marketplace/equipment/aerial-work-platforms/aerial-attachments-safety" class="link">
            Aerial Attachments &amp; Safety
          </a><a href="/marketplace/equipment/aerial-work-platforms/boom-lifts" class="link">
            Boom Lifts
          </a><a href="/marketplace/equipment/aerial-work-platforms/ladders" class="link">
            Ladders
          </a><a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts" class="link is-active">
            Scissor Lifts
          </a><a href="/marketplace/equipment/aerial-work-platforms/pusharound-lifts" class="link">
            Pusharound Lifts
          </a><a href="/marketplace/equipment/aerial-work-platforms/scaffolding" class="link">
            Scaffolding
          </a><a href="/marketplace/equipment/aerial-work-platforms/vertical-lifts" class="link">
            Vertical Lifts
          </a><a href="/marketplace/equipment/aerial-work-platforms/mobile-platforms" class="link">
            Mobile Platforms
          </a></div>
            </div> <span></span>
            <div class="viewMore_link"><a href="#" class="link">View More</a></div>
        </div>
        <div class="contextual-links-panel">
            <div class="contextual-links-panel__label">
                <div class="container-inline">
                    <h5 class="heading-5">Recommended Links</h5>
                    <p class="collapse__paragraph link">Collapse</p>
                </div>
            </div>
            <div class="contextual-links-panel__parent"><a href="#" class="link">Recently Viewed (0)</a>

            </div>
        </div>
        <div class="filter-panel" style="">
            <div class="filter-panel__label">
                <div class="container-inline">
                    <h5 class="heading-5">Filters</h5>
                    <p class="collapse__paragraph link">Collapse</p>
                </div>
            </div>
            <div class="filter-panel__content-container">
                <div class="filter-panel__parent"><a class="link">Equipment Attributes</a> <i class="icon icon-angle-up"></i></div>
                <div class="filter-panel__content">
                    <div>
                        <h6 class="heading-6">Scissor Lift &gt;<br> Platform Height</h6>
                        <ul>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="mirqnsc4lvg" name="checkboxmirqnsc4lvg"> <label for="mirqnsc4lvg" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    8' - 23' (4)
  </label></li>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="ofv8ha3pa4o" name="checkboxofv8ha3pa4o"> <label for="ofv8ha3pa4o" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    24' - 29' (4)
  </label></li>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="nvhqb8uf1t8" name="checkboxnvhqb8uf1t8"> <label for="nvhqb8uf1t8" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    30' - 35' (4)
  </label></li>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="oijomt09ka" name="checkboxoijomt09ka"> <label for="oijomt09ka" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    36' - 70' (4)
  </label></li>
                        </ul>
                        <h6 class="heading-6">Scissor Lift &gt;<br> Power Type</h6>
                        <ul>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="tl8uo7q4368" name="checkboxtl8uo7q4368"> <label for="tl8uo7q4368" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    Electric (11)
  </label></li>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="f6ggb55mua" name="checkboxf6ggb55mua"> <label for="f6ggb55mua" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    IC (4)
  </label></li>
                        </ul>
                        <h6 class="heading-6">Scissor Lift &gt;<br> Drive Type</h6>
                        <ul>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="15ptttrmdtg" name="checkbox15ptttrmdtg"> <label for="15ptttrmdtg" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    4WD (6)
  </label></li>
                        </ul>
                        <h6 class="heading-6">Scissor Lift &gt;<br> Platform Width</h6>
                        <ul>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="7l7v0muafvg" name="checkbox7l7v0muafvg"> <label for="7l7v0muafvg" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    30" - 45" (2)
  </label></li>
                            <li class="form-item--checkbox__item"><input type="checkbox" id="p0dgdkhsbu8" name="checkboxp0dgdkhsbu8"> <label for="p0dgdkhsbu8" class="label-selection" style="margin: 0px auto auto; padding: 5px 0px;"><span class="check" style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    46" - 68" (3)
  </label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="equipment-listing-full">

        <div class="object-list-header">


            <div class="label-select_container">
                <div class="label-side">
                    <div class="heading-label">
                        <h1 class="heading-1">
                            Scissor Lifts
                            <span class="results-number__heading-1"><span>(16)</span></span>
                        </h1>
                    </div>
                    <div class="description_container">
                        <div class="paragraph description__paragraph less">
                            <p>Scissor lifts come in two main types: Electric Scissor Lifts, used primarily for indoor applicati...</p>
                        </div>
                        <p class="more_less_toggle"><a>Show more</a></p>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="list__container">

            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-1000_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-1000</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-10-13" class="object_listing__details__name">Electric Scissor Lift, 10-13'</a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$142</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$211</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$427</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 10-13'&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-10-13%0D%0A%0D%0ACat%20Class:%20300-1000%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 10-13'%0D%0A%0D%0AEquipment%20Features%20Include%0D%0AClean, fume-free operation%0D%0ANarrow width for excellent maneuverability%0D%0ASafe, slip-resistant plated platform and extensions%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-1500_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-1500</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-14-18" class="object_listing__details__name">Electric Scissor Lift, 14-18' </a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$143</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$223</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$452</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 14-18' &amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-14-18%0D%0A%0D%0ACat%20Class:%20300-1500%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 14-18' %0D%0A%0D%0AEquipment%20Features%20Include%0D%0ANarrow width for excellent maneuverability%0D%0ASafe, slip-resistant plated platform and extensions%0D%0AJoystick drive and steering controls for easy operation %0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2000_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2000</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-19" class="object_listing__details__name">Electric Scissor Lift, 19' </a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$148</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$295</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$720</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 19' &amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-19%0D%0A%0D%0ACat%20Class:%20300-2000%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 19' %0D%0A%0D%0AEquipment%20Features%20Include%0D%0AHeavy lift capacity of 500 lbs. and up%0D%0ANarrow width for excellent maneuverability%0D%0AClean, fume-free operation%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2001_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2001</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-20-21" class="object_listing__details__name">Electric Scissor Lift, 20-21' </a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$149</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$297</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$721</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 20-21' &amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-20-21%0D%0A%0D%0ACat%20Class:%20300-2001%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 20-21' %0D%0A%0D%0AEquipment%20Features%20Include%0D%0AHeavy lift capacity of 500 lbs. and up%0D%0ANarrow width for excellent maneuverability%0D%0AClean, fume-free operation%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2515_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2515</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-24-26-30-36-wide" class="object_listing__details__name">Electric Scissor Lift, 24-26', 30-36" Wide</a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$237</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$477</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$977</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 24-26', 30-36&quot; Wide&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-24-26-30-36-wide%0D%0A%0D%0ACat%20Class:%20300-2515%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 24-26', 30-36&quot; Wide%0D%0A%0D%0AEquipment%20Features%20Include%0D%0AHeavy lift capacity of 500 lbs. and up%0D%0AConvenient built-in battery charger%0D%0ASafe, slip-resistant plated platform and extensions%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2525_0.jpg" alt="" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2525</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-24-26-46-68-wide" class="object_listing__details__name">Electric Scissor Lift, 24-26', 46-68" Wide</a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$254</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$508</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$1,019</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 24-26', 46-68&quot; Wide&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-24-26-46-68-wide%0D%0A%0D%0ACat%20Class:%20300-2525%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 24-26', 46-68&quot; Wide%0D%0A%0D%0AEquipment%20Features%20Include%0D%0AHeavy lift capacity of 500 lbs. and up%0D%0AClean, fume-free operation%0D%0AConvenient built-in battery charger%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2545_0.jpg" alt="" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2545</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-25-27-4wd" class="object_listing__details__name">Electric Scissor Lift, 25-27', 4WD</a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$284</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$509</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$1,044</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 25-27', 4WD&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-25-27-4wd%0D%0A%0D%0ACat%20Class:%20300-2545%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 25-27', 4WD%0D%0A%0D%0AEquipment%20Features%20Include%0D%0A4 Wheel drive%0D%0AHeavy lift capacity of 500 lbs. and up%0D%0AClean, fume-free operation%0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>
            <div class="object_listing__wrapper">
                <div class="object_listing__image"><img src="../dist/img/placeholders/300-2995_0.jpg" alt="Electric Scissor Lift" height="44" width="44"></div>
                <div class="object_listing__details">
                    <div class="object_listing__details__cat_class_code">Cat Class: 300-2995</div> <a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-30-33-32-wide" class="object_listing__details__name">Electric Scissor Lift, 30-33', 32" Wide</a>

                    <div>
                        <div class="object_listing__details__pricing">


                            <div class="pricing-content"><span class="time-period">Daily <span style="transition: color 1s;">$302</span></span> <span class="time-period">Weekly <span style="transition: color 1s;">$604</span></span> <span class="time-period">Monthly <span style="transition: color 1s;">$1,461</span></span>
                            </div>
                        </div>


                    </div>
                    <div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down">&nbsp;</i>
                        <div>



                        </div>
                    </div>
                </div>
                <div class="object_listing__actions">
                    <div class="object_listing__actions__alert"></div> <button class="button--add-to-cart">Add to Cart</button>
                    <div class="object_listing__actions__sub">
                        <a href="mailto:?subject=Electric Scissor Lift, 30-33', 32&quot; Wide&amp;body=View%20this%20United%20Rentals%20Equipment%20at%0D%0Ahttps://www.unitedrentals.com/marketplace/equipment/aerial-work-platforms/scissor-lifts/electric-scissor-lift-30-33-32-wide%0D%0A%0D%0ACat%20Class:%20300-2995%0D%0A%0D%0AEquipment%20Title%0D%0AElectric Scissor Lift, 30-33', 32&quot; Wide%0D%0A%0D%0AEquipment%20Features%20Include%0D%0A32&quot; Wide%0D%0APothole guards reduce tip-over hazards%0D%0AJoystick drive and steering controls for easy operation %0D%0A" target="_top"><i class="icon icon-envelope-o"></i></a> <i class="icon icon-print"></i></div>
                </div>
            </div>

        </div>
        <div class="object_listing__footer">
            <p>Viewing 1-16 of 16 Results for Kansas City, MO
            </p>
            <div class="paginate-links_container">
                <ul class="paginate-links filteredEquipment">
                    <li class="left-arrow disabled"><a>«</a></li>
                    <li class="number active"><a>1</a></li>
                    <li class="right-arrow disabled"><a>»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
