// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Shared/Cost Summary
// -----------------------------------------------------------------------------

.cost-summary {
  position: sticky;
  bottom: 0;
  left:0;
  width: 100%;
  background: $color-grey-2;
  z-index: 9;

  // Markup changes in confirmation page. Need to account for that on mobile.
  .reservation-confirmation & {
    position: absolute;
    padding: 32px;

    // @TODO: make this cleaner, since the above is more specific
    @include media('>=m') {
      @include setColumn(31, 100);
      position: relative;
      bottom: auto;
    }
  }

  @include media('>=m') {
    @include setColumn(31, 100);
    position: relative;
    bottom: auto;
  }


}

.cost-summary-container {
  position: relative;
  border: 1px solid $color-grey-11;

  &.sticky {
    position: sticky;
  }

  &:hover {
    cursor: pointer;
  }

  @include media('>=m') {
    border: none;
    padding: 16px;

    &:hover {
      cursor: initial;
    }
  }

  &.is-open {
    .totals-mobile {
      .icon-angle-down {
        transform: rotate(180deg);
      }
    }
  }
}


.totals-mobile {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $color-grey-11;

  @include media('>=m') {
    display: none;
  }

  .title {
    font-size: $font-size-preset-30;
    font-weight: bold;
    line-height: 24px;
    flex: 1 0 auto; // let this column expand, allowing the 2nd and 3rd column to stay scrunched to the right.
  }

  .quantity {
    margin-left: .5rem;
    font-weight: normal;
  }

  .total {
    font-size: $font-size-preset-60;
    font-weight: bold;
    line-height: 24px;
    margin-right: 0.5em;
  }

  .icon {
    line-height: 24px;
    font-size: $font-size-preset-50;
  }
}

.totals {
  display: none;

  @include media('>=m') {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    font-weight: bold;
    font-size: $font-size-preset-30;
    line-height: 16px;
  }
}

.line-item-container {
  padding: 0 16px;
  overflow-y: hidden;
  transition: all .5s;
  max-height: 0;

  @include media('>=m') {
    overflow-y: visible;
    transition: none;
    padding: 0;
    max-height: none !important;
  }
}

.line-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $color-grey-11;
  margin: 0 auto;
  font-size: $font-size-preset-30;

  span:first-of-type {
    width: 100%;
    display: flex;
    align-items: center;

    .icon-component {
      flex: 1 1 auto;
    }
  }
}
