// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Shared/Grid Item Divider
// -----------------------------------------------------------------------------

// Grid Item With Divider
.grid--divider .grid__item {
  flex-grow: 0;
  @include media('>=l') {
    margin-right: 3.5%;
    position: relative;

    &::after {
      background-color: $color-grey-11;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
}

// Columns
.grid--divider.grid--columns-2 .grid__item {
  &::after {
    right: -3.5%;
  }

  &:nth-child(2n) {
    &::after {
      display: none;
    }
  }
}

.grid--divider.grid--columns-3 .grid__item {
  &::after {
    right: -5.5%;
  }

  &:nth-child(3n) {
    &::after {
      display: none;
    }
  }
}

.grid__item:last-child {
  @include media('>=l') {
    margin-right: 0;
  }
}

.grid--divider .grid__item {
  &::after {
    display: none;
  }
}
