// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Shared/Item Not Found
// -----------------------------------------------------------------------------
$shadow-card: 0 14px 42px -28px rgba(0, 0, 0, 0.16);

.not-found-container {
  padding: 1.5em;
  @include media('>=640px') {
    padding: 2.5em;
  }
  @include media('>=m') {
    padding: 4em;
  }
  @include media('>=l') {
    padding: 3.25em 2.5em 5em 2.5em;
  }
}

.dashboard {
  &__item-not-found {
    line-height: 2.5em;
    margin: 0 auto;

    h3 {
      margin: rem(18) 0;
    }

    @include media('>=640px') {
      padding: 1.5em 2.5em;
      background-color: white;
      box-shadow: $shadow-card;
      border: 1px solid $color-grey-11;
      border-radius: 4px;
    }

    @include media('>=m') {
      padding: 2.25em 7.5em;
    }
  }
}
