// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Shared/Shimmer
// -----------------------------------------------------------------------------

.shimmer {
  overflow: hidden;
  position: relative;
  user-select: none;
  color:transparent;
  a,
  button,
  input,
  // input::placeholder, /* this selector breaks shimmers in Edge! */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  img,
  select,
  span,
  textarea,
  th, td {
    background-color: #eee !important;
    color: #eee !important;
    border: none;
    border-radius: 1px;
    pointer-events: none;
    user-select: none;
  }

  h1, h2, h3, h4, h5, h6 {
    display: table;
    width: auto;
  }

  input[type='radio'], input[type='checkbox'] {
    display: none;
  }
}

.shimmer:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;

  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 55%,
      rgba(255, 255, 255, 0.5) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 200% 100%;
  background-clip: content-box; /* a value of "text" breaks shimmers in Edge */
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
