@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Content Styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
* Component
*/

// Default Content Style -----------------------------------------------------------------------------------------------
.component-compartment__content,
.component-content {
  width: 100%;
}

.component-content  {
  position: relative;

  .media {
    height: 100%;
    margin: 0;
  }

  .media--type-image img {
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;
    vertical-align: middle;
    width: 100%;
  }

  .media--type-image + .content-wrapper {
    margin-top: rem($scale-4);
  }

  .component-content__title {
    @include type-preset(
      $version: 70,
      $type: header
    );
  }

  .component-content__content {
    width: 100%;

    p:only-of-type,
    p:first-of-type {
      margin-top: 0;
    }
  }

  .component-content__header + .component-content__content {
    margin-top: rem($scale-4);
  }

  .content-wrapper {
    text-align: left;
  }

  .component-content__content + .component-content__footer {
    margin-top: rem($scale-4);

    @include media('>=s') {
      margin-top: rem($scale-8);
    }
  }

  .component-content__footer-cta {
    @include btn(
      $style: primary-alternative
    );
    display: inline-block;
  }

  &[class*='jsa-video-playing'] {
    &::before,
    .content-wrapper,
    .media--type-image {
      display: none;
    }

    .content-wrapper {
      @include media('>=s') {
        display: block;
      }
    }
  }

  .component-content__video-wrapper {
    @include trbl();

    @include media('>=s') {
      cursor: pointer;
      overflow: hidden;
      position: relative;
    }

    .component-content__video {
      height: 100%;
    }

    .video-embed-field-responsive-video {
      height: 100%;
      position: inherit;
      z-index: -1;

      @include media('>=s') {
        position: relative;
      }
    }

    .media--type-image {
      @include trbl();
    }
  }
}

.component-content__footer .component-cta {
  display: block;
  padding-top: rem($scale-4);

  @include media('>=s') {
    display: inline-block;
    margin-left: rem($scale-4);
  }

  &:first-of-type {
    padding-top: 0;

    @include media('>=s') {
      margin-left: 0;
    }
  }
}

.component-content:not(.component-content--style-brand) .component-content__video-wrapper {
  position: relative;
}

/**
* Content Classy Paragraphs Style Options:
* Glyph
* Brand
*/
// Classy Paragraphs Style - Glyph  ------------------------------------------------------------------------------------
.component-content--style-glyph.component-content {
  .component-content__title {
    @include glyph-bars(
      $type: wide,
      $align: left
    );
  }
}

// Classy Paragraphs Style - Brand  ------------------------------------------------------------------------------------
.component-content--style-brand.component-content.slick-slide {
  overflow: hidden;

  @include media('>=s') {
    min-height: rem(360);
  }

  @include bs-ie() {
    @include media('>=s') {
      height: rem(360);
    }
  }

  .component-content__content p {
    @include media('>=s') {
      @include type-preset(
        $version: 50,
        $multiline: 3
      );
    }

    @include media('>=m') {
      @include multi-line-calc-reset();
    }
  }
}

.component-content--style-brand.component-content {
  border-radius: $border-radius-large;
  position: relative;

  .content-wrapper {
    color: $color-text-reverse;
    position: relative;
    z-index: 2;
  }

  figure {
    @include trbl();

    @include media('>=s') {
      position: relative;
    }
  }

  .component-content__title {
    @include glyph-bars(
      $reset: true
    );

    @include type-preset(
      $version: 70,
      $type: header
    );

    position: relative;

    @include media('>=s') {
      @include type-preset(
        $version: 80,
        $type: header
      );
      color: $color-grey-69;
    }

    @include media('>=l') {
      @include type-preset(
        $version: 90,
        $type: header
      );
    }
  }

  .component-content__content {
    margin-top: rem($scale-2);
    position: relative;

    @include media('>=s') {
      margin-top: rem($scale-4);
    }

    @include media('>=m') {
      margin-top: rem($scale-2);
    }
  }

  .component-content__content p {
    @include type-preset(
      $version: 40
    );

    @include media('>=s') {
      @include type-preset(
        $version: 50
      );

      color: $color-text-subtle;
    }

    @include media('>=m') {
      @include multi-line-calc-reset();
    }

    @include media('>=l') {
      @include type-preset(
        $version: 60
      );
    }

    &:not(:first-of-type) {
      @include media('>=s') {
        display: none;
      }

      @include media('>=m') {
        display: block;
      }
    }
  }

  .component-cta.component-cta--link-primary .component-cta__link,
  .component-cta.component-cta--link-reverse .component-cta__link {
    @include media('<s') {
      color: $color-text-reverse;
    }

    // TODO: change to icon font after crossover
    // comment out and use link-btn() mixin in full--cta.scss

    &::after {
      background-image: url(asset-path('icon', 'long-arrow-right--orange.svg'));
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      font-size: $icon-size-small;
      height: 1em;
      margin-left: em($scale-1);
      vertical-align: -0.25em;
      width: 1em;
    }
  }

  // hide content and footer on video when media screen <=s
  .component-content__video-wrapper ~ .content-wrapper .component-content__content,
  .component-content__video-wrapper ~ .content-wrapper .component-content__footer {
    display: none;

    @include media('>=s') {
      display: block;
    }
  }
}

// Background container ------------------------------------------------------------------------------------------------
.component-content[class*='bg-'] {
  @include container-full-width();

  .content-wrapper {
    padding-bottom: $vr-default-sm;
    padding-top: $vr-default-sm;

    @include media('>=m') {
      padding-bottom: $vr-default-lg;
      padding-top: $vr-default-lg;
    }
  }
}

.component-content[class*='bg-']:not([class*='type-container-']) {
  .content-wrapper {
    @include container();
  }
}

.component-compartment .component-content[class*='bg-'] {
  @include container-reset();
}

// Video play button ---------------------------------------------------------------------------------------------------
// TODO: abstract the play-button into own foundational element
.component-content.jsa-video-playing .play-button,
.component-content.jsa-video-playing .play-button:focus {
  display: none;
}

.component-content.jsa-video-playing {
  .video-embed-field-responsive-video {
    z-index: 0;
  }
}

.component-content .play-button {
  background: $color-white;
  border: 0 none;
  border-radius: 50%;
  content: '';
  font-size: 6rem;
  height: 1em;
  left: 50%;
  opacity: 0.85;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity $transition-base-time-style;
  width: 1em;
  z-index: 3;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::after {
    background-image: url(asset-path('icon', 'play-brand-secondary.svg'));
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    font-size: rem($scale-7);
    height: 1em;
    left: 50%;
    margin-left: rem($scale-1);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    z-index: 3;
  }
}
