@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: media
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media {
  .component-featured-media__content {
    figure {
      display: block;
    }
  }
}
