@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Card Wrapper
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component styles
 */
.component-listing-wrapper {
  &:not(:first-child) {
    @include gap(
      $sizes: $gap-f,
      $property: padding-top
    );
  }

  .component-listing-wrapper__title {
    h2 {
      @include type-preset(
        $version: 50,
        $type: header
      );

      @include media('>=s') {
        @include type-preset(
          $version: 70,
          $type: header
        );
      }
    }
  }

  > div {
    @include gap(
      $sizes: $gap-d 0
    );
  }
}
