@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Views: Company Views
// -----------------------------------------------------------------------------
@import '../../globals';

.component-view-embed__content {
  .viewsreference--view-title {
    @include type-preset(
      $version: 60,
      $type: header
    );

    @include media('>=s') {
      @include type-preset(
        $version: 80,
        $type: header
      );
    }
  }
}

.view-company-views,
.view-events {
  .js-form-item:not(.js-form-type-select),
  .js-form-item > label,
  .js-form-wrapper {
    @include visually-hidden();
  }
}
