@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: accordion
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.component-accordion-group {
  @include container-full-width();

  @include media('>=s') {
    @include container-reset();
  }

  .component-accordion-item__title {
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-regular,
      $insert: after) {

      color: $color-orange;
      float: right;
      transition: $transition-base;
    }

    @include gap(
      $property: padding,
      $sizes: $gap-d
    );

    align-items: center;
    border-top: $border-width-light solid $color-utility-border;
    color: $color-grey-69;
    cursor: pointer;
    display: flex;
    font-family: $font-family-sans-serif;
    justify-content: space-between;
    padding-left: $container-gutter-sm;
    padding-right: $container-gutter-sm;
    position: relative;

    @include media('>=s') {
      padding-left: $gap-d;
      padding-right: $gap-d;
    }

    &:hover {
      span {
        color: $color-text-link-hover;
      }
    }

    span {
      @include type-preset(60, header);
      position: relative;
      z-index: 1;

      @include media('>=l') {
        @include type-preset(70, header);
      }
    }
  }

  .component-accordion-item__content {
    @include gap(
      $property: padding,
      $sizes: $gap-e $gap-f
    );

    animation-direction: alternate;
    animation-duration: $transition-base-time * 2;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    background-color: $color-bg-light-tertiary;
    border-radius: 0;
    border-top: $border-width-light solid $color-utility-border;
    font-family: $font-family-sans-serif;
    opacity: 0;
    overflow: hidden;

    .field--name-field-copy {
      @include type-preset(40);
      @include type-container(
        $version: 2,
        $breakpoint: l
      );

      @include media('>=s') {
        @include type-preset(50);
      }

      > p:first-of-type {
        margin-top: 0;
      }
    }
  }

  .component-accordion-item__content {
    display: none;
  }


  .component-accordion-item__content[aria-hidden='false'] {
    display: block;
  }

  .component-accordion-item--open > .component-accordion-item__title {
    &::after {
      transform: rotate(180deg);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
