@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Pull-Quote
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-pullquote:not(.component-pullquote--blockquote) {
  background-color: $color-bg-dark-primary;
  background-image: url(asset-path('image', 'testimonial-background-image.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-text-reverse;
  padding: rem($scale-7) 0;

  @include media('>=s') {
    padding: rem($scale-12) 0;
  }

  .component-pullquote__content,
  .component-pullquote__footer {
    @include container();
    @include grid-col(10);
    @include type-preset(50);

    padding: 0 rem($scale-5);
    text-transform: none;

    @include media('>=s') {
      @include grid-col(8);
    }

    @include media('>=l') {
      @include grid-col(6);
    }
  }

  .component-pullquote__content {
    @include type-preset(40);
    @include icon(
      quote-close,
      $size: $icon-size-xsmall,
      $insert: before
    );

    @include icon(
      quote-close,
      $size: $icon-size-xsmall,
      $insert: after
    );

    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    // justify-content: space-evenly; is not supported by ie 11.  space-between is the closest approximation
    @include bs-ie() {
      justify-content: space-between;
    }

    @include media('>=s') {
      @include type-preset(50);
    }

    &::before {
      @include media('>=s') {
        font-size: $icon-size-xlarge;
      }

      align-self: flex-start;
      display: inline-block;
      opacity: 0.25;
      transform: rotate(180deg);
    }

    &::after {
      @include media('>=s') {
        font-size: $icon-size-xlarge;
      }

      align-self: flex-end;
      display: inline-block;
      opacity: 0.25;
    }
  }

  .component-pullquote__footer {
    @include type-preset(30);

    margin-top: rem($scale-3);

    @include media('>=s') {
      margin-top: rem($scale-6);
    }
  }
}

.component-pullquote {
  .component-pullquote__content,
  .component-pullquote__footer {
    p:first-of-type {
      margin-top: 0;
    }
  }

  .component-pullquote__footer {
    text-align: center;
  }

  .field--name-field-attribution {
    display: inline-block;

    &::before {
      content: '\2013';
      display: inline-block;
      padding-right: 0.25em;
      text-align: center;
    }
  }
}

.component-pullquote:not(.component-pullquote--blockquote) {
  @include container-full-width();
}

// Classy
.component-pullquote.component-pullquote--blockquote {
  background-color: $color-bg-light-primary;
  background-image: none;
  color: $color-brand-primary;
  padding: 0;

  .component-pullquote__content,
  .component-pullquote__footer {
    @include container-reset();
  }

  .component-pullquote__content {
    @include type-preset (
      $version: 60,
      $type: header
    );

    border-left: $border-width-regular solid $color-text-super;
    font-style: italic;
    padding: rem($scale-1) rem($scale-7);
    text-align: left;

    @include media('>=m') {
      @include type-preset (
        $version: 80,
        $type: header
      );

      border-left-width: $border-width-thick;
    }
  }

  .component-pullquote__footer {
    @include type-preset(
      $version: 40,
      $type: header
    );

    margin-top: rem($scale-4);
    padding-right: rem($scale-10);
  }
}
