@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero slide primary style
// Based on the marketing category hero
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-hero-slide--primary.component-hero-slide {
  .component-hero-slide__inner {
    min-height: rem(260);
    padding: rem($scale-10) 0;

    @include bs-ie() {
      height: rem(260);
    }

    @include media('>=m') {
      min-height: rem(300);

      @include bs-ie() {
        height: rem(300);
      }
    }
  }

  .media + .component-hero-slide__inner {
    .component-hero-slide__title sup {
      color: $color-grey-11;
    }
  }

  .component-hero-slide__title {
    sup {
      @include type-preset(
        $version: 50
      );

      &::after {
        display: none;
      }

      @include media('>=m') {
        @include type-preset(
          $version: 60
        );
      }
    }

    sup + h1 {
      margin-top: rem($scale-1);
    }

    h1 {
      @include type-preset(
        $version: 80,
        $type: header
      );

      @include media('>=m') {
        @include type-preset(
          $version: 100,
          $type: header
        );
      }
    }
  }
}




