@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Card Wrapper
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component styles
 */
$card-wrapper-bg: $color-bg-light-tertiary;

.component-cards-wrapper {
  @include container-full-width();

  background-color: $card-wrapper-bg;
  padding: $vr-default-sm 0;

  @include media('>=m') {
    padding: $vr-default-lg 0;
  }

  > div {
    @include container();
  }

  .component-cards-wrapper__content {
    @include gap(
      $property: margin-bottom,
      $sizes: $gap-e
    );

    text-align: center;

    @include media('>=s') {
      @include grid-col(
        $grid-column-width: 10,
        $column-offset: 1
      );
    }

    @include bs-ie {
      flex-shrink: 0;
    }

    h3,
    h4 {
      @include type-preset(
        $version: 20,
        $type: header,
        $multiline: 1
      );

      @include media('>=m') {
        @include type-preset(
          $version: 40,
          $type: header,
          $multiline: 1
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 50,
          $type: header,
          $multiline: 1
        );
      }

      &:empty {
        display: none;
      }
    }

    h3 {
      color: $color-text-super;
      text-transform: uppercase;
    }

    h4 {
      @include gap(
        $sizes: $gap-d
      );
    }

    .field--name-field-copy {
      @include gap(
        $sizes: $gap-c
      );
    }
  }

  .component-cards-wrapper__title {
    @include glyph-bars(
      $type: wide
    );

    @include type-preset(
      $version: 50,
      $type: header
    );

    @include media('>=m') {
      @include type-preset(
        $version: 70,
        $type: header
      );
    }

    @include media('>=l') {
      @include type-preset(
        $version: 80,
        $type: header
      );
    }

    + .component-cards-wrapper__cta {
      @include gap(
        $sizes: $gap-f
      );
    }
  }

  .component-cta__footer {
    @include gap(
      $sizes: $gap-e
    );
  }

  .component-cards-wrapper__collection {
    align-content: center;
    position: relative;

    @include media('>=s') {
      @include grid-parent(
        $gutter-vertical: true
      );
    }

    > article {
      margin-bottom: rem($gap-c);

      @include media('>=s') {
        @include grid-col(6);
        margin-bottom: 0;
      }

      @include media('>=m') {
        @include grid-col(4);
      }
    }
  }

  .jsa-button {
    @include btn();
  }

  .jsa-show-card {
    display: flex;
  }
}

// Slider styles ------------------------------------------------
.component-cards-wrapper {
  .slick-slider {
    @include grid-parent-reset();
    overflow: visible;

    // Hides the cards past the side bounds
    &::before,
    &::after {
      @include media('>=m') {
        background-color: $card-wrapper-bg;
        bottom: -5%;
        content: '';
        position: absolute;
        top: -5%;
        width: 100%;
        z-index: 1;
      }
    }

    &::before {
      @include media('>=m') {
        right: calc(100% + #{rem(8)});
      }
    }

    &::after {
      @include media('>=m') {
        left: calc(100% + #{rem(8)});
      }
    }
  }

  .slick-list {
    margin: 0 (-$grid-gutter-sm / 2);
    overflow: visible;

    @include media('>=s') {
      margin: 0 (-$grid-gutter-lg / 2);
    }
  }

  .slick-arrow {
    border-bottom-width: 0;
    border-right-width: 0;
  }

  .slick-slide {
    margin: 0 ($grid-gutter-sm / 2);

    @include media('>=s') {
      margin: 0 ($grid-gutter-lg / 2);
    }
  }
}

// Toggle Button ------------------------------------------------
.jsa-button-div {
  @include grid-col(12);
  @include gap(
    $sizes: $gap-d
  );

  text-align: center;
}

// Toggled ------------------------------------------------
.cp-view-toggle {
  .component-cards-wrapper__collection {
    .component-card:nth-child(n + 4) {
      display: none;
    }

    @include media('>=s') {
      .component-card:nth-child(n + 4) {
        display: flex;
      }

      .component-card:nth-child(n + 5) {
        display: none;
      }
    }

    @include media('>=m') {
      .component-card:nth-child(n + 5) {
        display: flex;
      }

      .component-card:nth-child(n + 9) {
        display: none;
      }
    }
  }

  .component-cards-wrapper__content + .component-cards-wrapper__collection {
    @include media('>=m') {
      .component-card:nth-child(n + 5) {
        display: flex;
      }

      .component-card:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

// Vertical ------------------------------------------------
.component-cards-wrapper.component-cards-wrapper--layout-vertical {
  > div > div {
    @include media('>=m') {
      @include grid-parent();
    }
  }

  .component-cards-wrapper__title {
    @include glyph-bars();
  }

  .component-cards-wrapper__content {
    padding-bottom: rem($gap-e);

    @include media('>=m') {
      @include grid-col(
        $grid-column-width: 3
      );

      margin-left: initial;
    }
  }

  .component-cards-wrapper__collection {
    @include bs-ie {
      @include grid-col(12);
      border-right: 0;
      max-width: inherit;
    }

    > article {
      @include media('>=m') {
        @include grid-col(3);
      }
    }
  }

  .component-cards-wrapper__content + .component-cards-wrapper__collection {
    @include container-reset();

    @include media('>=m') {
      @include grid-col(9);

      border-right: 0;
      padding-left: 0;

      @include bs-ie() {
        border-right: 0;
        max-width: inherit;
        padding: inherit;
      }
    }

    > article {
      @include media('>=m') {
        @include grid-col(4);
      }
    }
  }
}

// Inside compartments ------------------------------------------------
.component-compartment__content {
  .component-cards-wrapper {
    @include container-full-width($reset: true);

    background-color: transparent;
    padding: 0;

    > div {
      @include container-reset();

      max-width: 100%;
    }

    @include media('>=m') {
      padding: 0 0 0 rem($gap-e);
    }
  }
}
