@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.component-promo-hero {
  @include container-full-width();
  align-items: center;
  background-color: $color-bg-dark-secondary;
  color: $color-white;
  display: flex;
  height: rem(180);
  overflow: hidden;
  position: relative;

  // Adding this so you can see the images on an authenticated view
  .contextual-region {
    position: static;
  }

  @include media('>=s') {
    @include container-full-width(
      $reset: true,
      $reset-position: relative
    );
    border-radius: $border-radius-med;
    height: rem(204);
  }

  @include media('>=m') {
    height: rem(240);
  }

  @include media('>=l') {
    height: rem(276);
  }

  @include media('>=xl') {
    height: rem(312);
  }

  &::before {
    @include trbl();
    background: $scrim-image;
    content: '';
    transition: $transition-base;
    z-index: 1;

    @include media('>=s') {
      background: $scrim-promo-hero-gradient;
      mix-blend-mode: multiply;
    }
  }

  .media--type-image {
    pointer-events: none;

    img {
      @include trbl();
      height: 100%;
      object-fit: cover;
      width: 100%;
      z-index: 0;
    }
  }

  .content-wrapper {
    padding-left: $grid-col-1;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

.component-promo-hero__header,
.component-promo-hero__content {
  max-width: $grid-col-8;

  @include media('>=m') {
    max-width: $grid-col-7;
  }

  @include media('>=l') {
    max-width: $grid-col-5;
  }
}

.component-promo-hero__header h2 {
  @include type-preset(
    $version: 70,
    $type: header
  );
  color: $color-white;

  @include media('>=l') {
    @include type-preset(
      $version: 80,
      $type: header
    );
  }
}

.component-promo-hero__content p {
  @include type-preset(
    $version: 40
  );
  margin-top: rem($scale-2);


  @include media('>=s') {
    @include type-preset(
      $version: 50
    );
    margin-top: 0;

  }

  @include media('>=l') {
    @include type-preset(
      $version: 60
    );
  }
}

.component-promo-hero__content .field--name-field-cta-reference {
  margin-top: rem($scale-4);

  @include media('>=m') {
    margin-top: rem($scale-5);
  }

  @include media('>=xl') {
    margin-top: rem($scale-7);
  }
}
