@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Content Layouts
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
* Content Classy Paragraphs Layout Options:
* Full Width Image,
* 50/50 - Image/Media Left,
* 50/50 - Image/Media Right
*/

// Overall styles for content media
.component-content__media {
  background-position: 50% 50%;
  background-size: contain;
  height: 100%;
  width: 100%;
}

// Classy Paragraphs Layout: Full Width Image -----------------------------------------------------------------------------------------------
.component-content--layout-full-image.component-content {
  position: relative;

  &::before {
    @include trbl();
    background: $scrim-image;
    content: '';
    z-index: 1;

    @include media('>=s') {
      background: $scrim-promo-hero-gradient;
      display: block;
      mix-blend-mode: multiply;
    }
  }

  .media--type-image {
    @include trbl();

    img {
      @include trbl();
    }
  }

  .content-wrapper .component-content__title,
  .content-wrapper .component-content__content p,
  .content-wrapper .component-content__footer .component-content__footer-cta {
    color: $color-text-reverse;
  }

  .content-wrapper {
    padding: rem($scale-6);
    position: relative;
    z-index: 2;

    @include media('>=s') {
      align-content: space-between;
      display: flex;
      flex: 1 1 calc(50% + #{$grid-gutter-lg});
      flex-direction: column;
      max-width: 50%;
      padding: rem($scale-12);
      position: relative;
    }
  }

  .component-content__media {
    @include trbl();

    background-size: cover;
    height: inherit;
  }

  // Style: Brand -- Specific Styles
  &.component-content--style-brand {
    .component-content__media {
      border-radius: $border-radius-large;
    }

    &::before {
      @include media('>=s') {
        border-radius: $border-radius-large;
      }
    }
  }
}

.component-content--layout-50-50-left.component-content,
.component-content--layout-50-50-right.component-content,
.component-content--style-brand.component-content {
  .media--type-image + .content-wrapper {
    margin-top: 0;
  }
}

// Classy Paragraphs Layout - 50/50 - Shared Image/Media Left and Right --------------------------------------------------------------------
.component-content--layout-50-50-left.component-content,
.component-content--layout-50-50-right.component-content {
  display: flex;

  > .media--type-image,
  .component-content__video-wrapper,
  .content-wrapper {
    @include media('>=s') {
      flex-basis: $grid-col-6;
      flex-grow: 1;
      flex-shrink: 0;
      max-width: $grid-col-6;
    }
  }

  > .media--type-image {
    position: relative;

    @include bs-ie() {
      @include media('>=s') {
        // !important is for overridding the inline style that is applied for the object-fit polyfill in IE
        position: relative !important; // sass-lint:disable-line no-important
      }
    }

    img {
      @include media('>=s') {
        @include trbl();
      }
    }
  }

  .component-content__media {
    background-size: cover;
    height: auto;
  }
}

.component-content--layout-50-50-left.component-content {
  flex-direction: column;

  @include media('>=s') {
    flex-direction: row;
  }
}

.component-content--layout-50-50-right.component-content {
  flex-direction: column-reverse;

  @include media('>=s') {
    flex-direction: row-reverse;
  }
}

// Classy Paragraphs: Layout = 50/50 & Style = Default -------------------------------------------------------------------------------------
.main-content--with-sidebar {
  .component-content--layout-50-50-left:not(.component-content--style-brand).component-content,
  .component-content--layout-50-50-right:not(.component-content--style-brand).component-content {
    @include media('>=s') {
      @include container-reset(
        $position: relative
      );
    }
  }
}

.component-content--layout-50-50-left:not(.component-content--style-brand).component-content,
.component-content--layout-50-50-right:not(.component-content--style-brand).component-content {
  @include media('>=s') {
    @include container-full-width();
  }

  > .media--type-image {
    @include container-full-width();

    @include media('>=s') {
      @include container-reset();
    }
  }

  .content-wrapper {
    padding: 0 0 $vr-default-sm;

    @include media('>=m') {
      padding: $vr-default-lg $grid-col-1;
    }
  }

  &[class*='bg-'] {
    .content-wrapper {
      padding-bottom: $vr-default-sm;
      padding-top: $vr-default-sm;

      @include media('>=m') {
        padding: $vr-default-lg $grid-col-1;
      }
    }
  }
}

.component-content--style-glyph {
  .component-content__title {
    @include glyph-bars(
      $type: wide,
      $align: left
    );
  }
}

// Reset the 50/50 full-width container if it's inside of a compartment
.component-compartment .component-content--layout-50-50-left:not(.component-content--style-brand).component-content,
.component-compartment .component-content--layout-50-50-right:not(.component-content--style-brand).component-content {
  @include media('>=s') {
    @include container-reset();
  }
}

.component-content--layout-50-50-left:not(.component-content--style-brand).component-content {
  .content-wrapper {
    padding: $vr-default-sm 0;

    @include media('>=s') {
      padding: $vr-default-sm $grid-col-1;
    }

    @include media('>=m') {
      padding: $vr-default-lg $grid-col-1;
    }
  }
}

.component-content--layout-50-50-right:not(.component-content--style-brand).component-content {
  .content-wrapper {
    padding: $vr-default-sm 0;

    @include media('>=s') {
      padding: $vr-default-sm $grid-col-1;
    }

    @include media('>=m') {
      padding: $vr-default-lg $grid-col-1;
    }
  }

  .media--image {
    padding-bottom: $vr-default-sm;

    @include media('>=s') {
      padding-bottom: 0;
    }
  }
}

// Classy Paragraphs: Layout = 50/50 & Style = Brand -------------------------------------------------------------------------------------
.component-content--layout-50-50-left.component-content--style-brand.component-content,
.component-content--layout-50-50-right.component-content--style-brand.component-content {
  &::before {
    @include trbl();
    background: $scrim-image;
    content: '';
    z-index: 1;

    @include media('>=s') {
      display: none;
    }
  }

  .content-wrapper {
    border: $border-width-regular solid transparent;
    padding: rem($scale-6);

    @include media('>=s') {
      border-color: $color-utility-border;
    }
  }

  > .media--type-image {
    @include trbl();

    @include media('>=s') {
      position: relative;
    }
  }

  .component-content__media {
    @include trbl();

    @include media('>=s') {
      bottom: initial;
      left: initial;
      position: relative;
      right: initial;
      top: initial;
    }
  }
}

// Image/Media Left
.component-content--layout-50-50-left.component-content--style-brand.component-content {
  .content-wrapper {
    border-radius: 0 $border-radius-large $border-radius-large 0;

    @include media('>=s') {
      border-left: 0 none;
    }
  }

  .component-content__video-wrapper {
    border-radius: $border-radius-large 0 0 $border-radius-large;
  }

  .component-content__media,
  &::before {
    @include media('>=s') {
      border-radius: $border-radius-large 0 0 $border-radius-large;
    }
  }
}

// Image/Media Right
.component-content--layout-50-50-right.component-content--style-brand.component-content {
  .content-wrapper {
    border-radius: $border-radius-large 0 0 $border-radius-large;

    @include media('>=s') {
      border-right: 0 none;
    }
  }

  .component-content__video-wrapper {
    border-radius: 0 $border-radius-large $border-radius-large 0;
  }

  .component-content__media,
  &::before {
    @include media('>=s') {
      border-radius: 0 $border-radius-large $border-radius-large 0;
    }
  }
}

// Classy Paragraphs: Additional option = Alignment -------------------------------------------------------------------------------------
// Center aligned content
.component-content--ao-center-align.component-content {
  .component-content__header .component-content__title {
    @include glyph-bar-align(center);
  }

  .content-wrapper {
    text-align: center;
  }
}

// Right aligned content
.component-content--ao-right-align.component-content {
  .component-content__header .component-content__title {
    @include glyph-bar-align(right);
  }

  .content-wrapper {
    text-align: right;
  }
}
