@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: list links layout stacked
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-list-links {
  .component-list-links__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .component-list-links__list-item {
    font-weight: $font-weight-bold;
    margin-bottom: rem($scale-3);

    @include media('>=s') {
      margin-bottom: rem($scale-4);
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      @include link-btn();
      @include type-preset(
        $version: 30,
        $type: header
      );

      @include media('>=xl') {
        @include type-preset(
          $version: 40,
          $type: header
        );
      }
    }
  }
}
