@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Section
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component styles
 */
.component-compartment:not(.component-compartment[class*='bg-']):not(.component-compartment--bg-image):not(.ca-component-compartment--slider) {
  @include media('>=s') {
    @include grid-parent();
  }
}

// full width containers
.component-compartment[class*='bg-'],
.component-compartment--bg-image {
  @include container-full-width();
  padding: $vr-default-sm 0;

  @include media('>=m') {
    padding: $vr-default-lg 0;
  }

  .component-compartment__header,
  .component-compartment__content,
  .component-compartment__footer {
    @include container();
  }
}

.component-compartment--bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-text-reverse;
  position: relative;

  &::before {
    @include trbl();
    background-color: $scrim-image;
    content: '';
    pointer-events: none;
  }

  .component-compartment__header,
  .component-compartment__content,
  .component-compartment__footer {
    position: relative;
    z-index: 1;
  }

  &.ca-component-compartment--style-title-alternative {
    .component-compartment__header {
      .component-compartment__super-title {
        @include type-preset(40);
        color: $color-text-reverse;

        @include media('>=l') {
          @include type-preset(50);
        }
      }
    }
  }

  .component-content--style-brand.component-content {
    .component-content__title,
    .component-content__content p {
      color: $color-text-reverse;
    }
  }
}

.component-compartment__header {
  @include grid-col(12);

  @include media('>=s') {
    @include grid-col(9);
  }

  .component-compartment__super-title,
  .component-compartment__sub-title {
    @include type-preset(
      $version: 20,
      $type: header
    );

    @include media('>=m') {
      @include type-preset(
        $version: 40,
        $type: header
      );
    }

    @include media('>=l') {
      @include type-preset(
        $version: 50,
        $type: header
      );
    }
  }

  .component-compartment__super-title {
    color: $color-text-super;
    text-transform: uppercase;
    top: 0;
  }

  .component-compartment__title {
    @include type-preset(
      $version: 70,
      $type: header
    );

    @include media('>=m') {
      @include type-preset(
        $version: 90,
        $type: header
      );

      margin-top: rem($scale-1);
    }

    @include media('>=l') {
      @include type-preset(
        $version: 100,
        $type: header
      );
    }
  }

  .component-compartment__sub-title {
    margin-top: rem($scale-3);
  }
}

.component-compartment__header + .component-compartment__content {
  margin-top: rem($scale-4);

  @include media('>=m') {
    margin-top: rem($scale-8);
  }
}

.component-compartment__content {
  @include grid-col(12);
}

.component-compartment__footer {
  display: flex;
  justify-content: center;
  margin-top: rem($scale-4);
  width: 100%;

  @include media('>=m') {
    margin-top: rem($scale-8);
  }
}

.component-compartment__cta {
  @include btn(
    $style: primary-alternative
  );
}

/**
 * Classy style options
 * ca- = classy added
 */
.paragraph--view-mode-full.paragraph--type-compartment.component-compartment.ca-component-compartment--layout {
  .component-compartment__content > div:not(.slick-slider) {
    @include media('>=s') {
      @include grid-parent();
    }

    @include bs-ie() {
      flex-wrap: nowrap;
    }
  }

  .paragraph-component:not(:first-of-type) {
    margin-top: rem($scale-4);

    @include media('>=s') {
      margin-top: 0;
    }
  }
}

.ca-component-compartment--two-thirds-left {
  .paragraph-component:first-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(8);
    }
  }

  .paragraph-component:last-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(4);
    }
  }
}

.ca-component-compartment--two-thirds-right {
  .paragraph-component:first-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(4);
    }
  }

  .paragraph-component:last-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(8);
    }
  }
}

.ca-component-compartment--three-fourths-left {
  .paragraph-component:first-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(9);
    }
  }

  .paragraph-component:last-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(3);
    }
  }
}

.ca-component-compartment--three-fourths-right {
  .paragraph-component:first-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(3);
    }
  }

  .paragraph-component:last-of-type:not(.component-card):not(.component-cta) {
    @include media('>=s') {
      @include grid-col(9);
    }
  }
}

.ca-component-compartment--2-col .paragraph-component {
  @include media('>=s') {
    @include grid-col(2);
  }
}

.ca-component-compartment--3-col .paragraph-component {
  @include media('>=s') {
    @include grid-col(3);
  }
}

.ca-component-compartment--4-col .paragraph-component {
  @include media('>=s') {
    @include grid-col(4);
  }
}

.ca-component-compartment--6-col .paragraph-component {
  @include media('>=s') {
    @include grid-col(6);
  }
}

.component-compartment.ca-component-compartment--slider.ca-component-compartment--layout-slider-no-container {
  @include container-full-width();

  .slick-arrow {
    // important is to override the inline display-block from slick slider.
    display: none !important;// sass-lint:disable-line no-important
  }
}

.ca-component-compartment--ao-center-align {
  .component-compartment__header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.ca-component-compartment--ao-center-align:not(.ca-component-compartment--layout) {
  .component-content {
    @include media('>=s') {
      @include grid-col(8);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.ca-component-compartment--style-title-alternative {
  .component-compartment__header {
    .component-compartment__super-title {
      @include glyph-bars();
      @include type-preset(
        $version: 60
      );

      display: inline-block;
      text-transform: capitalize;
      top: 0;
    }

    .component-compartment__title {
      @include type-container(
        $max-width: 55%
      );

      @include type-preset(
        $version: 70,
        $type: header
      );

      margin: rem($scale-6) auto 0;

      @include media('>=m') {
        @include type-preset(
          $version: 80,
          $type: header
        );

        margin: rem($scale-5) auto 0;
      }
    }
  }

  .component-compartment__header + .component-compartment__content {
    margin-top: rem($scale-8);

    @include media('>=m') {
      margin-top: rem($scale-12);
    }
  }
}
