@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Content
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-content {
  .component-featured-content__content {
    article {
      display: block;
    }
  }
}

/* Classy Paragraph Styles: No space */
.node--view-mode-full .node--view-mode-full .node__content > .paragraph-component.component-list-content.component-list-content--no-space,
.page-node-type-landing .node--view-mode-full .node__content > .paragraph-component.component-list-content.component-list-content--no-space {
  @include classy-no-space();
}
