@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero slide homepage style
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-hero-slide--home {
  .media::before {
    background-color: transparent;
    background-image: $scrim-hero-gradient;
  }

  .component-hero-slide__inner > div {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-col-7;
    padding: 0;

    @include media('>=l') {
      max-width: $grid-col-6;
    }

    @include media('>=xl') {
      max-width: $grid-col-5;
    }
  }

  .component-hero-slide__inner {
    min-height: rem(232);
    padding: $header-height-sm 0 rem($scale-12);

    @include bs-ie() {
      height: rem(232);
    }

    @include media('>=s') {
      padding-bottom: rem($scale-8);
    }

    @include media('>=m') {
      min-height: rem(316);
      padding: $header-height-lg 0 rem($scale-8);

      @include bs-ie() {
        height: rem(316);
      }
    }

    @include media('>=l') {
      min-height: rem(368);
      padding: $header-height-lg + rem($scale-6) 0 rem($scale-6);

      @include bs-ie() {
        height: rem(368);
      }
    }
  }

  .component-hero-slide__title {
    h1 {
      @include type-preset(
        $version: 70,
        $type: header,
        $multiline: 3
      );

      padding-bottom: 0.04em;

      @include media('>=s') {
        @include type-preset(
          $version: 70,
          $type: header,
          $multiline: 2
        );
      }

      @include media('>=m') {
        @include type-preset(
          $version: 90,
          $type: header,
          $multiline: 2
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 100,
          $type: header,
          $multiline: 2
        );
      }
    }
  }

  // Style image specifically for home.
  .media--image {
    img {
      object-position: right;
    }
  }
}

// Classy Paragraphs Layout: Left-Aligned Title -------------------------------------------------------------------------------------------
// Currently for use on the New Homepage Hero
.component-hero-slide--home.component-hero-slide--layout-center {
  .component-hero-slide__inner > div {
    margin-left: auto;
    margin-right: auto;
  }
}

// Classy Paragraphs Layout: Left-Aligned Title -------------------------------------------------------------------------------------------
// Currently for use on the New Homepage Hero
.component-hero-slide--home.component-hero-slide--layout-left {
  .component-hero-slide__inner {
    width: 100%;
  }

  .component-hero-slide__inner > div {
    margin: 0 0 0 $grid-col-1;

    @include media('>=xl') {
      margin-left: $grid-col-2;
    }
  }
}
