@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: tabs
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-tabs {
  @include vertical-rhythm();
}

// Pops tabs out of the container and makes them horizontally scrollable without a visible scrollbar
.component-tabs__nav {
  @include container-full-width();
  -ms-overflow-style: none; // IE 10+
  display: flex;
  // fixed height for no vertical wiggle
  // calc = ((font-size * line-height) + (border-width + padding between text and border))
  height: calc((#{$font-size-preset-30} * #{$line-height-preset-30}) + (#{$border-width-regular} + #{rem($scale-1)} + #{rem(2)}));
  margin: 0;
  overflow-x: scroll;
  padding: 0;
  padding-left: $container-gutter-sm;
  position: relative;
  scrollbar-width: none; // Firefox
  white-space: pre;

  @include media('>=s') {
    height: calc((#{$font-size-preset-40} * #{$line-height-preset-40}) + (#{$border-width-regular} + #{rem($scale-2)} + #{rem(2)}));
    padding-left: $grid-col-1 / 2;
  }

  @include media('>=m') {
    @include container-full-width($reset: true);
    height: calc((#{$font-size-preset-50} * #{$line-height-preset-50}) + (#{$border-width-regular} + #{rem($scale-2)} + #{rem(2)}));
    padding-left: 0;
  }

  // Chrome
  &::-webkit-scrollbar {
    display: none;
  }

  li {
    cursor: pointer;
    list-style: none;
    margin: 0 rem($scale-4) 0 0;
    padding: 0;
    position: relative;
    text-align: center;

    @include media('>=l') {
      margin-right: rem($scale-8);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    @include type-preset(
      $version: 30,
      $type: header
    );
    border-bottom: $border-width-regular solid transparent;
    color: $color-text-subtle;
    display: block;
    padding: 0 0 rem($scale-1);
    transition: $transition-base;

    @include media('>=s') {
      @include type-preset(
        $version: 40,
        $type: header
      );
      border-bottom-width: $border-width-thick;
      padding: 0 0 rem($scale-2);
    }

    @include media('>=m') {
      @include type-preset(
        $version: 50,
        $type: header
      );
    }

    @include on-event() {
      color: $color-text;
      text-decoration: none;
    }
  }

  .component-tabs__nav-item:only-of-type {
    display: none;
  }

  .component-tabs__nav-item:last-of-type a {
    margin-right: $container-gutter-sm * 2;

    @include media('>=s') {
      margin-right: $container-gutter-lg-vw;
    }

    @include media('>=m') {
      margin-right: 0;
    }
  }

  .component-tabs__nav-item[aria-selected='true'],
  .component-tabs__nav-item:active,
  .component-tabs__nav-item:focus {
    box-shadow: none;

    a {
      border-bottom-color: $color-brand-secondary;
      color: $color-text;
      text-decoration: none;
    }
  }
}

.component-tabs__content {
  margin-top: rem($scale-5);

  @include media('>=s') {
    margin-top: rem($scale-8);
  }
}

.component-tabs-tab__title {
  display: none;
}
