@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero slide secondary style
// Based on the marketing subcategory hero
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-hero-slide.component-hero-slide--secondary {
  .component-hero-slide__inner {
    min-height: rem(180);
    padding: rem($scale-10) 0;

    @include bs-ie() {
      height: rem(180);
    }

    @include media('>=m') {
      min-height: rem(148);

      @include bs-ie() {
        height: rem(148);
      }
    }
  }

  .media + .component-hero-slide__inner {
    .component-hero-slide__title sup {
      color: $color-grey-11;
    }
  }

  .component-hero-slide__title {
    sup {
      @include type-preset(
        $version: 50
      );

      @include media('>=m') {
        @include type-preset(
          $version: 60
        );
      }

      &::after {
        display: none;
      }
    }

    sup + h1 {
      margin-top: rem($scale-1);
    }

    h1 {
      @include type-preset(
        $version: 50,
        $type: header
      );

      @include media('>=s') {
        @include type-preset(
          $version: 80,
          $type: header
        );
      }
    }
  }
}
