@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Card Wrapper
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

$media-img-style: rem(96);

/**
 * Component styles
 */
.component-listing-item {
  @include gap(
    $property: padding,
    $sizes: $gap-e 0
  );

  border-bottom: $border-width-light solid $color-utility-border;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include media('>=s') {
    display: block;
  }

  &:last-of-type {
    border: 0 none;
  }

  // WHEN opened
  &.jsa-expanded {
    .component-listing-item__title > button {
      @include icon(
        $filename: arrow-down,
        $size: $icon-size-xsmall
      );

      color: $color-text-subtle;

      &::before {
        transform: rotate(180deg);
        transition: $transition-base;
      }
    }
  }

  // media
  .component-listing-item__media {
    flex-basis: $media-img-style;

    @include media('>=s') {
      left: 0;
      position: absolute;
      top: rem($gap-e);
    }


    img {
      max-width: 100%;
    }
  }

  // header
  .component-listing-item__title {
    flex-basis: 100%;

    h2 {
      @include type-preset(
        $version: 50,
        $type: header
      );
    }

    h3 {
      @include type-preset(
        $version: 40
      );
    }


    > button {
      @include link-btn(
        $style: primary,
        $size: regular,
        $icon: arrow-down,
        $icon-position: before,
        $icon-color: currentColor
      );

      @include gap(
        $sizes: $gap-c
      );

      text-align: left;
      transition: $transition-base;

      &::before {
        transition: $transition-base;
      }
    }
  }

  // IF media and header
  .component-listing-item__media + .component-listing-item__title {
    flex-basis: calc(100% - #{$media-img-style});
    padding-left: rem($gap-c);
  }

  // IF media and content
  .component-listing-item__media + .component-listing-item__title,
  .component-listing-item__media ~ .component-listing-item__content {
    @include media('>=s') {
      padding-left: calc(#{$media-img-style} + #{rem($gap-d)});
    }
  }

  // content
  .component-listing-item__content {
    flex-basis: 100%;
    width: 100%;
  }

  // accordion
  .component-listing-item__accordion-item {
    @include gap(
      $sizes: $gap-d
    );

    display: none;

    .component-accordion-item__content {
      @include type-container(2);
      padding-left: rem($scale-3);
      position: relative;

      &::before {
        @include glyph-bar-vertical();
      }

      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}
