@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Featured Content - Grid layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-content--layout-grid {

  .component-featured-content__list {
    @include grid-parent(
      $gutter-vertical: true
    );

    list-style: none;

    .component-featured-content__list-item {
      @include grid-col(12);
      padding: 0;

      @include media('>=s') {
        @include grid-col(6);
      }

      @include media('>=m') {
        @include grid-col(4);
      }

      > article {
        @include grid-gutter-switch(
          $property: 'padding'
        );
      }

      .node__links {
        display: none;
      }

      a {
        color: $color-brand-primary;

        &:hover {
          color: $color-grey-38;
          text-decoration: none;
        }
      }
    }
  }
}
