@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Content Layouts
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

// Classy Paragraphs Layout: Centered Title -----------------------------------------------------------------------------------------------
.component-hero-slide--layout-center {
  .component-hero-slide__inner > div {
    text-align: center;
  }

  .component-hero-slide__title {
    sup {
      @include glyph-bars(
        $align: center
      );
    }
  }
}

// Classy Paragraphs Layout: Left-Aligned Title -------------------------------------------------------------------------------------------
.component-hero-slide--layout-left {
  .component-hero-slide__inner > div {
    text-align: left;

    @include media('>=s') {
      @include grid-col(8);
    }

    @include media('>=l') {
      @include grid-col(9);
    }
  }

  .component-hero-slide__title {
    sup {
      @include glyph-bars(
        $align: left
      );
    }
  }
}
