@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: cta
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-cta {

  .component-cta__title {
    @include type-preset(60);
    margin-bottom: 0;
  }

  .component-cta__title ~ .component-cta__footer {
    margin-top: rem($scale-9);
  }

  .component-cta__content + .component-cta__footer {
    margin-top: rem($scale-9);
  }

  .component-cta__footer {
    line-height: 0;

    * {
      line-height: normal;
      line-height: initial;
    }
  }

  .component-cta__footer:empty {
    display: none;
  }

  .component-cta__link.button {
    @include btn();
  }

  /* Classy Paragraph Styles: Button Primary, Secondary */
  &.component-cta--primary .component-cta__link {
    @include btn(primary);
  }

  &.component-cta--primary-alternative .component-cta__link {
    @include btn(primary-alternative);
  }

  &.component-cta--secondary .component-cta__link {
    @include btn(secondary);
  }

  &.component-cta--tertiary .component-cta__link {
    @include btn(tertiary);
  }

  &.component-cta--attention .component-cta__link {
    @include btn(attention);
  }

  &.component-cta--link-primary .component-cta__link {
    @include link-btn();

    // TODO: change to icon font after crossover
    // @include link-btn(
    //   $style: primary,
    //   $size: regular,
    //   $icon: long-arrow-right,
    //   $icon-position: after,
    //   $icon-color: $color-orange
    // );
  }

  &.component-cta--link-reverse .component-cta__link {
    @include link-btn($style: reverse);

    // TODO: change to icon font after crossover
    // @include link-btn(
    //   $style: reverse,
    //   $size: regular,
    //   $icon: long-arrow-right,
    //   $icon-position: after,
    //   $icon-color: $color-orange
  }
}

/* Classy Paragraph Styles: No space */
.node--view-mode-full .node--view-mode-full .node__content > .paragraph-component.component-cta.component-cta--no-space,
.page-node-type-landing .node--view-mode-full .node__content > .paragraph-component.component-cta.component-cta--no-space {
  @include classy-no-space();
}
