@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: media layout full
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media--layout-divider {
  @include container-full-width();

  .component-featured-media__list {
    display: flex;
    flex-direction: row;
    height: rem($scale-21);
    padding: 0;

    @include media('>=s') {
      height: rem(200);
    }

    .component-featured-media__list-item {
      display: block;
      flex: 1 1 auto;
      position: relative;

      .media--type-image {
        @include trbl();

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
