@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-lead-generation-bar {
  @include container-full-width();

  display: flex;
  min-height: rem(148);
  position: relative;


  .media--type-image {
    img {
      @include trbl();

      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    // Adding this so you can see the images on an authenticated view
    &.contextual-region {
      position: static;
    }
  }

  .component-lead-generation-bar__content {
    @include container();

    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    padding: rem($scale-8) 0;
    z-index: 6;

    @include media('>=s') {
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
    }

    header {
      text-align: center;

      @include media('>=s') {
        text-align: left;
      }
    }
  }

  .component-lead-generation-bar__text {
    margin-top: rem($scale-8);
    text-align: center;

    @include media('>=s') {
      margin-top: 0;
      text-align: left;
    }

    p {
      @include type-preset(30);

      margin: 0;

      @include media('>=m') {
        @include type-preset(50);
      }
    }
  }

  .component-lead-generation-bar__title {
    @include type-preset(
      $version: 60,
      $type: header
    );

    @include media('>=s') {
      @include type-preset(
        $version: 70,
        $type: header
      );
    }

    @include media('>=m') {
      @include type-preset(
        $version: 80,
        $type: header
      );
    }
  }

  .component-lead-generation-bar__subtitle {
    @include type-preset(40);

    @include media('>=s') {
      @include type-preset(50);
    }

    @include media('>=m') {
      @include type-preset(60);
    }
  }

  .component-lead-generation-bar__footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 6;

    .component-lead-generation-bar__phone {
      @include type-preset(
        $version: 80,
        $type: header
      );

      text-align: center;

      @include media('>=m') {
        @include type-preset(
          $version: 100,
          $type: header
        );
      }
    }

    .component-lead-generation-bar__cta {
      @include btn($style: primary-alternative);

      margin-top: rem($scale-8);

      @include media('>=s') {
        margin-top: rem($scale-4);
      }
    }
  }
}

// Dark Style
.component-lead-generation-bar--style-dark {
  background-color: $color-bg-light-primary;
  color: $color-text;

  .component-lead-generation-bar__text {
    color: $color-text;
  }
}

// Light Style
.component-lead-generation-bar--style-light {
  background-color: $color-bg-dark-secondary;
  background-image: url(asset-path('image', 'contact-footer-background.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-text-reverse;

  .component-lead-generation-bar__text {
    color: $color-text-reverse;
  }

  a {
    @include link-btn($style: reverse);
  }

  .media--type-image {
    &::before {
      @include trbl();

      background: $scrim-image;
      content: '';
      display: block;
      z-index: 2;
    }
  }
}

// Hero Lead Generation Bar
.component-hero--lead-generation-bar {
  .component-hero__content .component-hero-slide .component-hero-slide__inner {
    padding-bottom: rem($scale-16);

    @include media('>=s') {
      padding-bottom: rem($scale-10);
    }
  }
}

.component-hero--lead-generation-bar__wrapper {
  .component-lead-generation-bar {
    @include container-full-width();
    @include vertical-rhythm($reset: true);

    background-color: $scrim-image;
    bottom: 0;
    min-height: inherit;
    padding: 0;
    position: absolute;
    transition: $transition-base;
    z-index: 300;

    .component-lead-generation-bar__content {
      align-items: stretch;
      height: 100%;
      padding: rem($scale-2) 0;

      @include media('>=s') {
        align-items: center;
      }

      .component-lead-generation-bar__text {
        color: $color-text-reverse;
        display: none;
        opacity: 1;

        @include media('>=s') {
          @include grid-col(6);

          display: block;
        }

        @include media('>=m') {
          @include grid-col(8);
        }
      }
    }

    .component-lead-generation-bar__footer {
      @include container-full-width();

      align-items: center;
      flex-direction: row;
      justify-content: space-around;

      @include media('>=s') {
        @include container-full-width($reset: true);
        @include grid-col(6);

        justify-content: center;
      }

      @include media('>=m') {
        @include grid-col(4);
      }

      .component-lead-generation-bar__phone {
        @include link-btn($style: reverse);
        @include type-preset(
          $version: 60,
          $type: header
        );

        margin-right: rem($gap-b);

        @include media('>=s') {
          @include type-preset(
            $version: 70,
            $type: header
          );

          margin-right: rem($scale-8);
        }
      }
    }

    .component-lead-generation-bar__cta {
      margin-right: rem($gap-c);
      margin-top: 0;

      @include media('>=s') {
        margin-right: 0;
      }
    }
  }
}

// Hero Lead Generation Bar Layout: Brief
.field--name-field-lead-generation-bar {
  @include media('>=s') {
    @include grid-col(3);
  }

  @include media('>=l') {
    @include grid-col(2);
  }

  .component-lead-generation-bar--layout-brief.component-lead-generation-bar {
    @include media('>=s') {
      @include container-full-width(
        $reset: true,
        $reset-position: absolute
      );

      align-items: center;
      height: 100%;
      margin-right: $grid-column-width-lg-calc;
      right: 0;
      width: 100%;
    }

    .component-lead-generation-bar__content {
      @include media('>=s') {
        flex-direction: column;
        justify-content: center;
      }

      .component-lead-generation-bar__text {
        @include media('>=s') {
          @include grid-col(12);
          flex: 0 1 auto;
          text-align: center;
        }
      }
    }

    .component-lead-generation-bar__text + .component-lead-generation-bar__footer {
      @include media('>=s') {
        margin-top: rem($scale-8);
      }
    }

    .component-lead-generation-bar__footer {
      @include media('>=s') {
        @include grid-col(12);
        align-items: center;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: center;
      }

      .component-lead-generation-bar__phone {
        @include media('>=s') {
          margin-right: 0;
        }
      }

      .component-lead-generation-bar__phone + .component-lead-generation-bar__cta {
        @include media('>=s') {
          margin-top: rem($scale-8);
        }
      }
    }
  }
}

.component-lead-generation-bar.jsa-sticky {
  background-color: rgba($color-grey-79, 1);
  bottom: inherit;
  position: fixed;
  top: 0;
  z-index: 300;
}
