@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Article Carousel
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-article-carousel,
.block-views-blockproject-uptime-related-articles {

  .component-article-carousel__title,
  .block-views-blockproject-uptime-related-articles__title {
    @include type-preset(
      $version: 50,
      $type: header,
      $margins: true
    );

    @include media('>=s') {
      @include type-preset(
        $version: 70,
        $type: header,
        $margins: true
      );
    }
  }

  .view-content,
  .view-row {
    .slick-list {
      margin: 0 (-$grid-gutter-sm / 2);
      overflow: visible;

      @include media('>=s') {
        margin: 0 (-$grid-gutter-lg / 2);
      }
    }

    // Hides the cards past the side bounds
    &::before,
    &::after {
      @include media('>=m') {
        background-color: $color-bg-light-primary;
        bottom: -5%;
        content: '';
        position: absolute;
        top: -5%;
        width: 100%;
        z-index: 1;
      }
    }

    &::before {
      @include media('>=m') {
        right: calc(100% + #{rem(8)});
      }
    }

    &::after {
      @include media('>=m') {
        left: calc(100% + #{rem(8)});
      }
    }

    .slick-slide {
      margin: 0 ($grid-gutter-sm / 2);

      @include media('>=s') {
        margin: 0 ($grid-gutter-lg / 2);
      }
    }

    &:not(.slick-initialized) {
      .component-featured-term__list-item {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    .slick-slide .media {
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
      max-width: 100vw;
      position: relative;

      img,
      video {
        display: block;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
