@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: media layout full
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-featured-media--layout-full {
  .component-featured-media__list {
    list-style: none;
    margin: 0;
    padding: 0;

    figure {
      display: block;
      min-width: 100%;
    }
  }

  .media--type-image {
    @include media('<=s') {
      @include container-full-width;
    }
  }

  video {
    height: 100%;
    width: 100%;
  }
}

.component-media--layout-full.component-media--full-screen {
  @include container-full-width();
}
