@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: cta
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-dynamic-cta {
  display: flex;
  margin-top: rem($scale-5);


  .cta-links {
    display: none;
    flex: 0 1 rem(262);
    height: rem($scale-10);
    margin-right: rem($scale-2);

    @include media('>=s') {
      display: inline-block;
    }
  }

  .form-select-wrapper .form-select {
    background-color: $color-bg-light-primary;
    color: $color-text;
    display: block;
    height: 100%;
    overflow: hidden;
    padding-right: 2.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // TODO: change to icon font after crossover
  //@include icon(
  //  $filename: long-arrow-right,
  //  $size: $icon-size-xsmall,
  //  $insert: after
  //) {
  //  color: $color-orange;
  //}
  .component-dynamic-cta__link {
    @include type-preset(
      $version: 40,
      $type: header
    );

    align-items: center;
    color: $color-white;
    display: flex;
    justify-content: space-between;

    &::after {
      background-image: url(asset-path('icon', 'long-arrow-right--orange.svg'));
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      font-size: $icon-size-xsmall;
      height: 1em;
      margin-left: em($scale-1);
      width: 1em;
    }

    @include media('>=s') {
      @include btn(attention);

      &::after {
        display: none;
      }
    }
  }
}
