@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: list links layout stacked
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-list-links,
.region-right-sidebar > .block-block-content {
  &.component-list-links--layout-stacked,
  &.block {
    @include glyph-bars(
      $type: vertical,
      $align: left
    );

    position: relative;

    @include media('>=s') {
      padding-left: rem($scale-5) + rem($scale-5) + rem($scale-1);
    }

    &::after {
      display: none;
      left: rem($scale-5);

      @include media('>=s') {
        display: block;
      }
    }

    .component-list-links__title {
      @include type-preset(
        $version: 50,
        $type: header
      );

      color: $color-text;
      padding-top: 0;

      @include media('>=s') {
        padding-top: rem($scale-5);
      }
    }

    .component-list-links__list,
    .block-listing-block__content > .field--name-field-project-uptime-articles {
      @include gap (
        $sizes: $gap-c
      );

      padding-left: rem($scale-2);
    }

    .component-list-links__list-item,
    .field__item {
      margin-bottom: rem($scale-2);

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        color: $color-text-link;
        content: '\2022';
        margin-right: em($scale-4);
        vertical-align: middle;
      }

      a {
        @include type-preset(40);
        font-weight: $font-weight-regular;
      }
    }
  }

  // for project uptime trending articles block,
  // override list links styles
  &#block-trendingarticles { // eslint-disable-line
    margin-top: $vr-default-sm;

    @include media('>=s') {
      margin-top: 0;
      padding-left: 0;
      padding-top: 0;
    }

    &::after {
      display: none;
    }

    .block-listing-block__content {
      @include container();

      @include media('>=s') {
        @include container-reset();
      }

      .field__items > .field__item {
        &::before {
          display: none;
        }

        a {
          display: list-item;
        }
      }
    }
  }

  &.component-list-links--layout-stacked-2-col {
    .component-list-links__list {
      @include media('>=s') {
        @include grid-parent();
      }

      @include gap (
        $sizes: $gap-c
      );

      .component-list-links__list-item {
        @include media('>=s') {
          @include grid-col(6);
        }
      }
    }
  }
}
