@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-hero,
.page-node-type-project-uptime-pages > .dialog-off-canvas-main-canvas > .page > .region-pre-content > .field--type-image > .media--image > img {
  @include container-full-width();
  transition: transform $transition-base-time-style;

  .component-hero__content {
    &:not(.slick-initialized) {
      .component-hero-slide {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    &.slick-initialized {
      .slick-arrow.slick-prev {
        @include grid-gutter-switch(
          $property: left
        );

        &::before {
          background-image: url(asset-path('icon', 'arrow-left--color-brand-secondary.svg'));
        }
      }

      .slick-arrow.slick-next {
        @include grid-gutter-switch(
          $property: right
        );

        left: inherit;

        &::before {
          background-image: url(asset-path('icon', 'arrow-right--color-brand-secondary.svg'));
        }
      }
    }
  }
}

// If the hero has search push the next section down and recenter the search bar
.component-hero.hero--with-search {
  padding-bottom: rem($scale-5);

  .hero-search {
    bottom: calc(-7% + #{rem($scale-5)});
  }
}


