@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: Compartment - Slider layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-compartment.ca-component-compartment--slider {
  @include grid-parent-reset();
  overflow: visible;

  @include media('>=m') {
    @include container-reset($position: relative);
  }

  .component-compartment__content {
    @include grid-col-reset();

    // hide all paragraph slides except the first one
    // this prevents the other slides from being shown while the js is loaded
    .paragraph-component:not(:first-of-type) {
      display: none;
    }

    .slick-initialized {
      .paragraph-component:not(:first-of-type) {
        display: block;
      }

      .paragraph-component.component-content--layout-50-50-left,
      .paragraph-component.component-content--layout-50-50-right {
        display: flex;
      }
    }

    // set a height
    .component-content.component-content--style-brand {
      height: rem(360);
    }

    > div {
      padding-left: 0;
    }

    .slick-list {
      margin: 0 (-$grid-gutter-sm / 2);
      overflow: visible;

      @include media('>=s') {
        margin: 0 (-$grid-gutter-lg / 2);
      }

      .slick-slide > ul {
        padding: 0;
      }
    }

    // Hides the cards past the side bounds
    &::before,
    &::after {
      @include media('>=m') {
        background-color: $color-bg-light-primary;
        bottom: -5%;
        content: '';
        position: absolute;
        top: -5%;
        width: 100%;
        z-index: 1;
      }
    }

    &::before {
      @include media('>=m') {
        right: calc(100% + #{rem(8)});
      }
    }

    &::after {
      @include media('>=m') {
        left: calc(100% + #{rem(8)});
      }
    }

    .slick-slide {
      @include focus-state(
        $reset: true
      );

      margin: 0 ($grid-gutter-sm / 2);

      @include media('>=s') {
        margin: 0 ($grid-gutter-lg / 2);
      }
    }

    // changes the direction so the image is always on top on mobile
    .component-content.slick-slide {
      @include media('<s') {
        flex-direction: column;
      }

      .media--image {
        @include media('<s') {
          padding-bottom: 0;
        }
      }
    }
  }

  .component-compartment__content .slick-dotted .slick-dots li button::before {
    font-size: rem($scale-2);
  }
}
