@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: list links layout stacked
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-list-links.component-list-links--layout-horizontal {
  display: flex;
  justify-content: center;
  padding-top: rem($scale-4);

  @include media('>=m') {
    padding-top: rem($scale-8);
  }

  .component-list-links__title {
    color: $color-text-subtle;
    display: none;
    margin-right: rem($scale-8);

    @include media('>=l') {
      display: block;
    }
  }

  .component-list-links__list {
    @include grid-parent();
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    @include media('>=l') {
      @include grid-parent-reset(
        $display: flex
      );

      flex-wrap: wrap;
      width: inherit;
    }
  }

  .component-list-links__list-item {
    @include grid-col(6);

    @include media('>=m') {
      @include grid-col(3);
    }

    @include media('>=l') {
      @include grid-col-reset();
      margin-right: rem($scale-8);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
}
