@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Paragraph: hero slide
// Shared base style between all heros
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.component-hero-slide,
.component-hero-slide.slick-slide {
  display: flex;
  position: relative;
  width: 100vw;

  .media {
    @include trbl();
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    z-index: 0;

    &.media--type-image {
      .media__media,
      .media--image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        > picture,
        img {
          display: block;
          height: auto;
          left: 50%;
          min-height: 100%;
          min-width: 100%;
          object-fit: cover;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
        }
      }
    }
  }
}

.component-hero-slide {
  background-color: transparent;

  .media::before {
    @include trbl();
    background-color: $scrim-image;
    content: '';
    pointer-events: none;
    z-index: 100;
  }

  .media + .component-hero-slide__inner {
    color: $color-text-reverse;
  }

  .component-hero-slide__inner {
    @include container();
    align-items: center;
    color: $color-text;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: rem(272);
    padding: rem($scale-12) 0 rem($scale-14);
    position: relative;

    > div {
      text-align: center;
      width: 100%;

      @include media('>=m') {
        padding: 0 $grid-col-1;
      }

      @include media('>=xl') {
        padding: 0 $grid-col-2;
      }
    }
  }

  .component-hero-slide__title {
    sup {
      @include glyph-bars();
      @include type-preset(
        $version: 40
      );

      display: inline-block;
      top: 0;

      @include media('>=s') {
        @include type-preset(
          $version: 60
        );
      }

      &:empty {
        display: none;
      }
    }

    sup + h1 {
      margin-top: rem($scale-5);

      @include media('>=m') {
        margin-top: rem($scale-5);
      }
    }

    h1 {
      @include type-preset(
        $version: 60,
        $type: header
      );


      @include media('>=m') {
        @include type-preset(
          $version: 80,
          $type: header
        );
      }
    }
  }

  .component-hero-slide__content {
    margin-top: rem($scale-1);

    @include media('>=m') {
      margin-top: rem($scale-4);
    }

    p:only-of-type {
      margin-top: 0;
    }
  }

  .component-hero-slide__cta {
    @include btn(
      $style: primary-alternative,
      $size: small
    );
    display: inline-block;

    @include media('>=m') {
      @include btn(
        $style: primary-alternative
      );
    }
  }

  .component-hero-slide__footer {
    margin-top: rem($scale-4);

    @include media('>=s') {
      margin-top: rem($scale-6);
    }

    &:empty {
      display: none;
    }
  }

  .component-hero-slide__content {
    @include type-preset(
      $version: 40
    );

    @include media('>=s') {
      @include type-preset(
        $version: 50
      );
    }

    &:empty {
      display: none;
    }
  }
}
