<template>
  <modal-frame class="reschedule-confirmation-modal" :class="{ 'condensed': !showDetails && equipmentListCondensed}"
               :padding="false"
               :mainClasses="{ 'flex-row': true }"
               :contentClasses="{ 'flex-row': true, 'grow': true }">
    <template slot="header">
      <div>
        <h3 v-if="requestIsInitialized" class="header-confirmation-container">

          <span v-if="isPickup">{{ $i18n('workplace.pickupConfirmed') }}</span>
          <span v-else-if="isExtension">{{ $i18n('workplace.extensionConfirmed') }}</span>
          <span v-if="confirmationNumber"> • #{{ confirmationNumber }}</span>
        </h3>
        <p v-if="emailRecipients.length > 0">{{ $i18n('workplace.emailConfirmationSentTo') }} {{ emailRecipients[0]}}
          <span v-if="emailRecipients.length > 1"> + {{ emailRecipients.length-1 }} {{ $i18n('workplace.rescheduleRequest.more') }}</span>
        </p>
      </div>
    </template>

    <template slot="content" v-if="requestIsInitialized">
      <div class="w-100">
        <div class="flex-column flex-gap-20 grow no-shrink border-r-normal p-20">
          <equipment-select-list @equipmentListExpanded="equipmentListCondensed=!$event" :readonly="true"/>
          <h3 class="m-t-0 section-title-container">{{ isPickup ? $i18n('workplace.rescheduleRequest.pickup'): $i18n('workplace.rescheduleRequest.extension') }} {{ $i18n('workplace.rescheduleRequest.details') }}</h3>
          <div class="flex-column flex-gap-10 pickup-details-no-edit">
            <div v-if="confirmationNumber" class="flex-row flex-gap-10 align-items-baseline">
              <span class="left-label">{{ $i18n('workplace.rescheduleRequest.confirmation') }} #</span>
              <div class="flex-column flex-gap-5 grow ">
                <span>{{ confirmationNumber }}</span>
              </div>
            </div>
            <div class="flex-row flex-gap-10 align-items-baseline">
              <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupTime') }}</span>
              <span>{{ selectedDateTime | momentSlashFormat }} {{ $i18n('workplace.rescheduleRequest.at') }} {{ selectedDateTime | momentShortTime }}</span>
            </div>
            <div v-if="showDetails" class="flex-row flex-gap-10 align-items-baseline">
              <span class="left-label">{{ $i18n('workplace.rescheduleRequest.contract') }} #</span>
              <span>{{ transId }}</span>
            </div>
            <div v-if="showDetails" class="flex-row flex-gap-10 align-items-baseline">
              <span class="left-label">{{ $i18n('workplace.rescheduleRequest.account') }}</span>
              <span>{{ accountName }} • #{{ accountId }}</span>
            </div>
          </div>

          <div class="flex-column align-start" v-if="!showDetails">
            <q-button
              @click="showDetails = true"
              icon="add"
              :text="$i18n('workplace.rescheduleRequest.viewConfirmationDetails')"
              size="regular"
              class="no-grow expand-button flex-row-reverse flex-gap-5 p-0 m-0"
              buttonStyle="tertiary"/>
          </div>
          <div :class="{'border-b-normal': isPickup}" v-else></div>

          <location-details v-if="showDetails && isPickup" :readonly="true" class="location-details p-t-5 p-b-10"/>
          <div v-if="showDetails && isPickup && emailRecipients.length > 0"
               class="flex-column  flex-gap-10 border-t-normal p-t-20 ">
            <h3 class="m-b-10 section-title-container">{{ $i18n('workplace.rescheduleRequest.confirmationRecipients') }}</h3>
            <ul v-if="showDetails && isPickup && emailRecipients.length > 0">
              <li v-for="emailRecipient in emailRecipients" v-bind:key="emailRecipient">
                <button class="search-term-badge ur-query-link-active">
                  <span class="subfilter-label">{{emailRecipient}}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </template>
    <template slot="content" v-else>
      <div class="flex-column flex-gap-20 w-100 align-items-center justify-center">
        <ur-loading-spinner/>
        <h3 class="text-center">{{ $i18n('workplace.rescheduleRequest.gatheringConfirmationInformation') }}</h3>
      </div>
    </template>

    <template slot="footer">
      <div class="flex-row justify-space-between m-0 grow align-center">
        <span class="footer-message grow p-y-10 w-50">
          <span class="promo">
            {{ $i18n('workplace.rescheduleRequest.trackTheStatus') }}
            <span>
                  <router-link class="link homepage-cta__link" :to="{ name: 'workplace:dashboard' }"
                               v-html="$i18n('workplace.rescheduleRequest.manageEquipment')"
                               target="_blank"></router-link>
            <i class="icon icon-before-long-arrow-right c-orange"></i>
            </span>
          </span>
        </span>
        <!--        alternate footer promo for Unauthenticated user, for future use  -->
        <!--        <span class="footer-message grow p-y-10 w-50">-->
        <!--          <span class="promo">-->
        <!--            Create a profile to track equipment status, monitor utilization, and more.-->
        <!--            <span>-->
        <!--                  <router-link class="link homepage-cta__link" :to="{ name: 'workplace:dashboard' }"-->
        <!--                               v-html="$i18n('workplace.rescheduleRequest.register')"-->
        <!--                               target="_blank"></router-link>-->
        <!--            <i class="icon icon-long-arrow-right c-orange"></i>-->
        <!--            </span>-->
        <!--          </span>-->
        <!--        </span>-->

        <div class="buttons-container">
          <button
            @click="print()"
            :disabled="!requestIsInitialized"
            class="button button--style-2 button--secondary">
            {{ $i18n('ur.print') }}
          </button>
          <button
            @click="$router.go(-1)"
            class="button button--style-2 button--filled">
            {{ $i18n('checkout.done') }}
          </button>
        </div>
      </div>
    </template>

  </modal-frame>

</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../shared/request-pickup/confirmation';
</style>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import ModalFrame from '@/components/common/ur-modal-frame.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import EquipmentSelectList from './equipment-select-list.vue';
  import LocationDetails from './location-details/location-details.vue';

  export default {
    name: 'rescheduleConfirmationModal',
    components: {
      EquipmentSelectList,
      LocationDetails,
      ModalFrame,
      UrLoadingSpinner,
    },
    mounted() {
      if (!this.requestIsInitialized) {
        this.initializeRescheduleRequest();
      }
    },
    data() {
      return {
        showDetails: false,
        equipmentListCondensed: true,
      };
    },
    computed: {
      ...mapState({
        tcUser: state => state.tcUser,
        user: state => state.user,
        isLoggedIn: state => state.user.isLoggedIn,
        //
        confirmationNumber: ({ requestPickup }) => requestPickup.confirmationNumber,
        emailRecipients: ({ requestPickup }) => requestPickup.emailRecipients,
        instructions: ({ requestPickup }) => requestPickup.instructions,
        requestIsInitialized: ({ requestPickup }) => requestPickup.requestIsInitialized,
        selectedDateTime: ({ requestPickup }) => requestPickup.selectedDateTime,
      }),
      ...mapGetters({
        accountId: types.requestPickup.accountId,
        accountName: types.requestPickup.accountName,
        equipmentForCurrentAccount: types.workplace.equipmentForCurrentAccount,
        isExtension: types.requestPickup.isExtension,
        isPickup: types.requestPickup.isPickup,
        transId: types.requestPickup.transId,
      }),
      hasPickupInstructions() {
        return Object.values(this.instructions).some(ins => typeof ins === 'string' && ins.length > 0);
      },
    },
    watch: {
      isPickup: {
        immediate: true,
        handler(isPickup) {
          if (typeof isPickup === 'boolean' && !isPickup) this.showDetails = true;
        },
      },
    },
    methods: {
      ...mapActions({
        initializeRescheduleRequest: types.requestPickup.initializeRescheduleRequest,
      }),
      print() {
        window.print();
      },
    },
  };
</script>
