{#
/**
 * @file
 * Theme override for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_checkboxes()
 */
#}

{% set classes = [
  'js-form-item',
  'form-item',
  'form-item--checkbox',
  'form-checkboxes',
  'js-form-item-checkbox',
  title_display not in ['after', 'before'] ? 'form-no-label',
  disabled == 'disabled' ? 'form-disabled',
  errors ? 'form-item--error',
  ]
%}

<div id="{{ attributes.storage.id }}" {{ attributes.addClass(classes) }}>
  <ul class="form-item--checkboxes">
    {{ children }}
  </ul>
</div>
