// TODO: revisit this variable before the end of the input refactor
$input_height_xsmall: 32px;
$input_height_small: 2.8571428571em; //40px
$input_height_medium: 40px;
$input_icon_size_xsmall: 16px;
$input_icon_size_small: 20px;
$input_icon_size_medium: 28px;
$input_spacer_small: 4px;
$input_spacer_medium: 8px;

label {
  color: $color-grey-69;
  display: block;
  font-weight: bold;
  font-size: $font-size-small;
  line-height: 1;
  margin-bottom: 7px;
  padding: 5px 0px;

  &.label-selection {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $color-blue-lowlight;
  }

  &.label-field-name {
    position: relative;
    display: block;
    width: 100%;
    font-weight: 700;
    color: $color-brand-primary;
    font-family: $font-family-base;
    text-transform: uppercase;
    font-size: $font-size-small;
    letter-spacing: 0.05em;
  }

  &.label-account-selection {
    font-size: $font-size-h2;
    font-weight: 300;
  }

  &.error {
    color: $color-bright-red !important;
  }
}

input {
  cursor: pointer;

  &[type=text],
  &[type=number],
  &[type=email],
  &[type=tel] {
    background-color: $color-white;
    margin-bottom: 0.8571428571rem;
    position: relative;
    width: 100%;
    height: $input_height_small;
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: 1.5;
    font-weight: 400;
    padding-left: 0.5714285714rem; //8px
    color: $color-text;
    cursor: text;
    border: $color-border $border-light solid;
    border-radius: $border-radius-med;

    @media (min-width: $break-small) {
      //mirrors style 2 until breakpoint
      height: $input_height_medium;
      border-radius: $border-radius-small;
    }

    // on iOS it will zoom screen if font size isn't 16px
    @media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:$break-medium) {
      font-size: 16px
    }

    &::placeholder {
      color: $color-grey-38;
    }

    &::-ms-clear {
      display: none;
    }
  }

  // on iOS it will zoom screen if font size isn't 16px
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    font-size: 16px
  }
}

button[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.spinner.icon-form-item {
  position: absolute;
  font-size: 1rem;
  margin: 0;
  top: 9px;
  right: 15px;
  pointer-events: none;
}

.spinner.icon-button {
  font-size: 1.5em;
  top: 0;
  margin: 0;
  right: 0.5em;
}

.error-message {
  @extend %type-paragraph-small;
  color: $color-bright-red!important;
  margin-top: 8px;
  padding: 0;
  font-weight: 400;
}

a.disabled,
.ur-select .disabled {
  opacity: 0.5;
  cursor: default;
}

// TODO for now this is scoped to Checkout's reservation blocks. It should be hardened to a global styling.

// temporarily disable red borders until final ODO can be implemented.
span.input-field-wrapper.input-error{
  border: $border-light $color-border solid !important;
}

.ur-text-input-new{
  margin-top: 24px;
  @media (min-width: $break-small) {
    margin-top: 32px;
  }
  &:first-child{
    margin-top: 0;
  }
  label{
    font-weight: 400;
    margin-bottom: 12px;
    padding: 0;
    &.form-item__label--required{
      font-weight: 700;
    }
    &.error{
      margin: 0;
      margin-top: 12px;
    }
  }
  &.subtle{
    .input-field-wrapper.error{
      input, input:focus{
        border: $color-border $border-light solid;
      }
    }
    .error-message{
      color: $color-text-subtle !important;
    }
  }
  &.neutral{
    .input-field-wrapper.error{
      input, input:focus{
        border: $color-border $border-light solid;
      }
    }
    .error-message{
      color: $color-text !important;
    }
  }

  &.ur-text-input-new__small{
    .input-field-wrapper{
      height: $input_height_xsmall;

      input{
        padding-left: 8px;
      }
      .icon, input, .input-icon__primary+input{
        height: $input_height_xsmall;
      }
      .input-icon__secondary.icon:not(:last-child), .input-icon__tertiary.icon{
        padding-right: $input_spacer_small;
      }

    }
  }

  .input-field-wrapper {
    display: inline-block;
    height: $input_height_medium;
    position: relative;
    &.error{
      input, input:focus{
        border: 2px solid $color-bright-red;
        outline: none;
      }
    }
    // on iOS it will zoom screen if font size isn't 16px
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      font-size: 16px
    }
    &:not(.input-focus) input + .input-icon__secondary{
      display: none;
    }
    input{
      border-radius: 4px;
      padding-left: 12px;

      &:focus + .input-icon__secondary.icon{
        color: $color-text;
      }
    }
    .icon {
      font-size: $font-size-base;
      height: $input_height_medium;
      padding-left: 10px;
      position: absolute;
      z-index: 9;

/*      @include breakpoint($break-medium $break-xlarge - 1) {
        height: 36px;
      }

      @include breakpoint(max-width $break-medium - 1) {
        height: 39px;
      }*/

      &:before{
        bottom: 0;
        display: block;
        font-size: $font-size-large;
        height: $input_icon_size_xsmall;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        width: $input_icon_size_xsmall;
      }

    }

    .icon-divider {
      &:before {
        height: 40px;

        @include breakpoint(max-width $break-small - 1) {
          border-left: none;
          font-size: $font-size-base;
          height: $input_icon_size_xsmall;
        }

        @include breakpoint($break-small $break-medium) {
          height: 32px;
          padding-top: 8px;
        }
      }
    }

    .input-icon{
      &__primary{
        &.icon-map-marker:before{
          font-size: 16px;
        }
        + input{
          font-size: $input_icon_size_xsmall;
          padding: 0 40px 0 56px;
        }
      }
      &__secondary.icon{
        padding: 0 $input_spacer_medium 0 0;
        right: $input_icon_size_medium;
        top: 0;
        &:before{
          width: $input_icon_size_medium;
        }
        &:not(:last-child){
          right: ($input_icon_size_medium * 2) + $input_spacer_small;
        }
      }
      &__tertiary.icon{
        padding-right: $input_spacer_medium;
        right: $input_icon_size_medium;
        top: 0;
        &:before{
          width: $input_icon_size_medium;
        }
      }
      &__validation.icon{
        color: $color-green;
        right: 0;
        top: 0;
        &:before{
          padding-left: $input_spacer_medium;
        }
      }
    }


    &:hover,&.input-focus{
      .input-icon__primary{
        color: $color-blue;
      }
    }

  }
}
