{#
/**
 * Available variables:
 * - form_item_wrapper_modifiers - array of modifiers to add to the base classname
 * - form_item_wrapper_blockname - blockname prepended to the base classname
 * - form_item_modifiers - array of modifiers to add to the base classname
 * - form_item_blockname - blockname prepended to the base classname
 * - form_item_label
 * - form_item_name - the name of the form
 * - form_item_required - if the form item is required or not
 * - form_item_type
 * -- allowed values:
 * --- input
 * --- select
 * --- textarea
 * - form_item_attributes
 * - select_attributes (select only)
 * -- options
 * --- key
 * ---- value
 * ---- label
 * -
 **/
#}
<div class="form-item {% for modifier in form_item_wrapper_modifiers %} form-item--{{ modifier }}{% endfor %}{% if form_item_wrapper_blockname %}{{ form_item_wrapper_blockname }}__form-item{% endif %}
">
  {% if form_item_label %}
    {% include "@atoms/05-forms/_form-label.twig"
      with {
        "label_for": form_item_name,
        "input_type": form_item_type,
        "item_required": form_item_required,
        "label": form_item_label
      }
    %}
  {% endif %}
  {% if form_item_type == 'input' %}
    {% include "@atoms/05-forms/_input.twig"
      with {
        "input_modifiers": form_item_modifiers,
        "input_blockname": form_item_blockname,
        "input_attributes": form_item_attributes,
        "input_name": form_item_name
      }
    %}
  {% elseif form_item_type == 'select' %}
    {% include "@atoms/05-forms/select/select.twig"
      with {
        "select_modifiers": form_item_modifiers,
        "select_blockname": form_item_blockname,
        "select_attributes": form_item_attributes,
        "select_options": select_options,
        "select_name": form_item_name
      }
    %}
  {% elseif form_item_type == 'textarea' %}
    {% include "@atoms/05-forms/_textarea.twig"
      with {
        "textarea_modifiers": form_item_modifiers,
        "textarea_blockname": form_item_blockname,
        "textarea_attributes": form_item_attributes,
        "textarea_name": form_item_name
      }
    %}
  {% endif %}
</div>
