{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}

{#
/**
* Available variables:
* - label_for
* - input_type
* - item_required
* - label
**/
#}
<label for="{{ label_for }}" class="form-item__label form-item__label--{{ input_type }}{% if item_required %} form-item__label--required{% endif %}">
  {{ label }}
</label>