{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{#
/**
 * Available variables:
 * - input_modifiers
 * - input_blockname
 * - input_attributes
 * - input_name
**/
#}
<input{{ attributes.addClass('form-item__textfield') }} />{{ children }}
{#<input class="form-item__textfield {% for modifier in input_modifiers %} textfield--{{ modifier }}{% endfor %}
      {% if input_blockname %}{{ input_blockname }}__textfield{% endif %}"
{% for attribute,value in input_attributes %} {{ attribute }}="{{ value }}"{% endfor %}
name="{{ input_name }}">#}
