{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}

{% set classes = [
  'form-item',
  'form-item--radio',
  ]
%}

<div id="{{ attributes.storage.id }}" {{ attributes.addClass(classes) }}>
  <ul class="form-item--radios">
    {{ children }}
  </ul>
</div>
