{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}

{#
/**
* Available variables:
* - textarea_modifiers
* - textarea_blockname
* - textarea_attributes
* - textarea_name
**/
#}

<textarea class="form-item__textfield form-item__textarea {% for modifier in textarea_modifiers %} textarea--{{ modifier }}{% endfor %}
      {% if textarea_blockname %}{{ textarea_blockname }}__textarea{% endif %}"
{% for attribute,value in textarea_attributes %}{{ attribute }}="{{ value }}"{% endfor %} name={{ textarea_name }}>
</textarea>