<{{ ds_content_wrapper }}{{ attributes.addClass('product_detail') }}>

{{ title_suffix.contextual_links }}
    {% include '@organisms/product-detail/product-detail.twig'
      with {
        "product_detail_blockname": 'product_detail',
        "product_detail_title": ds_content.node_title|render|striptags|replace({'&amp;':'&'}),
        "product_detail_title_modifiers": ['thin'],
        "product_detail_header_description": ds_content.field_plain_long|render|striptags|replace({'&amp;':'&'}),
        "product_detail_content": ds_content.body|render,
        "primary_button_content": ds_content.field_cta_contact_specialist[0]['#title'],
        "primary_button_url": ds_content.field_cta_contact_specialist[0]['#url'],
        "primary_button_modifiers": ["style-2", "filled", "product_detail"],
        "secondary_button_content": ds_content.field_cta_product_listing[0]['#title'],
        "secondary_button_url": ds_content.field_cta_product_listing[0]['#url'],
        "secondary_button_modifiers": ["style-2", "secondary-alt", "product_detail"],
        "breadcrumbs": drupal_block('unitedrentals_breadcrumbs')
      }
    %}

</{{ ds_content_wrapper }}>
