<{{ ds_content_wrapper }}{{ attributes.addClass('grid', 'a1-layout') }}>

  {% include "@organisms/article-1/article-1.twig"
    with {
      "article_title": ds_content.node_title|render|striptags|replace({'&amp;':'&'}),
      "article_1_title_modifiers": ["thin"],
      "article_blockname": "article",
      "article_location": ds_content.field_press_release_location[0]['#context']['value'],
      "article_date": ds_content.field_press_release_date[0]['#markup'],
      "article_content": ds_content.body|render,
    }
  %}

</{{ ds_content_wrapper }}>

