<{{ ds_content_wrapper }}{{ attributes.addClass('child_landing_page') }}>

{{ title_suffix.contextual_links }}
  {{  ds_content.field_hero_image_component }}
  <div class="child_landing_page__container grid">
    {% set file_label = ds_content.field_marketing_brochure[0]['#description'] %}
    {% set url =  file_url(ds_content.field_marketing_brochure[0]['#file'].getFileUri()) %}

    {% include '@organisms/child-category-landing/child-category-landing.twig'
      with {
        "child_landing_blockname": 'child_landing_page',
        "child_landing_description": ds_content.field_plain_long|render|striptags|replace({'&amp;':'&'}),
        "child_landing_content": ds_content.body|render,
        "marketing_brochure_desc": file_label,
        "marketing_brochure_url": url,
        "primary_button_content": ds_content.field_cta_contact_specialist[0]['#title'],
        "primary_button_url": ds_content.field_cta_contact_specialist[0]['#url'],
        "primary_button_modifiers": ["style-2", "filled", "child-landing"],
      }
    %}

    {% set nid = node.nid.value %}
    {% set tid = node.field_marketing_category.target_id %}
    {{ drupal_view('child_category_landing_list', 'child_landing_list', nid, tid) }}
  </div>
</{{ ds_content_wrapper }}>