{% include "@organisms/site/search/search-results.twig"
  with {
    "title": ds_content.node_title[0][0]['#context']['output'],
    "url": path('entity.node.canonical', {'node': node.id}),
    "body": ds_content.body,
  }
%}
