<template>
  <div class="results-content-blocks_container branch-list">
    <template v-if="loading">
      <template>
        <branch-list-item v-for="idx in 3" :key="idx"/>
      </template>
    </template>

    <transition v-else name="branchlist">
      <div>
        <template v-for="(marker, it) in markers">
          <branch-list-item
            v-if="isOnPage(it)"
            :key="marker"
            :branch="getBranches()[marker]"
            :branchName="(getBranches()[marker].primaryBusinessType !== null) ? getBranches()[marker].primaryBusinessType.name : ''"
            :dive="dive"
            @branch_clicked="handleBranchClicked"
            @branch_entered="onBranchEnter"
            @branch_left="onBranchLeave"
            :class="{'branch-enter-animation': awaitingLoad}"
          />
        </template>
      </div>
    </transition>

  </div>
</template>

<script type="text/babel">
  import BranchListItem from '@/components/location-finder/branch-list-item';
  import BrowserInfo from '@/mixins/browser-info';
  import Format from '@/mixins/format';
  import types from '@/store/types';

  import { findIndex, isEmpty } from 'lodash';
  import { mapActions, mapGetters, mapState } from 'vuex';

  /**
   * Branch List component
   *
   * In the view above, there is reference to the visible markers in the
   * state, which is an array with the following format:
   * [
   *  [0: branchIndex, 1: distance]
   *  ...
   * ]
   */
  export default {
    inject: ['getBranches'],
    components: {
      BranchListItem,
    },
    computed: {
      ...mapGetters([
        'branchesByStateMap',
        'small',
      ]),
      ...mapState({
        allMarkers: state => state.locationFinder.map.markers,
        loading: state => state.locationFinder.loading,
        search: state => state.locationFinder.search,
        sync: state => state.locationFinder.sync,
        user: state => state.user,
        visibleMarkers: state => state.locationFinder.map.visibleMarkers,
        visibleMarkersUnsynced: state => state.locationFinder.map.visibleMarkersUnsynced,
      }),
      displayDistance() {
        return (this.hasGeolocation || this.hasRatesPlaceCoords || this.hasSearchPosition);
      },
      hasGeolocation() {
        return typeof this.userLocation.latitude !== 'undefined' && typeof this.userLocation.longitude !== 'undefined';
      },
      hasRatesPlaceCoords() {
        return !!this.ratesPlacesCoords;
      },
      hasSearchPosition() {
        return this.searchPosition !== null && typeof this.searchPosition.lat !== 'function' && typeof this.searchPosition.lng !== 'function';
      },
      markers() {
        if (!this.sync.doSync && this.sync.updateFrom === 'map') {
          return this.visibleMarkersUnsynced;
        }
        return this.visibleMarkers;
      },
      ratesPlacesCoords() {
        if (typeof this.user.ratesPlace !== 'undefined' && typeof this.user.ratesPlace.geometry !== 'undefined') {
          return this.user.ratesPlace.geometry.location;
        }
        return false;
      },
    },
    data() {
      return {
        awaitingLoad: this.loading,
        userLocation: {},
      };
    },
    methods: {
      ...mapActions({
        activateBranchDetails: types.locationFinder.activateBranchDetails,
        setMarkerToSelectedState: types.locationFinder.setMarkerToSelectedState,
        updateContentType: types.locationFinder.updateContentType,
      }),
      getName(businessType) {
        const type = this.businessTypes.find($f => $f.typeMap === businessType);
        if (!isEmpty(type)) {
          return type.name;
        }
        // todo: missing UR businessType
        return 'General Equipment & Tools';
      },
      handleBranchClicked(branchId) {
        this.$emit('branch_clicked', branchId);
      },

      /**
       * Is On Page method
       *
       * Determines whether or not a given item is on the current page bounds for visibility.
       *
       * @param {integer} it | the iterator of the current paginated array
       * @return {bool} true if the item is within the current page bounds
       */
      isOnPage(it) {
        return this.search.paging.pageBegin <= it + 1 && it + 1 <= this.search.paging.pageEnd;
      },

      onBranchEnter(branchId) {
        this.$emit('branch_entered', branchId);
      },
      onBranchLeave(branchId) {
        this.$emit('branch_left', branchId);
      },
      /**
       * On Click method
       *
       * Method fired when user clicks on branch location in the branch listings
       *
       * @param {integer} branchId | the branchId of the branch
       */
      onClick(branchId) {
        this.$emit('branch_clicked', findIndex(this.getBranches(), branch => branch.id === branchId));
      },
    },
    mixins: [
      BrowserInfo,
      Format,
    ],
    name: 'branchList',
    props: {
      activeBranch: {
        type: String,
        default: '',
        required: false,
      },
      /**
       * Dive property
       *
       * Whether or not to dive into branch details view or not
       * when a marker on the map is clicked, or when a branch listing
       * is clicked.
       */
      dive: {
        type: Boolean,
        default: true,
      },
    },
    watch: {
      loading() {
        setTimeout(() => {
          this.awaitingLoad = false;
        }, 2000);
      },
    },
  };
</script>
