<template>
  <div class="branch-filter" v-if="businessTypes">
    <template v-if="displaySetting !== 'ur-menu'">
      <ur-select
        label=""
        :value="filter"
        :suppressEmptyOption="true"
        @change="updateFilter"
        :suppressLabel="true"
      >
        <option value="all">{{ $i18n('locationFinder.showAll') }}</option>
        <template v-for="(bt, idx) in businessTypes">
          <option :key="idx" :value="idx">{{ bt.name }}</option>
        </template>
      </ur-select>
    </template>
    <template v-else>
      <ur-menu
        :title="setBranchDisplayName"
        secondaryIcon="icon-angle-down"
        titleClass="branch-filter-menu-label">
        <div class="ur-menu-group">
          <div class="ur-menu-group-item selectable list-item">
            <a @click="setNewBranchValue('all', $i18n('locationFinder.showAll'))">{{ $i18n('locationFinder.showAll') }}</a>
          </div>
          <template v-for="(bt, idx) in this.filteredBusinessTypes">
            <div :key="idx" class="ur-menu-group-item selectable list-item">
              <a @click="setNewBranchValue(idx, bt.name)">{{ bt.name }}</a>
              <i v-if="bt.name === setBranchDisplayName" class="icon icon-check"></i>
            </div>
          </template>
        </div>
      </ur-menu>
    </template>
  </div>
</template>
<script type="text/babel">
  import Format from '@/mixins/format';
  import UrSelect from '@/components/common/form/ur-select';
  import { mapState, mapActions } from 'vuex';
  import UrMenu from '@/components/common/ur-menu';
  import types from '@/store/types';

  export default {
    inject: ['arGrBranchesOnly'],
    components: {
      UrSelect,
      UrMenu,
    },
    computed: {
      ...mapState({
        filter: state => state.locationFinder.search.filter,
        businessTypes: state => state.locationFinder.businessTypes,
      }),
      setBranchDisplayName() {
        if (this.filterDisplayText === '') {
          this.filterDisplayText = this.$i18n('locationFinder.showAll'); // eslint-disable-line
        }
        return this.filterDisplayText;
      },
      filteredBusinessTypes() {
        // Filter business types if we're only supposed to show AR and GR branches.
        const ARGR = this.businessTypes.filter($i => $i.typeMap === 'AR' || $i.typeMap === 'GR');
        const mapByProp = (prop, types) => types.reduce(
                (accum, obj) => ({ ...accum, [obj[prop]]: obj }),
                {},
        );
        return mapByProp('typeMap', this.arGrBranchesOnly ? ARGR : this.businessTypes);
      },
    },
    data() {
      return {
        filterDisplayText: '',
      };
    },
    methods: {
      ...mapActions({
        loadBusinessTypes: types.businessTypes.fetch,
      }),
      updateFilter(newValue) {
        this.$emit('filter_changed', newValue);
      },
      setNewBranchValue(newId, newText) {
        this.filterDisplayText = newText;
        this.$emit('filter_changed', newId);
      },
    },
    mixins: [
      Format,
    ],
    name: 'BranchFilter',
    props: [
      'preFilter',
      'displaySetting',
    ],
    watch: {
      filter() {
        if (this.filteredBusinessTypes[this.filter]) {
          this.filterDisplayText = this.filteredBusinessTypes[this.filter].name;
        }
        else {
          this.filterDisplayText = '';
        }
      },
    },
    beforeMount() {
      this.loadBusinessTypes();
    },
  };
</script>
