<template>
  <div class="location-search">
    <branch-filter
      @filter_changed="filterChanged"
      :displaySetting="mobileLayout? '' : 'ur-menu'"
    />
    <location-autocomplete
      ref="urAutocomplete"
      :place="searchQuery"
      :placeholder="$i18n('locationFinder.chooseLocation.locationPlaceholder')"
      @change="updateResults"
      @clear="handleClear"
      :label="''"
    />
    <button class="button location-search-button" @click="searchNewResults">
      <i class="icon icon-search"></i>
    </button>
  </div>
</template>

<script type="text/babel">
  import BranchFilter from '@/components/location-finder/branch-filter';
  import LocationAutocomplete from '@/components/common/ur-location-autocomplete';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import Format from '@/mixins/format';

  export default {
    components: {
      BranchFilter,
      LocationAutocomplete,
    },
    computed: {
      ...mapState({
        filter: state => state.locationFinder.search.filter,
        mapObject: state => state.locationFinder.mapObject,
        place: state => state.locationFinder.place,
        searchQuery: state => state.locationFinder.search.query,
        sync: state => state.locationFinder.sync,
      }),
    },
    data() {
      return {
        searchResults: null,
        searchChangedState: false,
        filterChangedState: false,
        filterValue: '',
      };
    },
    methods: {
      ...mapActions({
        setMap: types.locationFinder.setMap,
        setPlace: types.locationFinder.setPlace,
        setSearch: types.locationFinder.setSearch,
        setSync: types.locationFinder.setSync,
      }),
      filterChanged(value) {
        this.filterChangedState = true;
        this.filterValue = value;
      },
      handleClear() {
        this.searchResults = null;
      },
      /**
       * Update Results method
       *
       * @param {object} place | google place object
       * @param {*} city | city in state or province
       * @param {*} state | state or province abbreviation
       */
      updateResults(place) {
        this.searchResults = place;
        this.searchChangedState = true;
      },
      searchNewResults() {
        if (this.searchResults !== null && this.searchChangedState) {
          this.$emit('place_changed', this.searchResults);
          this.searchChangedState = false;
        }
        if (this.filterChangedState) {
          this.$emit('filter_changed', this.filterValue);
          this.filterChangedState = false;
        }
        if (this.searchResults === null) {
          this.setPlace({});
        }
      },
    },
    mixins: [
      Format,
    ],
    props: {
      mobileLayout: {
        type: Boolean,
        default: false,
      },
      currentSearch: {
        type: String,
        default: '',
      },
    },
  };
</script>
