<template>

  <div>
    <h6 class="small-grey__heading-6">
      {{ ur }}
    </h6>

    <div class="results-content-blocks_title-mile">
      <h4 class="heading-4" @click="handleBranchClick">
        {{ branch.name }}
      </h4>
      <p class="paragraph small-grey__paragraph">
        <template v-if="distanceFromSearch >= 0">
          <span>{{ distanceFromSearch }} {{ uom }}</span>
        </template>
      </p>
    </div>
    <p class="phone-paragraph">
      <gtm-phone-number :number="formatPhone()"/>
    </p>
    <div>
      <span>{{ branch.address1}},</span>
      <span>{{ branch.city }}, {{ branch.state }}
        {{ branch.zip }}</span>
    </div>

    <h6 class="heading-6 blue__heading-6 directions">
      <a rel="noopener noreferrer" target="_blank" :href="getDirectionsLink()">{{ directions }}</a>
    </h6>
  </div>

</template>

<script type="text/babel">
  import calc from '@/utils/calculator';
  import mapLabels from '@/utils/mapLabels';

  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number';

  export default {
    components: {
      GtmPhoneNumber,
    },
    computed: {
      uom() {
        return this.branch.countryCode === 'US' ? 'mi' : 'km';
      },
    },
    data() {
      return {
        ...mapLabels({
          currentlyViewing: 'ur.currentlyViewing',
          directions: 'ur.getDirections',
          scrollToTopText: 'ur.scrollToTop',
          ur: 'ur.name',
        }),
        distanceFromSearch: -1,
        marker: {},
      };
    },
    methods: {
      calculateDistance() {
        let distance = 0;
        if (this.searchPosition === null || typeof this.searchPosition.lat === 'function') {
          this.distanceFromSearch = -1;
          return;
        }
        distance = calc.distance(
          this.searchPosition,
          {
            lat: parseFloat(this.branch.latitude),
            lng: parseFloat(this.branch.longitude),
          },
        );
        distance = this.branch.countryCode === 'US' ? distance : this.milesToKm(distance);
        // per requirements: strip unwanted trailing zeros using toString
        this.distanceFromSearch = Number(Math.round(distance * 100) / 100).toString();
      },
      formatPhone() {
        const s2 = this.branch.phone.replace(/\D/g, '');
        const m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
        return (!m) ? null : `(${m[1]}) ${m[2]}-${m[3]}`;
      },
      milesToKm(milesValue) {
        return milesValue * 1.60934;
      },
      /**
       * Get Directions Link method
       *
       * Returns a directions link for google maps directions services based
       * off the passed branch index.
       *
       * @param {integer} branchIndex | the index of the branch in the branches array
       * @return {string} the link to the google maps directions
       */
      getDirectionsLink() {
        // The double forward slash is because the second argument is the destination
        const { address1, city, state } = this.branch;
        return `https://www.google.com/maps/dir//United+Rentals,${address1},${city},${state}`;
      },
      /**
       * Returns the byline associated with a Store's business type
       * @param {string} branchId branch id
       * @return {string} A description of the branch (type)
       */
      getSubheading() {
        // TODO why is Kelex not setting results?
        // This is a temp guard against kelex failing to serve the expected response from workbench.
        const data = this.search.results && this.search.results[this.branch.branchId];
        return data && data.Subheading;
      },
      handleBranchClick() {
        this.$emit('branch_clicked', this.branch.branchId);
      },
    },
    mounted() {
      this.calculateDistance();
    },
    props: {
      branch: {
        type: Object,
        required: false,
        description: 'A branch object as returned from the frontend api',
      },
      branchName: {
        type: String,
        required: false,
        default: '',
        description: 'The name of the branch',
      },
      /**
       * Dive property
       *
       * Whether or not to dive into branch details view or not
       * when a marker on the map is clicked, or when a branch listing
       * is clicked.
       */
      dive: {
        type: Boolean,
        default: true,
      },
      searchPosition: {
        type: Object,
        required: false,
      },
    },
  };
</script>
