<template>
  <div class="branch-wrapper">
    <div
      class="branch"
      :class="{'active': isActiveBranch, 'shimmer': isLoading}"
      :id="`branch_${displayBranch.branchId}`"
      @click.prevent="handleBranchClick"
      @mouseleave="onMouseLeave"
      @mouseenter="onMouseEnter"
    >
      <div :class="[displayBranch.businessType === 'GR' ? 'markers' : 'markers-specialty']">
        <div v-if="!dive" class="results-content-blocks--radio">
          <input
            type="radio"
            id="`radio-${branch.branchId}`"
            value=""
            :checked="isActiveBranch ? 'checked' : ''"
            @click.prevent="handleBranchClick"
          >
          <label for="`radio-${branch.branchId}`" class="label-selection">
            <span class="radio"></span>
          </label>
        </div>
      </div>
      <div class="content-blocks column">
        <h6 class="heading-6 small-grey__heading-6">
          {{ ur }}
        </h6>
        <div class="results-content-blocks_title-mile">
          <h4 class="heading-4 branch-name">
            <span v-if="checkout">{{ displayBranch.name }}</span>
            <router-link v-else :to="getBranchLink">{{ displayBranch.name }}</router-link>
          </h4>
          <p class="paragraph small-grey__paragraph">
            <template v-if="distanceFromSearch >= 0">
              <span>{{ distanceFromSearch }} {{uom}}</span>
            </template>
          </p>
        </div>
        <div class="paragraph blue__paragraph telephone-link" v-on:click.prevent.stop="">
          <gtm-phone-number :number="displayBranch.phone"></gtm-phone-number>
        </div>
        <div>
          <span>{{ displayBranch.address1}},</span><br>
          <span>{{ displayBranch.city }}, {{ displayBranch.state }}
        {{ displayBranch.zip }}</span>
        </div>
        <h6 class="heading-6 blue__heading-6 directions" v-on:click.stop="">
          <a rel="noopener noreferrer" target="_blank" :href="getDirectionsLink()">{{ directions }}</a>
        </h6>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import calc from '@/utils/calculator';
  import mapLabels from '@/utils/mapLabels';
  import ContentSpacer from '@/mixins/content-spacer';
  import { mapState } from 'vuex';
  import { find } from 'lodash';
  import Format from '@/mixins/format';

  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number';

  export default {
    components: {
      GtmPhoneNumber,
    },
    computed: {
      ...mapState({
        activeBranch: state => state.locationFinder.map.active,
        markers: state => state.locationFinder.map.markers,
        search: state => state.locationFinder.search,
        searchPosition: state => state.locationFinder.search.position,
      }),
      getBranchLink() {
        return `/locations/${this.urlify(this.displayBranch.state)}`
        + `/${this.urlify(this.displayBranch.city)}`
        + `/${(this.displayBranch.primaryBusinessType !== null) ? this.displayBranch.primaryBusinessType.url : ''}`
        + `/${this.displayBranch.branchId}`;
      },
      displayBranch() {
        if (this.branch) {
          return this.branch;
        }
        return {
          id: 0,
          name: this.getSpacingString(25),
          address1: this.getSpacingString(30),
          city: this.getSpacingString(12),
          state: this.getSpacingString(2),
          zip: this.getSpacingString(5),
          latitude: 0.00,
          longitude: 0.00,
          countryCode: '',
          businessType: 'GR',
          primaryBusinessType: {},
        };
      },
      isLoading() {
        return (!this.branch || this.loading);
      },
      isActiveBranch() {
        return this.activeBranch.branchId === this.displayBranch.branchId;
      },
      uom() {
        return this.displayBranch.countryCode === 'US' ? 'mi' : 'km';
      },
    },
    data() {
      return {
        ...mapLabels({
          currentlyViewing: 'ur.currentlyViewing',
          directions: 'ur.getDirections',
          scrollToTopText: 'ur.scrollToTop',
          ur: 'ur.name',
        }),
        distanceFromSearch: -1,
        marker: {},
        checkout: false,
      };
    },
    methods: {
      isCheckout() {
        this.checkout = this.$route.path.includes('/checkout');
      },
      calculateDistance() {
        let distance = 0;
        if (this.searchPosition === null || typeof this.searchPosition.lat === 'function') {
          this.distanceFromSearch = -1;
          return;
        }
        distance = calc.distance(
          this.searchPosition,
          {
            lat: parseFloat(this.displayBranch.latitude),
            lng: parseFloat(this.displayBranch.longitude),
          },
        );
        distance = this.displayBranch.countryCode === 'US' ? distance : this.milesToKm(distance);
        // per requirements: strip unwanted trailing zeros using toString
        this.distanceFromSearch = Number(Math.round(distance * 100) / 100).toString();
      },
      milesToKm(milesValue) {
        return milesValue * 1.60934;
      },
      /**
       * Get Directions Link method
       *
       * Returns a directions link for google maps directions services based
       * off the passed branch index.
       *
       * @param {integer} branchIndex | the index of the branch in the branches array
       * @return {string} the link to the google maps directions
       */
      getDirectionsLink() {
        // The double forward slash is because the second argument is the destination
        const { address1, city, state } = this.displayBranch;
        return `https://www.google.com/maps/dir//United+Rentals,${address1},${city},${state}`;
      },
      /**
       * Returns the byline associated with a Store's business type
       * @param {string} branchId branch id
       * @return {string} A description of the branch (type)
       */
      getSubheading() {
        // @TODO why is Kelex not setting results?
        // This is a temp guard against kelex failing to serve the expected response from workbench.
        const data = this.search.results && this.search.results[this.displayBranch.branchId];
        return data && data.Subheading;
      },
      handleBranchClick() {
        this.$emit('branch_clicked', this.displayBranch.branchId);
      },
      onMouseEnter() {
        this.$emit('branch_entered', this.displayBranch.branchId);
      },
      onMouseLeave() {
        this.$emit('branch_left', this.displayBranch.branchId);
      },
    },
    mixins: [
      ContentSpacer,
      Format,
    ],
    mounted() {
      this.marker = find(this.markers, marker => marker.branchId === this.displayBranch.branchId);
      this.calculateDistance();
      this.isCheckout();
    },
    props: {
      branch: {
        type: Object,
        required: false,
        description: 'A branch object as returned from the frontend api',
      },
      /**
       * Dive property
       *
       * Whether or not to dive into branch details view or not
       * when a marker on the map is clicked, or when a branch listing
       * is clicked.
       */
      dive: {
        type: Boolean,
        default: true,
      },
      loading: {
        type: Boolean,
        required: false,
        default: false,
        description: 'Display this item in a loading state',
      },
    },
    watch: {
      searchPosition: {
        handler() {
          this.calculateDistance();
        },
        deep: true,
      },
    },
  };
</script>
