<template>
  <modal-frame class="height-auto" :main-classes="{'overflow-visible': true}">

    <template v-if="!isLoggedIn" slot="header">
      <div>
        <div>{{ $i18n('locationFinder.rentTheRightEquipment') }}</div>
        <h2>{{ $i18n('locationFinder.signInAndGetBack') }}</h2>
        <!--      v-html for nowrap 'United Rentals'-->
        <div v-html="$i18n('locationFinder.accessYourSavedJobsites')"></div>
      </div>
      <div class="buttons-container">
        <a :href="`${baseUrl}login`">
          {{ $i18n('locationFinder.signIn') }}
        </a>
        <a :href="`${baseUrl}register`">
          {{ $i18n('locationFinder.createProfile') }}
        </a>
      </div>
    </template>

    <template v-else slot="header">
      <h3>
        {{ hasMultipleJobSites ? $i18n('locationFinder.chooseLocation.chooseLocationTitle') :
        $i18n('locationFinder.chooseLocation.locationPlaceholder') }}
      </h3>
      <div class="modal-framed__sub-header"> {{ $i18n('locationFinder.chooseLocation.priceMayVary') }} </div>
    </template>

    <template slot="content">
      <div v-if="!isLoggedIn">
        <h3>{{ $i18n('locationFinder.orEnterALocation') }}</h3>
        <div>{{ $i18n('locationFinder.tellUsWhere') }}</div>
      </div>
      <div class="location-container">
        <div>
          <ur-location-autocomplete
            v-show="accountsCount === 0 && !runSpinner"
            class="location-modal"
            @change="locationChangeHandler"
            @clear="locationClearHandler"
            @holdPlaceChange="holdPlaceChangeHandler"
            :label="''"
            :place="ratesPlaceAddress"
            :placeholder="isLoggedIn ? $i18n('locationFinder.chooseLocation.locationPlaceholder') : undefined"
          />
          <div
            v-if="(runSpinner && accountsCount === 0)"
            class="location-modal__account-linked"
          >
            <ur-loading-spinner/>
            <h4>{{ $i18n('workplace.linkAccountSuccess')}}</h4>
            <h5>{{ $i18n('workplace.fetchingAccountStatAfterLinking')}}</h5>
          </div>
          <ur-error-label  v-if="accountsCount === 0 && (locationError || locationIsInvalid)"
                          :message="$i18n('locationFinder.chooseLocation.pleaseEnterLocation')"></ur-error-label>
        </div>
        <button v-if="!isLoggedIn"
                @click="setLocation">
          {{ btnText }}
        </button>
      </div>
      <div class="object_listing__wrapper p-b-20" v-if="isLoggedIn && !addingJobsite && (accountsCount > 1)">
        <account-selector
          v-if="userHasAnAccount"
          @change="changeAccount"
          :display-count="5"
          :value="accountId"
          class="m-0 location-modal"
        />
      </div>

      <div v-if="isLoggedIn && !addingJobsite && (accountsCount >= 1)" class="p-t-20">
        <input
          :id="id1"
          type="radio"
          v-model="displayJobSelector"
          value="job"
        />
        <label :for="id1" class="label-selection" @click.prevent="onClickJobBtn('job')">
          <span class="radio"></span>
          {{ $i18n('locationFinder.chooseLocation.setLocationByJobsite') }}
        </label>
        <br/>
        <job-selector
          v-if="displayJobSelector"
          ref="jobsiteDropDown"
          :account-id="accountId"
          :display-count="2"
          :value="jobsiteId"
          :show-empty-error="setLocationBtnClicked"
          :validationMsg="$i18n('locationFinder.chooseLocation.pleaseSelectJobsite')"
          class="location-modal p-l-20"
          @change="jobsiteChangeHandler"
          hide-label
        />
        <br/>

        <input :id="id2" type="radio" v-model="displayLocationSelector" value="location"/>
        <label :for="id2" class="label-selection" @click.prevent="onClickLocationBtn('location')">
          <span class="radio"></span>
          {{ $i18n('locationFinder.chooseLocation.setLocationByCityZip') }}
        </label>

        <ur-location-autocomplete
          class="location-modal"
          v-if="displayLocationSelector"
          @change="locationChangeHandler"
          @clear="locationClearHandler"
          @holdPlaceChange="holdPlaceChangeHandler"
          :label="''"
          :place="ratesPlaceAddress"
          :moreSpacingTopCss="true"
          :placeholder="$i18n('locationFinder.chooseLocation.enterLocation')"
        />
        <label v-if="displayLocationSelector && (locationError || locationIsInvalid)" class="error-message p-l-20" v-html="$i18n('locationFinder.chooseLocation.pleaseEnterLocation')"></label>
      </div>
      <br v-if="displayLocationSelector"/>
    </template>

    <template v-if="isLoggedIn" slot="footer">
      <button
        @click.once="cancelButtonClicked"
        class="button button--style-2 button--secondary">
        {{ $i18n('ur.cancel') }}
      </button>

      <button
        class="button button--style-2 button--filled"
        @click="setLocation">
        {{ btnText }}
      </button>
    </template>
  </modal-frame>
</template>

<script>
  var removeQueryAndReload = function () { // eslint-disable-line
    if (window.location.search !== '' && window.location.search !== null) {
      window.location.search = '';
    }
    else {
      // TODO: NO
      if (process.env.NODE_ENV === "development") {
          console.warn(
            `Reloading url. Find a better way.`
          );
        }
      // TODO: NOT THIS
      window.location.reload();
    }
  };

  /* eslint-disable object-curly-newline */

  /**
   * TODO: Simplify this modal by changing it into a component instead of a route.
   *
   * Using the $router instance as a way to toggle this modal from different components
   * introduces strange issues as a result of the URL changes and session storage. It
   * also makes us shove more stuff into vuex so we can access data from the "modal page".
   *
   * Here's an alternative. Uses Vue events and a component to toggle the modal's visibility.
   * No URL modification or session storage, the component is available using ref.
   *
   * First add a couple methods to ur-modal.vue for setting our modal status:
   *
   *    <template>
   *      <transition name="fade">
   *        <div v-if="showing" ...
   *
   *    <script>
   *      export const ModalMixin = {
   *        data() {
   *          return { showing: false };
   *        },
   *        methods: {
   *          close() {
   *            this.showing = false;
   *            this.$emit('close');
   *          },
   *          open() {
   *            this.showing = true;
   *            this.$emit('open');
   *          },
   *        },
   *      };
   *
   *
   * Then include this in (choose-location-modal.vue) exports.
   * This is replacing the `#/locations/chooseLocationModal` with a component:
   *
   *    export const EasyLocationModal = {
   *      components: { UrModal },
   *      computed: {
   *        modal: () => this.$refs['ur-modal-location'],
   *        open: () => this.modal.open,
   *        close: () => this.modal.close,
   *      },
   *      data() {
   *        return {
   *          modalProps: {
   *            content: ChooseLocationModal,
   *            contentProps: {
   *              contentSize: 'small',
   *            },
   *          },
   *        };
   *      },
   *      template: '<ur-modal ref="ur-modal-location" v-bind="modalProps"></ur-modal>',
   *    };
   *
   *
   *
   * Then use it in places that would typically be router links and calls:
   *
   *    --- Old ---
   *    <router-link class="link-account" :to="'/locations/chooseLocationModal'"></router-link>
   *    this.$router.push({
   *        path: '/locations/chooseLocationModal',
   *    });
   *
   *    --- New ---
   *    <easy-location-modal ref="locationModal"></easy-location-modal>
   *    this.$refs.locationModal.open();
   *
   */
  import AccountSelector from '@/components/common/account-selector';
  import BrowserInfo from '@/mixins/browser-info';
  import JobSelector from '@/components/common/job-selector';
  import GooglePlaces from '@/lib/google-places';
  import UrLocationAutocomplete from '@/components/common/ur-location-autocomplete';
  import ModalFrame from '@/components/common/ur-modal-frame.vue';
  import UrErrorLabel from '@/components/common/form/ur-error-label.vue';
  import { FlightToken } from '@/api/flight-track';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  import { required } from 'vuelidate/lib/validators';

  import types from '@/store/types';
  import { isEmpty, isObject } from 'lodash';

  import { mapActions, mapGetters, mapState } from 'vuex';

  const CHOOSE_LOCATION_MODAL_SNAPSHOT_TYPE = 'choose-location-modal-snapshot';

  export default {
    name: 'ChooseLocationModal',
    components: {
      AccountSelector,
      JobSelector,
      UrLocationAutocomplete,
      ModalFrame,
      UrErrorLabel,
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        allAccounts: state => state.accounts.all,
        createdJobsites: state => state.jobs.created,
        fetchingAccounts: state => state.accounts.fetching,
        isLoggedIn: state => state.user.isLoggedIn,
        jobsiteForm: state => state.jobs.form.anon,
        jobSites(state) {
          return state.jobs.all[this.accountId];
        },
        snapshot: state => state.snapshot.snapshot[CHOOSE_LOCATION_MODAL_SNAPSHOT_TYPE],
        userDefaultAccountId: state => state.user.defaultAccountId,
        userDefaultJobId: state => state.user.defaultJobId,
      }),
      ...mapGetters({
        userHasAnAccount: types.accounts.exist,
        ratesPlaceAddress: types.user.ratesPlaceAddress,
        ratesPlaceCreated: types.user.ratesPlaceCreated,
        previousRoute: types.locationFinder.previousRoute,
      }),
      runSpinner() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.fetchJobsites,
          FlightToken.addJobsite,
          FlightToken.fetchRequesters,
          FlightToken.fetchAccount,
          FlightToken.searchAccounts,
        );
      },
      btnText() {
        return this.addingJobsite
          ? this.$i18n('job.addJobsite')
          : this.$i18n('locationFinder.chooseLocation.setLocation');
      },
      ratesPlaceAddressWithTrim() {
        return this.ratesPlaceAddress.trim();
      },
      accountsCount() {
        return this.allAccounts && Object.keys(this.allAccounts).length;
      },
      hasMultipleJobSites() {
        return this.jobSites && Object.keys(this.jobSites).length > 0;
      },
      hasLocation() {
        const hasProvidedLocation = this.autoCompletePlace !== null;
        const hasJobsite = this.jobsiteId !== 0;
        const creatingJobsite = this.addingJobsite && !this.jobsiteFormInvalid;
        return hasProvidedLocation || hasJobsite || creatingJobsite;
      },
      locationError() {
        return !this.ratesPlaceAddress && !this.locationAutoCompleteChange && this.setLocationBtnClicked;
      },
      baseUrl() {
        // TODO get real definition
        const path = drupalSettings.ur.forgot_password_path;
        return path.substr(0, path.indexOf('index') + 6);
      },
    },
    inject: ['urModal'],
    data() {
      return {
        accountId: 0,
        addingJobsite: false,
        autoCompletePlace: null,
        defaultJob: 0,
        holdPlace: '',
        jobsiteFormInvalid: true,
        jobsiteId: 0,
        location: '',
        locationIsInvalid: false,
        id1: 1,
        id2: 2,
        locationAutoCompleteChange: null,
        displayJobSelector: false,
        displayLocationSelector: false,
        initials: {},
        setLocationBtnClicked: false,
        refreshOnChange: 0,
      };
    },
    validations: {
      hasLocation: {
        required,
      },
    },
    methods: {
      ...mapActions({
        addJobsite: types.jobs.addJobsite,
        fetchJobs: types.jobs.fetch,
        resetJobsiteForm: types.jobs.resetForm,
        setRatesPlace: types.user.ratesPlace,
        takeSnapshot: types.snapshot.take,
        setJobsiteId: types.user.defaultJobId,
        clearRatesPlaceBranch: types.user.clearRatesPlaceBranch,
        clearRatesPlace: types.user.clearRatesPlace,
        setDefaultAccountId: types.user.updateDefaultAccountId,
        updateDefaultJobsiteId: types.user.defaultJobId,
        updateRatesPlace: types.user.ratesPlace,
      }),
      async getPlace({ address1, city, state, zip }) {
        const service = new GooglePlaces();
        let place;
        try {
          place = await service.getPlaceFromAddress(`${address1} ${city}, ${state} ${zip}`);
        }
        catch (e) {
          place = await service.getPlaceFromAddress(`${city}, ${state}`);
        }
        return place;
      },
      storeInitialValues() {
        this.initials = {
          initialAccountId: this.userDefaultAccountId,
          initialRatesPlaceAddress: this.ratesPlaceAddressWithTrim || '',
          initialDisplayLocationSelector: this.displayLocationSelector || false,
          initialDisplayJobSelector: this.displayJobSelector || false,
          initialJobsiteId: this.userDefaultJobId || '',
        };
      },
      useInitials() {
        // Revert account id to what it was
        this.accountId = this.initials.initialAccountId;
        this.setDefaultAccountId(this.initials.initialAccountId);

        // Revert ratesPlaceAddress to what it was
        this.locationClearHandler();

        this.setJobsiteId(this.initials.initialJobsiteId);
        this.location = this.initials.initialRatesPlaceAddress;

        // Updating ratesPlaceAddress by passing initial value to google-place and get the place OBJECT and updateRatesPlace
        const service = new GooglePlaces();
        service.getPlaceFromAddress(this.initials.initialRatesPlaceAddress).then(this.updateRatesPlace);

        if (this.initials.initialJobsiteId) {
          this.setJobsiteId(this.initials.initialJobsiteId);
        }

        // Revert rest of variables to previous state
        this.displayJobSelector = this.initials.initialDisplayJobSelector;
        this.displayLocationSelector = this.initials.initialDisplayLocationSelector;
      },
      onClickJobBtn(value) {
        this.displayJobSelector = value;
        this.displayLocationSelector = '';
        this.setLocationBtnClicked = false;
        this.locationIsInvalid = false;
        this.$v.$reset();
      },
      onClickLocationBtn(value) {
        this.displayLocationSelector = value;
        this.displayJobSelector = '';
        this.setLocationBtnClicked = false;
        this.locationIsInvalid = false;
        setTimeout(() => {
          const inputEl = document.querySelector('.location-autocomplete.input-group.location-modal input');
          if (inputEl) inputEl.focus();
        }, 100);
      },
      cancelButtonClicked() {
        this.locationAutoCompleteChange = false;
        this.useInitials();
        this.urModal.close();
      },
      removeQueryAndReload() {
        removeQueryAndReload();
      },
      goToClosedRoute(canceled) {
        if (isObject(this.previousRoute)) {
          // Restore the URL params that were active before this modal took over
          this.$router.push({ path: '/', query: this.previousRoute.query });
        }
        else if (this.$route.path !== '/') {
          this.$router.push('/');
        }
        if (this.refreshOnChange === '1') {
          this.removeQueryAndReload();
        }
      },
      enterNewJobsite() {
        this.addingJobsite = true;
      },
      changeAccount(id) {
        if (this.accountId === id) return;
        this.locationClearHandler();
        this.locationAutoCompleteChange = false;
        this.accountId = id;
        this.clearRatesPlace();
        this.clearRatesPlaceBranch();
        this.location = null;
        this.onClickJobBtn('job');
        this.setLocationBtnClicked = false;
        this.locationIsInvalid = false;
      },
      jobsiteChangeHandler(jobsiteId) {
        this.jobsiteId = jobsiteId;
        this.locationAutoCompleteChange = false;
      },
      holdPlaceChangeHandler(holdPlace) {
        this.holdPlace = holdPlace;
        this.locationIsInvalid = false;
      },
      locationChangeHandler(place) {
        this.autoCompletePlace = place;
        this.locationAutoCompleteChange = true;
      },
      locationClearHandler() {
        this.autoCompletePlace = null;
      },
      async setLocation() {
        this.$validateChildren();
        this.setLocationBtnClicked = true;
        this.locationIsInvalid = false;
        const currentSelector = this.displayJobSelector || this.displayLocationSelector;
        const usingJobsite = currentSelector === 'job';
        const usingLocation = currentSelector === 'location';
        // radio currently at jobsite, but nothing selected
        if (usingJobsite && !this.jobsiteId) return;
        if (usingLocation && !this.holdPlace) {
          // radio currently at location, but input is blank
          this.locationIsInvalid = true;
          return;
        }

        if (usingLocation) {
          // no address already set and new address not selected.
          if (!this.ratesPlaceAddress && !this.locationAutoCompleteChange) return;
          if (!this.hasLocation) {
            this.cancelButtonClicked();
            return;
          }
        }

        // nothing was changed, so ignore save stuff.
        if (this.jobsiteId === '' && !this.locationAutoCompleteChange) {
          this.cancelButtonClicked();
          return;
        }
        if (this.addingJobsite) {
          if (this.$v.$invalid) {
            this.$validateChildrenAndScrollToError();
            return;
          }
          this.addJobsite({accountId: this.accountId});
          const jobsite = { ...this.jobsiteForm };
          this.autoCompletePlace = await this.getPlace(jobsite);
        }

        if (usingJobsite) {
          if (this.accountId !== 0 && this.jobsiteId !== 0 && !this.locationAutoCompleteChange) {
            const jobsite = this.jobSites[this.jobsiteId];
            this.autoCompletePlace = await this.getPlace(jobsite);
          }
        }

        if (this.locationAutoCompleteChange) {
          this.setJobsiteId('');
        }

        this.urModal.close();
        await this.setRatesPlace(this.autoCompletePlace);
        this.goToClosedRoute(false);
      },
      persistState() {
        const {
          accountId,
          jobsiteId,
          location,
          displayLocationSelector,
          displayJobSelector,
        } = this;
        this.takeSnapshot({
          type: CHOOSE_LOCATION_MODAL_SNAPSHOT_TYPE,
          data: {
            accountId,
            jobsiteId,
            location,
            displayJobSelector,
            displayLocationSelector,
          },
        });
      },
      watchCreateJobsiteForm(flag) {
        this.jobsiteFormInvalid = flag;
      },
    },
    mixins: {
      BrowserInfo,
    },
    mounted() {
      if (!this.isLoggedIn || !(!this.ratesPlaceCreated || this.userDefaultJobId) || this.accountsCount === 0) {
        this.onClickLocationBtn('location');
      }
      else {
        this.displayJobSelector = 'job';
      }

      // Try to load data from a previous state, if it exists
      if (isEmpty(this.initials)) {
        this.storeInitialValues();
      }
      // otherwise load the user's default account id / default jobsite id
      if (this.userDefaultAccountId) {
        this.accountId = this.userDefaultAccountId;
        this.jobsiteId = this.userDefaultJobId;
        this.location = this.ratesPlaceAddress;
      }

      // Reset any values that may exist in the jobsite form
      this.resetJobsiteForm();

      // Watch for any local-state changes and persist them when something changes.
      // This allows us to load the modal w/previously used data when a user either
      // reopens the modal or comes back from the Create Jobsite journey.
      const observedState = [
        'accountId',
        'jobsiteId',
        'location',
        'displayJobSelector',
        'displayLocationSelector',
      ];
      observedState.forEach(localState => this.$watch(localState, this.persistState));

      // Set refreshOnChange on load.
      this.refreshOnChange = this.$route.query.refreshOnChange;
    },
    watch: {
      /**
     * TODO: Simplify this modal. More details can be read in PR #7314
     *
     *  In general, using Vue's `$router` for this this is problematic because modals are typically "I need an answer->ask user->do work",
     *  but navigation to a different page/route/modal triggers a full lifecycle, interrupting that flow and destroying components.
     *  We work around this by storing our local context somewhere else (vuex ATM) so we can pick back
     *  up later, but we don't have a very robust way of doing this yet.
     *
     * This adds a lot of complexity over other modal de/activation methods like (callbacks, Promises/async,
     * @events, $emit) that naturally give us a way to resume flow with context intact. Having said that,
     * improvements can be made without major refactoring by taking advantage of router guards to pass
     * the data semi-directly, rather than relying on vuex as a drop off point. These new parameters
     * won't be added to the URL, so it's a decent place to move things around. `$route.meta` too.
     *
     * Here the `CreateJobsite` modal populates `params` before returning to `ChooseLocation`,
     * at which point it will be used to set the current `jobsiteId`. The small bit I tested
     * allowed me to take out the vuex re/storage/snapshots from the component.
     *
     * ```js
     *   // ur-modal.vue
     *   beforeRouteLeave(to, from, next) {
     *     // Give the dynamic modal content a chance to handle routing
     *     if (this.$refs.content && this.$refs.content.beforeModalLeave) {
     *       this.$refs.content.beforeModalLeave(to, from, next);
     *     } else {
     *       next();
     *     }
     *   },
     *
     *
     *   // create-jobsite-form-modal.vue, in save()
     *   this.beforeModalLeave = ((to, from, next) => {
     *     to.params.jobsiteId = jobsiteId;
     *     next();
     *   });
     *   this.$router.go(-1);
     *
     *
     *   // choose-location-modal.vue, bottom of mounted()
     *   if (this.$route.params.jobsiteId) {
     *     this.jobsiteChangeHandler(this.$route.params.jobsiteId);
     *   }
     * ```
     */
      createdJobsites: {
        // Set the job selector to a freshly created jobsite
        handler(createdJobsites) {
          const type = 'created-jobsites-state';
          const createdJobsiteIdSnapshot = this.$store.state.snapshot.snapshot[type];
          const newestJobsiteId = [...createdJobsites].pop();

          if (newestJobsiteId !== createdJobsiteIdSnapshot) {
            this.$nextTick(() => {
              this.jobsiteId = newestJobsiteId;
            });
            this.takeSnapshot({ type, data: newestJobsiteId });
          }
        },
        immediate: true,
      },
    },
  };
</script>

<style lang="scss">
  @import 'choose-location-modal';
</style>
