@import 'styles/globals';

.modal-framed__sub-header {
  @include gap($gap-b);
}

.modal-framed__content {
  width: 100%;

  .location-autocomplete.input-group.location-modal {
    padding-top: 1rem;

    .input-wrapper,
    .suggestions,
    + .error-message {
      margin-left: 0;
    }

    .input-wrapper,
    .suggestions {
      @include media('>=m') {
        margin-left: 2rem;
      }
    }
  }

  label.label-selection {
    text-transform: none;
  }
}

.account-selector.location-modal,
.job-selector.location-modal,
.location-autocomplete.input-group.location-modal {
  width: 100%;

  @include media('>=s') {
    width: 65%;
  }
}

.job-selector.location-modal .error,
.account-selector.location-modal .error {
  @include type-preset(30);
  margin-top: rem($gap-a);
  padding-bottom: 0;
  text-transform: inherit;
}

.job-selector.location-modal .error.empty {
  margin-top: rem(-12);
}

.location-modal__account-linked {
  text-align: center;
  padding-top: 2rem;

  h4 {
    margin-top: 2rem;
  }
}

div.ur-legacy-styles > div.modal.modal--choose-location-modal {
  overflow-y: hidden;

  > div.modal__content {
    overflow-y: visible;
    border-radius: 0;
    border-width: 0;

    @include media('>=s') {
      border-radius: $border-radius-med;
    }
  }

  // radii here for avoiding location-finder suggestions clipping & webkit radius overflow bug
  .modal-framed__header {
    @include media('>=s') {
      border-top-left-radius: $border-radius-med;
      border-top-right-radius: $border-radius-med;
    }
  }

  .modal-framed__main .modal-framed__content .suggestions {
    width: 100%;

    li {
      cursor: pointer;
    }
  }

  .modal-framed__main {
    @include media('>=s') {
      border-bottom-left-radius: $border-radius-med;
      border-bottom-right-radius: $border-radius-med;
    }
  }
}

body:not(.user-logged-in) .modal.modal--choose-location-modal {
  .modal__content {
    // below used to negate ur-legacy-styles at 640px.
    @include media('>=640px') {
      position: inherit;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      height: 100%;
      max-height: inherit;
      width: 100%;
    }

    @include media('>=s') {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      max-height: 100vh;
      width: 90%;
    }

    @include media('>=m') {
      width: 71%;
      max-width: rem(854);
    }
  }
}

body:not(.user-logged-in) .modal.modal--choose-location-modal div.modal-framed {
  height: 100%;

  @include media('>=m') {
    display: flex;
    flex-direction: row;
  }

  .modal-framed__header {
    background-color: $color-blue-lowlight;
    background-image: url('/themes/custom/urone/images/set-location-unauth-background.jpg');
    background-size: cover;
    height: auto;
    padding: rem(36) rem(16) rem(32) rem(16);

    @include media('>=s') {
      padding: rem(24) rem(32) rem(32) rem(32);
    }

    @include media('>=m') {
      display: flex;
      flex-direction: column;
      border-bottom: none;
      border-top-right-radius: 0;
      border-bottom-left-radius: $border-radius-med;
      justify-content: space-between;
      width: 63%;
      min-width: rem(442);
    }

    * {
      color: $color-text-reverse;
    }

    div > div:first-of-type {
      font-size: rem(30);
      font-weight: $font-weight-bold;
      line-height: rem(37);
      margin-top: rem($gap-b);

      // avoid wrap for heading alignment
      @include media('>=m') {
        white-space: nowrap;
      }
    }

    h2 {
      font-weight: $font-weight-regular;
      margin-top: rem(29);
    }

    h2 + div {
      @include type-preset(50);
      margin-top: rem(13);

      span {
        white-space: nowrap;
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: row;
      margin-top: rem(24);
      width: auto;

      @include media('>=m') {
        margin-top: 0;
      }

      a {
        display: flex;
        min-width: rem(116);
      }

      a:nth-of-type(1) {
        @include btn($style: primary-alternative, $size: regular);
        margin-right: rem(12);
        padding: rem(8) rem(12);
      }

      a:nth-of-type(2) {
        @include btn($style: primary-alternative, $size: regular);
        padding: rem(8) rem(12);
      }
    }
  }

  .modal-framed__main {
    background: $color-bg-light-primary;

    @include media('>=m') {
      border-top-right-radius: $border-radius-med;
      max-width: rem(316);
    }

    .modal-framed__content {
      padding: rem(32) rem(16) 0 rem(16);

      @include media('>=s') {
        padding: rem(32) rem(32) rem(12) rem(32);
      }

      @include media('>=m') {
        min-width: rem(290);
      }

      h3 {
        @include type-preset(60);

        @include media('>=m') {
          @include type-preset(70);
          margin-top: rem(67);
        }
      }

      h3 + div {
        @include type-preset(30);
        margin-top: rem(6);

        @include media('>=m') {
          @include type-preset(50);
          margin-top: rem(13);
        }
      }

      .location-container {
        @include media('>=s') {
          display: flex;
          flex-direction: row;
        }

        @include media('>=m') {
          flex-direction: column;
        }

        > div {
          @include media('>=s') {
            width: calc(100% - #{rem(137)});
          }

          @include media('>=m') {
            width: 100%;
          }
        }

        .location-autocomplete {
          @include media('>=s') {
            width: 100%;
          }

          .input-wrapper,
          .suggestions,
          + .error-message {
            @include media('>=m') {
              margin-left: 0;
            }
          }
        }

        button {
          @include media('>=s') {
            margin: rem(24) 0 0 rem(12);
            width: rem(125);
          }

          @include media('>=m') {
            margin: rem(16) 0 0 0;
            width: 100%;
          }
        }

        .input-wrapper {
          margin-top: rem(10);

          @include media('>=m') {
            margin-top: rem(13);
          }
        }
      }

      input[type=text] {
        height: rem(36);
        font-size: rem(14);
        padding-left: rem(32);
      }

      i.icon-before-location {
        font-size: rem(22);
        left: rem(15);
      }

      button {
        @include btn($style: primary-alternative, $size: regular);
        padding: rem(8) rem(12);

        @include media('<s') {
          width: 100%;
          position: absolute;
          bottom: rem(24);
          width: calc(100% - #{rem(32)});
        }
      }
    }
  }

  .modal-framed__footer {
    display: none;
  }
}
