<template>
  <div>
    <div v-if="showError" class="paragraph error__paragraph">
      {{ couldntFind }} {{ place.name }}
    </div>
    <ur-autocomplete
      class="form-item"
      aria-describedby="edit-name--description"
      :placeholder="$i18n('locationFinder.chooseLocation.locationPlaceholder')"
      ref="autocomplete"
      style="form-item__textfield form-item__textfield--required"
      @clear="clear"
      @place_changed="placeChanged"
      @invalid_location="invalidLocation($event)"
    ></ur-autocomplete>
  </div>
</template>

<script type="text/babel">
  import Format from '@/mixins/format';
  import { loaded } from 'vue2-google-maps';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import mapLabels from '@/utils/mapLabels';
  import types from '@/store/types';
  import UrAutocomplete from '../common/ur-autocomplete';
  import { find, get, isEmpty } from 'lodash';

  export default {
    components: {
      UrAutocomplete,
    },
    computed: {
      ...mapGetters([
        // 'ratesPlaceAddress', UR-1308 Adding to force removal
        'provinces',
        'states',
      ]),
      ...mapState({
        branches: state => state.locationFinder.all,
        map: state => state.locationFinder.map,
        mapObject: state => state.locationFinder.mapObject,
      }),
    },
    data() {
      return {
        ...mapLabels({
          couldntFind: 'locationFinder.couldntFind',
        }),

        /**
         * Place
         *
         * Goggle Place object referencing the main place searched
         */
        place: null,

        /**
         * Predictions
         *
         * Array of Google Place objects determined from the AutoComplete
         * services
         */
        predictions: null,

        /**
         * Show Error
         *
         * Flag for determining whether or not to show no results found error
         */
        showError: false,
      };
    },
    methods: {
      ...mapActions({
        setSync: types.locationFinder.setSync,
      }),
      clear() {
        this.$emit('clear');
      },
      /**
       * Determine Place method
       *
       * This method will probably never need to be directly invoked. This
       * method is called as a result of the autocomplete and the user
       * not actually selecting an autocomplete choice.
       *
       * @param {object} place | the Google Place object
       * @param {string} status | the Google API status code
       */
      determinePlace(place, status) {
        if (status === 'OK') {
          this.place = place;
          this.$emit('place_changed', this.place);
        }
        else {
          this.showError = true;
        }
      },

      /**
       * Determine Predictions method
       *
       * Determines the predictions of the autocomplete and whether or
       * not to show an error state and/or predictions.
       *
       * @param {array} predictions | list of predictions
       * @param {string} status | Google status constant
       */
      determinePredictions(predictions, status) {
        if (status === 'ZERO_RESULTS') {
          this.showError = true;
        }
        else if (status === 'OK') {
          this.showError = false;
          // Check if place has geometry
          if (!this.place.geometry) {
            /*
             Means google hasn't set an actual location off what user searched
             and based off Did You Mean behavior we need to get first result
             and actually determine the place
             */
            const $placesService = new google.maps.places.PlacesService(this.mapObject());

            this.predictions = predictions;

            $placesService.getDetails({
              placeId: predictions[0].place_id,
            }, this.determinePlace);
          }
          else {
            // This is trapped by the parent component
            this.$emit('place_changed', this.place);
          }
        }
      },

      /**
       * Place Changed method
       *
       * Called when the place_changed event is fired from ur-autocomplete
       * common component. This calls googles prediction services, and those
       * results are fed to the determinePredictions method as a callback,
       * then depending on what the user did fed to the determinePlace method
       * as a callback from the google places services.
       *
       * @param {object} place | Google Place object or string stub to search
       */
      placeChanged(place) {
        this.place = place;
        this.setSync({ updateFrom: 'search' });

        this.$autocompleteService = new google.maps.places.AutocompleteService();
        this.$autocompleteService.getQueryPredictions({
          input: place.name,
        }, this.determinePredictions);
        // Check if current route matches

        this.$emit('place_changed', place);
      },

      /**
       * Invalid Location method
       * Called when the invalid_location event is fired from ur-autocomplete
       * common component. This checks .pac-container element for any children.
       * Children would be location predictions. If there are no children, meaning
       * there are no matching locations an error displayed on the page letting
       * the user know location 'x' is not a valid location.
       * @param {string} location | User input value
       */
      invalidLocation(location) {
        const elPredictions = document.querySelector('.pac-container');

        if (!elPredictions || !location || location.length < 2) {
          this.showError = false;
          return;
        }

        // check if there are no matching location predictions
        if (!elPredictions.children.length) {
          this.showError = true;
          this.place = { name: location };
        }
        else {
          this.showError = false;
        }
      },
      route() {
        const { state, city } = this.$route.params;
        let { search } = this.$route.params;

        if (isEmpty(search) && isEmpty(city) && isEmpty(state)) {
          return;
        }

        if (search) {
          search = search.replace('-', ' ');
        }
        else if (state) {
          // check against provinces first
          const province = get(this.provinces, state.toUpperCase(), false);

          if (province) {
            search = `${province}, Canada`;
            if (city) {
              search = `${city}, ${province}, Canada`;
            }
          }
          else {
            // url parameters are lower case but the states object is keyed with uppercase abbrs
            search = `${this.states[state.toUpperCase()]}, United States`;
            if (city) {
              search = `${city}, ${state.toUpperCase()}, United States`;
            }
          }
        }

        // check that google api has been loaded before we try to update place
        loaded.then(() => {
          this.placeChanged({ name: search });
        });
      },
    },
    mixins: [
      Format,
    ],
    mounted() {
      // UR-1308 Commenting out to force removal
      //      if (this.ratesPlaceAddress) {
      //        this.$children[0].setValue(this.ratesPlaceAddress);
      //      }
      if (this.$route.name && this.$route.name === 'lfBranch') {
        const branchInfo = find(this.branches, branch => branch.branchId === this.$route.params.branch.toUpperCase());
        const placeName = { name: `${branchInfo.address1} ${branchInfo.city}, ${branchInfo.state.toUpperCase()}` };
        this.placeChanged(placeName);
      }
    },
    name: 'lfAutocomplete',
    props: [
      'mapElement',
    ],
    watch: {
      $route(to) {
        if (to.name && (to.name === 'lfState' || to.name === 'lfStateMidCheckout')) {
          this.map.stateClusters[this.$route.params.state.toUpperCase()].fitMapToMarkers();
        }
        else if (!(to.name && to.name === 'lfBranch') && !this.$route.path.includes('checkout')) {
          this.route();
        }
      },
    },
  };
</script>
