<template>
  <div class="content-panel-footer_container" v-show="count">

    <div
      v-if="doPaginate"
      class="content-panel-footer"
    >
      <div class="content-panel_pagination">
        <template v-if="markers && markers.length <= 175">
          <h6 class="heading-6">{{ showResults }} <strong>{{ pagingText }}</strong> {{ of }} {{ count }}</h6>
          <div class="navigation-arrows">
            <i
              :class="prevPageClass"
              @click="pagingPrev"
            ></i>
            <i
              :class="nextPageClass"
              @click="pagingNext"
            ></i>
          </div>
        </template>
        <template v-else>
          <h6 class="heading-6">{{$i18n('locationFinder.narrowResults')}}</h6>
        </template>
      </div>
    </div>
    <div>
      <div class="form-item--checkbox__item">
        <input
          checked="checked"
          id="checkbox"
          name="check-example"
          type="checkbox"
          v-model="sync.doSync"
          @change="updateSync"
        />
        <label for="checkbox" class="label-selection">
          <span class="check">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>check</title>
              <defs></defs>
              <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="check">
                  <rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect>
                  <polygon id="check" fill="#fff"
                           points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon>
                </g>
              </g>
            </svg>
          </span>
          {{ updateResults }}
        </label>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState, mapMutations } from 'vuex';
  import types from '@/store/types';
  import mapLabels from '@/utils/mapLabels';


  export default {
    inject: ['getBranches'],
    data() {
      return {
        ...mapLabels({
          showResults: 'locationFinder.showResults',
          updateResults: 'locationFinder.updateResults',
          of: 'ur.of',
        }),
        page: 1,
        pageSize: 25,
        sync: {
          doSync: true,
        },
      };
    },
    computed: {
      ...mapState({
        map: state => state.locationFinder.map,
        paging: state => state.locationFinder.search.request.params.paging,
        search: state => state.locationFinder.search,
        stateSync: state => state.locationFinder.sync,
        visibleMarkers: state => state.locationFinder.map.visibleMarkers,
        visibleMarkersUnsynced: state => state.locationFinder.map.visibleMarkersUnsynced,
      }),
      count() {
        if (this.markers) {
          return this.markers.length;
        }
        return 0;
      },
      markers() {
        if (!this.stateSync.doSync && this.stateSync.updateFrom === 'map') {
          return this.visibleMarkersUnsynced;
        }
        return this.visibleMarkers;
      },
      maxPage() {
        return Math.ceil(this.count / this.pageSize);
      },
      nextPage() {
        const nextPage = this.page + 1;
        if (nextPage <= this.maxPage) {
          return nextPage;
        }

        return false;
      },
      nextPageClass() {
        let c = 'icon icon-chevron-right';
        if (this.nextPage) {
          c += ' active';
        }
        return c;
      },
      pageBegin() {
        return 1 + (this.pageSize * (this.page - 1));
      },
      pageEnd() {
        let end = this.page * 25;
        if (end > this.count) {
          end = this.count;
        }
        return end;
      },
      paging() {
        return {
          count: this.count,
          page: this.page,
          maxPage: this.maxPage,
          nextPage: this.nextPage,
          pageBegin: this.pageBegin,
          pageEnd: this.pageEnd,
          pageSize: this.pageSize,
          prevPage: this.prevPage,
        };
      },

      /**
       * Paging Text
       *
       * Property computed by the search and paging results.
       *
       * @return {string} the paging text
       */
      pagingText() {
        return `${this.pageBegin} - ${this.pageEnd}`;
      },
      prevPage() {
        const prevPage = this.page - 1;
        if (prevPage >= 1) {
          return prevPage;
        }

        return false;
      },
      prevPageClass() {
        let c = 'icon icon-chevron-left';
        if (this.prevPage) {
          c += ' active';
        }
        return c;
      },
    },
    methods: {
      ...mapActions({
        setSearch: types.locationFinder.setSearch,
        setSync: types.locationFinder.setSync,
        updateVisibleMarkers: types.locationFinder.updateVisibleMarkers,
      }),
      ...mapMutations({
        setVisibleMarkers: types.locationFinder.setVisibleMarkers,
      }),
      /**
       * Do Paginate method
       *
       * Method fired to determine whether or not to paginate
       * the data results
       *
       * @return {boolean} true if to show pagination text
       */
      doPaginate() {
        return this.search.count > 1 && this.search.count < 175;
      },
      pageChanged(start, end) {
        console.log(start, end); //eslint-disable-line
      },
      /**
       * Paging Next method
       *
       * Sets the pagination to the next page if possible
       */
      pagingNext() {
        if (this.nextPage) {
          this.page = this.nextPage;
        }
      },
      /**
       * Paging Prev method
       *
       * Sets the pagination to the previous page if possible
       */
      pagingPrev() {
        if (this.prevPage) {
          this.page = this.prevPage;
        }
      },

      updateSync() {
        this.setSync(this.sync);
        if (this.sync) {
          this.updateVisibleMarkers({ branches: this.getBranches() });
        }
      },
    },
    name: 'lfFooterContainer',
    watch: {
      paging() {
        this.setSearch({
          paging: this.paging,
        });
      },
      stateSync(data) {
        // Syncs the visible markers and unsynced markers for when the user goes from
        // an unsynced state to a synced state
        if (this.stateSync.doSync && data.doSync) {
          this.setVisibleMarkers(this.visibleMarkers);
        }
      },
    },
  };
</script>
