<template>
  <div class="location-map">
    <div id="map"></div>
  </div>
</template>

<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import { find, forEach } from 'lodash';
  import { loaded } from 'vue2-google-maps';
  import icons from '@/data/location-finder-icons';
  import types from '@/store/types';

  import GooglePlaces from '@/lib/google-places';
  import Leaflet from '@/components/location-finder/mixins/leaflet-helper';

  export default {
    inject: ['getBranches'],
    computed: {
      ...mapState({
        ratesPlace: state => state.user.ratesPlace,
        stateBounds: state => state.locationFinder.stateBounds,
        isMapView: state => state.locationFinder.currentMobileViewIsMapView,
      }),
    },
    data() {
      return {
        initialized: false,
        initialMapSettings: {},
        gridLayer: null,
        layers: [],
        map: false,
        markerCluster: null,
        tileLayer: null,
        initUnWatcher: null,
      };
    },
    methods: {
      ...mapActions({
        activateBranchDetails: types.locationFinder.activateBranchDetails,
        setBranchMarkerGroups: types.locationFinder.setBranchMarkerGroups,
        setLoading: types.locationFinder.setLoading,
        setMapObject: types.locationFinder.setMapObject,
        setMarkerCluster: types.locationFinder.setMarkerCluster,
        setSearch: types.locationFinder.setSearch,
        setStateMarkerGroups: types.locationFinder.setStateMarkerGroups,
        updateVisibleMarkers: types.locationFinder.updateVisibleMarkers,
        updateSearchMarker: types.locationFinder.updateSearchMarker,
      }),
      addMarkersToMap() {
        if (this.map) {
          const markerGroups = {};
          const stateMarkerGroups = {};
          forEach(this.getBranches(), (branch, idx) => {
            if (branch.latitude === '0' || branch.longitude === '0') {
              return;
            }
            const icon = this.Leaflet.divIcon({
              ...icons.leafletGeneral,
              html: `<div class="marker_icon marker_${branch.businessType === 'GR' ? 'general' : 'specialty'}"></div>`,
            });

            const marker = new this.BranchMarker(new this.Leaflet.LatLng(branch.latitude, branch.longitude), {
              icon,
              branchId: branch.branchId,
              branchIndex: idx,
            });


            if (!markerGroups[branch.businessType]) {
              markerGroups[branch.businessType] = [];
            }
            markerGroups[branch.businessType].push(marker);


            if (!stateMarkerGroups[branch.state]) {
              stateMarkerGroups[branch.state] = [];
            }
            stateMarkerGroups[branch.state].push(marker);
          });
          const branchGroups = {};
          forEach(markerGroups, (typeGroup, key) => {
            branchGroups[key] = this.Leaflet.featureGroup.subGroup(this.markerCluster, typeGroup);
            branchGroups[key].addTo(this.map);
          });
          const stateGroups = {};
          forEach(stateMarkerGroups, (stateGroup, key) => {
            stateGroups[key] = this.Leaflet.featureGroup.subGroup(this.markerCluster, stateGroup);
            stateGroups[key].addTo(this.map);
          });
          this.setBranchMarkerGroups(branchGroups);
          this.setStateMarkerGroups(stateGroups);
        }
        else {
          setTimeout(() => {
            this.addMarkersToMap();
          }, 200);
        }
      },
      getMapGeometryFromRoute() {
        if (this.$route.params.branch) {
          // return the branch lat/lng and a zoom level
          const branchInfo = find(this.getBranches(), item => item.branchId === this.$route.params.branch.toUpperCase());
          this.initialMapSettings = {
            type: 'branch',
            center: this.Leaflet.latLng(branchInfo.latitude, branchInfo.longitude),
            zoom: 12,
            bounds: false,
          };
          this.setSearch({ position: this.initialMapSettings.center });
          this.activateBranchDetails({ branchId: this.$route.params.branch.toUpperCase() });
          return;
        }
        if (this.$route.params.city) {
          loaded.then(() => {
            // return the city place bounds
            const service = new GooglePlaces();
            service
              .getPlaceFromAddress(`${this.$route.params.city.replace('-', ' ')}, ${this.$route.params.state.toUpperCase()}`)
              .then((place) => { //eslint-disable-line
                this.initialMapSettings = {
                  type: 'city',
                  bounds: this.convertPlaceToBounds(place),
                };
                this.setSearch({ position: this.initialMapSettings.bounds.getCenter() });
              })
              .catch(() => {
                this.initialMapSettings = {
                  type: 'default',
                  center: this.Leaflet.latLng(39.12330, -94.5923),
                  zoom: 4,
                  bounds: false,
                };
              });
          });
          return;
        }
        if (this.$route.params.state) {
          // return a state view
          this.initialMapSettings = {
            type: 'state',
            center: false,
            zoom: false,
            bounds: this.stateBounds[this.$route.params.state.toUpperCase()],
          };
          this.setSearch({ position: this.initialMapSettings.bounds.getCenter() });
          return;
        }
        if (this.ratesPlace && this.ratesPlace.geometry) {
          this.initialMapSettings = {
            type: 'ratesplace',
            bounds: this.convertPlaceToBounds(this.ratesPlace),
          };
          this.setSearch({
            position: this.initialMapSettings.bounds.getCenter(),
            query: this.ratesPlace.formatted_address,
          });
          return;
        }

        // return the default map view
        this.initialMapSettings = {
          type: 'default',
          center: this.Leaflet.latLng(39.12330, -94.5923),
          zoom: 4,
          bounds: false,
        };
      },
      handleDrag() {
        this.$emit('map_dragged');
      },
      handleZoom() {
        this.$emit('map_zoomed');
      },
      init() {
        this.initUnWatcher = this.$watch('initialMapSettings', this.initMap);
        this.getMapGeometryFromRoute();
      },
      initMap() {
        this.initUnWatcher();
        const center = this.initialMapSettings.center ? this.initialMapSettings.center : {
          lat: 39.12330,
          lng: -94.5923,
        };
        const zoom = this.initialMapSettings.zoom ? this.initialMapSettings.zoom : 4;
        const bounds = this.initialMapSettings.bounds ? this.initialMapSettings.bounds : false;
        this.map = this.Leaflet.map('map', {
          center,
          zoom,
          maxZoom: 18,
          zoomControl: false,
          attributionControl: false,
          preferCanvas: false,
        });

        this.Leaflet.control.zoom({
          position: 'bottomright',
        }).addTo(this.map);

        this.gridLayer = this.Leaflet.gridLayer.googleMutant({
          type: 'roadmap',
          styles: [
            { featureType: 'poi', stylers: [{ visibility: 'off' }] },
          ],
        });

        this.gridLayer.addTo(this.map);

        this.markerCluster = this.Leaflet.markerClusterGroup({
          showCoverageOnHover: false,
          maxClusterRadius: 60,
          iconCreateFunction: (cluster) => {
            const clusterIcon = this.Leaflet.divIcon({
              ...icons.leafletCluster,
              html: `<div class="cluster_icon">${cluster.getChildCount()}</div>`,
            });
            return clusterIcon;
          },
        });

        this.markerCluster.on('click', (marker) => {
          this.$emit('marker_clicked', marker.layer.options.branchIndex);
        });

        this.markerCluster.on('mouseover', (marker) => {
          this.$emit('marker_hovered', true, marker);
        });

        this.markerCluster.on('mouseout', (marker) => {
          this.$emit('marker_hovered', false, marker);
        });

        if (this.getBranches().length) {
          this.addMarkersToMap();
        }
        this.setMarkerCluster(this.markerCluster);

        this.map.addLayer(this.markerCluster);

        if (bounds) {
          this.map.fitBounds(bounds);
        }
        // add the event handlers after panning to bounds to avoid initial loading firing events
        this.map.on('zoomend', this.handleZoom);
        this.map.on('moveend', this.handleDrag);

        this.$store.commit(types.locationFinder.setMapObject, this.map);
        this.updateVisibleMarkers({ branches: this.getBranches() });
        this.setLoading(false);

        if (this.initialMapSettings.center) {
          const position = {
            lat: this.initialMapSettings.center[0],
            lng: this.initialMapSettings.center[1],
          };
          this.setSearch({ position });
        }
        this.$emit('markers_added');
      },
    },
    mixins: [
      Leaflet,
    ],
    name: 'locationMap',
    props: {
      /**
       * Dive property
       *
       * Whether or not to dive into branch details view or not
       * when a marker on the map is clicked.
       */
      dive: {
        type: Boolean,
        default: true,
      },
    },
    watch: {
      stateBounds: {
        handler() {
          if (!this.initialized) {
            this.initialized = true;
            this.init();
          }
        },
        immediate: true,
      },
    },
  };
</script>
