<!--suppress ALL -->
<template>
  <div id="location-finder-container"
       :class="{'location-finder-container': true, 'location-finder-container-mobile': small}">
    <!-- Begin Desktop template -->
    <template v-if="!small">
      <div class="location-finder-content-panel">
        <div class="content-panel__content">
          <scrollable-div
            :scrollToTopText="formattedLocation"
            :disableButton="contentType !== 'branch-list'"
          >
            <transition name="header-slide">
              <div class="content-panel-header_container" v-if="!loading">
                <div id="desktopSearchContainer">
                  <branch-location-search
                    :currentSearch="searchQuery"
                    @place_changed="updateResults"
                    @filter_changed="filterChanged"
                  />
                </div>
              </div>
            </transition>
            <state-list
              v-if="contentType === 'state-list'"
              @state_clicked="stateClicked"
            />

            <branch-list
              v-show="contentType === 'branch-list'"
              :dive="dive"
              @branch_clicked="branchClicked"
              @result_clicked="resultClicked"
              @branch_entered="branchId => branchHovered(branchId, true)"
              @branch_left="branchId => branchHovered(branchId, false)"
              :activeBranch="activeBranch.branchId"
            />
            <div class="branch-wrapper"
             v-if="contentType==='branch-list' && visibleMarkers && visibleMarkers.length <= 0 && !loading">
              <empty-results callToActionType="single"></empty-results>
            </div>
            <branch-details
              v-if="contentType === 'branch-details'"
              @branch_clicked="branchClicked"
              @nearby_results_clicked='nearbyResultsClicked'
            />

          </scrollable-div>
        </div>
        <transition name="slide">
          <lf-footer-container v-show="contentType === 'branch-list' && !loading"></lf-footer-container>
        </transition>
      </div>

      <location-map
        v-if="branches.length"
        :dive="dive"
        :style="locationMapStyle"
        id="lf-map"
        ref="lfMap"
        @marker_clicked="markerClicked"
        @marker_hovered="markerHovered"
        @map_zoomed="mapZoomed"
        @map_dragged="mapDragged"
        @markers_added="markersAdded"
      />

    </template>
    <!-- End Desktop Template -->

    <!-- Begin Mobile Template -->
    <template v-else>
      <map-toggler @view_switched="handleViewChange"></map-toggler>
      <div class='mapview' id="mapview" ref="mobileMapview" :style="{ height: `${mobileMapviewHeight}px` }">
        <location-map
          v-if="branches.length"
          :dive="dive"
          :style="locationMapStyle"
          id="lf-map"
          ref="lfMap"
          @marker_clicked="markerClicked"
          @map_zoomed="mapZoomed"
          @map_dragged="mapDragged"
          @markers_added="markersAdded"
        />
        <branch-details
          v-if="isMapView && activeBranch.branchId"
          @branch_clicked="branchClicked"
          @close_button_clicked="resetActiveBranch"
        />
      </div>
      <div v-if="isMapView" class='mobile-search-container-mapview' id="mapViewSearchContainer">
        <branch-location-search
          :currentSearch="searchQuery"
          :mobileLayout="true"
          @place_changed="updateResults"
          @filter_changed="filterChanged"
        />
      </div>
      <div id='content-spacer' v-else :style="{height: contentSpacerHeight}"></div>
      <div class="mobile-map-hider" id="mobilemaphider" v-show="!isMapView" v-resize:debounce="handleHiderResize">
        <div class="mobile-content">
          <template v-if="!isMapView && contentType === 'branch-details'">
            <div class="mobile-search-container">
              <branch-location-search
                :currentSearch="searchQuery"
                :mobileLayout="true"
                @place_changed="updateResults"
                @filter_changed="filterChanged"
              />
            </div>
            <branch-details
              v-if="!isMapView && contentType === 'branch-details'"
              @nearby_results_clicked='nearbyResultsClicked'
              @branch_clicked="branchClicked"
            />
          </template>
          <template v-if="contentType === 'branch-list' || contentType === 'state-list'">
            <div class="mobile-search-container">
              <branch-location-search
                :currentSearch="searchQuery"
                :mobileLayout="true"
                @filter_changed="filterChanged"
                @place_changed="updateResults"
              />
            </div>
            <state-list
              v-show="!isMapView && contentType === 'state-list'"
              :map-element="mapElement"
              @state_clicked="stateClicked"
            />

            <branch-list
              v-show="!isMapView && contentType === 'branch-list'"
              :dive="dive"
              @branch_clicked="branchClicked"
              @result_clicked="resultClicked"
              :activeBranch="activeBranch.branchId"
            />
            <div class="results-content-blocks"
                v-if="contentType==='branch-list' && visibleMarkers && visibleMarkers.length <= 0">
              <empty-results callToActionType="single"></empty-results>
            </div>
          </template>
        </div>
        <lf-footer-container v-show="contentType === 'branch-list'"></lf-footer-container>
      </div>
    </template>
    <!-- End Mobile Template -->
  </div>
</template>

<script type="text/babel">
  /**
   * Location Finder
   */
  import BranchCard from '@/components/location-finder/branch-card';
  import BranchDetails from '@/components/location-finder/branch-details';
  import BranchFilter from '@/components/location-finder/branch-filter';
  import BranchList from '@/components/location-finder/branch-list';
  import BrowserInfo from '@/mixins/browser-info';
  import EmptyResults from '@/components/common/empty-results';
  import LocationMap from '@/components/location-finder/location-map';
  import LfFooterContainer from './lf-footer-container';
  import BranchLocationSearch from '@/components/location-finder/branch-location-search';
  import MapToggler from '@/components/location-finder/map-toggler';
  import ScrollableDiv from '@/components/common/scrollable-div';
  import StateList from '@/components/location-finder/state-list';
  import Vue from 'vue';

  import LeafletHelper from '@/components/location-finder/mixins/leaflet-helper';
  import Format from '@/mixins/format';

  import types from '@/store/types';
  import { mapActions, mapState, mapGetters } from 'vuex';
  import mapLabels from '@/utils/mapLabels';
  import Resize from 'vue-resize-directive';
  import {
    debounce,
    find,
    findKey,
    forEach,
    isEmpty,
    remove,
    sortBy,
  } from 'lodash';
  import GooglePlaces from '@/lib/google-places';
  import calc from '@/utils/calculator';

  export default {
    /*
    This component should provide the relevant branches to children who need them.
    (BranchList and LocationMap inject this.)

    The BranchFilter component injects arGrBranchesOnly so it can limit the number of options in its dropdown.
    */
    provide() {
      return {
        // Vue's Providers cannot provide a "computed" reactively, so we provide a method to access our (computed) branches.
        // https://forum.vuejs.org/t/provide-inject-with-computed-properties-does-it-work/18802/3
        getBranches: () => this.branches,
        arGrBranchesOnly: this.arGrBranchesOnly,
      };
    },
    components: {
      BranchCard, // eslint-disable-line
      BranchDetails,
      BranchFilter, // eslint-disable-line
      BranchList,
      BranchLocationSearch,
      EmptyResults,
      LfFooterContainer,
      LocationMap,
      MapToggler,
      ScrollableDiv,
      StateList,
    },
    computed: {
      ...mapState({
        activeBranch: state => state.locationFinder.map.active,
        /*
          Returns all branches if this.arGrBranchesOnly === false.
          Otherwise returns only AR and GR branches.
        */
        branches(state) {
          return (state.locationFinder.all || [])
            .filter(({ businessType, onlineOrders }) => this.arGrBranchesOnly
              ? ['AR', 'GR'].includes(businessType) && onlineOrders === '1'
              : true,
            );
        },
        contentType: state => state.locationFinder.contentType,
        filter: state => state.locationFinder.search.filter,
        isMapView: state => state.locationFinder.currentMobileViewIsMapView,
        loading: state => state.locationFinder.loading,
        map: state => state.locationFinder.map,
        mapObject: state => state.locationFinder.mapObject,
        previousContentType: state => state.locationFinder.previousContentType,
        previousMapListView: state => state.locationFinder.previousMapListView,
        provinces: state => state.locationFinder.provinces,
        ratesPlace: state => state.user.ratesPlace,
        searchBounds: state => state.locationFinder.search.bounds,
        searchCache: state => state.locationFinder.searchCache,
        searchMarker: state => state.locationFinder.map.searchMarker,
        searchPosition: state => state.locationFinder.search.position,
        searchQuery: state => state.locationFinder.search.query,
        states: state => state.locationFinder.states,
        stateBounds: state => state.locationFinder.stateBounds,
        visibleMarkers: state => state.locationFinder.map.visibleMarkers,
      }),
      ...mapGetters([
        'indexByBranchId',
        'provinces',
        'states',
      ]),
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress, // UR-1308 force fix
      }),
      formattedLocation() {
        if (this.searchQuery) {
          return `${this.currentlyViewing} ${this.searchQuery}`;
        }
        return this.scrollToTopText;
      },
      locationMapStyle() {
        return ((this.small && this.isMapView) || !this.small) ? 'z-index: 2;' : 'z-index: -999';
      },
      mapObjectIsReady() {
        return typeof this.mapObject === 'function';
      },
    },
    data() {
      return {
        branchFilterAbbr: 'all',
        contentSpacerHeight: 0,
        hoveredBranch: false,
        mapElement: '',
        mobileMapOffset: [0, 100],
        mobileMapviewHeight: window.innerHeight - 144,
        noRouteWatch: false,
        oldZoom: 14,
        progMove: false,
        showScroll: false,
        small: window.innerWidth <= 639,
        ...mapLabels({
          findUrLocation: 'ur.findUrLocation',
          searchText: 'ur.searchText',
          currentlyViewing: 'ur.currentlyViewing',
          scrollToTopText: 'ur.scrollToTop',
        }),
      };
    },
    directives: {
      Resize,
    },
    methods: {
      ...mapActions({
        activateBranchDetails: types.locationFinder.activateBranchDetails,
        cacheSearch: types.locationFinder.cacheSearch,
        enterMobileListView: types.locationFinder.enterMobileListView,
        enterMobileMapView: types.locationFinder.enterMobileMapView,
        loadBranchData: types.locationFinder.load,
        loadStateBounds: types.locationFinder.loadStateBounds,
        resetActiveBranch: types.locationFinder.resetActiveBranch,
        setFilter: types.locationFinder.setFilter,
        setMarkerToSelectedState: types.locationFinder.setMarkerToSelectedState,
        setRatesPlace: types.user.ratesPlace,
        setSearch: types.locationFinder.setSearch,
        updateContentType: types.locationFinder.updateContentType,
        updateSearchQuery: types.locationFinder.updateSearchQuery,
        updateVisibleMarkers: types.locationFinder.updateVisibleMarkers,
      }),
      branchClicked(branchId) {
        this.showScroll = false;

        const {
          state, city, primaryBusinessType, latitude, longitude,
        } = find(this.branches, a => a.branchId === branchId);

        this.activateBranchDetails({ branchId });

        const bounds = this.mapObject().getBounds();
        this.setSearch({ bounds });

        this.progMove = true;

        this.mapObject().flyTo(this.Leaflet.latLng(latitude, longitude), 14, { animate: true, duration: 0.5 });
        if (this.dive) {
          if (this.small) {
            this.enterMobileListView();
          }
          this.updateContentType('branch-details');
          this.routePush({
            name: `lfBranch${this.inCheckout}`,
            params: {
              state: this.urlify(state),
              city: this.urlify(city),
              branchType: this.urlify(primaryBusinessType.url),
              branch: this.urlify(branchId),
            },
          });
          this.cacheSearch();
        }
        this.updateVisibleMarkers({ branches: this.branches });
      },
      branchHovered(branch, value) {
        const marker = find(this.map.markerCluster.getLayers(), marker => marker.options.branchId.toUpperCase() === branch.toUpperCase());
        if (marker && marker._icon) {
          if (value) {
            this.Leaflet.DomUtil.addClass(marker._icon, 'marker_active');
          }
          else {
            this.Leaflet.DomUtil.removeClass(marker._icon, 'marker_active');
          }
        }
      },
      delayMoveEvents() {
        this.progMove = false;
      },
      filterChanged(newFilterValue) {
        this.branchFilterAbbr = newFilterValue;
        this.setFilter(this.branchFilterAbbr);
        this.updateVisibleMarkers({ branches: this.branches });
      },
      getName() {
        if (!isEmpty(this.branch.primaryBusinessType)) {
          return this.branch.primaryBusinessType.name;
        }
        // todo: missing UR businessType
        return 'General Equipment & Tools';
      },
      handleHiderResize() {
        this.$nextTick(() => {
          if (!this.isMapView) {
            const newHeight = document.getElementById('mobilemaphider').offsetHeight - document.getElementById('lf-map').offsetHeight;
            this.contentSpacerHeight = `${newHeight}px`;
          }
        });
      },
      handleResize() {
        this.small = window.innerWidth <= 639;
      },
      handleViewChange(viewtype) {
        if (viewtype === 'list') {
          this.updateContentType('branch-list');
        }
      },
      mapZoomed() {
        if (this.progMove) {
          this.delayMoveEvents();
          return;
        }
        const newZoom = this.mapObject().getZoom();
        if (newZoom < this.oldZoom) {
          // Zoomed out.
          this.resetActiveBranch();
          if (this.contentType !== 'state-list') {
            this.updateContentType('branch-list');
          }
        }
        if (newZoom > this.oldZoom) {
          // Zoomed in.
        }
        if (this.oldZoom !== newZoom) {
          this.oldZoom = newZoom;
          if (this.searchPosition !== null && this.searchQuery !== '') {
            this.setSearch({ state: null, query: '' });
          }
          this.updateVisibleMarkers({ branches: this.branches });
        }
      },
      mapDragged() {
        if (this.progMove) {
          this.delayMoveEvents();
          return;
        }
        if (!(this.small && !this.isMapView)) {
          this.resetActiveBranch();
          if (this.contentType !== 'state-list') {
            this.updateContentType('branch-list');
          }
        }
        this.setSearch({ state: null, query: '' });
        this.updateVisibleMarkers({ branches: this.branches });
      },
      markerClicked(index) {
        const {
          state, city, branchId, latitude, longitude, primaryBusinessType,
        } = this.branches[index];
        const bounds = this.mapObject().getBounds();
        this.setSearch({ bounds });

        // recenter/zoom map
        if (!this.small) {
          this.progMove = true;
          this.mapObject().flyTo(this.Leaflet.latLng(latitude, longitude), 14, { animate: true, duration: 0.5 });
        }
        else {
          this.progMove = true;
          const paddingTop = 40;
          const paddingBottom = 200;
          const newCenter = new this.Leaflet.LatLng(latitude, longitude);
          this.mapObject().panToOffset(newCenter, { paddingTop, paddingBottom });
        }

        this.activateBranchDetails({ branchId });
        if (this.contentType !== 'branch-list') {
          this.updateContentType('branch-list');
        }
        if (this.dive && !this.inCheckout) {
          this.updateContentType('branch-details');
          this.routePush({
            name: `lfBranch${this.inCheckout}`,
            params: {
              state: this.urlify(state),
              city: this.urlify(city),
              branchType: this.urlify(primaryBusinessType.url),
              branch: this.urlify(branchId),
            },
          });
        }
        this.updateVisibleMarkers({ branches: this.branches });
      },
      markerHovered(value, marker) {
        if (value) {
          const Details = Vue.extend(BranchCard);
          const instance = new Details({
            propsData: {
              branch: this.branches[marker.layer.options.branchIndex],
              branchName: this.branches[marker.layer.options.branchIndex].primaryBusinessType.name,
              searchPosition: this.searchPosition,
            },
          });
          instance.$mount();
          const popupOptions = {
            offset: [10, 30],
            minWidth: 330,
            maxWidth: 330,
            autoPan: false,
            closeButton: false,
            className: 'hover-card',
            autoPanPadding: [20, 20],
          };
          instance.$on('branch_clicked', (branchId) => {
            marker.layer.closePopup();
            this.branchClicked(branchId);
          });
          const popup = this.Leaflet.responsivePopup(popupOptions).setContent(instance.$el);
          marker.layer.bindPopup(popup).openPopup();
        }
      },

      markersAdded() {
        if (this.visibleMarkers.length >= 175) {
          this.updateContentType('state-list');
        }
        else {
          this.setMapZoom();
          this.updateVisibleMarkers({ branches: this.branches });
        }
      },

      nearbyResultsClicked() {
        if (this.searchBounds._northEast) {
          this.progMove = true;
          this.mapObject().flyToBounds(this.searchBounds, { animate: true, duration: 0.5 });
        }
        else {
          this.setMapZoom();
        }
        this.updateContentType('branch-list');
        if (this.previousMapListView) {
          this.enterMobileMapView();
        }
        else {
          this.enterMobileListView();
        }
        this.updateVisibleMarkers({ branches: this.branches });
      },
      resultClicked(branchId) {
        this.showScroll = false;
        this.activateBranchDetails({ branchId });
      },
      routePush(routeObj) {
        this.noRouteWatch = true;
        setTimeout(() => {
          this.noRouteWatch = false;
        }, 500);
        this.$router.push(routeObj);
      },
      searchMarkerClicked() {
        // focus the desktop search
        if (!this.small) {
          document.getElementById('desktopSearchContainer').querySelector('input').focus();
          return;
        }
        // focus the mobile map search
        document.getElementById('mapViewSearchContainer').querySelector('input').focus();
      },
      setMapZoom() {
        const bounds = this.mapObject().getBounds();
        const newBounds = this.getModifiedMapZoom(bounds);
        this.progMove = true;
        this.mapObject().fitBounds(newBounds);
      },
      getModifiedMapZoom(bounds) {
        // check for markers in the current bounds
        const boundsMarkers = this.map.markerCluster.getLayers().filter(marker => bounds.contains(marker.getLatLng()));

        if (isEmpty(boundsMarkers) || boundsMarkers.length < 1) {
          const boundsCenter = bounds.getCenter();
          const closestBranches = this.findClosestBranches(boundsCenter, 3, 'GR');
          const modifiedBounds = this.Leaflet.latLngBounds(boundsCenter);
          modifiedBounds.extend(boundsCenter);
          forEach(closestBranches, (item) => {
            const branchPosition = this.Leaflet.latLng(parseFloat(item.branch.latitude), parseFloat(item.branch.longitude));
            modifiedBounds.extend(branchPosition);
          });
          return modifiedBounds;
        }
        return bounds;
      },
      stateClicked(abbr) {
        const paramState = abbr.toUpperCase();
        this.setSearch({ state: paramState, filter: 'all' });
        if (this.states[paramState]) {
          this.updateSearchQuery(this.states[paramState]);
        }
        else {
          this.updateSearchQuery(this.provinces[paramState]);
        }
        return true;
      },
      toggleShowScroll(event) {
        if (event.target.scrollTop > 200) {
          this.showScroll = true;
        }
        else {
          this.showScroll = false;
        }
      },
      updateResults(place, { city = false, state = false } = {}) {
        this.resetActiveBranch();
        if (!state) {
          // determine if the place is a state or province
          state = findKey({ ...this.states, ...this.provinces }, st => place.name === st && 'administrative_area_level_1' in place.types);
        }
        if (state) {
          const paramState = state.toUpperCase();
          this.progMove = true;
          this.mapObject().flyToBounds(this.stateBounds[paramState], {
            animate: true,
            duration: 0.5,
          });
          this.setSearch({ position: this.stateBounds[paramState].getCenter() });
          if (this.states[paramState]) {
            this.updateSearchQuery(this.states[paramState]);
          }
          else {
            this.updateSearchQuery(this.provinces[paramState]);
          }
        }
        else if (place && place.geometry) {
          // Set RatesPlace to send back to global autocomplete
          try {
            this.setRatesPlace(place);
            // Set the search's position in state to be used for calculating visible marker distance
            const modifiedBounds = this.getModifiedMapZoom(this.convertPlaceToBounds(place));
            this.progMove = true;
            this.$nextTick(() => {
              this.mapObject().flyToBounds(modifiedBounds, {
                animate: true,
                duration: 0.5,
              });
            });
            const position = {
              lat: parseFloat(place.geometry.location.lat()),
              lng: parseFloat(place.geometry.location.lng()),
            };
            this.setSearch({ position });

            this.updateSearchQuery(place.formatted_address.replace(/, United States| United States|, USA| USA| Canada|, Canada/, ''));
            // get the city and state to update the router
            city = find(place.address_components, addy => addy.types[0] === 'locality');
            if (city) {
              city = city.long_name;
            }

            state = find(place.address_components, addy => addy.types[0] === 'administrative_area_level_1');
            if (state) {
              state = state.short_name;
            }
          }
          catch (error) {
            console.error('Error trying to work with Google Place Geometry!', error); // eslint-disable-line
          }
        }
        else if (!state && !this.inCheckout) {
          this.updateContentType('state-list');
          this.routePush({ name: `lfBase${this.inCheckout}` });
          this.updateSearchQuery('');
          this.setSearch({ position: null });
          return;
        }

        if (city) {
          this.routePush({
            name: `lfCity${this.inCheckout}`,
            params: {
              city: this.urlify(city),
              state: this.urlify(state),
            },
          });
          this.updateContentType('branch-list');
        }
        else if (state) {
          this.routePush({
            name: `lfState${this.inCheckout}`,
            params: {
              state: this.urlify(state),
            },
          });
          this.updateContentType('branch-list');
        }
        this.mapZoomed();
        this.cacheSearch();
        this.updateVisibleMarkers({ branches: this.branches });
      },
      windowResized() {
        if (this.isMobile()) {
          this.mobileMapviewHeight = window.innerHeight - 114;
        }
      },

      /*
      * findClosesBranches
      * Given a latlng object, return (numberBranches) closes branches of type businessTypeFilter.
      */
      findClosestBranches(latLng, numberBranches, businessTypeFilter = '') {
        const closestBranches = [];
        forEach(this.branches, (branch) => {
          const branchPosition = { lat: parseFloat(branch.latitude), lng: parseFloat(branch.longitude) };
          const distance = Math.round(calc.distance(latLng, branchPosition));
          closestBranches.push({ distance, branch });
        });
        if (businessTypeFilter !== '') {
          remove(closestBranches, item => item.branch.businessType !== businessTypeFilter.toUpperCase());
        }
        return sortBy(closestBranches, o => o.distance).slice(0, numberBranches);
      },
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize);
    },
    beforeMount() {
      this.loadBranchData();
    },
    mounted() {
      window.addEventListener('resize', this.handleResize);
      // Set filter if necessary
      if (this.$route.params.filter) {
        this.setFilter(this.$route.params.filter);
      }
      if (this.$route.fullPath.includes('search')) {
        const { filter, search } = this.$route.params;
        // Ensure a base path is set for our clientside router
        if (!filter) {
          if (!search) {
            this.routePush({
              path: '/search/all',
            });
          }
          else {
            this.routePush({
              path: `/search/all/${search}`,
            });
          }
        }
      }

      if (this.$route.params.city) {
        let cityParam = this.$route.params.city.replace('-', ' ');
        cityParam = `${cityParam.substring(0, 1).toUpperCase()}${cityParam.substring(1, cityParam.length)}`;
        const stateParam = this.$route.params.state.toUpperCase();
        this.setSearch({ query: `${cityParam}, ${stateParam}` });
      }
      else if (this.$route.params.state) {
        // return a state view
        const paramState = this.$route.params.state.toUpperCase();
        this.setSearch({ state: paramState, filter: 'all' });
        if (this.states[paramState]) {
          this.updateSearchQuery(this.states[paramState]);
        }
        else {
          this.updateSearchQuery(this.provinces[paramState]);
        }
      }

      // if we are dealing with a small screen, we need to watch for the window resize event to deal with mobile safari
      // strangeness
      if (this.small) {
        window.addEventListener('resize', this.windowResized);
      }

      if (this.$route.params.branch && this.dive) {
        this.updateContentType('branch-details');
        this.activateBranchDetails({ branchId: this.$route.params.branch.toUpperCase() });
        if (this.small) {
          this.enterMobileListView();
        }
      }
    },
    created() {
      this.updateVisibleMarkers = debounce(this.updateVisibleMarkers, 500);
      this.delayMoveEvents = debounce(this.delayMoveEvents, 500);

      // This component is used as the root component on the locations page,
      // as well as imported as child component elsewhere. Check to make
      // sure we're only disabling persistence when on right URl.
      //
      // This is *not* the right place to check for this. Better spot would
      // be router entry, which this component doesn't have because it's
      // referenced in a php controller instead, and the locations
      // page is being refactored in a couple of weeks. TODO
      const wlc = window.location.pathname;
      if (wlc.startsWith('/locations') || wlc.startsWith('/cart')) {
        // Changes/Searches made while on the location page should not be
        // carried over to other parts of the site! There is a small
        // exception to this - Rent Online (branch-details.vue)
        //
        // More details can be found at:
        // https://unitedrentals.atlassian.net/wiki/spaces/KDEV/pages/655492106/2019-07-16+Vue+Location+Search+Jobsite+Branch+Conflicts
        this.$store.state.sessionStoragePersisted = false;
      }
    },
    name: 'LocationFinder',
    props: {
      /*
      Instances of this component OUTSIDE the Convert Quote and Checkout journeys
      should show ALL branches.

      Instances of this component WITHIN the Convert Quote and Checkout journeys
      should show ONLY AR and GR branches.

      (Ie, users are only able to rent from AR/GR branches.)
      */
      arGrBranchesOnly: {
        type: Boolean,
        required: false,
        default: false,
      },
      /**
       * Dive property
       *
       * Whether or not to dive into branch details view or not
       * when a marker on the map is clicked, or when a branch listing
       * is clicked.
       */
      dive: {
        type: Boolean,
        default:
          true,
      },
      inCheckout: {
        type: String,
        default: '',
      },
    },
    mixins: [
      BrowserInfo,
      Format,
      LeafletHelper,
    ],
    watch: {
      $route(to, from) {
        if (to.params.branch && this.dive) {
          this.updateContentType('branch-details');
          this.activateBranchDetails({ branchId: this.$route.params.branch.toUpperCase() });
        }
        if (this.noRouteWatch || !this.mapObjectIsReady) {
          return;
        }
        // handle going back to the full map view from a state view
        if (to.fullPath === '/locations') {
          const location = this.Leaflet.latLng(39.12330, -94.5923);
          this.progMove = true;
          this.mapObject().flyTo(location, 4, { animate: true, duration: 0.5 });
          this.updateContentType('state-list');
          this.setSearch({ position: null, query: '' });
        }
        // handle going to a city or state route
        if (!to.params.branch
          && (to.name.indexOf('lfCity') === 0 || to.name.indexOf('lfState') === 0)
        ) {
          this.updateContentType('branch-list');
          if (to.params.city && (!from.params.city || to.params.city !== from.params.city || to.name !== from.name)) {
            this.updateSearchQuery(`${this.$route.params.city.replace('-', ' ').toUpperCase()}, ${this.$route.params.state.toUpperCase()}`);
            const service = new GooglePlaces();
            service.autoCompleteOptions = {
              types: ['(regions)'],
              componentRestrictions: { country: ['us', 'ca'] },
            };
            service
              .getPlaceFromAddress(`${this.$route.params.city.replace('-', ' ')}, ${this.$route.params.state.toUpperCase()}`)
              .then((place) => {
                this.progMove = true;
                this.mapObject().flyToBounds(this.getModifiedMapZoom(this.convertPlaceToBounds(place)), {
                  animate: true,
                  duration: 0.5,
                });
                const position = {
                  lat: parseFloat(this.convertPlaceToBounds(place).getCenter().lat),
                  lng: parseFloat(this.convertPlaceToBounds(place).getCenter().lng),
                };
                this.setSearch({ position });
              });
          }
          else if (!from.params.state || to.params.state !== from.params.state || to.name !== from.name) {
            const paramState = this.$route.params.state.toUpperCase();
            if (this.states[paramState]) {
              this.updateSearchQuery(this.states[paramState]);
            }
            else {
              this.updateSearchQuery(this.provinces[paramState]);
            }
            this.progMove = true;
            this.mapObject().flyToBounds(this.stateBounds[paramState], { animate: true, duration: 0.5 });
            this.setSearch({ position: this.stateBounds[paramState].getCenter() });
          }
        }
        // handle going to a branch
        if (to.name.indexOf('lfBranch') === 0) {
          const branchData = this.branches[this.indexByBranchId(to.params.branch)];
          if (this.dive) {
            this.activateBranchDetails({ branchId: to.params.branch });
            this.updateContentType('branch-details');
          }
          this.updateSearchQuery(`${branchData.address1}, ${branchData.city}, ${branchData.state}`);
          this.progMove = true;
          this.mapObject().flyTo(this.Leaflet.latLng(branchData.latitude, branchData.longitude), 14, {
            animate: true,
            duration: 0.5,
          });
          const location = {
            lat: parseFloat(branchData.latitude),
            lng: parseFloat(branchData.longitude),
          };
          // Set the search's position in state to be used for calculating visible marker distance
          this.setSearch({ position: location });
          this.updateVisibleMarkers({ branches: this.branches });
        }
      },
      searchMarker() {
        if (this.searchMarker.icon) {
          this.searchMarker.addListener('click', this.searchMarkerClicked);
        }
      },
    },
  };
</script>
