<template>
  <div class="mobile-list-view">
    <div v-if="isMapView" class="map-list-toggle" @click="enterListView">
      <i class="icon icon-th-list"></i>
      <p class="paragraph map-list-toggle__paragraph">
        {{ listView }}
      </p>
    </div>
    <div v-else class="map-list-toggle" @click="enterMapView">
      <i class="icon icon-map"></i>
      <p class="paragraph map-list-toggle__paragraph">
        {{ mapView }}
      </p>
    </div>
  </div>
</template>

<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import mapLabels from '@/utils/mapLabels';

  export default {
    components: {},
    computed: {
      ...mapState({
        isMapView: state => state.locationFinder.currentMobileViewIsMapView,
      }),
    },
    data() {
      return {
        ...mapLabels({
          mapView: 'ur.mapView',
          listView: 'ur.listView',
        }),
      };
    },
    methods: {
      ...mapActions({
        enterMobileListView: types.locationFinder.enterMobileListView,
        enterMobileMapView: types.locationFinder.enterMobileMapView,
        resetActiveBranch: types.locationFinder.resetActiveBranch,
      }),
      enterListView() {
        this.enterMobileListView();
        this.$emit('view_switched', 'list');
      },
      enterMapView() {
        this.enterMobileMapView();
        this.$emit('view_switched', 'map');
      },
    },
    mounted() {
      // Default to the Mobile Map View
      this.enterMapView();
    },
    name: 'mapToggler',
  };
</script>
