<template>
  <div class="mobile-branch-filter select">
    <branch-filter></branch-filter>
  </div>
</template>

<script type="text/babel">
  import BranchFilter from '@/components/location-finder/branch-filter';

  export default {
    name: 'MobileBranchFilter',
    components: {
      BranchFilter,
    },
  };
</script>
