<template>
  <div class="location-finder-content-panel column"
  >
    <scrollable-div
      :scrollToTopText="formatLocation(searchQuery)"
      :disableButton="contentType !== 'branch-list'"
      class="content-panel__content">
      <div class="content-panel-header_container">
        <div class="content-panel-header_label">
          <h4 class="heading-4">{{ findUrLocation }}</h4>
        </div>
        <div class="location-search">
          <location-autocomplete
            :placeholder="$i18n('locationFinder.chooseLocation.locationPlaceholder')"
            ref="lfAutocomplete"
            @change="updateResults"
            :place="place"
          ></location-autocomplete>
        </div>
        <div class="select select--location_finder"
             v-if="contentType !== 'branch-details'"
        >
          <branch-filter></branch-filter>
          <i class="icon icon-angle-down"></i>
        </div>

        <div
          class="media_block"
          v-if="contentType === 'state-list'"
        >
          <p class="paragraph">
            {{ searchText }}
          </p>
        </div>
      </div>
      <div>
        <state-list
          v-if="contentType === 'state-list' && ( small && isListView || !small )"
          :map-element="mapElement"
          @place_changed="updateResults"
        ></state-list>

        <branch-list
          v-if="contentType === 'branch-list' && ( small && isListView || !small )"

          :location="searchQuery"
          :dive="dive"
          @branch_clicked="branchClicked"
        ></branch-list>

        <branch-details
          v-if="contentType === 'branch-details'"
          @nearby_results_clicked="$emit('nearby_results_clicked')"
        ></branch-details>
      </div>
    </scrollable-div>
    <lf-footer-container
      v-if="contentType !== 'branch-details'"
    ></lf-footer-container>
  </div>
</template>

<script type="text/babel">
  import BranchDetails from './branch-details';
  import BranchFilter from './branch-filter.vue';
  import BranchList from './branch-list';
  import Format from '@/mixins/format';
  import LfFooterContainer from './lf-footer-container';
  import LocationAutocomplete from '@/components/common/ur-location-autocomplete';
  import StateList from './state-list';
  import ScrollableDiv from '@/components/common/scrollable-div';

  import { mapActions, mapGetters, mapState, mapMutations } from 'vuex';
  import types from '@/store/types';
  import mapLabels from '@/utils/mapLabels';

  export default {
    components: {
      BranchDetails,
      BranchFilter,
      BranchList,
      LocationAutocomplete,
      LfFooterContainer,
      ScrollableDiv,
      StateList,
    },
    computed: {
      ...mapGetters([
        'branchesByStateMap',
        'provinces',
        'states',
        'small',
      ]),
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      ...mapState({
        contentType: state => state.locationFinder.contentType,
        map: state => state.locationFinder.map,
        search: state => state.locationFinder.search,
        isListView: state => !state.locationFinder.currentMobileViewIsMapView,
        searchQuery: state => state.locationFinder.search.query,
        sync: state => state.locationFinder.sync,
        visibleMarkers: state => state.locationFinder.map.visibleMarkers,
      }),
      place() {
        if (this.searchQuery) {
          return this.searchQuery;
        }
        else if (this.ratesPlaceAddress) {
          return this.ratesPlaceAddress;
        }
        else {
          return null;
        }
      },
    },
    data() {
      return {
        didYouMeanStateFlag: false,
        errorStateFlag: false,
        forceState: null,

        /**
         * Show Scroll
         *
         * Flag used for showing/hiding the scroll to top button
         */
        showScroll: false,
        searchinput: '',
        ...mapLabels({
          findUrLocation: 'ur.findUrLocation',
          searchText: 'ur.searchText',
          currentlyViewing: 'ur.currentlyViewing',
          scrollToTopText: 'ur.scrollToTop',
        }),
      };
    },
    methods: {
      ...mapActions({
        setSync: types.locationFinder.setSync,
      }),
      ...mapMutations({
        setVisibleMarkers: types.locationFinder.setVisibleMarkers,
      }),
      /**
       * Format Location method
       *
       * @param {string} loc | the location via props
       * @return {string} City, State (ex. Kansas City, MO)
       */
      formatLocation(loc) {
        if (loc && loc !== '') {
          return `${this.currentlyViewing} ${loc}`;
        }
        return this.scrollToTopText;
      },

      branchClicked(index) {
        this.$emit('branch_clicked', index);
      },
      /**
       * Update Results method
       *
       * @param {object} place | google place object
       * @param {*} city | city in state or province
       * @param {*} state | state or province abbreviation
       */
      updateResults(place, { city = false, state = false } = {}) {
        this.$emit('place_changed', place, { city, state });
      },
    },
    mixins: [
      Format,
    ],
    mounted() {
      this.$store.commit(types.locationFinder.cacheSearch);
    },
    name: 'search',
    props: [
      'mapElement',
      'dive',
    ],
    watch: {
      contentType(type) {
        if (type !== 'branch-details') {
          this.$store.commit(types.locationFinder.cacheSearch);
        }
      },
    },
  };
</script>
