$border-radius-medium: 4px;

.image-and-text-block {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  max-width: 1440px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 10px;

  @include breakpoint($_break-small) {
    margin-left: 24px;
    margin-right: 24px;
    flex-direction: row;
  }

  @include breakpoint($_break-medium) {
    margin-left: 56px;
    margin-right: 56px;
  }

  @include breakpoint($_break-large) {
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(_$break-small) {
    flex-direction: row;
  }

  .leftcol {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-size: contain;

    @include breakpoint($_break-small) {
      width: 50%;
    }

    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  .rightcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;

    @include breakpoint($_break-small) {
      width: 50%;
    }

    h2 {
      text-align: center;
    }

    .image-and-text-block-copy {
      text-align: center;
      margin-bottom: 32px;
      width: 100%;
      line-height: 20px;
    }
  }
}
