
%hr-decorative-bar {
  height: 4px;
  color: $color-orange;
  background-color: $color-orange;
  border: 0;
  margin-bottom: 24px;

}

.hr-decorative-bar-narrow {
  width: 120px;
  @extend %hr-decorative-bar;
}

.hr-decorative-bar-wide {
  width: 240px;
  @extend %hr-decorative-bar;
}

.hr-decorative-bar-left {
  margin-left: 0px;
  text-align: left;
}

