.product-cards {
  margin-bottom: 32px;

  @include breakpoint($_break-small) {
    margin-bottom: 0;
  }

  .product-cards--row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint($_break-small) {
      overflow: visible;
    }
  }
}

.product-card {
  width: 100%;
  flex: 0 0 auto;
  height: 276px;
  margin: 0 8px;
  box-shadow: none;
  text-decoration: none; // Because this is an <a> tag.
  position: relative;
  padding: 12px 12px 20px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(221, 224, 226, 0);
  border-radius: $border-radius-large;
  transition: all ease .6s;

  &:hover {
    border: 1px solid $color-grey-11;
    cursor: pointer;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
    .product-card--title {
      color: $color-text-link-hover;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  .product-card--image {
    height: 128px;
  }

  .product-card--content {
    min-height:116px;
    padding: 0 8px;
    display: block;
  }

  .product-card--title {
    max-height: 56px;
    min-height: 56px;
    margin-top: 20px;
    margin-bottom: 0;
    color: $color-text;

  }

  button, button:hover {
    margin-bottom: 0;
    text-decoration: none;
  }


}
