@mixin abutton() {
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  height: 40px;
  max-height: 40px;
  padding: 0 12px;
  margin: 0;
  color: white;
  background-color: #008cff;
  &:hover {
    background-color: #0062b3;
  }
  &:active {
    background-color: #0050aa;
  }
}
.top-category-image {
  min-height: 280px;
}
.top-category-title-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-grey-5;
  p {
    padding: 32px 0;
    width: 100%;
  }
  h2 {
    margin: 0;
  }
  div,
  p {
    margin: 0;
    a {
      @include abutton;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include breakpoint($_break-small) {
  .top-category-title-group {
    min-height: 400px;
  }
}

.top-category--product-cards {
  padding: 28px 0 (28 - 24) + px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint($_break-small) {
    flex-wrap: wrap;
    overflow: visible;
  }
  .marketing-product-card{
    padding-bottom:24px;
  }
}
