.category-block {
  background-color: $color-grey-5;
  padding-top: 28px;
  padding-bottom: 20px;

  .full-bleed-cards--row {
    // margin: 0px auto;
    // max-width: 1440px;
    // display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint($_break-small) {
      flex-wrap: wrap;
      overflow-x: none;
    }
  }

  &-title-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .title {
      margin-top: calc(40px - 2em);
      margin-bottom: 8px;
      @include breakpoint($_break-small) {
        margin-top: 0px;
        margin-bottom: 162px;
      }
      text-align: center;
    }
  }

  .ur-full-bleed-card {
    margin-bottom: 24px;
    position: relative;
  }
}
