.product-teaser-block {
  margin: 16px 0;
  background: $color-grey-5;


  .marketing-product-card {
    padding-bottom:24px;
  }

  @include breakpoint($_break-small) {
    padding-top: 28px;
    padding-bottom: (44 - 24) + px;
  }

  .product-cards {
    margin-bottom: 32px;

    @include breakpoint($_break-small) {
      margin-bottom: 0;
    }

    .product-cards--row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }

      @include breakpoint($_break-small) {
        flex-wrap: wrap;
        overflow: visible;
      }
    }
  }

  .product-card {
    width: 100%;
    flex: 0 0 auto;
    height: 276px;
    margin: 0 8px;
    box-shadow: none;
    text-decoration: none; // Because this is an <a> tag.
    position: relative;
    padding: 12px 0 20px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(221, 224, 226, 0);
    border-radius: $border-radius-large;
    transition: all ease 0.6s;

    &:hover {
      border: 1px solid $color-grey-11;
      cursor: pointer;
      box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);

      .product-card--title {
        color: $color-text-link-hover;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    .product-card--image {
      height: 128px;
    }

    .product-card--content {
      padding: 0 8px;
      button {
        margin: auto;
      }
    }

    // For ellipsis, see ur_slp/js/product-card.js
    .product-card--title {
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      @include breakpoint(550px) {
        margin-top: 0;
        margin-bottom: 0;
      }
      @include breakpoint(600px) {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }

    button,
    button:hover {
      margin-bottom: 0;
      text-decoration: none;
    }
  }
}

.title-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($_break-small) {
    height: 276px;
    text-align: center;
  }

  .title-card-heading {
    // @TODO: create classes for type-heading-h2
    font-family: $font-family-base;
    font-size: $font-size-h2;
    color: $color-text;
    font-variant: none;
    font-weight: bold;
    line-height: 24px;
    margin-top: 48px;
    margin-bottom: 32px; // overwrite default 16px
    text-align: center;
    -webkit-font-smoothing: antialiased;

    @include breakpoint($_break-small) {
      // @TODO: create classes for type-heading-h1
      font-family: $font-family-base;
      font-size: $font-size-h1;
      color: $color-text;
      font-variant: none;
      font-weight: bold;
      line-height: 36px;
      margin-top: 52px;
      margin-bottom: 16px;
    }
  }

  .q-button {
    display: none;
    line-height: 40px; // being inside a .paragraph div gives it different line-height
    text-decoration: none;

    @include breakpoint($_break-small) {
      display: block;
    }

    // Being this is an <a> we need to overwrite the styles for an <a>
    &:hover {
      color: initial;
    }
  }
}

.mobile-cta-wrapper {
  display: block;
  overflow: hidden;

  @include breakpoint($_break-small) {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

.title-card-title {
  height: 95px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@include breakpoint($_break-small) {
  .title-card-title > div {
    align-items: flex-end;
  }
}
.title-card-divider {
  height: 4px;
  background: orange;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.title-card-btn {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
}

.product-card-image {
  width: 100%;
  height: 128px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.product-card-title-block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  & h3 {
    font-size: 1.15em;
    text-align: left;
    line-height: normal;
  }
  & button {
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
  }
}
@include breakpoint($_break-medium) {
  .product-card .product-card-title-block h3 {
    font-size: $font-size-h3;
    line-height: 1.333333;
  }
}
