div.image-divider {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;

  & div:last-child {
    display: none;
  }
  & div {
    max-height: 84px;
    width: 33.33%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media all and (min-width: $_break-small) {
  div.image-divider {
    margin-left: 24px;
    margin-right: 24px;

    & div {
      max-height: 200px;
    }
  }
}

@media all and (min-width: $_break-medium) {
  div.image-divider {
    margin-left: 56px;
    margin-right: 56px;

    & div {
      width: 25%;
    }
    & div:last-child {
      display: block;
    }
  }
}

@media all and (min-width: $_break-large) {
  div.image-divider {
    max-width: $_break-large;
    margin: 0 auto;
  }
}
