.marketing-subcategory-hero {

  background-position: center;
  background-size: cover;

  padding: 0px 24px;
  height: 180px;

  @include breakpoint($break-small) {
    padding: 0px 48px;
    height: 148px;
  }
  .content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include breakpoint($break-small) {
      flex-direction: row;
    }

    .hero-heading {
      @extend .heading-6;

      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: 300;

      @include breakpoint($break-small) {
        font-weight: inherit;
      }
      color: $color-grey-11;
    }

    .hero-title {
      @extend .heading-1;
      color: $color-white;
      margin-top: 8px;
      margin-bottom: 0px;
    }

    .rightcol {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include breakpoint($break-small) {
        flex-direction: column;
        justify-content: end;
      }
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        @include breakpoint($break-small) {
          flex-direction: column;
          justify-content: center;

        }
        .button-container {
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          flex-direction: column;
          @include breakpoint($break-small) {
            flex-direction: row;
          }
        }
        .telephone {
          flex: 1 1 auto;
          @extend .heading-2;
          width: fit-content;
          color: $color-white;
          text-align: center;
          display:flex;
          flex-direction:column;
          justify-content: center;

          @include breakpoint($break-small) {
            margin-bottom: 24px;
            justify-content: flex-end;
            width: 100%;
          }

          a {
            text-decoration: none;
            color: $color-white;
            margin-bottom: 0px;
          }
        }
      }
    }

    .leftcol {
      height: 75%;
      @include breakpoint($break-small) {
        width: 66%;
        height: 100%;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
}