.intro-content {
  &.intro-content-with-subnav {

    .text-long {
      line-height: 20px;
    }

    .subnav-list {
      color: $color-blue;
    }

    .col-left {
      flex-grow: 2;
    }

    .col-right {
      display: none;

      h3 {
        @extend .heading-4;
        margin-top: 12px;
        margin-bottom: 24px;
      }

      @include breakpoint($_break-small) {
        display: block;
        position: relative;
        flex-grow: 1;
        width: 34%;
        margin-top: 48px;
        padding-left: 24px;
      }
    }
  }

  .intro--right {
    position: relative;

    ul {
      font-family: $font-family-base;
      font-size: $font-size-base;
      line-height: 20px;
      display: block;
      margin-left: 40px;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 450px;

      li {
        padding: 0 8px 12px 8px;
      }
    }

    .subnav--title {
      -webkit-font-smoothing: antialiased;
      margin-left: 20px;
    }
  }

  .col-left {
    padding-top: 48px;
  }

  .col-right {
    padding: 0;
    // Show a background-image'd <div> for tablets/desktop...
    .background-image-div {
      display: none;

      @include breakpoint($_break-small) {
        // background-image is set in Drupal template (paragraph--intro-content.html.twig)
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    // ...and show a real <img> tag for mobile
    img {
      width: 100%;

      @include breakpoint($_break-small) {
        display: none;
      }
    }
  }

  .heading-2 {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .type-paragraph-base {
    margin-bottom: calc(48px - 16px);
  }

  .cta-container {
    margin-bottom: calc(60px - 16px);
    display: inline-block;
  }

  .button {
    width: fit-content;
    padding: 0.5em 3em;
  }

  .decorative-bar-vert:after {
    content: "";
    width: 4px;
    height: 100%;
    background: $color-grey-5;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
