.marketing-landing-page-hero {

  padding: 0px 48px 60px 48px;
  background-position: center;
  background-size: cover;

  .content {
    overflow: auto;

    .heading-1 {
      color: white;
      text-align: center;
      margin-bottom: 24px;
      margin-top: 24px;
    }
    .heading-3 {
      text-align: center;
      color: white;
      margin-top: 48px;
    }

    .flex-row {
      justify-content: center;
    }

  }

}