.paragraph--type-display-contact-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 148px;
  padding: 20px 18px;
  background: url(/themes/custom/unitedrentals/images/slp/contact-footer-background.png)
    no-repeat center;
  background-size: cover;
  color: $color-white;
  margin-top: 16px;
  margin-bottom: 16px;

  @include breakpoint($_break-medium) {
    flex-direction: row;
    padding: 20px 48px;
  }

  .footer-title-group {
    flex: 1;
    order: 2;
    text-align: center;
    @include breakpoint($_break-medium) {
      flex: 8;
      order: 1;
      text-align: left;
    }
    .footer-title {
      font-size: $font-size-large;
      font-weight: bold;
      line-height: 20px;

      @include breakpoint($_break-medium) {
        font-size: $font-size-h2;
        line-height: 24px;
      }

      @include breakpoint($_break-large) {
        font-size: $font-size-h1;
        line-height: 36px;
      }
    }
    .footer-subtitle {
      font-size: $font-size-base;
      line-height: 20px;

      @include breakpoint($_break-medium) {
        font-size: $font-size-h4;
      }

      @include breakpoint($_break-large) {
        font-size: $font-size-h3;
      }
    }
  }
  .footer-phone {
    flex: 1;
    font-size: $font-size-h1;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
    order: 1;
    text-align: center;
    & a,
    a:hover {
      color: $color-white;
      text-decoration: none;
    }
    @include breakpoint($_break-medium) {
      flex: 4;
      line-height: 1;
      margin: 0;
      order: 2;
      text-align: right;
    }

    @include breakpoint($_break-large) {
      font-size: $font-size-display1;
    }
  }
}
