$quote-size: 16px;
$quote-size-med: 40px;
$quote-spacer: 20px;

.testimonial {
  background: $color-blue url(/themes/custom/unitedrentals/images/slp/testimonial_background_image.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  padding: 8.33%;
  margin-bottom: 0;
  margin-top: 0;
  & > div {
    align-items: center;
    color: $color-white;
    font-size: $font-size-base;
    line-height: 20px;
    max-width: $_break-large;
    min-height: 35px;
    padding: 0 8.33%;
    position: relative;
    text-align: center;

    &:before, &:after {
      background: url(/themes/custom/unitedrentals/images/slp/icon-quote-open.svg) center no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: $quote-size;
      position: absolute;
      width: $quote-size;

      @include breakpoint($_break-medium) {
        height: $quote-size-med;
        width: $quote-size-med;
      }
    }

    &:after {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);

      @include breakpoint($_break-medium) {
        right: $quote-spacer;
      }
    }

    &:before {
      left: 0;
      top: 0;
      @include breakpoint($_break-medium) {
        left: $quote-spacer;
      }
    }
  }
}

@include breakpoint($_break-small) {
  .testimonial {
    padding: 4% 8.33%;
    & > div {
      font-size: $font-size-large;
      line-height: 24px;
    }
  }
}
