.event-calculator {
  .event-calculator-copy p {
    margin: 16px 0;
  }

  .left-col {
    padding: 48px 18px;

    @include breakpoint($break-small) {
      padding: 48px 0 48px 48px;
    }

    .success-story-cta {
      justify-content: center;
      @include breakpoint($break-small) {
        justify-content: normal;
      }
    }

    .heading-2 {
      margin-top: 0px;
      text-align: left;
    }
  }

  .right-col {
    padding-right: 0;
    background-color: $color-grey-5;

    .calculator {
      padding: 48px 24px;

      @include breakpoint($break-small) {
        padding: 48px;
      }

      .q-button {
        margin-bottom: 0px;
      }

      .heading-3 {
        margin-top: 0px;
        text-align: left;
      }

      .heading-blue {
        color: $color-blue-highlight;
      }

      .ur-select {
        label {
          text-align: left;
        }

        select {
          height: 48px;
        }
      }

      .select-hours {
        margin-top: 24px;
        margin-bottom: 32px;
      }
    }
  }
}
