.success-story {
  margin-top: 16px;
  margin-bottom: 16px;

  &--header {
    margin-top: 48px;
  }

  &--heading {
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-h3;
    margin: 0;
  }

  &--title {
    margin: 24px 0 48px;
    -webkit-font-smoothing: antialiased;
  }

  &--copy {
    @extend %type-paragraph-base;
    margin: 0;
    -webkit-font-smoothing: antialiased;

    // @TODO: Figure out how to make this look like a paragraph large on bigger sizes
    @include breakpoint($_break-small) {
      // Duplicating styles here as we can't extend the placeholder class inside here
      font-family: $font-family-base;
      font-size: $font-size-xlarge;
      line-height: 28px;
    }
  }

  &--content-wrapper {
    padding-bottom: 72px;
    width: 100%;
  }

  &--media {
    margin-bottom: 48px;
  }

  &--content {
    .content-with-media & {
      .success-story--cta {
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($_break-small) {
          justify-content: normal;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  &--cta {
    margin-top: 32px;

    .q-button {
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0;
    }
  }
}
