.slp-hero {
  position: relative;
  height: 260px;
  overflow: hidden;

  .slp-background-wrapper {
    @extend %scrim-lead-gen;
    height: 100%;
    width: 100%;
  }

  & .slp-hero-title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    & h1,
    h4 {
      margin: 0;
      text-align: center;
    }
    & h4 {
      font-size: $font-size-h4;
      color: $color-grey-11;
    }
    & h1 {
      font-size: $font-size-h1;
      color: $color-white;
      margin-top: 12px;
      line-height: 1em;
    }
  }
}

.slp-lead-gen-wrapper {
  @extend %scrim-lead-gen;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $color-white;
  padding: 0 4%;
  > div > div:nth-child(3){
    display:flex;
    justify-content: center;
  }

  h2,
  a {
    color: white;
  }
  a {
    text-decoration: none;
    @extend %type-header-h3;
  }
  h2 {
    @extend %type-paragraph-small;
  }
  & .slp-lead-gen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $color-white;
    & h2,
    a {
      color: $color-white;
    }
    h2 {
      @extend %type-paragraph-small;
    }
  }
}

.slp-hero.sub {
  height: 180px;

  & .slp-hero-title-sub {
    left: 0;
    top: 0;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h1,
    & h4 {
      text-align: left;
    }
    & h1 {
      margin-top: -14px;
      font-size: $font-size-h4;
      color: $color-white;
    }
    & h4 {
      margin-top: -20px;
      font-size: $font-size-h6;
      font-weight: normal;
      color: $color-grey-11;
    }
  }
}

.slp-lead-gen-wrapper-sub {
  width: 100%;
  padding: 0 5%;
  bottom: 0;
  left: 0;
  position: absolute;
  @extend %scrim-lead-gen;
  & .slp-lead-gen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & .slp-lead-marketing-text {
      display: none;
    }
    & a {
      text-decoration: none;
      color: $color-white;
    }
  }
}

.slp-lead-gen-wrapper.sticky {
  display: none;
}

@include breakpoint($break-small) {
  .slp-hero {
    height: 300px;
    & .slp-hero-title {
      height: 300px;
      padding: 0;
      & h1 {
        font-size: $font-size-display1;
      }
      & h4 {
        font-size: $font-size-h3;
      }
    }
    & img {
      width: 100%;
      height: auto;
      top: -25%;
      position: absolute;
      z-index: -1;
    }
  }


  .slp-lead-gen-wrapper {
    & .slp-lead-gen {
      & a {
        // Not-dry -- cannot extend partials inside of @media or @includes.  Sadface Sass.
        font-family: $font-family-base;
        font-size: $font-size-h3;
        font-variant: none;
        font-weight: bold;
        line-height: 24px;
        margin-top: 44px;
        margin-bottom: 12px;
      }
    }
  }
  .slp-hero.sub {
    height: 148px;
    & .slp-hero-title-sub {
      height: 148px;
      & h1,
      & h4 {
        margin: 0;
      }
      & h1 {
        font-size: $font-size-h1;
      }
      & h4 {
        font-size: $font-size-h6;
        font-weight: bold;
      }
    }
  }
  .slp-lead-gen-wrapper-sub {
    width: 260px;
    height: 148px;
    padding: 0;
    top: 0;
    bottom: auto;
    right: 10%;
    left: auto;
    text-align: center;
    .slp-lead-gen {
      flex-direction: column;
      height: 148px;
      & h2 {
        margin: 0;
      }
      .small-6 {
        flex: none;
      }
    }
  }
  .slp-lead-gen-wrapper.sticky {
    display: block;
    position: fixed;
    bottom: unset;
    top: 0;
    z-index: 10;
    max-height: 75px;
    background: rgba(0, 0, 0, 1);
  }
  .slp-lead-gen .small-6.f-columns {
    padding: 0;
  }
}

@include breakpoint($break-medium) {
  .slp-hero {
    & img {
      top: -50%;
    }
  }
}
