<div class="content">
  {% include "@organisms/hero/hero.twig"
    with {
      "hero_image": solutions_hero,
      "hero_headline": solutions_hero_headline,
      "hero_copy": solutions_hero_copy,
      "hero_large": true
    }
  %}

  <div class="solutions-sitemap">
    <div class="grid justify--space-around">
      {% include "@organisms/landing-page-sitemap/landing-page-sitemap.twig"
        with {
          "sitemap_headline": sitemap2_headline,
          "sitemap_blockname": sitemap_blockname,
          "sitemap_description": sitemap2_description,
          "sitemap_menu_items": sitemap2_menu_items,
          "sitemap_image": sitemap2_image
        }
      %}

      {% include "@organisms/landing-page-sitemap/landing-page-sitemap.twig"
        with {
          "sitemap_headline": sitemap1_headline,
          "sitemap_blockname": sitemap_blockname,
          "sitemap_description": sitemap1_description,
          "sitemap_menu_items": sitemap1_menu_items,
          "sitemap_image": sitemap1_image
        }
      %}
    </div>
    <div class="grid justify--space-around">

      {% include "@organisms/landing-page-sitemap/landing-page-sitemap.twig"
      with {
      "sitemap_headline": sitemap1_headline,
      "sitemap_blockname": sitemap_blockname,
      "sitemap_description": sitemap1_description,
      "sitemap_menu_items": sitemap1_menu_items,
      "sitemap_image": sitemap1_image
      }
      %}

      {% include "@organisms/landing-page-sitemap/landing-page-sitemap.twig"
      with {
      "sitemap_headline": sitemap1_headline,
      "sitemap_blockname": sitemap_blockname,
      "sitemap_description": sitemap1_description,
      "sitemap_menu_items": sitemap1_menu_items,
      "sitemap_image": sitemap1_image
      }
      %}
    </div>
  </div>
</div>