.summary-group-container {

  h6 {
    margin: 15px 0 10px 0;
  }

  input {
    height: 32px;
    @include breakpoint($break-small) {
      max-width: 400px;
    }
    margin: 0;
    border: $border-grey;
    border-radius: 2px;
    background-color: $color-white;
    appearance: none;
    outline: none;
  }

  textarea {
    border: $border-grey;
    background: $color-white;
    max-width: 400px;
    height: 100px;
  }

  button {
    margin-top: 20px;
    width: 150px;
  }

  .accounting-code-payment-block {
    background: $color-white;
    border: $border-grey;
    padding: 15px;
    max-width: 600px;
  }

  .billing-section-container {
    margin: 5px 0 20px;
    @include breakpoint($break-small) {
      margin: 35px 0;
    }
  }

  .po-container {
    align-items: flex-end;
  }

  .po-container + .error-message {
    margin-top: -28px;
    margin-bottom: 35px;
  }

  .po-not-required-checkbox {
    display: inline-block;
    list-style-type: none;
    margin: 7px;
  }

  .requester-and-approver-selectors {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 47%;
    }
  }
}


.cart .reservation-billing {
  .ur-text-input,
  .ur-select {
    label {
      margin-top: 8px;
      @include breakpoint($break-medium) {
        margin-top: 16px;
      }
    }
  }
  .ur-select {
    margin-bottom: 0;
    @include breakpoint($break-small) {
      margin-bottom: 12px;
    }
  }
}
