{% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
  with {
    heading_2: heading_2
  }
%}

<div class="payment-information-container">

  <div class="accounting-code-payment-block">

    {% if account %}
      {% include '@organisms/proceed-to-checkout/payment-information/account/account.twig' %}
    {% endif %}

    {% if accounting_codes %}
      {% include '@organisms/proceed-to-checkout/payment-information/accounting-codes/accounting-codes.twig' %}
    {% endif %}

    {% if requisition_codes %}
      {% include '@organisms/proceed-to-checkout/payment-information/requisition-codes/requisition-codes.twig' %}
    {% endif %}

  </div>

  {% if personal_information %}
    {% include '@organisms/proceed-to-checkout/payment-information/personal-information/personal-information.twig' %}
  {% endif %}

  {% if card_information %}
    {% include '@organisms/proceed-to-checkout/payment-information/card-information/card-information.twig' %}
  {% endif %}

  {% if confirm_card_and_address %}
    {% include '@organisms/proceed-to-checkout/payment-information/confirm-card-and-address/confirm-card-and-address.twig' %}
  {% endif %}

  {% if rental_protection_plan %}
    {% include '@organisms/proceed-to-checkout/payment-information/rental-protection-plan/rental-protection-plan.twig' %}
  {% endif %}

  {% if terms_and_conditions %}
    {% include '@organisms/proceed-to-checkout/payment-information/terms-and-conditions/terms-and-conditions.twig' %}
  {% endif %}

  {% include '@atoms/06-buttons/style-1/01-button.twig'
    with {
      button_content: 'Submit',
      button_modifiers: button_modifiers
    }
  %}
</div>