<template>
  <div class="ur-use-case-block"
    :class="{'ur-use-case-block__expanded' : expanded}">
    <h2 class="ur-use-case-block__title">{{ title }}</h2>
    <div class="f-row row-max-width-1440">
      <a :href="item.url" class="card f-columns small-12 medium-6 large-4" v-for="(item, index) in cards" :key="index">
        <ur-full-bleed-card
          :item="item"
          :loading="loading"
          content-align="center" />
      </a>
    </div>
    <div class="ur-use-case-block__cta">
      <q-button
        v-if="showCTA"
        width-prop="100px"
        flex-prop="0"
        :text="computedCTA"
        @click="expandToggle"/>
    </div>
  </div>
</template>

<script type="text/babel">
  import UrFullBleedCard from '@/components/common/ur-full-bleed-card/ur-full-bleed-card.vue';
  import { mapGetters } from 'vuex';

  export default {
    components: {
      UrFullBleedCard,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
      ]),
      computedModifier() {
        return this.expanded ? 'Less' : 'More';
      },
      computedCTA() {
        if (this.cta !== 'View More' && this.cta !== 'View Less') {
          return this.cta;
        }
        return `View ${this.computedModifier}`;
      },
      showCTA() {
        // Determine if we show CTA based on amount of card we have and breakpoint we're in.
        if ((this.xlarge || this.large) && this.cards.length > 6) {
          return true;
        }

        if (this.medium && this.cards.length > 4) {
          return true;
        }

        if (this.small && this.cards.length > 3) {
          return true;
        }

        return false;
      },
    },
    methods: {
      expandToggle() {
        this.expanded = !this.expanded;
      },
    },

    data() {
      return {
        expanded: false,
      };
    },

    name: 'UrUseCaseBlock',
    props: {
      cards: {
        type: Array,
        default: () => [],
      },
      cta: {
        type: String,
        default: 'View More',
      },
      loading: {
        type: Boolean,
        default: false,
      },
      title: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="scss">
  @import'_01-variables.scss';

  $column-spacer: 12px;
  $row-spacer: 24px;

  .paragraph.paragraph--type-use-case {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .ur-use-case-block {
    background: $color-grey-5;

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      padding: 0 $row-spacer;
    }

    &__title {
      font-size: $font-size-h2;
      line-height: 1;
      margin: 0;
      padding: 40px 0 32px;
      text-align: center;

      @media (min-width: $break-medium) {
        font-size: $font-size-h1;
      }

      &:after {
        @extend %decorative-bar-wide;
      }
    }
    & &__cta {
      padding: 40px 0 60px;
      button {
        margin: 0 auto;
        width: auto;
      }
    }

    .card {
      &:nth-child(n + 2) {
        padding-top: $row-spacer;
      }

      &:nth-child(n + 4) {
        display: none;
      }

      @media (min-width: $break-small) {
        padding-left: $column-spacer;

        &:nth-child(n + 2) {
          padding-top: 0;
        }

        &:nth-child(n + 3) {
          padding-top: $row-spacer;
        }

        &:nth-child(2n + 1) {
          padding-left: 0;
        }

        &:nth-child(n + 4) {
          display: flex;
        }

        &:nth-child(n + 5) {
          display: none;
          flex-grow: 0;
        }
      }

      @media (min-width: $break-medium + 1px) {
        &:nth-child(n + 2) {
          padding-top: 0;
        }

        &:nth-child(n + 4) {
          padding-top: $row-spacer;
        }

        &:nth-child(2n + 1) {
          padding-left: $column-spacer;
        }

        &:nth-child(3n + 1) {
          padding-left: 0;
        }

        &:nth-child(n + 5) {
          display: flex;
        }

        &:nth-child(n + 7) {
          display: none;
          flex-grow: 0;
        }
      }

      &:hover {
        text-decoration: none;
        &:hover {
          h3.ur-full-bleed-card__title {
            text-decoration: none;
          }
        }
      }

      .ur-full-bleed-card {
        flex-grow: 1;
      }
    }

    &__expanded.ur-use-case-block {

      .card {
        display: flex;
      }
    }
  }
</style>
