.project-uptime-article-featured {
  .project-uptime-article-featured__container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__content {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content-inner {
    margin: auto 0;
  }

  &__subtitle h5 {
    color: $color-orange;
  }

  &__title h2 {
    color: $color-white;
    font-size: $font-size-h1;
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      @include object-fit;
    }
  }
}