<div class="project-uptime-article-featured">
  <article class="project-uptime-article-featured__container">
    {% block content %}
      <a href="{{ article_link }}" class="project-uptime-article-featured__link">
        <div class="project-uptime-article-featured__content grid">
          <div class="project-uptime-article-featured__content-inner">
            <div class="project-uptime-article-featured__subtitle">
              {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
              with {
              "heading_5": article_subtitle,
              "heading_5_modifiers": article_subtitle_modifiers,
              "heading_5_blockname": article_subtitle_blockname,
              }
              %}
            </div>
            <div class="project-uptime-article-featured__title">
              {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig"
              with {
              "heading_2": article_title,
              "heading_2_modifiers": article_title_modifiers,
              "heading_2_blockname": article_blockname,
              }
              %}
            </div>
          </div>
        </div>
        <div class="project-uptime-article-featured__image">
          <img src="{{ article_image_src }}" alt="{{ article_image_alt }}" />
        </div>
      </a>
    {% endblock %}
  </article>
</div>
