// TODO: Figure out how patternlab is doing the forms.
// This sibling selector ensures that for mobile/tablet sizes when nested-nav
// is open that the subscribe form is also shown
.nested-navigation.is-open + .project-uptime-subscribe-form {
  display: block;
}

.project-uptime-subscribe-form {
  display: none;
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-med;
  margin: 16px 12px 32px;
  padding: 18px;

  @include breakpoint($break-medium) {
    display: block;
    margin: 0 24px;
  }

  .heading-4 {
    max-width: 60%;
    margin: 0 0 .5rem;
    line-height: 24px;

    @include breakpoint($break-medium) {
      max-width: 88%;
    }
  }

  small {
    line-height: 16px;
    display: block;
    margin: 0 0 .5rem;
  }

  @include breakpoint($break-small) {
    form {
      display: flex;

      .form-item {
        max-width: 60%;
        margin-right: 1rem;
      }

      .form-submit {
        height: 2.2857142857em;
        display: block;
        width: auto;
      }
    }
  }

  @include breakpoint($break-medium) {
    form {
      display: block;

      .form-item {
        max-width: none;
        margin: 0;
      }

      .form-submit {
        height: 2.85714em;
        width: 100%;
      }
    }

  }

  ::placeholder {
    font-size: $font-size-small;
  }
}