<div class="pardot-subscribe-form">
  {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
    with {
      "heading-4": block_title
    }
  %}
  {%  include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": block_subtitle
    }
  %}
</div>