<div class="object-list-header">
  <div id="filter-sort-buttons" class="filter-sort-buttons">
    <button class="button filters__button" href="#">
      {{ 'Filters' | t }}
    </button>
  </div>
  
  <div class="label-select_container">
    <div class="label-side">
      <div class="heading-label">
        <h1 class="heading-1">
          {% if currentSubCategory %}
            {{ currentSubCategory.name }}
          {% else %}
            {{ currentCategory.name }}
          {% endif %}
          <span class="results-number__heading-1">
            {% if resultsCount %}
            <span>({{ resultsCount }})</span>
            {% endif %}
          </span>
        </h1>
      </div>

      {% if categoryDescription %}
      <div class="description_container">
        <div class="paragraph description__paragraph less">
          {{ categoryDescription | raw }}
        </div>
        {% if categoryDescription | striptags | length > 64 %}
        <p class="more_less_toggle">
          <a class="link toggle" data-target=".description_container > .description__paragraph" href="#">{{ 'Show More' | t }}</a>
        </p>
        {% endif %}
      </div>
      {% endif %}
      <div>
        {% if selectedFilters %}
        <div class="search-term-badge-container">
          {% for selectedFilter in selectedFilters %}
          <button class="search-term-badge" href="#" data-key="{{ selectedFilter.key }}"
            {% if selectedFilter.tid %} data-tid="{{ selectedFilter.tid }}"{% endif %}
            {% if selectedFilter.term %} data-term="{{ selectedFilter.term }}"{% endif %}>
            {{ selectedFilter.name }}
          </button>
          {% endfor %}
          <p class="clear-all">
            {{ 'Clear All' | t }}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="ur-drawer-banner__wrapper">
    <ur-drawer-banner/>
  </div>
</div>