<p>Build your list of partial matches here. In order of descending priority,
  the first match to match the path when a 4xx error occurs will be used to
  respond to the 4xx error.
</p>
<div class="panel">
  <a class="button button-action button--primary button--small" href="/admin/config/match_4xx/form">Add New Match</a>
</div>
{{ table }}

