@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Main
// The default stylesheet that compiled and used by browsers
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import 'globals';

/**
 * Typography
 * Basic typography styles
 */
@import 'base/typography';

/**
 * Tables
 * Basic table styles
 */
@import 'base/table';

/**
 * Font sizes - From utility-classes.scss
 * Print the font size variables as classes
 * $font-sizes map @ abstracts/variables/typography
 *
 * Expected:
 *  .font-size-*
 */
@each $key, $value in $font-sizes {
  .font-size-preset-#{$key} {
    font-size: $value;
  }

  .type-preset-#{$key} {
    @include type-preset(
      $version: $key
    );
  }

  .type-preset-#{$key}--header {
    @include type-preset(
      $version: $key,
      $type: header
    );
  }

  .type-preset-#{$key}--margin {
    @include type-margin-preset($key);
  }
}
