.rent-equipment-landing {
  padding: 0;
  flex-direction: column;

  @include breakpoint($break-medium) {
    flex-direction: row;
    max-width: 1472px;
    margin: 0 auto;
    padding: 30px 5vw 70px 5vw;
  }

  //Two below breakpoints for main padding from Hero
  @include breakpoint($break-small) {
    padding-top: 30px;
  }

  @include breakpoint($break-medium) {
    padding-top: 60px;
  }

  &__category-menu {
    padding: 0;

    @include breakpoint($break-medium) {
      @include setColumn(3, 12);
      border-right: 1px solid $color-grey-11;
    }
  }

  &__carousel {
    margin-bottom: -58px;

    @include breakpoint(max-width $break-medium) {
      padding: 0 3% !important;
    }

    @include breakpoint($break-medium) {
      @include setColumn(9, 12);
      padding: 0 37px 0 50px !important;
    }

    .VueCarousel-slide {
      > * {
        margin: 8px 4px 0px 4px;
      }
    }
    &-title {
      font-size: $font-size-large;
      font-weight: bold;
      margin: 15px 0 15px 10px;

      @include breakpoint($break-small) {
        margin: 20px 0 20px 0;
      }

      @include breakpoint($break-medium) {
        font-size: $font-size-h3;
        margin: 0 0 20px 0;
      }
    }

  }
}

#block-views-block-promotion-pods-rent-equipment-landing-1 {
  padding: 40px 0;
  @include breakpoint(max-width $break-medium) {
    display: none;
  }

  @include breakpoint($break-medium) {
    max-width: 1472px;
    margin: 0 auto;
    background: $color-grey-2;
  }
}

#block-views-block-promotion-pods-rent-equipment-landing-2 {
  padding: 50px $_padding-small;

  @include breakpoint($break-medium) {
    padding: 50px $_padding-large 90px;
    max-width: 1472px;
    margin: 0 auto;
  }

  .heading-2 {
    font-size: $font-size-h3;
    @include breakpoint($break-small) {
      margin: 0 0 25px 44px;
    }
  }

  .VueCarousel-slide > * {
    margin: 0 8px;
  }
}
