{% set category_menu_list %}
  {% block category_menu_list %}
  {% endblock %}
{% endset %}
<div class="rent-equipment-landing grid">
  <div class="rent-equipment-landing__category-menu column">
    {% embed "@organisms/category-menu/category-menu.twig" %}
      {% block category_menu_list %}
        {{ category_menu_list }}
      {% endblock %}
    {% endembed %}
  </div>

  <div class="rent-equipment-landing__carousel column">
    <h2 class="rent-equipment-landing__carousel-title">{{ popular_equipment_title }}</h2>
    {% block rent_equipment_landing_carousel %}
    <carousel
      class="carousel__project-uptime"
      :min-swipe-distance="0"
      :per-page=1
      :per-page-custom="[[640, 2],[1024, 3],[1440, 4]]"
      :navigation-enabled="true"
      :pagination-color="'#DDE0E2'"
      :pagination-active-color="'#008CFF'"
      :navigation-next-label="''"
      :navigation-prev-label="''"
      :scroll-per-page="true"
      @page-change="gtmTrackCarouselButton('popular-equipment-types', $event)"
    >
      <slide>
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
      </slide>
      <slide>
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
      </slide>
      <slide>
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
      </slide>
      <slide>
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
      </slide>
    </carousel>
    {% endblock %}
  </div>
</div>
