// Widths and base sizing
$max-width: 1200px;
$base-font-size: 87.5%; // setup to work with rems
$base-border-size: 5px;
$measure-max: 675px; // use for paragraph measure.

// #COLOR /*#134685*/

//
// Colors variables are set up in a 2 teir system. The first
// tier defines the specific color values. The second tier
// defines the application of those colors.

//
// Color Values
// 1)  Color Values provide the specific hex colors. They are given a name and number
//     to display tints and shades of a color.
// 2)  These values should never be used directly. Instead use a second-tier applied color.

//Navy
$color-blue: #0050A9;
$color-blue-lowlight: #002F55;
$color-blue-highlight: #008CFF;
$color-blue-subtle: #EDF8FF;

//orange
$color-orange: #F99222;
$color-orange-lowlight: #B03712;
$color-orange-highlight: #FFCF3D;
$color-orange-subtle: #FFF2EC;

//Bright Red
$color-bright-red: #E10000;
$color-bright-red-lowlight: #840000;
$color-bright-red-highlight: #FF4F4F;
$color-bright-red-subtle: #FFECEC;

//Green
$color-green: #48BD00;
$color-green-highlight: #237000;

//Grey
$color-white: #FFF;
$color-grey-2: #F9F9F9; // Also referred to as subtle grey
$color-grey-5: #F2F2F2;
$color-grey-11: #DDE0E2; // Also referred to as light grey
$color-grey-38: #91969B; // Also referred to as united grey
$color-grey-69: #414B50; // Also referred to as dark grey
$color-grey-79: #161718;
$color-black: #000000;

//Transparent
$color-transparent: transparent;

//Scrims (or overlay backgrounds)
%scrim-dark{
  background-color: rgba($color-grey-69, 0.2);
}
$scrim-65: rgba(65,75,80,0.65);

%scrim-toast{
  background: $scrim-65;
}

%scrim-image {
  background: rgba($color-grey-79,0.65);
}

%scrim-gradient{
  background: linear-gradient(rgba($color-grey-69,1.0), rgba($color-grey-69, 0));
}
%scrim-lead-gen{
  background: rgba(0,0,0,0.65)
}

%scrim-hero-gradient{
  background: linear-gradient(180deg, $color-blue-lowlight 3%, rgba(0,80,169,0.00) 68%);
}
//TODO added this scrim

//
// Applied Colors
// Applied colors are descriptive of their use.

//Brand
$color-brand-primary: $color-blue;
$color-brand-secondary: $color-blue-highlight;


//Utility Colors
$color-utility-positive: $color-blue-highlight;
$color-utility-positive-subtle: $color-blue-subtle;
$color-utility-attention: $color-orange;
$color-utility-attention-subtle: $color-orange-subtle;
$color-utility-negative: $color-bright-red;
$color-utility-negative-subtle: $color-bright-red-subtle;

//Text Colors
$color-text: $color-grey-69;
$color-text-subtle: $color-grey-38;
$color-text-reverse: $color-white;
$color-text-subtle-reverse: rgba($color-white, .38);

//Link Colors
$color-text-link: $color-blue;
$color-text-link-hover: $color-blue-highlight;
$color-text-link-visited: $color-text-link;
$color-text-link-active: $color-blue;

$color-text-link-light: $color-white;
$color-text-link-light-hover: $color-white;
$color-text-link-light-visited: $color-white;
$color-text-link-light-active: $color-white;

//Border Color
$color-border: $color-grey-11;

//Aliases
$gray-light: $color-grey-11;
$gray-lighter: $color-grey-11;
$gray-lightest: $color-grey-2;
$gray-dark: $color-grey-69;
$gray-darker: $color-grey-69;
$black: $color-black;
$gray: $color-grey-38;
$white: $color-white;
$near-white: $color-grey-2;
$united-grey: $color-grey-38;

// Color map
$ur-colors: (
  '-blue': $color-blue,
  '-blue-lowlight': $color-blue-lowlight,
  '-blue-highlight': $color-blue-highlight,
  '-blue-subtle': $color-blue-subtle,
  '-border': $color-border,
  '-orange': $color-orange,
  '-orange-lowlight': $color-orange-lowlight,
  '-orange-highlight': $color-orange-highlight,
  '-orange-subtle': $color-orange-subtle,
  '-bright-red': $color-bright-red,
  '-bright-red-lowlight': $color-bright-red-lowlight,
  '-bright-red-highlight': $color-bright-red-highlight,
  '-bright-red-subtle': $color-bright-red-subtle,
  '-white': $white,
  '-gray-lightest': $color-grey-2,
  '-near-white': $color-grey-2,
  '-gray-light': $color-grey-11,
  '-gray': $color-grey-38,
  '-united-gray': $color-grey-38,
  '-gray-dark': $color-grey-69,
  '-gray-darker': $color-grey-69,
  '-gray-darkest': $color-grey-79,
  '-green': $color-green,
  '-green-highlight': $color-green-highlight,
  '-black': $color-black,
  '-transparent': $color-transparent,
);


// #TYPOGRAPHY

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
$font-family-serif: Georgia, Times, "Times New Roman", "Noto Serif", serif;
$font-family-monospace: "Menlo", "Monaco", "Consolas", "Courier New", "Roboto Mono", monospace;
$font-family-base: $font-family-sans-serif;

.font-family-sans-serif{
  font-family: $font-family-sans-serif;
}

.font-family-serif{
  font-family: $font-family-serif;
}

$body: $font-family-base;
$heading: $font-family-base;

$font-size-base: 1rem; //14
$font-size-xlarge: $font-size-base * 1.2857142857; //18
$font-size-large: $font-size-base * 1.1428571429; //16
$font-size-paragraph-lh: $font-size-base * 1.7142857142; // 24
$font-size-small: $font-size-base * 0.8571428571; //12
$font-size-xsmall: $font-size-base * 0.7142857143; //10
$font-size-xxsmall: 8px;
$font-size-display1: $font-size-base * 3.1428571429; //44
$font-size-h1: $font-size-base * 2; //28
$font-size-h2: $font-size-base * 1.5714285714; //22
$font-size-h3: $font-size-base * 1.2857142857; //18
$font-size-h4: $font-size-base * 1.1428571429; //16
$font-size-h5: $font-size-base; //14
$font-size-h6: $font-size-base * 0.8571428571; //12

$ur-font-sizes: (
  -base: $font-size-base,
  -large: $font-size-large,
  -plh: $font-size-paragraph-lh,
  -small: $font-size-small,
  -xsmall: $font-size-xsmall,
  -display1: $font-size-display1,
  -h1: $font-size-h1,
  -h2: $font-size-h2,
  -h3: $font-size-h3,
  -h4: $font-size-h4,
  -h5: $font-size-h5,
  -h6: $font-size-h6,
);

$font-weight-lightest: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$ur-font-weights: (
  -lightest: $font-weight-lightest,
  -light: $font-weight-light,
  -normal: $font-weight-normal,
  -bold: $font-weight-bold,
);

$line-height-h1: 1.2857142857;

// #BORDER
$border-grey: 1px solid $color-grey-11;

$ur-border-styles: (
  'normal': 1px solid $color-grey-11,
  'thick': 2px solid $color-grey-11,
  'none': none,
);

// Icon sizes
$icon-size-xx-small: 12px;
$icon-size-x-small: 16px;
$icon-size-small: 20px;
$icon-size-regular: 24px;

//Border Width
$border-light: 1px;
$border-med: 2px;
$border-thick: 4px;


//Border Radius
$border-radius-small: 2px;
$border-radius-med: 4px;
$border-radius-large: 8px;
$border-radius-xlarge: 12px;



// #SHADOWS

$shadow-light: 0px 2px 2px rgba($color-grey-69, .12);
$shadow-heavy: 0px 0px 8px rgba($color-grey-69, .24);
%shadow-depth-1   { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);   }
%shadow-depth-2   { box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .16);  }
%shadow-depth-3   { box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .16);  }
%shadow-depth-nav { box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);  }
%shadow-focus     { box-shadow: 0 0px 4px 0 rgba(0, 140, 255, 1); }
%card-shadow {
  border: 1px solid $color-grey-11;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.16);
}

// #DECORATIVE BARS

%decorative-bar-base {
  background: $color-orange;
  content: '';
  display: block;
  height: 4px;
  margin: 12px auto 0;
}

%decorative-bar-wide {
  @extend %decorative-bar-base;
  width: 240px;
}

%decorative-bar-short {
  @extend %decorative-bar-base;
  width: 120px;
}

// #BREAKPOINTS
//these are default Foundation 5 breaks
$break-xsmall: 380px;
$break-small: 640px;
$break-medium: 1024px;
$break-large: 1440px;
$break-xlarge: 1920px;

$ur-breakpoints: (
  -xs: $break-xsmall,
  -sm: $break-small,
  -md: $break-medium,
  -lg: $break-large,
  -xl: $break-xlarge,
);

// Grid
$grid-gutter-l-small: 8px;
$grid-gutter-g-small: 16px;
$grid-padding-l-medium: 3%;
$grid-gutter-g-medium: 5%;
$grid-column-count: 12;

// #ANIMATION

//Duration
$animation-speed-quick: 0.15s;
$animation-speed: 0.3s;
$animation-speed-long: 0.45s;

//Easing
$anim-ease: ease;

// # UTILITY CLASS VARIABLES
$ur-unit-spacing: 1rem;

$ur-unit-ratios: (
  0: 0,
  2: .2,
  5: .5,
  10: 1,
  20: 2,
  30: 3,
  40: 4,
  60: 6,
  100: 10
);

$ur-cardinal-labels: (
  #{''}: left right top bottom,
  l-: left,
  r-: right,
  t-: top,
  b-: bottom,
  x-: left right,
  y-: top bottom
);

// Max width for messaging modal windows
$ur-message-modal-width: 468px;

// Calendar Inputs
$calendar-input-height: 32px;

$z-index-base: 25;
$z-index-content: $z-index-base - 1;

%ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%type-paragraph-base {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 20px;
}

%type-paragraph-base-bold {
  @extend %type-paragraph-base;
  font-weight: $font-weight-bold;
}

%type-paragraph-xlarge {
  font-family: $font-family-base;
  font-size: $font-size-xlarge;
  line-height: 28px;
}

%type-paragraph-xlarge-bold {
  @extend %type-paragraph-xlarge;
  font-weight: $font-weight-bold;
}

%type-paragraph-large {
  font-family: $font-family-base;
  font-size: $font-size-large;
  line-height: 24px;
}

%type-paragraph-large-bold {
  @extend %type-paragraph-large;
  font-weight: $font-weight-bold;
}

%type-paragraph-small {
  font-family: $font-family-base;
  font-size: $font-size-small;
  line-height: 20px
}

%type-paragraph-small-bold {
  @extend %type-paragraph-small;
  font-weight: $font-weight-bold;
}

%type-paragraph-xsmall {
  font-family: $font-family-base;
  font-size: $font-size-xsmall;
  line-height: 20px
}

%type-paragraph-xsmall-bold {
  @extend %type-paragraph-xsmall;
  font-weight: $font-weight-bold;
}

%type-paragraph-xxsmall {
  font-family: $font-family-base;
  font-size: $font-size-xxsmall;
  line-height: 16px
}

%type-paragraph-xxsmall-bold {
  @extend %type-paragraph-xxsmall;
  font-weight: $font-weight-bold;
}

%type-header-h1 {
  font-family: $font-family-base;
  font-size: $font-size-h1;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 36px;
  margin-top: 52px;
  margin-bottom: 16px;
}

%type-header-h2 {
  font-family: $font-family-base;
  font-size: $font-size-h2;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 16px;
}

%type-header-h3 {
  font-family: $font-family-base;
  font-size: $font-size-h3;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 24px;
  margin-top: 44px;
  margin-bottom: 12px;
}

%type-header-h4 {
  font-family: $font-family-base;
  font-size: $font-size-h4;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 8px;
}

%type-header-h5 {
  font-family: $font-family-base;
  font-size: $font-size-h5;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 8px;
}

%type-header-h6 {
  font-family: $font-family-base;
  font-size: $font-size-h6;
  color: $color-text;
  font-variant: none;
  font-weight: bold;
  line-height: 16px;
  margin-top: 40px;
  margin-bottom: 8px;
}
