.carousel {
  &__project-uptime {
    .VueCarousel {
      &-navigation {
        display: none;

        @include breakpoint($break-small) {
          display: block;
        }
      }

      &-navigation-button {
        @extend .icon;
        @extend .icon-angle-down;
        font-size: 32px !important;
        color: $color-grey-38 !important;

        &:before {
          display: block;
        }
      }

      &-navigation--disabled {
        color: $color-grey-11 !important;
        opacity: 1 !important;
      }

      &-navigation-prev:before {
        transform: rotate(90deg);
      }

      &-navigation-next:before {
        transform: rotate(270deg);
      }
    }
    // home-page -> popular-equipment-types
    &#popular-equipment-types {
      .VueCarousel-pagination {
        display: none;
        
        @include breakpoint($break-medium) {
          display: block;
        }
      }
    }
  }
}