/////////////////////
// Mixins

/// Mixin - Font-Size.
/// Adds px value for fallback - then rem value
/// use example =   @include font-size(1.6); = 1.6rem / 16px

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/// Mixin - Clearfix.
/// Adds clearfix based on http://bourbon.io/docs/#clearfix
/// use example =   @include cleafix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/// Mixin - list-reset
/// Reset list item defaults when no margin, padding, list styles needed

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/// Mixin - With Icon
/// Precede Text with SVG icon
@mixin with-icon {
  background-size: cover;
  content: "";
  display: inline-block;
  margin-right: .1em;
  padding: .8em;
}

/// Mixin - Icon with circular bg
/// Mixin for the circular icon-bg (see source/patterns/01-atoms/headings for usage)
@mixin icon-bg($color: $black) {
  background-color: $color;
  border-radius: 20px;
  margin-right: .4em;
}

/// Mixin - Outer container
/// Outer container mixin for large screens
@mixin outer-container {
  margin: 0 auto;
  max-width: $max-width;
  @include clearfix;
}

/// Mixin - More Link
/// Used in a number of views
@mixin more-link {
  a {
    @include font-size(.9);
    font-weight: 600;
    text-decoration: none;

    &::before {
      content: "»";
      font-size: 1.2rem;
      margin-right: .2em;
    }
  }
}

/// Mixin - Back Link
/// Used in a number of views
@mixin back-link {
  display: block;
  @include font-size(.9);
  font-weight: 600;
  text-decoration: none;

  &::before {
    content: "«";
    font-size: 1.2rem;
    margin-right: .2em;
  }
}

/// Mixin - Body Copy
// @mixin body-copy {
//   font-family: $body;
//   @include font-size(.9);
//   line-height: 1.6em;
// }

/// Mixin - Transition
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin fill-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  // Fallback styles for IE. Class is added to <html> by a JS test.
  .no-object-fit & {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin calcLineHeight($fontSize, $lineHeight) {
  line-height: $lineHeight / $fontSize;
}

@mixin dropdown-style($padding-left) {
  position: relative;
  background: $color-white;
  width: 100%;
  height: 32px;
  font-size: $font-size-large;
  padding-left: $padding-left;
}

%calendar-span{
  display: inline-block;
  height: $calendar-input-height;
  margin-bottom: 7px;
  position: relative;
}
%calendar-span-icon{
  bottom: 0;
  color: $color-blue;
  content: "\f133";
  font-family: icomoon;
  font-size: $font-size-h4;
  height: $calendar-input-height/2;
  margin: auto 0;
  pointer-events: none;
  position: absolute;
  right: 14px;
  top: 0;
  z-index: 1;
}
