//
// header,
// main,
// footer {
//   @include outer-container;
//   margin-bottom: 4em;
// }
//
// .layout-content {
//   padding: 0 1em;
//
//   @include xl {
//     padding: 0;
//   }
// }
//
// .layout-sidebar {
//   @include xl {
//     @include grid-span(3,1);
//   }
// }
//
// .layout-content {
//   @include xl {
//     @include grid-span(9,4);
//
//     &--no-sidebar {
//       @include grid-span(12,1);
//     }
//   }
// }
