@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Location Entity: Full View Mode
// Location Entity type specific styles
//
// sass-lint:disable class-name-format, id-name-format
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.path-locations,
.path-location-entity {
  .header__secondary-navigation {
    display: none;
  }
}

.state_results_section .results_section {
  max-height: rem(1000);
  overflow: hidden;
  transition: all 100ms $transition-base-style;

  &.hide {
    max-height: 0;
    overflow: hidden;
  }
}

.location-finder-wrapper {
  @media (min-width: 640px) {
    height: calc(100vh - 64px);
  }

  @include media ('>=m') {
    height: calc(100vh - #{rem(176)});
  }
}

.location-finder-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: 640px) {
    flex-direction: row;
    height: 100%;
    overflow: hidden;
  }

  #map {
    height: 100%;
  }

  .empty-results-container {
    @include type-preset(40);
  }

  .cluster_icon {
    background-image: url('/themes/custom/urone/icons/map-markers/cluster-small.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-text-reverse;
    font-size: 0.8em;
    height: rem($scale-10);
    line-height: rem($scale-11);
    text-align: center;
    transition: all 200ms $transition-base-style;
    width: rem($scale-10);

    &:hover {
      transform: scale(1.2) translateY(-8%);
      transition: $transition-base;
    }
  }

  .marker_general {
    background-image: url('/themes/custom/urone/icons/map-markers/general.svg');
  }

  .marker_specialty {
    background-image: url('/themes/custom/urone/icons/map-markers/specialty.svg');
  }

  .marker_icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(31);
    text-align: center;
    transition: all 200ms $transition-base-style;
    width: rem(22);

    &:hover {
      transform: scale(1.3) translateY(-8%);
      transition: $transition-base;
    }
  }

  .marker_active {
    .marker_icon {
      transform: scale(1.3) translateY(-8%);
      transition: $transition-base;
    }
  }

  .leaflet-div-icon {
    // !important is for overridding the default bg and border
    background: none !important; // sass-lint:disable-line no-important
    border: 0 none !important; // sass-lint:disable-line no-important
  }

  .leaflet-pane {
    animation: mapin 200ms $transition-base-style;
  }

  @keyframes mapin {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .header-slide-enter-active {
    transition: all 400ms $transition-base-style;
  }

  .header-slide-enter {
    margin-bottom: rem($scale-20);
    opacity: 0;
    transform: translateY(-100%);
  }

  .footer-slide-enter-active {
    transition: all 400ms $transition-base-style;
  }

  .footer-slide-enter {
    margin-top: rem($scale-25);
    opacity: 0;
    transform: translateY(100%);
  }

  .branch-details_container {
    padding: 0 rem($gap-c);

    .branch-details-buttons {
      display: flex;
      justify-content: space-between;

      button {
        width: 50%;
      }

      .button--secondary {
        @include btn(
          $style: secondary,
          $style-only: true
        );

        margin-left: rem(1);
        margin-right: rem($gap-b);
      }
    }
  }

  .gm-style-mtc,
  .gm-fullscreen-control {
    display: none;
    pointer-events: none;

    button {
      pointer-events: none;
    }
  }

  .gm-bundled-control-on-bottom {
    // !important is from old code to be converted
    margin-bottom: rem($scale-11) !important;// sass-lint:disable-line no-important
  }

  .mobile-map-hider {
    background-color: $color-bg-light-primary;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: calc(100vh - #{rem(114)});
    position: absolute;
    top: rem(50);
    width: 100%;
    z-index: 3;
  }

  .mobile-list-view {
    height: rem(50);
  }

  .vue-map-container {
    height: 100%;
  }

  .vue-street-view-pano-container {
    position: relative;

    .vue-street-view-pano {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .scroll-top {
    justify-content: center;
  }

  .location-search {
    display: flex;
    height: rem($scale-10);
    width: 100%;

    // when two fields are together hide the right border
    .branch-filter + .location-autocomplete {
      .input-wrapper input {
        border-left: 0 none;
      }
    }

    .branch-filter {
      width: 40%;
      z-index: 9999;

      .icon-after-angle-down::after {
        color: $color-text;
      }

      select {
        @include type-preset(
          $version: 30,
          $type: header
        );

        background-color: $color-bg-light-secondary;
        border-radius: $border-radius-small 0 0 $border-radius-small;
        font-family: $font-family-sans-serif;
        height: rem($scale-10);
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .branch-filter-menu-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .ur-menu-container {
        background-color: $color-bg-light-primary;
        border: 0;
        border-radius: $border-radius-small;
        box-shadow: none;
        display: flex;
        height: 0;
        opacity: 1;
        overflow-y: scroll;

        &.active {
          border: $border-width-light solid $color-bg-light-secondary;
          box-shadow: $shadow-depth-two;
          height: 13rem;
          opacity: 1;
          transition: height 400ms cubic-bezier(0, 1, 0, 0.99);

          .ur-menu-group-item {
            @include gap(
              $property: padding,
              $sizes: $gap-b $gap-c
            );

            opacity: 1;
          }
        }
      }

      .ur-menu-wrapper {
        position: relative;
        width: 100%;

        .ur-menu-button {
          @include icon(
            $filename: arrow-down,
            $insert: after
          );

          @include type-preset(
            $version: 30,
            $type: header
          );

          align-items: center;
          background-color: $color-bg-light-secondary;
          border: $border-width-light solid $color-utility-border;
          border-radius: $border-radius-small 0 0 $border-radius-small;
          cursor: pointer;
          display: flex;
          height: rem($scale-10);
          justify-content: space-between;
          margin-bottom: 0;
          padding: 0 rem($gap-b);
          width: 100%;
        }
      }

      .ur-menu-group {
        .ur-menu-group-item {
          @include type-preset(30);

          color: $color-text;
          margin: rem($scale-1) 0;
          opacity: 0;
          padding: rem(90) rem($scale-2) rem($scale-2);
          transition-delay: 100ms;
          transition-duration: 200ms;
          transition-property: opacity, padding;

          a {
            @include gap(
              $property: margin,
              $sizes: $gap-b 0
            );

            color: $color-text;
            width: 100%;

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }
          }
        }

        .ur-menu-group-item:first-of-type {
          margin-top: 0;
        }

        .selectable:hover {
          background-color: $color-blue-subtle;
          color: $color-text;
          cursor: pointer;
        }
      }
    }

    .location-search-button {
      @include gap(
        $property: padding,
        $sizes: $gap-b
      );

      background-color: $color-brand-primary;
      border: 0;
      border-radius: 0 $border-radius-small $border-radius-small 0;
      display: inline-block;
      height: 100%;
      margin: 0;
      width: rem($scale-10);

      i {
        color: $color-text-reverse;

        &::before {
          margin: 0;
        }
      }
    }

    .location-autocomplete {
      .input-group {
        flex: 1 1 auto;
      }

      input {
        @include type-preset(30);
        border-radius: 0;
        height: rem($scale-10);
        margin-bottom: 0;
      }

      .icon-before-location::before {
        color: $color-text;
        position: absolute;
        right: rem($gap-b);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .location-search {
    display: flex;
    margin-bottom: rem($scale-2);

    .location-autocomplete {
      flex: 1;
    }
  }

  .location-finder-content-panel {
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 3;

    @include media('>=s') {
      border-left: $border-width-light solid $color-utility-border;
    }

    .dropdown-style1 {
      height: rem($scale-10);
      margin-bottom: 0;
    }

    select::-ms-expand {
      display: none;
    }

    .content-panel__content {
      flex: 1 1 auto;
      height: 100%;
      overflow-x: hidden;
    }

    @media (min-width: 640px) {
      overflow: hidden;
      width: rem(375);
    }
  }

  .location-map {
    height: 100%;
    position: relative;

    @media (min-width: 640px) {
      flex: 1 1 auto;
    }
  }

  .mobile-search-container {
    display: flex;
    margin-left: 5vw;
    width: 90vw;
  }

  .mobile-search {
    display: flex;
    margin-bottom: 1rem;
    width: 65%;

    .location-autocomplete {
      flex: 1 1 auto;

      input {
        @include type-preset(30);

        border-radius: 0;
        height: rem($scale-10);
        margin-bottom: 0;
      }
    }

    .mobile-search-submit {
      background-color: $color-brand-primary;
      border: 0;
      border-radius: 0 $border-radius-med $border-radius-med 0;
      width: rem(35);

      i {
        color: $color-text-reverse;
      }
    }
  }

  .mobile-search-container-mapview {
    display: flex;
    left: 5vw;
    position: absolute;
    top: rem(70);
    width: 90vw;
    z-index: 5;

    .error__paragraph {
      @include gap(
        $property: padding,
        $sizes: $gap-a
      );

      background-color: $color-bg-light-primary;
    }

    .icon-after-location::after {
      color: $color-text;
    }
  }

  .scroll-top #showScrollButton {
    top: rem(120);

    @media (min-width: 640px) {
      top: rem(10);
    }
  }
}

.location-finder-modal {
  .modal-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: calc(100vh - #{rem(167)});
    overflow: hidden;
    padding: 0;

    @media (min-width: 1024px) {
      height: 61vh;
    }

    @media (min-width: 1440px) {
      height: 63vh;
    }

    .location-finder-container {
      .mapview {
        height: calc(100% - #{rem(50)});
        position: absolute;
      }

      .mobile-map-hider {
        display: flex;
        height: calc(100% - #{rem(50)});
        min-height: initial;

        .mobile-content {
          flex: 1 1 auto;
          overflow: scroll;
        }
      }
    }

    .modal-body-content {
      height: 100%;
    }

    .location-finder-container {
      height: 100%;
    }
  }

  .modal-footer {
    flex-direction: row;
    justify-content: center;

    @media (min-width: 640px) {
      justify-content: flex-end;
    }
  }

  .scroll-top #showScrollButton {
    top: rem(120);

    @media (min-width: 640px) {
      top: rem(10);
    }
  }
}

.content-panel-footer_container {
  @include container-full-width();

  background-color: $color-bg-light-secondary;
  box-shadow: $shadow-depth-three;
  position: relative;

  @include media('>=s') {
    @include container-reset();
  }
}

.content-panel-footer_container .content-panel-footer {
  display: flex;
  flex-direction: row;

  .icon {
    font-size: $icon-size-regular;
    margin: 0;
    vertical-align: middle;
  }
}

.content-panel-footer_container .content-panel-footer .content-panel_pagination {
  @include gap(
    $property: padding,
    $sizes: $gap-c
  );

  height: auto;
  min-height: rem(50);
  width: 100%;

  &:empty {
    display: none;
  }

  .heading-6 {
    font-weight: $font-weight-regular;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: center;

    @include media('>=s') {
      justify-content: space-between;
    }

    ul,
    li {
      padding: 0;
    }
  }
}

.content-panel_pagination .pager__summary,
.content-panel_pagination .js-pager__items {
  display: inline-block;
}

.location-finder-container-mobile {
  position: relative;

  .content-panel-footer_container {
    bottom: rem(-1);
    height: rem(70);
    position: sticky;
  }

  .mobile-content {
    flex: 1 1 auto;
    margin-top: 2rem;

    .results-content-blocks {
      .empty-results-container {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }
  }

  .mapview {
    height: calc(100vh - #{rem(114)});
    left: 0;
    top: rem(50);
    width: 100vw;

    .branch-details_container {
      background-color: $color-bg-light-primary;
      border-radius: $border-radius-med;
      bottom: rem($scale-5);
      box-shadow: $shadow-depth-three;
      left: rem($scale-5);
      padding: rem($scale-3);
      position: absolute;
      width: calc(100vw - 40px);
      z-index: 2;

      .results-content-blocks {
        border: 0 none;
        margin: 0;
        padding: 0;

        h6 {
          margin-bottom: rem(5);
          margin-top: rem(5);
        }
      }
    }
  }

  .sliderotate-enter-active,
  .sliderotate-leave-active {
    transition: all 750ms $transition-base-style;

    #closeicon {
      transition: all 750ms $transition-base-style;
    }
  }

  .sliderotate-enter,
  .sliderotate-leave-to {
    transform: translateY(100%);

    #closeicon {
      transform: rotate(-180deg);
    }
  }
}

.hover-card {
  margin-bottom: rem($scale-11);
  max-height: rem(150);
  width: rem(360);

  a {
    color: $color-brand-primary;
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius-xlarge;
    box-shadow: $shadow-depth-three;

    .leaflet-popup-content {
      margin: rem($scale-5);
    }
  }

  .leaflet-popup-tip-container {
    display: none;
  }

  .results-content-blocks_title-mile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .small-grey__heading-6 {
    color: $color-text-subtle;
    margin: 0;
  }

  .small-grey__paragraph {
    @include type-preset(20);
    color: $color-text-subtle;
    margin: 0;
  }

  .heading-6,
  .phone-paragraph {
    @include gap(
      $property: margin,
      $sizes: $gap-a 0
    );
  }

  .heading-4 {
    @include gap(
      $property: margin,
      $sizes: $gap-a 0
    );

    color: $color-brand-primary;
    cursor: pointer;
    flex: 1 1;
    text-decoration: underline;
  }
}

.leaflet-resp-popup-south,
.leaflet-resp-popup-south-east,
.leaflet-resp-popup-south-west {
  margin-top: rem(-30);
}

.leaflet-bottom {
  bottom: rem($scale-16);
}

.state-list-container {
  .media_block {
    @include gap (
      $property: padding,
      $sizes: $gap-c $gap-c $gap-c 0
    );

    background-color: $color-bg-light-secondary;
    border-top: $border-width-light solid $color-utility-border;

    .paragraph {
      margin-bottom: 0;
    }

    > p:first-of-type {
      margin-top: 0;
    }

    p {
      padding-left: rem($gap-a);

      @include media('>=s') {
        padding-left: rem($gap-c);
      }
    }
  }

  .state_results_section {
    @include gap (
      $property: padding,
      $sizes: $gap-c
    );

    border-top: $border-width-light solid $color-utility-border;

    .state_result_country_title {
      @include icon(
        $filename: arrow-down,
        $insert: after
      ) {
        transition: $transition-base;
      };

      align-items: center;
      cursor: pointer;
      display: flex;
      font-weight: $font-weight-bold;
      justify-content: space-between;
      position: relative;
      width: 100%;

      &.closed::after {
        transform: rotate(180deg);
        transition: $transition-base;
      }
    }
  }
}

.results_section {
  @media (min-width: 640px) {
    padding: 0;
  }

  ul {
    columns: 2 rem(150);
    margin: rem($gap-b) 0 0;
    padding: 0;

    li {
      display: block;
      line-height: rem($scale-4);
      margin: 0 0 rem($scale-3);
      padding: 0;

      &.title__list-item:not(:first-of-type) {
        @include gap($gap-d);
      }
    }
  }

  .strong_labels__list-item {
    @include gap($gap-d);
  }
}

.branch-wrapper {
  @include gap(
    $property: padding,
    $sizes: $gap-a $gap-a $gap-a 0
  );

  border-top: $border-width-light solid $color-utility-border;
  margin-bottom: 0;
  position: relative;
}

.branchlist-enter-active {
  opacity: 1;
  // !important is from old code to be converted
  overflow: hidden !important; // sass-lint:disable-line no-important
  transition: all 400ms $transition-base-style 400ms;
}

.branchlist-enter {
  opacity: 0;
  transform: translateY(rem(60));
}

.branch-enter-animation {
  animation: slidein 750ms $transition-base-style 400ms;
}

@keyframes slidein {
  0% {
    border-bottom: 0 none;
    opacity: 0;
    padding-bottom: rem($scale-5);
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.branch-details_container .results-content-blocks {
  .small-grey__heading-6 {
    color: $color-text-subtle;
  }

  .field--name-field-title {
    @include type-preset(
      $version: 70,
      $type: header
    );
  }

  .branch-type-content-blocks-list {
    border-top: $border-width-light solid $color-utility-border;
    margin: 1em 0 0;
    padding: 1em 0 0;
  }

  .heading-2 {
    @include type-preset(
      $version: 70,
      $type: header
    );

    .address {
      margin-left: 0;
    }
  }

  .button {
    @include btn(
      $style: primary
    );

    @include gap($gap-c);
  }

  .return_directions {
    @include gap(
      $property: margin,
      $sizes: $gap-c 0 $gap-e
    );

    display: flex;
    justify-content: space-between;

    .icon {
      display: none;
    }

    .return__heading-6 a {
      @include link-btn(
        $size: small,
        $icon: long-arrow-left,
        $icon-position: before,
        $icon-color: $color-utility-attention
      );

      align-items: center;
      display: flex;
    }

    .directions__heading-6 a {
      @include link-btn(
        $size: small,
        $icon: location,
        $icon-position: after
      );

      align-items: center;
      display: flex;
    }
  }

  .address,
  .phonenumber,
  .fax,
  .manager,
  .direction {
    align-items: center;
    display: flex;
    margin: rem($gap-c) 0 0;

    .paragraph {
      margin: 0;
    }

    .icon {
      margin-right: rem($gap-c);
      text-align: center;
      width: $icon-size-small;

      &::before {
        font-size: $icon-size-xsmall;
      }
    }
  }

  .address {
    @include gap($gap-e);
  }

  .manager .icon {
    @include icon(
      $filename: account-circle,
      $size: $icon-size-xsmall
    )
  }

  .direction .icon {
    @include icon(
      $filename: near-me,
      $size: $icon-size-xsmall
    );
  }

  .hours-of-operation {
    @include gap($gap-e);

    .paragraph {
      display: flex;
      justify-content: space-between;
    }
  }

  .flex-video {
    margin: rem($gap-e) 0;
    text-align: center;
  }

  .results-content-blocks_container {
    @include gap($gap-c);

    &.branch-list {
      @include gap($gap-e);

      h2 {
        padding-bottom: rem($gap-c);
      }
    }

    .branch-wrapper {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.branch {
  background-color: $color-bg-light-primary;
  border: $border-width-light solid transparent;
  border-radius: rem($gap-b);
  cursor: pointer;
  padding-bottom: rem($gap-c);
  padding-left: 0.5rem;
  padding-top: rem($gap-c);
  transition: all $transition-base-time-style;

  &:hover {
    border-color: $color-utility-border;
    box-shadow: $shadow-depth-two;
    padding-bottom: rem($gap-c);
    padding-top: rem($gap-c);

    .branch-name {
      text-decoration: underline;
    }

    &::before {
      background-color: $color-bg-light-secondary;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .markers {
    background-color: $color-brand-secondary;
    border-radius: 50%;
    color: $color-text-reverse;
    float: left;
    height: rem($gap-b);
    left: rem(10);
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: rem($scale-9);
    width: rem($scale-2);
  }

  .markers-specialty {
    // !important is from old code to be converted
    @extend .markers; // sass-lint:disable-line no-extends, placeholder-in-extend
    background-color: $color-utility-attention;
  }

  .content-blocks {
    margin-left: rem($scale-10);
    padding-left: 0;
  }

  .small-grey__heading-6,
  .small-grey__paragraph {
    color: $color-text-subtle;
    font-size: 1rem * 0.7142857143;
    line-height: 2rem;
    margin: 0;
  }

  .heading-6.small-grey__heading-6 {
    text-transform: uppercase;
  }

  .grey__paragraph {
    color: $color-text-subtle;
  }

  .results-content-blocks_title-mile {
    position: relative;

    .heading-4 {
      color: $color-brand-primary;
      cursor: pointer;
      width: rem(260);
    }

    .paragraph {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 1em;
      top: 0;
    }
  }

  .blue__paragraph {
    color: $color-brand-primary;
    margin-bottom: 0;
    margin-top: rem($scale-3);
  }

  .blue__heading-6 {
    color: $color-brand-primary;
    display: inline;
    margin-bottom: 0;
    position: relative;
  }

  .telephone-link {
    display: inline-block;
  }

  .branch--radio {
    margin-top: rem($gap-d);

    input[type=radio]:checked + label span::after {
      margin-left: -0.29rem;
    }
  }
}

// show the overflow of the results for full width cards
.branch-details_container .results-content-blocks .results-content-blocks_container {
  overflow: visible;
}

// make card full width -margin = +container padding
.branch-details_container .results-content-blocks .branch-wrapper {
  margin: 0 -2rem;
}

.content-panel-header_container {
  @include gap (
    $property: margin,
    $sizes: $gap-c
  );

  position: relative;
  z-index: 1;
}

.location-finder-container .location-search {
  display: flex;
  margin-bottom: rem($gap-b);
}

.location-finder-container .location-search {
  display: flex;
  height: rem($scale-10);
  width: 100%;
}

.location-finder-container .location-search .location-autocomplete {
  flex: 1;
}

.input-group {
  position: relative;
}

.region-content {
  .autocomplete .input-wrapper,
  .location-autocomplete .input-wrapper {
    position: relative;

    input {
      background-image: url('../../../icons/location--blue.svg');
      background-position: rem($gap-b) rem($scale-3);
      background-repeat: no-repeat;
      background-size: $icon-size-xsmall;
      padding-left: rem($gap-e);

      @include bs-ie() {
        background-position: rem(-15) rem(11);
        background-size: rem(60);
      }
    }
  }
}

.location-autocomplete .selected {
  color: $color-brand-primary;
  font-weight: $font-weight-bold;
  text-decoration: underline;
}

.autocomplete .clearspan,
.location-autocomplete .clearspan {
  -webkit-transform: translate(0, -50%);
  background-color: $color-bg-light-primary;
  color: $color-brand-primary;
  cursor: pointer;
  padding-left: rem($scale-2);
  position: absolute;
  right: rem(10);
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.autocomplete .suggestions,
.location-autocomplete .suggestions {
  background: $color-bg-light-primary;
  box-shadow: $shadow-depth-two;
  display: block;
  height: auto;
  left: auto;
  list-style: none;
  margin: 0;
  padding-bottom: 1rem;
  position: absolute;
  width: 100%;
  z-index: 500;
}

.autocomplete .suggestions,
.location-autocomplete .suggestions {
  padding: rem($gap-b);

  @media (min-width: 640px) {
    box-shadow: $shadow-depth-two;
    height: auto;
    left: auto;
    position: absolute;
    width: 100%;
  }
}

.autocomplete .suggestions li,
.location-autocomplete .suggestions li {
  @include gap(
    $property: padding,
    $sizes: $gap-a $gap-a $gap-a $gap-c
  );
}

.searchText {
  color: $color-brand-primary;
  font-weight: $font-weight-bold;
}

.input-group::after {
  clear: both;
  content: '';
  display: table;
}

/* Accordion styles */
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  &:checked {
    + {
      .tab-label {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
    ~ {
      .tab-content {
        max-height: 100vh;
      }
    }
  }
}
.row {
  display: flex;
  .col {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
.tabs {
  border-radius: 8px;
  overflow: hidden;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  border-width: thin;
  &::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.mobile {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
  .non-mobile {
    display: none !important;
  }
}
