{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% embed "@organisms/tile/news/featured-news-tile/_featured-news-tile.twig"
  with {
    featured_news_tile_catagory: 'Featured News'|t,
    featured_news_tile_headline: fields.title.content|render|striptags|trim,
    featured_news_tile_link_label: fields.field_news_external_link.content|render|striptags|trim,
    featured_news_tile_link_path: fields.field_news_external_link_1.content|render|striptags|trim,
  }
%}

  {% block featured_news_tile_image %}
      {{ fields.field_image.content }}
  {% endblock %}

{% endembed %}
