.project-uptime-article-popular {

  &__wrapper {
    width: 80%;
    margin: 40px auto 0;

    @include breakpoint($break-medium) {
      width: auto;
      margin-top: 0;
      max-width: 170px;
      margin-left: 20px;
      float: right;
    }

    h2.heading-2 {
      font-size: $font-size-xsmall;
      text-transform: uppercase;
      border-bottom: 1px solid $color-grey-11;
      padding-bottom: 6px;
    }
  }

  &__link {
    font-size: $font-size-small;
    font-weight: bold;
  }

  &__list {
    margin: 0;
    padding-left: 16px;

    li {
      margin: 3px 0 15px;
    }
  }
}

.project-uptime-article__content {
  padding-top: 25px;

  .project-uptime-article-popular__wrapper {
    display: none;

    @include breakpoint($break-medium) {
      display: block;
    }
  }
}

.project-uptime-article-details_popular_article {
  @include breakpoint($break-medium) {
    display: none;
  }
}
