<template>
  <div class="filterable-dropdown" ref="dropdown">
    <label v-if="label !== ''">{{ label }}</label>
    <div class="input-row" ref="inputWrapper">
      <div
        class="input"
      >
        <div :class="{'resultsVisible':resultsVisible}">
          <input
            class="ellipsis"
            ref="searchText"
            type="text"
            v-model="currentValueString"
            :disabled="disabled"
            :placeholder="placeholder"
            :class="{'withnew':withnew}"
            :title="inputTitle"
            @blur="handleBlur"
            @click="handleInputClick"
            @focus="handleFocus"
            @keyup.clear="handleClearKey"
            @keyup.delete="handleDelKey"
            @keyup.down.prevent="handleDownKey"
            @keyup.enter="handleEnterKey"
            @keyup.escape="handleEscapeKey"
            @keyup.tab="handleTabKey"
            @keyup.up.prevent="handleUpKey"
          >
          <i v-if="!resultsVisible && !disabled" class="icon icon-angle-down" @click.stop="handleInputClick"></i>
          <i v-if="resultsVisible && currentValueString.length > 0" class="icon icon-close-circle"
             @click="handleClearKey"></i>
        </div>
        <transition name="slide-fade">
          <div class="filterable-dropdown-results"
               v-if="resultsVisible"
               ref="searchResults">
            <ul :style="displayCountCalc">
              <li v-for="(item, idx) in displayItems"
                  v-bind:key="idx"
                  class="ellipsis"
                  @click.stop="handleItemClicked(item)"
                  :class="{'selected': selected === idx}"
                  :title="`${item.text}${item.description ? ' - ' : ''}${item.description || ''}`"
                  v-html="`${item.text}<span class='description'>${item.description ? item.description: ''}</span>`"
              >
              </li>
              <li v-if="displayItems.length <= 0">{{ $i18n('ur.noResult') }}</li>
            </ul>

          </div>
        </transition>
        <div class="mobile-spacer" v-if="showMobileSpacer">
        </div>
      </div>
      <button
        v-if="withnew"
        @click.stop.prevent="handleNewButtonClick"
        class="new-item-button button-action button--filled">
      </button>

      <!-- Hidden DOM that tests the actual height of a single result -->
      <!-- This allows us to use the prop "display-count" -->
      <template v-if="!heightSingleResult">
        <div class="filterable-dropdown-results height-test" style="opacity: 0; pointer-events: none;">
          <ul><li ref="heightTest" class="ellipsis">THIS IS A HEIGHT TEST. UNSEEN TO USER. <span class="description">TEST DESCRIPTION</span></li></ul>
        </div>
      </template>

    </div>
  </div>
</template>
<style lang="scss" scoped>
  // TODO: import and use urone global styles and strip out vue component specific styles
  // override positioning of dropdown arrow icons
  .add-to-cart__modal .add-to-cart__selections div.input-row {
    > div.input > div > {
      i.icon.icon-angle-down {
        right: 14px;
        top: 20px;
      }

      input {
        margin-bottom: 0px;
      }
    }
  }
</style>
<script>
  import { find, toString } from 'lodash';
  import BrowserInfo from '@/mixins/browser-info';

  export default {
    computed: {
      displayItems() {
        if (this.currentValueString && this.currentValueString !== '') {
          const current = this.currentValueString.toLowerCase();
          const re = new RegExp(`(${this.escapeRegExp(this.currentValueString)})`, 'ig');
          const output = this.options.map(a => ({ ...a }))
            .filter(a => (a.text.toLowerCase().includes(current) || (a.description && a.description.toLowerCase().includes(current))))
            .map(a => {
              a.text = a.text.replace(re, '<span class="match">$1</span>');
              if (a.description) {
                a.description = a.description.replace(re, '<span class="match">$1</span>');
              }
              return a;
            });
          return output;
        }
        return this.options.slice(this.startItem, this.startItem + this.maxItems);
      },
      inputTitle() {
        const currentValueStringIsSet = this.currentValueString && this.currentValueString !== this.placeHolder;
        const prefix = this.label ? `${this.label}: ` : '';
        return currentValueStringIsSet ? `${prefix}${this.currentValueString}` : '';
      },
      /* Using this computed to fix IE11 issue. IE11 does not support v-show and $ref style! */
      displayCountCalc() {
        return `max-height: ${this.displayCount * this.heightSingleResult}px;`;
      },
    },
    data() {
      return {
        currentValueString: '',
        heightSingleResult: 0,
        inputHeight: 0,
        resultsVisible: false,
        selected: -1,
        showMobileSpacer: false,
        startItem: 0,
      };
    },
    methods: {
      escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
      },
      handleBlur() {
        if (this.isMobile()) {
          this.showMobileSpacer = false;
        }
        this.resultsVisible = false;
      },
      handleClearKey() {
        this.selected = -1;
        this.currentValueString = this.setCurrentValueString(null, '');
        this.$refs.searchText.focus();
        this.resultsVisible = true;
        this.placeHolder = this.emptytext;
      },
      handleDelKey() {
        this.resultsVisible = true;
      },
      handleDownKey() {
        this.selected++;
        if (this.selected === this.displayItems.length) {
          this.selected = 0;
        }
        if (!this.resultsVisible) {
          this.currentValueString = this.setCurrentValueString(null, '');
          this.resultsVisible = true;
        }
      },
      handleEnterKey() {
        if (this.displayItems.length <= 0) {
          this.resultsVisible = false;
          return;
        }
        if (this.selected === -1) {
          this.selected = 0;
        }
        const matchingOption = find(this.options, a => a.value === this.displayItems[this.selected].value);
        this.currentValueString = this.setCurrentValueString(matchingOption);
        this.resultsVisible = false;
        this.$emit('change', matchingOption.value);
      },
      handleEscapeKey() {
        this.resultsVisible = false;
        this.currentValueString = this.setCurrentValueString(null, this.placeHolder);
      },
      handleFocus() {
        this.heightSingleResult = this.$refs.heightTest.offsetHeight;
        if (this.isMobile()) {
          this.showMobileSpacer = true;
        }
      },
      handleInputClick() {
        if (this.resultsVisible) {
          return;
        }
        this.placeHolder = this.currentValueString;
        this.$refs.searchText.focus();
        this.currentValueString = this.setCurrentValueString(null, '');
        this.resultsVisible = true;
      },
      handleItemClicked(item) {
        const matchingOption = find(this.options, a => a.value === item.value);
        this.currentValueString = this.setCurrentValueString(matchingOption);
        this.resultsVisible = false;
        this.$emit('change', item.value);
      },
      handleNewButtonClick() {
        this.$emit('new_button_clicked');
        return false;
      },
      handleOutsideClick(event) {
        if (!this.$refs.inputWrapper) {
          window.removeEventListener('click', this.handleOutsideClick);
        }
        if (this.$refs.inputWrapper.contains(event.target)) {
          return;
        }
        this.resultsVisible = false;
        this.currentValueString = this.setCurrentValueString(null, this.placeHolder);
        this.placeHolder = this.emptytext;
      },
      handleTabKey(event) {
        this.handleOutsideClick(event);
      },
      handleUpKey() {
        if (this.selected === 0) {
          this.selected = this.displayItems.length - 1;
        }
        else {
          this.selected--;
        }
        this.resultsVisible = true;
      },
    },
    mixins: [BrowserInfo],
    mounted() {
      if (toString(this.value) !== '') {
        const matchingOption = find(this.options, a => toString(a.value).toLowerCase() === toString(this.value).toLowerCase());
        if (matchingOption) {
          this.currentValueString = this.setCurrentValueString(matchingOption);
        }
      }
      else {
        this.placeHolder = this.emptytext;
      }

      this.$nextTick(() => {
        this.inputHeight = this.$refs.searchText.offsetHeight;
        this.heightSingleResult = this.$refs.heightTest.offsetHeight;
      });

    },
    name: 'filterable-select',
    props: {
      disabled: {
        type: Boolean,
        required: false,
        default: false,
      },
      displayCount: {
        type: Number,
        required: false,
        default: 5,
      },
      emptytext: {
        type: String,
        required: false,
        default: '',
      },
      /**
       * Instruct the Filterable Dropdown Results to be position: fixed.
       *
       * Any Account Selector inside a modal will need to be Fixed so its results don't expand
       * the modal content. Expect the modal to also be fixed (via other existing coding).
       *
       * Any Account Selector OUTSIDE a modal, should likely need a default position (absolute),
       * so the results can be scrolled with the page.
       */
      fixed: {
        type: Boolean,
        required: false,
        default: false,
      },
      label: {
        type: String,
        required: false,
        default: '',
        description: 'The label to display above the dropdown',
      },
      maxItems: {
        type: Number,
        required: false,
        default: 50,
        description: 'The maximum number of items to display at one time',
      },
      options: {
        type: Array,
        required: true,
        default() {
          return [];
        },
        description: 'An array of options in the form of {text, value}',
      },
      value: {
        type: [String, Number],
        required: false,
        default: '',
      },
      withnew: {
        type: Boolean,
        default: false,
      },
      placeholder: {
        type: String,
        required: false,
        default: '',
      },
      setCurrentValueString: {
        type: Function,
        required: false,
        default: (selectedOption, fallbackText) => selectedOption ? selectedOption.text : fallbackText, // eslint-disable-line
      },
    },
    watch: {
      currentValueString() {
        this.selected = -1;
      },
      options(is, was) {
        const isValues = is.map(({ value }) => value);
        const wasValues = was.map(({ value }) => value);
        const noChange = isValues.every(value => wasValues.includes(value));

        if (noChange) return;

        this.selected = -1;
        this.currentValueString = this.setCurrentValueString(null, '');
      },
      resultsVisible() {
        if (this.resultsVisible) {
          window.addEventListener('click', this.handleOutsideClick);
        }
        else {
          window.removeEventListener('click', this.handleOutsideClick);
        }
      },
      value() {
        if (this.value !== '') {
          const matchingOption = find(this.options, a => toString(a.value).toLowerCase() === toString(this.value).toLowerCase());
          if (matchingOption) {
            this.currentValueString = this.setCurrentValueString(matchingOption);
          }
        }
      },
    },
  };
</script>

<style lang="scss">
  .filterable-dropdown-results {
    width: 100%;
  }
</style>
