<template>
  <div class="form-item" :class="itemClass">
    <slot></slot>
  </div>
</template>
<script>
  export default {
    name: 'form-item',
    props: {
      itemClass: {
        type: String,
        default: '',
      },
    },
  };
</script>
