<template>
  <transition name="tbSlideFade">
    <label class="error-message" v-html="message"></label>
  </transition>
</template>
<script>
  export default {
    name: 'ur-text-input-error',
    props: {
      message: String,
    },
  };
</script>
