<template>
  <div class="ur-radio-button-group">
    <h6 class="heading-6">{{ header }}</h6>
    <template v-for="(selection, key) in selections">
      <div :key="key" @click.stop="handleClick(selection.optionValue)">
        <input
          type="radio"
          :value="selection.optionValue"
          v-model="selectedValue"
        >
        <label class="label-selection">
          <span class="radio"></span>{{ selection.text }}
        </label>
      </div>
    </template>
  </div>
</template>

<script type="text/babel">

  export default {
    data() {
      return {
        selectedValue: '',
      };
    },
    methods: {
      handleClick(value) {
        this.selectedValue = value;
        this.$emit('change', this.selectedValue);
      },
    },
    mounted() {
      this.selectedValue = this.defaultValue;
    },
    props: {
      header: {
        type: String,
        default: '',
      },
      selections: {
        type: Array,
        default() {
          return [{
            value: '0',
            text: 'You need to pass an array of selection items',
          }];
        },
      },
      defaultValue: {
        type: [Number, String],
        default: '',
      },
    },
    watch: {
      defaultValue() {
        this.selectedValue = this.defaultValue;
      },
    },
  };
</script>

<style>
  .ur-radio-button-group .heading-6 {
    margin-bottom: .2rem;
  }
</style>
