<template>
  <div class="ur-select">
    <label
      v-if="!suppressLabel"
      :for="uid"
      class="form-item__label form-item__label--textfield"
      :class="{'form-item__label--required': required}"
    >
      {{label}}
    </label>
    <div v-if="error" class="error-message">{{error}}</div>

    <div class="select">
      <select
        :id="uid"
        :class="['dropdown-style1', {disabled : disabled}, error ? 'error' : '']"
        :disabled="disabled"
        :name="name"
        :value="localValue"
        v-model="localValue"
        @change="onSelect($event.target.value)"
        @blur="onBlur($event.target.value)"
      >
        <option v-if="!suppressEmptyOption" value="" :selected="value === ''" disabled>{{emptyOptionLabel ? emptyOptionLabel : $i18n('ur.select') + ' ' + label.toLowerCase()}}</option>

        <!-- options -->
        <slot></slot>

      </select>

      <ur-loading-spinner v-if="loading" class="icon-form-item" />
      <i v-else class="icon icon-before-arrow-down"></i>
      <p v-if="helpText">{{helpText}}</p>
    </div>
  </div>
</template>
<style lang="scss" scoped>

  // adjust arrow icon position where replaced
  .select i.icon-before-arrow-down{
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    right: 17px;
    pointer-events: none;
  }

  // override state and country drop down ur-legacy-styles to match prod
  // TODO: import and use urone global styles and strip out vue component specific styles
  .modal-body.jobsite-modal-body > .jobsite-form > .jobsite-address > div > .ur-select > .select > .dropdown-style1 {
    color: #72777E; // $color-text-subtle
    font-size: 14px; // should not be needed this is base font in new theme
    padding-top: 0;
    padding-bottom: 0;
  }

  // override styles on requester dropdown to not cut off inner text / display uniform font size
  .requester-select > .ur-select > .select > .dropdown-style1 {
    font-size: 14px;
    height: auto;
  }

  .criteria-input-wrapper > .criteria-input.focused-search > .ur-select > .select > .dropdown-style1 {
    font-size: 0.85714rem;
    /*height: auto;*/
    border-radius: 0.28rem 0 0 0.28rem;
  }

  .criteria-input-wrapper > .ur-select > .select > .dropdown-style1 {
    font-size: 1rem;
    height: auto;
  }

  // override positioning of dropdown arrow icons
  section.add-to-cart__selections > div > div.requester-select > div.ur-select > div.select > i.icon.icon-before-arrow-down {
    right: 14px;
    top: 20px;
  }
</style>
<script type="text/babel">
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ValidationMixin from './mixins/validation.mixin';
  import { uid } from '@/utils';

  export default {
    components: {
      UrLoadingSpinner,
    },
    data() {
      return {
        uid: `select-${uid()}`,
        localValue: this.value,
      };
    },
    methods: {
      onSelect(value) {
        
        this.$emit('change', value);
        this.$emit('input', value);
        this.localValue = value;
      },
      onBlur() {
        this.$emit('blur');
      },
    },
    mixins: [
      ValidationMixin,
    ],
    name: 'ur-select',
    props: {
      disabled: {
        type: Boolean,
        required: false,
        default: false,
      },
      error: {
        type: [Boolean, String],
        required: false,
        default: false,
      },
      helpText: {
        type: String,
        required: false,
        default: '',
      },
      emptyOptionLabel: {
        type: String,
        required: false,
        default: '',
      },
      value: {
        type: [String, Number],
        required: false,
        default: '',
      },
      label: {
        type: String,
        default: '',
      },
      loading: {
        type: Boolean,
        required: false,
        default: false,
      },
      name: {
        type: String,
        required: false,
        default: '',
      },
      required: {
        type: Boolean,
        required: false,
        default: false,
      },
      // Hides the empty option, "Select"
      suppressEmptyOption: {
        type: Boolean,
        default: false,
      },
      suppressLabel: {
        type: Boolean,
        default: false,
      },
    },
    watch: {
      value() {
        this.localValue = this.value;
      },
    },
  };
</script>
