<template>
  <div class="ur-textarea">
    <label
      :for="uid"
      class="form-item__label form-item__label--textfield"
      :class="{'form-item__label--required': required}"
    >
      {{ label }}
    </label>

    <textarea
      :aria-describedby="ariaDescribedBy"
      :aria-required="required"
      :autocorrect="autocorrect"
      :autocapitalize="autocapitalize"
      class="form-item__textfield"
      :class="{'form-item__textfield--required': required, 'form-item__textfield--full-width': fullwidth }"
      :id="uid"
      :maxlength="maxlength"
      :size="size"
      :placeholder="placeholder"
      :spellcheck="spellcheck"
      :value="localValue"
      :disabled="disabled"
      @input="updateValue($event.target.value)"
    >
    </textarea>

    <template v-if="v && v.$error">
      <template v-for="(foo, param) in v.$params">
        <label :key="param" v-if="!v[param]" class="error">{{vMessages[param]}}</label>
      </template>
    </template>

  </div>
</template>
<script type="text/babel">
  import { uid } from '@/utils';
  import ValidationMixin from './mixins/validation.mixin';

  export default {
    computed: {
      ariaDescribedBy() {
        return `edit-${this.name}--description`;
      },
    },
    data() {
      return {
        localValue: this.value,
        uid: `textarea-${uid()}`,
      };
    },
    methods: {
      updateValue(value) {
        this.localValue = value;
        this.$emit('input', value);
      },
    },
    mixins: [
      ValidationMixin,
    ],
    name: 'ur-textarea',
    props: {
      autocorrect: {
        type: String,
        default: 'none',
        required: false,
      },
      autocapitalize: {
        type: String,
        default: 'none',
        required: false,
      },
      value: {
        type: String,
        default: '',
        required: false,
      },
      label: {
        type: String,
        default: '',
        required: true,
      },
      maxlength: {
        type: Number,
        default: null,
        required: false,
      },
      name: {
        type: String,
        default: '',
        required: false,
      },
      placeholder: {
        type: String,
        default: null,
        required: false,
      },
      required: {
        type: Boolean,
        default: false,
        required: false,
      },
      size: {
        type: Number,
        default: 60,
        required: false,
      },
      spellcheck: {
        type: Boolean,
        default: false,
        required: false,
      },
      fullwidth: {
        type: Boolean,
        default: false,
        required: false,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
      // Props v and vMessages come from the validation mixin
      // TODO move most of these component options into the FormControlMixin, and use the mixin here.
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
