<template>
  <div class="ur-text-input">
    <label
      :for="uid"
      class="form-item__label form-item__label--textfield"
      :class="{'form-item__label--required': required}"
      v-if="label"
    >
      {{ label }}
    </label>
    <!--

    Render either an <input> or <masked-input>

    NOTE: DO NOT USE the <component :is="inputOrMaskedInput">!!!!!!!
    In our current version of Vue (2.4), reactivity gets lost!

    This bug became evident in the Address1.vue component within the Account Details Form
    when users clicked on the Checkbox to use Billing Address.

    To regain reactivity, with Vue 2.4, the <component :is> tag was replaced with these two tags, which
    seem verbose, but is required!
    -->
    <masked-input
      v-if="mask"
      :guide="false"
      :aria-describedby="ariaDescribedBy"
      :aria-required="required"
      :autocorrect="autocorrect"
      :autocapitalize="autocapitalize"
      class="form-item__textfield"
      :class="{'form-item__textfield--required': required}"
      :id="uid"
      :maxlength="maxlength"
      :mask="parsedMask"
      :name="name"
      :numbersonly="numbersonly"
      :size="size"
      :placeholder="placeholder"
      :spellcheck="spellcheck"
      :type="type"
      :value="localValue"
      :disabled="disabled"
      @input="updateValue"
      @keypress="handleKeyPress"
      @blur="handleBlur"
    ></masked-input>
    <input
      v-else
      :aria-describedby="ariaDescribedBy"
      :aria-required="required"
      :autocorrect="autocorrect"
      :autocapitalize="autocapitalize"
      class="form-item__textfield"
      :class="{'form-item__textfield--required': required}"
      :id="uid"
      :maxlength="maxlength"
      :name="name"
      :numbersonly="numbersonly"
      :size="size"
      :placeholder="placeholder"
      :spellcheck="spellcheck"
      :type="type"
      :value="localValue"
      :disabled="disabled"
      @input="updateValue"
      @keypress="handleKeyPress"
      @blur="handleBlur"
      :pattern="pattern"
    >
  </div>
</template>

<script type="text/babel">
  import MaskedInput from 'vue-text-mask';
  import ValidationMixin from './mixins/validation.mixin';
  import { uid, parseMask } from '@/utils';

  export default {
    components: {
      MaskedInput,
    },
    computed: {
      ariaDescribedBy() {
        return `edit-${this.name}--description`;
      },
      inputOrMaskedInput() {
        return this.mask ? 'masked-input' : 'input';
      },
    },
    data() {
      return {
        localValue: this.value,
        uid: `text-input${uid()}`,
        parsedMask: this.mask ? parseMask(this.mask) : null,
      };
    },
    methods: {
      updateValue($event) {
        const value = typeof $event.target !== 'undefined' ? $event.target.value.trim() : $event.trim();
        this.localValue = value;
        this.$emit('input', value);
        this.$emit('change', value);
      },
      handleKeyPress(evt) {
        if (this.numbersonly) {
          evt = (evt) ? evt : window.event; // eslint-disable-line
          const charCode = (evt.which) ? evt.which : evt.keyCode;

          if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
            evt.preventDefault();
          }
          else {
            return true;
          }
        }
      },
      handleBlur(evt) {
        this.$emit('blur', evt);
      },
    },
    mixins: [
      ValidationMixin,
    ],
    name: 'ur-text-input',
    props: {
      autocorrect: {
        type: String,
        default: 'none',
        required: false,
        description: 'Whether or not to  autocorrect',
      },
      autocapitalize: {
        type: String,
        default: 'none',
        required: false,
      },
      value: {
        type: String,
        default: '',
        required: true,
      },
      label: {
        type: String,
        default: '',
        required: true,
      },
      maxlength: {
        type: Number,
        default: null,
        required: false,
      },
      mask: {
        type: String,
        default: '',
        required: false,
      },
      name: {
        type: String,
        default: '',
        required: false,
      },
      pattern: {
        type: String,
        default: null,
        required: false,
      },
      placeholder: {
        type: String,
        default: null,
        required: false,
      },
      required: {
        type: Boolean,
        default: false,
        required: false,
      },
      size: {
        type: Number,
        default: 60,
        required: false,
      },
      spellcheck: {
        type: Boolean,
        default: false,
        required: false,
      },
      type: {
        type: String,
        default: 'text',
        required: false,
      },
      disabled: {
        type: Boolean,
        default: false,
        required: false,
      },
      numbersonly: {
        type: Boolean,
        default: false,
        required: false,
      },
      // Props v and vMessages come from the validation mixin
    },
    watch: {
      mask(newMask, oldMask) {
        if (newMask === oldMask) {
          return;
        }

        this.parsedMask = newMask ? parseMask(newMask) : null;

        // There's a bug in the Vue Text Mask Plugin, where when a mask changes, the MaskedInput doesn't update its value.
        // https://github.com/text-mask/text-mask/issues/621

        // To get around this, whenever we change the mask, we call #bind on the masked input.
        // Additionally, this needs to occur on the next tick.
        this.$nextTick(this.$children[0].bind);
      },
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
