<template>

  <div class="ur-checkout-error-modal">
    <div class="modal-header ur-checkout-error-modal__header">
      <q-icon icon-name="error" />
      <h4>{{$i18n('quotes.cannotProceedModalHeader')}}</h4>
    </div>

    <div class="modal-body">
      <div class="ur-checkout-error-modal__body">
        {{$i18n('quotes.cannotProceedModalBody')}}
      </div>
      <div class="ur-checkout-error-modal__cta"
           v-html="$i18n('quotes.cannotProceedModalCTA')">
      </div>
      <div :data-quote-error-type="errorMsg" :data-quote-error-req="reqId" :data-quote-error-account="accountId"></div>
    </div>

    <div class="modal-footer">
      <div class="modal-button-spacer">

      </div>
      <q-button
        :text="$i18n('ur.close')"
        button-style="secondary"
        @click="goToManage" />
      <q-button :text="$i18n('checkout.cannotProceedModalButton')" :link="otherNumber | telLink" />
    </div>
  </div>

</template>

<script type="text/babel">
  import { mapState } from 'vuex';

  export default {
    name: 'cannot-proceed',
    computed: {
      ...mapState({
        generalNumber: state => state.callUs.generalNumber,
        otherNumber: state => state.callUs.otherNumber,
        defaultAccountId: state => state.user.defaultAccountId,
      }),
    },
    methods: {
      goToManage() {
        window.location = `/manage#/manage/${this.defaultAccountId}/orders/?orderStatus[0]=Quoted`;
      },
    },
    props: {
      errorMsg: {
        required: false,
        type: String,
      },
      accountId: {
        required: false,
        type: String,
      },
      reqId: {
        required: false,
        type: String,
      },
    },
  };
</script>
<style lang="scss">

  .ur-checkout-error-modal {
    [data-name='error'] {
      color: #E10000;
      margin-top: 8px;
      vertical-align: bottom;
    }

    & &__header {
      h4{
        margin: 20px 0 0 10px;
      }
    }

    &__cta {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .modal-footer {
      .modal-button-spacer {
        flex: 1;
      }
    }

  }
</style>
