<template>
  <div class="object-listing-header">
    <div class="platform-account-item-list-description">
      <div v-if="small || medium" class="platform-account-item-list-description__mobile-filters">
        <div class="account-title-small" v-if="defaultAccountId">{{ accountName }} #{{ defaultAccountId }}</div>
        <div class="file-sort-buttons">
          <button @click="sortOpen = !sortOpen" class="button button--style-1 button--default">
            <i class="icon icon-sort"></i> <span>{{ $i18n('reservationView.sortLabel') }}</span>
          </button>
          <button @click="filterOpen = !filterOpen" class="button button--style-1 button--default">
            <i class="icon icon-views"></i> <span>{{ $i18n('reservationView.viewLabel') }}</span>
          </button>
        </div>
        <quotes-sort v-if="sortOpen"></quotes-sort>
        <view-filter-select
          v-if="filterOpen"
          @filterSelected="addViewFilter"
          @filterDeselected="removeViewFilter"
          :filters="orderStatusFilters"
          :items="quotesForCurrentAccount"
        />
      </div>

      <div class="platform-account-item-list-description__container">
        <div class="platform-account-item-list-description__heading">
          <h2>{{ $i18n('reservationView.quotes') }}
            <span v-if="fetchingQuotesList || filtering">
               <ur-loading-spinner class="icon-button"></ur-loading-spinner>
            </span>
            <span v-else>({{ itemCount }})</span>
          </h2>
        </div>
      </div>

      <div v-if="medium" class="platform-account-search">
        <div class="group-full">
          <input type="text" placeholder="Search">
          <i class="icon icon-search"></i>
        </div>
      </div>
      <div v-if="large || xlarge" class="platform-account-search">
        <div class="filter-field">
          <quote-search/>
        </div>
        <div class="filter-field">
          <view-filter-select
            @filterSelected="addViewFilter"
            @filterDeselected="removeViewFilter"
            :filters="orderStatusFilters"
            :items="quotesForCurrentAccount"
          />
        </div>
        <div class="filter-field">
          <quotes-sort></quotes-sort>
        </div>
        <div class="account-title account-name-label" v-if="defaultAccountId">{{ accountName }} #{{ defaultAccountId }}</div>
      </div>
      <br />
      <div class="platform-account-search">
        <search-term-badges-container
          @removeFilter="removeSearchTermFilter"
          @removeAllFilters="removeAllSearchTermFilters"
          :filters="quotesSearchTermFilters"/>
      </div>
    </div>
    <!--if there are no quotes, show the no quotes message-->
    <span class="platform-account-item-list-description" v-if="hasEmpty && !stat"> {{ $i18n('reservationView.noQuotes') }}</span>
    <div class="refresh-div" v-if="stat">
      <h3>{{ $i18n('reservationView.whoopsErr') }}</h3>
      <div @click="refresh" class="button refresh-now">
        <span>{{ $i18n('workplace.refreshNow') }}</span>
        <span class="icon icon-refresh"></span>
      </div>
    </div>

    <!--if we're loading, show the loading spinner, but if we have a count-->
    <div class="list__container" v-if="!stat">
      <div class="reservationDetailsSpinner" v-if="!itemCount && filtering && !hasEmpty">
        <h2><ur-loading-spinner class="icon-button"></ur-loading-spinner></h2>
      </div>
      <paginate
        v-if="hasQuotes"
        name="paginatedQuotes"
        :list="quotes"
        :per="15"
        ref="pagination"
        :async="true"
        tag="div"
      >
        <transition-group :async="true" name="tbSlideFade" tag="div">
          <quote-list-item
            v-for="quote in paginated('paginatedQuotes')"
            :key="quote.quoteId"
            :quote="quote"
            :accountRequirePo="accountRequirePo"
          />
        </transition-group>
      </paginate>

      <div class="object_listing__footer">
        <div class="paginate-links_container">
          <paginate-links for="paginatedQuotes" :async="true" :limit="5" :show-step-links="true"></paginate-links>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import QuoteListItem from '@/components/platform-account/quotes/src/quote-list-item';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import QuotesSort from '@/components/platform-account/quotes/src/quotes-sort';
  import QuoteSearch from '@/components/platform-account/quotes/src/quote-search';
  import { SearchTermBadgesContainer, ViewFilterSelect } from '@/components/common/listings';

  import { mapGetters, mapState, mapActions } from 'vuex';
  import { get, sortBy, isEmpty } from 'lodash';
  import types from '@/store/types';

  const sorts = {
    'Oldest to newest': 'createdDate',
    'Job Name A-Z': 'jobName',
    'Status A-Z': 'orderStatus',
    'Reservation # ascending': 'quoteId',
  };

  const reversedSorts = {
    'Newest to oldest': 'createdDate',
    'Job Name Z-A': 'jobName',
    'Status Z-A': 'orderStatus',
    'Reservation # descending': 'quoteId',
  };

  export default {
    name: 'quotes-list',
    components: {
      QuoteListItem,
      QuoteSearch,
      QuotesSort,
      SearchTermBadgesContainer,
      UrLoadingSpinner,
      ViewFilterSelect,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'filteredQuotes',
        'quotesForCurrentAccount',
        'quotesSearchTermFilters',
      ]),
      ...mapGetters({
        fetchingQuotesList: types.quotes.fetchingQuotesList,
        fetchingQuotesDetails: types.quotes.fetchingQuotesDetails,
        fetchingQuotesEstimates: types.quotes.fetchingQuotesEstimates,
      }),
      ...mapState({
        /* estimates module state */
        accounts: state => state.accounts.all || {},
        estimates: state => state.estimates.all,
        /* transactions module state */
        transactions: state => state.transactions.all,
        /* reservations module state */
        viewSort: state => state.reservations.viewSort,
        /* default account for account selector */
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      accountName() {
        return this.accounts[this.defaultAccountId].name;
      },
      accountRequirePo() {
        return this.accounts[this.defaultAccountId].requirePo;
      },
      quotes() {
        this.filtering = true; // eslint-disable-line
        if (!isEmpty(this.filteredQuotes)) {
          const quotes = [...this.filteredQuotes];
          if (this.viewSort !== '' && sorts[this.viewSort]) {
            return sortBy(quotes, [sorts[this.viewSort]]);
          }
          else if (this.viewSort !== '' && reversedSorts[this.viewSort]) {
            return sortBy(quotes, [reversedSorts[this.viewSort]]).reverse();
          }
          else if (!isEmpty(this.transactions) && !isEmpty(this.$store.state.jobs.all)) {
            quotes.forEach((ea) => {
              ea.items = get(this.transactions, [ea.accountId, ea.quoteId, 'items'], {});
              ea.jobsite = this.$store.state.jobs.all[ea.accountId][ea.jobId] || {};
            });
            this.filtering = false; // eslint-disable-line
            return quotes;
          }
        }
        else {
          this.filtering = false; // eslint-disable-line
          return {};
        }
        return {};
      },
      hasQuotes() {
        return !isEmpty(this.quotes);
      },
      hasEmpty() {
        return !this.itemCount && !this.fetchingQuotesList && !this.fetchingQuotesDetails;
      },
      itemCount() {
        if (this.hasQuotes) {
          return this.quotes.length;
        }
        return 0;
      },
    },
    data() {
      return {
        filterOpen: false,
        filtering: false,
        sortOpen: false,
        paginate: ['paginatedQuotes'],
        /* Generate the order status filters */
        orderStatusFilters: [
          'reservationViewSelectOptions.pending',
          'reservationViewSelectOptions.expired',
          'reservationViewSelectOptions.cancelled',
        ]
          .map(labelKey => this.$i18n(labelKey))
          .map((label, id) => ({
            id,
            label,
            asFunction: quote => quote.orderStatus === label,
          })),
      };
    },
    methods: {
      ...mapActions({
        addViewFilter: types.quotes.addFilter,
        removeViewFilter: types.quotes.removeFilter,
        removeSearchTermFilter: types.quotes.removeFilter,
        removeAllSearchTermFilters: types.quotes.removeAllFilters,
      }),
      refresh() {
        this.$emit('refresh', true);
      },
    },
    props: [
      'loading',
      'initialValue',
      'sortInitialValue',
      'stat',
    ],
  };
</script>
