<template>
  <div class="grid">
    <div style="width:100%;">
      <div class="cart__header">
        <template v-if="formState === 'success'">
          <span>
            <h1>{{ $i18n('convertQuotes.convertSuccess') }}</h1>
            <h2 class="heading-2--thin">{{ $i18n('convertQuotes.requisitionId') }} {{ successId }}</h2>
          </span>
          <div>
            <a target="_top"
              :href="`mailto:?subject=Your%20recent%20${$i18n('checkout.reservation')}&body=Thank%20you%20for%20your%20recent%20${$i18n('checkout.reservation')}%20with%20United%20Rentals.%0D%0A%0D%0AYour%20${$i18n('checkout.reservation')}%20for%20Account%20ID:%20${quote.accountId}%20included:%0D%0AItem%20(Cat%20Class%20Code):%20${getCatClass()}%0D%0AQTY:%20${itemsQuantity}%0D%0AStart%20Date:%20${quote.startDateTime}%0D%0AEnd%20Date:%20${quote.returnDateTime}%0D%0ADelivery:%20${quote.urDeliver}%0D%0APick%20up:%20${quote.pickup}%0D%0ARental%20Protection%20Plan:%20${quote.rpp}%0D%0APlease%20visit%20https://www.unitedrentals.com%20for%20more%20information.`">
              <i class="icon icon-envelope"></i>
            </a>
            <a>
              <i @click="windowPrint" class="icon icon-print"></i>
            </a>
          </div>
        </template>
        <template v-else>
          <span v-if="jobsiteError === false && dateError === false && allocated == true">
            <h1>{{ $i18n('convertQuotes.noErrorsAllocated.title') }}</h1>
            <h2 class="heading-2--thin">{{ $i18n('convertQuotes.noErrorsAllocated.subtitle') }}</h2>
          </span>
            <span v-else-if="jobsiteError === false && dateError === false && allocated == false">
            <h1>{{ $i18n('convertQuotes.noErrorsUnallocated.title') }}</h1>
            <h2 class="heading-2--thin">{{ $i18n('convertQuotes.noErrorsUnallocated.subtitle') }}</h2>
          </span>
            <span v-else-if="jobsiteError === true || dateError === true">
            <h1>{{ $i18n('convertQuotes.errors.title') }}</h1>
            <h2 class="heading-2--thin">{{ $i18n('convertQuotes.errors.subtitle') }}</h2>
          </span>
        </template>
      </div>

      <convert-block
        :formState="formState"
        :jobsiteError="jobsiteError"
        :dateError="dateError"
        :costError="costError"
        :termsError="termsError"
        :termsChecked="termsChecked"
        @stateChange="setFormState"
        @termsChanged="setTerms"
        @jobsiteError="setJobsiteError"
        @costError="setCostError"
        @dateError="setDateError"
        @converted="onConverted"
      />
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
  import ConvertBlock from '@/components/platform-account/quotes/convert-quote/convert-block/convert-block.vue';
  import types from '@/store/types';
  import { isEmpty } from 'lodash';

  export default {
    name: 'quote-convert',
    components: {
      ConvertBlock,
    },
    computed: {
      ...mapState({
        allCards: state => state.creditCards.all,
        defaultAccountId: state => state.user.defaultAccountId,
        quote(state) {
          const onRent = state.workplace.equipment[this.defaultAccountId].filter(a => a.transId === this.$route.params.quoteId) || [];
          onRent.forEach(ea => {
            ea.quoteId = ea.transId;
          });
          return onRent[0];
        },
        quoteItems(state) {
          return state.workplace.equipment[this.defaultAccountId].filter(a => a.transId === this.$route.params.quoteId) || [];
        },
      }),
      itemsQuantity() {
        if (!isEmpty(this.quoteItems)) {
          let sum = 0;
          Object.values(this.quoteItems).forEach(item => {
            sum += parseInt(item.quantity, 10);
          });
          return sum;
        }
        return 0;
      },
    },
    data() {
      return {
        // mockup unitl billing component will being added
        allocated: false,
        quoteId: '',
        /**
         * 3 states of form:
         * - inprogress (when form is not ready)
         * - pending (when form has been sent)
         * - success (when server responded with success)
         */
        formState: 'inprogress',
        successId: 0,
        jobsiteError: false,
        dateError: false,
        costError: false,
        termsError: true,
        termsChecked: false,
      };
    },
    methods: {
      ...mapActions({
        fetchCreditCards: types.creditCards.fetch,
      }),
      getCatClass() {
        return this.quoteItems.map(q => q.catClass).join(',');
      },
      windowPrint() {
        window.print();
      },
      setFormState(input) {
        if (input.id) {
          this.successId = input.id;
        }
        this.formState = input.state;
      },
      setJobsiteError(input) {
        this.jobsiteError = input;
      },
      setDateError(input) {
        this.dateError = input;
      },
      setCostError(input) {
        this.costError = input;
      },
      setTerms() {
        this.termsChecked = !this.termsChecked;
      },
      onConverted({ result, quoteItems, estimate }) {
        this.$urgtm.track('ecom:purchase', {
          transaction: result.result,
          products: Object.values(quoteItems),
          totals: estimate.totals || {},
          rates: estimate.items,
        });
      },
    },
    beforeMount() {
      this.quoteId = this.$route.params.quoteId;
    },
    mounted() {
      window.scrollTo(0, 0);
      if (!this.allCards.length) {
        this.fetchCreditCards();
      }
    },
    // Hide the Sidebar -- Please leave this commented out for now - ejg
    beforeRouteEnter(to, from, next) {
      sidebarDisplay('none');
      accountSwitcher('none');
      next();
    },
    beforeRouteLeave(to, from, next) {
      sidebarDisplay('block');
      accountSwitcher('block');
      next();
    },
    props: {
      transId: String,
    },
  };

  function sidebarDisplay(value) {
    const el = document.querySelector('.main-sidebar');
    if (el) {
      el.style.display = value;
    }
  }

  function accountSwitcher(value) {
    const el = document.querySelector('.account-selector-reservation-listing');
    if (el) {
      el.style.display = value;
    }
  }
</script>
