<template>
  <div class="block-unitedrentals-content not-found-container">
    <div class="flex-col-width-100">
      <div class="dashboard__item-not-found">
        <h1 v-html="$i18n('quotes.notFoundHeader')"></h1>
        <p>
          <span v-html="$i18n('quotes.notFoundBody')"></span>
          <a v-html="$i18n('quotes.notFoundOrderPageLinkText')" v-on:click="goToManage">.</a>
        </p>
        <h3 v-html="$i18n('workplace.notFoundSubheader')"></h3>
        <div class="better-results" v-on:click="redirect('/')">
          <a v-html="$i18n('workplace.urHomepage')"></a>
          <i class="icon icon-long-arrow-right c-orange"></i>
        </div>
        <div class="better-results" v-on:click="redirect('/marketplace/equipment')">
          <a v-html="$i18n('workplace.rentEquipment')"></a>
          <i class="icon icon-long-arrow-right c-orange"></i>
        </div>
        <div class="better-results">
          <span v-html="$i18n('workplace.callCustomerService')"></span> <gtm-phone-number class="display-inline" :number="generalNumber"></gtm-phone-number>
        </div>
      </div>
    </div>
    <div :data-quote-error-type="this.$route.params.errorMsg" :data-quote-error-req="this.$route.params.reqId" :data-quote-error-account="this.$route.params.accountId"></div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number.vue';

  export default {
    components: {
      GtmPhoneNumber,
    },
    methods: {
      goToManage() {
        window.location = `/manage#/manage/${this.defaultAccountId}/orders/?orderStatus[0]=Quoted`;
      },
      redirect(url) {
        return url === 'previous'
          ? window.history.back()
          : window.location.assign(url);
      },
    },
    computed: {
      ...mapState({
        generalNumber: state => state.callUs.generalNumber,
      }),
    },
    name: 'quote-not-found',
  };
</script>
