{#
/**
 * @file
 * Default theme implementation for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 *
 * @ingroup themeable
 */
#}
<nav role="navigation" aria-labelledby="pagination-heading">
  <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
  <div class="pager__summary">{{ summary|raw }}</div>
  <ul class="js-pager__items">
    {% if items.previous %}
      <li>
        <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Previous page'|t }}</span>
          <span aria-hidden="true">{{ items.previous.text|default('‹‹'|t) }}</span>
        </a>
      </li>
    {% endif %}
    {% if items.next %}
      <li>
        <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Next page'|t }}</span>
          <span aria-hidden="true">{{ items.next.text|default('››'|t) }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>