<template>
  <div class="group account-info">
    <h2 class="group__heading">{{ $i18n('workplace.accountInformation') }}</h2>
    <template v-for="account in allAccounts">
      <div class="account section" :key="account.id">
        <div class="section__title">
          <h5 class="account-title">{{ account.name }}</h5>
          <p class="account-id">#{{ account.id }}</p>
          <div class="section__actions">
            <!-- Enable router link once back end api call is ready -->
            <!-- router-link class="unlink-account" :to="'/account/unlink/' + account.id">{{$i18n('ur.edit')}}</router-link -->
            <!-- a href="#">{{$i18n('ur.edit')}}</a -->
          </div>
        </div>
      </div>
    </template>
    <router-link class="link-account" :to="'/account/link'">{{ $i18n('ur.linkAccount') }}</router-link>
  </div>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState({
        allAccounts: state => state.accounts.all,
      }),
    },
    name: 'accountDetailsListing',
  };
</script>
