<template>
  <div class="group payment-info">
    <h2 class="group__heading">{{ $i18n('ur.paymentInfo') }}</h2>
    <card-section :card="card" v-for="(card, key) in allCards" :key="key"></card-section>
    <router-link class="credit-card-link" :to="`/checkout/add-credit-card`">{{ $i18n('checkout.addANewCard') }}</router-link>
  </div>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';
  import CardSection from './card-section';

  export default {
    components: {
      CardSection,
    },
    computed: {
      ...mapState({
        allCards: state => state.creditCards.all,
      }),
    },
    name: 'cardDetailsListing',
  };
</script>
