<template>
  <div class="card section">
    <div :class="[{ shimmer: requestsAreInFlight }, 'section__title']">
      <h5 class="card-name">{{ card.cardName }} <span class="chip" v-if="card.defaultCard">{{ $i18n('ur.default') }}</span></h5>
      <div class="card-info">
        <img :src="card.cardType | ccTypeImg"/>
        <h6 class="card-type">{{ card.cardType | ccTypeName }} <span class="asterisk">****</span>{{ card.ccNum4 }} </h6>
      </div>
      <span class="card-exp">{{ $i18n('checkout.expires') }}: {{ card.expireDate | ccMonthYear }} </span>
      <br />
      <p v-if="ccIsExpiredCheck(card.expireDate)" class="error-message">{{ $i18n('card.errorExpiredCard') }}</p>
      <div class="section__actions updating-card" v-if="requestsAreInFlight">
        <ur-loading-spinner :style="spinnerStyles" />
        <p class="updating-message">{{ $i18n('card.updatingStat') }}</p>
      </div>
      <div class="section__actions" v-else>
        <router-link :to="`/profile/editCreditCard/${card.id}`">{{ $i18n('ur.edit') }}</router-link>
        <router-link @click.native="setShimmerCard" :to="`/profile/removeCreditCard/${card.id}`">{{$i18n('ur.remove')}}</router-link>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapActions } from 'vuex';
  import types from '@/store/types'; // eslint-disable-line
  import { FlightToken } from '@/api/flight-track';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import { padStart } from 'lodash';
  import moment from 'moment';

  export default {
    components: {
      UrLoadingSpinner,
    },
    computed: {
      requestsAreInFlight() {
        return (this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.removeCreditCard) && this.shimmerCard);
      },
    },
    data() {
      return {
        shimmerCard: false,
        spinnerStyles: {
          'font-size': '1.5rem',
          margin: '0 0 0 -25px',
        },
      };
    },
    methods: {
      ...mapActions({
        setCardIdForRemoval: types.user.setCardIdForRemoval,
      }),
      setShimmerCard() {
        this.shimmerCard = true;
      },
      ccIsExpiredCheck(expDate) {
        const formattedExpDate = padStart(Number(expDate), 4, '0');
        const expDateMoment = moment(formattedExpDate, 'MMYY');
        return expDateMoment.isBefore(moment().add(1, 'm').startOf('month'));
      },
    },
    props: {
      card: {
        required: true,
      },
    },
  };
</script>
