<template>
  <div class="group payment-info">
    <h2 class="group__heading">{{ $i18n('ur.urCreditTitle') }}</h2>
    <a
      href="/services/credit-application"
      class="credit-card-link">
        {{ $i18n('credit.applyForCredit') }}
    </a>
  </div>
</template>
<script>
export default {
  name: 'CreditAppLink',
};
</script>
