<template>
  <div>

    <div class="modal-header"><h3>{{ $i18n('card.editCardDetails') }}</h3></div>
    <div class="modal-content">
      <div class="card-edit-form">
        <div v-if="errorMessage" class="message message__error" role="contentinfo" aria-label="">
          <div role="alert">
            <div class="feedback-style1 feedback-style1--error">
              {{ errorMessage }}
              <div @click="errorMessage=''" class='icon-large icon-close-circle'></div>
            </div>
          </div>
        </div>
        <credit-card-form
          @cc_change="onChange"
          :editing="true"
          :defaultCreditCard="card"
        />
      </div>
    </div>
    <div class="modal-footer with-help">

      <div class="help">
        <div class="icon-wrapper">
          <span class="icon icon-lock"></span>
        </div>
        <div class="help-section">
          <p>{{ $i18n('cart.allPaymentInfo') }}</p>
        </div>
      </div>

      <div class="modal-actions">
        <button
          :disabled="isSaving"
          class="button button--style-1 button--secondary"
          @click.prevent.stop="$router.go(-1)"
        >
          {{ $i18n('ur.cancel') }}
        </button>
        <button
          :disabled="isSaving"
          class="button button--style-1 button--filled"
          @click.prevent.stop="save"
        >
          {{ $i18n('ur.save') }}
        </button>
      </div>
    </div>
  </div>

</template>
<style lang="scss">
  .card-edit-form select {
    padding: 0;
  }
  // !important is to override pixel height set in legacy styles
  .edit-card-modal .modal__content .modal-footer {
    height: 100%!important;
  }
</style>
<script>
  import CreditCardForm from '@/components/common/credit-card-form';
  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';
  import { merge, find, padStart } from 'lodash';

  export default {
    name: 'editCardModal',
    components: {
      CreditCardForm,
    },
    data() {
      return {
        card: {
          accountId: 0,
          cardHolder: '',
          cardName: '',
          cardType: '',
          ccNum4: '',
          defaultCard: false,
          expireDate: '',
          id: '',
          status: '',
          cvv: '',
        },
        isSaving: false,
        errorMessage: '',
        creditCard: {
          type: Object,
          default() {
            return {
              accountId: '',
              expYear: '',
              expMonth: '',
              cardName: '',
              cvv: '',
              cardHolder: '',
              defaultCard: '',
              cardNumber: '',
              cardType: '',
              ccNum4: '',
              id: '',
              status: '',
            };
          },
        },
      };
    },
    props: {
      cardId: {
        type: String,
      },
    },
    computed: {
      ...mapState(['creditCards']),
      testExpDate() {
        return this.card.expireDate;
      },
      expireMonth: {
        get() {
          return padStart(this.card.expireDate, 4, '0').substring(0, 2);
        },
        set(newValue) {
          this.card.expireDate = newValue + this.expireYear.toString().substring(2, 4);
        },
      },
      expireYear: {
        get() {
          return 2000 + parseInt(padStart(this.card.expireDate, 4, '0').substring(2, 4), 10);
        },
        set(newValue) {
          this.card.expireDate = this.expireMonth + newValue.substring(2, 4);
        },
      },
    },
    mounted() {
      this.card = merge(this.card, find(this.creditCards.all, { id: this.cardId }));
      this.card.expMonth = this.expireMonth;
      this.card.expYear = this.expireYear;
    },
    methods: {
      ...mapActions({
        fetchCreditCards: types.creditCards.fetch,
        updateCardDetails: types.creditCards.update,
      }),
      onChange(creditCard) {
        this.card = {
          ...this.card,
          ...creditCard,
        };
      },
      save() {
        this.isSaving = true;
        // Trigger all validations
        if (!this.$validateChildrenAndScrollToError()) {
          this.isSaving = false;
          return;
        }
        this.errorMessage = '';

        const updateCard = {
          cardId: this.cardId,
          expireDate: `${this.card.expMonth}${this.card.expYear.toString().substring(2, 4)}`,
          cardName: this.card.cardName,
          cvv: this.card.cvv,
          cardHolder: this.card.cardHolder,
          defaultCard: this.card.defaultCard,
        };
        this.updateCardDetails(updateCard)
          .then(() => {
            this.fetchCreditCards();
            this.$router.go(-1);
          })
          .catch((error) => {
            this.errorMessage = error.message;
            this.isSaving = false;
          });
      },
    },
  };
</script>
