<template>
  <form class="link-account-form form">
    <div class="form-group">

      <div class="form-item">

          <ur-text-input
            class="account-input"
            @input="val => $emit('update:accountId', Number(val))"
            :label="$i18n('ur.accountNumber')"
            :numbersonly="true"
            :placeholder="$i18n('user.enterAccount')"
            type="number"
            :value="accountId"
          />

      </div>

      <div class="form-item probox-form__form__name">

          <ur-text-input
            class="pin-input"
            @input="val => $emit('update:pin', Number(val))"
            :label="$i18n('ur.pinNumber')"
            :numbersonly="true"
            :placeholder="$i18n('user.enterPin')"
            type="number"
            :value="pin"
          />

      </div>

      <div class="form-item probox-form__form__name">
        <ur-error-label v-if="errorMessage" class="text-left p-l-5" :message="errorMessage"/>
        <p class="text-left">{{ $i18n('user.accountPin') }}</p>
      </div>
    </div>
  </form>
</template>
<script type="text/babel">
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  export default {
    components: {
      UrErrorLabel,
      UrTextInput,
    },
    name: 'linkAccountForm',
    props: {
      accountId: Number,
      errorMessage: String,
      pin: Number,
    },
  };
</script>
