<template>
  <div class="group personal-info">
    <h2 class="group__heading">{{ $i18n('workplace.personalInformation') }}</h2>

    <div class="personal-group section">
      <div class="section__title">
        <div class="section__field-group">
          <label>{{ $i18n('workplace.email') }}:</label>
          <span>{{ email }}</span>
        </div>

        <div class="section__field-group">
          <label>{{ $i18n('workplace.pw') }}:</label>
          <span>******</span>
        </div>

        <div class="section__actions">
          <a :href="changePasswordLink">{{ $i18n('workplace.changePw') }}</a>
        </div>
      </div>

      <div class="section__title">
        <div class="section__field-group">
          <label>{{ $i18n('workplace.pwExp') }}:</label>
          <span>{{String(pswdExpDays) === '0' ? $i18n('ur.never') : `${pswdExpDays} ${$i18n('reservationView.days')}` }}</span>
        </div>

        <div class="section__actions">
          <router-link to="/profile/editPasswordExpiration">{{ $i18n('ur.edit') }}</router-link>
        </div>
      </div>


    </div>

    <div class="personal-group section">
      <div class="section__title">
        <div class="section__field-group">
          <label>{{ $i18n('workplace.name') }}:</label>
          <span>{{ firstName }} {{ lastName }}</span>
        </div>

        <div class="section__field-group">
          <label>{{ $i18n('workplace.personalPhone') }}:</label>
          <span>{{ phone }}</span>
        </div>

        <div class="section__field-group">
          <label>{{ $i18n('workplace.workPhone') }}:</label>
          <span>{{ altPhone }}</span>
        </div>

        <div class="section__actions">
          <router-link to="/profile/editUserDetails">{{ $i18n('ur.edit') }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState({
        altPhone: state => state.tcUser.altPhone,
        email: state => state.tcUser.email,
        firstName: state => state.tcUser.firstName,
        lastName: state => state.tcUser.lastName,
        phone: state => state.tcUser.phone,
        pswdExpDays: state => state.tcUser.pswdExpDays,
      }),
      changePasswordLink() {
        return drupalSettings.ur.change_password_path;
      },
    },
    name: 'personal-info',
  };
</script>
