<template>
  <div>
    <div class="modal-header"><h4>{{ $i18n('card.removeCardConfirm') }}</h4></div>
    <div class="modal-content">

      <div class="card-remove-form">

        <div class="form-content">
          <h5 class="warningText">{{ $i18n('card.removeFollowingCard') }}</h5>

          <div class="cardDetails">
            <div>
              <h6 class="heading-6 cardName">{{ card.cardName }}</h6>
            </div>
            <div>
              <img :src="card.cardType | ccTypeImg"/>
              <h6 class="card-type">{{ card.cardType | ccTypeName }} <span class="asterisk">****</span>{{ card.ccNum4 }}
              </h6>
            </div>
            <div class="expiration">
              <small>{{ $i18n('card.expiration') }} {{ formattedExpiration }}</small>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer with-help">

      <div class="modal-actions">
        <button
          :disabled="isSaving"
          class="button button--style-1 button--secondary"
          @click.prevent.stop="$router.go(-1)"
        >
          {{ $i18n('ur.cancel') }}
        </button>
        <button
          :disabled="isSaving"
          class="button button--style-1 button--filled"
          @click.prevent.stop="save"
        >
          {{ $i18n('ur.remove') }}
        </button>
      </div>
    </div>
  </div>

</template>
<script type="text/babel">

  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';
  import { merge, find, padStart } from 'lodash';

  export default {
    name: 'remove-card-modal',
    components: {},
    data() {
      return {
        card: {
          accountId: 0,
          cardHolder: '',
          cardName: '',
          cardType: '',
          ccNum4: '',
          defaultCard: false,
          expireDate: '',
          id: '',
          status: '',
          cvv: '',
        },
        isSaving: false,
      };
    },
    props: ['cardId'],
    computed: {
      ...mapState(['creditCards']),
      formattedExpiration() {
        const paddedEffectiveDate = padStart(this.card.expireDate, 4, '0');
        return `${paddedEffectiveDate.slice(0, 2)}/${paddedEffectiveDate.slice(-2)}`;
      },
    },
    mounted() {
      this.card = merge(this.card, find(this.creditCards.all, { id: this.cardId }));
    },
    methods: {
      ...mapActions({
        removeCard: types.creditCards.remove,
      }),
      async save() {
        this.isSaving = true;
        // Trigger all validations
        if (!this.$validateChildrenAndScrollToError()) {
          this.isSaving = false;
          return;
        }
        this.error = null;
        this.removeCard(this.card.id).then(this.$router.go(-1));
      },
    },
  };
</script>
