<template>
  <div>
    <form>
      <div class="modal-header">
        <h3>{{$i18n('workplace.unlinkAccount')}}</h3>
      </div>

      <div class="modal-body">
        <div class="remove-account-body">
          <h3>{{ $i18n('workplace.removeAccountQuery') }}</h3>
          <div class="remove-account-details">
            <p class="account-name">{{ accountName }}</p>
            <p class="account-number">#{{ acctId }}</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="modal-actions">
          <button
            class="button button--style-1 button--secondary"
            @click.prevent.stop="$router.go(-1)"
          >
            {{ $i18n('ur.cancel') }}
          </button>
          <button
            class="button button--style-1 button--filled"
            @click.prevent.stop="unlink"
          >
            {{ $i18n('workplace.unlinkAccountRemove') }}
          </button>
        </div>
      </div>

    </form>
  </div>
</template>
<script type="text/babel">
  import api from '@/api';
  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';

  export default {
    computed: {
      ...mapState({
        accountName(state) {
          return state.accounts.all[this.acctId].name;
        },
        userId(state) {
          return state.tcUser.guid;
        },
      }),
    },
    data() {
      return {
        error: '',
      };
    },
    methods: {
      ...mapActions({
        fetchAccounts: types.accounts.fetch,
      }),
      async unlink() {
        this.error = null;
        const accountId = this.acctId;
        let response;

        try {
          response = await api.unlinkAccounts.delete({ accountId });
        }
        catch (e) {
          this.error = this.$i18n('workplace.linkAccountError');
          return;
        }
        if (response === false) {
          this.error = this.$i18n('workplace.linkAccountError');
          return;
        }
        else if (typeof response === 'string') {
          this.error = response;
          return;
        }

        // Response must be `true`, so we're good! Fetch new accounts, and close the modal.
        this.fetchAccounts();
        this.$router.go(-1);
      },
    },
    name: 'unlinkAccountModal',
    props: {
      acctId: {
        type: String,
        required: true,
      },
    },
  };

</script>
