<template>
  <div>
    <form>
      <div class="modal-header">
        <h3>{{ $i18n('account.editPersonalDetails') }}</h3>
      </div>

      <div class="modal-body">
        <form class="user-details-form form">
          <div class="form-content">
            <div class="form-item">
              <ur-text-input
                class="name-input"
                :label="$i18n('account.firstName')"
                :placeholder="$i18n('account.firstNamePlaceholder')"
                type="text"
                :value="formDetails.firstName"
                @input="firstName => { formDetails.firstName = firstName}"
              />
            </div>
            <div class="form-item">
              <ur-text-input
                class="name-input"
                :label="$i18n('account.lastName')"
                :placeholder="$i18n('account.lastNamePlaceholder')"
                type="text"
                :value="formDetails.lastName"
                @input="lastName => { formDetails.lastName = lastName }"
              />
            </div>
            <div class="form-item">
              <ur-text-input
                :value="formDetails.phone"
                :label="$i18n('workplace.personalPhone')"
                type="text"
                mask="(999) 999-9999"
                keepCharPositions="true"
                @input="phone => { formDetails.phone = phone }"
              />
            </div>
            <div class="form-item">
              <ur-text-input
                :value="formDetails.altPhone"
                :label="$i18n('workplace.workPhone')"
                type="text"
                mask="(999) 999-9999"
                @input="altPhone => { formDetails.altPhone = altPhone }"
              />
            </div>

          </div>

          <ur-error-label v-if="error" :message="error"/>
        </form>
      </div>
      <div class="modal-footer">

        <div class="modal-actions">
          <button
            :disabled = "isSaving"
            class="button button--style-1 button--secondary"
            @click.prevent.stop="$router.go(-1)"
          >
            {{ $i18n('ur.cancel') }}
          </button>
          <button
            :disabled = "isSaving"
            class="button button--style-1 button--filled"
            @click.prevent.stop="save"
          >
            {{ $i18n('ur.save') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script type="text/babel">
  /* eslint-disable */
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import api from '@/api';
  import types from '@/store/types';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { merge, assign, pick } from 'lodash';

  export default {
    components: {
      UrErrorLabel,
      UrTextInput,
    },
    computed: {
      ...mapGetters([
        'activeUserDetails',
      ]),
      ...mapState({
        firstName: state => state.tcUser.firstName,
        lastName: state => state.tcUser.lastName,
        phone: state => state.tcUser.phone,
        altPhone: state => state.tcUser.altPhone,
        guid: state => state.tcUser.guid,
      }),
    },
    data() {
      return {
        formDetails: {
          firstName: '',
          lastName: '',
          phone: '',
          altPhone: '',
          id: '',
          guid: '',
        },
        error: '',
        isSaving: false,
      };
    },
    methods: {
      ...mapActions({
        updateUserDetails: types.tcUser.updateDetails,
      }),
      formatPhone(phone) {
        const onlyDigits = (String(phone)).replace(/\D/g, '');
        const matches = onlyDigits.match(/^(\d{3})(\d{3})(\d{4})$/);
        return (!matches) ? null : `${matches[1]}-${matches[2]}-${matches[3]}`;
      },
      formatPhoneDisplay(phone) {
        const onlyDigits = (String(phone)).replace(/\D/g, '');
        const matches = onlyDigits.match(/^(\d{3})(\d{3})(\d{4})$/);
        return (!matches) ? null : `(${matches[1]}) ${matches[2]}-${matches[3]}`;
      },
      async save() {
        this.isSaving = true;
        // Trigger all validations
        if (!this.$validateChildrenAndScrollToError()) {
          this.isSaving = false;
          return;
        }
        this.error = null;
        let response;
        let userDetails;
        userDetails = merge({}, this.formDetails);
        userDetails.phone = this.formatPhone(userDetails.phone);
        userDetails.altPhone = this.formatPhone(userDetails.altPhone) || '';
        try {
          response = await api.tcUser.save(userDetails);
        }
        catch (e) {
          console.warn(e); //eslint-disable-line
          this.error = this.$i18n('user.saveError');
          this.isSaving = false;
          return;
        }

        if (response === false) {
          this.error = this.$i18n('user.saveError');
          this.isSaving = false;
          return;
        }
        else if (typeof response === 'string') {
          this.error = response;
          this.isSaving = false;
          return;
        }

        // Response must be `true`, so we're good!
        this.updateUserDetails(userDetails);
        this.$router.go(-1);
      },
    },
    name: 'userDetailsModal',
    mounted() {
      this.formDetails = assign(this.formDetails, pick(this.activeUserDetails, ['firstName', 'lastName', 'phone', 'altPhone', 'guid']));
      this.formDetails.id = this.activeUserDetails.guid;
      this.formDetails.phone = this.formatPhoneDisplay(this.formDetails.phone);
      this.formDetails.altPhone = this.formatPhoneDisplay(this.formDetails.altPhone);
    },
  };

</script>
