<table>
  <tr>
    <th>
      Mixin Name
    </th>
    <th>
      Description
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>
      @mixin grid
    </td>
    <td>
      sets default classes for the grid container div and removes padding on nested grids if a grid class name is supplied
    </td>
    <td>
      <pre>
        @mixin grid($nested: grid) {
            width: 100%;
            display: flex;
            padding: 0 $_padding-small;

            @include breakpoint($break-medium) {
                padding: 0 $_padding-large;
            }

            .#{$nested} {
                padding: 0;
            }
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td>
      @mixin column
    </td>
    <td>
      Sets the default column styles, establishes different gutters for different breakpoints and generates full-width column styles.
    </td>
    <td>
      <pre>
        @mixin column {
            padding: 0 $_gutter-small/2;
            flex: 1 0 auto;
            max-width: 100%;

            &--full-width {
                flex-basis: 100%;
                padding: 0 $_gutter-small/2;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            @include breakpoint($break-small) {
                padding: 0 $_gutter-large/2;
            }
            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                flex: 1 0 0%;
            }
        }

      </pre>
    </td>

  </tr>
  <tr>
    <td>
      @mixin setColumn
    </td>
    <td>
      Calculates column width based on the number of columns out of the total number provided.
    <td>
      <pre>
        @mixin setColumn($span, $total: $_columns-default) {
            flex-basis: _calcWidth($span, $total);
            max-width: _calcWidth($span, $total);
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td>
      @function _calcWidth (not a mixin)
    </td>
    <td>
      Powers the math behind column width calculation
    <td>
      <pre>
          @function _calcWidth($span, $total) {
              $multiplier: 100 / $total;
              @return ($span * $multiplier) * 1%;
          }
      </pre>
    </td>
  </tr>
</table>
