<table>
  <tr>
    <th>
      Example
    </th>
    <th>
      Class Name
    </th>
    <th>
      Type
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>

      <div class="grid">
        <div class="column column--half">
          <div class="grid--example"></div>
        </div>
        <div class="column column--half">
          <div class="grid--example"></div>
        </div>
      </div>

    </td>
    <td>
      .column--half
    </td>
    <td>
      50% width column
    </td>
    <td>
      <pre>
        .column--half {
            @include setColumn(1, 2);
        }
      </pre>
    </td>
  </tr>
  <tr>
  <td>

    <div class="grid">
      <div class="column column--third">
        <div class="grid--example"></div>
      </div>
      <div class="column column--third">
        <div class="grid--example"></div>
      </div>
      <div class="column column--third">
        <div class="grid--example"></div>
      </div>
    </div>

  </td>
  <td>
      .column--third
    </td>
    <td>
      33.333% width column
    </td>
    <td>
      <pre>
        .column--third {
            @include setColumn(1, 3);
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td>

      <div class="grid">
        <div class="column column--two-thirds">
          <div class="grid--example"></div>
        </div>
        <div class="column column--third">
          <div class="grid--example"></div>
        </div>
      </div>

    </td>
    <td>
      .column--two-thirds
    </td>
    <td>
      66.666% width column
    </td>
    <td>
      <pre>
        .column--two-thirds {
            @include setColumn(2, 3);
        }
      </pre>
    </td>
  </tr>
</table>
