<table>
  <tr>
    <th>
      Variable Name
    </th>
    <th>
      Pixel Value
    </th>
  </tr>
  <tr>
    <td>
      $break-xsmall
    </td>
    <td>
      380px
    </td>
  </tr>
  <tr>
    <td>
      $break-small
    </td>
    <td>
      640px
    </td>
  </tr>
  <tr>
    <td>
      $break-medium
    </td>
    <td>
      1024px
    </td>
  </tr>
  <tr>
    <td>
      $break-large
    </td>
    <td>
      1440px
    </td>
  </tr>
  <tr>
    <td>
      $break-xlarge
    </td>
    <td>
      1920px
    </td>
  </tr>

</table>
