<template>

  <modal-frame class="height-auto">
    <template slot="header">
      <h3>{{ $i18n('workplace.editPo') }}</h3>
      <p>
        {{ accountName }} - #{{ accountId }}
      </p>
    </template>

    <template slot="content">
      <div v-if="updateInProgress" class="fill flex-column bgc-white flex-gap-10 align-center m-0 p-20">
        <ur-loading-spinner/>
        <h3 class="text-center">{{ $i18n('workplace.submittingRequest') }}</h3>
      </div>

      <div v-else class="modal-framed__group grid flex-column">
        <div class="display-flex">
          <p>
            {{ $i18n('workplace.theCurrentPoIs', { '@po': po, '@transId': transId }) }}.
          </p>
        </div>

        <po-number
          :poNumber="localPo"
          :accountId="accountId"
          :requirePo="requirePo"
          @poError="setPoError"
          @changePo="setPo"/>

        <div v-if="errorMessage" v-html="errorMessage" class="error-message m-20"></div>
      </div>
    </template>

    <template slot="footer">
      <button
        class="button button--style-2 button--secondary"
        @click="close()"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-2 button--filled"
        v-show="!updateInProgress"
        @click="waitThen(save)"
        :disabled="error"
      >
        {{ $i18n('workplace.updatePo') }}
      </button>
    </template>
  </modal-frame>

</template>

<script>
  import { FlightToken } from '@/api/flight-track';
  import Vue from 'vue';

  import ModalFrame from '@/components/common/ur-modal-frame.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  // import PoNumber from '@/components/common/form/text-input/po-number.vue';
  import PoNumber from '@/components/platform-account/quotes/convert-quote/billing/po-number.vue';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default Vue.extend({
    name: 'updatePoModal',
    components: {
      ModalFrame,
      PoNumber,
      UrLoadingSpinner,
    },
    props: {
      accountId: String,
      po: String,
      transId: String,
    },
    inject: ['urModal'],
    computed: {
      ...mapState({
        accountName(state) {
          return state.accounts.all[this.accountId].name || '';
        },
        requirePo(state) {
          return state.accounts.all[this.accountId].requirePo || 'N';
        },
      }),
      updateInProgress() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.updateTransactionPo);
      },
    },
    data() {
      return {
        localPo: '',
        error: false,
        errorMessage: '',
      };
    },
    methods: {
      ...mapActions({
        updateEquipmentPo: types.workplace.updateEquipmentPo,
      }),
      close() {
        this.urModal.close();
      },
      setPo(input) {
        this.localPo = input;
      },
      setPoError(input) {
        this.error = input.flag;
      },
      waitThen(callback) {
        setTimeout(() => callback(), 500);
      },
      async save() {
        if (this.error) return;
        try {
          this.error = false;
          this.errorMessage = null;
          let poToSend = this.localPo;
          if (this.requirePo === 'N' && !this.localPo) {
            poToSend = 'NPOR';
          }
          await this.updateEquipmentPo({
            accountId: this.accountId,
            transId: this.transId,
            po: poToSend,
          });
          this.$router.go(-1);
        }
        catch (error) {
          this.errorMessage = typeof error === 'string' ? error : error.message;
        }
      },
    },
    mounted() {
      this.localPo = this.po;
      this.urModal.direct = false;
    },
  });
</script>
