<template>

  <modal-frame :contentClasses="{ 'modal-framed__content': false, 'p-b-20': true }">
    <template slot="header">
      <h3>{{ $i18n('workplace.customizeColumns') }}</h3>
      <p>{{ $i18n('workplace.customizeColumnsDescription') }}</p>
    </template>

    <template slot="content">
      <div
        v-for="(group, key) in groupedColumns"
        :key="key"
        class="column-settings-group">
        <p class="modal-framed__group-title">{{key}}</p>

        <ul class="column-settings-list m-0 p-0">
          <ur-checkbox
            v-for="column in group"
            :key="column.columnKey"
            :disabled="saveInProgress || column.locked"
            :checked="column.visible"
            :labelClasses="{ 'c-gray': saveInProgress || column.locked, 'fw-normal': true }"
            @change="toggleVisibility(column.columnKey, $event)"
            :label="column.label.long"/>
        </ul>

      </div>
      <transition nam="fade">
        <div v-if="fetchInProgress" class="loading-overlay fw-bold">
          <p>{{ $i18n('workplace.gettingColumnPreferences') }}</p>
          <ur-loading-spinner />
        </div>
      </transition>
    </template>

    <template slot="footer">
      <div class="flex-row grow p-x-10 flex-gap-5">
        <button class="button button--style-2 button--secondary"
          :disabled="saveInProgress"
          @click="resetDisplaySettings()">
          {{ $i18n('workplace.resetToDefaults') }}
        </button>
        <span class="grow"></span>
        <button class="button button--style-2 button--filled m-r-0 flex-row align-center"
          :disabled="saveInProgress"
          @click="close()">
          <span v-if="saveInProgress">
            {{ $i18n('workplace.updating') }}
          </span>
          <span v-else>
            {{ $i18n('checkout.done') }}
          </span>
        </button>
      </div>
    </template>

  </modal-frame>

</template>

<style scoped lang="scss">
  @import 'styles/globals';

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-white, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column-settings-group {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px 20px 0;

    &:not(:last-child)::after {
      content: '';
      margin-top: 1rem;
      width: 100%;
      height: 2px;
      background-color: $color-grey-5;
    }
  }

  .column-settings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      width: 33%;
      flex-shrink: 0;
      margin-bottom: 1rem;
    }
  }
</style>

<script>
  import Vue from 'vue';
  import { mapActions, mapState, mapGetters } from 'vuex';
  import { groupBy } from 'lodash';
  import { FlightToken } from '@/api/flight-track';
  import types from '@/store/types';
  import ModalFrame from '@/components/common/ur-modal-frame.vue';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  export default Vue.extend({
    name: 'equipmentVisibilitySettings',
    components: {
      ModalFrame,
      UrCheckbox,
      UrLoadingSpinner,
    },
    inject: ['urModal'],
    computed: {
      ...mapGetters({
        tokensAreInFlight: types.inFlightRequests.tokensAreInFlight,
      }),
      ...mapState({
        columns: state => state.user.equipmentColumns,
      }),
      saveInProgress() {
        return this.tokensAreInFlight(FlightToken.saveUserPreferences);
      },
      fetchInProgress() {
        return this.tokensAreInFlight(FlightToken.fetchUserPreferences);
      },
      groupedColumns() {
        return groupBy(this.columns, 'group');
      },
    },
    methods: {
      ...mapActions({
        updateEquipmentColumn: types.user.updateEquipmentColumn,
        resetPreferencesToDefault: types.user.resetEquipmentColumnsToDefault,
      }),
      toggleVisibility(columnKey, visible) {
        this.updateEquipmentColumn({
          columnKey,
          changes: { visible },
        });
      },
      async resetDisplaySettings() {
        await this.resetPreferencesToDefault();
      },
      close() {
        // Call the containing modals close method so that the necessary
        // teardown callbacks are invoked
        this.urModal.close();
      },
    },
    mounted() {
      // The modal by default wipes out everything after the #
      // Set it to direct=false so that it does this.$router.go(-1) instead
      this.urModal.direct = false;
    },
  });
</script>
