<template>
  <div class="equipment-list-controls workplace-equipment__header p-y-5 flex-row flex-wrap justify-between w-100">
    <equipment-search :placeholder="$i18n('ur.search')" />
    <equipment-filter-dropdown class="button-wrapper--filter" />
    <group-by-dropdown class="button-wrapper--group"/>
    <div class="ur-menu-wrapper button-wrapper--customize">
      <button class="ur-menu-button ur-menu-button--filter button-settings button--secondary" @click="openColumnCustomization">
        <i class="icon icon-before-settings adjusted-icon"></i>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
  @import 'styles/globals';
  .manage .workplace .workplace-equipment__header {
    .global-search__field {
      margin-bottom: rem(16);

      @media(min-width: 640px) {
        margin-bottom: 0;
      }
    }
    .ur-menu-container .ur-menu-container {
      top: 80%;
      left: 62%;

      @include media(">=m") {
        top: 0;
        left: 100%;
      }
    }
  }


</style>
<script lang="ts" src="./equipment-list-controls.ts"></script>
