<template>
  <ur-menu
    title="Filter"
    icon="icon-before-filter"
    :closeOnButtonClick="true"
    button-class="ur-menu-button ur-menu-button--filter button--secondary"
  >
    <!-- Simple filters -->
    <div class="ur-menu-group border-b-normal">
      <span class="ur-menu-group-description">{{ $i18n('workplace.displayOnly') }}</span>
      <div
        v-for="(filter, index) in simpleFiltersWithCounts"
        :key="index"
        :style="{ pointerEvents: filter.count <= 0 ? 'none' : 'all' }"
        :class="{ 'selectable': filter.count > 0, 'ur-menu-group-item': true }"
      >
        <ur-query-link
          :class="{ 'disabled': filter.count < 1, 'ur-menu-group-item-link': true }"
          mode="multivalue"
          active-class="active"
          :param="filter.id"
          :replace="true"
          :value="filter.queryValue"
        >
          <i class="icon icon-before-check"/>
          <span class="m-r-5">{{filter.label}}</span>
          <span>({{ filter.count }})</span>
        </ur-query-link>
      </div>
    </div>

    <div class="ur-menu-group">

      <span class="ur-menu-group-description">{{ $i18n('workplace.filterBy') }}</span>

      <!-- Static + Dynamic filters -->
      <div
        v-for="filterSet in mergedFilters"
        :key="filterSet.id"
        class="ur-menu-group-item selectable"
      >

        <!-- Static filters -->
        <ur-menu
          v-if="filterSet.type === 'static'"
          :title="filterSet.label"
          title-class="menu-arrow"
          button-class="ur-menu-link"
          action="mouseover"
          :offset="getOffset(filterSet.filters.length)"
          :checkBounds="filterSet.filters.length > 1 ? true : false"
        >
          <div class="ur-menu-group">
            <div
              v-for="filter in filterSet.filters"
              :key="filter.queryValue"
              class="ur-menu-group-item selectable"
            >
              <ur-query-link
                class="ur-menu-group-item-link"
                mode="multivalue"
                active-class="active"
                :param="filterSet.id"
                :replace="true"
                :value="filter.queryValue"
              >
                <i class="icon icon-before-check m-r-5"/>
                <span class="m-r-5">{{filter.label}}</span>
                <span>({{ getCount(filter.filter) }})</span>
              </ur-query-link>
            </div>

          </div>
        </ur-menu>

        <!-- Dynamic filters -->
        <ur-menu
          v-else
          :title="filterSet.label"
          :offset="getOffset(filterSet.values.length)"
          :checkBounds="filterSet.values.length > 1 ? true : false"
          title-class="menu-arrow"
          button-class="ur-menu-link"
          action="mouseover"
          @open="nestedMenuOpened($event)"
          @close="clearSearchText($event)"
        >
          <div class="ur-menu-group">
            <div class="ur-menu-group-item list-item list-item--search-box">
              <div class="input-search-wrapper">
                <i class="icon icon-before-search" />
                <input
                  type="text"
                  class="form-item__textfield"
                  placeholder="Find"
                  v-model="searchText"
                  @keyup.enter="onFilterSearchEnter(filterSet)"
                  @click.stop />
              </div>
            </div>
            <div
              v-for="value in filterSet.values"
              :key="value.queryValue"
              class="ur-menu-group-item selectable"
            >
              <ur-query-link
                :class="{ 'ur-menu-group-item-link': true, 'multiline': Array.isArray(value.label) }"
                mode="multivalue"
                active-class="active"
                :param="filterSet.id"
                :replace="true"
                :value="value.queryValue"
              >
                <i class="icon icon-before-check"/>
                <template v-if="Array.isArray(value.label)">
                  <span class="line" v-for="(label, index) in value.label" :key="index">
                    {{label}} <template v-if="index === 0">({{ getCount(value.filter) }})</template>
                  </span>
                </template>
                <template v-else>
                  <span class="m-r-5">{{value.label}}</span>
                  <span>({{ getCount(value.filter) }})</span>
                </template>
              </ur-query-link>
            </div>
          </div>
        </ur-menu>
      </div>
    </div>
  </ur-menu>
</template>

<style scoped lang="scss">
  @import 'styles/globals';

  .ur-menu-group-item-link.multiline {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .line {
      &:first-of-type {
        font-size: $font-size-preset-30;
      }
      font-size: $font-size-preset-20;
      line-height: $font-size-preset-40;
    }
  }
</style>

<script lang="ts" src="./equipment-filter-dropdown.ts"></script>
