<template>
  <div class="equipment-list display-block pos-relative">
    <div class="workplace-equipment__header flex-column align-items-center">
      <div class="w-100 flex-row justify-space-between">
        <h1>{{ $i18n('workplace.equipment') }}</h1>
        <a href="/marketplace/equipment" class="btn btn-style--primary btn-size--regular rent-equipment-button">{{ $i18n('workplace.rentEquipment') }}</a>
      </div>
      <dashboard-carousel :equipment-listing="true" />
    </div>

    <section class="h-100vh pos-relative bg-gradient flex-column justify-start align-start">
      <div class="flex-row m-0 align-self-stretch align-center justify-space-between">
        <h2 class="flex-row flex-gap-5 align-baseline w-auto m-b-5">
          <ur-loading-spinner v-if="equipmentRequestsPending"/>
          <span>{{ $i18n('workplace.results') }}</span>
          <span class="result-count fw-normal c-gray">({{ equipmentResultsCount }})</span>
        </h2>
      </div>

      <equipment-list-controls/>
      <equipment-filter-badges class="p-l-0"/>

      <listing
        class="grow m-b-30"
        :data="items"
        :data-height="44"
        :get-column-index="getColumnIndex"
        :get-column-sortable="columnIsSortable"
        :get-column-width="getColumnWidth"
        :get-table-header-label="getTableHeaderLabel"
        :group-header-height="64"
        :hidden-columns="hiddenColumns"
        :table-footer-height="20"
        :loading="showLoadingOverlay"
        :sort-column-key="sortedColumnKey"
        :sort-direction="sortDirection"
        @events="handleListingEvent">
        <!-- Loading slot -->
        <div slot="loading" class="flex-column align-center p-y-20">
          <ur-loading-spinner/>
          <h3 class="text-center">{{ $i18n('workplace.loadingEquipment') }}</h3>
        </div>

        <!-- Empty data slot -->
        <div slot="empty" class="flex-column align-center p-y-20">
          <h3 class="text-center">{{ $i18n('workplace.noMatchingEquipment') }}</h3>
        </div>

        <!-- Group row -->
        <listing-group-row>
          <div slot-scope="scope" @click="scope.toggleCollapsed" class="flex-row align-items-center" style="height: 100%">
            <div class="flex-row align-items-center justify-start m-r-5">
              <span class="m-r-5">{{ getGroupLabel(scope) || groupNoLabel }}</span>
              <span class="fw-light">({{ scope.itemCount }})</span>
            </div>
            <i class="cursor-pointer" :class="`icon-before-arrow-${scope.collapsed ? 'down': 'up'}`"></i>
          </div>
        </listing-group-row>

        <!-- Columns -->
        <listing-column :column-key="columnKeys.EquipmentName" pinned="left" :link="true">
          <router-link slot-scope="{ item }" :to="detailsRoute(item)" class="truncate">
            {{ item.dalDescription }}
          </router-link>
        </listing-column>

        <listing-column
          column-key="actions"
          pinned="left"
          align="center"
          data-cell-class="p-x-2"
          :width="54"
          :resizable="false"
        >
          <actions-listing-field slot-scope="{ item }" :item="item" :resource="{
            column: { key: 'actions' },
            field: { key: 'actions' }
          }"/>
        </listing-column>


        <listing-column :column-key="columnKeys.CatClass" property="catClass"/>

        <listing-column :column-key="columnKeys.DailyRate" align="right">
          <span slot-scope="{ item }" class="rate-cell">{{ item.dayRate | currency }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.DaysOnRent">
          <div slot-scope="{ item }">
            <span v-if="typeof item.daysOnRent === 'number'">
              {{ item.daysOnRent }} {{ $i18n('reservationView.days') }}
            </span>
            <span v-else class="m-y-0">-</span>
          </div>
        </listing-column>

        <listing-column :column-key="columnKeys.EquipmentId">
          <template slot-scope="{ item }">{{ item.equipmentIdOrEmptyString || '-' }}</template>
        </listing-column>

        <listing-column :column-key="columnKeys.EquipmentType" property="eqpType"/>

        <listing-column :column-key="columnKeys.EstimatedEndDate">
          <span slot-scope="{ item }">{{ returnDateTime(item) | momentSlashYYFormat }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.Gps" align="left">
          <gps-utilization slot-scope="{ item }" :item="item"/>
        </listing-column>

        <listing-column :column-key="columnKeys.InLeniency">
          <div slot-scope="{ item }">
            <span v-if="item.leniencyStatus == 'inLeniency'" class="m-y-0 status-indicator-green">
              Until {{ leniencyEndDate(item) | momentSlashYYFormat }}
            </span>
            <span v-else-if="item.leniencyStatus == 'futureLeniency'" class="m-y-0 status-indicator-gray-light">
              Starts {{ leniencyStartDate(item) | momentSlashYYFormat }}
            </span>
            <span v-else class="m-y-0">-</span>
          </div>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteAddress">
          <span slot-scope="{ item }">{{ item.jobsite.address1 || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteCity">
          <span slot-scope="{ item }">{{ item.jobsite.city || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteId">
          <span slot-scope="{ item }">{{ item.jobsite.customerJobId || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteName">
          <span slot-scope="{ item }">{{ item.jobsite.name || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteState">
          <span slot-scope="{ item }">{{ item.jobsite.state || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.JobsiteZip">
          <span slot-scope="{ item }">{{ item.jobsite.zip || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.LastBilledDate">
          <span slot-scope="{ item }">{{ billThruDateTime(item) | momentSlashYYFormat }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.MonthlyRate" align="right">
          <template slot-scope="{ item }">
            <span v-if="billThruDateTime(item) !== null">{{ billThruDateTime(item) | momentSlashYYFormat }}</span>
            <span v-else>-</span>
          </template>
        </listing-column>

        <listing-column :column-key="columnKeys.OrderedBy" property="orderedBy"/>

        <listing-column :column-key="columnKeys.OrderType">
          <span slot-scope="{ item }">{{ item.orderType || '-' }}</span>
        </listing-column>


        <listing-column :column-key="columnKeys.Phone">
          <span slot-scope="{ item }">{{ item.jobsitePhone || '-' }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.PickupDate" property="pickupDate"/>

        <listing-column :column-key="columnKeys.PickupId" property="pickupId"/>

        <listing-column :column-key="columnKeys.Branch">
          <template slot-scope="{ item }">
            <a v-if="item.hasMatchingBranch" :href="item.branchDetailUrl">{{ item.branchId }}</a>
            <span v-else>{{ item.branchId }}</span>
          </template>
        </listing-column>

        <listing-column :column-key="columnKeys.PickupQuantity" align="center" property="pickupQuantity"/>

        <listing-column :column-key="columnKeys.PoNumber" property="po"/>

        <listing-column :column-key="columnKeys.Quantity" align="center" property="statusSpecificQuantity"/>

        <listing-column :column-key="columnKeys.Requester" property="requesterName"/>

        <listing-column :column-key="columnKeys.RequisitionId" property="requisitionId"/>

        <listing-column :column-key="columnKeys.StartDate">
          <span slot-scope="{ item }">{{ startDateTime(item) | momentSlashYYFormat }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.Status">
          <div slot-scope="{ item }" style="padding-left: 8px">
            <p class="m-y-0 fs-small fw-bold" :class="item.statusIndicatorClass">{{ item.statusLabel }}</p>
          </div>
        </listing-column>

        <listing-column :column-key="columnKeys.TransactionNumber">
          <span slot-scope="{ item }">{{ item.transId || item.requisitionId }}</span>
        </listing-column>

        <listing-column :column-key="columnKeys.UsageToday" property="usageToday"/>

        <listing-column :column-key="columnKeys.WeeklyRate" align="right">
          <span slot-scope="{ item }" class="rate-cell">{{ item.weekRate | currency }}</span>
        </listing-column>

        <!-- Footer -->
        <transition name="tbSlideFade" tag="div" slot="footer" slot-scope="{ layout }">
          <span v-if="layout.isAtBottom" class="fs-small c-gray fw-bold">
            {{ $i18n('emptyResults.noAdditionalResults') }}
          </span>
        </transition>
      </listing>
    </section>
    <actions-menu />
  </div>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';

  .h-100vh {
    height: 100vh;
  }

  .bg-gradient {
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -50vw;
      z-index: -1;
      right: -50vw;
      top: 0;
      bottom: 0;
      background: linear-gradient(180deg, $color-grey-2 0%, $color-white 72px, $color-white 100%);
      border-top: 1px solid $color-grey-11;
      box-sizing: border-box;
    }
  }

</style>

<script lang="ts" src="./equipment-list.ts"></script>
