.pager-alt {
  display: flex;
  justify-content: flex-end;

  .pager__items {
    display: flex;
    align-items: center;
    position: relative;
  }

  .pager__link,
  .pager__link:link,
  .pager__link:visited {
    color: $color-grey-69;
    font-weight: normal;

    &.is-active {
      color: $color-grey-69;
      font-weight: bold;
      border-bottom: 2px solid $color-blue-highlight;
      padding-bottom: 2px;
    }

    &.inactive {
      opacity: .2;
    }
  }

  .pager__link--prev,
  .pager__link--next {
    width: 24px;
    height: 24px;
    background: $color-grey-11;
    border-radius: 50%;

    &::before {
      border: 0;
      content: "\f104";
      color: $color-blue;
    }
  }

  .pager__link--next {
    &::before {
      content: "\f105"
    }
  }
}
