.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;
  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 .7em;
  height: 20px;

  a span {
    display: none;
  }

  @include large {
    margin: 0 1em;
  }
}

.pager__link,
.pager__link:link,
.pager__link:visited {
  color: $color-blue;
  font-weight: 600;
  text-decoration: none;
  &.is-active {
    border-bottom: 2px solid $color-blue-highlight;
    span {
      display: inherit;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.pager__link--next,
.pager__link--prev {
  display: block;

  span {
    display: none;
  }

  &::before {
    border: 8px solid $gray-light;
    border-bottom: 6px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid transparent;
    content: "";
    display: block;
    position: relative;
    top: 1px;
  }

  &:hover {
    &::before {
      border-left-color: $gray;
    }
  }
}

.pager__link--prev {
  &::before {
    border-left-color:transparent;
    border-right-color:$gray-light;
  }

  &:hover {
    &::before {
      border-left-color: transparent;
      border-right-color: $gray;
    }
  }
}

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-grey-11;
  color: $color-blue;
  line-height: 10px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  opacity: .75;
  cursor: pointer;
  font-size: 0;
  &:hover {
    text-decoration: none;
  }
  &:before {
    font-size: 1rem!important;
    font-family: icomoon!important;
    color: inherit;
    font-size: inherit;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    position:relative;
    z-index: -1;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

.left-arrow-link:before {
  @extend .arrow-link;
  content: "\e901";
}

.right-arrow-link:before {
  @extend .arrow-link;
  content: "\e900";
}

.disabled-arrow:before {
  opacity: .25;
}
