<template>
  <ur-select
    :value="localViewSort"
    :label="$i18n('reservationView.sortByLabel')"
    @change="updateViewSort"
    emptyOptionLabel="Sort by: All"
  >
    <option v-for="(option, key) in optionSort" :key="key" :value="option.label">{{ option.label }}</option>
  </ur-select>
</template>

<script type="text/babel">
  import UrSelect from '@/components/common/form/ur-select';

  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'reservations-sort',
    beforeCreated() {
      this.updateViewSort('');
    },
    components: {
      UrSelect,
    },
    computed: {
      ...mapState({
        viewSort: state => state.reservations.viewSort,
      }),
      localViewSort() {
        return this.viewSort;
      },
      optionSort() {
        return [
          { id: 1, label: this.$i18n('reservationViewSelectOptions.OtoN') },
          { id: 2, label: this.$i18n('reservationViewSelectOptions.NtoO') },
          { id: 3, label: this.$i18n('reservationViewSelectOptions.jobAtoZ') },
          { id: 4, label: this.$i18n('reservationViewSelectOptions.jobZtoA') },
          { id: 5, label: this.$i18n('reservationViewSelectOptions.statusAtoZ') },
          { id: 6, label: this.$i18n('reservationViewSelectOptions.statusZtoA') },
          { id: 7, label: this.$i18n('reservationViewSelectOptions.reservationASC') },
          { id: 8, label: this.$i18n('reservationViewSelectOptions.reservationDESC') },
        ];
      },
    },
    methods: {
      ...mapActions({
        updateViewSort: types.reservations.updateViewSort,
      }),
    },
  };
</script>
