<template>
  <div class="platform-account-list-item-container">
    <div class="reservationDetailsSpinner" v-if="!reservationDetails.jobsite && !isFetchingTransactionsList">
      <h2><ur-loading-spinner class="icon-button"></ur-loading-spinner></h2>
    </div>
    <div v-if="reservationDetails.jobsite" class="platform-account-item-list-status">

      <!-- Mobile display for status headers -->
      <div v-if="small">
        <div class="platform-account-container">
          <div class="inner-column_small_left">
            <span class="platform-account-list-item__item-name">
              {{ reservationDetails.jobsite.name }}
              <span>#{{ reservationId || requisitionId }}</span>
          </span>
          </div>
          <div class="inner-column_small_right">
            <span class="inner-column_small_heading">
              <span v-if="!hasEstimate">
                <ur-loading-spinner class="icon-button"></ur-loading-spinner>
              </span>
              <span v-else class="platform-account-list-item__item-price price">
                {{ totalAmt | decimalCurrency }}
              </span>
            </span>
          </div>
        </div>
      </div>
      <div v-else class="group-full">
          <span class="platform-account-list-item__item-name">
            {{ reservationDetails.jobsite.name }}
            <span>#{{ reservationId || requisitionId }}</span>
          </span>
      </div>

      <template v-if="small">
        <div class="small__container">
          <div class="inner-column_medium">
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-if="orderStatus === 'Pending'">
              {{ $i18n('reservationView.inProgressStatus') }}
            </div>
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-else>
              {{ statusChipClass | uppercase }}
            </div>
          </div>

          <div class="inner-column_medium">
            <span class="label">{{ $i18n('reservationView.accountName') }}</span>
            <span class="inner-label">{{ this.accountName }}</span>
          </div>

          <div class="inner-column_medium">
            <span class="label">{{ $i18n('reservationView.startDate') }}</span>
            <span class="inner-label"> {{ reservationDetails.startDateTime | momentSlashFormat }} </span>
          </div>
        </div>

        <div class="small__container">
          <div class="inner-column_medium">
            <!-- Intentionally kept blank -->
          </div>

          <div class="inner-column_medium">
            <span class="label">{{ $i18n('reservationView.accountNumber') }}</span>
            <span
              class="inner-label">{{ reservations[requisitionId].accountId }}</span>
          </div>

          <div class="inner-column_medium">
            <span class="label">{{ $i18n('reservationView.items') }}</span>
            <span class="inner-label">{{ itemCount }}</span>
          </div>
        </div>
      </template>
      <template v-else-if="medium">
        <div class="small__container">
          <div class="inner-column_small">
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-if="orderStatus === 'Pending'">
              {{ $i18n('reservationView.inProgressStatus') }}
            </div>
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-else>
              {{ statusChipClass | uppercase }}
            </div>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.accountName') }}</span>
            <span class="inner-label">{{ this.accountName }}</span>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.startDate') }}</span>
            <span class="inner-label"> {{ reservationDetails.startDateTime | momentSlashFormat }} </span>
          </div>

          <div class="inner-column_small">
            <span v-if="!hasEstimate"><ur-loading-spinner class="icon-button"></ur-loading-spinner></span>
            <span v-else class="platform-account-list-item__item-price price">{{ totalAmt | decimalCurrency }}</span>
          </div>
        </div>

        <div class="small__container">
          <div class="inner-column_small">
            <!-- This column intentionally left blank. -->
          </div>
          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.accountNumber') }}</span>
            <span class="inner-label">{{ reservations[requisitionId].accountId }}</span>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.items') }}</span>
            <span class="inner-label">{{ itemCount }}</span>
          </div>

          <div class="inner-column_small">
            <!-- This column intentionally left blank. -->
          </div>
        </div>
      </template>
      <template v-else>
        <div class="small__container">
          <div class="inner-column_first">
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-if="orderStatus === 'Pending'">
              {{ $i18n('reservationView.inProgressStatus') }}
            </div>
            <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-else>
              {{ statusChipClass | uppercase }}
            </div>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.accountName') }}</span>
            <span class="inner-label">{{ this.accountName }}</span>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.startDate') }}</span>
            <span class="inner-label"> {{ reservationDetails.startDateTime | momentSlashFormat }} </span>
          </div>

          <div class="inner-column_small">
            <span v-if="!hasEstimate"><ur-loading-spinner class="icon-button"></ur-loading-spinner></span>
            <span v-else class="platform-account-list-item__item-price price">{{ totalAmt | decimalCurrency }}</span>
          </div>
        </div>

        <div class="small__container">
          <div class="inner-column_first">
            <!-- This column intentionally left blank. -->
          </div>
          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.accountNumber') }}</span>
            <span class="inner-label">{{ reservations[requisitionId].accountId }}</span>
          </div>

          <div class="inner-column_small">
            <span class="label">{{ $i18n('reservationView.items') }}</span>
            <span class="inner-label">{{ itemCount }}</span>
          </div>

          <div class="inner-column_small">
            <!-- This column intentionally left blank. -->
          </div>
        </div>
      </template>

      <transition name="tbSlideFade">
        <div v-if="hasEstimate" class="group-full">
          <div class="platform-account-list-item__quick-view">
            <router-link v-if="orderStatusCode === 'PND'"
                         :to="'/reservation-details/' + requisitionId"
                         class="quick-view-link">{{ $i18n('reservationView.btnDetailsAndEdit') }}
              <i class="icon icon-long-arrow-left"></i></router-link>
            <router-link v-else
                         :to="'/reservation-details/' + requisitionId"
                         class="quick-view-link">{{ $i18n('reservationView.btnDetails') }}
              <i class="icon icon-long-arrow-left"></i></router-link>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  import { mapGetters, mapState } from 'vuex';
  import { getFetchingKey } from '@/store/module.reservation-details';

  export default {
    name: 'reservation-list-item',
    components: {
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        estimates: state => state.estimates.all,
        isFetching: state => state.reservations.fetching,
        isFetchingDetails(state) {
          const { accountId, requisitionId, reservationId } = this;
          const key = getFetchingKey({ accountId, requisitionId, reservationId });
          return state.readReservationDetails.fetching[key];
        },
        readReservationDetails: state => state.readReservationDetails.all,
        reservations: state => state.reservations.all,
        transactions: state => state.transactions.all,
      }),
      estimate() {
        return this.estimates[this.requisitionId] || {};
      },
      hasEstimate() {
        return Object.keys(this.estimate).length > 0;
      },
      itemCount() {
        return Object.values(this.estimate.items || {}).reduce((count, item) => count + Number(item.quantity), 0);
      },
      reservationDetails() {
        return this.readReservationDetails[this.requisitionId] || {};
      },
      statusChipClass() {
        const map = {
          SCD: 'scheduled',
          PND: 'pending',
          PRG: 'inprogress',
          CMP: 'completed',
          CXL: 'cancelled',
          RSC: 'cancelled',
        };

        return map[this.orderStatusCode];
      },
      totalAmt() {
        if (!this.estimate.totals) {
          return 0;
        }
        const {
          totalRentalAmount, environmentFee, tax, damageWaiverFee, deliveryFee, pickupFee, miscellaneousFees,
        } = this.estimate.totals;
        return totalRentalAmount + environmentFee + tax + damageWaiverFee + deliveryFee + pickupFee + miscellaneousFees;
      },
    },
    props: {
      accountId: String,
      accountName: String,
      items: Object,
      name: String,
      orderStatusCode: String,
      orderStatus: String,
      reservationId: String,
      requisitionId: String,
      startDate: String,
      returnDate: String,
      isFetchingTransactionsList: Boolean,
    },
  };
</script>
