<template>
  <div v-if="small" class="platform-account-reservation-details-jobsite">
    <template v-if="!isOpen">
      <div v-if="letSpinnerRun" class="object-listing-spinner">
        <ur-loading-spinner></ur-loading-spinner>
      </div>
      <div v-if="!letSpinnerRun" class="small__container">
        <div class="inner-column_small_left">
          <p class="section_name">
            {{ $i18n('reservationView.jobsite') }}
          </p>
        </div>
        <div class="inner-column_small_right">
          <p v-if="canEdit && isEditable && !nonEditableStat" class="edit-link"><a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a></p>
        </div>
      </div>

      <div class="group-full">
        <div class="platform-account-reservation-details-jobsite__container">
          <h3>{{ jobsite.name }}</h3>
          <p>{{ jobsite.address1 }}</p>
          <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
          <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
          <br>
          <p class="label">
            {{ $i18n('reservationView.contact') }}
          </p>

          <p><strong>{{ jobsite.contact }}</strong></p>
          <p>{{ jobsite.mobilePhone | phoneNumber }}</p>
          <a class="link link--alt link--more-link"
             :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="platform-account-reservation-details-jobsite__container">
        <div class="">
          <h3>{{ jobsite.name }}</h3>
          <p>{{ jobsite.address1 }}</p>
          <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
          <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
        </div>
      </div>

      <div class="platform-account-reservation-details-jobsite__container">
        <p class="instructions">{{$i18n('reservationView.editInstructions1')}} <a :call="jobsite.mobilePhone">{{jobsite.mobilePhone}}</a>.</p>
      </div>

      <div class="platform-account-reservation-details-req-codes__container">
        <contact-text-input :value="jobsite.contact" v-model="jobsite.contact" @input="contact => updateFormField({contact})" :disabled="disabledTextInputs"></contact-text-input>
      </div>

      <div class="platform-account-reservation-details-req-codes__container">
        <phone-text-input :value="jobsite.mobilePhone" :disabled="disabledTextInputs" v-model="jobsite.mobilePhone" @input="mobilePhone => updateFormField({mobilePhone})"></phone-text-input>
      </div>

      <div class="platform-account-reservation-details-req-codes__container">
        <email-text-input :value="jobsite.email" :disabled="disabledTextInputs" v-model="jobsite.email" @input="email => updateFormField({email})"></email-text-input>
      </div>

      <!--TODO: Notes are currently blocked. -->
      <!--<div class="platform-account-reservation-details-req-codes__container">-->
        <!--<div class="form-item">-->
          <!--<label for="textarea" class="form-item__label form-item__label&#45;&#45;textfield">{{ $i18n('ur.deliveryInstructions')}}</label>-->
          <!--<textarea class="form-item__textfield form-item__textarea notes"  rows="4" cols="45" placeholder=""></textarea>-->
        <!--</div>-->
      <!--</div>-->

      <br>

      <div class="">
        <div class="group-full" v-if="!letSpinnerRun">
          <button class="button button--style-2 button--filled"  @click.prevent="save()">
            {{ $i18n( 'ur.save') }}
          </button>
        </div>

        <div class="group-full cancel-btn-edit__small">
          <button class="button button--style-2 button--filled-reverse"  @click="cancel()">
            {{ $i18n( 'ur.cancel') }}
          </button>
        </div>
      </div>
    </template>
  </div>
  <div v-else class="platform-account-reservation-details-jobsite">
    <div class="group-left">
      <p class="section_name">
        {{ $i18n('reservationView.jobsite') }}
      </p>
    </div>

      <div class="group-right">
        <template v-if="!isOpen">
          <div v-if="letSpinnerRun" class="object-listing-spinner">
            <ur-loading-spinner></ur-loading-spinner>
          </div>
          <div class="platform-account-reservation-details-jobsite__container">
            <div class="inner-column_five-column">
              <p><strong>{{ requisition.jobName }}</strong></p>
              <p>{{ jobsite.address1 }}</p>
              <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
              <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
            </div>

            <div class="inner-column_five-column">
              <p class="label">
                {{ $i18n('reservationView.contact') }}
              </p>
              <p><strong>{{ jobsite.contact }}</strong></p>
              <p>{{ jobsite.mobilePhone | phoneNumber }}</p>
              <a class="link link--alt link--more-link"
                 :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a>
            </div>

            <div class="inner-column_edit_link">
              <a v-if="canEdit && isEditable && !nonEditableStat" @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="platform-account-reservation-details-jobsite__container">
            <div class="inner-column_five-column">
              <h3>{{ jobsite.name }}</h3>
              <p>{{ jobsite.address1 }}</p>
              <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
              <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
            </div>
          </div>

          <div class="platform-account-reservation-details-jobsite__container">
            <p class="instructions">{{$i18n('reservationView.editInstructions1')}} <a :call="jobsite.mobilePhone">{{jobsite.mobilePhone}}</a>.</p>
          </div>

          <div class="platform-account-reservation-details-req-codes__container">
            <contact-text-input :value="jobsite.contact" :disabled="disabledTextInputs" v-model="jobsite.contact" @input="contact => updateFormField({contact})"/>
          </div>

          <div class="platform-account-reservation-details-req-codes__container">
            <phone-text-input :value="jobsite.mobilePhone" :disabled="disabledTextInputs" v-model="jobsite.mobilePhone" @input="mobilePhone => updateFormField({mobilePhone})"/>
          </div>

          <div class="platform-account-reservation-details-req-codes__container">
            <email-text-input :value="jobsite.email" :disabled="disabledTextInputs" v-model="jobsite.email" @input="email => updateFormField({email})"/>
          </div>

          <div class="platform-account-reservation-details-req-codes__container">
            <div class="edit-btn-div">
              <button
                class="btn btn-style--primary btn-size--regular"
                @click.prevent="save()">
                {{ $i18n( 'ur.save') }}
              </button>
            </div>

            <div class="cancel-btn-edit button-div">
              <button class="btn btn-style--primary-reverse btn-size--regular"
                      @click.prevent="cancel()">
                {{ $i18n( 'ur.cancel') }}
              </button>
            </div>
          </div>
        </template>
      </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState, mapActions } from 'vuex';

  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  import types from '@/store/types';

  export default {
    name: 'reservation-jobsite',
    components: {
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        readReservationDetails: state => state.readReservationDetails.all,
        reservationDetails() {
          return this.readReservationDetails[this.$route.params.requisitionId]
            || this.readReservationDetails[this.$route.params.quoteId] || {};
        },
        jobsite(state) {
          return state.jobs.all[this.account.id][this.reservationDetails.jobsite.id] || {};
        },
      }),
      nonEditableStat() {
        // TODO: Activate the edit link after DAL's issue got fixed. Got disabled according to UR-4149 for Requisition Flows
        // if (this.hideEditLink && !this.isOpen) {
        return true;
        // }
      },
    },
    data() {
      return {
        isOpen: false,
        openHeight: 0,
        letSpinnerRun: false,
        jobsiteQuoteEditFlag: false,

        // form fields...
        contact: '',
        email: '',
        mobilePhone: '',
        disabledTextInputs: false,
      };
    },
    methods: {
      ...mapActions({
        updateFormField: types.readReservationDetails.updateFormField,
        fetchDetails: types.readReservationDetails.fetch,
        updateJobsiteInfoOrTransactionJobId: types.readReservationDetails.updateJobsiteInfoOrTransactionJobId,
        updateJob: types.jobs.updateFormField,
        updateReservations: types.reservations.updateReservations,
        resetForm: types.jobs.resetForm,
      }),
      toggleOpen() {
        this.isOpen = !this.isOpen;
        this.$emit('toggle', { jobsiteIsOpen: this.isOpen });
        this.$emit('editJobsiteIsOpen', { status: this.isOpen, name: this.$options.name });
      },
      save() {
        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }
        const vuexData = {
          accountId: this.account.id,
          requisitionId: this.requisition.requisitionId,
          reservationId: this.requisition.reservationId,
        };
        this.jobsiteQuoteEditFlag = true;
        this.letSpinnerRun = true;

        const jobData = {
          jobId: this.jobsite.id,
          accountId: this.account.id,
          name: this.jobsite.name,
          contact: this.jobsite.contact,
          email: this.jobsite.email,
          address1: this.jobsite.address1,
          mobilePhone: this.jobsite.mobilePhone.replace(/\D/g, ''),
          city: this.jobsite.city,
          state: this.jobsite.state,
          zip: this.jobsite.zip,
          requisitionId: this.requisition.requisitionId,
          reservationId: this.requisition.reservationId,
          jobsiteQuoteEditFlag: this.jobsiteQuoteEditFlag,
          status: 'OR,OA,OC,OD,QR,QT,QC,QD',
        };
        this.updateJobsiteInfoOrTransactionJobId(jobData).then(() => {
          this.updateJob(jobData);
          this.updateRequisitionJob(jobData);
          this.fetchDetails(vuexData).then(() => {
            this.letSpinnerRun = false;
          });
        });
        this.toggleOpen();
      },
      cancel() {
        this.jobsite.email = this.reservationDetails.jobsite.email;
        this.jobsite.contact = this.reservationDetails.jobsite.contact;
        this.jobsite.mobilePhone = this.reservationDetails.jobsite.phone;
        this.toggleOpen();
      },
      updateRequisitionJob(jobData) {
        const req = Object.assign({}, this.jobsite);
        req.id = jobData.jobId;
        req.jobContact = jobData.contact;
        req.jobPhone = jobData.mobilePhone;
        req.jobEmail = jobData.email;
        this.updateReservations(req);
      },
    },
    props: {
      transTypeId: String,
      requisition: Object,
      estimate: Object,
      account: Object,
      canEdit: {
        type: Boolean,
        default: true,
      },
      isEditable: Boolean,
      hideEditLink: Boolean,
    },
  };
</script>
