<template>
  <div v-if="small">
    <template v-if="!isOpen">
      <div class="platform-account-reservation-details-delivery-pickup no-border">

        <!--Small view delivery header section-->
        <div class="small__container">
          <div class="inner-column_small_left">
            <p class="section_name">
              {{ $i18n('reservationView.delivery') }}
            </p>
          </div>
          <div class="inner-column_small_right">
            <p v-if="canEdit && isEditable && !nonEditableStat" class="edit-link"><a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a></p>
          </div>
        </div>
        <!--End small view delivery header section-->

        <!--Delivery section closed display group-->
        <div class="group-full">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <p>
              <strong>
                <span v-if="reservationDetails && (reservationDetails.delivery === 'A' || reservationDetails.delivery === 'schedulePickup')">
                  {{ $i18n('reservationView.UrScheduledPickupTime') }}
                </span>
                <span v-if="reservationDetails && (reservationDetails.delivery === 'Y' || reservationDetails.delivery === 'pickupLater')">
                  {{ $i18n('reservationView.urDelivery') }}
                </span>
                <span v-else>
                  {{ $i18n('reservationView.userPickup') }}
                </span>
              </strong>
            </p>
            <div v-if="letSpinnerRun" class="object-listing-spinner">
              <ur-loading-spinner></ur-loading-spinner>
            </div>
            <p v-else><strong>{{ reservationDetails.startDateTime | momentMonthDayYearWithNameFormat }}</strong>&nbsp;<span>{{ reservationDetails.startDateTime | momentFriendlyHourFormat }} &mdash; ${{ estimate.totals.deliveryFee }}</span>
            </p>
          </div>
        </div>
      </div>
      <!--End delivery section closed display group-->

      <div class="platform-account-reservation-details-delivery-pickup">
        <div class="group-full">
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
        </div>

        <!--Pickup section closed display group-->
        <div class="group-full">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_centered">
              <p>
                <strong>
                <span v-if="adjustedPriceValues.pickupMethod === 'A' || adjustedPriceValues.pickupMethod=== 'schedulePickup'">
                  {{ $i18n('reservationView.UrScheduledPickupTime') }}
                </span>
                <span v-if="adjustedPriceValues.pickupMethod === 'Y' || adjustedPriceValues.pickupMethod === 'pickupLater'">
                  {{ $i18n('reservationView.urPickup') }}
                </span>

                  <span v-else>
                  {{ $i18n('reservationView.userDropOff') }}
                </span>
                </strong>
              </p>
            </div>
            <div class="group-full">
              <div v-if="letSpinnerRun" class="object-listing-spinner">
                <ur-loading-spinner></ur-loading-spinner>
              </div>
              <p v-else><strong>{{ reservationDetails.returnDateTime ? reservationDetails.returnDateTime : reservationDetails.endDateTime | momentMonthDayYearWithNameFormat }}</strong>&nbsp;<span>{{ reservationDetails.returnDateTime ? reservationDetails.returnDateTime : reservationDetails.endDateTime | momentFriendlyHourFormat }} &mdash; ${{ estimate.totals.pickupFee }}</span>
              </p>
            </div>
          </div>

          <!--TODO: Notes are currently blocked. -->
          <!--<div class="group-full" v-if="reservationDetails && reservationDetails.jobsite.notes">-->
          <!--<p class="label notes">{{ $i18n('reservationView.deliveryNotes') }}:</p>-->
          <!--<p>{{ reservationDetails.jobsite.notes }}</p>-->
          <!--</div>-->
        </div>
      </div>
    </template>

    <template v-else>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div class="group-full">
          <!--Error alert section-->
          <div v-if="outOfRange" class="message message__error" role="contentinfo" aria-label="">
            <div role="alert" v-if="localError || invalidTime">
              <div class="feedback-style1 feedback-style1--error">
                <div @click="clearError" class='icon icon-before-close'></div>
                <p v-if="!invalidTime && localError"> {{$i18n('e.errorMessage3')}} </p>
                <p v-if="invalidTime"> {{$i18n('e.errorMessage7')}} </p>
              </div>
            </div>
          </div>
          <!--End error alert section-->

          <!--Delivery section-->
          <p class="section_name">
            {{ $i18n('reservationView.delivery') }}
          </p>
          <object-details-delivery
            :input="deliveryData"
            :date="adjustedPriceValues.deliveryDate"
            :min="minMoment"
            :satHours="satHours"
            :sunHours="sunHours"
            :show-input-error="startOutOfRange || badDateRange"
            :converted-date="convertedDate"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="startOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>
          <!--End delivery section-->

          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
          <div class="platform-account-reservation-details-delivery-pickup">
            <object-details-pickup
              :input="pickupData"
              :date="adjustedPriceValues.pickupDate"
              :min="minMoment"
              :satHours="satHours"
              :sunHours="sunHours"
              :show-input-error="endOutOfRange || badDateRange"
              :converted-date="convertedDate"
              @fireTimeError="fireTimeError"
              @change="doChange"/>
            <!--End pickup section-->
          </div>
          <label v-if="endOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>

          <div v-if="statusAlert" class="group-full">
            <div v-if="retrievingFees" class="shimmer"><span>{{ getSpacingString(64) }}</span></div>
            <label class="fee-warning" v-else-if="statusAlert.type == 'warning'">
              <i v-if="statusAlert.icon" :class="statusAlert.icon"></i>&nbsp;{{ statusAlert.message }}
              <a v-if="statusAlert.action" href="javascript:;" @click="statusAlert.action.callback">{{ statusAlert.action.message }}</a>
            </label>
            <label v-else-if="statusAlert.type == 'error'" class="error" v-html="statusAlert.message"></label>
          </div>
          <!--Delivery/Pickup save section-->
          <div class="group-full">
            <button
              class="btn btn-style--primary btn-size--regular"
              @click="save()"
              :class="{'btn--disabled': outOfRange || badDateRange || invalidTime}">
              {{ $i18n( 'ur.save') }}
            </button>

          </div>

          <div class="group-full">
            <button
              class="btn btn-style--primary-reverse btn-size--regular cancel-btn-edit__small"
              @click="cancel()" >
              {{ $i18n( 'ur.cancel') }}
            </button>
          </div>
          <!--End delivery/pickup save section-->
        </div>
      </div>
    </template>
  </div>
  <div v-else>
    <template v-if="!isOpen">
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.delivery') }}
          </p>
        </div>

        <div class="group-right">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_five-column">

              <p v-if="adjustedPriceValues.deliveryMethod === 'A' || adjustedPriceValues.deliveryMethod === 'schedulePickup'">
                <strong>{{ $i18n('reservationView.UrScheduledPickupTime') }}</strong>
                <span v-if="!letSpinnerRun">&nbsp;+ ${{ estimate.totals.deliveryFee }}</span>
              </p>

              <p v-if="adjustedPriceValues.deliveryMethod === 'Y' || adjustedPriceValues.deliveryMethod === 'pickupLater'">
                <strong>{{ $i18n('reservationView.urDelivery') }}</strong>
                <span v-if="!letSpinnerRun">&nbsp;+ ${{ estimate.totals.deliveryFee }}</span>
              </p>


              <p v-else>
                <strong>{{ $i18n('reservationView.userPickup') }}</strong>
                <span v-if="!letSpinnerRun">&nbsp;+ ${{ estimate.totals.deliveryFee }}</span>
              </p>


            </div>
            <div class="inner-column_five-column">
              <div v-if="letSpinnerRun" class="object-listing-spinner">
                <ur-loading-spinner></ur-loading-spinner>
              </div>
              <p v-else>
                <strong>{{ reservationDetails.startDateTime | momentMonthDayYearWithNameFormat }}</strong>
                <span>&nbsp;{{ reservationDetails.startDateTime | momentFriendlyHourFormat }}</span>
              </p>
            </div>
            <div class="inner-column_edit_link">
              <p v-if="canEdit && isEditable && !nonEditableStat" class="edit-link"><a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="platform-account-reservation-details-delivery-pickup">
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
        </div>

        <div class="group-right">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_five-column">

              <p v-if="adjustedPriceValues.pickupMethod === 'A' || adjustedPriceValues.pickupMethod === 'schedulePickup'">
                <strong>{{ $i18n('reservationView.UrScheduledPickupTime') }}</strong>
                <span>&nbsp;+ ${{ estimate.totals.pickupFee }}</span>
              </p>

              <p v-if="adjustedPriceValues.pickupMethod === 'Y' || adjustedPriceValues.pickupMethod === 'pickupLater'">
                <strong>{{ $i18n('reservationView.urPickup') }}</strong>
                <span>&nbsp;+ ${{ estimate.totals.pickupFee }}</span>
              </p>

              <p v-else>
                <strong>
                  {{ $i18n('reservationView.userDropOff') }}
                </strong>
                <span v-if="!letSpinnerRun">&nbsp;+ ${{ estimate.totals.pickupFee }}</span>
              </p>
            </div>
            <div class="inner-column_five-column">
              <div v-if="letSpinnerRun" class="object-listing-spinner">
                <ur-loading-spinner></ur-loading-spinner>
              </div>
              <p v-else>
                <strong>{{ reservationDetails.returnDateTime ? reservationDetails.returnDateTime : reservationDetails.endDateTime | momentMonthDayYearWithNameFormat }}</strong>
                <span>&nbsp;{{ reservationDetails.returnDateTime ? reservationDetails.returnDateTime : reservationDetails.endDateTime | momentFriendlyHourFormat }}</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </template>
    <template v-else>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div v-if="outOfRange" class="message message__error" role="contentinfo" aria-label="">
          <div role="alert" v-if="localError || invalidTime" class="ml-onesixth mt-20">
            <div class="feedback-style1 feedback-style1--error">
              <div @click="clearError" class='icon icon-before-close'></div>
              <p v-if="!invalidTime && localError"> {{$i18n('e.errorMessage3')}} </p>
              <p v-if="invalidTime"> {{$i18n('e.errorMessage7')}} </p>
            </div>
          </div>
        </div>
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.delivery') }}
          </p>
        </div>

        <div class="group-right">
          <object-details-delivery
            :input="deliveryData"
            :date="adjustedPriceValues.deliveryDate"
            :min="minMoment"
            :satHours="satHours"
            :sunHours="sunHours"
            :show-input-error="startOutOfRange || badDateRange"
            :converted-date="convertedDate"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="startOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>
        </div>
      </div>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
        </div>

        <div class="group-right no-padding">
          <object-details-pickup
            :input="pickupData"
            :date="adjustedPriceValues.pickupDate"
            :min="minMoment"
            :satHours="satHours"
            :sunHours="sunHours"
            :show-input-error="endOutOfRange || badDateRange"
            :converted-date="convertedDate"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="endOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>

          <div v-if="statusAlert" class="group-full">
            <div v-if="retrievingFees" class="shimmer"><span>{{ getSpacingString(64) }}</span></div>
            <label class="fee-warning" v-else-if="statusAlert.type == 'warning'">
              <i v-if="statusAlert.icon" :class="statusAlert.icon"></i>&nbsp;{{ statusAlert.message }}
              <a v-if="statusAlert.action" href="javascript:;" @click="statusAlert.action.callback">{{ statusAlert.action.message }}</a>
            </label>
            <label v-else-if="statusAlert.type == 'error'" class="error" v-html="statusAlert.message"></label>
          </div>

        </div>
      </div>
      <div class="platform-account-reservation-details-delivery-pickup no-padding">
        <div class="group-left"></div>

        <div class="group-right no-padding">
          <div class="platform-account-reservation-details-delivery-pickup no-border">
            <div class="edit-btn-div">
              <button
                class="btn btn-style--primary btn-size--regular"
                @click="save()"
                :class="{'btn--disabled': disableSave}">
                {{ $i18n( 'ur.save') }}
              </button>
            </div>

            <div class="cancel-btn-edit button-div">
              <button
                class="btn btn-style--primary-reverse btn-size--regular"
                @click="cancel()" >
                {{ $i18n( 'ur.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script type="text/babel">
  import Vue from 'vue';
  import { dateFormat } from '@/utils';
  import { mapGetters, mapState, mapActions } from 'vuex';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ObjectDetailsDelivery from '@/components/platform-account/common/object-details-delivery';
  import ObjectDetailsPickup from '@/components/platform-account/common/object-details-pickup';
  import types from '@/store/types';
  import { isEmpty } from 'lodash';
  import i18n from '@/data/i18n';
  import PickupDeliveryMixin from '@/components/platform-account/mixins/pickup-delivery-mixin';

  const moment = require('moment');

  export default {
    name: 'reservation-delivery-pickup',
    mixins: [PickupDeliveryMixin],
    components: {
      ObjectDetailsDelivery,
      ObjectDetailsPickup,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        newBranchAndDatesUpdate(state) {
          return Object.values(state.quotes.newBranchAndDatesUpdate || {});
        },
        reservationDetails(state) {
          return state.readReservationDetails.all[this.$route.params.requisitionId] || {};
        },
        resetBranchAndDatesUpdateValue(state) {
          return state.quotes.resetBranchAndDatesUpdate;
        },
        account(state) {
          if (!isEmpty(this.requisition)) {
            return state.accounts.all[this.requisition.accountId];
          }
        },
        defaultChargeEstimateVal(state) {
          return state.estimates.defaultVal[this.$route.params.requisitionId] || {};
        },
        branches: state => state.branch.all,
      }),
      satHours() {
        return this.branches[this.deliveryData.branchId].saturdayHours || {};
      },
      sunHours() {
        return this.branches[this.deliveryData.branchId].sundayHours || {};
      },
      pickupData() {
        return {
          transTypeId: this.transTypeId,
          totals: this.defaultChargeEstimateVal.totals,
          pickup: this.adjustedPriceValues.pickupMethod,
          endDateTime: this.reservationDetails.endDateTime,
          openHours: this.branchOpenHours,
        };
      },
      deliveryData() {
        return {
          branchId: this.reservationDetails.branchId,
          transTypeId: this.transTypeId,
          totals: this.defaultChargeEstimateVal.totals,
          delivery: this.adjustedPriceValues.deliveryMethod,
          requisitionId: this.reservationDetails.requestId,
          openHours: this.branchOpenHours,
        };
      },
      newEstimateData() {
        return {
          branchId: this.adjustedPriceValues.branchId,
          startDateTime: this.adjustedPriceValues.deliveryDate,
          returnDateTime: this.adjustedPriceValues.pickupDate,
          delivery: this.adjustedPriceValues.deliveryMethod,
          urWillPickup: this.adjustedPriceValues.pickupMethod,
          items: this.estimate.items,
          requisitionId: this.requisition.requisitionId,
          jobsiteId: this.reservationDetails.jobsite.id,
          rpp: this.estimate.rpp === 'Y',
          accountId: this.reservationDetails.accountId,
        };
      },
      statusChipClass() {
        const map = {
          SCD: 'scheduled',
          PND: 'pending',
          PRG: 'inprogress',
          CMP: 'completed',
          CXL: 'cancelled',
          RSC: 'cancelled',
        };

        return map[this.requisition.orderStatusCode];
      },
      nonEditableStat() {
        return this.statusChipClass === 'scheduled'
          || this.statusChipClass === 'cancelled'
          || this.statusChipClass === 'completed'
          || (this.hideEditLink && !this.isOpen);
      },
      disableSave() {
        return this.outOfRange || this.badDateRange || this.costWarning || this.invalidTime;
      },
      statusAlert() {
        let warning = null;
        if (this.outOfRange) {
          this.resetCostWarning = false; // eslint-disable-line
          warning = {
            type: 'error',
            message: '',
          };

          // If the start date is before "now" IN LOCATION TIMEZONE
          if (this.startOutOfRange) {
            warning = i18n.e.errorMessage3;
          }
          // If the end date is before "now" IN LOCATION TIMEZONE
          else if (this.endOutOfRange) {
            warning = i18n.e.errorMessage6;
          }
          else if (this.badDateRange) {
            if (this.adjustedPriceValues.deliveryMethod === 'Y' && this.adjustedPriceValues.pickupMethod === 'Y') {
              warning.message = i18n.convertQuotes.convertDateError2;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'Y' && this.adjustedPriceValues.pickupMethod === 'N') {
              warning.message = i18n.convertQuotes.convertDateError3;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'N' && this.adjustedPriceValues.pickupMethod === 'Y') {
              warning.message = i18n.convertQuotes.convertDateError4;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'N' && this.adjustedPriceValues.pickupMethod === 'N') {
              warning.message = i18n.convertQuotes.convertDateError5;
            }
          }
          else {
            warning = i18n.e.errorMessage1;
          }
        }
        else {
          if (this.feeChange) {
            warning = {
              type: 'warning',
              icon: 'icon-before-refresh',
              message: i18n.reservationView.getFeesWarning,
              action: {
                callback: this.getDiff,
                message: i18n.reservationView.getFeesLinkLabel,
              },
            };
          }
          if (this.costWarning) {
            if (this.adjustedPriceValues.deliveryMethod === 'Y') {
              warning = {
                type: 'error',
                icon: 'icon-before-shopping-cart',
                message: `${i18n.convertQuotes.noRatesErrorMessage} ${this.closestBranch.phone}`,
              };
            }
            else {
              warning = {
                type: 'error',
                message: i18n.reservationView.incurCostError,
              };
            }
          }

          if (!this.feeChange && this.differentialPrice) {
            const pre = i18n.reservationView.incurCostPre;
            let post = i18n.reservationView.incurCostPostIncrease;
            if (this.differentialPrice < 0) {
              this.differentialPrice *= -1; // eslint-disable-line
              post = i18n.reservationView.incurCostPostDecrease;
            }
            warning = {
              type: 'warning',
              icon: 'icon-before-shopping-cart',
              message: `${pre} $${this.differentialPrice.toFixed(2).toLocaleString()} ${post}`,
            };
          }
        }

        if (this.resetCostWarning) {
          warning = {};
        }

        return warning;
      },
    },
    data() {
      return {
        adjustedPriceValues: { // The individual ADJUSTED price name/value pairs
          pickupDate: {},
          pickupMethod: '',
          deliveryDate: {},
          deliveryMethod: '',
          branchId: '',
        },
        adjustedPrice: 0, // The ADJUSTED price AFTER any changes
        costWarning: false, // The warning if there was a zero cost sent back from the new branch, but only on jobsite change
        differentialPrice: 0, // The price difference between original and expected
        feeChange: false, // The boolean switch to determine if pu/del settings have changed
        localError: false,
        invalidTime: false,
        initialPrice: 0, // The SAVED price BEFORE any changes
        initialPriceValues: { // The individual INITIAL price name/value pairs
          pickupDate: '',
          pickupMethod: '',
          deliveryDate: '',
          deliveryMethod: '',
        },
        isOpen: false,
        letSpinnerRun: false,
        openHeight: 0,
        resetCostWarning: false,
        retrievingFees: false, // The boolean switch to trigger the spinn wheel when loading fees
        validHour: null,
      };
    },
    methods: {
      ...mapActions({
        updateFormField: types.readReservationDetails.updateFormField,
        saveFormDateTime: types.readReservationDetails.saveFormDateTime,
        fetchDetails: types.readReservationDetails.fetch,
        resetBranchAndDatesUpdate: types.quotes.resetBranchAndDatesUpdate,
        fetchRates: types.catalog.fetchRates,
        fetchEstimateWithCommit: types.estimates.fetch,
        fetchEstimateOnly: types.estimates.fetchOnly,
        updateReturnDates: types.readReservationDetails.updateFormField,
        updateReservation: types.requisitions.updateBoth,
      }),
      getSpacingString(length) {
        return String.fromCharCode(0x12007).repeat(length);
      },
      /**
       * setInit initializes all the new estimate values
       */
      setInit() {
        const initObject = {
          pickupDate: this.reservationDetails.endDateTime.slice(),
          pickupMethod: this.requisition.reservationId ? this.reservationDetails.urWillPickup.slice() : this.reservationDetails.pickup.slice(), // eslint-disable-line
          deliveryDate: this.reservationDetails.startDateTime.slice(),
          deliveryMethod: this.reservationDetails.delivery.slice(),
          branchId: this.reservationDetails.branchId,
        };
        // The SAVED price values BEFORE any changes
        this.initialPriceValues = Object.assign({}, initObject);
        this.adjustedPriceValues = Object.assign({}, initObject);
        this.initialPrice = this.calcPrice(Object.assign({}, this.estimate.totals));
        if (this.outOfRange && !this.nonEditableStat) {
          this.setDateError(true);
          this.localError = true;
          this.isOpen = true;
          this.$emit('toggle', { pickupDeliveryIsOpen: this.isOpen });
          this.$emit('editPickupDeliveryIsOpen', { status: this.isOpen, name: this.$options.name });
        }
        this.resetCostWarning = true;
      },
      setDateError(flag) {
        this.$emit('error', flag);
      },
      fireTimeError(value) {
        if (value === 0) {
          this.localError = true;
          this.invalidTime = true;
          this.validHour = value;
          this.$emit('error', true);
        }

        this.validHour = value;
      },
      /**
       * doChange Handles the change of any of the variables involved in pricing for
       * the pickup / dropoff section
       *
       * The possible PRICE change values are:
       *
       * Change pickup method
       * Change pickup date
       * Change delivery method
       * Change delivery date
       *
       * IF we have Branch pickup, or Branch delivery and the
       * user changes to UR pickup, or UR delivery there
       * is a price change
       *
       * IF we have a pickup date change, or a delivery date
       * change there is a price change
       *
       * @param {object} input the simple input values needed {type: '', value: {}}
       * @return {boolean} either execute the method or return false
       */
      doChange(input) {
        switch (input.type) {
          case 'new-delivery-date':
            this.changeDate('deliveryDate', input.value);
            break;
          case 'new-delivery-method':
            this.changeMethod('deliveryMethod', input.value);
            this.changeMethod('pickupMethod', input.value);
            break;
          case 'new-pickup-date':
            this.changeDate('pickupDate', input.value);
            break;
          case 'new-pickup-method':
            this.changeMethod('pickupMethod', input.value);
            break;
          default:
            return false;
        }

        this.resetCostWarning = false;
      },
      /**
       * changeDate changes the pickup / dropoff date in adjustedPriceValues
       *
       * @param {string} type = deliveryDate or pickupDate
       * @param {object} value = the new moment date object
       */
      changeDate(type, value) {
        this.feeChange = true;
        const adjustedCopy = Object.assign({}, this.adjustedPriceValues);
        adjustedCopy[type] = moment(value).format('YYYY-MM-DDTHH:mm:ss');

        if (type === 'deliveryDate') {
          // We need to set the new pickup date to the new delivery date
          const tempVal = moment(adjustedCopy.deliveryDate);
          const tempHours = tempVal.hours();
          const tempMinutes = tempVal.minutes();
          const newPickup = moment(this.adjustedPriceValues.pickupDate).set({
            hours: tempHours,
            minutes: tempMinutes,
          });
          adjustedCopy.pickupDate = newPickup.format('YYYY-MM-DDTHH:mm:ss');
        }
        this.adjustedPriceValues = null;
        this.adjustedPriceValues = adjustedCopy;
      },
      /**
       * changeMethod changes the pickup / dropoff method in adjustedPriceValues
       *
       * @param {string} type = deliveryMethod or pickupMethod
       * @param {string} value = yes or no
       */
      changeMethod(type, value) {
        this.feeWarning = i18n.reservationView.getFeesWarning;
        this.feeChange = true;
        this.adjustedPriceValues[type] = value === 'yes' ? 'Y' : 'N'; // eslint-disable-line
      },
      /**
       * getDiff gets the difference between the initialPrice and the adjustedPrice
       */
      async getDiff() {
        this.retrievingFees = true;
        const outData = Object.assign({}, this.newEstimateData);
        if (this.tempBranchId && outData.delivery === 'Y') {
          outData.branchId = this.tempBranchId;
        }
        this.pullEstimate(outData).then((data) => {
          this.adjustedPrice = this.calcPrice({ ...data.totals });
          const rentalFee = data.totals.totalRentalAmount;
          if (this.adjustedPrice > 0 && rentalFee > 0) {
            this.differentialPrice = this.calcDifference();
            this.retrievingFees = false;
            this.feeChange = false;
          }
          else {
            this.retrievingFees = false;
            this.costWarning = false;
            this.resetCostWarning = true;
            this.$emit('error', { type: 'cost', flag: true });
          }
        });
      },
      pullEstimate(outData) {
        return this.fetchEstimateOnly(outData);
      },
      /**
       * calcPrice calculates a price based on the inputs derived from estimate.totals
       *
       * @param {object} inputs estimates.totals
       * @return {number} the calculated price
       */
      calcPrice(inputs) {
        const vals = [
          inputs.deliveryFee,
          inputs.environmentFee,
          inputs.pickupFee,
          inputs.totalRentalAmount,
          inputs.tax,
          inputs.damageWaiverFee,
        ];
        return vals.reduce((t, n) => t + parseFloat(n));
      },
      /**
       * calcDifference calculates the difference between adjusted and initial positive, or negative
       *
       * @return {number} the returned difference
       */
      calcDifference() {
        return (this.adjustedPrice - this.initialPrice);
      },
      /**
       * toggleOpen toggles the current view open and emits the isOpen event
       */
      toggleOpen() {
        this.isOpen = !this.isOpen;
        this.resetCostWarning = true;
        this.$emit('toggle', { pickupDeliveryIsOpen: this.isOpen });
        this.$emit('editPickupDeliveryIsOpen', { status: this.isOpen, name: this.$options.name });
      },
      /**
       * clearError clears the local error message without clearing the actual error
       */
      clearError() {
        this.localError = false;
      },
      /**
       * cancel issues the cancel command for edits to the pricing variables in this view
       */
      cancel() {
        this.adjustedPriceValues = Vue.set(this, 'adjustedPriceValues', Object.assign({}, this.initialPriceValues));
        this.adjustedPrice = 0;
        this.resetBranchAndDatesUpdate(true);
        this.feeChange = false;
        this.resetCostWarning = true;

        if (this.costWarning) {
          this.$emit('error', { type: 'cost', flag: false });
          this.costWarning = false;
        }

        this.toggleOpen();
      },
      /**
       * save persists the current selection set to DAL and refreshes the view to the new settings
       */
      save() {
        this.letSpinnerRun = true;
        this.resetCostWarning = true;

        const sendData = {
          requestId: this.requisition.requisitionId,
          id: this.reservationDetails.accountId,
          branchId: this.reservationDetails.branchId,
          transId: this.reservationDetails.reservationId || this.reservationDetails.transId,
          delivery: this.adjustedPriceValues.deliveryMethod,
          pickup: this.adjustedPriceValues.pickupMethod,
          po: this.reservationDetails.po,
          startDateTime: moment(this.adjustedPriceValues.deliveryDate).format(dateFormat.iso),
          endDateTime: moment(this.adjustedPriceValues.pickupDate).format(dateFormat.iso),
          returnDateTime: moment(this.adjustedPriceValues.pickupDate).format(dateFormat.iso),
        };

        this.updateReservation(sendData).then(() => {
          this.setDateError(false);
          this.adjustedPrice = 0;
          this.feeChange = false;
          this.localError = false;

          // Go get the reservation details
          const vuexData = {
            accountId: this.account.id,
            requisitionId: this.requisition.requisitionId,
            reservationId: this.requisition.reservationId || this.requisition.transId,
          };
          this.fetchDetails(vuexData).then(() => {
            this.fetchEstimateWithCommit(this.newEstimateData).then(() => {
              this.letSpinnerRun = false;
              this.setInit(); // reset all to the new estimate values
            });
          });
        });
        this.toggleOpen();
      },
    },
    props: {
      transTypeId: String,
      requisition: Object,
      transaction: Object,
      estimate: Object,
      block: {
        type: Object,
      },
      canEdit: {
        type: Boolean,
        default: true,
      },
      isEditable: Boolean,
      hideEditLink: Boolean,
    },
    mounted() {
      // Gather the values from the estimate prop.
      this.setInit();
    },
    watch: {
      validHour() {
        if (this.validHour !== 0) {
          this.invalidTime = false;
        }
      },
    },
  };
</script>
