<template>
  <ur-select
    :value="localViewFilter"
    :label="$i18n('reservationView.view')"
    @change="updateViewFilter"
    emptyOptionLabel="View: All"
  >
      <option v-for="(option, key) in options" :key="key" :value="option.value">{{ option.label }}</option>
  </ur-select>
</template>

<script type="text/babel">
  import UrSelect from '@/components/common/form/ur-select';

  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';

  export default {
    beforeCreated() {
      this.updateViewFilter('');
    },
    components: {
      UrSelect,
    },
    computed: {
      ...mapState({
        viewFilter: state => state.reservations.viewFilter,
      }),
      options() {
        return [
          { id: 2, value: this.$i18n('reservationViewSelectOptions.pending'), label: this.$i18n('reservationViewSelectOptions.inProgress') },
          { id: 3, value: this.$i18n('reservationViewSelectOptions.scheduled'), label: this.$i18n('reservationViewSelectOptions.scheduled') },
          { id: 4, value: this.$i18n('reservationViewSelectOptions.delivered'), label: this.$i18n('reservationViewSelectOptions.delivered') },
          { id: 5, value: this.$i18n('reservationViewSelectOptions.completed'), label: this.$i18n('reservationViewSelectOptions.completed') },
          { id: 6, value: this.$i18n('reservationViewSelectOptions.cancelled'), label: this.$i18n('reservationViewSelectOptions.cancelled') },
        ];
      },
      localViewFilter() {
        return this.viewFilter;
      },
    },
    methods: {
      ...mapActions({
        updateViewFilter: types.reservations.updateViewFilter,
      }),
    },
    name: 'reservationSelect',
  };
</script>
