<template>

  <search-by-term
    itemKey="requisitionId"
    @matchingTermClick="addSearchTermFilter($event)"
    :itemLexicon="reservationLexicon"
    :items="filteredReservations"
    placeholder=""/>

</template>
<script type="text/babel">
  import { mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';
  import { SearchByTerm } from '@/components/common/listings';

  export default {
    components: { SearchByTerm },
    computed: mapGetters([
      'filteredReservations',
      'reservationLexicon',
    ]),
    methods: mapActions({
      addSearchTermFilter: types.reservations.addFilter,
    }),
  };
</script>
