/*
---
name: Scrims
category: Atoms
---
```scrims.html hidden
<table>
  <tr>
    <th>
      Example
    </th>
    <th>
      Variable Name
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>
      <div class="example-dark example"></div>
    </td>
    <td>
      %scrim-dark
    </td>
    <td>
      background-color: rgba($color-grey-69, 0.2);
    </td>
  </tr>
  <tr>
    <td>
      <div class="example-gradient example"></div>
    </td>
    <td>
      %scrim-gradient
    </td>
    <td>
      background: linear-gradient(rgba($color-grey-69,0), rgba($color-grey-69, 1.0));
    </td>
  </tr>

</table>
```

```scrims:/components/_patterns/_styleguide-common.css hidden
```
```scrims.css hidden
.example{
  height: 50px;
}
.example-dark{
  background-color: rgba(65, 75, 80, .2);
}
.example-gradient{
  background: linear-gradient(rgba(65, 75, 80, 0), rgba(65, 75, 80, 1.0));
}
```

*/
