.equipment-block.dashboard__carousel.minimal .VueCarousel-inner {
  .VueCarousel-slide:first-child {
    > .minimal-equipment__container {
      margin-left: 0;
      @include breakpoint($break-small) {
        margin-left: 8px;
      }
    }
  }
  .VueCarousel-slide:last-child {
    > .minimal-equipment__container {
      margin-right:0;
      @include breakpoint($break-small) {
        margin-left: 8px;
      }
    }
  }
}

.minimal-equipment.minimal-equipment__null {
  background-color: $color-grey-2;
  border: 2px solid $color-grey-11;
  &:hover,
  &:focus {
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.16);
    background-color: $color-grey-2;
    border: 2px solid $color-grey-11;
  }

  .minimal-equipment__cta-wrapper.carousel-card-minimal__footer {
    bottom: 19px;
  }
}
.minimal-equipment {
  padding: 12px 10px 20px 10px;
  background: $white;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: $border-radius-med;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0);

  @include breakpoint($break-small) {
    padding: 12px 12px 20px 12px;
  }

  &:hover &__title {
    color: #008cff;
  }

  &:hover,
  &:focus {
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.16);
    border: 1px solid $color-grey-11;
    border-radius: $border-radius-med;
  }

  @include breakpoint($break-small) {
    padding: 12px 20px 20px 20px !important;
  }

  &__container {
    position: relative;
    min-height: 325px;
    max-height: 375px;

    &:before {
      content: "";
      display: block;
      padding-top: 370px;
    }
  }

  &__image-container {
    height: 52px;
    width: 52px;
    margin-bottom: 1rem;
  }

  &__image {
    max-height: auto;
    max-width: 52px;
    text-align: center;
    margin: 0 auto;
  }

  &__id {
    margin: 0px;
    color: #91969b;
  }

  &__quantity {
    color: $color-grey-38;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0;
    width: initial;
    padding: 12px 12px 20px 12px !important;
    line-height: 20px;
    font-size: $font-size-small;
    font-family: $font-family-base;

    @include breakpoint($break-small) {
      padding: 12px 20px 20px 20px !important;
    }
  }

  &__title-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-items: flex-end;
    height: 63px;
    margin: 10px 0 12px 0;
    position: relative;
    width: 100%;
  }

  &__title {
    margin: 0.35rem 0 0;
    font-weight: bold;
    font-family: $font-family-base;
    font-size: $font-size-large;
    line-height: 24px;
    display: block;
    text-decoration: none;
    @media (max-width: $break-medium) {
      font-family: $font-family-base;
      font-size: $font-size-h5;
      line-height: 20px;
    }
  }

  &__timeline-container {
    width: 100% !important;
    position: relative;
  }

  &__timeline-foreground {
    border-radius: 8px;
    height: 8px;
    position: absolute;
  }

  &__timeline-background {
    border-radius: 8px;
    background-color: $color-grey-11;
    height: 8px;
    width: 100%;
  }

  .timelineOnTime {
    background-color: $color-brand-secondary;
  }

  .timelineOverdue {
    background-color: $color-bright-red;
  }

  &__null-title {
    text-align: center;
    padding-top: 72px;
  }

  &__null-description {
    text-align: center;
    margin-top: 0px;
    font-weight: normal;
    font-size: 1rem;
  }

  &__status-bar {
    margin: 8px 0 5px 0;
    .status-detail {
      font-weight: normal;
      @media (max-width: $break-medium) {
        display: none;
      }
    }
  }

  &__requester {
    margin: 5px 0 5px 0;
    font-weight: normal;
  }

  &__jobsite-name {
    margin: 5px 0 5px 0;
  }

  &__jobsite-location {
    margin: 5px 0 5px 0;
    font-weight: normal;
  }

  .minimal-equipment__cta-wrapper {
    margin: 10px 0;

    button {
      width:100%;
      font-size: .875em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height:34px;
      padding:0;
      // override default .btn transition
      transition:none !important;

      &.actions-button {
        padding-right:10px;

        svg {
          height: 14px;
          position:absolute;
          right:5px;
        }
        &[icon="close"] {
          padding-right:0;
        }
      }
    }
  }

  &__name {
    color: $color-blue;
    margin-top: 10px;
    position: absolute;
    bottom: 48px;
    height: 46px;
    padding-right: 18px;
    font-size: 15px;

    @include breakpoint($break-medium) {
      font-size: $font-size-h3;
    }
  }

  .carousel-card-minimal {
    &__footer {
      justify-content: center;
      position: absolute;
      width: calc(100% - 20px);
      bottom: 20px;
      height: 46px!important;
      display: flex;
      align-items: center;

      @include breakpoint($break-small) {
        width: calc(100% - 40px);
      }
    }
  }
}

.path-manage .equipment-block {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: initial;
  .VueCarousel-wrapper {
    overflow: hidden;
    z-index: 5; /* dropdown menu from "Actions" CTA is displaying behind search input field */

    // Because we need the overflow to be hidden (to hide the cards along the x-axis)
    // but we _also_ need to expose the Action Menu, we will hack
    // an "overflow-x: hidden; overflow-y: visible" css trick.
    // (https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue#answer-39554003)
    $actionMenuHeight: 130px;
    padding-bottom: $actionMenuHeight;
    margin-bottom: $actionMenuHeight * -1;

    // NOTE: Our "overflow-x/y" hack breaks pointer events, so we disable them on this element, and re-enable them for children
    pointer-events: none;
    & > * {
      pointer-events: auto;
    }
  }
  .VueCarousel-slide {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    backface-visibility: hidden;
  }
  .VueCarousel-navigation {
    display: none;
    // Note: this carousel's rules do not follow our normal breakpoints.
    // The dashboard-carousel-minimal.vue should show arrows when at this 767 (3 card) breakpoint.
    @media (min-width: 767px) {
      display: block;
    }
  }
  .VueCarousel-navigation-button {
    // This negative margin-top is necessary
    // only because we're doing the overflow-x/y hack on .VueCarousel-wrapper
    margin-top: -50px;
  }
}