/*
---
name: Call/Chat Control Buttons
category: Molecules
---
```chat-buttons.html
<div class="call-us">
    <div class="call-us__trigger"><i class="icon icon-phone"></i>&nbsp; Call Us
    </div>
    <!---->
</div>

<div class="bcFloat" style="display: block; width: 103px; height: 32px; right: 0; bottom: 0; text-align: left; z-index: 3141591; overflow: hidden; position: fixed;">
    <div style="position: absolute; width: 103px; height: 32px;"><a href="#"><img id="0.8244750859569367" border="0" src="https://www.unitedrentals.com/sites/default/files/Chat_Now_nodropshadow.png"></a></div>
</div>
```


*/
