  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Drupal-specific files - UNCOMMENT AS NECESSARY -->
  <!-- may need to change these below based on path -->
  <!-- <script src="../../../../../../../core/assets/vendor/domready/ready.min.js"></script>
  <script src="../../../../../../../core/misc/drupal.js"></script> -->

  <script src="../../../../dist/scripts-styleguide.js"></script>
  <script src="../../../../dist/vue/js/manifest.js"></script>
  <script src="../../../../dist/vue/js/vendor.js"></script>
  <script src="../../../../dist/vue/js/app.js"></script>

  </body>
</html>
