<template>
  <branch-selector
    @change="onChange"
    :branch-id="branchId"
    :hideEditLink="true"
  />
  <!--TODO: Remove hideEditLink attribute after DAL's issue got fixed. Got disabled according to UR-4149 for Convert and Edit Quotes - Change location Link only.-->
</template>
<script>
  import Format from '@/mixins/format';
  import businessTypes from '@/data/business-types';
  import branchSelector from '@/components/common/branch-selector.vue';

  export default {
    components: {
      branchSelector,
    },
    methods: {
      onChange(branch) {
        this.$router.push({
          path: `/${this.baseUrl}/quote-edit-branch/${this.requisitionIdOfBlock}`
          + `/locations/${this.urlify(branch.state)}`
          + `/${this.urlify(branch.city)}`
          + `/${businessTypes[branch.businessType].url}`
          + `/${branch.branchId}`,
        });
      },
    },
    mixins: [
      Format,
    ],
    props: {
      baseUrl: String,
      branchId: {
        type: String,
        required: true,
      },
      requisitionIdOfBlock: {
        required: true,
      },
    },
  };
</script>

<style>
  .pickup-location-body {
    height: 60vh;
  }
  .reservations-and-quotes .pickup-location-body {
    height: auto;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
  }
</style>
