{#
  Available variables:
    flag_modifiers: classes to be added to the flag
    flag_blockname: Blockname to be passed for specific flags
    flag_action: comes from flag module, either "unflag" or "flag"
#}
<div class="flag{% for modifier in flag_modifiers %} flag--{{ modifier }}{% endfor %}{% if flag_blockname %} {{ flag_blockname }}__flag{% endif %}">
  {% if flag_action == 'unflag' %}
    <a {{ attributes }}><i class="icon icon-heart"></i></a>
  {% else %}
    <a {{ attributes }}><i class="icon icon-heart-o"></i></a>
  {% endif %}
</div>
