{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
  'taxonomy-term',
  'vocabulary-' ~ term.bundle|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}" rel="bookmark">{{ name }}</a>

  <div{{ content_attributes }}>
    {{ content|without('category_parent')}}
  </div>

  {{ title_prefix }}
  {% if not page %}
    <footer{{ title_attributes }}>
      {% if parent is defined %}
        <a href="{{ parent.url }}">{{ parent.label }}</a>
      {% endif %}
      <h2>{{ name }}</h2>
    </footer>
  {% endif %}
  {{ title_suffix }}
</article>
