{{ attach_library('urone/theme-crossover--modal') }}
{{ attach_library('urone/theme-crossover--equipment-listing') }}
<div id="catalog-listing" class="catalog-listing">
  {% if equipmentListingSiderailBlock %}
    {{ equipmentListingSiderailBlock }}
  {% endif %}
  {% if marketplace %}
    {{ marketplace }}
  {% endif %}
</div>