.cart-block {
  border: 1px solid $color-grey-11;
  padding: 27px;
  position: relative;

  .reservation-label {
    display: block;
    font-size: $font-size-xsmall;
    color: $color-grey-38;
    line-height: $font-size-base;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($break-small) {
      display: inline-block;
      width: 73px;
      line-height: 24px;
    }
  }

  &__edit-link {
      position: absolute;
      top: 27px;
      text-decoration: underline;
      right: 27px;
      font-size: 12px;
      margin-right: 15px;
  }

  .button-group {
    @include breakpoint($break-small) {
      justify-content: space-between;
      max-width: 70%;
      margin-left: 73px;

      .button {
        width: 46%;
      }
    }

    .button {
      margin-bottom: 1rem;
    }
  }

  .summary-group-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .summary-group.account-number .reservation-heading {
      min-width: 120px;
    }

    & a {
      text-decoration: underline;
    }
  }

  .with-wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .info-section {
    margin: 0 0 24px;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .flex-row {
    display: flex;
    justify-content: space-between;

    &.col-2 {
       & > * { width: 45% }
    }
    &.col-3 {
      & > * { width: 30% }
    }
    &.col-4 {
      & > * { width: 22.5% }
    }
  }

  .summary-group {
    display: flex;

    @include breakpoint($break-small) {
      justify-content: initial;
    }
  }

  .add-preferences {
    font-weight: bold;
    font-size: 14px;
    margin: 15px 0 0 0;

    @include breakpoint($break-small) {
      margin: 0 0 0 73px;
      line-height: 24px;
    }
  }

  .change-link {
    font-size: $font-size-small;
  }
}

.reservation-billing .ur-select{
  margin-bottom: 12px;
}

.cart-block.complete {
  &.reservation-pickup-delivery, &.reservation-billing {
    .summary-group-container{
      padding-top:4px;
    }
  }
}
