.scrollable-div__scroller {
  height: 100%;
  position: relative;
  overflow: hidden;

  #scrollable-div__scroll {
    height: 100%;
    overflow-y: auto;
  }

  .scrollToTopButton {
    animation: fadeIn .2s;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .15);
    height: 38px;
    justify-content: flex-start;
    padding: 0 20px;
    text-transform: capitalize;
    position: absolute;
    top: 10px;
    width: 80%;
    left: 10%;
    display: flex;

    .text-container {
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;

      .icon-angle-double-up {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
}