<template>
  <div :class="statusClass">
    <field-value>
      {{ value }}
    </field-value>
  </div>
</template>

<script>
  import DetailField from '../field/detail-field';
  import StatusesMixin from './mixins/statuses';

  export default {
    extends: DetailField,
    mixins: [StatusesMixin],
    name: 'StatusDetailField',
  };
</script>

<style lang="scss" scoped>
  div {
    height: inherit !important;
    line-height: 1 !important;
    span {
      position: relative;
      top: 1px
    }
  }
</style>
