<template>
  <field-value :class="statusClass" class="m-l-5 fw-bold fs-small">
    {{ value }}
  </field-value>
</template>

<script>
  import ListingField from '../field/listing-field';
  import StatusesMixin from './mixins/statuses';

  export default {
    name: 'StatusListingField',
    extends: ListingField,
    mixins: [StatusesMixin],
  };
</script>
