<template>
  <div class="state">
    <ur-select v-if="showAllGrouped===true" :suppressEmptyOption="true" :label="label" :value="localValue" @change="onSelect" @blur="onBlur">
      <optgroup :label="$i18n('ur.UnitedStates')">
        <option v-for="(label, val) in states" :key="val" :value="val">{{ label }}</option>
      </optgroup>
      <optgroup :label="$i18n('ur.Canada')">
        <option v-for="(label, val) in provinces" :key="val" :value="val">{{ label }}</option>
      </optgroup>
    </ur-select>
    <ur-select v-else :label="label" :value="localValue" @change="onSelect" @blur="onBlur">
      <option v-for="(label, val) in statesAndProvinces" :key="val" :value="val">{{ label }}</option>
    </ur-select>
    <ur-error-label v-if="$v.$error" :message="$i18n('e.state')"/>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import { dictionary } from '@/data/i18n';
  // Import Modules
  import { required } from 'vuelidate/lib/validators';

  // Import Data
  import usStates from '@/data/states-hash.json';
  import caProvinces from '@/data/provinces-hash.json';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
        this.$v.$touch();
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    computed: {
      statesAndProvinces() {
        let statesList = {};
        switch (this.country) {
          case 'US':
            statesList = { usStates };
            return statesList.usStates;
          case 'CA':
            statesList = { caProvinces };
            return statesList.caProvinces;
          default:
            return { ...usStates };
        }
      },
      states() {
        return { ...usStates };
      },
      provinces() {
        return { ...caProvinces };
      },
    },
    name: 'state-select',
    props: {
      country: {
        type: String,
        default: '',
        required: false,
      },
      label: {
        type: String,
        default: dictionary.ur.state,
      },
      showAllGrouped: {
        type: Boolean,
        default: false,
        required: false,
      },
      value: {
        type: String,
        default: '',
        required: false,
      },
    },
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue === this.localValue) {
          return;
        }
        this.localValue = parentValue;
      },
    },
  };
</script>
