.card-price {
  line-height: 1.4;
  margin-right: 1.2rem;

  &__interval, &__cad {
    font-size: $font-size-xsmall;
    color: $color-grey-38;
  }

  &__rate {
    font-size: $font-size-base;
    color: $color-grey-69;
  }
}