.brand-module {

  .brand-module--media-container.brand-module--media-container__with-video {
    cursor: pointer;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(186deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.68))
    }

    .brand-module--video {
      display: none;
    }

    &.video-playing {
      .background-image-div, img, .circle, .overlay { display: none; }
      .brand-module--video { display: block; }
    }

    // Hover styles UR-3489
    &:hover {
      .circle {
        background: rgba(255, 255, 255, 1);
      }

      .microsite-hero--video-thumbnail img {
        transform: scale(1.1);
      }
    }
  }
}