@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Project Uptime Pages Full
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

.page-node-type-project-uptime-pages {
  .main-content--with-sidebar {
    display: flex;
    flex-direction: column;
    padding-top: rem($gap-d);

    @include media('>=s') {
      flex-direction: row;
    }
  }

  .main-content__sidebar-wrapper {
    @include media('>=m') {
      padding-left: $grid-col-2;
    }

    justify-content: space-between;

    .region-right-sidebar {
      @include vertical-rhythm(
        $gap-small: rem($scale-5),
        $gap-large: rem($scale-10)
      );

      background-color: transparent;

      // related equipment views block custom block
      .block-views-blockproject-uptime-related-equipment-card {
        .block-views-blockproject-uptime-related-equipment-card__title {
          @include type-preset(
            $version: 50,
            $type: header
          );

          color: $color-text;
        }

        // place in row on < m
        .view-content {
          display: flex;

          @include media('>=m') {
            display: block;
          }

          .views-row {
            width: 100%;

            &:first-of-type {
              padding-right: rem($gap-b);

              @include media('>=m') {
                padding-right: 0;
              }
            }
          }
        }

        .taxonomy-term {
          @include gap (
            $sizes: $gap-c
          );
        }
      }
    }
  }

  // small content area
  .region-content {
    margin-bottom: rem($gap-e);
    padding: 0;
    position: relative;

    @include media ('>=s') {
      @include grid-col(
        $grid-column-width: 8,
        $column-offset: 2
      );
    }

    .block-page-title-block {
      margin-top: 0;
    }

    > .media--image {
      width: 100%;

      img {
        @include container-full-width();
      }
    }
  }

  // related articles views block
  .region-post-content {
    @include vertical-rhythm();

    //place foot gap after post content
    @include footer-gap();

    .block-views-blockproject-uptime-related-articles {
      @include container();

      .block-views-blockproject-uptime-related-articles__content > div > .view-project-uptime > .view-content.slick-initialized {
        &::after {
          @include media('>=m') {
            left: calc(100% + #{rem(1)});
          }
        }

        .slick-list > .slick-track > .views-row > article > .node__content {
          margin-top: 0;
        }

        .node__title > ul {
          list-style-type: none;
          padding-left: 0;
        }
      }
    }
  }

  .node__content {
    @include gap(
      $sizes: $gap-c
    );

    > .paragraph-component:first-of-type {
      @include gap (
        $property: padding-top,
        $sizes: $gap-e
      );
    }
  }

  .field--name-field-sub-headline {
    @include type-preset(60);
    color: $color-text-subtle;

    @include media ('>=s') {
      @include type-preset(70);
    }

    > p:first-of-type {
      margin-top: 0;
    }
  }

  .node__byline {
    @include type-preset(
      $version: 40,
      $type: header
    );
    @include gap(
      $sizes: $gap-a
    );

    color: $color-text-subtle;
  }

  .node__pills {
    @include gap(
      $sizes: $gap-c
    );

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      margin: 0 rem($gap-b) rem($gap-b) 0;
    }

    a {
      @include pill(
        $color: secondary,
        $style: outline
      );

      margin-right: rem($scale-2);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

#block-projectuptimesubscribe,
.block-ur-helpfulness-rating {
  @include media ('>=s') {
    display: inline-block;
  }
}

.jsa-block-wrap {
  background-color: $color-grey-5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem($scale-4);

  @include media('>=s') {
    flex-direction: row;
    margin-top: rem($scale-9);
  }
}
