@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Project Uptime Pages Teaser
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

$pu-tesaser-bp: 500px;

.view-project-uptime .views-row:first-of-type .node--type-project-uptime-pages.node--view-mode-teaser {
  padding-top: 0;
}

.node--type-project-uptime-pages.node--view-mode-teaser {
  display: flex;
  flex-direction: column;
  padding-bottom: rem($scale-8);

  @include media('>=#{$pu-tesaser-bp}') {
    display: flex;
    flex-direction: row;
  }

  &:last-child {
    border-bottom: 0;
  }

  .node__image-container {
    @include media('>=#{$pu-tesaser-bp}') {
      flex: 0 0 20%;
    }
  }

  .node__image-container > .media--image > img {
    width: 100%;
  }

  .node__content {
    padding-left: rem($gap-c);
    padding-top: rem($gap-c);

    @include media('>=#{$pu-tesaser-bp}') {
      margin-left: rem($gap-c);
      padding-left: 0;
      padding-top: 0;
    }
  }

  .node__tags-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem($scale-2);

    @include media('>=#{$pu-tesaser-bp}') {
      justify-content: flex-start;
    }
  }

  .node__tags {
    @include list-reset();
    display: flex;

    li {
      padding-bottom: 0;
      padding-right: rem($scale-2);
      position: relative;

      a {
        @include type-preset(
          $type: header,
          $version: 50,
          $multiline: 1
        );

        &:first-of-type {
          padding-right: rem($scale-2);
        }

        &::after {
          color: $color-grey-38;
          content: '|';
          font-weight: $font-weight-regular;
          position: relative;
          right: - rem($gap-b);
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        a {
          &::after {
            content: '';
          }
        }
      }
    }
  }

  .node__new-tag-pill {
    @include pill(primary);
  }

  .field--name-body {
    margin-top: rem($scale-5);
    max-width: none;
  }
}
