.kebab-menu {
  position: relative;
  width: 29px;
  height: 29px;
  justify-content: center;
  margin-left: 10px;

  &:hover {
    border: $border-grey;
  }

  .icon-more {
    cursor: pointer;
  }

  &__body {
    position: absolute;
    right: 0px;
    top: 30px;
    flex-direction: column;
    margin-left: 15px;
    background: white;
    border: $border-grey;
    width: 130px;
    z-index: 10;

    a {
      padding: 5px 10px;
      line-height: 16px;
      width: 100%;
      color: $color-black;
      display: inline-block;
    }

    a:first-of-type {
      padding-top: 10px;
    }

    a:last-of-type {
      padding-bottom: 10px;
    }
  }
}