{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}

      {% if item.in_active_trail == TRUE and item.below == TRUE %}
        {% set classes = [
            'menu__item',
            'menu__item--below',
            'menu__item--active'
          ]
        %}
      {% elseif item.in_active_trail == TRUE and item.below == FALSE %}
        {% set classes = [
            'menu__item',
            'menu__item--active'
          ]
        %}
      {% elseif item.in_active_trail == FALSE and item.below == TRUE %}
        {% set classes = [
            'menu__item',
            'menu__item--below'
          ]
        %}
      {% else %}
        {% set classes = 'menu__item' %}
      {% endif %}

      <li{{ item.attributes.addClass(classes) }}>
          <a href="{{ item.url }}" class="menu__link social-link" target="_blank" onclick="window._app.gtmTrackExitLink('{{ item.title }}', '{{ item.url }}')"><i class="icon icon-{{ item.title|lower|replace(" ", "-") }}"></i></a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
