<nav>
  {% if menu_data.menu_title %}
    <h2>{{ menu_data.menu_title }}</h2>
  {% endif %}
  {% if menu_data.items %}
    <ul class="menu">
      {% for item in menu_data.items %}
        <li class="menu__item{% if item.active %} menu__item--active{% endif %}{% if item.subitems %} menu__item--below{% endif %}">
          <a href="{{ item.url }}" class="menu__link social-link"><i class="icon icon-{{ item.label| lower | replace(' ', '-') }}"></i></a>
          {% if item.subitems %}
            <ul>
              {% for subitem in item.subitems %}
                <li class="menu__item">
                  <a href="{{ subitem.url }}" class="menu__link">{{ subitem.label }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
