<div class="investor-relations-details__list">
  <div class="investor-relations-details__list__container">
    {% for item in posts %}
      <div class="individual-item">
      {% include "@molecules/teaser-lists-item/teaser-list-item.twig"
        with {
          "title": item.title,
          "image_src": item.image_src,
          "image_alt": item.image_alt,
          "piped_links": item.piped_links,
          "investor_relations_details_view_url": item.investor_relations_details_view_url,
          "investor_relations_details_view_content": item.investor_relations_details_view_content,
          "investor_relations_details_download_url": item.investor_relations_details_download_url,
          "investor_relations_details_download_content": item.investor_relations_details_download_content
        }
      %}
      </div>
    {% endfor %}
  </div>
</div>