.catalog-listing {
  display: flex;

  .equipment-listing-full {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 95%;
    @include breakpoint($break-small) {
      max-width: 100%;
      width: 100%;
    }

    .list__container {
      min-height: 100vh;
      flex-grow: 2;
    }

    .pricing-content .time-period {
      flex-direction: row;
      span {
        padding-left: 5px;
      }
    }

  }
}

.object_listing {
  &__wrapper {
    display: flex;
    box-shadow: 0 1px 0 0 #DEE1E3;

    > * {
      margin: 16px auto;
    }

  }

  &__image {
    padding-top: 9px;
    margin-right: 18px;
  }

  &__details {
    flex: 8;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .icon-angle-down {
      position: absolute;
      top: 28px;
      right:7%;

      &.is-active {
        transform: rotate(180deg);
      }

      @include breakpoint($break-small) {
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &__cat_class_code {
      color: $color-grey-38;
      height: 24px;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      line-height: 24px;
    }

    &__name {
      color: $color-blue;
      height: 24px;
      font-family: $font-family-sans-serif;
      font-size: $font-size-h3;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 5px;
      margin-right: 40px;
      cursor: pointer;
      display: inline-block;
    }

    &__pricing {
      color: #91969B;
      font-family: $font-family-sans-serif;
      font-size: $font-size-xsmall;
      line-height: 16px;
      text-transform: uppercase;
      margin: 12px 0;

      span {
        span {
          font-size: $font-size-small;
          color: $color-grey-79;
          margin-right: 5px;
        }
      }

      > * {
        margin: auto 3px;
      }

      :first-child {
        margin-left: 0px;
      }

      &__chip {
        background-color: $color-orange;
        border-radius: 100px;
        color: white;
        height: 14px;
        width: auto;
        max-width: 112px;
        min-width: 72px;
        padding: 3px;
        font-family: $font-family-sans-serif;
        font-size: $font-size-xsmall;
        font-weight: bold;
        line-height: 9px;
        text-align: center;
        float: left;
        margin-right: 90%;
        margin-bottom: 7px;

        @include breakpoint($break-small) {
          margin: auto 3px;
        }
      }

      &__daily,
      &__weekly,
      &__monthly {
        float: left;
      }
    }

    &__quick_view {
      color: $color-blue;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      line-height: 14px;
      margin-top: 12px;
      position: relative;

      a {
        width: 82px;
      }

      .icon {
        margin-right: 30px;
        font-size: $font-size-h3;

        @include breakpoint($break-small) {
          font-size: $font-size-base;
        }
      }

      .icon-angle-down {
        position: absolute;
        width: 15px;
        left: 66px;
        pointer-events: auto;
        cursor: pointer;

        &.is-active {
          transform: rotate(180deg);
        }
      }

      ul li {
        color: $color-grey-38;
        font-size: $font-size-small;
      }

      .view-details-quickView-button {
        background-color: $color-grey-11;
        color: $color-blue;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        min-height: 1.9rem;
        font-weight: 600;
        margin-right: 7px;
        float: left;

        @include breakpoint($break-small) {
          height: 2.2857142857em;
          border-radius: 2px;
          float: none;
        }
      }
    }
  }

  &__actions {
    padding-top: 10px;

    &__alert {
      width: 128px;
      color: #91969B;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
    }

    button {
      height: 32px;
      width: 128px;
      margin-top: 6px;
      border: none;
      border-radius: 2px;
      background-color: $color-blue;
      color: white;
      font-family: $font-family-sans-serif;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: 24px;
      outline: none;
      text-align: center;
      padding: 3px;
      cursor: pointer;

      &.primary-reverse {
        background-color: $color-white;
        color: $color-blue;

        &:hover {
          background-color: $color-grey-2;
        }

        &:active {
          background-color: $color-grey-5;
        }

        &:disabled {
          background-color: rgba($color-text, 0.4);
        }
      }
    }

    &__sub {
      display: flex;
      width: 128px;

      a {
        text-decoration: none;
        display: inline;

        @include breakpoint($break-small) {
          display: flex;
        }
      }

      .icon {
        color: $color-blue;
        flex: 0 1 auto;
        flex-direction: row;
        margin: 13px;
      }

      :hover {
        cursor: pointer;
      }
    }

    &--object-detail {

      @include breakpoint($break-small) {
        position: relative;
        top: -10px;
        float: right;
        padding: 0;
      }
    }
  }
}
.add-to-cart__img-pricing .spinner{
  margin: 2px 10px 10px;
}
