<div class="object_listing__wrapper equipmentItems" data-catclass="{{ catClass }}">
  <div class="object_listing__image">
    <img src="{{ img_src }}" height="44px" width="44px"/>
  </div>

  <div class="object_listing__details">
    <div class="object_listing__details__cat_class_code">
      Cat Class: {{ catClass }}
    </div>

    <a href="{{ url }}" class="object_listing__details__name">
      {{ name }}
    </a>

    <item-rates
      not-rentable-online="{{ not_rentable_online }}"
      cat-class="{{ catClass }}"
      :fetch-own-rates="false"
      :check-user-logged-in="true"
      :show-web-rate-chip=false
    ></item-rates>
  </div>
  <search-object-listing-actions not-rentable-online="{{ not_rentable_online }}" cat-class="{{ catClass }}" title="{{ name }}" view-more-link="{{ url }}"></search-object-listing-actions>
</div>
