<div class="catalog-listing">
  <div class="equipment-listing-full">
    <div class="object_listing__wrapper">
      <div class="object_listing__image">
        <img src="https://www.unitedrentals.com/sites/default/files/styles/desktop_item_listing/public/category/310/310-4001_0.jpg" height="44px" width="44px"/>
      </div>

      <div class="object_listing__details">
        <div class="object_listing__details__cat_class_code">
          Cat Class Code: 310-3050
        </div>

        <div class="object_listing__details__name">
          Articulating Boom Lift, 30’, Electric
        </div>

        {% include '@molecules/object-listing/details-pricing.twig' %}

        <div class="object_listing__details__quick_view">
          Quick View <i class="icon icon-chevron-down"></i>
        </div>
      </div>
      <div class="object_listing__actions">
        <div class="object_listing__actions__alert">
          1 item added
        </div>
        <button>Add to Cart</button>
        <div class="object_listing__actions__sub">
          <i class="icon icon-star-o"></i>
          <i class="icon icon-star"></i>
          <i class="icon icon-envelope"></i>
          <i class="icon icon-print"></i>
        </div>
      </div>
    </div>
  </div>
</div>
