<template>
  <router-link tag="button" :to="addToCartLink" class="view-details-quickView-button" :disabled="preventAddingToCart">{{ $i18n('catalog.addToCart') }}</router-link>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';
  import { get, isEmpty } from 'lodash';

  export default {
    components: {
    },
    computed: {
      ...mapState({
        itemRates(state) {
          return get(state.catalog.rates, [this.catClass, this.ratesPlaceBranch], {});
        },
        hasRates() {
          return !isEmpty(this.itemRates);
        },
        disabledRates() {
          /**
           * If this is undefined, we don't have rates for this item.
           * So don't use this alone to determine if an item is
           * ready for ordering. Check `hasRates` too.
           */
          return this.itemRates.noCost;
        },
        isFavorite(state) {
          return state.favorites.all.includes(this.catClass);
        },
        rates: state => state.catalog.rates,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      addToCartLink() {
        return {
          name: 'addToCartModal',
          params: {
            0: '',
            catClass: this.catClass,
          },
        };
      },
      rentableItemOnline() {
        return typeof this.notRentableOnline === 'boolean' ? this.notRentableOnline : this.notRentableOnline === 'false';
      },
      preventAddingToCart() {
        /**
         * Things that will prevent the user from being able to check out this item:
         *
         * - User hasn't selected a branch/location
         * - Selected branch doesn't have item available
         * - No rate info could be retrieved for the item
         * - Rate info indicate the item is not setup for online ordering
         */
        if (this.notRentableOnline === 'true') {
          return true;
        }

        const hasBranch = !!this.ratesPlaceBranch;
        const isDisabled = this.hasRates ? this.disabledRates : true;
        const availableAtBranch = this.hasRates && this.itemRates.locationFiltered;

        return !hasBranch || !availableAtBranch || isDisabled;
      },
    },
    methods: {
    },
    name: 'addToCartButton',
    props: {
      catClass: {
        type: String,
        required: true,
      },
      notRentableOnline: {
        type: String,
        required: true,
      },
    },
  };
</script>
