<template>
  <div class="add-to-cart__form">
    <template>
      <login class="login-prompt" data-tracking="sign-in" data-tracking-description="Equipment Detail/Listing Right Sidebar Sign-In Link" v-if="!userIsLoggedIn" />
      <account-selector
        v-if="userIsLoggedIn && !userHasNoAccount"
        :fixed="inModal"
        :value="form.accountId || defaultAccountId"
        @change="onAccountChange"
      />

      <template v-if="userIsLoggedIn && !userHasNoAccount">
        <ur-cover :enabled="!defaultAccountId">
          <job-selector
            :account-id="form.accountId || defaultAccountId"
            :value="jobsiteValue"
            @change="onJobsiteChange"
          />
        </ur-cover>
      </template>

      <date-range-selector
        :in-modal="inModal"
        :min="minDate.startOf('day')"
        :sunOff="!branchIsOpenSunday"
        :satOff="!branchIsOpenSaturday"
      />

      <label>{{ $i18n('ur.quantity') }}</label>
      <q-quantity-picker
        :passed-value="1"
        :small="true"
        @change="updateQuantity"
      />

      <cost-estimator
        v-show="showEstimates"
        :branch="branch"
        :rates="rates"
        @trackCalculateCosts="trackCalculateCosts"
      />

      <div class="p-t-20 sign-in-link" data-tracking="location" data-tracking-description="Equipment Listing Right Sidebar Location Set Link" v-if="!userIsLoggedIn && !ratesPlaceBranch && !requestsAreInFlight">
        <a @click="setLocationModalPopup" v-html="$i18n('rates.enterLocationRequiredLinkable')"></a>
      </div>

      <div style="width:100%; display:flex;">
        <q-button
          v-if="!preventAddingToCart"
          :class="{'noRequesters': !hasRequesters}"
          @click="onAddToCartClick"
          :text="$i18n('catalog.addToCart')"
        />
        <q-button
          v-if="showSimilar"
          @click="onFindSimilarClick"
          :text="$i18n('catalog.findSimilar')"
        />
      </div>
    </template>
  </div>
</template>
<style lang="scss" scoped>
  // TODO: import and use urone global styles and strip out vue component specific styles
  // override div styles to put spacing between field groupsad
  .add-to-cart__modal > section.add-to-cart__selections > div,
  .node__aside.node__aside--second > div {
    div.account-selector,
    div.job-selector,
    div.calendar_container,
    div.requester-select {
      margin-bottom: 16px;
    }
  }
</style>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { FlightToken } from '@/api/flight-track';
  import UrGtm from '@/mixins/ur-gtm';
  import types from '@/store/types';
  import moment from 'moment';
  import { get } from 'lodash';
  import FormCalendar from './form/calendar';
  import CostEstimator from './cost-estimator.vue';
  import AccountSelector from '@/components/common/account-selector.vue';
  import DateRangeSelector from '@/components/common/date-range-selector.vue';
  import JobSelector from '@/components/common/job-selector.vue';
  import Login from './login.vue';
  import UrCover from '@/components/common/ur-cover';
  import Params from '@/store/module.catalog.helpers';
  import { chargeEstimate } from '@/store/module.charge-estimates.helpers';


  export default {
    components: {
      AccountSelector,
      DateRangeSelector,
      JobSelector,
      Login,
      UrCover,
      CostEstimator,
    },
    inject: {
      urModal: { default: () => {} },
    },
    data() {
      return {
        branchOffset: 0,
      };
    },
    asyncComputed: {
      branch: Params.branchAsyncComputed(vm => ({
        branchId: vm.ratesPlaceBranch,
      })),
      item: Params.equipmentAsyncComputed(vm => ({
        catClass: vm.catClass,
      })),
      itemRates: Params.itemRatesAsyncComputed(vm => ({
        catClass: vm.catClass,
        branchId: vm.ratesPlaceBranch,
        accountId: vm.defaultAccountId,
        deliveryDistance: vm.distance.toString(),
      })),
      estimate: chargeEstimate(vm => ({
        requisitionId: vm.transaction.requisitionNumber,
        equipment: Object.values(vm.transaction.equipment),
      })),
    },
    computed: {

      jobsiteValue() {
        return this.userRatesPlaceAddress === this.form.locationString ? this.form.jobsiteId : '';
      },

      ...mapGetters([
        'categoryByCatClass',
        'categoryIdByCatClass',
        'small',
        'subCategoryByCatClass',
        'subCategoryObjByCatClass',
        'medium',
      ]),
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        defaultJob: types.user.defaultJob,
        userHasNoAccount: types.accounts.noAccounts,
        userRatesPlaceAddress: types.user.ratesPlaceAddress,
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        accounts: state => state.accounts.all,
        categories: state => state.categories,
        defaultAccountId: state => state.user.defaultAccountId,
        defaultRequesterId: state => state.user.defaultRequesterId,
        hasRequesters: state => !!state.requesters.all[state.user.defaultAccountId],
        form: state => state.cartItemForm,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userDefaultJobId: state => state.user.defaultJobId,
        userIsLoggedIn: state => state.user.isLoggedIn,
        quantity: state => state.cartItemForm.quantity,
      }),
      category() {
        return this.categoryByCatClass(this.catClass);
      },
      categoryId() {
        return this.categoryIdByCatClass(this.catClass);
      },
      disabledRates() {
        return get(this, 'itemRates.noCost');
      },
      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getNearbyBranchData,
          FlightToken.getBranchData,
          FlightToken.fetchEquipmentByTermId,
          FlightToken.fetchFacets,
          FlightToken.fetchRates,
          FlightToken.fetchAccount,
          FlightToken.fetchJobsites,
          FlightToken.fetchRequesters,
          FlightToken.fetchChargeEstimates,
        );
      },
      // Prevent people from adding to cart until we have all the required info. This is independent of validation rules
      preventAddingToCart() {
        if (this.item && this.item.field_item_not_rentable_online === 'true') {
          return true;
        }

        return !this.ratesPlaceBranch || this.disabledRates || this.requestsAreInFlight || !this.itemLocationFiltered;
      },
      showSimilar() {
        return this.ratesPlaceBranch && this.preventAddingToCart && !this.requestsAreInFlight;
      },
      itemLocationFiltered() {
        return get(this.itemRates, 'locationFiltered', false);
      },
      subCategory() {
        return this.subCategoryByCatClass(this.catClass);
      },
      hasLocation() {
        return (this.userRatesPlaceAddress !== '');
      },
      isDirect() {
        return get(this.urModal, 'isDirect', false);
      },
      showEstimates() {
        return this.ratesPlaceBranch;
      },
      distance() {
        return this.branch.distance;
      },
      rates() {
        return this.itemRates || {};
      },
    },
    methods: {
      ...mapActions({
        loadFormDefaults: types.cartItemForm.loadDefaults,
        updateFormField: types.cartItemForm.updateFormField,
        updateQuantity: types.cartItemForm.quantity,
        fetchBranch: types.branch.fetch,
        fetchFacets: types.facets.fetch,
        fetchEstimates: types.estimates.fetch,
      }),
      addItemToCart(form) {
        return this.$store.dispatch(types.cart.addItem, form);
      },
      onAccountChange(accountId) {
        this.updateFormField({ accountId });
      },
      onJobsiteChange(jobsiteId) {
        this.updateFormField({ jobsiteId });
      },
      onAddToCartClick() {
        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }

        this.addItemToCart(this.form)
          .then(() => {
            this.gtmTrackFormSubmissions('add-to-cart', 'add-to-cart');
            this.gtmTrackAddProductToCart({
              name: this.item.title,
              catClass: this.catClass,
              price: this.itemRates.dayRate,
              category: this.category,
              subCategory: this.subCategory,
              quantity: this.form.quantity,
            });
          })
          .catch(() => {}); // no op. Need argo design to display error.

        if (this.$route.path.includes('add-to-cart')) {
          this.$router.go(-1);
        }
      },
      onFindSimilarClick() {
        const category = this.subCategoryObjByCatClass(this.catClass);
        if (category && category.urlComponent) {
          const arr = category.urlComponent.split('/');
          if (arr.length > 5) {
            while (arr.length > 5) {
              arr.pop();
            }
          }
          window.location = arr.join('/');
        }
      },
      setLocationModalPopup() {
        if (!this.isDirect) {
          // Only redirect if this is not a direct/solo modal, not our job
          this.$router.push({
            path: '/locations/chooseLocationModal',
          });
        }
      },
      trackCalculateCosts() {
        this.gtmTrackCalculateCosts(this.item.title);
      },
      updateRequesterId(requesterId) {
        this.updateFormField({ requesterId });
      },
      setBranchOffset() {
        // if (this.noBranch && this.ratesPlaceBranch) {
        //   this.fetchBranch(this.ratesPlaceBranch);
        // }

        if (this.noBranch) return;

        let branchOffset = this.branch.timeOffset;

        if (!branchOffset) return;

        branchOffset = Number(branchOffset) + this.hoursToSubtract();
        branchOffset = branchOffset.toString().replace('00', '');
        branchOffset = branchOffset.toString().replace('-', '');
        this.branchOffset = branchOffset;
      },
      hoursToSubtract() {
        // Depending on the DST truthy or falsy, hours that we should subtract from UTC can be -400 or -500
        // HoursToSubtract finds the count of that hours
        return moment().isDST() ? -400 : -500;
      },
      allowUserToAddLocation() {
        if (this.hasLocation) return;
        if (!this.isDirect) {
          // Only redirect if this is not a direct/solo modal, not our job
          this.setLocationModalPopup();
        }
      },
    },
    mounted() {
      // Populate facets.
      if (typeof this.categories === 'undefined' || this.categories === null) {
        this.fetchFacets();
      }

      // Populate the Cart Item Form with sensible defaults
      this.loadFormDefaults(this.catClass);

      // Add some CSS to the <body> tag to help with the PikaDay Calendar
      // that appears within the Empty Cart Carousel cards
      document.body.classList.add('add-to-cart');
      this.setBranchOffset();

      this.allowUserToAddLocation();
    },
    destroyed() {
      // Remove some CSS to the <body> tag that helped with the PikaDay Calendar
      // that appears within the Empty Cart Carousel cards.
      document.body.classList.remove('add-to-cart');
    },
    mixins: [
      UrGtm, FormCalendar,
    ],
    name: 'addToCartForm',
    props: {
      catClass: {
        type: String,
        required: true,
      },
      inModal: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    watch: {
      // rates() {
      //   this.$forceUpdate();
      // },
      // Assume this form should always reflect the User's Rates Branch.
      ratesPlaceBranch(branchId) {

        this.updateFormField({ branchId });
        this.updateFormField({ locationString: this.userRatesPlaceAddress });
      },
      // There are two places this component is rendered:  In a modal on the Mktpl Eqp Listing pg
      // and directly on the Mtkpl Eqp Details pg.  The latter instance utilizes this watcher
      // to keep the Job Selector current with any changes to the default job id. Specifically we
      // are monitoring for Created Jobsites.
      userDefaultJobId(jobsiteId) {
        this.updateFormField({ jobsiteId });
      },
      defaultAccountId(accountId) {
        this.updateFormField({ accountId });
      },
    },
  };
</script>

<style scoped lang="scss">
.q-quantity-picker.small .q-text-input.q-text-input__small .input-field-wrapper input{
  margin: 0 !important;
}
.q-quantity-picker button.q-button+.q-text-input{
  width:100%;
}

.sign-in-link {
  text-decoration: underline;
  text-align: center;
}


</style>
