<template>
  <ul>
    <ur-checkbox
      v-for="(item, index) in addons"
      :label="item.label"
      :key="index"
    >
    </ur-checkbox>
  </ul>
</template>
<script type="text/babel">
  import UrCheckbox from '@/components/common/ur-checkbox';

  export default {
    components: {
      UrCheckbox,
    },
    name: 'addonsSelector',
    props: [
      'addons',
    ],
  };
</script>
