<template>
  <div>
    <ur-select
      class="add-to-cart__transit-select"
      name="transitSelect"
      suppress-label
      suppress-empty-option
      v-model="costEstimatorSelect"
    >
      <option value="none">{{ $i18n('workplace.none') }} $0.00</option>
      <option value="bothWays">{{ $i18n('checkout.urBothWays') }} {{ bothWaysFee | decimalCurrency }}</option>
      <option value="deliver">{{ $i18n('checkout.urDelivery') }} {{ deliveryFee | decimalCurrency }}</option>
      <option value="pickup">{{ $i18n('checkout.urPickupRetrieval') }} {{ pickupFee | decimalCurrency }}</option>
    </ur-select>
    <div v-if="showEstimates" class="line-item-container">

      <line-item
        :label="$i18n('cart.dwamt')"
        v-if="lineDisplay.damageWaiverFee"
        :amount="recalculateEstimates ? '$--.--' : $options.filters.decimalCurrency(totals.damageWaiverFee)"
      />

      <line-item
        :label="$i18n('cart.envamt')"
        v-if="lineDisplay.environmentFee"
        :amount="recalculateEstimates ? '$--.--' : $options.filters.decimalCurrency(totals.environmentFee)"
      />

      <line-item
        :label="$i18n('cart.tax')"
        :amount="recalculateEstimates ? '$--.--' : $options.filters.decimalCurrency(totals.tax)"
      />

      <line-item
        :label="$i18n('cart.delivery')"
        :amount="recalculateEstimates ? '$--.--' : (costEstimatorSelect === 'deliver' || costEstimatorSelect === 'bothWays') ? $options.filters.decimalCurrency(deliveryFee) : '$0.00'"
      />

      <line-item
        :label="$i18n('cart.pickup')"
        :amount="recalculateEstimates ? '$--.--' : (costEstimatorSelect === 'pickup' || costEstimatorSelect === 'bothWays') ? $options.filters.decimalCurrency(pickupFee) : '$0.00'"
      />

    </div>
    <div class="line-item-container">
      <p class="line-item">
        <span class="line-item__calculated">{{ $i18n('cart.estimatedCost') }}</span>
        <span v-if="recalculateEstimates && !requestsAreInFlight" @click="updateChargeEstimates()" class="line-item__link">
          {{ initCalculateEstimates ? $i18n('cart.calculateCost') : $i18n('cart.recalculateCost') }}
        </span>
        <span
          :class="requestsAreInFlight ? 'shimmer' : null"
          v-else-if="!requestsAreInFlight"
        >
          {{ estimatedCost | decimalCurrency }}
        </span>
      </p>
    </div>
  </div>
</template>

<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { FlightToken } from '@/api/flight-track';
  import UrGtm from '@/mixins/ur-gtm';
  import types from '@/store/types';
  import utils from '@/utils';
  import UrSelect from '@/components/common/form/ur-select';

  export default {
    components: {
      UrSelect,
      'line-item': {
        props: ['label', 'amount'],
        template: `
          <p class="line-item" :class="$parent.requestsAreInFlight ? 'shimmer' : null">
            <span :class="$parent.requestsAreInFlight || $parent.recalculateEstimates ? null : 'line-item__calculated'">{{ label }}</span>
            <span>
              {{this.amount}}
            </span>
          </p>`,
      },
    },
    data() {
      return {
        costEstimatorSelect: 'none',
        totals: {
          tax: 0,
          pickupFee: 0,
          deliveryFee: 0,
          environmentFee: 0,
        },
        showEstimates: false,
        recalculateEstimates: false,
        initCalculateEstimates: true,
        getEstimatePayload: {},
        getEstimatePayloadSnapshot: {},
        // lineDisplay is used to display a line if it gets data. Once a line is shown, it does not disappear until the Branch changes.
        lineDisplay: {
          environmentFee: false,
          miscellaneousFees: false,
          rpp: false,
          damageWaiverFee: false,
          delivery: false,
          pickup: false,
        },
      };
    },
    props: {
      branch: {
        type: Object,
        required: true,
      },
      rates: {
        type: Object,
        required: true,
      },
    },
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        defaultJob: types.user.defaultJob,
        userRatesPlaceAddress: types.user.ratesPlaceAddress,
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        form: state => state.cartItemForm,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        ratesPlace: state => state.user.ratesPlace,
        userDefaultJobId: state => state.user.defaultJobId,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      jobsiteValue() {
        return this.userRatesPlaceAddress === this.form.locationString ? this.form.jobsiteId : '';
      },
      bothWaysFee() {
        return this.deliveryFee + this.pickupFee;
      },
      deliveryFee() {
        return this.totals.deliveryFee > 0 ? this.totals.deliveryFee : this.rates.deliveryCharge;
      },
      pickupFee() {
        return this.totals.pickupFee > 0 ? this.totals.pickupFee : this.rates.deliveryCharge;
      },
      distance() {
        return this.branch.distance || 0;
      },

      addressData() {
        if (this.ratesPlace.address_components) {
          const items = this.ratesPlace.address_components;
          return {
            city: items.find(item => item.types.includes('locality')),
            state: items.find(item => item.types.includes('administrative_area_level_1')),
            postalCode: items.find(item => item.types.includes('postal_code')),
          };

        }
      },

      costEstimatePayload() {
        // Payload for getting cost estimates. On init 'delivery' and 'urWillPickup' are hard coded to true value so that we
        // always get back that value. Then we calculate the totals on the front end to allow changing the dropdown without making new calls.
        return {
          branchId: this.branch.branchId,
          delivery: 'Y',
          urWillPickup: 'Y',
          requisitionId: 'addToCart',
          items: {
            [this.form.catClass]: {
              quantity: this.form.quantity,
            },
          },
          startDateTime: this.form.startDate.format(utils.dateFormat.iso),
          returnDateTime: this.form.endDate.format(utils.dateFormat.iso),
          rpp: false,
          accountId: this.form.accountId || this.defaultAccountId,
          jobsiteId: this.jobsiteValue,
          deliveryDistance: this.distance,
          address: this.jobsiteValue ? null : '',
          city: this.jobsiteValue ? null : this.addressData.city.long_name,
          state: this.jobsiteValue ? null : this.addressData.state.short_name,
          postalCode: this.jobsiteValue ? null : this.addressData.postalCode ? this.addressData.postalCode.long_name : '',
        };
      },
      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getNearbyBranchData,
          FlightToken.getBranchData,
          FlightToken.fetchEquipmentByTermId,
          FlightToken.fetchFacets,
          FlightToken.fetchRates,
          FlightToken.fetchAccount,
          FlightToken.fetchJobsites,
          FlightToken.fetchRequesters,
          FlightToken.fetchChargeEstimates,
        );
      },
      totalDeliveryFees() {
        let totalDeliveryFees = 0;
        this.costEstimatorSelect === 'deliver' || this.costEstimatorSelect === 'bothWays' ? totalDeliveryFees += this.deliveryFee : null;
        this.costEstimatorSelect === 'pickup' || this.costEstimatorSelect === 'bothWays' ? totalDeliveryFees += this.pickupFee : null;
        return totalDeliveryFees;
      },
      estimatedCost() {
        return this.totals.authAmount ? (this.totals.totalRentalAmount + this.totals.environmentFee + this.totals.tax + this.totals.damageWaiverFee + this.totalDeliveryFees) : '$--.--';
      },
    },
    methods: {
      ...mapActions({
        fetchEstimates: types.estimates.fetch,

      }),
      updateChargeEstimates() {
        this.initCalculateEstimates = false;
        const payload = {
          ...this.costEstimatePayload,
        };

        // Compare differences from last payload sent to avoid duplicate requests
        const difference = utils.objects.difference(payload, this.getEstimatePayloadSnapshot);

        if (Object.keys(difference).length !== 0) {
          this.recalculateEstimates = false;
          this.showEstimates = true;
          this.getEstimatePayloadSnapshot = payload;
          this.fetchEstimates(payload).then(data => {
            this.getEstimatePayload = payload;
            this.totals = data.totals;

            // Set the lines to display if they have a value. We never then hide the line, even is future results are 0
            if (this.totals.environmentFee > 0) {
              this.lineDisplay.environmentFee = true;
            }
            if (this.totals.damageWaiverFee > 0) {
              this.lineDisplay.damageWaiverFee = true;
            }
            if (this.totals.miscellaneousFees > 0) {
              this.lineDisplay.miscellaneousFees = true;
            }
            if (this.totals.deliveryFee > 0) {
              this.lineDisplay.delivery = true;
            }
            if (this.totals.pickupFee > 0) {
              this.lineDisplay.pickup = true;
            }
            this.$emit('trackCalculateCosts');

          });
        }
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'costEstimator',
    watch: {

      // Deep watch the form to determine if a resubmit would be necessary for estimated costs
      // Handler must use `function` notation as noted https://vuejs.org/v2/api/#watch
      // Compares current state with last submitted object and displays totals again if matched
      form: {
        handler: (val, oldVal) => {
          const difference = utils.objects.difference(this.costEstimatePayload, this.getEstimatePayloadSnapshot);
          if (Object.keys(difference).length !== 0) {
            this.recalculateEstimates = true;
          }
          else {
            this.recalculateEstimates = false;
          }

        },
        deep: true,
      },
      branch() {
        this.recalculateEstimates = true;
        Object.keys(this.lineDisplay).forEach(v => {
          this.lineDisplay[v] = false;
        });
      },
    },
  };
</script>

<style scoped lang="scss">
@import 'styles/globals';

.ur-legacy-styles .line-item-container .line-item span.line-item__calculated {
  &:first-of-type {
    width: 70%;
  }
}

.add-to-cart__transit-select {

  height: auto;

  /deep/ select.dropdown-style1 {
    margin-bottom: 0;
    height: auto !important;
  }
}

.line-item__link {
  cursor: pointer;
  color: $color-blue;
}

</style>
