<template>
  <div class="location-selector">
    <transition name="fade">
      <div v-if="showForm">
        <label>{{ $i18n('user.specifyYourLocation') }}</label>
        <ur-place-autocomplete></ur-place-autocomplete>
        <div class="form-controls">
          <q-button :text="$i18n('ur.cancel')" button-style="secondary" data-name="button-cancel" @click.prevent="onCancel"/>
          <q-button :text="$i18n('ur.submit')" data-name="button-submit" @click.prevent="showForm = false"/>
        </div>
      </div>
      <div>
        <p v-if="ratesPlaceAddress && linkable" @click="showForm = true">
          {{ $i18n('user.showingRatesFor') }}
          <span class="underline">{{ ratesPlaceAddress }}</span>
        </p>
        <p v-if="ratesPlaceAddress && !linkable">{{ $i18n('user.showingRatesFor') }}
          <span>{{ ratesPlaceAddress }}</span>
        </p>
        <p v-if="!ratesPlaceAddress && !shouldIgnoreNoJobsiteError" v-html="$i18n('user.noRatesPlace')"></p>
      </div>
    </transition>
  </div>
</template>
<style lang="scss" scoped>
  // TODO: import and use urone global styles and strip out vue component specific styles
  // override div styles to put spacing between field groups
  section.add-to-cart__img-pricing > div.object-listing-location-search > div.location-selector {
    .underline {
      cursor: pointer;
    }

    > div > div.form-controls {
      display: flex;
      height: auto;

      button {
        margin-left: 8px;
      }
    }
  }
</style>
<script type="text/babel">
  import UrPlaceAutocomplete from '@/components/common/autocomplete/ur-place-autocomplete';

  import { mapGetters, mapState } from 'vuex';
  import { cloneDeep } from 'lodash';
  import types from '@/store/types';

  export default {
    components: {
      UrPlaceAutocomplete,
    },
    computed: {
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      ...mapState({
        ratesPlace: state => state.user.ratesPlace,
      }),
      shouldIgnoreNoJobsiteError() {
        return typeof this.ignoreNoJobsiteError === 'boolean' ? this.ignoreNoJobsiteError : this.ignoreNoJobsiteError === 'false';
      },
    },
    data() {
      return {
        ratesPlaceClone: cloneDeep(this.ratesPlace),
        showForm: false,
      };
    },
    methods: {
      // Restore the user's rates place, if it exists
      onCancel() {
        this.$store.dispatch(types.user.ratesPlace, this.ratesPlaceClone);
        this.showForm = false;
      },
    },
    props: {
      linkable: Boolean,
      ignoreNoJobsiteError: Boolean,
    },
    name: 'locationSelector',
    watch: {
      showForm() {
        if (this.showForm) {
          this.ratesPlaceClone = cloneDeep(this.ratesPlace);
        }
      },
    },
  };
</script>
