<template>
  <div @click="gotoLogin" v-html="$i18n('user.signInForPricing')"></div>
</template>
<style lang="scss" scoped>
  // TODO: import and use urone global styles and strip out vue component specific styles
  // override div styles to put spacing between field groupsad
  .login-prompt {
    margin-bottom: 16px;
  }
</style>

<script type="text/babel">

  export default {
    methods: {
      gotoLogin() {
        window.location = '/saml_login';
      },
    },
    name: 'login',
  };
</script>
