.product-card {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px $color-grey-11;
  padding: 1rem;
  margin: 5px;

  @include breakpoint($break-small) {
    width: 193px;
  }

  @include breakpoint($break-medium) {
    width: 200px;
  }

  &__icon-star {
    display: flex;
    justify-content: flex-end;
  }

  &__cat-class-code {
    font-size: $font-size-small;
    color: $color-grey-38;
    margin-bottom: 0;
  }

  &__name {
    color: $color-blue;
    margin: 0;
  }

  &__img {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;

    @include breakpoint($break-small) {
      margin-bottom: 1.5rem;
    }

    img {
      max-height: 95px;
    }
  }

  .button {
    padding: 0;
  }
}
