<div class="product-card">
  <div class="product-card__icon-star">
    <i class="icon icon-star-o"></i>
  </div>
  <p class="product-card__cat-class-code">Cat. Class Code: {{product_card_cat_class_code}}</p>
  <h3 class="product-card__name">{{ product_card_name }}</h3>
  <div class="product-card__img">
    <img src="https://placebear.com/g/300/200" alt="Bear">
  </div>
  {% include "@molecules/card/card-rates-list.twig" %}
  {% include "@atoms/06-buttons/style-1/01-button.twig" %}
</div>
