<div class="header__specialty-navigation grid bg-color--blue-lowlight justify--right text-color--white font-size--type-small align--center">
  {% block specialty_navigation %}
    {% include "@molecules/menus/_mock-menu.twig"
      with {
        "menu_data": specialty_navigation_items
      }
    %}
  {% endblock %}
</div>

<div class="header__primary-navigation grid bg-color--blue text-color--white font-size--type-header-h5 align--center">
  <i class="icon icon-bars{% block mobile_menu_open %}{% endblock  %}"></i>
  <i class="icon icon-search"></i>
  <div class="header__global-navigation-pages">
    {% block primary_navigation %}
      {% include "@molecules/menus/_mock-menu.twig"
        with {
          "menu_data": primary_navigation_items
        }
      %}
    {% endblock  %}
  </div>

  {% block logo %}
    <a href="#" class="header__logo-holder"><span class="header__logo"></span></a>
  {% endblock  %}

  <cart-icon></cart-icon>

  {% block notifications %}
    <div>
      <span class="notifications">
        <i class="icon icon-notification"></i>
        <span class="notifications__counter">4</span>
      </span>
    </div>
  {% endblock  %}
</div>

<div class="header__secondary-navigation grid font-size--type-header-h6 align--center">
  {% block secondary_navigation %}
    {% include "@molecules/menus/_mock-menu.twig"
      with {
        "menu_data": secondary_navigation_items
      }
    %}
  {% endblock  %}
</div>
