.user-logged-in {
  .header {
    &__specialty-navigation {
      ul.menu {
        .login-item {
          background: none;
          padding: 0;
        }
      }
    }
  }
}

.header {
  position: relative;
  z-index: $z-index-base;

  .path-node-100921 & {
    background-color: $color-blue;
    position: relative !important;
    left: inherit;
    right: inherit;
    top: inherit;
  }

  .grid {
    padding: 0 16px;

    @include breakpoint($break-small) {
      // padding: 0 32px; KV-1025
    }

    @include breakpoint($break-medium) {
      padding: 0 40px;
    }
  }

  &__logo {
    width: 97px;
    height: 26px;
    display: block;
    background: url(../images/icons/src/UR-Logo-Stacked-reversed.svg) no-repeat;
    // margin: 0 auto; KV-1025
    margin: 0;
    /*
    KV-1025
    @include breakpoint($break-small) {
      margin: 0;
    }
    */
  }

  &__logo-holder {
    // flex: 1 0 auto; KV-1025

    // @include breakpoint($break-small) { KV-1025
    flex: 0 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    order: 2;
    // } KV-1025

    @include breakpoint($break-medium) {
      position: static;
      left: auto;
      transform: none;
      order: -2;
    }
  }

  .path-frontpage & {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .page-node-type-landing & {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 25;
  }



  &__specialty-navigation {
    height: 32px;
    line-height: 32px;
    display: none;

    #block-unitedrentals-account-menu { height: 100%; }

    .path-frontpage &,
    .page-node-type-landing & {
      background-color: transparent;
    }

    // Styles to accomodate having "new" homepage styles with old homepage
    .path-node-100921 & {
      background-color: $color-blue-lowlight;
    }

    ul.menu {
      #login {
        font-weight: 700;

        .icon-component {
          line-height: 0;
        }
      }

      .login-item {
        background: $color-blue-highlight;
        padding: 0 1rem;
      }

      > .menu__item {
        margin: 0 0 0 36px;
        position: relative;
        display: inline-block;
        height: 100%;

        &.show-dropdown > ul {
          display: block;
        }

        > ul {
          position: absolute;
          top: 101%;
          left: -7px;
          padding: 8px 16px 8px 16px;
          background: $white;
          color: #4a4a4a;
          font-size: $font-size-small;
          width: 167px;
          margin-top: 4px;
          z-index: 10;
          box-shadow: $shadow-light;
          display: none;

          li {
            display: block;
            line-height: 26px;
            margin: 0;
          }

          a {
            color: inherit;

            &:hover {
              color: $color-text-link;
              font-weight: bold;
            }
          }
        }

        &:last-child {
          > ul {
            left: -100px;
          }
        }
      }
    }

    .menu__item--below {
      &:after {
        @extend .icon;
        content: '\f107';
        margin-left: 1px;
        display: inline-block;
      }

      &.show-dropdown {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    .menu__link-with-icon {
      padding-left: 22px;
      position: relative;

      .icon-component {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    @include breakpoint($break-medium) {
      display: flex;
    }
  }

  &__primary-navigation {
    height: 64px;
    justify-content: space-between;
    position: relative;

    @include breakpoint($break-medium) {
      height: 70px;
    }

    .path-frontpage &,
    .page-node-type-landing & {
      background-color: transparent;
    }

    .icon-bars {
      font-size: 22px;
      // flex: 1 0 auto; KV-1025
      cursor: pointer;

      // @include breakpoint($break-small) { KV-1025
      flex: 0 0 auto;
      order: 1;
      // } KV-1025

      @include breakpoint($break-medium) {
        display: none;
      }
    }

    .icon-search {
      font-size: 22px;
      // flex: 1 0 auto;
      text-align: center;
      cursor: pointer;
      // added KV-1025
      flex: 0 0 auto;
      margin-left: auto;
      order: 3;

      /*
      KV-1025
      @include breakpoint($break-small) {
        flex: 0 0 auto;
        margin-left: auto;
        order: 3;
      }
      */
    }

    .icon-shopping-cart-container {
      cursor: pointer;
      position: relative;
      // flex: 1 0 auto; KV-1025
      text-align: center;

      flex: 0 0 auto;
      margin-left: 25px;
      order: 4;

      .icon-shopping-cart {
        font-size: 24px;
        position: relative;
        margin-left: auto;

        /*
        commented out KV-1025
        @include breakpoint($break-small) {
          margin-left: 0;
        }
        */
      }
      /*
      commented out KV-1025
      @include breakpoint($break-small) {
        flex: 0 0 auto;
        margin-left: 25px;
        order: 4;
      }
      */

      @include breakpoint($break-medium) {
        margin-left: 32px;
      }
    }

    .notifications-wrapper {
      flex: 1 0 auto;
      display: none;

      @include breakpoint($break-small) {
        flex: 0 0 auto;
        order: 5;
      }
    }

    .icon-notification {
      font-size: 24px;
      display: block;
      transform: scale(-1, 1);
    }
  }

  &__secondary-navigation {
    height: 48px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 0 0 #dbdbdb;
    display: none;
    color: #4a4a4a;

    nav {
      width: 100%;

      ul.menu {
        display: flex;
        flex-flow: row;

        // Submenus inside our menu will be hidden by default
        ul {
          display: none;
        }
      }
    }

    .path-frontpage &,
    .page-node-type-service-sub-pages &,
    .page-node-type-landing & {
      display: none;
    }

    .menu__item--active a {
      color: $color-text-link;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }

    a {
      color: inherit;
    }

    .menu__item {
      margin: 0 30px 0 0;
      display: inline;

      &:last-child {
        margin-right: 0;
      }

      // Little CSS hack to make "first of class" styles work. Style all elements
      // of class to how you want, then "undo" the styles for sibling elements
      // with the class that come after the first one
      &.menu__item--is-section-label {
        margin-left: auto;
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
        border-left: 2px solid $color-grey-11;

        &:hover { cursor: pointer; }

        &.show-dropdown {
          ul {
            display: block;
            position: absolute;
            top: 22px;
            right: 0;
            padding: 8px 16px 8px 16px;
            background: #fff;
            color: #4a4a4a;
            font-size: .85714rem;
            width: 167px;
            margin-top: 4px;
            z-index: 10;
            border: 1px solid $color-grey-11;
            border-radius: $border-radius-large;
            box-shadow: 0 2px 2px rgba(65,75,80,.12);

            li.menu__item {
              display: block;
              line-height: 32px;

              &.external {
                display: inline-block;
                width: 100%;

                &:after {
                  font-family: 'icomoon' !important;
                  color: $color-orange;
                  font-size: 1rem;
                  speak: none;
                  font-style: normal;
                  font-weight: normal;
                  font-variant: normal;
                  text-transform: none;
                  line-height: inherit;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  content: "\f178";
                  position: absolute;
                  right: 1rem;
                }
              }
            }
          }

          &:after {
            transform: rotate(180deg);
          }
        }

        ~ .menu__item--is-section-label {
          margin-left: 0;
          padding-left: 0;
          border-left: none;
        }

        &:after {
          font-family: 'icomoon' !important;
          color: inherit;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f107"; // .icon-angle-down
          position: absolute;
          right: 0;
          top: 0;
          font-size: 14px;
        }
      }
    }

    @include breakpoint($break-medium) {
      display: flex;
    }
  }

  &__global-navigation-pages {
    display: none;
    font-weight: normal;
    flex: 1 0 auto;

    @include breakpoint($break-medium) {
      display: block;
      order: -1;
      margin-left: 40px;
    }

    nav {
      .menu {
        > .menu__item {
          margin: 0 8px 0 0;
          padding: 12px;

          display: inline-block;
          position: relative;

          > a {
            font-size: $font-size-h5;
            font-weight: bold;
            position: relative;
            display: inline-block;
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            > a {
              text-decoration: none;

              &:before {
                content: '';
                height: 5px;
                background: $color-grey-11;
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -18px;
              }
            }
          }

          &.menu__item--active {
            > a:before {
              content: '';
              height: 5px;
              background: $color-blue-highlight;
              display: block;
              position: absolute;
              width: 100%;
              left: 0;
              bottom: -18px;
            }
          }

          &--below:not(.submenu_mobile_only) {
            // Hide second level pages by default
            > ul {
              display: none;
            }
            &:hover {
              background: white;
              margin-top: -1px;

              > a {
                color: $color-grey-69;
                position: relative;
                text-decoration: none;
                font-weight: bold;
                z-index: 2;

                &:before {
                  content: '';
                  height: 5px;
                  background: $color-grey-11;
                  display: block;
                  position: absolute;
                  width: 100%;
                  left: 0;
                  bottom: -18px;
                }
              }

              &.menu__item--active {
                &:hover {
                  > a {
                    &:before {
                      content: '';
                      height: 5px;
                      background: $color-grey-11;
                      display: block;
                      position: absolute;
                      width: 100%;
                      left: 0;
                      bottom: -18px;
                    }
                  }
                }
              }

              // Second level child links
              > ul {
                display: block;
                position: absolute;
                top: 41px;
                left: 0;
                z-index: 1;
                background: white;
                padding: 21px 0 12px;
                margin: 0;
                min-width: 190px;
                box-shadow: 0 3px 3px 1px $color-grey-38;

                .menu__item {
                  margin: 0 0 0.5rem;
                  padding: 6px 12px;

                  &:not(.menu__item--is-section-label) {
                    ul { display: none; }
                  }

                  &.menu__item--is-section-label {
                    padding-left: 0;
                    padding-right: 0;

                    &:hover { background: none; }

                    > a {
                      display: inline-block;
                      width: 87%;
                      border-top: 1px solid $color-grey-11;
                      color: $color-grey-38;
                      pointer-events: none;
                      padding: 1rem 12px .5rem 2px;
                      margin-left: 10px;
                    }

                    > ul {
                      margin-left: 0;
                      padding-left: 0;

                      .menu__item {
                        padding-left: 12px;
                        padding-right: 12px;

                        &.external {
                          display: inline-block;
                          width: 100%;

                          &:after {
                            font-family: 'icomoon' !important;
                            color: $color-orange;
                            font-size: inherit;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: "\f178";
                            position: absolute;
                            right: 1rem;
                          }
                        }
                      }
                    }
                  }

                  &:hover {
                    background: #f1f1f1;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }

                  > a {
                    font-size: $font-size-h6;
                    font-weight: bold;
                    color: $color-grey-69;
                    text-decoration: none;
                  }

                  &--active {
                    > a {
                      color: $color-blue;
                    }
                  }
                }
              }
            }
          }

          &--below.submenu_mobile_only {
            // Hide second level pages by default
            > ul {
              display: none;
            }
            @include breakpoint($break-small) {
              &.submenu_mobile_only > ul {
                display: none !important;
              }
            }
            &:hover {

              margin-top: -1px;

              > a {
                position: relative;
                text-decoration: none;
                font-weight: bold;
                z-index: 2;

                &:before {
                  content: '';
                  height: 5px;
                  background: $color-grey-11;
                  display: block;
                  position: absolute;
                  width: 100%;
                  left: 0;
                  bottom: -18px;
                }
              }

              &.menu__item--active {
                &:hover {
                  > a {
                    &:before {
                      content: '';
                      height: 5px;
                      background: $color-grey-11;
                      display: block;
                      position: absolute;
                      width: 100%;
                      left: 0;
                      bottom: -18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.notifications {
  position: relative;
  margin-right: 12px;
  display: block;

  @include breakpoint($break-small) {
    margin-left: 32px;
  }
}

.pill-count {
  cursor: pointer;
  position: absolute;
  right: -13px;
  top: -5px;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  background: $color-orange-lowlight;
  border-radius: 50%;
  border: 2px solid $white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Allow the Mobile Menu's Account Selector modal to fill the screen.
// (To do this, we have to set the .mobile-menu__holder to 100% width if-and-only-if the Acct. Selector is open.)
.mobile-menu__holder--full-width {
  width: 100% !important;
  left: 0;
}

.mobile-menu__holder--above-egain {
  z-index: 100000 !important;
}

.mobile_only {
  display: inherit;
  @include breakpoint($_break-small) {
    display: none;
  }
}


/*
---
name: Global Header/Navigation
category: Organisms
---
## General
* The header contains 3 sections:
    * Specialty navigation: with contact number, customer service link, language selector and account links
    * Main navigation area: with logo and links to all primary and secondary sections. Also contains the shortcut icons for the search and cart.
    * Secondary navigation: displaying all secondary links for the currently active menu selection
* The header is responsive, so at a certain width, the mobile layout will display.
    * This means that the menu links are hidden and displayed with a menu icon.
    * The logo jumps to the middle of the design

## Homepage Header

* secondary navigation is hidden
* search icon is hidden because the homepage has it's own global search component

```global-header-homepage:global-header-example.html
```
```global-header-homepage.css hidden
header{
margin-bottom: 180px;
}
.header__secondary-navigation, .icon-search {
display: none;
}
.header__global-navigation-pages nav .menu>.menu__item.menu__item--active>a:before{
display: none;
}
.mobile-menu__holder{
 display: none;
}
```

## Subpage Header
* current menu selection is highlighted
* the secondary navigation is visible, containing all the subpage links for the currently active navigation selection.
* the search icon is visible

```global-header-subpage:global-header-example.html
```
```global-header-subpage.css hidden
header{
  margin-bottom: 180px;
}
.mobile-menu__holder{
 display: none;
}
```

### Header Mobile Version

```global-header-mobile:global-header-example.html
```
```global-header-mobile.js hidden
window.frameElement.style.width = '360px';

setTimeout(function(){
window.frameElement.style.height = '640px';
},2000);

let openElement = document.querySelector('.mobile-menu__open');
let closeElement = document.querySelector('.mobile-menu__close');
openElement.addEventListener('click', function(event){
document.querySelector('body').classList.add('mobile-menu-visible');
});
closeElement.addEventListener('click', function(event){
document.querySelector('body').classList.remove('mobile-menu-visible');
});
```
*/
