<div class="layout-container ">
    <header class="header">
        <div class="header__specialty-navigation grid bg-color--blue-lowlight justify--right text-color--white font-size--type-xsmall align--center"><a href="tel:844.557.7562" class="menu__link">844.557.7562</a>
            <nav role="navigation" aria-labelledby="block-unitedrentals-account-menu-menu" id="block-unitedrentals-account-menu">
                <ul class="menu">
                    <li class="menu__item"><a href="/customer-care/contact-us" onclick="window._app.gtmTrackMainNav('top', 'Customer\x20Care')" class="menu__link">Customer Care</a></li>
                    <li class="menu__item menu__item--below menu__item--active"><a class="menu__link">English</a>
                        <ul>
                            <li class="menu__item menu__item--active"><a href="https://kelexdev.unitedrentals.com/">
            English
          </a></li>
                            <li class="menu__item"><a href="https://esus-unitedrentals-kelex.onelink-translations.com/">
            Español
          </a></li>
                            <li class="menu__item"><a href="https://frca-unitedrentals-kelex.onelink-translations.com/">
            Français
          </a></li>
                        </ul>
                    </li>
                    <li class="menu__item"><a id="login" href="/user/login" onclick="window._app.gtmTrackMainNav('top', 'Sign\x20In\x20\x2F\x20Register')" class="menu__link">Sign In / Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__primary-navigation grid bg-color--blue text-color--white font-size--type-header-h5 align--center"><i class="icon icon-bars mobile-menu__open"></i> <i class="icon icon-search"></i>
            <div class="header__global-navigation-pages">
                <nav role="navigation" aria-labelledby="block-unitedrentals-main-menu-menu" id="block-unitedrentals-main-menu">
                    <ul class="menu">
                        <li class="menu__item menu__item--below menu__item--active"><a href="/marketplace/equipment" onclick="window._app.gtmTrackMainNav('top', 'Marketplace')" class="menu__link">Marketplace</a>
                            <ul>
                                <li class="menu__item"><a href="/marketplace/equipment" onclick="window._app.gtmTrackMainNav('top', 'Rent\x20Equipment')" class="menu__link">Rent Equipment</a></li>
                                <li class="menu__item"><a href="http://used.unitedrentals.com/" onclick="window._app.gtmTrackMainNav('top', 'Buy\x20Used\x20Equipment')" class="menu__link">Buy Used Equipment</a></li>
                                <li class="menu__item"><a href="https://unitedacademy.ur.com" onclick="window._app.gtmTrackMainNav('top', 'Training')" class="menu__link">Training</a></li>
                            </ul>
                        </li>
                        <li class="menu__item"><a href="/locations" onclick="window._app.gtmTrackMainNav('top', 'Branches')" class="menu__link">Branches</a></li>
                        <li class="menu__item menu__item--below"><a href="/solutions" onclick="window._app.gtmTrackMainNav('top', 'Solutions')" class="menu__link">Solutions</a>
                            <ul>
                                <li class="menu__item"><a href="/solutions/industry-solutions/chemical/chemical-emergency-preparedness" onclick="window._app.gtmTrackMainNav('top', 'Industry\x20Solutions')" class="menu__link">Industry Solutions</a></li>
                                <li class="menu__item"><a href="/solutions/specialty-solutions/power-hvac/about-power-hvac" onclick="window._app.gtmTrackMainNav('top', 'Specialty\x20Solutions')" class="menu__link">Specialty Solutions</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="/services" onclick="window._app.gtmTrackMainNav('top', 'Services')" class="menu__link">Services</a>
                            <ul>
                                <li class="menu__item"><a href="/services/online-services/total-control" onclick="window._app.gtmTrackMainNav('top', 'Online\x20Services')" class="menu__link">Online Services</a></li>
                                <li class="menu__item"><a href="/services/equipment-protection/rental-protection-plan" onclick="window._app.gtmTrackMainNav('top', 'Equipment\x20Protection')" class="menu__link">Equipment Protection</a></li>
                            </ul>
                        </li>
                        <li class="menu__item menu__item--below"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'Company')" class="menu__link">Company</a>
                            <ul>
                                <li class="menu__item"><a href="/our-company" onclick="window._app.gtmTrackMainNav('top', 'About\x20Us')" class="menu__link">About Us</a></li>
                                <li class="menu__item"><a href="http://careers.unitedrentals.com" onclick="window._app.gtmTrackMainNav('top', 'Our\x20Careers')" class="menu__link">Our Careers</a></li>
                                <li class="menu__item"><a href="/our-company/press-room/press-releases/in-the-news" onclick="window._app.gtmTrackMainNav('top', 'News\x20\x26\x20Events')" class="menu__link">News &amp; Events</a></li>
                                <li class="menu__item"><a href="/our-company/investor-relations/annual-reports-proxy-statements" onclick="window._app.gtmTrackMainNav('top', 'Investor\x20Relations')" class="menu__link">Investor Relations</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div> <a href="/" class="header__logo-holder"><span class="header__logo"></span></a> <span class="icon-shopping-cart-container"><i class="icon icon-shopping-cart"><!----></i> <!----></span>
            <div class="notifications-wrapper"><span class="notifications"><i class="icon icon-notification"></i> <span class="pill-count">0</span></span>
            </div>
        </div>
        <div class="header__secondary-navigation grid font-size--type-header-h6 align--center">
            <nav role="navigation" aria-labelledby="block-unitedrentals-secondary-menu-menu" id="block-unitedrentals-secondary-menu">
                <ul class="menu">
                    <li class="menu__item menu__item--active"><a href="/marketplace/equipment" onclick="window._app.gtmTrackMainNav('top', 'Rent\x20Equipment')" class="menu__link">Rent Equipment</a></li>
                    <li class="menu__item"><a href="http://used.unitedrentals.com/" onclick="window._app.gtmTrackMainNav('top', 'Buy\x20Used\x20Equipment')" class="menu__link">Buy Used Equipment</a></li>
                    <li class="menu__item"><a href="https://unitedacademy.ur.com" onclick="window._app.gtmTrackMainNav('top', 'Training')" class="menu__link">Training</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="mobile-menu__close">
      <i class="icon icon-add"></i>
    </div>
    <div class="mobile-menu__cover"></div>
    <div class="mobile-menu__holder">
        <div class="mobile-menu__content">
            <div class="mobile-menu__account">
                <nav role="navigation" aria-labelledby="block-unitedrentals-account-menu-menu" id="block-unitedrentals-account-menu">


                    <ul class="menu">                    <li class="menu__item">
                            <a href="/customer-care/contact-us" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Customer\x20Care')">Customer Care</a>
                        </li>
                        <translation-user-menu></translation-user-menu>
                        <li class="menu__item">
                            <a id="login" href="/user/login" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Sign\x20In\x20\x2F\x20Register')">Sign In / Register</a>
                        </li>

                    </ul>            </nav>

            </div>
            <nav role="navigation" aria-labelledby="block-unitedrentals-mobile-menu-menu" id="block-unitedrentals-mobile-menu">


                <ul class="menu">                <li class="menu__item menu__item--below menu__item--active">
                        <a href="/marketplace/equipment" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Marketplace')">Marketplace</a>
                        <ul>                        <li class="menu__item menu__item--active">
                                <a href="/marketplace/equipment" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Rent\x20Equipment')">Rent Equipment</a>
                            </li>
                            <li class="menu__item">
                                <a href="http://used.unitedrentals.com/" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Buy\x20Used\x20Equipment')">Buy Used Equipment</a>
                            </li>
                            <li class="menu__item">
                                <a href="https://unitedacademy.ur.com" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Training')">Training</a>
                            </li>

                        </ul>

                    </li>
                    <li class="menu__item">
                        <a href="/locations" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Branches')">Branches</a>
                    </li>
                    <li class="menu__item menu__item--below">
                        <a href="/solutions" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Solutions')">Solutions</a>
                        <ul>                        <li class="menu__item">
                                <a href="/solutions/industry-solutions/chemical/chemical-emergency-preparedness" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Industry\x20Solutions')">Industry Solutions</a>
                            </li>
                            <li class="menu__item">
                                <a href="/solutions/specialty-solutions/power-hvac/about-power-hvac" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Specialty\x20Solutions')">Specialty Solutions</a>
                            </li>

                        </ul>

                    </li>
                    <li class="menu__item menu__item--below">
                        <a href="/services" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Services')">Services</a>
                        <ul>                        <li class="menu__item">
                                <a href="/services/online-services/total-control" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Online\x20Services')">Online Services</a>
                            </li>
                            <li class="menu__item">
                                <a href="/services/equipment-protection/rental-protection-plan" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Equipment\x20Protection')">Equipment Protection</a>
                            </li>

                        </ul>

                    </li>
                    <li class="menu__item menu__item--below">
                        <a href="/our-company" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Company')">Company</a>
                        <ul>                        <li class="menu__item">
                                <a href="/our-company" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'About\x20Us')">About Us</a>
                            </li>
                            <li class="menu__item">
                                <a href="http://careers.unitedrentals.com" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Our\x20Careers')">Our Careers</a>
                            </li>
                            <li class="menu__item">
                                <a href="/our-company/press-room/press-releases/in-the-news" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'News\x20\x26\x20Events')">News &amp; Events</a>
                            </li>
                            <li class="menu__item">
                                <a href="/our-company/investor-relations/annual-reports-proxy-statements" class="menu__link" onclick="window._app.gtmTrackMainNav('top', 'Investor\x20Relations')">Investor Relations</a>
                            </li>

                        </ul>

                    </li>

                </ul>        </nav>

            <ul class="menu">
                <li class="menu__item menu__item--below">
                    <a href="/marketplace" class="menu__link">Need Help</a>
                    <ul>
                        <li class="menu__item">
                            <a href="tel:844.303.6230" class="menu__link">1-844.303.6230</a>
                        </li>
                        <li class="menu__item">
                            <a href="/marketplace" class="menu__link">Customer Care</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-menu__language">
                <ul class="mobile-menu__language--holder">
                    <li class="mobile-menu__language--item"><a href="#">Español</a></li>
                    <li class="mobile-menu__language--item"><a href="#">Français</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
