<!-- Add you custom twig html here -->
{# <div v-if="userIsLoggedIn && pageIsLoading" class="spinner" style="font-size: 6.5rem; margin: 25px 0 25px 47%;"></div> #}

<!-- TODO: hook up corresponding ActivityPreferences Vue component -->
<activity-preferences></activity-preferences>
