.link {
  color: $color-text-link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-text-link-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-text-link-visited;
  }

  &:active {
    color: $color-text-link-active;
  }
}

%link--white {
  color: $color-text-link-light;
  text-decoration: none;

  &:hover {
    color: $color-text-link-light-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-text-link-light-visited;
  }

  &:active {
    color: $color-text-link-light-active;
  }
}

a {
  @extend .link;

  .text-color--white & {
    @extend %link--white;
  }
}

// TODO: Determine how to properly handle this with Andy
a.button {
  @extend .link;

  // Need these to override default <a> tag element styles
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;

  // This is determined by the height of the button, probably should be variable
  line-height: 2.85714em;
}
