<template>
  <div>
    <a :class="linkClass" @click="click" href="tel:1.833.449.7554" >
      {{ number }}
    </a>
  </div>
</template>
<script type="text/babel">
  import UrGtm from '@/mixins/ur-gtm';

  export default {
    methods: {

      /**
       * Click method
       *
       * Track the clicking of the call button and programmatically push the telephone route
       */
      click() {
        this.gtmTrackTapToCall(this.callType);
      },
    },
    mixins: [
      UrGtm,
    ],
    props: {
      callType: {
        required: false,
        default: 'call-us',
      },
      number: {
        required: true,
      },
      linkClass: {
        required: false,
        default: null,
      },
    },
  };
</script>
