.refresh-div {
  width: 50%;
  padding: 10px;
}

@media (max-width: $break-small) {
  .refresh-div {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: $break-medium) {
  .refresh-div {
    width: 100%;
    padding: 10px;
  }
}

.reservation {

  .platform-account-list-item-container, .platform-account-item-list-description {
    padding: 10px;
  }

  .reservationDetailsSpinner {
    padding-left: 40px;
  }

  @include breakpoint($break-small) {
    .platform-account-list-item-container, .platform-account-item-list-description {
      padding: 15px;
    }
    .platform-account-list-item, .platform-account-item-list-description {
      margin: auto;
    }
  }

  @include breakpoint($break-medium) {
    .platform-account-list-item-container {
      padding-left: 25px;
      padding-right: 25px;
    }
    .platform-account-item-list-description {
      padding-left: 0;
      padding-right: 0;
    }
    .platform-account-list-item, .platform-account-item-list-description {
      max-width: 900px;
    }
  }
}

.account-name-label {
  margin-left: 1em;
}

.account-title {
  font-weight: 500;
  font-size: 1.15em;
  line-height: 1.85em;

  &-small {
    font-weight: inherit;
    margin-bottom: 1em;
  }
}
