.reservation-blocks-container .form-sending {
  opacity: 0.55;
}

/* Reservation Details */
.reservation-details {
  .edit-btn-div {
    width: 12% !important;

    &__edit-item {
      width: 10% !important;
    }
  }

  .button-div {
    width: 12%;

    &__edit-item {
      width: 10% !important;
    }
  }

  .cancel-btn-edit {
    margin-left: 20px;

    &__small {
      margin-left: 0;
      margin-top: 15px;
    }
  }

  @include breakpoint($break-small) {
    display: flex;
    flex-wrap: wrap;
  }

  section.reservation {
    border: 1px solid $gray-light;
    @include breakpoint($break-medium) {
      @include setColumn(9, 12);
    }
  }

  aside.sidebar {
    background-color: $color-grey-2;
    @include setColumn(12,12);
    @include breakpoint($break-medium) {
      @include setColumn(3, 12);
    }

    .sidebar-items {
      background-color: $color-white;

      position: relative;
      box-shadow: 0 -2px 4px 0 rgba(0,0,0,.24);

      .form-success & {
        box-shadow: none;
        background-color: transparent;
        border: none;
      }

      .button-convert-quote {
        margin-top: 20px;
        width: 80%;
        margin-left: 10%;
      }

      .totals-mobile {
        display: flex;
        @include breakpoint($break-medium) {
          display: none;
        }
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #dde0e2;
      }

      .line-item-container {
        padding: 0 16px;
        overflow-y: hidden;
        transition: all .5s;
      }

      .line-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        @include breakpoint($break-medium) {
          padding: 10px;
        }
        border: none;
        font-size: $font-size-base;
      }

    }

    .convert-quote-btn-summary-sidebar {
      width: 100%;
      display: flex;
      justify-content: center;
      @media (max-width: $break-medium) {
        & button {
          margin: 20px 10px;
        }
      }
      .desktop-view {
        margin-top: 10%;
      }
      & button {
        width: 90%;
      }
    }

    .totals {
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
      display: none;
      @include breakpoint($break-medium) {
        display: flex;
      }
      flex-wrap: wrap;
      padding: 20px 25px;
      .total-estimate {
        @include setColumn(6,12);
        justify-content: space-between;
      }
      .total-price {
        @include setColumn(6,12);
        color: $color-grey-69;
        font-size: 1.5rem;
        font-weight: normal;
        justify-content: space-between;
        text-align: right;
      }
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 2rem 1rem;

      .label {
        @include setColumn(7,12);
        justify-content: space-between;
        margin-bottom: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price {
        @include setColumn(5,12);
        justify-content: space-between;
        text-align: right;
      }
    }
  }

  .platform-account-reservation-details-status {
    .breadcrumb__link {
      display: flex;
      justify-content: space-between;
    }
    .breadcrumb__link,
    h1 {
      @include breakpoint($break-small) {
        padding-left: 3rem;
      }
    }
  }

  .platform-account-reservation-details-status,
  .platform-account-reservation-details-item,
  .platform-account-reservation-details-jobsite,
  .platform-account-reservation-details-billing,
  .platform-account-reservation-details-accounting-codes,
  .platform-account-reservation-details-req-codes,
  .platform-account-reservation-details-delivery-pickup {
    border-bottom: 1px solid $gray-light;

    .per-item-price {
      padding-left: 10px;
      padding-top: 5px;
    }

    &__container {

      .edit-jobsite-form {
        padding-bottom: 20px;
      }

      .select--job {
        margin: none;
        margin-bottom: 1em;
      }

      .inner-column_tree-column.edit {
        padding-bottom: 20px;

        label {
          font-size: $font-size-large;
        }

        .select {
          width: 232px;
        }
      }

      .edit-quote {
        background-color: inherit;
        border: none;
        padding-left: 0;

        .pickup-location-body {
          height: auto;

          h4 {
            color: $gray-dark;
            margin: 5px 0;
          }

          .values {
            color: $color-grey-38;
            font-size: $font-size-base;
            line-height: 24px;

            &__lighter-font {
              line-height: 16px !important;
            }
          }

          .pickup-location-controls {
            margin-top: 25px;
          }
        }
      }
    }

    .edit-quote-delivery-pickup-method-selector {
      padding-bottom: 15px;
    }
  }

  .platform-account-reservation-details-billing,
  .platform-account-reservation-details-req-codes,
  .platform-account-reservation-details-accounting-codes {
    .border-top {
      border-top: 1px solid $gray-light;
    }
  }

  .platform-account-reservation-details-billing .group-right {
    display: flex;
    flex-direction: row;
    .billing-data-group {
      @include setColumn(10,12);
    }
  }

  .platform-account-reservation-details-item {
    .cart__details__pricing {
      @include breakpoint($break-medium) {
        position: relative;
        right: 400px;
      }
    }
    .group-left .cart__item {
      padding: 27px 27px 0 0;
      @include breakpoint($break-small) {
        padding: 27px 27px 0 27px;
      }
    }

    .group-right .cart__details {
      &__content {
        margin: 0;

        .cart__editing__body {
          background: none !important;
          padding: 0px;

          &__container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 5px;
            flex-wrap: wrap;

            .three-column {
              padding-right: 20px;
              width: 100px;
            }
          }

          .cart__editing__section-1 {
            border: none !important;

            .left-quantity {
              div:first-child {
                label {
                  padding: 10px 20px 0 0;
                }

                .more_less_buttons {
                  padding-right: 20px !important;
                  padding-bottom: 10px !important;
                }

                @include breakpoint($break-small) {
                  display: inline-flex;

                  .more_less_buttons {
                    padding-bottom: 0px;
                  }
                }
              }

              input {
                width: auto;

                @include breakpoint($break-small) {
                  width: 60px;
                }
              }

              .less, .more {
                color: $color-blue;
              }
            }
          }
        }
      }
    }
  }

  .platform-account-reservation-details-delivery-pickup {
    &__container {
      .inner-column_centered .label:first-child span,
      .label:first-child span {
        margin-left: 0;
        @include breakpoint($break-small) {
          margin-left: 1rem;
        }
      }
    }
  }

  .quote-billing-title-cont {
    display: flex;
    justify-content: space-between;
  }

  .quote-billing-edit {
    margin-top: 10px;
    @include breakpoint($break-small) {
      margin-right: 48px;
      @include setColumn(2,12);
    }
  }
}
