<section class="reservation">
  {% include "@molecules/platform-account-reservation/platform-account-reservation.twig" %}
  {% include "@organisms/platform-account/platform-account-browse-search-item-list.twig" %}
</section>
