<div class="reservation-details">
  <section class="reservation">
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-status.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-item.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-jobsite.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-delivery-pickup.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-billing.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-req-codes.twig" %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-accounting-codes.twig" %}
  </section>

  <aside class="sidebar">
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-sidebar.twig" %}
  </aside>
</div>