.rotate {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

div.visible, section.visible {
  display: block;
}

span.visible {
  display: inline-block;
}

.views-element-container {
  width: 100%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 96%;
}

#catalog-listing.catalog-listing {
  display: block;
  position:relative;
  padding-top: 1.714rem;
}

@media (min-width: 1024px) {
  #catalog-listing.catalog-listing {
    padding-top: 0;
  }
}

#catalog-listing.catalog-listing .views-element-container .equipment-listing-full {
  margin: 0;
  max-width: 100%;
  width: 100%;
}
    
#catalog-listing.catalog-listing aside.equipment-listing--siderail {
  height: auto;
  padding: 0;
  width: 100%;
  background: none;
}

.block-equipment-listing-siderail-block {
  position: relative;
  top: 0;
  width: 96%;
  margin: 64px 2% 0 2%;
  padding: 22px 24px 20px 24px;
  background: #f9f9f9;
  height: auto;
  display: none;
}

.object_listing__actions {
  display: none;
}

.object_listing__details > .ur-quick-view-toggle {
  display: inline-block;
}

.object_listing__details__quick_view .ur-quick-view-toggle {
  display: none;
}

.mobile-only {
  display: initial;
}

.object-list-header #filter-sort-buttons.filter-sort-buttons {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.equipment-listing-full nav.pager {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.equipment-listing-full .ur-quick-view {
  display: none;
}

.equipment-listing-full .visible {
  display: block;
}

.authentication-panel .container-inline {
  margin: 0;
}

@media (min-width: 640px) {
  .mobile-only {
    display: none;
  }
  .object_listing__actions {
    display: block;
  }
  .object_listing__details__quick_view .ur-quick-view-toggle {
    display: inline-block;
  }
  .object_listing__details > .ur-quick-view-toggle {
    display: none;
  }
  .block-system-breadcrumb-block__content {
    padding-bottom:0;
  }
}

@media (min-width: 1024px) {
  #catalog-listing.catalog-listing {
    display: flex;
  }
  .block-equipment-listing-siderail-block {
    position: static;
    top: 0;
    display: block;
    width: 264px;
    padding: 22px 24px 20px 24px;
    margin: 0;
  }
}
