{#
/**
 * @file cart_item.html.twig
 * Default theme implementation to present Cart Item data.
 *
 * This template is used when viewing Cart Item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cart_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cart_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
