<template>
  <span v-html="field.html(this.payload)">
    // rendered html
  </span>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    name: 'CallbackDetailField',
    extends: DetailField,
  };
</script>
