<template>
  <span v-html="field.html(this.payload)">
    // rendered html
  </span>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    name: 'CallbackListingField',
    extends: ListingField,
  };
</script>
