.select-a-card {
  margin: 0;
  padding: 0;

  &__header {
    padding: 15px;
    display: flex;
    flex-direction: row;

    h2 {

    }
  }

  &__body {
    background: $color-grey-2;
    border-top: $border-grey;
    border-bottom: $border-grey;
    padding: 15px 15px 45px 15px;

    p {
      font-size: $font-size-small;
      color: $color-grey-38;
      position: relative;
      top: 5px;
      right: 35px;
    }

    .card-item {
      display: flex;
      flex-direction: row;
      padding: 20px 0;
      border-bottom: $border-grey;

      .label-selection {
        width: 30px;
      }

      img {
        position: relative;
        bottom: 15px;
        margin-right: 7px;

      }
    }
  }

  &__footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin-right: 15px;
      width: 150px;
    }
  }
}