<div class="modal__content modal__content--center">

  <div class="select-a-card__header">
  {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
    with {
      heading_2: heading_2
    }
  %}

  {% include '@atoms/06-buttons/icon-button/icon-button.twig' %}
  </div>
  <div class="select-a-card__body">
    <div class="card-item">
      {% include '@atoms/05-forms/radio/_radio-item.twig'
        with {
          "key": 1,
          "radio_item": ''
        }
      %}

      <img src="../../../../../images/icons/src/card-type-mastercard.svg">
      <div class="card-text">
        {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
          with {
            heading_6: heading_6
          }
        %}
          {% include '@atoms/02-text/text/01-paragraph.twig'
            with {
              paragraph_content: 'Expiration 01/20'
            }
          %}
      </div>
    </div>
    <div class="card-item">
      {% include '@atoms/05-forms/radio/_radio-item.twig'
        with {
          "key": 2,
          "radio_item": ''
        }
      %}

      <img src="../../../../../images/icons/src/card-type-mastercard.svg">
      <div class="card-text">
        {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
          with {
            heading_6: heading_6
          }
        %}
        {% include '@atoms/02-text/text/01-paragraph.twig'
          with {
            paragraph_content: 'Expiration 01/20'
          }
        %}
      </div>
    </div>

  </div>
  <div class="select-a-card__footer">
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Cancel',
        button_modifiers: cancel_button_modifiers
      }
    %}
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Done',
        button_modifiers: done_button_modifiers
      }
    %}
  </div>
</div>