.tabs {

  .pl & {
    position: relative;
    top: 20px;
  }

  li {
    display: inline-block;
  }

  &--style-1 {
    a {
      background-color: $color-white;
      color: $color-brand-primary;
      font-size: 1rem;
      line-height: 1.4285714286;
      font-weight: 700;
      width: 100%;
      font-family: $font-family-sans-serif;
      border-top: 3px solid $color-grey-11;
      border-left: 1px solid $color-grey-11;
      border-right: 1px solid $color-grey-11;
      border-bottom: 1px solid $color-grey-11;
      outline: none;

      &:visited {
        color: $color-brand-primary;
      }

      &.is-active,
      &:active,
      &.router-link-active {
        color: $color-grey-79;
        border-top: 3px solid $color-blue-lowlight;
        border-bottom: none;
        background: $color-white;
        padding-top: 4px;
        border-radius: 2px;
        text-decoration: none;

        &:before {
          content: "\f0ad";
          font-family: "icomoon";
          padding: 0 10px;
          color: $color-grey-69;
        }
      }

      &:before {
        content: "\f15c";
        font-family: "icomoon";
         padding: 0 10px;
      }
    }

    li {
      border: none;
      outline: none;
    }

    .tabs__nav {
      background-color: $color-white;

      .tabs__link {
        display: block;
        padding: 1em 2.4em;
        text-align: center;

        &:hover {
          color: $gray-darker;
        }
      }
    }
  }

  &--style-2 {
    a {
      background-color: $color-white;
      color: $color-brand-primary;
      font-size: 1.2857142857rem;
      line-height: 1.333333;
      font-weight: 700;
      width: 100%;
      font-family: $font-family-sans-serif;
      outline: none;

      &:visited {
        color: $color-brand-primary;
      }

      &.is-active,
      &:active,
      &.router-link-active {
        color: $color-grey-79;
        border-bottom: 4px solid $color-blue-highlight;
        background: $color-white;
        padding-bottom: 10px;
      }
    }

    li {
      border: none;
      outline: none;
    }

    .tabs__nav {
      background-color: $color-white;

      .tabs__link {
        display: block;
        padding: 1em 2.4em;
        text-align: center;

        &:hover {
          color: $gray-darker;
        }
      }
    }
  }
}

.drupal-tabs {

  ul {

    li {
      display: inline;
    }
  }
}

