{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{%
  set link_classes = [
    is_active ? 'is-active',
    'tabs__link',
    'tabs__link--local-tasks'
  ]
%}

{# if Pattern Lab atoms example, add ul wrapper #}
{% if example %}
<ul class="tabs__nav">
{% endif %}
  <li{{ attributes }}>
    {# Detect if Drupal #}
    {% if attributes %}
      {{ link(link['#title'], link['#url'], { 'class' : link_classes }) }}
    {% else %}
      <a href="{{ tab_link }}" class="tabs__link tabs__link--local-tasks{% if key == 0 %} is-active{% endif %}">{{  tab_text }}</a>
    {% endif %}
  </li>
{% if example %}
</ul>
{% endif %}
