.promotion-code-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 33px;

  .promotion-code-link-wrap,
  .promotion-code-input-wrap {
    width: 100%;
  }

  .promotion-code-input {
    flex: 2;
    margin-right: 10px;

    input {
      min-height: 40px;
    }

    &.error {
      input {
        color: $color-bright-red !important;
        border: $color-bright-red 1px solid;
      }
    }
  }

  .promotion-code-error-message {
    color: $color-bright-red !important;
    font-size: 12px;
    width: 600px;
    padding-top: 10px;
  }

  .promotion-code-verify-button {
    float: right;
    background-color: #F9F9F9;
    border: 1px solid #DDE0E2	;
    color: #414B59;
    margin-top: 40px;
  }

  .promotion-code-remove-wrap {
    padding-top: 10px;
    font-size: 12px;
  }

}