{% if slides %}
  {% for slide in slides %}
    <div class="microsite-slide--featured-slide {{ slide.is_active }}" data-slide-id="{{ slide['#paragraph'].id.value }}">
      {{ slide }}
    </div>
  {% endfor %}
{% endif %}