<ul class="child-category-list">
  {% for item in list_items %}
    <li>
    {% include "@molecules/child-category-list-item/child-category-list-item.twig"
      with {
        "child_category_blockname": "category-list-item",
        "child_blockname": child_category_blockname,
        "child_category_image_url": item.child_category_image_url,
        "child_category_title_url": item.child_category_title_url,
        "child_category_title": item.child_category_title,
        "child_category_description": item.child_category_description,
        "child_category_links": item.child_category_links
      }
    %}
    </li>
  {% endfor %}
</ul>