<form>
    <div class="delivery-tool">
        <div class="ur-select"><label for="select-o0deltmqv7o" class="form-item__label form-item__label--textfield">
    How would you like to receive your equipment?
  </label>
            <!---->
            <div class="select"><select id="select-o0deltmqv7o" name="" class="dropdown-style1"><!----> <option value="yes">UR Delivery ($78)</option> <option value="no">Branch Pickup ($0)</option></select> <i class="icon icon-angle-down"></i>
                <!---->
            </div>
        </div>
    </div>
    <!---->
    <div class="date-time-group">
        <div class="date-time-tool">
            <div><label class="undefined__label">Delivery Date</label> <input id="calendar-cc541924f4066" readonly="readonly" type="text" class="undefined__input" aria-label="Use the arrow keys to pick a date">
                <!---->
            </div>
        </div>
        <div class="date-time-tool">
            <div>
                <div class="ur-select"><label for="select-5a69jerlp9g" class="form-item__label form-item__label--textfield">
    Delivery Time
  </label>
                    <!---->
                    <div class="select"><select id="select-5a69jerlp9g" name="" class="dropdown-style1"><!----> <option disabled="disabled" value="6">Select Delivery Time</option> <option value="7">7am - 10am</option> <option value="10">10am - 1pm</option> <option value="13">1pm - 4pm</option> <option value="16">4pm - 7pm</option></select> <i class="icon icon-angle-down"></i>
                        <!---->
                    </div>
                </div>
                <!---->
            </div>
            <!---->
        </div>
        <!---->
    </div>
</form>

<div class="pika-single is-bound" style="position: absolute; left: 0; top: 121px;">
    <div class="pika-lendar">
        <div id="pika-title-my" class="pika-title" role="heading" aria-live="assertive">
            <div class="pika-label">2018<select class="pika-select pika-select-year" tabindex="-1"><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018" selected="selected">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option></select></div>
            <div class="pika-label">February<select class="pika-select pika-select-month" tabindex="-1"><option value="0">January</option><option value="1" selected="selected">February</option><option value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select></div><button class="pika-prev" type="button">&lt;</button><button class="pika-next" type="button">&gt;</button></div>
        <table cellpadding="0" cellspacing="0" class="pika-table" role="grid" aria-labelledby="pika-title-my">
            <thead>
                <tr>
                    <th scope="col"><abbr title="Sunday">Su</abbr></th>
                    <th scope="col"><abbr title="Monday">M</abbr></th>
                    <th scope="col"><abbr title="Tuesday">T</abbr></th>
                    <th scope="col"><abbr title="Wednesday">W</abbr></th>
                    <th scope="col"><abbr title="Thursday">Th</abbr></th>
                    <th scope="col"><abbr title="Friday">F</abbr></th>
                    <th scope="col"><abbr title="Saturday">Sa</abbr></th>
                </tr>
            </thead>
            <tbody>
                <tr class="pika-row">
                    <td data-day="28" class="is-outside-current-month is-selection-disabled is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="0" data-pika-day="28">28</button></td>
                    <td data-day="29" class="is-outside-current-month is-selection-disabled is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="0" data-pika-day="29">29</button></td>
                    <td data-day="30" class="is-outside-current-month is-selection-disabled is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="0" data-pika-day="30">30</button></td>
                    <td data-day="31" class="is-outside-current-month is-selection-disabled is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="0" data-pika-day="31">31</button></td>
                    <td data-day="1" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="1">1</button></td>
                    <td data-day="2" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="2">2</button></td>
                    <td data-day="3" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="3">3</button></td>
                </tr>
                <tr class="pika-row">
                    <td data-day="4" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="4">4</button></td>
                    <td data-day="5" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="5">5</button></td>
                    <td data-day="6" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="6">6</button></td>
                    <td data-day="7" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="7">7</button></td>
                    <td data-day="8" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="8">8</button></td>
                    <td data-day="9" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="9">9</button></td>
                    <td data-day="10" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="10">10</button></td>
                </tr>
                <tr class="pika-row">
                    <td data-day="11" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="11">11</button></td>
                    <td data-day="12" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="12">12</button></td>
                    <td data-day="13" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="13">13</button></td>
                    <td data-day="14" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="14">14</button></td>
                    <td data-day="15" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="15">15</button></td>
                    <td data-day="16" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="16">16</button></td>
                    <td data-day="17" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="17">17</button></td>
                </tr>
                <tr class="pika-row">
                    <td data-day="18" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="18">18</button></td>
                    <td data-day="19" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="19">19</button></td>
                    <td data-day="20" class="is-today" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="20">20</button></td>
                    <td data-day="21" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="21">21</button></td>
                    <td data-day="22" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="22">22</button></td>
                    <td data-day="23" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="23">23</button></td>
                    <td data-day="24" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="24">24</button></td>
                </tr>
                <tr class="pika-row">
                    <td data-day="25" class="is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="25">25</button></td>
                    <td data-day="26" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="26">26</button></td>
                    <td data-day="27" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="27">27</button></td>
                    <td data-day="28" class="" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="1" data-pika-day="28">28</button></td>
                    <td data-day="1" class="is-outside-current-month is-selection-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="2" data-pika-day="1">1</button></td>
                    <td data-day="2" class="is-outside-current-month is-selection-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="2" data-pika-day="2">2</button></td>
                    <td data-day="3" class="is-outside-current-month is-selection-disabled is-disabled" aria-selected="false"><button class="pika-button pika-day" type="button" data-pika-year="2018" data-pika-month="2" data-pika-day="3">3</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
