{{ attach_library('ur__global/brand_module') }}

{% set video_is_set = content.field_video.0|render is not empty %}
{% set link_is_set = content.field_link_button|render is not empty %}

<div class="brand-module intro-content f-row row-margin-y grid">
  <div class="col col-left f-columns small-12 medium-6 column-padding-right small-column-padding-left">
    <h2 class="header-display-1 c-blue decorative-bar-horiz-wide">{{ content.field_title.0 }}</h2>
    <div class="type-paragraph-base">
      {{ content.body.0 }}
    </div>
    <div class="cta-container">
      {% if link_is_set %}
        <a href="{{ content.field_link_button[0]['#url'] }}" class="button button--style-2 button--filled">{{ content.field_link_button[0]['#title'] }}</a>
      {% endif %}
    </div>
  </div>
  <div class="col brand-module--media-container col-right f-columns small-12 medium-6 {% if video_is_set %}brand-module--media-container__with-video{% endif %}">
    {% if video_is_set %}
      <div class="brand-module--video">
        {{ content.field_video.0 }}
      </div>
    {% endif %}

    <div class="background-image-div" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }})"></div>
    {{ content.field_image.0 }}

    {% if video_is_set %}
      <div class="overlay"></div><div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
    {% endif %}
  </div>
</div>