<div class="grid">
  <ur-global-search placeholder="Search"></ur-global-search>

  <ur-location-search-auto-complete class="global-search__field global-search__location"></ur-location-search-auto-complete>
</div>
