{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
  {% embed "@organisms/landing-page-sitemap/landing-page-sitemap.twig" %}

    {% block sitemap_headline %}
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
        with {
          "heading_5": content.field_headline[0]|render|striptags|trim,
          "heading_5_blockname": "sitemap-block"
        }
      %}
    {%  endblock %}

    {% block sitemap_description  %}
      {% include "@atoms/02-text/text/01-paragraph.twig"
        with {
          "paragraph_content": content.field_category_description[0]|render|striptags|trim,
          "paragraph_blockname": "sitemap-block"
        }
      %}
    {% endblock %}

    {% block sitemap_menu %}
      {{ content.field_sitemap_menu }}
    {% endblock %}

  {% endembed %}
</div>
