{% embed "@organisms/site/site-header/_global-header.twig" %}
  {% block specialty_navigation %}
    {# @TODO: Find way to hide this link if user is UR Employee #}
    {# @TODO: Figure out why including q-icon before text removes text after. #}
    <a href="tel:{{ content['customer_service_number'] }}" class="menu__link menu__link-with-icon fw-bold">
      {{ content['customer_service_number'] }}
      <q-icon icon-name="phone" size="x-small" />
    </a>
    {{ drupal_block('unitedrentals_account_menu') }}
  {% endblock %}

  {% block logo %}
    <a class="header__logo-holder" href="{{ path('<front>') }}">
      <span class="header__logo"></span>
    </a>
  {% endblock %}

  {% block primary_navigation %}
    {{ drupal_block('unitedrentals_main_menu') }}
  {% endblock %}

  {% block secondary_navigation %}
    {{ drupal_block("#{secondary_nav_block}") }}
  {% endblock %}

  {% block mobile_menu_open %} mobile-menu__open{% endblock  %}

  {% block notifications %}
    <ur-notifications-container></ur-notifications-container>
  {% endblock  %}
{% endembed %}
