{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% embed "@molecules/_block.twig" %}
  {% block content %}

    {% embed "@templates/rent-equipment-landing/rent-equipment-landing.twig"
      with {
        category_menu_title: "Browse By Category",
        category_menu_bar_first_mobile: "Back",
        category_menu_bar_first_tablet: "Close",
        category_menu_bar_second: "All Categories",
        popular_equipment_title: "Popular Equipment and Tools for Rent",
      }
    %}

    {% block category_menu_list %}
      {{ drupal_block('hierarchicaltaxonomymenu_categories') }}
    {%  endblock %}

    {# % block category_menu_list %}
      <div id="block-hierarchicaltaxonomymenu-categories"><ul class="menu hierarchical-taxonomy-menu"><li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/aerial-work-platforms">Aerial Work Platforms</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/aerial-attachments-safety">Aerial Attachments &amp; Safety</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/boom-lifts">Boom Lifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/mobile-platforms">Mobile Platforms</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/scaffolding">Scaffolding</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts">Scissor Lifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/vertical-lifts">Vertical Lifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/ladders">Ladders</a></li> <li class="menu-item "><a href="/marketplace/equipment/aerial-work-platforms/pusharound-lifts">Pusharound Lifts</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/air-compressors-air-tools">Air Compressors &amp; Air Tools</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/air-compressors-air-tools/air-compressors">Air Compressors</a></li> <li class="menu-item "><a href="/marketplace/equipment/air-compressors-air-tools/air-tool-accessories">Air Tool Accessories</a></li> <li class="menu-item "><a href="/marketplace/equipment/air-compressors-air-tools/air-tools">Air Tools</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/compaction">Compaction</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/compaction/plate-compactors">Plate Compactors</a></li> <li class="menu-item "><a href="/marketplace/equipment/compaction/rammers">Rammers</a></li> <li class="menu-item "><a href="/marketplace/equipment/compaction/ride-rollers">Ride-On Rollers</a></li> <li class="menu-item "><a href="/marketplace/equipment/compaction/walk-behind-rollers">Walk-Behind Rollers</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/concrete-masonry">Concrete &amp; Masonry</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/concrete-grinders-planers">Concrete Grinders &amp; Planers</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/concrete-vibrators">Concrete Vibrators</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/core-drills">Core Drills</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/cut-saws-blades">Cut-Off Saws &amp; Blades</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/masonry-tile-saws">Masonry &amp; Tile Saws</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/mixers">Mixers</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/power-buggies-buckets">Power Buggies &amp; Buckets</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/screeds-trowels">Screeds &amp; Trowels</a></li> <li class="menu-item "><a href="/marketplace/equipment/concrete-masonry/street-saws-blades">Street Saws &amp; Blades</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/earthmoving-equipment">Earthmoving Equipment</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/backhoes">Backhoes</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/bull-dozers">Bull Dozers</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/earthmoving-attachments">Earthmoving Attachments</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/excavators">Excavators</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/mini-excavators">Mini-Excavators</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/skid-steers-track-loaders">Skid Steers &amp; Track Loaders</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/sweepers">Sweepers</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/trenchers">Trenchers</a></li> <li class="menu-item "><a href="/marketplace/equipment/earthmoving-equipment/wheel-loaders">Wheel Loaders</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/forklifts-material-handling">Forklifts &amp; Material Handling</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/cranes">Cranes</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/hoists">Hoists</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/material-lifts">Material Lifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/misc-material-handling">Misc. Material Handling</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/reach-forklifts">Reach Forklifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/rough-terrain-forklifts">Rough Terrain Forklifts</a></li> <li class="menu-item "><a href="/marketplace/equipment/forklifts-material-handling/warehouse-forklifts">Warehouse Forklifts</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/lawn-landscape">Lawn &amp; Landscape</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/lawn-landscape/augers">Augers</a></li> <li class="menu-item "><a href="/marketplace/equipment/lawn-landscape/chain-saws">Chain Saws</a></li> <li class="menu-item "><a href="/marketplace/equipment/lawn-landscape/lawn-equipment">Lawn Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/lawn-landscape/chippers-stumpers">Chippers &amp; Stumpers</a></li> <li class="menu-item "><a href="/marketplace/equipment/lawn-landscape/tillers">Tillers</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/light-towers-generators">Light Towers &amp; Generators</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/light-towers-generators/diesel-generators">Diesel Generators</a></li> <li class="menu-item "><a href="/marketplace/equipment/light-towers-generators/portable-generators">Portable Generators</a></li> <li class="menu-item "><a href="/marketplace/equipment/light-towers-generators/portable-work-lights">Portable Work Lights</a></li> <li class="menu-item "><a href="/marketplace/equipment/light-towers-generators/towable-light-towers">Towable Light Towers</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/other-equipment">Other Equipment</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/other-equipment/barricades-signs">Barricades &amp; Signs</a></li> <li class="menu-item "><a href="/marketplace/equipment/other-equipment/plumbing-snakes">Plumbing Snakes</a></li> <li class="menu-item "><a href="/marketplace/equipment/other-equipment/storage-containers">Storage Containers</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/plumbingpipeconduit">Plumbing/Pipe/Conduit</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/plumbingpipeconduit/benders">Benders</a></li> <li class="menu-item "><a href="/marketplace/equipment/plumbingpipeconduit/flange-spreaders-crimping">Flange Spreaders &amp; Crimping</a></li> <li class="menu-item "><a href="/marketplace/equipment/plumbingpipeconduit/pipe-stands">Pipe  Stands</a></li> <li class="menu-item "><a href="/marketplace/equipment/plumbingpipeconduit/pipe-threaders-accessories">Pipe Threaders &amp; Accessories</a></li> <li class="menu-item "><a href="/marketplace/equipment/plumbingpipeconduit/pipecutting">Pipecutting</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/portable-sanitation-services">Portable Sanitation Services</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/portable-sanitation-services/portable-restrooms">Portable Restrooms</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/power-hvac">Power &amp; HVAC</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/power-hvac/air-conditioners">Air Conditioners</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/chillers">Chillers</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/dehumidifiers">Dehumidifiers</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/diesel-generators">Diesel Generators</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/fans-blowers">Fans &amp; Blowers</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/heaters">Heaters</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/load-banks">Load Banks</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/power-distribution-equipment">Power Distribution Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/power-hvac/transformers">Transformers</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/pumps-accessories">Pumps &amp; Accessories</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/additional-products">Additional Products</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/diaphragm-pumps">Diaphragm Pumps</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/hydraulic-pumps">Hydraulic Pumps</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/pump-hose">Pump Hose</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/small-portable-pumps">Small Portable Pumps</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/containment-berms">Containment Berms</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/pump-pipe">Pump Pipe</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/wellpoint-pumps">Wellpoint Pumps</a></li> <li class="menu-item "><a href="/marketplace/equipment/pumps-accessories/vac-assist-diesel-driven-pumps">Vac Assist Diesel Driven Pumps</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/surface-preparation">Surface Preparation</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/surface-preparation/carpet-installation">Carpet Installation</a></li> <li class="menu-item "><a href="/marketplace/equipment/surface-preparation/sweepers">Sweepers</a></li> <li class="menu-item "><a href="/marketplace/equipment/surface-preparation/polishers-scrubbers">Polishers &amp; Scrubbers</a></li> <li class="menu-item "><a href="/marketplace/equipment/surface-preparation/pressure-washers">Pressure Washers</a></li> <li class="menu-item "><a href="/marketplace/equipment/surface-preparation/sanders-strippers">Sanders &amp; Strippers</a></li> <li class="menu-item "><a href="/marketplace/equipment/surface-preparation/vacuums">Vacuums</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/tools-power-hand-surveying">Tools - Power, Hand &amp; Surveying</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/bits-blades">Bits &amp; Blades</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/fanblower">Fan/Blower</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/drills">Drills</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/electric-tool">Electric Tool</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/hand-held-electric-sanders-grinders">Hand-held Electric Sanders &amp; Grinders</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/handtools">Handtools</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/hoist">Hoist</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/hydraulic">Hydraulic</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/hydraulic-torquing">Hydraulic Torquing</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/impact-wrenches">Impact Wrenches</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/levels-leveling-lasers">Levels &amp; Leveling Lasers</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/lighting">Lighting</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/other-equipment">Other Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/pipeconduit">Pipe/Conduit</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/pneumatic">Pneumatic</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/rock-splitters-breakers">Rock Splitters &amp; Breakers</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/rotary-hammers">Rotary Hammers</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/saws">Saws</a></li> <li class="menu-item "><a href="/marketplace/equipment/tools-power-hand-surveying/welding">Welding</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/trench-safety-shoring">Trench Safety &amp; Shoring</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/aluminum-boxesshields">Aluminum Boxes/Shields</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/sheeting">Sheeting</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/arch-spreaders">Arch Spreaders</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/bedding-rock-boxes">Bedding / Rock Boxes</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/confined-space-entry-rescue-equipment">Confined Space Entry &amp; Rescue Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/construction-lasers-equipment">Construction Lasers &amp; Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/guard-rail">Guard Rail</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/hydraulic-shoring">Hydraulic Shoring</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/manhole-boxes-shields">Manhole Boxes / Shields</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/pipe-plugs-testing-equipment">Pipe Plugs &amp; Testing Equipment</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/roadcrossing-plates">Road/Crossing Plates</a></li> <li class="menu-item "><a href="/marketplace/equipment/trench-safety-shoring/trench-boxes-shields">Trench Boxes / Shields</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/trucks-trailers">Trucks &amp; Trailers</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/trucks-trailers/trailers">Trailers</a></li> <li class="menu-item "><a href="/marketplace/equipment/trucks-trailers/utility-vehicle-attachment">Utility Vehicle Attachment</a></li> <li class="menu-item "><a href="/marketplace/equipment/trucks-trailers/trucks">Trucks</a></li> <li class="menu-item "><a href="/marketplace/equipment/trucks-trailers/utility-vehicles">Utility Vehicles</a></li></ul></li> <li class="menu-item menu-item--expanded "><a href="/marketplace/equipment/welders-accessories">Welders &amp; Accessories</a> <ul class="menu"><li class="menu-item "><a href="/marketplace/equipment/welders-accessories/welders">Welders</a></li> <li class="menu-item "><a href="/marketplace/equipment/welders-accessories/welder-accessories">Welder Accessories</a></li></ul></li></ul></div>
    {% endblock % #}

    {% block rent_equipment_landing_carousel %}
      {{ drupal_view('equipment_types', 'rent_equipment_landing') }}
    {% endblock %}

    {% endembed %}

  {% endblock %}
{% endembed %}
