{% embed "@molecules/menus/mobile/_mobile-menu.twig" %}
  {% block account_menu %}
    {{ drupal_block('unitedrentals_account_menu') }}
  {% endblock %}
  {% block mobile_menu %}
    {{ drupal_block('unitedrentals_mobile_menu') }}
  {% endblock %}
{% endembed %}
