{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
    {% include "@organisms/homepage-cta/homepage-cta.twig"
        with {
            homepage_category_name: content.field_category_name[0]|render|striptags|trim,
            homepage_title: content.field_title|render|striptags|trim,
            homepage_image: file_url(content.field_image['#items'].entity.uri.value),
            homepage_link_btn: content.field_link_button[0]["#title"],
            homepage_url_link_btn: content.field_link_button[0]["#url"],
            homepage_link_1: content.field_blocks_link_1[0]["#title"],
            homepage_url_link_1: content.field_blocks_link_1[0]["#url"],
            homepage_link_2: content.field_blocks_link_2[0]["#title"],
            homepage_url_link_2: content.field_blocks_link_2[0]["#url"],
        }
    %}
</div>