{%  embed '@organisms/nested-navigation/nested-navigation.twig' %}
  {% block block_title %}
    {% if label %}
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
        with {
          "heading_5": label,
          "heading_5_blockname": "nested-navigation"
        }
      %}
    {% endif %}
  {% endblock %}
  {% block active_title %}
    {% set url = url('<current>') %}

    {% if '/user/reservations' in url|render|render %}
      {{ label|raw ~ ': Reservations'|trans }}


    {% elseif '/user/quotes' in url|render|render %}
      {{ label|raw ~ ': Quotes'|trans }}


    {% elseif '/user/favorites' in url|render|render %}
      {{ label|raw ~ ': Favorites'|trans }}


    {% else %}
      {{ content.active_title }}
    {% endif %}
  {% endblock %}

  {% block nested_nav %}
    {{ content.field_nested_navigation_block[0]|render }}
  {% endblock %}
{% endembed %}
