.locations-directory {
  margin-top: 5.142rem;
}

@media screen and (max-width: 768px) {
  .locations-directory {
    margin-top: 2.857rem;
  }
}

.country-wrapper {
  margin-top: 2.857rem;
}

.country-heading {
  padding: 1rem 0;
}

.state-heading h3 {
  color: #0050A9;
  border-top: 1px solid #cccccc;
  padding-top: 2rem;
  text-decoration: underline;
}

.state-heading a:hover,
.state-heading a:active,
.state-heading a:focus {
  color: #008CFF;
  transition: 300ms ease-in-out;
}

.category-wrapper:first-child {
  margin-top: 0;
}

.category-wrapper {
  margin-top: 3rem;
}

.category-heading h4 {
  color: #666666;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
}

.location-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-listing::after {
  content: "";
  flex: auto;
}

/* 5 column */
.location-listing .location {
  overflow: hidden;
  padding: 1rem 2rem 1rem 0;
  text-overflow: ellipsis;
  width: 20%;
}

/* 4 column */
@media screen and (max-width: 1200px) {
  .location-listing .location {
    width: 25%;
  }
}

/* 3 column */
@media screen and (max-width: 1024px) {
  .location-listing .location {
    width: 33%;
  }
}

/* 2 column */
@media screen and (max-width: 800px) {
  .location-listing .location {
    width: 50%;
  }
}
