@media (max-width: 639px) {
  .location-map {
    display: none;
  }
}

#location-finder-container .branch-filter .ur-menu-wrapper {
  display: block;
}

.location-finder-content-panel {
  position: relative;
}

.location-finder-container .location-finder-content-panel .content-panel__content {
  display: block;
}

.results-content-blocks_container .views-exposed-form {
  height: 0;
  overflow: hidden;
}

.branch-details_container .results-content-blocks .heading-2 .address {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 1rem;
}

.branch-details_container .results-content-blocks .heading-2 .address p {
  margin-bottom: 0;
}

.location-map {
  z-index: 24;
}

.location-finder-wrapper {
  position: relative;
}

.spinner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 500;
}

.spinner-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .9);

  transition: all 300ms ease-in-out;
}

.ajax-progress-fullscreen {
  display: none;
}

.spinner-overlay.active {
  animation: opacity 300ms;
  display: flex;
}

.empty-results-container {
  max-width: 85%;
  margin: 0 auto;
}

.ur-menu-wrapper i {
  cursor: pointer;
  pointer-events: none;
}

.spinner-overlay .spinner {
  animation: spinning 1s infinite steps(12);
  background: url(/themes/custom/unitedrentals/images/loading-spinner.svg) center no-repeat;
  display: inline-block;
  font-size: 5vw;
  position: relative;
  top: 5px;
  margin: 0 10px;
  width: 1em;
  height: 1em;
}

.content-panel_pagination .pager__summary,
.content-panel_pagination .js-pager__items {
  display: inline-block;
}

.content-panel_pagination .js-pager__items li {
  display: inline;
}

.content-panel_pagination .js-pager__items li:nth-child(1) {
  padding-right: 25px;
}

.content-panel-footer_container .content-panel-footer .js-pagination {
  padding: 0.57143rem;
  height: auto;
  min-height: 3.57143rem;
  width: 100%;
}
.content-panel-footer_container .content-panel-footer .js-pagination .heading-6 {
  font-weight: 400;
}
@media (min-width: 768px) {
  .content-panel-footer_container .content-panel-footer .js-pagination {
    padding: 1.14286rem;
  }
}
.js-pagination > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.js-pager__items .page-controls {
  display: flex;
  justify-content: space-around;
}
.js-pager__items .icon-before-arrow-left,
.js-pager__items .icon-before-arrow-right {
  cursor: pointer;
  color: #2650A9;
}
.js-pager__items .icon-before-arrow-left:hover,
.js-pager__items .icon-before-arrow-right:hover {
  color: #008CFF;
}




/* NOTE: The following icon background-images were URL encoded from their entries in:
  /themes/custom/unitedrentals/dist/vue/img/map-markers/cluster-small.svg
  /themes/custom/unitedrentals/dist/vue/img/map-markers/general.svg
  /themes/custom/unitedrentals/dist/vue/img/map-markers/specialty.svg
*/
#location-finder-container .location-map .cluster_icon {
  background-image: url("../images/cluster-small.svg");
}

#location-finder-container .location-map .marker_general {
  background-image: url("../images/general.svg");
}

#location-finder-container .location-map .marker_specialty {
  background-image: url("../images/specialty.svg");
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
