<div class="decision-box-container">
  <div class="decision-box-header">
    {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
      with {
        heading_2: heading_2
      }
    %}

    {% include '@atoms/01-links/link/link.twig'
      with {
        link_content: link_content,
        link_url: '#',
        link_blockname: 'edit-separately'
      }
    %}
  </div>

  <div class="decision-box-body">
    {% block decision_box %}
      {% for decision_box in decision_box_collection %}
        {% include '@molecules/proceed-to-checkout/decision-box.twig' with decision_box %}
      {% endfor %}
    {% endblock %}
  </div>
</div>

