<template>
  <div class="location-finder-modal-content">
    <div class="modal-header">
      <h3>{{ $i18n('ur.findUrLocation') }}</h3>
    </div>
    <div class="modal-body" >
      <div id="modal-content" class="modal-body-content" >
        <location-finder
          :dive="false"
          :inCheckout="checkoutCode"
          :style="mapHeight"
          :ar-gr-branches-only="true"
        ></location-finder>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
      >
        {{ $i18n('ur.save') }}
      </button>
    </div>
  </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex';
  import LocationFinder from '@/components/location-finder/location-finder';
  import types from '@/store/types';

  export default {
    name: 'quote-edit-branch',
    components: {
      LocationFinder,
    },
    computed: {
      ...mapState({
        branchCode: state => state.locationFinder.all[state.locationFinder.map.active.index].id,
      }),
      quoteId() {
        return this.$route.params.quoteId;
      },
      mapHeight() {
        return document.getElementById('modal-content') !== null
          ? `height: ${document.getElementById('modal-content').clientHeight}px`
          : '0px';
      },
      checkoutCode() {
        const path = this.returnTo.split('-').map(ea => ea.charAt(0).toUpperCase() + ea.slice(1));
        return path.join('');
      },
    },
    methods: {
      ...mapActions({
        resetBranchesLoaded: types.locationFinder.resetBranchesLoaded,
        newBranchAndDatesUpdate: types.quotes.newBranchAndDatesUpdate,
      }),
      cancel() {
        this.resetBranchesLoaded();
        this.$router.push({
          path: `/${this.returnTo}/${this.quoteId}`,
        });
      },
      save() {
        // Iterate over the items and update their branch id
        const branchObj = {
          branchId: this.branchCode,
          requisitionId: this.quoteId,
        };

        this.newBranchAndDatesUpdate(branchObj);

        this.$router.push({
          path: `/${this.returnTo}/${this.quoteId}`,
        });
      },
    },
    mounted() {
      document.querySelector('body').classList.add('location-modal-open');
    },
    props: {
      returnTo: String,
    },
    destroyed() {
      document.querySelector('body').classList.remove('location-modal-open');
    },
  };
</script>
