<template>
  <div class="platform-account-reservation-details-req-codes">
    <div v-if="small"></div>
    <div v-else class="group-left"><p class="section_name">
      <!--Leave the group-left wrapper div even if there is no text to keep-->
      <!--alignments consistent on the page. -->
    </p></div>

    <div class="group-right">
      <accounting-codes
        :accounting-codes="accountingCodes"
        :editing="editing"
        :initial-values="initialValues"
      >
      </accounting-codes>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';
  import AccountingCodes from '@/components/cart/reservation-block/billing/accounting-codes.vue';

  export default {
    components: {
      AccountingCodes,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'getRequisitionCodes',
      ]),
      ...mapState({
        initialValues(state) {
          if (typeof state.accountingRequisitionCodes.all[this.requisition.quoteId] === 'undefined') {
            return [];
          }
          return state.accountingRequisitionCodes.all[this.requisition.quoteId].filter(({ codeType }) => codeType === 'R').map(code => ({ // eslint-disable-line
            id: code.id,
            value: code.valueList[0].allocationValue,
          }));
        }, // eslint-disable-line
      }),
    },
    name: 'QuoteAccountingCodes',
    props: {
      editing: {
        type: Boolean,
        default: true,
      },
      transTypeId: String,
      requisition: Object,
    },
  };
</script>
