<template>
  <div :class="{error : isError}">
    <label>{{ $i18n('ur.job') }}</label>
    <div class="select select--job">
      <select :value="value" @change="onChange" class="dropdown-style1">
        <option disabled="true">{{ $i18n('select.jobsite') }}</option>
        <option v-for="(option, key) in options" :key="key" :value="option.id" :selected="value == option.id">{{option.name || option.address1 | ellipses(sizeJobsiteName(small))}}</option>
      </select>
      <i class="icon icon-angle-down"></i>
      <router-link :to="createJobsiteUrl()" tag="button">+</router-link>
      <label v-if="$v.$error" class="error">{{ $i18n('ur.job') }} {{ $i18n('e.required') }}</label>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapActions, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapState({
        options(state) {
          return state.jobs.all[this.accountId];
        },
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
      ]),
    },
    name: 'jobSelector',
    methods: {
      ...mapActions({
        updateDefaultJobsiteId: types.user.defaultJobId,
      }),
      onChange($event) {
        this.$emit('change', $event.target.value);
      },
      createJobsiteUrl() {
        if (typeof this.afterAddJobsiteAction !== 'undefined') {
          return `${this.$route.path}/create-jobsite/${this.accountId}/${this.afterAddJobsiteAction}/${this.accountId}`;
        }
        return `${this.$route.path}/create-jobsite/${this.accountId}/${this.accountId}`;
      },
      sizeJobsiteName(small) {
        if (this.maxlength) {
          return this.maxlength;
        }
        if (small) {
          return 15;
        }
        return 30;
      },
    },
    props: [
      'accountId',
      'value',
      'maxlength',
      // Determines callback after jobsite is created. Optional.
      'afterAddJobsiteAction',
      // optional, use if you want set in error state
      'isError',
    ],
    validations: {
      value() {
        if (!this.options || Object.keys(this.options).length === 0) {
          return true;
        }
        return typeof this.options[this.value] !== 'undefined';
      },
    },
  };
</script>
