<template>
  <!--if we don't have a quote to show yet, spin-->
  <div class="reservationDetailsSpinner" v-if="fetchingQuotesDetails">
    <h2><ur-loading-spinner class="icon-button"></ur-loading-spinner></h2>
  </div>
  <!--if we do have a quote, show the panel-->
  <div v-else class="quote-list-status" id="printDiv" :class="{'is-active': $store.state.quickView.isOpen[quote.quoteId]}">

    <div class="quote-container">
      <!--if we're done loading we need to show the proper message-->
      <div class="inner-column_small_left">
        <!--if we have a jobsite and a quote, show the title information-->
        <span class="platform-account-list-item__item-name" v-if="hasQuote && !hasEmpty">{{ quote.jobsite.name }} #{{ quote.quoteId || quote.requisitionId }}</span>
        <!--if we're done loading and we don't have a jobsite or quote we have an error-->
        <span class="platform-account-list-item__item-name" v-else-if="hasEmpty">{{ $i18n('quotes.quoteDataError') }} #{{ quote.quoteId || quote.requisitionId }}</span>
      </div>

      <div class="inner-column_small_right">
        <span class="price">
          <ur-loading-spinner v-if="!hasEstimate || fetchingQuotesEstimates"/>
          <span v-else-if="hasEmpty">N/A</span>
          <span v-else>{{ totalAmt | decimalCurrency }}</span>
        </span>
      </div>
    </div>
    <div class="quote-container mobile-quote-layout-arrow" v-if="small">
      <div v-if="hasEstimate && !hasEmpty" class="group-full">
        <div class="platform-account-list-item__quick-view">
          <a href="#" @click.prevent="toggleQuickView(quote.quoteId)" class="quick-view-link">
            <i
              v-if="quickViewIsOpen"
              class="icon icon-angle-down"
              :class="{'is-active': $store.state.quickView.isOpen[quote.quoteId]}">
            </i>
            <i
              v-else
              class="icon icon-angle-up"
              :class="{'is-active': $store.state.quickView.isOpen[quote.quoteId]}">
            </i>
          </a>
        </div>
      </div>
    </div>

    <div class="quote-container">
      <div class="inner-column_small quote-progress-container">
        <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-if="quote.orderStatus === 'Pending'">
          {{ $i18n('reservationView.inPendingStatus') }}
        </div>
        <div class="platform-account-item-list-status__chip" :class="statusChipClass" v-else>
          {{ statusChipClass | uppercase }}
        </div>
        <div v-if="hasEstimate && !hasEmpty" class="group-full">
          <div class="platform-account-list-item__quick-view">
            <a href="#" @click.prevent="toggleQuickView(quote.quoteId)" class="quick-view-link">
              {{ $i18n('catalog.quickView') }}
              <i v-if="quickViewIsOpen" class="icon icon-angle-down"
                 :class="{'is-active': $store.state.quickView.isOpen[quote.quoteId]}"></i>
              <i v-else class="icon icon-angle-up" :class="{'is-active': $store.state.quickView.isOpen[quote.quoteId]}"></i>
            </a>
            <router-link :to="'/quote-details/' + quote.requisitionId" v-if="hasEstimate && !fetchingQuotesEstimates">
              <span class="edit-quote">{{ nonEditableStat ? $i18n('ur.view') : $i18n('ur.edit') }}</span>
            </router-link>
            <span v-else class="edit-quote text-color--grey11">{{ $i18n('ur.edit')}}</span>
          </div>
        </div>
      </div>

      <div class="inner-column_small">
        <span class="label">{{ $i18n('reservationView.createdOn') }}</span>
        <span class="inner-label">{{ createdDate | momentSlashFormat }}
        </span>
      </div>

      <div class="inner-column_small">
        <span class="label">{{ $i18n('reservationView.expireDate') }}</span>
        <span class="inner-label">{{ expDate }}</span>
      </div>

      <div class="inner-column_small">
        <span class="label">{{ $i18n('reservationView.items') }}</span>
        <span v-if="!hasEmpty" class="inner-label">{{ itemCount }}</span>
        <span v-else>N/A</span>
      </div>

      <div class="inner-column_medium right-convert-quote" v-if="hasEstimate && !hasEmpty">
        <button @click.prevent="convertQuote()" v-show="showButton" class="button button--filled" :disabled="fetchingQuotesEstimates">
          {{ $i18n('reservationView.btnConvertQuote') }}
        </button>
      </div>
    </div>

    <quotes-quick-view v-if="hasEstimate && !hasEmpty" :id="quote.quoteId" :items="quickViewItems">
      <template slot="header">
        <div>
          <div class="quote-container small-icon-container">
            <div class="inner-column_left column">
              <div class="icon-container">
                <a href="#"><i class="icon icon-envelope-o"></i></a>

                <a><i @click="windowPrint" class="icon icon-print"></i></a>
              </div>
            </div>
          </div>
          <div class="quote-container">
            <div class="inner-column_left column">
              <ul v-if="hasQuote">
                <li class="quote-detail-list-item"><strong>
                  {{ $i18n('cart.accountNumber') }}: </strong>
                  {{ quickViewItems[0] }}
                </li>
                <li class="quote-detail-list-item"><strong>
                  {{ $i18n('reservationView.totalPrice') }}: </strong>
                  {{ totalAmt | decimalCurrency }}
                </li>
                <li class="quote-detail-list-item"><strong>
                  {{ $i18n('reservationView.jobsite') }}: </strong>
                  {{ quote.jobsite.name }}
                </li>
                <li class="quote-detail-list-item"><strong>
                  {{ $i18n('reservationView.duration') }}: </strong>
                  {{ startedDate | momentSlashFormat }} - {{ returnDate | momentSlashFormat }}
                </li>
              </ul>
            </div>
            <div class="inner-column_right column large-icon-container">
              <div class="icon-container">
                <a v-if="hasQuote" slot="header"
                  :href="`mailto:?subject=Quote%20ID%20${quote.quoteId}%20Detail%20Information&body=Thank%20you%20for%20your%20recent%20quote%20request%20with%20United%20Rentals.%0D%0A%0D%0AQuote%20details%20information:%0D%0AAccount%20Number:%20${quickViewItems[0]}%0D%0ATotal%20Price:%20$${totalAmt}%0D%0AJobsite%20Information:%20${quote.jobsite.name}%0D%0ADuration:%20${startedDateFormatted}%20-%20${returnDateFormatted}%0D%0A%0D%0AItem(s) Info:%20${filterClasses}%0D%0A%0D%0APlease%20visit%20https://www.unitedrentals.com%20for%20more%20information.`"
                  target="_top"
                ><i class="icon icon-envelope-o"></i></a>

                <a><i @click="windowPrint" class="icon icon-print"></i></a>
              </div>
            </div>
          </div>

          <div class="quote-container item grid">
            <div class="platform-account-reservation-details-item" v-if="hasQuote && hasEquipment">
              <template v-for="(item, key) in reservationDetails.items">
                <div :key="key" class="group-left">
                  <div class="cart__item">
                    <div class="cart__img">
                      <img v-if="allEquipment[item.catClass]" height="44" width="44"
                           :src="allEquipment[item.catClass].images[0].link"
                           :alt="allEquipment[item.catClass].images[0].alt"
                      />
                    </div>
                  </div>
                </div>
              </template>

              <div class="group-right">
                <div class="cart__details" v-if="hasQuote && hasEquipment">
                  <template v-for="(item, key) in reservationDetails.items">
                    <div :key="key" class="group-right">
                      <div class="cart__details">
                        <p class="cart__cat_class_code">{{ $i18n('reservationView.catClass') }}: {{ item.catClass }}</p>

                        <div class="grid">
                          <div v-if="allEquipment[item.catClass]" class="">
                            <span class="cart__details__name">{{ allEquipment[item.catClass].title }}</span>
                          </div>
                          <div v-if="reservationDetails.items[item.catClass]" class="">
                            <span class="cart__details__name">{{ reservationDetails.items[item.catClass].dalDescription }}</span>
                          </div>
                          <div class="inner-column_medium">
                            <span v-if="hasEstimate && estimate.items[item.catClass]" class="cart__details__pricing">{{ estimate.items[item.catClass].total | decimalCurrency }}</span>
                          </div>
                        </div>

                        <div class="cart__details__content">
                          <p>
                            <strong>{{ $i18n('reservationView.delivery') }}: </strong>
                            {{ startedDate | momentFriendlyMeridianFormat }}
                            {{ startedDate | momentFriendlyHourFormat }}
                            {{ startedDate | momentSlashFormat }}
                          </p>
                          <p>
                            <strong>{{ $i18n('cartItem.return') }}: </strong>
                            {{ returnDate | momentFriendlyMeridianFormat }}
                            {{ returnDate | momentFriendlyHourFormat }}
                            {{ returnDate | momentSlashFormat }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>

          <div class="group-full">
            <div class="inner-column_small_left">
              <router-link :to="'/quote-details/' + quote.requisitionId">
                <button class="button button--style-2 button--secondary quote-details" v-show="showButton || nonEditableStat">
                  {{ nonEditableStat ? $i18n('reservationView.btnViewQuoteDetails') : $i18n('reservationView.btnQuoteDetails') }}
                </button>
              </router-link>
              <button @click.prevent="convertQuote()" v-if="hasEstimate && small" v-show="showButton" class="button button--style-2 button--filled button-convert-quote">
                {{ $i18n('reservationView.btnConvertQuote') }}
              </button>
            </div>
          </div>
        </div>
      </template>
    </quotes-quick-view>
  </div>
</template>

<script>
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import QuotesQuickView from '@/components/platform-account/quotes/src/quotes-quick-view';
  import i18n from '@/data/i18n';
  import { mapGetters, mapState, mapActions } from 'vuex';
  import { isEmpty } from 'lodash';
  import moment from 'moment';
  import types from '@/store/types';

  export default {
    name: 'quote-list-item',
    components: {
      UrLoadingSpinner,
      QuotesQuickView,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapGetters({
        fetchingQuotesDetails: types.quotes.fetchingQuotesDetails,
        fetchingQuotesEstimates: types.quotes.fetchingQuotesEstimates,
      }),
      ...mapState({
        allEquipment: state => state.catalog.equipment,
        estimates: state => state.estimates.all,
        quickViewIsOpen(state) {
          return state.quickView.isOpen[this.quoteId];
        },
        readReservationDetails: state => state.readReservationDetails.all,
        reservationDetails() {
          return this.readReservationDetails[this.quote.requisitionId] || {};
        },
      }),
      estimate() {
        if (!isEmpty(this.estimates) && !isEmpty(this.quote)) {
          return this.estimates[this.quote.requisitionId];
        }
        return {
          totals: {},
          items: [],
        };
      },
      createdDate() {
        if (!isEmpty(this.quote)) {
          return moment(this.convertDate(this.quote.createdDate));
        }
        return moment();
      },
      startedDate() {
        if (this.hasEstimate) {
          return moment(this.convertDate(this.quote.startDate));
        }
        return moment();
      },
      startedDateFormatted() {
        return this.startedDate.format('L');
      },
      returnDate() {
        if (this.hasEstimate) {
          return moment(this.estimate.returnDate);
        }
        return moment();
      },
      returnDateFormatted() {
        return this.returnDate.format('L');
      },
      expDate() {
        return moment(this.createdDate).add(30, 'days').format('L');
      },
      hasEquipment() {
        return !isEmpty(this.allEquipment) || !isEmpty(this.reservationDetails.items);
      },
      hasEstimate() {
        return !isEmpty(this.estimate);
      },
      hasEmpty() {
        if (this.hasEstimate && this.estimate.error) {
          return this.estimate.error;
        }
        return false;
      },
      itemCount() {
        return this.hasEstimate
          ? Object.values(this.estimate.items).reduce((count, item) => count + Number(item.quantity), 0)
          : 0;
      },
      hasQuote() {
        return !isEmpty(this.quote);
      },
      statusChipClass() {
        const map = {
          SCD: 'scheduled',
          PND: 'pending',
          PRG: 'inprogress',
          CMP: 'completed',
          QTC: 'cancelled',
        };
        return map[this.quote.orderStatusCode];
      },
      filterClasses() {
        let info = {};

        if (this.hasEstimate) {
          if (!this.estimate.error) {
            const _this = this;
            info = Object.values(this.reservationDetails.items || {}).map(obj => ({
              catClass: obj.catClass,
              quantity: obj.quantity,
              dalDesc: obj.dalDescription,
              price: _this.estimate.items[obj.catClass] ? _this.estimate.items[obj.catClass].total : 0.00,
            })).reduce((info, filterClass) =>
              info.concat(`%0D%0A%0D%0ACatClass: ${filterClass.catClass} Item Description: ${filterClass.dalDesc} Item Quantity: ${filterClass.quantity} Item Price: $${filterClass.price}`), []); //eslint-disable-line
          }
          else {
            info = {
              catClass: '000-0000',
              quantity: '0',
              dalDesc: this.$i18n('quotes.quoteEmptyMessage'),
              price: '0',
            };
          }
        }
        return info;
      },
      statusText() {
        const map = {
          SCD: i18n.reservationViewSelectOptions.scheduled,
          PND: i18n.reservationView.inPendingStatus,
          PRG: i18n.reservationViewSelectOptions.inProgress,
          CMP: i18n.reservationViewSelectOptions.completed,
          QTC: i18n.reservationViewSelectOptions.cancelled,
        };
        return map[this.quote.orderStatusCode];
      },
      totalAmt() {
        if (!isEmpty(this.estimate)) {
          const {
            totalRentalAmount, environmentFee, tax, damageWaiverFee, deliveryFee, pickupFee, miscellaneousFees,
          } = this.estimate.totals;
          return totalRentalAmount + environmentFee + tax + damageWaiverFee + deliveryFee + pickupFee + miscellaneousFees;
        }
        return 0;
      },
      quickViewItems() {
        const { accountId, jobsite } = this.reservationDetails || {};
        return [accountId, this.totalAmt, jobsite];
      },
      showButton() {
        let show = true;
        if (this.transTypeId === 'R') {
          show = false;
        }
        if (this.$route.path.indexOf('convert-quote') > -1) {
          show = false;
        }
        const exceptions = [
          'RCD',
          'SCD',
          'PRG',
          'RSC',
          'CMP',
          'CXL',
          'QTC',
        ];

        if (exceptions.indexOf(this.quote.orderStatusCode) > -1) {
          show = false;
        }
        return show;
      },
      nonEditableStat() {
        return this.statusChipClass === 'cancelled' || this.statusChipClass === 'completed';
      },
    },
    mounted() {
      this.createQuickView(this.quote.quoteId);
      this.init();
    },
    methods: {
      ...mapActions({
        createQuickView: types.quickView.add,
        toggleQuickView: types.quickView.toggle,
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
        fetchBranch: types.branch.fetch,
      }),
      init() {
        if (Object.keys(this.quote.items).length > 0) {
          const catClasses = Object.values(this.quote.items)
            .map(({ catClass }) => catClass);
          this.fetchEquipment(catClasses);
          if (this.hasEstimate) {
            this.fetchBranch(this.estimate.branchId);
          }
        }
      },
      windowPrint() {
        window.print(this.$refs.printDiv);
      },
      convertQuote() {
        // test if the user is certain
        this.$router.push(`/convert-quote/${this.quote.requisitionId}`);
      },
      convertDate(date) {
        const raw = date.split('-');
        return `${raw[2]}-${raw[0]}-${raw[1]}`;
      },
    },
    props: {
      quote: {
        type: Object,
        default() {
          return {};
        },
      },
      accountRequirePo: String,
    },
  };
</script>
