<!--
This component is the collapsible content for a "quick view" accordion (as seen on the new/used catalog listing pages).
Any other element can trigger toggling these open (via the quickView.toggle action).
-->
<template>
    <div>
        <slot name="header" v-if="isOpen"></slot>
        <slot v-if="isOpen" name="footer"></slot>
    </div>
</template>
<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    name: 'quotes-quick-view',
    computed: {
      ...mapState({
        isOpen(state) {
          return state.quickView.isOpen[this.id];
        },
      }),
    },
    beforeDestroy() {
      this.remove(this.id);
    },
    methods: {
      ...mapActions({
        add: types.quickView.add,
        remove: types.quickView.remove,
      }),
    },
    created() {
      this.add(this.id);
    },
    props: [
      'id',
      'items',
    ],
  };
</script>
