<template>
  <search-by-term
    itemKey="requisitionId"
    @matchingTermClick="addSearchTermFilter($event)"
    :itemLexicon="quoteLexicon"
    :items="quotesForCurrentAccount"
    placeholder="quotes"/>
</template>
<script type="text/babel">
  import { mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';
  import { SearchByTerm } from '@/components/common/listings';

  export default {
    components: { SearchByTerm },
    computed: mapGetters([
      'quotesForCurrentAccount',
      'quoteLexicon',
    ]),
    methods: mapActions({
      addSearchTermFilter: types.quotes.addFilter,
    }),
  };
</script>
