// -----------------------------------------------------------------------------
// Abstracts/Mixin: Borders and Shadows
// Base shadow style mixin
// @include border($width, $radius) @include shadow($depth)
// -----------------------------------------------------------------------------

/**
* Base border styles
* Common styles for all border types
* @include border($width, $radius);
*/
@mixin border($width: regular, $radius: small) {
  // border widths ---------------------------------------------------------------
  @if $width == light {
    border-width: $border-width-light;
  }

  @if $width == regular {
    border-width: $border-width-regular;
  }

  @if $width == thick {
    border-width: $border-width-thick;
  }

  // border radius ----------------------------------------------------------------
  @if $radius == small {
    border-radius: $border-radius-small;
  }

  @if $radius == med {
    border-radius: $border-radius-med;
  }

  @if $radius == large {
    border-radius: $border-radius-large;
  }

  @if $radius == xlarge {
    border-radius: $border-radius-xlarge;
  }
}

/**
* Base shadow styles
* Common styles for all shadow types
* @include shadow($depth);
*/
@mixin shadow($depth: one) {

  @if $depth == one {
    box-shadow: $shadow-depth-one;
  } @else if $depth == two {
    box-shadow: $shadow-depth-two;
  } @else if $depth == three {
    box-shadow: $shadow-depth-three;
  } @else if $depth == nav {
    box-shadow: $shadow-depth-nav;
  } @else if $depth == focus {
    box-shadow: $shadow-depth-focus;
    outline: 0 none;
  } @else if $depth == card {
    box-shadow: $shadow-depth-card;
    transition: box-shadow $transition-base-time-style;

    &:hover {
      box-shadow: $shadow-depth-card-hover;
    }
  }
}

/**
* Focus styles
* @include focus-state();
*/
@mixin focus-state(
  $reset: false,
  $position: offset
) {
  @if $reset != false {
    box-shadow: 0 0;
    outline: none;
  } @else {
    outline: rem($scale-1) solid $color-focus-state;

    @if $position == inset {
      outline-offset: rem(-$scale-1);
    } @else {
      outline-offset: rem($scale-1);
    }
  }
}
