// -----------------------------------------------------------------------------
// Abstracts/Mixin: Container
// Apply to container where a max-width is needed
// @include container();
//
// Options:
// • $width(value = container variable) - default = $container-lg - adds a max-width
// • $breakpoint(value = breakpoint variable) - default = $md - breakpoint trigger
// -----------------------------------------------------------------------------

@mixin container(
  $width: $container-xl,
  $breakpoint: s,
  $align: center,
  $gap-reset: false,
  $reset: false
) {

  // sass-lint:disable-block no-important
  @if $align == center {
    margin-left: auto !important;
    margin-right: auto !important;
  } @else if $align == left {
    margin-right: auto !important;
  } @else if $align == right {
    margin-left: auto !important;
  } @else {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @if $reset == true {
    margin-left: inherit !important;
    margin-right: inherit !important;
  }

  @if $reset != true {
    max-width: $container-window-sm;
  }

  @include media('>=#{$breakpoint}') {
    // sass-lint:disable-block no-important

    @if $gap-reset == true {
      padding-left: 0 !important;
      padding-right: 0 !important;
    } @else {
      padding-left: initial;
      padding-right: initial;
    }

    @if $reset == true {
      max-width: inherit;
      width: inherit;
    } @else {
      max-width: $container-window-md;
      width: 100%;
    }
  }

  @include media('>=m') {
    @if $reset != true {
      max-width: $container-window-lg;
    }
  }

  @include media('>=xl') {
    @if $reset != true {
      max-width: $container-max;
    }
  }

}

@mixin container-full-width(
  $reset: false,
  $reset-position: inherit
  ) {
  @if $reset == true {
    left: inherit;
    max-width: inherit;
    position: $reset-position;
    width: inherit;
  } @else {
    left: calc(-50vw + 50%);
    max-width: none;
    position: relative;
    width: 100%;
    width: 100vw;
  }
}

@mixin container-reset(
  $position: inherit,
  $level: hard
  ) {
  // sass-lint:disable-block no-important
  left: inherit;
  max-width: inherit;
  position: $position;
  width: inherit;

  @if $level != hard {
    margin-left: initial;
    margin-right: initial;
  } @else {
    margin-left: initial !important;
    margin-right: initial !important;
  }
}
