// -----------------------------------------------------------------------------
// Abstracts/Mixin: Glyphs
// Glyphs are decorative elements added to elements on a page.
//
// === glyph-bars === //
// @include glyph-bars();
//
// Option(s):
// • $type(value = short or wide) - default = short - change width of bar
// • $align(value = center or left) - default = center - change alignment of the bar
//
// === glyph-bar-type === //
// @include glyph-bar-type();
//
// Option(s):
// • $type(value = short or wide) - default = short - change width of bar
//
// === glyph-bar-align === //
// @include glyph-bar-align();
//
// Option(s):
// • $align(value = center or left) - default = center - change alignment of the bar
//
// === glyph-bar-base === //
// @include glyph-bar-base();
//
// -----------------------------------------------------------------------------

@mixin glyph-bar-vertical($align: left) {
  background-color: $color-grey-5;
  content: '';
  height: 100%;
  margin: 0;
  width: rem($scale-1);

  @if $align == left {
    @include tbl();
  } @else if $align == right {
    @include trb();
  }
}

@mixin glyph-bar-type($type) {
  &::after {
    @if $type == short {
      width: $glyph-bar-short;
    } @else if $type == wide {
      width: $glyph-bar-wide;
    } @else if $type == vertical {
      @include glyph-bar-vertical();
    }
  }
}

@mixin glyph-bar-align($align) {
  &::after {
    @if $align == center {
      margin: rem($gap-b) auto 0;

      @include media('>=s') {
        margin: rem($scale-3) auto 0;
      }

    } @else if $align == left {
      margin: rem($gap-b) 0 0;

      @include media('>=s') {
        margin: rem($scale-3) 0 0;
      }
    } @else if $align == right {
      margin: rem($gap-b) 0 0 auto;

      @include media('>=s') {
        margin: rem($scale-3) 0 0 auto;
      }
    }
  }
}

@mixin glyph-bar-base() {
  &::after {
    background-color: $color-orange;
    content: '';
    display: block;
    height: $glyph-bar-thickness;
  }
}

@mixin glyph-bars(
  $type: short,
  $align: center,
  $reset: false
) {
  @if $reset != true {
    @include glyph-bar-base();
    @include glyph-bar-align($align);
    @include glyph-bar-type($type);
  } @else {
    &::after {
      display: none;
    }
  }
}
