// -----------------------------------------------------------------------------
// Mixin: Grid
// Grid layout mixins and class generators
//
// === grid-parent === //
// @include grid-parent();
// placed on parent flex container
// Option(s):
// • $direction(value = flex-direction) - default = row - change flow of items
// • $overlay(value = boolean) - default = false - adds an transparent overlay
// • $gutter-horizontal(value = boolean) - default = true, toggle horizontal gap
// • $gutter-vertical(value = boolean) - default = false, toggle vertical gap
//
// === grid-gutter-switch === //
// @include grid-gutter-switch();
// placed on anything where you need the gutter size for mobile and desktop
// Option(s):
// • $property(value = property) css property that will switch between $grid-gutter-sm and $grid-gutter-lg
//
// === grid-gutters === //
// @include grid-gutters();
// placed on parent flex container
// Option(s):
// • $gutter-horizontal(value = boolean) - default = true, toggle horizontal gap
// • $gutter-vertical(value = boolean) - default = false, toggle vertical gap
//
// === grid-col === //
// @include grid-col();
// placed on child items
// Option(s):
// • $grid-column-width(value = auto, variable, number) - default = default - width of column
// • $grid-offset(value = number) - default = 0 - offset of column starting position
// -----------------------------------------------------------------------------

@mixin grid-overlay() {
  $color: rgba($color-red-highlight, 0.15);
  position: relative;

  &::before {
    @include trbl(fixed);
    background-image: repeating-linear-gradient(
      to right,
      $color,
      $color $grid-column-width-sm-calc,
      transparent $grid-column-width-sm-calc,
      transparent $grid-repeating-width
    );
    background-size: $grid-background-width-sm 100%;
    content: '';
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    pointer-events: none;
    width: $container-window-sm;
    z-index: 500;

    @include media('>=s') {
      background-image: repeating-linear-gradient(
        to right,
        $color,
        $color $grid-column-width-lg-calc,
        transparent $grid-column-width-lg-calc,
        transparent $grid-repeating-width
      );
      background-size: $grid-background-width-lg 100%;
      width: $container-window-md;
    }

    @include media('>=m') {
      width: $container-window-lg;
    }
  }
}

/** Grid gutters switch */
@mixin grid-gutter-switch($property) {
  #{$property}: $grid-gutter-sm;

  @include media('>=s') {
    #{$property}: $grid-gutter-lg;
  }
}

/** Grid gutters
 * IF $gutter-horizontal = true: set the sides gap width
 * IF $gutter-vertical = true: set the top and bottom gap width
 */
@mixin grid-gutters(
  $gutter-horizontal: true,
  $gutter-vertical: false
  ) {

  margin: 0;
  padding: 0;

  > * {
    background-clip: padding-box;
    border: 0 solid transparent;
  }

  @if $gutter-horizontal == true {
    margin-left: -$grid-gutter-sm;
    margin-right: -$grid-gutter-sm;
    padding-left: $grid-gutter-sm;

    @include media('>=s') {
      margin-left: -$grid-gutter-lg;
      margin-right: -$grid-gutter-lg;
      padding-left: $grid-gutter-lg;
    }

    > * {
      @include grid-gutter-switch(
        $property: border-right-width
      );
    }
  }

  @if $gutter-vertical == true {
    margin-bottom: -$grid-gutter-sm;
    margin-top: -$grid-gutter-sm;
    padding-top: $grid-gutter-sm;

    @include media('>=s') {
      margin-bottom: -$grid-gutter-lg;
      margin-top: -$grid-gutter-lg;
      padding-top: $grid-gutter-lg;
    }

    > * {
      @include grid-gutter-switch(
        $property: border-bottom-width
      );
    }
  }
}

/** Grid parent
 * Sets row up for the grid
 */
@mixin grid-parent(
  $direction: row,
  $overlay: false,
  $gutter-horizontal: true,
  $gutter-vertical: false
) {
  @include grid-gutters($gutter-horizontal, $gutter-vertical);
  display: flex;
  flex: 0 1 auto;
  flex-direction: $direction;
  flex-wrap: wrap;

  @if $overlay == true {
    @include grid-overlay();
  }
}

@mixin grid-parent-reset($display: block) {
  display: $display;
  margin: 0;
  padding: 0;

  > * {
    border: 0 none;
  }
}

/** Grid columns
 * IF = auto: fits the available space
 * ELSE IF = variable: fits the width of it's content
 * ELSE span the amount of columns provided
 */
@mixin grid-col(
  $grid-column-width: default,
  $column-offset: 0
  ) {

  @if $grid-column-width == auto {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  } @else if $grid-column-width == variable {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  } @else {
    flex-basis: calc((#{$grid-column-width} / #{$grid-columns}) * 100%);
    max-width: calc((#{$grid-column-width} / #{$grid-columns}) * 100%);
  }

  @if $grid-column-width == 2 {
    @include bs-ie() {
      // fixes issue with IE sub-pixel rendering
      margin-left: -0.09px; // sass-lint:disable-line property-units
    }
  }

  @if $grid-column-width == 3 {
    @include bs-ie() {
      // fixes issue with IE sub-pixel rendering
      margin-left: -0.01px; // sass-lint:disable-line property-units
    }
  }

  @if $grid-column-width == 4 {
    @include bs-ie() {
      // fixes issue with IE sub-pixel rendering
      margin-left: -0.04px; // sass-lint:disable-line property-units
    }
  }
  
  @if $grid-column-width == 6 {
    @include bs-ie() {
      // fixes issue with IE sub-pixel rendering
      margin-left: -0.01px; // sass-lint:disable-line property-units
    }
  }

  @if $column-offset != 0 {
    margin-left: ($column-offset / $grid-columns) * 100%;
  }
}

@mixin grid-col-reset() {
  background-clip: inherit;
  border: 0 none;
  flex: inherit;
  margin-left: 0;
  max-width: inherit;
}
