// -----------------------------------------------------------------------------
// Abstracts/Mixins: Helpers
// Helper styles to be used with mixins or classes
// -----------------------------------------------------------------------------

/**
 * Hide Text
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 * See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
@mixin hide-text() {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide Element
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
@mixin visually-hidden($position: absolute) {
  // sass-lint:disable-block property-units
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px 0 0 -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;

  @if $position == absolute {
    position: absolute;
  }
}

@mixin visually-hidden-reset() {
  clip: auto;
  height: auto;
  outline: 0;
  overflow: visible;
  padding: 0;
  white-space: normal;
  width: auto;
}

/**
 * Reset List
 * Removes default list styles from <ul>, <ol>
 * Most reused styles between menus as we don't often show the default list
 * style, margin, or padding.
 */
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
