// -----------------------------------------------------------------------------
// Abstracts/Mixin: Link Button
// Link Button style mixins
// @include link-btn() is the primary one that should be used
// -----------------------------------------------------------------------------

/**
* Link-Button BASE
* Common styles for all link-button types
* @include link-btn-base();
*/
@mixin link-btn-base() {
  @include btn-reset();

  &::before {
    float: left;
  }

  &::after {
    float: right;
  }

  // icon only
  &:empty {
    &::before,
    &::after {
      display: block;
      margin: 0;
      vertical-align: inherit;
    }
  }
}

/**
* Link-Button STYLES
* Specific styles for different link-button looks
* @include link-btn-style();
*/
@mixin link-btn-style($style) {
  @if $style == primary {
    color: $color-brand-primary;
    transition: $transition-base;

    &:hover {
      color: $color-brand-secondary;
    }

    &:active {
      color: $color-blue-lowlight;
    }

    &[disabled],
    &.link-btn--disabled {
      color: $color-grey-38;
      pointer-events: none;

      &::before,
      &::after {
        color: $color-grey-11;
      }
    }
  } @elseif $style == reverse {
    @include on-event($self: true) {
      color: $color-white;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:empty {
      @include on-event() {
        color: $color-brand-secondary;
      }
    }
  } @else {
    @warn not a valid style option;
  }
}

/**
* Link-Button SIZES
* Specific sizes for different link-button needs
* @include link-btn-size();
*/
@mixin link-btn-size($size) {
  @if $size == regular {
    @include type-preset(
      $version: 40,
      $type: header
    );

    // icon only
    &:empty {
      padding: rem(8);

      &::before,
      &::after {
        font-size: $icon-size-regular;
      }
    }
  } @else if $size == small {
    @include type-preset(
      $version: 30,
      $type: header
    );

    // icon only
    &:empty {
      padding: rem(6);

      &::before,
      &::after {
        font-size: $icon-size-small;
      }
    }
  } @else if $size == xsmall {
    @include type-preset(
      $version: 20,
      $type: header
    );

    // icon only
    &:empty {
      padding: rem(6);

      &::before,
      &::after {
        font-size: $icon-size-xsmall;
      }
    }
  } @else {
    @warn not a valid size option;
  }
}

/**
* Link-Buttons
* Combines base, styles, and sizes
* @include link-btn();
* Option(s):
*   $style(value = primary | reverse)
        default = primary
        The style of the link-button
*   $size(value = regular | small | xsmall)
        default = regular
        The size of the link-button
*   $icon(value = false | filename)
        default = false
        The name of the needed icon
*   $icon-position(value = before | after)
        default = after
        Where the icon should be placed
*   $icon-color(value = color name)
        default = currentColor
        What color the icon should be
*/
@mixin link-btn(
  $style: primary,
  $size: regular,
  $icon: false,
  $icon-position: after,
  $icon-color: currentColor
  ) {
  @include link-btn-base();

  // link-button styles -----------------------------------------------------------------
  @if $style == primary {
    @include link-btn-style(primary);
  } @else if $style == reverse {
    @include link-btn-style(reverse);
  }

  // link-button sizes ------------------------------------------------------------------
  @if $size == regular {
    @include link-btn-size(regular);
  } @else if $size == small {
    @include link-btn-size(small);
  } @else if $size == xsmall {
    @include link-btn-size(xsmall);
  }

  // link-button icon -------------------------------------------------------------------
  @if $icon != false {
    @if $size == regular or $size == small {
      @include icon(
        $filename: $icon,
        $size: $icon-size-xsmall,
        $insert: $icon-position
      ) {
        color: $icon-color;
      }
    } @else if $size == xsmall {
      @include icon(
        $filename: $icon,
        $size: $icon-size-xxsmall,
        $insert: $icon-position
      ) {
        color: $icon-color;
      }
    }
  }
}
