// -----------------------------------------------------------------------------
// Mixin: Links
// Common link styles
//
// === link === //
// @include link-base();
// Options(s):
// • $style(value = dark | light) - default = dark - What version of link we should use.
//
// @include link-underline();
// Option(s):
// • $version(value = none | hover | full) - default = hover - Whether the link should be underlined on hover, at all times, or not at all.
//
// @include link();
// Option(s):
// • $style(value = base | dark | light) - default = base - The version of link we should use. base is used by default, Dark can be used to force the styles to be redeclared.
// • $underline(value = null | none | hover | full) - default = null - Whether the underline version should be declared, and if so, which version.
//
// === card-link === //
// Convert an anchor tag to a transparent overlay card style
// @include card-link();
// -----------------------------------------------------------------------------

@mixin link-base($style: default, $decoration: false) {
  $color: $color-text-link;
  $hover-color: $color-text-link-hover;

  // Light overrides.
  @if $style == reverse {
    $color: $color-text-link-reverse;
    $hover-color: $color-text-link-reverse-hover;
  }

  // decoration overrides.
  @if $decoration == true {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }

  color: $color;
  transition: color $transition-base-time-style;

  &:visited {
    color: $color;
    outline: none;
  }

  @include on-event() {
    color: $hover-color;
    text-decoration: underline;
  }
}

@mixin link($style: default, $decoration: false) {
  // If style is explicitly stated, include it. Otherwise don't do anything since base is already set on page.
  @if $style != default {
    @include link-base($style);
  }
}

@mixin card-link() {
  @include trbl();
  @include shadow(card);

  background-color: transparent;
  font-size: 0;
  z-index: 5;
}
