// -----------------------------------------------------------------------------
// Abstracts/Mixin: Event wrapper
// Common events to target
// @include on-event();
//
// Option(s):
// • $self(value = true or false) - to apply to item or events only
// -----------------------------------------------------------------------------

@mixin on-event(
  $self: false,
  $visited: false
) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else if $visited {
    &:hover,
    &:active,
    &:focus,
    &:visited {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}
