// -----------------------------------------------------------------------------
// Abstracts/Mixin: Pill Styles
// Creates styles that implement Pill 1.0 styles
//
// @include pill($color)
//
// Option(s):
// • $color(value = primary/secondary) - changes pill color
// • $style(value = fill/outline) - default = fill - changes pill style
// -----------------------------------------------------------------------------

@mixin pill($color, $style: fill) {
  @include type-preset(
    $type: header,
    $version: 10
  );

  @if ($style == outline) {
    border: $border-width-light solid currentColor;

    @include on-event() {
      color: $color-text-link-reverse;
      text-decoration: none;
    }
  } @elseif ($style == fill) {
    color: $color-text-link-reverse;
  }

  @if ($color == primary) {
    @if ($style == outline) {
      color: $color-pill-primary;

      @include on-event() {
        background-color: $color-pill-primary;
      }
    } @elseif ($style == fill) {
      background-color: $color-pill-primary;
    }
  } @elseif ($color == secondary) {
    @if ($style == outline) {
      color: $color-pill-secondary;

      @include on-event() {
        background-color: $color-pill-secondary;
      }
    } @elseif ($style == fill) {
      background-color: $color-pill-secondary;
    }
  } @else {
    @error 'Invalid color name: `#{$color}`.';
  }

  border-radius: $border-radius-large;
  padding: rem($scale-1) rem($scale-2);
  text-transform: uppercase;
  transition: $transition-base;
}
