// -----------------------------------------------------------------------------
// Abstracts/Mixin: Positionings
// Common positionings for fixed and absolute items
//
// Option(s):
// • $position(value = fixed or absolute) - default = absolute - position property
//
// === trbl === //
// @include trbl();
//
// === trl === //
// @include trl();
//
// === rbl === //
// @include rbl();
//
// === trb === //
// @include trb();
// -----------------------------------------------------------------------------

@mixin trbl($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}

@mixin trl($position: absolute) {
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}

@mixin rbl($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
}

@mixin trb($position: absolute) {
  bottom: 0;
  position: $position;
  right: 0;
  top: 0;
}

@mixin tbl($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
}
