// -----------------------------------------------------------------------------
// Abstracts/Mixin: Typography
// Global typography for site
// Place on elements as desired
//
// === type-margin-preset === //
// Different sizes of margins for the presets
// @include type-margin-preset(10);
// Options:
// • $version(type = number) - type preset number
//
// === type-container === //
// A max-width for presets
// @include type-container();
// • $version(type = number) - default = 1 - number matches container size variable
// • $max-width(type = number) - default = initial - a custom size for non-standard cases
// • $breakpoint(type = breakpoint) - default = s - gives ability to change when the container width is removed
//
// === single-line-clamp === //
// Clamp text not to exceed a single line to ellipses
// @include single-line-clamp();
//
// === multi-line-calc === //
// Sets a height for text not to exceed a certain number of lines
// @include multi-line-calc(
//  $line-number: 2,
//  $font-size: $font-size-preset-90,
//  $line-height: $line-height-preset-90,
//  $variable-space: false
// );
// Options:
// • $line-number(type = number or reset) - number of allowed lines
// • $font-size(type = variable) - used to set the height of the container
// • $line-height(type = variable) - used to set the height of the container
// • $variable-space(type = boolean) - default = false - allows height of the multiline text element to vary with content
//
// === type-preset === //
// Preset typography
// @include type-preset(
//  $version: 100,
//  $type: header,
//  $container: true,
//  $multiline: 3,
//  $variable-space: false
// );
// Options:
// • $version(type = number) - size of type
// • $type(type = paragraph or header) - default = paragraph - what is the text being used as
// • $margins(type = boolean) - default = false - apply the preset type-margins
// • $container(type = boolean) - default = false - apply the preset type-container
// • $multiline(type = number) - default = false - limits type to an amount of lines
// • $variable-space(type = boolean) - default = false - allows height of the multiline text element to vary with content
//
// -----------------------------------------------------------------------------

@mixin type-margin-preset($version) {
  @if $version == 10 {
    margin-bottom: rem($scale-2);
    margin-top: rem($scale-10);
  } @else if $version == 20 {
    margin-bottom: rem($scale-2);
    margin-top: rem($scale-10);
  } @else if $version == 30  {
    margin-bottom: $type-margin-preset-30;
    margin-top: $type-margin-preset-30;
  } @else if $version == 40 {
    margin-bottom: $type-margin-preset-40;
    margin-top: $type-margin-preset-40;
  } @else if $version == 50 {
    margin-bottom: $type-margin-preset-50;
    margin-top: $type-margin-preset-50;
  } @else if $version == 60 {
    margin-bottom: $type-margin-preset-60;
    margin-top: $type-margin-preset-60;
  } @else if $version == 70 {
    margin-bottom: $type-margin-preset-70;
    margin-top: $type-margin-preset-70;
  } @else if $version == 80 {
    margin-bottom: $type-margin-preset-80;
    margin-top: $type-margin-preset-80;
  } @else if $version == 90 {
    margin-bottom: $type-margin-preset-90;
    margin-top: $type-margin-preset-90;
  } @else if $version == 100 {
    margin-bottom: $type-margin-preset-100;
    margin-top: $type-margin-preset-100;
  }
}

@mixin type-container(
  $version: 1,
  $max-width: initial,
  $breakpoint: s
  ) {

  @if $max-width != initial {
    @include media('>=#{$breakpoint}') {
      max-width: $max-width;
    }
  } @else {
    @if $version == 1 {
      @include media('>=s') {
        max-width: $type-container-preset-1;
      }
    } @else if $version == 2 {
      @include media('>=m') {
        max-width: $type-container-preset-2;
      }
    }
  }
}

@mixin single-line-clamp() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin multi-line-calc-reset() {
  -webkit-line-clamp: inherit;
  height: inherit;
  max-height: inherit;
  overflow: inherit;
  text-overflow: inherit;
}

@mixin multi-line-calc(
  $line-number,
  $font-size: false,
  $line-height: false,
  $variable-space: true
) {
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-number;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;

  @include bs-ie() {
    height: calc(#{$line-number} * (#{$font-size} * (#{$line-height} + 0.02)));
  }

  @if $variable-space == true {
    height: auto;
    max-height: calc(#{$line-number} * (#{$font-size} * (#{$line-height} + 0.02)));
  } @else {
    height: calc(#{$line-number} * (#{$font-size} * (#{$line-height} + 0.02)));
  }

  @if $line-number == reset {
    @include multi-line-calc-reset();
  }
}

@mixin type-preset (
  $version,
  $type: paragraph,
  $margins: false,
  $container: false,
  $multiline: false,
  $variable-space: true
) {

  @if $type == header {
    font-weight: $font-weight-bold;
  } @else {
    font-weight: $font-weight-regular;
  }

  @if $type == header and $margins == false {
    margin-bottom: 0;
    margin-top: 0;
  }

  @if $container == true {
    @include type-container();
  }

  @if $multiline == reset {
    @include multi-line-calc (
      $line-number: reset
    );
  }

  @if $version == 10 {
    $fs: $font-size-preset-10;
    $lh:  $line-height-preset-10;

    font-size: $fs;
    line-height: $lh;

    @include media('>=s') {
      font-size: $fs;
    }

    @if $margins == true {
      @include type-margin-preset(10);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 20 {
    $fs: $font-size-preset-20;
    $lh:  $line-height-preset-20;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(20);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 30 {
    $fs: $font-size-preset-30;
    $lh: $line-height-preset-30;
    $lhh: $line-height-preset-30-header;

    font-size: $fs;

    @if $type == header {
      line-height: $lhh;
    } @else {
      line-height: $lh;
    }

    @if $margins == true {
      @include type-margin-preset(30);
    }

    @if $type == header and $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lhh,
        $variable-space: $variable-space
      );
    } @else if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 40 {
    $fs: $font-size-preset-40;
    $lh: $line-height-preset-40;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(40);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 50 {
    $fs: $font-size-preset-50;
    $lh: $line-height-preset-50;
    $lhh: $line-height-preset-50-header;

    font-size: $fs;

    @if $type == header {
      line-height: $lhh;
    } @else {
      line-height: $lh;
    }

    @if $margins == true {
      @include type-margin-preset(50);
    }

    @if $type == header and $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lhh,
        $variable-space: $variable-space
      );
    } @else if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 60 {
    $fs: $font-size-preset-60;
    $lh: $line-height-preset-60;
    $lhh: $line-height-preset-60-header;

    font-size: $fs;

    @if $type == header {
      line-height: $lhh;
    } @else {
      line-height: $lh;
    }

    @if $margins == true {
      @include type-margin-preset(60);
    }

    @if $type == header and $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lhh,
        $variable-space: $variable-space
      );
    } @else if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 70 {
    $fs: $font-size-preset-70;
    $lh: $line-height-preset-70;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(70);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 80 {
    $fs: $font-size-preset-80;
    $lh: $line-height-preset-80;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(80);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 90 {
    $fs: $font-size-preset-90;
    $lh: $line-height-preset-90;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(90);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }

  } @else if $version == 100 {
    $fs: $font-size-preset-100;
    $lh: $line-height-preset-100;

    font-size: $fs;
    line-height: $lh;

    @if $margins == true {
      @include type-margin-preset(100);
    }

    @if $multiline != false {
      @include multi-line-calc (
        $line-number: $multiline,
        $font-size: $fs,
        $line-height: $lh,
        $variable-space: $variable-space
      );
    }
  }
}
