// -----------------------------------------------------------------------------
// Abstracts/Mixin: Vertical Rhythm
// Apply to container where spacing is needed on the TOP and BOTTOM
// @include vertical-rhythm();
//
// Options:
// • $property(value = margin or padding) - default = padding - changes property
// • $breakpoint(value = breakpoint variable) - default = md - breakpoint trigger
// • $gap-small(value = gap preset variable) - default = $gap-preset-4 - the small/mobile size
// • $gap-large(value = gap preset variable) - default = $gap-preset-9 - the large/desktop size
// • $reset(value = true or false) - default = false - reset the property back to initial
// • $negative(value = true or false) - default = false - pulls content up the rhythm amount
// -----------------------------------------------------------------------------

@mixin vertical-rhythm(
  $property: margin,
  $breakpoint: m,
  $gap-small: $vr-default-sm,
  $gap-large: $vr-default-lg,
  $reset: false,
  $negative: false
) {

  // base
  #{$property}-top: $gap-small;

  @include media('>=#{$breakpoint}') {
    #{$property}-top: $gap-large;
  }

  // reset
  @if $reset == true {
    #{$property}-top: inherit;
    #{$property}-top: initial;

    @include media('>=#{$breakpoint}') {
      #{$property}-top: inherit;
      #{$property}-top: initial;
    }
  }

  // negative
  @if $negative == true {
    #{$property}-top: inherit;
    #{$property}-top: initial;
    margin-top: -$gap-small;

    @include media('>=#{$breakpoint}') {
      #{$property}-top: inherit;
      #{$property}-top: initial;
      margin-top: -$gap-large;
    }
  }
}

@mixin footer-gap(
  $property: margin,
  $reset: false
  ) {
  @if $reset == false {
    #{$property}-bottom: rem(68);

    @include media('>=s') {
      #{$property}-bottom: rem(84);
    }

    @include media('>=m') {
      #{$property}-bottom: rem(100);
    }

    @include media('>=l') {
      #{$property}-bottom: rem(132);
    }
  } @else {
    #{$property}-bottom: inherit;
  }
}
