// -----------------------------------------------------------------------------
// Abstracts/Variables: Asset Pathing
// Paths of commonly used file types
// Used in the asset pathing function functions/_asset-pathing.scss
// * file-name must be a string: ''
// -----------------------------------------------------------------------------

$path-base: '/themes/custom/urone/';
$path-image: $path-base + 'images/';
$path-icon: $path-base + 'icons/';
$path-font: $path-base + 'fonts/';
