// -----------------------------------------------------------------------------
// Abstracts/Variables: Borders and Shadows
// Global border and shadow lists
// -----------------------------------------------------------------------------

// Border Widths
$border-width-light: rem(1);
$border-width-regular: rem(2);
$border-width-thick: rem(4);

$border-widths: (
  'light': $border-width-light,
  'regular': $border-width-regular,
  'thick': $border-width-thick
);

// Border Radii
$border-radius-small: rem(2);
$border-radius-med: rem(4);
$border-radius-large: rem(8);
$border-radius-xlarge: rem(12);

$border-radii: (
  'small': $border-radius-small,
  'med': $border-radius-med,
  'large': $border-radius-large,
  'xlarge': $border-radius-xlarge
);

// Shadow Styles
$shadow-depth-one: 0 rem(2) rem(4) 0 $depth-color;
$shadow-depth-two: 0 rem(4) rem(12) 0 $depth-color;
$shadow-depth-three: 0 rem(8) rem(24) 0 $depth-color;
$shadow-depth-nav: 0 rem(1) rem(3) 0 $depth-color;
$shadow-depth-card: 0 rem(2) rem(8) rem(1) $depth-color;
$shadow-depth-card-hover: 0 rem(4) rem(16) rem(1) $depth-color;
$shadow-depth-focus: 0 0 rem(4) 0 $color-brand-secondary;

$shadows: (
  'one',
  'two',
  'three',
  'nav',
  'card',
  'focus'
);


