// -----------------------------------------------------------------------------
// Abstracts/Variables: Breakpoints
// Site default breakpoint widths
// -----------------------------------------------------------------------------

$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1440px;
$bp-xl: 1920px;

// header sizes
$header-bp-desktop: '>=s';
$header-bp-mobile: '<s';

// Map
$breakpoints: (
  s: $bp-s,
  m: $bp-m,
  l: $bp-l,
  xl: $bp-xl
);
