// -----------------------------------------------------------------------------
// Abstracts/Variables: Colors
// Global colors and color map
//
// Colors variables are set up in a 2 tier system.
// The first tier defines the specific color values.
// The second tier defines the application of those colors.
// -----------------------------------------------------------------------------

/**
 * Tier 1: Color Values
 * 1)  Color Values provide the specific hex colors. They are given a name
 *     and number to display tints and shades of a color.
 * 2)  These values should never be used directly. Instead use a second-tier applied color.
 */

// Blue
$color-blue: #0050A9;
$color-blue-lowlight: #002F55;
$color-blue-highlight: #008CFF;
$color-blue-subtle: #EDF8FF;

// Orange
$color-orange: #F99222;
$color-orange-lowlight: #B03712;
$color-orange-highlight: #FFCF3D;
$color-orange-subtle: #FFF2EC;

// Bright Red
$color-red: #E10000;
$color-red-lowlight: #840000;
$color-red-highlight: #FF4F4F;
$color-red-subtle: #FFECEC;

// Green
$color-green: #48BD00;
$color-green-lowlight: #237000;

// Grey
$color-white: #FFFFFF;
$color-grey-2: #F9F9F9;
$color-grey-5: #F2F2F2;
$color-grey-11: #DDE0E2;
$color-grey-38: #72777E;
$color-grey-69: #414B50;
$color-grey-79: #161718;

// Transparent
$color-transparent: transparent;

// Socials
$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-linkedin: #0077B5;

/**
 * Tier 2: Applied Colors
 * Applied colors are descriptive of their use.
 */

// Brand
$color-brand-primary: $color-blue;
$color-brand-secondary: $color-blue-highlight;

// Utility Colors
$color-utility-positive: $color-green;
$color-utility-positive-subtle: $color-grey-2;
$color-utility-attention: $color-orange;
$color-utility-attention-subtle: $color-orange-subtle;
$color-utility-negative: $color-red;
$color-utility-negative-subtle: $color-red-subtle;

// Text Colors
$color-text: $color-grey-69;
$color-text-subtle: $color-grey-38;
$color-text-reverse: $color-white;
$color-text-subtle-reverse: rgba($color-white, 0.38);
$color-text-super: $color-orange;

// Input Colors
$color-input-bg: $color-white;
$color-input-bg-disabled: $color-grey-5;

// Link Colors
$color-text-link: $color-brand-primary;
$color-text-link-hover: $color-brand-secondary;
$color-text-link-reverse: $color-white;
$color-text-link-reverse-hover: $color-white;

// Border Color
$color-utility-border: $color-grey-11;
$color-focus-state: rgba($color-brand-secondary, 0.5);

// Pill Colors
$color-pill-primary: $color-utility-attention;
$color-pill-secondary: $color-brand-secondary;

// Depth Color
$depth-color: rgba($color-grey-79, 0.16);

// Background Colors
$color-bg-light-primary: $color-white;
$color-bg-light-secondary: $color-grey-2;
$color-bg-light-tertiary: $color-grey-5;
$color-bg-dark-primary: $color-brand-primary;
$color-bg-dark-secondary: $color-blue-lowlight;

// Color Map
$colors: (
  'blue': $color-blue,
  'blue-lowlight': $color-blue-lowlight,
  'blue-highlight': $color-blue-highlight,
  'blue-subtle': $color-blue-subtle,
  'orange': $color-orange,
  'orange-lowlight': $color-orange-lowlight,
  'orange-highlight': $color-orange-highlight,
  'orange-subtle': $color-orange-subtle,
  'red': $color-red,
  'red-lowlight': $color-red-lowlight,
  'red-highlight': $color-red-highlight,
  'red-subtle': $color-red-subtle,
  'white': $color-white,
  'grey-2': $color-grey-2,
  'grey-5': $color-grey-5,
  'grey-11': $color-grey-11,
  'grey-38': $color-grey-38,
  'grey-69': $color-grey-69,
  'grey-79': $color-grey-79,
  'green': $color-green,
  'green-lowlight': $color-green-lowlight,
  'transparent': $color-transparent,
  'brand-primary': $color-brand-primary,
  'brand-secondary': $color-brand-secondary,
  'utility-positive': $color-utility-positive,
  'utility-positive-subtle': $color-utility-positive-subtle,
  'utility-attention': $color-utility-attention,
  'utility-attention-subtle': $color-utility-attention-subtle,
  'utility-negative': $color-utility-negative,
  'utility-negative-subtle': $color-utility-negative-subtle,
  'utility-border': $color-utility-border,
  'focus-state': $color-focus-state,
  'bg-light-primary': $color-bg-light-primary,
  'bg-light-secondary': $color-bg-light-secondary,
  'bg-light-tertiary': $color-bg-light-tertiary,
  'bg-dark-primary': $color-bg-dark-primary,
  'bg-dark-secondary': $color-bg-dark-secondary,
  'text': $color-text,
  'text-subtle': $color-text-subtle,
  'text-reverse': $color-text-reverse,
  'text-link': $color-text-link,
  'text-link-hover': $color-text-link-hover,
  'text-link-reverse': $color-text-link-reverse,
  'text-link-reverse-hover': $color-text-link-reverse-hover,
);
