// -----------------------------------------------------------------------------
// Abstracts/Variables: Glyphs
// Glyphs are decorative elements added to elements on a page.
// -----------------------------------------------------------------------------

$glyph-bar-short: rem(120);
$glyph-bar-wide: rem(240);
$glyph-bar-thickness: rem(4);

// Glyph types
$glyph-bar-types:
'short',
'wide'
;

// Glyph alignment
$glyph-bar-alignments:
'center',
'left'
;
