// -----------------------------------------------------------------------------
// Abstracts/Variables: Icons
// Global icon sizes & variable names from icomoon
// -----------------------------------------------------------------------------

// Icon sizes
$icon-size-xxsmall: rem($scale-3);
$icon-size-xsmall: rem($scale-4);
$icon-size-small: rem($scale-5);
$icon-size-regular: rem($scale-6);
$icon-size-large: rem($scale-8);
$icon-size-xlarge: rem($scale-10);
$icon-size-xxlarge: rem($scale-13);

$icon-sizes: (
  'xxsmall': $icon-size-xxsmall,
  'xsmall': $icon-size-xsmall,
  'small': $icon-size-small,
  'regular': $icon-size-regular,
  'large': $icon-size-large,
  'xlarge': $icon-size-xlarge,
  'xxlarge': $icon-size-xxlarge
);

// TODO: remove icomoon font
// Icon pathing
$icon-font-family: 'icomoon';
$icon-font-path: '../fonts/#{$icon-font-family}';
