// -----------------------------------------------------------------------------
// Abstracts/Variables: Layout
// Sizing vars for grid, gaps, and container widths
// -----------------------------------------------------------------------------

/**
 * Grid and Grid Gap
 */
$grid-columns: 12;

// Individual column sizes
$grid-col-1: (1 / $grid-columns) * 100%;
$grid-col-2: (2 / $grid-columns) * 100%;
$grid-col-3: (3 / $grid-columns) * 100%;
$grid-col-4: (4 / $grid-columns) * 100%;
$grid-col-5: (5 / $grid-columns) * 100%;
$grid-col-6: (6 / $grid-columns) * 100%;
$grid-col-7: (7 / $grid-columns) * 100%;
$grid-col-8: (8 / $grid-columns) * 100%;
$grid-col-9: (9 / $grid-columns) * 100%;
$grid-col-10: (10 / $grid-columns) * 100%;
$grid-col-11: (11 / $grid-columns) * 100%;
$grid-col-12: (12 / $grid-columns) * 100%;

// Gutter sizes
$grid-gutter-sm: rem($scale-2);
$grid-gutter-lg: rem($scale-4);

// Gradient overlay values
$grid-repeating-width: calc(100% / #{$grid-columns});
$grid-background-width-sm: calc(100% + #{$grid-gutter-sm});
$grid-background-width-lg: calc(100% + #{$grid-gutter-lg});
$grid-column-width-sm: (100% / #{$grid-columns}) - #{$grid-gutter-sm};
$grid-column-width-sm-calc: calc(#{$grid-column-width-sm});
$grid-column-width-lg: (100% / #{$grid-columns}) - #{$grid-gutter-lg};
$grid-column-width-lg-calc: calc(#{$grid-column-width-lg});

/**
 * Vertical rhythm
 */
$vr-default-sm: rem($scale-10);
$vr-default-lg: rem($scale-18);

/**
 * Gap sizes
 */
$gap-a: $scale-1; // 4
$gap-b: $scale-2; // 8
$gap-c: $scale-4; // 16
$gap-d: $scale-6; // 24
$gap-e: $scale-8; // 32
$gap-f: $scale-16; // 64
$gap-g: $scale-24; // 96

/**
 * Container widths
 */

// Preset widths
$container-sm: rem(530);
$container-md: rem(750);
$container-lg: rem(960);
$container-xl: rem(1200);
$container-max: rem(1712);

// Outer gaps
$container-gutter-sm: 1rem;
$container-gutter-lg-vw: calc((100vw / #{$grid-columns}) + #{$grid-gutter-lg});
$container-gutter-lg-per: calc((100% / #{$grid-columns}) + #{$grid-gutter-lg});

// Container window widths
// (window width - single column width) - (double gutter width)
$container-window-sm: calc(100% - (#{$container-gutter-sm} * 2));
$container-window-md: calc(100% - #{$grid-col-1});
$container-window-lg: calc((100% - #{$grid-col-1}) - (#{$grid-gutter-lg} * 2));

// Container Max-width map - used to generate container classes
$container-width: (
  sm: $container-sm,
  md: $container-md,
  lg: $container-lg,
  xl: $container-xl
);

/**
 * Directions for utilities
 */
$directions:
bottom,
left,
right,
top
;
