// -----------------------------------------------------------------------------
// Abstracts/Variables: Scrims
// Scrims provide an overlay to obscure content.
// This can be to de-emphasize specific content or to improve legibility on a foreground element.
// -----------------------------------------------------------------------------

$scrim-40: rgba($color-grey-69, 0.4);
$scrim-65: rgba($color-grey-69, 0.65);
$scrim-image: rgba($color-grey-79, 0.65);
$scrim-gradient: linear-gradient($color-grey-69, rgba($color-grey-69, 0));
$scrim-gradient-reverse-direction: linear-gradient(rgba($color-grey-69, 0), $color-grey-69);
$scrim-gradient-reverse: linear-gradient($color-white, rgba($color-white, 0));
$scrim-hero-gradient: linear-gradient(180deg, $color-blue-lowlight 3%, rgba($color-blue, 0) 68%);
$scrim-promo-hero-gradient: linear-gradient(90deg, $color-grey-69, rgba($color-grey-69, 0));
