// -----------------------------------------------------------------------------
// Abstracts/Variables: Typography
// Global typography for site
// -----------------------------------------------------------------------------

/**
 * Root font sizing
 * Top level and function variables
 */

// <html> and <body> font sizes
$html-font-size: 87.5%;
$body-font-size: 14px;
$body-line-height: 1.43;

/**
 * Font families
 * Preferred and fallback font families
 */
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Roboto, Noto, Arial, sans-serif;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', 'Roboto Mono', monospace;
$font-family-base: $font-family-sans-serif;

/**
 * Font weights
 * Names for commonly used font weights
 */
$font-weight-bold: 700;
$font-weight-regular: 400;


$font-weights: (
  bold: $font-weight-bold,
  regular: $font-weight-regular
);

/**
 * Font sizes
 * Base and heading sizes
 * BASE 14
 */                             // old names:
$font-size-preset-10: rem(8);   // xxsmall
$font-size-preset-20: rem(10);  // xsmall
$font-size-preset-30: rem(12);  // h6 & small
$font-size-preset-40: rem(14);  // base & h5
$font-size-preset-50: rem(16);  // h4 & large
$font-size-preset-60: rem(18);  // h3 & xlarge
$font-size-preset-70: rem(22);  // h2
$font-size-preset-80: rem(28);  // h1
$font-size-preset-90: rem(36);  // display2
$font-size-preset-100: rem(44); // display1

$font-sizes: (
  10: $font-size-preset-10,
  20: $font-size-preset-20,
  30: $font-size-preset-30,
  40: $font-size-preset-40,
  50: $font-size-preset-50,
  60: $font-size-preset-60,
  70: $font-size-preset-70,
  80: $font-size-preset-80,
  90: $font-size-preset-90,
  100: $font-size-preset-100
);

/**
 * Line heights
 */
$line-height-preset-10: 2;
$line-height-preset-20: 2;
$line-height-preset-30: 1.66;
$line-height-preset-30-header: 1.33;
$line-height-preset-40: 1.43;
$line-height-preset-50: 1.5;
$line-height-preset-50-header: 1.25;
$line-height-preset-60: 1.55;
$line-height-preset-60-header: 1.33;
$line-height-preset-70: 1.09;
$line-height-preset-80: 1.28;
$line-height-preset-90: 1.11;
$line-height-preset-100: 1.09;

/**
 * Type margins
 */
$type-margin-preset-100: 0.33em;
$type-margin-preset-90: 0.55em;
$type-margin-preset-80: 0.67em;
$type-margin-preset-70: 0.83em;
$type-margin-preset-60: 1em;
$type-margin-preset-50: 1.33em;
$type-margin-preset-40: 1.67em;
$type-margin-preset-30: 2.33em;
$type-margin-preset-20: 2.33em;
$type-margin-preset-10: 2.33em;

/**
 * Random sizes
 * Collection of things for mixins or classes
 */
$type-container-preset-1: 75ch;
$type-container-preset-2: 125ch;

$type-containers: (
  1: $type-container-preset-1,
  2: $type-container-preset-2
)
