{#
/**
 * @file
 * display the ur_helpcta block
 *
 * Available variables:
 *   - headingText
 *   - primaryLink
 *   - primaryLinkText
 *   - primaryLinkAddin
 *   - secondaryLink
 *   - secondaryLinkText
 *   - secondaryLinkAddin
 *   - image
 *
 */
#}
<div class="ur_helpcta feeling-stuck" style="background-image:url({{ image }})">
  <h2 class="heading-2 feeling-stuck__heading-2">{{ headingText }}</h2>
  <div class="feeling-stuck__button-row">
    <a class="button button--style-1 button--filled-reverse"
      {% if primaryLink %}
        href="{{ primaryLink }}"
      {% endif %}
      {{ primaryLinkAddin|raw }}>
      {{ primaryLinkText }}
    </a>
    <a class="button button--style-1 button--filled"
      {% if secondaryLink %}
        href="{{ secondaryLink }}"
      {% endif %}
      {{ secondaryLinkAddin|raw }}>
      {{ secondaryLinkText }}
    </a>

  </div>
</div>