<div id="block-views-block-project-uptime-project-uptime-featured-carousel" class="views-element-container">
    <div>
        <div class="js-view-dom-id-62f44759b690b7eaa6e4367bc9ad0c3c95635f883ab8419a307ad134676baffa">
            <div class="project-uptime__featured-article-carousel">
                <div class="VueCarousel">
                    <div class="VueCarousel-wrapper">
                        <div class="VueCarousel-inner" style="transform: translateX(0px); transition: transform 0.5s ease; flex-basis: 1545px; visibility: visible;">
                            <div class="VueCarousel-slide views-row">
                                <div class="featured-news-tile__wrapper">
                                    <a href="project-uptime/fleet-management/video-tips-cleaning-and-storing-your-power-tools" target="_blank" class="featured-news-tile">
                                        <div class="featured-news-tile__image"><img src="../dist/img/placeholders/fpo-carousel-bg.jpg" width="1200" height="696" alt="man with tools " typeof="foaf:Image"></div>
                                        <div class="featured-news-tile__cover"></div>
                                        <div class="featured-news-tile__container">
                                            <p class="featured-news-tile__catagory">Featured Article</p>
                                            <p class="featured-news-tile__headline">[VIDEO] Tips for Cleaning and Storing Your Power Tools</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="VueCarousel-slide views-row">
                                <div class="featured-news-tile__wrapper">
                                    <a href="project-uptime/technology/cool-structures-built-shipping-containers" target="_blank" class="featured-news-tile">
                                        <div class="featured-news-tile__image"><img src="../dist/img/placeholders/fpo-carousel-bg.jpg" width="1200" height="525" alt="shipping container restaurant" typeof="foaf:Image"></div>
                                        <div class="featured-news-tile__cover"></div>
                                        <div class="featured-news-tile__container">
                                            <p class="featured-news-tile__catagory">Featured Article</p>
                                            <p class="featured-news-tile__headline">Cool Structures Built with Shipping Containers</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="VueCarousel-slide views-row">
                                <div class="featured-news-tile__wrapper">
                                    <a href="project-uptime/workforce/4-leading-indicators-safety-culture" target="_blank" class="featured-news-tile">
                                        <div class="featured-news-tile__image"><img src="../dist/img/placeholders/fpo-carousel-bg.jpg" width="900" height="536" alt="two men working on equipment with gloves" typeof="foaf:Image"></div>
                                        <div class="featured-news-tile__cover"></div>
                                        <div class="featured-news-tile__container">
                                            <p class="featured-news-tile__catagory">Featured Article</p>
                                            <p class="featured-news-tile__headline">4 Leading Indicators of a Safety Culture</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-7e42136f="" class="VueCarousel-pagination">
                        <div data-v-7e42136f="" class="VueCarousel-dot-container">
                            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 8px; padding: 4px;">
                                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 8px; height: 8px; background: rgb(0, 140, 255);"></div>
                            </div>
                            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 8px; padding: 4px;">
                                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 8px; height: 8px; background: rgb(221, 224, 226);"></div>
                            </div>
                            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 8px; padding: 4px;">
                                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 8px; height: 8px; background: rgb(221, 224, 226);"></div>
                            </div>
                        </div>
                    </div>
                    <div data-v-7fed18e9="" class="VueCarousel-navigation"><a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-prev VueCarousel-navigation--disabled" style="padding: 0px; margin-right: 0px;"></a> <a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-next" style="padding: 0px; margin-left: 0px;"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
