<div class="VueCarousel carousel__project-uptime">
    <div class="VueCarousel-wrapper">
        <div class="VueCarousel-inner" style="transform: translateX(0px); transition: transform 0.5s ease; flex-basis: 404px; visibility: visible;">
            <div class="VueCarousel-slide views-row">
                <div data-history-node-id="289911" class="node node--type-project-uptime-pages node--view-mode-tile ds-1col clearfix">
                    <a href="project-uptime/technology/how-use-social-media-boost-your-construction-business" class="article-tile">
                        <div class="article-tile__container">
                            <div class="article-tile__image-holder">
                                <div class="article-tile__image" style="background-image: url(&quot;https://kelexqa.unitedrentals.com/sites/default/files/styles/card_tile_image/public/2018-01/PU%20-%20PPE%20.jpg?itok=FhlzepfN&quot;);"></div>
                            </div>
                            <div class="article-tile__content">
                                <p class="article-tile__catagory">Technology</p>
                                <p class="article-tile__headline">
                                    How to Use Social Media to Boost Your Construction Business<i class="icon icon-long-arrow-left"></i></p>
                                <p class="article-tile__date">Jan 19, 2018</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div data-history-node-id="289926" class="node node--type-project-uptime-pages node--view-mode-tile ds-1col clearfix">
                    <a href="project-uptime/workforce/construction-workers-demand-bim-engineers" class="article-tile">
                        <div class="article-tile__container">
                            <div class="article-tile__image-holder">
                                <div class="article-tile__image" style="background-image: url(&quot;https://kelexqa.unitedrentals.com/sites/default/files/styles/card_tile_image/public/2018-01/PU%20-%20BIM%20engineers.jpg?itok=f1ks_OHA&quot;);"></div>
                            </div>
                            <div class="article-tile__content">
                                <p class="article-tile__catagory">Workforce</p>
                                <p class="article-tile__headline">
                                    Construction Workers in Demand: BIM Engineers<i class="icon icon-long-arrow-left"></i></p>
                                <p class="article-tile__date">Jan 23, 2018</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div data-history-node-id="289921" class="node node--type-project-uptime-pages node--view-mode-tile ds-1col clearfix">
                    <a href="project-uptime/fleet-management/maintenance-tips-keep-construction-equipment-running-cold-weather" class="article-tile">
                        <div class="article-tile__container">
                            <div class="article-tile__image-holder">
                                <div class="article-tile__image" style="background-image: url(&quot;https://kelexqa.unitedrentals.com/sites/default/files/styles/card_tile_image/public/2018-01/PU%20-%20Winterizing%20jobsite.jpg?itok=cns-x5Jn&quot;);"></div>
                            </div>
                            <div class="article-tile__content">
                                <p class="article-tile__catagory">Fleet Management</p>
                                <p class="article-tile__headline">
                                    Maintenance Tips to Keep Construction Equipment Running in Cold Weather<i class="icon icon-long-arrow-left"></i></p>
                                <p class="article-tile__date">Jan 19, 2018</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div data-v-7e42136f="" class="VueCarousel-pagination" style="">
        <div data-v-7e42136f="" class="VueCarousel-dot-container">
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(0, 140, 255);"></div>
            </div>
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(221, 224, 226);"></div>
            </div>
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(221, 224, 226);"></div>
            </div>
        </div>
    </div>
    <div data-v-7fed18e9="" class="VueCarousel-navigation"><a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-prev VueCarousel-navigation--disabled" style="padding: 8px; margin-right: -8px;"></a> <a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-next" style="padding: 8px; margin-left: -8px;"></a></div>
</div>
