<div class="VueCarousel carousel__project-uptime">
    <div class="VueCarousel-wrapper">
        <div class="VueCarousel-inner" style="transform: translateX(0px); transition: transform 0.5s ease; flex-basis: 220.25px; visibility: visible;">
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/air-compressors-air-tools/air-compressors">
                        <div class="equipment-type">
                            <div class="equipment-type__image">
                              <img src="../dist/img/placeholders/air%20compressors.jpg" width="220" height="220" alt="" typeof="foaf:Image">
                            </div>
                            <h3 class="equipment-type__name">Air Compressors</h3>
                            <button href="marketplace/equipment/air-compressors-air-tools/air-compressors" class="button button--style-1 button--default">
                              Find Air Compressors
                            </button>
                        </div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/aerial-work-platforms/scissor-lifts">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/scissor%20lifts.jpg?itok=AV4cdDH6" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Scissor Lifts</h3> <button href="marketplace/equipment/aerial-work-platforms/scissor-lifts" class="button button--style-1 button--default">
      Find Scissor Lifts
  </button></div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/aerial-work-platforms/boom-lifts">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/Boom%20lift.jpg?itok=3djnJdp9" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Boom Lifts</h3> <button href="marketplace/equipment/aerial-work-platforms/boom-lifts" class="button button--style-1 button--default">
      Find Boom Lifts
  </button></div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/light-towers-generators/towable-light-towers">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/towable%20light%20towers.jpg?itok=3vdD0Kzf" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Towable Light Towers</h3> <button href="marketplace/equipment/light-towers-generators/towable-light-towers" class="button button--style-1 button--default">
      Find Towable Light Towers
  </button></div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/earthmoving-equipment/skid-steers-track-loaders">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/skid%20steers%20%26%20track%20loaders.jpg?itok=Ri6Ohm3x" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Skid Steers &amp; Track Loaders</h3> <button href="marketplace/equipment/earthmoving-equipment/skid-steers-track-loaders" class="button button--style-1 button--default">
      Find Skid Steers &amp; Track Loaders
  </button></div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/forklifts-material-handling/reach-forklifts">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/reach%20forklifts.jpg?itok=yiHoC6W6" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Reach Forklifts</h3> <button href="marketplace/equipment/forklifts-material-handling/reach-forklifts" class="button button--style-1 button--default">
      Find Reach Forklifts
  </button></div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/light-towers-generators/portable-generators">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/diesel%20generators%202_0.jpg?itok=bTlsJVPU" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Portable Generators</h3> <button href="marketplace/equipment/light-towers-generators/portable-generators" class="button button--style-1 button--default">
      Find Portable Generators
  </button></div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/power-hvac/heaters">
                        <div class="equipment-type">
                        <div class="equipment-type__image"><img src="../dist/img/placeholders/300-1512_0.jpg?itok=sW0blUCB" width="220" height="220" alt="" typeof="foaf:Image"></div>
                        <h3 class="equipment-type__name">Vertical Lifts</h3> <button href="marketplace/equipment/aerial-work-platforms/vertical-lifts" class="button button--style-1 button--default">
  Find Vertical Lifts
  </button></div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/aerial-work-platforms/vertical-lifts">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/300-1512_0.jpg?itok=sW0blUCB" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Vertical Lifts</h3> <button href="marketplace/equipment/aerial-work-platforms/vertical-lifts" class="button button--style-1 button--default">
      Find Vertical Lifts
  </button></div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/earthmoving-equipment/backhoes">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/backhoes.jpg?itok=9r58Erx9" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Backhoes</h3> <button href="marketplace/equipment/earthmoving-equipment/backhoes" class="button button--style-1 button--default">
      Find Backhoes
  </button></div>
                    </a>
                </div>
            </div>
            <div class="VueCarousel-slide views-row">
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/earthmoving-equipment/mini-excavators">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/Boom%20lift.jpg?itok=3djnJdp9" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Mini-Excavators</h3> <button href="marketplace/equipment/earthmoving-equipment/mini-excavators" class="button button--style-1 button--default">
      Find Mini-Excavators
  </button></div>
                    </a>
                </div>
                <div class="equipment-type__container">
                    <a href="marketplace/equipment/welders-accessories/welders">
                        <div class="equipment-type">
                            <div class="equipment-type__image"><img src="../dist/img/placeholders/Boom%20lift.jpg?itok=3djnJdp9" width="220" height="220" alt="" typeof="foaf:Image"></div>
                            <h3 class="equipment-type__name">Welders</h3> <button href="marketplace/equipment/welders-accessories/welders" class="button button--style-1 button--default">
      Find Welders
  </button></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div data-v-7e42136f="" class="VueCarousel-pagination">
        <div data-v-7e42136f="" class="VueCarousel-dot-container">
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(0, 140, 255);"></div>
            </div>
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(221, 224, 226);"></div>
            </div>
            <div data-v-7e42136f="" class="VueCarousel-dot" style="margin-top: 20px; padding: 10px;">
                <div data-v-7e42136f="" class="VueCarousel-dot-inner" style="width: 10px; height: 10px; background: rgb(221, 224, 226);"></div>
            </div>
        </div>
    </div>
    <div data-v-7fed18e9="" class="VueCarousel-navigation"><a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-prev VueCarousel-navigation--disabled" style="padding: 8px; margin-right: -8px;"></a> <a data-v-7fed18e9="" href="#" class="VueCarousel-navigation-button VueCarousel-navigation-next" style="padding: 8px; margin-left: -8px;"></a></div>
</div>
