<template>
  <!-- todo make width dynamic to accommodate 8+ figures -->
  <card :to="to" :href="href" class="workplace-dashboard-card" @mouseover.native="hovered = !hovered" @mouseout.native="hovered = !hovered">
    <card-body :class="['carousel-card', isClickable ? '' : 'disabled', active ? 'card-body-active' : '', loading ? 'shimmer' : '']">
      <i v-if="showCheckmark" class="icon icon-check"></i>
      <h1 v-else :class="[isClickable && hovered || active ? 'active' : 'static']">
        <span v-if="title === 'Open Rental Amount'">$</span>
          {{ labelData }}
        <span v-if="title === 'Equipment Activity'">%</span>
      </h1>
      <h3 :class="['subtitle', `${status}--bar`]">{{ title }}</h3>
      <div class="carousel-card__footer">
        <i :class="`icon icon-arrow-${arrowClass}`"></i>
      </div>
    </card-body>
  </card>
</template>

<script>
  import { Card, CardBody } from '@/components/common/card';
  import { isEmpty } from 'lodash';

  export default {
    components: {
      Card,
      CardBody,
    },
    computed: {
      isClickable() {
        return !isEmpty(this.to) || this.href.length;
      },
      showCheckmark() {
        const titleIsNone = this.title === this.$i18n('dashboard.noneOverdueOrDueSoon')
          || this.title === this.$i18n('dashboard.noneOverdue');
        return titleIsNone && (this.labelData === 0) && !this.loading;
      },
    },
    data() {
      return {
        arrowClass: '',
        hovered: false,
      };
    },
    methods: {
      handleClick(to) {
        if (this.isClickable) {
          this.$router.push({
            ...this.$route,
            ...to,
          });
        }
      },
    },
    props: {
      arrow: {
        type: String,
        required: false,
      },
      forceDisable: {
        type: Boolean,
        default: false,
      },
      historicalData: {
        type: Number,
        required: false,
      },
      labelData: {
        type: Number,
        default: 0,
      },
      loading: {
        type: Boolean,
        default: false,
      },
      status: {
        type: String,
        required: false,
      },
      title: {
        type: String,
        required: false,
      },
      to: {
        type: Object, // vue-router Location object
        required: false,
        default: () => ({}),
      },
      href: {
        type: String,
        required: false,
        default: '',
      },
      active: {
        required: false,
        type: Boolean,
      },
    },
  };
</script>

<style lang="scss">
  .listing-summary-card {
    margin: 8px 8px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 1px rgba(22,23,24,0.16);
  }
</style>
