<template>
  <div class="equipment-listing-full">

    <div class="object-list-header">
      <div class="label-select_container">
        <div class="label-side">
          <div class="heading-label">
            <h1 class="heading-1">
              {{ $i18n('favorites.title') }}
              <span v-if="favoritesList.length" class="results-number__heading-1">
                ({{ favoriteEquipment.length }})
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <router-link class="link-account" :to="'/locations/chooseLocationModal'"></router-link>

    <div v-if="!favoritesList.length && !loading">
      <h2 class="heading-2">{{ $i18n('favorites.noFavoritesTitle') }}</h2>
      <p v-html="$i18n('favorites.noFavoritesText')"></p>
      <a href="/marketplace/equipment">{{ $i18n('favorites.noFavoritesLinkText') }}</a>
    </div>

    <paginate
      name="favoriteEquipment"
      :list="favoriteEquipment"
      :per="25"
      ref="pagination"
      tag="div"
      class="list__container"
    >
      <listing-item
        v-for="item in paginated('favoriteEquipment')"
        :cat-class="item.catClass"
        :details-page-link="item.detailsPageLink"
        :img-src="item.images && item.images[0] && item.images[0].link"
        :img-alt="item.images && item.images[0] && item.images[0].alt"
        :key="item.catClass"
        :quick-view-items="item.highlights"
        :title="item.title"
        :not-rentable-online="item['field_item_not_rentable_online']"
        :view-more-link="item['node-link']"
      />
    </paginate>

    <div class="object_listing__footer">
      <pagination-message v-if="!small" :pagination="$refs.pagination"/>
      <div class="paginate-links_container">
        <paginate-links for="favoriteEquipment" :async="true" @change="fetchRates" :limit="5" :show-step-links="true"/>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import ListingItem from '@/components/equipment-listing/listing-item.vue';
  import PaginationMessage from '@/components/common/object-listing/pagination-message';

  import { isEmpty, range } from 'lodash';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      ListingItem,
      PaginationMessage,
    },
    computed: {
      ...mapGetters([
        'favoriteEquipment',
        'small',
      ]),
      ...mapGetters({
        ratesPlaceCreated: types.user.ratesPlaceCreated,
      }),
      ...mapState({
        favoritesList: state => state.favorites.all,
        loading: state => state.favorites.loading,
        user: state => state.user,
      }),
    },
    data() {
      return {
        paginate: ['favoriteEquipment'],
      };
    },
    methods: {
      ...mapActions({
        fetchFavoriteEquipment: types.favorites.fetchAll,
      }),

      /**
       * Fetch rates for only the items on display
       */
      fetchRates() {
        const { currentPage, per } = this.$refs.pagination;
        const itemRange = range(currentPage * per, (currentPage + 1) * per);

        const catClasses = this.favoriteEquipment
          .map(item => item.catClass)
          .filter((item, index) => itemRange.includes(index));

        const accountId = this.user.defaultAccountId;
        const branchId = this.user.ratesPlaceBranch;

        this.$store.dispatch(types.catalog.fetchRates, {
          catClasses,
          branchId,
          accountId,
        });
      },
    },
    mounted() {
      const requestEquipment = this.fetchFavoriteEquipment();

      if (this.ratesPlaceCreated && this.user.ratesPlaceBranch) {
        requestEquipment.then(this.fetchRates);
      }
      else {
        this.$router.push({
          path: '/locations/chooseLocationModal',
        });
        const destroyWatcher = this.$watch('ratesPlaceCreated', () => {
          requestEquipment.then(this.fetchRates);
          destroyWatcher();
        });
      }
    },
    name: 'favoritesListing',
    watch: {

      /**
       * Fetch new rates when the ratesPlace changes
       * @param {object} place a rates place object (from google)
       */
      ratesPlace(place) {
        if (isEmpty(place)) {
          return;
        }
        this.fetchRates();
      },
    },
  };
</script>
