.file-sort-buttons {
  display: flex;

  button {
    display: block;
    text-align: center;
    font-weight: 400;
    padding: 3px;
    position: relative;
  }

  i {
    font-size: 18px;
  }

  span {
    line-height: 1;
    position: absolute;
    top: 7px;
  }
}