<div class="file-sort-buttons">
  <button class="button button--style-1 button--default">
    <i class="icon icon-filter"></i>  <span>Filters</span>
  </button>
  <button class="button button--style-1 button--default">
    <i class="icon icon-sort"></i> <span>Sort</span>
  </button>
</div>