.not-found-container {
  padding: 1.5em;
  @include breakpoint($break-small) {
    padding: 2.5em;
  }
  @include breakpoint($break-medium) {
    padding: 4em;
  }
  @include breakpoint($break-large) {
    padding: 3.25em 2.5em 5em 2.5em;
  }
}
