/* card customizations */
.workplace-widgets {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.workplace-widget {
  position: relative;
  flex: 0 0 100%;
  border: $border-grey;
  margin-bottom: 15px;
  overflow: hidden;

  @include breakpoint($break-small) {
    flex: 0 0 49%;
  }

  @include breakpoint($break-medium) {
    flex: 0 0 32%;
  }

  &.card {
    width: 100%;

    a {
      color: $color-grey-69;
    }
  }

  /* card header customizations */

  .card-header {
    .time-ago {
      color: $color-grey-38;
      min-width: 50px;
      white-space: nowrap;

      &.shimmer {
        background-color: #eee;
      }

      time {
        font-size: .875em;
      }
    }

    .icon-info-circle {
      color: $color-blue;
      font-size: .875em;
    }

    .kebab-button {
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
      display: flex;
      font-size: 1.5rem;
      height: 35px;
      justify-content: center;
      position: relative;
      width: 41px;

      &.active {
        background-color: #c9cccd;
      }

      &:hover {
        background-color: #c9cccd;
      }

      & i {
        margin-right: -5px;
      }
    }

    .ur-menu-container {
      border-radius: 4px;
      text-align: left;
      right: 0;
      padding: 1rem 0 0.57rem 0;
      min-width: 120px;
    }

    .list-item {
      color: black;
      margin-bottom: 0 !important;
      line-height: 24px;
      text-decoration: none;

      &:hover {
        background-color: rgba(221, 224, 226, .9);
      }
    }
  }

  /* card body customizations */
  .widget-body,
  .card-body > div {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .vue-map-container {
    height: 100%;
    width: 100%;
  }

  .no-data {
    display: flex;

    & > p {
      display: inline-block;
      color: $color-grey-38;
    }

    .icon-check {
      font-size: 4rem;
      color: $color-green;
      margin-top: -3%;
    }
  }

  .loading,
  .no-markers {
    text-align: center;
  }
}

.dashboard .account-selector {
  & label {
    padding-right: 20px;
  }
}

.refresh-now {
  display: block;
  width: inherit;
  height: inherit;
  padding: .5em 1em;
  line-height: 1em;
  z-index: 1;

  & span:first-child {
    vertical-align: middle;
    font-size: .875em;
    font-weight: 500;
  }

  & span:last-child {
    font-size: 1.15em;
    vertical-align: bottom;
  }
}

.dashboard {
  padding: rem(40) 0;

  @include breakpoint($break-medium) {
    padding: rem(40) 0;
  }

  .widget-section, .dashboard__carousel.minimal {
    padding: rem(10) rem(14);

    @include breakpoint($break-small) {
      padding: rem(10) rem(32);
    }
    @include breakpoint($break-medium) {
      padding: rem(10) rem(64);
    }
    @include breakpoint($break-large) {
      padding: rem(10) rem(80);
    }
  }

  &__unauthenticated--image {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__item-not-found {
    line-height: 2.5em;
    margin: 0 auto;
    @include breakpoint($break-small) {
      padding: 1.5em 2.5em;
      background-color: white;
      box-shadow: $shadow-card;
      border: 1px solid $color-grey-11;
      border-radius: $border-thick;
    }
    @include breakpoint($break-medium) {
      padding: 2.25em 7.5em;
    }
  }

  // Unauthenticated Dashboard CTA
  &__sign-in {
    display: flex;
    padding: 20px 12px 40px;
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: $shadow-card;
    border: 1px solid $color-grey-11;
    border-radius: $border-thick;

    @include breakpoint($break-small) {
      flex-direction: row;
      margin-bottom: 1rem;
      padding: 9px;
    }

    @include breakpoint($break-large) {
      padding: 3rem 3rem 4rem 3rem;
    }

    &__col {
      flex: 1;
    }

    &--copy {
      @include breakpoint($break-small) {
        padding: 36px 5%;
      }
    }

    &__heading,
    &__subheading {
      -webkit-font-smoothing: antialiased;
    }

    &__heading {
      // @TODO: Confirm the font settings are snowflakes with Argo
      font-size: 20px;
      line-height: 25px;
      margin: 20px 0 10px 0;

      @include breakpoint($break-small) {
        margin: 0 0 28px 0;
        font-size: 24px;
      }

      @include breakpoint($break-medium) {
        font-size: 28px;
      }
    }

    &__subheading {
      margin-bottom: 18px;

      @include breakpoint($break-small) {
        margin-bottom: 21px;
      }
    }

    &__buttons {
      margin-bottom: 21px;

      @include breakpoint($break-small) {
        margin-bottom: 23.5px;
      }

      @include breakpoint($break-medium) {
        display: flex;
        justify-content: space-between;
      }

      .button {
        -webkit-font-smoothing: antialiased;
        width: 100%;

        &:first-child {
          margin-bottom: 8px;
        }

        @include breakpoint($break-medium) {
          width: 48.5%;

          &:first-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.equipment-list .dashboard__carousel {
  .VueCarousel-wrapper{
    &::before {
      @include breakpoint($break-small) {
        display: block;
        width: 29px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%);
        content: ' ';
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 5;
      }
      @include breakpoint($break-medium) {
        width: 60px;
      }
      @include breakpoint($break-large) {
        width: 78px;
      }
    }
    &::after {
      @include breakpoint($break-small) {
        display: block;
        width: 29px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%);
        content: ' ';
        position: absolute;
        right: 0px;
        top: 0px;
      }
      @include breakpoint($break-medium) {
        width: 60px;
      }
      @include breakpoint($break-large) {
        width: 78px;
      }
    }
  }
}

.equipment-list .dashboard__carousel, .dashboard .dashboard__carousel {
  .card-body {
    height: rem(72);
    border: none;
    margin: rem(10) rem(4);
    padding: rem(0) rem(16) 0 rem(16);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 2px 8px 1px rgba(22, 23, 24, 0.16);

    @include breakpoint($break-medium) {
      height: rem(100);
      margin: rem(10) rem(8);
      padding: rem(0) rem(24) 0 rem(24);
    }
    @include breakpoint($break-large) {
      height: rem(140);
    }

    &.shimmer {
      align-items: start;
      padding: rem(10) rem(16);
      @include breakpoint($break-medium) {
        padding: rem(10) rem(24);
      }
    }

    &-active, &:hover  {
      box-shadow: 0 4px 16px 1px rgba(22, 23, 24, 0.16);
    }

    h1 {
      @include breakpoint($break-large) {
        font-size: rem(44);
      }
    }

    h3 {
      margin-top: rem(7);
      @include breakpoint($break-medium) {
        margin-top: rem(2);
      }
      @include breakpoint($break-large) {
        margin-top: rem(14);
        font-size: rem(18);
      }
    }
  }

  .VueCarousel-slide {
    margin: 0 0 17px 0;
  }

  .VueCarousel-navigation {
    z-index:10;

    @include breakpoint($break-large) {
      display:block;
    }

    button.VueCarousel-navigation-button {
      //slick-arrow style.
      top: calc(50% - 8px) !important; // have to override <style> generated by VueCarousel
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: #ffffff;
      border: 0.07143rem solid #DDE0E2;
      border-radius: 100%;
      height: 2.28571rem;
      opacity: 1;
      top: 50%;
      width: 2.28571rem;
      -webkit-tap-highlight-color: transparent;
      display:none;
      i {
        display: none;
      }

      &::before{
        width:rem(24);
        height:rem(24);
      }

      &.VueCarousel-navigation--disabled {
        opacity: 0;
        cursor: default;
      }
      @include breakpoint($break-small) {
        display: block;
      }
    }

    button.VueCarousel-navigation-prev {
      left: rem(-4);
      @include breakpoint($break-small) {
        left: rem(4)
      }
      @include breakpoint($break-medium) {
        left: rem(27);
      }
      @include breakpoint($break-large) {
        left: rem(44);
      }
      &::before {
        background-image: url(/themes/custom/unitedrentals/images/icons/arrow-left--color-brand-primary.svg);
      }
    }

    button.VueCarousel-navigation-next {
      right: rem(-4);
      @include breakpoint($break-small) {
        right: rem(4);
      }
      @include breakpoint($break-medium) {
        right: rem(27);
      }
      @include breakpoint($break-large) {
        right: rem(44);
      }

      &::before {
        background-image: url(/themes/custom/unitedrentals/images/icons/arrow-right--color-brand-primary.svg);
      }
    }

    button::before {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      font-size: 1.71429rem;
      height: 1em;
      margin: auto;
      transition: all 300ms ease-in-out;
      width: 1em;
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.workplace-dashboard-card {
  & .card-body-active {
    border: 1px solid $color-grey-11;
    box-shadow: $shadow-card;
  }

  & .card-body {
    height: 140px;
    padding: 28px;

    & h1 {
      font-size: $font-size-display1;
      line-height: 48px;
      margin: 0 0 12px 0;
      padding: 0;
    }

    & h1.static {
      font-weight: normal;
    }

    & h1.active {
      font-weight: bold;
    }

    & h3 {
      font-size: 18px;
      font-weight: normal;
      line-height: 18px;
      margin: 0;
      padding: 0 0 0 6px;
      vertical-align: text-bottom;

      // Colored border settings are better than using "::before" in this case
      border-left-width: 3px;
      border-left-style: solid;

      &.onRent--bar {
        border-left-color: $color-grey-11;
      }

      &.overDue--bar {
        border-left-color: $color-bright-red;
      }

      &.pickupRequested--bar {
        border-left-color: $color-orange-highlight;
      }

      &.onTime--bar {
        border-left-color: $color-grey-11;
      }
    }

    &.shimmer {

      h1 {
        width: 40%;
      }

      .subtitle {
        border-left-color: transparent;

        &:before {
          background-color: transparent;
        }
      }
    }
  }
}

.workplace-dashboard-card {
  & .card-body {
    height: 68px;
    padding: 12px 16px;

    & h1 {
      font-size: $font-size-h3;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }

    & h3 {
      font-size: $font-size-small;
      font-weight: normal;
      line-height: 12px;
      margin: 0;
      padding: 0 0 0 4px;
      vertical-align: bottom;
    }
  }
}

@include breakpoint($break-medium) {
  .workplace-dashboard-card {
    & .card-body {
      height: 96px;
      padding: 16px 24px;

      & h1 {
        font-size: $font-size-h1;
        line-height: 36px;
        padding: 0;
        margin: 0 0 4px 0;
      }

      & h3 {
        font-size: $font-size-large;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding: 0 0 0 6px;
        vertical-align: bottom;
      }
    }
  }
}

/* map customizations */
.workplace-widget .leaflet-pane {
  z-index: 1 !important;
}

.workplace-widget .gm-style {
  opacity: 0;
}

.equipment-cluster-icon {
  background-image: url(/themes/custom/unitedrentals/dist/vue/img/map-markers/cluster-small.png);
  background-repeat: no-repeat;
  background-size: fit;
  background-position: center center;
  color: #FFF;
  text-align: center;
  line-height: 40px;
}

.equipment-marker {
  text-align: center;
  font-size: 1em;
  color: #FFF;
}

.em-small {
  width: 18px;
  height: 18px;
  margin: 0 -9px 0 -9px;
  line-height: 18px;
  border-radius: 9px;
}

.em-medium {
  width: 24px;
  height: 24px;
  margin: 0 -12px 0 -12px;
  line-height: 24px;
  border-radius: 12px;
}

.em-large {
  width: 30px;
  height: 30px;
  margin: 0 -15px 0 -15px;
  line-height: 30px;
  border-radius: 15px;
}

.ReservedForDelivery,
.AdvancedPickup {
  color: #FFF;
  background-color: $color-blue-lowlight;
}

.ReservedForBranchPickup,
.PickupRequested {
  color: #FFF;
  background-color: $color-grey-38;
}