<div class="workplace-equipment__header">
  <h2>All Equipment <span>(1,240)</span></h2>

  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": list_dropdown_button_title,
      "dropdown_button_icon": list_dropdown_button_icon,
    }
  %}
  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": group_dropdown_button_title,
      "dropdown_button_icon": group_dropdown_button_icon,
    }
  %}
  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": filter_dropdown_button_title,
      "dropdown_button_icon": filter_dropdown_button_icon,
    }
  %}
  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": sort_dropdown_button_title,
      "dropdown_button_icon": sort_dropdown_button_icon,
    }
  %}
  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": customize_dropdown_button_title,
      "dropdown_button_icon": customize_dropdown_button_icon,
    }
  %}
  {% include "@organisms/dropdown/dropdown.twig"
    with {
      "dropdown_button_title": more_dropdown_button_title,
      "dropdown_button_icon": more_dropdown_button_icon,
    }
  %}
  {% include "@atoms/06-buttons/dropdown-button/dropdown-button.twig"
    with {
      "dropdown_button_title": search_dropdown_button_title,
      "dropdown_button_icon": search_dropdown_button_icon
    }
  %}
</div>
{% include "@atoms/07-tables/flex-table.twig" %}
