<div class="catalog-listing">
  <div class="nested-navigation">
    {% include "@organisms/object-listing/faceted-search/authentication-panel/authentication-panel.twig" %}
    {% include "@organisms/object-listing/faceted-search/navigation-panel/navigation-panel.twig"
      with {
        "select_modifiers": nav_panel_select_modifier
      }
    %}
    {% include "@organisms/object-listing/faceted-search/contextual-links-panel/contextual-links-panel.twig" %}
    {% include "@organisms/object-listing/faceted-search/filter-panel/filter-panel.twig" %}
  </div>
</div>
