.contextual-links-panel {

  &__label {
    margin: 36px 0 0 0;

    .container-inline {
      display: flex;
      justify-content: space-between;

      .collapse__paragraph {
        color: $color-grey-38;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .heading-5 {
      margin: 0;
    }
  }

  &__parent {
    a {
      display: block;
      color: $color-grey-38;
      font-size: 12px;
      margin: 20px 0;
    }
  }
}

