<div class="contextual-links-panel">

  <div class="contextual-links-panel__label">
    <div class="container-inline">
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
        with {
          "heading_5": con_heading_5
        }
      %}
      <p class="collapse__paragraph link">Collapse</p>
    </div>
  </div>

  <div class="contextual-links-panel__parent">
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_content": parent_link_content,
        "link_url": "#"
      }
    %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_content": "Accessories",
        "link_url": "#"
      }
    %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_content": "Recently Viewed",
        "link_url": "#"
      }
    %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_content": "Recently Purchased",
        "link_url": "#"
      }
    %}
  </div>
</div>