.teaser-list {

  &__item-left {
    margin-right: 20px;
    flex-shrink: 0;
    max-width: 115px;
  }

  &__item-right {
    display: flex;
    flex-direction: column;
  }

  &__item-content {
    width: 100%;
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid $color-grey-11;

    .heading-4--teaser-list {
      flex-grow: 1;
      margin-top: 0;
      margin-bottom: 5px;

      @include breakpoint($break-medium) {
        flex-grow: 0;
      }
    }
  }

  &__links {
    color: $color-blue;

    a {
      color: $color-blue;
    }
  }

  &__divider {
    margin: 0 5px;
  }
}