<div class="teaser-list__item">
  <article class="teaser-list__item-content">
    {% block content %}
      {% if image_src %}
        <div class="teaser-list__item-left">
          <img class="teaser-list__image" src="{{ image_src }}" alt="{{ image_alt }}" />
        </div>
      {% endif %}
      <div class="teaser-list__item-right">
        {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
          with {
            "heading_4": title,
            "heading_4_url": title_href,
            "heading_4_modifiers": title_modifiers,
            "heading_4_blockname": title_blockname,
          }
        %}
        {% if content %}
          <div class="teaser-list__item-right__content">
            {{ content }}
          </div>

          {% if read_more == true %}
            {% include "@atoms/01-links/link/link.twig"
              with {
                "link_content": read_more_content,
                "link_url": read_more_url
              }
            %}
          {% endif %}
        {% endif %}

        {% if accordion_content %}
          {% include "@atoms/03-lists/02-definition.twig"
            with {
              list_dl_modifiers: accordion_modifiers,
              list_dl_blockname: accordion_blockname,
              list_dl: accordion_list
            }
          %}

        {% endif %}

        {% if piped_links == true %}
          <div class="teaser-list__links">
            {%  include "@atoms/01-links/link/link.twig"
              with {
                "link_url": link_1_url,
                "link_content": link_1_content,
                "link_modifiers": "teaser-lists-details__view__link",
                "link_attributes": link_1_attributes
              }
            %}
            {% if link_2_content and link_2_url %}
              <span class="teaser-list__divider">|</span>
              {%  include "@atoms/01-links/link/link.twig"
                with {
                  "link_url": link_2_url,
                  "link_content": link_2_content,
                  "link_modifiers": "teaser-lists-details__download__link",
                  "link_attributes": link_2_attributes,
                }
              %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </article>
</div>