.empty-results-container {
  display: flex;
  flex-direction: column;

  .empty-results-subhead {
    font-size: $font-size-h2;
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .better-results {
    font-size: $font-size-base;
    line-height: 32px;
  }

  .subhead {
    font-weight: bold;
  }

  .customer-care {
    display: flex;
    flex-direction: row;
    div {
      padding-left: 4px;
    }
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

/*
---
name: Empty Results Content
category: Organisms
---
A null search result will display the following content:
* Subhead: No results found for '{searchterm}'.
* CTA Header: For better results:
* CTA List:
    * Adjust your filters
    * Update your search terms
    * Try another nearby branch
    * Call 24/7 Customer Care: 844.873.4949


```empty-results.html
<div class="empty-results-container">
    <div class="empty-results-subhead">No results found for <span class="subhead">'overly complicated search query'</span></div>
    <div class="better-results subhead">For better results: </div>
    <div class="better-results">Adjust your filters</div>
    <div class="better-results">Update your search terms</div>
    <div class="better-results">Try another <a href="/locations">nearby branch</a></div>
    <div class="better-results customer-care">Call 24/7 Customer Care:
        <div><a>844.496.4464</a></div>
    </div>
</div>
```

```empty-results.css hidden
.empty-results-subhead{
  margin-top: 0;
}
```
*/
