{% set catTitle = (currentSubCategory) ? currentSubCategory.name : currentCategory.name %}
{% set termId = (currentSubCategory) ? currentSubCategory.tid : currentCategory.tid %}
<aside class="equipment-listing--siderail nested-navigation">
  <authentication-panel refresh-on-change="1" get-location-on-init="1"></authentication-panel>
  <equipment-search :use-view-callback="true"
    term-id="{{ termId }}"
    placeholder="{{ 'within' | t }} {{ catTitle|length > 6 ? catTitle|slice(0, 6) ~ '...' : catTitle }}"
  ></equipment-search>
  {% if categories %}
    {% include '/modules/custom/ur_equipment/templates/partials/navigation-panel.html.twig' %}
  {% endif %}
  {% include '/modules/custom/ur_equipment/templates/partials/recommended-links.html.twig' %}
  {% if equipmentAttributes %}
    {% include '/modules/custom/ur_equipment/templates/partials/filters.html.twig' %}
  {% endif %}
</aside>