.platform-account-reservation-details-status,
.platform-account-reservation-details-item,
.platform-account-reservation-details-jobsite,
.platform-account-reservation-details-delivery-pickup,
.platform-account-reservation-details-billing,
.platform-account-reservation-details-req-codes,
.platform-account-reservation-details-accounting-codes,
.platform-account-terms-and-conditions,
.platform-account-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 1rem;
  >h1 {
    margin-bottom: 0;
  }

  >h3 {
    width: 100%;
  }

  .cart__img {
    @include breakpoint($break-small) {
      margin: 0 auto;
    }
  }

  .cart__details {
    margin-top: 1rem;
  }

  .cart__item {
    padding: 27px;
  }

  .cart__cat_class_code,
  .cart__details__name {
    margin-left: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    flex-wrap: wrap;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .group-left,
  .group-right {
    padding: 10px 0 0 0;
    @include breakpoint($break-small) {
      padding: 20px 0;
    }
  }

  .group-left {
    @include setColumn(2, 12);
    @include breakpoint($break-small) {
      @include setColumn(2, 12);
    }
    p {
      text-align: left;
      @include breakpoint($break-small) {
        text-align: center;
      }
    }
  }

  .group-right {
    @include setColumn(10, 12);
    border-bottom: none;
  }

  .inner-column_centered {
    @include setColumn(6, 12);
  }

  .inner-column_left {
    @include setColumn(4, 12);
  }

  .inner-column_middle {
    @include  setColumn(4, 12);
  }

  .inner-column_right {
    @include setColumn(4, 12);
  }

  .inner-column_codes {
    @include setColumn(6, 12);
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    @include breakpoint($break-small) {
      @include setColumn(1, 3);
    }
  }

  .group-full {
    @include setColumn(12, 12);

    p.label {
      margin: 10px 0 0 0;
    }

    h4 {
      margin-top: 8px;
    }
  }

  .section_name {
    color: $gray;
    font-size: $font-size-xsmall;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__chip {
    background-color: $color-orange;
    border-radius: 100px;
    color: $white;
    height: 14px;
    width: 110px;
    padding: 3px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-xsmall;
    font-weight: bold;
    line-height: 9px;
    text-align: center;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;

    @include breakpoint($break-small) {
      float: none;
      margin: 10px auto;
    }
  }

  .label {
    font-weight: bold;
    > span {
      font-weight: normal;
      margin-left: 1rem;
      @include breakpoint($break-small) {
        margin-left: 0;
      }
    }
  }

  .inner-label {
    font-weight: bold;
    font-size: 0.7rem;
    > span {
      font-weight: normal;
    }
  }

  &__address,
  &__contact {
    > p {
      line-height: 1.25rem;
      margin: 0;
      padding: 0;
    }
  }
}

.platform-account-item-list-status {
  border-top: 1px solid $gray-light;
}

.no-border {
  border: none !important;
}

.platform-account-reservation-details-status {
  margin-top: 1.5rem;
  >h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @include breakpoint($break-small) {
      font-size: 2rem;
    }
  }
}

.platform-account-reservation-details-jobsite,
.platform-account-reservation-details-delivery-pickup,
.platform-account-reservation-details-billing {
  &__container {
    flex-direction: column;
    @include breakpoint($break-small) {
      flex-direction: row;
    }
  }
}

.platform-account-reservation-details-jobsite__container {
  >h3 {
    margin-bottom: 0;
  }
}
