<section class="platform-account-browse-search-item-list">
  {% for item_list in platform_account_reservation_details_item_list %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-details-item.twig" with {
      "platform_account_reservation_details_cat_class": item_list.cat_class,
      "platform_account_reservation_details_item_name": item_list.item_name,
      "platform_account_reservation_details_pricing": item_list.pricing,
      "platform_account_reservation_details_quantity_label": item_list.quantity_label,
      "platform_account_reservation_details_quantity": item_list.quantity,
      "platform_account_reservation_details_duration_label": item_list.duration_label,
      "platform_account_reservation_details_duration": item_list.duration,
    }
    %}
  {%  endfor %}
</section>