<section class="platform-account-browse-search-item-list">
  {% for list_item in platform_account_reservation_browse_search_item_list %}
    {% include "@molecules/platform-account-reservation/platform-account-reservation-item-list.twig" with {
        "platform_account_reservation_list_item_item_name": list_item.item_name,
        "platform_account_reservation_list_item_reservation_number": list_item.reservation_number,
        "platform_account_reservation_list_item_price": list_item.price,
        "platform_account_reservation_list_item_reservation_status": list_item.reservation_status,
        "platform_account_reservation_list_item_reservation_status": list_item.reservation_status,
        "platform_account_reservation_list_item_account_name": list_item.account_name,
        "platform_account_reservation_list_item_account_number": list_item.account_number,
        "platform_account_reservation_list_item_created_date": list_item.created_date,
        "platform_account_reservation_list_item_expire_date": list_item.expire_date,
        "platform_account_reservation_list_item_item_quantity": list_item.item_quantity,
        "platform_account_reservation_list_item_button_link_text": list_item.button_link_text
      }
    %}
  {% endfor %}
</section>