@import './functions';

@mixin mod($modsets...) {
  $nested-selector: select-inner(&);

  @each $mods in $modsets {
    $unified: null;
    @each $mod in $mods {
      $modded: #{$nested-selector}--#{$mod};
      @if not($unified) {
        $unified: $modded;
      } @else {
        $unified: selector-unify($unified, $modded);
      }
    }
    &#{$unified} {
      @content;
    }
  }
}
