@import 'styles/globals';

// Main
$listing-border-color: $color-grey-11;
$listing-border-radius: $border-radius-med;
$listing-border: 1px solid $listing-border-color;
$listing-border-transparent: 1px solid rgba(0, 0, 0, 0);
$listing-font-size: 14px;
$listing-z-index: (
  data-pinned: 4,
  data: 1,
  header-wrapper: 6,
  hidden: -1,
  horizontal-overflow-shadow: 3,
  resize-handle: 8,
  resize-proxy: 11,
  row-link-hover: 11,
  sort-controls: 8,
  table-header-pinned: 7,
  table-header: 3,
  vertical-overflow-shadow: 7,
);

// Rows
$listing-row-bg: $color-white;
$listing-row-bg-even: $color-grey-5;
$listing-row-bg-odd: $color-white;
$listing-row-group-header-background: $color-white !important;
$listing-row-group-header-height: 64px;
$listing-row-highlight-background: $color-blue-subtle !important;
$listing-row-highlight-border: solid 1px $color-blue-highlight;

// Resize handle and visuals
$listing-resize-handle-width: 12px;
$listing-resize-handle-background: rgba(#000000, .02);
$listing-resize-proxy-color: $color-blue-highlight;
$listing-resize-proxy-width: 2px;
$listing-resize-proxy-bg: rgba($listing-resize-proxy-color, 0.05);

// Cells -- Table Header
$listing-cell-padding: 0 .8rem;
$listing-table-header-cell-color: $color-text-subtle;

// Sort Controls
$listing-sort-controls-color: $color-text-subtle;
$listing-sort-controls-active-color: $color-blue-highlight;
$listing-sort-controls-padding: 5px;
$listing-sort-controls-size: 12px;
$listing-sort-controls-bg: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
$listing-sort-controls-top: calc(50% - #{($listing-sort-controls-size + 2 * $listing-sort-controls-padding) / 2});

// Overflow shadows
$listing-overflow-shadow-black: 0px 0px 12px 4px rgba(0, 0, 0, 0.15);
$listing-overflow-shadow-white: 0px 0px 24px 12px $color-white;
