{% for item in items %}
  {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
    with {
      "heading_1": item.content[0]['#context'].output,
      "heading_1_modifiers": ["title"],
    }
  %}
{% endfor %}
