{% set imageList = [] %}

{% for item in items %}
  {% set imageList = imageList|merge({ (item.content['#item'].entity.uri.value|image_style('equipment_detail_175')) :
  item.content['#item'].alt}) %}
{% endfor %}

<equipment-carousel
  :images="{{ imageList|json_encode() }}">
</equipment-carousel>