{% for item in items %}
  {% include "@atoms/_basic-field.twig"
    with {
      "basic_field_content": item.content,
      "basic_field_label": label,
      "label_display": label_display,
      "label_hidden": label_hidden,
      "basic_field_modifiers": ["cat-class-code"],
    }
  %}
{% endfor %}
