<template>
  <information-card
    :loading="!detailItemOrNull"
    title="Account"
  >
    <div>
      <p>{{ customerNameLabel }}</p>
      <p>{{ accountIdLabel }}</p>
    </div>
  </information-card>
</template>
<script>
  import Vue from 'vue';
  import { get } from 'lodash';
  import InformationCard from '@/components/workplace/common/information-card';
  import { mapGetters } from 'vuex';
  import types from '@/store/types';

  export default Vue.extend({
    components: {
      InformationCard,
    },
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      customerNameLabel() {
        return get(this.detailItemOrNull, ['customerName'], 'Loading account info...');
      },
      accountIdLabel() {
        return `#${get(this.detailItemOrNull, ['accountId'], '')}`;
      },
    },
  });
</script>
