<template>
  <information-card
    :loading="!detailItemOrNull"
    title="Branch"
  >
    <div>
      <p>{{ branchIdLabel }}</p>
      <br>
      <h5>{{ $i18n('reservationView.contact') }}</h5>
      <p>{{ branchManagerNameLabel }}</p>
      <p><a :href="branch.phone | telLink">{{ branch.phone }}</a></p>
    </div>
  </information-card>
</template>
<script>
  import Vue from 'vue';
  import { get } from 'lodash';
  import InformationCard from '@/components/workplace/common/information-card';
  import { mapGetters } from 'vuex';
  import types from '@/store/types';

  export default Vue.extend({
    components: {
      InformationCard,
    },
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      branch() {
        return get(this.detailItemOrNull, ['branch'], '');
      },
      branchIdLabel() {
        return `${get(this.detailItemOrNull, ['branchId'], '')}`;
      },
      branchManagerNameLabel() {
        return `${get(this.branch, ['managerName'], '')}`;
      },
    },
  });
</script>
