<template>
  <information-card
    :loading="!(reservationDetailsOrNull || detailItemOrNull)"
    :title="transTypeLabel"
  >
    <div>
      <h5>{{ transIdLabel }}</h5>
      <p v-if="orderStatusLabel.length>0">
        <span class="status-span" :style="{background: orderStatusColor}"></span>
        <span>{{ orderStatusLabel }}</span>
      </p>
      <br>
      <h5>{{ $i18n('cartItem.duration') }}</h5>
      <p v-if="detailItemOrNull">
        {{ startDate | momentSlashYYFormat }} - {{ endDate | momentSlashYYFormat }}
      </p>
      <p v-else>{{ startDate }} - {{ endDate }}</p>
      <br>
      <h5>{{ $i18n('workplace.infoCard.poNumber') }}</h5>
      <p>{{ po }}</p>
      <br>
      <h5>{{ $i18n('ur.requesterLabel') }}</h5>
      <p>{{ requesterLabel }}</p>
      <br>
      <h5>{{ $i18n('workplace.estimatedTotal') }}</h5>
      <p>{{ estimatedTotal | decimalCurrency }}</p>
    </div>
  </information-card>
</template>

<script>
  import Vue from 'vue';
  import { get } from 'lodash';
  import { mapGetters } from 'vuex';
  import { TransactionType, ContractStatusId } from '@/lib/transactions';
  import { ChargeEstimateUtils } from '@/lib/estimates';
  import types from '@/store/types';
  import InformationCard from '@/components/workplace/common/information-card';

  export default Vue.extend({
    components: {
      InformationCard,
    },
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
        estimatesOrNull: types.workplace.equipmentDetails.estimatesOrNull,
        orderStatuses: types.workplace.equipmentDetails.orderStatuses,
        reservationDetailsOrNull: types.workplace.equipmentDetails.reservationDetailsOrNull,
      }),
      startDate() {
        return get(this.detailItemOrNull, ['startDateTime'], 'Start');
      },
      endDate() {
        return get(this.detailItemOrNull, ['returnDateTime'], 'End');
      },
      po() {
        return get(this.detailItemOrNull, ['po'], '');
      },
      estimatedTotal() {
        return !this.estimatesOrNull
          ? 0
          : ChargeEstimateUtils.calculateSumTotal(this.estimatesOrNull.totals);
      },
      item() {
        return this.detailItemOrNull || {};
      },
      orderStatusColor() {
        const [status = {}] = this.orderStatuses.contractStatuses;
        return status.color;
      },
      orderStatusLabel() {
        const [status = {}] = this.orderStatuses.contractStatuses;
        switch (status.id) {
          case ContractStatusId.Open: return this.$i18n('dashboard.open');
          case ContractStatusId.DueSoon: return this.$i18n('dashboard.dueSoon');
          case ContractStatusId.Overdue: return this.$i18n('dashboard.overdue');
          case ContractStatusId.Closed: return this.$i18n('dashboard.closed');
          default: return '';
        }
      },
      requesterLabel() {
        return get(this.detailItemOrNull, ['requesterName'], '');
      },
      transIdLabel() {
          const transId = get(this.detailItemOrNull, ['transId'], '');
          return this.transTypeLabel.length > 0
            ? `#${transId}`
            : 'Loading transaction info...';
      },
      transTypeLabel() {
        switch (this.detailItemOrNull && this.detailItemOrNull.transType) {
          case TransactionType.Closed:
          case TransactionType.Rental: return this.$i18n('workplace.contract');
          case TransactionType.Reservation: return this.$i18n('ur.reservationLabel');
          case TransactionType.Quote: return this.$i18n('ur.quotesLabel');
          default: return '';
        }
      },
    },
  });
</script>
