<template>
  <information-card
    :loading="!detailItemOrNull"
    title="Jobsite"
  >
    <div>
      <p>{{ jobsiteName }}</p>
      <p>{{ jobsiteId }}</p>
      <br>
      <h5>{{ $i18n('ur.address') }}</h5>
      <p>{{ jobsite.address1 }}</p>
      <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
      <br>
      <h5>{{ $i18n('reservationView.contact') }}</h5>
      <p>{{ jobsite.contact }}</p>
      <p><a :href="jobsite.phone | telLink">{{ formattedPhoneNumber(jobsite.phone) }}</a></p>
      <p><a :href="jobsite.mobilePhone | telLink">{{ formattedPhoneNumber(jobsite.mobilePhone) }}</a></p>
      <p><a :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a></p>
    </div>
  </information-card>
</template>
<script>
  import Vue from 'vue';
  import { get } from 'lodash';
  import { mapGetters } from 'vuex';
  import types from '@/store/types';
  import InformationCard from '@/components/workplace/common/information-card';

  export default Vue.extend({
    components: {
      InformationCard,
    },
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      jobsiteName() {
        return get(this.jobsite, ['name'], 'Loading jobsite info...');
      },
      jobsiteId() {
        return get(this.detailItemOrNull, ['customerJobId'], {});
      },
      jobsite() {
        return get(this.detailItemOrNull, ['jobsite'], {});
      },
    },
    methods: {
      formattedPhoneNumber(phoneNumber) {
        if (!phoneNumber) {
          return '';
        }
        if (phoneNumber.length < 10) {
          return phoneNumber;
        }
        const phoneSegmentArray = phoneNumber.match(/^(\d{3})(\d{3})(\d{4})$/);
        if (!phoneSegmentArray) return phoneNumber;
        return `${phoneSegmentArray[1]}-${phoneSegmentArray[2]}-${phoneSegmentArray[3]}`;
      },
    },
  });
</script>
