<div class="global-search__field global-search__search-box {{ search_results_class }}">
  <input type="text" name="" value="" placeholder="{{ placeholder_search }}">
  <i class="icon icon-search"></i>
  <span class="global-search__clear">{{ clear_text }}</span>
  <div class="global-search__search-results">
    {% for group in search_results %}
      <div class="global-search__results-group">
        <div class="global-search__results-group--label">
          <a href="{{ group.link }}">{{ group.label }}</a>
          <span>{{ group.count }}</span>
        </div>
        <div class="global-search__results-objects">
          {% for object in group.objects %}
            <div class="global-search__results-object">
              <a href="{{ object.link }}">{{ object.label|raw }}</a>
              {% if object.distance %}<span class="global-search__results-object--distance">{{ object.distance }}</span>{% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
