<div class="global-search__field global-search__location {{ location_results_class }}">
  <input type="text" name="" value="" placeholder="{{ placeholder_location }}">
  <i class="icon icon-map-marker"></i>
  <span class="global-search__clear">{{ clear_text }}</span>
  <div class="global-search__search-results pac-container">
    {% for location in locations_result %}
      <div class="pac-item">
        <span class="pac-item-query">
          <span class="pac-matched">{{ location.matched }}</span>{{ location.query }}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
