<template>
  <div class="dashboard dashboard__unauthenticated">
    <div class="dashboard__wrapper">
      <null-dashboard-sign-in
        :heading="$i18n('dashboard.nullState.loggedInTitle', {'@firstName': formattedFirstName})"
        :subHeading="$i18n('dashboard.nullState.text')"
      />
      <null-dashboard-faux-widgets/>
    </div>
  </div>
</template>
<script>
  import { types } from '@/store';
  import UrGtm from '@/mixins/ur-gtm';
  import NullDashboardSignIn from '@/components/workplace/shared/null-dashboard-sign-in.vue';
  import NullDashboardFauxWidgets from '@/components/workplace/shared/null-dashboard-faux-widgets.vue';
  import { mapGetters, mapActions, mapState } from 'vuex';

  export default {
    components: {
      NullDashboardSignIn,
      NullDashboardFauxWidgets,
    },
    computed: {
      ...mapState({
        tcUser: state => state.tcUser,
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      formattedFirstName() {
        // Format the TC User's first name since DAL always returns uppercase.
        const firstName = this.tcUser.firstName.toLowerCase();
        return firstName.charAt(0).toUpperCase() + firstName.substr(1);
      },
    },
    methods: {
      ...mapActions({
        fetchTcUser: types.tcUser.fetch,
      }),
    },
    mounted() {
      // Retrieve TC User information if we don't have tcUser already in state.
      if (this.tcUser.firstName === '') {
        this.fetchTcUser();
      }
    },
    mixins: [
      UrGtm,
    ],
  };
</script>
