.news-block {
  position: relative;

  @include breakpoint($break-medium) {
      margin: 3% 5%;
  }

  &::after {
    content: '';
    display: block;
    padding-top: 104%;

    @include breakpoint($break-small) {
      padding-top: 54%;
    }
  }

  &__holder {
    @include fill-container;

    @include breakpoint($break-small) {
      display: flex;
    }
  }

  &__featured-news-holder {
    position: relative;
    height: 62.5%;
    overflow: hidden;

    @include breakpoint($break-small) {
      height: 100%;
      @include setColumn(496, 768);
    }

    .VueCarousel{
      &-dot {
        margin-top: 0  !important;
      }

      &-pagination {
        width: auto !important;
        float: none !important;
        text-align: left !important;
        position: absolute;
        left: 4%;
        bottom: 6%;

        @include breakpoint($break-small) {
          left: 6%;
          bottom: 6%;
        }

        @include breakpoint($break-medium) {
          left: 5%;
          bottom: 5%;
        }
      }

      &-navigation {
        &-button {
          top: auto !important;
          bottom: 24px !important;
          @extend .icon;
          @extend .icon-angle-down;
          font-size: 18px !important;
          color: $color-grey-11 !important;
          border: 2px solid $color-grey-11;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          line-height: 32px;

          &:before {
            display: block;
            position: absolute;
            font-size: 18px;
            line-height: 18px;
            width: 18px;
            height: 18px;
            text-align: center;
            left: 50%;
            top: 50%;
          }
        }

        // &--disabled {
        //   color: $color-grey-11 !important;
        //   opacity: 1 !important
        // }

        &-prev {
          transform: none !important;
          left: auto !important;
          right: 64px !important;

          &:before {
            transform: rotate(90deg) translate(-50%,50%);
          }
        }

        &-next {
          transform: none !important;
          right: 24px !important;

          &:before {
            transform: rotate(270deg) translate(50%,-50%);
          }
        }
      }
    }
  }

  &__recent-news-holder {
    height: 37.5%;
    display: flex;

    @include breakpoint($break-small) {
      height: 100%;
      @include setColumn(272, 768);
      flex-direction: column;
    }
  }

  &__recent-news-container {
    flex-grow: 1;
    position: relative;
  }
}
