<div class="news-block">
  <div class="news-block__holder">
    <div class="news-block__featured-news-holder">
      {% block featured_news_tile %}
        {% include "@organisms/tile/news/featured-news-tile/_featured-news-tile.twig"
          with {
            featured_news_tile_catagory: "Featured News",
            featured_news_tile_headline: "United Rentals Announces Fourth Quarter and Full Year, 2016 Results Provides 2017 Outlook Agrees to Acquire NES Rentals",
            featured_news_tile_link_label: "Read More",
            featured_news_tile_link_path: "#",
          }
        %}
      {% endblock %}
    </div>
    <div class="news-block__recent-news-holder">
      <div class="news-block__recent-news-container">
        {% block news_tile_primary %}
          {% include "@organisms/tile/news/news-tile/_news-tile.twig"
            with {
              news_tile_class: "news-tile--primary",
              news_tile_catagory: "Press Release",
              news_tile_headline: "United Rentals Announces Pricing of Add-On Offering of $250 Million of 5.875% Senior Notes Due 2026",
              news_tile_date: "February 22, 2017",
              news_tile_path: "#",
            }
          %}
        {% endblock %}
      </div>
      <div class="news-block__recent-news-container">
        {% block news_tile_secondary %}
          {% include "@organisms/tile/news/news-tile/_news-tile.twig"
            with {
              news_tile_class: "news-tile--secondary",
              news_tile_catagory: "In the News",
              news_tile_headline: "United Rentals to Present at the Evercore ISI 2017 Industrials Conference",
              news_tile_date: "February 21, 2017",
              news_tile_path: "#",
            }
          %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
