{#
/**
 * Available variables:
 * - link_modifiers - array of modifiers to add to the base classname
 * - link_blockname - blockname prepended to the base classname
 * - link_attributes - array of attribute,value pairs
 * - link_url - the url this link should poing to
 * - link_content - the content of the link (typically text)
 *
 * Available blocks:
 * - link_content - used to replace the content of the link with something other than text
 *   for example: to insert the image component
 */
#}
<button class="button{% for modifier in link_modifiers %} button--{{ modifier }}{% endfor %}{% if link_blockname %} {{ link_blockname }}__link{% endif %}" {% for attribute,value in link_attributes %}{{ attribute }}="{{ value }}"{% endfor %} href="{{ link_url }}">
  {% block link_content %}
    {{ link_content }}
  {% endblock %}
</button>
