<template>
  <div class="costs-fees equipment-details-section">
    <h2 class="no-border">{{ $i18n('workplace.estimatedCostsAndFees') }}</h2>

    <div class="line-item-container">

      <div class="line-item p-0"></div>

      <!-- Equipment totals -->
      <div v-for="item in estimateItems" :key="item.catClass" class="line-item">
        <span class="fw-bold fs-h5">
          {{ item.title | ellipses(50) }}
          <template v-if="item.quantity > 1">-  Qty: {{ item.quantity }}</template>
        </span>
        <span>{{ item.total | decimalCurrency}}</span>
      </div>

      <!-- Subtotals -->
      <div class="line-item" style="flex-direction: row-reverse;">
        <div class="line-item-container" style="width: 50%;">
          <template v-for="(value, key) in subtotals">
            <div v-if="value > 0"  :key="key" class="line-item border-b-none p-t-0"><span class="fs-small c-gray">{{ key }}</span><span>{{ value | decimalCurrency}}</span></div>
          </template>
        </div>
      </div>

      <div class="line-item border-b-none" style="flex-direction: row-reverse;">
        <div class="line-item-container" style="width: 50%;">
          <div class="line-item fw-bold fs-large border-b-none"><span>{{ $i18n('reservationView.estTotal') }}</span><span>{{ estimatedCost | decimalCurrency}}</span></div>
        </div>
      </div>

    </div>
    <slot></slot>
  </div>
</template>

<script>
import { at, keyBy, get, sum, map, orderBy } from 'lodash';
import i18n from '@/data/i18n';
import { chargeEstimate } from '@/store/module.charge-estimates.helpers';

export default {
  name: 'CostsFees',
  props: { transaction: Object },
  asyncComputed: {
    estimate: chargeEstimate(vm => ({
      requisitionId: vm.transaction.requisitionNumber,
      equipment: Object.values(vm.transaction.equipment),
    })),
  },
  computed: {
    totals: vm => get(vm, 'estimate.totals', {}),
    items: vm => get(vm, 'estimate.items', {}),
    keyedEquipment: vm => keyBy(vm.transaction.equipment, 'catClass'),

    // Merge each estimate item onto its corrosponding equipment item
    // so it has updated total/rates/etc
    estimateItems: vm => orderBy(
      map(vm.items, (item, key) => ({
        ...vm.keyedEquipment[key],
        ...item,
      })),
      'total',
      'desc'
    ),

    estimatedCost: vm => sum(at(vm.totals, [
      'damageWaiverFee',
      'deliveryFee',
      'environmentFee',
      'miscellaneousFees',
      'pickupFee',
      'tax',
      'totalRentalAmount',
    ])),

    // Make an object of subtotals, keyed by label;
    subtotals: vm => ({
      [i18n.reservationView.environmentFee]: vm.totals.environmentFee,
      [i18n.reservationView.urDelivery]: vm.totals.deliveryFee,
      [i18n.reservationView.urPickup]: vm.totals.pickupFee,
      [i18n.reservationView.miscCharges]: vm.totals.miscellaneousFees,
      [i18n.cart.dwamt]: vm.totals.damageWaiverFee,
      [i18n.cart.tax]: vm.totals.tax,
    }),
  },
};
</script>
<style lang="scss" scoped>
  .workplace .line-item-container{
    max-height:none;
    padding:0;
  }
</style>
