<template>
  <div class="equipment-grid--item flex-row justify--space-between">
    <div>
      <div class="left" v-if="showCheckbox">
        <slot name="left">
          <equipment-selection-checkbox :equipment-id="item.equipmentId"/>
        </slot>
      </div>

      <img :src="imgSrc || $i18n('catalog.defaultImageSrc')"/>

      <div class="content flex-column">
        <slot name="suptitle">
          <p class="suptitle m-0 fs-small c-gray">{{ $i18n('workplace.equipmentId') }}: {{ item.equipmentId }}</p>
        </slot>
        <slot name="title">
          <p class="title m-0 fw-bold">{{ item.dalDescription }}</p>
        </slot>
        <div class="status-qty-container">
          <div v-if="item.equipmentStatuses.length > 0" class="status-detail-field m-l-5" :class="statusClass">
            <span>{{ equipmentStatusLabel }}</span>
          </div>
          <span v-if='item.quantity>1' class="qty">{{ $i18n('common.quantityShort') }}: {{ item.quantity }}</span>
        </div>
        <slot name="subtitle">
          <leniency-rates-text
            v-if="showLeniencyRates"
            class="subtitle fs-small m-0"
            :transactionId="item.transId"
            :lineNumber="item.transLineId"/>
        </slot>
      </div>
    </div>
    <slot name="right">
      <template v-if="showQuantitySelector && allowedQuantity > 1">
        <equipment-quantity-selector v-bind="item" :max="allowedQuantity"/>
      </template>
    </slot>
    <div v-if='item.quantity>1' class="qty lg">{{ $i18n('common.quantityShort') }}: {{ item.quantity }}</div>

    <div class="menu-button-wrapper">
      <actions-listing-field
        :item="item"
        :resource="{ column: { key: 'actions' }, field: { key: 'actions', collectionType: 'equipment' } }"
      />
    </div>
  </div>
</template>

<script>
  import { get } from 'lodash';
  import LeniencyRatesText from '@/components/workplace/reschedule-request/leniency-rates-text.vue';
  import QuantitySelector from '@/components/workplace/common/quantity-selector.vue';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';
  import types from '@/store/types';
  import { WorkplaceEquipmentStatusUtils } from '@/lib/workplace';
  import StatusesMixin from '@/components/workplace/shared/fields/status/mixins/statuses';

  import { equipmentAsyncComputed } from '@/store/module.catalog.helpers';
  import ActionsListingField from '../shared/fields/actions/listing-field';

  export const EquipmentSelectionCheckbox = {
    name: 'EquipmentSelectionCheckbox',
    props: ['equipmentId'],
    inheritAttrs: false,
    components: { UrCheckbox },
    template: `
    <ur-checkbox
      :checked="isSelected"
      @change="handleChange"
      v-bind="$attrs"
      v-on="$listeners" />`,
    methods: {
      handleChange(value) {
        this.$store.dispatch(types.workplace.rescheduleRequest.setEquipmentSelectedById, {
          equipmentId: this.equipmentId,
          selected: value,
        });
      },
    },
    computed: {
      isSelected() {
        return this.$store.getters[types.workplace.rescheduleRequest.selectedEquipment]
          .map(eqp => eqp.equipmentId)
          .includes(this.equipmentId);
      },
    },
  };

  export const EquipmentQuantitySelector = {
    name: 'EquipmentQuantitySelector',
    props: ['equipmentId'],
    inheritAttrs: false,
    components: { QuantitySelector },
    template: `
    <quantity-selector class="quantity-selector"
        :value="value"
        v-bind="$attrs"
        v-on="$listeners"
        @change="handleChange" />
  `,
    methods: {
      handleChange(value) {
        this.$store.dispatch(types.workplace.rescheduleRequest.setSelectedEquipmentQtyById, {
          equipmentId: this.equipmentId,
          quantity: value,
        });
      },
    },
    computed: {
      value() {
        return this.$store.state.workplaceRescheduleRequest.selectedEquipmentQtys[this.equipmentId];
      },
    },
  };

  export default {
    name: 'EquipmentGridItem',
    components: {
      LeniencyRatesText,
      ActionsListingField,
      EquipmentQuantitySelector,
      EquipmentSelectionCheckbox,
    },
    mixins: [StatusesMixin],
    data: () => ({
      catalogItemAttemptsRemaining: 5,
    }),
    props: {
      item: { type: Object, required: true },
      showQuantitySelector: {
        type: Boolean,
        default: false,
      },
      showCheckbox: {
        type: Boolean,
        default: false,
      },
      showLeniencyRates: {
        type: Boolean,
        default: false,
      },
    },
    asyncComputed: {
      catalogItem: {
        ...equipmentAsyncComputed(vm => ({
          catClass: vm.item.catClass,
        })),
        shouldUpdate() {
          if (this.catalogItemAttemptsRemaining <= 0) return false;
          this.catalogItemAttemptsRemaining--;
          return true;
        },
      },
    },
    computed: {
      imgSrc: vm => get(vm, 'catalogItem.imageUrls[0]'),
      allowedQuantity: vm => vm.item.quantityOnRent - vm.item.quantityPendingPickup,
      equipmentStatusId() {
        return get(this.item, ['equipmentStatuses', 0, 'id'], 'Unknown');
      },
      equipmentStatus() {
        return (this.item.equipmentStatuses || [])
          .slice(0, 1)
          .map(status => ({
            ...status,
            label: WorkplaceEquipmentStatusUtils.getEquipmentStatusLabel(status, this.item),
          }))[0];
      },
      value() {
        return this.equipmentStatusId;
      },
      equipmentStatusLabel() {
        const status = this.equipmentStatus;
        if (typeof status !== 'undefined' && status !== null) {
          return this.equipmentStatus.label;
        }
        return 'Unknown';
      },
    },
    methods: {},
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .equipment-grid--item {
    min-height: rem(83);
    padding: rem(11) rem(4) rem(11) rem(11);
    box-sizing: border-box;
    background-color: $color-white;
    border: 1px solid $color-grey-11;
    border-width: 1px 1px 0px;
    flex-wrap:nowrap;

    & > :first-child {
      display: flex;
    }

    &:first-child {
      border-radius: rem(8) rem(8) 0 0;
    }

    &:last-child {
      border-width: 1px;
      border-radius: 0 0 rem(8) rem(8);
    }

    &:first-child:last-child {
      border-radius: rem(8);
    }

    > div:first-child {
      width: calc(100% - #{rem(26)});
      @include media('>=640px') {
        width: calc(100% - #{rem(200)});
      }
    }

    img {
      height: rem(80);
      width: rem(80);
      margin-right: rem(8);
      @include media('>=640px') {
        margin-right: rem(16);
      }
    }

    li {
      margin-right: 1.8rem;
    }

    .content {
      width: 100%;
      height: 100%;

      .suptitle {
        padding-top: rem(4);
        line-height: (16 / 12);
        padding-bottom: rem(2);
      }

      .title {
        font-size: rem(14);
        line-height: (20 / 14);
        padding-bottom: rem(3);
      }

      .status-qty-container {
        font-size: rem(12);
        display: flex;
        align-items: center;
        width: 100%;
        @include media('>=640px') {
          justify-content: space-between;
        }

        .status-detail-field {
          font-size: rem(12);
          line-height: 1;
          margin-right: rem(16);
        }

        .qty {
          color: #72777E;
          @include media('>=640px') {
            display: none;
          }
        }
      }

      .subtitle {
        line-height: (20 / 12);
      }
    }

    .action-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      margin-top: 0.6rem;

      .quantity-selector {
        align-self: flex-end;
        flex-direction: row !important;

        /deep/ .q-button {
          display:block;
        }

        /deep/ .fs-small.c-gray {
          margin-left: 1rem;

        }
      }
    }
    .qty.lg{
      display:none;
      color: #72777E;
      @include media('>=640px') {
        display:flex;
        padding-right:rem(40);
        font-size:rem(12);
        align-self:center;
      }
    }
    .menu-button-wrapper {
      @include media('>=640px') {
        display: flex;
        align-self:center;
      }

      button.actions-button {
        display: flex;
        justify-content: flex-end;
        padding: rem(4) 0;
        position: relative;
        top: -7px;
        width: inherit;
        vertical-align: inherit;
        transition:none;

        @include media('>=640px') {
          top: 0;
          margin-right:rem(21);
        }

        /deep/ svg {
          width: rem(22);
          height: rem(22);
        }
      }
    }
  }

  @include media('>=640px') {

    .equipment-grid--item {
      .action-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: inherit;
        margin-top: 0rem;

        .quantity-selector {
          align-self: flex-end;
          flex-direction: column !important;

          /deep/ .fs-small.c-gray {
            margin-left: 0rem;

          }
        }
      }
    }
  }

</style>
