<template>
  <div v-if="!equipmentListIsEmpty" class="flex-column m-b-5">
    <div v-if="isPickup && !readonly && equipmentList.length > 1" class="m-b-5">
      <h3 class="m-t-8 m-r-2 m-b-0 m-l-0 display-inline-block  section-title-container" style="width: auto">{{
        $i18n('workplace.selectItemsToReturn') }}
      </h3>
    </div>
    <div v-if="equipmentList.length > 1 && !readonly && isPickup" class="flex-row justify-space-between">
      <ur-checkbox
        :label="$i18n('workplace.rescheduleRequest.selectAll')"
        :checked="allEquipmentIsSelected"
        @change="onSelectAllEquipmentChecked($event)"/>
      <ur-error-label
        v-if="!atLeastOneEquipmentIdSelected"
        class="m-0"
        :message="$i18n('workplace.pleaseSelectAnItem')"/>
    </div>
    <div class="item-wrapper">
      <div
        v-for="(item, index) in processedEquipment"
        :key="item.equipmentId"
      >
        <equipment-grid-item
          :id="item.equipmentId"
          :index="index"
          :item="item"
          :readonly="readonly"
          v-bind="$attrs"
          v-on="$listeners"/>
      </div>
    </div>
    <div class="flex-column align-start" v-if="sortedEquipment.length > 3">
      <q-button
        @click="showMore()"
        :icon="this.showCount < sortedEquipment.length ? 'add' : 'remove'"
        :text="showMoreLabel"
        size="regular"
        class="no-grow expand-button flex-row-reverse flex-gap-5 p-0 m-b-15 m-t-0"
        buttonStyle="tertiary"/>
    </div>
  </div>
</template>

<script>
  /**
   * This component (and parts of the sibling equipment-grid-item) are both derived from
   * the existing @/components/workplace/reschedule-request/equipment-select-list.vue
   *
   * To avoid regression bugs, this is only being added right now, not replacing the
   * component mentioned above - @TODO
   */
  import { mapActions, mapGetters, mapState } from 'vuex';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';
  import UrErrorLabel from '@/components/common/form/ur-error-label.vue';
  import types from '@/store/types';

  import EquipmentGridItem from './equipment-grid-item';

  export default {
    name: 'EquipmentGrid',
    components: {
      UrCheckbox,
      UrErrorLabel,
      EquipmentGridItem,
    },
    data() {
      return {
        showCount: 3,
      };
    },
    props: {
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapState({
        equipmentList: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.equipmentList,
        selectedEquipmentQtys: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.selectedEquipmentQtys,
      }),
      ...mapGetters({
        allEquipmentIsSelected: types.workplace.rescheduleRequest.allEquipmentIsSelected,
        atLeastOneEquipmentIdSelected: types.workplace.rescheduleRequest.atLeastOneEquipmentIdSelected,
        equipmentListIsEmpty: types.workplace.rescheduleRequest.equipmentListIsEmpty,
        isExtension: types.workplace.rescheduleRequest.isExtension,
        isPickup: types.workplace.rescheduleRequest.isPickup,
        selectedEquipment: types.workplace.rescheduleRequest.selectedEquipment,
      }),
      showMoreLabel() {
        return this.showCount < this.sortedEquipment.length
          ? `${this.$i18n('workplace.rescheduleRequest.viewAll')} ${this.sortedEquipment.length} ${this.$i18n('workplace.rescheduleRequest.items')}`
          : this.$i18n('workplace.rescheduleRequest.viewLess');
      },
      processedEquipment: vm => vm.sortedEquipment.slice(0, vm.showCount),
      sortedEquipment() {
        const selectedItem = this.equipmentList.find(item => item.transLineId === this.$route.query.transLineId);
        const list = [...this.equipmentList]
          .filter(item => item !== selectedItem)
          .sort((a, b) => {
            const textA = a.dalDescription.toUpperCase();
            const textB = b.dalDescription.toUpperCase();
            if (textA < textB) {
              return -1;
            }
            else if (textA > textB) {
              return 1;
            }
            else {
              return 0;
            }
          });

        const results = selectedItem
          ? [selectedItem, ...list]
          : list;
        if (!this.readonly) {
          return results;
        }
        else {
          return results.filter(equipment => this.equipmentIsSelected(equipment.equipmentId));
        }
      },
    },

    methods: {
      ...mapActions({
        selectAllEquipment: types.workplace.rescheduleRequest.selectAllEquipment,
        unselectAllEquipment: types.workplace.rescheduleRequest.unselectAllEquipment,
        setEquipmentSelectedById: types.workplace.rescheduleRequest.setEquipmentSelectedById,
        setSelectedEquipmentQtyById: types.workplace.rescheduleRequest.setSelectedEquipmentQtyById,
      }),
      onSelectAllEquipmentChecked(checked) {
        if (checked) {
          this.selectAllEquipment();
          this.showCount = this.equipmentList.length;
        }
        else {
          this.unselectAllEquipment();
        }
      },
      showMore() {
        if (this.showCount === this.equipmentList.length) {
          this.$emit('equipmentListExpanded', false);
          this.showCount = 3;
          return;
        }
        this.$emit('equipmentListExpanded', true);
        this.showCount = this.equipmentList.length;
      },
    },
  };

</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .m-t-8 {
    margin-top: 0.8rem !important;
  }

  .show-more-container {
    margin-bottom: 1rem;
  }

  @include media('>=640px') {
    .show-more-container {
      margin-bottom: 0rem;
    }
  }

</style>
