<template>
  <div class="flex-column flex-gap-5 align-items-center">
    <div class="flex-row flex-gap-5">
      <q-button
        text=""
        class="m-y-0 more-less-button"
        icon="remove"
        size="small"
        :disabled="value <= min"
        @click="decrement()"
        iconOverrideClass="fs-base"
        buttonStyle="secondary-alternative"/>
      <q-input
        ref="numberInput"
        field-size="small"
        class="m-y-0 number-input"
        :value="`${value}`"
        @change="handleInputChange($event)"
        mask="9999" />
      <q-button
        text=""
        class="m-y-0 more-less-button"
        icon="add"
        size="small"
        :disabled="value >= max"
        @click="increment()"
        iconOverrideClass="fs-base"
        buttonStyle="secondary-alternative"/>
    </div>
    <span class="fs-small c-gray">{{ max - value }} left</span>
  </div>
</template>
<style lang="scss" scoped>
@import 'styles/globals';

.more-less-button {
  height: 32px;
  width: 32px !important;
}

.number-input {
  height: 32px;
  width: 60px;

  & /deep/ input {
    text-align: center;
    width: 100% !important;
    margin: 0 !important;
  }

  & /deep/ .input__minlength {
    display: none !important;
  }
}

</style>
<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: 'quantitySelector',
    props: {
      value: {
        type: Number,
        required: true,
      },
      min: {
        type: Number,
        default: 0,
      },
      max: {
        type: Number,
        default: 10,
      },
    },
    mounted() {
      window.pickupQuantitySelector = this;
    },
    methods: {
      handleInputChange($event) {
        const value = +$event;
        if (value >= this.min && value <= this.max) {
          this.emitChange(value);
        }
        else {
          const clampedValue = value <= this.min ? this.min : this.max;
          this.emitChange(clampedValue);
          this.$nextTick(() => {
            // Revert the user input
            this.$refs.numberInput.value = `${clampedValue}`;
            // Super hacky, but there's not other way to do this because of quark
            this.$refs.numberInput.$el.querySelector('input').value = clampedValue;
          });
        }
      },
      increment() {
        this.emitChange(this.value + 1);
      },
      decrement() {
        this.emitChange(this.value - 1);
      },
      emitChange(value) {
        this.$emit('change', value);
      },
    },
  });
</script>
