<template>
  <div v-if="!dashboardRequestsAreInFlight && allCounts.onRent === 0">
    <null-state-dashboard></null-state-dashboard>
  </div>
  <div v-else class="dashboard">
    <component :is="dashboardCarouselComponent" />
    <my-fleet />
  </div>
</template>

<script lang="ts">
  import { mapGetters } from 'vuex';
  import { FlightToken } from '@/api/flight-track';
  import { WorkplaceRouteUtils } from '@/lib/workplace';
  import types from '@/store/types';

  import DashboardCarousel from '@/components/workplace/dashboard/dashboard-carousel/dashboard-carousel.vue';
  import DashboardCarouselMinimal from '@/components/workplace/dashboard/dashboard-carousel-minimal/dashboard-carousel-minimal.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import MyFleet from './my-fleet/my-fleet.vue';
  import NullStateDashboard from './null-state-dashboard.vue';

  export default {
    components: {
      DashboardCarousel,
      DashboardCarouselMinimal,
      MyFleet,
      NullStateDashboard,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters({
        allCounts: types.workplace.rentalCountsForCurrentAccount,
      }),
      dashboardCarouselComponent() {
        return (this.allCounts.onRent > 4 || this.dashboardRequestsAreInFlight)
          ? 'dashboard-carousel'
          : 'dashboard-carousel-minimal';
      },
      dashboardRequestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.fetchRentalCounts);
      },
    },
    mounted() {
      /**
       * Equipment should NOT be filtered when viewed on the dashboard,
       * even if filters were applied while the user was on the equipment
       * listing page. This means that the query params should be reset when
       * the dashboard is mounted.
       */
      this.$router.replace({
        ...this.$route,
        query: WorkplaceRouteUtils.normalizeQueryParams({}),
      });
      window.scrollTo(0, 0);
    },
  };

</script>
