<template>
  <div class="dashboard dashboard__unauthenticated">
    <div class="dashboard__wrapper">
      <null-dashboard-sign-in
        :heading="$i18n('dashboard.nullState.title')"
        :subHeading="$i18n('dashboard.nullState.text')"
      />
      <null-dashboard-faux-widgets/>
    </div>
  </div>
</template>
<script>
  import UrGtm from '@/mixins/ur-gtm';
  import NullDashboardSignIn from '@/components/workplace/shared/null-dashboard-sign-in.vue';
  import NullDashboardFauxWidgets from '@/components/workplace/shared/null-dashboard-faux-widgets.vue';
  import { mapGetters } from 'vuex';
  import Breadcrumbs from '../mixins/breadcrumbs';

  export default {
    components: {
      NullDashboardSignIn,
      NullDashboardFauxWidgets,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
    },
    mixins: [
      UrGtm,
      Breadcrumbs,
    ],
  };
</script>
