{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'list__container',
  ]
%}

{% set product_attributes = create_attribute() %}
{% set category = productCategory %}
{% set sub_category = productSubCategory %}

{% if catClasses | length > 0 %}
<item-rates-loader cat-class="{{ catClasses }}"></item-rates-loader>
{% endif %}
<div class="equipment-listing-full">
  {% include '/themes/custom/urone/templates/views/equipment-listing/partials/object-listing-header.html.twig' %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}
  
    {% if header %}
      <header>
        {{ header }}
      </header>
    {% endif %}
  
    {{ exposed }}
    {{ attachment_before }}

    <div class="product-category-attributes"
      {{ product_attributes
        .setAttribute('data-product-category', category)
        .setAttribute('data-product-sub-category', sub_category) }}>
    </div>

    {{ rows }}
    {{ empty }}
  
    {{ attachment_after }}
    {{ more }}
  
    {% if footer %}
      <footer class="object_listing__footer">
        <p>{{ footer }}</p>
        {{ pager }}
      </footer>
    {% endif %}
  
    {{ feed_icons }}
  </div>
</div>