{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set image_src = fields.field_images_unlimited.content | split(',') %}
<div class="object_listing__wrapper">
  <div class="object_listing__image">
    <q-image
      alt-text="{{ fields.field_images_unlimited_1.alt }}"
      img-src="{{ image_src[0] }}"
      height="44"
      width="44"/>
  </div>

  <div class="object_listing__details" data-product-cat-class="{{ productCatClass }}" data-product-name="{{ productName }}" data-product-quantity="{{ productQuantity }}">
    <div class="object_listing__details__cat_class_code">{{ 'Cat Class' | t}}: {{ fields.field_item_cat_class_code.content }}</div>
    <a class="object_listing__details__name" href="{{ fields.view_node.content | striptags | trim }}">{{ fields.title.content }}</a>
    <i class="icon icon-angle-down ur-quick-view-toggle" data-cat-class="{{ fields.field_item_cat_class_code.content }}"></i>

    <item-rates not-rentable-online="{{ fields.field_item_not_rentable_online.content }}"
      cat-class="{{ fields.field_item_cat_class_code.content | raw }}"
      :show-chips-in-line="false"
      :show-web-rate-chip="false"
      :check-user-logged-in="true"
      refresh-on-change="1"></item-rates>

    {% if fields.field_item_highlights.highlights | length > 0 %}
    <div class="object_listing__details__quick_view">
      <a class="ur-quick-view-toggle" data-cat-class="{{ fields.field_item_cat_class_code.content }}">
        {{ 'Quick View' | t }}
      </a>
      <i class="ur-quick-view-toggle icon icon-angle-down" data-cat-class="{{ fields.field_item_cat_class_code.content }}">&nbsp;</i>
      <div class="ur-quick-view" id="ur-quick-view-{{ fields.field_item_cat_class_code.content }}">
        <div>
          <div class="mobile-only">
            <object-listing-actions
              cat-class="{{ fields.field_item_cat_class_code.content }}"
              title="{{ fields.title.content }}"
              view-more-link="{{ fields.view_node.content | striptags | trim }}"></object-listing-actions>
          </div>
          <div>
            <ul class="list-ul">
              {% for item in fields.field_item_highlights.highlights %}
              <li class="list-item">{{ item | raw }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mobile-only">
            <add-to-cart-button not-rentable-online="{{ fields.field_item_not_rentable_online.content }}" cat-class="{{ fields.field_item_cat_class_code.content }}"></add-to-cart-button>
          </div>
          <a href="{{ fields.view_node.content | striptags | trim }}" class="view-details-quickView-button">{{ 'View Details' | t }}</a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="object_listing__details__quick_view">
      <a disabled="disabled" class="link-btn link-btn-style--primary link-btn--disabled" data-cat-class="{{ fields.field_item_cat_class_code.content }}">
        {{ 'Quick View' | t }}
      </a>
      <i disabled="disabled" class="icon icon-angle-down link-btn link-btn-style--primary link-btn--disabled">&nbsp;</i>
    </div>
    {% endif %}
  </div>
  <div class="object_listing__actions">
    <div class="object_listing__actions__alert">
      <!--{{ i18n.itemsAdded }}-->
    </div>
    <add-to-cart-button not-rentable-online="{{ fields.field_item_not_rentable_online.content }}" cat-class="{{ fields.field_item_cat_class_code.content }}"></add-to-cart-button>
    <object-listing-actions
      cat-class="{{ fields.field_item_cat_class_code.content }}"
      title="{{ fields.title.content }}"
      view-more-link="{{ fields.view_node.content | striptags | trim }}" >
    </object-listing-actions>

  </div>
</div>

