.checkout-page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  * > {
    overflow: hidden;
  }
  footer {
    width: 100%;
  }
}
.checkout-page-layout-left {
  width: 100%;
  margin-bottom: 0;

  @include breakpoint($break-medium) {
    margin-bottom: 131.75px;
  }

  @include breakpoint($break-medium) {
    width: 74%;
  }
}

.checkout-page-layout-left-top {
  background: $color-grey-2;
}

.checkout-page-layout-left-bottom {
  padding: calc(2% + 1.5rem);
}

.checkout-page-layout-right {
  background: $color-grey-2;
  box-shadow: 2px -10px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 146.75px;

  @include breakpoint($break-medium) {
    margin-bottom: 0;
    display: block;
    width: 26%;
  }
}

.proceed-to-checkout-container {
  background: $color-grey-2;
  width: 100%;
  padding: 2%;
  position: relative;

  .back-button {
    display: flex;
    flex-direction: row;
    width: 70px;
    cursor: pointer;
    margin-left: -1.75rem;

    h5 {
      color: $color-blue;
      margin-left: 10px;
    }

    .icon-long-arrow-left {
      color: $color-orange;
      display: flex;
      align-items: center;
    }
  }

  .proceed-to-checkout-body {
    padding: 1.5rem;

    h2 {
      margin-bottom: 1rem;
      max-width: 350px;
      display: inline-block;
    }

    .decision-box-header,
    .jobsite-contact-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint($break-small) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .edit-separately__link {
      color: $color-blue;
      margin-right: 15px;
      font-weight: bold;
      font-size: $font-size-small;
    }

    .decision-box-body {
      flex-wrap: wrap;

      .decision-box {
        flex-basis: 44%;
      }

      @include breakpoint($break-small) {
        flex-wrap: nowrap;

        .decision-box {
          flex-basis: auto;
        }
      }
    }

    .sub-heading__paragraph {
      font-size: $font-size-small;
      color: $color-grey-38;
      margin-bottom: 2rem;
    }

    .later__button {
      margin: 20px 10px 0 0;
      width: 92%;

      @include breakpoint($break-small) {
        width: 195px;
      }
    }
  }
}

