<div class="proceed-to-checkout-container">
  <div class="back-button">
    <i class="icon icon-long-arrow-left"></i>
    {% include '@atoms/02-text/00-headings/heading-5/heading-5.twig'
      with {
        heading_5: heading_5
      }
    %}
  </div>
  <div class="proceed-to-checkout-body">
    {% if jobsite_address %}
      {% include '@organisms/proceed-to-checkout/jobsite-address/jobsite-address.twig' %}

    {% elseif deliver_decision %}
      {% include '@organisms/proceed-to-checkout/decision-box/decision-box.twig' %}

    {% elseif time_decision %}
      {% include '@organisms/proceed-to-checkout/decision-box/decision-box.twig' %}

    {% elseif jobsite_contact %}
      {% include '@organisms/proceed-to-checkout/jobsite-contact/jobsite-contact.twig' %}

    {% elseif delivery_instructions %}
      {% include '@organisms/proceed-to-checkout/delivery-instructions/delivery-instructions.twig' %}

    {% elseif pickup_decision %}
      <div class="pick-up-decision">
        {% include '@organisms/proceed-to-checkout/decision-box/decision-box.twig' %}
      </div>

    {% elseif pickup_time %}
      <div class="pick-up-time">
        {% include '@organisms/proceed-to-checkout/decision-box/decision-box.twig' %}

        {% include '@atoms/06-buttons/style-1/01-button.twig'
          with {
            button_content: 'I Will Schedule Later',
            button_modifiers: button_modifiers,
            button_blockname: 'later'
          }
        %}
      </div>

    {% elseif payment_information %}
      {% include '@organisms/proceed-to-checkout/payment-information/payment-information.twig' %}

    {% elseif reservation_confirmation %}
      {% include '@organisms/proceed-to-checkout/reservation-confirmation-header/reservation-confirmation-header.twig' %}
      {% include '@organisms/proceed-to-checkout/reservation-confirmation/reservation-confirmation.twig' %}

    {% else %}
      Woops, looks like there isn't any content.  How embarrassing.
    {% endif %}

  </div>

  {% include '@organisms/proceed-to-checkout/progress-bar/progress-bar.twig' %}
</div>