<template>
  <div>
    <first-name-text-input :value="tcUserForm.firstName" @input="firstName => updateTcUserFormField({firstName})"></first-name-text-input>
    <last-name-text-input :value="tcUserForm.lastName" @input="lastName => updateTcUserFormField({lastName})"></last-name-text-input>
  </div>
</template>
<script type="text/babel">
  import FirstNameTextInput from '@/components/common/form/text-input/first-name';
  import LastNameTextInput from '@/components/common/form/text-input/last-name';

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      FirstNameTextInput,
      LastNameTextInput,
    },
    computed: {
      ...mapState({
        tcUserForm: state => state.tcUser.form,
      }),
    },
    methods: {
      ...mapActions({
        updateTcUserFormField: types.tcUser.updateFormField,
      }),
    },
  };
</script>
