.object-detail__breadcrumbs {
  padding: 0 5vw;
  margin-top: 1vh;

  li:last-child {
    color: $color-grey-38;
  }
}

.object-detail {
  margin-top: 40px;
  flex-direction: column;

  // Hide the drupal-rendered favorites links.  (This is not the Favorite link rendered by Vue.)
  .flag-favorites {
    display: none;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    position: relative;
  }

  li {
    padding-left: 1.4em;
  }

  li::before {
    content: "\2022";
    font-size: .9em;
    position: absolute;
    left: 0;
    transform: translateY(.15em);
  }

  &--left-hidden {
    .group-left, .object-detail__mobile-image {
      display: none;
    }

    .group-right {
      padding-left: 0;
      margin-right: 16px;
      @include setColumn(2, 3);
    }

    .object-detail__loc-pricing {
      margin-top: 50px;
    }
  }

  &--left-visible {

    .group-right {
      margin: 0 16px;
      @include setColumn(5, 12);
      max-width: none;

      div:nth-of-type(2n) {
        line-height: 1.7142857143;
      }

      .basic-field--cat-class-code {
        margin-top: 15px;
      }

      @include breakpoint($break-small) {
        .basic-field--cat-class-code {
          margin-top: 0;
        }
      }
    }

    .VueCarousel-inner {
      justify-content: center;
      flex: 1 0 16.7% !important;
    }

    .photo_area {
      text-align: center;
    }
  }

  .enter-location {
    h6 {
      color: $color-blue;
      margin-bottom: 1rem;
    }

    .ur-place-autocomplete {
      width: 70%;

      input {
        height: 32px;

        &::placeholder {
          font-size: $font-size-small;
          line-height: 16px;
        }
      }

      .icon {
        width: 14px;
        text-align: center;
      }
    }
  }

  &__loc-pricing {
    border-top: 1px solid $color-grey-11;
    padding: 20px 0;
    margin: 34px -16px 0 -16px;

    &-content {
      margin-left: 16px;
      margin-right: 16px;

      .group-full {
        display: flex;
        flex-direction: row;
      }

      h3 {
        margin: 0;
        width: auto;
        color: $color-black;
        font-weight: normal;
      }

      .pricing-chip {
        border-radius: 100px;
        color: $color-white;
        height: 14px;
        width: 70px;
        padding: 3px;
        font-family: $font-family-sans-serif;
        font-size: $font-size-xsmall;
        font-weight: bold;
        line-height: 9px;
        text-align: center;
        float: left;
        margin-right: 7px;
        margin-bottom: 7px;
        margin-top: 5px;
        background-color: $color-orange;
        margin-left: 20px;
      }

      h6 {
        margin: 5px 0;
      }
    }
  }

  &__used-equipment {
    margin: 45px 0;
  }

  &__mobile-image {
    text-align: center;
  }

  @include breakpoint($break-medium) {
    .add-to-cart {
      max-width: 349px;
    }
  }

  .basic-field {
    &--cat-class-code {
      font-size: $font-size-small;
      text-transform: uppercase;
      color: $color-grey-38;

      .basic-field__label {
        &:after {
          content: ":";
        }
      }

    }
  }

  .heading-1 {
    font-size: $font-size-h3;

    &--title {
      color: $color-grey-69;
    }
  }
  .hasNavigation .VueCarousel-inner {
    padding-left: 22px;
  }
  .photo-area__carousel {
    margin: 0 auto;
    max-width: 300px;
  }
}

/* Equipment Carousel */

.photo_area {
  min-width: 150px;

  &__active {
    border: 1px solid lightgrey;
    text-align: center;

    @include breakpoint($break-small) {
      margin-bottom: 5px;
    }

    img {
      height: 175px;
    }
  }

  .carousel_image {
    border: 1px solid lightgrey;
    height: 44px;
    width: 44px;
  }
  .carousel_image.active {
    padding: 5px;
    background-color: $color-blue-highlight;
    border: none;
  }
}

@include breakpoint($break-small) {

  .object-detail {
    flex-direction: row;
    flex-wrap: wrap;

    &__mobile-image {
      display: none;
    }

    &--left-visible {
      .group-left {
        display: block;
      }
    }

    .heading-1 {
      font-size: $font-size-h1;
    }

  }
}

@include breakpoint($break-medium) {
  .object-detail {
    flex-wrap: nowrap;
  }
}

@include breakpoint($break-large) {
  .object-detail .group-right {
    margin-right: 120px;
  }
}

@include breakpoint($break-xlarge) {
  .object-detail .group-right {
    max-width: none;
    flex: 1;
  }
}

.large-only {
  display: none;
}

@include breakpoint($break-medium) {
  .large-only {
    display: block;
  }
}

// Top Margin
.mt-20 {
  margin-top: 20px;
}

//left margin
.ml-onesixth {
  margin-left: 16.67%;
}

/*
---
name: Breadcrumbs
category: Molecules
---

## Rules

* Breadcrumbs should be location based (showing where the user is in the hierarchy of the site)
* The first link in the breadcrumb should always be "Home"
* Each level of the site hierarchy should be represented in the breadcrumb
* Breadcrumbs use title case capitalization
* There should be a minimum of two elements (a link and an endpoint) for a breadcrumb to be displayed
* Breadcrumb elements should be separated using the divider icon
* End point is always non-interactive and reflects the user's current location in the site

```breadcrumbs.html
<div class="object-detail__breadcrumbs">
    <div id="block-unitedrentals-breadcrumbs">
        <nav role="navigation" aria-labelledby="system-breadcrumb">
            <h2 class="visually-hidden">Breadcrumb</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                <li class="breadcrumb__item"><a href="/marketplace/equipment" class="breadcrumb__link">Equipment</a></li>
                <li class="breadcrumb__item"><a href="/marketplace/equipment/aerial-work-platforms" class="breadcrumb__link">Aerial work platforms</a></li>
                <li class="breadcrumb__item"><a href="/marketplace/equipment/aerial-work-platforms/scissor-lifts" class="breadcrumb__link">Scissor lifts</a></li>
                <li class="breadcrumb__item">
                    Electric scissor lift 10 13
                </li>
            </ol>
        </nav>
    </div>
</div>
```

```breadcrumbs.css hidden
.visually-hidden{
display: none;
}
```
*/
