{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 * - object_cat_class_code: the object's cat class code
 * - object_title: the object's title
 */
#}
<div class="object-detail__breadcrumbs">
  {% block breadcrumbs %}
    {{ breadcrumbs }}
  {% endblock %}
</div>
<{{ outer_wrapper }}{% block outer_attributes %}  class="object-detail grid {{ left_visible_class }}"{% endblock %}>

<{{ left_wrapper }}{% block left_attributes %} class="group-left column"{% endblock %}>

{% block left_content %}

  <div style="height: 100%;">
    {% include "@base/layouts/placeholders/_placeholders.twig"
      with {
      title: "Gallery Preview"
    } %}
  </div>
{% endblock %}
</{{ left_wrapper }}>

<{{ right_wrapper }}{% block right_attributes %} class="group-right column"{% endblock %}>
  <object-listing-actions
    class="object_listing__actions--object-detail"
    cat-class="{{ object_cat_class_code }}"
    title="{{ title|render|striptags|trim }}">
  </object-listing-actions>

  {% block right_content %}
    {% include "@atoms/_basic-field.twig"
      with {
      "basic_field_content": object_cat_class_code,
      "basic_field_label": "Cat. Class Code",
      "label_display": "inline",
      "label_hidden": FALSE,
      "basic_field_modifiers": ["cat-class-code"],
    } %}


    {#  #}
    {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
      with {
      "heading_1": object_name,
      "heading_1_modifiers": ["title"],
    } %}


    {# TODO: No static text #}
    <div class="object-detail__mobile-image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
        "img_src": mobile_img_src,
        "img_alt": mobile_img_alt,
      } %}
    </div>

    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
      "paragraph_content": object_description,
    } %}

    {% include "@atoms/03-lists/00-unordered.twig"
      with {
      "list_ul_items": object_specs,
    } %}
  {% endblock %}

  <div class="object-detail__loc-pricing">
    <div class="object-detail__loc-pricing-content">
      <equipment-details-rates cat-class="{{ object_cat_class_code }}" :fetch-own-rates="true"></equipment-details-rates>
    </div>
  </div>
  <div class="ur-drawer-banner__wrapper">
    <ur-drawer-banner/>
  </div>
  {#TODO uncomment this after dark-release and it works#}
      {#<div class="object-detail__used-equipment">#}
        {#{% include "@base/layouts/placeholders/_placeholders.twig"#}
          {#with {#}
            {#title: "Used Equipment Link"#}
          {#}#}
        {#%}#}
      {#</div>#}
</{{ right_wrapper }}>
<add-to-cart-toast></add-to-cart-toast>
<div class="add-to-cart-location-date-qty-wrapper">
  <div class="add-to-cart__selections">
    <add-to-cart-form cat-class="{{ object_cat_class_code }}"></add-to-cart-form>
  </div>
</div>
</{{ outer_wrapper }}>
