<div class="equipment-type__container">
  <a href="{{ button_url }}">
    <div class="equipment-type">
      <div class="equipment-type__image">
        {% block equipment_type_image %}
          <img src="https://placebear.com/g/300/200" alt="Bear">
        {% endblock %}
      </div>
      <h3 class="equipment-type__name">{{ equipment_type_name|raw }}</h3>
      {% include "@atoms/11-link-buttons-product-card/link-buttons.twig"
        with {
          link_modifiers: button_modifiers,
          link_content: button_content,
          link_url: button_url,
        }
      %}
    </div>
  </a>
</div>