<div class="equipment-block grid">
  <div class="column">
    <p class="equipment-block__headline">{{ equipment_block_headline }}</p>
    <div class="equipment-block__cards">
      {% block equipment_block_cards %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
        {% include "@organisms/product-card/equipment-type/equipment-type.twig"
          with {
            equipment_type_name: "Very Scary Bear",
            button_url: "/",
            button_content: "Browse Type",
            button_modifiers: ["style-1","default"],
          }
        %}
      {% endblock %}
    </div>
  </div>
</div>
