{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="app" {{ attributes }}>

  {{ page.page_top }}

  <header{{ header_attributes }} role="banner">
    <div{{ header_content_attributes }}>

      {% if page.header_first %}
        {{ page.header_first }}
      {% endif %}

      {% if page.header_second %}
        {{ page.header_second }}
      {% endif %}

    </div>
  </header>

  {{ page.pre_content }}

  {% if page.left_sidebar and page.right_sidebar %}
  <div class="main-content--with-sidebars">
  {% elseif page.left_sidebar or page.right_sidebar %}
  <div class="main-content--with-sidebar">
  {% endif %}

  {% if page.left_sidebar or page.right_sidebar %}
  <div class="main-content__sidebar-wrapper">
  {% endif %}

    {% if page.left_sidebar %}
      {{ page.left_sidebar }}
      {% block additional_content %}{% endblock %}
    {% endif %}

    {{ page.content }}

    {% if page.right_sidebar %}
      {{ page.right_sidebar }}
    {% endif %}

  {% if page.left_sidebar or page.right_sidebar %}
    </div>
  </div>
  {% endif %}

  {{ page.post_content }}

  <footer{{ footer_attributes }}>
    <div{{ footer_content_attributes }}>

      {% if page.footer_first %}
        {{ page.footer_first }}
      {% endif %}

      {% if page.footer_second %}
        {{ page.footer_second }}
      {% endif %}

    </div>
  </footer>

  {% if not hide_mobile_menu %}
    {{ page.mobile_menu }}
  {% endif %}

  {{ page.page_bottom }}

</div>{# /.layout-container #}
