{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% include "@organisms/project-uptime/article-teasers/article-teasers.twig"
  with {
    "article_blockname": "project-uptime-article",
    "article_title": fields.title.content|render|striptags|trim|replace({'&amp;':'&', '&#039;': "'"}),
    "article_title_modifiers": "",
    "article_url": fields.path.content|render|striptags|trim,
    "article_image_src": fields.field_image.content|render|striptags|trim,
    "article_image_alt": 'alt',
    "article_category_title": fields.field_category.content|render|striptags|trim,
    "article_category_blockname": "category",
    "article_is_new": row.new,
    "article_content": fields.body.content|render|striptags|trim
  }
%}
