{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="project-uptime-article-teaser__carousel">
  <carousel
          class="carousel__project-uptime"
          :min-swipe-distance="0"
          :mouse-drag="false"
          :per-page-custom="[[320, 1],[640, 2],[1024, 3]]"
          :navigation-enabled="true"
          :pagination-enabled="false"
          :navigation-next-label="''"
          :navigation-prev-label="''"
          @pagechange="gtmTrackCarouselButton('project-uptime-by-category', $event)"
  >
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'VueCarousel-slide views-row',
    ]
  %}
  <slide{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </slide>

{% endfor %}
  </carousel>
  </div>
