.address-information {

  &__container {
    .code-number {
      display: flex;
      flex-direction: column;

      @include breakpoint($break-small) {
        flex-direction: row;
      }

      .code {
        .select {
          width: 75px;
        }

        select {
          width: 75px;
        }
      }

      .phone-number {
        margin-left: 0;

        input {
          width: 400px;
        }

        @include breakpoint($break-small) {
          margin-left: 15px;

          input {
            width: 310px;
          }
        }
      }
    }

    .city {
      flex-grow: 0.8;
    }

    .city-state {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      justify-content: space-between;

      @include breakpoint($break-small) {
        flex-direction: row;
      }

      select,
      .select {
        width: 92.5px;
      }
    }
  }
}

