<div class="address-information__container">
  <div class="address-1">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Address 1"
      }
    %}
    <input placeholder="Enter the job address">
  </div>

  <div class="address-2">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Address 2"
      }
    %}
    <input placeholder="Enter billing address (optional)">
  </div>

  <div class="code-number">
    <div class="code">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Code"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: select_options
        }
      %}
    </div>

    <div class="phone-number">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Phone Number"
        }
      %}
      <input placeholder="In the format 123-456-7890">
    </div>
  </div>

  <div class="city-state">
    <div class="zip-code">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Zip/Postal Code"
        }
      %}
      <input class="zip-code-input" placeholder="Enter the zip code">
    </div>

    <div class="city">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "City"
        }
      %}
      <input class="city-input" placeholder="Enter the City">
    </div>
    <div class="state">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "State"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: state_select_options
        }
      %}
    </div>
  </div>
</div>