/*
---
name: Accordion
category: Molecules
---

```accordion.html
<div class="object_listing__details__quick_view"><a>Quick View</a> <i class="icon icon-angle-down is-active">&nbsp;</i>
    <div>
        <ul class="list-ul">
            <li class="list-item">Safely drivable at full elevation</li>
            <li class="list-item">Conveniently steer in any direction</li>
            <li class="list-item">Platform stability when raising/lowering from vertical to below horizontal</li>
        </ul>
        <a href="/marketplace/equipment/aerial-work-platforms/boom-lifts/articulating-boom-lift-125-4wd" class="view-details-quickView-button">View Details</a>
        </div>
</div>
```
```accordion.css hidden
.list-ul, .object_listing__details__quick_view .view-details-quickView-button{
  display:none;
}
.is-active + div .list-ul{
  display: block;
}
.is-active + div .view-details-quickView-button{
  display: flex;
}

```

```accordion.js hidden
let openElements = document.querySelectorAll('.object_listing__details__quick_view > a, .object_listing__details__quick_view > i');
openElements.forEach(function(item){
  item.addEventListener('click', function(event){
    event.preventDefault();
    document.querySelector('.object_listing__details__quick_view > i').classList.toggle('is-active');
  });
});
```
*/
