.dropdown__button {
  padding: 7px 10px;
  line-height: 1;
  color: $color-grey-69;
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-small;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    border-color: $color-grey-38;
  }

  &:active {
    background-color: #c9cccd;
  }

  .icon {
    margin-right: 6px;
  }
}

.dropdown__holder--active .dropdown__button {
  background-color: #C9CCCD;
}
