@mixin svg-common {
    background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-UR-Logo-Horizontal-RGB {
    @include svg-common;
    background-position: 25% 0;
}

.sprite-UR-Logo-Horizontal-RGB {
  @include sprite-UR-Logo-Horizontal-RGB;
}

@mixin sprite-UR-Logo-Horizontal-reversed {
    @include svg-common;
    background-position: 75% 0;
}

.sprite-UR-Logo-Horizontal-reversed {
  @include sprite-UR-Logo-Horizontal-reversed;
}

@mixin sprite-UR-Logo-Reversed-No-Text {
    @include svg-common;
    background-position: 0 31.721929552732156%;
}

.sprite-UR-Logo-Reversed-No-Text {
  @include sprite-UR-Logo-Reversed-No-Text;
}

@mixin sprite-UR-Logo-Stacked-RGB {
    @include svg-common;
    background-position: 25% 29.827117327117325%;
}

.sprite-UR-Logo-Stacked-RGB {
  @include sprite-UR-Logo-Stacked-RGB;
}

@mixin sprite-UR-Logo-Stacked-reversed {
    @include svg-common;
    background-position: 50% 0;
}

.sprite-UR-Logo-Stacked-reversed {
  @include sprite-UR-Logo-Stacked-reversed;
}

@mixin sprite-arrow-down {
    @include svg-common;
    background-position: 49.6665247623102% 26.130434782608695%;
}

.sprite-arrow-down {
  @include sprite-arrow-down;
}

@mixin sprite-card-type-amex {
    @include svg-common;
    background-position: 0 63.246443036660104%;
}

.sprite-card-type-amex {
  @include sprite-card-type-amex;
}

@mixin sprite-card-type-discover {
    @include svg-common;
    background-position: 25% 63.246443036660104%;
}

.sprite-card-type-discover {
  @include sprite-card-type-discover;
}

@mixin sprite-card-type-mastercard {
    @include svg-common;
    background-position: 50% 63.246443036660104%;
}

.sprite-card-type-mastercard {
  @include sprite-card-type-mastercard;
}

@mixin sprite-card-type-visa {
    @include svg-common;
    background-position: 0 0;
}

.sprite-card-type-visa {
  @include sprite-card-type-visa;
}

@mixin sprite-check--white {
    @include svg-common;
    background-position: 75% 23.282608695652176%;
}

.sprite-check--white {
  @include sprite-check--white;
}

@mixin sprite-icon-enter-prompt {
    @include svg-common;
    background-position: 75% 58.666943953415824%;
}

.sprite-icon-enter-prompt {
  @include sprite-icon-enter-prompt;
}

@mixin sprite-icon-telematics {
    @include svg-common;
    background-position: 0 99.57608695652176%;
}

.sprite-icon-telematics {
  @include sprite-icon-telematics;
}

@mixin sprite-project-uptime--icon-all-articles {
    @include svg-common;
    background-position: 25% 99.57608695652176%;
}

.sprite-project-uptime--icon-all-articles {
  @include sprite-project-uptime--icon-all-articles;
}

@mixin sprite-project-uptime--icon-data {
    @include svg-common;
    background-position: 50% 99.57608695652176%;
}

.sprite-project-uptime--icon-data {
  @include sprite-project-uptime--icon-data;
}

@mixin sprite-project-uptime--icon-equipment {
    @include svg-common;
    background-position: 75% 99.57608695652176%;
}

.sprite-project-uptime--icon-equipment {
  @include sprite-project-uptime--icon-equipment;
}

@mixin sprite-project-uptime--icon-expertise {
    @include svg-common;
    background-position: 100% 0;
}

.sprite-project-uptime--icon-expertise {
  @include sprite-project-uptime--icon-expertise;
}

@mixin sprite-project-uptime--icon-rent-equipment {
    @include svg-common;
    background-position: 100% 38.04347826086956%;
}

.sprite-project-uptime--icon-rent-equipment {
  @include sprite-project-uptime--icon-rent-equipment;
}

@mixin sprite-project-uptime--icon-safety {
    @include svg-common;
    background-position: 100% 76.08695652173913%;
}

.sprite-project-uptime--icon-safety {
  @include sprite-project-uptime--icon-safety;
}

