{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
*/
#}
{#Get the page type and set the styles accordingly#}
{#IF this page is a use case page#}
{% set slpUseCase = content.field_slp_use_case_page[0]['#markup'] %}
{{ content.field_hero_image }}
<div id="heroLeadGen" class="slp-hero {% if slpUseCase == 'On' %}sub{% endif %}">
  <div class="slp-background-wrapper">
    <div class="{% if slpUseCase == 'On' %}f-row row-max-width-1440{% endif %}">
      <div class="slp-hero-title{% if slpUseCase == 'On' %}-sub small-12 medium-8{% endif %}">
        <h4>{{ content.field_top_category_title[0] }}</h4>
        <h1>{{ content.field_headline[0] }}</h1>
      </div>
      <div v-if="!sticky" class="slp-lead-gen-wrapper{% if slpUseCase == 'On' %}-sub small-12 medium-4{% endif %}">
        <div class="f-row row-max-width-1440 slp-lead-gen" >
          <div class="{% if slpUseCase == 'On' %} {% else %} f-columns hide-for-small-only medium-6 large-8{% endif %} slp-lead-marketing-text ">
            <h2>{{ content.field_intro_title[0] }}</h2>
          </div>
          <div class="{% if slpUseCase == 'On' %}small-6 {% else %} f-columns small-6 medium-3 large-2 {% endif %}f-columns">
            <h2>{{ content.field_footer_phone[0] }}</h2>
          </div>
          <div class="{% if slpUseCase == 'On' %}small-6 {% else %}f-columns small-6 medium-3 large-2 {% endif %}f-columns ">
            <q-button
              flex-prop="0"
              button-style="primary-alternative"
              text="{{ content.field_intro_cta.0['#title'] }}"
              link="{{ content.field_intro_cta[0]['#url'] }}">
            </q-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="sticky" class="slp-lead-gen-wrapper sticky">
    <div class="f-row row-max-width-1440 slp-lead-gen">
        <div class="f-columns hide-for-small-only medium-6 large-8 slp-lead-marketing-text">
          <h2>{{ content.field_intro_title[0] }}</h2>
        </div>
        <div class="f-columns small-6 medium-3 large-2">
          <h2>{{ content.field_footer_phone[0] }}</h2>
        </div>
        <div class="f-columns small-6 medium-3 large-2">
          <q-button
            button-style="primary-alternative"
            flex-prop="0"
            text="{{ content.field_intro_cta.0['#title'] }}"
            link="{{ content.field_intro_cta[0]['#url'] }}">
          </q-button>
        </div>
      </div>
  </div>
</div>
