{% set classes = ['o-relative', 'o-bg-white'] %}
<section{{ attributes.addClass(classes) }} component-root="rtb-tiles" >
  <div class="o-container-xl o-py-8 md:o-pb-16">
    <div class="o-row">
      {% for tile in content.field_tiles | field_value %}
        {{ tile }}
      {% endfor %}
    </div>
  </div>
</section>
