{{ attach_library('slab/reveal') }}
{{ attach_library('slab/grid-rays') }}

<section
    component-root="hero"
    grid-rays
    grid-rays-horizontal-count="3"
    grid-rays-vertical-count="5"
    class="o-max-w-full o-bg-white ms-hero-section o-border-1 o-border-white">
  <div class="o-container-xl o-flex o-flex-col md:o-flex-row o-items-center sm:o-mb-48">
    <div class="md:o-w-1/2">
      <div>{{ content.field_hero_title | field_value }}</div>
      <div reveal reveal-delay="2" reveal-direction="up"
           class="o-header-h1 md:o-text-64 md:o-leading-72 o-m-0">{{ content.field_title | field_value }}</div>
      <div reveal reveal-delay="3" reveal-direction="up"
           class="o-header-h3 md:o-header-h1 o-text-orange o-font-normal o-m-0">{{ content.field_copy | field_value }}</div>
      <img reveal reveal-direction="down" reveal-delay="4" src="{{ content.field_icon | field_value }}"/>
    </div>
    <div class="md:o-w-1/2 o-flex o-max-h-full">
      {% if content.field_mobile_image[0] is empty  %}
        <img
            class="o-object-contain ms-hero-img"
            src="{{ content.field_image | field_value }}"
            alt="Picture"
            reveal reveal-delay="1" reveal-direction="left">
      {% else %}
        <img
            class="o-object-contain ms-hero-img md:o-hidden"
            src="{{ content.field_mobile_image | field_value }}"
            alt="Picture"
            reveal reveal-delay="1" reveal-direction="left">
        <img
            class="o-object-contain ms-hero-img sm-only:o-hidden"
            src="{{ content.field_image | field_value }}"
            alt="Picture"
            reveal reveal-delay="1" reveal-direction="left">
      {% endif %}
    </div>
  </div>
</section>
