<section class="o-bg-grey-5 o-py-60" component-root>
  <div class="o-container-xl o-py-40">
    <h2 class="sm:o-text-h1 md:o-text-38 o-text-center">{{ content.field_title | field_value }}</h2>
    <div class="o-w-40 o-border-b-4 o-border-blue-highlight o-mx-auto o-mt-12 o-mb-20"></div>
    <div class="o-row o-text-grey-69">
      {% for testimonial in content.field_testimonials|field_value %}
        {{ testimonial }}
      {% endfor %}
    </div>
  </div>
</section>
