<div class="o-row sm:o-w-full md:o-w-1/3">
  <div class="o-border-b-8 o-border-blue o-mx-4 o-p-20">
    <div class="o-text-xlarge o-leading-20 o-font-bold o-text-center">{{ content.field_quote | field_value }}</div>
    <div class="o-text-large o-mt-16 o-text-center">- {{ content.field_citation | field_value }}</div>
  </div>
</div>
