{{ attach_library('slab/grid-rays') }}
<section
    component-root="demos"
    class="o-bg-grey-2">
  <div class="o-sticky-pinned">
    <div
        class="o-h-screen"
        style="z-index: -1;"
        grid-rays
        grid-rays-beam-color="blue-highlight"
        grid-rays-vertical-count="1"
        grid-rays-horizontal-count="1">
    </div>
  </div>
  <div class="ms-demo-list o-relative">
    <div class="ms-demo-video-frame-wrapper-desktop">
      <div
          style="background-image: url('/themes/custom/unitedrentals/templates/paragraphs/assets/laptop-left.png');"
          class="ms-demo-video-frame left">
      </div>
      <div
          style="background-image: url('/themes/custom/unitedrentals/templates/paragraphs/assets/laptop-right.png');"
          class="ms-demo-video-frame right">
      </div>
    </div>
    {% for step in content.field_steps|field_value %}
      {{ step }}
    {% endfor %}
  </div>
  <div class="o-mt-60 o-flex o-flex-row">
    <img class="o-mt-32 md:o-mt-60 o-mx-auto o-z-50 o-block" src="{{ content.field_icon | field_value }}" />
  </div>
</section>
