{{ attach_library('slab/reveal') }}
{{ attach_library('slab/grid-rays') }}

{% set bg_color = content.field_background_color | field_value | render | raw %}
{% set text_color = 'o-text-white' %}

{% if bg_color == 'o-bg-grey-5' %}
  {% set text_color = 'o-text-grey-69' %}
{% endif %}

<section component-root="cta-bar" class="{{ bg_color }} o-flex o-flex-col o-justify-center o-items-center ms-cta-tile o-px-40 o-relative">
  <div
      reveal
      reveal-direction="up"
      reveal-trigger="scroll"
      reveal-trigger-scroll-threshold="100"
      class="text-center o-flex o-flex-col o-justify-center o-items-center">
    <div class="{{ text_color }} sm:o-text-xlarge sm:o-leading-24 md:o-text-38 md:o-leading-48 o-mb-20  o-font-bold o-tracking-wide">{{ content.field_title | field_value }}</div>
    <a href="{{ content.field_button_link.0['#url'] }}" class="o-button o-button-regular o-button-primary-alternative">{{ content.field_button_link.0['#title'] }}</a>
  </div>
</section>
