{{ attach_library('slab/reveal') }}

<div class="sm:o-w-1/2 lg:o-w-1/3 sm:o-my-4 md:o-my-8">
  <div
      reveal
      reveal-delay="{{ delayInt }}"
      reveal-direction="up"
      reveal-trigger="scroll"
      reveal-trigger-scroll-threshold="60"
      class="ms-rtb-tile o-flex o-flex-col o-bg-blue sm:o-p-20 md:o-p-48">
    <div class="ms-rtb-tile--title sm:o-text-large sm:o-leading-20 md:o-text-38 md:o-leading-none o-text-white o-font-bold">{{ content.field_title | field_value }}</div>
    <div class="ms-rtb-tile--copy sm:o-text-small sm:o-leading-20 md:o-text-xlarge md:o-leading-24 o-text-white o-mt-20">
      {{ content.field_copy | field_value }}
    </div>
    <div class="ms-rtb-tile--icon o-mt-auto o-mr-auto">{{ content.field_icon | field_value }}</div>
 </div>
</div>
