{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set hero_image = null %}
{% set hero_large = null %}

{% if content.field_display_toggle[0]['#markup'] is same as("On") %}
  {% set hero_large = true %}
{% endif %}

{% if content.field_hero_image['#title'] %}
  {% set hero_image = true %}
{% endif %}

{% embed "@organisms/hero/_global-hero.twig"
  with {
    content: content,
    hero_headline: content.field_headline[0]['#context']['value'],
    hero_copy: content.field_description[0]['#context']['value'],
    hero_sub_headline: content.field_sub_headline[0]['#context']['value'],
    hero_tagline: content.field_sub_tagline[0]['#text'],
    hero_tagline_authenticated_no_credit: content.field_sub_tagline_authenticated_[0]['#text'],
    field_search_takeover: content.field_search_takeover[0],
    field_hero_image: field_hero_image_url,
    video: content.field_video,
    is_logged_in: logged_in,
    icon: icon
  }
%}{% endembed %}