<section class="o-my-60 o-py-40">
  <div class="o-container-xl">
    <div class="o-row">
      <div class="sm:o-w-full md:o-w-1/2 o-bg-cover o-bg-no-repeat o-bg-center ms-sales-rep-tile" style="background-image: url({{ content.field_image | field_value }});"></div>
      <div class="sm:o-w-full md:o-w-1/2 o-flex o-flex-col o-items-center o-flex o-flex-row o-justify-center o-text-grey-69 md:o-px-48">
        <div class="lg:o-text-h1 sm:o-text-xlarge lg:o-leading-28 sm:o-leading-24 o-text-center sm:o-mt-32 o-font-bold o-max-chars">{{ content.field_title | field_value }}</div>
        <hr class="o-decorative-bar-horiz-short o-mt-0 sm:o-mb-40 md:o-mb-28">
        <div class="lg:o-text-xlarge sm:o-text-large o-text-center o-leading-28 o-font-light o-max-chars">{{ content.field_copy | field_value }}</div>
      </div>
    </div>
  </div>
</section>
