{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div class="marketing-landing-page-hero"
     style="background-image: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)), url({{ content.field_hero_image.0 | render | striptags | trim }})">
  <div class="f-row">
    <div class="content small-12 medium-10 medium-offset-1 xxlarge-6 xxlarge-offset-3">
      <h3 class="heading-3">{{ content.field_header.0 }}</h3>
      <hr class="hr-decorative-bar-narrow">
      <h1 class="heading-1">{{ content.field_title.0 }}</h1>
      <div class="flex-row">
        <div>
          <q-button
            button-style="primary-alternative"
            link="{{ content.field_cta[0]['#url'] }}"
            text="{{ content.field_cta.0['#title'] }}"
          ></q-button>
        </div>
      </div>
    </div>
  </div>

</div>
