{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div class="success-story f-row row-max-width-1440"
     style="background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url({{ content.field_background_image.0 | render | striptags | trim }}) no-repeat; background-size: cover; background-position: center center;">
  <div class="success-story--header f-column small-12 medium-8 medium-offset-2 large-8 large-offset-2">
    <p class="success-story--heading c-white text-center decorative-bar-horiz-short--centered">{{ content.field_header.0 }}</p>
    <h3 class="success-story--title c-white text-center">{{ content.field_success_story_title }}</h3>
  </div>

  {% if content.field_video[0] is empty and content.field_success_story_image[0] is empty %}

    <div class="success-story--content-wrapper content-no-media f-column small-12 medium-8 medium-offset-2 large-8 large-offset-2">
        <p class="c-white success-story--copy">{{ content.field_success_story_body.0 }}</p>
        {% if content.field_cta_document[0] %}
          <div class="f-row align-center">
            <div class="success-story--cta f-column small-6 medium-6 large-6">
              <q-button
                button-style="primary-alternative"
                size="small"
                text="{{ content.field_cta_button_text.0 }}"
                link="{{ content.field_cta_document.0 }}"
              />

            </div>
        </div>

        {% endif %}
    </div>

  {% else %}

    <div class="success-story--content-wrapper content-with-media f-row is-collapse-child">
      <div class="success-story--content f-column small-12 medium-6 large-6 small-order-2 medium-order-1 column-padding">
        <p class="success-story--copy c-white">{{ content.field_success_story_body.0 }}</p>
        {% if content.field_cta_document[0] %}
          <div class="success-story--cta f-column small-6 medium-6 large-6">
            <q-button
                button-style="primary-alternative"
                size="small"
                text="{{ content.field_cta_button_text.0 }}"
                link="{{ content.field_cta_document.0 }}"
            />
          </div>
        {% endif %}
      </div>
      {% if content.field_video[0] or content.field_success_story_image[0] %}
        <div class="success-story--media f-column small-12 medium-6 large-6 small-order-1 medium-order-2 column-padding">
          {% if content.field_video[0] %}
            {{ content.field_video }}
          {% else %}
            {{ content.field_success_story_image }}
          {% endif %}
        </div>
      {% endif %}
    </div>

  {% endif %}

</div>