<div class="intro-content f-row row-margin-y">
  <div class="col col-left f-columns small-12 medium-6 column-padding-right small-column-padding-left">
    <h2 class="heading-2 decorative-bar-horiz-wide">{{ content.field_intro_title.0 }}</h2>
    <div class="type-paragraph-base">
      {{ content.field_intro_copy.0 }}
    </div>
    <div class="cta-container">
      <q-button text="{{ content.field_intro_cta.0['#title'] }}" link="{{ content.field_intro_cta.0['#url'] }}"></q-button>
    </div>
  </div>
  <div class="col col-right f-columns small-12 medium-6">
    <div class="background-image-div" style="background-image: url({{ file_url(content.field_intro_image['#items'].entity.uri.value) }})"></div>
    {{ content.field_intro_image.0 }}
  </div>
</div>