<a href="{{ content.field_full_bleed_card_link.0['#url'] }}" class="no-text-decoration">
  <ur-full-bleed-card :item="{
  image: '{{ file_url(content.field_full_bleed_card_image.0["#item"].entity.uri.value) }}',
  alt_text: '',
  title: '{{ content.field_title.0 |escape("js") }}',
  cta: '{{ content.field_full_bleed_cta.0["#title"] |default("") }}' ,
  link: '{{ content.field_full_bleed_cta.0["#url"] |default("") }}',
  copy: '{{ content.field_full_bleed_card_copy.0 |escape("js") }}',
  }"></ur-full-bleed-card>
</a>