<div class="category-block row-margin-y">

  <div class="category-block-title-card small-12 show-for-small-only f-row column-padding">
    <div class="title">
      <h1 class="type-header-h1">{{ content.field_title.0 }}</h1>
      <hr class="hr-decorative-bar-narrow">
    </div>
  </div>

  <div class="full-bleed-cards--row f-row">
    <div class="category-block-title-card medium-3 hide-for-small-only column-padding">
      <div class="title">
        <h1 class="type-header-h1">{{ content.field_title.0 }}</h1>
        <hr class="hr-decorative-bar-narrow">
      </div>
    </div>
    {{ content.field_category_block_cards }}
  </div>
</div>