{{ attach_library('slab/reveal') }}
{{ attach_library('slab/grid-rays') }}
{{ attach_library('slab/emphasis') }}

<section
    component-root="rtb-intro"
    class="relative o-bg-white"
    grid-rays
    grid-rays-vertical-count="5">
  <div class="o-container-xl o-py-36 md:o-py-60">
    <div
        reveal
        reveal-trigger="scroll"
        class="o-header-h3 md:o-text-38 md:o-leading-48 o-text-center o-font-light o-m-0 md:o-px-60 md:o-mx-60">
      {{ content.field_copy | field_value }}
    </div>
  </div>
</section>
