{{ attach_library('slab/reveal') }}
{{ attach_library('slab/parallax') }}

<section
    component-root="demo-intro"
    class="o-w-screen o-flex o-flex-col o-justify-center o-items-center o-text-white ms-demo-intro o-z-auto">
  <img class="parallax level-2 o-object-cover o-h-screen o-w-screen no-parallax-image" src="{{ content.field_image | field_value }}"/>
  <div
      reveal
      reveal-direction="down"
      reveal-trigger-scroll-target="root"
      reveal-trigger="scroll"
      reveal-trigger-scroll-threshold="50"
      class="parallax sticky pin-t">
    <div class="no-parallax-text">
      <div class="o-text-center sm:o-text-h1 sm:o-leading-28 md:o-text-64 md:o-leading-none o-font-bold o-mb-28 sm-only:o-mx-8">
        {{ content.field_title | field_value }}
      </div>
      <div class="o-text-center sm:o-text-large sm:o-leading-20 lg:o-text-h1 lg:o-leading-36 sm-only:o-mx-8">
        {{ content.field_copy | field_value }}
      </div>
    </div>
  </div>
</section>
