/** Utilities: Buttons Print the button style and size variables as btn classes For each style and each size lists @ abstracts/variables/buttons Expected: .btn .btn-style--$style .btn-size--$size */
.btn { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; }

.btn:hover, .btn:active, .btn:focus { font-style: normal; text-decoration: none; }

.btn:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.btn::before, .btn::after { line-height: 1; vertical-align: -0.2376em; }

.btn:empty::before, .btn:empty::after { display: block; margin: 0; vertical-align: inherit; }

.btn-style--primary { background-color: #0050A9; }

.btn-style--primary[disabled], .btn-style--primary.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.btn-style--primary[disabled], .btn-style--primary[disabled]:hover, .btn-style--primary[disabled]:active, .btn-style--primary[disabled]:focus, .btn-style--primary.btn--disabled, .btn-style--primary.btn--disabled:hover, .btn-style--primary.btn--disabled:active, .btn-style--primary.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--primary, .btn-style--primary:hover, .btn-style--primary:active, .btn-style--primary:focus { color: #FFFFFF; }

.btn-style--primary:hover { background-color: #003e7b; }

.btn-style--primary:active { background-color: #002F55; }

.btn-style--primary:visited { color: #FFFFFF; }

.btn-style--primary-reverse { background-color: #FFFFFF; }

.btn-style--primary-reverse[disabled], .btn-style--primary-reverse.btn--disabled { pointer-events: none; }

.btn-style--primary-reverse[disabled], .btn-style--primary-reverse[disabled]:hover, .btn-style--primary-reverse[disabled]:active, .btn-style--primary-reverse[disabled]:focus, .btn-style--primary-reverse.btn--disabled, .btn-style--primary-reverse.btn--disabled:hover, .btn-style--primary-reverse.btn--disabled:active, .btn-style--primary-reverse.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--primary-reverse, .btn-style--primary-reverse:hover, .btn-style--primary-reverse:active, .btn-style--primary-reverse:focus { color: #0050A9; }

.btn-style--primary-reverse:hover { background-color: #F9F9F9; }

.btn-style--primary-reverse:active { background-color: #F2F2F2; }

.btn-style--primary-reverse:visited { color: #0050A9; }

.btn-style--primary-alternative { background-color: #008CFF; }

.btn-style--primary-alternative[disabled], .btn-style--primary-alternative.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.btn-style--primary-alternative[disabled], .btn-style--primary-alternative[disabled]:hover, .btn-style--primary-alternative[disabled]:active, .btn-style--primary-alternative[disabled]:focus, .btn-style--primary-alternative.btn--disabled, .btn-style--primary-alternative.btn--disabled:hover, .btn-style--primary-alternative.btn--disabled:active, .btn-style--primary-alternative.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--primary-alternative, .btn-style--primary-alternative:hover, .btn-style--primary-alternative:active, .btn-style--primary-alternative:focus { color: #FFFFFF; }

.btn-style--primary-alternative:hover { background-color: #006bd0; }

.btn-style--primary-alternative:active { background-color: #0050A9; }

.btn-style--primary-alternative:visited { color: #FFFFFF; }

.btn-style--secondary { background-color: #F9F9F9; border: 0.07143rem solid #DDE0E2; }

.btn-style--secondary[disabled], .btn-style--secondary.btn--disabled { pointer-events: none; }

.btn-style--secondary[disabled], .btn-style--secondary[disabled]:hover, .btn-style--secondary[disabled]:active, .btn-style--secondary[disabled]:focus, .btn-style--secondary.btn--disabled, .btn-style--secondary.btn--disabled:hover, .btn-style--secondary.btn--disabled:active, .btn-style--secondary.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--secondary, .btn-style--secondary:hover, .btn-style--secondary:active, .btn-style--secondary:focus { color: #414B50; }

.btn-style--secondary:hover { background-color: #F2F2F2; }

.btn-style--secondary:active { background-color: #DDE0E2; }

.btn-style--secondary:visited { color: #414B50; }

.btn-style--secondary-alternative { background-color: #F9F9F9; border: 0.07143rem solid #DDE0E2; }

.btn-style--secondary-alternative[disabled], .btn-style--secondary-alternative.btn--disabled { pointer-events: none; }

.btn-style--secondary-alternative[disabled], .btn-style--secondary-alternative[disabled]:hover, .btn-style--secondary-alternative[disabled]:active, .btn-style--secondary-alternative[disabled]:focus, .btn-style--secondary-alternative.btn--disabled, .btn-style--secondary-alternative.btn--disabled:hover, .btn-style--secondary-alternative.btn--disabled:active, .btn-style--secondary-alternative.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--secondary-alternative, .btn-style--secondary-alternative:hover, .btn-style--secondary-alternative:active, .btn-style--secondary-alternative:focus { color: #414B50; }

.btn-style--secondary-alternative:hover { background-color: #0050A9; color: #FFFFFF; }

.btn-style--secondary-alternative:active { background-color: #002F55; }

.btn-style--secondary-alternative:visited { color: #414B50; }

.btn-style--attention { background-color: #F99222; }

.btn-style--attention[disabled], .btn-style--attention.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.btn-style--attention[disabled], .btn-style--attention[disabled]:hover, .btn-style--attention[disabled]:active, .btn-style--attention[disabled]:focus, .btn-style--attention.btn--disabled, .btn-style--attention.btn--disabled:hover, .btn-style--attention.btn--disabled:active, .btn-style--attention.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.btn-style--attention, .btn-style--attention:hover, .btn-style--attention:active, .btn-style--attention:focus { color: #FFFFFF; }

.btn-style--attention:hover { background-color: #d16019; }

.btn-style--attention:active { background-color: #B03712; }

.btn-style--attention:visited { color: #FFFFFF; }

.btn-size--regular { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; }

.btn-size--regular::before, .btn-size--regular::after { font-size: 1.42857rem; }

.btn-size--regular:empty { padding: 0.57143rem; }

.btn-size--regular:empty::before, .btn-size--regular:empty::after { font-size: 1.71429rem; }

.btn-size--small { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; padding: 0.42857rem 0.85714rem; }

.btn-size--small::before, .btn-size--small::after { font-size: 1.14286rem; }

.btn-size--small:empty { padding: 0.42857rem; }

.btn-size--small:empty::before, .btn-size--small:empty::after { font-size: 1.42857rem; }

.btn-size--xsmall { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; padding: 0.28571rem 0.85714rem; }

.btn-size--xsmall::before, .btn-size--xsmall::after { font-size: 1.14286rem; }

.btn-size--xsmall:empty { padding: 0.42857rem; }

.btn-size--xsmall:empty::before, .btn-size--xsmall:empty::after { font-size: 1.14286rem; }
