.used-equipment-card {
  border-radius: 5px;
  box-shadow: 0 0 2px 2px $color-grey-11;

  &__special-offer-stamp {
    position: absolute;
    background: $color-blue-highlight;
    color: $color-white;
    font-size: $font-size-small;
    padding: 10px;
  }

  &__img img {
    width: 100%;
    height: 150px;
  }

  &__body {
    padding: 1rem 1.5rem;
  }

  &__text {
    line-height: 24px;
  }

  &__name {
    color: $color-blue;
    line-height: 20px;
  }

  &__location {
    padding-top: 3px;
    padding-bottom: 3px;

    .icon-map-marker {
      font-size: $font-size-small;
      color: $color-blue;
    }

    .city {
      font-size: $font-size-base;
      color: $color-grey-69;
      line-height: 24px;
    }
  }


  &__price {
    padding-bottom: 7px;

    .price {
      font-size: $font-size-h3;
      color: $color-grey-69;
      line-height: 24px;
    }

    .currency {
      font-size: $font-size-xsmall;
      color: $color-grey-38;
    }

    i {
      color: $color-orange;
    }
  }

  .button {
    display: block;
    text-align: center;
  }
}
