<div class="used-equipment-card">
  {% if used_equipment_card_special_offer %}
    <div class="used-equipment-card__special-offer-stamp">
      {{ used_equipment_card_special_offer_text }}
    </div>
  {% endif %}
  <div class="used-equipment-card__img">
    <img src={{ used_equipment_card_img }} alt={{ used_equipment_card_text }}>
  </div>
  <div class="used-equipment-card__body">
    <div class="used-equipment-card__text">
      <h3 class="used-equipment-card__name">{{ used_equipment_card_name }}</h3>
      <div class="used-equipment-card__location">
        <i class="icon icon-map-marker"></i>
        <span class="city">{{ used_equipment_card_location }}</span>
      </div>
      <div class="used-equipment-card__price">
        <span class="price">${{ used_equipment_card_price }}</span>
        <span class="currency">{{ used_equipment_card_currency }}</span>
        <i class="icon icon-percent"></i>
        <i class="icon icon-special-deals"></i>
        <i class="icon icon-shield"></i>
      </div>
    </div>
    {% include "@atoms/06-buttons/style-1/01-button.twig" %}
  </div>
</div>
