<div style="height: 147px;">
  {% include "@base/layouts/placeholders/_placeholders.twig"
    with {
      title: "Global Header"
    }
  %}
</div>
<div>
  {% include "@organisms/object-detail/object-detail.twig" %}
</div>