.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;
}

.form-item--checkbox__item .label-selection {
  cursor: pointer;
}

.form-item--checkbox__item.disabled {
  input,
  label {
    cursor: default;
  }

  label {
    color: $color-grey-11;

    span {
      border-color: $color-grey-11;
    }
  }
}

input[type="checkbox"] {
  display: none;

  + label span {
    display: inline-block;
    width: 1.1428571429rem; //16
    height: 1.1428571429rem; //16
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-white;
    border: $color-border $border-light solid;
    border-radius: $border-radius-small;
    margin-right: 0.5714285714rem;

    svg {
      display: none;
    }
  }

  &:checked {
    + label span {
      background-color: $color-brand-primary;
      border: none;

      svg {
        fill: white;
        display: block;
      }
    }
  }
}

// TODO: Once checkboxes across the site is being replaced by QCheckbox, we need to delete the above css

.add-credit-card-form,
.account-details-form,
.terms-and-conditions,
.po-number-container {
  .q-checkbox {
    input[type='checkbox'] {
      display: block;
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
    }

    label {
      color: #002f55;
    }
  }
}
