.rental-protection-plan-container {
  padding-bottom: 33px;

  .rpp-heading {
    margin-bottom: 7px;
  }
}

.rental-protection-plan {
  .plan-acceptance {
    display:block;

    @include breakpoint($break-small) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    label:nth-of-type(1) {
      margin-right:2.5rem;
    }

    label {
      font-weight: normal;
      cursor: pointer;
      white-space:nowrap;
      display:flex;
      align-items:center;

      @include breakpoint($break-small) {
        width:auto;
      }
    }
  }
}

.rpp-paragraph {
  font-size: $font-size-small;
  line-height: 20px;
  opacity: 0.71;
  margin-bottom: 17px;

  @include breakpoint($break-small) {
    max-width: 79%;
  }
}