<div class="rental-protection-plan-container">
  {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
    with {
      heading_6: rental_protection_plan
    }
  %}
  <div class="rental-protection-plan">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus quis sollicitudin sapien, et congue elit. Sed bibendum mattis varius. In vitae dui sit amet velit posuere malesuada ac a tellus.
      Aliquam lobortis ipsum vitae nulla egestas, nec congue augue aliquam. Praesent ultricies interdum erat, vel porttitor nisi rutrum quis.
      Etiam aliquam malesuada aliquam. Ut facilisis eros ut feugiat tristique.</p>
    <div class="plan-acceptance">
      {% include '@atoms/05-forms/radio/_radio-item.twig'
        with {
          "key": 1,
          "radio_item": 'I accept'
        }
      %}
      {% include '@atoms/05-forms/radio/_radio-item.twig'
        with {
          "key": 2,
          "radio_item": 'I decline'
        }
      %}
    </div>
  </div>
</div>