/*
---
name: Shadows
category: Atoms
---
```shadows.html hidden
<table>
  <tr>
    <th>
      Example
    </th>
    <th>
      Variable Name
    </th>
    <th>
      Value
    </th>
  </tr>
  <tr>
    <td>
      <div class="example-light example"></div>
    </td>
    <td>
      $shadow-light
    </td>
    <td>
      0px 2px 2px rgba($color-grey-69, .12);
    </td>
  </tr>
  <tr>
    <td>
      <div class="example-heavy example"></div>
    </td>
    <td>
      $shadow-heavy
    </td>
    <td>
      0px 0px 8px rgba($color-grey-69, .24);
    </td>
  </tr>

</table>
```

```shadows:/components/_patterns/_styleguide-common.css hidden
```

```shadows.css hidden
.example{
  background: #fbfbfb;
  height: 50px;
}
.example-heavy{
  box-shadow: 0px 2px 2px rgba(65, 75, 80, .24);
}
.example-light{
  box-shadow: 0px 2px 2px rgba(65, 75, 80, .12);
}
```
*/
