.path-project-uptime {
  .region-pre-content {
    min-height: 150px;
    position: relative;

    .tile__image {
      position: relative;
      z-index: 1;

      img {
        min-height: 150px;
      }
    }

    .title-wrapper {
      bottom: 0;
      left: calc(252px + 3vw);
      position: absolute;
      z-index: 2;

      @media (max-width: 1023px) {
        left: 3vw;
      }
    }

    h3 {
      color: white;
      font-size: 2rem;
      line-height: 1.14286;

      @media (max-width: 1023px) {
        font-size: 1.5rem;
      }
    }
  }

  .main-content--with-sidebar {
    position: relative;

    .views-exposed-form-project-uptime-sort {
      top: 1rem;
    }
  }
}