<div class="widget-section-header">

  {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig"
    with {
      "heading_2": widget_section_title,
      "heading_2_modifiers": widget_section_title_modifiers
    }
  %}

  {% include "@molecules/global-search/search-results.twig" %}

</div>