<template>
  <div v-if="!hasJobsite" :class="{'shimmer': !hasJobsite}"  class="quote-component-shimmer"/>
  <div v-else>
  <div class="platform-account-reservation-details-jobsite" :class="formState">
    <!-- if the date is out of range, or the jobisite is no longer valid show an error message -->
    <div class="group-full" v-if="showErrorAlert">
      <div role="alert">
        <div class="feedback-style1 feedback-style1--error">
          <div @click="clearError" class='icon-large icon-close-circle'></div>
          <p>{{ $i18n('convertQuotes.jobsiteErrorMessage') }}</p>
        </div>
      </div>
    </div>

    <!-- desktop section title -->
    <div class="group-left" v-if="!small">
      <p class="section_name">{{ $i18n('ur.jobsite') }}</p>
    </div>
    <!-- edit content section -->
    <div :class="{'group-right': !small}">
      <!-- save state indicator -->
      <div v-if="saving" key="spinner">
        <ur-loading-spinner style="font-size:1.5rem; margin-left: -0.5rem"></ur-loading-spinner>
        <span>{{ $i18n('ur.savingInfo') }}</span>
      </div>
      <!-- minimized summary view -->
      <!-- mobile version -->
      <template v-if="small && !editActive">
        <div class="small__container">
          <div class="inner-column_small_left">
            <p class="section_name">{{ $i18n('reservationView.jobsite') }}</p>
          </div>
          <div class="inner-column_small_right">
            <p v-if="canEdit" class="edit-link">
              <a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a>
            </p>
          </div>
        </div>
        <div class="group-full">
          <div class="platform-account-reservation-details-jobsite__container">
            <h3>{{ jobsite.name }}</h3>
            <p>{{ jobsite.address1 }}</p>
            <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
            <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
            <br>
            <p class="label">{{ $i18n('reservationView.contact') }}</p>
            <p><strong>{{ jobsite.contact }}</strong></p>
            <p>{{ jobsite.mobilePhone | phoneNumber }}</p>
            <a class="link link--alt link--more-link" :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a>
          </div>
        </div>
      </template>
      <!-- desktop version -->
      <template v-else-if="!small && !editActive">
        <div class="platform-account-reservation-details-jobsite__container">
          <div class="inner-column_five-column">
            <p><strong>{{ jobsite.name }}</strong></p>
            <p>{{ jobsite.address1 }}</p>
            <p v-if="jobsite.address2">{{ jobsite.address2 }}</p>
            <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
          </div>
          <div class="inner-column_five-column">
            <p class="label">{{ $i18n('ur.jobsiteContact') }}</p>
            <p><strong>{{ jobsite.contact }}</strong></p>
            <p>{{ jobsite.mobilePhone | phoneNumber }}</p>
            <a class="link link--alt link--more-link" :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a>
          </div>
          <div class="inner-column_edit_link">
            <a v-if="canEdit" @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a>
          </div>
        </div>
      </template>
      <!-- maximized view -->
      <template v-else>
        <div class="platform-account-reservation-details-req-codes__container">
          <div class="jobsite-active">
            <form class="edit-jobsite-form">
              <transition name="btEditSlideFade2" tag="div">
                <quote-job-selector
                  :account-id="accountId"
                  :value="jobsite.id"
                  :isError="showErrorAlert"
                  :after-add-jobsite-action="afterAddJobsiteAction"
                  @change="change" />
              </transition>
              <div class="error-message" v-if="showErrorAlert">{{$i18n('reservationView.jobsiteErrorMessage')}}</div>
              <transition name="btEditSlideFade2" tag="div">
                <contact-text-input v-model="jobsite.contact" :err="contactErr"></contact-text-input>
              </transition>
              <transition name="btEditSlideFade3" tag="div">
                <phone-text-input v-model="jobsite.mobilePhone" :err="mobileErr"></phone-text-input>
              </transition>
              <transition name="btEditSlideFade3" tag="div">
                <email-text-input v-model="jobsite.email" :err="emailErr"></email-text-input>
              </transition>
            </form>
          </div>
        </div>
        <div class="platform-account-reservation-details-req-codes__container group-full" v-if="small">
          <button class="button button--style-2 button--filled"
                  :disabled="formError"
                  @click="save">
            {{ $i18n('ur.save') }}
          </button>
          <button class="button button--style-2 button--filled-reverse cancel-btn-edit__small"
                  @click="cancel">
            {{ $i18n( 'ur.cancel') }}
          </button>
        </div>
        <div class="platform-account-reservation-details-req-codes__container" v-else>
          <ur-loading-spinner v-if="changing" :styles="requestSpinnerStyles"/>
          <div class="edit-btn-div">
            <button class="button button--style-2 button--filled" :disabled="formError" @click="save">
              {{ $i18n('ur.save') }}
            </button>
          </div>
          <div class="cancel-btn-edit button-div">
            <button
              class="button button--style-2 button--filled-reverse"
              @click="cancel">{{ $i18n('ur.cancel') }}</button>
          </div>
        </div>
      </template>
    </div>
  </div>
  </div>
</template>

<script>
  import QuoteJobSelector from '@/components/platform-account/quotes/src/quote-job-selector';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';

  import { mapGetters } from 'vuex';
  import { isEmpty } from 'lodash';

  export default {
    name: 'quote-jobsite-edit',
    components: {
      QuoteJobSelector,
      UrLoadingSpinner,
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
    },
    props: {
      accountId: String,
      jobsiteError: Boolean,
      formState: String,
      jobsite: {
        type: Object,
        required: true,
      },
      changing: {
        type: Boolean,
        default: false,
      },
      saving: {
        type: Boolean,
        default: false,
      },
      afterAddJobsiteAction: String,
      quote: Object,
      hideEditLink: Boolean,
    },
    data() {
      return {
        errorMessage: '',
        showErrorAlert: false,
        editActive: false,
        requestSpinnerStyles: {
          'font-size': '1.5rem',
          margin: '0 0 0 -25px',
        },
        newJobsite: 0,
        jobsiteModified: false,
      };
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      formError() {
        return this.contactErr || this.mobileErr || this.emailErr;
      },
      contactErr() {
        return !this.jobsite.contact;
      },
      mobileErr() {
        return !this.jobsite.mobilePhone;
      },
      emailErr() {
        return !this.jobsite.email;
      },
      canEdit() {
        return !this.editActive && this.formState !== 'success' && !this.saving && !this.nonEditableStat;
      },
      statusChipClass() {
        const map = {
          SCD: 'scheduled',
          PND: 'pending',
          PRG: 'inprogress',
          CMP: 'completed',
          CXL: 'cancelled',
          QTC: 'cancelled',
        };

        return map[this.quote.orderStatusCode];
      },
      nonEditableStat() {
        // TODO: Activate the edit link after DAL's issue got fixed. Got disabled according to UR-4149 for both Convert and Edit Quote
        // if (this.statusChipClass === 'cancelled' || this.statusChipClass === 'completed' || (this.hideEditLink && !this.editActive)) {
        return true;
        // }
      },
      hasJobsite() {
        return !isEmpty(this.jobsite);
      },
    },
    methods: {
      clearError() {
        this.showErrorAlert = false;
        this.change(0);
      },
      // allow the user to select a jobsite
      change(id) {
        this.newJobsite = id;
        // Test IF there's a new jobsite and IF the new jobsite
        // has information. If there is, and it's empty,
        // the jobsite is no longer valid.
        if (this.newJobsite && this.testNewJobsite(id)) {
          this.$emit('change', this.newJobsite);
        }
      },
      testNewJobsite(id) {
        if (isEmpty(this.$store.state.jobs.all[this.jobsite.accountId][id])) {
          this.showErrorAlert = true;
          return false;
        }
        return true;
      },
      toggleOpen() {
        this.editActive = !this.editActive;
        this.$emit('editJobsiteIsOpen', { status: this.editActive, name: this.$options.name });
      },
      // allow the user to edit the jobsite
      save() {
        // To save the jobsite, we don't need to send
        // the jobsite because we already have it.
        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }
        this.$emit('save', this.jobsite);
        this.newJobsite = 0; // reset "new" because it will soon be "old"
        this.toggleOpen();
      },
      // allow the user to cancel the change
      cancel() {
        this.resetJobsite();
        this.toggleOpen();
        this.editActive = false;
      },
      resetJobsite() {
        this.newJobsite = 0; // reset "new" because it will soon be "old"
        this.$emit('change', this.quote.jobsite.id);
      },
    },
  };
</script>
