<template>
  <div v-if="!dataReady" :class="{'shimmer': !dataReady}" class="quote-component-shimmer"/>
  <div v-else>
  <!--small ( mobile ) view template-->
  <div v-if="small">
    <template v-if="!isOpen">
      <div class="platform-account-reservation-details-delivery-pickup no-border">

        <!--Small view delivery header section-->
        <div class="small__container">
          <div class="inner-column_small_left">
            <p class="section_name">
              {{ $i18n('reservationView.delivery') }}
            </p>
          </div>
          <div class="inner-column_small_right">
            <p v-if="canEdit && formState !== 'success'" class="edit-link"><a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a></p>
          </div>
        </div>
        <!--End small view delivery header section-->

        <!--Delivery section closed display group-->
        <div class="group-full">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <p>
              <strong>
                <span v-if="adjustedPriceValues.deliveryMethod === 'Y'">
                  {{ $i18n('reservationView.urDelivery') }}
                </span>
                <span v-else>
                  {{ $i18n('reservationView.userPickup') }}
                </span>
              </strong>
            </p>
            <div v-if="letSpinnerRun" class="object-listing-spinner">
              <ur-loading-spinner></ur-loading-spinner>
            </div>
            <p v-else>
              <strong>{{ startDateTimeToDisplay | momentMonthDayYearWithNameFormat }}</strong>
              <span>{{ startDateTimeToDisplay | momentShortTime }}<span v-if="!letSpinnerRun"> &mdash; ${{ estimate.totals.deliveryFee }}</span></span>
            </p>
          </div>
        </div>
        <!--End delivery section closed display group-->

        <!--Small view pickup header section-->
        <div class="small__container">
          <div class="inner-column_small_left">
            <p class="section_name">
              {{ $i18n('reservationView.pickupLabel') }}
            </p>
          </div>
        </div>
        <!--End small view pickup header section-->

        <!--Pickup section closed display group-->
        <div class="group-full">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_centered">
              <p>
                <strong>
                  <span v-if="returnType === 'A'">
                    {{ $i18n('checkout.prescheduledPickup') }}
                  </span>
                  <span v-else-if="returnType === 'Y'">
                    {{ $i18n('checkout.urPickup') }}
                  </span>
                  <span v-else>
                    {{ $i18n('checkout.userReturn') }}
                  </span>
                </strong>
              </p>
            </div>
            <div v-if="letSpinnerRun" class="object-listing-spinner">
              <ur-loading-spinner></ur-loading-spinner>
            </div>
            <p v-else>
              <strong>{{ quote.returnDateTime | momentMonthDayYearWithNameFormat }}</strong>
              <span>{{ quote.returnDateTime | momentShortTime }}<span v-if="!letSpinnerRun"> &mdash; ${{ estimate.totals.pickupFee }}</span></span>
            </p>
          </div>
        </div>
        <!--End pickup section closed display group-->
      </div>
    </template>

    <template v-else>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div class="group-full">
          <!--Error alert section-->
          <div v-if="outOfRange" class="message message__error" role="contentinfo" aria-label="">
            <div role="alert" v-if="localError || invalidTime">
              <div class="feedback-style1 feedback-style1--error">
                <div @click="clearError" class='icon-large icon-close-circle'></div>
                <p v-if="!invalidTime && localError"> {{$i18n('e.errorMessage3')}} </p>
                <p v-if="invalidTime"> {{$i18n('e.errorMessage7')}} </p>
              </div>
            </div>
          </div>
          <div v-if="jobsiteError" class="message message__error" role="contentinfo" aria-label="">
            <div role="alert">
              <div class="feedback-style1 feedback-style1--error">
                <p> {{$i18n('e.errorMessage5')}} </p>
              </div>
            </div>
          </div>
          <!--End error alert section-->

          <!--Delivery section-->
          <p class="section_name">
            {{ $i18n('reservationView.receive') }}
          </p>
          <object-details-delivery
            :input="deliveryData"
            :date="adjustedPriceValues.deliveryDate"
            :min="minMoment"
            :baseUrl="deliveryRoot"
            :show-input-error="startOutOfRange || badDateRange"
            :converted-date="convertedDate"
            :satHours="satHours"
            :sunHours="sunHours"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="startOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>
          <!--End delivery section-->

          <!--Pickup section-->
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
          <object-details-pickup
            :input="pickupData"
            :date="adjustedPriceValues.pickupDate"
            :min="adjustedPriceValues.deliveryDate"
            :show-input-error="endOutOfRange || badDateRange"
            :converted-date="convertedDate"
            :satHours="satHours"
            :sunHours="sunHours"
            :returnType="this.returnType"
            :pickupFirm="this.pickupFirm"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="endOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>

          <div v-if="statusAlert" class="group-full">
            <div v-if="retrievingFees" class="shimmer"><span>{{ getSpacingString(64) }}</span></div>
            <label class="fee-warning" v-else-if="statusAlert.type == 'warning'">
              <q-icon v-if="statusAlert.icon" :icon-name="statusAlert.icon"></q-icon> {{ statusAlert.message }}
              <a v-if="statusAlert.action" href="javascript:;" @click="statusAlert.action.callback">{{ statusAlert.action.message }}</a>
            </label>
            <label v-else-if="statusAlert.type == 'error'" class="error" v-html="statusAlert.message"></label>
          </div>
          <!--End pickup section-->

          <!--Delivery/Pickup save section-->
          <div class="group-full">
            <button class="button button--style-2 button--filled" @click="save()" :class="{'button--disabled': outOfRange || badDateRange || invalidTime}">{{ $i18n( 'ur.save') }}</button>
          </div>

          <div class="group-full">
            <button class="button button--style-2 button--filled-reverse cancel-btn-edit__small"  @click="cancel()">
              {{ $i18n( 'ur.cancel') }}
            </button>
          </div>
          <!--End delivery/pickup save section-->

        </div>
      </div>
    </template>
  </div>
  <!--large ( desktop ) view template-->
  <div v-else>
    <template v-if="!isOpen">
      <div class="platform-account-reservation-details-delivery-pickup no-border" :class="formState">
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.receive') }}
          </p>
        </div>
        <div class="group-right">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_five-column">
              <p v-if="adjustedPriceValues.deliveryMethod === 'Y'">
                <strong>{{ $i18n('reservationView.urDelivery') }}</strong>
                <span v-if="!letSpinnerRun">+ ${{ estimate.totals.deliveryFee }}</span>
              </p>
              <p v-else>
                <strong>{{ $i18n('reservationView.userPickup') }}</strong>
                <span v-if="!letSpinnerRun">+ 0</span>
              </p>
            </div>
            <div class="inner-column_five-column">
              <div v-if="letSpinnerRun" class="object-listing-spinner">
                <ur-loading-spinner></ur-loading-spinner>
              </div>
              <p v-else>
                <strong>{{ startDateTimeToDisplay | momentMonthDayYearWithNameFormat }}</strong>
                <span> {{ startDateTimeToDisplay | momentShortTime }}</span>
              </p>
            </div>
            <div class="inner-column_edit_link">
              <p v-if="canEdit && formState !== 'success'" class="edit-link"><a @click.prevent="toggleOpen">{{ $i18n('ur.edit') }}</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="platform-account-reservation-details-delivery-pickup">
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
        </div>
        <div class="group-right">
          <div class="platform-account-reservation-details-delivery-pickup__container">
            <div class="inner-column_five-column">
              <p v-if="returnType !== 'N'">
                <!-- 'A' : pre-scheduled pickup -->
                <strong v-if="returnType === 'A'">{{ $i18n('checkout.prescheduledPickup') }}</strong>
                <!-- 'Y' : pickup later -->
                <strong v-else>{{ $i18n('checkout.urPickup') }}</strong>
                <span v-if="!letSpinnerRun">+ ${{ estimate.totals.pickupFee }}</span>
              </p>
              <p v-else>
                <!-- 'N' : user return -->
                <strong>{{ $i18n('checkout.userReturn') }}</strong>
                <span v-if="!letSpinnerRun">+ 0</span>
              </p>
            </div>
            <div class="inner-column_five-column">
              <div v-if="letSpinnerRun" class="object-listing-spinner">
                <ur-loading-spinner/>
              </div>
              <p v-else>
                <strong>{{ quote.returnDateTime | momentMonthDayYearWithNameFormat }}</strong>
                <span>{{ quote.returnDateTime | momentShortTime }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </template>

    <template v-else>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <div v-if="outOfRange" class="message message__error" role="contentinfo" aria-label="">
          <div role="alert" v-if="localError || invalidTime" class="ml-onesixth mt-20">
            <div class="feedback-style1 feedback-style1--error">
              <div @click="clearError" class='icon-large icon-close-circle'></div>
              <p v-if="!invalidTime && localError"> {{$i18n('e.errorMessage3')}} </p>
              <p v-if="invalidTime"> {{$i18n('e.errorMessage7')}} </p>
            </div>
          </div>
        </div>
        <div v-if="jobsiteError" class="message message__error" role="contentinfo" aria-label="">
          <div role="alert" class="ml-onesixth mt-20">
            <div class="feedback-style1 feedback-style1--error">
              <p> {{$i18n('e.errorMessage5')}} </p>
            </div>
          </div>
        </div>
        <!--Delivery section-->
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('cartItem.delivery') }}
          </p>
        </div>
        <div class="group-right">
          <object-details-delivery
            :input="deliveryData"
            :date="adjustedPriceValues.deliveryDate"
            :min="minMoment"
            :baseUrl="deliveryRoot"
            :satHours="satHours"
            :sunHours="sunHours"
            :show-input-error="startOutOfRange || badDateRange"
            :converted-date="convertedDate"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="startOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>
        </div>
        <!--End delivery section-->
      </div>
      <div class="platform-account-reservation-details-delivery-pickup no-border">
        <!--Pickup section-->
        <div class="group-left">
          <p class="section_name">
            {{ $i18n('reservationView.pickupLabel') }}
          </p>
        </div>
        <div class="group-right no-padding">
          <object-details-pickup
            :input="pickupData"
            :date="adjustedPriceValues.pickupDate"
            :min="adjustedPriceValues.deliveryDate"
            :show-input-error="endOutOfRange || badDateRange"
            :converted-date="convertedDate"
            :satHours="satHours"
            :sunHours="sunHours"
            :returnType="this.returnType"
            @fireTimeError="fireTimeError"
            @change="doChange"/>
          <label v-if="endOutOfRange" class="error" >{{$i18n('e.errorMessage2')}} </label>

          <div v-if="statusAlert" class="group-full">
            <div v-if="retrievingFees" class="shimmer"><span>{{ getSpacingString(64) }}</span></div>
            <label class="fee-warning" v-else-if="statusAlert.type == 'warning'">
              <q-icon v-if="statusAlert.icon" :icon-name="statusAlert.icon"></q-icon> {{ statusAlert.message }}
              &nbsp;<a v-if="statusAlert.action" href="javascript:;" @click="statusAlert.action.callback">{{ statusAlert.action.message }}</a>
            </label>
            <label v-else-if="statusAlert.type == 'error'" class="error" v-html="statusAlert.message"></label>
          </div>
        </div>
        <!--End pickup section-->
      </div>
      <div class="platform-account-reservation-details-delivery-pickup no-padding">
        <div class="group-left"></div>
        <div class="group-right no-padding">
          <div class="platform-account-reservation-details-delivery-pickup no-border">
            <div class="edit-btn-div">
              <button class="button button--style-2 button--filled" @click="save()" :class="{'button--disabled': disableSave }">{{ $i18n( 'ur.save') }}</button>
            </div>
            <div class="cancel-btn-edit button-div">
              <button class="button button--style-2 button--filled-reverse" @click="cancel()">
                {{ $i18n( 'ur.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { dateFormat } from '@/utils';
  import { mapGetters, mapState, mapActions } from 'vuex';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ObjectDetailsDelivery from '@/components/platform-account/common/object-details-delivery';
  import ObjectDetailsPickup from '@/components/platform-account/common/object-details-pickup';
  import types from '@/store/types';
  import { isEmpty } from 'lodash';
  import i18n from '@/data/i18n';
  import PickupDeliveryMixin from '@/components/platform-account/mixins/pickup-delivery-mixin';

  const moment = require('moment');

  export default {
    name: 'quote-delivery-pickup',
    mixins: [PickupDeliveryMixin],
    components: {
      ObjectDetailsDelivery,
      ObjectDetailsPickup,
      UrLoadingSpinner,
    },
    data() {
      return {
        localError: false,
        isOpen: false,
        openHeight: 0,
        letSpinnerRun: false,
        settingBranch: false,
        resetCostWarning: false,
        feeChange: false, // The boolean switch to determine if pu/del settings have changed
        costWarning: false, // The warning if there was a zero cost sent back from the new branch, but only on jobsite change
        retrievingFees: false, // The boolean switch to trigger the spinn wheel when loading fees
        initialPrice: 0, // The SAVED price BEFORE any changes
        adjustedPrice: 0, // The ADJUSTED price AFTER any changes
        differentialPrice: 0,
        initialPriceValues: { // The individual INITIAL price name/value pairs
          pickupDate: {},
          pickupMethod: '',
          deliveryDate: {},
          deliveryMethod: '',
          branchId: '',
        },
        invalidTime: false,
        adjustedPriceValues: { // The individual ADJUSTED price name/value pairs
          pickupDate: {},
          pickupMethod: '',
          deliveryDate: {},
          deliveryMethod: '',
          branchId: '',
        },
        closestBranch: null,
        validHour: null,
        returnType: this.quote.returnType,
        pickupFirm: this.returnType === 'A',
      };
    },
    created() {
      this.$root.$on('pickup-select-change', this.pickupSelectChange);
      this.$root.$on('delivery-select-change', this.deliverySelectChange);
    },
    mounted() {
      if (this.dataReady) {
        // Gather the values from the estimate prop.
        this.setInit();
      }
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        newBranchAndDatesUpdate(state) {
          return Object.values(state.quotes.newBranchAndDatesUpdate || {});
        },
        resetBranchAndDatesUpdateValue(state) {
          return state.quotes.resetBranchAndDatesUpdate;
        },
        account(state) {
          if (!isEmpty(this.quote)) {
            return state.accounts.all[this.quote.accountId];
          }
        },
        jobsites(state) {
          return state.jobs.all[this.account.id];
        },
        branches: state => state.branch.all,
      }),
      jobsite() {
        return this.jobsites[this.quote.jobsite.id];
      },
      satHours() {
        return this.branches[this.deliveryData.branchId].saturdayHours || {};
      },
      sunHours() {
        return this.branches[this.deliveryData.branchId].sundayHours || {};
      },
      pickupData() {
        return {
          transTypeId: this.transTypeId,
          totals: this.estimate.totals,
          pickup: this.adjustedPriceValues.pickupMethod,
          endDateTime: moment(this.quote.returnDateTime),
          openHours: this.branchOpenHours,
        };
      },
      deliveryData() {
        return {
          transTypeId: this.transTypeId,
          totals: this.estimate.totals,
          delivery: this.adjustedPriceValues.deliveryMethod,
          requisitionId: this.quote.requisitionId,
          branchId: this.resetBranchAndDatesUpdateValue === false ? this.newBranchAndDatesUpdate[0]
            : this.quote.branchId,
          openHours: this.branchOpenHours,
        };
      },
      newEstimateData() {
        const { branchId } = this.adjustedPriceValues;
        return {
          branchId,
          startDateTime: this.adjustedPriceValues.deliveryDate.format(dateFormat.iso),
          returnDateTime: this.adjustedPriceValues.pickupDate.format(dateFormat.iso),
          delivery: this.adjustedPriceValues.deliveryMethod,
          urWillPickup: this.adjustedPriceValues.pickupMethod,
          jobsiteId: this.quote.jobsite.id,
          items: this.estimate.items,
          requisitionId: this.quote.requisitionId,
          rpp: this.estimate.rpp,
          accountId: this.quote.accountId,
          webRates: false,
        };
      },
      nonEditableStat() {
        return this.formState === 'cancelled' || this.formState === 'completed' || (this.hideEditLink && !this.isOpen);
      },
      canEdit() {
        return !this.nonEditableStat;
      },
      showDiff() {
        return this.feeChange && !this.settingBranch && !this.badDateRange && !this.costWarning;
      },
      disableSave() {
        return this.outOfRange || this.badDateRange || this.settingBranch || this.costWarning || this.invalidTime;
      },
      statusAlert() {
        let warning = null;
        if (this.outOfRange) { // IF there is any date range error
          warning = {
            type: 'error',
            message: '',
          };
          // If the start date is before "now" IN LOCATION TIMEZONE
          if (this.startOutOfRange) {
            warning.message = i18n.convertQuotes.convertDateError1;
          }
          // If the end date is before "now" IN LOCATION TIMEZONE
          else if (this.endOutOfRange) {
            warning.message = i18n.convertQuotes.convertDateError1;
          }
          // If the date range selected:
          // the dates are the same
          // the end date is before the start date
          else if (this.badDateRange) {
            if (this.adjustedPriceValues.deliveryMethod === 'Y' && this.adjustedPriceValues.pickupMethod === 'Y') {
              warning.message = i18n.convertQuotes.convertDateError2;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'Y' && this.adjustedPriceValues.pickupMethod === 'N') {
              warning.message = i18n.convertQuotes.convertDateError3;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'N' && this.adjustedPriceValues.pickupMethod === 'Y') {
              warning.message = i18n.convertQuotes.convertDateError4;
            }
            if (this.adjustedPriceValues.deliveryMethod === 'N' && this.adjustedPriceValues.pickupMethod === 'N') {
              warning.message = i18n.convertQuotes.convertDateError5;
            }
          }
        }
        else {
          if (this.feeChange) {
            warning = {
              type: 'warning',
              icon: 'refresh',
              message: i18n.reservationView.getFeesWarning,
              action: {
                callback: this.getDiff,
                message: i18n.reservationView.getFeesLinkLabel,
              },
            };
          }
          if (this.costWarning) {
            if (this.adjustedPriceValues.deliveryMethod === 'Y') {
              warning = {
                type: 'error',
                icon: 'shopping-cart',
                message: `${i18n.convertQuotes.noRatesErrorMessage} ${this.closestBranch.phone}`,
              };
            }
            else {
              warning = {
                type: 'error',
                message: i18n.reservationView.incurCostError,
              };
            }
          }

          if (!this.feeChange && this.differentialPrice) {
            const pre = i18n.reservationView.incurCostPre;
            let post = i18n.reservationView.incurCostPostIncrease;
            if (this.differentialPrice < 0) {
              this.differentialPrice *= -1; // eslint-disable-line
              post = i18n.reservationView.incurCostPostDecrease;
            }
            warning = {
              type: 'warning',
              icon: 'shopping-cart',
              message: `${pre} $${this.differentialPrice.toFixed(2).toLocaleString()} ${post}`,
            };
          }
        }

        if (this.resetCostWarning) {
          warning = {};
        }

        return warning;
      },
      dataReady() {
        return !isEmpty(this.estimate) && !isEmpty(this.branches[this.quote.branchId]);
      },
    },
    methods: {
      ...mapActions({
        updateQuote: types.requisitions.updateBoth,
        resetBranchAndDatesUpdate: types.quotes.resetBranchAndDatesUpdate,
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
        fetchRates: types.catalog.fetchRates,
        fetchEstimateWithCommit: types.estimates.fetch,
        fetchEstimateOnly: types.estimates.fetchOnly,
        getClosestBranch: types.jobs.setClosestBranchToJobsite,
      }),
      getSpacingString(length) {
        return String.fromCharCode(0x12007).repeat(length);
      },
      pickupSelectChange(selectedOption) {
        this.pickupFirm = selectedOption === 'A';
        this.returnType = selectedOption;
      },
      deliverySelectChange(selectedOption) {
        this.pickupSelectChange(selectedOption === 'yes' ? 'Y' : 'N');
      },
      /**
       * setInit initializes all the new estimate values
       */
      setInit() {
        const initObject = {
          pickupDate: moment(this.quote.returnDateTime),
          pickupMethod: (this.returnType === 'N') ? 'N' : 'Y',
          deliveryDate: moment(this.quote.startDateTime),
          deliveryMethod: this.quote.urDeliver ? 'Y' : 'N',
          branchId: this.quote.branchId,
        };
        // The SAVED price values BEFORE any changes
        this.initialPriceValues = Object.assign({}, initObject);
        this.adjustedPriceValues = Object.assign({}, initObject);
        this.initialPrice = this.calcPrice(Object.assign({}, this.estimate.totals));
        if (this.outOfRange && !this.nonEditableStat) {
          this.setDateError(true);
          this.localError = true;
          this.isOpen = true;
          this.$emit('toggle', { pickupDeliveryIsOpen: this.isOpen });
          this.$emit('editPickupDeliveryIsOpen', { status: this.isOpen, name: this.$options.name });
        }
        this.resetCostWarning = true;
      },
      setDateError(flag) {
        this.$emit('error', { type: 'date', flag });
      },
      fireTimeError(value) {
        if (value === 0) {
          this.localError = true;
          this.invalidTime = true;
          this.validHour = value;
          this.$emit('error', true);
        }

        this.validHour = value;
      },
      setJobsiteError(flag) {
        this.$emit('error', { type: 'jobsite', flag });
      },
      /**
       * doChange Handles the change of any of the variables involved in pricing for
       * the pickup / dropoff section
       *
       * The possible PRICE change values are:
       *
       * Change pickup method
       * Change pickup date
       * Change delivery method
       * Change delivery date
       *
       * IF we have Branch pickup, or Branch delivery and the
       * user changes to UR pickup, or UR delivery there
       * is a price change
       *
       * IF we have a pickup date change, or a delivery date
       * change there is a price change
       *
       * IF the user manually changes the branchId (branch pickup only)
       * there is probably a price change
       *
       * @param {object} input the simple input values needed {type: '', value: {}}
       * @return {boolean} either execute the method or return false
       */
      doChange(input) {
        if (this.costWarning) {
          this.costWarning = false;
        }
        if (this.differentialPrice) {
          this.differentialPrice = 0;
        }
        switch (input.type) {
          case 'new-delivery-date':
            this.changeDate('deliveryDate', input.value);
            break;
          case 'new-delivery-method':
            this.changeMethod('deliveryMethod', input.value);
            this.changeMethod('pickupMethod', input.value);
            break;
          case 'new-pickup-date':
            this.changeDate('pickupDate', input.value);
            break;
          case 'new-pickup-method':
            this.changeMethod('pickupMethod', input.value);
            break;
          case 'new-branch-id':
            this.changeBranch('branchId', input.value);
            break;
          default:
            return false;
        }

        this.resetCostWarning = false;
      },
      /**
       * changeDate changes the pickup / dropoff date in adjustedPriceValues
       *
       * @param {string} type = deliveryDate or pickupDate
       * @param {object} value = the new moment date object
       */
      changeDate(type, value) {
        this.feeChange = true;
        const adjustedCopy = Object.assign({}, this.adjustedPriceValues);
        adjustedCopy[type] = moment(value);

        if (type === 'deliveryDate') {
          // We need to set the new pickup date to the new delivery date
          const tempVal = moment(adjustedCopy[type]);
          const tempHours = tempVal.hour();
          const tempMinutes = tempVal.minute();
          const newPickup = moment(this.adjustedPriceValues.pickupDate).set({
            hour: tempHours,
            minute: tempMinutes,
          });
          adjustedCopy.pickupDate = newPickup;
        }
        this.adjustedPriceValues = null;
        this.adjustedPriceValues = adjustedCopy;
      },
      /**
       * changeMethod changes the pickup / dropoff method in adjustedPriceValues
       *
       * @param {string} type = deliveryMethod or pickupMethod
       * @param {string} value = yes or no
       */
      changeMethod(type, value) {
        this.feeChange = true;
        this.adjustedPriceValues[type] = value === 'yes' ? 'Y' : 'N'; // eslint-disable-line
        if (this.adjustedPriceValues[type] === 'Y') {
          this.setClosestBranch(this.jobsites[this.newEstimateData.jobsiteId]);
        }
      },
      /**
       * changeBranch changes the branchId value to the selected branch in adjustedPriceValues
       *
       * @param {string} type branchId
       * @param {string} value the new branchId
       */
      changeBranch(type, value) {
        this.feeChange = true;
        this.adjustedPriceValues[type] = value; // eslint-disable-line
        if (this.newEstimateData.delivery === 'Y') {
          // We need to get the closest branchId to get a "real" estimate
          this.setClosestBranch();
        }
      },
      setClosestBranch() {
        this.settingBranch = true;
        const { accountId } = this.quote;
        const jobsiteId = this.jobsite.id;
        this.getClosestBranch({ accountId, jobsiteId }).then((response) => {
          this.closestBranch = this.branches[response];
          this.settingBranch = false;
        });
      },
      /**
       * getDiff gets the difference between the initialPrice and the adjustedPrice
       */
      async getDiff() {
        this.retrievingFees = true;
        const outData = Object.assign({}, this.newEstimateData);
        if (this.closestBranch && outData.delivery === 'Y') {
          outData.branchId = this.closestBranch.branchId;
        }
        this.pullEstimate(outData).then((data) => {
          this.adjustedPrice = this.calcPrice(Object.assign({}, data.totals));
          const rentalFee = data.totals.totalRentalAmount;
          if (this.adjustedPrice > 0 && rentalFee > 0) {
            this.differentialPrice = this.calcDifference();
            this.retrievingFees = false;
            this.feeChange = false;
          }
          else {
            this.retrievingFees = false;
            this.feeChange = false;
            this.costWarning = false;
            this.resetCostWarning = true;
            this.differentialPrice = '0.00';
            this.$emit('error', { type: 'cost', flag: true });
          }
        });
      },
      pullEstimate(outData) {
        return this.fetchEstimateOnly(outData);
      },
      /**
       * calcPrice calculates a price based on the inputs derived from estimate.totals
       *
       * @param {object} inputs estimates.totals
       * @return {number} the calculated price
       */
      calcPrice({ deliveryFee, environmentFee, pickupFee, totalRentalAmount, tax, damageWaiverFee }) { // eslint-disable-line
        return [deliveryFee, environmentFee, pickupFee, totalRentalAmount, tax, damageWaiverFee]
          .reduce((total, charge) => total + parseFloat(charge));
      },
      /**
       * calcDifference calculates the difference between adjusted and initial positive, or negative
       *
       * @return {number} the returned difference
       */
      calcDifference() {
        return (this.adjustedPrice - this.initialPrice);
      },
      /**
       * toggleOpen toggles the current view open and emits the isOpen event
       */
      toggleOpen() {
        this.isOpen = !this.isOpen;
        this.resetCostWarning = true;
        this.$emit('toggle', { pickupDeliveryIsOpen: this.isOpen });
        this.$emit('editPickupDeliveryIsOpen', { status: this.isOpen, name: this.$options.name });
      },
      /**
       * clearError clears the local error message without clearing the actual error
       */
      clearError() {
        this.localError = false;
      },
      /**
       * cancel issues the cancel command for edits to the pricing variables in this view
       */
      cancel() {
        this.adjustedPriceValues = Vue.set(this, 'adjustedPriceValues', Object.assign({}, this.initialPriceValues));
        this.adjustedPrice = 0;
        this.closestBranch = null;
        this.resetBranchAndDatesUpdate(true);
        this.feeChange = false;
        this.differentialPrice = 0;
        this.resetCostWarning = true;
        if (this.costWarning) {
          this.$emit('error', { type: 'cost', flag: false });
          this.costWarning = false;
        }
        this.toggleOpen();
      },
      /**
       * save persists the current selection set to DAL and refreshes the view to the new settings
       */
      save() {
        this.letSpinnerRun = true;
        this.resetCostWarning = true;
        this.$emit('saving', true);

        let branchId = this.resetBranchAndDatesUpdateValue === false ? this.newBranchAndDatesUpdate[0]
          : this.quote.branchId;

        if (this.closestBranch) {
          this.adjustedPriceValues.branchId = this.closestBranch.branchId;
          branchId = this.closestBranch.branchId; // eslint-disable-line
          this.closestBranch = null;
        }

        const sendData = {
          requestId: this.quote.requisitionId,
          transId: this.quote.transId,
          id: this.account.id,
          jobsiteQuoteEditFlag: false,
          updateType: 'transaction',
          branchId,
          delivery: this.adjustedPriceValues.deliveryMethod,
          // pickup: this.adjustedPriceValues.pickupMethod,
          pickup: (this.returnType === 'N') ? 'N' : 'Y',
          pickupFirm: this.pickupFirm,
          startDateTime: this.adjustedPriceValues.deliveryDate.format(dateFormat.iso),
          endDateTime: this.adjustedPriceValues.pickupDate.format(dateFormat.iso),
          returnDateTime: this.adjustedPriceValues.pickupDate.format(dateFormat.iso),
          po: this.quote.po,
          returnType: this.returnType,
        };
        this.updateQuote(sendData).then(() => {
          this.setDateError(false);
          this.adjustedPrice = 0;
          this.feeChange = false;
          this.localError = false;
          this.setJobsiteError(false);

          // Go get the reservation details
          const vuexData = {
            accountId: this.account.id,
            type: 2,
            useCache: false,
            transId: this.quote.transId,
          };
          this.fetchEquipmentOnRent(vuexData).then(() => {
            this.fetchEstimateWithCommit(this.newEstimateData).then(() => {
              this.letSpinnerRun = false;
              this.$emit('saving', false);
              this.closestBranch = null;
              this.setInit(); // reset all to the new estimate values
            });
          });
        });
        this.toggleOpen();
      },
    },
    props: {
      transTypeId: String,
      quote: Object,
      estimate: Object,
      block: {
        type: Object,
      },
      jobsiteError: {
        type: Boolean,
        default: false,
      },
      formState: String,
      deliveryRoot: {
        type: String,
        default: 'quote-details',
      },
      hideEditLink: Boolean,
      pickupType: String,
    },
    watch: {
      jobsiteError() {
        if (this.jobsiteError) {
          this.isOpen = true;
        }
        else if (this.isOpen) {
          this.isOpen = false;
        }
      },
      validHour() {
        if (this.validHour !== 0) {
          this.invalidTime = false;
        }
      },
      dataReady(value) {
        if (value) {
          // Gather the values from the estimate prop.
          this.setInit();
        }
      },
    },
  };
</script>

<style>
  .fee-warning {
    display: flex;
    align-items: center;
  }
</style>
