/* Base button styles */
.o-button {
  @apply font-bold rounded-medium px-12 mx-16 inline-flex items-center no-underline justify-center;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: default;
  }
}

.o-button-full-width {
  @apply w-full mx-0 !important;
}

.o-button-icon {
  @apply font-bold rounded-medium pl-12 pr-8 mx-16 inline-flex items-center no-underline justify-center;

  i {
    @apply ml-8;
  }

  &:disabled {
    cursor: default;
  }
}

.o-button-icon-only {
  @apply font-bold rounded-medium mx-16 p-8 inline-flex items-center no-underline justify-center;

  &:disabled {
    cursor: default;
  }
}

/* Button size styles */
.o-button-xsmall {
  @apply text-xsmall h-28;

  &.o-button-icon-only {
    padding: 6px;
  }
}

.o-button-small {
  @apply text-small h-32;

  &.o-button-icon-only {
    padding: 6px;
  }
}

.o-button-regular {
  @apply text-base h-40;
}

/* Buttons without a border using hover mix */
@each $name, $defaultBg, $defaultLabel, $mouseDownBg, $disabledBg,
  $disabledLabel in (primary, primary-alternative, attention),
  (blue, blue-highlight, orange), (white, white, white),
  (blue-lowlight, blue, orange-lowlight), (grey-11, grey-11, grey-11),
  (grey-69, grey-69, grey-69)
{
  /* $(name) button styles */
  .o-button-$(name) {
    @apply bg-$(defaultBg) text-$(defaultLabel);

    &:hover {
      background-color: mix(
        config('colors.$(mouseDownBg)'),
        config('colors.$(defaultBg)'),
        45%
      );
      @apply text-$(defaultLabel);
    }

    &:active {
      @apply bg-$(mouseDownBg);
    }

    &:disabled {
      color: rgba(config('colors.$(disabledLabel)'), 0o-4);
      @apply bg-$(disabledBg);
    }
  }
}

/* secondary button styles */
.o-button-secondary {
  @apply bg-grey-2 border-utility border text-grey-69;

  &:hover {
    background-color: mix(
      config('colors.grey-11'),
      config('colors.grey-2'),
      45%
    );
  }

  &:active {
    @apply bg-grey-11;
  }

  &:disabled {
    @apply bg-grey-2;
    color: rgba(config('colors.grey-69'), 0.4);
  }
}

/* primary reverse button styles */
.o-button-primary-reverse {
  @apply bg-white text-blue;

  &:hover {
    @apply bg-grey-2;
  }

  &:active {
    @apply bg-grey-5;
  }

  &:disabled {
    @apply bg-white;
    color: rgba(config('colors.grey-69'), 0.4);
  }
}

/* secondary alternative button styles */
.o-button-secondary-alternative {
  @apply bg-grey-2 border-utility border text-grey-69;

  &:hover {
    @apply bg-blue text-white;
  }

  &:active {
    @apply bg-blue-lowlight;
  }

  &:disabled {
    @apply bg-grey-2;
    color: rgba(config('colors.grey-69'), 0.4);
  }
}

/* tertiary button styles */
.o-button-tertiary {
  @apply text-blue;
  background-color: rgba(config('colors.black'), 0);

  &:hover {
    background-color: rgba(config('colors.black'), 0.025);
  }

  &:active {
    @apply text-blue-lowlight;
  }

  &:disabled {
    background-color: rgba(config('colors.black'), 0);
    color: rgba(config('colors.grey-69'), 0.4);
  }
}

/* link button styles */
.o-button-link {
  @apply text-blue font-bold h-20 leading-20 mx-16 inline-flex items-center no-underline justify-center;

  &:hover {
    @apply text-blue-highlight;
  }

  &:active {
    @apply text-blue-lowlight;
  }

  &:disabled {
    @apply text-grey-38;
    cursor: default;

    i {
      @apply text-grey-11;
    }
  }
}

.o-button-link-icon-right {
  @apply flex-row;

  i {
    @apply ml-4;
  }
}

.o-button-link-icon-left {
  @apply flex-row-reverse;

  i {
    @apply mr-4;
  }
}

.o-button-link-xsmall {
  @apply text-xsmall;
}

.o-button-link-small {
  @apply text-small;
}

.o-button-link-regular {
  @apply text-base;
}
