[component-root] {
  z-index: 1;
  position: relative;
}

@screen sm-only {
  .ms-hero-section {
    padding-top: 50px;
  }
}

@screen sm {

  /* RTB Tiles */
  .ms-rtb-tile {
    height: 300px;
  }

  /* CTA Bar */
  .ms-cta-title {
    width: 240px;
  }
  .ms-cta-tile {
    height: 178px;
  }
  .ms-cta-btn {
    height: 30px;
    width: 108px;
  }

  /* Demo Intro */
  .ms-demo-intro {
    height: 420px;
    p {
      @apply mb-16;
    }
  }

  /* Sales Rep */
  .ms-sales-rep-tile {
    height: 220px;
  }
  .ms-sales-rep-title {
    width: 270px;
  }
  .ms-sales-rep-body {
    width: 270px;
  }

  /* FAQ */
  .ms-faq-tile {
    width: 292px;
  }
  .ms-faq-question {
    width: 228px;
  }
  .ms-faq-answer {
    width: 252px;
  }
  .ms-faq-btn {
    height: 40px;
    width: 135px;
  }
}

@screen md {
  /* Hero */
  .ms-hero-section {
    max-height: 735px;
  }

  .ms-hero-img {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ms-hero-title {
    width: 568px;
  }
  .ms-hero-subtitle {
    width: 445px;
  }

  /* RTB Tiles */
  .ms-rtb-tile {
    height: 460px;
  }

  /* CTA Bar */
  .ms-cta-title {
    width: 575px;
  }
  .ms-cta-tile {
    height: 360px;
  }
  .ms-cta-btn {
    height: 40px;
    width: 135px;
  }

  /* Demo Intro */
  .ms-demo-intro {
    height: 600px;

    p {
      @apply mb-4;
    }
  }

  /* Sales Rep */
  .ms-sales-rep-tile {
    height: 527px;
  }
  .ms-sales-rep-title {
    width: 400px;
  }
  .ms-sales-rep-body {
    width: 440px;
  }

  /* FAQ */
  .ms-faq-tile {
    width: 1222px;
  }
  .ms-faq-question {
    width: 480px;
  }
  .ms-faq-answer {
    width: 884px;
  }
  .ms-faq-btn {
    height: 40px;
    width: 135px;
  }
}
