.o-decorative-bar-horiz-short {
  &:after {
    @apply h-4 bg-orange mt-12;
    content: '';
    width: 120px;
    display: block;
  }
}

.o-decorative-bar-horiz-wide {
  @apply h-4 bg-orange mt-12;
  margin-left: initial;
  margin-right: initial;
  margin-bottom: 0;
  width: 240px;
}
