[component-root='demos'] {
  --demo-height: 100vh;
  --demo-width: 100vw;
  /*
  WARNING!
  If the image asset used for the video frame changes, these values will need to be updated!
  The values are intentionally unitless so that they may be used in calc() operations.
  */
  --video-asset-aspect: calc(1100 / 619);
  --video-height: calc(50vw / var(--video-asset-aspect));
  --video-width: 50vw;
  --video-wrapper-height: calc(871 / 697 * var(--video-height));
  --video-wrapper-top-offset: calc(
    (var(--demo-height) - var(--video-wrapper-height)) / 2
  );
  --blinder-height: calc(
    (var(--demo-height) - var(--video-wrapper-height)) / 2
  );

  padding: var(--blinder-height) 0px;

  @screen sm-only {
    padding: 0 0 60px 0;
  }

  .ms-demo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--demo-height);
    max-height: var(--demo-height);
    max-width: var(--demo-width);

    @screen sm-only {
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap-reverse;
      height: auto;
      max-height: none;
    }
  }

  /* Single, absolutely-position background  */
  .ms-demo-video-frame-wrapper-desktop {
    @screen sm-only {
      display: none;
    }
    @apply pin;
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: row;

    .ms-demo-video-frame {
      max-width: none;
      top: var(--video-wrapper-top-offset);
      position: sticky;
      background-repeat: no-repeat;
      height: var(--video-wrapper-height);
      width: var(--video-width);
      z-index: 3;

      &.left {
        background-position: center right;
        background-size: contain;
      }

      &.right {
        background-position: center left;
        background-size: 100% 100%;
        &::before,
        &::after {
          @apply bg-grey-2;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: var(--blinder-height);
          z-index: 2;
        }

        &::before {
          bottom: 100%;
        }
        &::after {
          top: calc(var(--video-wrapper-height) - 1px);
        }
      }
    }
  }
}

/* Wraps the video for each demo */
[component-root='demos'] .ms-demo-video-wrapper-mobile {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: 320px;
  background-size: 320px auto;
  background-position: right center;
  .video-vimeo {
    position: absolute;
    top: calc(50% - 92px);
    left: calc(100% - 320px + 44px);
    width: 312px;
    height: 172px;
  }
}

.no-intersection-observer [component-root='demos'] .ms-demo-video-wrapper-mobile {
  overflow: visible;

  &-right-cap {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100px;
    height: 320px;
    background-size: auto 213px;
    background-position: left center;
    z-index: 1;
    @apply bg-grey-2;
  }
}

/* Wraps the video for each demo */
[component-root='demos'] .ms-demo-video-wrapper-desktop {
  @screen sm-only {
    display: none;
  }
  @apply bg-white;
  position: relative;
  flex-shrink: 1;
  flex-grow: 0;
  z-index: 1;
  width: calc(var(--demo-width) / 2);
  flex-basis: 50%;
  height: var(--demo-height);

  .video-vimeo {
    box-sizing: content-box;
    width: var(--video-width);
    padding-top: 4.5%;
    position: sticky;
    height: var(--video-height);
    top: var(--video-wrapper-top-offset);
  }
}

/* Wraps the actual text content for each demo */
[component-root='demos'] .ms-demo-description-wrapper {
  @apply pl-60;
  @apply text-grey-69;
  @screen md {
    flex-basis: 50%;
  }
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  z-index: 3;

  & > * {
    width: 280px;
  }

  .ms-demo-title-label {
    @apply text-64;
    @apply text-blue-highlight;
    @apply font-light;
  }

  .ms-demo-title {
    @apply text-38;
    @apply leading-none;
    @apply text-blue-highlight;
    @apply font-bold;
    @apply mt-12;
  }

  .ms-demo-body {
    @apply leading-28;
    @apply mt-24;
    @screen sm {
      @apply text-h4;
    }
    @screen md {
      @apply text-xlarge;
    }
  }
}
