[component-root] [emphasis] {
  position: relative;
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 4px), #f99222 4px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

[component-root] [emphasis].emphasis {
  background-size: 100% 100%;
}

.no-intersection-observer [component-root] [emphasis] {
  background-size: auto;
  background-image: none;
  border-bottom: 4px solid #f99222;
}