.field-label-required {
  @apply block text-h6 text-grey-69 font-bold leading-16 mt-40 mb-8;
}
.field-label-optional {
  @apply block text-h6 text-grey-69 leading-16 mt-40 mb-8;
}

.field-message {
  @apply block text-small leading-20 mt-8;
}

.field-checkbox {
  input[type="checkbox"] {
  }
  label {
    @apply;
  }
}

input::placeholder,
textarea::placeholder {
  @apply text-grey-38 font-normal opacity-100;
}

.input-field {
  @apply h-40 bg-white rounded-medium border-utility border-1 text-grey-69 px-12 font-normal appearance-none;

  &:invalid {
    @apply text-grey-38 font-normal;
  }

  [disabled] {
    @apply text-grey-38 font-normal;
  }
}
