[component-root] svg.grid-rays {
  --ray-width: 1px;
  --ray-animation-time: 10s;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  g.ray {
    height: 100vh;
    width: 100vw;
  }

  path.track {
    stroke-width: var(--ray-width);
  }

  path.beam {
    stroke-width: var(--ray-width);
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: beam var(--ray-animation-time) ease-in-out forwards infinite;
  }

  :nth-child(2n) path.beam {
    animation-direction: reverse;
  }
}

@keyframes beam {
  0% {
    stroke-dashoffset: 2000;
  }
  30% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dashoffset: -2000;
  }
  100% {
    stroke-dashoffset: -2000;
  }
}
