.o-container-xl {
  @apply max-w-1440 mx-auto;
}

.o-container-xxl {
  @apply max-w-1920 mx-auto;
}

.o-row {
  @apply flex flex-wrap;
}

.o-sticky-pinned {
  @apply pin;
  position: absolute;
  pointer-events: none;
  z-index: -1;

  & > * {
    position: sticky;
    top: 0;
  }
}

@screen sm {
  .o-container-xl,
  .o-container-xxl {
    padding-left: 10px;
    padding-right: 10px;
  }

  .o-row {
    @apply -mx-4;

    > * {
      @apply px-4;
    }
  }
}

@screen md {
  .o-container-xl,
  .o-container-xxl {
    padding-left: 24px;
    padding-right: 24px;
  }

  .o-row {
    @apply -mx-8;

    > * {
      @apply px-8;
    }
  }
}

@screen lg {
  .o-container-xl,
  .o-container-xxl {
    padding-left: 56px;
    padding-right: 56px;
  }
}

@screen xl {
  .o-container-xl,
  .o-container-xxl {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@screen xxl {
  .o-container-xxl {
    padding-left: 96px;
    padding-right: 96px;
  }
}
