/* The parallax wrapper must be set to a fixed height! */
.parallax-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.parallax-wrapper .parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  /* Level 1 is the default */
  transform: translateZ(-0.5px) scale(1.5);

  &.level-0 {
    transform: translateZ(-0.25px) scale(1.25);
  }

  &.level-1 {
    transform: translateZ(-0.5px) scale(1.5);
  }

  &.level-2 {
    transform: translateZ(-2px) scale(3);
  }

  &.level-3 {
    transform: translateZ(-3px) scale(4);
  }
}

.mobile-menu-visible .parallax-wrapper {
  perspective: none;
  transform-style: flat;
  overflow: visible;
}
