[component-root] [reveal] {
  --reveal-duration: .4s;
  --reveal-timing-function: ease-in-out;
  --reveal-translation: 50%;
  --reveal-distance: 0;

  position: relative;
  opacity: 0;
  transition:
    opacity var(--reveal-duration) var(--reveal-timing-function),
    left var(--reveal-duration) var(--reveal-timing-function),
    top var(--reveal-duration) var(--reveal-timing-function);

  &.reveal {
    @apply pin;
    opacity: 1;
  }

  &[reveal-direction="down" i] {
    top: calc(-1 * var(--reveal-distance));
  }

  &[reveal-direction="up" i] {
    top: var(--reveal-distance);
  }

  &[reveal-direction="left" i] {
    left: var(--reveal-distance);
  }

  &[reveal-direction="right" i] {
    left: calc(-1 * var(--reveal-distance));
  }
}

.no-intersection-observer [component-root] [reveal] {
  opacity: 1!important;
}

.no-intersection-observer .no-parallax-image {
  z-index: 0;
  background-color: #00FF00;
}

.no-intersection-observer .no-parallax-text {
  margin-top: -435px;
  z-index: 1;
}

.no-intersection-observer .ms-demo-video-wrapper-desktop, .no-intersection-observer .ms-demo-video-frame-wrapper-desktop {
  display: none;
}

/* .no-intersection-observer .ms-demo-video-wrapper-mobile {
  display: none;
} */
