/* Typogrpahy styles */

.o-display1 {
  @apply text-display1 font-bold leading-48 mb-20;
  margin-top: 64px;
}

.o-header-h1 {
  @apply text-h1 font-bold leading-36 mb-16;
  margin-top: 52px;
}

.o-header-h2 {
  @apply text-h2 font-bold leading-24 mt-48 mb-16;
}

.o-header-h3 {
  @apply text-h3 font-bold leading-24 mt-44 mb-12;
}

.o-header-h4 {
  @apply text-h4 font-bold leading-20 mt-40 mb-8;
}

.o-header-h5 {
  @apply text-h5 font-bold leading-20 mt-40 mb-8;
}

.o-header-h6 {
  @apply text-h6 font-bold leading-16 mt-40 mb-8;
}

.o-max-chars {
  max-width: 448px;
}

.o-paragraph-base {
  @apply text-base leading-20;
}

.o-paragraph-small {
  @apply text-small leading-20;
}

.o-paragraph-large {
  @apply text-large leading-24;
}

@screen sm {
  .sm\:o-header-h1 {
    @apply text-h1 font-bold leading-36 mb-16;
    margin-top: 52px;
  }
  .sm\:o-header-h2 {
    @apply text-h2 font-bold leading-24 mt-48 mb-16;
  }

  .sm\:o-paragraph-base {
    @apply text-base leading-20;
  }
}

@screen md {
  .md\:o-display1 {
    @apply text-display1 font-bold leading-48 mb-20;
    margin-top: 64px;
  }

  .md\:o-header-h1 {
    @apply text-h1 font-bold leading-36 mb-16;
    margin-top: 52px;
  }

  .md\:o-header-h2 {
    @apply text-h2 font-bold leading-24 mt-48 mb-16;
  }

  .md\:o-paragraph-large {
    @apply text-large leading-24;
  }
}

@screen lg {
  .lg\:o-display1 {
    @apply text-display1 font-bold leading-48 mb-20;
    margin-top: 64px;
  }

  .lg\:o-header-h1 {
    @apply text-h1 font-bold leading-36 mb-16;
    margin-top: 52px;
  }
}
