.scrim-image {
  background-color: rgba(config('colors.black'), 0.65);
}

.o-object-cover {
  picture {
    width: 100%;
    height: 100%;
    display: flex;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
