{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {#{{ attachment_before }}#}

  <div class="faq">
    <div class="faq-large">

      <div class="select">
        <select class="faq-cat-select dropdown-style1">
          {% for term_name in taxonomy_term_names %}
            <option value="{{ term_name|clean_class }}">{{ term_name }}</option>
          {% endfor %}
        </select> <i class="icon icon-angle-down"></i>
      </div>

      <nav>
        <ul class="faq-cat-tabs">
          {% for term_name in taxonomy_term_names %}
            <li><a href="#" data-tab="{{ term_name|clean_class }}" class="faq-tab-button">{{ term_name }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <div class="faq-large__list faq-large__list-category">
        {{ rows }}
      </div>
    </div>
  </div>
  {{ empty }}
  {{ pager }}

  {#{{ attachment_after }}#}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
