$ur-menu-spacing-sm: 9px;
$ur-menu-spacing-lg: 16px;
$ur-menu-width: 200px;
$ur-menu-item-highlight-bg-color: rgba(221, 224, 226, 0.9);
$ur-menu-label-height: 16px;
$ur-menu-item-height: 24px;
$ur-menu-curve: cubic-bezier(0.4, 0.0, 0.2, 1);

@mixin item-border {
  border-top: 1px solid $color-grey-11;
}

.ur-menu-wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  & .ur-menu-wrapper {
    width: 100%;
  }
}

.ur-menu-wrapper .ur-menu-container {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 100%;
  z-index: 9999;
  opacity: 0;
  box-shadow: $shadow-heavy;
  background: white;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.active {
    display: flex;
    opacity: 1;
  }
  & .ur-menu-container {
    left: 101%;
    max-height: 396px;
    overflow-y: scroll;
    top: 0;
  }
}

.ur-menu-button {
  padding: 5px 10px;
  line-height: 2rem;
  color: $color-grey-69;
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-small;
  display: inline-block;
  align-items: center;
  cursor: pointer;

  &:hover {
    border-color: $color-grey-38;
  }

  &:active {
    background-color: #c9cccd;
  }
}

.ur-menu-title {
  line-height: 2rem;
  margin: 0;
  font-size: 2vm;
}

.ur-menu-group {
  color: $color-grey-38;
  flex-direction: column;
  min-width: $ur-menu-width;
  background-color: $white;
  &:first-child {
    border-radius: $border-radius-med, $border-radius-med, $border-radius-med, $border-radius-med;
  }
  border-radius: 0, 0, $border-radius-med, $border-radius-med;

  &-description {
    box-sizing: content-box;
    padding: $ur-menu-spacing-sm;
    height: $ur-menu-label-height;
    line-height: $ur-menu-label-height;
    display: flex;
    font-size: $font-size-small;
  }

  &-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $dropdown-menu-spacing-sm;
    height: $dropdown-menu-item-height;
    line-height: $dropdown-menu-item-height;
    flex-shrink: 0;
    position: relative;
    margin-bottom: $ur-menu-spacing-sm;

    &-link {
      color: $color-grey-38;
      display: flex;
      align-items: center;
      flex-grow: 1;
      white-space: nowrap;

      .icon {
        visibility: hidden;
        margin-right: $dropdown-menu-spacing-sm;
        color: $color-blue;
      }

      &:visited {
        color: inherit;
      }

      &.active {
        color: $color-grey-69 !important;
        .icon {
          visibility: visible;
        }
      }
    }
  }
}

.selectable {
  &:hover, &:hover > .ur-menu-link {
    text-decoration: none !important;
    color: inherit;
    background-color: $ur-menu-item-highlight-bg-color;
  }
}

.menu-arrow::after {
  font-family: icomoon, sans-serif;
  content: '\f105';
  display: block;
  float: right;
}
