// sass-lint:disable-all

/**
 * @file
 * Styling for contextual module's toolbar tab.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right!important; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: left!important;
}
.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item {
  margin: 0!important;
}
.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item.is-active {
  background-image: -webkit-linear-gradient(rgb(78, 159, 234) 0%, rgb(69, 132, 221) 100%)!important;
  background-image: linear-gradient(rgb(78, 159, 234) 0%, rgb(69, 132, 221) 100%)!important;
}

/* @todo get rid of this declaration by making toolbar.module's CSS less specific */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab.hidden {
  display: none!important;
}

.toolbar .toolbar-bar {
  z-index: 2000 !important;
}

