.form-item--radio__item,
.form-item--radios {
  @include list-reset;
}

input[type="radio"] {
  display: none;

  + label span {
    display: inline-block;
    width: 1.1428571429rem; //16
    height: 1.1428571429rem; //16
    vertical-align: middle;
    cursor: pointer;
    background-color: $color-white;
    border: $color-border $border-light solid;
    border-radius: 50%;
    margin-right: 0.5714285714rem; //8
  }

  &:checked {
    + label span {
      &:after {
        content: "";
        position: absolute;
        width: 0.5714285714rem; //8
        height: 0.5714285714rem; //8
        border-radius: 50%;
        background-color: $color-brand-primary;
        margin-top: 0.2142857143rem; //3
        margin-left: 0.2142857143rem; //3
      }
    }
  }
}
