<input type="radio"
       data-drupal-selector="{{ attributes.storage.id }}"
       id="{{ attributes.storage.id }}"
       name="{{ attributes.storage.name }}"
       value="{{ attributes.storage.value }}"
        {% if attributes.storage.required %}
          required="required" aria-required="aria-required"
        {% endif %}
      />
<label for="{{ attributes.storage.id }}" class="label-selection">
  <span class="radio"></span>{{ attributes.storage.title }}
</label>