<template>
  <div class="reservation-blocks-container" :class="{ 'form-sending' : formState === 'pending', 'form-success': formState === 'success' }">
    <header class="cart__job-title-area" v-if="formState !== 'success'">
      <div class="cart__info-container">
        <div>
          <h3>{{ $i18n('convertQuotes.convertToReservation') }}</h3>
          <p class="paragraph address__paragraph">{{ itemsQuantity }} {{ itemsQuantity > 1 ? "items" : "item" }} -  {{ account.name }} {{ account.id }}</p>
          <p class="dash" v-if="large || xlarge">-</p>
        </div>
      </div>
      <convert-progress :progress.sync="progress"></convert-progress>
    </header>
    <div class="reservation-details">
      <section class="reservation">

        <object-details-item
          :progress="progress.items"
          :allEquipment="allEquipment"
          :transTypeId="transTypeIdentifier"
          :quote="quote"
          :quoteItems="quoteItems"
          :estimate="estimate"
          :loading="estimateLoading"
          :opened="editDetailToggle"
          :isEditable="true"
          :class="{ghost: editPickupDeliveryIsOpen || editJobsiteIsOpen || editBillingIsOpen}"
          :hideEditLink="hideEditLink"
          @editItemQtyIsOpen="handleToggle"
          @toggle="handleToggle"
          @saveQuantity="saveQuantity"/>

        <quote-jobsite-edit
          :jobsite="tempJobsite"
          :jobsiteError="jobsiteError"
          :accountId="defaultAccountId"
          :formState="formState"
          :changing="jobsiteChanging"
          :quote="quote"
          :saving="jobsiteSaving"
          :afterAddJobsiteAction="addJobsiteAction"
          :class="{ghost: editPickupDeliveryIsOpen || editItemQtyIsOpen || editBillingIsOpen}"
          :hideEditLink="hideEditLink"
          @editJobsiteIsOpen="handleToggle"
          @change="setJobsiteChange"
          @save="saveNewJobsite"/>

        <quote-delivery-pickup
          :transTypeId="transTypeIdentifier"
          :quote="quote"
          :transaction="quote"
          :estimate="estimate"
          :defaultChargeEstimateVal="defaultChargeEstimateVal"
          :canEdit="true"
          :jobsiteError="jobsiteError"
          :dateError="dateError"
          :formState="formState"
          :deliveryRoot="'convert-quote'"
          :class="{ghost: editJobsiteIsOpen || editItemQtyIsOpen || editBillingIsOpen}"
          :hideEditLink="hideEditLink"
          :pickupFirm="this.pickupFirm"
          @saving="setDpSaving"
          @editPickupDeliveryIsOpen="handleToggle"
          @error="setError"
          @confirm="setDPConfirmed"/>

        <object-details-billing
          :transTypeId="transTypeIdentifier"
          :quote="quote"
          :estimate="estimate"
          :account="account"
          :progress.sync="progress.billing"
          :formState="formState"
          :canEditForConvert="canEditForConvert"
          :canEdit="true"
          :class="{ghost: editPickupDeliveryIsOpen || editJobsiteIsOpen || editItemQtyIsOpen}"
          :hideDecline="hideDecline"
          :hideRppBlock="hideRppBlock"
          :hideEditLink="hideEditLink"
          :termsChecked="termsChecked"
          @termsChanged="setTerms"
          @noPoChanged="setNoPoChange"
          @expired="setExpired"
          @error="setError"/>
        <div class="platform-account-buttons">
          <div class="group-full" v-if="formState === 'inprogress' && small">
            <div class="platform-account-buttons__container">
              <button class="button button--style-2 button--filled"
                      @click="convertQuote"
                      :class="{
                  'button--disabled': disableButton
                }"
              >
                {{ $i18n('convertQuotes.convertToReservation') }}
              </button>

              <button class="button button--style-2 button--filled-reverse cancel-btn-edit__small" @click="cancel">
                {{ $i18n('convertQuotes.cancel') }}
              </button>
            </div>
          </div>
          <div class="group-left"></div>
          <div class="group-right" v-if="formState === 'inprogress' && !small">
            <div class="platform-account-buttons__container">
              <div class="three-column">
                <button class="button button--style-2 button--filled"
                        @click="convertQuote"
                        :class="{
                      'button--disabled': disableButton
                    }">
                  {{ $i18n('convertQuotes.convertToReservation') }}
                </button>
              </div>

              <div class="three-column cancel-btn-edit">
                <button class="button button--style-2 button--filled-reverse" @click="cancel">
                  {{ $i18n('convertQuotes.cancel') }}
                </button>
              </div>
            </div>
          </div>
          <div class="group-right" v-else-if="formState === 'pending'" >
            <ur-loading-spinner></ur-loading-spinner>
          </div>

        </div>
      </section>

      <aside class="sidebar">
        <object-details-summary-sidebar
          :transTypeId="transTypeIdentifier"
          :quote="quote"
          :quoteItems="quoteItems"
          :estimate="estimate"
          :accountRequirePo="account.requirePo"
          :hideRppLineItem="hideRppLineItem"
          :loading="sidebarLoading"
          :ctaActive="ctaError"/>
      </aside>

    </div>
  </div>
</template>

<script>
  /* eslint-disable max-nested-callbacks */
  import QuoteJobsiteEdit from '@/components/platform-account/quotes/src/quote-jobsite-edit.vue';
  import ObjectDetailsItem from '@/components/platform-account/common/object-details-item.vue';
  import QuoteDeliveryPickup from '@/components/platform-account/quotes/src/quote-delivery-pickup.vue';
  import ObjectDetailsBilling from '@/components/platform-account/common/object-details-billing.vue';
  import ObjectDetailsSummarySidebar from '@/components/platform-account/common/object-details-summary-sidebar.vue';
  import ConvertProgress from '@/components/platform-account/quotes/convert-quote/convert-block/convert-progress.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import { Progress } from '@/lib/cart';
  import types from '@/store/types';
  import moment from 'moment';
  import { get, isEmpty } from 'lodash';

  export default {
    name: 'convert-block',
    components: {
      QuoteJobsiteEdit,
      ObjectDetailsBilling,
      ObjectDetailsItem,
      QuoteDeliveryPickup,
      ObjectDetailsSummarySidebar,
      ConvertProgress,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'categoryByCatClass',
        'categoryIdByCatClass',
        'subCategoryByCatClass',
      ]),
      ...mapState({
        allEquipment: state => state.catalog.equipment,
        defaultAccountId: state => state.user.defaultAccountId,
        quote(state) {
          const { quoteId } = this.$route.params;
          const { equipment } = state.workplace;

          const [firstQuote] = equipment[this.defaultAccountId]
            .filter(({ transId }) => transId === quoteId)
            .map(item => ({ ...item, quoteId: item.transId }));
          const { branch } = types;
          this.$store.dispatch(branch.fetchById, firstQuote.branchId);

          return firstQuote;
        },
        quoteItems(state) {
          return state.workplace.equipment[this.defaultAccountId].filter(a => a.transId === this.$route.params.quoteId) || [];
        },
        account(state) {
          if (this.quote && !isEmpty(state.accounts.all)) {
            return state.accounts.all[this.quote.accountId] || {};
          }
          return {};
        },
        estimate(state) {
          let est = {};
          if (this.quote && !isEmpty(state.estimates.all[this.quote.requisitionId])) {
            est = state.estimates.all[this.quote.requisitionId];
            if (this.checkDate(est.startDate) > 0 || this.checkDate(est.returnDate) > 0) {
              this.setDateError(true);
            }
          }
          return est;
        },
        defaultChargeEstimateVal(state) {
          return state.estimates.defaultVal[this.quote.requisitionId] || {};
        },
        transaction(state) {
          const { quoteId, accountId } = this.quote;
          return get(state.transactions.all, [accountId, quoteId], {});
        },
        jobsites(state) {
          if (!isEmpty(this.quote)) {
            return state.jobs.all[this.quote.accountId];
          }
          return {};
        },
        newestJobsite(state) {
          return state.convertQuotes.jobsiteId;
        },
      }),
      jobsite() {
        let out = {};
        if (this.tempJobsiteId) {
          out = this.jobsites[this.tempJobsiteId];
        }
        else {
          out = this.jobsites[this.quote.jobsite.id];
        }
        return out;
      },
      itemsQuantity() {
        if (!isEmpty(this.quoteItems)) {
          let sum = 0;
          Object.values(this.quoteItems).forEach((item) => {
            sum += parseInt(item.quantity, 10);
            });
          return sum;
        }
        return 0;
      },
      disableButton() {
        let err = false;
        if (this.jobsiteError || this.dateError || this.costError || this.poError) {
          // No error flags
          err = true;
        }
        if (this.account.requirePo !== 'N') {
          const poLength = get(this, ['quote', 'po', 'length'], 0);
          const hasPo = poLength;
          if (!hasPo || this.poError) {
            err = true;
          }
        }
        // Terms checked
        if (!this.termsChecked) {
          err = true;
        }
        // Default CC is Expired
        if (this.ccIsExpired) {
          err = true;
        }
        // Nothing is loading
        if (this.sidebarLoading || this.estimateLoading || this.jobsiteSaving) {
          err = true;
        }
        // Nothing is being edited
        if (this.editJobsiteIsOpen || this.editPickupDeliveryIsOpen || this.editItemQtyIsOpen) {
          err = true;
        }
        return err;
      },
      ctaError() {
        return this.jobsiteError || this.dateError || this.costError;
      },
    },
    data() {
      return {
        jobsiteChanging: false,
        jobsiteSaving: false,
        editJobsiteIsOpen: false,
        editPickupDeliveryIsOpen: false,
        editItemQtyIsOpen: false,
        editBillingIsOpen: false,
        editDetailToggle: false,
        canEditForConvert: true,
        poNotRequired: false,
        ccIsExpired: false,
        originalPo: '',
        hideEditLink: false,
        current: '',
        sidebarLoading: false,
        estimateLoading: false,
        progress: {
          items: Progress.INACTIVE,
          jobsite: Progress.INACTIVE,
          pickupDelivery: Progress.INACTIVE,
          billing: Progress.INACTIVE,
        },
        transTypeIdentifier: 'Q',
        tempJobsiteId: 0,
        tempJobsite: {},
        addJobsiteAction: types.convertQuotes.setNewJobsiteId,
        hideRppLineItem: true,
        hideDecline: false,
        hideRppBlock: true,
        poError: false,
        pickupFirm: false,
      };
    },
    methods: {
      ...mapActions({
        fetchJobs: types.jobs.fetch,
        fetchEstimates: types.estimates.fetch,
        sendConvertQuote: types.convertQuotes.sendQuote,
        setConvertSuccess: types.convertQuotes.setConvertSuccess,
        saveFormQuantity: types.readReservationDetails.saveFormQuantity,
        removeQuote: types.quotes.removeQuote,
        setJobsite: types.convertQuotes.setJobsite,
        saveJobsite: types.readReservationDetails.updateJobsiteInfoOrTransactionJobId,
        storeJobsite: types.jobs.storeJobsite,
        getPlace: types.googleMaps.getPlaceFromAddress,
        setPlace: types.user.ratesPlace,
        updateRequisitionBranchId: types.requisitions.update,
        fetchEquipmentOnRent: types.workplace.fetchEquipmentOnRent,
        fetchFacets: types.facets.fetch,
      }),
      setError(input) {
        const { type, flag } = input;
        switch (type) {
          case 'jobsite':
            this.setJobsiteError(flag);
            break;
          case 'date':
            this.setDateError(flag);
            break;
          case 'cost':
            this.setCostError(flag);
            break;
          case 'poformat':
            this.setPoFormatError(flag);
            break;
          default:
            return false;
        }
      },
      setJobsiteError(flag) {
        this.$emit('jobsiteError', flag);
      },
      setDateError(flag) {
        this.$emit('dateError', flag);
      },
      setCostError(flag) {
        this.$emit('costError', flag);
      },
      setPoFormatError(flag) {
        this.poError = flag;
      },
      setNoPoChange(flag) {
        this.poNotRequired = flag;
      },
      setExpired(flag) {
        this.ccIsExpired = flag;
      },
      setJobsiteChange(id) {
        this.tempJobsiteId = id;
        let changedId = id;
        if (!id) {
          changedId = this.quote.jobId || this.transaction.jobsite.id;
        }
        this.tempJobsite = Object.assign({}, this.jobsites[changedId]);
      },
      setClosestBranch(input) {
        const address = `${input.address1} ${input.city}, ${input.state}`;
        return this.getPlace(address).then(({ place }) => this.setPlace(place));
      },
      saveNewJobsite(input) {
        // input is the "new" jobsite
        this.jobsiteSaving = true;
        this.sidebarLoading = true;
        // Test if we have a new jobsite location
        let newJobsite = false;
        if (input.id !== this.quote.jobsite.id) {
          newJobsite = true;
        }
        // Test if we need to save the jobsite details
        let saveJobsite = false;
        Object.keys(this.jobsite).forEach((k) => {
          if (input[k] !== this.jobsite[k]) {
            saveJobsite = true;
          }
        });
        // IF we have nothing to save...
        if (!saveJobsite && !newJobsite) {
          this.jobsiteSaving = false;
          this.sidebarLoading = false;
          return;
        }

        const jobData = {
          jobId: input.id,
          accountId: input.accountId,
          name: input.name,
          contact: input.contact,
          email: input.email,
          address1: input.address1,
          mobilePhone: input.mobilePhone.replace(/\D/g, ''),
          city: input.city,
          state: input.state,
          zip: input.zip,
          requisitionId: this.quote.requisitionId,
          quoteId: this.quote.quoteId,
          jobsiteQuoteEditFlag: saveJobsite || newJobsite,
          status: 'OR,OA,OC,OD,QR,QT,QC,QD',
        };

        // Save the new jobsite with DAL, then...
        this.saveJobsite(jobData).then(() => {
          // Set the new information into the store.state
          this.storeJobsite(input);
          // Go get the new information to share with
          // all the other elements on the page...
          // If this is a UR Delivery, AND this is a new jobsite id...
          if (newJobsite && this.reservationDetails.delivery === 'Y') {
            // we need to go get the closest branch...
            this.setClosestBranch(input).then((response) => {
              // save the closest branch with DAL...
              this.updateRequisitionBranchId({
                accountId: this.account.id,
                requestId: this.quote.requisitionId,
                branchId: response.branchId,
              });
            });
          }
          // IF this is a branch pickup, we might have just
          // caused a price change for delivery, so we
          // need to alert the user of the change.
          if (this.estimate.delivery === 'N' && newJobsite) {
            this.setJobsiteError(true);
          }
        });
      },
      makeCatClassesAndQuantities(data) {
        const catClassesAndQuantities = [];
        const catClasses = [];
        const quantities = [];
        Object.keys(data).forEach((ea) => {
          if (data[ea].quantity) {
            catClasses.push(ea);
            quantities.push(data[ea].quantity);
            catClassesAndQuantities.push(`${ea}=${data[ea].quantity}`);
          }
        });
        return { catClassesAndQuantities, catClasses, quantities };
      },
      setDpSaving(input) {
        this.sidebarLoading = input;
      },
      setDPConfirmed() {
        this.setJobsiteError(false);
      },
      setFormState(flag) {
        this.$emit('stateChange', flag);
      },
      setTerms() {
        this.$emit('termsChanged');
      },
      checkDate(dateInput) {
        const dateDiff = moment().diff(dateInput, 'day');
        return dateDiff;
      },
      convertQuote() {
        if (this.jobsiteError === false && this.dateError === false) {
          this.canEditForConvert = false;
          this.confirmConvert();
        }
      },
      cancel() {
        this.$router.go(-1);
      },
      getTransaction(quotes) {
        return get(this.transactions, [quotes.accountId, quotes.quoteId, 'items'], {});
      },
      setInitialProgress() {
        this.setJobsiteError(false);
        this.progress.items = Progress.INACTIVE;
        this.progress.jobsite = Progress.INACTIVE;
        this.progress.pickupDelivery = Progress.INACTIVE;
        this.progress.billing = Progress.INACTIVE;

        /**
         * Jobsite in Convert-Quotes can be out of date.
         * Check if still exist
         */
        if (isEmpty(this.jobsite) && isEmpty(this.jobsites)) {
          // create new jobsite
          // hide selectbox
          this.setJobsiteError(true);
          this.progress.jobsite = Progress.ACTIVE;
          this.progress.pickupDelivery = Progress.INACTIVE;
          this.progress.billing = Progress.INACTIVE;
        }
        else if (isEmpty(this.jobsite) && !isEmpty(this.jobsites)) {
          // render selectbox with associated jobsite
          this.setJobsiteError(true);
          this.progress.jobsite = Progress.ACTIVE;
          this.progress.pickupDelivery = Progress.INACTIVE;
          this.progress.billing = Progress.INACTIVE;
        }
        else {
          this.progress.jobsite = Progress.SUMMARY;
        }

        if (this.dateError === true) {
          this.progress.pickupDelivery = Progress.ACTIVE;
          this.progress.billing = Progress.INACTIVE;
        }
        else {
          // pickup valid
          this.progress.pickupDelivery = Progress.SUMMARY;
        }

        if (this.dateError === false && this.jobsiteError === false) {
          this.progress.billing = Progress.ACTIVE;
        }
      },
      async confirmConvert() {
        const dataToSend = {
          quoteId: this.quote.quoteId,
          requestId: this.quote.requisitionId,
          id: this.account.id,
          updateType: 'reserve',
          pickupFirm: this.pickupFirm ? 'Y' : 'N',
        };
        if (this.poNotRequired) {
          dataToSend.po = 'NPOR';
        }
        if (this.quote.po !== this.originalPo) {
          dataToSend.po = this.quote.po;
        }
        // set form in submitting state
        this.setFormState({ state: 'pending' });

        this.sendConvertQuote(dataToSend)
          .then((result) => {
            if (result.result.reqId) {
              window.scrollTo(0, 0);
              this.progress.items = Progress.COMPLETE;
              this.progress.jobsite = Progress.COMPLETE;
              this.progress.pickupDelivery = Progress.COMPLETE;
              this.progress.billing = Progress.COMPLETE;
              this.setFormState({ state: 'success', id: result.result.reqId });
              this.$emit('converted', {
                result,
                quoteItems: this.quoteItems,
                transaction: this.transaction,
                estimate: this.estimate,
              });
              this.$router.push(`/convert-quote-success/${dataToSend.quoteId}`);
            }
          });
      },
      handleToggle(input) {
        this.current = input.name;
        this.editDetailToggle = input.status;
        this.isGhost();
      },
      isGhost() {
        if (this.current === 'object-details-item' && this.editDetailToggle === true) {
          this.editItemQtyIsOpen = true;
          this.editBillingIsOpen = false;
          this.canEditForConvert = false;
          this.hideEditLink = true;
        }
        if (this.current === 'quote-jobsite-edit' && this.editDetailToggle === true) {
          this.editJobsiteIsOpen = true;
          this.editBillingIsOpen = false;
          this.canEditForConvert = false;
          this.hideEditLink = true;
        }
        if (this.current === 'quote-delivery-pickup' && this.editDetailToggle === true) {
          this.editPickupDeliveryIsOpen = true;
          this.editBillingIsOpen = false;
          this.canEditForConvert = false;
          this.hideEditLink = true;
        }
        if (this.current === 'object-details-billing' && this.editDetailToggle === true) {
          this.editBillingIsOpen = true;
          this.editBillingIsOpen = false;
          this.canEditForConvert = true;
          this.hideEditLink = true;
        }
        if (!this.editDetailToggle) {
          this.editJobsiteIsOpen = false;
          this.editItemQtyIsOpen = false;
          this.editPickupDeliveryIsOpen = false;
          this.editBillingIsOpen = false;
          this.canEditForConvert = true;
          this.hideEditLink = false;
        }
      },
      saveQuantity(data) {
        this.estimateLoading = true;
        this.sidebarLoading = true;

        /**
         * WARNING !!!!!
         *
         * I know this is goofy, I understand there are more
         * ES-6 ways of doing this. DO NOT CHANGE THIS!!
         *
         * There is a bug in javascript that nullifies the
         * value of an object on the first pass if that
         * object has only one key/value pair. Sending
         * a null value is BAD. See the note below...
         */
        const sendObj = {
          accountId: this.quote.accountId,
          requestId: this.quote.requisitionId,
          catClassList: '',
          qtyList: '',
        };

        const ccaq = this.makeCatClassesAndQuantities(data);

        /**
         * ATTENTION !!!!!
         *
         * This IF statement is REALLY IMPORTANT...
         * If you try to send this request to the DAL with either of these
         * two variables having an empty value, the request will cause
         * DAL to nullify and destroy all data for this quote
         *
         */
        if (ccaq.catClassesAndQuantities.length) {
          sendObj.catClassList = ccaq.catClasses.join(',');
          sendObj.qtyList = ccaq.quantities.join(',');

          this.saveFormQuantity(sendObj).then(() => {
            this.editDetailToggle = false;
            this.estimateLoading = false;

            const estObj = {
              branchId: this.estimate.branchId,
              startDateTime: this.estimate.startDate,
              returnDateTime: this.estimate.returnDate,
              delivery: this.estimate.delivery ? 'Y' : 'N',
              urWillPickup: this.estimate.pickup ? 'Y' : 'N',
              pickupFirm: this.pickupFirm,
              rpp: this.estimate.rpp,
              items: data,
              accountId: this.estimate.accountId,
              requisitionId: this.quote.requisitionId,
              jobsiteId: this.jobsite.id,
              webRates: false,
              useCache: false,
            };
            this.fetchEstimates(estObj).then(() => {
              this.sidebarLoading = false;
            });
          });
        }
      },
      pullEstimate(delivery, pickup, rpp) {
        const estObj = {
          branchId: this.quote.branchId,
          startDateTime: this.estimate.startDate,
          returnDateTime: this.estimate.returnDate,
          delivery,
          urWillPickup: pickup,
          rpp,
          items: this.estimate.items,
          accountId: this.estimate.accountId,
          jobsiteId: this.quote.jobsite.id,
          requisitionId: this.quote.requisitionId,
        };

        this.fetchEstimates(estObj);
      },
      rppHandler() {
        if (this.account.rppDefault === 'Y') {
          this.hideDecline = true;
          this.hideRppLineItem = false;
          // this.hideRppBlock = false;
        }
        if (this.account.rppDefault === 'N') {
          this.hideRppLineItem = true;
          this.hideDecline = true;
          // this.hideRppBlock = true;
        }
        if (this.account.rppDefault === 'C') {
          this.hideRppLineItem = false;
          this.hideDecline = false;
          // this.hideRppBlock = false;
        }
      },
    },
    props: {
      formState: String,
      jobsiteError: Boolean,
      dateError: Boolean,
      costError: Boolean,
      termsChecked: Boolean,
    },
    mounted() {
      this.setInitialProgress();
      this.tempJobsite = Object.assign({}, this.jobsite);
      this.rppHandler();
      this.originalPo = this.quote.po.slice();
      if (!this.jobsite) {
        this.$router.push({ name: 'cannot-proceed',
          params: {
            errorMsg: `Unable to find jobsite: ${this.quote.jobsite.id}`,
            accountId: this.quote.accountId,
            reqId: this.quote.requisitionId,
          } });
      }
      this.fetchFacets();
    },
    watch: {
      newestJobsite() {
        if (this.newestJobsite) {
          this.setJobsiteChange(this.newestJobsite);
        }
      },
    },
  };
</script>
