<template>
  <div class="gps-utilization">
    <!-- @TODO: figure out why hasGpsEnabled isn't passed with the item-->
    <i v-if="item.simActive" :class="['gps-icon', item.gpsUtilization, 'icon-before-' + getGpsUtilizationIcon]"></i>
    <p
      v-if="displayInLongFormat"
      :class="['m-r-5 m-y-0', {
        'fs-small': !longFormat,
        'utilization-label': !longFormat,
        'unavailable': utilizationIsNA,
        'fw-bold': !utilizationIsNA
      }]">
      {{ gpsUtilizationLabel }}
    </p>
    <p class="status-details" v-if="contextualTextDisplay">{{ contextualText }}</p>
  </div>
</template>

<script lang="ts">
  /* utilizes ts linter */
  /* eslint-disable */
  import moment from 'moment';
  import { WorkplaceEquipmentUtils, WorkplaceEquipmentGpsUtilization as Utilization } from '@/lib/workplace';
  /*
   * @vuese
   * @group Workplace
   * Gps Utilization Workplace Component
   */
  export default {
    name: 'GpsUtilization',
    props: {
      /*
       * @vuese
       * @type WorkplaceEquipment
       * Workplace Equipment To Utilize Gps Logic For
       */
      item: Object,
      /*
       * @vuese
       * @type Boolean
       * Determine if Long Format is being utilized
       */
      longFormat: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      /*
       * @vuese
       * @type String|Void
       * Determine which time context we are utilizing gps for
       */
      contextualText(): string | void {
        // Determine which contextual text to display based on status.
        const now = moment(new Date());

        // When displaying any time value, we were told to take the floor value
        // rather than the ceiling value
        switch (this.item.gpsUtilization) {
          case Utilization.NoSignal:
          case Utilization.Offline:
            const reportedDuration = now.diff(this.item.reportedDateTime, 'days', false);
            return this.$i18n('workplace.gpsUtilization.forXDays',
              { '@count': reportedDuration });
          case Utilization.Idle:
            const lastMeterDuration = now.diff(this.item.lastMeterChange, 'days', false);
            return this.$i18n('workplace.gpsUtilization.forXDays',
              { '@count': lastMeterDuration });
          case Utilization.Online:
            return this.$i18n('workplace.gpsUtilization.noUsageToday');
          case Utilization.Active:
            return this.$i18n('workplace.gpsUtilization.today');
          case Utilization.Overtime:
            const overtimeUsage = moment.duration(this.item.usageToday - 8, 'hours');
            return this.$i18n('workplace.gpsUtilization.forXHours',
              { '@count': overtimeUsage.asHours().toFixed(0) });
          default:
            return;
        }
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if we should display the time period/context
       */
      contextualTextDisplay(): boolean {
        return !this.longFormat
          // If we're displaying in normal format (equipment-list) we will never show contextual text.
          ? false
          // N/A or Online statuses do not display contextual text.
          : ![ Utilization.NA, Utilization.Online ].includes(this.item.gpsUtilization);
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if we should display the long format
       */
      displayInLongFormat(): boolean {
        // N/A status doesn't display in longFormat, but it does in table.
        return !(this.item.gpsUtilization === Utilization.NA && this.longFormat);
      },
      /*
       * @vuese
       * @type String
       * Determine which icon we should use for the gps type
       */
      getGpsUtilizationIcon(): string {
        // Map utilization enum to quark gps icon name.
        switch (this.item.gpsUtilization) {
          case Utilization.Offline:
          case Utilization.NoSignal:
            return 'gps-off';
          case Utilization.Idle:
          case Utilization.Online:
            return 'gps-not-fixed';
          case Utilization.Active:
          case Utilization.Overtime:
            return 'gps-fixed';
          default:
            return 'gps-off';
        }
      },
      /*
       * @vuese
       * @type String
       * Get the gps text label
       */
      gpsUtilizationLabel(): string {
        return WorkplaceEquipmentUtils.getGpsUtilizationLabel(this.item.gpsUtilization);
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if utilization of Gps for the given item is not applicable
       */
      utilizationIsNA(): boolean {
        return this.item.gpsUtilization === Utilization.NA;
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .gps-utilization {
    display: flex;
    align-items: center;

    i.gps-icon {
      font-size: rem(20);
      height: rem(20);
      width: rem(20);
      top: rem(-2);

      &:after {
        bottom: rem(-3);
      }
    }

    p.utilization-label{
      position:relative;
      top: rem(1);
    }

  }

  .unavailable { color: $color-grey-38; }

  .gps-icon {
    margin-right: 4px;

    &.offline,
    &.idle,
    &.no-signal,
    &.overtime {
      color: $color-red;
      position: relative;
    }

    &.idle,
    &.offline,
    &.overtime {
      &:after {
        content: '';
        background: $color-red;
        height: 2px;
        width: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }

    &.active,
    &.online {
      color: $color-blue-highlight;
    }
  }
</style>
