.date-pika-placeholder {
  display: flex;
  flex-direction: column;
  position: relative;

  .date-pika-placeholder__label {
    text-transform: uppercase;
    color: $color-blue;
    margin-bottom: 12px;
    font-size: $font-size-xsmall;
    font-weight: 600;
    padding-bottom: 0;
    line-height: 1;

    &:after {
      content: "\f133";
      font-family: icomoon;
      position: absolute;
      font-size: $font-size-h4;
      top: 30px;
      right: 14px;
      z-index: 1;
    }
  }

  .date-pika-placeholder__input {
    border-color: $gray-light;
    font-size: $font-size-small;
    padding-left: 15px;
    margin-bottom: 0;

      @include breakpoint($break-small) {
        height: 2.85714em;
      }
  }
}
