.labeled-select {
  border-color: $gray-light;

  label {
    font-weight: 600;
    font-size: $font-size-xsmall;
    text-transform: uppercase;
    color: $color-blue;
    padding-bottom: 0;
    margin-bottom: 12px;
    line-height: 1;
  }

  select {
    padding: 0;
    padding-left: 15px;
    font-size: $font-size-small;
  }
}
