.labeled-select {

  label {
    font-weight: 600;
    font-size: $font-size-xsmall;
    text-transform: uppercase;
    color: $color-blue;
    padding-bottom: 0;
    margin-bottom: 12px;
    line-height: 1;
  }

  input {
    border-color: $gray-light;
    font-size: $font-size-small;
  }
}
