<div class="date-pika-placeholder">
  <label class="date-pika-placeholder__label">{{ date_pika_placeholder_label }}</label>
  <input class="date-pika-placeholder__input" type="text" value="{{ date_pika_placeholder_value }}">
</div>
