<div class="labeled-select">
  {% include "@atoms/05-forms/_form-label.twig" with {
      "label": labeled_input_label
    }
  %}
  <input type="{{ labeled_input_type }}" name="{{ labeled_input_name }}" value="{{ labeled_input_value }}">
</div>