<div class="labeled-select">
  {% include "@atoms/05-forms/_form-label.twig" with {
      "label": labeled_select_label
    }
  %}
  {% include "@atoms/05-forms/select/select.twig" with labeled_select_select %}
</div>