.project-uptime-article-teaser__container {
  padding: 35px 0;
  border-bottom: thin solid #DBDBDB;

  .project-uptime-article-teaser {
    display: flex;
  }

  .project-uptime-article-teaser__left {
    padding-right: 15px;
  }

  .project-uptime-article-teaser__category {
    display: flex;

    h4 {
      color: $color-blue-highlight;
      font-size: $font-size-base;
      width: auto;
      margin: 0;
    }

    .project-uptime-article__new {
      background: $color-orange;
      color: $color-white;
      font-size: 7px;
      padding: 4px 10px;
      border-radius: 10px;
      text-transform: uppercase;
      margin-left: 10px;
    }

  }

  h3.heading-3 {
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .project-uptime-article-teaser__content {
    color: $color-grey-69;
  }

}

.project-uptime-article-teaser__list {
  list-style: none;
  padding: 0 3vw;
  margin: 50px 0 0 0;

  @include breakpoint($break-medium) {
    width: calc(100% - 12.44rem);
  }
}

.project-uptime-article-teaser__list__header {
  font-size: $font-size-h1;
  font-weight: 700;

  .total {
    font-weight: normal;
  }
}

.project-uptime-article-teaser__list__container {
  flex-direction: column;
  margin-top: 50px;
}

// Overrides from theme-crossover
.node--type-project-uptime-pages.node--view-mode-teaser {
  .node__title {
    h2 {
      margin: 0;
    }
  }
}
