<ul class="project-uptime-article-teaser__list">
{% for article in articles %}
  <li class="views-row">
    <div class="project-uptime-article-teaser__container">
      <article class="project-uptime-article-teaser">
        {% block content %}
          <div class="project-uptime-article-teaser__left">
            <img class="project-uptime-article-teaser__image" src="{{ article.article_image_src }}" alt="{{ article.article_image_alt }}" />
          </div>
          <div class="project-uptime-article-teaser__right">
            {% if article.article_category_title %}
              <div class="project-uptime-article-teaser__category">
                {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
                  with {
                    "heading_4": article.article_category_title,
                    "heading_4_modifiers": article.article_category_title_modifiers,
                    "heading_4_blockname": article.article_category_blockname,
                  }
                %}
                {% if article.article_is_new %}
                  <div class="project-uptime-article__new">New</div>
                {% endif %}
              </div>
            {% endif %}
            {% if article.article_title %}
              {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
                with {
                  "heading_3": article.article_title,
                  "heading_3_modifiers": article.article_title_modifiers,
                  "heading_3_blockname": article.article_blockname,
                  "heading_3_url": article.article_url
                }
              %}
            {% endif %}
            {% if article.article_content %}
              <div class="project-uptime-article-teaser__content">
                {% for content in article.article_content %}
                  {% include "@atoms/02-text/text/01-paragraph.twig"
                    with {
                      "paragraph_content": content,
                      "paragraph_blockname": article_blockname
                    }
                  %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </article>
    </div>
  </li>
{% endfor %}
</ul>