.path-user {
  .card {
    &-name {
      position: relative;
    }

    &-type {
      font-weight: bold;
      display: inline;
    }
    &-exp {
      font-size: $font-size-small;
      color: $color-grey-38;
    }

    .chip {
      font-size: 7px;
      font-weight: bold;
      font-family: $font-family-sans-serif;
      color: white;
      background: $color-orange;
      border-radius: 100px;
      min-width: 57px;
      height: 14px;
      display: inline-block;
      text-align: center;
      line-height: 14px;
      text-transform: uppercase;
      position: absolute;
      top: 3px;
      margin-left: 1rem;
    }

    .updating-card {
      display: flex;
      margin-left: 25px;
      @include breakpoint($break-small) {
        margin-left: 0;
      }
    }

    .updating-message {
      padding: 3px 0px 0px 15px;
    }
  }
}
