<template>
  <div class="card-exp-month">
    <ur-select :label="$i18n('card.expirationMonth')" :value="localValue" @change="onSelect" @blur="onBlur">
      <option v-for="option in options" :key="option.value" :value="option.value">{{ option.label }}</option>
    </ur-select>

    <ur-error-label v-if="$v.$error" :message="$i18n('e.cardExpMonth')"/>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
        options: [
          { value: '01', label: Drupal.t('(1) Jan') },
          { value: '02', label: Drupal.t('(2) Feb') },
          { value: '03', label: Drupal.t('(3) Mar') },
          { value: '04', label: Drupal.t('(4) Apr') },
          { value: '05', label: Drupal.t('(5) May') },
          { value: '06', label: Drupal.t('(6) Jun') },
          { value: '07', label: Drupal.t('(7) Jul') },
          { value: '08', label: Drupal.t('(8) Aug') },
          { value: '09', label: Drupal.t('(9) Sep') },
          { value: '10', label: Drupal.t('(10) Oct') },
          { value: '11', label: Drupal.t('(11) Nov') },
          { value: '12', label: Drupal.t('(12) Dec') },
        ],
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'card-expiration-month-select',
    props: [
      'value',
    ],
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue === this.localValue) {
          return;
        }
        this.localValue = parentValue;
      },
    },
  };
</script>
