<template>
  <div class="card-exp-year">
    <ur-select :label="$i18n('card.expirationYear')" :value="localValue" @change="onSelect" @blur="onBlur" >
      <option v-for="(option, key) in options" :key="key" :value="option">{{ option }}</option>
    </ur-select>

    <ur-error-label v-if="$v.$error" :message="$i18n('e.cardExpYear')"/>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
        options: (() => {
          const currentYear = new Date().getFullYear();
          return new Array(21).fill('foo').map((value, index) => index + currentYear);
        })(),
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'card-expiration-year-select',
    props: [
      'value',
    ],
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue === this.localValue) {
          return;
        }
        this.localValue = parentValue;
      },
    },
  };
</script>
