<template>
  <div class="country">
    <ur-select :label="$i18n('ur.country')" :value="localValue" @change="setValue($event, true)" :suppressEmptyOption="true">
      <option v-for="(label, val) in countries" :key="val" :value="val">{{ label }}</option>
    </ur-select>

    <ur-error-label v-if="$v.$error" :message="$i18n('e.required')"/>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { required } from 'vuelidate/lib/validators';

  // Import Data
  import countries from '@/data/countries-hash.json';

  export default {
    name: 'country-select',
    props: {
      value: {
        type: String,
        default: '',
        description: 'Select populated with countries',
        required: false,
      },
    },
    components: {
      UrSelect,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: 'US',
        countries,
      };
    },
    methods: {
      setValue(value, touched = false) {
        this.localValue = value;
        this.$emit('change', value);
        if (touched) this.$v.$touch();
      },
    },
    validations: {
      localValue: {
        required,
      },
    },
    watch: {
      value: {
        immediate: true,
        handler(parentValue) {
          this.setValue(parentValue);
        },
      },
    },
  };
</script>
