{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {% include "@organisms/tile/article/article-tile.twig"
    with {
      article_tile_path: ds_content['dynamic_token_field:node-node_path']|render|striptags|trim,
      article_tile_category: ds_content.field_category|render|striptags|trim,
      article_tile_date: ds_content.node_post_date|render|striptags|trim,
      article_tile_headline: ds_content.node_title|render|striptags|trim,
      article_tile_image: ds_content.field_image|render|striptags|trim,
    }
  %}

</{{ ds_content_wrapper }}>
