{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {% embed "@organisms/tile/promotional/promotional-tile.twig"
    with {
      promotional_tile_path: ds_content.field_promotions_link|render|striptags|trim,
      promotional_tile_category: ds_content.field_promotions_category|render|striptags|trim|replace({'&amp;':'&'}),
      promotional_tile_headline: ds_content.node_title|render|striptags|trim|replace({'&amp;':'&'}),
    }
  %}
    {% block promotional_tile_image %}
      {{ ds_content.field_promotions_image }}
    {% endblock %}
  {% endembed %}

</{{ ds_content_wrapper }}>
