<template>
  <div
    class="ur-menu-wrapper"
    :class="orientation"
    v-click-outside="close"
  >
    <span @click="handleButtonClick($event)" :class="[buttonClass, {'active': isActive}]">
      <i v-if="!!icon" class="icon" :class="icon"></i>
      &nbsp;
      <span :class="titleClass" v-html="title"></span>
    </span>
    <i v-if="!!secondaryIcon" class="icon" :class="secondaryIcon"></i>
    <template v-if="!checkBounds">
      <div :class="['ur-menu-container', {'active': isActive}]">
        <slot :open="open" :close="close"></slot>
      </div>
    </template>
    <template v-else-if="checkBounds && overflowSafe === false">
      <div :class="['ur-menu-container', `${offset}`, {'active': isActive}]">
        <slot :open="open" :close="close"></slot>
      </div>
    </template>
    <template v-else>
      <div :class="['ur-menu-container', {'active': isActive}]">
        <slot :open="open" :close="close"></slot>
      </div>
    </template>
  </div>
</template>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: 'ur-menu',
    mounted() {
      this.$el.addEventListener(this.action, this.open.bind(this));

      if (this.action === 'mouseover') {
        this.$el.addEventListener('mouseout', ($event) => {
          if (!$event.relatedTarget || !this.isChildOfMenu($event.relatedTarget)) {
            this.close();
          }
        });
      }
    },
    methods: {
      isChildOfMenu(el) {
        const parent = el.parentNode;
        if (!parent) {
          return false;
        }
        return parent === this.$el || this.isChildOfMenu(parent);
      },
      canRender() {
        if (!this.checkBounds) {
          return true;
        }
        return !((window.innerHeight + window.pageYOffset) >= document.documentElement.scrollHeight - 75);
      },
      open() {
        if (!this.isActive) {
          if (window.innerHeight + window.pageYOffset === document.documentElement.scrollHeight) {
            window.scrollTo(0, document.documentElement.scrollHeight - 1);
          }
          this.isActive = true;
          this.$emit('open', this);
        }
      },
      close() {
        if (this.isActive) {
          this.isActive = false;
          this.$emit('close', this);
        }
      },
      handleButtonClick($event) {
        if (this.isActive && this.closeOnButtonClick) {
          $event.stopPropagation();
          this.close();
        }
      },
    },
    props: {
      icon: {
        type: String,
        default: '',
        required: false,
      },
      secondaryIcon: {
        type: String,
        default: '',
        required: false,
      },
      title: {
        type: String,
        default: '',
        required: true,
      },
      titleClass: {
        type: String,
        default: '',
        required: false,
      },
      buttonClass: {
        type: String,
        default: 'ur-menu-button',
        required: false,
      },
      offset: {
        type: String,
        default: '',
        required: false,
      },
      action: {
        type: String,
        default: 'click',
        required: false,
      },
      orientation: {
        type: String,
        required: false,
        default: 'left',
        validator(value) {
          return ['left', 'right'].includes(value);
        },
      },
      checkBounds: {
        type: Boolean,
        default: false,
        required: false,
      },
      closeOnButtonClick: {
        type: Boolean,
        default: false,
        required: false,
      },
    },
    data() {
      return {
        isActive: false,
        overflowSafe: null,
      };
    },
    updated() {
      this.overflowSafe = this.canRender(this.$el);
    },
  });
</script>
