<template>
  <div class="requisition-code">
    <ur-text-input
      :label="code.title"
      :value="localValue"
      @input="onInput"
    >
    </ur-text-input>
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.requisitionCode')">
    </ur-error-label>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { requiredIf } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrTextInput,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
        required: this.code.required === 'Y',
      };
    },
    methods: {
      onInput(val) {
        this.localValue = val;
        this.$emit('input', val);
      },
    },
    name: 'requisition-code-text-input',
    props: {
      code: {
        required: true,
      },
      value: {
        required: true,
      },
    },
    validations: {
      localValue: {
        requiredIf: requiredIf('required'),
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
