<template>
  <div class="requisition-code">
    <ur-select
      :label="code.title"
      :value="localValue"
      @change="onSelect"
    >
      <option v-for="value in code.valueList" :key="value" :value="value">{{ value }}</option>
    </ur-select>
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.requisitionCode')">
    </ur-error-label>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { requiredIf } from 'vuelidate/lib/validators';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    data() {
      return {
        localValue: this.value,
        required: this.code.required === 'Y',
      };
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$emit('change', value);
      },
    },
    name: 'requisition-code-select',
    props: {
      code: {
        required: true,
      },
      value: {
        required: true,
      },
    },
    validations: {
      localValue: {
        requiredIf: requiredIf('required'),
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue ? 'yes' : 'no';
        }
      },
    },
  };
</script>
