<template>
  <div class="object-listing-header">
    <div class="platform-account-item-list-description">
      <div v-if="small || medium" class="platform-account-item-list-description__mobile-filters">
        <div class="account-title-small" v-if="defaultAccountId">{{ accountName }} #{{ defaultAccountId }}</div>
        <div class="file-sort-buttons">
          <button @click="sortOpen = !sortOpen" class="button button--style-1 button--default">
            <i class="icon icon-sort"></i> <span>{{ $i18n('reservationView.sortLabel') }}</span>
          </button>
          <button @click="filterOpen = !filterOpen" class="button button--style-1 button--default">
            <i class="icon icon-views"></i> <span>{{ $i18n('reservationView.viewLabel') }}</span>
          </button>
        </div>
        <reservation-sort v-if="sortOpen"></reservation-sort>
        <reservation-select v-if="filterOpen"></reservation-select>
      </div>

      <div class="platform-account-item-list-description__container">
        <div class="platform-account-item-list-description__heading">
          <h2>{{ $i18n('reservationView.reservations') }}
            <span v-if="isFetchingReservationsList || isFetchingTransactionsList">
               <ur-loading-spinner class="icon-button"></ur-loading-spinner>
            </span>
            <span v-else>({{ itemCount }})</span>
          </h2>
        </div>
      </div>

      <div v-if="medium" class="platform-account-search">
        <div class="group-full">
          <reservation-search/>
        </div>
      </div>
      <div v-if="large || xlarge" class="platform-account-search">
        <div class="filter-field">
          <reservation-search/>
        </div>
        <div class="filter-field">
          <reservation-select/>
        </div>
        <div class="filter-field">
          <reservation-sort/>
        </div>
        <div class="account-title account-name-label" v-if="defaultAccountId">{{ accountName }} #{{ defaultAccountId }}</div>
      </div>
      <br/>
      <div class="platform-account-search">
        <search-term-badges-container
          @removeFilter="removeSearchTermFilter"
          @removeAllFilters="removeAllSearchTermFilters"
          :filters="reservationSearchTermFilters"/>
      </div>
    </div>

    <span class="platform-account-item-list-description" v-if="itemCount === 0 && !isFetchingReservationsList && !stat"> {{ $i18n('reservationView.noReservations') }}</span>
    <div class="refresh-div" v-if="stat">
      <h3>{{ $i18n('reservationView.whoopsErr') }}</h3>
      <div @click="refresh" class="button refresh-now">
        <span>{{ $i18n('workplace.refreshNow') }}</span>
        <span class="icon icon-refresh"></span>
      </div>
    </div>

    <div class="list__container" v-if="!stat">
      <div class="reservationDetailsSpinner" v-if="isFetchingTransactionsList || isFetchingReservationsList">
        <h2><ur-loading-spinner class="icon-button"></ur-loading-spinner></h2>
      </div>
      <paginate
        name="paginatedReservations"
        :list="reservations"
        :per="15"
        ref="pagination"
        tag="div"
      >
        <reservations-list-item
          v-for="reservation in paginated('paginatedReservations')"
          :key="reservation.requisitionId"
          :name="reservation.jobName"
          :account-id="reservation.accountId"
          :account-name="accountName"
          :order-status-code="reservation.orderStatusCode"
          :order-status="reservation.orderStatus"
          :requisition-id="reservation.requisitionId"
          :reservation-id="reservation.reservationId"
          :isFetchingTransactionsList="isFetchingTransactionsList"
          :start-date="reservation.startDate"
          :items="getTransaction(reservation)"/>
      </paginate>

      <div class="object_listing__footer">
        <div class="paginate-links_container">
          <paginate-links for="paginatedReservations" :async="true" :limit="5" :show-step-links="true"></paginate-links>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import ReservationsListItem from '@/components/platform-account/reservations/src/reservations-list-item';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ReservationSelect from '@/components/platform-account/reservations/src/reservations-select';
  import ReservationSort from '@/components/platform-account/reservations/src/reservations-sort';
  import ReservationSearch from '@/components/platform-account/reservations/src/reservation-search';
  import { SearchTermBadgesContainer } from '@/components/common/listings';
  import { mapGetters, mapState, mapActions } from 'vuex';
  import { get, sortBy } from 'lodash';
  import types from '@/store/types';


  const sorts = {
    'Oldest to newest': 'createdDate',
    'Job Name A-Z': 'jobName',
    'Status A-Z': 'orderStatus',
    'Reservation # ascending': 'reservationId',
  };

  const reversedSorts = {
    'Newest to oldest': 'createdDate',
    'Job Name Z-A': 'jobName',
    'Status Z-A': 'orderStatus',
    'Reservation # descending': 'reservationId',
  };

  export default {
    name: 'reservations-list',
    components: {
      UrLoadingSpinner,
      ReservationsListItem,
      ReservationSelect,
      ReservationSort,
      ReservationSearch,
      SearchTermBadgesContainer,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'filteredReservations',
        'reservationSearchTermFilters',
      ]),
      ...mapGetters({
        isFetchingTransactionsList: types.transactions.fetchTransactionRequestsPending,
      }),
      ...mapState({
        estimates: state => state.estimates.all,
        isFetchingEstimates: state => state.estimates.fetching,
        isFetchingReservationDetails: state => Object.values(state.readReservationDetails.fetching).includes(true),
        isFetchingReservationsList: state => state.reservations.fetching,
        transactions: state => state.transactions.all,
        viewFilter: state => state.reservations.viewFilter,
        viewSort: state => state.reservations.viewSort,
        accounts: state => state.accounts.all || {},
        defaultAccountId: state => state.user.defaultAccountId,
        jobsite(state) {
          return state.jobs.all[this.defaultAccountId] || {};
        },
      }),
      accountName() {
        return get(this.accounts, [this.defaultAccountId, 'name']);
      },
      reservations() {
        let reservations = [];
        this.filteredReservations.forEach((filteredItem) => {
          const currentJobsite = this.jobsite[filteredItem.jobId];
          filteredItem.contact = currentJobsite ? currentJobsite.contact : '';
          filteredItem.address = currentJobsite ? this.getReservationAddress(currentJobsite) : '';
          const transactionObject = get(this, ['transactions', this.defaultAccountId, filteredItem.reservationId, 'items'], {});

          filteredItem.transactions = Object.values(transactionObject);
        });
        if (this.viewFilter !== '') {
          reservations = this.filteredReservations.filter(reservation => reservation.orderStatus === this.viewFilter);
        }
        else {
          reservations = this.filteredReservations;
        }
        if (this.viewSort !== '' && sorts[this.viewSort]) {
          return sortBy(reservations, [sorts[this.viewSort]]);
        }
        else if (this.viewSort !== '' && reversedSorts[this.viewSort]) {
          return sortBy(reservations, [reversedSorts[this.viewSort]]).reverse();
        }
        return reservations;
      },
      itemCount() {
        return this.reservations.length;
      },
    },
    data() {
      return {
        filterOpen: false,
        sortOpen: false,
        paginate: ['paginatedReservations'],
      };
    },
    methods: {
      ...mapActions({
        removeSearchTermFilter: types.reservations.removeFilter,
        removeAllSearchTermFilters: types.reservations.removeAllFilters,
      }),

      getReservationAddress(jobsite) {
        const separator = ', ';
        const address2 = jobsite.address2 ? jobsite.address2 + separator : '';
        return jobsite.address1 + [address2, jobsite.city, jobsite.state, jobsite.zip].join(separator);
      },

      getTransaction(reservation) {
        return get(this.transactions, [reservation.accountId, reservation.reservationId, 'items'], {});
      },
      refresh() {
        this.$emit('refresh', true);
      },
    },
    props: {
      stat: Boolean,
    },
  };
</script>
