<template>

  <div class="reservations-and-quotes">
    <router-view
      :stat="timedOut"
      @refresh="init"></router-view>
  </div>

</template>
<script type="text/babel">
  /* eslint-disable max-nested-callbacks */
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    name: 'reservations',
    data() {
      return {
        timedOut: false,
      };
    },
    computed: {
      ...mapState({
        account(state) {
          return state.accounts.all[this.defaultAccountId];
        },
        defaultAccountId: state => state.user.defaultAccountId,
        accountTrans(state) {
          return state.transactions.all[this.defaultAccountId];
        },
        allReservations(state) {
          return Object.values(state.reservations.all)
            .filter(reservation => reservation.accountId === this.defaultAccountId);
        },
        guid: state => state.user.defaultRequesterId,
        reservationAndTransactionDetails: state => state.readReservationDetails.all,
        transType: () => '1,2,3,4',
      }),
    },
    methods: {
      ...mapActions({
        fetchDetails: types.readReservationDetails.fetch, // fetches details for a reservation OR transaction object
        fetchEstimates: types.estimates.fetch,
        fetchReservations: types.reservations.fetch,
        fetchTransactions: types.transactions.fetch,
        setEmptyEstimate: types.estimates.setEmpty,
      }),
      /**
       * This init function runs after any changes on the account-selector on reservation listing page
       * for changing the account to the one that we can retrieve the correct data from.
       */
      init() {
        const { defaultAccountId, transType } = this;
        const accountId = defaultAccountId;

        this.fetchReservations(this.guid).then(() => {
          this.timedOut = false;
          this.fetchTransactions({ accountId, transType }).then(() => {
            this.timedOut = false;
            this.allReservations.map(({ accountId, requisitionId, reservationId }) =>
              ({ accountId, requisitionId, reservationId }))
              .forEach((params) => {
                this.fetchDetails(params).then(({ data }) => {
                  this.timedOut = false;
                  /**
                   * We normalize all of the data from the details calls into sensible params for estimates calls
                   * Some items will have a requestId, others a requisitionId
                   * Then we'll fetch estimates.
                   */
                  // IF the reservation is corrupted, data will be an empty array.
                  // IF the reservation is valid, it will be an object with keys.
                  if (Object.keys(data).length) {
                    const response = Object.values(data)[0];
                    const { items } = response;

                    let willPickup = response.pickup;
                    if (response.transId) {
                      willPickup = response.urWillPickup;
                    }
                    // response.reservationId ? response.urWillPickup : response.pickup, // eslint-disable-line
                    const estimateData = {
                      accountId: response.accountId,
                      branchId: response.branchId,
                      items,
                      delivery: response.delivery,
                      requisitionId: response.requestId || params.requisitionId,
                      reservationId: response.reservationId || '',
                      returnDateTime: response.returnDateTime || response.endDateTime,
                      rpp: response.rpp === 'Y',
                      startDateTime: response.startDateTime,
                      urWillPickup: willPickup,
                      jobsiteId: response.jobsite.id,
                    };

                    this.fetchEstimates(estimateData).then(() => {
                      this.timedOut = false;
                    }).catch((e) => {
                      console.warn(`This likely means charge estimates call has timeout error.`); // eslint-disable-line
                      if (JSON.stringify(e).includes('cURL error 28')) {
                        this.timedOut = true;
                      }
                    });
                  }
                  else {
                    // setEmptyEstimate doesn't exist, nor does requisitionId
                    this.setEmptyEstimate(params.requisitionId);
                  }
                }).catch((e) => {
                  console.warn(`This likely means details call has timeout error.`); // eslint-disable-line
                  if (JSON.stringify(e).includes('cURL error 28')) {
                    this.timedOut = true;
                  }
                });
              });
          }).catch((e) => {
            console.warn(`This likely means transaction call has timeout error.`); // eslint-disable-line
            if (JSON.stringify(e).includes('cURL error 28')) {
              this.timedOut = true;
            }
          });
        }).catch((e) => {
          console.warn(`This likely means reservations call has timeout error.`); // eslint-disable-line
          if (JSON.stringify(e).includes('cURL error 28')) {
            this.timedOut = true;
          }
        });
      },
    },
    mounted() {
      this.init();
      this.$router.push('/reservation-list');
    },
    watch: {
      defaultAccountId() {
        this.init();
      },
    },
  };
</script>

<style lang="scss">
  @import 'styles/libraries/theme-crossover/ur-legacy-tailwind';
  @import 'styles/libraries/theme-crossover/reservations-and-quotes/imports';
</style>
