<template>
  <div class="reservation-details">
    <section class="reservation">
      <object-details-status
        :transTypeId="transTypeIdentifier"
        :requisition="reservation"
        :estimate="estimate"/>
      <object-details-item
        :allEquipment="allEquipment"
        :transTypeId="transTypeIdentifier"
        :requisition="reservation"
        :estimate="estimate"
        :isEditable="isEditable"
        :readReservationDetails="transaction"
        :loading="estimateLoading"
        :class="{ghost: editPickupDeliveryIsOpen || editJobsiteIsOpen}"
        :hideEditLink="hideEditLink"
        @editItemQtyIsOpen="handleToggle"
        @saveQuantity="saveQuantity"/>
      <reservation-jobsite
        :account="account"
        :transTypeId="transTypeIdentifier"
        :requisition="reservation"
        :estimate="estimate"
        :isEditable="isEditable"
        :class="{ghost: editPickupDeliveryIsOpen || editItemQtyIsOpen}"
        :hideEditLink="hideEditLink"
        @editJobsiteIsOpen="handleToggle"/>
      <reservation-delivery-pickup
        :account="account"
        :transTypeId="transTypeIdentifier"
        :requisition="reservation"
        :isEditable="isEditable"
        :estimate="estimate"
        :totdelamnt="estimate.totals.deliveryFee"
        :totpuamnt="estimate.totals.pickupFee"
        :class="{ghost: editJobsiteIsOpen || editItemQtyIsOpen}"
        :hideEditLink="hideEditLink"
        @editPickupDeliveryIsOpen="handleToggle"/>
      <object-details-billing
        :transTypeId="transTypeIdentifier"
        :reservationDetails="reservationDetails"
        :requisition="reservation"
        :account="account"
        :estimate="estimate"
        :editable="false"
        :class="{ghost: editPickupDeliveryIsOpen || editJobsiteIsOpen || editItemQtyIsOpen}"
        :hideEditLink="hideEditLink"/>
    </section>

    <aside class="sidebar">
      <object-details-summary-sidebar
        :transTypeId="transTypeIdentifier"
        :requisition="reservation"
        :estimate="estimate"
        :hideRppLineItem="hideRppLineItem"
        :loading="sidebarLoading"/>
    </aside>
  </div>
</template>
<script>
  import ObjectDetailsStatus from '@/components/platform-account/common/object-details-status.vue';
  import ObjectDetailsItem from '@/components/platform-account/common/object-details-item.vue';
  import ReservationJobsite from '@/components/platform-account/reservations/src/reservation-jobsite.vue';
  import ReservationDeliveryPickup from '@/components/platform-account/reservations/src/reservation-delivery-pickup.vue';
  import ObjectDetailsBilling from '@/components/platform-account/common/object-details-billing.vue';
  import ObjectDetailsSummarySidebar from '@/components/platform-account/common/object-details-summary-sidebar.vue';

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { get, isEmpty } from 'lodash';

  export default {
    components: {
      ObjectDetailsStatus,
      ObjectDetailsItem,
      ReservationJobsite,
      ReservationDeliveryPickup,
      ObjectDetailsBilling,
      ObjectDetailsSummarySidebar,
    },
    computed: {
      ...mapState({
        estimate(state) {
          return state.estimates.all[this.requisitionId] || {};
        },
        readReservationDetails: state => state.readReservationDetails.all,
        reservationDetails() {
          if (!isEmpty(this.readReservationDetails)) {
            return this.readReservationDetails[this.$route.params.requisitionId]
              || this.readReservationDetails[this.reservation.reservationId];
          }
          return {};
        },
        defaultAccountId: state => state.user.defaultAccountId,
        reservation(state) {
          if (!isEmpty(state.reservations.all)) {
            return state.reservations.all[this.requisitionId];
          }
          return {};
        },
        transaction(state) {
          if (!isEmpty(this.reservation)) {
            return state.transactions.all[this.reservation.accountId][this.reservation.reservationId]
              || state.transactions.all[this.reservation.accountId][this.reservation.requisitionId];
          }
        },
        accountingCodesLen(state) {
          if (!isEmpty(this.reservation) && (this.requisitionId)) {
            return Object.values(state.accountingRequisitionCodes
              .all[this.requisitionId] || {})
              .filter(({ codeType }) => codeType === 'A')
              .length;
          }
        },
        requisitionCodesLen(state) {
          if (!isEmpty(this.reservation) && (this.requisitionId)) {
            return Object.values(state.accountingRequisitionCodes
              .all[this.requisitionId] || {})
              .filter(({ codeType }) => codeType === 'R')
              .length;
          }
        },
        allEquipment(state) {
          return state.catalog.equipment;
        },
        account(state) {
          return state.accounts.all[this.reservation.accountId];
        },
      }),
      isEditable() {
        return this.reservation.orderStatusCode === 'PND';
      },
      requisitionId() {
        return this.$route.params.requisitionId;
      },
    },
    data() {
      return {
        transTypeIdentifier: 'R',
        editJobsiteIsOpen: false,
        editPickupDeliveryIsOpen: false,
        editItemQtyIsOpen: false,
        hideEditLink: false,
        sidebarLoading: false,
        estimateLoading: false,
        editDetailToggle: false,
        hideRppLineItem: true,
        current: '',
      };
    },
    methods: {
      ...mapActions({
        saveFormQuantity: types.readReservationDetails.saveFormQuantity,
        fetchEstimates: types.estimates.fetch,
        pullDefaultVal: types.estimates.fetchDefaultVal,
        fetchAccountingRequisitionCodes: types.accountingRequisitionCodes.fetch,
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
        fetchBranch: types.branch.fetch,
      }),
      getTransaction(reservation) {
        return get(this.transactions, [reservation.reqId, 'items'], {});
      },
      init() {
        const catClasses = Object.values(this.reservationDetails.items)
          .map(({ catClass }) => catClass);
        this.fetchEquipment(catClasses);

        if (this.estimate) {
          this.fetchBranch(this.estimate.branchId);
        }

        const transId = this.reservation.reservationId || this.requisitionId;
        const accountId = this.defaultAccountId;

        if (transId) {
          this.fetchAccountingRequisitionCodes({ accountId, transId });
        }
      },
      handleToggle(input) {
        this.current = input.name;
        this.editDetailToggle = input.status;
        this.isGhost();
      },
      rppHandler() {
        if (this.account.rppDefault === 'Y' || this.account.rppDefault === 'C') {
          this.hideRppLineItem = false;
        }
        if (this.account.rppDefault === 'N') {
          this.hideRppLineItem = true;
        }
      },
      isGhost() {
        if (this.current === 'object-details-item' && this.editDetailToggle === true) {
          this.editItemQtyIsOpen = true;
          this.hideEditLink = true;
        }
        if (this.current === 'reservation-jobsite' && this.editDetailToggle === true) {
          this.editJobsiteIsOpen = true;
          this.hideEditLink = true;
        }
        if (this.current === 'reservation-delivery-pickup' && this.editDetailToggle === true) {
          this.editPickupDeliveryIsOpen = true;
          this.hideEditLink = true;
        }
        if (!this.editDetailToggle) {
          this.editJobsiteIsOpen = false;
          this.editItemQtyIsOpen = false;
          this.editPickupDeliveryIsOpen = false;
          this.hideEditLink = false;
        }
      },
      pullDefaultValFunc() {
        const estObj = {
          branchId: this.estimate.branchId,
          startDateTime: this.estimate.startDate,
          returnDateTime: this.estimate.returnDate,
          jobsiteId: this.reservationDetails.jobsite.id,
          delivery: 'Y',
          urWillPickup: 'Y',
          rpp: this.estimate.rpp === 'Y',
          items: this.estimate.items,
          accountId: this.estimate.accountId,
          requisitionId: this.reservation.requisitionId,
        };

        this.pullDefaultVal(estObj);
      },
      saveQuantity(data) {
        this.estimateLoading = true;
        this.sidebarLoading = true;

        /**
         * WARNING !!!!!
         *
         * I know this is goofy, I understand there are more
         * ES-6 ways of doing this. DO NOT CHANGE THIS!!
         *
         * There is a bug in javascript that nullifies the
         * value of an object on the first pass if that
         * object has only one key/value pair. Sending
         * a null value is BAD. See the note below...
         */
        const sendObj = {
          accountId: this.reservation.accountId,
          requestId: this.requisitionId,
          catClassList: '',
          qtyList: '',
        };

        const catClassesAndQuantities = [];
        const catClasses = [];
        const quantities = [];
        Object.keys(data).forEach((ea) => {
          if (data[ea].quantity) {
            catClasses.push(ea);
            quantities.push(data[ea].quantity);
            catClassesAndQuantities.push(`${ea}=${data[ea].quantity}`);
          }
        });

        /**
         * ATTENTION !!!!!
         *
         * This IF statement is REALLY IMPORTANT...
         * If you try to send this request to the DAL with either of these
         * two variables having an empty value, the request will cause
         * DAL to nullify and destroy all data for this requisition
         *
         */
        if (catClassesAndQuantities.length) {
          sendObj.catClassList = catClasses.join(',');
          sendObj.qtyList = quantities.join(',');

          const items = Object.entries(data).reduce((items, [catClass, { quantity }]) => ({
            ...items,
            [catClass]: { quantity },
          }), {});

          this.saveFormQuantity(sendObj).then(() => {
            this.editDetailToggle = false;
            this.estimateLoading = false;

            const estObj = {
              branchId: this.estimate.branchId,
              startDateTime: this.reservationDetails.startDateTime,
              returnDateTime: this.reservationDetails.returnDateTime || this.reservationDetails.endDateTime,
              delivery: this.reservationDetails.delivery,
              urWillPickup: this.reservation.reservationId ? this.reservationDetails.urWillPickup : this.reservationDetails.pickup,
              jobsiteId: this.reservationDetails.jobsite.id,
              rpp: this.reservationDetails.rpp === 'Y',
              items,
              accountId: this.estimate.accountId,
              requisitionId: this.requisitionId,
            };

            this.fetchEstimates(estObj).then(() => {
              this.sidebarLoading = false;
            });
          });
        }
      },
    },
    name: 'reservation-details',
    // Hide the Sidebar -- Please leave this commented out for now - ejg
    beforeRouteEnter(to, from, next) {
      sidebarDisplay('none');
      accountSwitcher('none');
      next();
    },
    beforeRouteLeave(to, from, next) {
      sidebarDisplay('block');
      accountSwitcher('block');
      next();
    },
    mounted() {
      window.scrollTo(0, 0);
      this.init();
      this.pullDefaultValFunc();
      this.rppHandler();
    },
  };

  function sidebarDisplay(value) {
    const el = document.querySelector('.main-sidebar');
    if (el) {
      el.style.display = value;
    }
  }

  function accountSwitcher(value) {
    const el = document.querySelector('.account-selector-reservation-listing');
    if (el) {
      el.style.display = value;
    }
  }
</script>
