<template>
  <toast
    @toastClick="goCart"
    class="add-to-cart-toast"
    :cart-size="quantity"
    :class="drawerOpened ? 'drawer-opened' : ''"
    :time-to-live="timeToLive"
    :cart-pointer-right="cartPointerRight">
    <div v-if="!drawerOpened" class="add-to-cart-toast__content">
      <div class="add-to-cart-toast__image-container">
        <img class="add-to-cart-toast__image" width="34" height="34" :src="image.link"
             :alt="image.alt">
      </div>
      <div class="add-to-cart-toast__copy-container">
        <p class="add-to-cart-toast__copy add-to-cart-toast__copy--title">
          {{ title }}
        </p>
        <p class="add-to-cart-toast__copy add-to-cart-toast__copy--details">
          {{ details }}
        </p>
      </div>
    </div>
    <span v-if="!drawerOpened" class="add-to-cart-toast__view-all-items" @click="() => $emit('viewAllItemsClicked')">{{$i18n('toasts.viewAllItems')}}</span>
    <cart-preview-drawer v-else />
  </toast>
</template>

<script>
  import Vue from 'vue';
  import { mapState, mapActions } from 'vuex';
  import { get, isEmpty } from 'lodash';
  import types from '@/store/types';
  import Toast from './toast';
  import CartPreviewDrawer from './cart-preview-drawer';
  import UrGtm from '@/mixins/ur-gtm';

  export default Vue.extend({
    name: 'addToCartToast',
    components: {
      Toast, CartPreviewDrawer,
    },
    props: {
      cartPointerRight: {
        type: String,
        default: '',
      },
      drawerOpened: {
        type: Boolean,
        default: false,
      },
      toastData: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        equipmentItem: {},
        timeToLive: 6000,
      };
    },
    mixins: [
      UrGtm,
    ],
    computed: {
      ...mapState({
        equipment: state => state.catalog.equipment,
      }),
      catClass() {
        return get(this.toastData, ['catClass'], '');
      },
      quantity() {
        return get(this.toastData, ['quantity'], -1);
      },
      title() {
        return this.$i18n(
          this.quantity !== 1 ? 'toasts.itemsAddedToCart' : 'toasts.itemAddedToCart',
          { '@quantity': this.quantity },
        );
      },
      details() {
        return get(this.equipmentItem, ['title'], '');
      },
      image() {
        return get(this.equipmentItem, ['images', 0], {});
      },
    },
    methods: {
      ...mapActions({
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
      }),
      goCart() {
        if (this.drawerOpened) {
          this.gtmTrackCartDrawerStartCheckout(this.cartSize);
        }
        else {
          this.gtmTrackToastClick('Start Checkout');
        }
        this.$nextTick(() => {
          window.location = '/cart';
        });
      },
    },
    async created() {
      if (!isEmpty(this.equipment)) {
        this.equipmentItem = get(this.equipment, [this.catClass], null);
      }
      else {
        const found = await this.fetchEquipment([this.catClass]);
        this.equipmentItem = found[0];// eslint-disable-line
      }
    },
  });
</script>
<style lang="scss" scoped>
  @import 'styles/globals';

  .add-to-cart-toast:not(.drawer-opened) {
    .add-to-cart-toast__content {
      width: 100%;
      display: flex;
      padding: 0;
      justify-content: center;
    }

    .add-to-cart-toast__copy-container {
      @include single-line-clamp();
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-bottom: 1rem;
      margin-left: rem(16);
    }

    .add-to-cart-toast__copy--title {
      @include single-line-clamp();
      font-size: $font-size-preset-40;
      font-weight: $font-weight-bold;
      line-height: rem(17);
      margin: 0;
    }

    .add-to-cart-toast__copy--details {
      @include single-line-clamp();
      font-size: $font-size-preset-30;
      line-height: rem(16);
      margin: rem(4) 0;
    }

    .add-to-cart-toast__image-container {
      width: rem(34);
      height: rem(34);
      flex-shrink: 0;
    }

    .add-to-cart-toast__image {
      height: auto;
      width: auto;
      max-width: rem(34);
      max-height: rem(34);
      vertical-align: top;
    }

    .add-to-cart-toast__view-all-items {
      text-decoration: underline;
      font-size: $font-size-preset-20;
      line-height: rem(18);
      color: $color-grey-69;
      opacity: 1;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }

  .add-to-cart-toast.drawer-opened {
    height: 100%;
  }
</style>
