<template>
  <div class="cart-preview-drawer-item">
    <div class="cart-preview-drawer-item__content">
      <div class="cart-preview-drawer-item__image-container">
        <img class="cart-preview-drawer-item__image" width="41" height="41" :src="equipmentImgSrc"
             :alt="equipmentImgAlt">
      </div>
      <div class="cart-preview-drawer-item__right-container">
          <div class="cart-preview-drawer-item__copy cart-preview-drawer-item__copy--title"
            :class="requestsAreInFlight ? 'shimmer' : ''">
            {{equipment.title}}
          </div>
          <div class="cart-preview-drawer-item__bottom-line-container" :class="requestsAreInFlight ? 'shimmer' : ''">
            <div  class="cart-preview-drawer-item__copy cart-preview-drawer-item__copy--dates">
              {{item.startDate | momentSlashFormat}} - {{item.endDate | momentSlashFormat}}
            </div>
            <div v-if='item.quantity>1' class="cart-preview-drawer-item__copy cart-preview-drawer-item__copy--qty">
              {{$i18n('common.quantityShort')}}: {{item.quantity}}
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import cartItemMixin from '../cart/items/cart-item-mixin';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';

  export default Vue.extend({
    name: 'cartPreviewDrawerItem',
    computed: {
      requestsAreInFlight() {
        return this.equipment.title === undefined && this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.fetchEquipmentByCatClass,
        );
      },
    },
    props: {
      itemId: String,
    },
    mixins: [
      cartItemMixin,
    ],
  });
</script>
<style lang="scss" scoped>
  @import 'styles/globals';

  .cart-preview-drawer-item {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin: 0;

    *.shimmer {
      background-color: #eee !important;
      color: #eee !important;
      border: none;
      border-radius: 1px;
      pointer-events: none;
      user-select: none;
    }
  }

  // .cart-preview-drawer-item selector to overrule ur-legacy-styles
  .cart-preview-drawer-item .cart-preview-drawer-item__content {
    @include single-line-clamp();
    width: 100%;
    display: flex;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: rem(12);
    margin: 0 rem(16) rem(12) rem(16);
  }

  .cart-preview-drawer-item:first-of-type {
    padding-top: rem(12);
  }

  .cart-preview-drawer-item:last-of-type .cart-preview-drawer-item__content {
    margin-bottom: 0;
  }

  .cart-preview-drawer-item__right-container {
    @include single-line-clamp();
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: rem(8);
    margin-top: rem(2);
  }

  .cart-preview-drawer-item__copy--title {
    @include single-line-clamp();
    font-size: $font-size-preset-40;
    line-height: rem(17);
    font-weight: $font-weight-bold;
    margin: 0;
  }

  .cart-preview-drawer-item__bottom-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-preview-drawer-item__copy--dates,
  .cart-preview-drawer-item__copy--qty {
    font-size: $font-size-preset-30;
    line-height: rem(17);
    margin: 0;
    font-weight: 200;
  }

  .cart-preview-drawer-item__copy--qty {
    margin-left: 0.5rem;
  }

  .cart-preview-drawer-item__image-container {
    width: rem(41);
    height: rem(41);
    flex-shrink: 0;
  }

  .cart-preview-drawer-item__image {
    height: auto;
    width: auto;
    max-width: rem(41);
    max-height: rem(41);
    vertical-align: top;
  }
</style>
