<template>
  <div class="cart-preview-drawer">
    <p class="cart-preview-drawer__headline">
      {{ pageTitle }}
    </p>
    <div class="cart-preview-drawer__shadow-top" ref="shadowTop">
      <div></div>
    </div>
    <div class="cart-preview-drawer__shadow-bottom" ref="shadowBottom">
      <div></div>
    </div>
    <div class="cart-preview-drawer__content" ref="content">
      <cart-preview-drawer-item v-for="item in cartItemsList"
                                :item-id="item.id"
                                :key="item.id"/>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import { mapState, mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';
  import CartPreviewDrawerItem from './cart-preview-drawer-item';
  import { FlightToken } from '@/api/flight-track';

  export default Vue.extend({
    name: 'cartPreviewDrawer',
    async beforeMount() {
      const catClasses = [...new Set(Object.keys(this.cartItems).map(id => this.cartItems[id].catClass))]
        // only lookup ones undefined
        .filter(catClass => this.allEquipment[catClass] === undefined);
      if (catClasses && catClasses.length > 0) {
        await this.fetchEquipment(catClasses);
      }
    },
    components: { CartPreviewDrawerItem },
    data: () => ({
      observer: null, // instance of intersection observer
    }),
    computed: {
      ...mapGetters([
        'cartSize',
      ]),
      ...mapState({
        cartItems: state => state.cart.items,
        allEquipment: state => state.catalog.equipment,
      }),
      cartItemsList() {
        return Object.keys(this.cartItems)
          .sort((a, b) => (Number(this.cartItems[a].changed) < Number(this.cartItems[b].changed) ? 1 : -1))
          .map(id => this.cartItems[id]);
      },
      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.fetchEquipmentByCatClass,
        );
      },
      pageTitle() {
        const dictionaryEntry = this.cartSize !== 1
          ? 'cart.multipleTitle'
          : 'cart.singleTitle';
        return this.$i18n(dictionaryEntry, { '@count': this.cartSize });
      },
    },
    methods: {
      ...mapActions({
        fetchEquipment: types.catalog.fetchEquipmentByCatClass,
      }),
      updatePosition() {
        const { scrollTop } = this.$refs.content;
        const scrollBottom = this.$refs.content.scrollHeight - this.$refs.content.offsetHeight - scrollTop;
        this.$refs.shadowTop.style.opacity = scrollTop <= 12 ? scrollTop / 12 : 1;
        this.$refs.shadowBottom.style.opacity = scrollBottom <= 12 ? scrollBottom / 12 : 1;
      },
    },
    beforeDestroy() {
      this.observer.disconnect();
    },
    mounted() {
      const options = {
        root: this.$refs.content,
        rootMargin: '0px',
        threshold: [0, 0.05, 0.25, 0.5, 0.75, 0.95, 1],
      };
      this.observer = new IntersectionObserver(this.updatePosition, options);
      if (this.$refs.content.firstChild) {
        this.observer.observe(this.$refs.content.firstChild);
        this.observer.observe(this.$refs.content.lastChild);
      }
      this.updatePosition();
    },

  });
</script>
<style lang="scss" scoped>
  @import 'styles/globals';

  div.cart-preview-drawer {
    width: 100%;
    // TODO measure footer, set dynamically
    max-height: calc(100% - #{rem(49)});
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .cart-preview-drawer__headline {
    width: 100%;
    font-size: $font-size-preset-60;
    font-weight: $font-weight-bold;
    line-height: rem(23);
    margin: 0;
    padding: 0 rem(16) rem(14) rem(16);
  }

  .cart-preview-drawer__shadow-top, .cart-preview-drawer__shadow-bottom {
    width: 100%;
    height: 12px;
    overflow: hidden;
    position: absolute;
    flex-shrink: 0;
    transition: opacity .1s ease;
    opacity:0;

    div {
      width: 100%;
      box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.15);
    }
  }

  .cart-preview-drawer__shadow-top {
    top: rem(37);
  }

  .cart-preview-drawer__shadow-bottom {
    bottom: -1px;

    div {
      position: relative;
      top: 12px;
    }
  }

  .cart-preview-drawer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & /deep/ .cart-preview-drawer-item:last-child .cart-preview-drawer-item__content {
      border-bottom: none;
    }
  }
</style>
