<template>
  <toast class="cart-reminder-toast"
         :class="drawerOpened ? 'drawer-opened' : ''"
         :cart-pointer-right="cartPointerRight"
         :time-to-live="timeToLive"
         :cart-size="quantity"
         @toastClick="goCart">
    <p v-if="!drawerOpened" class="cart-reminder-toast__headline">
      {{ headline }}
    </p>
    <cart-preview-drawer v-else />
  </toast>
</template>

<script>
  import Vue from 'vue';
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { get } from 'lodash';
  import types from '@/store/types';
  import Toast from './toast';
  import CartPreviewDrawer from './cart-preview-drawer';
  import UrGtm from '@/mixins/ur-gtm';

  export default Vue.extend({
    name: 'cartReminderToast',
    components: {
      Toast, CartPreviewDrawer,
    },
    data() {
      return {
        timeToLive: 4000,
      };
    },
    mixins: [
      UrGtm,
    ],
    props: {
      cartPointerRight: {
        type: String,
        default: '',
      },
      drawerOpened: {
        type: Boolean,
        default: false,
      },
      toastData: {
        type: Object,
        required: false,
      },
    },
    computed: {
      ...mapGetters([
        'cartSize',
      ]),
      ...mapState({
        equipment(state) {
          return get(state.catalog.equipment, [this.catClass], null);
        },
      }),
      catClass() {
        return this.toastData.items ? get(this.toastData.items, [0, 'catClass'], '') : -1;
      },
      quantity() {
        return this.toastData.items
          ? this.toastData.items.reduce((sum, { quantity }) => sum + (+quantity), 0)
          : this.cartSize;
      },
      headline() {
        return this.$i18n(
          this.quantity !== 1 ? 'toasts.itemsInCart' : 'toasts.itemInCart',
          { '@quantity': this.quantity },
        );
      },
      details() {
        return get(this.equipment, ['title'], '');
      },
    },
    async beforeMount() {
      if (!this.toastData.items) return;
      if (!this.equipmentIsInCatalog) {
        await this.fetchEquipmentByCatClass([this.catClass]);
      }
    },
    methods: {
      ...mapActions({
        fetchEquipmentByCatClass: types.catalog.fetchEquipmentByCatClass,
      }),
      goCart() {
        if (this.drawerOpened) {
          this.gtmTrackCartDrawerStartCheckout(this.cartSize);
        }
        else {
          this.gtmTrackToastClick('Start Checkout');
        }
        this.$nextTick(() => {
          window.location = '/cart';
        });
      },
    },

    watch: {
      drawerOpened(val) {
        if (!val) return;
        // -1 = never expire
        this.timeToLive = -1;
      },
    },
  });
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .cart-reminder-toast__headline {
    width:100%;
    font-size: $font-size-preset-60;
    font-weight: $font-weight-bold;
    line-height: rem(23);
    margin: 0;
    padding: 0 0 rem(14) 0;
  }


  .cart-reminder-toast:not(.drawer-opened) {
    .cart-reminder-toast__view-all-items {
      text-decoration: underline;
      font-size: $font-size-preset-20;
      line-height: rem(18);
      color: $color-grey-69;
      opacity: 1;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }

  .cart-reminder-toast.drawer-opened {
    height: 100%;
  }

</style>
