<template>
  <transition-group
    name="tbSlideFade"
    class="toast-manager"
    :class="drawerOpened ? 'full-height' : ''">
    <div class="toast-manager__overlay" :key="-2" ref="overlay">
      <div class="toast-manager__overlay-header" ref="overlayHeader"></div>
      <div class="toast-manager__overlay-body" ref="overlayBody"></div>
    </div>
    <component
      v-for="toast in toasts"
      :is="toast.component"
      :toast-data="toast.data"
      :key="toast.id"
      :cart-pointer-right="cartPointerRight"
      :drawer-opened="drawerOpened"
      @expire="removeToast(toast.id)"
      @viewAllItemsClicked="viewAllItemsClicked(toast.id)"
    />
  </transition-group>
</template>

<script>
  import Vue from 'vue';
  import store from '@/store';
  import types from '@/store/types';
  import AddToCartToast from './add-to-cart-toast';
  import CartReminderToast from './cart-reminder-toast';
  import { debounce, throttle } from 'lodash';
  import { mapGetters } from 'vuex';
  import UrGtm from '@/mixins/ur-gtm';

  /**
   * interface ToastMessage {
   *    id: number;
   *    component: Vue;
   *    data: any;
   * }
   */

  export default Vue.extend({
    name: 'toast-manager',
    components: {
      AddToCartToast,
      CartReminderToast,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'cartSize',
      ]),
      cartIconEl() {
        return document.querySelector('a.icon-before-shopping-cart');
      },
      regionHeaderEl() {
        return document.querySelector('header.region-header');
      },
    },
    data: () => ({
      latestToastId: 0, // monotonic value for generating toast IDs
      toasts: [], // list of ToastMessages
      updatePositionThrottled: null, // throttled function.
      cartPointerRight: 0, // right position of cart icon, calculated from events
      drawerOpened: false,
    }),
    mixins: [
      UrGtm,
    ],
    methods: {
      addToast(component, data = {}) {
        this.drawerOpened = false;
        this.toasts.push({
          component,
          data,
          id: ++this.latestToastId,
        });

        // add handlers if first toast added
        if (this.toasts.length === 1) {
          this.addPositionListeners();
        }
        this.updatePosition();

        // reset display, possibly set to 'none' after drawer closing
        this.$el.style.display = 'flex';

        // update again after shift of shopping cart icon location
        setTimeout(() => this.updatePosition(), 100);
      },

      escapeKeyUpHandler(event) {
        // close drawer on esc
        if (event.keyCode === 27) {
          this.removeToast(this.toasts[0].id);
        }
      },

      escapeClickHandler(event) {
        this.removeToast(this.toasts[0].id);
      },

      removeCartReminderToast() {
        this.toasts.forEach(toast => {
          if (toast.component.extendOptions.name === 'cartReminderToast') {
            this.removeToast(toast.id);
          }
        });
      },

      // called from expire event, removeCartReminderToast, stopFullHeight
      removeToast(toastId) {
        this.toasts = this.toasts.filter(({ id }) => id !== toastId);

        // remove handlers if no toasts remaining
        if (this.toasts.length === 0) {
          this.removePositionListeners();
          this.drawerOpened = false;
        }
      },

      addCartIconListeners() {
        window.ur.bus.$on('cartIconClick', this.cartIconClickHandler);
        window.ur.bus.$on('cartIconMouseOver', this.cartIconMouseOverHandler);
      },

      removeCartIconListeners() {
        window.ur.bus.$off('cartIconClick', this.cartIconClickHandler);
        window.ur.bus.$off('cartIconMouseOver', this.cartIconMouseOverHandler);
      },

      addEscapeListeners() {
        this.$refs.overlay.addEventListener('click', this.escapeClickHandler);
        window.addEventListener('keyup', this.escapeKeyUpHandler);
      },

      removeEscapeListeners() {
        this.$refs.overlay.removeEventListener('click', this.escapeClickHandler);
        window.removeEventListener('keyup', this.escapeKeyUpHandler);
      },

      addPositionListeners() {
        window.addEventListener('scroll', this.updatePositionThrottled);
        document.body.addEventListener('scroll', this.updatePositionThrottled);
        window.addEventListener('resize', this.updatePositionThrottled);
      },

      removePositionListeners() {
        window.removeEventListener('scroll', this.updatePositionThrottled);
        document.body.removeEventListener('scroll', this.updatePositionThrottled);
        window.removeEventListener('resize', this.updatePositionThrottled);
      },

      viewAllItemsClicked(toastId) {
        if (this.toasts.length > 1) {
          // remove other toasts that don't have this id, could be other add-to-cart toasts
          this.toasts = this.toasts.filter(({ id }) => id === toastId);

          setTimeout(() => {
            // pause to allow other toasts to close.
            this.drawerOpened = true;
          }, 300);
        }
        else {
          this.drawerOpened = true;
        }
        this.gtmTrackToastClick('View All Items');
      },

      cartIconClickHandler() {
        // if cart-reminder-toast already open, use that. (probably desktop)
        if (this.toasts.length > 0) {
          this.drawerOpened = true;
        }
        else {
          // otherwise add cart-reminder-toast and open drawer.
          this.addToast(CartReminderToast);
          this.$nextTick(() => {
            this.drawerOpened = true;
          });
        }
        this.gtmTrackCartDrawer(this.cartSize);
      },
      cartIconMouseOverHandler() {
        // add a cart-reminder-toast if no existing toasts.
        if (this.toasts.length > 0) return;
        this.addToast(CartReminderToast);
      },

      updatePosition() {
        // set toast-manager y-position below the region-header if within view.

        // make sure there is clickable area for mobile close.
        if (this.small && this.drawerOpened && window.pageYOffset > 0) {
          window.scrollTo(0, 0);
        }

        if (!this.regionHeaderEl) return;
        const styleTop = (window.pageYOffset > this.regionHeaderEl.offsetHeight) ? 0
          : (this.regionHeaderEl.offsetHeight - window.pageYOffset);
        this.$el.style.top = `${styleTop}px`;

        // set cart pointer horizontal position aligned to shopping cart icon.
        if (this.cartIconEl) {
          const rect = this.cartIconEl.getBoundingClientRect();
          this.cartPointerRight = `${document.body.clientWidth - rect.right - 3}px`;
        }
        if (this.drawerOpened) {
          // set height to available space below header. (possibly full viewport height)
          this.$el.style.height = styleTop ? `calc(100% - ${styleTop}px)` : '100%';
          // set modal-like bg overlay, with header area transparent.
          this.$refs.overlay.style.transform = `translate(0px, -${styleTop}px)`;
          this.$refs.overlayHeader.style.height = `${styleTop}px`;
          this.$refs.overlayBody.style.top = `${styleTop}px`;
        }
      },
    },
    beforeDestroy() {
      this.removeCartIconListeners();
      this.removePositionListeners();
      this.removeEscapeListeners();
    },
    beforeMount() {
      /**
       * #1: Cart Item Added Toast
       *
       * Fires indefinitely
       *
       * Reacts to:
       * - [ACTION] types.cart.addItem
       */
      const itemAddedUnsubscribe = store.subscribeAction(({ type, payload }) => {
        if (type === types.cart.addItem) {
          this.removeCartReminderToast();
          this.addToast(AddToCartToast, { ...payload });
        }
      });

      this.$once('hook:beforeDestroy', itemAddedUnsubscribe);

      /**
       * #2: Cart Items Reminder Toast
       *
       * Fires once per browser or user session
       *
       * Reacts to:
       * - [MUTATION] types.cart.fetch
       * - [MUTATION] types.user.reset
       */
      const cartReminderSessionKey = 'toast:cart-reminder';
      store.subscribe(({ type, payload }) => {
        if (type === types.cart.fetch && !sessionStorage.getItem(cartReminderSessionKey)) {
          sessionStorage.setItem(cartReminderSessionKey, true);
          // do if no hover toast already
          if (this.toasts.length > 0) return;
          const items = Object.values(payload.items) || [];
          if (items.length > 0) this.addToast(CartReminderToast, { items });
        }
        // Clear the toast's session storage flag on store clear actions
        else if (type === types.user.reset) {
          sessionStorage.removeItem(cartReminderSessionKey);
        }
      });
    },
    mounted() {
      // make sure nothing left there, possibly from HMR
      if (this.regionHeaderEl && this.regionHeaderEl.classList.contains('toast-manager-full-height')) {
        document.body.classList.remove('jsa-body-lock');
        this.regionHeaderEl.classList.remove('toast-manager-full-height');
      }

      this.cartIconClickHandler = debounce(this.cartIconClickHandler, 250);
      this.cartIconMouseOverHandler = debounce(this.cartIconMouseOverHandler, 250);
      this.addCartIconListeners();
      this.updatePositionThrottled = throttle(this.updatePosition, 10, { leading: true });
    },

    watch: {
      drawerOpened(val, oldVal) {
        if (val) {
          this.updatePosition();
          // set area below non-scrollable
          document.body.classList.add('jsa-body-lock');
          if (this.regionHeaderEl) this.regionHeaderEl.classList.add('toast-manager-full-height');
          setTimeout(() => {
            // pause to allow initial click handler to pass through.
            this.addEscapeListeners();
          }, 200);
        }
        else {
          this.$el.style.display = 'none';
          document.body.classList.remove('jsa-body-lock');
          if (this.regionHeaderEl) this.regionHeaderEl.classList.remove('toast-manager-full-height');
          this.removeEscapeListeners();
        }
      },
    },
  });
</script>

<style lang="scss">
  .path-frontpage header.region-header.toast-manager-full-height {
    transition: background-color 0.2s ease;
    background-color: rgba(#002F55, 0.7);
  }
</style>

<style lang="scss" scoped>
  @import 'styles/globals';

  .toast-manager {
    z-index: 9999;
    position: fixed;
    pointer-events: none;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    & > .toast {
      margin-bottom: rem(8);
    }

    .toast-manager__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.1s ease-out;
    }

    .toast-manager__overlay-header {
      background-color: rgba(#414B50, 0);
    }

    .toast-manager__overlay-body {
      background-color: rgba(#414B50, 0.8);
      height: 100%;
    }

    &.full-height {
      // height set dynamically in code.

      & > .toast {
        margin-bottom: 0;
      }

      .toast-manager__overlay {
        pointer-events: auto;
        opacity: 1;
        transition: opacity .3s ease;
      }
    }

    .sg-main & {
      position: static;
    }
  }
</style>
