<template>
  <div
    class="toast"
    @mouseenter="cancelTimer"
    @mouseleave="restartTimer"
  >
    <svg class="toast__cart-pointer" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28 12"
         :style="{right: cartPointerRight}">
      <path fill="white" stroke="white" stroke-width="1" stroke-linejoin="miter"
            stroke-linecap="miter" d="M0 12 L14 0 L28 12 L0 12"></path>
    </svg>
    <slot></slot>
    <div class="toast__buttons-container">
      <button class="toast__cart-button"
              :class="cartSize === 0 ? 'btn--disabled' : ''"
              @click="() => $emit('toastClick')">
        {{ $i18n('toasts.startCheckout') }}
      </button>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: 'toast',
    props: {
      cartPointerRight: {
        type: String,
        default: '',
      },
      cartSize: {
        type: Number,
        default: 0,
      },
      timeToLive: {
        type: Number,
        default: 6000,
      },
    },
    data: () => ({
      timer: null,
    }),
    methods: {
      cancelTimer() {
        clearTimeout(this.timer);
        this.timer = null;
      },
      expire() {
        this.$emit('expire');
        this.$parent.$emit('expire');
      },
      restartTimer() {
        // Added the timer override to facilitate future A/B testing
        const timerOverride = window.toastTimerOverride && typeof window.toastTimerOverride === 'number' ? window.toastTimerOverride : this.timeToLive;
        if (timerOverride === -1) return;
        this.timer = setTimeout(this.expire.bind(this), timerOverride);
      },
    },
    beforeDestroy() {
      this.cancelTimer();
    },
    watch: {
      details() {
        if (this.details) {
          this.restartTimer();
        }
      },
      timeToLive(newMs) {
        if (newMs === -1) {
          this.cancelTimer();
        }
      },
    },
    mounted() {
      this.restartTimer();
    },
  });
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .toast {
    @include shadow(two);
    z-index: 9999;
    background: $color-white;
    padding: rem(16) 0;
    border-radius: $border-radius-med;
    display: flex;
    pointer-events: all;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    top: rem(16);
    width:100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @include media('>=480px') {
      width: rem(275);
      border-bottom-left-radius: $border-radius-med;
      border-bottom-right-radius: $border-radius-med;
    }
  }

  .toast.cart-reminder-toast:not(.drawer-opened), .toast.add-to-cart-toast:not(.drawer-opened) {
    padding: rem(16) rem(16);
  }

  .toast.drawer-opened {
    @include media('>=480px') {
      width: rem(369);
    }
  }

  .toast .toast__cart-pointer {
    position: absolute;
    top: rem(-11);
    width: rem(28);
    height: rem(12);
  }

  // .toast selector needed to overrule ur-legacy-styles
  .toast .toast__buttons-container {
    border-top: 1px solid #D7DCDE;
    padding: rem(17) rem(16) 0 rem(16);
    width: 100%;
  }

  .toast.cart-reminder-toast:not(.drawer-opened), .toast.add-to-cart-toast:not(.drawer-opened) {
    .toast__buttons-container {
      padding: rem(17) 0 0 0;
    }
  }

  .toast .toast__cart-button {
    @include btn($style: primary-alternative, $size: small);
    width: 100%;
  }
</style>
