<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <text-component msgnext="Hello there, hi there. hello"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TextComponent from '@/pages/general/components/TextComponent.vue';

@Component({
  components: {
    TextComponent,
  },
})
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
  color: red;
}
</style>
