<template>
  <h3>{{msgnext}}</h3>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class TextComponent extends Vue {
  @Prop() private msgnext!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  color: blue;
}
</style>
