.reservation-pickup-delivery {
  &.inactive {
    label,
    strong {
      opacity: 0.3;
    }
  }

  .additional-notes {
    margin-bottom: 1rem;

    @include breakpoint($break-small) {
      margin-left: 73px;
    }

    .small-bold {
      font-weight: bold;
      display: block;
    }
  }

  .estimated-fee {
    font-size: $font-size-base;
    line-height: 24px;
    font-weight: normal;
    min-width: 100px;
  }

  form {
    width: 100%;

    @include breakpoint($break-small) {
      width: 73%;
    }

    div {
      margin-bottom: 1rem;

      &:last-child {

        @include breakpoint($break-small) {
          margin-bottom: 0;
        }
      }

      input, select {
        font-size: 14px;
        line-height: 24px;
        height: 32px;
        margin: 0;
      }

      textarea {
        border: $border-grey;
        height: 100px;
        width: 100%;
        padding: 0.5em;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .pickup-select .ur-select,
    .pickup-select .ur-select .select {
      margin-bottom: 7px;
      @include breakpoint($break-small) {
        margin-bottom: 1rem;
      }
    }

    .pickup-location-container {
      background: none;
      border: none;
      border-bottom: 2px solid $color-grey-11;
      padding: 8% 0;

      .pickup-location-img {
        background: none;
        min-width: 200px;
      }

      .pickup-location-body {
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;

        p {
          margin: 0;
        }
      }
    }

    .date-time-group {
      @include breakpoint($break-small) {
        display: flex;
        justify-content: space-between;
      }
      div {
        margin-bottom: 0;
      }
      .date-time-tool {

        @include breakpoint($break-small) {
          width: 46%;
        }
      }
    }

    .advanced-pickup-checkbox {
      i {
        color: $color-blue;
        margin-left: 10px;
      }

      .form-item--checkbox {
        &__item {
          width: 75%;

          @include breakpoint($break-small) {
            width: 40%;
          }

          .label-selection {
            font-weight: normal;
          }
        }
      }
    }
  }

  .reservation {

    &-subheading {
      font-size: $font-size-small;
      font-weight: bold;
      display: block;
    }
  }
  .calendar_container {
    display: flex;
    flex-direction: row;
    min-height:auto;
    width:100%;

    .calendar_start,
    .calendar_end{
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0;
      position: relative;
      width:100%;

      input {
        width:100%;
        &:active,
        &:focus {
          background: $color-blue-subtle;
        }
      }
      span{
        @extend %calendar-span;
        &:after {
          @extend %calendar-span-icon;

          @include breakpoint($break-small) {
            right: 8px;
          }
        }
      }
    }
  }
}
