{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-container">
  <header>
    <div class="header__primary-navigation grid bg-color--blue text-color--white font-size--type-header-h5 align--center">


      <a href="/" class="header__logo-holder"><span class="header__logo"></span></a>
    </div>
  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}
    <div class="maintenance_content">
      {{ page.content }}
    </div>
    <p></p>
  </main>


  <footer class=" bg-color--blue">
    <div class="footer__secondary">
      <div class="footer__container grid justify--space-between align--center">
        <div class="grid">

        </div>
        <div class="footer__social grid justify--space-between text-color--white">
          <nav role="navigation" aria-labelledby="block-footer-social-menu-menu" id="block-footer-social-menu">
            <ul class="menu">
              <li class="menu__item"><a href="https://www.facebook.com/United-Rentals-200631115132/" target="_blank"
                                        onclick="window._app.gtmTrackExitLink('Facebook', 'https://www.facebook.com/United-Rentals-200631115132/')"
                                        class="menu__link social-link"><i class="icon icon-facebook"></i></a></li>
              <li class="menu__item"><a href="https://www.linkedin.com/company/united-rentals" target="_blank"
                                        onclick="window._app.gtmTrackExitLink('Linkedin', 'https://www.linkedin.com/company/united-rentals')"
                                        class="menu__link social-link"><i class="icon icon-linkedin"></i></a></li>
              <li class="menu__item"><a href="https://twitter.com/United_Rentals" target="_blank"
                                        onclick="window._app.gtmTrackExitLink('Twitter', 'https://twitter.com/United_Rentals')"
                                        class="menu__link social-link"><i class="icon icon-twitter"></i></a></li>
              <li class="menu__item"><a href="https://plus.google.com/104601727849529008192/posts" target="_blank"
                                        onclick="window._app.gtmTrackExitLink('Google Plus', 'https://plus.google.com/104601727849529008192/posts')"
                                        class="menu__link social-link"><i class="icon icon-google-plus"></i></a></li>
              <li class="menu__item"><a href="https://www.youtube.com/channel/UCJqx4efP89s7kkS9hb-C5Cg" target="_blank"
                                        onclick="window._app.gtmTrackExitLink('Youtube', 'https://www.youtube.com/channel/UCJqx4efP89s7kkS9hb-C5Cg')"
                                        class="menu__link social-link"><i class="icon icon-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="footer__primary text-color--white">
      <div class="footer__container">
        <div class="footer__customer-care"><p class="customer-care">24/7 Customer Care</p>
          <p class="customer-care-call font-color--white">
          <div><a>
              1-844.873.4948
            </a></div>
          </p></div>

        <div class="footer__legal">
          <small class="footer__legal--copy">© 2017 United Rentals, Inc.</small>
        </div>
      </div>
    </div>
  </footer>

</div>{# /.layout-container #}
