{% for item in items %}
  {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
    with {
      "heading_3": item.content['#context'].value,
      "heading_3_blockname": "sitemap-block"
    }
  %}
{% endfor %}