{% for item in items %}
  {% include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": item.content['#context'].value,
      "paragraph_blockname": "sitemap-block"
    }
  %}
{% endfor %}