.jobsite-contact-container {

  .jobsite-contact-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  select,
  .select {
    width: 100%;
    height: 32px;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .button--style-2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include breakpoint($break-small) {

    select,
    .select {
      width: 250px;
    }

    .button--style-2 {
      width: 200px;
    }
  }
}