<div class="jobsite-contact-container">
  <div class="jobsite-contact-header">
    {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
      with {
        heading_2: heading_2
      }
    %}
    {% include '@atoms/01-links/link/link.twig'
      with {
        link_content: link_content,
        link_url: '#',
        link_blockname: 'edit-separately'
      }
    %}
  </div>
  <div class="jobsite-contact-body">
    {% include '@atoms/05-forms/select/select.twig'
      with {
        select_options: select_options,
        select_modifiers: select_modifiers
      }
    %}

    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: "Continue"
      }
    %}
  </div>
</div>