<template>
  <field-value class="rate-cell">
    {{ value | currency }}
  </field-value>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    name: 'CurrencyDetailField',
    extends: DetailField,
  };
</script>
