<template>
  <field-value class="rate-cell">
    {{ value | currency }}
  </field-value>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    name: 'CurrencyListingField',
    extends: ListingField,
  };
</script>
