<template>
  <div class="equipment-details-header">
    <div class="equipment-details-header__title" :class="{'shimmer': !detailItemOrNull}">
      <div>
        <div class="equipment-id-container flex-row">
          <span>
            {{$i18n('workplace.equipmentId')}}: {{ item.equipmentId }}
          </span>
          <span>
            <span>{{ transTypeLabel }}</span>
            <span>
              <router-link v-if="item.transId" :to="`/manage/${item.accountId}/orders/${item.transId}`">
                # {{ item.transId }}
              </router-link>
            </span>
          </span>
        </div>
        <h1>{{ item.dalDescription || $i18n('workplace.loadingEquipmentDetails') }}</h1>
        <div v-if="topStatuses" class="equipment-details-header__status-object display-flex flex-row">
          <div v-for="(status, idx) in topStatuses" :key="idx" class="display-flex">
            <span v-if="status.color" class="status-span" :style="{background: status.color}"></span>
            <p><strong>{{ status.label.split('|')[0] }}</strong></p>
            <p class="status-details">{{ status.label.split('|')[1] }}</p><span
            v-if="(idx + 1) < topStatuses.length"></span>
          </div>
          <div v-if="item.gpsUtilization" class="display-flex">
            <gps-utilization :item="item" :long-format="true"/>
          </div>
        </div>
      </div>
      <div v-if="!small && !medium" class="img-container">
        <img :src="imgSrc" :alt="imgAlt"/>
      </div>
    </div>
  </div>
</template>
<script>
  import { get } from 'lodash';
  import * as moment from 'moment';
  import Vue from 'vue';
  import { mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import { StatusPriority } from '@/lib/statuses';
  import { TransactionType } from '@/lib/transactions';
  import {
    WorkplaceRouteNames,
    WorkplaceEquipmentStatusUtils,
  } from '@/lib/workplace';
  import GpsUtilization from '../shared/gps-utilization/gps-utilization';

  export default Vue.extend({
    components: {
      GpsUtilization,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
      ]),
      ...mapState({
        catalogEquipment: state => state.catalog.equipment || {},
      }),
      detailItemOrNull() {
        return this.$store.getters[types.workplace.equipmentDetails.detailItemOrNull];
      },
      item() {
        return this.detailItemOrNull || {};
      },
      equipmentListingRoute() {
        return {
          ...this.$route,
          name: WorkplaceRouteNames.EquipmentList,
        };
      },
      imgSrc() {
        // Sometimes the image src is in a string, sometimes it's inside
        // an object like this: { link: "src..." }
        const { catClass } = this.item;
        const src = get(this.catalogEquipment, [catClass, 'images', 0], '');
        return typeof src === 'string' ? src : src.link || '';
      },
      imgAlt() {
        const { catClass } = this.item;
        return get(this.catalogEquipment, [catClass, 'images', '0', 'alt'], '');
      },
      title() {
        return this.item.dalDescription || this.$i18n('workplace.loadingEquipmentDetails');
      },
      topStatuses() {
        const topTwoStatuses = (this.item.equipmentStatuses || [])
          .slice(0, 2)
          .map(status => ({
            ...status,
            label: WorkplaceEquipmentStatusUtils.getEquipmentStatusLabel(status, this.item),
          }));
        // only one "Low" status should ever qualify / be listed at a time
        // and a Low status is not shown if a higher priority status is present
        if (topTwoStatuses.length === 2 && (topTwoStatuses[1].priority === StatusPriority.Low)) {
          return topTwoStatuses.slice(0, 1);
        }
        return topTwoStatuses;
      },
      lastReportDiff() {
        if (this.item.reportedDateTime) {
          return moment().diff(moment(this.item.reportedDateTime, this.dateTimeFormat), 'hour');
        }
        return 0;
      },
      hoursOnRent() {
        if (this.item.startDateTime) {
          return moment().diff(moment(this.item.startDateTime, this.dateTimeFormat), 'hour');
        }
        return 0;
      },
      telematicsError() {
        return this.hoursOnRent > 24 && this.lastReportDiff > 120;
      },
      telematicsWarning() {
        return this.hoursOnRent > 24 && this.lastReportDiff > 24 && this.lastReportDiff < 120;
      },
      transTypeLabel() {
        switch (this.item && this.item.transType) {
          case TransactionType.Closed:
          case TransactionType.Rental: return `${this.$i18n('workplace.contract')}`;
          case TransactionType.Reservation: return `${this.$i18n('ur.reservationLabel')}`;
          case TransactionType.Quote: return `${this.$i18n('ur.quotesLabel')}`;
          default: return '';
        }
      },
    },
    data() {
      return {
        dateTimeFormat: 'YYYY-MM-DD[T]HH:mm:ss',
      };
    },
  });
</script>
