<template>
  <div class="equipment-details">
    <template v-if="detailItemMightExist">
      <!-- Mobile Mode -->
      <div v-if="mobileMode" class="equipment-details--mobile">
        <details-header-top-section/>
        <div class="header-actions-container">
          <details-header/>
          <detail-actions-controls/>
        </div>
        <equipment-location-map />
        <rental-timeline/>
        <hours-used/>
        <equipment-info-section/>
        <rental-rates-section/>
        <delivery-pickup-section/>
        <account-information-card/>
        <jobsite-information-card/>
        <contract-information-card/>
        <branch-information-card/>
      </div>

      <!-- Desktop Mode -->
      <div v-else class="equipment-details--desktop">
        <div class="left-main">
          <details-header-top-section/>
          <details-header/>
          <rental-timeline/>
          <hours-used/>
          <equipment-info-section/>
          <rental-rates-section/>
          <delivery-pickup-section/>
        </div>

        <div class="right-rail">
          <detail-actions-controls/>
          <equipment-location-map/>
          <div>
            <account-information-card/>
            <jobsite-information-card/>
            <contract-information-card/>
            <branch-information-card/>
          </div>
        </div>
      </div>

      <router-view/>
    </template>

    <!-- Detail Item definitely does not exist -->
    <template v-else>
      <equipment-item-no-longer-on-rent :catClass="catClass"/>
    </template>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';
  import DetailsHeader from './details-header.vue';
  import DeliveryPickupSection from './detail-sections/delivery-pickup-section.vue';
  import EquipmentInfoSection from './detail-sections/equipment-info-section.vue';
  import RentalRatesSection from './detail-sections/rental-rates-section.vue';
  import AccountInformationCard from './information-cards/account-information-card.vue';
  import BranchInformationCard from './information-cards/branch-information-card.vue';
  import ContractInformationCard from './information-cards/contract-information-card.vue';
  import DetailActionsControls from './details-action-controls.vue';
  import DetailsHeaderTopSection from '@/components/workplace/equipment-details/details-header-top-section.vue';
  import EquipmentLocationMap from './equipment-location-map.vue';
  import HoursUsed from '@/components/workplace/equipment-details/hours-used.vue';
  import JobsiteInformationCard from './information-cards/jobsite-information-card.vue';
  import RentalTimeline from '@/components/workplace/equipment-details/rental-timeline.vue';
  import EquipmentItemNoLongerOnRent from '@/components/workplace/shared/equipment-item-no-longer-on-rent.vue';

  export default Vue.extend({
    components: {
      AccountInformationCard,
      BranchInformationCard,
      ContractInformationCard,
      DeliveryPickupSection,
      DetailActionsControls,
      DetailsHeader,
      DetailsHeaderTopSection,
      EquipmentInfoSection,
      EquipmentItemNoLongerOnRent,
      EquipmentLocationMap,
      HoursUsed,
      JobsiteInformationCard,
      RentalRatesSection,
      RentalTimeline,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
      ]),
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
        detailItemHasBeenFetched: types.workplace.equipmentForCurrentAccountHasBeenFetched,
        fetchLeniencyRatesRequestOrNull: types.workplace.equipmentDetails.fetchLeniencyRatesRequestOrNull,
        reservationDetailsOrNull: types.workplace.equipmentDetails.reservationDetailsOrNull,
        leniencyRates: types.workplace.equipmentDetails.leniencyRates,
      }),
      catClass() {
        return this.detailItemOrNull
          ? this.detailItemOrNull.catClass
          : null;
      },
      detailItemMightExist() {
        return !this.detailItemHasBeenFetched || (this.detailItemHasBeenFetched && this.detailItemOrNull !== null);
      },
      mobileMode() {
        return this.small || this.medium;
      },
    },
    methods: {
      ...mapActions({
        fetchReservationDetails: types.readReservationDetails.fetch,
        fetchEquipmentByCatClass: types.catalog.fetchEquipmentByCatClass,
        fetchItemUsage: types.workplace.equipmentDetails.fetchItemUsage,
        fetchItemCoordinates: types.workplace.equipmentDetails.fetchItemCoordinates,
        fetchLeniencyRates: types.workplace.fetchLeniencyRates,
        getEstimates: types.workplace.equipmentDetails.getEstimates,
        resetItemCoordinates: types.workplace.equipmentDetails.resetItemCoordinates,
        resetItemUsage: types.workplace.equipmentDetails.resetItemUsage,
        resetRentalTimeline: types.workplace.rentalTimeline.reset,
        updateRentalTimeline: types.workplace.rentalTimeline.update,
      }),
      init() {
        if (!this.detailItemOrNull) return;

        const { catClass, accountId, requisitionId } = this.detailItemOrNull;

        this.fetchEquipmentByCatClass([catClass]);
        this.fetchItemUsage();
        this.fetchItemCoordinates();
        this.fetchLeniencyRates(this.fetchLeniencyRatesRequestOrNull);
        this.fetchReservationDetails({ accountId, requisitionId });
        this.getEstimates();
        this.updateRentalTimeline();
      },
    },
    mounted() {
      this.init();
      document.body.scrollTop = 0;
    },
    beforeRouteEnter(to, from, next) {
      next((vm) => {
        vm.resetItemUsage();
        vm.resetRentalTimeline();
      });
    },
    watch: {
      detailItemOrNull(is, was) {
        if (!was && !!is) return this.init();

        // if the user adds a pickup time, this property won't be `null` anymore
        if (is.pickupDateTime) this.updateRentalTimeline();
      },
      reservationDetailsOrNull(is, was) {
        if (!was && !!is) this.getEstimates();
      },
      leniencyRates() {
        if (this.detailItemOrNull && this.leniencyRates) {
          this.updateRentalTimeline();
        }
      },
    },
  });
</script>
