<template>
  <div class="flex-column flex-gap-5">
    <div class="flex top-action" v-if="detailItemIsQuoteOrReservation">
      <button
        class="tooltip-target btn btn-style--primary btn-size--regular"
        @click="primaryButtonAction()"
      >
        {{ primaryButtonLabel }}
      </button>
    </div>
    <v-popover
      v-else-if="showRequestPickupButton"
      placement="left"
      popoverInnerClass="tooltip-inner popover-inner bgc-white"
      popoverArrowClass="tooltip-arrow popover-arrow c-white"
      trigger="hover click focus"
      :autoHide="false"
      :disabled="!rescheduleRequestButtonIsDisabled">

      <div class="flex top-action">
        <button
          class="tooltip-target btn btn-style--primary btn-size--regular"
          :class="{'btn--disabled':rescheduleRequestButtonIsDisabled}"
          @click="openRescheduleRentalModal('extend')"
        >
          {{ $i18n('workplace.extendContract') }}
        </button>
      </div>

      <template slot="popover">
        <div class="tooltip-content" v-html="toolTipContentHtml"></div>
      </template>
    </v-popover>
    <div class="bottom-action">
      <v-popover
        v-if="showRequestPickupButton"
        placement="left"
        popoverInnerClass="tooltip-inner popover-inner bgc-white"
        popoverArrowClass="tooltip-arrow popover-arrow c-white"
        trigger="hover click focus"
        :autoHide="false"
        :disabled="!rescheduleRequestButtonIsDisabled">
        <div class="flex">
          <button
            class="tooltip-target btn btn-style--secondary btn-size--regular"
            :class="{'btn--disabled':rescheduleRequestButtonIsDisabled}"
            @click="openRescheduleRentalModal('pickup')"
          >
            <span>{{ $i18n('workplace.requestPickup') }}</span>
          </button>
        </div>
        <template slot="popover">
          <div class="tooltip-content" v-html="toolTipContentHtml"></div>
        </template>
      </v-popover>
      <div class="flex" v-else-if="detailItemIsQuoteOrReservation">
        <button
          class="tooltip-target btn btn-style--secondary btn-size--regular"
          @click="secondaryButtonAction()"
        >
          <span>{{ secondaryButtonLabel }}</span>
        </button>
      </div>
      <equipment-item-action-menu
        v-if="detailItemOrNull"
        class="actions flex-row align-self-stretch"
        :disabled-actions="disabledMenuOptions"
        :item="detailItemOrNull"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { mapActions, mapState } from 'vuex';
  import { get } from 'lodash';
  import EquipmentItemActionMenu from '@/components/workplace/shared/equipment-item-action-menu.vue';
  import EquipmentLocationMap from './equipment-location-map.vue';
  import {
    WorkplaceEquipmentActionTypes,
    WorkplaceEquipmentUtils,
    WorkplaceEquipment,
    WorkplaceRouteNames,
  } from '@/lib/workplace';

  import types from '@/store/types';
  import format from '@/mixins/format';

  export default Vue.extend({
    components: {
      EquipmentItemActionMenu,
      EquipmentLocationMap,
    },
    computed: {
      ...mapState<any>({
        estimates: state => state.estimates.all,
        estimatesLoading: state => state.estimates.fetching,
        branches: state => state.branch.all,
        defaultBranchPhoneNumber: state => state.callUs.otherNumber,
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      equipmentForCurrentAccount(): WorkplaceEquipment[] {
        return this.$store.getters[types.workplace.equipmentForCurrentAccount];
      },
      detailItemOrNull(): WorkplaceEquipment | null {
        return this.$store.getters[types.workplace.equipmentDetails.detailItemOrNull];
      },
      detailItemIsQuoteOrReservation() {
        const {isQuote, isReservation} = WorkplaceEquipmentUtils;
        const item = this.detailItemOrNull || {};
        return isQuote(item) || isReservation(item);
      },
      detailItemIsReservation() {
        const {isReservation} = WorkplaceEquipmentUtils;
        const item = this.detailItemOrNull || {};
        return isReservation(item);
      },
      equipmentId(): string {
        return this.$route.params.equipmentId || '';
      },
      matchingEquipmentOrNull(): WorkplaceEquipment | null {
        return this.equipmentForCurrentAccount.find(eq => eq.transId === this.$route.params.transId && eq.equipmentId === this.equipmentId) || null;
      },
      noMatchingEquipment(): boolean {
        return this.matchingEquipmentOrNull === null;
      },
      primaryButtonLabel(): string {
        return this.detailItemIsReservation
          ? this.$i18n('workplace.editPo')
          : this.$i18n('workplace.convertQuote');
      },
      secondaryButtonLabel(): string {
        return this.detailItemIsReservation
          ? this.$i18n('workplace.rentAnother')
          : this.$i18n('workplace.editPo');
      },
      transId(): string {
        return this.matchingEquipmentOrNull && this.matchingEquipmentOrNull.transId || '';
      },
      transLineId(): string {
        return this.matchingEquipmentOrNull && this.matchingEquipmentOrNull.transLineId || '';
      },
      requisitionId(): string {
        return this.matchingEquipmentOrNull && this.matchingEquipmentOrNull.requisitionId || '';
      },
      showRequestPickupButton(): boolean {
        return !this.noMatchingEquipment && this.transId.length > 0 && !this.detailItemIsQuoteOrReservation;
      },
      rescheduleRequestButtonIsDisabled(): boolean {
        return !!this.detailItemOrNull
          ? !WorkplaceEquipmentUtils.canRequestPickupAndExtendContract(this.detailItemOrNull)
          : true;
      },
      toolTipContentHtml() {
        const line1 = this.detailItemIsQuoteOrReservation
          ? 'workplace.rescheduleRequestButtonTooltipAltLine1'
          : 'workplace.rescheduleRequestButtonTooltipLine1';

        const line2 = this.detailItemIsQuoteOrReservation
          ? 'workplace.rescheduleRequestButtonTooltipAltLine2'
          : 'workplace.rescheduleRequestButtonTooltipLine2';

        return `
        ${this.$i18n(line1)} <br/>
        ${this.$i18n(line2)}
        <a :href="tel:${this.branchPhoneNumber}">${this.urPhoneNumber(this.branchPhoneNumber)}</a>.
      `;
      },
    },
    mounted() {
      this.updateBranchPhoneNumber();
      if (this.detailItemIsQuoteOrReservation) this.disabledMenuOptions.push(WorkplaceEquipmentActionTypes.UpdatePo);
      if (this.detailItemIsReservation) this.disabledMenuOptions.push(WorkplaceEquipmentActionTypes.RentAnother);
    },
    data() {
      return {
        branchPhoneNumber: '',
        disabledMenuOptions: [
          WorkplaceEquipmentActionTypes.ExtendContract,
          WorkplaceEquipmentActionTypes.RequestPickup,
          WorkplaceEquipmentActionTypes.ViewDetails,
          WorkplaceEquipmentActionTypes.ConvertQuote,
        ],
      };
    },
    methods: {
      ...mapActions({
        fetchBranch: types.branch.fetch,
      }),
      async updateBranchPhoneNumber() {
        if (!this.detailItemOrNull) return;
        if (this.branches) {
          this.branchPhoneNumber = get(this.branches, [this.detailItemOrNull.branchId, 'phone'], this.defaultBranchPhoneNumber);
        } else {
          const branch = await this.fetchBranch(this.detailItemOrNull.branchId);
          this.branchPhoneNumber = typeof branch.phone === 'string'
            ? branch.phone
            : this.defaultBranchPhoneNumber;
        }
      },
      /**
       * Redirect to a route that opens a pickup request or extend contract rescheduling modal.
       * @param  {'extend' | 'pickup'} rescheduleType The type of rescheduling
       * @return {void}
       */
      openRescheduleRentalModal(rescheduleType) {
        if (!['pickup', 'extend'].includes(rescheduleType)) {
          console.warn(`${rescheduleType} is not a valid reschedule type.`); // tslint:disable-line
          return;
        }

        this.$router.push({
          name: WorkplaceRouteNames.RequestEquipmentReschedule,
          params: {
            rescheduleType,
            transId: this.transId,
          },
          query: {
            transLineId: this.transLineId,
            transId: this.transId,
            contentSize: '90',
          },
        });
      },
      convertQuote() {
        window.location.assign(`/manage/quotes#/convert-quote/${this.transId}/${this.defaultAccountId}`);
      },
      primaryButtonAction() {
        if (!this.detailItemIsQuoteOrReservation) return;
        this.detailItemIsReservation
          ? this.updatePo()
          : this.convertQuote();
      },
      secondaryButtonAction() {
        if (!this.detailItemIsQuoteOrReservation) return;
        this.detailItemIsReservation
          ? this.rentAnother()
          : this.updatePo();
      },
      rentAnother() {
        const item = this.detailItemOrNull || {};
        const {catClass} = item;
        window.location.assign(`/marketplace/equipmentPageByCatClass/${catClass}`);
      },
      updatePo() {
        const item = this.detailItemOrNull || {};
        this.$router.push({
          name: WorkplaceRouteNames.UpdateEquipmentPo,
          params: {
            ...this.$route.params,
            equipmentId: item.equipmentId,
            po: item.po,
            transId: item.transId,
            transLineId: item.transLineId,
          },
          query: this.$route.query,
        });
      },
    },
    mixins: [
      format,
    ],
    watch: {
      detailItemOrNull(is) {
        if (!!is) {
          this.updateBranchPhoneNumber();
        }
      },
    },
  });
</script>

<style scoped lang="scss">
  @import 'styles/globals';
  @import '../shared/fields/actions/detail-field';

  .flex-column {
    > div:last-child {
      display: flex;

      > div:first-child {
        width: calc(100% - #{rem(39)});

        button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;

          span {
            padding-left: rem(40);
          }
        }
      }
    }
  }

  .bottom-action /deep/ .actions-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0.07143rem solid $color-grey-11;
  }

  .equipment-details .btn-size--regular {
    font-weight: bold;
  }

</style>