<template>
  <div class="equipment-details-header-top-section">
    <ur-back-link :route="equipmentListingRoute"/>
    <span>
      <span>
        <router-link v-if="item.transId" :to="`/manage/${item.accountId}/orders/${item.transId}`">
          #{{ item.transId }}
        </router-link>
      </span>
      <span>{{ transTypeLabel }}</span>
    </span>
  </div>
</template>
<script>
  import Vue from 'vue';
  import types from '@/store/types';
  import { TransactionType } from '@/lib/transactions';
  import { WorkplaceRouteNames } from '@/lib/workplace';
  import UrBackLink from '@/components/common/ur-back-link';

  export default Vue.extend({
    components: {
      UrBackLink,
    },
    computed: {
      detailItemOrNull() {
        return this.$store.getters[types.workplace.equipmentDetails.detailItemOrNull];
      },
      item() {
        return this.detailItemOrNull || {};
      },
      equipmentListingRoute() {
        return {
          ...this.$route,
          name: WorkplaceRouteNames.EquipmentList,
        };
      },
      transTypeLabel() {
        switch (this.item && this.item.transType) {
          case TransactionType.Closed:
          case TransactionType.Rental:
            return ` · ${this.$i18n('workplace.contract')}`;
          case TransactionType.Reservation:
            return ` · ${this.$i18n('ur.reservationLabel')}`;
          case TransactionType.Quote:
            return ` · ${this.$i18n('ur.quotesLabel')}`;
          default:
            return '';
        }
      },
    },
  });
</script>
