<template>
  <div
    class="flex-column align-items-center justify-center">
    <ur-spinner v-if="detailItemCoordinatesPending || !googleIsReady"/>
    <gmap-map
      v-else
      ref="map"
      :center="coordinates"
      :zoom="15"
      style="height: 100%; width: 100%">
      <gmap-marker
        v-for="(marker, idx) in markers"
        :key="idx"
        :clickable="false"
        :draggable="false"
        :icon="marker.icon"
        :options="{optimized: false}"
        :position="marker.position"
      />
    </gmap-map>
  </div>
</template>
<style lang="scss" scoped>
  div:not(.vue-map-container) {
    height: (300 / 14) + rem;
    margin-bottom: 0.5rem;
  }
</style>
<script lang="ts" src="./equipment-location-map.ts"></script>
