<template>
  <div class="ur-workplace-hours-used">
    <template v-if="telematicsWarning">
      <div class="p-b-10 m-b-0">
        <div class="inline-feedback-banner">
          <div class="feedback-banner-headline">
            <i :class="iconName"></i>
            {{ $i18n('workplace.telematicsWarningText') }}
          </div>
          <div class="feedback-banner-details parent-has-icon"
               v-html="$i18n('workplace.telematicsWarningMessage', { '@phoneNumber': branchPhoneNumber })">
          </div>
        </div>
      </div>
    </template>

    <template v-if="telematicsError">
      <div class="p-b-10 m-b-0"
           ref="telematicsError">
        <div class="inline-feedback-banner">
          <div class="feedback-banner-headline">
            <i :class="iconName"></i>
            {{ $i18n('workplace.telematicsWarningText') }}
          </div>
          <div class="feedback-banner-details parent-has-icon"
               v-html="$i18n('workplace.telematicsErrorMessage', { '@phoneNumber': branchPhoneNumber })">
          </div>
        </div>
      </div>
    </template>

    <template v-if="isReservation">
      <div class="p-b-10 m-b-20">
        <div class="inline-feedback-banner">
          <div class="feedback-banner-headline" v-html="isReservationMessage">
          </div>
        </div>
      </div>
    </template>

    <template v-if="!item.simActive && !isReservation">
      <div class="p-b-10 m-b-20">
        <div class="inline-feedback-banner">
          <div class="feedback-banner-headline">
            <i class="icon-before-info-outline"></i>
            {{ $i18n('workplace.noGps') }}
          </div>
        </div>
      </div>
    </template>

    <template v-if="item.simActive && !isReservation">
      <div class="equipment-details-section hours-used" :class="{'shimmer': usageRequestIsPending}">
        <div class="display-flex align-center m-b-10">
          <h2>
            {{ $i18n('workplace.hoursUsedLabel') }}
            <i class="icon icon-before-info-outline c-blue-highlight" v-tooltip.top-start="hoursUsedTooltip"></i>
          </h2>
        </div>
        <div v-if="telematicsWarning || telematicsError" class="m-b-5 text-align-center font-weight--bold"
             v-html="$i18n('workplace.dataLastReported', { '@datetime': lastReportFormatted })"></div>
        <bar-chart
          :chart-data="hoursUsedData"
          :height="175"
          :options="hoursUsedOptions"
        />
      </div>
    </template>


  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import format from '@/mixins/format';
  import * as moment from 'moment';

  import { FlightToken } from '@/api/flight-track';
  import BarChart from '@/components/common/chart/bar-chart.vue';
  import UrTooltip from '@/components/common/ur-tooltip.vue';
  import { WorkplaceEquipment, WorkplaceEquipmentGpsUtilization, WorkplaceEquipmentUsageByDay, WorkplaceEquipmentUtils } from '@/lib/workplace';
  import { WorkplaceEquipmentDetailsState } from '@/store/module.workplace.equipment-details';

  export default Vue.extend({
    components: {
      BarChart,
      UrTooltip,
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapState<{ workplaceEquipmentDetails: WorkplaceEquipmentDetailsState }>({
        usageByDay: state => state.workplaceEquipmentDetails.detailItemUsageByDay,
      }),
      detailItemOrNull(): WorkplaceEquipment | null {
        return this.$store.getters[types.workplace.equipmentDetails.detailItemOrNull];
      },
      lastReportFormatted(): string {
        return moment(this.item.reportedDateTime).format('MM/DD/YY, hh:mma');
      },
      lastReportDiff(): number {
        return moment().diff(moment(this.item.reportedDateTime), 'hour');
      },
      hoursOnRent(): number {
        return moment().diff(moment(this.item.startDateTime), 'hour');
      },
      iconName(): string {
        const { gpsUtilization } = this.item;
        const { Offline, NoSignal } = WorkplaceEquipmentGpsUtilization;

        return 'icon-before-' + ((gpsUtilization === Offline || gpsUtilization === NoSignal) ? 'gps-off' : 'error');
      },
      item(): WorkplaceEquipment | {} {
        return this.detailItemOrNull || {};
      },
      shouldShowErrorTooltip(): boolean {
        return this.showErrorTooltip;
      },
      telematicsError(): boolean {
        return this.hoursOnRent > 24 && this.lastReportDiff > 120;
      },
      telematicsWarning(): boolean {
        return this.hoursOnRent > 24 && this.lastReportDiff > 24 && this.lastReportDiff < 120;
      },
      usageDataIsAvailable(): boolean {
        return !!this.usageByDay && Object.keys(this.usageByDay).length > 0;
      },
      usageRequestIsPending(): boolean {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.fetchEquipmentGps);
      },
      defaultBranchPhoneNumber() {
        return this.$store.state.callUs.otherNumber;
      },
      isReservation() {
        const { isReservation } = WorkplaceEquipmentUtils;
        const item = this.detailItemOrNull || {};
        return isReservation(item);
      },
      isReservationMessage() {
        return `<i class="icon-before-info-outline"></i>
        ${ this.$i18n('workplace.notOnRent') }&nbsp;<a href="tel:${this.branchPhoneNumber}">${ this.urPhoneNumber(this.branchPhoneNumber) }</a>.
      `;
      },
    },
    data() {
      const initialDatasets = [];
      const hoursUsedLabels =
        Array.from(Array(14))
          .map((x, i) => moment().utc().subtract(i, 'days').format('M/D'))
          .reverse();

      return {
        branchPhoneNumber: '',
        datasetOptions: {
          label: '',
          data: null,
          backgroundColor: 'rgba(0, 140, 255, 1)',
          borderWidth: 0,
        },
        dateTimeFormat: 'YYYY-MM-DD[T]HH:mm:ss',
        hoursUsedData: {
          labels: hoursUsedLabels,
          datasets: initialDatasets,
        },
        hoursUsedOptions: {
          legend: {
            display: false,
          },
          maintainAspectRatio: false,
          responsive: true,
          layout: {
            padding: {
              top: 20,
              bottom: 20,
            },
          },
          scales: {
            xAxes: [{
              barThickness: 10,
              gridLines: {
                display: false,
              },
            }],
            yAxes: [{
              gridLines: {
                display: true,
              },
              ticks: {
                maxTicksLimit: 4,
                min: 0,
                stepSize: 5,
              },
            }],
          },
          tooltips: {
            backgroundColor: 'rgba(255, 255, 255, 1)',
            bodyFontColor: '#414B50',
            bodyFontSize: 15,
            borderColor: 'rgba(221, 224, 226, 1)',
            borderWidth: 1,
            caretSize: 10,
            displayColors: false,
            titleFontColor: 'rgba(0, 0, 0, 1)',
            titleFontSize: 40,
            titleFontStyle: 'normal',
            xPadding: 20,
            yPadding: 10,
            callbacks: {
              title(tooltipItem, data) {
                return data.datasets[0].data[tooltipItem[0].index];
              },
              label(tooltipItem, data) {
                return data.labels[tooltipItem.index];
              },
            },
          },
        },
        hoursUsedTooltip: {
          content: this.$i18n('workplace.hoursUsedTooltip'),
          trigger: 'hover click touch',
        },
      };
    },
    mounted() {
      this.updateBranchPhoneNumber();
    },
    methods: {
      ...mapActions({
        fetchBranch: types.branch.fetch,
      }),
      async updateBranchPhoneNumber() {
        if (!this.detailItemOrNull) return;
        const branch = await this.fetchBranch(this.detailItemOrNull.branchId);
        this.branchPhoneNumber = typeof branch.phone === 'string'
          ? branch.phone
          : this.defaultBranchPhoneNumber;
      },
      updateUsageDataset() {
        // this.usageByDay is Hours used keyed by date in format YYYY-MM-DD from equipment/gps endpoint
        const usageByDay: WorkplaceEquipmentUsageByDay = this.usageByDay;
        const usageHours =
          Object.entries(usageByDay).reduce((accum, [day, { minutes, hours }]) => {
            const dateIndex = moment(day).utc().format('M/D');
            return {
              ...accum,
              [dateIndex]: hours + (minutes > 0 ? 1 : 0),
            };
          }, {});

        // copy label array of dates ('M/D') to find corresponding date and
        // either replace with data or with zero if no data exists for a date
        const updatedDataset =
          [...this.hoursUsedData.labels].reduce((accum, label, index) => [
            ...accum,
            usageHours[label] || 0,
          ], []);

        // Created a whole new reference for the chart data to force reactivity
        this.hoursUsedData = {
          ...this.hoursUsedData,
          datasets: [{ ...this.datasetOptions, data: updatedDataset }],
        };
      },
    },
    name: 'hoursUsed',
    created() {
      this.updateUsageDataset();
    },
    mixins: [
      format,
    ],
    watch: {
      usageByDay() {
        this.updateUsageDataset();
      },
    },
  });
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .feedback-banner-headline {
    /deep/ i {
      color: $color-red;
      height: rem(20);
      position: relative;
      top: rem(-4);
    }
    /deep/ a {
      cursor:pointer;
    }
  }

</style>

