<template>

  <div class="rental-timeline"
    :class="{
      'rental-timeline--active': rentalStart
    }">

    <div class="rental-timeline__nav rental-timeline__nav--prev"
         :class="{ 'rental-timeline__nav--disabled': tl.active.start === 0 }"
         @click="onClickNav('previous')">
      <i class="icon icon-before-arrow-left"></i>
    </div>

    <div
      class="rental-timeline__container"
      :class="{
        'shimmer': timelineTokensAreInFlight || !(rentalStart && rentalEnd) || extendContractRequest.inProgress
      }"
      ref="timelineContainer"
    >

      <svg class="rental-timeline__svg"
           preserveAspectRatio="xMidYMid slice"
           :view-box.camel="tlViewBox"
           :width="tl.width" :height="tl.height">

        <g :key="'path' + index" v-for="(path, index) in tl.dayGuides">
          <path
            class="rental-timeline__day-guide"
            :d="path.d"
            :key="'dayGuide' + index"/>
        </g>

        <!-- Bars -->

        <g :key="key" v-for="(key, index) in ['timeline', 'progress', 'overdue']">
          <path class="rental-timeline__bar"
            :class="'rental-timeline__bar--' + key"
            :d="tl.bar[key].d"
            :key="key + index"
            v-if="tl.bar[key]"/>
        </g>

        <template v-if="tl.bar.leniencies">
          <g
            class="rental-timeline__bar-group rental-timeline__bar-group--leniency"
            :key="'leniency' + index"
            v-for="(leniency, index) in tl.bar.leniencies">
            <g v-tooltip="leniency.tooltip">
              <path
                class="rental-timeline__bar rental-timeline__bar--leniency"
                :d="path.d"
                :key="'path' + pathIndex"
                v-for="(path, pathIndex) in leniency.paths"/>
            </g>
          </g>
        </template>

        <!-- Bookends -->

        <path class="rental-timeline__bookend"
          :d="tl.bookend.start.d"
          v-if="tl.bookend.start && tl.hasBookend('start')"/>
        <path class="rental-timeline__bookend"
          :d="tl.bookend.end.d"
          v-if="tl.bookend.end && tl.hasBookend('end')"/>

        <!-- Markers -->

        <g class="rental-timeline__marker-group rental-timeline__marker-group--end"
           v-if="tl.marker.rentalEnd">
          <path
            class="rental-timeline__marker rental-timeline__marker--line"
            :d="tl.marker.rentalEnd.line.d"/>
          <circle
            class="rental-timeline__marker rental-timeline__marker--outer"
            :cx="tl.marker.rentalEnd.outer.cx"
            :cy="tl.marker.rentalEnd.outer.cy"
            :r="tl.marker.rentalEnd.outer.r"/>
          <circle
            class="rental-timeline__marker rental-timeline__marker--inner"
            :cx="tl.marker.rentalEnd.inner.cx"
            :cy="tl.marker.rentalEnd.inner.cy"
            :r="tl.marker.rentalEnd.inner.r"/>
        </g>

        <g class="rental-timeline__marker-group rental-timeline__marker-group--start"
          :class="{
            'rental-timeline__marker-group--started': this.tl.isStarted
          }"
           v-if="tl.marker.rentalStart">
          <path class="rental-timeline__marker rental-timeline__marker--line"
            :d="tl.marker.rentalStart.line.d"/>
          <circle class="rental-timeline__marker rental-timeline__marker--outer"
            :cx="tl.marker.rentalStart.outer.cx"
            :cy="tl.marker.rentalStart.outer.cy"
            :r="tl.marker.rentalStart.outer.r"/>
          <circle class="rental-timeline__marker rental-timeline__marker--inner"
            :cx="tl.marker.rentalStart.inner.cx"
            :cy="tl.marker.rentalStart.inner.cy"
            :r="tl.marker.rentalStart.inner.r"/>
        </g>

        <g class="rental-timeline__marker-group rental-timeline__marker-group--overdue"
           v-if="tl.marker.overdue">
          <path class="rental-timeline__marker rental-timeline__marker--line"
            :d="tl.marker.overdue.line.d"/>
          <circle class="rental-timeline__marker rental-timeline__marker--outer"
            :cx="tl.marker.overdue.outer.cx"
            :cy="tl.marker.overdue.outer.cy"
            :r="tl.marker.overdue.outer.r"/>
          <circle class="rental-timeline__marker rental-timeline__marker--inner"
            :cx="tl.marker.overdue.inner.cx"
            :cy="tl.marker.overdue.inner.cy"
            :r="tl.marker.overdue.inner.r"/>
        </g>

        <g class="rental-timeline__marker-group rental-timeline__marker-group--today"
           :class="{
            'rental-timeline__marker-group--overdue': this.tl.isOverdue
          }"
           v-if="tl.marker.today && tl.marker.today.path">
          <g v-tooltip="tl.marker.today.tooltip">
            <path class="rental-timeline__marker rental-timeline__marker--line"
              :d="tl.marker.today.path.line.d"/>
            <circle class="rental-timeline__marker rental-timeline__marker--outer"
              :cx="tl.marker.today.path.outer.cx"
              :cy="tl.marker.today.path.outer.cy"
              :r="tl.marker.today.path.outer.r"/>
            <circle class="rental-timeline__marker rental-timeline__marker--inner"
              :cx="tl.marker.today.path.inner.cx"
              :cy="tl.marker.today.path.inner.cy"
              :r="tl.marker.today.path.inner.r"/>
          </g>
        </g>

        <g class="rental-timeline__marker-group rental-timeline__marker-group--bill-thru"
          v-if="tl.marker.billThru">
          <path class="rental-timeline__marker rental-timeline__marker--line"
            :d="tl.marker.billThru.line.d"/>
          <circle class="rental-timeline__marker rental-timeline__marker--outer"
            :cx="tl.marker.billThru.outer.cx"
            :cy="tl.marker.billThru.outer.cy"
            :r="tl.marker.billThru.outer.r"/>
          <circle class="rental-timeline__marker rental-timeline__marker--inner"
            :cx="tl.marker.billThru.inner.cx"
            :cy="tl.marker.billThru.inner.cy"
            :r="tl.marker.billThru.inner.r"/>
        </g>

        <!-- Text labels -->

        <text class="rental-timeline__label rental-timeline__label--start"
          :text-anchor="tl.label.start.textAnchor"
          :x="tl.label.start.x" :y="tl.label.start.y"
          v-if="tl.label.start && tl.hasStartLabel">
          {{tl.label.start.text}}
        </text>

        <text class="rental-timeline__label rental-timeline__label--end"
          :text-anchor="tl.label.end.textAnchor"
          :x="tl.label.end.x" :y="tl.label.end.y"
          v-if="tl.label.end && tl.hasEndLabel">
          {{tl.label.end.text}}
        </text>

        <g :key="key + index" v-for="(key, index) in ['rentalStart', 'rentalEnd', 'billThru']">
          <text class="rental-timeline__label rental-timeline__label--top"
            :class="['rental-timeline__label--' + buildCssClass(key)]"
            :text-anchor="tl.label[key].top.textAnchor"
            :x="tl.label[key].top.x" :y="tl.label[key].top.y"
            v-if="tl.label[key] && tl.label[key].top">
            {{tl.label[key].top.text}}
          </text>
          <text class="rental-timeline__label rental-timeline__label--rental-start rental-timeline__label--bottom"
            :class="['rental-timeline__label--' + buildCssClass(key)]"
            :text-anchor="tl.label[key].bottom.textAnchor"
            :x="tl.label[key].bottom.x" :y="tl.label[key].bottom.y"
            v-if="tl.label[key] && tl.label[key].bottom">
            {{tl.label[key].bottom.text}}
          </text>
        </g>

      </svg>

    </div>

    <div class="rental-timeline__nav rental-timeline__nav--next"
      :class="{ 'rental-timeline__nav--disabled': tl.active.end === tl.totalDays }"
      @click="onClickNav('next')">
      <i class="icon icon-before-arrow-right"></i>
    </div>

  </div>

</template>

<script>
  import { kebabCase } from 'lodash';
  import * as moment from 'moment';
  import { mapState } from 'vuex';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';
  import RentalTimelineClass from './rental-timeline.class';
  import { calculator } from '@/utils';

  export default {
    name: 'RentalTimeline',

    beforeDestroy() {
      window.removeEventListener('resize', this.resizeCallback);
    },

    computed: {
      ...mapState({
        billThru: state => state.workplaceRentalTimeline.billThru,
        leniencies: state => state.workplaceRentalTimeline.leniencies,
        rentalStart: state => state.workplaceRentalTimeline.rentalStart,
        rentalEnd: state => state.workplaceRentalTimeline.rentalEnd,
      }),
      timelineTokensAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.fetchLeniencyRates,
          FlightToken.fetchInvoices,
        );
      },
      extendContractRequestTokenIsInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.sendExtendContractRequest);
      },
    },

    data() {
      return {
        tl: new RentalTimelineClass({
          today: getMoment(),
        }),
        tlViewBox: '0 0 0 0',
        extendContractRequest: {
          inProgress: false,
          previousRentalEnd: null,
        },
      };
    },

    methods: {
      buildCssClass(label) {
        return kebabCase(label);
      },

      calculateEndDateWithLeniencies(endDate) {
        if (!(this.tl.leniencies).length) {
          return endDate;
        }
        let calculatedEndDate = endDate;

        this.tl.leniencies.some((len) => {
          if (len.startDate.isAfter(calculatedEndDate)) {
            calculatedEndDate = len.endDate;
            return true;
          }

          if (len.endDate.isAfter(calculatedEndDate)) {
            calculatedEndDate = len.endDate;
          }

          return false;
        });

        return calculatedEndDate;
      },

      init() {
        this.tl.$root = this.$el.querySelector('.rental-timeline__container');

        this.initDates();
        this.initTimeline();

        this.resizeCallback = this.initTimeline.bind(this);
        window.addEventListener('resize', this.resizeCallback);
      },

      /**
       * To size and draw the timeline, we first need to square all these dates.
       * The Timeline Class doesn't import MomentJS, it expects dates to be Moments
       */
      initDates() {
        this.tl.billThru = this.billThru ? getMoment(this.billThru) : '';
        this.tl.leniencies = Object.entries(this.leniencies).map(([, len]) => ({
          endDate: getMoment(len.endDate),
          rate: len.rate,
          startDate: getMoment(len.startDate),
        }));
        this.tl.rentalEnd = getMoment(this.rentalEnd);
        this.tl.rentalStart = getMoment(this.rentalStart);

        const nonleniencyEndDate = calculator.farthestDateFromDates(getMoment(), [this.tl.billThru, this.tl.rentalEnd]);

        this.tl.end = this.calculateEndDateWithLeniencies(nonleniencyEndDate);
        this.tl.start = this.tl.rentalStart;
      },

      initTimeline() {
        this.tl.resize();
        this.tl.draw();

        this.tlViewBox = `${this.tl.xPosition} 0 ${this.tl.width} ${this.tl.height}`;
        if (this.extendContractRequest.inProgress && this.rentalEnd !== this.extendContractRequest.previousRentalEnd) {
          this.extendContractRequest.inProgress = false;
          this.extendContractRequest.previousRentalEnd = this.rentalEnd;
        }
      },

      onClickNav(direction) {
        this.tl.resetActive(direction);

        this.tlViewBox = `${this.tl.xPosition} 0 ${this.tl.width} ${this.tl.height}`;
      },
    },

    mounted() {
      if (!this.rentalStart) {
        return;
      }

      this.init();
    },

    watch: {
      billThru() {
        if (!this.billThru) {
          return;
        }

        this.initDates();
        this.initTimeline();
      },
      leniencies() {
        if (!this.leniencies.length) {
          return;
        }

        this.initDates();
        this.initTimeline();
      },
      rentalStart() {
        this.init();
      },
      rentalEnd() {
        this.init();
      },
      extendContractRequestTokenIsInFlight() {
        this.extendContractRequest.inProgress = true;
        if (!this.extendContractRequest.previousRentalEnd) this.extendContractRequest.previousRentalEnd = this.rentalEnd;
      },
    },
  };

  function getMoment(date = moment()) {
    // preclude any improper date format strings
    if (typeof date === 'string' && date.indexOf('T') > -1) {
      date = date.substring(0, date.indexOf('T'));
    }
    return moment.isMoment(date) ? date : moment(date);
  }

</script>
