{#
/**
 * Available variables:
 * - select_modifiers
 * - select_blockname
 * - select_attributes
 * - select_options
 * - select_name
**/
#}
<div class="select
      {% for modifier in select_modifiers %} select--{{ modifier }}{% endfor %}
      {% if blockname %}{{ select_blockname }}__select{% endif %}
">
  <select {% for attribute,value in select_attributes %} {{ attribute }}="{{ value }}"{% endfor %} name="{{ select_name }}">
  {% for option in select_options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
  {% endfor %}
  </select>
  <i class="icon icon-angle-down"></i>
  {% if select_attributes.job %}
    <button>+</button>
  {% endif %}
</div>