.sitemap {

  // Make the grid container play nice.
  &__grid {
    display: block;

    &:first-child {
      margin-top: 40px;
    }

    @include breakpoint($break-small) {
      display: flex;
    }
  }

  // Individual block styles
  &-block {
    width: 100%;
    margin-bottom: 2.25rem;

    @include breakpoint($break-small) {
      @include setColumn(5.7, 12);
    }

    // Image being inside group-left
    .group-left {
      display: none;

      @include breakpoint($break-medium) {
        display: block;
        max-width: 215px;

        img {
          min-width: 206px;
        }
      }
    }

    .group-right {

      @include breakpoint($break-medium) {
        width: 50%;
      }
    }

    // Heading for the block
    &__heading-3 {
      padding-bottom: .5rem;
      border-bottom: 1px solid $color-grey-38;
      text-transform: uppercase;
      margin: 0;
    }

    // Sub-heading
    &__paragraph {
      margin: .5rem 0 1rem;
      color: $color-grey-38;
    }

    // Menu links
    .menu {
      .menu__item {
        margin: 0 0 1rem;
        line-height: 24px;

        .menu__link {
          line-height: 24px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}