{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}

<{{ outer_wrapper }}{% block outer_attributes %}  class="sitemap__block grid"{% endblock %}>

{{ title_suffix.contextual_links }}

  <{{ left_wrapper }}{% block left_attributes %} class="group-left column"{% endblock %}>
  {% block left_content %}
    <img src="{{ sitemap_image }}" />
  {% endblock %}
  </{{ left_wrapper }}>

  <{{ right_wrapper }}{% block right_attributes %} class="group-right column"{% endblock %}>
  {% block right_content %}

    {% block sitemap_headline %}
      {% include "@atoms/02-text/00-headings/heading-3/heading-3.twig"
        with {
          "heading_3": sitemap_headline,
          "heading_3_blockname": sitemap_blockname
        }
      %}
    {% endblock %}

    {% block sitemap_description %}
      {% include "@atoms/02-text/text/01-paragraph.twig"
        with {
          "paragraph_content": sitemap_description,
          "paragraph_blockname": sitemap_blockname
        }
      %}
    {% endblock %}

    {% block sitemap_menu %}
      {% include "@molecules/menus/_mock-menu.twig"
        with {
          "menu_data": sitemap_menu_items
        }
      %}
    {% endblock %}
  {% endblock %}
  </{{ right_wrapper }}>
</{{ outer_wrapper }}>
