<template>
  <data-is-value-of-zero
    v-if="!hasApplicableEquipment"
    :title="noEquipmentMessage" />
  <no-data-available
    v-else-if="hasApplicableEquipment && !hasMarkers"
    class="no-markers" />
  <div v-else :id="mapName"></div>
</template>

<script>
  import { loaded } from 'vue2-google-maps';
  import NoDataAvailable from '@/components/workplace/dashboard/widgets/no-data-available.vue';
  import DataIsValueOfZero from '@/components/workplace/dashboard/widgets/data-is-value-of-zero.vue';

  // import GooglePlaces from '@/lib/google-places';
  import L from 'leaflet';
  import { mapState } from 'vuex';

  export default {
    name: 'jobsiteMap',
    components: {
      DataIsValueOfZero,
      NoDataAvailable,
    },
    props: {
      placeName: String,
      // The equipment statuses for which markers at each jobsite will be displayed
      equipmentStatuses: {
        type: Array,
        required: true,
      },
      clusters: {
        type: Array,
        required: true,
        // TODO: Figure out why the TS type assertion causes eslint to fail
        validator(clusters) {
          return clusters.every(cluster => typeof cluster === 'object'
              && typeof cluster.jobsite === 'object'
              && typeof cluster.jobsite.id === 'string'
              && typeof cluster.population === 'number'
              && Array.isArray(cluster.markers));
        },
      },
      noEquipmentMessage: {
        type: String,
        default: 'There are no items',
      },
    },
    computed: {
      ...mapState({
        allAccounts: state => state.accounts.all,
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      mapName() {
        return `leafletmap map-${this.placeName}`;
      },
      userInCanada() {
        return this.caProvinces.includes(this.allAccounts[this.defaultAccountId].state);
      },
      center() {
        return this.bounds.getCenter();
      },
      hasApplicableEquipment() {
        const applicable = this.clusters.some(cluster => Object.entries(cluster.statusPopulations)
          .filter(([status]) => this.equipmentStatuses.includes(status))
          .some(([, population]) => population > 0));
        return applicable;
      },
      hasMarkers() {
        return this.clusters.some(({ markers }) => markers.length > 0);
      },
      markers() {
        const markers = L.markerClusterGroup({
          maxClusterRadius: 50,
          maxZoom: 4,
          iconCreateFunction: (cluster) => {
            const label = cluster.getAllChildMarkers().map(c => c.options.icon.options.html).reduce((i, x) => i + parseInt(x, 0)); // eslint-disable-line
            return new L.DivIcon({ // Custom radius and icon create function
              html: label,
              className: 'equipment-cluster-icon',
              iconSize: L.point(40, 40),
            });
          },
          spiderfyOnMaxZoom: true,
          showCoverageOnHover: false,
          zoomToBoundsOnClick: true,
        });

        // Compose the clusters for rendering
        this.clusters.forEach((cluster) => {
          // A cluster == a jobsite
          // The map shows clusters of jobsites
          const pos = new L.LatLng(cluster.lat, cluster.lng); // Get the position
          const allStatuses = this.equipmentStatuses;

          const sizes = [
            'medium',
            'large',
          ];
          const offsets = [
            [12, 12],
            [15, 15],
          ];
          const points = Object.entries(cluster.statusPopulations).filter(ele => allStatuses.includes(ele[0]));
          const entries = [];
          if (points.length > 1) {
            points.sort((a, b) => a[1] - b[1]);
          }

          points.forEach((point, key, map) => { // eslint-disable-line
            const size = sizes[key];
            const offset = offsets[key];
            const entry = {
              status: point[0],
              label: point[1],
              size,
              offset,
            };
            entries.push(entry);
          });

          entries.forEach(({
            status,
            label,
            size,
            offset,
          }) => {
            const child = L.marker(pos, {
              icon: new L.DivIcon({
                className: `equipment-marker ${status} em-${size}`,
                iconSize: null,
                iconAnchor: offset,
                html: label,
              }),
            });
            child.bindTooltip(status.replace(/([A-Z])/g, ' $1'), {
              sticky: false,
              direction: 'top',
            });
            markers.addLayer(child);
          });
        });
        return markers;
      },
    },
    methods: {
      initMap() {
        this.map = L.map(this.mapName, {
          center: this.userInCanada ? [50.130400, -99.346800] : [39.8333333, -98.585522],
          zoom: 3.35,
          zoomControl: false,
          attributionControl: false,
          preferCanvas: false,
        });

        const gridLayer = L.gridLayer.googleMutant({
          type: 'roadmap',
          styles: [
            { featureType: 'poi', stylers: [{ visibility: 'off' }] },
          ],
        });
        gridLayer.addTo(this.map);

        this.addMarkersToMap();
      },
      addMarkersToMap() {
        if (this.map) {
          // Default marker collection
          this.map.addLayer(this.markers);
        }
      },
    },
    data() {
      return {
        map: {},
        bounds: null,
        JobsiteMarker: L.Marker.extend({
          options: {
            branchId: '',
            branchIndex: 0,
          },
        }),
        caProvinces: ['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'ON', 'PE', 'QC', 'SK'],
      };
    },
    mounted() {
      const sw = L.latLng(25, -126);
      const ne = L.latLng(49, -64);
      this.bounds = L.latLngBounds(sw, ne);
      loaded.then(() => {
        window.addEventListener('load', this.initMap());
      });
    },
    watch: {
      hasApplicableEquipment() {
        if (this.hasApplicableEquipment) {
          loaded.then(() => {
            window.addEventListener('load', this.initMap());
          });
        }
      },
    },
  };
</script>

<style>
  .equipment-cluster-icon {
    background-image: url(/themes/custom/unitedrentals/dist/vue/img/map-markers/cluster-small.png);
    background-repeat: no-repeat;
    background-size: fit;
    background-position: center center;
    color: #FFF;
    text-align: center;
    line-height: 40px;
  }
  .equipment-marker {
    text-align: center;
    font-size: 1em;
    color: #FFF;
  }
  .em-small {
    width: 18px;
    height: 18px;
    margin: 0 -9px 0 -9px;
    line-height: 18px;
    border-radius: 9px;
  }
  .em-medium {
    width: 24px;
    height: 24px;
    margin: 0 -12px 0 -12px;
    line-height: 24px;
    border-radius: 12px;
  }
  .em-large {
    width: 30px;
    height: 30px;
    margin: 0 -15px 0 -15px;
    line-height: 30px;
    border-radius: 15px;
  }
  .ReservedForDelivery,
  .AdvancedPickup {
    color: #FFF;
    background-color: #002F55;
  }
  .ReservedForBranchPickup,
  .PickupRequested {
    color: #FFF;
    background-color: #91969B;
  }
</style>
