<template>
  <div class="add-to-cart__modal">
    <ur-loading-spinner :style="{top: 0}" v-if="working" />
    <template v-else>
      <section class="add-to-cart__img-pricing">
        <span class="add-to-cart__cat_class_code">{{ $i18n('catalog.catClassCode') }}{{ catClass }}</span>
        <span class="add-to-cart__item-title">{{ item.title }}</span>
        <img class="add-to-cart__image"
            :src="item.images && item.images[0] && item.images[0].link"
            :alt="item.images && item.images[0] && item.images[0].alt"
        />
        <div class="post-img-div"></div>

        <div v-if="large || xlarge" class="object-listing-location-search" style="height: auto">
          <location-selector
            :linkable="linkable"
            :ignore-no-jobsite-error="true"
          />
        </div>
        <item-rates
          :not-rentable-online="item.field_item_not_rentable_online"
          :cat-class="catClass"
        />
      </section>
      <section class="add-to-cart__selections">
        <add-to-cart-form
          :cat-class="catClass"
          :in-modal="true"
        />
      </section>
    </template>
  </div>
</template>
<script type="text/babel">
  import AddToCartForm from '@/components/add-to-cart/add-to-cart-form.vue';
  import ItemRates from '@/components/equipment-listing/item-rates.vue';
  import LocationSelector from '@/components/add-to-cart/location-selector.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  import { isEmpty } from 'lodash';
  import { mapGetters } from 'vuex';
  import UrGtm from '@/mixins/ur-gtm';
  import { equipmentAsyncComputed } from '@/store/module.catalog.helpers';

  export default {
    components: {
      AddToCartForm,
      ItemRates,
      LocationSelector,
      UrLoadingSpinner,
    },
    asyncComputed: {
      item: equipmentAsyncComputed(vm => ({
        catClass: vm.catClass,
      })),
    },
    computed: {
      ...mapGetters([
        'large',
        'xlarge',
      ]),
      linkable() {
        return !this.$store.state.user.isLoggedIn;
      },
      working() {
        return this.$asyncComputed.item.updating || isEmpty(this.item);
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'addToCart',
    props: [
      'catClass',
    ],
  };
</script>
