/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-hero-slide, .component-hero-slide.slick-slide { display: flex; position: relative; width: 100vw; }

.component-hero-slide .media, .component-hero-slide.slick-slide .media { bottom: 0; left: 0; position: absolute; right: 0; top: 0; height: 100%; overflow: hidden; width: 100%; z-index: 0; }

.component-hero-slide .media.media--type-image .media__media, .component-hero-slide.slick-slide .media.media--type-image .media__media { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }

.component-hero-slide .media.media--type-image .media__media > picture, .component-hero-slide .media.media--type-image .media__media img, .component-hero-slide.slick-slide .media.media--type-image .media__media > picture, .component-hero-slide.slick-slide .media.media--type-image .media__media img { display: block; height: auto; left: 50%; min-height: 100%; min-width: 100%; -o-object-fit: cover; object-fit: cover; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: auto; }

.component-hero-slide::before { bottom: 0; left: 0; position: absolute; right: 0; top: 0; background-image: linear-gradient(180deg, #002F55 3%, rgba(0, 80, 169, 0) 68%); content: ''; pointer-events: none; z-index: 100; }

.component-hero-slide .component-hero-slide__inner { margin-left: auto !important; margin-right: auto !important; max-width: calc(100% - (1rem * 2)); align-items: center; color: #FFFFFF; display: flex; min-height: 16.57143rem; padding: 4.85714rem 0 3.42857rem; position: relative; z-index: 200; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__inner { padding-left: initial; padding-right: initial; max-width: calc(100% - ((8.33333% - 1.14286rem) * 2)); width: 100%; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { .component-hero-slide .component-hero-slide__inner { height: 16.57143rem; } }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__inner { padding-bottom: 2.28571rem; } }

@media (min-width: 1024px) { .component-hero-slide .component-hero-slide__inner { min-height: 22.57143rem; padding: 6.64286rem 0 2.28571rem; } }

@media screen and (min-width: 1024px) and (-ms-high-contrast: active), screen and (min-width: 1024px) and (-ms-high-contrast: none) { .component-hero-slide .component-hero-slide__inner { height: 22.57143rem; } }

@media (min-width: 1440px) { .component-hero-slide .component-hero-slide__inner { min-height: 26.28571rem; padding: 8.35714rem 0 1.71429rem; } }

@media screen and (min-width: 1440px) and (-ms-high-contrast: active), screen and (min-width: 1440px) and (-ms-high-contrast: none) { .component-hero-slide .component-hero-slide__inner { height: 26.28571rem; } }

.component-hero-slide .component-hero-slide__inner > div { align-items: center; display: flex; height: 100%; margin: 0 8.33333%; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__inner > div { margin: 0 0 0 8.33333%; max-width: 50%; } }

@media (min-width: 1024px) { .component-hero-slide .component-hero-slide__inner > div { max-width: 58.33333%; } }

@media (min-width: 1440px) { .component-hero-slide .component-hero-slide__inner > div { max-width: 50%; } }

@media (min-width: 1920px) { .component-hero-slide .component-hero-slide__inner > div { margin-left: 16.66667%; max-width: 41.66667%; } }

.component-hero-slide .component-hero-slide__title sup { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__title sup { max-width: 75ch; } }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__title sup { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; } }

@media (min-width: 768px) and (min-width: 768px) { .component-hero-slide .component-hero-slide__title sup { max-width: 75ch; } }

.component-hero-slide .component-hero-slide__title sup:empty { display: none; }

.component-hero-slide .component-hero-slide__title h1 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: block; display: -webkit-box; height: calc(3 * (1.57143rem * (1.09 + 0.05))); overflow: hidden; text-overflow: ellipsis; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__title h1 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (1.57143rem * (1.09 + 0.05))); overflow: hidden; text-overflow: ellipsis; } }

@media (min-width: 1024px) { .component-hero-slide .component-hero-slide__title h1 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 2.57143rem; line-height: 1.11; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (2.57143rem * (1.11 + 0.05))); overflow: hidden; text-overflow: ellipsis; } }

@media (min-width: 1440px) { .component-hero-slide .component-hero-slide__title h1 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 3.14286rem; line-height: 1.09; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (3.14286rem * (1.09 + 0.05))); overflow: hidden; text-overflow: ellipsis; } }

.component-hero-slide .component-hero-slide__cta { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #008CFF; transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; padding: 0.42857rem 0.85714rem; display: inline-block; }

.component-hero-slide .component-hero-slide__cta:hover, .component-hero-slide .component-hero-slide__cta:active, .component-hero-slide .component-hero-slide__cta:focus { font-style: normal; text-decoration: none; }

.component-hero-slide .component-hero-slide__cta:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-hero-slide .component-hero-slide__cta::before, .component-hero-slide .component-hero-slide__cta::after { line-height: 1; vertical-align: -0.2376em; }

.component-hero-slide .component-hero-slide__cta:empty::before, .component-hero-slide .component-hero-slide__cta:empty::after { display: block; margin: 0; vertical-align: inherit; }

.component-hero-slide .component-hero-slide__cta[disabled], .component-hero-slide .component-hero-slide__cta.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.component-hero-slide .component-hero-slide__cta[disabled], .component-hero-slide .component-hero-slide__cta[disabled]:hover, .component-hero-slide .component-hero-slide__cta[disabled]:active, .component-hero-slide .component-hero-slide__cta[disabled]:focus, .component-hero-slide .component-hero-slide__cta.btn--disabled, .component-hero-slide .component-hero-slide__cta.btn--disabled:hover, .component-hero-slide .component-hero-slide__cta.btn--disabled:active, .component-hero-slide .component-hero-slide__cta.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.component-hero-slide .component-hero-slide__cta, .component-hero-slide .component-hero-slide__cta:hover, .component-hero-slide .component-hero-slide__cta:active, .component-hero-slide .component-hero-slide__cta:focus { color: #FFFFFF; }

.component-hero-slide .component-hero-slide__cta:hover { background-color: #006bd0; }

.component-hero-slide .component-hero-slide__cta:active { background-color: #0050A9; }

.component-hero-slide .component-hero-slide__cta:visited { color: #FFFFFF; }

.component-hero-slide .component-hero-slide__cta::before, .component-hero-slide .component-hero-slide__cta::after { font-size: 1.14286rem; }

.component-hero-slide .component-hero-slide__cta:empty { padding: 0.42857rem; }

.component-hero-slide .component-hero-slide__cta:empty::before, .component-hero-slide .component-hero-slide__cta:empty::after { font-size: 1.42857rem; }

@media (min-width: 1024px) { .component-hero-slide .component-hero-slide__cta { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #008CFF; transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; }
  .component-hero-slide .component-hero-slide__cta:hover, .component-hero-slide .component-hero-slide__cta:active, .component-hero-slide .component-hero-slide__cta:focus { font-style: normal; text-decoration: none; }
  .component-hero-slide .component-hero-slide__cta:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }
  .component-hero-slide .component-hero-slide__cta::before, .component-hero-slide .component-hero-slide__cta::after { line-height: 1; vertical-align: -0.2376em; }
  .component-hero-slide .component-hero-slide__cta:empty::before, .component-hero-slide .component-hero-slide__cta:empty::after { display: block; margin: 0; vertical-align: inherit; }
  .component-hero-slide .component-hero-slide__cta[disabled], .component-hero-slide .component-hero-slide__cta.btn--disabled { pointer-events: none; background-color: #DDE0E2; }
  .component-hero-slide .component-hero-slide__cta[disabled], .component-hero-slide .component-hero-slide__cta[disabled]:hover, .component-hero-slide .component-hero-slide__cta[disabled]:active, .component-hero-slide .component-hero-slide__cta[disabled]:focus, .component-hero-slide .component-hero-slide__cta.btn--disabled, .component-hero-slide .component-hero-slide__cta.btn--disabled:hover, .component-hero-slide .component-hero-slide__cta.btn--disabled:active, .component-hero-slide .component-hero-slide__cta.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }
  .component-hero-slide .component-hero-slide__cta, .component-hero-slide .component-hero-slide__cta:hover, .component-hero-slide .component-hero-slide__cta:active, .component-hero-slide .component-hero-slide__cta:focus { color: #FFFFFF; }
  .component-hero-slide .component-hero-slide__cta:hover { background-color: #006bd0; }
  .component-hero-slide .component-hero-slide__cta:active { background-color: #0050A9; }
  .component-hero-slide .component-hero-slide__cta:visited { color: #FFFFFF; }
  .component-hero-slide .component-hero-slide__cta::before, .component-hero-slide .component-hero-slide__cta::after { font-size: 1.42857rem; }
  .component-hero-slide .component-hero-slide__cta:empty { padding: 0.57143rem; }
  .component-hero-slide .component-hero-slide__cta:empty::before, .component-hero-slide .component-hero-slide__cta:empty::after { font-size: 1.71429rem; } }

.component-hero-slide .component-hero-slide__footer { margin-top: 1.14286rem; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__footer { margin-top: 2.28571rem; } }

.component-hero-slide .component-hero-slide__content { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

@media (min-width: 768px) { .component-hero-slide .component-hero-slide__content { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; } }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--hero-slide.css.map */
