/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-tabs { margin-top: 2.85714rem; }

@media (min-width: 1024px) { .component-tabs { margin-top: 5.14286rem; } }

.component-tabs .component-tabs { margin-left: -rem(24); }

.component-tabs__nav { left: calc(-50vw + 50%); max-width: none; position: relative; width: 100%; width: 100vw; -ms-overflow-style: none; display: flex; height: calc((0.85714rem * 1.66) + (0.14286rem + 0.28571rem + 0.14286rem)); left: calc((-50vw + 50%) + (0.57143rem * 2)); margin: 0; overflow-x: scroll; padding: 0; position: relative; scrollbar-width: none; white-space: pre; }

@media (min-width: 768px) { .component-tabs__nav { height: calc((1rem * 1.43) + (0.14286rem + 0.57143rem + 0.14286rem)); left: calc((-50vw + 50%) + (8.33333% - 0.57143rem)); } }

@media (min-width: 1024px) { .component-tabs__nav { height: calc((1.14286rem * 1.5) + (0.14286rem + 0.57143rem + 0.14286rem)); left: 0; } }

.component-tabs__nav::-webkit-scrollbar { display: none; }

.component-tabs__nav li { cursor: pointer; list-style: none; margin: 0; padding: 0 1.14286rem 0 0; position: relative; text-align: center; }

@media (min-width: 1440px) { .component-tabs__nav li { padding-right: 2.28571rem; } }

.component-tabs__nav li:last-of-type { margin-right: 0; }

.component-tabs__nav a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; line-height: 1.33; border-bottom: 0.14286rem solid transparent; color: #72777E; display: block; padding: 0 0 0.28571rem; }

@media (min-width: 768px) { .component-tabs__nav a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; border-bottom-width: 0.28571rem; padding: 0 0 0.57143rem; } }

@media (min-width: 1024px) { .component-tabs__nav a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; line-height: 1.25; } }

.component-tabs__nav a:hover, .component-tabs__nav a:active, .component-tabs__nav a:focus { color: #414B50; text-decoration: none; }

.component-tabs__nav li:last-of-type a { margin-right: 1rem; }

@media (min-width: 768px) { .component-tabs__nav li:last-of-type a { margin-right: calc((100vw / 12) + 1.14286rem); } }

.component-tabs__nav li[aria-selected='true'], .component-tabs__nav li:active, .component-tabs__nav li:focus { box-shadow: none; }

.component-tabs__nav li[aria-selected='true'] a, .component-tabs__nav li:active a, .component-tabs__nav li:focus a { border-bottom-color: #008CFF; color: #414B50; text-decoration: none; }

.component-tabs__content { margin-top: 1.42857rem; }

@media (min-width: 768px) { .component-tabs__content { margin-top: 2.28571rem; } }

.component-tabs-tab__title { display: none; }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--tabs.css.map */
