/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-media--layout-masonry .component-media__list { display: flex; flex-wrap: wrap; display: grid; grid-auto-rows: minmax(2em, auto); grid-column-gap: 4em; grid-template-columns: repeat(auto-fill, calc(50% - 2em)); list-style: none; margin: 0 auto; max-width: 100%; padding: 0; }

@media (max-width: 768px) { .component-media--layout-masonry .component-media__list { display: block; } }

@media (min-width: 769px) { .component-media--layout-masonry .component-media__list { grid-column-gap: 5em; grid-template-columns: repeat(auto-fill, calc(50% - 2.5em)); } }

@media (min-width: 1025px) { .component-media--layout-masonry .component-media__list { grid-auto-rows: minmax(7em, auto); grid-column-gap: 6em; grid-template-columns: repeat(auto-fill, calc(50% - 3em)); } }

.component-media--layout-masonry .component-media__list-item { flex: 1 1 14em; margin-bottom: 0; }

@media (min-width: 769px) { .component-media--layout-masonry .component-media__list-item { margin-bottom: 5rem; }
  .component-media--layout-masonry .component-media__list-item:last-of-type, .component-media--layout-masonry .component-media__list-item:nth-last-child(2) { margin-bottom: 0; } }

.component-media--layout-masonry .component-media__list-item--size-1 { grid-row-end: span 1; }

.component-media--layout-masonry .component-media__list-item--size-2 { grid-row-end: span 2; }

.component-media--layout-masonry .component-media__list-item--size-3 { grid-row-end: span 3; }

.component-media--layout-masonry .component-media__list-item--size-4 { grid-row-end: span 4; }

.component-media--layout-masonry .component-media__list-item--size-5 { grid-row-end: span 5; }

.component-media--layout-masonry .component-media__list-item--size-6 { grid-row-end: span 6; }

.component-media--layout-masonry .component-media__list-item--size-7 { grid-row-end: span 7; }

.component-media--layout-masonry .component-media__list-item--size-8 { grid-row-end: span 8; }

.component-media--layout-masonry .component-media__list-item--size-9 { grid-row-end: span 9; }

.component-media--layout-masonry .component-media__list-item--size-10 { grid-row-end: span 10; }

.component-media--layout-masonry .component-media__list-item--size-11 { grid-row-end: span 11; }

.component-media--layout-masonry .component-media__list-item--size-12 { grid-row-end: span 12; }

.component-media--layout-masonry .component-media__list-item--size-13 { grid-row-end: span 13; }

.component-media--layout-masonry .component-media__list-item--size-14 { grid-row-end: span 14; }

.component-media--layout-masonry .component-media__list-item--size-15 { grid-row-end: span 15; }

.component-media--layout-masonry .component-media__list-item--size-16 { grid-row-end: span 16; }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--media--layout-masonry.css.map */
