/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-content .media { margin: 0; }

.component-content .component-content__title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; line-height: 1.33; }

.component-content .component-content__content p:only-of-type { margin-top: 0; }

.component-content .component-content__header + .component-content__content { margin-top: 1.14286rem; }

.component-content .component-content__footer { margin-top: 1.14286rem; }

@media (min-width: 768px) { .component-content .component-content__footer { margin-top: 2.28571rem; } }

.component-content .component-content__footer-cta { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #008CFF; transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; display: inline-block; }

.component-content .component-content__footer-cta:hover, .component-content .component-content__footer-cta:active, .component-content .component-content__footer-cta:focus { font-style: normal; text-decoration: none; }

.component-content .component-content__footer-cta:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-content .component-content__footer-cta::before, .component-content .component-content__footer-cta::after { line-height: 1; vertical-align: -0.2376em; }

.component-content .component-content__footer-cta:empty::before, .component-content .component-content__footer-cta:empty::after { display: block; margin: 0; vertical-align: inherit; }

.component-content .component-content__footer-cta[disabled], .component-content .component-content__footer-cta.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.component-content .component-content__footer-cta[disabled], .component-content .component-content__footer-cta[disabled]:hover, .component-content .component-content__footer-cta[disabled]:active, .component-content .component-content__footer-cta[disabled]:focus, .component-content .component-content__footer-cta.btn--disabled, .component-content .component-content__footer-cta.btn--disabled:hover, .component-content .component-content__footer-cta.btn--disabled:active, .component-content .component-content__footer-cta.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.component-content .component-content__footer-cta, .component-content .component-content__footer-cta:hover, .component-content .component-content__footer-cta:active, .component-content .component-content__footer-cta:focus { color: #FFFFFF; }

.component-content .component-content__footer-cta:hover { background-color: #006bd0; }

.component-content .component-content__footer-cta:active { background-color: #0050A9; }

.component-content .component-content__footer-cta:visited { color: #FFFFFF; }

.component-content .component-content__footer-cta::before, .component-content .component-content__footer-cta::after { font-size: 1.42857rem; }

.component-content .component-content__footer-cta:empty { padding: 0.57143rem; }

.component-content .component-content__footer-cta:empty::before, .component-content .component-content__footer-cta:empty::after { font-size: 1.71429rem; }

/** Content Classy Paragraphs Style Options: Brand Background Center */
.component-content--style-bg-center .content-wrapper { background-color: #F2F2F2; display: flex; flex-direction: column; justify-content: center; padding: 1.14286rem 8.33333%; }

.component-content--style-bg-center .component-content__title { text-align: center; width: 8.57143rem; }

.component-content--style-bg-center .component-content__title::after { background-color: #F99222; content: ''; display: block; height: 0.28571rem; margin-top: 0.85714rem; }

.component-content--style-brand { border-radius: 0.57143rem; color: #FFFFFF; height: 25.71429rem; overflow: hidden; position: relative; }

.component-content--style-brand a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

.component-content--style-brand a:hover, .component-content--style-brand a:active, .component-content--style-brand a:focus { font-style: normal; text-decoration: none; }

.component-content--style-brand a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-content--style-brand a::before, .component-content--style-brand a::after { line-height: 1; vertical-align: -0.2376em; }

.component-content--style-brand a:empty::before, .component-content--style-brand a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.component-content--style-brand a:hover { color: #008CFF; }

.component-content--style-brand a:active { color: #002F55; }

.component-content--style-brand a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-content--style-brand a[disabled], .component-content--style-brand a.link-btn--disabled { color: #72777E; pointer-events: none; }

.component-content--style-brand a[disabled]::before, .component-content--style-brand a[disabled]::after, .component-content--style-brand a.link-btn--disabled::before, .component-content--style-brand a.link-btn--disabled::after { color: #DDE0E2; }

.component-content--style-brand a:empty { padding: 0.57143rem; }

.component-content--style-brand a:empty::before, .component-content--style-brand a:empty::after { font-size: 1.71429rem; }

.component-content--style-brand[class*='jsa-video-playing']::before, .component-content--style-brand[class*='jsa-video-playing'] .content-wrapper, .component-content--style-brand[class*='jsa-video-playing'] .media--type-image { display: none; }

@media (min-width: 768px) { .component-content--style-brand[class*='jsa-video-playing'] .content-wrapper { display: flex; } }

.component-content--style-brand .content-wrapper { display: flex; flex-direction: column; padding: 1.71429rem; position: absolute; z-index: 2; }

@media (min-width: 768px) { .component-content--style-brand .content-wrapper { align-content: space-between; padding: 3.42857rem; position: relative; } }

.component-content--style-brand .media--type-image img { height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: 25% 50%; object-position: 25% 50%; vertical-align: bottom; }

@media (min-width: 768px) { .component-content--style-brand .component-content__video-wrapper { cursor: pointer; overflow: hidden; position: relative; } }

.component-content--style-brand .component-content__video-wrapper .component-content__video { height: 100%; }

.component-content--style-brand .component-content__video-wrapper .video-embed-field-responsive-video { height: 100%; position: inherit; }

@media (min-width: 768px) { .component-content--style-brand .component-content__video-wrapper .video-embed-field-responsive-video { position: relative; } }

.component-content--style-brand .component-content__video-wrapper .media--type-image { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

.component-content--style-brand .component-content__video-wrapper .media--type-image::before { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); background: #FFFFFF; border-radius: 50%; content: ''; font-size: 6rem; height: 1em; left: 50%; opacity: 0.5; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1em; z-index: 3; }

.component-content--style-brand .component-content__video-wrapper .media--type-image::before:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

.component-content--style-brand .component-content__video-wrapper .media--type-image::after { background-image: url("/themes/custom/unitedrentals/images/icons/play-brand-secondary.svg"); background-repeat: no-repeat; background-size: contain; content: ''; display: inline-block; font-size: 2rem; height: 1em; left: 50%; margin-left: 0.28571rem; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1em; z-index: 3; }

.component-content--style-brand .component-content__title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; position: relative; }

@media (min-width: 768px) { .component-content--style-brand .component-content__title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 2rem; line-height: 1.28; color: #414B50; } }

@media (min-width: 1440px) { .component-content--style-brand .component-content__title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 2.57143rem; line-height: 1.11; } }

.component-content--style-brand .component-content__content { margin-top: 0.57143rem; position: relative; }

@media (min-width: 768px) { .component-content--style-brand .component-content__content { margin-top: 1.14286rem; } }

@media (min-width: 1024px) { .component-content--style-brand .component-content__content { margin-top: 0.57143rem; } }

.component-content--style-brand .component-content__content p { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

@media (min-width: 768px) { .component-content--style-brand .component-content__content p { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: block; display: -webkit-box; height: calc(3 * (1.14286rem * (1.5 + 0.05))); overflow: hidden; text-overflow: ellipsis; color: #72777E; } }

@media (min-width: 1024px) { .component-content--style-brand .component-content__content p { -webkit-line-clamp: inherit; height: inherit; overflow: inherit; text-overflow: inherit; } }

@media (min-width: 1440px) { .component-content--style-brand .component-content__content p { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; } }

@media (min-width: 768px) { .component-content--style-brand .component-content__content p:not(:first-of-type) { display: none; } }

@media (min-width: 1024px) { .component-content--style-brand .component-content__content p:not(:first-of-type) { display: block; } }

@media (max-width: 767px) { .component-content--style-brand .component-cta.component-cta--link-primary .component-cta__link, .component-content--style-brand .component-cta.component-cta--link-reverse .component-cta__link { color: #FFFFFF; } }

.component-content--style-brand .component-cta.component-cta--link-primary .component-cta__link::after, .component-content--style-brand .component-cta.component-cta--link-reverse .component-cta__link::after { background-image: url("/themes/custom/unitedrentals/images/icons/long-arrow-right--orange.svg"); background-repeat: no-repeat; background-size: contain; content: ''; display: inline-block; font-size: 1.42857rem; height: 1em; margin-left: 0.28571em; vertical-align: -0.25em; width: 1em; }

.component-content--style-brand .component-content__video-wrapper ~ .content-wrapper .component-content__content, .component-content--style-brand .component-content__video-wrapper ~ .content-wrapper .component-content__footer { display: none; }

@media (min-width: 768px) { .component-content--style-brand .component-content__video-wrapper ~ .content-wrapper .component-content__content, .component-content--style-brand .component-content__video-wrapper ~ .content-wrapper .component-content__footer { display: block; } }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--content-style.css.map */
