/* fixes spacing between tabs and the title content above */
.component-tabs {
  padding-top: 0;
}

/* fixes weird breakpoint issue where tab content breaks to two lines */
.component-tabs__nav {
	white-space: pre;
}

/* fixes tabs being spaced over to the right out of alignment */
@media (max-width: 767px) {
	.component-tabs__nav {
		padding: 0 calc((1 / 12) * 100%);
  }
}

.component-tabs__nav { -ms-overflow-style: none; display: flex; height: calc((0.85714rem * 1.66) + (0.14286rem + 0.28571rem)); margin: 0; overflow-x: scroll; padding: 0; position: relative; scrollbar-width: none; white-space: pre; }

.component-tabs__nav::-webkit-scrollbar { display: none; }

@media (min-width: 768px) { .component-tabs__nav { height: calc((1rem * 1.43) + (0.14286rem + 0.57143rem)); } }

@media (min-width: 1024px) { .component-tabs__nav { height: calc((1.14286rem * 1.5) + (0.14286rem + 0.57143rem)); } }