/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines both styles and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = base The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Base link button styles Common styles for all link button types @include link-btn(); */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-content { padding-top: 1.14286rem; }

@media (min-width: 768px) { .component-content { padding-top: 2.57143rem; } }

.component-content .media { margin: 0; }

.component-content .component-content__title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; line-height: 1.33; }

.component-content .component-content__content { margin-top: 1.14286rem; }

.component-content .component-content__content p:only-of-type { margin-top: 0; }

.component-content .component-content__footer { margin-top: 1.14286rem; }

@media (min-width: 768px) { .component-content .component-content__footer { margin-top: 2.28571rem; } }

.component-content .component-content__footer-cta { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #008CFF; transition: font-size 300ms ease-in-out; font-weight: 500; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; display: inline-block; }

.component-content .component-content__footer-cta:hover, .component-content .component-content__footer-cta:active, .component-content .component-content__footer-cta:focus { font-style: normal; text-decoration: none; }

.component-content .component-content__footer-cta::before, .component-content .component-content__footer-cta::after { line-height: 1; vertical-align: -0.2376em; }

.component-content .component-content__footer-cta:empty::before, .component-content .component-content__footer-cta:empty::after { display: block; margin: 0; vertical-align: inherit; }

.component-content .component-content__footer-cta.btn--disabled { color: rgba(65, 75, 80, 0.4); pointer-events: none; background-color: #DDE0E2; }

.component-content .component-content__footer-cta, .component-content .component-content__footer-cta:hover, .component-content .component-content__footer-cta:active, .component-content .component-content__footer-cta:focus { color: #FFFFFF; }

.component-content .component-content__footer-cta:hover { background-color: #006bd0; }

.component-content .component-content__footer-cta:active { background-color: #0050A9; }

.component-content .component-content__footer-cta:visited { color: #FFFFFF; }

.component-content .component-content__footer-cta::before, .component-content .component-content__footer-cta::after { font-size: 1.42857rem; }

.component-content .component-content__footer-cta:empty { padding: 0.57143rem; }

.component-content .component-content__footer-cta:empty::before, .component-content .component-content__footer-cta:empty::after { font-size: 1.71429rem; }

@media (min-width: 768px) { .component-content--fancy { display: flex; } }

@media (min-width: 768px) { .component-content--fancy .media--type-image { flex: 1 1 50%; } }

.component-content--fancy .media--type-image img { height: 100%; -o-object-fit: cover; object-fit: cover; vertical-align: bottom; }

.component-content--fancy .content-wrapper { align-items: center; background-color: #F2F2F2; display: flex; flex: 1 1 calc(50% + 1.14286rem); flex-direction: column; justify-content: center; padding: 1.14286rem 8.33333%; }

.component-content--fancy .component-content__title { text-align: center; width: 8.57143rem; }

.component-content--fancy .component-content__title::after { background-color: #F99222; content: ''; display: block; height: 0.28571rem; margin-top: 0.85714rem; }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--content.css.map */
