.component-hero .component-hero__content figure { margin: 0; padding: 0; }
.component-hero .component-hero-slide__title h1 { color: #FFF; }

/* Hero search overrides */
.component-hero.hero--with-search {
  overflow: visible;
}

.component-hero.hero--with-search .hero-search {
  background: transparent;
  left: 0;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 0;
  visibility: visible;
  z-index: 24;
  width: 100%;
}

.component-hero.hero--with-search .hero-search .hero-search__field {
  transform: translateX(0);
}

.component-hero.hero--with-search .hero-search .global-search__search-box {
  display: block;
  flex: 0 0 auto;
  width: inherit;
}

.component-hero.hero--with-search .hero-search .hero-search__field input[type=text] {
  margin: 0;
  top: 0;
}

.component-hero.hero--with-search .hero-search .hero-search__field input[type=text]:not(:placeholder-shown) {
  background-color: #ffffff;
}

.component-hero.hero--with-search .hero-search .input-field-wrapper .icon-close {
  background-color: #ffffff;
  right: 0.85rem;
}

.component-hero.hero--with-search .hero-search .button.global-search__button-hero {
  margin-top: 0;
  top: 0;
}

.component-hero.hero--with-search .hero-search .input-field-wrapper,
.component-hero.hero--with-search .hero-search .ur-text-input-new {
  width: 100%;
}

.component-hero.hero--with-search .hero-search .icon,
.component-hero.hero--with-search .hero-search .ur-text-input-new .input-field-wrapper {
  height: inherit;
}

.component-hero.hero--with-search .hero-search .hero-search__location,
.component-hero.hero--with-search .hero-search .hero-search__field .global-search__field {
  margin: 0;
}

.component-hero.hero--with-search .hero-search .button.global-search__button-hero {
  margin-bottom: 0.5rem;
}

.component-hero.hero--with-search .hero-search .ur-text-input-new .input-field-wrapper .icon {
  left: 1rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.component-hero.hero--with-search .hero-search .ur-text-input-new .input-field-wrapper .icon::before {
  border: 0 none;
  height: inherit;
  margin-top: 0;
  padding: 0;
  position: relative;
}

.component-hero.hero--with-search .hero-search .hero-search__field .global-search__field.global-search__search-box .ur-text-input-new .input-field-wrapper::after {
  background-color: #DDE0E2;
  bottom: 0.35em;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0.35em;
  width: 1px;
  z-index: 1;
}

.component-hero.hero--with-search .hero-search #global-search__dropdown .suggestions {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,.25);
  margin-top: 0;
  padding-bottom: 1rem;
  top: 100%;
  width: 100%;
}

.component-hero.hero--with-search .hero-search .global-search__search-results .top-categories {
  padding: 0;
}

body.path-frontpage .icon-search {
  display: none;
}

/* mobile */
@media(max-width: 767px) {
  .component-hero.hero--with-search {
    margin-bottom: 8.5rem;
  }

  .component-hero.hero--with-search .hero-search {
    bottom: -50%;
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - ((8.33333% - 1.14286rem) * 2));
  }

  .component-hero.hero--with-search .hero-search .hero-search__search-box #global-search__dropdown input[type="text"] {
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }

  .component-hero.hero--with-search .hero-search .hero-search__search-box input[type="text"] {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 7px rgba(22,23,24,0.16);
  }

  .component-hero.hero--with-search .hero-search .global-search__search-box + div {
    display: block;
  }

  .component-hero.hero--with-search .hero-search .hero-search__field {
    flex-direction: column;
  }

  .component-hero.hero--with-search .hero-search .button.global-search__button-hero {
    border-radius: 4px;
    display: block;
    height: 2.85rem;
    margin-left: 0;
    position: static;
    width: 100%;
  }

  .component-hero.hero--with-search .hero-search .button.global-search__button-hero::before {
    display: none;
  }

  .component-hero.hero--with-search .hero-search .button--displayed-hero {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;
  }

  .component-hero.hero--with-search .hero-search #global-search__dropdown + div {
    width: 100%;
  }

  .component-hero.hero--with-search .hero-search .global-search__field.global-search__search-box + div {
    margin-top: 1.5rem;
  }

  .component-hero.hero--with-search .hero-search #global-search__dropdown .suggestions {
    top: calc(100% - 3px);
  }

  .component-hero.hero--with-search .hero-search .ur-text-input-new .input-field-wrapper {
    align-items: center;
    display: flex;
  }

  .component-hero.hero--with-search .hero-search .hero-search__field .global-search__field.global-search__search-box .ur-text-input-new .input-field-wrapper::after {
    display: none;
  }

  .component-hero.hero--with-search .hero-search .ur-text-input-new .input-field-wrapper .icon {
    top: 52%;
  }
}

/* Argo defined breakpoint for 50/50 search inputs */
@media(min-width: 768px) {
  .component-hero.hero--with-search .hero-search {
    max-width: calc(100% - ((8.33333% - 1.14286rem) * 2));
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }

  .component-hero.hero--with-search .hero-search .hero-search__field.hero-search__search-box {
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }

  .component-hero.hero--with-search .hero-search .hero-search__field input[type="text"] {
    border: none;
  }

  .component-hero.hero--with-search .hero-search #global-search__dropdown {
    flex: 0 0 50%;
  }

  .component-hero.hero--with-search .hero-search .global-search__field {
    flex: 0 0 50%;
  }

  .component-hero.hero--with-search .hero-search .global-search__search-results {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.25);
    margin-top: 0;
    padding-bottom: 1rem;
    top: 100%;
    width: calc(100% - 56px);
  }

  .component-hero.hero--with-search .hero-search .button.global-search__button-hero {
    height: 3.43rem;
    left: inherit;
    right: 0;
  }

  .component-hero.hero--with-search .hero-search .button--displayed-hero {
    display: none;
  }

  .component-hero.hero--with-search .hero-search .hero-search__search-box #global-search__dropdown input[type="text"] {
    box-shadow: -4px 2px 8px rgba(22,23,24,0.16);
  }

  .component-hero.hero--with-search .hero-search .hero-search__search-box input[type="text"] {
    border-radius: 0;
    box-shadow: 0px 2px 8px rgba(22,23,24,0.16);
    padding-right: 46px;
  }

  .component-hero.hero--with-search .hero-search > .hero-search__field {
    justify-content: center;
    width: 100%;
  }

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

    .component-hero.hero--with-search .hero-search .global-search__field .ur-text-input-new {
      padding-right: 56px;
    }

    .component-hero.hero--with-search .hero-search .global-search__field {
      padding: 0;
    }
  }
}

/* desktop */
@media(min-width: 1024px) {
  .component-hero.hero--with-search .hero-search .button.global-search__button-hero {
    height: 4rem;
  }

  .component-hero.hero--with-search .hero-search #global-search__dropdown {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .component-hero.hero--with-search .hero-search .global-search__field {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media(min-width: 1920px) {
  .component-hero.hero--with-search .hero-search .hero-search__field.hero-search__search-box {
    width: 66.66666%;
    margin-left: 16.66667%;
    margin-right: 16.66667%;
  }
}
