.component-dynamic-cta .form-select-wrapper { position: relative; }
.component-dynamic-cta .form-select-wrapper .form-select { background-color: #FFFFFF; border: 0.07143rem solid #DDE0E2; border-radius: 0.28571rem; box-shadow: none; color: #414B50; outline: 0 none; padding-top: 0.678rem; padding-bottom: 0.678rem; padding-left: 0.85714rem; padding-right: 2.5rem; transition: all 300ms ease-in-out; width: 100%; display: block; height: 100%; }
.component-dynamic-cta .cta-links .form-item__dropdown.select { display: block; height: 2.85714rem; width: 100%; }
