.component-promo-hero figure.media--type-image { margin: 0; padding: 0; position: static; }

/* Fixes margin too large between promo hero title and content */
.component-promo-hero__content {
	margin-top: 0;
}

/* Fixes margin too small between promo hero content and dropdown / dynamic cta */
.component-compartment__content .paragraph--type-dynamic-cta {
	margin-top: 1.5rem;
}
.component-promo-hero .media--type-image img { width: 100%; }