.component-featured-content--slider .component-featured-term__list { overflow: hidden; padding: 0; position: relative; width: calc(100vw - (8.33333% - 0.57143rem)); }

@media (min-width: 768px) { .component-featured-content--slider .component-featured-term__list { left: -0.57143rem; width: calc(100vw - (8.33333% - 1.14286rem)); } }

@media (min-width: 1024px) { .component-featured-content--slider .component-featured-term__list { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: inherit; width: inherit; left: -1.14286rem; overflow: visible; position: relative; } }
