/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Content Classy Paragraphs Layout Options: Full Width Image, 50/50 - Image/Media Left, 50/50 - Image/Media */
.component-content--layout-full-image.component-content--style-brand .component-content__title, .component-content--layout-full-image.component-content--style-brand .component-content__content p, .component-content--layout-full-image.component-content--style-brand .component-content__footer .component-content__footer-cta { color: #FFFFFF; }

.component-content--layout-full-image { display: flex; }

@media (min-width: 768px) { .component-content--layout-full-image { position: relative; } }

.component-content--layout-full-image::before { bottom: 0; left: 0; position: absolute; right: 0; top: 0; background: rgba(22, 23, 24, 0.65); content: ''; z-index: 1; }

@media (min-width: 768px) { .component-content--layout-full-image::before { background: linear-gradient(90deg, #414B50, rgba(65, 75, 80, 0)); } }

@media (min-width: 768px) { .component-content--layout-full-image .content-wrapper { flex: 1 1 calc(50% + 1.14286rem); max-width: 50%; } }

.component-content--layout-full-image .media--type-image { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

.component-content--layout-full-image .media--type-image img { vertical-align: middle; width: 100%; }

.component-content--layout-50-50-left, .component-content--layout-50-50-right { display: flex; }

.component-content--layout-50-50-left::before, .component-content--layout-50-50-right::before { bottom: 0; left: 0; position: absolute; right: 0; top: 0; background: rgba(22, 23, 24, 0.65); content: ''; z-index: 1; }

@media (min-width: 768px) { .component-content--layout-50-50-left::before, .component-content--layout-50-50-right::before { display: none; } }

.component-content--layout-50-50-left .content-wrapper, .component-content--layout-50-50-right .content-wrapper { border: 0.14286rem solid transparent; }

@media (min-width: 768px) { .component-content--layout-50-50-left .content-wrapper, .component-content--layout-50-50-right .content-wrapper { border-color: #DDE0E2; flex-basis: 50%; max-width: 50%; } }

@media (min-width: 768px) { .component-content--layout-50-50-left > .media--type-image, .component-content--layout-50-50-left .component-content__video-wrapper, .component-content--layout-50-50-right > .media--type-image, .component-content--layout-50-50-right .component-content__video-wrapper { flex-basis: 50%; max-width: 50%; } }

@media screen and (-ms-high-contrast: active) and (min-width: 768px), screen and (-ms-high-contrast: none) and (min-width: 768px) { .component-content--layout-50-50-left > .media--type-image, .component-content--layout-50-50-right > .media--type-image { position: relative !important; } }

.component-content--layout-50-50-left .media--type-image, .component-content--layout-50-50-right .media--type-image { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

@media (min-width: 768px) { .component-content--layout-50-50-left .media--type-image, .component-content--layout-50-50-right .media--type-image { position: relative; } }

.component-content--layout-50-50-left .media--type-image img, .component-content--layout-50-50-right .media--type-image img { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

.component-content--layout-50-50-left .content-wrapper { border-radius: 0 0.57143rem 0.57143rem 0; }

@media (min-width: 768px) { .component-content--layout-50-50-left .content-wrapper { border-left: 0 none; } }

@media (min-width: 768px) { .component-content--layout-50-50-right { flex-direction: row-reverse; } }

.component-content--layout-50-50-right .content-wrapper { border-radius: 0.57143rem 0 0 0.57143rem; }

@media (min-width: 768px) { .component-content--layout-50-50-right .content-wrapper { border-right: 0 none; } }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--content-layout.css.map */
