@charset "UTF-8";
/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
.component-accordion-group .component-accordion-item__title::after { font-family: "themeIcons"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-style: normal; font-variant: normal; font-weight: normal; speak: none; text-decoration: none; text-transform: none; }

/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-accordion-group { padding: 2.28571rem 0; }

.component-accordion-group .component-accordion-item__title { border-top: 0.07143rem solid #DDE0E2; color: #414B50; cursor: pointer; font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif; padding: 1.42857rem 1.14286rem; position: relative; }

.component-accordion-group .component-accordion-item__title::after { content: ""; font-size: 1.71429rem; margin-left: 0.28571em; color: #F99222; float: right; transition: all 300ms ease-in-out; }

.component-accordion-group .component-accordion-item__title:focus, .component-accordion-group .component-accordion-item__title:hover { color: #008CFF; }

.component-accordion-group .component-accordion-item__title span { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; line-height: 1.33; position: relative; z-index: 1; }

@media (min-width: 1440px) { .component-accordion-group .component-accordion-item__title span { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; } }

.component-accordion-group .component-accordion-item__content { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); -webkit-animation-direction: alternate; animation-direction: alternate; -webkit-animation-duration: 600ms; animation-duration: 600ms; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; background-color: #F2F2F2; font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif; overflow: hidden; padding: 1.14286rem; }

.component-accordion-group .component-accordion-item__content:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

@media (min-width: 768px) { .component-accordion-group .component-accordion-item__content { padding: 1.71429rem 2.28571rem; } }

@media (min-width: 1440px) { .component-accordion-group .component-accordion-item__content { padding: 2.28571rem 3.42857rem; } }

.component-accordion-group .component-accordion-item__content .field--name-field-copy { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

@media (min-width: 1440px) { .component-accordion-group .component-accordion-item__content .field--name-field-copy { max-width: 125ch; } }

@media (min-width: 768px) { .component-accordion-group .component-accordion-item__content .field--name-field-copy { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; } }

.component-accordion-group .component-accordion-item__content .field--name-field-copy > p:first-of-type { margin-top: 0; }

.component-accordion-group .component-accordion-item--open > .component-accordion-item__title::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--accordion-group.css.map */
