.component-content .media { overflow: hidden; }

.component-content--style-brand a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; }

.component-content--style-brand a:hover, .component-content--style-brand a:active, .component-content--style-brand a:focus { font-style: normal; text-decoration: none; }

.component-content--style-brand a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-content--style-brand a::before, .component-content--style-brand a::after { line-height: 1; vertical-align: -0.2376em; }

.component-content--style-brand a:empty::before, .component-content--style-brand a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.component-content--style-brand a:hover { color: #008CFF; }

.component-content--style-brand a:active { color: #002F55; }

.component-content--style-brand a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.component-content--style-brand a[disabled], .component-content--style-brand a.link-btn--disabled { color: #72777E; pointer-events: none; }

.component-content--style-brand a[disabled]::before, .component-content--style-brand a[disabled]::after, .component-content--style-brand a.link-btn--disabled::before, .component-content--style-brand a.link-btn--disabled::after { color: #DDE0E2; }

.component-content--style-brand a:empty { padding: 0.57143rem; }

.component-content--style-brand a:empty::before, .component-content--style-brand a:empty::after { font-size: 1.71429rem; }
