.decision-box {
  width: 125px;
  margin: 20px 15px 10px 0;
  background: $color-white;
  border: $border-grey;
  border-radius: 2px;
  padding: 0 0 5px 10px;



  .pick-up-decision & {

    .subheading__paragraph {
      margin: 0 15px 10px 0;
    }
  }

  .pick-up-time & {
    height: 125px;
    position: relative;

    .pricing__paragraph {
      position: absolute;
      bottom: 0;
    }
  }

  .heading-6 {
    color: $color-blue;
    margin: 10px 0 5px 0;
  }

  .subheading__paragraph {
    font-size: $font-size-xsmall;
    margin: 0 15px 20px 0;
    color: $color-grey-38;

    &.ui--orange {
      color: $color-orange;
    }
  }

  .pricing__paragraph {
    margin: 0 0 7px 0;
    color: $color-grey-38;
  }
}