<div class="decision-box">
  {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
    with {
      heading_6: heading_6
    }
  %}

  {% if paragraph_content %}
  {% include '@atoms/02-text/text/01-paragraph.twig'
    with {
      paragraph_content: paragraph_content,
      paragraph_blockname: 'subheading'
    }
  %}
  {% endif %}

  {% include '@atoms/02-text/text/01-paragraph.twig'
    with {
      paragraph_content: pricing_paragraph_content,
      paragraph_blockname: 'pricing'
    }
  %}
</div>