/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.component-cards-wrapper { margin-left: -0.28571rem; }

.component-cards-wrapper .component-cards-wrapper__list { left: calc(-50vw + 50%); max-width: none; position: relative; width: 100%; width: 100vw; display: block; margin: 0; padding: 0; left: calc((-50vw + 50%) + 1rem); overflow: visible; }

@media (min-width: 768px) { .component-cards-wrapper .component-cards-wrapper__list { left: calc((-50vw + 50%) + (8.33333% - 0.57143rem)); } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: relative; width: inherit; } }

.component-cards-wrapper .component-cards-wrapper__list .slick-list { overflow: visible; padding-left: 0.28571rem; padding-right: 2rem; }

@media (min-width: 768px) { .component-cards-wrapper .component-cards-wrapper__list .slick-list { padding-right: calc((100% / 12) + 1.14286rem); } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list .slick-list { padding-right: 0; } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list::before, .component-cards-wrapper .component-cards-wrapper__list::after { background-color: #FFFFFF; bottom: -5%; content: ''; position: absolute; top: -5%; width: calc((100% / 12) + 1.14286rem); z-index: 1; } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list::before { right: 100%; } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list::after { left: 100%; } }

.component-cards-wrapper .component-cards-wrapper__list .slick-slide { margin: 0 0.57143rem 0 0; }

@media (min-width: 768px) { .component-cards-wrapper .component-cards-wrapper__list .slick-slide { margin: 0 1.14286rem 0 0; } }

@media (min-width: 1024px) { .component-cards-wrapper .component-cards-wrapper__list .slick-slide:not(.slick-active) > article > a { box-shadow: none; } }

.component-cards-wrapper .component-cards-wrapper__list:not(.slick-initialized) .component-cards-wrapper__list-item { display: none; }

.component-cards-wrapper .component-cards-wrapper__list:not(.slick-initialized) .component-cards-wrapper__list-item:first-child { display: block; }

.component-cards-wrapper .component-cards-wrapper__list .slick-slide .media { height: 100%; margin-bottom: 0; margin-top: 0; max-width: 100vw; position: relative; }

.component-cards-wrapper .component-cards-wrapper__list .slick-slide .media img, .component-cards-wrapper .component-cards-wrapper__list .slick-slide .media video { display: block; height: 100%; max-width: 100%; -o-object-fit: cover; object-fit: cover; width: 100%; }

/*# sourceMappingURL=../../maps/libraries/paragraph/full--featured-term--layout-slider.css.map */
