.tc-block {
    background-color: #008CFF;
    color: #ffffff;
    min-height: 50px;
    padding: 8px;
}

.tc-block p {
    font-size: 16px;
}

.tc-block p:last-child {
    margin-top: 8px;
}

@media screen and (min-width: 768px) {
    .tc-block {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .tc-block p:first-child {
        flex-basis: 50%;
        padding: 0 0.5%;
    }

    .tc-block p:last-child {
        margin: 0;
        flex-basis: 20%;
    }
}