<template>
  <div :class="{'is-open': isOpen, 'shimmer': estimateLoading}" ref="stickyHead">

    <div class="totals-mobile" @click="toggleOpen">
      <span class="title">{{ $i18n('cart.estimatedCost') }}<span class="quantity">({{ count }} item)</span></span>
      <span class="total">{{ estimatedCost | decimalCurrency }}</span>
      <i class="icon icon-angle-down"></i>
    </div>

    <div class="line-item-container" :style="{'max-height': openHeight + 'px'}">
      <p v-if="voucherStatus" class="line-item">
        <span>{{ $i18n('checkout.promotionCode.discount') }}</span>
        <span>{{ voucherPercentOff }}%</span>
      </p>
      <p v-for="(item, catClass) in items" :key="catClass" class="line-item">
        <span>{{item.quantity}} {{equipment[catClass] && equipment[catClass].title | ellipses(29)}}</span>
        <span>{{itemAmt(item, catClass) | decimalCurrency}}</span>
      </p>

      <template v-if="block.delivery">
        <p class="line-item">
        <span>
          {{ $i18n('checkout.urDelivery') }}
          <ur-tooltip trigger="click hover focus" message="cart.deliveryTooltip" v-if="showDeliveryFeeTooltip" />
        </span>
        <span>{{ deliveryFee | decimalCurrency }}</span>
        </p>
      </template>
      <template v-if="block.pickup">
        <p class="line-item">
          <span>{{ $i18n('checkout.urPickup') }}</span>
          <span>{{ pickupFee | decimalCurrency }}</span>
        </p>
      </template>

      <p class="line-item" v-if="environmentalFee">
        <span>
          {{ $i18n('cart.envamt') }}
          <ur-tooltip trigger="click hover focus" :message="medium || small ? 'cart.environmentalTooltipSmall' : 'cart.environmentalTooltip'" />
        </span>
        <span>{{ environmentalFee | decimalCurrency }}</span>
      </p>

      <p class="line-item" v-if="isEndOfCheckoutFlow">
        <span>{{ $i18n('cart.tax') }}</span>
        <span>{{ tax | decimalCurrency }}</span>
      </p>

      <p class="line-item" v-if="damageWaiverFee">
        <span>
          {{ $i18n('cart.dwamt') }}
          <ur-tooltip trigger="click hover focus" message="cart.rppDisclaimer" />
        </span>
        <span>{{ damageWaiverFee | decimalCurrency }}</span>
      </p>

      <p class="line-item" v-if="authAmount" style="border-bottom: none;">
        <span>
          {{ $i18n('cart.authAmount') }}
          <ur-tooltip trigger="click hover focus" message="cart.authAmountTooltip" />
        </span>
        <span>{{ authAmount | decimalCurrency }}</span>
      </p>
      <p class="line-item" v-if="miscCharges">
        <span>
          {{ $i18n('cart.miscamt') }}
          <ur-tooltip trigger="click hover focus" :message="medium || small ? 'cart.miscTooltipSmall' : 'cart.miscTooltip'" />
        </span>
        <span>{{ miscCharges | decimalCurrency }}</span>
      </p>
    </div>

    <div class="totals">
      <span class="title">{{ $i18n('cart.estimatedCost') }}</span>
      <span class="total">{{estimatedCost | decimalCurrency}}</span>
    </div>

    <div style="padding: 0 1rem;">
      <p class="fs-small">
        <template v-if="!userIsLoggedIn">
          {{ $i18n('cart.notSeeingSavedInfo') }}
          <a href="/saml_login" data-tracking="sign-in" data-tracking-description="Cart Cost Summary Sign-in Link">{{ $i18n('logIn.signIn') }}</a>
          <br/>
          <br/>
          <br/>
        </template>
        <template v-else>&nbsp;</template>
      </p>
    </div>

  </div>
</template>

<script type="text/babel">
  /* eslint-disable camelcase */
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import UrTooltip from '@/components/common/ur-tooltip.vue';
  import { Progress } from '@/lib/cart';
  import { get, isEmpty } from 'lodash';
  import * as Stickyfill from 'stickyfilljs'; // allow 'sticky' class to function in IE11

  export default {
    components: {
      UrTooltip,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
      ]),
      ...mapGetters({
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        authAmount(state) {
          // Accounts w/o a Credit Limit must use a CC. We default to "zero" for Guests and New Users
          // who do not yet have an Account.  (I.e., these users must checkout with their own credit card.)
          const isCheckingOutWithCreditCard = get(state.accounts.all, [this.block.accountId, 'creditLimit'], 0) === 0;

          if (!isCheckingOutWithCreditCard) {
            return null;
          }

          return get(this.totals, ['authAmount'], 0);
        },
        equipment: state => state.catalog.equipment,
        estimate() {
          return this.$store.getters[types.checkout.getEstimate](this.block.id);
        },
        estimateLoading() {
          return Object.keys(this.estimate).length === 0;
        },
        items() {
          return this.estimate.items || {};
        },
        totals() {
          return this.estimate.totals || {};
        },
        totalRentalAmount() {
          return get(this.totals, ['totalRentalAmount'], 0);
        },
        costOverride() {
          return this.estimate.costOverride || {};
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),

      isEndOfCheckoutFlow() {
        const { pickupDelivery } = this.progress;
        const { COMPLETE, SUMMARY } = Progress;
        return pickupDelivery === COMPLETE || pickupDelivery === SUMMARY || isEmpty(this.progress);
      },

      // The sum of all rental amounts, basic fees, and (potentially) special fees
      estimatedCost() {
        const {
          damageWaiverFee, tax, environmentFee, deliveryFee, pickupFee, miscellaneousFees,
        } = this.totals;

        const basicFees = [deliveryFee, pickupFee, environmentFee, miscellaneousFees].reduce(add, 0);
        const specialFees = [damageWaiverFee, tax].reduce(add, 0);

        return this.totalRentalAmount + basicFees + (this.isEndOfCheckoutFlow ? specialFees : 0);
      },

      // RPP fee
      damageWaiverFee() {
        return get(this.totals, ['damageWaiverFee'], 0);
      },

      // UR delivery fee
      deliveryFee() {
        return get(this.totals, ['deliveryFee'], 0);
      },

      showDeliveryFeeTooltip() {
        if (this.deliveryFeeHasDiscount) {
          return this.deliveryFee - this.deliveryFeeDiscountAmount > 0;
        }
        return this.deliveryFee > 0;
      },

      // Environmental fee
      environmentalFee() {
        return get(this.totals, ['environmentFee'], 0);
      },

      // UR Pickup fee
      pickupFee() {
        return get(this.totals, ['pickupFee'], 0);
      },

      // Canadian or US tax amount
      tax() {
        return get(this.totals, ['tax'], 0);
      },

      // Miscellaneous charges
      miscCharges() {
        return get(this.totals, ['miscellaneousFees'], 0);
      },

      // Sum of all quantities for this reservation block
      count() {
        return Object.values(this.items).reduce((count, item) => count + Number(item.quantity), 0);
      },
      voucherStatus() {
        return get(this.estimate, ['voucher', 'status'], false);
      },
      voucherPercentOff() {
        return get(this.estimate, ['voucher', 'discount', 'percent_off'], 0);
      },
      promoCodeTooltip() {
        return `Voucher code <strong>${this.promotionCode}</strong> has been applied for <strong>${this.promotionCodeValue}</strong> Off`;
      },

      promotionCode() {
        return this.block.promotionCode;
      },
    },
    data() {
      return {
        isOpen: false,
        openHeight: 0,
      };
    },
    methods: {
      ...mapActions({
        updateCheckoutType: types.checkout.type,
      }),
      initStickyPolyfill() {
        if (!this.$refs.stickyHead) {
          return;
        }

        Stickyfill.add(this.$refs.stickyHead);
      },
      toggleOpen() {
        this.isOpen = !this.isOpen;
        if (this.isOpen) {
          const lineItems = Object.keys(this.items).concat(['delivery', 'pickup', 'environment', 'rpp', 'tax']);
          const extraHeight = 25;
          this.openHeight = lineItems.reduce(openHeight => openHeight + 41, 0) + extraHeight;
        }
        else {
          this.openHeight = 0;
        }
      },
      itemAmt(item, catClass) {
        if (this.voucherData) {
          const voucherItems = this.voucherData.voucherOrgAmts.orgitemamt;
          return (Object.keys(voucherItems).length > 0 && voucherItems[catClass])
            ? voucherItems[catClass].orgRentAmt
            : item.total;
        }

        return item.total;
      },
    },
    mounted() {
      this.initStickyPolyfill();
      this.$emit('init');
    },
    name: 'CostSummary',
    props: {
      block: {
        type: Object,
        required: true,
      },
      // Like the progress steps, this component receives the full block progress object
      progress: {
        type: Object,
        required: false,
        default: () => ({}),
      },
    },
  };
  const add = (sum, addend) => sum + Number(addend);
</script>
