<template>
  <div class="cart__jobsite-detail-block" :class="progress">
    <div class="cart__jobsite-raw-blocks">
      <div class="cart__item-inner">
        <span class="cart__jobsite-block-title">{{ $i18n('ur.jobsite') }}</span>
      </div>
      <div class="cart__item-inner" v-if="ready">
        <a @click="gotoActive" class="add-preferences">{{ $i18n('cart.addAJobsiteAddressAndContact') }}</a>
      </div>
      <transition-group mode="out-in" name="tbSlideFadeNoTranslate" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <div class="cart__item-container" key="sum" v-if="((summary) || complete) && ((jobsite && jobsite.address1) || (jobsiteForm && jobsiteForm.address1))">
          <div class="cart__item-inner">
            <label class="cart__jobsite-name">{{jobsite.name || jobsiteForm.name || ''}}</label>
            <span class="cart__jobsite-address">{{jobsite.address1 || jobsiteForm.address1 || ''}} 
                {{jobsite.address2 || jobsiteForm && jobsiteForm.address2 || ''}}<br/>
                {{jobsite.city || jobsiteForm.city || ''}}, {{jobsite.state || jobsiteForm.state || ''}} {{jobsite.zip || jobsiteForm.zip || ''}}</span>
          </div>
          <div class="cart__item-inner">
            <label class="cart__jobsite-contact">{{ $i18n('ur.jobsiteContact') }}</label>
            <span class="cart__jobsite-contact-detail">
              {{jobsite.contact || jobsiteForm.contact || ''}}<br/>{{jobsite.mobilePhone || jobsiteForm.mobilePhone | phoneNumber}}<br/>{{jobsite.email ? jobsite.email : jobsiteForm.email ? jobsiteForm.email : ''}}
            </span>
          </div>

          <a v-if="summary" class="cart-block__edit-link" @click.prevent="onClickEdit">
            <span v-if="formIsActiveInAnotherReservation" v-tooltip="formActiveTooltip()">{{ $i18n('ur.edit') }}</span>
            <span v-else>{{ $i18n('ur.edit') }}</span>
          </a>
        </div>

        <div key="act" v-if="active">
          <div class="jobsite-active">
            <create-jobsite-form
              :errors="errors"
              v-if="userWillCreateJobsite"
              ref="createJobsiteForm"
              @is-invalid="onCreateJobsiteFormValidity"
              :block-id="blockId"
            />

            <edit-jobsite-form
              v-else
              @editAccount="setAccount"
              @editJobsite="setJobsite"
              :block-id="blockId"
              :account-id="newAccountId || accountId"
              :jobsite-id="newJobsiteId || jobsite.id"
              :errors="errors"
              ref="editJobsiteForm"
              :jobsite="jobsite"
            />

            <ur-error-label :message="errorMessage"></ur-error-label>

            <div class="button-group">
              <ur-loading-spinner v-if="requestsAreInFlight" :styles="requestSpinnerStyles"/>
              <button
                class="save btn btn-style--primary btn-size--regular"
                :class="{'btn--disabled': requestsAreInFlight}"
                :disabled="requestsAreInFlight"
                @click="save">
                {{ $i18n('cart.saveAndContinue') }}
              </button>
              <button
                class="save btn btn-style--secondary btn-size--regular"
                v-if="!cannotCheckout && !userWillCreateJobsite && jobsite.id"
                @click="cancel()" >
                {{ $i18n('ur.cancel') }}
              </button>
            </div>

          </div>

        </div>
      </transition-group>

    </div>
  </div>
</template>
<style lang="scss" scoped>
  @import 'styles/globals';
  .jobsite-active > .button-group > button:first-of-type {
    margin-right: rem(15);
  }

  .button-group {
    .btn-style--primary {
      @include btn-style(primary);
    }

    .btn-style--secondary {
      @include btn-style(secondary);
    }
  }
</style>
<script type="text/babel">
  import CreateJobsiteForm from '@/components/jobsite/create-jobsite-form.vue';
  import EditJobsiteForm from './jobsite/edit-jobsite-form';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import ProgressMixin from '@/components/cart/reservation-block/progress-mixin';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import UrGtm from '@/mixins/ur-gtm';

  import { mapActions, mapState, mapGetters } from 'vuex';
  import { autocomplete } from '@/utils/';
  import api from '@/api';
  import { isEmpty, get } from 'lodash';
  import Vue from 'vue';

  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';

  export default {
    components: {
      UrLoadingSpinner,
      CreateJobsiteForm,
      EditJobsiteForm,
      UrErrorLabel,
    },
    computed: {
      ...mapGetters({
        userHasNoAccount: types.accounts.noAccounts,
        getJobsiteCountOnAccount: types.jobs.getJobsiteCountOnAccount,
        progressCountsForAllReservations: types.checkout.progressCounts,
      }),
      ...mapState({
        createdJobsiteIds: state => state.jobs.created,
        cartItems: state => state.cart.items,
        editJobsiteFormIsInvalid: state => state.jobs.formError,
        jobsiteFormFetch: state => state.jobs.form,
        /**
         * Drives the display of either the Add Jobsite Form or Create Jobsite Form.
         * The Create Jobsite Form is only displayed when the user doesn't have an account
         * (Note: users that have Jobsites can still Create Jobsites, but this gets done in a Modal!)
         *
         * @param {object} state (vuex)
         * @return {boolean} | true if there are no jobsites on the account (or no account), otherwise false
         */
        userWillCreateJobsite() {
          return this.userHasNoAccount || this.userHasAccountButNoJobsites;
        },
      }),

      blockIdString(){
        return this.blockId || 'anon'
      },

      formIsActiveInAnotherReservation() {
        return this.progressCountsForAllReservations.jobsite.active > 0;
      },

      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getBranchData,
          FlightToken.getNearbyBranchData,
          FlightToken.fetchChargeEstimates,
        );
      },

      userHasAccountButNoJobsites() {
        return !this.userHasNoAccount && this.getJobsiteCountOnAccount(this.accountId) === 0;
      },
    },
    data() {
      return {
        errors: [],
        // These values may be updated by the Edit Jobsite Form.
        // If they change, they get persisted when the user save()'s
        newAccountId: null,
        newJobsiteId: null,
        saving: false,
        createJobsiteFormIsInvalid: false,
        errorMessage: '',
        requestSpinnerStyles: {
          'font-size': '1.5rem',
          margin: '0 0 0 -25px',
        },
        jobsiteForm: {}
      };
    },
    methods: {
      ...mapActions({
        createJobsite: types.jobs.addJobsite, // POSTs to api/v1/accounts then api/v1/jobsites
        fetchAccount: types.accounts.fetch,
        updateReservationBlock: types.cart.updateItemsByReservationId,
        resetJobsiteForm: types.jobs.resetForm,
        saveUpdatesToJobsite: types.jobs.saveForm, // PUTs (doesn't POST) to api/v1/jobsites
        getClosestBranch: types.jobs.setClosestBranchToJobsite,
      }),

      // tell the parent the component form has transitioned, either into an active state or not
      afterTransitionLeave() {
        this.$emit('closed-animation', {});
      },

      leaveTransition() {
        this.$emit('closing-animation', {});
      },
      enterTransition() {
        this.$emit('opening-animation', {
          isActive: this.active,
          elToScrollTo: this.$refs.createJobsiteForm || this.$refs.editJobsiteForm,
        });
      },
      afterTransitionEnter() {
        this.$emit('opened-animation', {});
      },

      setJobsite(newId) {
        this.newJobsiteId = newId;
        this.$nextTick(() => {
          if (typeof this.jobsiteForm === 'undefined'){
            this.jobsiteForm = this.jobsite;
          } else if (this.jobsiteFormFetch[this.blockIdString]) {
            this.jobsiteForm = this.jobsiteFormFetch[this.blockIdString] || {};
          }
        })
      },

      setAccount(newAccId) {
        this.newAccountId = newAccId;
        this.newJobsiteId = '';
      },

      cancel() {
        this.errors = [];
        this.errorMessage = '';
        this.gotoSummary();
      },

      formActiveTooltip() {
        return {
          content: this.$i18n('checkout.editProhibited'),
          trigger: 'hover touch',
        };
      },

      handleError(error) {
        this.saving = false;

        this.gotoActive();

        try {
          this.errorMessage = JSON.parse(error.message.substring(error.message.lastIndexOf('response:') + 9).trim()).message;
        }
        catch (e) {
          this.errorMessage = this.$i18n('ur.formSubmissionError');
        }

        this.parseErrorParameters(this.errorMessage);
      },

      mustSaveEditsToExistingJobsite() {
        // Users who see the Create Jobsite form (those w/o any jobsites) must save their jobsite form
        if (isEmpty(this.jobsite)) {
          return true;
        }

        // Otherwise, users who see the Edit jobsite form (those w/a jobsite) might have to save their
        // form if they've altered the contact, email, or mobilePhone fields
        const fields = ['contact', 'email', 'mobilePhone', 'notes'];

        return fields.reduce((hasChanged, field) => {
          if (this.jobsite[field] !== this.jobsiteForm[field]) {
            hasChanged = true;
          }
          return hasChanged;
        }, false);
      },

      onClickEdit() {
        if (this.formIsActiveInAnotherReservation) {
          return;
        }
        this.gotoActive();
      },

      onCreateJobsiteFormValidity(formIsInvalid) {
        this.createJobsiteFormIsInvalid = formIsInvalid;
      },

      parseErrorMessage() {
        if (!this.errorMessage) {
          return;
        }

        const [prefix, errorString] = this.errorMessage.split(': ');

        if (!errorString) {
          return this.errorMessage;
        }

        const messageErrors = errorString.split(', ');
        const errors = messageErrors.filter(error => this.errors.includes(error));

        this.errorMessage = errors.length ? `${prefix}: ${errors.join(', ')}` : '';
      },

      parseErrorParameters(invalidParamsString) {
        this.errors.map((_, index) => Vue.delete(this.errors, index));
        invalidParamsString
          .slice('Invalid Parameters:'.length, invalidParamsString.length)
          .split(',')
          .map((error, index) => Vue.set(this.errors, index, error.trim()));
      },

      async getJobsiteBranch() {
        const { address1, city, state, zip } = this.jobsiteForm; // eslint-disable-line

        // Make three attempts to get the place, where each attempt becomes increasingly less specific
        const place = await autocomplete.getPlaceFromAddress(`${address1}, ${city}, ${state} ${zip}`)
          .catch(() => autocomplete.getPlaceFromAddress(`${city}, ${state} ${zip}`))
          .catch(() => autocomplete.getPlaceFromAddress(`${zip}`));
        if (!place || !place.geometry) return Promise.reject();

        const result = await api.branches.getNearbyBranch(place.geometry.location);
        return get(result, ['data', 'data', 0], '').branchId;
      },

      // Save changes
      async save() {
        // Validate the form (whichever one is onscreen)

        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }

        // If the form is valid, clear out the errors
        this.errors = [];

        // To save the jobsite, reference either the newly set
        // job/account id's or the pre-existing ones.
        const jobsiteId = this.newJobsiteId || this.jobsite.id;
        const accountId = this.newAccountId || this.accountId;
        const reservationBlockId = this.blockId;

        // Users who ARE logged in will want to save any changes
        // they make to DAL first before continuing
        if (this.userWillCreateJobsite) {
          this.jobsiteForm = this.jobsiteFormFetch[this.blockIdString];
          const field = Object.assign({}, this.jobsiteForm);
          delete field.notes;

          // Updates the cart w/o persisting to server
          this.updateReservationBlock({
            reservationBlockId,
            field,
          });
        } else {
          try {
            this.saving = true;
            await this.saveUpdatesToJobsite({ accountId, jobsiteId, reservationBlockId });

            if (this.newJobsiteId) {
              this.updateReservationBlock({
                reservationBlockId,
                field: { jobsiteId: this.newJobsiteId },
              });
            }
            if (this.newAccountId) {
              this.updateReservationBlock({
                reservationBlockId,
                field: { accountId: this.newAccountId },
              });
            }

            this.saving = false;
          }
          catch (error) {
            return this.handleError(error);
          }
        }

        // No matter what, we probably need to go get the closest branch
        // Get the closest branch to the jobsite
        if (this.userWillCreateJobsite) {
          this.jobsite.branchId = await this.getJobsiteBranch();
        }
        else {
          this.jobsite.branchId = await this.getClosestBranch({ accountId, jobsiteId });
        }

        this.updateReservationBlock({
          reservationBlockId,
          field: {
            branchId: this.jobsite.branchId,
            locationString: `${this.jobsiteForm.city}, ${this.jobsiteForm.state} ${this.jobsiteForm.zip}`,
          },
        });

        // Fire the google tracker for this checkout step
        this.gtmTrackFormSubmissions('reservation-jobsite', 'save-and-continue');

        // Goto the next step (visually)
        this.gotoSummary();
      },
    },

    mixins: [
      ProgressMixin,
      UrGtm,
    ],

    mounted() {
      // User's w/o an account should not get the jobsite form cleared.
      if (this.userHasNoAccount || this.getJobsiteCountOnAccount(this.accountId) === 1) {
        return;
      }

      this.$nextTick(() => {
        if (typeof this.jobsiteForm === 'undefined'){
          this.jobsiteForm = this.jobsite;
        } else {
          this.jobsiteForm = this.jobsiteFormFetch[this.blockIdString] || {};
        }
      })

      this.resetJobsiteForm();
    },

    name: 'jobsite',

    props: {
      jobsite: {
        type: Object,
        default: () => ({}),
      },
      accountId: {
        type: String,
      },
      blockId: {
        type: String,
        required: true,
      },
      cannotCheckout: {
        type: Boolean,
        required: false,
      },
      // the `progress` prop is passed in by the mixin
    },
    watch: {
      active(val) {
        if (!val) {
          return;
        }

        this.newAccountId = null;
        this.newJobsiteId = null;

        window.setTimeout(() => {
          if (this.$refs.createJobsiteForm) {
            this.$refs.createJobsiteForm.$el.getElementsByTagName('input')[0].focus();
          }

          if (this.$refs.editJobsiteForm) {
            this.$refs.editJobsiteForm.$el.getElementsByTagName('input')[0].focus();
          }
        }, 0);
      },
      errors() {
        this.parseErrorMessage();
      },
      createdJobsiteIds() {
        this.newJobsiteId = null;
      },
    },
  };
</script>
