<template>
  <div class="cart__login-block">
    <a href="/saml_login" class="button button--filled" data-tracking="sign-in" data-tracking-description="Cart Login Block: Sign In to Continue">{{ $i18n('ur.signInToContinue') }}</a>
  </div>
</template>
<script type="text/babel">
  export default {
    methods: {
      gotoGuest() {},
    },
    name: 'login',
  };
</script>
