<div class="featured-news-tile__wrapper">
  <a href="{{ featured_news_tile_link_path }}" target="_blank" class="featured-news-tile">
    <div class="featured-news-tile__image">
      {% block featured_news_tile_image %}
        <picture>
          <source media="all and (min-width: 1024px)" srcset="https://lorempixel.com/1920/600/city/3/Greater%20than%201000px/">
          <source media="all and (min-width: 640px)" srcset="https://lorempixel.com/1000/400/city/2/Between%20500px%20and%201000px/">
          <img src="https://lorempixel.com/400/200/city/1/Less%20than%20500px/" alt="">
        </picture>
      {% endblock %}
    </div>
    <div class="featured-news-tile__cover"></div>
    <div class="featured-news-tile__container">
      <p class="featured-news-tile__catagory">{{ featured_news_tile_catagory }}</p>
      <p class="featured-news-tile__headline">{{ featured_news_tile_headline }}</p>
      {% if featured_news_tile_link_label %}<p class="featured-news-tile__link-label">{{ featured_news_tile_link_label }}<i class="icon icon-long-arrow-left"></i></p>{% endif %}
    </div>
  </a>
</div>
