$featured-news-tile-base: featured-news-tile;

.#{$featured-news-tile-base} {
  width: 100%;
  color: $white;
  display: block;
  @include fill-container;

  &:hover {
    color: $white;
  }

  &__wrapper {
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-top: 64.99729%;

      @include breakpoint($break-small) {
        padding-top: 83.61255%;
      }
    }
  }

  &__image {
    @include fill-container;
    z-index: 0;

    img {
      @include object-fit;
    }
  }

  &__cover {
    @include fill-container;
    z-index: 1;
    background: rgba($black, 0.6);
  }

  &__container {
    @include fill-container;
    z-index: 2;
    padding: 8% 4%;

    @include breakpoint($break-small) {
      padding: 6%;
    }

    @include breakpoint($break-medium) {
      padding: 8% 5%;
    }
  }

  &__catagory {
    font-size: $font-size-small;
    line-height: 1.5;
    font-weight: bold;
    color: $color-orange;
    margin-bottom: 16px;

    @include breakpoint($break-small) {
      font-size: $font-size-h4;
      margin-bottom: 7px;
    }

    @include breakpoint($break-medium) {
      margin-bottom: 14px;
    }
  }

  &__headline {
    font-size: $font-size-base;
    line-height: 1.33333;
    font-weight: bold;
    color: $white;
    margin-bottom: 24px;

    @include breakpoint($break-small) {
      font-size: $font-size-h2;
      line-height: 1.0909;
      margin-bottom: 36px;
    }

    @include breakpoint($break-medium) {
      font-size: $font-size-h1;
      @include calcLineHeight(28, 32);
    }
  }

  &__link-label {
    font-size: $font-size-small;
    color: $white;
    margin-bottom: 0;

    @include breakpoint($break-small) {
      font-size: $font-size-h5;
    }

    .icon {
      transform: rotate(180deg);
      display: inline-block;
      color: $color-blue-highlight;
      font-size: $font-size-base;
      margin-left: 8px;
    }
  }
}
