$border: $color-grey-38;
$links: $color-blue;
$links--hover: $color-blue-highlight;

$header-text: $color-grey-69;
$secondary-nav-links: $color-blue;

.bg-color {
  &--blue-lowlight {
    background-color: $color-blue-lowlight;
  }
  &--blue-highlight {
    background-color: $color-blue-highlight;
  }
  &--blue {
    background-color: $color-blue;
  }
  &--blue-highlight {
    background-color: $color-blue-highlight;
  }

  &--grey-11 {
    background-color: $color-grey-11;
  }
}

.text-color {
  &--white {
    color: $white;
  }
  &--grey11 {
    color: $color-grey-11;
  }
  &--blue {
    color: $color-blue;
  }
  &--red {
    color: $color-bright-red;
  }
}
