<template>
  <li :id="menu + '-menu-item-1'" class="menu-item menu-item--depth-0 menu-item--has-children" :class="active ? 'show-dropdown' : ''" @click="() => active = !active">
    <button :aria-controls="menu + '-menu-item-1-panel'" aria-expanded="false" data-item-title="Expand section" title="Expand section" class="menu-item__button menu-item__button--text">
        <span class="menu-item__button-expand">Expand</span>
        <span class="menu-item__button-collapse">Collapse</span>
        <span class="menu-item__button-title menu-item__button-title--translation">{{ activeTitle }}</span>
    </button>
    <div :id="menu + '-menu-item-1-panel'" class="menu-item__panel menu-item__panel--depth-0">
        <ul class="menu menu--depth-1">
          <li v-for="(link, key) in links"
            :key="key"
            class="menu-item menu-item--depth-1"
            :class="{'menu-item--active': link.title === activeTitle}"
          >
            <a
              :href="getUrl(link)"
              class="menu-item__link menu-item__link--depth-1"
              @mousedown="gtmTrackMainNav('top', link.title)"
            >
              {{link.title}}
            </a>
          </li>
        </ul>
    </div>
  </li>
</template>
<script>
  import translation from '@/mixins/translation';
  import UrGtm from '@/mixins/ur-gtm';

  /**
   * Translation Menu for User
   *
   * To be used with the UR Admin module by setting the translation settings
   */
  export default {
    props: {
      menu: {
        type: String,
        default: 'menu',
      }
    },
    methods: {
      getUrl(link) {
        return link.url;
      },
    },
    mixins: [
      translation,
      UrGtm,
    ],
  };
</script>
