<template>
  <div v-if="swappedLinks.length"
    class="footer__language grid" id="gfLanguageSelector">
    <a :href="swappedLinks[0].url" class="footer__language--link">{{ swappedLinks[0].title }}</a>
    &nbsp; | &nbsp;
    <a :href="swappedLinks[1].url" class="footer__language--link">{{ swappedLinks[1].title }}</a>
  </div>
</template>
<script>
  import translation from '@/mixins/translation';

  export default {
    mixins: [
      translation,
    ],
  };
</script>
