{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('events', 'a1-layout', 'grid') }}>

  {{ title_suffix.contextual_links }}

    <div class="article__content">
      {{ ds_content }}
    </div>

</{{ ds_content_wrapper }}>
