// -----------------------------------------------------------------------------
// Base: Base
// Basic site styles
// -----------------------------------------------------------------------------

/**
 * Body font sizing and base
 */
@at-root {
  @viewport {
    width: device-width;
  }
}

html {
  font-size: $html-font-size;
}

body {
  color: $color-text;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $body-line-height;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  transition: font-size $transition-base-time $transition-base-style;
}

html,
body {
  height: 100%;
}

// Hides outer part of sliders and keeps the breakpoint widths from being incorrect
.page.layout-container {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

// This overrides the overflow on the cart page so the sticky on the header will work
.path-cart {
  .page.layout-container {
    overflow: visible;

    .reservation-blocks-container {
      .sidebar-container.sticky {
        top: 6rem;
      }
    }
  }
}

/**
 * Box sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic body styles
 */
body {
  background-color: $color-bg-light-primary;
}

// Setting vertical rhythm for all
.node--view-mode-full .node__content .paragraph-component:not(.component-hero-slide):not(.component-cards-wrapper):not(.paragraph--type-view-embed) {
  @include vertical-rhythm();
}

// Remove margin for immediate sibling
.node--view-mode-full .node__content .paragraph-component.component-cards-wrapper + .paragraph-component:not(.ca-component-compartment--6-col),
.component-featured-media--layout-divider + .component-pullquote {
  // !important is for removing default paragraph vertical rhythm
  margin-top: 0 !important; // sass-lint:disable-line no-important
}

// Clearing margin for nested items
.component-compartment:not(.ca-component-compartment--layout),
.component-promo-hero,
.component-content,
.ca-component-compartment--slider,
.component-accordion-group,
.component-cards-wrapper,
.component-hero--lead-generation-bar__wrapper,
.component-listing-wrapper,
.component-listing-item__content {
  .paragraph-component {
    // !important is for removing default paragraph vertical rhythm
    margin-top: 0 !important; // sass-lint:disable-line no-important
  }
}

// Clearing margin for nested items except siblings on mobile
.component-compartment.ca-component-compartment--layout,
.page-node-type-project-uptime-pages {
  .paragraph-component:first-child {
    // !important is for removing default paragraph vertical rhythm
    margin-top: 0 !important; // sass-lint:disable-line no-important
  }

  .paragraph-component {
    @include media('>=s') {
      // !important is for removing default paragraph vertical rhythm
      margin-top: 0 !important; // sass-lint:disable-line no-important
    }
  }
}

// On pages where there's only content paragraphs adjust the margin so it fits better with the page title
.node--view-mode-full .node__content > .paragraph-component.paragraph--type-content:not(.component-content--layout):first-child {
  // !important is for removing default paragraph vertical rhythm
  margin-top: rem($gap-d) !important; // sass-lint:disable-line no-important
}

// Clearing margin for first nested item
.component-tabs-tab {
  > .paragraph-component:first-child {
    // !important is for removing default paragraph vertical rhythm
    margin-top: 0 !important; // sass-lint:disable-line no-important
  }
}

// Clearing margin for special class
.node--view-mode-full .node__content .paragraph-component.component-no-vr {
  // !important is for removing default paragraph vertical rhythm
  margin-top: 0 !important; // sass-lint:disable-line no-important
}

.block-page-title-block {
  @include vertical-rhythm(
    $gap-small: rem($scale-5),
    $gap-large: rem($scale-10)
  );

  .page-title.jsa-title-center {
    @include media('>=s') {
      text-align: center;
    }
  }
}

.block-page-title-block__content {
  @include vertical-rhythm(
    $gap-small: rem($scale-5),
    $gap-large: rem($scale-10)
  );

  @include media('>=s') {
    @include type-container();
  }

  &:empty {
    display: none;
  }
}

::-moz-selection {
  background: $color-brand-secondary;
  color: $color-white;
}

::selection {
  background: $color-brand-secondary;
  color: $color-white;
}

main {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

figure {
  margin: 0;
  padding: 0;
}

// Add margin to system messages.
.messages {
  margin: 1em;
}

// Setting cursors for all aria-disabled elements
[aria-disabled='true'] {
  cursor: default;
}

[aria-disabled='false'] {
  cursor: pointer;
}

// Flex on the paragraph sections so optimize can reorder things
.region-content .node--view-mode-full > .node__content {
  display: flex;
  flex-direction: column;

  // Default for all
  // * numbers < default will move the section up
  // * numbers > default will move the section down
  // * number = default will defer to the DOM order
  > .paragraph-component {
    order: 99;
  }
}
