// -----------------------------------------------------------------------------
// Base: Local Tasks
// Positions and link styles for local task block
// -----------------------------------------------------------------------------

.block-system-breadcrumb-block__content {
  margin: 0;
  padding: rem($scale-4) 0;

  .breadcrumb {
    padding: 0;

    li {
      @include type-preset(30);
      @include icon(
        $filename: arrow-right,
        $size: $icon-size-xxsmall,
        $insert: before
      );

      color: $color-text-subtle;
      padding: 0 rem($scale-1) 0 0;
      text-transform: capitalize;

      &::before {
        display: inline-block;
        text-align: right;
        vertical-align: bottom;
      }

      a {
        @include link-base();
      }

      &:first-of-type {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

.block-system-breadcrumb-block__content:empty {
  display: none;
}

// Special rules
.path-location-entity .block-system-breadcrumb-block .breadcrumb li:nth-of-type(2) {
  text-transform: uppercase;
}
