// -----------------------------------------------------------------------------
// Base: Grid
// This file contains Grid application classes
// -----------------------------------------------------------------------------

.grid-overlay {
  @include grid-overlay();
}

.row {
  @include grid-parent($direction: row)
}

.row-reverse {
  @include grid-parent($direction: row-reverse)
}

.column {
  @include grid-parent($direction: column);
}

.column-reverse {
  @include grid-parent($direction: column-reverse);
}

.row--gutter-vertical,
.column--gutter-vertical {
  @include grid-gutters(
    $gutter-horizontal: false,
    $gutter-vertical: true
  );
}

.row--gutter-horizontal,
.column--gutter-horizontal {
  @include grid-gutters(
    $gutter-horizontal: true,
    $gutter-vertical: false
  );
}

.row--gutter-horizontal-vertical,
.column--gutter-horizontal-vertical {
  @include grid-gutters(
    $gutter-horizontal: true,
    $gutter-vertical: true
  );
}

