// -----------------------------------------------------------------------------
// Base: Inputs
// Themed inputs, buttons, and form item groups
// -----------------------------------------------------------------------------

// basic inputs
input,
textarea,
select,
input.webform-counter-warning,
input.form-text.webform-counter-warning,
textarea.webform-counter-warning,
textarea.form-textarea.webform-counter-warning {
  background-color: $color-input-bg;
  border: $border-width-light solid $color-utility-border;
  border-radius: $border-radius-med;
  box-shadow: none;
  color: $color-text;
  outline: 0 none;
  padding: rem($scale-2) rem($scale-3);
  transition: $transition-base;
  width: 100%;

  @include bs-ie {
    padding: rem($scale-2) + rem($scale-0) rem($scale-3);
  }

  // Chrome, Firefox, Opera, Safari 10.1+
  &::placeholder {
    color: $color-text-subtle;
    opacity: 1; /* Firefox */
  }

  // Internet Explorer 10-11
  &:-ms-input-placeholder {
    color: $color-text-subtle;
  }

  // Microsoft Edge
  &::-ms-input-placeholder {
    color: $color-text-subtle;
  }

  &:disabled {
    background-color: $color-input-bg-disabled;
    pointer-events: none;
  }
}

label {
  @include type-preset(
    $version: 30,
    $type: header
  );

  text-transform: capitalize;
}

label.form-required {
  &::after {
    display: none;
  }
}

// TODO: change to js or php based for translations
.form-type-textfield label:not(.form-required) {
  &::after {
    content: '(optional)';
    font-weight: $font-weight-regular;
    padding-left: 0.25em;
    text-transform: none;
  }
}

label + input {
  margin-top: rem($scale-2);
}

.form-item:not(.js-form-item),
.form-actions {
  margin: rem($scale-6) 0 0;

  @include media('>=s') {
    margin: rem($scale-8) 0 0;
  }
}

// input submit buttons
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include btn(
    $style: primary,
    $size: regular
  );
}

// Checkbox & Radio buttons
$marker-to-text-space: rem($scale-5);
$active-width: em($scale-4);
$active-gap: 6px; // the math likes px values

.form-checkboxes,
.form-radios {
  // sass-lint:disable-block property-units

  &.webform-options-display-side-by-side > .form-item {
    margin-right: rem($scale-8);
    margin-top: 0;
  }

  // item groups
  > .form-item {
    margin-top: rem($scale-3);

    &:first-of-type {
      margin-top: rem($scale-2);
    }
  }

  input {
    width: inherit;
  }

  // hide the default input box
  input[type='checkbox']:checked,
  input[type='checkbox']:not(:checked),
  input[type='radio']:checked,
  input[type='radio']:not(:checked) {
    left: -9999px;
    position: absolute;
  }

  // create a fake input box
  input[type='checkbox']:checked + label,
  input[type='checkbox']:not(:checked) + label,
  input[type='radio']:checked + label,
  input[type='radio']:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding-left: $marker-to-text-space;
    position: relative;
  }

  // fake input box base
  input[type='checkbox']:checked + label::before,
  input[type='checkbox']:not(:checked) + label::before,
  input[type='radio']:checked + label::before,
  input[type='radio']:not(:checked) + label::before {
    background: $color-input-bg;
    border: $border-width-light solid $color-utility-border;
    border-radius: $border-radius-small;
    content: '';
    height: $active-width;
    left: 0;
    position: absolute;
    top: -$border-width-light;
    transition: $transition-base;
    width: $active-width;
  }

  // fake input box active indicator
  input[type='checkbox']:checked + label::after,
  input[type='checkbox']:not(:checked) + label::after,
  input[type='radio']:checked + label::after,
  input[type='radio']:not(:checked) + label::after {
    left: $active-gap / 2;
    position: absolute;
    top: 0;
    transition: $transition-base;
  }

  // fake input box active indicator NOT checked
  input[type='checkbox']:not(:checked) + label::after,
  input[type='radio']:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
  }

  // fake input box active indicator checked
  input[type='checkbox']:checked + label::after,
  input[type='radio']:checked + label::after {
    opacity: 1;
    transform: scale(1);
    transform-origin: top;
  }

  // item description
  .description {
    margin-left: $marker-to-text-space;
  }
}

// Checkbox buttons
.form-checkboxes {
  input[type='checkbox']:checked + label::before {
    background-color: $color-brand-primary;
    border-color: $color-brand-primary;
  }

  input[type='checkbox']:checked + label::after {
    @include icon-styles;
    color: $color-text-reverse;
    content: icon-char(check);
    font-size: calc(#{$active-width} - #{$active-gap});
    transform: scale(1.5);
  }
}

// Radio buttons
.form-radios {

  // fake input box base
  input[type='radio']:checked + label::before,
  input[type='radio']:not(:checked) + label::before {
    border-radius: 100%;
  }

  // fake input box active indicator
  input[type='radio']:checked + label::after,
  input[type='radio']:not(:checked) + label::after {
    background-color: $color-brand-primary;
    border-radius: 100%;
    content: '';
    height: $active-width;
    left: 0;
    top: -$border-width-light;
    transform: scale(0.5);
    transform-origin: center;
    width: $active-width;
  }
}

// Select boxes
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

// this class is custom added through a template, preprocess, drupal, or js
.form-select-wrapper,
.js-form-type-select {
  .icon-wrapper {
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-xsmall,
      $insert: after) {
      color: $color-brand-primary;
      pointer-events: none;
      position: absolute;
      right: rem($scale-2);
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center;

      @include media('>=s') {
        right: rem($scale-3);
      }
    }

    position: relative;
  }

  .form-select {
    padding-right: rem($scale-3) + $icon-size-xsmall + rem($scale-3); // icon padding inside + icon + icon padding outside
  }
}
