// -----------------------------------------------------------------------------
// Base: Local Tasks
// Positions and link styles for local task block
// -----------------------------------------------------------------------------

.block-local-tasks-block {
  font-size: 0.75rem;
  padding: 0;
  z-index: 100;

  .block-local-tasks-block__content {
    ul {
      display: flex;
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 1rem 0;
    }

    li {
      border-right: 0.0625rem solid;
      margin: 0 1rem 0 0;
      padding: 0 1rem 0 0;

      &:last-of-type {
        border-right: 0 none;
        margin-right: 0;
        padding-right: 0;
      }

      a {
        @include link;
        background-color: transparent;
        line-height: 1;
        padding: 0;
        //padding: 0 1rem 0 0;

        @include on-event() {
          background-color: transparent;
        }

        &.is-active {
          background-color: transparent;
        }
      }
    }
  }
}
