// -----------------------------------------------------------------------------
// Base: Print
// Print site styles

// sass-lint:disable class-name-format no-important
// -----------------------------------------------------------------------------

/**
 * Hide all none content items
 */
@media print {
  .header,
  .region-header,
  .region-pre-content,
  .main-sidebar,
  .block-system-breadcrumb-block,
  .project-uptime-article__image,
  .project-uptime-article__breadcrumbs,
  .project-uptime-article__tags,
  .project-uptime-article__social-holder,
  .project-uptime-related-articles__wrapper,
  .project-uptime-article-popular__wrapper,
  #block-ur-release-block,
  #block-urcallusblock,
  #block-egainblock,
  .field--name-field-language,
  .field--name-field-category,
  .field--name-field-featured,
  .field--name-field-tags,
  .field--name-user,
  .field--name-node-author,
  .field--name-field-pillars,
  .block-social-sharing-block,
  .block-views-blockproject-uptime-related-articles,
  .media--image,
  .global-search,
  .mobile-menu__holder,
  .mobile-menu__cover,
  .egain-launch-va,
  footer,
  .messages,
  .node--type-project-uptime-pages .node__pills,
  .block-project-uptime-social-sharing,
  .jsa-block-wrap,
  #block-trendingarticles,
  .block-social-sharing-block,
  .jsa-block-social-sharing-block--reset,
  .social-media-sharing,
  .node--type-item .node__aside--first,
  .node--type-item .node__aside--second,
  .object_listing__actions--object-detail .object-listing__actions-sub,
  .icon,
  .sign-in-link-rates,
  .slick-arrow,
  .slick-slide:not(.slick-current),
  .egain-chat-wrapper,
  iframe {
    display: none;
  }

  .kampyleButtonContainer,
  .kampyle_button,
  .kampyle_vertical_button.kampyle_right.noOutline {
    display: none !important;
  }

  a {
    color: black; // sass-lint:disable-line no-color-keywords
  }

  // PROJECT UPTIME ARTICLES
  .node--type-project-uptime-pages {
    .paragraph-component {
      margin-top: 0 !important;
      padding-top: rem($gap-b) !important;
    }
  }

  // ITEM FULL VIEW
  .node--type-item .media--image {
    border: 0;
    display: block;
  }

  .node--type-item .object_listing__details__pricing { // sass-lint:disable-line bem-depth
    display: flex !important;
    flex-direction: row !important;

    .pricing-content {
      flex-grow: 0;
    }
  }
}
