// -----------------------------------------------------------------------------
// Base: Table
// This file contains default table styles
// -----------------------------------------------------------------------------

.component-content__content {
  table {
    width: 100%;

    a[href^='https'],
    a[href^='http'],
    a[href^='www'] {
      word-break: normal;
    }

    th,
    td {
      padding: rem($gap-c);
    }

    thead {
      background-color: $color-bg-dark-primary;
      color: $color-text-reverse;
    }

    tbody {
      tr {
        border-bottom: rem($scale-0) solid $color-utility-border;
      }

      tr:nth-child(odd) {
        background-color: $color-bg-light-secondary;
      }
    }
  }
}
