// -----------------------------------------------------------------------------
// Base: Typography
// Applies global typography variables and mixins to elements and classes
// -----------------------------------------------------------------------------

// Theme icons generate by SVGs
@font-face {
  font-display: auto;
  font-family: 'themeIcons';
  src: url('/themes/custom/urone/fonts/icons/themeIcons.eot');
  src: url('/themes/custom/urone/fonts/icons/themeIcons.ttf') format('truetype'),
  url('/themes/custom/urone/fonts/icons/themeIcons.eot?#iefix') format('eot'),
  url('/themes/custom/urone/fonts/icons/themeIcons.woff') format('woff');
}

// TODO: remove icomoon font
// Theme icons packaged by icomoon
@font-face {
  font-display: auto;
  font-family: '#{$icon-font-family}';
  font-style: normal;
  font-weight: normal;
  src: url('#{$icon-font-path}/#{$icon-font-family}.eot?l697v4');
  src: url('#{$icon-font-path}/#{$icon-font-family}.eot?l697v4#iefix') format('embedded-opentype'),
  url('#{$icon-font-path}/#{$icon-font-family}.ttf?l697v4') format('truetype'),
  url('#{$icon-font-path}/#{$icon-font-family}.woff?l697v4') format('woff'),
  url('#{$icon-font-path}/#{$icon-font-family}.svg?l697v4##{$icon-font-family}') format('svg');
}

//field--name-body
.page-title {
  @include type-preset(
    $version: 80,
    $type: header
  );

  @include media ('>=s') {
    @include type-preset(
      $version: 90,
      $type: header
    );
  }

  @include media ('>=m') {
    @include type-preset(
      $version: 100,
      $type: header
    );
  }
}

h1 {
  @include type-preset(
    $version: 80,
    $type: header,
    $margins: false
  );
}

h2 {
  @include type-preset(
    $version: 70,
    $type: header,
    $margins: false
  );
}

h3 {
  @include type-preset(
    $version: 60,
    $type: header,
    $margins: false
  );
}

h4 {
  @include type-preset(
    $version: 50,
    $type: header,
    $margins: false
  );
}

h5 {
  @include type-preset(
    $version: 40,
    $type: header,
    $margins: false
  );
}

h6 {
  @include type-preset(
    $version: 30,
    $type: header,
    $margins: false
  );
}

p {
  margin: em($scale-5) 0;
  padding: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.type-preset-header {
  font-weight: $font-weight-bold;
}

a {
  @include link-base();
}

a[href^='https'],
a[href^='http'],
a[href^='www'] {
  word-break: break-word;
}

b,
strong {
  font-weight: $font-weight-bold;
}

blockquote {
  margin: 0;
  padding: 0;
}

code {
  background-color: $color-grey-11;
  display: block;
  font-family: $font-family-monospace;
  line-height: 2;
  margin: 1em 0 2em;
  padding: 1em;
  white-space: pre-line;
}

ol,
ul {
  margin: 0;
}

dl {
  dt {
    @include gap($gap-d);
    @include type-preset(
      $version: 50,
      $type: header,
      $margins: inherit
    );
  }

  dd {
    margin: 0.25em 0 0;
  }
}

// reset the links in the toolbar
// styles the default tags at a lower specificity
.toolbar a {
  color: initial;
  text-decoration: initial;
  transition: none;

  @include on-event() {
    color: initial;
    text-decoration: initial;
  }

  &:visited {
    color: initial;
    outline: initial;
  }
}

// reset the lists in the toolbar
// styles the default tags at a lower specificity
.toolbar ol,
.toolbar ul {
  list-style-position: initial;
  margin: initial;
}

.toolbar li {
  margin: initial;
  padding: initial;
}

// Lets the content in the content paragraph behave normally
.paragraph-component.paragraph--type-content {
  h1 {
    @include type-margin-preset(80);
  }

  h2 {
    @include type-margin-preset(70);
  }

  h3 {
    @include type-margin-preset(60);
  }

  h4 {
    @include type-margin-preset(50);
  }

  h5 {
    @include type-margin-preset(40);
  }

  h6 {
    @include type-margin-preset(30);
  }

  ol,
  ul {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
