// -----------------------------------------------------------------------------
// Base: Usability
// Usability aria/tab focus site styles
// -----------------------------------------------------------------------------

/**
 * Aria customizations
 */

// Setting cursors for all aria-disabled elements
[aria-disabled='true'] {
  cursor: default;
}

[aria-disabled='false'] {
  cursor: pointer;
}

/**
 * Focus state customizations
 */

// Remove focus from all block and container elements by default
article:focus,
details:focus,
div:focus,
header:focus,
main:focus,
figure:focus,
figcaption:focus,
section:focus,
summary:focus,
table:focus,
tbody:focus,
thead:focus {
  @include focus-state(
    $reset: true
  );
}

// Apply the custom focus to items as specified
*:not(.region-content):focus,
.block-promo-banner:focus-within,
.node--view-mode-image-cards:focus-within {
  @include focus-state();
}

.component-content__content table td:focus-within {
  @include focus-state(
    $position: inset
  );
}

// Remove focus for custom events
.component-tabs-tab:focus,
.component-tabs .component-tabs__nav-item,
.component-accordion-item--open .component-accordion-item__title:focus,
.location-finder-wrapper .list-item a:focus,
.component-content__content table td a:focus {
  @include focus-state(
    $reset: true
  );
}
