// -----------------------------------------------------------------------------
// Base: Utilities
// Class generation for all scss maps
// -----------------------------------------------------------------------------

/**
 * Utilities: Colors
 * Print the color variables as text and bg classes
 * $colors map @ abstracts/variables/colors
 *
 * Expected:
 *  .color-*
 *  .bg-*
 */
@each $key, $value in $colors {
  // text
  .color-#{$key} {
    color: $value;
  }

  // background
  .bg-#{$key} {
    background-color: $value;
  }
}

/**
 * Text alignment options
 * Carried over from the old unitedrentals theme
 */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/**
 * Font weights
 * Print the font weight variables as classes
 * $font-weight-s map @ abstracts/variables/typography
 *
 * Expected:
 *  .font-weight-*
 */
@each $key, $value in $font-weights {
  .font-weight-#{$key} {
    // sass-lint:disable-block no-important
    // !important is for overriding set font-weights
    font-weight: $value !important;
  }
}

/**
 * Font sizes
 * Print the font size variables as classes
 * $font-sizes map @ abstracts/variables/typography
 *
 * Expected:
 *  .font-size-*
 */
@each $key, $value in $font-sizes {
  .font-size-preset-#{$key} {
    font-size: $value;
  }

  .type-preset-#{$key} {
    @include type-preset(
      $version: $key
    );
  }

  .type-preset-#{$key}--header {
    @include type-preset(
      $version: $key,
      $type: header
    );
  }

  .type-preset-#{$key}--margin {
    @include type-margin-preset($key);
  }
}

/**
 * Type Containers
 * Print the type container variables as classes
 * $type-containers map @ abstracts/variables/typography
 *
 * Expected:
 *  .type-container-*
 */
@each $key, $value in $type-containers {
  .type-container-#{$key} {
    @include type-container($key);
  }

  .type-container-#{$key}[class*='bg-'] > div {
    @include container();

    @include media('>=s') {
      @include container-reset($level: soft);
      @include type-container($key);

      margin-left: auto;
      margin-right: auto;
    }
  }
}

.type-container-centered {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Gaps
 * Print the gap variables as classes
 * $gaps map @ abstracts/variables/layout
 *
 * Expected:
 *  .vertical-rhythm-preset-*
 */
@each $key, $value in $scale {
  .margin-scale-#{$key} {
    margin: rem($value);
  }

  .padding-scale-#{$key} {
    padding: rem($value);
  }

  @each $item in $directions {
    .margin-#{$item}-scale-#{$key} {
      margin-#{$item}: rem($value);
    }

    .padding-#{$item}-scale-#{$key} {
      padding-#{$item}: rem($value);
    }
  }
}

/**
 * Icon sizes
 * Print the icon size variables as classes
 * $icon-sizes map @ abstracts/variables/icons
 *
 * Expected:
 *  .icon-size-*
 */
@each $key, $value in $icon-sizes {
  // before
  .icon-size-#{$key} {
    &::before,
    &::after {
      // sass-lint:disable-block no-important
      // !important is for overriding set font-size
      font-size: $value !important;
    }
  }
}

/**
 * Icons
 * Print the icons variables as before and after classes
 * $icons map @ abstracts/variables/icons
 *
 * Expected:
 *  .icon-before-*
 *  .icon-after-*
 */
@each $key, $value in $icons {
  // before
  .icon-before-#{$key} {
    @include icon(
      $filename: $value,
      $insert: before,
      $size: inherit
    );
  }

  // after
  .icon-after-#{$key} {
    @include icon(
      $filename: $value,
      $insert: after,
      $size: inherit
    );
  }
}

/**
 * Utilities: Buttons
 * Print the button style and size variables as btn classes
 * For each style and each size
 * lists @ abstracts/variables/buttons
 *
 * Expected:
 *  .btn
 *  .btn-style--$style
 *  .btn-size--$size
 */
.btn {
  @include btn-base();
}

@each $style in $btn-styles {
  .btn-style--#{$style} {
    @include btn-style($style);
  }
}

@each $size in $btn-sizes {
  .btn-size--#{$size} {
    @include btn-size($size);
  }
}

/* .glyph--wide-center short-center wide-left short-left */
/**
 * Utilities: Glyphs
 * Print the glyph bar type and alignment variables as glyph bar classes
 * For each type and each alignment
 * lists @ abstracts/variables/glyphs
 *
 * Expected:
 *  .glyph-bar--$type
 *  .glyph-bar--$alignment
 */
@each $type in $glyph-bar-types {
  .glyph-bar--#{$type} {
    @include glyph-bar-base();
    @include glyph-bar-type($type);
  }
}

@each $alignment in $glyph-bar-alignments {
  .glyph-bar--#{$alignment} {
    @include glyph-bar-base();
    @include glyph-bar-align($alignment);
  }
}

/**
 * Utilities: Link Buttons
 * Print the link button style and size variables as link btn classes
 * For each style and each size
 * lists @ abstracts/variables/buttons
 *
 * Expected:
 *  .link-btn-$style-$size*
 */
.link-btn {
  @include link-btn-base();
}

.link-btn-icon-color--orange {
  &::before,
  &::after {
    color: $color-orange;
  }
}

@each $style in $link-btn-styles {
  .link-btn-style--#{$style} {
    @include link-btn-style($style);
  }
}

@each $size in $link-btn-sizes {
  .link-btn-size--#{$size} {
    @include link-btn-size($size);
  }
}

/**
 * Utilities: Borders
 * Print the border variables as border classes
 * $borders list @ abstracts/variables/borders-and-shadows
 *
 * Expected:
 *  .border-width-*
 *  .border-radius-*
 *  .border-width-radius-*
 */

@each $key, $value in $border-widths {
  .border-width-#{$key} {
    border-width: $value;
  }
}

@each $key, $value in $border-radii {
  .border-radius-#{$key} {
    border-radius: $value;
  }
}

@each $key1, $value1 in $border-widths {
  @each $key2, $value2 in $border-radii {
    .border-#{$key1}-#{$key2} {
      border-radius: $value2;
      border-width: $value1;
    }
  }
}

/**
 * Utilities: Shadows
 * Print the shadow variables as shadow classes
 * $shadows list @ abstracts/variables/borders-and-shadows
 *
 * Expected:
 *  .shadow-*
 */
@each $value in $shadows {
  .shadow-#{$value} {
    @include shadow(
      $depth: $value
    );
  }
}

/**
 * Utilities: Vertical rhythm
 * Classes for the common mixin variations
 * $mixin found @ abstracts/mixins/vertical-rhythm
 */
.vertical-rhythm-default {
  @include vertical-rhythm();
}

.vertical-rhythm-margin {
  @include vertical-rhythm($property: margin);
}

.vertical-rhythm-padding {
  @include vertical-rhythm($property: padding);
}

.vertical-rhythm-default-reset {
  @include vertical-rhythm(
    $reset: true
  );
}

.vertical-rhythm-margin-reset {
  @include vertical-rhythm(
    $property: margin,
    $reset: true
  );
}

.vertical-rhythm-padding-reset {
  @include vertical-rhythm(
    $property: padding,
    $reset: true
  );
}

.vertical-rhythm-default-negative {
  @include vertical-rhythm(
    $negative: true
  );
}

.vertical-rhythm-margin-negative {
  @include vertical-rhythm(
    $property: margin,
    $negative: true
  );
}

.vertical-rhythm-padding-negative {
  @include vertical-rhythm(
    $property: padding,
    $negative: true
  );
}
