// -----------------------------------------------------------------------------
// Base: Inputs
// Themed inputs, buttons, and form item groups
// -----------------------------------------------------------------------------

.webform-submission-contact-us-form {
  @include media('>=s') {
    padding-right: rem($gap-e);
  }

  @include media('>=m') {
    margin: 0 auto;
    padding-right: 0;
    width: $type-container-preset-1;
  }
}
