.content-panel-header_container {
  margin-top: 1.5rem;
  padding-left: 0;
  padding-right: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
  z-index: 1;

  .error__paragraph {
    color: $color-utility-negative;
  }

  .content-panel-header_label {

    .heading-4 {
      height: 19px;
      width: 280px;
      color: $gray-dark;
      font-family: $font-family-sans-serif;
      font-size: $font-size-large;
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 11px;
      margin-top: 0;
    }
  }

  .results .heading-5 {
    font-size: $font-size-small;
  }

  .media_block {
    display: none;
    @include breakpoint($break-small) {
      display: block;
      margin-top: 18.5px;
    }

    .paragraph {
      margin: 0;
      width: 93%;

      @include breakpoint($break-small) {
        width: 100%;
      }
    }
  }

  .form-item {
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: $white;
    margin: 0 auto;
    width: 93%;
    position: relative;
    z-index: 1;

    .icon-map-marker {
      position: absolute;
      top: 8px;
      left: 15px;
    }

    .global-search__clear {
      top: 17px;
    }

    input {
      padding-left: 30px;
      box-sizing: border-box;
    }

    @include breakpoint($break-small) {
      width: 100%;
    }
  }
}

