<div class="content-panel-header_container">
  <div class="content-panel-header_label">
    {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
      with {
        "heading_4": content_panel_title,
      }
    %}
  </div>
  <div>
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": 'We could not find the location "arrrrrkzzz"',
        "paragraph_blockname": error__paragraph
      }
    %}
  </div>
  <div class="form-item">
    <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="City, State/Province, or Zip/Postal Code">
    <i class="icon icon-map-marker"></i>
  </div>

  {% include "@atoms/05-forms/select/select.twig"
    with {
      "select_content": "Show: All Branches",
      "select_modifiers": select_modifiers,
      "select_attributes": select_attributes
    }
  %}

  <div class="media_block">
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": object_description,
      }
    %}
  </div>
</div>