<div class="progress-bar__container">
  <div class="progress-bar__sections">
    <div class="progress-bar__item active">
      {% include '@atoms/02-text/00-headings/heading-5/heading-5.twig'
        with {
          heading_5: progress_bar_heading_5
        }
      %}
    </div>
    <div class="progress-bar__item">
      {% include '@atoms/02-text/00-headings/heading-5/heading-5.twig'
        with {
          heading_5: progress_bar_heading_5_thesecond
        }
      %}
    </div>
    <div class="progress-bar__item">
      {% include '@atoms/02-text/00-headings/heading-5/heading-5.twig'
        with {
          heading_5: progress_bar_heading_5_thethird
        }
      %}
    </div>
  </div>
</div>