.number-increment {
  display: flex;

  .button {
    outline: none;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    width: 35px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
    display: block;
    line-height: 1;
    padding: 0 0 4px;
    font-weight: 600;
    font-size: 20px;
  }

  .number-increment-value {
    width: 50px;
    border-radius: 4px;
    height: 32px;
    border-color: $gray-light;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }
}