<div class="number-increment">
  <button class="button button--style-2 button--secondary" onClick="this.nextElementSibling.stepDown(1)">-</button>
  <input class="number-increment-value" type="number" value="{{ number_increment_value }}" />
  <button class="button button--style-2 button--secondary" onClick="this.previousElementSibling.stepUp(1)">+</button>
</div>
