<template>
  <form class="account-details-form">
    <header>
      <div class="account-details-form__use-jobsite-checkbox">
        <q-checkbox
          :text="$i18n('checkout.useJobsiteAddress')"
          :checked="addressMatchesJobsite"
          id="usejobsiteforbillingaddress"
          @input="useJobsiteForBillingAddress"
        />
      </div>
      <h3 class="heading-5 m-t-30">{{ $i18n('checkout.billingAddress') }}</h3>
    </header>

    <company-name-text-input :value="accountForm.name" @input="name => updateAccountFormField({name})"></company-name-text-input>
    <address1-text-input :value="accountForm.address1" @input="address1 => updateAccountFormField({address1})"></address1-text-input>
    <address2-text-input :value="accountForm.address2" @input="address2 => updateAccountFormField({address2})"></address2-text-input>

    <div :class="['address-block', small ? 'flex-column' : 'flex-row col-3']">
      <city-text-input :value="accountForm.city" @input="city => updateAccountFormField({city})"></city-text-input>
      <state-select :value="accountForm.state" :country="accountForm.countryCode" @change="state => updateAccountFormField({state})"></state-select>
      <zip-text-input :value="accountForm.zip" @input="zip => updateAccountFormField({zip})"></zip-text-input>
      <country-select :value="accountForm.countryCode" @change="countryCode => updateAccountFormField({countryCode})"></country-select>
    </div>

    <header>
      <div class="account-details-form__use-jobsite-checkbox">
        <q-checkbox
          :text="$i18n('checkout.useJobsiteContact')"
          :checked="contactMatchesJobsite"
          id="usejobsiteforbillingcontact"
          @input="useJobsiteForBillingContact"
        />
      </div>
      <h3 class="heading-5 m-t-30">{{ $i18n('checkout.billingContact') }}</h3>
    </header>

    <tc-user-form></tc-user-form>

    <phone-text-input :value="accountForm.phone" @input="phone => updateAccountAndTcUserFormFields({phone})"></phone-text-input>
    <email-text-input :value="accountForm.email" @input="email => updateAccountAndTcUserFormFields({email})"></email-text-input>

    <slot name="footer"></slot>
  </form>
</template>
<script type="text/babel">
  import CompanyNameTextInput from '@/components/common/form/text-input/company-name';
  import Address1TextInput from '@/components/common/form/text-input/address1';
  import Address2TextInput from '@/components/common/form/text-input/address2';
  import CityTextInput from '@/components/common/form/text-input/city';
  import StateSelect from '@/components/common/form/select/state';
  import ZipTextInput from '@/components/common/form/text-input/zip';
  import CountrySelect from '@/components/common/form/select/country';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';

  import TcUserForm from '@/components/account/tc-user-form';

  import types from '@/store/types';
  import Reservation from '@/lib/reservation-block';

  import { mapActions, mapState, mapGetters } from 'vuex';
  import { email, required, minLength } from 'vuelidate/lib/validators';
  import { get } from 'lodash';

  export default {
    components: {
      CompanyNameTextInput,
      Address1TextInput,
      Address2TextInput,
      CityTextInput,
      StateSelect,
      ZipTextInput,
      CountrySelect,
      EmailTextInput,
      PhoneTextInput,
      TcUserForm,
    },

    computed: {
      ...mapState({
        accountForm: state => state.accounts.form,
        tcUserForm: state => state.tcUser.form,
        reservationJobsite(state) {
          const { accountId, jobsiteId } = this.reservation;
          return get(state.jobs.all, [accountId, jobsiteId], state.jobs.form);
        },
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),

      /**
       * @return {boolean} if the form matches the jobsite form
       */
      addressMatchesJobsite() {
        return ['address1', 'address2', 'city', 'state', 'zip'].reduce((isMatch, fieldName) => {
          if (get(this.reservationJobsite, [fieldName]) !== get(this.accountForm, [fieldName])) {
            isMatch = false;
          }
          return isMatch;
        }, true);
      },

      /**
       * @return {boolean} if the account form matches the jobsite form
       */
      contactMatchesJobsite() {
        const allCriteria = [];

        // Does the jobsite contact match the first & last name fields on the account?
        const [firstName, lastName] = get(this.reservationJobsite, ['contact'], '').split(' ');
        allCriteria.push(firstName === this.tcUserForm.firstName && lastName === this.tcUserForm.lastName);

        // Does the jobsite mobilePhone match the account phone? (Regardless of formatting)
        allCriteria.push(get(this.reservationJobsite, ['mobilePhone'], '').replace(/\D/g, '') === get(this.accountForm, ['phone'], '').replace(/\D/g, '')); // eslint-disable-line

        // Do the emails match?
        allCriteria.push(get(this.reservationJobsite, ['email'], '') === get(this.accountForm, ['email'], ''));

        return !allCriteria.includes(false);
      },
    },

    methods: {
      ...mapActions({
        updateAccountFormField: types.accounts.updateFormField,
        updateTcUserFormField: types.tcUser.updateFormField,
      }),
      useJobsiteForBillingAddress($event) {
        if ($event.checked) {
          ['address1', 'address2', 'city', 'state', 'zip']
            .map(field => ({ [field]: this.reservationJobsite[field] }))
            .forEach(this.updateAccountFormField);

          this.updateAccountFormField({ countryCode: get(this.reservationJobsite, ['country']) });
        }
      },
      useJobsiteForBillingContact($event) {
        if ($event.checked) {
          const phone = get(this.reservationJobsite, ['mobilePhone']);
          const email = get(this.reservationJobsite, ['email']);
          const [firstName, lastName] = get(this.reservationJobsite, ['contact'], '').split(' ');

          this.updateAccountAndTcUserFormFields({ phone });
          this.updateAccountAndTcUserFormFields({ email });
          this.updateTcUserFormField({ firstName, lastName });
        }
      },
      updateAccountAndTcUserFormFields(field) {
        this.updateAccountFormField(field);
        this.updateTcUserFormField(field);
      },
    },

    mounted() {
      this.$emit('isValid', false);
      this.$watch('$v.$invalid', (invalid) => {
        this.$emit('isValid', !invalid);
      });
    },

    name: 'account-details-form',

    props: {
      reservation: {
        type: Reservation,
        required: false,
      },
    },

    validations: {
      accountForm: {
        address1: { required },
        city: { required },
        email: { required, email },
        phone: {
          required,
          minLength: minLength(10),
        },
        state: { required },
        zip: { required },
      },
    },
    watch: {
      '$v.$invalid': function formValidityChange(value) {
        this.$emit('formValidityChange', !value);
      },
    },
  };
</script>
