<template>
  <div class="overflow-scroll"> <!-- Passing in modalOverflowY via Route Prop doesn't work for this modal -->
    <div class="modal-header">
      <h3>{{ $i18n('checkout.billingAddress') }}</h3>
    </div>

    <div class="modal-body modal-body-account-details-form">
      <account-details-form
        @formValidityChange="setFormIsValid($event)"
        :reservation="reservation"
      />
    </div>

    <div class="modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
      >
        {{ $i18n('ur.save') }}
      </button>
    </div>
  </div>
</template>
<script type="text/babel">
  import AccountDetailsForm from './account-details-form.vue';
  import UrGtm from '@/mixins/ur-gtm';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { get } from 'lodash';
  import filter from '@/lib/filters';

  export default {
    components: {
      AccountDetailsForm,
    },
    computed: {
      ...mapState({
        accountForm: state => state.accounts.form,
        reservation() {
          return this.$store.getters.reservationBlocks[this.blockId];
        },
        currentAccount(state) {
          return get(state.accounts.all, [this.accountId], {});
        },
      }),
    },
    data() {
      return {
        formIsValid: false,
      };
    },
    methods: {
      ...mapActions({
        fetchAccounts: types.accounts.fetch,
        updateAccountFormField: types.accounts.updateFormField,
        saveAccountForm: types.accounts.saveForm,
      }),
      init() {
        const {
          name, address1, address2, city, state, zip, countryCode, phone, email,
        } = this.currentAccount;
        this.updateAccountFormField({
          accountId: this.accountId,
          name,
          address1,
          address2,
          city,
          state,
          zip,
          countryCode,
          phone: filter.phoneNumber(phone),
          email,
        });
      },
      setFormIsValid(valid) {
        this.formIsValid = valid;
      },
      save() {
        // TODO he DAL doesn't let us update Country Code. We might open a UR IT Ticket. See UR-5027 for the initial bug.
        this.$validateChildrenAndScrollToError();
        if (!this.formIsValid) return;
        this.saveAccountForm()
          .then(this.gtmTrackFormSubmissions('account-details', 'save'))
          .then(this.$router.push({
            path: '/checkout',
          }))
          .then(this.fetchAccounts);
      },
      cancel() {
        this.$router.push({
          path: '/checkout',
        });
      },
    },
    mixins: [
      UrGtm,
    ],
    mounted() {
      this.init();
    },
    name: 'account-details-form-modal',
    props: {
      blockId: String,
      accountId: String,
    },
  };
</script>
