<!-- Cloned from /vue/src/components/cart/reservation-block/billing/edit-account-modal.vue -->
<!-- In convert-quote we're using different store so we have to rewrite save method -->
<template>
  <div class="edit-account-modal">

    <div class="modal-header">
      <h2>{{ $i18n('quotes.quoteNumberChangeHeader') }}</h2>
    </div>

    <div class="modal-body">
      <div v-html="$i18n('quotes.quoteNumberChangeDisclaimer')"></div>
    </div>

    <div class="modal-footer">
      <button
        class="button--secondary button--style-1"
        @click="$router.go(-1)">
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button--filled button--style-1"
        @click="Continue">
        {{ $i18n('quotes.continue') }}
      </button>
    </div>

  </div>
</template>
<script type="text/babel">

  import { mapActions, mapState } from 'vuex';

  export default {
    computed: {
      // Import State from Vuex
      ...mapState({
        // TODO
      }),
    },
    data() {
      return {
        // TODO
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        // TODO
      }),
      onAccountChange(accountId) {
        this.hasChangedAccount = true;
        this.selectedAccountId = accountId;
        if (!this.allJobsites[accountId]) {
          this.fetchJobsites(accountId);
        }
      },
      onJobsiteChange(jobsiteId) {
        this.selectedJobsiteId = jobsiteId;
      },
      continue() {
        // TODO
        this.$router.go(-1);
      },
    },
    mounted() {
    },
    mixins: [
    ],
    name: 'new-quote-number-modal.vue',
    props: {},
    validations: {},
  };
</script>
