<template>
  <div class="calendar_container">
    <ur-calendar
      @date-select="onStartDate"
      class="calendar_start"
      :label="$i18n('reservationView.startDate')"
      :selected-moment="startDate"
      :min-date="min"
      :disableWeekends="disableWeekends"
      :satOff="satOff"
      :sunOff="sunOff"
      :has-error="$v.$dirty && !$v.startDate"
      :in-modal="inModal"
    />
    <ur-calendar
      @date-select="onEndDate"
      position="bottom right"
      class="calendar_end"
      :label="$i18n('reservationView.endDate')"
      :highlight-range="true"
      :min-date="startDate"
      :selected-moment="endDate"
      :disableWeekends="disableWeekends"
      :satOff="satOff"
      :sunOff="sunOff"
      :has-error="$v.$dirty && !$v.endDate"
      :in-modal="inModal"
    />

    <ur-error-label :message="errorMessage" v-if="hasError"/>
  </div>
</template>
<script type="text/babel">
  import UrCalendar from '@/components/common/ur-calendar';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import utils from '@/utils';
  import moment from 'moment';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  export default {
    components: {
      UrCalendar,
      UrErrorLabel,
    },
    computed: {
      ...mapState({
        startDate: state => state.cartItemForm.startDate,
        endDate: state => state.cartItemForm.endDate,
      }),
    },
    methods: {
      ...mapActions({
        updateDefaultStartDate: types.user.defaultStartDate,
        updateDefaultEndDate: types.user.defaultEndDate,
        updateFormField: types.cartItemForm.updateFormField,
      }),
      onStartDate(startDate) {
        startDate.hour(this.startDate.hour());
        startDate.minutes(this.startDate.minutes());
        this.updateFormField({ startDate });
        this.updateDefaultStartDate(startDate.format(utils.dateFormat.iso));
        this.$emit('dateChange', { name: 'startDate', value: startDate.format('X') });
      },
      onEndDate(endDate) {
        endDate.hour(this.endDate.hour());
        endDate.minutes(this.endDate.minutes());
        this.updateFormField({ endDate });
        this.updateDefaultEndDate(endDate.format(utils.dateFormat.iso));
        this.$emit('dateChange', { name: 'endDate', value: endDate.format('X') });
      },
    },
    name: 'dateRangeSelector',
    props: {
      errorMessage: {
        default: '',
        required: false,
        type: String,
      },
      hasError: {
        default: false,
        required: false,
        type: Boolean,
      },
      min: {
        default: moment(),
        required: false,
        type: Object,
      },
      disableWeekends: {
        type: Boolean,
        default: false,
      },
      satOff: {
        type: Boolean,
        default: true,
      },
      sunOff: {
        type: Boolean,
        default: true,
      },
      inModal: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    validations: {
      startDate() {
        return moment(this.startDate).isValid();
      },
      endDate() {
        return moment(this.endDate).isValid();
      },
    },
  };
</script>
