<template>
  <li class="form-item--checkbox__item" :class="{disabled: disabled}">
    <input
      type="checkbox"
      :id="id"
      :name="'checkbox' + id"
      :checked="checked"
      @change="$emit('change', $event.target.checked)"
      :disabled="disabled">

    <label :for="id" :class="labelClass" :style="labelStyle">
      <span :style="checkboxStyle">
        <svg
          width="16px"
          height="16px"
          viewBox="0 0 16 16"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          v-bind:style="{ height: 'auto !important'}"
        >
          <title>{{ checkboxTitle }}</title>
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="check">
              <rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect>
              <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon>
            </g>
          </g>
        </svg>
      </span>
      {{label}}
    </label>
  </li>
</template>
<script type="text/babel">
  import uid from '@/utils/uid';

  /*
  Validation for a checkbox is simple, and so the ValidationMixin is not required.
  A Checkbox can only have an error or not.

  Their is No Error Message! Rather, the label simply turns red.
   */

  export default {
    data() {
      return {
        id: uid(),
      };
    },
    computed: {
      checkboxStyle() {
        return {
          marginRight: this.hasLabel ? '0.5714285714rem' : '0',
          display: 'block',
          float: 'left',
        };
      },
      labelClass() {
        return {
          ...this.labelClasses,
          'label-selection': true,
          'error-message': this.v && this.v.$error,
        };
      },
      labelStyle() {
        return {
          marginLeft: this.hasLabel ? 'auto' : '0',
          marginRight: this.hasLabel ? 'auto' : '0',
          marginTop: '0',
          marginBottom: '0',
          padding: this.hasLabel ? '5px 0' : '0',
        };
      },
      hasLabel() {
        return typeof this.label === 'string' && this.label.length > 0;
      },
    },
    props: {
      checked: {
        type: Boolean,
        default: false,
      },
      checkboxTitle: {
        type: String,
        default: 'check',
      },
      disabled: Boolean,
      label: {
        type: String,
        default: '',
      },
      v: {
        required: false,
      },
      labelClasses: {
        type: Object,
        default: () => {},
        validator(classObj) {
          return typeof classObj === 'object'
            && Object.values(classObj).every(v => typeof v === 'boolean');
        },
      },
    },
  };
</script>
