<template>
  <span ref="chip" class="ur-chip-base" :style="chipStyle" v-tooltip="tooltipOptions">{{ label }}</span>
</template>

<script>

  export default {

    name: 'ur-chip',

    props: {
      label: {
        type: String,
        required: false,
      },
      labelColor: {
        type: String,
        default: 'white',
        required: false,
      },
      backgroundColor: {
        type: String,
        default: 'orange',
        required: false,
      },
      ttMessage: {
        type: String,
        required: false,
      },
      ttPosition: {
        default: 'top-start',
        type: String,
      },
      ttMessageIsHtml: {
        type: Boolean,
        default: false,
      },
      ttTrigger: {
        type: String,
        default: 'hover focus click',
      },
    },

    data() {
      return {
        isMobile: document.querySelector('.mobile-menu__open').offsetParent !== null,
      };
    },

    computed: {
      chipStyle() {
        return `color: ${this.labelColor}; background-color: ${this.backgroundColor};`;
      },
      tooltipPlacement() {
        return this.isMobile ? 'top-start' : this.position;
      },
      tooltipMessage() {
        return this.ttMessage;
      },
      tooltipOptions() {
        return {
          boundariesElement: 'window',
          content: this.tooltipMessage,
          placement: this.tooltipPlacement,
          trigger: this.ttTrigger,
        };
      },
    },

  };
</script>

<style lang="scss">

  @import '01-variables';

  .ur-chip-base {
    border-radius: 20px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-weight: bold;
    padding: 4px 8px;
    white-space: nowrap;
    vertical-align: middle;
    text-transform:uppercase;
    margin-right: 24px
  }

</style>
