<template>
  <div class="ur-calendar" :class="baseClass">
    <label :class="baseClass + '__label'">{{label}}</label>
    <span><input
      :class="baseClass + '__input'"
      :id="id"
      readonly="true"
      type="text"
      @keydown.stop.prevent="cancelKeyboardInput"
      @blur="blurStopProp"
      ref="input"
    ></span>
    <label v-if="hasError" class="error">{{label}} {{ $i18n('e.required') }}</label>
  </div>
</template>
<script type="text/babel">
  import utils from '@/utils';

  const Pikaday = require('pikaday');
  const moment = require('moment');

  export default {
    data() {
      return {
        calendar: null,
        daysInCurrentMonth: 0,
        id: `calendar-${Math.random().toString(16).slice(2)}`,
        rangeHighlightingListener: null,
      };
    },
    methods: {
      blurMe() {
        this.$refs.input.blur();
      },
      blurStopProp(e) {
        e.stopImmediatePropagation();
      },
      calendarAdjustPosition() {
        if (this.calendar) {
          this.calendar.adjustPosition();
        }
      },
      build() {
        if (this.calendar) {
          this.calendar.destroy();
        }
        this.calendar = new Pikaday({
          field: document.querySelector(`#${this.id}`),
          position: this.position || 'bottom left',
          defaultDate: typeof this.selectedMoment === 'Moment' ? this.selectedMoment.format() : null, // eslint-disable-line
          showDaysInNextAndPreviousMonths: true,
          showMonthAfterYear: true,
          reposition: !this.inModal,
          format: 'MM/DD/YYYY',
          minDate: this.minDate,
          onSelect: this.onSelect,
          disableDayFn: this.disableDayFn || this.defaultDisableDayFn,
          i18n,
          disableWeekends: this.disableWeekends,

          /*
           End-Date Calendars should apply special (highlight) classes on dates between the
           Min. Date and the mouse's hover position.
           */
          onOpen: () => {
            this.blurMe();
            if (this.highlightRange) {
              this.rangeHighlightingInit();
            }
          },
          onDraw: () => {
            if (this.highlightRange) {
              this.rangeHighlightingInit();
            }
          },
          onClose: () => {
            const allDays = this.getAllDays();
            for (let i = 0; i < allDays.length; i++) {
              allDays[i].removeEventListener('mouseover', (evt) => {
                this._colorDaysInRange(evt);
              });
            }
          },
        });
        if (this.selectedMoment) {
          this.calendar.setMoment(this.selectedMoment);
        }
      },

      /**
       * Cancels keyboard input and calendar navigation.
       * @param {event} event keyboard event
       * @return {boolean} cancel keyboard event
       */
      cancelKeyboardInput() {
        return false;
      },

      /**
       * Helper method (for code readability). Guarantees a falsy value if
       * the user hasn't selected a moment yet.
       * @param {date} newDate isoDate
       * @return {boolean} truthyness of the new date being before the selected date
       */
      selectedMomentIsBeforeMinDate(newDate) {
        if (!this.selectedMoment) {
          return false;
        }

        return this.calendar.getMoment().isBefore(newDate);
      },
      // TODO: Read from the branch's holidayHours property.
      // TODO: Holidays will be provided as the result of an api request to DAL.
      defaultDisableDayFn(day) {
        const earliestDate = this.minDate ? this.minDate : moment().startOf('day').subtract(1, 'days');
        /** This must be replaced with a call to a yet-to-be-developed api... */
        const temporaryHardCodedHolidays = [
          '2019-05-27',
          '2019-07-04',
          '2019-09-02',
          '2019-11-28',
          '2019-11-29',
          '2019-12-25',
          '2020-01-01',
        ];

        /** Depending on the value of satOff and sunOff, Saturday on Sunday should be enabled or disabled.
         *  "dayOfTheWeek" returns an integer between 0-6 starts from Sunday = 0 to Saturday = 6.
         */
        const dayOfTheWeek = day.getDay();
        if (dayOfTheWeek === 0 && this.sunOff === true) {
          return this.sunOff;
        }
        if (dayOfTheWeek === 6 && this.satOff === true) {
          return this.satOff;
        }

        /** ---------------------------------------------- */
        // CONFIRMED: if the FUTURE date is a holiday you will not be able to select the date,
        // if TODAY's date is a holiday you will not be able to select the date.
        const isHoliday = temporaryHardCodedHolidays.reduce((isHoliday, holiday) => {
          if (moment(day).isSame(holiday, 'day')) {
            isHoliday = true;
          }
          return isHoliday;
        }, false);

        if (this.minDate) {
          return moment(day).isBefore(earliestDate, 'day') || isHoliday;
        }
        return moment(day).isSameOrBefore(earliestDate, 'day') || isHoliday;
      },
      _colorDaysInRange(event) {
        const endDay = event.currentTarget;
        const allDays = this.getAllDays();

        for (let i = 0; i < allDays.length; i++) {
          const day = allDays[i];
          const disabled = day.classList.contains('is-disabled');
          const inRange = _getDate.call(this, day) <= _getDate.call(this, endDay);

          day.classList[!disabled && inRange ? 'add' : 'remove']('in-range');
        }

        function _getDate(day) {
          const isOutsideCurrentMonth = day.classList.contains('is-outside-current-month');
          return Number(day.dataset.day) + (isOutsideCurrentMonth ? this.daysInCurrentMonth : 0);
        }
      },

      getAllDays() {
        return this.calendar.el.querySelectorAll('[data-day]');
      },

      /**
       * Emits the selected moment (only if it's changed). This is processed by the
       * date range vue component and re-emitted as either
       * a rental start or end date.
       */
      onSelect() {
        // Guard against emitting the same date to prevent infinite loop
        if (moment.isMoment(this.selectedMoment) && this.selectedMoment.isSame(this.calendar.getMoment(), 'day')) {
          return;
        }

        this.$emit('date-select', this.calendar.getMoment());
      },

      rangeHighlightingInit() {
        // Color the Starting Element as if it were selected
        const startDay = moment(this.minDate, utils.dateFormat.iso).date();
        const startMonth = moment(this.minDate, utils.dateFormat.iso).month();
        const startElement = this.calendar.el.querySelector(`[data-pika-day="${startDay}"][data-pika-month="${startMonth}"]`);
        if (startElement) {
          startElement.parentNode.classList.add('is-selected');
        }

        // Now listen to mouse over events on the calendar days and color any date between
        // the hovered element and the start day a lighter blue.
        const allDays = this.getAllDays();
        for (let i = 0; i < allDays.length; i++) {
          allDays[i].addEventListener('mouseover', (evt) => {
            this._colorDaysInRange.call(this, evt);
          });
          if (!allDays[i].classList.contains('is-outside-current-month')) {
            this.daysInCurrentMonth += 1;
          }
        }
      },
    },
    mounted() {
      this.build();
      if (this.inModal) {
        window.addEventListener('resize', this.calendarAdjustPosition, { passive: true });
        window.addEventListener('scroll', this.calendarAdjustPosition, { passive: true });
      }
    },
    beforeDestroy() {
      if (this.inModal) {
        window.removeEventListener('resize', this.calendarAdjustPosition, { passive: true });
        window.removeEventListener('scroll', this.calendarAdjustPosition, { passive: true });
      }
    },
    name: 'calendar',
    props: {
      // Any modification on date object in child components, will cause calendar watcher and onSelect to be called twice, which keeps the calendar open.
      // Passing watchMoment flag as as guard. example: dpickup-delivery.vue (checkout component)
      watchMoment: {
        required: false,
        default: true,
      },
      baseClass: {
        required: false,
      },
      disableDayFn: {
        required: false,
      },
      highlightRange: {
        required: false,
      },
      label: {
        required: false,
      },
      minDate: {
        required: false,
        validator: value => moment.isMoment(value) || typeof value === 'string',
      },
      position: {
        required: false,
      },
      selectedMoment: {
        required: true,
        validator: value => moment.isMoment(value) || typeof value === 'string' || typeof value === 'object',
      },
      hasError: {
        type: Boolean,
        default: false,
      },
      disableWeekends: {
        type: Boolean,
        default: false,
      },
      satOff: {
        type: Boolean,
        default: true,
      },
      sunOff: {
        type: Boolean,
        default: true,
      },
      inModal: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    watch: {
      sunOff() {
        this.build();
      },
      satOff() {
        this.build();
      },
      disableWeekends() {
        this.build();
      },
      /**
       * Rebuild the calendar when the branch changes. (A new branch causes
       * a new 'disableDayFn' prop to be sent down.)
       */
      disableDayFn() {
        this.build();
      },
      minDate(newMinDate, oldMinDate) {
        if (newMinDate.isSame(oldMinDate, 'day')) {
          return;
        }

        this.calendar.setMinDate(newMinDate);
        // Determine if calendar object is the start date calendar or the end date calendar
        // End date calendar needs updated if it is set and then start date is updated to date after set end date
        const isStartDate = this.selectedMomentIsBeforeMinDate(newMinDate) && this.id === this.calendar.field;
        const isEndDateNeedsUpdate = this.calendar.getMoment()._i && this.selectedMomentIsBeforeMinDate(newMinDate) && this.id !== this.calendar.field; // eslint-disable-line
        const isEndDate = this.selectedMomentIsBeforeMinDate(newMinDate) && this.id !== this.calendar.field;

        if (isStartDate || isEndDateNeedsUpdate) {
          this.calendar.setMoment(moment(newMinDate));
        }

        if (isEndDate) {
          this.calendar.gotoDate(new Date(newMinDate));
        }
      },
      selectedMoment(selectedMoment) {
        if (this.watchMoment) {
          if (moment.isMoment(selectedMoment) && selectedMoment.isSame(this.calendar.getMoment())) {
            return;
          }
          this.calendar.setMoment(selectedMoment);
        }
      },
    },
  };

  const t = typeof Drupal !== 'undefined' ? Drupal.t : str => str;
  const i18n = {
    previousMonth: '<',
    nextMonth: '>',
    months: [
      t('January'),
      t('February'),
      t('March'),
      t('April'),
      t('May'),
      t('June'),
      t('July'),
      t('August'),
      t('September'),
      t('October'),
      t('November'),
      t('December'),
    ],
    weekdays: [
      t('Sunday'),
      t('Monday'),
      t('Tuesday'),
      t('Wednesday'),
      t('Thursday'),
      t('Friday'),
      t('Saturday'),
    ],
    weekdaysShort: [
      t('Su'),
      t('M'),
      t('T'),
      t('W'),
      t('Th'),
      t('F'),
      t('Sa'),
    ],
  };
</script>
