<template>
  <div class="account-selector-modal flex-column">
    <!-- Begin Modal Header -->
    <div class="modal-header border-b-normal flex-column flex-nowrap flex-gap-5 no-shrink align-start">
      <h3 class="modal-title m-x-0 m-t-0">
        {{ $i18n('user.selectRentalAccount') }}
        <span v-if="showItemCount > 0" class="fw-normal c-gray">({{ displayCount }})</span>
      </h3>

      <div class="flex-row flex-wrap">
        <!-- Search for account by ID (combined <input> + <button>) -->
        <div class="flex-row search-bar">
          <q-input
            ref="searchByIdInput"
            type="text"
            :required="true"
            :size="60"
            :placeholder="$i18n('user.enterAccountNameNumber')"
            class="search-input grow"
            v-model="pendingAccountSearchString"
            @keypress="filterInputAlphanumericOnly($event)"
            @keyup.enter="applyAccountSearchString(pendingAccountSearchString)"
            @cleared="applyAccountSearchString('')"
            @keyup.esc.stop="applyAccountSearchString('')"
          />
          <q-button
            class="search-button m-t-0"
            icon="search"
            buttonStyle="primary-alternative"
            @click="applyAccountSearchString(pendingAccountSearchString)"
          />
        </div>
        <!-- Advanced account search trigger -->
        <div v-if="userIsEmployee" class="advanced-search-trigger flex-row align-items-center">
          <span class="or c-gray-dark fs-base">{{ $i18n('dashboard.or') }}</span>
          <q-button
            text="Advanced Search"
            :icon="advancedAccountSearchIsActive ? 'keyboard-arrow-up' : 'keyboard-arrow-down'"
            size="regular"
            buttonStyle="secondary"
            class="m-0"
            v-openover="AdvancedAccountSearchForm"
            @open="openoverEvent($event)"
            @close="openoverEvent(null)"
          />
        </div>
      </div>

      <account-search-tags v-if="showSearchTags" />

      <ur-error-label
        v-if="showNoMatchMessage"
        class="m-0"
        :message="$i18n('dashboard.accountSelectorErr')"
      />
    </div>
    <!-- End Modal Header -->

    <!-- Begin Modal Body -->
    <div class="modal-body p-0 grow">
      <div v-if="fetchRequestPending" style="min-height: 200px" class="flex-row p-40 align-items-center justify-center bgc-white">
        <ur-loading-spinner />
      </div>

      <div
        v-else-if="accountList.length < 1"
        class="flex-column align-items-center">
        <!-- class="text-center type-paragraph-xlarge c-gray-dark p-y-60" -->
        <div class="type-paragraph-large c-gray-dark p-y-60">
          <p>{{ $i18n('user.nullStateMessage') }}</p>
          <ul class="null-state-list">
            <li>{{ $i18n('user.nullStateMessageFind') }}</li>
            <li>{{ $i18n('user.nullStateMessageFavorite') }}</li>
            <li>{{ $i18n('user.nullStateMessageSelect') }}</li>
          </ul>
        </div>
      </div>
      <component
        v-else
        :is="accountListingComponentName"
        class="border-t-none"
        :accounts="accountList"
        :pendingFavoriteAccountIds="pendingFavoriteAccountIds"
        :selectedAccountId="selectedAccountId"
        :sortAscending="sortAscending"
        :sortColumnKey="sortColumnKey"
        :userIsEmployee="userIsEmployee"
        @accountSelected="setSelectedAccount($event)"
        @accountFavoriteToggled="toggleAccountFavorited($event)"
        @columnSortChanged="setAccountSortControls($event)"
      />
    </div>
    <!-- End Modal Body -->

    <!-- Begin Modal Footer -->
    <div class="modal-footer flex-row justify-end no-shrink">
      <q-button
        :text="$i18n('ur.cancel')"
        size='regular'
        buttonStyle='secondary'
        @click='close'
      />
      <q-button
        :text="$i18n('user.globalAccountSelector')"
        :disabled="!selectedAccountId"
        size='regular'
        @click='saveSelectionAndClose'
      />
    </div>
    <!-- End Modal Footer -->
  </div>
</template>


<style lang="scss" scoped>
  @import '01-variables';
  @import 'breakpoints';
  @import '~breakpoint-sass/stylesheets/breakpoint';
  @import './account-selector.variables';

  .account-selector-modal {
    max-height: 100%;
    height: 100%;
  }

  .modal-header {
    height: auto;
    flex-wrap: wrap;
  }

  .modal-body {
    max-height: $modal-body-max-height;
    overflow: auto;
  }

  .modal-footer button {
    width: $modal-footer-button-width !important;
    flex-grow: 0 !important;
  }

  // There are global styles somewhere interfering with this list,
  // these styles override them
  .null-state-list {
    list-style: disc !important;
    padding-left: 18px !important;
    display: block !important;
  }

  .search-bar {
    width: auto;
    height: $search-bar-height;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    @include medium {
      width: $search-bar-width;
      margin-bottom: 0;
    }

    .search-button {
      border-radius: 0 $border-radius-med $border-radius-med 0;
      width: $search-button-width !important;
      min-width: $search-button-width !important;
    }

    .search-input {
      width: 100%;
    }

    .search-input /deep/ .input-field-wrapper {
      border-radius: $border-radius-med 0 0 $border-radius-med !important;
      border-right: none !important;
      width: 100%;
      input {
        margin-bottom: 0;
        -moz-appearance: textfield;
      }
      i svg { display: block; }
    }
  }

  .advanced-search-trigger {
    width: auto;
    flex-grow: 1;
    @include medium {
      flex-grow: 0;
    }

    .or {
      margin: 0 1rem 0 0;
      @include medium {
        margin: 0 1rem;
      }
    }

    button /deep/ i, button /deep/ i svg {
      display: block;
    }
  }
</style>

<script>
  /* eslint-disable valid-jsdoc */
  import Vue from 'vue';
  import Format from '@/mixins/format';
  import {
    mapActions,
    mapState,
    mapGetters,
    mapMutations,
  } from 'vuex';
  import UrGtm from '@/mixins/ur-gtm';
  import types from '@/store/types';
  import { OpenOver } from '@/lib/directives/openover';
  import { UrErrorLabel } from '@/components/common/form';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import AccountSearchTags from './account-search-tags.vue';
  import AdvancedAccountSearchForm from './advanced-account-search-form.vue';
  import AccountListingTable from './account-listing/account-listing-table.vue';
  import AccountListingAccordion from './account-listing/account-listing-accordion.vue';

  export default Vue.extend({
    name: 'account-selector-modal',
    mixins: [UrGtm, Format],
    props: { close: Function },
    components: {
      AccountListingAccordion,
      AccountListingTable,
      AccountSearchTags,
      AdvancedAccountSearchForm,
      UrErrorLabel,
      UrLoadingSpinner,
    },

    data() {
      return {
        AdvancedAccountSearchForm,
        accountSearchString: '',
        /* Instance of OpenOver<AdvancedAccountSearchForm> or null */
        advancedAccountSearchOpenOver: null,
        pendingAccountSearchString: '',
        pendingFavoriteAccountIds: [],
        selectedAccountId: null,
        searchedForAccount: [],
        showErrorMessage: false,
        showNoMatchMessage: false,
      };
    },

    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        latestSuccessfulSearchParams: state => state.accounts.latestSuccessfulSearchParams,
        sortColumnKey: state => state.accounts.sortColumnKey,
        sortAscending: state => state.accounts.sortAscending,
        userIsEmployee: state => state.user.isEmployee,
      }),
      ...mapGetters({
        fetchRequestPending: types.accounts.fetchRequestPending,
        selectableAccounts: types.accounts.selectableAccounts,
      }),

      /**
       * If the user has an active search, use the `searchForAccount` account list local
       * to this component. Otherwise, use the account list from the vuex store.
       */
      accountList() {
        return this.showSearchedForAccount
          ? this.searchedForAccount
          : this.selectableAccounts;
      },

      accountListingComponentName() {
        return this.$store.getters.small
          ? 'account-listing-accordion'
          : 'account-listing-table';
      },

      advancedAccountSearchIsActive() {
        return this.advancedAccountSearchOpenOver instanceof OpenOver;
      },

      displayCount() {
        return this.accountList.length >= 1000 ? '1000+' : this.accountList.length;
      },

      showItemCount() {
        return Object.keys(this.selectableAccounts).length > 0;
      },

      showSearchedForAccount() {
        return this.accountSearchString.length > 0;
      },

      showSearchTags() {
        return this.userIsEmployee && this.selectableAccounts.length > 0 && !this.showSearchedForAccount;
      },
    },

    methods: {
      ...mapActions({
        addFavorite: types.user.addFavoriteAccount,
        removeFavorite: types.user.removeFavoriteAccount,
        saveActiveSearch: types.accounts.saveActiveSearch,
        searchAccounts: types.accounts.searchAccounts,
        setSelectedAccountId: types.accounts.setSelectedAccountId,
        setUserDefaultAccountId: types.user.updateDefaultAccountId,
      }),

      ...mapMutations({
        setSortAscending: types.accounts.setSortAscending,
        setSortColumnKey: types.accounts.setSortColumnKey,
      }),

      async applyAccountSearchString(searchVal) {
        const isNum = /^\d+$/.test(searchVal);
        this.pendingAccountSearchString = searchVal;
        this.accountSearchString = searchVal;
        this.showNoMatchMessage = false;
        this.searchedForAccount = [];
        if (!searchVal) return;

        // If the user is an employee, we have to make an API call to get an
        // account with a matching ID
        if (this.userIsEmployee) {
          if (isNum) {
            this.searchedForAccount = await this.searchAccounts({ id: searchVal });
          }
          else {
            this.searchedForAccount = await this.searchAccounts({ name: searchVal });
          }
          this.showNoMatchMessage = this.searchedForAccount.length < 1;
        }
        // Otherwise, we just search through this user's static list of accounts
        else {
          let matchingAccount;
          let matchingAccounts;
          if (isNum) {
            matchingAccount = this.selectableAccounts.find(account => account.id === searchVal);
            this.searchedForAccount = matchingAccount ? [matchingAccount] : this.selectableAccounts;
          }
          else {
            matchingAccounts = this.selectableAccounts.filter(account => account.name.toUpperCase().includes(searchVal.toUpperCase()));
            this.searchedForAccount = matchingAccounts && matchingAccounts.length ? matchingAccounts : this.selectableAccounts;
          }
          this.showNoMatchMessage = !matchingAccount && (!matchingAccounts || !matchingAccounts.length);
        }
      },

      openoverEvent(openOverInstance) {
        this.advancedAccountSearchOpenOver = openOverInstance;
      },

      filterInputAlphanumericOnly(event) {
        if (!/[a-zA-Z0-9\s]+/.test(event.key)) {
          event.preventDefault();
        }
        else {
          return true;
        }
      },

      saveSelectionAndClose() {
        this.setUserDefaultAccountId(this.selectedAccountId);
        this.setSelectedAccountId(this.selectedAccountId);
        this.close();
      },

      setAccountSortControls(columnKey) {
        if (columnKey !== this.sortColumnKey) this.setSortColumnKey(columnKey);
        else this.setSortAscending(!this.sortAscending);
      },

      setSelectedAccount(account) {
        this.selectedAccountId = account.id;
      },

      async toggleAccountFavorited(account) {
        try {
          this.pendingFavoriteAccountIds = [...this.pendingFavoriteAccountIds, account.id];
          const action = account.isFavorited ? 'removeFavorite' : 'addFavorite';
          await this[action](account.id);
        }
        catch (error) {
          // eslint-disable-next-line
          console.error(`Failed to toggle favorite state for account with ID "${account.id}"`);
        }
        finally {
          this.pendingFavoriteAccountIds = this.pendingFavoriteAccountIds.filter(id => id !== account.id);
        }
      },
    },

    mounted() {
      this.selectedAccountId = this.defaultAccountId || null;
      /* HACK: Prevent the body from scrolling while the modal is open */
      document.body.style.overflow = 'hidden';
      // tag for managing IE11 z-index issues
      document.body.classList.add('account-selector-modal-visible');
    },

    beforeDestroy() {
      /* HACK: Remove scroll hack on destroy */
      document.body.style.overflow = '';
      document.body.classList.remove('account-selector-modal-visible');
    },

    watch: {
      defaultAccountId(defaultAccountId) {
        this.selectedAccountId = defaultAccountId;
      },

      // If only one account is displayed, select it automatically
      accountList(accounts = []) {
        if (accounts.length === 1) {
          this.selectedAccountId = accounts[0].id;
        }
      },

      /**
       * If the list of selectable accounts changes, and the new length of the list
       * is greater than one, we can assume an advanced account search has taken
       * place and the search-by-account-ID input should be cleared.
       */
      selectableAccounts(newAccounts = []) {
        if (newAccounts.length > 1) {
          this.applyAccountSearchString('');
        }
      },

      /**
       * HACK: The <q-input> component doesn't properly handle clear events, so
       * in the event that pendingAccountSearchString becomes empty, we need to
       * manually clear the input element.
       */
      pendingAccountSearchString(is, was) {
        if (typeof is === 'string' && is.length === 0 && typeof was === 'string' && was.length > 0) {
          this.$refs.searchByIdInput.clearHandler();
        }
      },
    },
  });
</script>
