.scale-outside {
  display: flex;
  &:before {
    content: '';
    padding-top: 33%;
  }
}

.drag-and-drop {
  display: none;
  flex: 1;
  width: calc(100%-26px);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  border: 1px solid $color-grey-11;

  &__plus_glyph {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 71px;
    color: white;
    -webkit-text-stroke: $color-grey-38 1px;
  }

  .text-file-description {
    color: $color-grey-38;
    font-weight: 300;
    font-size: $font-size-small;
    line-height: $font-size-base;
    font-style: italic;
    margin-top: 12px;
  }
  .link--drag-and-drop {
    color: $color-blue-highlight;
    margin-top: 20px;
    margin-bottom: 10px;

    &:visited {
      color: $color-blue-highlight;
    }
  }

  .upload-input + label{
    width: 167px;
  }

  @include breakpoint($break-small) {
    display: flex;

    .upload-input, .upload-label {
      display: block;
    }
  }
}

@include breakpoint($break-small) {
  .upload-input, .upload-label {
    display: none;
  }
}