<div class="scale-outside">
  <div class="drag-and-drop">
    <i class="icon icon-add drag-and-drop__plus_glyph"></i>
    {% include "@atoms/05-forms/file/file-upload.twig" %}
    <div class="text-file-description">(Packing List should be in .CSV or .XLS format ad under 10mb.)</div>
    {% include "@atoms/01-links/link/link.twig"
      with {
        link_url: "https://www.ibm.com/support/knowledgecenter/SVU13_7.2.1/com.ibm.ismsaas.doc/reference/UsersImportSimpleSample.csv?view=kc",
        link_content: "Download a sample file."
      }
    %}
  </div>
</div>

{% include "@atoms/05-forms/file/file-upload.twig" %}