.branch-details_container {
  display: flex;
  flex-direction: column;
  padding-left: 1em;

  @include breakpoint($break-small) {
    padding-left: 0;
  }

  .results-content-blocks {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    .small-grey__heading-6 {
      line-height: 25px;
      margin-top: 13px;
    }

    .return_directions {
      align-items: center;
      display: flex;
      padding-bottom: 10px;

      .icon-long-arrow-left {
        color: $color-orange;
      }

      .return__heading-6 {
        color: $color-blue;
        margin: 0;
        padding: 0 0 0 15px;
        width: 48%;
      }

      .directions__heading-6 {
        align-items: center;
        color: $color-blue;
        display: flex;
        margin-bottom: 0;
        margin-left: auto;
        margin-top: 0;
        padding: 0;
        text-align: right;
        width: 37%;

        @include breakpoint($break-small) {
          margin-right: 0;
        }
      }

      .icon-map-marker {
        color: $color-grey-69;
        font-size: 16px;
        margin-left: 15px;

        &::before {
          font-size: 16px;
        }

        @include breakpoint($break-small) {
          position: inherit;
        }
      }
    }

    .heading-2 {
      line-height: 25px;
      margin: 0;

      .address {
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 5px;
        margin-top: 1rem;

        .address-directions {
          .paragraph {
            color: $color-blue;
            text-transform: capitalize;

            &:hover {
              color: $color-text-link-hover;
              text-decoration: underline;
            }
          }
        }

        .paragraph {
          margin-bottom: 0px;
        }

        .icon-map-marker {
          margin: 5px 15px 0px 0px;
          text-align: center;
          width: 14px;
        }
      }

    }

    .branch-details-buttons {
      padding-top: 0px;

      .button {
        display: inline-block;
        margin-bottom: 7px;
        margin-top: 9px;
        text-align: center;

        width: 163px;
        @include breakpoint($break-small) {
          width: 172px;
        }
      }

      :first-child {
        margin-right: 4px;
      }
    }

    .phone-address {
      margin: 0 0 5px 5px;

      p {
        line-height: 24px;
        margin: 0;
        padding-bottom: 10px;
        padding-left: 5px;
      }

      .icon {
        height: auto;
        line-height: inherit;
        position: relative;
        top: 4px;
        width: 14px;

        &:before {
          color: $color-grey-69;
        }

      }

      .phonenumber {
        display: flex;

        .icon-phone {
          margin-right: 10px;
        }
      }

      .address {
        display: flex;

        .address-directions {
          .paragraph {
            color: $color-blue;
            text-transform: capitalize;

            &:hover {
              color: $color-text-link-hover;
              text-decoration: underline;
            }
          }
        }

        .icon-map-marker {
          margin-right: 10px;
        }
      }
    }

    .fax {
      display: flex;

      .icon-fax {
        margin-right: 10px;
      }
    }

    .manager {
      display: flex;

      .icon-user-circle {
        margin-right: 10px;
      }
    }

    .direction {
      display: flex;

      .icon-location-arrow {
        margin-right: 10px;
      }
    }
  }

  .hours-of-operation {
    margin-bottom: 1rem;

    &__header {
      margin-bottom: 15px;
    }

    .paragraph {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3px;
    }

    .table__heading-cell {
      color: $color-blue;
      font-size: $font-size-small;
      line-height: 25px;
      padding: 0;
    }

    .table__row {
      .table__cell {
        border: none;
        padding: 0;
      }
    }
  }

  .flex-video {
    height: 0;
    margin-bottom: 0.88889rem;
    margin-left: -1em;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 56.34%;
    padding-top: 0;
    position: relative;

    @include breakpoint($break-small) {
      margin-left: 0;
      margin-top: 15px;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .branch-information__heading-6 {
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .products {
    margin-bottom: 7px;
    margin-top: 10px;

    h6 {
      color: $color-grey-69;
      margin-bottom: 15px;
      margin-top: 0;
      padding: 0;
      text-transform: uppercase;
    }
    .paragraph {
      margin-bottom: 3px;
    }
  }
  
  .global-branch-content-blocks-list,
  .branch-type-content-blocks-list,
  .branch-content-blocks-list {
    margin: 0;
    h2.summary-card-title__heading-2,
    h2.heading-2 {
      margin-bottom: 15px;
    }
  }
  
  .branch-list {
    h2.summary-card-title__heading-2,
    h2.heading-2 {
      margin-bottom: 15px;
    }
  }
  
  .paragraph--type-summary-card {
    &.paragraph--view-mode-branch {
      border-top: 1px solid $color-grey-11;
      margin: 1em 0 0;
      padding: 1em 0 0;
      .summary-card-title__heading-6 {
        margin-bottom: 10px;
        margin-top: 0;
      }
      .summary-card-copy {
        margin-bottom: 3px;
        p {
          margin: 0;
        }
      }
    }
  }
}
