<div class="branch-details_container">

  <div class="results-content-blocks">
    <div class="return_directions">
      <i class="icon icon-chevron-left"></i>
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "Return to Results",
          "heading_6_blockname": "return",
        }
      %}
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "Get Directions",
          "heading_6_blockname": "directions",
        }
      %}
      <i class="icon icon-map-marker"></i>
    </div>

    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "UNITED RENTALS",
        "heading_6_blockname": "small-grey",
      }
    %}
    {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig"
      with {
        "heading_2": "General Equipment & Tools"
      }
    %}
    <em>{% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "This location offers general equipment & tool rentals",
        "paragraph_blockname": "grey",
      }
    %}</em>

    <div class="branch-details-buttons">
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_modifiers": contactus_button_modifiers,
          "button_content": "Contact Us",
          "button_url": "/"
        }
      %}

      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_modifiers": rentonline_button_modifiers,
          "button_content": "Rent Online",
          "button_url": "/"
        }
      %}
    </div>

    <div class="phone-address">
      <div class="phonenumber">
        <i class="icon icon-phone"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "325-672-0934"
          }
        %}
      </div>
      <div class="address">
        <i class="icon icon-map-marker"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "1766 S Treadaway Blvd, Abilene, TX 79602"
          }
        %}
      </div>
      <div class="fax">
        <i class="icon icon-fax"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "Fax: 913-867-5309"
          }
        %}
      </div>
      <div class="manager">
        <i class="icon icon-user"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "Manager: Pinky Brain"
          }
        %}
      </div>
      <div class="direction">
        <i class="icon icon-location-arrow"></i>
        {% include "@atoms/02-text/text/01-paragraph.twig"
          with {
            "paragraph_content": "Location ID: 123"
          }
        %}
        </div>
      </div>
    </div>


  <table class="table hours-of-operation">
    <thead>
    <tr>
      <th colspan="4" class="table__heading-cell">Hours of Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Monday</td>
      <td class="table__cell">7:00 AM - 5:00 PM</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Tuesday</td>
      <td class="table__cell">7:00 AM - 5:00 PM</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Wednesday</td>
      <td class="table__cell">7:00 AM - 5:00 PM</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Thursday</td>
      <td class="table__cell">7:00 AM - 5:00 PM</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Friday</td>
      <td class="table__cell">7:00 AM - 5:00 PM</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Saturday</td>
      <td class="table__cell">Closed</td>
    </tr>
    <tr class="table__row">
      <td colspan="2" class="table__cell">Sunday</td>
      <td class="table__cell">Closed</td>
    </tr>
    </tbody>
  </table>

    {% include "@atoms/08-video/video.twig" %}

  {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
    with {
      "heading_5": "Kansas City, MO Heavy Equipment, Aerial, Earthmoving, Material Handling Equipment & Tool Rentals",
      "heading_5_blockname": "branch-information",
    }
  %}

  {% include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": paragraph_content
    }
  %}
  <div class="products">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "PRODUCTS OFFERED AT THIS LOCATION",
        "heading_6_blockname": "branch-information",
      }
    %}

    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "Products Here"
      }
    %}
  </div>
</div>
