{#
/**
 * Available variables:
 * - form_item_wrapper_modifiers - array of modifiers to add to the base classname
 * - form_item_wrapper_blockname - blockname prepended to the base classname
 * - form_item_modifiers - array of modifiers to add to the base classname
 * - form_item_blockname - blockname prepended to the base classname
 * - form_item_label
 * - form_item_name - the name of the form
 * - form_item_required - if the form item is required or not
 * - form_item_type
 * -- allowed values:
 * --- input
 * --- select
 * --- textarea
 * - form_item_attributes
 * - select_attributes (select only)
 * -- style
 * -- options
 * -- job ? this is what I pulled from the select template
 * --- key
 * ---- value
 * ---- label
 * -
 **/
#}
<div role="main">
  <div class="wrapper">
    <h1>This is a sample form</h1>
    <form class="sample-form">
      {% for form_item in form_items %}
        {% include "@atoms/05-forms/_form-item.twig"
          with {
            "form_item_wrapper_modifiers": form_item.form_item_wrapper_modifiers,
            "form_item_wrapper_blockname": form_item.form_item_wrapper_blockname,
            "form_item_modifiers": form_item.form_item_modifiers,
            "form_item_blockname": form_item.form_item_blockname,
            "form_item_label": form_item.form_item_label,
            "form_item_name": form_item.form_item_name,
            "form_item_required": form_item.form_item_required,
            "form_item_type": form_item.form_item_type,
            "form_item_attributes": form_item.form_item_attributes,
            "select_options": form_item.select_options
            }
        %}
      {% endfor %}
    </form>
  </div>
</div>