.dashboard {

  &__carousel {
    margin: 20px 0 0 0;
    display: block;

    .VueCarousel {
      a {
        text-decoration: none;
      }

      &-wrapper {
        a {
          text-decoration: none;
        }
      }

      &-dot {
        margin-top: 5px !important;
      }

      &.center {
        .VueCarousel-inner {
          display: flex;
          justify-content: center;
        }
      }

      .map-card-title {
        position: absolute;
        top: -30px;
      }

      .icon-angle-right,
      .icon-angle-left {
        font-size: 20px;
      }

      @include breakpoint($break-large) {
        &-navigation {
          display: none;
        }
      }
    }
  }
}
