$news-tile-base: news-tile;

.#{$news-tile-base} {
  width: 100%;
  background-color: $color-blue-highlight;
  color: $white;
  display: block;
  @include fill-container;

  &:hover {
    color: $white;
  }

  &--primary {
    .#{$news-tile-base}__catagory {
      color: $color-blue-lowlight;
    }
  }

  &--secondary {
    background-color: $color-blue;
  }

  &__container {
    @include fill-container;
    padding: 2% 8%;

    @include breakpoint($break-small) {
      padding: 9%;
    }
  }

  &__catagory {
    font-family: $font-family-base;
    font-size: $font-size-small;
    color: $white;
    font-variant: none;
    font-weight: 700;
    line-height: 1.4285714286; // 20/14
    margin-bottom: 6px;

    @include breakpoint($break-small) {
      font-size: $font-size-base;
      margin-bottom: 1px;
    }
  }

  &__headline {
    font-family: $font-family-base;
    font-size: $font-size-small;
    color: $white;
    font-variant: none;
    font-weight: 700;
    line-height: 1.090909;

    @include breakpoint($break-small) {
      font-size: $font-size-base;
      line-height: 1.14285;
      margin-bottom: 17px;
    }

    @include breakpoint($break-medium) {
      font-size: $font-size-h2;
      @include calcLineHeight(22, 26);
      margin-bottom: 8px;
    }
  }
  &__date {
    font-size: $font-size-xsmall;
    color: $white;
    margin-bottom: 0;
  }
}
