<a href="{{ news_tile_path }}" class="news-tile {{ news_tile_class }}">
  <div class="news-tile__container">
    <p class="news-tile__catagory">{{ news_tile_catagory }}</p>
    <p class="news-tile__headline">{{ news_tile_headline }}</p>
    <p class="news-tile__date">{{ news_tile_date }}</p>
  </div>
</a>
