<div class="paginate-links-container">
  <ul class="paginate-links">
    <li class="left-arrow disabled"><a>«</a></li>
    <li class="number active"><a>1</a></li>
    <li class="number"><a>2</a></li>
    <li class="number"><a>3</a></li>
    <li class="number"><a>4</a></li>
    <li class="number"><a>5</a></li>
    <li class="ellipses"><a>…</a></li>
    <li class="number"><a>35</a></li>
    <li class="right-arrow"><a>»</a></li>
  </ul>
</div>
