$paginate-links-horizontal-spacing: 8px;
$paginate-links-arrow-size: 26px;

.paginate-links-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  padding: 1rem 0;
}

.paginate-links-container ul,
.paginate-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 0 !important;
  margin: 0 !important;


  /*
    Left & right arrows
  */
  .left-arrow a,
  .right-arrow a {
    @extend .icon;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-grey-11;
    color: $color-blue;
    line-height: 10px;
    height: $paginate-links-arrow-size;
    width: $paginate-links-arrow-size;
    border-radius: 50%;
    opacity: 0.75;
    cursor: pointer;
    font-size: 0;
    &:before {
      font-size: 1rem !important;
    }
  }
  .left-arrow a {
    @extend .icon-chevron-left;
  }
  .right-arrow a {
    @extend .icon-chevron-right;
  }
  .left-arrow.disabled,
  .right-arrow.disabled {
    opacity: 0.2;
    color: $color-grey-69;
    cursor: default;

    a {
      cursor: default !important;
    }
  }

  :nth-child(2) {
    :before {
      content: 'Page';
      display: inline-block;
      margin-right: 6px;
    }
  }

  li {
    display: flex;
    height: 20px;
    user-select: none;

    &:not(:last-child) {
      margin-right: $paginate-links-horizontal-spacing;
    }
    &:not(:first-child) {
      margin-left: $paginate-links-horizontal-spacing;
    }
    &.active {
      border-bottom: 2px solid $color-blue-highlight;
    }

    :hover {
      text-decoration: none;
    }
  }
}
