{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
  {# Attach the flag CSS library.#}
  {{ attach_library('flag/flag.link') }}

  {% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
  {% else %}
    {% set action_class = 'action-flag' %}
  {% endif %}

  {# Set the remaining Flag CSS classes. #}
  {% set classes = [
  'flag',
  'flag-' ~ flag.id(),
  'flag-' ~ flag.id() ~ '-' ~ flaggable.id(),
  action_class
  ] %}

  {# Set nofollow to prevent search bots from crawling anonymous flag links #}
  {% set attributes = attributes.setAttribute('rel', 'nofollow') %}

  <span class="{{classes|join(' ')}}">
    {# Depending on the flag action, change the icon that is shown. #}
    {% if action == 'unflag' %}
      <a {{ attributes }}><i class="icon icon-heart"></i></a>
    {% else %}
      <a {{ attributes }}><i class="icon icon-heart-o"></i></a>
    {% endif %}
  </span>

{#TODO: Figure out why it appears to be caching the icon that is displayed in patternlab #}
{#{% include "@molecules/favorite-project-uptime/favorite-project-uptime.twig"#}
  {#with }#}
    {#"flag_modifiers": flag_modifiers|join(' '),#}
    {#"flag_blockname": "project-uptime",#}
    {#"flag_action": action,#}
  {#}#}
{#%}#}
{% endspaceless %}
