<template>
  <field-value>
    {{ boolean }}
  </field-value>
</template>

<script>
  import ListingField from '../field/listing-field.vue';
  import BooleanFieldMixin from './booleans.mixin.vue';

  /*
   * @vuese
   * @group Field
   * Boolean Listing Field Extends Listing Field
   */
  export default {
    name: 'BooleanListingField',
    extends: ListingField,
    mixins: [BooleanFieldMixin],
    computed: {
      /*
       * @vuese
       * Switch condition
       */
      truthy() {
        return this.field.true || 'true';
      },
      /*
       * @vuese
       * Switch condition
       */
      falsy() {
        return this.field.false || 'false';
      },
      /*
       * @vuese
       * Switch condition
       */
      isTruth() {
        return this.truths.includes(this.value);
      },
      /*
       * @vuese
       * Determine if is false
       */
      isFalse() {
        return this.falses.includes(this.value);
      },
      /*
       * @vuese
       * Get the output of the boolean value
       */
      boolean() {
        if (this.isTruth) return this.truthy;
        if (this.isFalse) return this.falsy;

        return this.value;
      },
    },
  };
</script>
