.dialog-framed {

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  @include breakpoint($break-small) {
    border: 1px solid $color-grey-11;
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
    max-height: 80vh;
  }

  &__content {
    overflow: auto;
    max-height: calc(80vh - 68px);
  }

  &__footer {
    border-top: 1px solid $color-grey-11;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1 1 auto;
    justify-content: space-around;

    @include breakpoint($break-small) {
      justify-content: flex-end;

    }

    .button {
      width: 140px;

      @include breakpoint($break-small) {
        width: 150px;
        margin-right: 15px;
      }
    }
  }

  .dialog-row {
    height: 100%;

    @include breakpoint($break-small) {
      display: flex;
      flex-direction: row;
    }

    textarea {
      width: 100%;
    }

    .dialog-col {
      flex: 1 1 auto;
      padding: 0 1rem 1rem 1rem;
      width: 100%;
      min-height: 50px;
      @include breakpoint($break-small) {
        min-width: 300px;
        max-width: 40vw;
        min-height: 100px;
      }

      @include breakpoint($break-medium) {
        min-width: 340px;
      }

      &-center {
        text-align: center;
      }

      &-heading {
        .normal {
          font-weight: 300;
        }
      }
      .vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-11;

        @include breakpoint($break-small) {
          border-right: 1px solid $color-grey-11;
          border-bottom: 0;
        }
      }
      &:last-child {
        min-height: 300px;

        @include breakpoint($break-small) {
          min-height: 50px;
        }
      }
    }
  }
}

