<div class="dialog-framed">
  <div class="dialog-framed__main">
    <div class="dialog-framed__content">
      <p>Are you sure you want to perform this action?</p>
    </div>
  </div>
  <div class="dialog-framed__footer">
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        button_url: "/",
        button_content: "Cancel",
        button_modifiers: ["style-2", "secondary"]
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        button_url: "/",
        button_content: "Perform Action",
        button_modifiers: ["style-2", "filled"]
      }
    %}
  </div>
</div>
