{% include "@molecules/teaser-lists-item/teaser-list-item.twig"
   with {
      "title": node.title.value,
      "title_modifiers": ["teaser-list"],
      "image_src": node.field_presentation_image.entity.uri.value | image_style('list_thumbnail'),
      "piped_links": true,
      "content": null,
      "link_1_url": file_url(node.field_presentation_file.entity.uri.value),
      "link_1_content": "PDF Download" | t,
      "link_1_attributes": {"target": "_blank"}
   }
%}
