{{ title_suffix.contextual_links }}
{% include "@molecules/teaser-lists-item/teaser-list-item.twig"
  with {
    "title": node.title.value,
    "title_href": path('entity.node.canonical', {'node': node.id}),
    "title_modifiers": ["teaser-list"],
    "piped_links": false,
    "content": content.field_date_range,
  }
%}