{% include "@molecules/teaser-lists-item/teaser-list-item.twig"
  with {
    "title": node.title.value,
    "title_modifiers": ["teaser-list"],
    "image_src": node.field_awards_image.entity.uri.value | image_style('list_thumbnail'),
    "piped_links": false,
    "content": content|without('field_awards_image')
  }
%}