{% set accordion_label = "Learn more about " ~ node.title.value  %}
{% set accordion_list = [
    {
      "dl_term": accordion_label | t,
      "dl_definitions": [ content.body ],
    },
  ]
%}

{% include "@molecules/teaser-lists-item/teaser-list-item.twig"
  with {
    "title": node.title.value,
    "title_modifiers": ["teaser-list"],
    "image_src": node.field_leadership_profile_picture.entity.uri.value | image_style('list_thumbnail'),
    "piped_links": false,
    "content": node.field_leadership_designation.value,
    "accordion_content": true,
    "accordion_list": accordion_list,
    "accordion_blockname": "accordion"
  }
%}