{% include "@molecules/teaser-lists-item/teaser-list-item.twig"
  with {
    "title": node.title.value,
    "title_href": node.field_news_external_link.uri,
    "title_modifiers": ["teaser-list"],
    "piped_links": false,
    "content": content|without('field_news_external_link'),
  }
%}