{% set vars = {
  "title": node.title.value,
  "title_modifiers": ["teaser-list"],
  "image_src": node.field_report_image.entity.uri.value | image_style('list_thumbnail'),
  "piped_links": true,
  "content": null,
  }
%}

{% if node.field_report_file[0] and node.field_report_file[0].description is not empty %}
  {% set vars = vars|merge({
    "link_1_url": file_url(node.field_report_file[0].entity.uri.value),
    "link_1_content": node.field_report_file[0].description | t,
    "link_1_attributes": {"target": "_blank"}
  })
  %}
{% endif %}

{% if node.field_report_file[1] and node.field_report_file[1].description is not empty %}
  {% set vars = vars|merge({
    "link_2_url": file_url(node.field_report_file[1].entity.uri.value),
    "link_2_content": node.field_report_file[1].description | t,
    "link_2_attributes": {"target": "_blank"}
  })
  %}
{% endif %}

{% include "@molecules/teaser-lists-item/teaser-list-item.twig" with vars %}
