<template>
  <div class="platform-account-reservation-details-status">
    <h6 class="breadcrumb__link">
      <span v-if="quote">
        <a v-if="transTypeId === 'Q'" class="stopEditing" @click.prevent="goToManage">{{ $i18n('reservationView.allQuotes') }}</a>
        <a v-else class="stopEditing" href="#" @click.prevent="goBack">{{ $i18n('reservationView.allReservations') }}</a>

        <span v-if="transTypeId === 'Q'">/{{ $i18n('ur.quotesLabel') }}</span>
        <span v-else>/ {{ $i18n('reservationView.reservationNumber') }}</span>

        <span v-if="quote.requisitionId && transTypeId === 'R'">#{{ quote.requisitionId }}</span>
        <span v-else-if="quote.quoteId && transTypeId === 'Q'">#{{ quote.quoteId }}</span>
        <span v-else>#{{ quote.requisitionId }}</span>
      </span>
      <span>
        <template v-if="small || medium">
          <kebab-menu :open="false" :icon-class="iconClass"></kebab-menu>
        </template>
      </span>
    </h6>

    <h1>
      {{ jobsite.name }}
      <span v-if="quote.requisitionId && transTypeId === 'R'">#{{ quote.requisitionId }}</span>
      <span v-else-if="quote.quoteId && transTypeId === 'Q'">#{{ quote.quoteId }}</span>
      <span v-else>#{{ quote.requisitionId }}</span>
    </h1>

    <div :class="{'group-left' : !small, 'group-full': small}"></div>

    <div v-if="small" class="">
      <div class="platform-account-reservation-details-status__container">
        <div class="group-full">
          <p>
            <span class="label">
              {{ $i18n('reservationView.accountName') }}:
            </span>
              {{ account.name }}
          </p>
          <p></p>
          <p>
            <span class="label">
              {{ $i18n('reservationView.accountNumber') }}:
            </span>
            {{ quote.accountId }}
          </p>
          <p>
            <span class="label">
              {{ $i18n('reservationView.items') }}:
            </span>
              {{ itemCount }}
          </p>
        </div>
      </div>
    </div>
    <div v-else class="group-right">
      <div class="platform-account-reservation-details-status__container">
        <div class="inner-column_centered">
          <span class="label">
            {{ $i18n('reservationView.accountName') }}:
          </span>
            {{ account.name }}
        </div>
        <div class="inner-column_centered"></div>

      </div>

      <div class="platform-account-reservation-details-status__container">
        <div class="inner-column_centered">
          <span class="label">
            {{ $i18n('reservationView.accountNumber') }}:
          </span>
          {{ quote.accountId }}
        </div>
        <div class="inner-column_centered">
            <span class="label">
              {{ $i18n('reservationView.items') }}:
            </span>
          {{ itemCount }}
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';
  import KebabMenu from '@/components/common/ur-kebab-menu.vue';

  export default {
    name: 'object-details-status',
    components: {
      KebabMenu,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        account(state) {
          return state.accounts.all[this.quote.accountId];
        },
        jobsite(state) {
          return state.jobs.all[this.quote.accountId][this.quote.jobsite.id];
        },
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      itemCount() {
        return Object.values(this.estimate.items).reduce((count, item) => count + Number(item.quantity), 0);
      },
    },
    data() {
      return {
        iconClass: 'icon-more-vert',
      };
    },
    methods: {
      goBack() {
        this.$router.go(-1);
      },
      goToManage() {
        window.location = `/manage#/manage/${this.defaultAccountId}/orders/?orderStatus[0]=Quoted`;
      },
    },
    props: {
      transTypeId: String,
      quote: Object,
      estimate: Object,
    },
  };
</script>
