<template>
  <div v-if="!hasEstimate" :class="{'shimmer': !hasEstimate}" class="quote-component-shimmer"/>
  <div v-else>
  <div v-if="small && !canEditForConvert" class="platform-account-reservation-details-billing">
    <div class="group-full">
      <div class="quote-billing-title-cont">
        <p class="section_name">{{ $i18n('reservationView.billing') }}</p>
      </div>
      <div class="platform-account-reservation-details-billing__container">
        <div class="inner-column_centered">
          <p class="label">{{ $i18n('reservationView.accountName') }}</p>
          <p>{{ account.name }} - {{ quote.accountId }}</p>
        </div>
        <div class="inner-column_centered">
          <p class="label">{{ $i18n('reservationView.requestor') }}</p>
          <p>{{ quote.requesterName }}</p>
        </div>

        <div class="inner-column_centered">
          <p class="label">{{ $i18n('reservationView.approver') }}</p>
          <p>{{ quote.approverName ? quote.approverName : $i18n('reservationView.noApprover') }}</p>
        </div>
      </div>
    </div>
  </div>
  <div v-else-if="!small && !canEditForConvert" class="platform-account-reservation-details-billing no-border">
    <div class="group-left">
      <p class="section_name">{{ $i18n('reservationView.billing') }}</p>
    </div>

    <div class="group-right" v-if="!canEditForConvert">
      <div class="billing-data-group">
        <div class="group-full" v-if="transTypeId === 'R'">
          <h4>{{ $i18n('reservationView.billingInformation') }}</h4>
        </div>
        <div class="platform-account-reservation-details-billing__container">
          <div class="inner-column_centered">
            <p class="label">{{ $i18n('reservationView.accountName') }}</p>
            <p>{{ account.name }} - {{ account.id }}</p>
          </div>
        </div>

        <div class="platform-account-reservation-details-billing__container">
          <div class="inner-column_centered">
            <p class="label">{{ $i18n('reservationView.requestor') }}</p>
            <p>{{ quote.requesterName }}</p>
          </div>
          <div class="inner-column_centered">
            <p class="label">{{ $i18n('reservationView.approver') }}</p>
            <p>{{ quote.approverName ? quote.approverName : $i18n('reservationView.noApprover') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="platform-account-reservation-details-billing__container">
      <convert-quotes-billing
        :transTypeId="transTypeId"
        :quote="quote"
        :estimate="estimate"
        :account="account"
        :hideEditLink="hideEditLink"
        :hideDecline="hideDecline"
        :hideRppBlock="hideRppBlock"
        :termsChecked="termsChecked"
        @termsChanged="setTerms"
        @noPoChanged="setNoPoChanged"
        @error="setError"
        @expired="setExpired"/>
    </div>
  </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState, mapActions } from 'vuex';
  import ConvertQuotesBilling from '@/components/platform-account/quotes/convert-quote/billing/convert-quotes-billing.vue';
  import types from '@/store/types';
  import { isEmpty } from 'lodash';

  export default {
    name: 'object-details-billing',
    components: {
      ConvertQuotesBilling,
    },
    data() {
      return {
        isOpen: true,
        reqCodesFetched: false,
      };
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'getRequisitionCodes',
      ]),
      ...mapState({
        accountingCodesLen(state) {
          return Object.values(state.accountingRequisitionCodes.all[this.$route.params.requisitionId]
            || state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
            .filter(({ codeType }) => codeType === 'A')
            .length;
        },
        defaultAccountId: state => state.user.defaultAccountId,
        requisitionCodesLen(state) {
          return Object.values(state.accountingRequisitionCodes.all[this.$route.params.requisitionId]
            || state.accountingRequisitionCodes.all[this.quote.quoteId] || {})
            .filter(({ codeType }) => codeType === 'R').length;
        },
      }),
      hasEstimate() {
        return !isEmpty(this.estimate);
      },
    },
    methods: {
      ...mapActions({
        fetchAccountingRequisitionCodes: types.accountingRequisitionCodes.fetch,
      }),
      fetchRequisitionCodes() {
        const accountId = this.defaultAccountId;
        const transId = this.quote.quoteId || this.quote.requisitionId;
        this.fetchAccountingRequisitionCodes({ accountId, transId });
        this.reqCodesFetched = true;
      },
      toggleOpen() {
        this.isOpen = !this.isOpen;
        this.$emit('editBillingIsOpen', { status: this.isOpen, name: this.$options.name });
      },
      save() {
        this.saveForm({ requestId: this.quote.requisitionId, id: this.account.id, reservationId: this.quote.quoteId });
        this.toggleOpen();
      },
      setTerms() {
        this.$emit('termsChanged');
      },
      setNoPoChanged(value) {
        this.$emit('noPoChanged', value);
      },
      setError(input) {
        this.$emit('error', input);
      },
      setExpired(input) {
        this.$emit('expired', input);
      },
    },
    mounted() {
      if (this.hasEstimate) {
        this.fetchRequisitionCodes();
      }
    },
    props: {
      transTypeId: String,
      quote: Object,
      estimate: Object,
      account: Object,
      canEdit: {
        type: Boolean,
        default: true,
      },
      canEditForConvert: Boolean,
      hideEditLink: Boolean,
      hideDecline: Boolean,
      hideRppBlock: Boolean,
      termsChecked: Boolean,
    },
    watch: {
      hasEstimate(value) {
        if (value) {
          this.fetchRequisitionCodes();
        }
      },
    },
  };
</script>
