<template>
  <div v-if="small" class="platform-account-reservation-details-delivery-pickup">
    <div v-if="input.transTypeId === 'Q' && input.totals" class="group-full edit-quote-delivery-pickup-method-selector">
      <pickup-select
        :estimatedPickupFee="0"
        :returnType="this.returnTypeCode"
        :value="this.returnTypeCode">
      </pickup-select>
    </div>
    <div class="group-full">
    </div>
    <div class="calendar_container">
      <ur-calendar
        :base-class="showInputError ? 'input-error' : ''"
        :selected-moment="dateObject"
        :min-date="min"
        :label="returnDateFieldLabel"
        :disableWeekends="disableWeekends"
        :satOff="satOff"
        :sunOff="sunOff"
        @date-select="newPickupDate"
        class="calendar_end"
      ></ur-calendar>
    </div>
    <div>
      <end-time-select
        :block="{pickup: input.pickup === 'Y', endMoment: dateObject}"
        :value="endTime"
        :converted-date="convertedDate"
        :branch-times="input.openHours"
        :returnType="this.returnTypeCode"
        @fireTimeError="fireTimeError"
        @change="newPickupTime"/>
    </div>

    <div class="advanced-pickup-checkbox" v-if="input.pickup === 'Y' ">
      <i class="icon icon-info-circle"></i>
      <!--Only for UR Pickup-->
      <strong>
        <template v-if="returnTypeCode === 'Y'">{{ $i18n('cart.estimatedTimeMessage') }}</template>
        <template v-else>{{ $i18n('cart.scheduledTimeMessage') }}</template>
      </strong>
    </div>

  </div>

  <div v-else class="platform-account-reservation-details-delivery-pickup__container">
    <div v-if="input.transTypeId === 'Q' && input.totals" class="inner-column_tree-column edit">
      <pickup-select
        :estimatedPickupFee="0"
        :returnType="this.returnTypeCode"
        :value="this.returnTypeCode">
      </pickup-select>
    </div>

    <div class="group-full">
      <!-- IT's not in designs for Convert Quote but on Edit Quotes -->
      <!-- <p v-if="reservationDetails.urWillPickup === 'Y' || reservationDetails.pickup === 'Y'">
        <strong>{{ $i18n('reservationView.urPickup') }}</strong>
      </p>
      <p v-else>
        <strong>{{ $i18n('reservationView.userDropOff') }}</strong>
      </p> -->
    </div>
    <div class="inner-column_five-column edit calendar_container">
      <ur-calendar
        :base-class="showInputError ? 'input-error' : ''"
        :selected-moment="dateObject"
        :min-date="minObject"
        :label="returnDateFieldLabel"
        :disableWeekends="disableWeekends"
        :satOff="satOff"
        :sunOff="sunOff"
        @date-select="newPickupDate"
        class="calendar_end"/>
    </div>
    <div class="inner-column_five-column edit">
      <end-time-select
        :block="{pickup: input.pickup === 'Y', endMoment: dateObject}"
        :value="endTime"
        :converted-date="convertedDate"
        :branch-times="input.openHours"
        :returnType="this.returnTypeCode"
        @fireTimeError="fireTimeError"
        @change="newPickupTime"/>
    </div>

    <div class="advanced-pickup-checkbox" v-if="input.pickup === 'Y' ">
      <i class="icon icon-info-circle"></i>
      <!--Only for UR Pickup-->
      <strong>
        <template v-if="returnTypeCode === 'Y'">{{ $i18n('cart.estimatedTimeMessage') }}</template>
        <template v-else>{{ $i18n('cart.scheduledTimeMessage') }}</template>
      </strong>
    </div>

  </div>
</template>
<script>
  import { mapGetters } from 'vuex';
  import { isEmpty } from 'lodash';
  import { dateFormat } from '@/utils';
  import UrCalendar from '@/components/common/ur-calendar.vue';
  import EndTimeSelect from '@/components/cart/reservation-block/delivery-pickup/end-time-select.vue';
  import PickupSelect from '@/components/platform-account/quotes/convert-quote/pickup-delivery/pickup-select.vue';
  // import types from '@/store/types';
  import moment from 'moment';

  export default {
    components: {
      EndTimeSelect,
      UrCalendar,
      PickupSelect,
    },
    created() {
      this.$root.$on('pickup-select-change', this.onPickupSelect);
      this.$root.$on('delivery-select-change', this.onDeliverySelect);
    },
    data() {
      return {
        endTime: '',
        returnTypeCode: '',
      };
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      dateObject() {
        return this.date;
      },
      minObject() {
        return moment(this.min);
      },
      // Set this as TRUE only if satHours and sunHours, BOTH are empty.
      disableWeekends() {
        return isEmpty(this.sunHours) && isEmpty(this.satHours);
      },
      satOff() {
        return isEmpty(this.satHours);
      },
      sunOff() {
        return isEmpty(this.sunHours);
      },
      returnDateFieldLabel() {
        switch (this.returnTypeCode) {
          case 'A':
            return this.$i18n('checkout.UrPickupDate');
          case 'Y':
            return this.$i18n('checkout.UrEstimatedPickupDate');
          default:
            return this.$i18n('checkout.dropOffDate');
        }
      },
    },
    methods: {
      newPickupDate(value) {
        const tempHours = this.dateObject.hours();
        const tempMinutes = this.dateObject.minutes();
        const newPickup = value.set({
          hours: tempHours,
          minutes: tempMinutes,
        }).format(dateFormat.iso);
        this.handleEmit('new-pickup-date', newPickup);
      },
      newPickupTime(value) {
        const newHour = value.substring(0, value.indexOf(':'));
        const newMinute = value.substring(value.indexOf(':') + 1);
        const newDate = this.dateObject.set({
          hour: newHour,
          minute: newMinute,
        }).format(dateFormat.iso);
        this.handleEmit('new-pickup-date', newDate);
      },
      onPickupSelect(selectedOption) {
        this.handleEmit('new-pickup-method', selectedOption !== 'userReturn' ? 'yes' : 'no');
        this.$nextTick(() => {
          this.returnTypeCode = selectedOption;
        });
      },
      onDeliverySelect(selectedOption) {
        this.returnTypeCode = selectedOption === 'yes' ? 'Y' : 'N';
      },
      handleEmit(type, value) {
        this.$emit('change', { type, value });
      },
      fireTimeError(value) {
        // pushes up the value to fire the error if value is 0.
        this.$emit('fireTimeError', value);
      },
    },
    mounted() {
      this.endTime = this.dateObject.format('HH:mm');
      this.returnTypeCode = this.returnType;
    },
    watch: {
      date() {
        this.endTime = this.dateObject.format('HH:mm');
      },
    },
    props: {
      input: Object,
      date: Object,
      min: Object,
      showInputError: Boolean,
      convertedDate: Object,
      satHours: Object,
      sunHours: Object,
      returnType: String,
    },
  };
</script>
