<template>
  <div v-if="!hasEstimate" :class="{'shimmer': !hasEstimate}" class="quote-component-shimmer"/>
  <div v-else>
    <div class="platform-account-reservation-details-item" :class="progress">
      <template v-for="(item, key) in equipment">
        <div class="editable-cart-item" :key="key">
          <div class="cart__item">
            <div class="cart__details">

              <div class="cart__img group-left">
                <img height="44" width="44"
                     :src="allEquipment[key] && allEquipment[key].images[0] && allEquipment[key].images[0].link"
                     :alt="allEquipment[key] && allEquipment[key].images[0] && allEquipment[key].images[0].alt"
                />
              </div>

              <div class="group-right">
                <div>
                  <p class="cart__cat_class_code">{{ $i18n('catalog.catClassCode') }}{{ key }}</p>
                  <p class="cart__details__name">{{ getTitle(key) }}</p>

                  <div v-if="loading" class="object-listing-spinner">
                    <ur-loading-spinner></ur-loading-spinner>
                  </div>

                  <div v-else-if="!opened" class="cart__details__content">
                    <p><strong>{{ $i18n('cartItem.qty') }}:</strong> {{ item.quantity }} at ~ {{ rateTimeFrame(key).rate | decimalCurrency }} {{ $i18n('reservationView.' + rateTimeFrame(key).unit) }}</p>
                    <p><strong>{{ $i18n('cartItem.duration') }}:</strong> {{ startDate | momentSlashFormat }} - {{
                      returnDate | momentSlashFormat}}</p>
                  </div>

                  <div v-else class="cart__details__content">
                    <div class="cart__editing__body">
                      <div class="cart__editing__section-1">
                        <div class="left-quantity">
                          <transaction-quantity-selector
                            :quantity="parseInt(item.quantity)"
                            :cat-class="key"
                            :rateEach="rateEach(key)"
                            @change="handleQuantityChange">
                          </transaction-quantity-selector>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="cart__details__pricing">
                <span class="chip-tooltip">
                  <ur-chip v-if="item.hasContractPricing" :label="$i18n('rates.contract')"
                           :ttMessage="$i18n('rates.contractTooltip')"></ur-chip>
                  <ur-chip v-else background-color="#008cff" :label="$i18n('rates.web')"
                           :ttMessage="$i18n('rates.webTooltip')"></ur-chip>
                </span>
                  <span>{{ rentalAmount(key) | decimalCurrency  }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </template>
      <div v-if="!opened" class="controls-container">
        <div class="group-left" v-if="showEditButton">
          <div class="cart__item">
            <!--For the styling issues lets leave it like this. -->
          </div>
        </div>
        <div class="group-right" v-if="showEditButton">
          <a @click="toggleOpen">{{ $i18n('ur.edit') }}</a>
        </div>
      </div>
      <div v-else class="controls-container">
        <div class="group-left">
        </div>
        <div class="group-right">
          <div class="edit-btn-div__edit-item">
            <button class="button button--style-2 button--filled" @click="save()">
              {{ $i18n( 'ur.save') }}
            </button>
          </div>
          <div class="cancel-btn-edit button-div__edit-item">
            <button class="button button--style-2 button--filled-reverse" @click="cancel()">
              {{ $i18n( 'ur.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters } from 'vuex';
  import moment from 'moment';
  import UrChip from '@/components/common/ur-chip.vue';

  import { isEmpty, get } from 'lodash';

  import TransactionQuantitySelector from '@/components/platform-account/common/transaction-quantity-selector.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  export default {
    name: 'object-details-item',
    components: {
      TransactionQuantitySelector,
      UrChip,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      statusChipClass() {
        const map = {
          SCD: 'scheduled',
          PND: 'pending',
          PRG: 'inprogress',
          CMP: 'completed',
          CXL: 'cancelled',
          QTC: 'cancelled',
        };

        return map[this.quote.orderStatusCode];
      },
      nonEditableStat() {
        return this.statusChipClass === 'cancelled' || this.statusChipClass === 'completed' || (this.hideEditLink && !this.opened);
      },
      startDate() {
        if (this.estimate) {
          const startDate = moment(this.estimate.startDate);
          return moment(startDate).toDate().toUTCString();
        }
        return null;
      },
      returnDate() {
        if (this.estimate) {
          const returnDate = moment(this.estimate.returnDate);
          return moment(returnDate).toDate().toUTCString();
        }
        return null;
      },
      showEditButton() {
        return this.canEdit && this.isEditable && !this.nonEditableStat && this.progress !== 'complete';
      },
      hasEstimate() {
        return !isEmpty(this.estimate) && !isEmpty(get(this.estimate, ['items'], []));
      },
    },
    data() {
      return {
        canEdit: true,
        opened: false,
        show: false,
        openHeight: 0,
        disabledTextInputs: false,
        currentQuantity: 0,
        equipment: {},
      };
    },
    methods: {
      setEquipment() {
        this.equipment = JSON.parse(JSON.stringify(this.estimate.items));
      },
      handleQuantityChange(item) {
        this.equipment[item.catClass].quantity = item.quantity;
      },
      rateTimeFrame(catClass) {
        if (!isEmpty(this.estimate)) {
          if (moment(this.estimate.returnDate).diff(moment(this.estimate.startDate), 'months') >= 1) {
            return { rate: this.estimate.items[catClass].monthRate, unit: 'perMonth' };
          }
          if (moment(this.estimate.returnDate).diff(moment(this.estimate.startDate), 'days') >= 7) {
            return { rate: this.estimate.items[catClass].weekRate, unit: 'perWeek' };
          }
          return { rate: this.estimate.items[catClass].dayRate, unit: 'perDay' };
        }
        return 0;
      },
      rateEach(catClass) {
        return Math.ceil(this.estimate.items[catClass].individualTotal);
      },
      rentalAmount(catClass) {
        if (!isEmpty(this.estimate)) {
          return this.estimate.items[catClass].total;
        }
        return 0;
      },
      toggleOpen() {
        this.opened = !this.opened;
        this.$emit('editItemQtyIsOpen', { status: this.opened, name: this.$options.name });
      },
      cancel() {
        this.toggleOpen();
        this.equipment = this.estimate.items;
        this.setEquipment();
      },
      save() {
        this.toggleOpen();
        this.$emit('saveQuantity', this.equipment);
      },
      getTitle(key) {
        if (this.allEquipment[key]) {
          return get(this.allEquipment[key], ['title'], '');
        }
        return get(this.quote, `items[${key}].dalDescription`, '');
      },
    },
    mounted() {
      if (this.hasEstimate) {
        this.setEquipment();
      }
    },
    props: {
      allEquipment: Object,
      transTypeId: String,
      quote: Object,
      estimate: Object,
      progress: String,
      loading: Boolean,
      isEditable: Boolean,
      hideEditLink: Boolean,
    },
    watch: {
      hasEstimate(value) {
        if (value) {
          this.setEquipment();
        }
      },
    },
  };
</script>
<style lang="scss" scoped>
  @import '01-variables';
  @import 'breakpoints';
  @import '~breakpoint-sass/stylesheets/breakpoint';

  .platform-account-reservation-details-item {
    display:block;
    padding:inherit;

    .group-left, .group-right {
      padding-top:0;
    }

    .controls-container{
      display: flex;
      padding: 0;

      .group-right {
        display:flex;
      }
      .group-left, .group-right {
        padding-bottom:20px;
      }
    }
    .editable-cart-item .cart__item, .controls-container {
      padding-left: 0px;
      padding-right: 0px;

      @include breakpoint($break-small) {
        padding-left: 10px;
        padding-right: 27px;
      }
    }

    .editable-cart-item {
      border:none;
      .cart__item {
        padding-bottom: 0;
      }
    }

    > div:nth-last-of-type(2) {
      padding-bottom:27px;
    }

    .cart__img {
      margin: 0;
    }

    .cart__details {
      margin-top:inherit;

      .group-right {
        justify-content: space-between;
        flex-direction: row;
      }
    }

    .cart__editing__body {
      .cart__editing__section-1 {
        padding-bottom:0;
      }
      .left-quantity {
        &.more_less_buttons{
          justify-content: inherit;
        }
        /deep/ input {
          max-width: 60px;
          @include breakpoint($break-small) {
            max-width: inherit;
          }
        }
      }
    }

    .cart__details__pricing {
      position: inherit;
      right: inherit;
    }

    .cart__img.group-left, .controls-container .group-left {
      min-width:73px;
    }

    .edit-btn-div__edit-item, .button-div__edit-item {
      width: auto !important; //override _reservation_details !important
      button {
        min-width: 60px;
      }
    }
  }


</style>
