<template>
  <p>{{ $i18n('ur.viewing') }} {{ resultsRange }} {{ $i18n('ur.of') }} {{ resultsCount }}
    <template v-if="ratesPlaceAddress.length > 0">{{ $i18n('ur.resultsFor') }} {{ ratesPlaceAddress }}</template>
  </p>
</template>
<script type="text/babel">
  import { mapGetters } from 'vuex';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      resultsRange() {
        const { currentPage, per } = this.pagination;

        if (!per) {
          return '';
        }

        const start = (currentPage * per) + 1;
        const potentialEnd = (currentPage + 1) * per;

        const end = (this.resultsCount < potentialEnd) ? this.resultsCount : potentialEnd;

        return `${start}-${end}`;
      },
      resultsCount() {
        const { list } = this.pagination;
        return list && list.length;
      },
    },
    name: 'resultMessage',
    props: {
      pagination: {
        type: Object,
        required: true,
        default() {
          return {};
        },
      },
    },
  };
</script>
