.accounting-codes__delete-button {
  position: absolute;
  right: -1rem;
  top: 1.5rem;

  .icon-close:before {
    content: "\e5cd";
  }
}

.requisition-codes,
.accounting-codes {
  flex-wrap: wrap;
  position: relative;

  > .column {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;

    @include breakpoint($break-small) {
      max-width: 50%;
      width: 50%;
      flex: 1 1 50%;
    }

    @include breakpoint($break-small) {
      &:nth-child(2n+0) {
        // Evens
        padding-left: .5rem;
      }

      &:nth-child(2n+1) {
        // Odds
        padding-right: .5rem;
      }
    }

    .form-item {

      label {
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
      }

      input,
      select {
        height: 32px;
        min-width: 126px;
        margin: 0;
      }
    }
  }
}

.requisition-codes {
  // Make sure the 3rd and 4th form items for req codes does not have margin
  > .column {
    @include breakpoint($break-small) {
      &:nth-child(3),
      &:nth-child(4){
        margin-bottom: 0;
      }
    }
  }

  &__container {
    padding-bottom: 36px;
    margin-bottom: 21px;
    border-bottom: 1px solid $color-grey-11;

    .reservation-heading {
      margin-bottom: 19px;
    }
  }
}

.allocation-codes {
  flex-grow: 1;
}

@include breakpoint($break-small) {
  .allocation-codes .allocation-codes {
    width: 100%;
  }
}

.accounting-codes {

  &__container {
    border-bottom: 1px solid $color-grey-11;
    padding-top: 31px;
    padding-bottom: 21px;
    position: relative;

    &:first-of-type {
      .accounting-codes__delete-button {
        display: none;
      }
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }


    .reservation-heading {
      margin-bottom: 19px;
    }

    div.accounting-codes {
      display: flex;
      flex-direction: column;

      @include breakpoint($break-small) {
        flex-direction: row;
      }
    }
  }


}
