<div class="accounting-codes__container">
  <p class="heading-3">Accounting Codes</p>
  <div class="accounting-codes accounting-codes-0">
    <div class="accounting-code column">
      <div class="form-item">
        <div class="calendar_start">
          <label class="undefined__label">Start Date</label>
          <input id="calendar-da397338bbe22" readonly="readonly" type="text" class="undefined__input">
        </div>
      </div>
    </div>
    <div class="accounting-code column">
      <div class="form-item">
        <label for="select-0-1">THISISTITLE1</label>
        <div class="select">
          <select name="select-0-1" data-accounting-block="0" data-id="1" class="dropdown-style1">
            <option value="default">Select codes</option>
            <option value="AC1 HERE">AC1 HERE</option>
            <option value="AC1 HERE 2">AC1 HERE 2</option>
            <option value="AC1 HERE 3">AC1 HERE 3</option>
            <option value="AC1 HERE 4">AC1 HERE 4</option>
            <option value="AC1 HERE 5">AC1 HERE 5</option>
            <option value="FIELD 1 CODE 4">FIELD 1 CODE 4</option>
            <option value="FIELD 1 CODE 5">FIELD 1 CODE 5</option>
          </select>
          <i class="icon icon-angle-down"></i>
          </div>
      </div>
    </div>
    <div class="accounting-code column">
      <div class="form-item">
        <label for="text-0-2">THISISTITLE2</label>
        <input type="text" name="text-0-2" data-accounting-block="0" data-id="2" placeholder="">
      </div>
    </div>
    <div class="accounting-code column">
      <div class="form-item">
        <label for="text-0-3">THISISTITLE3...</label>
        <input type="text" name="text-0-3" data-accounting-block="0" data-id="3" placeholder="">
      </div>
    </div>
    <div class="accounting-code column">
      <div class="form-item">
        <label for="">Percentage</label>
        <input type="text" name="" placeholder="" data-accounting-block="0" data-id="splitPerc" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
      </div>
    </div>
  </div>
  <p class="link">
    <i class="icon icon-add"></i>
    Add another set of codes</p>
</div>