$spinner-color: $color-grey-38 !default;
$spinner-size: $font-size-h1 !default;

.spinner {
  animation: spinning 1s infinite steps(12);
  background: url(../images/loading-spinner.svg) center no-repeat;
  font-size: $spinner-size;
  position: relative;
  top: 5px;
  margin: 0 10px;
  display: inline-block;
  width: 1em;
  height: 1em;

  &.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
