<div class="spinner {{ spinner_location }}">
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
  <div class="spinner-blade"></div>
</div>