<template>
  <div>
    <label class="reservation-heading heading-5">{{ $i18n('checkout.accountingCodes') }}</label>

    <transition-group name="tbSlideFade" tag="div">

      <div v-for="(fieldset, fieldsetId, key) in formStructure" :key="'fieldset-' + key" class="accounting-codes__container">

        <!-- Delete Fieldset button -->
        <a v-if="editing" @click.prevent.stop="deleteFieldsetFromFormStructure(fieldsetId)" class="accounting-codes__delete-button"><i class="icon icon-button icon-close"></i></a>

        <div class="accounting-codes">

          <!-- Start Date Control -->
          <div class="accounting-code__column">
            <div class="form-item" v-if="editing">
              <ur-calendar :label="fieldset.startDate.label" :selected-moment="formValues[fieldsetId][fieldset.startDate.id]" @date-select="value => onDateChange(value, fieldset, fieldsetId)"></ur-calendar>
              <ur-error-label v-if="$v.formValues[fieldsetId][fieldset.startDate.id] && $v.formValues[fieldsetId][fieldset.startDate.id].$error" message="Please select a date within the rental period"></ur-error-label>
            </div>
            <div v-else class="form-item">
              <label class="form-item__label form-item__label--textfield">{{ fieldset.startDate.label }}</label>
              <p>{{ formValues[fieldsetId][fieldset.startDate.id] | momentSlashFormat }}</p>
            </div>
          </div>

          <!-- Custom Form Controls -->
          <div class="accounting-code__column" v-for="(control, controlId) in fieldset.custom" :key="controlId">
            <div class="form-item" v-if="editing">
              <template v-if="control.isTypeText">
                <ur-text-input :label="control.label" :value="formValues[fieldsetId][controlId]" @change="value => onCustomFormControlValueChange(value, control, fieldsetId)"></ur-text-input>
              </template>
              <template v-if="control.isTypeSelect">
                <ur-select :label="control.label" :value="formValues[fieldsetId][controlId]" @change="value => onCustomFormControlValueChange(value, control, fieldsetId)">
                  <option v-for="entry in control.options" :key="entry" :value="entry">{{entry}}</option>
                </ur-select>
              </template>
              <ur-error-label v-if="$v.formValues[fieldsetId][controlId] && $v.formValues[fieldsetId][controlId].$error" message="Required"></ur-error-label>
            </div>
            <div class="form-item" v-else-if="formValues[fieldsetId][controlId]">
              <label class="form-item__label form-item__label--textfield">{{ control.label }}</label>
              <p>{{ formValues[fieldsetId][controlId] }}</p>
            </div>
          </div>

          <!-- Percentage Form Control -->
          <div class="accounting-code__column">
            <div class="form-item" v-if="editing">
              <ur-text-input mask="000" type="tel" :label="fieldset.percentage.label" :value="String(formValues[fieldsetId][fieldset.percentage.id])" @input="value => onPercentageChange(value, fieldset, fieldsetId)"></ur-text-input>
              <ur-error-label v-if="$v.formValues[fieldsetId][fieldset.percentage.id] && $v.formValues[fieldsetId][fieldset.percentage.id].$error" message="Percentage cannot exceed 100"></ur-error-label>
            </div>
            <div class="form-item" v-else>
              <label class="form-item__label form-item__label--textfield">{{ fieldset.percentage.label }}</label>
              <p>{{ formValues[fieldsetId][fieldset.percentage.id] }}</p>
            </div>
          </div>
        </div>
      </div>
    </transition-group>

    <template v-if="editing">
      <p class="link" @click="addFieldsetToFormStructure"><i class="icon icon-add"></i> {{ $i18n('checkout.addNewCodes') }}</p>
    </template>

    <ur-error-label v-if="$v.percentages.$error" message="Percentages for Codes sharing the same Start Date must add up to 100 percent."></ur-error-label>
    <ur-error-label v-if="$v.startDates.$error" message="At least one accounting code must begin when the rental begins."></ur-error-label>

  </div>
</template>
<style lang="scss" scoped>
  @import 'styles/globals';

  .cart-block .info-section {
    .accounting-codes__container {
      padding-top: 0;

      .accounting-codes {
        justify-content: space-between;
      }

      .accounting-code__column {
        width: 100%;

        @include media('>=s') {
          width: 46%;
        }
      }

    }
  }

</style>

<script>
  // Import Modules
  import UrCalendar from '@/components/common/ur-calendar';
  import UrSelect from '@/components/common/form/ur-select';
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import { between, required } from 'vuelidate/lib/validators';

  import { mapActions } from 'vuex';
  import types from '@/store/types';
  import { cloneDeep, forOwn, get, groupBy } from 'lodash';
  import ReservationBlock from '@/lib/reservation-block';
  import moment from 'moment';

  export default {
    components: {
      UrCalendar,
      UrSelect,
      UrTextInput,
      UrErrorLabel,
    },
    computed: {

      /**
       * A Fieldset Structure is derived from the user's accounting codes,
       * and includes all the data required to render the template.
       *
       * This data includes:
       *   - form control type
       *   - form control label
       *   - form control <options>
       *   - form control validation schema (simple)
       *
       * @return {object} | fieldset data
       */
      fieldsetStructure() {
        const structure = {};

        // The first form control will always be a Start Date field
        structure.startDate = {
          id: 'startDate',
          label: Drupal.t('Start Date'),
        };

        // A fieldset may have up to 4 custom form controls, based off the user's Accounting Codes
        structure.custom = this.accountingCodes.reduce((controls, field) => {
          controls[field.id] = {
            id: field.id,
            label: makeTitle(field.title),
            isTypeSelect: field.validated === 'Y',
            isTypeText: field.validated !== 'Y',
            options: field.validated === 'Y' ? field.valueList : null,
            required: field.required === 'Y',
            triggers: field.triggers,
          };

          return controls;
        }, {});

        // The final form control is always an allocation percentage field
        structure.percentage = {
          id: 'percentage',
          label: Drupal.t('Percentage'),
        };

        return structure;
      },

      /**
       * Identifies Fieldsets grouped by the same Start Date, and
       * reports the sum of the groups' Percentage Fields.
       * @return {object} Percentage tallies for Fieldset Groups
       */
      percentages() {
        // Group the fieldsets by similar start date
        const fieldsetGroups = groupBy(this.formValues, fieldset => fieldset.startDate.format('MM/DD/YYYY'));

        // For each group of fieldsets, their percentage fields must add up to 100.
        // We return the sum of the percentage fields within each group.

        const percentages = {};

        forOwn(fieldsetGroups, (fieldsets, key) => {
          percentages[key] = fieldsets.reduce((total, fieldset) => total + Number(fieldset.percentage || 0), 0);
        });

        return percentages;
      },

      /**
       * Return a list of all start date fields (for validation).
       * (See validations > startDates > startsWithRental)
       * @return {Moment[]} array of startDate moments
       */
      startDates() {
        return Object.values(this.formValues).map(entry => entry.startDate);
      },
    },
    data() {
      return {
        formStructure: {},
        formValues: {},
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        updateStore: types.checkout.billingAccountingCodes,
      }),

      addFieldsetToFormStructure() {
        const lastKey = Object.keys(this.formStructure).pop();
        const newKey = lastKey ? Number(lastKey) + 1 : 1;

        // Add a new fieldset to the form structure
        this.$set(this.formStructure, newKey, cloneDeep(this.fieldsetStructure));

        // If there isn't a form value for the new fieldset field, add a default date & percentage.
        if (!get(this.formValues, [newKey])) {
          this.$set(this.formValues, newKey, {
            startDate: this.block.startMoment,
            percentage: lastKey ? 1 : 100,
          });
        }
      },

      createForm() {
        // Import Form Values from Vuex (which may or may not exist)
        this.formValues = this.importFormValues();

        // If form values exist, build enough fieldsets to hold all the data.
        // Otherwise, just build one fieldset.
        const fieldsetIds = Object.keys(this.formValues);
        if (fieldsetIds.length) {
          fieldsetIds.forEach(this.addFieldsetToFormStructure);
        }
        else {
          this.addFieldsetToFormStructure();
        }
      },

      deleteFieldsetFromFormStructure(fieldsetId) {
        this.$delete(this.formStructure, fieldsetId);
        this.$delete(this.formValues, fieldsetId);
        const vuexData = {
          reservationBlockId: this.block.id,
          accountingCodes: this.exportFormValues(),
        };
        this.updateStore(vuexData);
      },

      // Reduces local formValues into a format the API accepts (which we also save to our Vuex Store)
      exportFormValues() {
        const parseId = (key) => {
          const map = {
            startDate: 'splitStart',
            percentage: 'splitPerc',
          };
          return map[key] || key;
        };

        const parseValue = value => (value instanceof moment ? value.format('MM/DD/YYYY') : value);

        return Object.values(this.formValues)
          .reduce((exportedData, fieldset, fieldsetId) => {
            Object.keys(fieldset)
              .forEach((fieldId) => {
                if (!get(exportedData, [fieldsetId, 'values'])) {
                  exportedData.push({ values: [] });
                }

                exportedData[fieldsetId].values.push({
                  id: parseId(fieldId),
                  value: parseValue(fieldset[fieldId]),
                });
              });

            return exportedData;
          }, []);
      },

      // Imports local formValues from the Vuex Store (in a format this component can work with)
      importFormValues() {
        // Get a user's form values from Vuex state (if it exists)
        const rawFormValues = get(this.$store.state.checkout, ['billing', this.block.id, 'accountingCodes'], []);
        if (!rawFormValues.length) {
          return {};
        }

        const parseId = (key) => {
          const map = {
            splitStart: 'startDate',
            splitPerc: 'percentage',
          };
          return map[key] || key;
        };

        const parseValue = (val, id) => (id === 'splitStart' ? moment(val, 'MM/DD/YYYY') : val);

        // Convert the raw values into a shape this component can render, and return it
        return rawFormValues.reduce((localFormValues, fieldset, index) => {
          const fieldsetId = index + 1;

          localFormValues[fieldsetId] = fieldset.values.reduce((fields, field) => {
            fields[parseId(field.id)] = parseValue(field.value, field.id);
            return fields;
          }, {});

          return localFormValues;
        }, {});
      },

      onCustomFormControlValueChange(newValue, control, fieldsetId) {
        // Update the newValue for the form control.
        // By using Vue set we guarantee reactivity, as this field might not exist yet.
        this.$set(this.formValues[fieldsetId], control.id, newValue);

        // Fire any "triggers" if they exist.
        // (A "trigger" is a UR Concept whereby updates to one form
        // control could trigger a specific update to another.)
        control.triggers.forEach((trigger) => {
          /*
          Note:
          There is a bug in the DAL API that swaps the Total control triggerValue and updateCodeValue fields.
          So this condition is an awkward read--it seems backwards--but is nevertheless correct.
           */
          if (newValue === trigger.updateCodeValue) {
            this.formValues[fieldsetId][trigger.updateCodeId] = trigger.triggerValue;
          }
        });

        // Store form values in Vuex (note: these do not get persisted to Drupal,
        // but rather are used in the Transaction call, then thrown away)
        const vuexData = {
          reservationBlockId: this.block.id,
          accountingCodes: this.exportFormValues(),
        };
        this.updateStore(vuexData);
      },

      onDateChange(newValue, fieldset, fieldsetId) {
        this.$set(this.formValues[fieldsetId], fieldset.startDate.id, newValue);

        // Store form values in Vuex (note: these do not get persisted to Drupal,
        // but rather are used in the Transaction call, then thrown away)
        const vuexData = {
          reservationBlockId: this.block.id,
          accountingCodes: this.exportFormValues(),
        };
        this.updateStore(vuexData);
      },

      onPercentageChange(newValue, fieldset, fieldsetId) {
        this.$set(this.formValues[fieldsetId], fieldset.percentage.id, Number(newValue));

        // Store form values in Vuex (note: these do not get persisted to Drupal,
        // but rather are used in the Transaction call, then thrown away)
        const vuexData = {
          reservationBlockId: this.block.id,
          accountingCodes: this.exportFormValues(),
        };
        this.updateStore(vuexData);
      },

      resetForm() {
        // Reset the form structure
        this.formStructure = {};

        // Reset the form values (locally and in Vuex)
        this.formValues = {};
        this.updateStore({ reservationBlockId: this.block.id, accountingCodes: [] });

        // Create the form
        this.createForm();
      },
    },
    mounted() {
      this.createForm();
      // Load the local state (userValues) from the vuex store.  This requires a simple mapping.
      if (this.initialValues.length) {
        this.initialValues.forEach(({ id, value }) => this.$set(this.userValues, id, value));
      }
    },
    watch: {
      // Reset the form whenever a user's accounting codes change (e.g., when user changes accounts)
      accountingCodes() {
        this.resetForm();
      },
    },
    name: 'accounting-codes',
    props: {
      accountingCodes: {
        type: Array,
        required: true,
      },
      block: {
        type: ReservationBlock,
        required: true,
      },
      editing: {
        type: Boolean,
        default: false,
      },
      initialValues: {
        type: Array,
        default: () => [],
      },
    },
    validations() {
      const schema = {};

      // Declare validation rules (schema) for the startDate, and custom fields in every fieldset
      forOwn(this.formStructure, (fieldset, fieldsetId) => {
        // Create a validation schema for custom fields
        schema[fieldsetId] = Object.values(fieldset.custom).reduce((fields, field) => {
          if (field.required) {
            fields[field.id] = {
              required,
            };
          }

          return fields;
        }, {});

        // Add a schema for start date
        // (note: the rule "at least one date is the rental Start Date" is validated separately)
        schema[fieldsetId].startDate = {
          inRentalDateRange(selectedMoment) {
            return selectedMoment.isSameOrAfter(this.block.startMoment, 'day') && selectedMoment.isSameOrBefore(this.block.endMoment, 'day');
          },
        };

        // Add a schema for percentage (note: percentage tallies are validated separately)
        schema[fieldsetId].percentage = {
          inRange: between(1, 100),
        };
      });

      return {
        // Validate custom fields
        formValues: schema,

        // Groups of "Percentages" (see computed) are validated, and each must equal 100
        percentages: {
          validPercentages(percentageGroups) {
            return Object.values(percentageGroups).reduce((isValid, percentage) => {
              if (percentage !== 100) {
                isValid = false;
              }

              return isValid;
            }, true);
          },
        },

        // At least one accounting code must begin when the rental begins
        startDates: {
          startsWithRental(allStartDates) {
            return allStartDates.reduce((isValid, startMoment) => {
              if (startMoment.isSame(this.block.startMoment, 'day')) {
                isValid = true;
              }

              return isValid;
            }, false);
          },
        },
      };
    },
  };


  // Private utilities

  const makeTitle = (str) => {
    const maxLength = 16;
    return (str || '').length > maxLength ? `${str.substring(0, maxLength)}...` : str;
  };
</script>
