<template>
  <div class="summary-group">
    <div class="billing-section-container add-ur-account">
      <label class="heading-5 rpp-heading">{{ $i18n('checkout.addUrAccount') }}</label>
      <div class="add-ur-account">
        <p class="rpp-paragraph">{{ $i18n('checkout.addUrAccountMessage') }}</p>
        <q-input
          :field-size="small ? 'small' : ''"
          required
          type="email"
          :value="email"
          name="email"
          :label="$i18n('checkout.yourEmailLabel')"
          :placeholder="$i18n('checkout.yourEmailPlaceholder')"
          :has-error="emailError || ($v.email.$invalid && $v.email.$dirty)"
          :message="emailErrorMessage"
          @input="email => updateFormField({ email })"
          @cleared="email => updateFormField({ email })"
          @blur="$v.email.$touch()"
        />
        <div class="lostPasswordBlock" v-if="emailExists">
          <span v-html="$i18n('checkout.signInResetMessage')"></span>
          <a :href="forgotPasswordHref" @mousedown="startForgotPasswordJourney">{{ $i18n('checkout.resetPassword') }}</a>
        </div>
        <q-input
          :field-size="small ? 'small' : ''"
          required
          :type="passwordType"
          :value="password"
          name="password"
          :label="$i18n('checkout.createPasswordLabel')"
          :placeholder="$i18n('checkout.createPasswordPlaceholder')"
          :has-error="passwordError || ($v.$error && $v.password.$invalid)"
          :icon-tertiary="true"
          icon-tertiary-class="visibility"
          :tertiary-click-handler="setVisible"
          @focus="passwordFocussed = true"
          @cleared="password => updateFormField({ password: password || '' })"
          @blur="testPassword"
          @input="password => updateFormField({ password })"
        />
        <ul class="rpp-paragraph">
          <li>{{ $i18n('checkout.passwordConditionsPrefix')}} <strong :class="hasEightClass">{{ $i18n('checkout.passwordConditions.hasEight') }}</strong>{{ $i18n('checkout.passwordConditionsInserts.one') }}<strong :class="hasCapClass">{{ $i18n('checkout.passwordConditions.hasUpper') }}</strong>, <strong :class="hasLowerClass">{{ $i18n('checkout.passwordConditions.hasLower') }}</strong>{{ $i18n('checkout.passwordConditionsInserts.two') }} <strong :class="hasNumberClass">{{ $i18n('checkout.passwordConditions.hasNumber') }}</strong>.</li>
          <li>{{ $i18n('checkout.passwordConditionsInserts.three') }}<strong :class="isUniqueClass">{{ $i18n('checkout.passwordConditions.isUnique') }}</strong>.</li>
        </ul>
        <div class="form-item--checkbox__item" style="overflow: hidden">
        <q-checkbox
          :text="$i18n('checkout.eulaText')"
          :checked="eula"
          id="eula"
          :has-error="eulaError"
          :has-message="eulaError"
          :message="$i18n('checkout.eulaMustAccept')"
          @input="toggleEulaCheckbox"></q-checkbox>
        </div>
        <p class="rpp-paragraph" v-html="$i18n('checkout.privacyLink')"></p>
      </div>
    </div>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators';
  import { mapState, mapActions, mapGetters } from 'vuex';
  import debounce from 'lodash/debounce';
  import types from '@/store/types';

  export default {
    name: 'add-ur-account',
    data() {
      return {
        passwordType: 'password',
        passwordFocussed: false,
        eula: false,
        emailExists: false,
        emailError: false,
        passwordError: false,
      };
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapState({
        email: state => state.tcUser.form.email,
        forgotPasswordHref: state => state.user.forgotPasswordHref,
        password: state => state.tcUser.form.password,
      }),
      eulaError() {
        return this.$v.eula.$error;
      },
      hasEight() {
        return this.password.length >= 8;
      },
      hasEightClass() {
        if (this.passwordFocussed) {
          return this.hasEight ? 'text-color--blue' : 'text-color--red';
        }
        return '';
      },
      hasCap() {
        return /[A-Z]{1}/.test(this.password);
      },
      hasCapClass() {
        if (this.passwordFocussed) {
          return this.hasCap ? 'text-color--blue' : 'text-color--red';
        }
        return '';
      },
      hasLower() {
        return /[a-z]{1}/.test(this.password);
      },
      hasLowerClass() {
        if (this.passwordFocussed) {
          return this.hasLower ? 'text-color--blue' : 'text-color--red';
        }
        return '';
      },
      hasNumber() {
        return /\d{1}/.test(this.password);
      },
      hasNumberClass() {
        if (this.passwordFocussed) {
          return this.hasNumber ? 'text-color--blue' : 'text-color--red';
        }
        return '';
      },
      isUnique() {
        if (this.password.length > 3) {
          let err = true;
          for (let i = 0; i < this.password.length - 2; i++) {
            const sub = this.password.toLowerCase().substr(i, 3);
            const test = new RegExp(sub);
            if (test.test(this.email.toLowerCase())) {
              err = false;
            }
          }
          return err;
        }
        else {
          return true;
        }
      },
      isUniqueClass() {
        if (this.passwordFocussed) {
          return this.isUnique ? 'text-color--blue' : 'text-color--red';
        }
        if (this.password && !this.isUnique) {
          return 'text-color--red';
        }
        return '';
      },
      emailErrorMessage() {
        if (this.emailError) {
          if (!this.email) {
            return this.$i18n('checkout.emailRequired');
          }
          return this.emailExists ? this.$i18n('checkout.emailExistsError') : this.$i18n('checkout.wrongEmailFormat');
        }
        return '';
      },
    },
    methods: {
      ...mapActions({
        fetchOneTcUser: types.tcUser.fetchOne,
        startForgotPasswordJourney: types.forgotPasswordJourney.writeLocalStorage,
        updateFormField: types.tcUser.updateFormField,
      }),
      setVisible() {
        this.passwordType = this.passwordType === 'password' ? 'text' : 'password';
      },
      async testEmail() {
        this.emailError = false;
        this.emailExists = false;
        if (this.email.length > 4) {
          // eslint-disable-next-line
          const test = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email);
          if (test) {
            try {
              await this.fetchOneTcUser(this.email);
              this.emailExists = true;
              this.emailError = true;
            }
            catch (e) {
              this.emailExists = false;
              this.emailError = false;
            }
          }
          else {
            this.emailError = true;
          }
        }
        else if (this.$v.email.$dirty) {
          this.emailError = true;
        }
      },
      testPassword() {
        this.passwordError = false;
        this.passwordFocussed = false;
        this.passwordError = !(this.hasEight && this.hasCap && this.hasLower && this.hasNumber && this.isUnique);
      },
      toggleEulaCheckbox($event) {
        this.eula = $event.checked;
      },
    },
    created() {
      this.testEmail = debounce(this.testEmail, 250);
    },
    validations: {
      // By defining an object here, we get access to $v.email.$dirty, which we read in the testEmail method
      email: {
        required,
        isValid() {
          return !this.emailError;
        },
      },
      password: {
        required,
        isValid() {
          return this.password && this.password.length && !this.passwordError;
        },
      },
      eula: {
        required,
        isChecked() {
          return this.eula;
        },
      },
    },
    watch: {
      email: {
        handler() {
          this.testEmail();
        },
        immediate: true,
      },
    },
  };
</script>

<style lang="scss">

  .add-ur-account .form-item--checkbox__item .q-checkbox {
    flex-direction: inherit;

    > label:not(.input-error) {
      flex-direction: column !important;  // Important needed to override ur-legacy-styles
    }
  }

  .add-ur-account .q-text-input > input::-ms-clear,
  .add-ur-account .q-text-input > input::-ms-reveal {
    display: none;
  }

  .add-ur-account .q-checkbox > input[type='checkbox'] {
    display: block;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
  }

  .add-ur-account .q-checkbox > label:not(.input-error) {
    flex-direction: row;
  }

  .add-ur-account .q-checkbox > label.input-error {
    justify-content: flex-start;
    margin-top:8px;
  }

  .lostPasswordBlock {
    margin: 20px 0;
  }
</style>
