<template>
  <div>
    <form class="form add-credit-card-form">
      <div v-if="saving" key="spinner">
        <ur-loading-spinner style="font-size:1.5rem; margin-left:0;"></ur-loading-spinner>
        <span>{{ $i18n('ur.savingInfo') }}</span>
      </div>
      <ur-error-label
        v-if="message.length"
        :message="message">
      </ur-error-label>
      <div class="form-group">
        <form-item>
          <card-holder-text-input :value="cardHolder" @input="value => cardHolder = value"></card-holder-text-input>
        </form-item>
        <form-item>
          <card-number-text-input :value="cardNumber" @input="value => cardNumber = value"></card-number-text-input>
        </form-item>
        <div class="card-exp__container" :class="small ? 'm-b-0' : 'm-b-1'">
          <form-item>
            <card-expiration-month-select :value="expMonth" @change="value => expMonth = value"></card-expiration-month-select>
          </form-item>
          <form-item>
            <card-expiration-year-select :value="expYear" @change="value => expYear = value"></card-expiration-year-select>
            <ur-error-label v-if="$v.$error && $v.expireDate.$invalid" :message="$i18n('card.errorExpiredCard')"/>
          </form-item>
          <form-item>
            <card-cvv-text-input :value="cvv" @input="val => cvv = val" style="height: 32px"></card-cvv-text-input>
          </form-item>
        </div>
      </div>

      <div class="form-group">
        <form-item>
          <card-name-text-input :value="cardName" @input="value => cardName = value"></card-name-text-input>
        </form-item>
      </div>

      <div class="form-group">
        <form-item style="margin-top:8px">
          <q-checkbox
            :text="$i18n('card.defaultPayment')"
            :checked=false
            id="defaultPaymentCheckbox"
            @change="toggleDefaultPaymentSelect"
          />
        </form-item>
      </div>
    </form>
  </div>
</template>
<style lang="scss">
  @import 'styles/globals';
  .add-credit-card-form {
    .card-name {
      padding: rem($scale-6) 0 0;

      @include media('>=l') {
        padding: 0;
      }
    }
    .select {
      max-width: 100%;

      @media(min-width: 640px) {
        max-width: 400px;
      }
    }
    .card-exp__container {
      @include media('>=l') {
        display: flex;
        justify-content: space-between;

        .form-item {
          width: 30%;
        }
      }
    }
  }
</style>
<script>
  /* eslint-disable no-alert */
  import CardHolderTextInput from '@/components/common/form/text-input/card-holder';
  import CardNumberTextInput from '@/components/common/form/text-input/card-number';
  import CardNameTextInput from '@/components/common/form/text-input/card-name';
  import CardExpirationMonthSelect from '@/components/common/form/select/card-expiration-month';
  import CardExpirationYearSelect from '@/components/common/form/select/card-expiration-year';
  import CardCvvTextInput from '@/components/common/form/text-input/card-cvv';

  import creditCardType from 'credit-card-type';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import moment from 'moment';

  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  import FormItem from '@/components/common/form/form-item';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import types from '@/store/types';

  export default {
    components: {
      CardHolderTextInput,
      CardNumberTextInput,
      CardNameTextInput,
      CardExpirationMonthSelect,
      CardExpirationYearSelect,
      CardCvvTextInput,
      FormItem,
      UrErrorLabel,
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        accounts: state => state.accounts.all,
      }),
      ...mapGetters([
        'small',
      ]),
      cardType() {
        const sanitizedCardNumber = this.cardNumber.replace(/\s/g, '');

        if (this.cardNumber && creditCardType(sanitizedCardNumber)[0]) {
          switch (creditCardType(sanitizedCardNumber)[0].type) {
            case 'visa':
              return 'V';
            case 'master-card':
              return 'M';
            case 'american-express':
              return 'A';
            case 'discover':
              return 'D';
            default:
              return false;
          }
        }
        return false;
      },
      expireDate() {
        if (!!this.expMonth && !!this.expYear) {
          return this.expMonth.toString() + this.expYear.toString().slice(2);
        }
        return false;
      },
    },
    data() {
      return {
        cardNumber: '',
        expMonth: '',
        expYear: '',
        cvv: '',
        cardHolder: '',
        cardName: '',
        defaultPayment: false,
        status: 'A',
        saving: false,
      };
    },
    methods: {
      ...mapActions({
        addCreditCard: types.creditCards.add,
        updateBillingCreditCard: types.checkout.billingCreditCard,
      }),
      save() {
        // Trigger all validations
        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }

        this.saving = true;

        // Mandatory Fields: cardHolder, cardType, ccNumber, expireDate, cardName, defaultCard
        const cardHolder = this.cardHolder.length > 19 ? this.cardHolder.substring(0, 19) : this.cardHolder;
        const data = {
          cardHolder: this.cardHolder,
          cardName: this.cardName || cardHolder, // fall back. Field is required by DAL
          cardType: this.cardType,
          ccNumber: this.cardNumber.replace(/\s/g, ''), // remove whitespace injected by the card number mask
          defaultCard: (this.defaultPayment ? 'y' : 'n'),
          expireDate: this.expireDate,
          status: this.status,
          cvv: this.cvv,
        };

        return this.addCreditCard(data)
          .then((card) => {
            this.saving = false;

            if (!card.id) {
              return Promise.reject(new Error('Failed to create credit card.'));
            }

            this.updateBillingCreditCard({
              reservationBlockId: this.reservationBlockId,
              cardId: card.id,
            });
          }, (error) => {
            this.saving = false;
            return Promise.reject(error);
          });
      },
      toggleDefaultPaymentSelect(value) {
        this.defaultPayment = value.checked;
      },
    },
    validations: {
      expireDate: {
        isValid() {
          const today = moment();

          if (Number(this.expYear) === today.year()) {
            return Number(this.expMonth) >= (today.month() + 1); // moment months are zero-indexed, so we add one.
          }

          return Number(this.expYear) > today.year();
        },
      },
    },
    props: {
      reservationBlockId: {
        type: String,
        required: true,
      },
      message: {
        type: String,
        default: '',
      },
    },
  };
</script>
