<template>
  <div class="allocation-codes" v-show="availableRequisitionCodes.length || availableAccountingCodes.length">
    <checkout-requisition-codes v-if="availableRequisitionCodes.length" :requisition-codes="availableRequisitionCodes" :block="block" :editing="editing"></checkout-requisition-codes>
    <accounting-codes v-if="availableAccountingCodes.length" :accounting-codes="availableAccountingCodes" :block="block" :editing="editing"></accounting-codes>
  </div>
</template>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { get } from 'lodash';
  import ReservationBlock from '@/lib/reservation-block';
  import types from '@/store/types';

  import AccountingCodes from './accounting-codes.vue';
  import CheckoutRequisitionCodes from './checkout-requisition-codes.vue';

  export default {
    components: {
      AccountingCodes,
      CheckoutRequisitionCodes,
    },
    computed: {
      // Import State from Vuex Getters
      ...mapGetters([]),

      // Import State from Vuex
      ...mapState({
        availableAccountingCodes(state) {
          const tcLevel = get(state.accounts.all, [this.block.accountId, 'tcLevel'], '');
          if (tcLevel !== 'C') {
            return [];
          }
          const codes = state.allocationCodes.allAccountingCodes[this.block.accountId];
          return codes || [];
        },
        availableRequisitionCodes(state) {
          const tcLevel = get(state.accounts.all, [this.block.accountId, 'tcLevel'], '');
          if (tcLevel !== 'C') {
            return [];
          }
          const codes = state.allocationCodes.allRequisitionCodes[this.block.accountId];
          return codes || [];
        },
        currentAccountingCodes(state) {
          return get(state.checkout.billing, [this.block.id, 'accountingCodes'], []);
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        fetchAccountingCodes: types.allocationCodes.fetchAllocationCodes,
        fetchRequisitionCodes: types.allocationCodes.fetchRequisitionCodes,
      }),
      fetchAllocationCodes() {
        if (!this.userIsLoggedIn) {
          return;
        }

        // TODO refactor to use FlightTracker

        // Fetch accounting codes if needed
        if (!this.availableAccountingCodes.length) {
          this.fetchAccountingCodes(this.block.accountId);
        }

        // Fetch requisition codes if needed
        if (!this.availableRequisitionCodes.length) {
          this.fetchRequisitionCodes(this.block.accountId);
        }
      },
    },
    mounted() {
      this.fetchAllocationCodes();
    },
    name: 'allocation-codes',
    props: {
      block: {
        type: ReservationBlock,
        required: true,
      },
      editing: {
        type: Boolean,
        default: true,
      },
    },
    watch: {
      'block.accountId': function fetchCodes(newAccountId, oldAccountId) {
        const userCreatedAccountDuringCheckout = !oldAccountId;

        // Users who create their account while submitting a transaction will have no allocation codes,
        // so do not try to fetch them.
        if (userCreatedAccountDuringCheckout) {
          return;
        }

        this.fetchAllocationCodes();
      },
    },
  };
</script>
