<template>
  <div class="button-group">

    <ur-loading-spinner v-if="isSubmitting" class="icon-button"></ur-loading-spinner>

    <button
      class="btn btn-style--primary btn-size--regular"
      :class="{'btn--disabled': disabled}"
      :disabled="disabled"
      @click.prevent.stop="handleClick('submit-reservation')">
      {{$i18n('cart.submitReservation')}}
    </button>

    <button
      class="btn btn-style--secondary btn-size--regular"
      :class="{'btn--disabled': disabled}"
      :disabled="disabled"
      @click.prevent.stop="handleClick('submit-quote')">
      {{$i18n('cart.requestAQuote')}}
    </button>

    <div v-if="userIsEmployee">
      <ur-error-label
        :message="$i18n('checkout.urEmployeeSubmitError')">
      </ur-error-label>
    </div>

  </div>
</template>
<style lang="scss" scoped>
  @import 'styles/globals';
  // TODO: import and use urone global styles and strip out vue component specific styles
  // add space between buttons
  .cart-block.reservation-billing.active > .button-group > button:first-of-type {
    margin-right: rem(15);
  }
  .button-group {
    .btn {
      margin-bottom: rem(14);
      width: 100%;

      @include media('>=s') {
        width: 46%;
      }
    }
    .btn-style--primary {
      @include btn-style(primary);
    }

    .btn-style--secondary {
      @include btn-style(secondary);
    }
  }
</style>
<script>
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      UrErrorLabel,
      UrLoadingSpinner,
    },
    props: {
      isSubmitting: Boolean,
      disabled: Boolean,
    },
    computed: {
      ...mapState({
        userIsEmployee: state => state.user.isEmployee,
      }),
    },
    methods: {
      ...mapActions({
        dispatchButtonClickType: types.checkout.dispatchButtonClickType,
      }),
      handleClick(eventType) {
        this.$emit(eventType);
        const isReservation = eventType === 'submit-reservation';
        this.dispatchButtonClickType(isReservation);
      },
    },
  };
</script>
