<template>
  <div key="summaryCompleteBilling" class="summary-group-container with-wrap">

    <template v-if="showAccountInfo">
      <div class="summary-group account-info">
        <strong class="reservation-heading">{{ $i18n('ur.account') }}:</strong>
        <span class="reservation-heading-supplement">{{ account.name }}</span>
      </div>

      <div class="summary-group account-number">
        <strong class="reservation-heading">{{ $i18n('ur.accountNumber') }}:</strong>
        <span class="reservation-heading-supplement">{{ account.id }}</span>
      </div>
    </template>

    <div class="summary-group" v-if="billingForm.poNumber && billingForm.poNumber.length">
      <strong class="reservation-heading">{{ $i18n('checkout.poNumber') }}:</strong>
      <span class="reservation-heading-supplement">{{ billingForm.poNumber }}</span>
    </div>

    <div class="summary-group" v-else>
      <strong class="reservation-heading">{{ $i18n('checkout.poNumber') }}:</strong>
      <span class="reservation-heading-supplement">{{ billingForm.poNumber || $i18n('checkout.poNotRequired') }}</span>
    </div>

    <div class="summary-group rpp">
      <strong class="reservation-heading">{{ $i18n('checkout.rentalProtectionPlan') }}:</strong>
      <span class="reservation-heading-supplement">{{ billingForm.rpp ? $i18n('ur.yes') : $i18n('ur.no') }}</span>
    </div>

    <br><br>

    <div class="summary-group allocation-codes-complete">
      <allocation-codes :block="block" :editing="editableAllocationCodes"></allocation-codes>
    </div>

  </div>
</template>
<script>
  import AllocationCodes from './allocation-codes';

  export default {
    name: 'billingFormSummary',
    components: {
      AllocationCodes,
    },
    props: {
      account: {
        type: Object,
        required: true,
      },
      billingForm: {
        type: Object,
        required: true,
      },
      showAccountInfo: {
        type: Boolean,
        required: true,
      },
      block: {
        type: Object,
        required: true,
      },
      editableAllocationCodes: {
        type: Boolean,
        required: true,
      },
    },
  };
</script>
