<template>
  <div class="summary-group-container with-wrap">
    <template v-if="showAccountInfo">
      <div class="summary-group">
        <strong class="reservation-heading">{{ $i18n('ur.account') }}:</strong>
        <span class="reservation-heading-supplement">{{ accountName }}</span>
      </div>
      <div class="summary-group">
        <strong class="reservation-heading">{{ $i18n('ur.accountNumber') }}:</strong>
        <span class="reservation-heading-supplement">{{ accountId }}</span>
      </div>
    </template>
    <a class="add-preferences" @click.prevent="$emit('activate')">{{ $i18n('checkout.addBillingInformation') }}</a>
  </div>
</template>
<script>
  export default {
    name: 'billingFormReady',
    props: {
      accountId: {
        type: String,
        required: false,
      },
      accountName: {
        type: String,
        required: false,
      },
      showAccountInfo: {
        type: Boolean,
        required: true,
      },
    },
  };
</script>
