<template>
  <div class="summary-group-container with-wrap" style="width: 73%">

    <!-- If user doesn't have an account, show the cc & new account forms -->
    <template v-if="userHasNoAccount">
      <div class="summary-group m-b-0">
        <add-credit-card-form
          ref="creditCardForm"
          :message="transactionErrorMessage"
          :reservation-block-id="block.id"
        />
      </div>
      <div class="summary-group" :class="small ? '' : 'm-b-0'" style="padding-bottom: 33px">
        <account-details-form :reservation="block" :block-id="block.id" />
      </div>
    </template>
    <template v-else>
      <!-- This userIsLoggedIn muck COULD happen for guests returning for a second-checkout. This guard can go away w/1.12, as there are no more Guests -->
      <account-confirmation
        v-if="userIsLoggedIn"
        :account-id="block.accountId"
        :account-name="account.name"
        :reservation-block-id="block.id"
        :user-has-many-accounts="userHasManyAccounts"
      />

      <!-- Credit Card Confirmation and misnomered "Account Billing" Confirmation -->
      <div class="summary-group credit-cards" v-if="!account.creditLimit">
        <confirm-credit-card-and-account-billing
          v-if="allCreditCards.length"
          :block="block">
        </confirm-credit-card-and-account-billing>
        <add-credit-card-form
          v-else
          ref="creditCardForm"
          :message="transactionErrorMessage"
          :reservation-block-id="block.id"
        >
        </add-credit-card-form>
      </div>
    </template>

    <div class="summary-group po-number">
      <po-number ref="poNumberRef" :block-id="block.id" :block-account-id="block.accountId" :require-po="account.requirePo || ''"></po-number>
    </div>

    <div class="summary-group" v-if="promotionCodeActive">
      <promotion-code
        :reservation-block-id="block.id"
      ></promotion-code>
    </div>

    <div v-show="allocationCodesExist" class="summary-group allocation-codes">
      <allocation-codes :block="block"></allocation-codes>
    </div>

    <div class="summary-group with-wrap requesters-and-approvers" v-show="showApproversOrRequestors">
      <label class="reservation-heading heading-5">{{ $i18n('cart.approvalInformation') }}</label>
      <div class="accounting-codes__container p-t-0 p-b-20">
        <div v-if="showRequestors">
          <requester-selector :account-id="account.id" :value="requesterId" @change="onRequesterChange"/>
        </div>
        <div v-if="showApprovers">
          <approver-selector :account-id="account.id" :value="approverId" @change="onApproverChange"/>
        </div>
      </div>
    </div>

    <transition mode="out-in" name="tbSlideFadeNoTranslate" tag="div">
      <div class="summary-group rpp" v-if="rppIsAvailable">
        <rental-protection-plan
          :account-id="account.id"
          @change="setRpp"
          :rpp="billingForm.rpp"
        />
      </div>
    </transition>

    <add-ur-account v-if="!userIsLoggedIn"></add-ur-account>

    <div class="summary-group terms-and-conditions">
      <terms-and-conditions></terms-and-conditions>
    </div>

    <ur-error-label
      v-if="transactionErrorMessage.length"
      :message="transactionErrorMessage">
    </ur-error-label>

  </div>
</template>

<script>
  import { get } from 'lodash';
  import ReservationBlock from '@/lib/reservation-block';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  import AccountConfirmation from './billing-form.active.account-confirmation.vue';
  import AllocationCodes from './allocation-codes';
  import PoNumber from './po-number';
  import ConfirmCreditCardAndAccountBilling from './confirm-credit-card-and-account-billing.vue';
  import RentalProtectionPlan from './rental-protection-plan';
  import AddUrAccount from './add-ur-account';
  import TermsAndConditions from './terms-and-conditions';
  import AddCreditCardForm from './add-credit-card-form.vue';
  import AccountDetailsForm from '@/components/account/account-details-form';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import RequesterSelector from '@/components/common/requester-selector';
  import ApproverSelector from '@/components/common/approver-selector';
  import PromotionCode from './promotion-code';

  export default {
    components: {
      AccountConfirmation,
      AccountDetailsForm,
      AddCreditCardForm,
      AddUrAccount,
      AllocationCodes,
      ApproverSelector,
      ConfirmCreditCardAndAccountBilling,
      PoNumber,
      RentalProtectionPlan,
      TermsAndConditions,
      UrErrorLabel,
      RequesterSelector,
      PromotionCode,
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapGetters({
        promotionCodeActive: types.checkout.promotionCodeActive,
        userHasNoAccount: types.accounts.noAccounts,
      }),

      ...mapState({
        accountForm: state => state.accounts.form,
        /**
         * Does the user have allocation codes? This drives the display of <allocation-codes>
         * @param {object} state (vuex)
         * @return {boolean} if accounting or requisition codes exist
         */
        allocationCodesExist(state) {
          if (!this.userIsLoggedIn) {
            return false;
          }

          const tcLevel = get(state.accounts.all, [this.account.id, 'tcLevel'], '');
          const accountingCodes = state.allocationCodes.allAccountingCodes[this.account.id];
          const requisitionCodes = state.allocationCodes.allRequisitionCodes[this.account.id];

          return tcLevel === 'C' && (accountingCodes || requisitionCodes);
        },

        allCreditCards: state => state.creditCards.all,

        allApprovers: state => state.approvers.all,

        allRequesters: state => state.requesters.all,

        /*
         Business Logic for when the RPP Selection component is available.
         @return {boolean} whether or not the rpp component should be rendered
         */
        rppIsAvailable(state) {
          // RPP is shown for users (guests/registered users) w/o an account if they fill out company names
          if (this.userHasNoAccount) {
            return state.accounts.form.name.length;
          }

          // Otherwise, check the user's account and make the form available if rppDefault === 'C'
          return get(this.account, ['rppDefault']) === 'C';
        },

        userHasManyAccounts: state => Object.keys(state.accounts.all).length > 1,

        /**
         * @param {object} state - vuex state
         * @return {Boolean} user is logged in (to Drupal)
         */
        userIsLoggedIn: state => state.user.isLoggedIn,

        userForgotPasswordHref: state => state.user.forgotPasswordHref,
      }),

      showApproversOrRequestors() {
        return this.userIsLoggedIn
          ? parseInt(this.showApprovers, 0) + parseInt(this.showRequestors, 0) !== 0
          : false;
      },

      showApprovers() {
        let aa = 0;
        if (this.allApprovers && this.allApprovers[this.account.id]) {
          aa = Object.keys(this.allApprovers[this.account.id]).length;
        }
        return aa;
      },

      showRequestors() {
        if (!this.userIsLoggedIn) {
          return false;
        }

        let ar = 0;
        if (this.allRequesters && this.allRequesters[this.account.id]) {
          ar = Object.keys(this.allRequesters[this.account.id]).length;
        }
        return ar;
      },
    },

    data() {
      return {
        transactionErrorMessage: '',
        requesterId: '',
        approverId: '',
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        updateRpp: types.checkout.billingRpp,
        fetchEstimates: types.checkout.fetchEstimates,
        fetchApprovers: types.approvers.fetch,
        fetchOneTcUser: types.tcUser.fetchOne,
        updateApprover: types.checkout.billingApprover,
        updateRequester: types.checkout.billingRequester,
        updateReservationBlock: types.cart.updateItemsByReservationId,
      }),

      onRequesterChange(requesterId) {
        this.requesterId = requesterId;
        this.updateRequester({ reservationBlockId: this.block.id, requesterId });

        // TODO The requester id exists on both state.checkout.billing.requesterId AND getters.reservationBlock[n].requesterId...
        // TODO ...this should be removed from the billing state. Along with all of its actions/mutations. We should...
        // TODO ...only use the reservationBlock's prop.
        this.updateReservationBlock({ reservationBlockId: this.block.id, field: { requesterId } });
      },

      onApproverChange(approverId) {
        this.approverId = approverId;
        this.updateApprover({ reservationBlockId: this.block.id, approverId });
      },

      setRpp(val) {
        this.updateRpp({
          reservationBlockId: this.block.id,
          rppValue: val,
        })
          .then(() => {
            this.fetchEstimates({
              reservationBlockId: this.block.id,
              rpp: val,
            });
          });
      },
    },
    created() {
      this.$store.commit(types.checkout.billing.reset, {
        reservationBlockId: this.block.id,
      });
    },
    mounted() {
      if (this.userIsLoggedIn) {
        this.fetchApprovers(this.account.id);
      }

      if (this.billingForm.approverId) {
        this.approverId = this.billingForm.approverId;
      }

      const requesterId = this.billingForm.requesterId || this.block.requesterId;
      if (requesterId) {
        // Update state.checkout.billing.requesterId, as this is the property sent to the DAL.
        this.onRequesterChange(requesterId);
      }
    },

    name: 'billingFormActive',

    props: {
      account: {
        type: Object,
        required: false,
      },
      billingForm: {
        type: Object,
        required: true,
      },
      block: {
        type: ReservationBlock,
        required: true,
      },
    },
    watch: {
      account() {
        if (!this.userIsLoggedIn) {
          return;
        }
        this.fetchApprovers(this.account.id);
      },
      active(val) {
        if (val) {
          window.setTimeout(() => {
            if (!this.$refs.creditCardForm && this.$refs.poNumberRef) {
              // User is logged in and has account. First input will be PO.
              this.$refs.poNumberRef.$el.getElementsByTagName('input')[0].focus();
            }
            if (!this.$refs.creditCardForm) {
              // no further checkout to be done if form doesn't exist.
              return;
            }
            if (this.$refs.creditCardForm.$el.getElementsByTagName('select').length > 0) {
              this.$refs.creditCardForm.$el.getElementsByTagName('select')[0].focus();
            }
            if (this.$refs.creditCardForm.$el.getElementsByTagName('input').length > 0) {
              this.$refs.creditCardForm.$el.getElementsByTagName('input')[0].focus();
            }
          }, 0);
        }
      },
    },
  };
</script>
