<template>
  <div class="summary-group with-wrap">
    <div class="account-info">
      <strong class="reservation-heading">{{ $i18n('ur.account') }}:</strong>
      <span class="reservation-heading-supplement word-break">{{ accountName }}</span>
    </div>
    <div class="account-number">
      <strong class="reservation-heading">{{ $i18n('ur.accountNumber') }}:</strong>
      <span class="reservation-heading-supplement">{{ accountId }}</span>
    </div>
    <div class="row">
      <router-link
        v-if="userHasManyAccounts"
        class="reservation-heading-supplement change-link m-l-0"
        :to="`/checkout/edit-account/${reservationBlockId}`">
        {{ $i18n('ur.changeAccount') }}
      </router-link>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      accountId: {
        type: String,
        required: true,
      },
      accountName: {
        type: String,
        required: false,
        default: '',
      },
      reservationBlockId: {
        type: String,
        required: true,
      },
      userHasManyAccounts: {
        type: Boolean,
        required: true,
      },
    },
  };
</script>
