<template>
  <div>
    <p class="c-bright-red">{{ error }}</p>
  </div>
</template>
<script>

export default {
  props: {
    error: {
      type: String,
      default: () => null,
    },
  },
};
</script>
