<template>
  <requisition-codes
  :requisition-codes="requisitionCodes"
  :editing="editing"
  :initial-values="billingRequisitionCodeValues"
  @change="onChange"
  ></requisition-codes>
</template>
<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import ReservationBlock from '@/lib/reservation-block';
  import types from '@/store/types';
  import { get } from 'lodash';

  import RequisitionCodes from '@/components/common/requisition-codes';

  export default {
    components: {
      RequisitionCodes,
    },
    computed: {
      // Import State from Vuex
      ...mapState({
        billingRequisitionCodeValues(state) {
          const field = [this.block.id, 'requisitionCodes', '0', 'values'];
          return get(state.checkout.billing, field, []);
        },
      }),
    },
    methods: {
      ...mapActions({
        updateSelectedCodes: types.checkout.billingRequisitionCodes,
      }),
      onChange(formattedCodes) {
        const vuexData = { reservationBlockId: this.block.id, requisitionCodes: formattedCodes };
        this.updateSelectedCodes(vuexData);
      },
    },
    name: 'checkout-requisition-codes',
    props: {
      block: {
        type: ReservationBlock,
        required: true,
      },
      editing: {
        type: Boolean,
        default: true,
      },
      requisitionCodes: {
        type: Array,
      },
    },
  };
</script>
