<template>
  <div class="confirm-card-and-address-container">
    <div class="confirm-card-and-address">
      <div class="confirm-card" v-if="Object.keys(blockCard).length">
        <div class="card-and-expiration">
          <div>
            <img :src="blockCard.cardType | ccTypeImg"/>
            <p class="card-type">{{blockCard.cardType | ccTypeName}} ...{{blockCard.ccNum4}}</p>
          </div>
          <div>
            <p class="paragraph">{{ $i18n('checkout.expires') }} {{blockCard.expireDate | ccMonthYear}}</p>
            <label v-if="ccIsExpired" class="error-message">{{ $i18n('card.errorExpiredDefaultCard') }}</label>
          </div>
        </div>
      </div>
      <div class="controls">
        <router-link class="credit-card-link" :to="`/checkout/select-credit-card/${block.id}`">{{ $i18n('checkout.selectADifferentCard') }}</router-link>
        <router-link class="credit-card-link" :to="`/checkout/add-credit-card/${block.id}`">{{ $i18n('checkout.addANewCard') }}</router-link>
      </div>
      <div class="confirm-address">
        <label class="cc-billing-address-heading">{{ $i18n('checkout.billingAddress') }}</label>
        <p class="paragraph">{{blockAccount.address1}}</p>
        <p class="paragraph" v-if="blockAccount.address2">{{blockAccount.address2}}</p>
        <p class="paragraph">{{blockAccount.city}}, {{blockAccount.state}} {{blockAccount.zip}}</p>
        <router-link class="credit-card-link" :to="`/checkout/modal/account-details-form/${block.id}/${blockAccount.id}`">{{ $i18n('ur.edit') }}</router-link>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  // Import Components

  // Import Modules
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types'; // eslint-disable-line
  import { find, get, padStart } from 'lodash';
  import ReservationBlock from '@/lib/reservation-block';
  import moment from 'moment';

  export default {
    components: {},
    computed: {
      // Import State from Vuex Getters
      ...mapGetters([]),

      // Import State from Vuex
      ...mapState({
        allAccounts: state => state.accounts.all,
        allCards: state => state.creditCards.all,
        blockBilling(state) {
          return state.checkout.billing[this.block.id] || {};
        },
        defaultCardId: state => get(state.creditCards.all.filter(({ defaultCard }) => defaultCard === true)[0], ['id']),
        defaultCardExpDate: state => get(state.creditCards.all.filter(({ defaultCard }) => defaultCard === true)[0], ['expireDate']),
        currentCardId(state) {
          return get(state.checkout.billing, [this.block.id, 'cardId'], this.defaultCardId);
        },
      }),
      ccIsExpired() {
        if (this.defaultCardId === this.blockCard.id) {
          const formattedExpDate = padStart(Number(this.defaultCardExpDate), 4, '0');
          const expDateMoment = moment(formattedExpDate, 'MMYY');
          return expDateMoment.isBefore(moment().add(1, 'm').startOf('month'));
        }
        else {
          return false;
        }
      },
      blockAccount() {
        return get(this.allAccounts, [this.block.accountId], {});
      },
      blockCard() {
        return find(this.allCards, ({ id }) => id === this.currentCardId) || {};
      },
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        updateBillingCreditCard: types.checkout.billingCreditCard,
      }),

      // Selects the default card if-and-only-if none other has been selected
      selectInitialCard() {
        if (this.blockBilling.cardId) {
          return;
        }

        this.updateBillingCreditCard({
          cardId: this.defaultCardId || this.allCards[0].id,
          reservationBlockId: this.block.id,
        });
      },
    },
    mounted() {
      this.selectInitialCard();
    },
    name: 'credit-card-and-billing-address',
    props: {
      block: ReservationBlock,
    },
    validations: {
      defaultCcIsExpired: {
        isValid() {
          return !this.ccIsExpired;
        },
      },
    },
  };
</script>
