<template>
  <div>
    <div class="modal-header">
      <h2>{{ $i18n('checkout.rentalProtectionPlan') }}</h2>
    </div>

    <div class="modal-body">
      <p>{{ $i18n('checkout.rppDisclaimerLine') }}</p>
      <p>{{ $i18n('checkout.terms') }}</p>
      <p>{{ $i18n('checkout.rppDisclaimerP1') }}</p>
      <p v-html="$i18n('checkout.rppDisclaimerP2') "></p>
    </div>

    <div class="modal-footer">
      <button class="button button--style-2 button--filled" @click="doClick()">{{ $i18n('ur.accept') }}</button>
    </div>
  </div>
</template>
<script type="text/babel">
  // Import Components

  // Import Modules
  import { mapActions } from 'vuex';
  import types from '@/store/types'; // eslint-disable-line

  export default {
    methods: {
      // Import Vuex actions
      ...mapActions({
        setConfirmed: types.cart.setConfirmed,
      }),
      doClick() {
        this.setConfirmed(true);
        this.$router.go(-1);
      },
    },
    name: 'edit-rpp-modal',
  };
</script>
<style lang="scss" scoped>
  .modal-body{
    p:nth-of-type(1){
           color:red;
           font-weight:bold;
    }
    p:nth-of-type(2){
      font-weight:bold;
    }
  }
</style>
