<template>
  <div class="edit-account-modal">
    <div class="modal-header">
      <h2>{{ $i18n('checkout.selectAnAccount') }}</h2>
    </div>

    <div class="modal-body">
      <account-select
        :value="selectedAccountId"
        :label="$i18n('cart.accountName')"
        @change="onAccountChange"
      />

      <div class="after-account-selectors">
        <template v-if="hasChangedAccount">
          <p>{{ $i18n('checkout.restartAlert') }}</p>
          <jobsite-select
            :account-id="selectedAccountId"
            :value="selectedJobsiteId"
            @change="onJobsiteChange"
          />
        </template>
        <p v-else>{{ $i18n('checkout.restartWarning') }}</p>
        <label v-if="showError" class="error-message">{{this.errorMessage}}</label>
      </div>
    </div>

    <div class="modal-footer">
      <div class="modal-footer__button-container">
        <q-button
          :text="$i18n('ur.cancel')"
          @click="$router.go(-1)"
          size="regular"
          type="secondary"/>
        <q-button
          :text="$i18n('checkout.done')"
          @click="save"
          size="regular" />
      </div>
    </div>

  </div>
</template>
<script type="text/babel">
  // Import Components
  import AccountSelect from '@/components/common/account-selector';
  import JobsiteSelect from '@/components/common/job-selector';

  // Import Modules
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  import UrGtm from '@/mixins/ur-gtm';

  export default {
    components: {
      AccountSelect,
      JobsiteSelect,
    },
    computed: {
      // Import State from Vuex Getters
      ...mapGetters([
        'reservationBlocks',
      ]),

      // Import State from Vuex
      ...mapState({
        allAccounts: state => state.accounts.all,
      }),
    },
    data() {
      return {
        selectedAccountId: null,
        selectedJobsiteId: '',
        hasChangedAccount: false,
        showError: false,
        errorMessage: null,
      };
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        update: types.cart.updateItemsByReservationId,
        allJobsites: types.jobs.all,
        fetchJobsites: types.jobs.fetch,
      }),
      onAccountChange(accountId) {
        this.hasChangedAccount = true;
        this.selectedAccountId = accountId;
        if (!this.allJobsites[accountId]) {
          this.fetchJobsites(accountId);
        }
      },
      onJobsiteChange(jobsiteId) {
        this.selectedJobsiteId = jobsiteId;
        this.errorMessage = null;
        this.showError = false;
      },
      save() {
        const { reservationBlockId } = this.$route.params;
        if (!this.selectedJobsiteId) {
          this.errorMessage = this.$i18n('account.error.missingJobSite');
          this.showError = true;
          return;
        }
        // Update the Account for the Block
        this.update({
          reservationBlockId,
          field: {
            accountId: this.selectedAccountId,
          },
        });

        // Update the jobsite for the block, if set
        if (this.selectedJobsiteId) {
          this.update({
            reservationBlockId,
            field: {
              jobsiteId: this.selectedJobsiteId,
            },
          });
        }

        this.gtmTrackFormSubmissions('reservation-account', 'done');

        this.$router.go(-1);
      },
    },
    created() {
      this.selectedAccountId = this.reservationBlocks[Number(this.$route.params.reservationBlockId)].accountId;
    },
    mixins: [
      UrGtm,
    ],
    name: 'edit-account-modal',
    props: {},
    validations: {},
  };
</script>
