<template>
  <div class="billing-section-container">
    <label class="heading-5 rpp-heading">{{ $i18n('checkout.rentalProtectionPlan') }}</label>
    <div class="rental-protection-plan">
      <p class="rpp-paragraph" v-html="$i18n('checkout.rppParagraph')"></p>
      <div class="plan-acceptance" style="align-items: baseline;">
        <input :id="id1" type="radio" v-model="rppValue" value="Y" />
        <label :for="id1" class="label-selection" @click.prevent="onClick('Y')">
          <span class="radio"></span>{{ $i18n('checkout.termsAndConditionsAcceptance') }}
        </label>
        <input :id="id2" type="radio" v-model="rppValue" value="N" />
        <label :for="id2" class="label-selection" @click="setDeclined()">
          <span class="radio"></span>{{ $i18n('ur.iDecline') }}
        </label>
      </div>
    </div>
  </div>
</template>
<script>
  import uid from '@/utils/uid';
  import { CheckoutRouteNames } from '@/lib/checkout';
  import get from 'lodash/get';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    data() {
      return {
        id1: uid(),
        id2: uid(),
        rppValue: 'N',
        unconfirmedValue: 'N',
      };
    },
    computed: {
      ...mapState({
        rppChangeConfirmed: state => state.cart.confirmed,
        rppDefault(state) {
          return get(state.accounts.all, [this.accountId, 'rppDefault'], 'N');
        },
      }),
    },
    methods: {
      ...mapActions({
        setRppConfirmation: types.cart.setConfirmed,
      }),
      determineRppValue() {
        if (this.rpp === true) {
          return 'Y';
        }
        return this.rppDefault === 'C' ? 'N' : this.rppDefault;
      },
      onClick(value) {
        // Show the Disclaimer Modal
        this.$router.push({ name: CheckoutRouteNames.RppDisclaimerModal, query: { direct: 'false' } });
        this.unconfirmedValue = value;
      },
      setDeclined() {
        if (this.rppValue === 'N') return;
        this.rppValue = 'N';
        this.$emit('change', false);
      },
    },
    name: 'rental-protection-plan',
    mounted() {
      this.rppValue = this.determineRppValue();
    },
    props: {
      accountId: {
        type: String,
        required: false,
      },
      rpp: {
        type: Boolean,
        required: false,
      },
    },
    watch: {
      '$route.name': {
        handler(is, was) {
          // Everytime the user sees the Confirmation modal, reset our flag for the rpp value being confirmed
          if (is === CheckoutRouteNames.RppDisclaimerModal) {
            this.setRppConfirmation(false);
          }

          // We are only interested in handling the user's action after they dismissed the modal.
          // Anything else is of no interest here, so we step out of this handler.
          if (was !== CheckoutRouteNames.RppDisclaimerModal) {
            return;
          }

          // ...however, if they DID dismiss the disclaimer modal, we're interested in whether
          // or not they accepted the disclaimer.
          if (this.rppChangeConfirmed) {
            // Update the local value model.  We intentionally prevented this from happening earlier
            // via v-model.prevent and @click.prevent in the template.
            this.rppValue = this.unconfirmedValue;

            // Emit a boolean. We don't use booleans inside this component because the Radio Group inputs
            // get all wonky.
            this.$emit('change', this.rppValue === 'Y');
          }
        },
        immediate: true,
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .billing-section-container .rental-protection-plan div.plan-acceptance {
    flex-direction: column;

    @media(min-width: 640px) {
      flex-direction: row;
    }

    .label-selection {
      line-height: 1.6rem;

      @media(min-width: 640px) {
        min-width: rem(230);
        line-height: 1rem;
        white-space: nowrap;
      }
    }
  }
</style>
