<template>
  <div class="billing-section-container">
    <h5 class="heading-5 reservation-heading">{{ $i18n('checkout.termsAndConditionsTitle') }}</h5>
    <div class="terms-and-conditions">
      <p class="terms-and-conditions-paragraph" v-html="$i18n('checkout.termsAndConditionsParagraph')"></p>
      <div class="form-item--checkbox__item" style="overflow: hidden">
        <q-checkbox
          :text="$i18n('checkout.termsAndConditionsAcceptance')"
          :checked="checked"
          id="termsAndConditionsAcceptanceCheckbox"
          @input="onInput"
          :has-error="$v.$error"
          :has-message="$v.$error"
          :message="$i18n('checkout.termsAndConditionsMustAccept')"
        />
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
    data() {
      return {
        checked: false,
      };
    },
    methods: {
      onInput($event) {
        this.checked = $event.checked;
      },
    },
    name: 'terms-and-conditions',
    validations: {
      checked: {
        isChecked() {
          return this.checked;
        },
      },
    },
  };
</script>
