.cell-status{
  &-urgent {
    background: $color-orange-highlight;
  }
  &-normal {
    background: $color-orange-highlight;
  }
  &-warning {
    background: $color-orange-highlight;
  }

}
[class^="cell-status"]{
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  + div{
    margin-left:.8em;
  }
}