.probox-cards-collection {
  margin-bottom: 75px;

  .probox-card__container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    margin: 25px;

    @include breakpoint($break-small) {
      flex-basis: 33%;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
  }
}