<section class="probox-cards-collection">
  {% include '@atoms/02-text/00-headings/heading-3/heading-3.twig' with {
    "heading_3": title
    } 
  %}

  {% if description is not empty %}
    {% include '@atoms/02-text/text/01-paragraph.twig' with {
      "paragraph_content": description
    } %}
  {% endif %}

  <div class="probox-cards-collection__slider">
  {% block probox_cards %}
    {% for probox_card in probox_cards_collection %}
      {% include '@molecules/probox-card/probox-card.twig' with probox_card %}
    {% endfor %}
  {% endblock %}
  </div>
</section>
