// Prevents the flex children (locations content & map) from shrinking
// Prevents the Hero image on Solutions page from collapsing
// Defined width is required for IE and Edge
.main-content {
  flex: 1 0 auto;
  width: 100%;
}

// applies to body class if JS detects browser as IE or Edge
.no-scroll-x {
  overflow-x: hidden;
  @include breakpoint($_break-medium) {
    height: 100%;
  }
}
