{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="app" class="layout-container {{ hero_takeover_class }}{{ parallax_wrapper }}">

  {% if not hide_header %}
    {{ page.header }}
  {% endif %}

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  {{ messages }}

  {% if page.pre_content %}
    {{ page.pre_content }}
  {% endif %}

  <div role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.sidebar %}
      <aside class="main-sidebar" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}

    <div class="main-content{% if page.sidebar %}--with-sidebar{% endif %}">
      {{ page.content }}
      {% block additional_content %}{% endblock %}
    </div>{# /.layout-content #}

  </div>

  {% if page.footer %}
    {{ page.footer }}
  {% endif %}

  {% set global_search_placeholder = 'Search equipment, solutions' %}
  {% if global_search_config  %}
    {% set global_search_placeholder = global_search_config  %}
  {% endif %}
  {% embed "@organisms/global-search/global-search.twig"
    with {
    placeholder_search:  global_search_placeholder|t,
    placeholder_location: "Enter a location (required)"|t,
    close_text: "Cancel"|t,
  }
  %}

    {% block search_results %}
      <ur-global-search placeholder="{{ global_search_placeholder }}"></ur-global-search>
    {% endblock %}

    {% block search_location %}
      <ur-location-search-auto-complete class="global-search__field global-search__location"></ur-location-search-auto-complete>
    {% endblock %}

  {% endembed %}

  <component :is="modalRouterView" name="modal"></component>
  <toast-manager></toast-manager>

  {% if not hide_mobile_menu %}
    {{ page.mobile_menu }}
  {% endif %}
</div>

<!-- GA Base Account Variables -->
<script type="text/javascript">
  if (window.dataLayer) {
    window.dataLayer.push({
        'GAUID': 'UA-159052-27'
    });
  }
</script>
<!-- End GA Base Account Variables -->
