.proceed-to-checkout__login {
  margin: 4rem 2rem;

  .heading-3--thin {
    max-width: 400px;
    margin-bottom: 3rem;
  }

  .sign-in-label__heading-3 {
    margin-bottom: 1rem;
  }

  .sign-in-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    .email,
    .password {
      display: flex;
      flex-direction: column;
      position: relative;

      .icon-views {
        position: absolute;
        bottom: 39px;
        left: 170px;
      }

      label,
      .link {
        font-size: $font-size-small;
      }
    }

    input {
      height: 32px;
      width: 200px;
      margin: 0.5rem 1rem 0.5rem 0;
      border: $border-grey;
      border-radius: 4px;
      background-color: $color-white;
      appearance: none;
      outline: none;
    }

    button {
      margin: 1rem 0 0.5rem 0;
      width: 150px;
      opacity: 0.4;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .register_or_guest__heading-3 {
    margin-bottom: 1rem;
  }

  .register-or-guest {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    button {
      margin: 0.5rem 1rem 0.5rem 0;
      width: 200px;
    }
  }

  .privacy-policy {

    .privacy-policy__paragraph {
      font-size: $font-size-xsmall;
      color: $color-grey-38;
      display: inline;
    }

    .link {
      display: inline;
      font-size: $font-size-xsmall;
    }
  }
}
