<div class="proceed-to-checkout__login">
  {% include '@atoms/02-text/00-headings/heading-1/heading-1.twig'
    with {
      heading_1: heading_1
    }
  %}

  {% include '@atoms/02-text/00-headings/heading-3/heading-3.twig'
    with {
      heading_3: heading_3,
      heading_3_modifiers: heading_3_modifiers
    }
  %}

  {% include '@atoms/02-text/00-headings/heading-3/heading-3.twig'
    with {
      heading_3: "Sign In",
      heading_3_blockname: "sign-in-label",
      heading_3_modifiers: heading_3_modifiers_other
    }
  %}

  <div class="sign-in-section">
    <div class="email">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Email"
        }
      %}
      <input class="email-input" placeholder="Enter your email">
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": "Keep me signed in",
          "key": 1
        }
      %}
    </div>
    <div class="password">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Password"
        }
      %}
      <input class="password-input" placeholder="Enter your password">
      <i class="icon icon-views"></i>
      {% include '@atoms/01-links/link/link.twig'
        with {
          link_content: 'Forgot your password?',
          link_url: '#'
        }
      %}
    </div>
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Sign In',
        button_modifiers: button_style2_secondary
      }
    %}
  </div>

  {% include '@atoms/02-text/00-headings/heading-3/heading-3.twig'
    with {
      heading_3: "Register or Checkout as a Guest",
      heading_3_modifiers: heading_3_modifiers_other,
      heading_3_blockname: 'register_or_guest'
    }
  %}

  <div class="register-or-guest">

    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Register for an Account',
        button_modifiers: button_style2_secondary
      }
    %}
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Checkout as Guest',
        button_modifiers: button_style2_secondary
      }
    %}
  </div>
  <div class="privacy-policy">
    {% include '@atoms/02-text/text/01-paragraph.twig'
      with {
        paragraph_content: 'Your privacy matters to us and we will protect your personal information.',
        paragraph_blockname: 'privacy-policy'
      }
    %}
    {% include '@atoms/01-links/link/link.twig'
      with {
        link_content: '  Learn more about our privacy policy.',
        link_url: '#'
      }
    %}
  </div>
</div>