{% for item in items %}
  {% include "@atoms/02-text/00-headings/heading-1/heading-1.twig"
    with {
      "heading_1": item.content,
      "heading_1_modifiers": ["thin"],
      "heading_1_blockname": "product_detail"
    }
  %}
{% endfor %}