{% for item in items %}
  {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
    with {
      "heading_4": item.content,
      "heading_4_blockname": "product_detail"
    }
  %}
{% endfor %}