/* 
 * theme-crossover/css/libraries/region/footer.css
 * margin for the footer only on the new homepage 
 */
body.path-frontpage .footer { margin-top: 4.85714rem; }
@media (min-width: 768px) { body.path-frontpage .footer { margin-top: 6rem; } }
@media (min-width: 1024px) { body.path-frontpage .footer { margin-top: 7.14286rem; } }
@media (min-width: 1440px) { body.path-frontpage .footer { margin-top: 9.42857rem; } }

/*
 * Updates z-index on the mobile global search dropdown
 */
.global-search-visible .layout-container > .global-search {
 z-index: 301;
}
