// Activity Preferences Page Global Styles -----------------------------------------------------------------------------
.activity-preferences-page {
  padding: 40px 3rem 40px 5rem; // 40px top matches side bar navigation

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;

    > div {
      padding: 0.5rem 0 0.25rem 0;
    }

    .icon-labels {
      align-items: flex-end;
      font-weight: 700;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      padding-right: 1.5rem;

      > div {
        padding-left: 2rem;
      }
    }
  }

  hr {
    border-top: 2px solid #F2F2F2;
  }

  h1 {
    margin: initial; // removes default margin

    &.comm-channels-h1 {
      padding: 2.5rem 0 0.5rem 0;
    }
  }

  h2 {
    margin: initial; // removes default margin
    padding: 1.8rem 0 0.5rem 0;
  }

  a {
    text-decoration: underline;
  }

  // removes default padding and margin, unsets font size and weight
  fieldset,
  label {
    font-size: unset;
    font-weight: unset;
    margin: initial;
    padding: initial;
  }
}

// Icons: Email, SMS, Web and App --------------------------------------------------------------------------------------
// TODO: Use icon mixin in new theme

.preferences, channel-header {
  div::after {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    font-size: 1rem;
    height: 1em;
    width: 1em;
  }

  .email-wrapper::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/mail.svg');
  }

  .sms-wrapper::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/chat-bubble.svg');
  }

  .sms-wrapper--disabled::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/chat-bubble--grey.svg');
  }

  .web-wrapper::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/notifications.svg');
  }

  .web-wrapper--disabled::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/notifications--grey.svg');
  }

  .app-wrapper::after {
    background-image: url('/themes/custom/unitedrentals/images/icons/mobile.svg');
  }
}

// Banner Section: Includes Title, Subtitle, Checkbox and Icon ---------------------------------------------------------
.banner {
  border: 2px solid #F2F2F2;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  overflow: hidden;
  justify-content: space-between;

  &:hover,
  &:active {
    color: #414B50;
    background-color: rgb(233, 250, 255);
  }

  .title {
    font-weight: 700;
  }

  .subtitle {
    padding-top: 0.8rem;
  }

  /** preferences class wraps all icon and input checkbox pairings
  * icons are applied on the ::after pseudo element on the respective div wrapper
  * default input is hidden, styled input is applied on the label pseudo elements
  * :not(:checked) state style is applied on the label::before pseudo element
  * :checked state style is applied on the label::after pseudo element
  * styles derive from input checkbox and radio crossover styles
  * docroot/themes/custom/unitedrentals/theme-crossover/css/libraries/form/checkboxes.css
  */
  .preferences {
    display: flex;
    padding-right: 0.4rem;

    > div {
      display: flex;
      flex-direction: column-reverse;
      padding-left: 2.8rem;

      &::after {
        margin-bottom: 1rem;
      }

      > label {
        align-items: center;
        font-size: 14px;
        padding-bottom: 0.8rem;

        &[for=web-alerts],
        &[for=sms-promos],
        &[for=web-promos] {
          pointer-events: none ;
        }
      }

      > input {
        padding-top: 0.8rem;
      }
    }
  }
}

// include margin on top when banner section is independent
.stand-alone-banner {
  margin-top: 1.5rem;
}

// when banner include radio inputs
.banner-with-radios {
  border-radius: 0.5rem 0.5rem 0 0;
}

// Radio Section: Includes Title, Radio, Option Title and Option Subtitle ----------------------------------------------
.radio-section {
  border: 2px solid #F2F2F2;
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: none;
  display: flex;
  padding: 1rem;
  overflow: hidden;
  flex-direction: column;

  &:hover,
  &:active {
    color: #414B50;
    background-color: rgb(233, 250, 255);
  }

  .radio-title {
    padding-bottom: 0.5rem;
  }
}

.radio-section-middle {
  border-radius: 0;
}

.follow-options,
.activity-options {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;

  > div {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2rem;

    .title {
      font-weight: 700;
    }

    .subtitle {
      font-weight: 500;
    }
  }

  > a {
    padding-left: 2rem;
  }
}

// overrides input left padding style
.follow-options,
.activity-options,
.category-options {
  input[type='checkbox']:checked + label,
  input[type='checkbox']:not(:checked) + label,
  input[type='radio']:checked + label,
  input[type='radio']:not(:checked) + label {
    padding-left: 2rem;
  }
}

// Categories Section: Includes Checkboxes and Subtitles ---------------------------------------------------------------
.category-options {
  padding-left: 1.8rem;

  > div {
    display: flex;
    padding-bottom: 1rem;

    > label {
      font-weight: 500;
      padding-left: 0.8rem;
    }
  }
}

// Communication Channels Section: Includes Icon, Title, Slot and Subtitle ---------------------------------------------
.comm-channels {
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  .channel-options {
    flex-direction: column;

    .channel {
      padding-bottom: 1rem;

      .preferences {
        display: flex;

        > div  {
          display: flex;
          flex-direction: row-reverse;
        }

        .channel-title {
          align-items: center;
          display: flex;
          font-weight: 700;
          padding-left: 0.5rem;
        }

        label::before {
          margin-right: 0.5rem;
        }
      }

      .channel-content {
        padding-top: 0.5rem;
        padding-left: calc(0.5rem + 14px);

        > .channel-slot {
          color: #DDE0E2;
        }
      }
    }
  }

  .edit {
    display: flex;
    align-items: center;
  }
}

.footnote {
  padding: 1rem 1.5rem;
}
