<template>
  <div class="activity-preferences-page">
    <h1>Activity Preferences</h1>
    <h2>Notification Settings</h2>
    <hr/>

    <div class="header">
      <div>Choose how you recieve notification for orders and jobsties that you follow.</div>

      <div class="icon-labels">
        <div class="email-label">EMAIL</div>
        <div class="sms-label">SMS<sup>1</sup></div>
        <div class="web-label">WEB</div>
      </div>
    </div>

    <!--Jobsites & Orders Activity Section ---------------------------------------------------------------------------->
    <div class="banner banner-with-radios">
      <div class="content">
        <div class="title">Jobsites & Orders Activity</div>
        <div class="subtitle">These messages inform you about the monitoring and management of your rentals.</div>
      </div>

      <fieldset>
        <div class="preferences">
          <div class="email-wrapper form-checkboxes">
            <!--default value of input on page load is set to checked-->
            <input type="checkbox" id="email-activity" class="form-checkbox" checked>
            <label for="email-activity"></label>
          </div>

          <div class="sms-wrapper form-checkboxes">
            <!--default value of input on page load is set to checked-->
            <input type="checkbox" id="sms-activity" class="form-checkboxes" checked>
            <label for="sms-activity"></label>
          </div>

          <div class="web-wrapper form-checkboxes">
            <input type="checkbox" id="web-activity" class="form-checkboxes">
            <label for="web-activity"></label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Following Section -------------------------------------------------------------------------------------------->
    <div class="radio-section radio-section-middle">
      <div class="radio-title">Manage what you want to follow across your orders and jobsites.</div>

      <fieldset>
        <div class="follow-options">
          <div class="follow-1-wrapper form-radios">
            <input type="radio" id="follow-option-1" class="form-radio">
            <label for="follow-option-1" class="title">Smart Following</label>
            <label for="follow-option-1" class="subtitle"> — Automatically follow all orders and jobsites that you create or manage.</label>
          </div>

          <div class="follow-2-wrapper form-radios">
            <input type="radio" id="follow-option-2" class="form-radio">
            <label for="follow-option-2" class="title">Follow Following</label>
            <label for="follow-option-2" class="subtitle"> — Automatically follow all orders and jobsites related to your account(s).</label>
          </div>

          <div class="follow-3-wrapper form-radios">
            <input type="radio" id="follow-option-3" class="form-radio">
            <label for="follow-option-3" class="title">Manual Following</label>
            <label for="follow-option-3" class="subtitle"> — Automatic following is off, and only selected orders and jobsites will be followed.</label>
          </div>

          <a href="https://www.google.com">Configure Jobsites & Orders</a>
        </div>
      </fieldset>
    </div>

    <!--  Activities Section ------------------------------------------------------------------------------------------>
    <div class="radio-section">
      <div class="radio-title">Choose how you recieve notifications for orders and jobsites that you follow.</div>

      <fieldset>
        <div class="activity-options">
          <div class="activity-1-wrapper form-radios">
            <input type="radio" id="activity-option-1" class="form-radio">
            <label for="activity-option-1" class="title">Primary Activities</label>
            <label for="activity-option-1" class="subtitle"> — Include Order Confirmation, Equipment Due Soon, and Rental Overdue.</label>
          </div>

          <div class="activity-2-wrapper form-radios">
            <input type="radio" id="activity-option-2" class="form-radio">
            <label for="activity-option-2" class="title">Individual Categories</label>
            <label for="activity-option-2" class="subtitle"> — Choose which overall categories are important to your role.</label>
          </div>

            <!-- Categories Sub-Section ------------------------------------------------------------------------------->
            <fieldset>
              <div class="category-options">
                <div class="category-1-wrapper form-checkboxes">
                  <input type="checkbox" id="category-option-1" class="form-checkbox">
                  <label for="category-option-1" class="subtitle">Rental Status</label>
                </div>

                <div class="category-2-wrapper form-checkboxes">
                  <input type="checkbox" id="category-option-2" class="form-checkbox">
                  <label for="category-option-2" class="subtitle">Fleet Management</label>
                </div>

                <div class="category-3-wrapper form-checkboxes">
                  <input type="checkbox" id="category-option-3" class="form-checkbox">
                  <label for="category-option-3" class="subtitle">Deliveries & Pickups</label>
                </div>

                <div class="category-4-wrapper form-checkboxes">
                  <input type="checkbox" id="category-option-4" class="form-checkbox">
                  <label for="category-option-4" class="subtitle">Billing & Payments</label>
                </div>
              </div>
            </fieldset>

          <div class="activity-3-wrapper form-radios">
            <input type="radio" id="activity-option-3" class="form-radio">
            <label for="activity-option-3" class="title">Manual Activities</label>
            <label for="activity-option-3" class="subtitle"> — Select which activities will drive notifications what you recieve.</label>
          </div>

          <a href="https://www.google.com">Configure Activities</a>
        </div>
      </fieldset>
    </div>

    <!--Urgent Alerts Sections ---------------------------------------------------------------------------------------->
    <div class="banner stand-alone-banner">
      <div class="content">
        <div class="title">Urgent Alerts</div>
        <div class="subtitle">These messages include overdue Rental, Invalid PO Number, and Low Utilization.</div>
      </div>

      <fieldset>
        <div class="preferences">
          <div class="email-wrapper form-checkboxes">
            <input type="checkbox" id="email-alerts" class="form-checkbox">
            <label for="email-alerts"></label>
          </div>

          <div class="sms-wrapper form-checkboxes">
            <!--default value of input on page load is set to checked-->
            <input type="checkbox" id="sms-alerts" class="form-checkbox" checked>
            <label for="sms-alerts"></label>
          </div>

          <div class="web-wrapper--disabled form-checkboxes">
            <input disabled type="checkbox" id="web-alerts" class="form-checkbox">
            <label for="web-alerts"></label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Promotional Messages Section --------------------------------------------------------------------------------->
    <div class="banner stand-alone-banner">
      <div class="content">
        <div class="title">Promotional Messages</div>
        <div class="subtitle">Receive special offers and promotions via email.</div>
      </div>

      <fieldset>
        <div class="preferences">
          <div class="email-wrapper form-checkboxes">
            <input type="checkbox" id="email-promos" class="form-checkbox">
            <label for="email-promos"></label>
          </div>

          <div class="sms-wrapper--disabled form-checkboxes">
            <input disabled type="checkbox" id="sms-promos" class="form-checkbox">
            <label for="sms-promos"></label>
          </div>

          <div class="web-wrapper--disabled form-checkboxes">
            <input disabled type="checkbox" id="web-promos" class="form-checkbox">
            <label for="web-promos"></label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Communicaiton Channels Section ------------------------------------------------------------------------------->
    <h1 class="comm-channels-h1">Communication Channels</h1>
    <hr/>

    <div class="comm-channels">
      <div class="channel-options">
        <div class="channel">
          <div class="preferences">
            <div class="email-wrapper">
              <label class="channel-title">Email</label>
            </div>
          </div>

          <div class="channel-content">
            <span class="channel-subtitle">Recieve activity to your profile email:</span>
            <span class="channel-slot">first.last@email.com</span>
          </div>
        </div>

        <div class="channel">
          <div class="preferences">
            <div class="sms-wrapper">
              <label class="channel-title">SMS</label>
            </div>
          </div>

          <div class="channel-content">
            <span class="channel-subtitle">Recieve SMS messages to phone number:</span>
            <span class="channel-slot">123-456-7890</span>
          </div>
        </div>

        <div class="channel">
          <div class="preferences">
            <div class="app-wrapper">
              <label class="channel-title">App</label>
            </div>
          </div>

          <div class="channel-content">
            <span class="channel-subtitle">For worksite app notifications, specifiy within the app settings. <br/>
                                           Download the app from the <a href="https://www.google.com">iOS App Store</a>
                                           or <a href="https://www.google.com">Google Play</a>.</span>
          </div>
         </div>
        </div>

        <div class="edit">
          <a href="https://google.com">Edit</a>
        </div>
      </div>

      <hr/>

      <div class="footnote">
        <sup>1</sup>When sending through SMS, carrier messaging and data rates may apply. From your phone text STOP to stop and HELP for help. View
        <a href="https://www.google.com">Legal Terms and Conditions</a> and
        <a href="https://www.google.com">Privacy Policy</a>.
      </div>
  </div>
</template>

<script type="text/babel">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'activity-preferences',
  });
</script>

<style lang="scss">
  @import './activity-preferences';

</style>
