{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}

  {% import _self as menus %}

  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass(['menu', 'menu__account']) }}>
  {% else %}
  <ul>
    {% endif %}

    {% for route_name, item in items %}
      {% if item.in_active_trail == TRUE and item.below == TRUE %}
        {% set classes = [
          'menu__item',
          'menu__item--below',
          'menu__item--active'
        ] %}
      {% elseif item.in_active_trail == TRUE and item.below == FALSE %}
        {% set classes = [
          'menu__item',
          'menu__item--active'
        ] %}
      {% elseif item.in_active_trail == FALSE and item.below == TRUE %}
        {% set classes = [
          'menu__item',
          'menu__item--below'
        ] %}
      {% else %}
        {% set classes = ['menu__item'] %}

      {% endif %}

      {% set attributes = item.attributes.addClass(classes) %}

      {% if item.title == 'English' %}
        <translation-user-menu></translation-user-menu>

      {% elseif item.title == 'Account Selector' %}
        <account-selector-trigger></account-selector-trigger>

      {% else %}

        {# This variable prevents PII (user names) from being tracked. User Names appear in the item.title of the Login Menu Item #}
        {% set gtmTrackMainNavValue = (attributes['id'] == 'login') ? 'Account Drop Down' : item.title|e('js') %}

        {% if route_name == 'ur_menu.user_logout' %}
          <li {{ attributes.addClass('login-item')|without('id') }}>
        {% elseif route_name == 'ur_menu.sign_out' %}
          <li {{ attributes.addClass('logout-item')|without('id') }}>
        {% else %}
          <li{{ attributes|without('id') }}>
        {% endif %}

          {# Our custom logout link will get the account-cirlce icon #}
          {% if route_name == 'ur_menu.user_logout' %}
            <a class="menu__link menu__link-with-icon"
               href="{{ item.url }}"
               onclick="window._app.gtmTrackMainNav('top', '{{ gtmTrackMainNavValue }}')"
                {{ attributes|without('class') }}
            >
              <span id="account-logout-menu">{{ item.title }}</span>
              <q-icon icon-name="account-circle" size="x-small" />
            </a>
          {% elseif route_name == 'ur_menu.sign_out' %}
            <a class="menu__link logout-link"
               href="{{ item.url }}"
               onclick="window._app.gtmTrackMainNav('top', '{{ gtmTrackMainNavValue }}')"
                {{ attributes|without('class') }}
            >
              {{ item.title }}
            </a>
          {% else %}
          <a class="menu__link"
             href="{{ item.url }}"
             onclick="window._app.gtmTrackMainNav('top', '{{ gtmTrackMainNavValue }}')"
              {{ attributes|without('class') }}
          >
            {{ item.title }}
          </a>
          {% endif %}

          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}

        </li>

      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
