.callout-cards-container {
  padding: 0 1rem;
}

.callout-cards-container, .component-callout-cards-container__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  @include breakpoint($break-medium) {
    padding: 0;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.callout-card {
  position: relative;
  margin-bottom: 1rem;

  @include breakpoint($break-small) {
    width: 50%;

    &:nth-child(odd) {
      padding-right: .5rem;
    }

    &:nth-child(even) {
      padding-left: .5rem;
    }
  }

  @include breakpoint($break-medium) {
    overflow: visible;
    margin-bottom: 85px;
    flex-basis: 49%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  &__link {
    position: relative;
    display: block;

    &:hover {
      .callout-card__icon {
        opacity: 1;
        left: 0;
      }
    }
  }

  &__icon-image-wrapper {
    display: none;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -50px;
    z-index: 1;
    overflow: hidden;

    @include breakpoint($break-medium) {
      display: block;

    }
  }

  &__image-wrapper {
    position: relative;

    @include breakpoint($break-medium) {
      margin: 0 auto;
      max-width: 410px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.8) 100%);
  }

  &__heading-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 0 21px 23px;

    @include breakpoint($break-small) {
      max-width: 80%;
    }
  }

  &__heading {
    color: $color-white;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    -webkit-font-smoothing: antialiased;

    @include breakpoint($break-small) {
      font-size: 28px;
      line-height: 1.11;
    }
  }

  &__icon {
    transition: all 0.1s linear;
    margin-left: 7px;
    font-size: $font-size-h4;
    color: $color-orange;
    opacity: 0;
    position: relative;
    left: -5px;
  }

}
