.node--type-faq {
  &.node--view-mode-teaser, &.node--view-mode-faq-teaser {
    .faq__question {
      margin: 0;
      padding: 18px 0 15px;
      font-size: 21px;
      font-weight: 300;
      max-width: 90%;
      flex-grow: 1;
      -webkit-font-smoothing: antialiased;

      &:hover {
        text-decoration: underline;
      }
    }

    .faq__answer {
      -webkit-font-smoothing: antialiased;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      transition: all $animation-speed $anim-ease;

      p { margin: 0; }
    }
  }
}

.microsite-faq-list {
  padding: 0 1rem;

  @include breakpoint($break-small) {
    max-width: 80%;
    margin: 0 auto;
  }

  footer {
    position: relative;
    margin: 30px 0 ;

    .button {
      max-width: 174px;
      margin: 0 auto;
    }
  }
}

.faq-row {
  position: relative;
  border-top: 1px solid white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;

  &--gray-background {
    border-top: 1px solid #002F55;
  }

  &--last-faq {
    border-bottom: 1px solid #002F55 !important;
  }

  &.is-open {
    padding-bottom: 18px;

    span:before {
      content: $icon-remove;
    }

    .faq__answer {
      max-height: 300px; // Arbitrary max-height for the answer

      span:before {
        content: none !important;
      }
    }
  }

  &:last-of-type {
    border-bottom: 1px solid white;
  }

  .view-answer {
    background: $color-white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    color: $color-blue-lowlight;
    text-align: center;
    font-size: 1.5rem;

    &.blue {
      background: $color-blue-highlight;
      color: $white;
    }

    &.blue-lowlight {
      background: $color-blue-lowlight;
      color: $white;
    }

    &.large {
      font-weight: 400;

      @include breakpoint($break-small) {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1.75rem;
      }
    }
  }
}

.faq-large {
  width: 100%;
  max-width: 830px;
  margin-bottom: 48px;
  padding: 1.5rem 1rem 0;
  margin-left: auto;
  margin-right: auto;

  .select {
    @include breakpoint($break-medium) {
      display: none;
    }
  }

  &__list {
    margin-top: 1.5rem;
    border-top: 1px solid $color-grey-11;

    &-category {
      .faq-row {
        display: none;

        &.show {
          display: flex;
        }
      }
    }
  }

  .faq-tabs, .faq-cat-tabs {
    margin: 0;
    padding: 0;
    display: none;

    @include breakpoint($break-medium) {
      display: block;
    }

    li {
      display: inline-block;
      padding: 0 0.5rem 0.5rem 0;
    }
  }

  .faq-tab-button {
    display: inline-block;
    border-radius: $border-radius-med;
    line-height: 20px;
    text-align: center;
    padding: 7px 10px;
    color: $color-grey-69;

    &.active {
      color: $white !important;
      background: $color-blue-highlight !important;
    }

    &:hover {
      text-decoration: none;
      background: #f2f2f2;
    }
  }

  .faq-tab {
    display: none;

    &.selected {
      display: block;
    }
  }

  .faq-row {
    border-bottom: 1px solid $color-grey-11;
  }

  .faq__answer {
    p {
      font-size: $font-size-h4;
      line-height: 1.44;
    }

  }

  .faq-row.is-open .faq__answer {
    margin-left: 1rem;
  }

}
