.paragraph {
  &.paragraph--type-microsite-text-component {
    padding: 0 1rem;
    margin: 38px 0 18px;

    @include breakpoint($break-small) {
      padding: 0;
      margin: 0 auto 61px;
      max-width: 497px;
    }

    .microsite-text--heading {
      color: $color-blue-highlight;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0 0 8px;
      -webkit-font-smoothing: antialiased;
    }

    .microsite-text--copy {
      font-size: 20px;
      line-height: normal;
      margin: 0;
      -webkit-font-smoothing: antialiased;
    }
  }
}