.paragraph--type-microsite-contact-ctas {
  margin: 0;

  @include breakpoint($break-small) {
    display: flex;
    justify-content: center;
  }

  @include breakpoint($break-medium) {
    margin-bottom: 46px;
  }
}

.microsite-cta {
  position: relative;
  top: 0;
  transition: all 0.1s linear;
  height: 84px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 19.3px 15.1px 17.5px 15.1px;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;

  &:hover {
    top: -5px;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.19);
  }

  &__phone {
    &:hover {
      background-color: #012e56;
    }
  }

  &__email {
    &:hover {
      background-color: #012e56;
    }
  }

  @include breakpoint($break-small) {
    flex-grow: 1;
    flex-basis: 410px;
    max-width: 410px;
    height: 133px;
  }


  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: white;
    text-decoration: none;
  }

  &__icon,
  &__content {
    display: inline-block;
  }

  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    background: white;
    margin-right: 1rem;
    text-align: center;
    font-size: 24px;
    line-height: 48px;

    @include breakpoint($break-small) {
      height: 75px;
      width: 75px;
      line-height: 75px;
      font-size: $font-size-display1;
    }

    .microsite-cta__phone & {
      color: $color-blue;
    }

    .microsite-cta__email & {
      color: $color-blue-highlight;
    }
  }

  &__content {
    font-weight: bold;
    font-size: $font-size-h2;

    @include breakpoint($break-small) {
      font-size: $font-size-h1;
    }
  }

}
