.paragraph--type-hero-blocks {
  &.paragraph--view-mode-hero-block-with-video {
    overflow: visible;
    height: auto;
    margin-bottom: 80px;

    @include breakpoint($break-small) {
      margin-bottom: 140px;
    }

    @include breakpoint($break-medium) {
      margin-bottom: 170px;
    }

    [responsive-hero-image] {
      position: relative;
      background-position: top left;
      background-repeat: no-repeat;

      img {
        display: none;
      }
    }

    .hero--with-video {
      background-size: cover;
      max-height: 475px;

      @include breakpoint($break-medium) {
        padding: 0 1rem;
      }
    }

    .microsite-hero--media-container {
      overflow: hidden;
      cursor: pointer;
      position: relative;
      max-width: 545px;
      margin: 0 auto;
      box-shadow: 4px -5px 22px 0 rgba(0, 0, 0, 0.49);

      @include breakpoint($break-medium) {
        max-height: 358px;
        overflow: hidden;
      }

      img {
        transition: all 0.1s;
        display: block;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(186deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.68))
      }

      .microsite-hero--video { display: none; }

      &.video-playing {
        img, .circle, .overlay { display: none; }
        .microsite-hero--video { display: block; }
      }

      // Hover styles UR-3489
      &:hover {
        .circle {
          background: rgba(255, 255, 255, 1);
        }

        .microsite-hero--video-thumbnail img {
          transform: scale(1.1);
        }
      }
    }

    .hero--headline,
    .hero--description {
      margin: 0;
      color: inherit;
    }

    .hero--headline {
      font-size: 64px;
      line-height: 2.48;
      padding-top: 28px;
      -webkit-font-smoothing: antialiased;

      @include breakpoint($break-medium) {
        padding: 0;
        font-size: 58px;
        line-height: normal;
        padding-top: 94px;
      }
    }

    .hero--description {
      font-size: 16px;
      line-height: 1.3;
      max-width: 658px;
      margin: 0 auto 15px;

      @include breakpoint($break-medium) {
        font-size: 20px;
        margin: 0 auto 53px;
      }
    }

    .video-embed-field-responsive-video {
      min-width: 290px;
      min-height: 192px;
    }
  }
}

.faq-microsite--page {
  .hero {
    text-align: center;
    margin-bottom: 30px;

    .hero__content {
      padding: 0;
    }
  }
}
