$circle-size-small: 80px;
$circle-size-large: 75px;

$play-button-size-small: 22px;
$play-button-size-large: 20px;

$play-button-top-offset-small: $play-button-size-small / 2;
$play-button-left-offset-small: $play-button-size-small / 4;

$play-button-top-offset-large: $play-button-size-large / 2;
$play-button-left-offset-large: $play-button-size-large / 4;

$play-button-border-radius: 30%;


@mixin center-circle($circle-size) {
  $offset: $circle-size / 2;
  height: $circle-size;
  width: $circle-size;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - #{$offset});
  left: calc(50% - #{$offset});
}

/// Mixin - Rounded Triangle:
/// Creates styles to create a triangle with 3 rounded corners
/// Add to the container that holds the grid columns.
/// @param {string} $color - The color to make the triangle
/// @param {number} $size - The size to make the  triangle
/// @param {number} $border-radius - The border-radius to apply to the triangle corners
/// @group Misc
/// @example scss
///   .button {
///     @include grid($color, $size, $border-radius);
///   }
@mixin rounded-triangle($color, $size, $border-radius) {
  text-align: initial; // text-align center breaks things
  background-color: $color;
  border-top-right-radius: $border-radius;
  transform: rotate(30deg) skewX(-30deg) scale(1,.866);
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: inherit;
    border-top-right-radius: $border-radius;
    width: $size;
    height: $size;
  }

  &:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }

  &:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }

  // Demonstration purposes only.
  //&:hover {
  //  background: rgba(0,0,255,.5);
  //
  //  &:before { background: rgba(255,0,0,.5); }
  //
  //  &:after { background: rgba(255,255,0,.5); }
  //}
}

.microsite-slideshow {
  margin-bottom: 42px;

  @include breakpoint($break-small) {
    max-width: 95%;
    margin: 23px auto 0;
  }

  @include breakpoint($break-medium) {
    max-width: none;
    margin: 23px 0 0;
  }

  &--featured-slides {

    @include breakpoint($break-small) {
      padding: 0;
    }
  }

  .VueCarousel-inner {
    padding-left: 11px;

    @include breakpoint($break-small) {
      padding-left: 0;
    }
  }

  .VueCarousel-navigation {
    display: none;

    // Only show arrows on >= 640
    @include breakpoint($break-small) {
      display: block;
    }

    .VueCarousel-navigation-button {
      font-family: icomoon, sans-serif;
      font-size: 32px;
      color: $color-blue-highlight;
    }

    .VueCarousel-navigation-next {
      @extend .icon-angle-right;

      @include breakpoint($break-small) {
        right: 10px;
      }

      @include breakpoint($break-medium) {
        right: 0;
      }
    }

    .VueCarousel-navigation-prev {
      @extend .icon-angle-left;

      @include breakpoint($break-small) {
        left: 10px;
      }

      @include breakpoint($break-medium) {
        left: 0;
      }
    }
  }

}


.microsite-slide {
  padding: 0 3.5px;

  @include breakpoint($break-small) {
    padding: 0 9px;

    &:first-child {
      padding-left: 1rem;

      @include breakpoint($break-medium) {
        padding-left: 0;
      }
    }
  }

  &.is-active {
    .microsite-slide--thumbnail-overlay { display: none; }
  }

  &--featured-slide {
    display: none;

    &.is-active { display: block; }

    @include breakpoint($break-small) {
      .paragraph--type-microsite-slide {
        display: flex;
        margin: 0;
        justify-content: space-between;
      }
    }
  }

  &--featured-wrapper {
    padding: 0 1rem;
  }

  &--featured-title {
    margin-top: 35px;
    margin-bottom: 11px;
    font-size: 24px;

    @include breakpoint($break-small) {
      margin-top: 0;
    }
  }

  &--featured-caption {
    font-size: $font-size-h4;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &--featured-thumbnail-wrapper {
    position: relative;
    max-width: 494px;
    //box-shadow: 4px -5px 22px 0 rgba(0, 0, 0, 0.49);
  }


  &--media-container {
    cursor: pointer;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;

    @include breakpoint($break-small) {
      padding-left: 1rem;
      flex: 1 0 410px;
    }

    @include breakpoint($break-medium) {
      padding-left: 0;
      flex: 1 0 508px;
    }

    img {
      transition: all 0.1s;
      display: block;
    }

    &.video-playing {
      .microsite-slide--featured-thumbnail,
      .circle {
        display: none;
      }

      .microsite-slide--video { display: block; }
    }

    // Hover styles UR-3489
    &:hover {
      .circle {
        background: rgba(255, 255, 255, 1);
      }

      .microsite-slide--featured-thumbnail img {
        transform: scale(1.1);
      }
    }
    .microsite-slide--featured-thumbnail {
      overflow: hidden;
    }
  }

  &--video {
   display: none;
    width: 100%;

    @include breakpoint($break-medium) {
      width: 494px;
    }
  }

  &--thumbnail-wrapper {
    @include breakpoint($break-small) {
      max-width: 239px;
    }
  }

  &--thumbnail {
    position: relative;
    display: inline-block;
  }

  &--thumbnail-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.64));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--title,
  &--caption {
    -webkit-font-smoothing: antialiased;
    opacity: 0.5;

    .is-active & {
      opacity: 1;
    }
  }

  &--title {
    margin: 4.1px 0 0;
    font-size: $font-size-h4;
    line-height: 1.38;
  }

  &--caption {
    display: none;

    @include breakpoint($break-small) {
      display: block;
    }
  }
}

.circle {
  @include center-circle($circle-size-small);
  background: rgba(255, 255, 255, 0.9);
  transition: background-color 0.1s linear;

  @include breakpoint($break-small) {
    @include center-circle($circle-size-large);
  }
}

.play-button-wrapper {
  position: relative;
  top: calc(50% - #{$play-button-top-offset-small});
  left: calc(50% - #{$play-button-left-offset-small});

  @include breakpoint($break-small) {
    top: calc(50% - #{$play-button-top-offset-large});
    left: calc(50% - #{$play-button-left-offset-large});
  }

}

/*
  This handles making the play button (triangle) with 3 rounded edges.

  Stole this from:
  https://stackoverflow.com/questions/14446677/how-to-make-3-corner-rounded-triangle-in-css
*/
.play-button {
  @include rounded-triangle($color-blue-highlight, $play-button-size-small, $play-button-border-radius);
  position: relative;

  @include breakpoint($break-small) {
    @include rounded-triangle($color-blue-highlight, $play-button-size-large, $play-button-border-radius);
  }
}

.page-node-type-microsite-page {
  .VueCarousel-pagination {
    margin-bottom: 35px;
    @include breakpoint($break-small) {
      margin-bottom: 0;
    }
  }
  .VueCarousel-navigation-button {
    top: 20% !important;
  }
}
