.microsite-section {
  overflow: auto;
  padding: 0;
  margin: 0;

  &__wrapper {
    max-width: 1280px;
  }

  @include breakpoint($break-medium) {
    padding: 1.5rem 46px;
  }

  &__with-gray-background {
    background: $color-grey-2;
    padding-bottom: 48px;
    margin-bottom: 48px;
  }

  &__with-background-image {
    position: relative;
    overflow: hidden;

    @include breakpoint($break-medium) {
      padding: 71px 46px;
    }

    * { color: white; }

    @include breakpoint($break-medium) {
      min-height: 527px; // arbitrary height
    }
  }

  [responsive-background-image] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 800px; // Setting arbitrary height so background doesn't grow as section gets taller.
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    img {
      display: none;
    }

  }

  &__hide-header-on-mobile {

    .microsite-section__heading-group {
      display: none;

      @include breakpoint($break-small) {
        display: block;
      }
    }
  }

  &__wrapper {
    margin: 0 auto;
  }

  &__heading-group {
    position: relative;
    padding: 1.5rem 1rem 0;
    margin: 0 auto 48px; // Sticking with 48px for all heading group margins
    max-width: 1024px; // Arbitrary max width

    // Little blue bar underneath the header group for each section.
    &::after {
      content: '';
      display: block;
      position: relative;
      width: 42px;
      height: 6px;
      background-color: $color-blue-highlight;
      margin: 0 auto;
      bottom: -1rem;
      left: 0;
    }
  }

  &__heading,
  &__subheading {
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  &__heading {
    font-size: 36px;
    @include breakpoint($break-medium) {
      font-size: 38px;
    }
  }

  &__subheading {
    @include breakpoint($break-medium) {
      font-size: 20px;
    }
  }

  .faq-list {

  }
}

.faq-microsite--page {
  .hero {
    text-align: center;

    .hero__content {
      padding: 0;
    }
  }
}

.page-node-type-microsite-page .footer__language {
  display: none !important;
}

.page-node-type-microsite-page {

  .header__global-navigation-pages nav .menu > .menu__item > a {
    //font-size: $font-size-small;
  }
}

