.fact-cards {
  display: flex;
  flex-flow: row wrap;

  @include breakpoint($break-small) {
    margin-bottom: 59px;
    padding: 0 1rem;
    justify-content: space-between;
  }

  @include breakpoint($break-medium) {
    padding: 0;
  }

  .component-fact-cards__content {
    width: 100%;

    @include breakpoint($break-small) {
      display: flex;
      justify-content: inherit;
    }
  }
}

.fact-card {
  overflow: auto;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  @include breakpoint($break-small) {
    flex-basis: 32%;
    flex-basis: 33%;
    padding: 0 .5rem;


    &:first-child {
      padding-left: 0;
      padding-right: .5rem;
    }

    &:last-child {
      padding-left: .5rem;
      padding-right: 0;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: $color-blue;

  }

  &__heading,
  &__subline {
    margin: 0;
  }

  &__heading {
    font-size: 62px;
    color: $color-blue;

    @include breakpoint($break-medium) {
      font-size: 70px;
    }
  }

  &__subline {
    font-size: $font-size-h4;
    line-height: 1.5;
    margin-bottom: 14.3px;
    flex: 1 0 auto;

    @include breakpoint($break-small) {
      margin-bottom: 53px;
    }
  }
}
