<template>
  <div class="loading-wrapper">
    <div class="loading">
      <span>
        <ur-loading-spinner></ur-loading-spinner>
        <span class="heading-2 heading-2--thin">One moment while we redirect you.</span>
      </span>
    </div>
  </div>
</template>

<script>
  import MessageRoutingApi from '@/api/api.message-routing';
  import { mapState, mapGetters, mapActions } from 'vuex';
  import types from '@/store/types';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  export default {
    components: {
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        accountsReady: state => state.accounts.accountsFetched,
      }),
      ...mapGetters({
        firstAccount: types.accounts.firstAccount,
        isValidAccountId: types.accounts.isValidAccountId,
      }),
    },
    methods: {
      ...mapActions({
        setDefaultAccountId: types.user.updateDefaultAccountId,
      }),
      async reRoute() {
        this.message = '';

        const { acctId } = this.$route.query;

        const options = {
          accountId: this.isValidAccountId(acctId) ? acctId : this.firstAccount.id,
          requisitionId: this.$route.query.requisitionId,
          catClass: this.$route.query.catClass,
          messageType: this.$route.query.messageType,
        };
        const response = await MessageRoutingApi.fetchMessageRoute(options);
        const { newRoute } = response.data.data;

        window.location = newRoute;
      },
    },
    watch: {
      accountsReady: {
        handler(ready) {
          if (!ready) {
            return;
          }

          const { acctId } = this.$route.query;

          if (this.isValidAccountId(acctId)) {
            this.setDefaultAccountId(acctId);
          }

          this.reRoute();
        },
        immediate: true,
      },
    },
    name: 'message-router',
  };
</script>


<style lang="scss">

  .loading {
    display: flex;
    justify-content: space-around;
  }

  .loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
  }

</style>
