<div class="platform-account-search">
  <div class="inner-column_left">
    <input type="text" placeholder="Search">
    <i class="icon icon-search"></i>
  </div>

  <div class="inner-column_middle">
    <div class="select">
      <select class="dropdown-style1">
        {% for option in probox_item_list_description_select_options %}
          <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
      </select>
      <i class="icon icon-angle-down"></i>
    </div>
  </div>

  <div class="inner-column_right">
    <div class="select">
      <select class="dropdown-style1">
        {% for option in probox_item_list_description_select_options %}
          <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
      </select>
      <i class="icon icon-angle-down"></i>
    </div>
  </div>
</div>
