<div class="quote-list-status">
  <div class="quote-container grid">
    <div class="group-full">
        <span class="platform-account-list-item__item-name">
    {{ quote_list_item_item_name }}
          #{{ quote_list_item_quote_number }}</span>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small_left column">
      <div class="platform-account-item-list-status__chip progress">
        {{ quote_list_item_quote_status }}
      </div>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small column">
      <span class="label">{{ quote_list_item_created_on }}</span>
      <span class="inner-label">{{ quote_list_item_created_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">{{ quote_list_item_expires }}</span>
      <span class="inner-label">{{ quote_list_item_expire_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">{{ quote_list_item_items_label }}</span>
      <span class="inner-label">{{ quote_list_item_item_quantity }}</span>
    </div>
  </div>
</div>
