<div class="quote-list-status">
  <div class="quote-container">
    <div class="inner-column_small_left">
        <span class="platform-account-list-item__item-name">
    {{ quote_list_item_item_name }}
          #{{ quote_list_item_quote_number }}</span>
    </div>

    <div class="inner-column_small_right">
      <span class="price">${{ quote_list_item_price }}</span>
    </div>
  </div>

  <div class="quote-container">
    <div class="inner-column_small">
      <div class="platform-account-item-list-status__chip progress">
        {{ quote_list_item_quote_status }}
      </div>
    </div>

      <div class="inner-column_small">
        <span class="label">{{ quote_list_item_created_on }}</span>
        <span class="inner-label">{{ quote_list_item_created_date }}</span>
      </div>

      <div class="inner-column_small">
        <span class="label">{{ quote_list_item_expires }}</span>
        <span class="inner-label">{{ quote_list_item_expire_date }}</span>
      </div>

      <div class="inner-column_small">
        <span class="label">Item(s)</span>
        <span class="inner-label">{{ quote_list_item_item_quantity }}</span>
      </div>

      <div class="inner-column_medium">
        <button class="button button--filled">
          {{ quote_convert_quote_button }}
        </button>
      </div>
  </div>

  <div class="group-full">
    <div class="platform-account-list-item__quick-view">
      <a href="#" class="quick-view-link">{{ quote_quick_view_label }} <i class="icon icon-angle-up"></i></a>
    </div>
  </div>
</div>
