<div class="quote-list-status">
  <div class="quote-container grid">
    <div class="inner-column_small_left">
        <span class="platform-account-list-item__item-name">
    {{ platform_account_reservation_list_item_item_name }}
          #{{ platform_account_reservation_list_item_reservation_number }}</span>
    </div>

    <div class="inner-column_small_right">
      <span class="price">${{ platform_account_reservation_list_item_price }}</span>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small_left column">
      <div class="platform-account-item-list-status__chip progress">
        {{ platform_account_reservation_list_item_reservation_status }}
      </div>
    </div>

    <div class="inner-column_small_right column">
      <a href="#" class="quick-view-link right"><i class="icon icon-angle-down"></i></a>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small column">
      <span class="label">Created</span>
      <span class="inner-label">{{ platform_account_reservation_list_item_created_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">End Date</span>
      <span class="inner-label">{{ platform_account_reservation_list_item_expire_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">Item(s)</span>
      <span class="inner-label">{{ platform_account_reservation_list_item_item_quantity }}</span>
    </div>
  </div>
</div>
