<div class="quote-list-status">
  <div class="quote-container grid">
    <div class="inner-column_small_left">
        <span class="platform-account-list-item__item-name">
    {{ quote_list_item_item_name }}
          #{{ quote_list_item_quote_number }}</span>
    </div>

    <div class="inner-column_small_right">
      <span class="price">${{ quote_list_item_price }}</span>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small_left column">
      <div class="platform-account-item-list-status__chip progress">
        {{ quote_list_item_quote_status }}
      </div>
    </div>

    <div class="inner-column_small_right column">
      <a href="#" class="quick-view-link right"><i class="icon icon-angle-up"></i></a>
    </div>
  </div>

  <div class="quote-container grid">
    <div class="inner-column_small column">
      <span class="label">{{ quote_list_item_created_on }}</span>
      <span class="inner-label">{{ quote_list_item_created_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">{{ quote_list_item_expires }}</span>
      <span class="inner-label">{{ quote_list_item_expire_date }}</span>
    </div>

    <div class="inner-column_small column">
      <span class="label">Item(s)</span>
      <span class="inner-label">{{ quote_list_item_item_quantity }}</span>
    </div>
  </div>

  <div class="quote-container icon-container">
    <a href="#"><i class="icon icon-envelope"></i></a>

    <a href="#"><i class="icon icon-print"></i></a>
  </div>

  <div class="quote-container">
    <ul>
      <li><strong>{{ quote_list_item_account_label }}</strong> {{ quote_list_item_account_no }}</li>
      <li><strong>{{ quote_list_item_total_price_label }}</strong> {{ quote_list_item_total_price }}</li>
      <li><strong>{{ quote_list_item_jobsite_label }}</strong> {{ quote_list_item_jobsite_address }}</li>
      <li><strong>{{ quote_list_item_delivery_dates_label }}</strong> {{ quote_list_item_delivery_dates }}</li>
    </ul>
  </div>

  <div class="quote-container item grid">
    <div class="inner-column_small">
      <div class="platform-account-reservation-details-item">
        <div class="group-left">
          <div class="cart__item">
            <div class="cart__img">
              <img height="44" width="44" src="http://via.placeholder.com/44x44">
            </div>
          </div>
        </div>

        <div class="group-right">
          <div class="cart__details">
            <p class="cart__cat_class_code">{{ quote_cat_class }}</p>
            <div class="grid">
              <div class="inner-column_medium">
                <span class="cart__details__name">{{ quote_item_name }}</span>
              </div>
              <div class="inner-column_medium">
                <span class="cart__details__pricing">{{ quote_pricing }}</span>
              </div>
            </div>
            <div class="cart__details__content"><p><strong>{{ quote_delivery_label }}</strong> {{ quote_delivery_time }}</p>
              <p><strong>{{ quote_list_item_delivery_dates_label }}</strong> {{ quote_return_time }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="button button--style-1 button--secondary">
    {{ quote_view_quote_detail_button }}
  </button>

  <button class="button button--filled">
    {{ quote_convert_quote_button }}
  </button>
</div>