{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{# Initialize variables. #}
{% set inner_attributes = create_attribute({}) %}
{% set classes = []%}
{% set content_classes = [] %}
{% set inner_classes = ['block__inner'] %}

{# Track if content is set. #}
{% set content_is_set = content|render|striptags|trim is not empty %}
{% if content_is_set %}
  {% set classes = classes|merge(['block--with-content']) %}
{% endif %}

{# If hero is set, hide the header and print the hero. #}
{% if hero is not null %}
  {#{% set classes = classes|merge(['visually-hidden']) %}#}
  {{ hero }}
{% endif %}

<header{{ attributes.addClass(classes) }}>
  <div{{ inner_attributes.addClass(inner_classes) }}>

    {{ super_title }}
    {{ favorites }}

    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {{ post_title }}

    <div{{ content_attributes.addClass(content_classes) }}>
      {{- content -}}
    </div>

  </div>
</header>
