<div class="location-finder-wrapper">
  <div id="location-finder-container" class="location-finder-container">
    <div class="location-finder-content-panel">
      <div class="spinner-overlay"><div class="spinner"></div></div>
      <div class="content-panel__content" style="overflow: scroll;">
        <div class="content-panel-header_container">
          <div id="desktopSearchContainer">
            <div class="location-search">
              {% if businessTypes %}
                <div class="branch-filter">
                  <div class="ur-menu-wrapper left">
                    <span class="ur-menu-button">
                      <span class="branch-filter-menu-label">{{ 'All Branches' | t }}</span>
                    </span>
                    <i class="icon icon-before-angle-down"></i>
                    <div class="ur-menu-container">
                      <div class="ur-menu-group">
                        <div class="ur-menu-group-item selectable list-item">
                          <a class="ur-menu-list-item" data-name="All Branches" data-type="All Branches">{{ 'All Branches' | t }}</a>
                        </div>
                        {% for idx,bt in businessTypes %}
                          <div class="ur-menu-group-item selectable list-item">
                            <a class="ur-menu-list-item" data-name="{{ bt }}" data-type="{{ idx }}">{{ bt }}</a>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="location-autocomplete input-group">
                <div class="input-wrapper">
                  <input
                    autocomplete="new-password"
                    tabindex="0"
                    ref="locationAutocompleteInput"
                    type="text"
                    placeholder="{{ 'Enter a location' | t }}">
                  <span class="clearspan" style="display: none;">Clear</span>
                </div>
                <ul class="suggestions" id="suggestions" ref="suggestions" style="display: none;">
                </ul>
              </div>
              <button class="button location-search-button">
                <i class="icon icon-before-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="state-list-container">
          <div class="media_block">
            <p>
              {{ 'Search our 880+ United Rentals locations in 49 states and 10 Canadian provinces to access the world\'s largest fleet of rental equipment for industrial operations and commercial contractors.' | t }}
            </p>
            <p>
              <a href="/locations-directory">
                {{ 'View our branch directory.' | t }}
              </a>
            </p>
          </div>
          <div class="state_results_section">
            <div class="state_result_country_title">
              <span>
                {{ 'United States' | t }}
              </span>
              <span class="chevron_icon_up">
                <i class="icon icon-before-arrow-down"></i>
              </span>
            </div>
              <div class="results_section">
                <ul class="list-ul">
                  {% for abbr,state in states %}
                    <li class="list-item">
                      <a href="/locations/{{ abbr }}" class="link">
                        {{ state.name }} ({{ state.total }})
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="state_results_section">
            <div class="state_result_country_title">
            <span>
              {{ 'Canada' | t }}
            </span>
            <span class="chevron_icon_up">
              <i class="icon icon-before-arrow-down"></i>
            </span>
            </div>
              <div class="results_section">
                <ul>
                {% for abbr,province in provinces %}
                  <li class="list-item">
                    <a href="/locations/{{ abbr }}" class="link">
                      {{ province.name }} ({{ province.total }})
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="content-panel-footer_container">
        <div class="content-panel-footer">
          <div class="content-panel_pagination">
          </div>
        </div>
      </div>
    </div>
    <div class="location-map">
      <div class="spinner-overlay active"><div class="spinner"></div></div>
      <div id="map"></div>
    </div>
  </div>
</div>
