<div class="locations-directory">
  <h1>{{ page_title }}</h1>
  <div class="locations-directory-listing">
    {% for country, states in directory_listing %}
      <div class="country-wrapper">
        <div class="country-heading">
          <h2>
            {{ country }}
          </h2>
        </div>
        <div class="country-listing">
          {% for state, categories in states %}
            <div class="state-wrapper">
              <div class="state-heading">
                {% if categories.path is not null %}
                  <h3>
                    <a href="{{ categories.path }}">
                      {{ state }}
                    </a>
                  </h3>
                {% else %}
                  <h3>
                    {{ state }}
                  </h3>
                {% endif %}
              </div>
              <div class="state-listing">
                {% for category, locations in categories.values %}
                  <div class="category-wrapper">
                    <div class="category-heading">
                      <h4>
                        {{ category }}
                      </h4>
                    </div>
                    <div class="location-listing">
                      {% for location in locations %}
                        <div class="location">
                          <a href="{{ location.path }}">
                            {{ location.address.address_line1 }}<br>
                            {{ location.address.locality }},
                            {{ location.address.administrative_area }}
                            {{ locaiton.address.postal_code }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
