<template>
  <div
    class="information-card flex-row flex-gap-10 padding-3"
    :class="{ 'shimmer': loading }">
    <div class="flex-column flex-gap-10">
      <p><strong>{{ title }}</strong></p>
      <p v-if="subtitle">sub{{ subtitle }}</p>
    </div>
    <div class="flex-column flex-gap-10 grow">
      <slot></slot>
    </div>
  </div>
</template>
<script type="text/babel">
  export default {
    props: {
      title: {
        type: String,
        required: true,
      },
      subtitle: {
        type: String,
        required: false,
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>
