<template>
  <div class="account-selector">
    <filterable-dropdown
      v-if="fetchingAccounts || userHasMultipleAccounts"
      :display-count="displayCount"
      :fixed="fixed"
      :label="hideLabel ? '' : $i18n('ur.account')"
      :options="options"
      :placeholder="$i18n('select.account')"
      :set-current-value-string="setCurrentValueString"
      :value="accountIdValue"
      @change="onChange"
    />
    <template v-else>
      <label>{{ $i18n('ur.account') }}</label>
      <p style="margin-top: 0.5rem">
        {{ defaultAccount.name }}
      </p>
    </template>
    <label v-if="$v.$error" class="error">
      {{ $i18n('ur.account') }} {{ $i18n('e.required') }}
    </label>
  </div>
</template>

<script>
  import FilterableDropdown from '@/components/common/form/filterable-dropdown';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import { isEmpty, isNil } from 'lodash';

  export default {
    components: {
      FilterableDropdown,
    },
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        fetchingAccounts: types.accounts.fetchRequestPending,
      }),
      ...mapState({
        allAccounts: state => state.accounts.all,
        userHasMultipleAccounts: state => Object.keys(state.accounts.all).length > 1,
      }),
      options() {
        return Object.entries(this.allAccounts)
          .map(([accountId, account]) => ({
            value: accountId,
            text: account.name,
            description: accountId,
          }))
          .sort((a, b) => {
            if (a.text < b.text) return -1;
            if (a.text > b.text) return 1;
            return a.value < b.value ? -1 : 1;
          });
      },
      accountIdValue() {
        return isEmpty(this.value) ? this.defaultAccount.id : this.value;
      },
    },
    methods: {
      ...mapActions({
        updateDefaultAccountId: types.user.updateDefaultAccountId,
      }),

      onChange(newAccountId) {
        this.$emit('change', newAccountId);
        this.updateDefaultAccountId(newAccountId);
      },

      /*
       * Override the Filterable Dropdown's currentValueString setter
       * to write both the option's text and description, delimited by a dot.
       */
      setCurrentValueString(selectedOption, fallbackText) {
        return selectedOption
          ? `${selectedOption.text} · ${selectedOption.description}`
          : fallbackText;
      },
    },
    mounted() {
      /*
        If there is only one account, we won't be showing a <select> element for
        the user to choose, which means we need to emit at least one 'change'
        event manually to trigger any upstream component logic that relies on
        an account being selected.
     */
      if (!this.userHasMultipleAccounts) {
        this.onChange(this.defaultAccount.id);
      }
    },
    name: 'accountSelector',
    props: {
      // Number of results to display in the dropdown (before scrolling kicks in)
      displayCount: {
        type: Number,
        required: false,
        default: 5,
      },
      hideLabel: {
        type: Boolean,
        required: false,
        default: false,
      },
      value: {
        type: [String, Number],
        required: false,
      },
      /**
       * Instruct the Filterable Dropdown Results to be position: fixed.
       *
       * Any Account Selector inside a modal will need to be Fixed so its results don't expand
       * the modal content. Expect the modal to also be fixed (via other existing coding).
       *
       * Any Account Selector OUTSIDE a modal, should likely need a default position (absolute),
       * so the results can be scrolled with the page.
       */
      fixed: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    validations: {
      accountIdValue() {
        const noAccountToSelect = Object.keys(this.allAccounts).length === 0;
        const validAccountIsSelected = !isNil(this.allAccounts[this.accountIdValue]);

        return noAccountToSelect || validAccountIsSelected;
      },
    },
  };
</script>
