<template>
  <div class="requester-select" v-show="Object.keys(options || {}).length">
    <ur-select
      v-if="Object.keys(options || {}).length"
      :loading="fetchingApprovers"
      :label="$i18n('ur.approver')"
      :value="localValue"
      @change="onSelect"
    >
      <option v-for="option in options" :key="option.guid" :value="option.guid">{{option.firstName + ' ' + option.lastName || option.email || option.phone || option.altPhone || option.guid}}</option>
    </ur-select>

    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('ur.approver') + ' ' + $i18n('e.required')"
    >
    </ur-error-label>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  // Import Modules
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        allApprovers: state => state.approvers.all,
        fetchingApprovers: state => state.approvers.fetching,
      }),
      options() {
        return this.allApprovers[this.accountId || this.defaultAccountId];
      },
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      ...mapActions({
        updateDefaultApprover: types.user.defaultApprover,
      }),
      onSelect(value) {
        this.localValue = value;
        this.updateDefaultApprover(value);
        this.$emit('change', value);
      },
    },
    name: 'approver-selector',
    props: [
      'accountId', // optional
      'value',
    ],
    validations: {
      localValue() {
        if (!this.options || Object.keys(this.options).length === 0) {
          return true;
        }
        return typeof this.options[this.value] !== 'undefined';
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
