<template>
  <span class="autoload-location-modal" style="display: none"></span>
</template>
<script type="text/babel">
  import { mapState, mapGetters } from 'vuex';
  import types from '@/store/types';
  export default {
    name: 'autoloadLocationModal',
    computed: {
      ...mapState({
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
      }),
      ...mapGetters({
        ratesPlaceAddress: types.user.ratesPlaceAddress
      }),
    },
    methods: {
      init() {
        if ((!this.ratesPlaceBranch.length > 0 && !this.ratesPlaceAddress.length > 0) && !this.$route.path.includes('/add-to-cart')) {
          this.$router.push({
            path: '/locations/chooseLocationModal',
          });
        }
      },
    },
    mounted() {
      this.init();
    },
    watch: {
      ratesPlaceBranch() {
        this.init();
      },
    },
  };
</script>
