<template>
  <div class="pickup-location-container">
    <div class="pickup-location-img">
      <gmap-map
        :center="marker"
        :zoom="14"
        ref="miniMap"
      >
        <gmap-custom-marker :marker="marker" :offset-x="5" :offset-y="10">
          <i class="icon icon-map-marker c-blue-highlight fs-h1 display-block" />
        </gmap-custom-marker>
      </gmap-map>
    </div>
    <div class="pickup-location-body">
      <p class="paragraph">{{ $i18n('ur.name') }} {{ $i18n('ur.location') }}</p>
      <h6 class="heading-6">{{ branch.name }}</h6>
      <p>
        <strong>{{ $i18n('ur.address') }}: </strong>{{ branch.address1 ? address : '' }}
      </p>
      <p>
        <strong>{{ $i18n('ur.phone') }}: </strong>{{ branch.phone }}
      </p>
      <p>
        <strong>{{ $i18n('ur.manager') }}: </strong>{{ branch.managerName }}
      </p>
      <p>
        <strong>{{ $i18n('ur.location') }} {{ $i18n('ur.id') }}: </strong>{{ branchId }}
      </p>

      <div class="pickup-location-controls">
        <a class="link get-directions__link" :href="directionsLink" target="_blank">{{
          $i18n('locationFinder.getDirections') }}</a>
        <!--TODO: Remove v-if statement from <a> tag, after DAL's issue got fixed. Got disabled according to UR-4149 for Convert and Edit Quotes - Change location Link only.-->
        <a class="link edit__link" @click="editBranchLocation" v-if="!hideEditLink">{{ $i18n('ur.changeLocation') }}</a>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex';
  import { FlightToken } from '@/api/flight-track';
  import types from '@/store/types';

  export default {
    computed: {
      ...mapState({

        /**
         * Branch property
         *
         * If there is no branch data for the branch id we retrieve it and return that.
         *
         * @param {object} state | current state
         * @return {object} the branch information
         */
        branch(state) {
          return state.branch.all[this.branchId] || {};
        },
      }),
      address() {
        return `${this.branch.address1} ${this.branch.address2 ? this.branch.address2 : ''} ${
          this.branch.city}, ${this.branch.state} ${this.branch.zip}`;
      },
      marker() {
        return {
          lat: parseFloat(this.branch.latitude),
          lng: parseFloat(this.branch.longitude),
        };
      },
      directionsLink() {
        const { address1, city, state } = this.branch;
        return `https://www.google.com/maps/dir//United+Rentals,${address1},${city},${state}`;
      },
    },
    methods: {
      ...mapActions({
        getBranchData: types.branch.fetch,
      }),
      editBranchLocation() {
        this.$emit('change', this.branch);
      },
    },
    mounted() {
      if (this.branchId && !this.$store.state.branch.all[this.branchId]) {
        this.getBranchData(this.branchId);
      }
    },
    props: {
      branchId: {
        type: String,
        required: true,
      },
      hideEditLink: Boolean,
      // TODO: Remove hideEditLink from props object, after DAL's issue got fixed.
      // TODO: Got disabled according to UR-4149 for Convert and Edit Quotes - Change location Link only.
    },
    watch: {
      branchId(branchId) {
        if (!branchId) {
          return;
        }

        const needsBranchData = typeof this.$store.state.branch.all[branchId] === 'undefined';
        const isFetchingBranchData = this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.getBranchData);
        if (needsBranchData && !isFetchingBranchData) {
          this.getBranchData(branchId);
        }
      },
    },
  };
</script>

<style scoped>
  .pickup-location-body {
    height: 60vh;
  }
  .reservations-and-quotes .pickup-location-body {
    height: auto;
  }
</style>
