<template>
  <form class="form credit-card-form">
    <div v-if="saving" key="spinner">
      <ur-loading-spinner style="font-size:1.5rem; margin-left:0; margin-bottom:1rem;"/>
      <span>{{ $i18n('ur.savingInfo') }}</span>
    </div>
    <ur-error-label
      v-if="message.length"
      :message="message"
    />
    <div class="form-group">
      <template v-if="editing">
        <div class="card-details">
          <div class="card-info">
            <div class="card-info__card">
              <img :src="defaultCreditCard.cardType | ccTypeImg"/>
              <h6 class="card-type">{{ defaultCreditCard.cardType | ccTypeName }} <span class="asterisk">****</span>{{ defaultCreditCard.ccNum4 }}</h6>
            </div>
            <div class="card-info__exp" style="margin-bottom: .8571428571rem">
              <div class="form-item">
                <card-expiration-month-select :value="defaultCreditCard.expMonth" @change="value => setValue(value, 'expMonth')"/>
              </div>
              <div class="form-item">
                <card-expiration-year-select :value="defaultCreditCard.expYear" @change="value => setValue(value, 'expYear')"/>
              </div>
              <div class="form-item">
                <card-cvv-text-input :value="defaultCreditCard.cvv" @input="value => setValue(value, 'cvv')"/>
              </div>
            </div>
          </div>
        </div>
        <div class="card-name">
          <div class="form-item">
            <card-name-text-input :value="defaultCreditCard.cardName" @input="value => setValue(value, 'cardName')"/>
          </div>
        </div>
      </template>
      <template v-else>
        <form-item>
          <card-holder-text-input :value="defaultCreditCard.cardHolder" @input="value => setValue(value, 'cardHolder')"/>
        </form-item>
        <form-item>
          <card-number-text-input :value="defaultCreditCard.cardNumber" @input="value => setValue(value, 'cardNumber')"/>
        </form-item>
        <div class="flex-row flex-wrap col-6" style="margin-bottom: .8571428571rem">
          <form-item>
            <card-expiration-month-select :value="defaultCreditCard.expMonth" @change="value => setValue(value, 'expMonth')"/>
          </form-item>
          <form-item>
            <card-expiration-year-select :value="defaultCreditCard.expYear" @change="value => setValue(value, 'expYear')"/>
          </form-item>
          <form-item>
            <card-cvv-text-input :value="defaultCreditCard.cvv" @input="value => setValue(value, 'cvv')" style="height: 32px"/>
          </form-item>
        </div>
      </template>
    </div>
    <template v-if="!editing">
      <div class="form-group">
        <form-item>
          <card-name-text-input :value="defaultCreditCard.cardName" @input="value => setValue(value, 'cardName')"/>
        </form-item>
      </div>
       <div class="form-group">
         <form-item>
           <ur-checkbox
             :label="$i18n('card.defaultPayment')"
             @change="toggleDefaultPaymentSelect"
           />
         </form-item>
       </div>
    </template>
  </form>
</template>
<style lang="scss" scoped>
  div.add-credit-card-modal > div.modal__content {
    div.modal-body > form.credit-card-form {
      div.form-item {
        margin: 0.571rem 1.114rem;

        /deep/ div.ur-select div.select select.dropdown-style1 {
          font-size: 1rem;
          color: #72777E;
        }
      }
    }
  }
</style>
<script>
  /* eslint-disable no-alert */
  import CardHolderTextInput from '@/components/common/form/text-input/card-holder';
  import CardNumberTextInput from '@/components/common/form/text-input/card-number';
  import CardNameTextInput from '@/components/common/form/text-input/card-name';
  import CardExpirationMonthSelect from '@/components/common/form/select/card-expiration-month';
  import CardExpirationYearSelect from '@/components/common/form/select/card-expiration-year';
  import CardCvvTextInput from '@/components/common/form/text-input/card-cvv';

  import { mapActions, mapGetters, mapState } from 'vuex';

  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  import FormItem from '@/components/common/form/form-item';
  import UrCheckbox from '@/components/common/ur-checkbox';
  import types from '@/store/types';

  export default {
    components: {
      CardHolderTextInput,
      CardNumberTextInput,
      CardNameTextInput,
      CardExpirationMonthSelect,
      CardExpirationYearSelect,
      CardCvvTextInput,
      UrLoadingSpinner,
      UrErrorLabel,
      FormItem,
      UrCheckbox,
    },
    computed: {
      ...mapState({
        accounts: state => state.accounts.all,
      }),
      ...mapGetters([]),
    },
    data() {
      return {
        creditCard: {
          cardNumber: '',
          expMonth: '',
          expYear: '',
          cvv: '',
          cardHolder: '',
          cardName: '',
          defaultPayment: false,
          status: 'A',
          id: '',
        },
        saving: false,
        defaultSet: false,
      };
    },
    methods: {
      ...mapActions({
        addCreditCard: types.creditCards.add,
        updateBillingCreditCard: types.checkout.billingCreditCard,
      }),
      // Import Vuex actions
      setValue(value, strFieldName) {
        if (this.defaultCreditCard.id !== '' && !this.defaultSet) {
          this.creditCard.expYear = this.defaultCreditCard.expYear;
          this.creditCard.expMonth = this.defaultCreditCard.expMonth;
          this.creditCard.cvv = this.defaultCreditCard.cvv;
          this.creditCard.id = this.defaultCreditCard.id;
          this.creditCard.cardHolder = this.defaultCreditCard.cardHolder;
          this.creditCard.cardName = this.defaultCreditCard.cardName;
          this.creditCard.defaultCard = this.defaultCreditCard.defaultCard;
          this.defaultSet = true;
        }
        this.creditCard[strFieldName] = value;
        this.$emit('cc_change', this.creditCard);
      },
      toggleDefaultPaymentSelect(value) {
        this.defaultPayment = value;
        this.creditCard.defaultCard = value;
      },
    },
    props: {
      message: {
        type: String,
        default: '',
      },
      editing: {
        type: Boolean,
        default: true,
      },
      defaultCreditCard: {
        type: Object,
        default() {
          return {
            expYear: '',
            expMonth: '',
            cardName: '',
            cvv: '',
            cardHolder: '',
            defaultCard: '',
            cardNumber: '',
            cardType: '',
            accountId: '',
            ccNum4: '',
            id: '',
            status: '',
          };
        },
      },
    },
  };
</script>
