<template>
  <div class="empty-results-container">
    <template v-if="callToActionType == 'list'">
      <div class="empty-results-subhead">
        <template v-if="(messageType === 'equipmentListing')">{{ $i18n('emptyResults.equipmentListingSubhead') }}</template>
        <template v-else>{{ $i18n('emptyResults.equipmentSearchSubhead') }} <span class="subhead">'{{ localSearchTerm }}'</span></template>
      </div>
      <div class="better-results subhead">
        {{ $i18n('emptyResults.ctaTitle') }}
      </div>
      <div class="better-results">
        {{ $i18n('emptyResults.ctaAdjust') }}
      </div>
      <div class="better-results">
        {{ $i18n('emptyResults.ctaUpdateSearch') }}
      </div>
      <div class="better-results">
        {{ $i18n('emptyResults.ctaNearbyBranchPre') }} <a href="/locations">{{ $i18n('emptyResults.ctaNearbyBranchPost') }}</a>
      </div>
      <div class="better-results customer-care">
        {{ $i18n('emptyResults.ctaCustomerCare') }} <gtm-phone-number :number="generalNumber"/>
      </div>
    </template>

    <template v-else-if="callToActionType === 'single'">

        <div class="empty-results-subhead">
          {{ $i18n('emptyResults.branchListingSubhead') }}
        </div>
        <div class="better-results">
          {{ $i18n('emptyResults.branchListingCallToAction') }}
        </div>

    </template>
  </div>
</template>
<script type="text/babel">
  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number';
  import { mapState } from 'vuex';

  export default {
    components: {
      GtmPhoneNumber,
    },
    computed: {
      ...mapState({
        generalNumber: state => state.callUs.generalNumber,
      }),
    },
    props: {
      messageType: {
        type: String,
        default: '',
      },
      localSearchTerm: {
        type: String,
        default: '',
      },
      callToActionType: {
        type: String,
        default: 'list',
      },
    },
  };
</script>
