<template>
  <div class="job-selector">
    <div class="ie-index">
      <filterable-dropdown
        v-show="!runSpinner && options.length > 0"
        :display-count="displayCount"
        :label="hideLabel ? '' : $i18n('ur.jobsite')"
        :options="options"
        :placeholder="$i18n('locationFinder.chooseLocation.selectJobsitePlaceholder')"
        :set-current-value-string="setCurrentValueString"
        :value="value"
        :withnew="true"
        @change="onChange"
        @new_button_clicked="openCreateJobsiteModal"
        :disabled="disabled"
      />
      <q-button
        v-if="!runSpinner && options.length === 0 && defaultAccountId"
        :text="$i18n('job.addJobsite')"
        button-style="secondary"
        icon="add"
        @click.prevent.stop="openCreateJobsiteModal"
      />
    </div>
    <ur-loading-spinner v-if="runSpinner || !defaultAccountId"/>
    <label
      v-if="showErrorLabel"
      class="error"
      :class="isEmptyError ? 'empty' : ''">
      {{ validationMsgComputed }}
    </label>
  </div>
</template>

<script type="text/babel">
  import FilterableDropdown from '@/components/common/form/filterable-dropdown';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  import { mapActions, mapState, mapGetters } from 'vuex';
  import { FlightToken } from '@/api/flight-track';
  import types from '@/store/types';
  import get from 'lodash/get';

  export default {
    components: {
      FilterableDropdown,
      UrLoadingSpinner,
    },
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        options(state) {
          const allJobs = get(state.jobs.all, [this.accountId], {});
          return Object.entries(allJobs)
            .map(([jobId, job]) => ({
              value: jobId,
              text: job.name,
              description: job.jobId ? job.jobId : `${job.city}, ${job.state}`,
            }))
            .sort((a, b) => {
              if (a.text < b.text) return -1;
              if (a.text > b.text) return 1;
              return a.value < b.value ? -1 : 1;
            });
        },
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
      ]),
      runSpinner() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.saveUserPreferences,
          FlightToken.fetchJobsites,
          FlightToken.fetchRequesters
        );
      },
      isEmptyError() {
        return this.showEmptyError && this.options.length === 0;
      },
      showErrorLabel() {
        return (this.$v.$error || this.isEmptyError) && !this.runSpinner;
      },
      validationMsgComputed() {
        return this.validationMsg || `${this.$i18n('ur.job')} ${this.$i18n('e.required')}`;
      },
    },
    data() {
      return {
        disabled: false,
      };
    },
    name: 'jobSelector',
    methods: {
      ...mapActions({
        updateDefaultJobsiteId: types.user.defaultJobId,
      }),
      onChange(newJobId) {
        this.$emit('change', newJobId);
        this.updateDefaultJobsiteId(newJobId);
      },

      openCreateJobsiteModal() {
        const path = this.createJobsiteRouterPath
          ? this.createJobsiteRouterPath
          : `${this.$route.path}/create-jobsite/${this.accountId}/`;

        this.$router.push(path);
      },

      /*
       * Override the Filterable Dropdown's currentValueString setter
       * to write both the option's text and description, delimited by a dot.
       */
      setCurrentValueString(selectedOption, fallbackText) {
        return selectedOption
          ? `${selectedOption.text} · ${selectedOption.description}`
          : fallbackText;
      },
    },
    props: {
      accountId: {
        type: [String, Number],
        required: true,
      },

      /*
      A router path that should lead to an instance of the Create Jobsite Modal
      */
      createJobsiteRouterPath: {
        type: String,
        required: false,
        // No default is declared here, because the default relies on `this`
      },

      /*
      When the options dropdown is displayed, limits the number of options shown before scrolling is required.
      */
      displayCount: {
        type: Number,
        required: false,
        default: 5,
      },

      /*
      Allow a parent to forcibly disable this component. The component will disable itself if
      there's only one jobsite. (See options watcher below.)
      */
      forceDisabled: {
        type: Boolean,
        required: false,
        default: false,
      },
      /*
       Show error message when no jobsites are added
     */
      showEmptyError: {
        type: Boolean,
        required: false,
        default: false,
      },
      /* Some instances of this component have the field label suppressed. */
      hideLabel: {
        type: Boolean,
        required: false,
        default: false,
      },

      /*
      In the presenter/container pattern, this component is a Presenter, and its Parent (the Container)
      will pass this component's value.  This component will emit-up a 'change' event to change the val.
      */
      value: {
        type: [String, Number],
        required: true,
      },
      validationMsg: {
        type: String,
        required: false,
      },
    },
    mounted() {
      if (this.options.length === 1) {
        this.$nextTick(() => {
          this.disabled = true;
          this.onChange(this.options[0].value);
        });
      }
      else {
        this.disabled = false;
      }
    },
    validations: {
      value() {
        if (!this.options || Object.keys(this.options).length === 0) {
          return true;
        }
        return typeof this.options.find(({ value }) => value === this.value) !== 'undefined';
      },
    },
    watch: {
      forceDisabled(forceDisabled) {
        this.disabled = forceDisabled;
      },
      showEmptyError(value) {
        if (!value) this.$v.$reset();
      },
      /*
      If there is only one Jobsite, preselect it and disable the form control
       */
      options(options) {
        if (options.length === 1) {
          this.$nextTick(() => {
            if (isNaN(this.options[0].value)) {
              this.onChange(this.options[0].value);
            } else {
              this.onChange(parseInt(this.options[0].value));
            }
            this.disabled = true;
          });
        }
        else {
          this.disabled = false;
        }
      },
    },
  };
</script>

<style lang="scss">
  .ie-index {
    z-index: 99;
  }
</style>
