<template>
  <div class="quantity-selector" :class="selectorsize">
    <button :disabled="quantity <= 1" class="less" @click="decrement">-</button>
    <input
      type="tel"
      min="1"
      @keypress="onlyNumbers"
      v-model.number="value"
      max="9999"
      :class="flexCss"
    />
    <button :disabled="quantity >= maxquantity" class="more" @click="increment">+</button>
    <span class="per-item-price" v-if="rateEach">{{ $i18n('workplace.at') }} {{ rateEach | currency }} {{ $i18n('reservationView.each') }}</span>
  </div>
</template>
<script type="text/babel">
  export default {
    computed: {
      value: {
        get() {
          return this.quantity;
        },
        set(val) {
          const quantity = val > 0 ? val : 1;
          this.$emit('change', quantity);
        },
      },
    },
    methods: {
      decrement() {
        this.$emit('decrement', this.quantity - 1);
      },
      increment() {
        this.$emit('increment', this.quantity + 1);
      },
      onlyNumbers(evt) {
        evt = (evt) ? evt : window.event; // eslint-disable-line

        const charCode = (evt.which) ? evt.which : evt.keyCode;

        if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
          evt.preventDefault();
        }
        else {
          return true;
        }
      },
    },
    name: 'quantitySelector',
    props: {
      flexCss: {
        type: String,
        default: '',
        required: false,
      },
      selectorsize: {
        type: String,
        default: '',
      },
      quantity: {
        type: Number,
        required: false,
      },
      maxquantity: {
        type: Number,
        default: 999,
      },
      rateEach: Number,
    },
  };
</script>
