<template>
  <div class="requester-select">
    <ur-select
      :loading="fetching"
      :label="$i18n('ur.requesterLabel')"
      :value="value"
      @change="onSelect"
      @blur="onBlur">
      <option v-for="(option, key) in options" :key="key" :value="option.guid">{{option.name || option.email || option.phone || option.altPhone || option.guid}}</option>
    </ur-select>

    <!--@TODO: add the "+" suffix button for adding new requestors -->

    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('ur.requesterLabel') + ' ' + $i18n('e.required')">
    </ur-error-label>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrSelect from '@/components/common/form/ur-select';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      UrSelect,
      UrErrorLabel,
    },
    computed: {
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        requesters: state => state.requesters.all,
        fetching: state => state.requesters.fetching,
      }),
      options() {
        return this.requesters[this.accountId || this.defaultAccountId];
      },
    },
    data() {
      return {
        localValue: this.value,
      };
    },
    methods: {
      ...mapActions({
        updateDefaultRequester: types.user.defaultRequesterId,
      }),
      onSelect(value) {
        this.localValue = value;
        this.updateDefaultRequester(value);
        this.$emit('change', value);
      },
      onBlur() {
        this.$v.$touch();
      },
    },
    name: 'requesterSelector',
    props: [
      'accountId', // optional
      'value',
    ],
    validations: {
      localValue() {
        if (!this.options || Object.keys(this.options).length === 0) {
          return true;
        }
        return typeof this.options[this.localValue] !== 'undefined';
      },
    },
    watch: {
      value(parentValue) {
        if (parentValue !== this.localValue) {
          this.localValue = parentValue;
        }
      },
    },
  };
</script>
