<template>
  <div class="requisition-codes__container">
    <label class="reservation-heading">{{ $i18n('checkout.requisitionCodes') }}</label>
    <div class="requisition-codes grid no-padding">

      <div class="requisition-code column" v-for="code in requisitionCodes" :key="code.id">

        <div class="form-item" v-if="editing">
          <rc-text-input
            v-if="code.validated === 'N'"
            :code="code"
            :value="userValues[code.id]"
            @input="setValue({value: $event, id: code.id})"
          >
          </rc-text-input>
          <rc-select
            v-else
            :code="code"
            :value="userValues[code.id]"
            @change="setValue({value: $event, id: code.id})"
          >
          </rc-select>
        </div>
        <div class="form-item" v-else-if="userValues[code.id]">
          <label class="form-item__label form-item__label--textfield">{{ code.title }}</label>
          <p>{{ userValues[code.id] }}</p>
        </div>

      </div>

    </div>
  </div>
</template>

<script type="text/babel">
  // Import Modules
  import { forOwn } from 'lodash';
  import RcTextInput from '@/components/cart/reservation-block/billing/form/requisition-code-text-input.vue';
  import RcSelect from '@/components/cart/reservation-block/billing/form/requisition-code-select.vue';

  export default {
    components: {
      RcTextInput,
      RcSelect,
    },
    computed: {

    },
    data() {
      return {
        userValues: {},
      };
    },
    methods: {
      // Import Vuex actions
      setValue({ value, id }) {
        // To keep reactivity, assign value via $set
        this.$set(this.userValues, id, value);

        const formattedCodes = [{
          values: [],
        }];

        // Map the user's form values into a format for Vuex (aka, the format the backend wants)
        forOwn(this.userValues, (val, key) => {
          formattedCodes[0].values.push({ id: key, value: val });
        });
        this.$emit('change', formattedCodes);
      },
    },
    mounted() {
      // Load the local state (userValues) from the vuex store.  This requires a simple mapping.
      if (this.initialValues.length) {
        this.initialValues.forEach(({ id, value }) => this.$set(this.userValues, id, value));
      }
    },
    name: 'requisition-codes',
    props: {
      initialValues: {
        type: Array,
        default: () => [],
      },
      requisitionCodes: {
        type: Array,
      },
      editing: {
        type: Boolean,
        default: true,
      },
    },
  };
</script>
