<template>
  <div class="scrollable-div__scroller" :class="parentClass">
    <div ref='scrollablediv' id="scrollable-div__scroll" @scroll="handleScroll($event)">
      <slot></slot>
    </div>
    <div v-if="showScrollToTop && !disableButton"
         class="scrollToTopButton button button--style-1 button--secondary-alt"
         @click.stop="scrollToTop"
    >
      <span class="text-container">
        {{ displayText }}
        <i class="icon icon-angle-double-up"></i>
      </span>
    </div>
  </div>
</template>

<script type="text/babel">
  export default {
    computed: {
      displayText() {
        return this.scrollToTopText;
      },
    },
    data() {
      return {
        showScrollToTop: false,
        scrollDiv: {},
      };
    },
    methods: {
      handleScroll(event) {
        if (!this.disableButton && event.target.scrollTop > this.scrollDistance) {
          this.showScrollToTop = true;
        }
        else {
          this.showScrollToTop = false;
        }
      },
      scrollToTop() {
        this.scrollDiv.scrollTop = 0;
      },
    },
    mounted() {
      this.scrollDiv = this.$refs.scrollablediv;
      this.scrollDiv.scrollTop = 0;
      // Scroll for mobile too.
      window.scrollTo(0, 0);
    },
    props: {
      scrollDistance: {
        type: Number,
        default: 200,
      },
      scrollToTopText: {
        type: String,
        default: 'Scroll To Top',
      },
      parentClass: {
        type: String,
        default: '',
      },
      disableButton: {
        type: Boolean,
        default: false,
      },
    },
    watch: {
      scrollToTopText() {
        this.scrollDiv.scrollTop = 0;
      },
    },
  };
</script>
