<template>
  <div class="assisted-search-container" style="flex-direction: column">
    <div v-if="recentSearches" class="global-search__results-group top-categories assisted-search-suggestions" style="width: 100%">
      <p>Recent Searches</p>
      <ul class="recent-searches">
        <li class="link" v-for="(type, index) in recentSearches" :key="index">
          <a :href="type.url">
            {{ type.val }}
          </a>
        </li>
      </ul>
    </div>
    <div class="global-search__results-group top-categories assisted-search-suggestions">
      <p>{{ $i18n('urAssistedSearch.browseByCategory') }}</p>
      <ul class="top-categories-list" style="column-count: 2">
        <li v-for="(facet, value, index) in categories"
            :key="index">
          <a :href="facet.urlComponent" class="link font-size--type-small" v-if="index < 10">
            {{ facet.name }}
          </a>

        </li>
      </ul>
      <span>
        <a href="/marketplace/equipment" class="link" style="font-weight: 700">
          {{ $i18n('urAssistedSearch.viewAllCategories') }}
        </a>
      </span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .assisted-search-suggestions {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .recent-searches {
    li {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      a {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px 5px 10px 12px;
      }
      &:last-child a {
        padding-bottom: 0px;
      }
    }
  }
</style>

<script>

export default {
  name: 'ur-assisted-search',
  props: {
    categories: {
      type: Object,
      required: true,
    },
    recentSearches: {
      type: Array || null,
      required: false,
    },
  },
};

</script>
