<template>
  <div class="ur-autocomplete">
    <gmap-autocomplete
      ref="gmapAutocomplete"
      id="locations__input"
      class="form__input"
      :component-restrictions="{country: ['us', 'ca']}"
      :placeholder="placeholder"
      :types="['(regions)']"
      :value="value"
      :style="pacContainerStyles"
      @blur.native="setFocus(false)"
      @focus.native="setFocus(true)"
      @place_changed="placeChanged"
    />
    <i class="icon icon-map-marker"></i>
    <span
      class="global-search__clear"
      @click="clear"
      v-show="showClearButton">{{ $i18n('ur.clear') }}</span>
  </div>
</template>

<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import SpecialCharValidator from '@/lib/validators/special-character-validator';
  import elementCoords from '@/utils/elementCoords';
  import types from '@/store/types';

  const countryRegex = /, United States| United States|, USA| USA| Canada|, Canada, Puerto Rico|, Puerto Rico,/;
  export default {
    props: {
      placeholder: {
        type: String,
        required: false,
        default: this.$i18n('chooseLocation.enterLocation'),
      },
    },
    computed: {
      ...mapState({
        searchQuery: state => state.locationFinder.search.query,
      }),
      hasText() {
        return this.value.length > 0;
      },
      showClearButton() {
        return this.hasText && this.hasFocus;
      },
    },
    data() {
      return {
        hasFocus: false,
        predictionSanitizationInterval: null,
        value: '',
        pacContainerStyles: {
          top: '',
        },
      };
    },
    methods: {
      ...mapActions({
        updateContentType: types.locationFinder.updateContentType,
        updateSearchQuery: types.locationFinder.updateSearchQuery,
      }),
      clear() {
        this.$emit('clear');
        this.setValue('');
      },
      placeChanged(place) {
        this.$emit('place_changed', place);
        this.value = this.$refs.gmapAutocomplete.$refs.input.value.replace(countryRegex, '');
        this.updateSearchQuery(this.value);
      },
      getLocationSearchCoords() {
        const elLocations = document.getElementById('locations__input');
        const coords = elementCoords(elLocations);
        // returns the bottom position of the locations search input
        return coords.bottom;
      },

      /**
       * Strips the country out of a prediction result.
       * Fires continuously while the user is focused on the input.
       */
      sanitizePredictions() {
        const pacContainer = document.querySelector('.pac-container');
        this.predictionSanitizationInterval = setInterval(() => {
          const predictionItems = pacContainer.querySelectorAll('.pac-item');
          if (predictionItems !== null) {
            for (let i = 0; i < predictionItems.length; ++i) {
              predictionItems[i].innerHTML = predictionItems[i].innerHTML.replace(countryRegex, '');
            }
          }
        });
      },
      setFocus(v) {
        if (v) {
          this.sanitizePredictions();
          this.$emit('searchfocus');
        }
        else {
          clearInterval(this.predictionSanitizationInterval);
          this.$emit('searchblur');
        }

        // DO NOT REMOVE THE SET TIMEOUT. This allows the user to "click" over the course of 250ms
        setTimeout(() => this.hasFocus = v, 250); // eslint-disable-line
      },
      setValue(value = '') {
        // If Enter key, ignore. This is handled by the `handleEnterKey` method below.
        if (value instanceof Event && value.keyCode === 13) {
          return;
        }

        if (value instanceof Event) {
          value.target.value = value.target.value.replace(/[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, ''); // eslint-disable-line
          value.target.value = value.target.value.replace(countryRegex, ''); // eslint-disable-line
        }
        else {
          this.value = value.replace(countryRegex, '');
          this.value = value.target.value.replace(/[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, ''); // eslint-disable-line
        }
        this.$emit('invalid_location', this.value);
      },

      // FIXME To do this right, we shouldn't use Google's Out-of-the-box widget at all,
      // FIXME ...but should build our own using their api ("Get Place from Address"
      // FIXME ...which we've already abstracted in autocomplete.js)
      handleEnterKey(event) {
        // If user presses Enter, select the first prediction
        if (event.keyCode !== 13) {
          return;
        }

        // Grab the relevant prediciton container generated by the Google Autocomplete Widget
        const elPredictions = document.querySelector('.pac-container:not([style*="display:none"]):not([style*="display: none"])');

        if (!elPredictions) {
          // Stop the default action from happening when there are no predictions.
          event.stopImmediatePropagation();
          return;
        }

        // Build the prediction string from Google's <span> filled markup
        let predictionString = '';

        const highlightedPrediction = elPredictions.querySelector('.pac-item-selected');
        const firstPrediction = elPredictions.children[0];

        const selectedPrediction = highlightedPrediction || firstPrediction;

        for (let i = 1; i < selectedPrediction.children.length; i++) {
          predictionString += `${selectedPrediction.children[i].innerText} `;
        }

        // Prevent the event from causing problems from above
        event.stopImmediatePropagation();

        // Set the input element's value to the prediction string
        this.setValue(predictionString);

        // Emit a fake place_changed event to the parent, to simulate Google's Default Behavior.
        this.$emit('place_changed', { name: predictionString });

        // Manually hide Google's default prediction container
        elPredictions.style.display = 'none';
      },
    },
    created() {
      // Safari mobile doesn't bubble click events unless target is a link or a button, or the cursor is a pointer
      const isMobile = /(Mobile)/i.test(navigator.userAgent);
      const isSafari = !!navigator.userAgent.match(/Version\/[\d.]+.*Safari/);
      if (isMobile && isSafari) {
        document.body.style.cursor = 'pointer';
      }
    },
    updated() {
      this.$refs.gmapAutocomplete.$refs.input.value = this.searchQuery;
    },
    mounted() {
      this.$refs.gmapAutocomplete.$refs.input.value = this.searchQuery;
      this.pacContainerStyles.top = this.getLocationSearchCoords();
      this.$refs.gmapAutocomplete.$refs.input.addEventListener('keyup', this.setValue);
      this.$refs.gmapAutocomplete.$refs.input.addEventListener('keydown', this.handleEnterKey);
    },
    beforeDestroy() {
      const { input } = this.$refs.gmapAutocomplete.$refs;
      input.removeEventListener('keyup', this.setValue);
      input.removeEventListener('keydown', this.handleEnterKey);
      clearInterval(this.predictionSanitizationInterval);
    },
    validations: {
      value: {
        SpecialCharValidator,
      },
    },
    name: 'urAutocomplete',
  };
</script>
