<template>
  <router-link tag="div" :to="route">
    <div class="back-link">
      <span class="back-link__icon">
        <i :class="`icon ${icon}`"></i>
      </span>
      <span class="back-link__label">{{ label }}</span>
    </div>
  </router-link>
</template>

<script>
  import i18n from '@/data/i18n';

  export default {
    name: 'UrBackLink',
    props: {
      route: {
        type: [String, Object],
        required: true,
      },
      icon: {
        type: String,
        default: 'icon-before-long-arrow-left',
      },
      label: {
        type: String,
        default: i18n.ur.back,
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .back-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    position: relative;
    padding-top: rem(2);

    @include media('>=m') {
      margin-left: rem(-17);
    }
    @include media('>=l') {
      margin-left: rem(-20);
    }

    .back-link__label {
      color: $color-blue;
      margin-left: rem(2);
      font-size: rem(12);
      font-weight: 700;

      @include media('>=l') {
        font-size: rem(14);
      }
    }

    .back-link__icon {
      align-items: center;
      color: $color-orange;
      display: flex;
      font-size: 0.85714rem;
      position: relative;
      top: rem(1);

      @include media('>=l') {
        font-size: rem(16);
        top: 0;
      }
    }
  }
</style>
