<template>
  <div class="cover">
    <slot></slot>
    <div class="covering" :style="{'display': enabled ? 'block' : 'none', 'background-color': color}"></div>
  </div>
</template>
<script>
  export default {
    props: {
      color: {
        type: String,
        default: '#fff',
      },
      enabled: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>
<style scoped>
  .cover {
    position: relative;
  }
  .covering {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
  }
</style>
