
<template>
  <div class="ur-drawer-banner">
    <ur-modal
      :center-modal="false"
      :class-additional="modal.classAdditional"
      :close-on-background-click="false"
      :close-on-escape-key="false"
      :content="modal.content"
      :content-props="modal.contentProps"
      :class="{'ur-drawer-open': modal.isOpen}">
    </ur-modal>
  </div>
</template>

<script type="text/babel">
  import { mapState } from 'vuex';
  import get from 'lodash/get';

  import urDrawerBannerContent from '@/components/common/ur-drawer-banner-content.vue';
  import UrModal from '@/components/common/ur-modal.vue';

  export default {
    name: 'UrDrawerBanner',

    components: {
      UrModal,
    },

    computed: {
      ...mapState({
        accounts: state => state.accounts,
        accountId: state => state.user.defaultAccountId,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      showCreditBanner() {
        if (!this.accountId.length || !this.userIsLoggedIn) {
          // no account, show banner
          return true;
        }
        // has an account but no credit, show banner
        return get(this.accounts.all, [this.accountId, 'creditLimit']) === 0;
      },
    },


    data() {
      return {
        modal: {
          classAdditional: 'ur-drawer-banner__modal',
          content: urDrawerBannerContent,
          contentProps: {
            close: this.closeModal,
          },
          isOpen: false,
        },
      };
    },

    methods: {
      closeModal() {
        this.toggleModal();
        localStorage.setItem('dismissed', true);
      },
      toggleModal() {
        this.modal.isOpen = !this.modal.isOpen;
        document.removeEventListener('scroll', this.toggleModal);
      },
    },
    mounted() {
      const isDismissed = localStorage.getItem('dismissed') === 'true';
      const onHomepage = document.querySelectorAll('.path-frontpage').length === 1;

      if (!this.modal.isOpen) {
        document.body.classList.remove('jsa-body-lock');
      }

      if (isDismissed || onHomepage || !this.showCreditBanner) {
          return;
      }

      document.addEventListener('scroll', this.toggleModal);
    },
  };
</script>
