
<template>

  <div class="ur-drawer-banner__content">

    <div class="ur-drawer-banner__headline">
      <h2>
        {{ $i18n('credit.boostEfficiency') }}
      </h2>
      <p class="ur-drawer-banner__subhead">
        {{ $i18n('credit.timelines') }}
      </p>
    </div>

    <div class="ur-drawer-banner__cta">
      <button
        @click="clickHandler"
        class="button button--secondary-alt button--filled">
        <span class="cta__wide">{{ $i18n('credit.financingOptions') }}</span>
        <span class="cta__narrow">{{ $i18n('credit.learnMore') }}</span>
      </button>
    </div>

  </div>

</template>

<script type="text/babel">
  export default {
    name: 'urDrawerContent',

    computed: {
    },

    data() {
      return {
      };
    },
    methods: {
      clickHandler() {
        window.location = '/services/credit-application';
      },
    },
  };
</script>
