<template>

  <transition name="fade">

    <div class="dialog" @click="backgroundClicked">

      <div class="dialog__background"></div>

      <div class="dialog__content">
          <slot></slot>
      </div>

    </div>

  </transition>

</template>

<script type="text/babel">
  export default {
    name: 'ur-dialog',

    methods: {
      escapeKeyListener($event) {
        if (this.closeOnEscapeKey && $event.keyCode === 27) {
          $event.preventDefault();
          this.close();
        }
      },
      backgroundClicked() {
        if (this.closeOnBackgroundClick) {
          this.close();
        }
      },
      close() {
        if (typeof this.$refs.content.closeCallback === 'function') {
          this.$refs.content.closeCallback();
        }
        this.$destroy();
      },
    },
    mounted() {
      window.document.addEventListener('keyup', this.escapeKeyListener);
    },
    destroyed() {
      window.document.removeEventListener('keyup', this.escapeKeyListener);
    },
  };
</script>
