<template>
  <div class="dialog-framed">
    <div class="dialog-framed__content">
      <slot name="content"></slot>
    </div>
    <div class="dialog-framed__footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {},
    props: {
      padding: {
        type: Boolean,
        default: true,
      },
      contentSize: {
        type: String,
        default: '',
      },
    },
  };
</script>
