<template>
  <div class="dropdown__holder"
    v-click-outside="close"
    :class="{'dropdown__holder--active': isActive}">
    <button
      :class="[ config.title ? 'button button--style-2 button--default' : 'dropdown__button' ]"
      @click.prevent.stop="toggle">
      <i :class="`icon ${config.iconClass}`"></i>
      {{ config.title }}
    </button>
    <div :class="[ config.title ? 'm-r-20' : '', 'dropdown__container' ]" @click.prevent.stop="close">
      <span v-if="config.description" class="dropdown__description">{{ config.description }}</span>
      <template v-for="(item, key) in config.options">
        <span
          :key="key"
          v-if="item.props && item.props.click"
          class="dropdown__link"
          :class="{'dropdown__link--border': item.hasBorder}"
          @click="item.props.click"
        >
          <i v-if="config.icons" class="icon icon-check"></i>{{ item.name }}</span>

        <router-link class="dropdown__link"
          :class="{'dropdown__link--border': item.hasBorder}"
          :to="item.route"
          :key="item.name"
          v-if="!item.props || !item.props.click"
          :exact-active-class="'dropdown__link--active'"
        >
          <i v-if="config.icons" class="icon icon-check"></i>{{ item.name }}</router-link>
      </template>
    </div>
  </div>
</template>

<script>
  /*
  **** Only One UR Dropdown component can be open at a time. ****

  When this component opens, it flags itself as being open (via vuex).

  This component watches vuex for changes, and if no longer flagged
  as being the most-recently opened instance, it closes itself.
   */
  import { uid } from '@/utils';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    data() {
      return {
        isActive: false,
        id: uid(),
      };
    },
    computed: {
      ...mapState({
        activeUrDropdownId: state => state.urDropdown.activeId,
      }),
    },
    props: {
      config: Object,
    },
    methods: {
      ...mapActions({
        setActiveUrDropdownId: types.urDropdown.setActiveId,
      }),
      close() {
        this.isActive = false;
      },
      toggle() {
        this.isActive = !this.isActive;
      },
    },
    watch: {
      // Watch vuex for changes to the active instance.
      // If this instance is no longer the most-recent active instance, close it.
      activeUrDropdownId(activeId) {
        if (activeId !== this.id) {
          this.close();
        }
      },

      // Update vuex when this component becomes active. This allows other instances
      // to close themselves.
      isActive(is) {
        if (is) {
          this.setActiveUrDropdownId(this.id);
        }
      },
    },
  };
</script>
