<template>
  <div>
    <div class="global-search__field global-search__search-box" :class="{ 'show-results': hasResults }">

      <input class="global-search-input"
             type="text"
             :placeholder="placeholder"
             v-model="searchText"
             @keyup.exact="validateInput"
             @keyup.enter="goToSearch"
             @keyup.esc="clearSearch"
             @focus="setFocus(true)"
             @blur="setFocus(false)">
      <i class="global-search__field--icon icon icon-search"></i>
      <span class="global-search__clear" v-if="hasFocus && hasText" @click="clearSearch">{{ clear }}</span>
      <div class="global-search__search-results">
        <div class="global-search__results-group" v-for="(term, termKey) in searchResults" :key="termKey">
          <div class="global-search__results-group--label">
            <a :href="term.group_results_page">{{ checkLabels(term.display_name) }}</a>
            <span>
              <a :href="term.group_results_page">{{ term.total }}</a>
            </span>
          </div>
          <div class="global-search__results-objects">
            <div class="global-search__results-object" v-for="(result, resultKey) in term.results" :key="resultKey">
              <a :href="result.url" v-html="result.name"></a>
              <span class="global-search__results-object--distance" v-if="result.distance">{{ result.distance }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div>
      <button @click="goToSearch"  type="submit" value="Search Rentals" class="button button--style-1 button--secondary-alt global-search__button">{{ $i18n('ur.searchRentals') }}</button>
    </div>
  </div>
</template>

<script>
  import api from '@/api';
  import mapLabels from '@/utils/mapLabels';
  import async from 'async';
  // THIS COMPONENT IS DEPRECATED AND WILL BE REMOVED IN FUTURE RELEASES.  DON'T USE IT MAN!
  export default {
    props: {
      placeholder: {
        type: String,
        required: false,
        default: 'Search',
      },
    },
    computed: {
      hasText() {
        return this.searchText.length > 0;
      },
      hasResults() {
        return this.searchResults.length > 0;
      },
    },
    data() {
      return {
        hasFocus: false,
        searchResults: [],
        searchText: '',
        localValue: this.value,
        q: async.queue((task, callback) => {
          callback();
        }, 1),
        ...mapLabels({
          clear: 'ur.clear',
        }),
      };
    },
    methods: {
      clearSearch() {
        this.searchText = '';
      },
      goToSearch() {
        const searchString = this.searchText.trim();
        const searchLength = searchString.length;

        if (searchLength < 1) {
          this.searchText = '';
          return false;
        }

        window.location = `/search?search=${searchString}`;
      },
      setFocus(e) {
        const self = this;
        if (e) {
          self.hasFocus = e;
        }
        else {
          setTimeout(() => {
            self.hasFocus = e;
          }, 250);
        }
      },
      getSearchResults(e) {
        if (e.length > 2) {
          this.q.push(api.globalSearch.getResults(e).then((response) => {
            this.searchResults = response.data.result;
          }), () => {
          });
        }
        else {
          this.searchResults = [];
        }
      },
      checkLabels(resultCategory) {
        if (resultCategory != null) {
          if (resultCategory.toLowerCase().trim() === 'branches') {
            return this.$i18n('globalSearch.branches');
          }
        }
        return resultCategory;
      },
      validateInput() {
        this.searchText = this.searchText.replace(/[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, ''); //eslint-disable-line
      },
    },
    name: 'urGlobalSearch',
    watch: {
      searchText(e) {
        this.getSearchResults(e);
      },
    },
  };
</script>
