<template>
  <button class="dropdown__button">
    <i :class="`icon ${iconClass}`"></i>
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    iconClass: String,
    title: String,
  },
};
</script>
