<style>
  @media only screen and (max-width: 639px) {
    div.item-rates-container > div.object_listing__details__pricing > div.chip-tooltip {
      margin-bottom: 12px;
    }
  }

  @keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
  }

  .loading-bar {
    color: #bbb;
    display: inline-block;
    width: 21em;
    height: 1rem;
    background: repeating-linear-gradient(90deg, #f8f8f8 0%, #fff 50%, #f8f8f8 100%);
    background-size: 50% 100%;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
</style>
<template>
  <div class="object_listing__details__pricing" :class="{'shimmer': loading}">
    <!--<span v-if="contractRates" class="object_listing__details__pricing__chip">{{ $i18n('rates.contract') }}</span>-->
    <!--add this back into span above when contractor pricing information is available  v-if="contractRates"-->
    <!--<span v-if="loading" class="loading-bar">{{ i18n.loading}}</span>-->
    <!-- need the nbsp for the shimmer class on the parent div to work, normal whitespace characters don't work -->
    <span v-if="loading" :style="loading ? 'width: 85%' : ''">&nbsp;</span>
    <span v-else-if="monoRate" class="time-period">&nbsp;<span style="transition: color 1s"> {{dayRate | currency}}</span></span>
    <template v-else-if="!monoRate">
      <!-- <div class="pricing-content"> -->
        <div class="chip-tooltip" v-if="!showRateOnly">
          <ur-chip v-if="contractRates" :label="$i18n('rates.contract')" :ttMessage="$i18n('rates.contractTooltip')"></ur-chip>
          <ur-chip v-else-if="showWebRateChip" background-color="#008cff" :label="$i18n('rates.web')" :ttMessage="$i18n('rates.webTooltip')"></ur-chip>
        </div>

        <div class="pricing-content" v-if="!showChipOnly">
          <span class="time-period">{{ $i18n('rates.daily') }} <span style="transition: color 1s">{{dayRate | currency}}</span></span>
          <span class="time-period">{{ $i18n('rates.weekly') }} <span style="transition: color 1s">{{weekRate | currency}}</span></span>
          <span class="time-period">{{ $i18n('rates.monthly') }} <span style="transition: color 1s">{{monthRate | currency}}</span></span>
        </div>

      <!-- </div> -->
      <!--div class="pricing-content" v-if="small || medium">
        <span class="time-period">{{i18n.daily.substring(0, 1)}} <span style="transition: color 1s">{{dayRate | currency}}</span></span>
        <span class="time-period">{{i18n.weekly.substring(0, 1)}} <span style="transition: color 1s">{{weekRate | currency}}</span></span>
        <span class="time-period">{{i18n.monthly.substring(0, 1)}} <span style="transition: color 1s">{{monthRate | currency}}</span></span>
      </div-->
    </template>
  </div>
</template>
<script type="text/babel">

  import { mapGetters } from 'vuex';
  import UrChip from '@/components/common/ur-chip.vue';

  export default {
    components: {
      UrChip,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
      ]),
    },
    name: 'urItemRates',
    props: [
      'contractRates',
      'dayRate',
      'weekRate',
      'monthRate',
      'loading',
      'monoRate',
      'showChipsInline',
      'showWebRateChip',
      'showChipOnly',
      'showRateOnly',
    ],
  };
</script>

<style lang="scss" scoped>
@import '01-variables';

.chip-tooltip {
  margin-bottom: 10px;
  cursor: default;
}
</style>
