<template>
  <div class="kebab-menu">
    <i class="icon" :class="iconClass" @click="openMenu"></i>
    <transition name="tbSlideFade">
      <div class="kebab-menu__body" v-if="open" @mouseenter="mouseEnter" @mouseleave="mouseLeave">
        <span>
          <a @click="update">{{ $i18n('dashboard.refresh') }}</a>
          <a @click="windowPrint">{{ $i18n('ur.print') }}</a>
        </span>
      </div>
    </transition>
  </div>
</template>
<script type="text/babel">
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
        open: false,
        localConfig: this.standardConfig,
        timer: null,
      };
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
    },
    methods: {
      mouseEnter() {
        clearTimeout(this.timer);
      },
      mouseLeave() {
        this.timer = setTimeout(() => {
          this.open = !this.open;
        }, 1000);
      },
      openMenu() {
        this.open = !this.open;
      },
      update() {
        window.location.reload();
      },
      windowPrint() {
        window.print();
      },
    },
    props: {
      iconClass: {
        type: String,
        required: true,
        default: 'icon-more',
      },
    },
  };
</script>
