<template>
  <div class="ur-legacy-styles">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'ur-legacy-styles',
  };
</script>

<style scoped lang="scss">
.ur-legacy-styles /deep/ {
  @import "./legacy-styles.scss";
}
</style>
