<!--Takes a string and returns a google place object-->
<template>
  <div class="location-autocomplete input-group" :class="additionalClass">
    <label v-if="label !==''" for="locationSearch">{{ label }}</label>
    <div class="input-wrapper">
      <input
        autocomplete="off"
        ref="locationAutocompleteInput"
        :class="{'withclear': showClearButton}"
        type="text"
        id="locationSearch"
        @input="e => holdPlace = e.target.value"
        @focus="doFocus(true)"
        @blur="doFocus(false)"
        @keyup.enter="handleEnterKey"
        @keyup.escape="handleEscapeKey"
        @keyup.down="handleDownKey"
        @keyup.up="handleUpKey"
        @keyup.clear="clear"
        v-model="holdPlace"
        :placeholder="placeholder"
      >
      <i class="icon icon-before-location"></i>
      <span
        class="clearspan"
        v-show="showClearButton"
        @click="clear()"
      >{{ $i18n('ur.clear') }}
      </span>
    </div>
    <ul v-show="suggestions.length" class="suggestions" id="suggestions" ref="suggestions">
      <li v-for="(item, index) in suggestions" :key="index" @click="setSuggestion(item)" :class="index === selected? 'selected':''"
          v-html="prepareText(item.description)"
      >
      </li>
    </ul>
    <div class="mobile-spacer" v-if="suggestions.length && isMobile()"></div>
  </div>
</template>
<style lang="scss" scoped>
  @import 'styles/globals';

  .location-autocomplete.input-group.location-modal {
    .input-wrapper,
    .suggestions {
      margin-left: rem(28); // matching jobsite select
    }

    .input-wrapper {
      display: inline-flex;
      width: 100%;
    }
  }

  .icon-before-location:before {
    color: $color-blue;
    margin-right: 0;
  }
</style>

<script>
  import GooglePlaces from '@/lib/google-places';
  import BrowserInfo from '@/mixins/browser-info';

  import { debounce } from 'lodash';

  export default {
    name: 'ur-location-autocomplete',
    data() {
      return {
        holdPlace: '',
        placeHasFocus: false,
        suggestions: [],
        suggestion: {},
        busy: false,
        originalPlace: '',
        selected: null,
        service: false,
        countryRegex: /, United States| United States|, USA| USA| Canada|, Canada/,
        // Regardless of what the linter may tell you, the square brackets [] are very much required
        // to be escaped in this next line, so the linter is disabled for that line.
        symbolRegex: /[!$%^&*()_+|~=`{}\[\]":“;‘<>?\/@#]/g, // eslint-disable-line
        watchingScroll: false,
      };
    },
    computed: {
      showClearButton() {
        return this.holdPlace.length && this.placeHasFocus;
      },
    },
    created() {
      this.getSuggestions = debounce(this.getSuggestions, 250);
    },
    methods: {
      clear() {
        this.holdPlace = '';
        this.suggestions = [];
        this.selected = null;
        this.inputHasFocus = true;
        this.$emit('clear');
      },
      doFocus(state) {
        setTimeout(() => {
          this.placeHasFocus = state;
          if (!state) {
            this.suggestions = [];
            if (this.holdPlace !== this.originalPlace && this.holdPlace !== '') {
              this.holdPlace = this.originalPlace;
            }
          }
        }, 250);
      },
      handleEnterKey() {
        if (this.suggestions.length > 0 && !this.busy) {
          if (this.selected === null) {
            this.selected = 0;
          }
          this.setSuggestion(this.suggestions[this.selected]).then(() => {
            this.suggestions = [];
          });
        }
      },
      handleEscapeKey() {
        this.suggestions = [];
        this.holdPlace = this.originalPlace;
      },
      handleDownKey() {
        if (this.selected === null || this.selected === this.suggestions.length - 1) {
          this.selected = 0;
        }
        else {
          this.selected++;
        }
      },
      handleUpKey() {
        if (this.selected === null || this.selected === 0) {
          this.selected = this.suggestions.length - 1;
        }
        else {
          this.selected--;
        }
      },
      handleWindowScroll() {
        this.suggestions = [];
        this.watchingScroll = false;
        document.removeEventListener('scroll', this.handleWindowScroll, true);
      },
      prepareText(text) {
        return text.replace(this.countryRegex, '')
          .replace(RegExp(`(${this.holdPlace})`, 'ig'), '<span class="searchText">$1</span>');
      },
      async setSuggestion(suggestion) {
        this.loadService();
        const togo = await this.service.getPlaceFromPrediction(suggestion);
        this.holdPlace = togo.formatted_address.slice(0).replace(this.countryRegex, '');
        this.originalPlace = this.holdPlace;
        this.$emit('change', togo);
      },
      async getSuggestions() {
        this.holdPlace = this.holdPlace.replace(this.symbolRegex, '');
        if (!this.busy && this.holdPlace.length > 2) {
          this.busy = true;
          this.loadService();
          try {
            await this.service.getPredictionsFromAddress(this.holdPlace)
              .then(response => {
                this.suggestions = response;
                if (!this.watchingScroll) {
                  this.watchingScroll = true;
                  document.addEventListener('scroll', this.handleWindowScroll, true);
                }
                this.busy = false;
              });
          }
          catch (error) {
            this.suggestions = [];
            this.watchingScroll = false;
            this.busy = false;
          }
        }
      },
      loadService() {
        if (!this.service && google) {
          this.service = new GooglePlaces();
        }
        this.setServiceCountries(this.countries);
      },
      setServiceCountries() {
        if (!this.service && google) {
          this.service = new GooglePlaces();
        }
        this.service.autoCompleteOptions = {
          types: ['(regions)'],
          componentRestrictions: { country: this.countries },
        };
      },
    },
    mixins: [
      BrowserInfo,
    ],
    props: {
      label: {
        type: String,
        required: false,
        default: 'Location',
      },
      place: {
        type: String,
        required: false,
        default: '',
      },
      placeholder: {
        type: String,
        required: false,
        default: 'city or zip/postal code',
      },
      additionalClass: {
        type: String,
        required: false,
      },
      moreSpacingTopCss: {
        type: Boolean,
        required: false,
      },
      countries: {
        type: Array,
        required: false,
        default: () => ['us', 'ca', 'pr'],
      },
    },
    mounted() {
      if (this.place) {
        this.holdPlace = this.place.slice(0);
        this.originalPlace = this.place.slice(0);
      }
    },
    watch: {
      place() {
        if (this.holdPlace !== this.place.slice(0) && this.place !== '') {
          this.holdPlace = this.place.slice(0);
          this.originalPlace = this.holdPlace;
        }
      },
      holdPlace() {
        if (!this.holdPlace.length) {
          this.suggestions = [];
        }
        else if (this.holdPlace !== this.place.slice(0) && this.holdPlace !== this.originalPlace) {
          this.getSuggestions();
        }
        this.$emit('holdPlaceChange', this.holdPlace);
      },
      countries() {
        this.setServiceCountries();
      },
    },
  };
</script>
