<template>
  <ur-legacy-portal>
  <transition name="fade">

    <div :class="`modal ${classAdditional}`" @keyup.esc="escapePressed">

      <div @click="backgroundClicked" class="modal__background"></div>

      <div :class="contentStyle">
        <a @click="close" v-if="!closeDisabled" class="close-icon">
          <i class="icon icon-button"></i>
        </a>

        <component :is="content" v-bind="contentProps" ref="content"></component>
      </div>

    </div>

  </transition>
  </ur-legacy-portal>
</template>

<script type="text/babel">
  // eslint-disable-next-line no-unused-vars
  import { has } from 'lodash';

  export default {
    name: 'ur-modal',
    props: {
      centerModal: {
        type: Boolean,
        default: true,
      },
      content: {
        required: true,
        type: [Object, Function],
      },
      contentProps: {
        required: false,
        type: Object,
        default: () => {},
      },
      classAdditional: {
        required: false,
        default: '',
        type: String,
      },
      closeOnBackgroundClick: {
        type: Boolean,
        default: false,
      },
      closeOnEscapeKey: {
        type: Boolean,
        default: false,
      },
      modalOverflowY: {
        type: Boolean,
        default: false,
      },
    },
    provide() {
      return {
        // Give descendants access to the modal they are being held captive in.
        urModal: this,
      };
    },
    data() {
      return {
        /*
          This `direct` variable can be used to indicate if this modal should be
          standalone (ie - was "directly" invoked, shouldn't pop up with other
          modals/etc) including use by child components to know they shouldn't
          be forwarding the user to other pages (just close when done).
        */
        direct: true,
      };
    },
    computed: {
      isDirect() {
        return !!this.direct;
      },
      closeDisabled() {
        return this.contentProps && !!this.contentProps.closeDisabled;
      },
      contentSize() {
        return this.contentSizeSpecified ? this.contentProps.contentSize : '100';
      },
      contentSizeSpecified() {
        return this.contentProps && typeof this.contentProps.contentSize !== 'undefined';
      },
      contentStyle() {
        return {
          modal__content: true,
          'modal__content--center': this.centerModal,
          [`modal__content--${this.contentSize}`]: this.contentSizeSpecified,
          'modal__content--center--overflow-y': this.modalOverflowY,
        };
      },
    },
    methods: {
      escapeKeyListener($event) {
        if (this.closeOnEscapeKey && $event.keyCode === 27) {
          $event.preventDefault();
          this.close();
        }
      },
      backgroundClicked() {
        if (this.closeOnBackgroundClick) {
          this.close();
        }
      },
      close() {
        if (typeof this.$refs.content.closeOverride === 'function') {
          return this.$refs.content.closeOverride();
        }

        if (this.contentProps && this.contentProps.close) {
          return this.contentProps.close();
        }

        if (this.contentProps && this.contentProps.backOnClose) {
          this.$router.go(-1);
        } else if (this.isDirect) {
          // For cases where the modal should just close,
          // not return in history to other modals
          this.$router.push('/');
        } else {
          this.$router.go(-1);
        }
        if (typeof this.$refs.content.closeCallback === 'function') {
          this.$refs.content.closeCallback();
        }
      },
    },
    created() {
      if (has(this.$route.query, 'direct')) {
        // Put a ?direct=true in the URL to set it
        const { direct } = this.$route.query;
        this.direct = [true, 'true'].includes(direct);
      }
    },
    mounted() {
      window.document.addEventListener('keyup', this.escapeKeyListener);
      document.body.classList.add('jsa-body-lock');
    },
    destroyed() {
      window.document.removeEventListener('keyup', this.escapeKeyListener);
      document.body.classList.remove('jsa-body-lock');
    },
  };
</script>
<style lang="scss" scoped>
  div.ur-legacy-styles > div.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10002;
    overflow-y: scroll;

    .modal__background {
      background-color: rgba(#414B50, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .modal__content--center {
      overflow-y: auto;
    }
  }
</style>
