<template>
  <div class="modal-framed" style="position:relative;overflow:visible;">
    <div class="modal-framed__header">
      <slot name="header"></slot>
    </div>
    <div :class="mainClassesObject">
      <div :class="contentClassesObject">
        <slot name="content"></slot>
      </div>
    </div>
    <div class="modal-framed__footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    mainClassesObject() {
      return {
        'modal-framed__main': true,
        ...this.mainClasses,
      };
    },
    contentClassesObject() {
      return {
        'modal-framed__content': true,
        'no-padding': !this.padding,
        ...this.contentClasses,
      };
    },
  },
  props: {
    contentClasses: {
      type: Object,
      default: () => {},
    },
    mainClasses: {
      type: Object,
      default: () => {},
    },
    padding: {
      type: Boolean,
      default: true,
    },
    contentSize: {
      type: String,
      default: '',
    },
  },
};
</script>
