<template>
  <span class="notifications">
    <i class="icon icon-notification"></i>
    <span class="pill-count">{{ count }}</span>
  </span>
</template>

<script>
export default {
  name: 'urNotifications',
  props: [
    'count',
  ],
};
</script>
