<template>
  <div class="flex flex-row o-p-16 o-rounded-large" :style="bannerStyle">
    <div>
      <div v-if="this.headline" class='o-text-large o-font-bold o-leading-20'>{{ headline }}</div>
      <div class="o-mt-12 o-text-h6 o-leading-20">{{ text }}</div>
    </div>
    <q-icon v-if="this.icon"
      size="small"
      :icon-name="setIcon"
    />
  </div>
</template>

<script>
  export default {

    name: 'ur-sidebar-banner',

    props: {
      headline: {
        type: String,
        required: false,
      },
      text: {
        type: String,
        required: true,
      },
      textColor: {
        type: String,
        default: '#4a4a4a',
        required: false,
      },
      backgroundColor: {
        type: String,
        default: '#edf8ff',
        required: false,
      },
      icon: {
        type: String,
        required: false,
      },
    },

    computed: {
      bannerStyle() {
        return `color: ${this.textColor}; background-color: ${this.backgroundColor};`;
      },
      setIcon() {
        return this.icon;
      },
    },

  };
</script>
<style>
  .headline {
    font-weight: 700;
    font-size: 1rem;
  }
</style>
