<template>
  <q-icon class="info-icon-tooltip" icon-name="outline-info" size="small" v-tooltip="tooltipOptions" />
</template>

<script type="text/babel">
  import { mobileMenuIsOpen } from '@/utils/legacy.js';
  export default {
    data() {
      return {
        isMobile: mobileMenuIsOpen(),
      };
    },
    computed: {
      tooltipPlacement() {
        return this.isMobile ? 'top-start' : this.position;
      },
      tooltipMessage() {
        return this.messageIsHtml ? this.message : this.$i18n(this.message);
      },
      tooltipOptions() {
        return {
          boundariesElement: 'window',
          content: this.tooltipMessage,
          placement: this.tooltipPlacement,
          trigger: this.trigger,
        };
      },
    },
    name: 'ur-tooltip',
    props: {
      message: {
        type: String,
        required: true,
      },
      position: {
        default: 'top-start',
        type: String,
      },
      messageIsHtml: {
        type: Boolean,
        default: false,
      },
      trigger: {
        type: String,
        default: 'hover focus',
      },
    },
  };
</script>

<style lang="scss">
  @import 'styles/globals';
  @import 'styles/libraries/theme-crossover/v-tooltip';

  .authentication-panel .container-inline .info-icon-tooltip {
    color: $color-blue;
  }
  .cost-summary .info-icon-tooltip {
    padding-left: rem(5);
    transform: translateY(-0.1em);
  }
</style>
