<template>
  <div class="tabs">
    <ul class="tabs__nav tabs tabs--style-1">
      <li v-for="(route, index) in tabs" :key="index">
        <router-link
          class="tabs__link tabs__link--local-tasks"
          :key="index"
          :to="route.path"
        >
          {{ route.label }}
        </router-link>
      </li>
    </ul>
  </div>
</template>
<script type="text/babel">
  export default {
    methods: {
      generateId(index) {
        return `tab-${index}`;
      },
    },
    props: {
      tabs: {
        type: Array,
        required: true,
      },
    },
  };
</script>
