<template>
  <transition name="tbSlideFade" tag="div">
    <div class="cart__editing">

      <div class="cart__editing__body">

        <transition name="btEditSlideFade1" tag="div">
          <div class="cart__editing__section-1" v-if="show">
            <div class="left-quantity">
              <cart-quantity-selector />
            </div>

            <div class="right-calendar">
              <date-range-selector
                :min="minDate"
                :satOff="satOff"
                :sunOff="sunOff"
                :has-error="!datesValid"
                :disableWeekends="disableWeekends"
                :error-message="$i18n('e.errorMessage8')"
                @dateChange="handleDateChange"
              />
            </div>
          </div>
        </transition>

        <template v-if="(userHasADefaultJobsite || accountId) && (userIsLoggedIn && userHasAnAccount)">
          <transition name="btEditSlideFade2" tag="div">
            <div class="cart__editing__section-2" v-if="show">

              <div class="select-grouping">
                <div class="select-grouping-left">
                  <account-selector
                    :value="accountId"
                    @change="val => userHasManyAccounts ? onAccountChange(val) : handleSpecialAccountChangeEvent(val)"
                  />
                </div>

                <div class="select-grouping-right"></div>
              </div>

              <div class="select-grouping">
                <div class="select-grouping-left">
                  <ur-cover :enabled="!accountId && !defaultAccountId">
                    <job-selector
                      ref="jobSelector"
                      @change="onJobChange"
                      :value="form.jobsiteId"
                      :account-id="accountId || defaultAccountId"
                    />
                  </ur-cover>
                </div>

                <div class="select-grouping-right">
                  <requester-selector
                    :account-id="accountId || defaultAccountId"
                    :value="form.requesterId || defaultRequesterId"
                    @change="updateRequesterId"
                  />
                </div>
              </div>
            </div>
          </transition>
        </template>

        <transition name="btEditSlideFade3" tag="div">
          <div class="cart__editing__notes" v-if="show">
            <label>
              {{ $i18n('ur.notes') }}
            </label>
            <textarea
              maxlength="128"
              :value="form.notes"
              @change="updateFormField({notes: $event.target.value})"
            />
          </div>
        </transition>

      </div>

    </div>
  </transition>

</template>
<script type="text/babel">
  import AccountSelector from '@/components/common/account-selector.vue';
  import DateRangeSelector from '@/components/common/date-range-selector.vue';
  import JobSelector from '@/components/common/job-selector.vue';
  import CartQuantitySelector from '@/components/cart/cart-quantity-selector.vue';
  import RequesterSelector from '@/components/common/requester-selector.vue';
  import UrCover from '@/components/common/ur-cover';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import { dateFormat } from '@/utils';
  import types from '@/store/types';
  import { get, isEmpty } from 'lodash';
  import moment from 'moment';

  export default {
    components: {
      AccountSelector,
      DateRangeSelector,
      JobSelector,
      CartQuantitySelector,
      RequesterSelector,
      UrCover,
    },
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        defaultJob: types.user.defaultJob,
      }),
      ...mapGetters([
        'small',
        'medium',
      ]),
      ...mapState({
        allAccounts: state => state.accounts.all,
        allJobs: state => state.jobs.all,
        createdJobs: state => state.jobs.created,
        defaultAccountId: state => state.user.defaultAccountId,
        defaultRequesterId: state => state.user.defaultRequesterId,
        form: state => state.cartItemForm || {},
        formEndDate: state => moment(state.cartItemForm.endDate),
        formStartDate: state => moment(state.cartItemForm.startDate),
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userHasADefaultJobsite: state => state.user.defaultJobId !== '',
        userHasManyAccounts: state => Object.keys(state.accounts.all).length > 1,
        userIsLoggedIn: state => state.user.isLoggedIn,
        branch(state) {
          return get(state.branch.all, [this.ratesPlaceBranch], {});
        },
      }),
      datesValid() {
        return this.formStartDate.diff(moment(), 'days') >= 0
          && this.formEndDate.diff(moment(), 'days') >= 0;
      },
      satHours() {
        return this.branch.saturdayHours || {};
      },
      sunHours() {
        return this.branch.sundayHours || {};
      },
      disableWeekends() {
        return isEmpty(this.sunHours) && isEmpty(this.satHours);
      },
      satOff() {
        return isEmpty(this.satHours);
      },
      sunOff() {
        return isEmpty(this.sunHours);
      },
      userHasAnAccount() {
        return !this.$store.getters[types.accounts.noAccounts];
      },
      branchOffset() {
        if (!this.branch) return 0;

        let branchOffset = this.branch.timeOffset;

        if (!branchOffset) return 0;

        branchOffset = Number(branchOffset) + this.hoursToSubtract();
        branchOffset = branchOffset.toString().replace('00', '');
        branchOffset = branchOffset.toString().replace('-', '');

        return branchOffset;
      },
      minDate() {
        // Default timeOffset = UTC Timezone
        const date = {
          time: moment.utc().format(dateFormat.iso),
          offset: this.branchOffset,
        };

        // default offset = UTC ==> only subtract
        const adjustedMoment = moment(date.time).subtract(date.offset, 'hours');
        /**
         * If it's "after hours" in the time zone of
         * the branch the minimum date is tomorrow.
         * Otherwise it's still today
         *
         * @TODO: The lastHour value should not be hard coded, but we haven't implemented the branch hours lookup
         * As soon as we look up the "real" branch operating hours this variable should be replaced.
         */
        const lastHour = 17;
        if (adjustedMoment.hour() >= lastHour) {
          return adjustedMoment.add(1, 'days');
        }
        return adjustedMoment;
      },
    },
    data() {
      return {
        show: false,
      };
    },
    methods: {
      ...mapActions({
        fetchJobs: types.jobs.fetch,
        loadCartItem: types.cartItemForm.loadCartItem,
        updateFormField: types.cartItemForm.updateFormField,
        updateDefaultJobId: types.user.defaultJobId,
      }),
      populateFormWithItemDetails() {
        this.loadCartItem({
          id: this.itemId,
          isSavedForLater: this.isSavedForLater,
        });
      },
      removeItem(id) {
        this.$store.dispatch(types.cart.removeItem, id);
      },
      // The Account Selector emits a change event when the user has one account. This special case
      // needs to pass the existing account/jobsite values up the hierarchy.
      handleSpecialAccountChangeEvent() {
        const { accountId, jobsiteId } = this.form;
        this.$emit('account-change', { accountId, jobsiteId });
      },

      handleDateChange(input) {
        this.$emit('date-change', input);
      },

      onAccountChange(accountId) {
        this.$emit('account-change', { accountId, jobsiteId: '' });
        this.updateFormField({ accountId, jobsiteId: '' });

        const newAccount = this.allAccounts[accountId];
        const { city, state, zip } = newAccount;

        this.updateFormField({ locationString: `${city}, ${state} ${zip}` });

        const jobsForNewAccount = get(this.allJobs, [newAccount.id], []);

        if (!jobsForNewAccount.length) {
          this.fetchJobs(newAccount.id).then(() => {
            // // Something is changing the form's job id after this action, and we need to keep it wiped out
            // // TODO figure out why the form.jobsiteId mutates after a jobs.fetch.
            this.updateFormField({ jobsiteId: '' });
          });
        }
      },
      onJobChange(jobsiteId) {
        this.$emit('jobsite-change', { jobsiteId });

        // Update the cart item's jobsite id
        this.updateFormField({ jobsiteId });

        if (!jobsiteId) {
          this.$refs.jobSelector.$v.$touch(); // force an error label to display
          return;
        }

        // Update the cart item's locationString
        const { city, state, zip } = this.allJobs[this.accountId][jobsiteId];
        const locationString = `${city}, ${state} ${zip}`;
        this.updateFormField({ locationString });
      },
      onLocationChange({ address }) {
        this.updateFormField({ locationString: address });
      },
      updateRequesterId(requesterId) {
        this.updateFormField({ requesterId });
      },
      hoursToSubtract() {
        // Depending on the DST truthy or falsy, hours that we should subtract from UTC can be -400 or -500
        // HoursToSubtract finds the count of that hours
        return moment().isDST() ? -400 : -500;
      },
    },
    mounted() {
      this.populateFormWithItemDetails();
      // Trigger the animated reveal
      this.show = true;
      // Populate the form with an item's details
      this.loadCartItem({
        id: this.itemId,
        isSavedForLater: this.isSavedForLater,
      });
    },
    name: 'cartItemForm',
    props: {
      accountId: {},
      isSavedForLater: {
        type: Boolean,
        required: true,
      },
      itemId: {
        type: String,
        required: true,
      },
      blockId: {
        type: String,
        required: false,
      },
    },
    watch: {
      // This will change when a user Creates a Jobsite through the job-selector component.
      // If it changes, we should set the form to the newly created jobsite.
      createdJobs: {
        handler(jobsiteIds) {
          // Do not pop the newList directly or you'll be breaking Vuex mutation conventions
          const jobsiteId = [...jobsiteIds].pop();
          this.updateFormField({ jobsiteId });

          // Inform the parent component that a new jobsite has been selected.
          this.$emit('jobsite-change', { jobsiteId });
        },
      },
      // Assume this form should always reflect the User's Rates Branch.
      ratesPlaceBranch(branchId) {
        this.updateFormField({ branchId });
      },
    },
  };
</script>
