<template>
  <div class="editable-cart-item"
    :class="{
      'editable-cart-item--saved-for-later': isSavedForLater
    }"
    v-if="item" >

    <div class="cart__item">
      <div class="cart__details">

        <div class="cart__img">
          <img :src="equipmentImgSrc" :alt="equipmentImgAlt" height="44" width="44"/>
        </div>

        <div>
          <p class="cart__cat_class_code">{{ $i18n('catalog.catClassCode') }}{{item.catClass}}</p>
          <p class="cart__details__name">{{equipment.title}}</p>

          <transition name="fadeEnterOnly" tag="div">
            <div v-if="!editing" class="cart__details__content">
              <p class="cart__details__account"><strong>{{ $i18n('cartItem.account') }}:</strong> {{account.name}} {{accountId}}</p>
              <p class="cart__details__jobsite"><strong>{{ $i18n('cartItem.jobsite') }}:</strong> {{jobsite.name}} {{jobsite.id}}</p>
              <p class="cart__details__item_details"><strong>{{ $i18n('cartItem.qty') }}:</strong> {{item.quantity}} at ~ {{displayRateIndividual | currency}} {{$i18n('ur.each')}}
                <span v-if="voucherStatus && !itemHasContractPricing(item.catClass)" class="cart__details__item_discount">
                  ({{ voucherPercentOff }}{{ $i18n('checkout.promotionCode.percentDiscountApplied') }})
                </span>
                <span v-if="voucherStatus && itemHasContractPricing(item.catClass)" class="cart__details__item_discount">
                  ({{ $i18n('checkout.promotionCode.noDiscountForContract') }})
                </span>
              </p>
              <p class="cart__details__item_details" :class="{ 'error-message': !datesValid }"><strong>{{ $i18n('cartItem.duration') }}:</strong> {{item.startDate | momentSlashFormat}} - {{item.endDate | momentSlashFormat}}</p>
              <ur-error-label :message="$i18n('e.errorMessage8')" v-if="!editing && !datesValid" style="margin-top: 0; line-height: 1em;" />
              <p class="cart__details__requester" v-if="item.requester"><strong>{{ $i18n('ur.requesterLabel') }}:</strong> {{item.requester}}</p>
              <p class="cart__details__notes" v-if="item.notes"><strong>{{ $i18n('ur.notes') }}:</strong> {{item.notes}}</p>
            </div>
          </transition>

          <ur-error-label :message="$i18n('cart.cannotRentItemPleaseCall')" v-if="(cartEstimate && cartEstimate.availableEquip) && estimateIsZero" />
          <ur-error-label :message="$i18n('rates.locationFiltered')" v-if="notAvailableItemError" />

        </div>
      </div>
      <p class="cart__details__pricing">
          <span class="chip-tooltip">
            <ur-chip v-if="rates.contractPricing" :label="$i18n('rates.contract')"
                     :ttMessage="$i18n('rates.contractTooltip')"></ur-chip>
            <ur-chip v-else background-color="#008cff" :label="$i18n('rates.web')"
                     :ttMessage="$i18n('rates.webTooltip')"></ur-chip>
          </span>
          <span>{{ displayRate | currency }}</span>
      </p>

    </div>

    <cart-item-form
      :account-id="newAccountId ? newAccountId : modalAccountId"
      :is-saved-for-later="isSavedForLater"
      :item-id="item.id"
      :block-id="blockId"
      v-if="editing"
      @account-change="onAccountOrJobChange"
      @jobsite-change="onAccountOrJobChange"
      @date-change="onDateChange"
    />

    <div class="cart__details__actions__editing" v-if="editing">
      <div class="links-left">
        <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="remove(item.id)">{{ $i18n('ur.delete') }}</a>
        <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="onClickMoveToCart" v-if="isSavedForLater && formDatesValid">{{$i18n('cart.moveToCart')}}</a>
        <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="onClickSaveForLater" v-if="userIsLoggedIn && !isSavedForLater && formDatesValid">{{ $i18n('cart.saveForLater') }}</a>
      </div>

      <div class="links-right">
        <a class="stopEditing" href="#" @click.prevent="stopEditing">{{ $i18n('ur.cancel') }}</a>
        <ur-loading-spinner :style="spinnerStyles" v-if="requestsAreInFlight" />
        <button class="button button--style-2 button--filled" @click.prevent="onSave" :disabled="saveDisabled">{{ $i18n('ur.save') }}</button>
      </div>

    </div>

    <div class="cart__details__actions" v-else>
      <a  v-if="isAnyFormActive || otherFormsAreOpen" >
        <span v-tooltip="formActiveTooltip()">{{ $i18n('ur.edit') }}</span>
      </a>

      <a @click.prevent="startEditing" v-if="!isAnyFormActive && !otherFormsAreOpen">
        <span>{{ $i18n('ur.edit') }}</span>
      </a>
      <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="remove(item.id)">{{ $i18n('ur.delete') }}</a>
      <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="onClickMoveToCart" v-if="isSavedForLater && datesValid">{{ $i18n('cart.moveToCart') }}</a>
      <a href="#" :class="{disabled: requestsAreInFlight}" @click.prevent="onClickSaveForLater" v-if="userIsLoggedIn && !isSavedForLater && datesValid">{{ $i18n('cart.saveForLater') }}</a>

    </div>
    <!-- Produce white space on older iOS phones so they can see the Delete/Cancel/Save buttons -->
    <div v-if="isIOS() && (this.small || this.medium) && editing" style="width:100%;height:66px" />
  </div>

</template>

<script type="text/babel">
  import BrowserInfo from '@/mixins/browser-info.js';
  import CartItemForm from './editable-cart-item-form.vue';
  import UrChip from '@/components/common/ur-chip.vue';
  import UrErrorLabel from '@/components/common/form/ur-error-label';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import UrGtm from '@/mixins/ur-gtm';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import moment from 'moment';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track/tokens';
  import { Progress } from '@/lib/cart';

  import get from 'lodash/get';

  import cartItemMixin from './cart-item-mixin';

  export default {
    components: {
      CartItemForm,
      UrChip,
      UrErrorLabel,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'categoryByCatClass',
        'categoryIdByCatClass',
        'subCategoryByCatClass',
        'getCartItemEstimate',
      ]),
      ...mapGetters({
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        account(state) {
          return state.accounts.all[this.item.accountId] || {};
        },
        cartItemForm: state => state.cartItemForm,
        formEndDate: state => moment(state.cartItemForm.endDate),
        formStartDate: state => moment(state.cartItemForm.startDate),
        isAnyFormActive: state => state.cartItemForm.isActive.length > 0,
        rates(state) {
          return get(state.catalog.rates, [this.item.catClass, this.ratesBranch], {});
        },
        ratesBranch: state => state.user.ratesPlaceBranch,
        jobsite(state) {
          if (!this.item.accountId) {
            return {};
          }
          return get(state.jobs.all, [this.item.accountId, this.item.jobsiteId], {});
        },

        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      otherFormsAreOpen() {
        return this.progress.jobsite === Progress.ACTIVE;
      },
      cartEstimate() {
        return this.getCartItemEstimate(this.itemId);
      },
      estimate() {
        return this.getEstimate(this.blockId);
      },
      notAvailableItemError() {
        const available = get(this.cartEstimate, ['availableEquip'], true);
        return !available;
      },
      accountAndJobsiteAreValid() {
        // users who change nothing are valid
        if (this.newAccountId === null && this.newJobsiteId === null) {
          return true;
        }

        // Users can change jobsites but not account and be valid
        if (!!this.newJobsiteId && this.newAccountId === null) {
          return true;
        }

        // Otherwise, users who change their account must also select a jobsite
        return !!this.newJobsiteId && !!this.newAccountId;
      },
      datesValid() {
        // The first time this function is run after a page refresh, startDates and endDates won't be moment objects.
        // The SFL Fetch action rebuilds these objects correctly, but before that happens this fn will step
        // out and return TRUE.
        if (this.item.startDate && typeof this.item.startDate.diff !== 'function') {
          return true;
        }
        return this.item.startDate && this.item.endDate
          && this.item.startDate.diff(moment(), 'days') >= 0
          && this.item.endDate.diff(moment(), 'days') >= 0;
      },
      displayRate() {
        return Math.ceil(this.estimatedRentalAmount);
      },
      // TODO brewer fix this to read the new field
      displayRateIndividual() {
        return this.displayRate / this.item.quantity;
      },
      formDatesValid() {
        return this.formStartDate.diff(moment(), 'days') >= 0
          && this.formEndDate.diff(moment(), 'days') >= 0;
      },
      gtmObject() {
        return {
          name: this.equipment.title,
          catClass: this.equipment.catClass,
          price: this.rate,
          category: this.categoryByCatClass(this.equipment.catClass),
          subCategory: this.subCategoryByCatClass(this.equipment.catClass),
          quantity: this.item.quantity,
        };
      },
      requestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.fetchRates,
          FlightToken.getBranchData,
          FlightToken.getNearbyBranchData,
          FlightToken.fetchChargeEstimates,
          FlightToken.fetchSaveForLater,
          FlightToken.setSaveForLater,
          FlightToken.fetchCart,
          FlightToken.addCartItem,
          FlightToken.updateCartItem,
          FlightToken.removeCartItem,
        );
      },
      saveDisabled() {
        return this.requestsAreInFlight || !this.formDatesValid || !this.accountAndJobsiteAreValid;
      },
      voucherStatus() {
        return get(this.estimate, ['voucher', 'status'], false);
      },
      voucherPercentOff() {
        return get(this.estimate, ['voucher', 'discount', 'percent_off'], 0);
      },
    },
    data() {
      return {
        editing: false,
        newAccountId: null,
        newJobsiteId: null,
        spinnerStyles: {
          top: 0,
          'font-size': '3rem',
        },
        modalAccountId: this.$route.params.accountId || this.accountId,
      };
    },
    methods: {
      ...mapActions({
        cartRemoveItem: types.cart.removeItem,
        cartUpdateItem: types.cart.updateItem,
        moveToCart: types.cart.saveForLater.moveToCart,
        saveForLaterAddItem: types.cart.saveForLater.addItem,
        saveForLaterRemoveItem: types.cart.saveForLater.removeItem,
        saveForLaterUpdateItem: types.cart.saveForLater.updateItem,
        updateActive: types.cartItemForm.updateActive,
      }),
      formActiveTooltip() {
        return {
          content: this.$i18n('checkout.editProhibited'),
          trigger: 'hover touch',
        };
      },
      onClickMoveToCart() {
        if (this.editing) {
          if (this.small || this.medium) {
            this.$router.go(-1);
          }
          return this.saveAndMoveToCart();
        }

        this.moveToCart(this.item);
      },
      onClickSaveForLater() {
        if (this.editing) {
          if (this.small || this.medium) {
            this.$router.go(-1);
          }
          return this.saveAndSaveForLater();
        }

        this.saveForLaterAddItem(this.item);
      },
      onAccountOrJobChange({ accountId, jobsiteId }) {
        let action = 'jobsite';
        let id = jobsiteId;
        if (accountId) {
          action = 'account';
          id = accountId;
          this.newAccountId = accountId;
        }
        this.newJobsiteId = jobsiteId;
        this.gtmTrackCartAction(action, id);
      },

      onDateChange(input) {
        this.gtmTrackCartAction(input.name, input.value);
      },
      onSave() {
        // Do not save if invalid.
        // IE11 executes click handlers on disabled buttons, so we also step-out if it's disabled.
        if (!this.$validateChildrenAndScrollToError() || this.saveDisabled) {
          return;
        }

        this.editing = false;

        if (this.isSavedForLater) {
          this.saveForLaterUpdateItem({ ...this.item, ...this.cartItemForm });
        }
        else {
          this.cartUpdateItem({ id: this.cartItemForm.id, field: this.cartItemForm });
        }

        if (this.small || this.medium) {
          this.$router.go(-1);
        }
      },
      remove(itemId) {
        if (this.requestsAreInFlight) {
          return;
        }

        if ((this.small || this.medium) && this.isModal) {
          this.$router.go(-1);
        }

        if (this.isSavedForLater) {
          return this.saveForLaterRemoveItem(this.item.id);
        }

        this.gtmTrackRemoveProductFromCart(this.gtmObject);
        this.cartRemoveItem(itemId);
      },
      itemHasContractPricing(catClass) {
        return get(this.estimate, ['items', catClass, 'hasContractPricing'], false);
      },
      async saveAndMoveToCart() {
        if (!this.$validateChildrenAndScrollToError() || this.requestsAreInFlight) {
          return;
        }

        await this.saveForLaterUpdateItem({ ...this.item, ...this.cartItemForm });

        this.moveToCart(this.item);
      },
      async saveAndSaveForLater() {
        if (!this.$validateChildrenAndScrollToError() || this.requestsAreInFlight) {
          return;
        }

        await this.cartUpdateItem({ id: this.cartItemForm.id, field: this.cartItemForm });

        this.saveForLaterAddItem(this.item);
      },
      /**
       * Displays the Item Form. Mobile users get this presented via modal. Desktop users
       * do not.
       */
      startEditing() {
        if (this.isAnyFormActive && !this.isModal) {
          return;
        }

        if ((this.small || this.medium) && !this.isModal) {
          this.$router.push(`/checkout/mobile-cart-item-form/${this.itemId}/${this.isSavedForLater}/${this.accountId}`);
          return;
        }

        this.editing = true;
      },
      stopEditing() {
        if (this.small || this.medium) {
          this.$router.go(-1);
        }

        this.editing = false;
      },
    },
    mixins: [
      BrowserInfo,
      cartItemMixin,
      UrGtm,
    ],
    mounted() {
      if (this.startInEditMode) {
        this.startEditing();
      }
    },
    beforeDestroy() {
      // Inform the application this item is no longer being edited.
      // This helps prevent users from editing multiple items concurrently.
      this.updateActive({ itemId: this.itemId, isActive: false });
    },
    name: 'editableCartItem',
    props: {
      accountId: String,
      blockId: String,
      isModal: Boolean,
      isSavedForLater: Boolean,
      progress: {
        type: Object,
        default: () => ({}),
      },
      itemId: String,
      startInEditMode: Boolean,
    },
    watch: {
      // We update the vuex store with the Editing status to prevent users from opening
      // the same form concurrently on other Reservations and Save For Later items
      editing: {
        handler(isActive) {
          this.updateActive({ itemId: this.itemId, isActive });
        },
      },
      immediate: true,
    },
  };
</script>
