<template>
  <div class="editable-cart-item">
    <div class="cart__item">
      <div class="cart__details">

        <div class="cart__img">
          <img :src="equipmentImgSrc" :alt="equipmentImgAlt" height="44" width="44"/>
        </div>

        <div>
          <p class="cart__cat_class_code">{{ $i18n('catalog.catClassCode') }}{{ item.catClass }}</p>
          <p class="cart__details__name">{{ equipment.title }}</p>

          <div class="cart__details__content">
            <p><strong>{{ $i18n('cartItem.qty') }}:</strong> {{ item.quantity }} at ~ {{ Math.ceil(estimatedRentalAmount / item.quantity) | currency }} {{ $i18n('ur.each') }}</p>
            <p><strong>{{ $i18n('cartItem.duration') }}:</strong> {{ item.startDate | momentSlashFormat }} - {{ item.endDate | momentSlashFormat }}</p>
            <p v-if="item.notes"><strong>{{ $i18n('ur.notes') }}:</strong> {{ item.notes }}</p>
          </div>
        </div>
      </div>
      <p class="cart__details__pricing">
          <span class="chip-tooltip">
            <ur-chip v-if="rates.contractPricing" :label="$i18n('rates.contract')"
                     :ttMessage="$i18n('rates.contractTooltip')"></ur-chip>
            <ur-chip v-else background-color="#008cff" :label="$i18n('rates.web')"
                     :ttMessage="$i18n('rates.webTooltip')"></ur-chip>
          </span>
        <span>{{ estimatedRentalAmount | currency }}</span>
      </p>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapState } from 'vuex';

  import get from 'lodash/get';

  import cartItemMixin from './cart-item-mixin';
  import UrChip from '@/components/common/ur-chip.vue';


  export default {
    components: {
      UrChip,
    },
    data() {
      return {
        short: true,
        isOpen: false,
      };
    },
    mixins: [
      cartItemMixin,
    ],
    name: 'cart-item-in-transaction-summary',
    props: {
      itemId: {
        type: String,
        required: true,
      },
      transactionBlockId: {
        type: String,
        required: false,
      },
    },
    computed: {
      ...mapState({
        rates(state) {
          return get(state.catalog.rates, [this.item.catClass, this.ratesBranch], {});
        },
        ratesBranch: state => state.user.ratesPlaceBranch,
      }),
    },
  };
</script>
