// -----------------------------------------------------------------------------
// Abstracts/Functions: Array half
// takes each number in an array and halfs it
//
// Options:
// • $list(value = numbers) - Number value array
// • $unit(value = rem or em, default = rem) - Converts the unitless px value to needed unit
//
// Usage:
//   property: array-half($sizes, $unit);
// -----------------------------------------------------------------------------

@function array-unit-half($list, $unit) {
  $result: ();

  @each $item in $list {
    @if $unit == rem {
      $result: append($result, rem($item) / 2);
    } @else if $unit == em {
      $result: append($result, em($item) / 2);
    } @else {
      @warn 'value does not exist';
    }
  }

  @return $result;
}
