// -----------------------------------------------------------------------------
// Abstracts/Functions: Get ems
// Convert values into em units
//
// Options:
// • $pixels(value = number or variable) - Unit value. Can only be single.
// • $context(value = number or variable, default = $base-multiplyer-em) - Set unit base, or defaults to defined value in settings
//
// Usage:
// • Use with single or multiple units
//   font-size: em(20px);
// • Use with a base unit size
//   font-size: em(20px, 12px);
// -----------------------------------------------------------------------------
@import '../variables/scale';
@import '../variables/typography';

@function em($unit-value, $base-size: $body-font-size) {
  @if (unitless($unit-value)) {
    $unit-value: $unit-value * 1px;
  }

  @if (unitless($base-size)) {
    $context: $base-size * 1px;
  }

  @return $unit-value / $base-size * 1em;
}

@function em-multiple($unit-values, $base-size: $body-font-size) {
  // Create an empty list that we can dump values into
  $em-values: ();

  @each $value in $unit-values {
    $rem-values: append($em-values, em($value, $base-size));
  }

  @return $em-values;
}
