{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% set classes = [] %}

<section{{ attributes.addClass(classes) }}>
  <div{{ content_attributes }}>
    <div class="customer-care">
      <p class="customer-care__title">24/7 Customer Care</p>
      <p class="customer-care__number">
        <gtm-phone-number :number="'1.833.449.7554'"></gtm-phone-number>
      </p>
    </div>

    {{ content }}

  </div>
</section>
