{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% set classes = [] %}

<section{{ attributes.addClass(classes) }}>
  <div{{ content_attributes }}>

    {# button to CLOSE the mobile menu #}
    <button class="block-menu__toggle" aria-controls="mobile-main-navigation" aria-expanded="true">
      <svg width="40" height="40" viewBox="-5 -10 40 40">
        <rect fill="currentColor" width="30" height="3" transform="rotate(45 3 3) scale(1.2)"></rect>
        <rect fill="currentColor" width="30" height="3" y="9"></rect>
        <rect fill="currentColor" width="30" height="3" y="18" transform="rotate(-45 3 23) scale(1.2)"></rect>
      </svg>
      <span class="block-menu__toggle-expand visually-hidden" title="{{ 'Open Menu'|t }}">{{ 'Open Menu'|t }}</span>
      <span class="block-menu__toggle-collapse visually-hidden" title="{{ 'Close Menu'|t }}">{{ 'Close Menu'|t }}</span>
    </button>

    {{ content }}
  </div>
</section>
