{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% set classes = [] %}

<section{{ attributes.addClass(classes) }}>
  <div{{ content_attributes }}>

    <button class="block-menu__toggle" aria-controls="header-main-navigation" aria-expanded="false">
      <svg width="40" height="40" viewBox="-5 -10 40 40">
        <rect fill="currentColor" width="30" height="3" transform="rotate(45 3 3) scale(1.2)"></rect>
        <rect fill="currentColor" width="30" height="3" y="9"></rect>
        <rect fill="currentColor" width="30" height="3" y="18" transform="rotate(-45 3 23) scale(1.2)"></rect>
      </svg>
      <span class="block-menu__toggle-expand visually-hidden" title="{{ 'Open Menu'|t }}">{{ 'Open Menu'|t }}</span>
      <span class="block-menu__toggle-collapse visually-hidden" title="{{ 'Close Menu'|t }}">{{ 'Close Menu'|t }}</span>
    </button>

    {{ content }}

    <button
        class="js-search-buttons search-buttons"
        aria-expanded="false"
        onclick="ur.bus.$emit('showLocationSearchOverlay', '.region-header-second', { useLegacyStyles: false });"
    >
      <div class="search-buttons__btn search-buttons__btn--expand link-btn link-btn-style--reverse icon-before-search">
        <span class="visually-hidden" title="{{ 'Open the search area'|t }}">{{ 'Open the search area'|t }}</span>
      </div>

      <div class="search-buttons__btn search-buttons__btn--collapse link-btn link-btn-style--reverse icon-before-close">
        <span class="visually-hidden" title="{{ 'Close the search area'|t }}">{{ 'Close the search area'|t }}</span>
      </div>
    </button>

    <a href="/cart"
       class="link-btn link-btn-style--reverse icon-before-shopping-cart"
       onclick="ur.bus.$emit('cartIconClick'); return false;"
       onmouseover="ur.bus.$emit('cartIconMouseOver');"
    >
      <span class="visually-hidden">{{ 'Cart'|t }}</span>
      <div
        class="pill-count"
        v-bind:class="{
          'pill-count--zero': $store.getters.cartSize === 0,
          'pill-count--single': $store.getters.cartSize.toString().length === 1,
          'pill-count--double': $store.getters.cartSize.toString().length === 2,
          'pill-count--triple': $store.getters.cartSize.toString().length >= 3,
        }"
      >
        <span
          class="pill-count__total"
          v-text="$store.getters.cartSize"
        >
        </span>
      </div>
    </a>
  </div>
</section>
