<script>
  import components from '@/components';

  import AppSlpMixin from './app.slp.mixin';
  import UrGtm from '@/mixins/ur-gtm';
  import isEmpty from 'lodash/isEmpty';
  import types from '@/store/types';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import GooglePlaces from '@/lib/google-places';
  import { autocomplete } from '@/utils';
  import { enhanceDomElements } from '@/utils/dom';
  import apis from '@/api';

  export default {
    components,
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        defaultJob: types.user.defaultJob,
        isLocalCart: types.cart.isLocal,
      }),
      ...mapGetters([
        'small',
        'medium',
        'large',
        'reservationBlocks',
        'xlarge',
      ]),
      ...mapState({
        cartItems(state) {
          return state.cart.items;
        },
        allAccounts: state => state.accounts.all,
        defaultAccountId: state => state.user.defaultAccountId,
        userIsLoggedIn: state => state.user.isLoggedIn,
        // these are here only to support pageIsLoading, which is ONLY used on /manage.
        accountsReady: state => state.accounts.accountsFetched,
        storageReady: state => state.storageReady,
        userUid: state => state.user.uid,
      }),
      pageIsLoading() {
        const ready = (this.accountsReady && this.storageReady) || null;
        return !ready;
      },

      /**
       * Drupal's _page.twig will conditionally render a <router-view> for the modal.
       * @return {string} instruct Vue to render a `<router-view>` tag or nothing.
       */
      modalRouterView() {
        return this.$router ? 'router-view' : '';
      },
    },
    methods: {
      ...mapActions({
        clearRatesPlace: types.user.clearRatesPlace,
        fetchDefaultAccountId: types.user.fetchDefaultAccountId,
        fetchLoggedInUsername: types.user.fetchLoggedInUsername,
        setDefaultAccountId: types.user.updateDefaultAccountId,
        fetchAccounts: types.accounts.fetch,
        fetchCart: types.cart.fetch,
        fetchJobs: types.jobs.fetch,
        fetchTcuser: types.tcUser.fetch,
        fetchRequesters: types.requesters.fetch,
        registerApisForTracking: types.inFlightRequests.registerApisForTracking,
        saveLocalCart: types.cart.saveLocalCart,
        saveAnonymousCart: types.cart.saveAnonymousCart,
        updateRatesPlace: types.user.ratesPlace,
        watchBreakpoints: types.breakpoint.watch,
      }),
      async initLoggedInUser() {
        /**
         * ************** This fn only applies to Registered Users *****************
         */
        await this.fetchDefaultAccountId();
        await this.fetchLoggedInUsername();
        await this.fetchTcuser();

        // Load all of the user's accounts
        await this.fetchAccounts();

        // If the user has an anonymous (local) cart, prepare it to be saved to drupal then save it to drupal
        if (this.isLocalCart) {
          Object.keys(this.$store.state.cart.items).forEach(id => {
            this.$store.commit(types.cart.updateItem, { id, field: { accountId: this.defaultAccountId, jobsiteId: '' } });
          });
          // Persist their local cart to the drupal cart. This then destroys the localCart. And fetches a new cart from drupal.
          await this.saveLocalCart();
        }
        this.fetchCart();
      },
      /*
      BigPipe is ajaxing this DOM into the page. This component will try to make
      this update until it succeeds
       */
      initGtmLoginLink() {
        try {
          // Update Login Link
          const loginLink = document.querySelector('.header #login');
          loginLink.setAttribute('href', loginLink.getAttribute('href') + this._gaUserQuery());
        }
        catch (error) {
          setTimeout(this.initGtmLoginLink.bind(this), 1000);
        }
      },
    },
    mixins: [
      UrGtm,
      AppSlpMixin,
    ],
    beforeCreate() {
      this.$store.dispatch(types.inFlightRequests.registerApisForTracking, Object.values(apis));

      // Attempt to hydrate Vuex from localStorage. This only loads data if some doesn't already exist
      // in the vuex store.  It will only happen for Guests at the End of the Forgot Password Flow
      // (where they have been routed back to the site in a new tab).
      this.$store.dispatch(types.forgotPasswordJourney.getStateFromLocalStorage);

      // Fix the the cart.items hydrated by our Vuex Persisted State plugin (or hydrated from the Guest Forgot PW localStorage)
      // This line must happen after state is retrieved (for guests) from localStorage. (See above.)
      this.$store.commit(types.cart.fixHydrationFromVuexPersistedState);
    },
    mounted() {
      this.$store.commit(types.user.setIsLoggedIn);
      this.$store.commit(types.user.setUid);
      this.initGtmLoginLink();
      this.watchBreakpoints();
      // Fire page view tag
      this.gtmTrackPageview();
      // IF we already have a default account id set in the store, init
      // the logged in user. If we DO NOT have an account id set yet
      // then we need to wait for some other stuff (see line 277)
      if (this.userIsLoggedIn) {
        this.initLoggedInUser();
      }
      this.gtmOptimizeInitialize();
      enhanceDomElements(this);

      this.$on('set-rent-location', (addr, callback) => {
        this.$store.state.sessionStoragePersisted = true;
        autocomplete.getPlaceFromAddress(addr)
          .then(place => {
            this.$store.dispatch(types.user.clearDefaultJobId);
            this.$store.dispatch(types.user.ratesPlace, place);
          })
          .then(callback);
      });
    },
    name: 'app',
    errorCaptured(err, component, info) {
      // Captures errors thrown from child components.
      /* eslint-disable */
      console.log('Error Captured:  ', err);
      console.log('Error Thrown from :', component);
      console.log('Error Message: ', info);
      return false;
      /* eslint-enable */
    },
    watch: {
      // Clear Application state when the user id changes.
      userUid(is, was) {
        if (is !== was) {
          // Users who just logged OUT get everything cleared.
          // Users who just logged IN get everything but their cart cleared.
          // (We transfer their anonymous cart over to their logged-in session.)
          const action = is === 0 ? types.store.clearAll : types.store.clearAllButCart;
          this.$store.dispatch(action);
          // At login the user id will always "change" so we can't send
          // the request to init the logged in user until AFTER all
          // the other things are done clearing themselves out
          if (is && !this.defaultAccountId) {
            this.initLoggedInUser();
          }
        }
      },
      defaultAccountId() {
        this.clearRatesPlace();
        this.fetchJobs(this.defaultAccountId);
        this.fetchRequesters(this.defaultAccountId);
      },
      // When Users change their default Job, their default rates place will update
      defaultJob(job) {
        const {
          address1,
          city,
          state,
          zip,
        } = job;

        if (isEmpty(job) || !city || !state || !zip) {
          return;
        }

        // TODO this code should be extracted and placed in a utility. It duplicates work done in pickup-delivery.vue
        // TODO and a tad bit in the module.jobs.setClosestBranchToJobsite action
        const service = new GooglePlaces();
        service.getPlaceFromAddress(`${address1} ${city}, ${state} ${zip}`)
          .then(this.updateRatesPlace)
          .catch(() => service.getPlaceFromAddress(`${city}, ${state} ${zip}`).then(this.updateRatesPlace))
          .catch(() => {
            service.autoCompleteOptions = {
              types: ['(regions)'],
              componentRestrictions: { country: ['us', 'ca'] },
            };
            service.getPlaceFromAddress(zip)
              .then(this.updateRatesPlace)
              // eslint-disable-next-line
              .catch(() => this.updateRatesPlace({})); // Resets the rates place (and ratesPlaceBranch) to ~ "undefined'ish"
          });
      },
      // Update when cart items change.
      cartItems: {
        handler() {
          // If the user has an anonymous (local) cart, prepare it to be saved to drupal then save it to drupal
          if (!this.userIsLoggedIn) {
            // Persist the anonymouse cart to the drupal cart. This then destroys the localCart. And fetches a new cart from drupal.
            this.saveAnonymousCart();
          }
        },
        deep: true,
        immediate: true,
      },
    },
  };
</script>
