
<div class="mobile-menu__holder">

  <div class="mobile-menu__content">

    <div class="mobile-menu__close">
      <i class="icon icon-add"></i>
    </div>

    <div class="mobile-menu__account">
      {% block account_menu %}
        <a href="/saml_login">Sign In / Register</a>
      {% endblock %}
    </div>

    {# <div class="mobile-menu__account"> #}
      {# {% block account_selector_mobile_global %} #}
      {# <account-selector-mobile-global v-if="userIsLoggedIn"></account-selector-mobile-global> #}
      {# <global-account-selector :screen="'mobile'" v-if="userIsLoggedIn" /> #}
      {# {% endblock %} #}
    {# </div> #}

    {% block mobile_menu %}
      {% include "@molecules/menus/_mock-menu.twig"
        with {
          "menu_data": mobile_menu_items
        }
      %}
    {% endblock %}

    {# TODO: Figure out better way to do this #}
    {# Creative shows combining the "Specialty Navigation" with "Primary Navigation #}
    {# This proves problematic because there's not an easy way of combining 2 separate menus.
       We can merge the 2 menus together programatically, but problem with that
       is adjusting the order of the menu links. The designs show the
       "Specialty Navigation" menu links interspersed in different order
       throughout the menu. Hard-coding the 2 links for now
    #}
    <ul class="menu">
      <li class="menu__item menu__item--below">
        <a href="/marketplace" class="menu__link">Need Help</a>
        <ul>
          <li class="menu__item">
            <a href="tel:{{ content.customer_service_number }}" class="menu__link">1-{{ content.customer_service_number }}</a>
          </li>
          <li class="menu__item">
            <a href="/customer-care/contact-us" class="menu__link">Customer Care</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="mobile-menu__language">
      <ul class="mobile-menu__language--holder">
        <li class="mobile-menu__language--item"><a href="{{ content.spanish_translation_url }}">Español</a></li>
        <li class="mobile-menu__language--item"><a href="{{ content.french_translation_url }}">Français</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu__cover"></div>
