.mobile-menu {

  &__holder {
    position: fixed;
    top: 0;
    left: -275px;
    @include breakpoint($break-xsmall) {
      left: -320px;
    }
    height: 100vh;
    background: $color-grey-2;
    width: 275px;
    @include breakpoint($break-xsmall) {
      width: 320px;
    }
    overflow: hidden;
    z-index: 10002; // place above #egain-chat-wrapper, which places itself at 10,000, and this component's cover element
    transition: left $animation-speed $anim-ease;

    .mobile-menu-visible & {
      left: 0px;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
    }

    ul {
      padding-left: 0;
    }

    .menu {
      .menu__item {
        display: block;
        margin: 0;

        &.external {
          &:after {
            font-family: 'icomoon' !important;
            color: $color-orange;
            font-size: 1.28571rem;
            line-height: 38px;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f178";
            position: absolute;
            right: 21px;
          }
        }

        &.menu__item--is-section-label {
          position: relative;

          > .menu__link { pointer-events: none; }

          &:after {
            font-family: 'icomoon' !important;
            color: $color-blue;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f078"; // .icon-chevron-down
            position: absolute;
            right: 21px;
            top: 11px;
            //font-size: 14px;
          }

          &.show-dropdown {
            &:after {
              transform: rotate(180deg);
            }

            > ul {
              display: block;
            }
          }
        }

        a {
          padding-left: 20px;
          font-size: $font-size-h3;
          line-height: 38px;
          letter-spacing: 0.5px;
          color: #434c51
        }
      }

      > .menu__item {
        margin: 0;

        > a {
          background-color: rgba(220,224,227,0.3);
          height: 30px;
          display: block;
          line-height: 30px;
          font-size: $font-size-xsmall;
          text-transform: uppercase;
          color: #92979d;
          letter-spacing: 0.5px;
          font-weight: bold;
        }

        > ul {
          margin: 7px 0 24px 0;

          // Hide 3rd level of menu from showing by default
          .menu__item--below {
            > ul { display: none; }


          }
        }
      }
    }
  }

  &__content {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__language {
    background-color: rgba(220,224,227,0.3);
    margin-top: 40px;
    border-top: 1px solid #D8D8D8;
    padding-bottom: 69px;

    &--holder {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      height: 62px;
      margin: 0;
    }

    &--item {
      border-left: 1px solid $color-blue;
      margin-left: 20px;
      padding-left: 20px;
      line-height: 1;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }

  &__close {
    background: $color-blue-highlight;
    color: $white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    font-size: 20px;
    line-height: 1;
    position: fixed;
    left: 13px;
    top: 18px;
    z-index: 102;
    visibility: hidden;
    opacity: 0;
    transition: left $animation-speed $anim-ease, opacity $animation-speed $anim-ease, visibility $animation-speed $anim-ease;
    cursor: pointer;

    .mobile-menu-visible & {
      visibility: visible;
      left: 285px;
      @include breakpoint($break-xsmall) {
        left: 333px;
      }
      opacity: 1;
    }
  }

  &__cover {
    background-color: rgb(20,20,20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10001; // place above egain, which places itself at 10,000
    opacity: 0;
    visibility: hidden;
    transition: opacity $animation-speed $anim-ease, visibility $animation-speed $anim-ease;

    .mobile-menu-visible & {
      visibility: visible;
      opacity: 0.5;
      overflow: hidden;
    }
  }

  // Styles for the account menu inside the mobile menu
  &__account {
    z-index: 103;

    // Hide all links
    .menu {
      display: flex;
      flex-direction: column-reverse;

      .menu__item {
        & > a { display: none }
      }
    }

    // If we're logged in we'll have a submenu so only display submenu links
    .user-logged-in & {
      .menu {
        .menu__item {
          &--below {
            & > ul {
              display: none;
              margin: 0 0 .5rem;

              & > a,
              & > li > a {
                display: block;
              }
            }
          }

        }
      }
    }

    // The "Sign In / Register" & username link
    #login {
      background: none;
      color: $color-blue;
      height: 68px;
      display: block;
      position: relative;
      line-height: 68px;
      padding-left: 26px;
      font-size: $font-size-large;
      font-weight: bold;
      text-transform: capitalize;
      text-decoration: none;

      .icon-component { display: none; }

      .user-logged-in & {
        &::after {
          @extend .icon;
          content: '\f078';
          font-size: 1rem;
          position: absolute;
          right: 21px;
          top: 26px;
        }
      }
    }

    // account name & account id
    #account-selector {
      background: none;
      border-top: $border-grey;
      color: $color-blue;
      display: block;
      font-size: $font-size-large;
      font-weight: bold;
      height: 68px;
      line-height: 40px;
      overflow: hidden;
      padding-left: 26px;
      padding-right: 50px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      text-transform: capitalize;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;

      &.select-an-account {
        line-height: 68px;
      }

      span {
        font-weight: normal;
        display: block;
        line-height: 1;
      }

      .user-logged-in & {
        &::after {
          @extend .icon;
          content: '\f178';
          font-size: 20px;
          position: absolute;
          right: 21px;
          top: 26px;
          color: $color-orange;
        }
      }

      &.menu__link--inactive {
        &::after {
          display: none;
        }
      }
    }


    .logout-item {
      padding: 0 1rem;
    }

    // Stealing styles from q-button to style logout link for mobile menu
    .logout-link {
      background-color: #f9f9f9;
      border: 1px solid #dde0e2;
      height: 40px;
      max-height: 40px;
      padding: 0 12px;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: center;
      align-content: center;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-family: Helvetica Neue,Helvetica,Roboto,Noto,Arial,sans-serif;
      font-weight: 700;
      justify-content: center;
      margin: 16px 0;
      text-align: center;
      width: 100%;

      &:hover {
        background-color: #eaebec;
        text-decoration: none;
      }
    }
  }
}

.layout-container {
  position: relative;
  left: 0;
  transition: left $animation-speed $anim-ease;

  .mobile-menu-visible & {
    left: 285px;
    @include breakpoint($break-xsmall) {
      left: 320px;
    }
  }
}

.user-logged-in .show-mobile-user-options .mobile-menu__account .menu .menu__item--below ul {
  display: block;
}

.show-mobile-user-options li.menu__item.menu__item-duplicate.menu__item--below.menu__item--active {
  display: none;
}

.user-logged-in .show-mobile-user-options .mobile-menu__account #login::after {
  transform: rotate(180deg);
}

html {
  &.mobile-menu-visible {
    overflow: hidden;

    body {
      overflow: hidden;
    }
  }
}
