.requester-and-approver-selectors {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 33px;
  width: 100%;

  & > div:first-child {
    margin-bottom: 19px;
  }

  @include breakpoint($break-small) {
    & > div {
      width: 50%;
    }

    & > div:first-child {
      padding-right: 2rem;
      margin-bottom: 0;
    }
  }

  .requester-select {
    width: 100%;

    label {
      font-size: 12px;
    }
  }
}
