<template>
  <div class="ur-authentication-modal">
    <div class="modal-header">
      <h4 class="ur-authentication-modal__title">{{ $i18n('logIn.signInToAccount') }}</h4>
      <p class="ur-authentication-modal__rates">{{ $i18n('logIn.accessRates') }}</p>
      <p class="ur-authentication-modal__noAccount">{{ $i18n('logIn.noAccount') }}</p>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <div class="modal-button-spacer">

      </div>
      <q-button :text="$i18n('ur.continue')" button-style="secondary" @click="openJobsiteForm" />
      <q-button :text="$i18n('logIn.signIn')" :link="loginURL" data-tracking="sign-in" data-tracking-description="Sign In button in Cart Location Modal" />
    </div>
  </div>
</template>
<script type="text/babel">
  import UrGtm from '@/mixins/ur-gtm';
  import { mapActions } from 'vuex';
  import types from '@/store/types';

  export default {
    methods: {
      ...mapActions({
        startUnauthenticatedCheckout: types.checkout.startUnauthenticatedCheckout,
      }),
      openJobsiteForm() {
        this.startUnauthenticatedCheckout();
        this.$router.go(-1);
      },
    },
    computed: {
      loginURL() {
        const loginFormBase = '/saml_login';
        return loginFormBase + this._gaUserQuery();
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'authenticate-to-continue-checkout-modal',
  };
</script>

<style lang="scss">
  @import 'styles/globals';
  .modal.ur-authentication-modal--wrapper .modal__content.modal__content--center {
    // fixed max-width of 480px set in legacy styles
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    position: fixed;
    width: calc(100% - #{rem(32)});
  }
</style>

<style lang="scss" scoped>
  @import 'styles/globals';

  .modal.ur-authentication-modal--wrapper {
    .icon-button {
      display: none;
    }

    .modal__content.modal__content--center {
      // fixed max-width of 480px set in legacy styles
      border-radius: 8px;

      .ur-authentication-modal {
        .modal-header {
          align-items: flex-start;
          flex-direction: column;
          height: auto;

          .ur-authentication-modal__title {
            margin-left: 0;
            margin-top: 0;
          }

          .ur-authentication-modal__rates {
            margin-top: 0;
            max-width: 100%;
            padding-top: 1rem;
          }

          .ur-authentication-modal__noAccount {
            line-height: rem(24);
            margin-bottom: rem(25);
            width: 100%;
          }
        }

        .modal-body {
          display: none;
        }

        .modal-footer {
          .modal-button-spacer {
            flex: 1;
          }
        }
      }
    }
  }

</style>
