<template>

  <div class="ur-checkout-error-modal">
    <div class="modal-header ur-checkout-error-modal__header">
      <q-icon icon-name="error" />
      <h4>{{$i18n('checkout.cannotProceedModalHeader')}}</h4>
    </div>

    <div class="modal-body">
      <div v-if="!itemsUnavailableMsg" class="ur-checkout-error-modal__body">
        {{$i18n('checkout.cannotProceedModalBody')}}
      </div>
      <div class="ur-checkout-error-modal__cta" v-if="!itemsUnavailableMsg">
        <p v-html="$i18n('checkout.error')"></p>
      </div>
      <div class="ur-checkout-error-modal__cta"
        v-if="itemsUnavailableMsg">
        <p v-html="$i18n('rates.locationFiltered')"></p>
      </div>
    </div>

    <div class="modal-footer">
      <div class="modal-button-spacer">

      </div>
      <q-button
        :text="$i18n('ur.close')"
        button-style="secondary"
        @click.prevent.stop="$router.go(-1)" />
      <q-button v-if="!itemsUnavailableMsg" :text="$i18n('checkout.cannotProceedModalButton')" :link="otherNumber | telLink" />
      <q-button v-if="itemsUnavailableMsg" :text="$i18n('checkout.cannotProceedModalButton')" :link="generalNumber | telLink" />
    </div>
  </div>

</template>

<script type="text/babel">
  import { mapState } from 'vuex';

  export default {
    name: 'cannot-proceed',
    computed: {
      ...mapState({
        generalNumber: state => state.callUs.generalNumber,
        otherNumber: state => state.callUs.otherNumber,
      }),
    },
    props: {
      msg: {
        required: false,
        type: String,
      },
      itemsUnavailableMsg: {
        required: false,
        type: Boolean,
      },
    },
  };
</script>
<style lang="scss">

  .ur-checkout-error-modal {
    [data-name='error'] {
      color: #E10000;
      margin-top: 8px;
      vertical-align: bottom;
    }

    & &__header {
      h4{
        margin: 20px 0 0 10px;
      }
    }

    &__cta {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .modal-footer {
      .modal-button-spacer {
        flex: 1;
      }
    }

  }
</style>
