<template>
  <div class="grid cart">
    <div style="width:100%;">

      <div class="cart__header" v-if=" Object.keys(reservationBlocks).length">
        <h1 v-if="!isSubmitting">
          {{ pageTitle }}
          <ur-loading-spinner v-if="cartRequestsAreInFlight" />
        </h1>
        <template v-if="!isSubmitting">
        <h2 v-if="Object.keys(this.reservationBlocks).length > 1" class="heading-2--thin">{{ $i18n('cart.multipleSubtitle', {'@count': Object.keys(this.reservationBlocks).length}) }}</h2>
        <h2 v-else class="heading-2--thin">{{ $i18n('cart.singleSubtitle') }}</h2>
        </template>
      </div>

      <div class="empty-cart-state__title" v-else>
        <h1>
          {{ $i18n('cart.titleEmpty') }}
          <ur-loading-spinner v-if="cartRequestsAreInFlight" />
        </h1>
        <p v-html="$i18n('checkout.continueBrowsing')"></p>
      </div>
      <div class="reservation-blocks-container" v-if="Object.keys(reservationBlocks).length">
        <reservation-block
          v-for="(block, index) in sortedReservationBlocks"
          :key="block.id"
          :index="index"
          :block="block"
          :prevent-immediate-activation="index > 1"
          :cannot-checkout="reservationsWithZeroDollarEstimates.includes(block.id)"
          :prevent-checkout="preventCheckoutValue"
          :export-gtm-products="exportGtmProducts"
          :ref="`reservation-${block.id}`"
          :title="createReservationTitle(index)"
          @cannot-checkout="setCannotCheckout"
        />
      </div>

      <div class="saved-for-later-container">
        <saved-for-later></saved-for-later>
      </div>

      <div v-if="!Object.keys(reservationBlocks).length">
        <empty-cart></empty-cart>
      </div>

      <div class="full-cart-state-continue"
        v-if="!userIsLoggedIn && Object.keys(reservationBlocks).length">
        <p>
          {{ $i18n('checkout.continueBrowsingFullCartText') }}
          <a class="link" href="/marketplace/equipment/">
            {{ $i18n('checkout.continueBrowsingFullCartLink') }}
            <i class="icon icon-long-arrow-right"></i>
          </a>
        </p>
      </div>

    </div>

  </div>

</template>

<script type="text/babel">

  import { mapActions, mapGetters, mapState } from 'vuex';
  import orderBy from 'lodash/orderBy';
  import EmptyCart from './empty-cart.vue';
  import ReservationBlock from './reservation-block.vue';
  import SavedForLater from './saved-for-later.vue';
  import UrGtm from '@/mixins/ur-gtm';

  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  export default {
    components: {
      EmptyCart,
      ReservationBlock,
      SavedForLater,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'cartSize',
        'categoryByCatClass',
        'categoryIdByCatClass',
        'reservationBlocks',
        'subCategoryByCatClass',
      ]),
      ...mapGetters({
        hasEstimate: types.checkout.hasEstimate,
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        branches: state => state.branch.all,
        allJobs: state => state.jobs.all,
        cartItems: state => state.cart.items,
        equipment: state => state.catalog.equipment,
        estimates: state => state.checkout.estimates,
        ratesPlaceBranchId: state => state.user.ratesPlaceBranch,
        savedForLaterItems: state => state.cartSaveForLater.items,
        startUnauthenticatedCheckout: state => state.checkout.startUnauthenticatedCheckout,
        userIsLoggedIn: state => state.user.isLoggedIn,
        isSubmitting: state => state.checkout.isSubmitting,
      }),

      cartRequestsAreInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.addCartItem,
          FlightToken.fetchCart,
          FlightToken.removeCartItem,
          FlightToken.setSaveForLater,
          FlightToken.fetchSaveForLater,
        );
      },

      /**
       * Reservation blocks containing an item with $0 estimates
       * cannot proceed through checkout.
       * @return {String[]} array of reservation block IDs
       */
      reservationsWithZeroDollarEstimates() {
        const reservationBlockIds = this.reservationBlocks ? Object.keys(this.reservationBlocks) : [];
        return reservationBlockIds.filter(id => {
          if (!this.hasEstimate(id) || this.preventCheckoutValue) {
            return false;
          }
          const { items } = this.getEstimate(id);
          return !Object.values(items).reduce(_checkAvailability, true);
        });

        function _checkAvailability(isAvailable, item) {
          // item.total = 0; // <-- uncomment to test ZeroDollarEstimates errors
          return item.total !== 0 && item.total !== '0';
        }
      },
      displayItemNotAvailableModal() {
        const reservationHasEqpUnavailable = [];

        Object.keys(this.reservationBlocks).forEach(ea => {
          const { items } = this.getEstimate(ea);

          if (!items) {
            return false;
          }

          const eqpUnavailable = Object.values(items).some(item => !item.availableEquip);
          reservationHasEqpUnavailable.push(eqpUnavailable);
        });

        if (reservationHasEqpUnavailable.length > 0) {
          return reservationHasEqpUnavailable.some(r => r);
        }

        return false;
      },
      pageTitle() {
        const dictionaryEntry = this.cartSize > 1
          ? 'cart.multipleTitle'
          : 'cart.singleTitle';
        return this.$i18n(dictionaryEntry, { '@count': this.cartSize });
      },
    },

    data() {
      return {
        hasFiredGtmStepOneTag: false,
        preventCheckoutValue: false,
        sortedReservationBlocks: [],
      };
    },

    methods: {
      ...mapActions({
        fetchBranches: types.branch.fetch,
        fetchCreditCards: types.creditCards.fetch,
        fetchFacets: types.facets.fetch,
        fetchEquipmentByCatClass: types.catalog.fetchEquipmentByCatClass,
        fetchEstimates: types.checkout.fetchEstimates,
        fetchJobs: types.jobs.fetch,
        fetchSaveForLater: types.cart.saveForLater.fetch,
        updateCartItemActive: types.cartItemForm.updateActive,
      }),

      // A Reservation Title depends on the total number of reservations and a reservations position
      createReservationTitle(position) {
        const subject = this.$i18n('checkout.reservation');
        const predicate = this.sortedReservationBlocks.length > 1 ? ` ${position + 1}` : '';

        return `${subject}${predicate}`;
      },

      setCannotCheckout(value) {
        this.preventCheckoutValue = value;
      },
      deactivateForms() {
        this.updateCartItemActive(false);
      },

      exportGtmProducts() {
        const reservationBlockIds = Object.keys(this.reservationBlocks);
        let products = [];

        reservationBlockIds.forEach(reservationBlockId => {
          const blockProducts = this.exportGtmProductsByBlock(reservationBlockId);
          products = products.concat(blockProducts);
        });

        return products;
      },

      exportGtmProductsByBlock(reservationBlockId) {
        if (!Object.keys(this.equipment).length || !Object.keys(this.estimates).length) {
          return [];
        }

        const block = this.reservationBlocks[reservationBlockId];
        const data = {
          blockId: reservationBlockId,
          equipment: this.equipment,
          estimate: this.getEstimate(reservationBlockId),
          categoryByCatClass: this.categoryByCatClass,
          subCategoryByCatClass: this.subCategoryByCatClass,
        };
        const products = _parseItemProducts(data, [], block.items, Object.keys(block.items));

        return products;
      },

      getGtmRequests(allGtmRelatedRequests, items) {
        if (items.length === 0) {
          return [Promise.reject()];
        }

        const equipmentPromise = this.fetchEquipmentByCatClass(items.map(item => item.catClass));
        allGtmRelatedRequests.push(equipmentPromise);

        const facetsPromise = this.fetchFacets();
        allGtmRelatedRequests.push(facetsPromise);

        return allGtmRelatedRequests;
      },

      getJobsites(items) {
        items
          .filter(item => typeof this.allJobs[item.accountId] === 'undefined')
          .reduce((uniqueIds, { accountId }) => (uniqueIds.includes(accountId) ? uniqueIds : uniqueIds.concat([accountId])), [])
          .forEach(this.fetchJobs);
      },

      resetEquipment(itemsType, hasEstimates) {
        const items = this[itemsType] ? Object.values(this[itemsType]) : []; // accommodates Cart and SavedForLater items
        const allGtmRelatedRequests = this.getGtmRequests([], items);

        this.deactivateForms();

        if (hasEstimates) {
          Object.keys(this.reservationBlocks).forEach(reservationBlockId => {
            const estimatePromise = this.fetchEstimates({ reservationBlockId });
            allGtmRelatedRequests.push(estimatePromise);
          });
        }

        if (this.userIsLoggedIn) {
          this.getJobsites(items);
        }

        if (this.hasFiredGtmStepOneTag || !allGtmRelatedRequests.length) {
          return Promise.all([]);
        }

        return Promise.all(allGtmRelatedRequests);
      },

      /*
      Reservation Blocks should only be sorted one time--on the initial load of the page.
      It's okay for them to be resorted on subsequent page loads, but NEVER while a user
      is mid-checkout and changes dates (which are the primary sort parameter).
       */
      sortReservationBlocksOnPageLoad() {
        this.sortedReservationBlocks = orderBy(Object.values(this.reservationBlocks), ['startMoment', 'endMoment'], ['asc', 'asc']);
      },

      hideCartLoadingElement() {
        const cartLoadingElement = document.getElementById('cartLoading');
        if (!cartLoadingElement) {
          return;
        }
        cartLoadingElement.parentNode.removeChild(cartLoadingElement);
      },
    },

    mixins: [
      UrGtm,
    ],

    mounted() {
      this.hideCartLoadingElement();
      this.resetEquipment('cartItems', true);
      this.gtmTrackCheckoutStep(1, 'view-cart');

      if (this.userIsLoggedIn) {
        this.fetchCreditCards();
        this.fetchSaveForLater();
      }

      this.fetchBranches();
      // Ensure every page-load displays the top of the page
      // IE11 cannot fire this event in this hook, but rather has to wait a tick
      this.$nextTick(() => {
        document.documentElement.scrollIntoView({
          behavior: 'instant',
          block: 'start',
        });
      });

      this.sortReservationBlocksOnPageLoad();
    },

    watch: {
      $route() {
        this.deactivateForms();
      },

      displayItemNotAvailableModal: {
        handler(value) {
          if (value) {
            this.$router.push('/checkout/item-unavailable');
          }
        },
        immediate: true,
      },

      cartItems: {
        handler() {
          this.resetEquipment('cartItems', true).then(() => {
            if (this.hasFiredGtmStepOneTag) {
              return;
            }

            this.gtmTrackCheckoutStep(1, 'Reservation', this.exportGtmProducts());
            this.hasFiredGtmStepOneTag = true;
          });
        },
        deep: true,
      },

      reservationsWithZeroDollarEstimates(ids, oldIds) {
        if (ids && ids.length === oldIds.length) {
          return; // eslint-disable-line
        }
        else if (ids && ids.length && !this.displayItemNotAvailableModal) {
          this.$router.push('/checkout/cannot-proceed');
        }
      },

      savedForLaterItems: {
        handler() {
          this.resetEquipment('savedForLaterItems', false);
        },
        deep: true,
      },
      startUnauthenticatedCheckout() {
        const { id } = this.sortedReservationBlocks[0];
        const targetReservation = this.$refs[`reservation-${id}`][0];
        targetReservation.$refs.jobsite.gotoActive();
      },

      reservationBlocks: {
        // Rebuilds the sortedReservationBlocks when
        // anything about any reservation changes.
        // Because titles and indexes are created ONE TIME ONLY (on page load)
        // the new block must be assigned these properties from its old instance.

        // *** Note: block id's are simply concatenations of item ids.

        // Only Side Effect: mutates sortedReservationBlocks
        handler(currentBlocks) {
          // First, we need to decide our update strategy. (There are four update strategies.)
          // Our strategy is based off the existence of "new" or "dead" blocks.  Explained as we go.

          const oldBlockIds = this.sortedReservationBlocks.map(({ id }) => id);
          const currentBlockIds = Object.keys(currentBlocks);

          const deadBlockId = oldBlockIds.filter(id => !currentBlockIds.includes(id))[0];
          const newBlockId = currentBlockIds.filter(id => !oldBlockIds.includes(id))[0];


          // If the only item of a reservation block was removed, the block no longer exists
          // and no new block has been created.  We can simply remove the "dead" block from the collection.
          if (deadBlockId && !newBlockId) {
            this.sortedReservationBlocks = this.sortedReservationBlocks
              .filter(({ id }) => id !== deadBlockId);

            return;
          }


          // If there is a "new" block, but not an accompanying "dead" block, we add the new block to the bottom.
          // This occurs when users add a Save For Later item back to the cart, and it cannot merge with an existing
          // reservation.

          // Example:
          // user has block id '1234' and adds an SFL item to the cart, and IT COULD NOT MERGE into an existing reservation block.
          // He now has block ids '1234' and '9876'. 9876 should go on the bottom.
          // There is no dead block id, but 9876 is new.

          if (!deadBlockId && newBlockId) {
            this.sortedReservationBlocks.push(currentBlocks[newBlockId]);

            return;
          }


          // If there are no new blocks and no dead blocks, we can just replace the old block with the current one.
          // This occurs when no items were added nor removed; a property simply changed.

          // Example: user changes the start time of a reservation.

          if (!deadBlockId && !newBlockId) {
            this.sortedReservationBlocks = this.sortedReservationBlocks
              .map(oldBlock => currentBlocks[oldBlock.id]);

            return;
          }


          // If both a dead block id AND new block id exist,
          // we must do the update-strategy below.

          // There are two scenarios where both a "new" and "dead" block exist.
          // 1. When two blocks merge into one.
          // 2. After an item moves into a brand new block (but the old block still has items in it)

          // Example 1:
          // User has block ids '0000', '1234', and '3456'. The last 2 merged into (new) block id '1234-3456'. Where's this new guy go?
          // He should go into 1234's position. This scenario produces a dead block id (1234) and a new block id.
          // In this scenario there are technically 2 dead blocks, however, the only the first is considered THE dead block,
          // and will be the target position for the new block.

          // Example 2:
          // User has block id '1234-5678'. He changes something on an item (id 5678), and now has block id '1234' & '5678'.
          // Like example 1, this scenario produces both a dead and new block id.

          // Place the new block in the dead block's position, and
          // place all other blocks in their previous position.
          const sortedIds = this.sortedReservationBlocks.map(block => block.id);
          Object.entries(currentBlocks)
            .forEach(([currentBlockId, currentBlock]) => {
              let position = currentBlockId === newBlockId
                ? sortedIds.indexOf(deadBlockId)
                : sortedIds.indexOf(currentBlockId);

              // If we cannot replace a block, append it
              // This occurs if the new block was split off the dead block
              // This scenario requires a call to $forceUpdate after we're done.
              if (position === -1) {
                position = this.sortedReservationBlocks.length;
              }

              this.sortedReservationBlocks[position] = currentBlock;
            });

          if (this.sortedReservationBlocks.length > Object.keys(currentBlocks).length) {
            this.sortedReservationBlocks.pop();
          }

          this.$forceUpdate();
        },
        deep: true,
      },
    },

    name: 'cart',
  };

  function _parseItemProducts(data, products, items, [itemKey, ...itemKeys]) {
    const item = items[itemKey];

    try {
      const product = {
        name: data.equipment[item.catClass].title,
        catClass: item.catClass,
        price: data.estimate.items[item.catClass].dayRate,
        category: data.categoryByCatClass(item.catClass),
        subCategory: data.subCategoryByCatClass(item.catClass),
        quantity: item.quantity,
      };

      products.push(product);

      return itemKeys.length
        ? _parseItemProducts(data, products, items, itemKeys)
        : products;
    }
    catch (e) {
      return [{}];
    }
  }
</script>

<style lang="scss">
  // also defined in CartController.php
  #cartLoading .cart__header {padding: 2% 0;}
  #cartLoading .cart__header h1 {margin: .67em 0;}
  #cartLoading .cart__header h2 {font-weight:300;}
</style>
