<template>
  <div class="cart-credit-banner-wrapper" v-if="showCreditBanner">
    <div class="banner-bottom-wrapper">
      <div class="banner-title">
        <h2>{{ $i18n('homepage.bannerTitle') | uppercase }}</h2>
      </div>
      <div class="banner-content">
        <div class="banner-copy">
          <h3>{{ $i18n('homepage.bannerCopy') }}</h3>
            <a
              class="homepage-cta-btn__link"
              href="/services/credit-application"
              target="_blank">
              {{ $i18n('homepage.bannerLink') }}
            </a>
        </div>
      </div>
      <div class="banner-image-wrapper">
        <img  class="banner-image" src="/themes/custom/unitedrentals/dist/img/homepage-banner-worker.png">
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'CartCreditBanner',
  computed: {
    ...mapState({
      accounts: state => state.accounts,
      accountId: state => state.user.defaultAccountId,
      isLoggedIn: state => state.user.isLoggedIn,
    }),
    showCreditBanner() {
      if (!this.accountId.length || !this.userIsLoggedIn) {
        // no account, show banner
        return true;
      }
      // has an account but no credit, show banner, unless credit is greater than 0, do not show banner
      return this.accounts.all[this.accountId].creditLimit === 0;
    },
  },
};
</script>
