<template>
  <div>
    <label>{{ $i18n('ur.quantity') }}</label>
    <quantity-selector
      class="more_less_buttons"
      :quantity="quantity"
      @decrement="decrement"
      @increment="increment"
      @change="update"
    />
  </div>
</template>
<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import QuantitySelector from '@/components/common/quantity-selector.vue';

  export default {
    components: {
      QuantitySelector,
    },
    computed: {
      ...mapState({
        quantity: state => state.cartItemForm.quantity,
      }),
    },
    methods: {
      ...mapActions({
        decrement: types.cartItemForm.decrement,
        increment: types.cartItemForm.increment,
        update: types.cartItemForm.quantity,
      }),
    },
    name: 'cartQuantitySelector',
  };
</script>
