<template>
  <span class="icon-shopping-cart-container">
    <i class="icon icon-shopping-cart" @click="onClick">
          <span v-if="cartSize > 0 && small" class="pill-count">{{ cartSize }}</span>
    </i>
    <span v-if="cartSize > 0 && (medium || large || xlarge)" class="pill-count" @click="onClick">{{ cartSize }}</span>
  </span>
</template>
<script type="text/babel">
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'cartSize',
      ]),
    },
    methods: {
      onClick() {
        window.location = '/cart';
      },
    },
  };
</script>
