<template>
  <div>
    <ur-legacy-styles>
    <submission-loading-overlay
    :show="isSubmitting"
    :title="loadingOverlayText.title"
    :hideImmediately="hideOverlayImmediately"
    :message="loadingOverlayText.message"/>
    <router-view name="checkout"></router-view>
    </ur-legacy-styles>
  </div>
</template>

<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import SubmissionLoadingOverlay from './submission-loading-overlay';

  export default {
    name: 'checkout',
    components: {
      SubmissionLoadingOverlay,
    },
    data() {
      return {
        loadingOverlayText: {
          title: '',
          message: '',
        },
      };
    },
    methods: {
      ...mapActions({
        toggleSubmitting: types.checkout.toggleSubmitting,
      }),
      computeLoadingOverlayText() {
        let title;
        let message;
        if ((this.isReservation && this.isSubmitting)) {
          message = this.$i18n('checkout.checkoutProcessingModal.isReservation.processing.message');
          title = this.$i18n('checkout.checkoutProcessingModal.isReservation.processing.title');
        }
        else if (this.isReservation && !this.isSubmitting) {
          message = this.$i18n('checkout.checkoutProcessingModal.isReservation.completed.message');
          title = this.$i18n('checkout.checkoutProcessingModal.isReservation.completed.title');
        }
        if (!this.isReservation && this.isSubmitting) {
          message = this.$i18n('checkout.checkoutProcessingModal.isQuote.processing.message');
          title = this.$i18n('checkout.checkoutProcessingModal.isQuote.processing.title');
        }
        else if (!this.isReservation && !this.isSubmitting) {
          message = this.$i18n('checkout.checkoutProcessingModal.isQuote.completed.message');
          title = this.$i18n('checkout.checkoutProcessingModal.isQuote.completed.title');
        }
        this.loadingOverlayText = { message, title };
      },
    },
    computed: {
      ...mapState({
        isSubmitting: state => state.checkout.isSubmitting,
        hideOverlayImmediately: state => state.checkout.hideOverlayImmediately,
        isReservation: state => state.checkout.isReservation,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
    },
    mounted() {
      this.computeLoadingOverlayText();
      if (window.location.pathname !== '/cart') {
        this.$router.replace('/cart#/checkout');
      }
      else {
        this.$router.replace('/checkout');
      }
    },
    watch: {
      isSubmitting() {
        this.computeLoadingOverlayText();
      },
    },
  };
</script>
