
<template>

  <div class="ur-confirm-account-info-modal">
    <div class="modal-header ur-confirm-account-info-modal__header">
      <h4>{{ $i18n('checkout.confirmAccountModal.header') }}</h4>
    </div>

    <div class="modal-body">
      <div class="ur-confirm-account-info-modal__body">
        {{ $i18n('checkout.confirmAccountModal.body') }}
      </div>
      <div class="ur-confirm-account-info-modal__form__wrapper" >
        <form class="ur-confirm-account-info-modal__form">
          <div class="q-text-input">
            <label class="form-item__label form-item__label--textfield form-item__label--required">{{ $i18n('ur.email') }}</label>
            <span>{{ email }}</span>
          </div>
          <q-input
            :label="$i18n('account.firstName')"
            :placeholder="$i18n('account.firstNamePlaceholder')"
            :required="true"
            @input="firstName => updateFormField({firstName})"
            :secondary-click-handler="firstName => updateFormField({firstName})"
            :has-error="$v.firstName.$invalid"
            :value="firstName"
          />
          <q-input
            :label="$i18n('account.lastName')"
            :placeholder="$i18n('account.lastNamePlaceholder')"
            @input="lastName => updateFormField({lastName})"
            :secondary-click-handler="lastName => updateFormField({lastName})"
            :has-error="$v.lastName.$invalid"
            :required="true"
            :value="lastName"
          />
          <q-input
            :label="$i18n('job.phoneNumber')"
            mask="(999) 999-9999"
            :placeholder="$i18n('job.phoneNumberPlaceholder')"
            :has-error="$v.phone.$invalid"
            @input="phone => updateFormField({phone})"
            :secondary-click-handler="phone => updateFormField({phone})"
            :required="true"
            :value="phone | phoneNumber"
          />
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <div class="modal-button-spacer">

      </div>
      <div class="modal-button-spacer">

      </div>
      <q-button :text="$i18n('ur.continue')"
      @click="submitForm"/>
    </div>
  </div>

</template>

<script type="text/babel">
  /* eslint-disable object-curly-newline */

  import { mapActions, mapGetters, mapState } from 'vuex';
  import { required } from 'vuelidate/lib/validators';

  import types from '@/store/types';

  export default {
    name: 'confirm-account-info',

    computed: {
      ...mapState({
        email: state => state.tcUser.form.email,
        firstName: state => state.tcUser.form.firstName.trim(),
        lastName: state => state.tcUser.form.lastName.trim(),
        phone: state => state.tcUser.form.phone,
        guid: state => state.tcUser.guid,
        userIsLoggedIn: state => state.user.isLoggedIn,
        loggedInUsername: state => state.user.loggedInUsername,
      }),
      currentFormStateAsString() {
        return this.firstName + this.lastName + this.phone;
      },
      tcUserSaveRequired() {
        return this.initialFormStateAsString !== this.currentFormStateAsString;
      },
    },

    data() {
      return {
        initialFormStateAsString: null,
      };
    },

    methods: {
      ...mapActions({
        updateFormField: types.tcUser.updateFormField,
        saveTcUser: types.tcUser.updateDetails,
        fetchLoggedInUsername: types.user.fetchLoggedInUsername,
      }),
      ...mapGetters({
        getLoggedInUsername: types.user.getLoggedInUsername,
      }),
      updateAccountMenu() {
        if (this.userIsLoggedIn) {
          document.getElementById('account-logout-menu').innerHTML = this.loggedInUsername;
        }
      },
      submitForm() {
        if (this.$v.$invalid) {
          return;
        }
        if (this.tcUserSaveRequired) {
          const { firstName, lastName, phone, guid } = this;
          this.saveTcUser({ firstName, lastName, phone, id: guid });
        }

        // Close the modal (by stripping off the last param of the current route).
        this.$router.push(this.$route.path.replace('/confirm-account', ''));
      },
    },

    validations: {
      firstName: { required },
      lastName: { required },
      phone: {
        minLength(phone) {
          return phone.replace(/\D/g, '').length === 10;
        },
        required,
      },
    },

    mounted() {
      this.fetchLoggedInUsername();
      this.$emit('isValid', false);

      // Instruct the modal to enable/disable the Continue button based on form validity
      this.$watch('$v.$invalid', (invalid) => {
        this.$emit('isValid', !invalid);
      });

      // Record the initial form state, so we can detect changes
      this.initialFormStateAsString = this.currentFormStateAsString;
    },
    watch: {
      userIsLoggedIn: {
        handler: 'updateAccountMenu',
        immediate: true,
        deep: true,
      },
      loggedInUsername: {
        handler: 'updateAccountMenu',
        immediate: true,
        deep: true,
      },
    },
  };
</script>
<style lang="scss">

  .ur-confirm-account-info-modal {

    & &__header {
      h4{
        margin: 20px 0 0 0;
      }

    }

    &__cta {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__form {
      margin-bottom: 40px;
      margin-top: 40px;

      .q-text-input {
        margin-top: 16px;
      }
    }

    .modal-footer {

      .modal-button-spacer {
        flex: 1;
      }
    }

  }
</style>
