<template>
  <div style="padding: 3rem;">
    <p>{{ $i18n('checkout.dateChangeWarning') }}</p>
    <div style="float: right;">
      <button class="button--filled button--style-1" @click.prevent.stop="$router.go(-1)" style="min-width: 7em">
        {{ $i18n('ur.ok') }}
      </button>
    </div>
  </div>
</template>
<script type="text/babel">
export default {
  name: 'date-change-warning',
};
</script>
