<template>
  <div class="empty-cart-state__body">
    <div class="empty-cart-carousel-header">
      <h3>{{ title }}</h3>
      <div class="see-all" v-if="seeAllLink">
        <a :href="seeAllLink">{{ $i18n('cart.seeAll') }}</a>
        <i class="icon icon-long-arrow-right"></i>
      </div>
    </div>
    <vueml-carousel
      :min-swipe-distance="0"
      :navigation-enabled="true"
      :navigation-next-label="small ? '' : navNextLabel"
      :navigation-prev-label="small ? '' : navPrevLabel"
      :pagination-active-color="'#008CFF'"
      :pagination-color="'#DDE0E2'"
      :per-page-custom="[[320, 1.2],[640, 3],[1024, 3], [1440, 4]]"
      @pageChange="gtmTrackCarouselButton(gtmTrackCarouselButtonValue, $event)"
    >
      <vueml-slide v-for="(item, idx) in equipment" :key="idx" class="flex justify-center">
        <empty-cart-card
          :cat-class="item.catClass"
          :img-src="item.images && item.images[0] && item.images[0].link"
          :img-alt="item.images && item.images[0] && item.images[0].alt"
          :key="item.catClass"
          :nodeLink="item['node-link']"
          :title="item.title"
        />
      </vueml-slide>
    </vueml-carousel>
  </div>
</template>
<style lang="scss" >
@import '../../../themes/custom/urone/styles/_globals.scss';

section.empty-cart-state > div.empty-cart-state__body div.VueCarousel > div.VueCarousel-wrapper {
  padding: rem($scale-1);
  margin: 0 (-$grid-gutter-sm / 4);
  @include media('>=s') {
    margin: 0 (-$grid-gutter-lg / 4);
  }

  > div.VueCarousel-inner {
    padding-right: 4rem;
    > div.VueCarousel-slide {
      @include grid-col(6);
      margin: 0 ($grid-gutter-sm / 2);

      @include media('>=s') {
        @include grid-col(4);

        margin: 0 ($grid-gutter-lg / 2);
      }

      @include media('>=l') {
        max-width: calc((3 / 12) * 100%);
      }
    }
  }
}
</style>
<script type="text/babel">
import { mapGetters } from 'vuex';
import EmptyCartCard from '@/components/cart/empty-cart-card';
import UrGtm from '@/mixins/ur-gtm';

export default {
  components: {
    EmptyCartCard
  },
  computed: {
    ...mapGetters(['small', 'medium'])
  },
  data() {
    return {
      navNextLabel: '<i class="icon icon-chevron-right"></i>',
      navPrevLabel: '<i class="icon icon-chevron-left"></i>'
    };
  },
  mixins: [UrGtm],
  props: {
    /**
     * Catalog Equipment
     */
    equipment: {
      type: Array,
      required: true
    },

    /**
     * GTM Tracking Code Value
     */
    gtmTrackCarouselButtonValue: {
      type: String,
      required: true
    },

    /**
     * A Link to a Drupal Page.
     */
    seeAllLink: {
      type: String,
      required: false
    },

    /**
     * Carousel Title
     */
    title: {
      type: String,
      required: true
    }
  }
};
</script>
