<template>
  <div class="product-card">
    <a :href="nodeLink" :aria-labelledby="catClass || card.catClass"></a>
    <div class="product-card__icon-bar">
      <div class="chip-tooltip">
        <item-rates
          :show-chip-only="true"
          :not-rentable-online="notRentableOnline"
          :cat-class="catClass"
          v-on:hasrates="updateHasRates"
        />
      </div>
      <div class="product-card__icon-star">
        <i v-if="userIsLoggedIn" @click="toggleFavorite" :class="{'icon-star-o' : !isFavorite, 'icon-star': isFavorite}" class="icon"></i>
      </div>
    </div>

    <div>
      <div>
        <div class="product-card__img" v-if="!imgSrc"> <img alt="Electric Scissor Lift" title="Electric Scissor Lift"
        src="/themes/custom/unitedrentals/images/300-1000_0.jpg" >  </div>
        <div class="product-card__img" v-else>
          <img :src="imgSrc || card.img" :alt="imgAlt || 'placeholder image'">
        </div>
        <p class="product-card__cat-class-code">{{ $i18n('catalog.catClassCode') }} {{ catClass || card.catClass }}</p>
        <h3 class="product-card__name" :id="catClass || card.catClass">{{ title || card.name }}</h3>
      </div>

      <div>
        <div class="card-rates-list" v-if="!loading && catClass">
          <item-rates
            :show-rate-only="true"
            :not-rentable-online="notRentableOnline"
            :cat-class="catClass"
            v-on:hasrates="updateHasRates"
          />
        </div>

        <div class="card-rates-list" v-else>
          <div class="card-price">
            <div class="card-price__interval">{{ $i18n('rates.daily') }}</div>
            <div class="card-price__rate">${{ card.price }}</div>
            <div class="card-price__cad">{{ $i18n('rates.canadian') }}</div>
          </div>
          <div class="card-price">
            <div class="card-price__interval">{{ $i18n('rates.weekly') }}</div>
            <div class="card-price__rate">${{ card.price }}</div>
            <div class="card-price__cad">{{ $i18n('rates.canadian') }}</div>
          </div>
          <div class="card-price">
            <div class="card-price__interval">{{ $i18n('rates.monthly') }}</div>
            <div class="card-price__rate">${{ card.price }}</div>
            <div class="card-price__cad">{{ $i18n('rates.canadian') }}</div>
          </div>
        </div>
      </div>

      <router-link v-if="showAddToCartButton" :to="addToCartLink" tag="button">{{ $i18n('catalog.addToCart') }}</router-link>
    </div>

  </div>
</template>
<style lang="scss" scoped>
  @import "../../../themes/custom/urone/styles/_globals.scss";
  @import 'styles/globals';
  section.empty-cart-state > div.empty-cart-state__body > div.VueCarousel > div.VueCarousel-wrapper > div.VueCarousel-inner > div.VueCarousel-slide > div.product-card {
    @include gap(
      $property: padding,
      $sizes: $gap-c $gap-d $gap-d
    );

    border: 0;
    display: flex;
    flex-direction: column;
    height: initial;
    justify-content: space-between;
    margin: 0;
    position: relative;
    max-width: 100%;

    &:hover {
      border: 0;
      box-shadow: initial;
      cursor: initial;
      text-decoration: none;
    }

    > a {
      @include card-link();
      border-radius: $border-radius-med;
    }

    .product-card__icon-star {
      font-size: $icon-size-xxsmall;
      ::after,::before{
        color: $color-blue;
      }
      @include media('>=m') {
        font-size: $icon-size-xsmall;
      }
    }

    .product-card__icon-bar {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }

    .product-card__img {
      display: flex;
      align-items: center;
      height: rem(112);
      justify-content: center;

      @include media('>=s') {
        height: rem(203);
      }

      @include media('>=m') {
        height: rem(244);
      }

      img {
        max-height: 100%;
        width: rem(112);

        @include media('>=s') {
          width: rem(208);
        }

        @include media('>=m') {
          width: rem(244);
        }
      }
    }

    .product-card__cat-class-code {
      @include type-preset(20);

      color: $color-text-subtle;

      @include media('>=s') {
        @include type-preset(30);
      }
    }

    .product-card__name {
      @include type-preset(
        $version: 40,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );

      @include media('>=s') {
        @include type-preset(
          $version: 60,
          $type: header,
          $multiline: 2,
          $variable-space: false
        );
      }

      @include media('>=m') {
        @include type-preset(
          $version: 70,
          $type: header,
          $multiline: 2,
          $variable-space: false
        );
      }

      color: $color-text;
    }

    .pricing-content {
      width: 100%;
    }

    button {
      @include btn();

      width: 100%;
      z-index: 7;
    }
  }
</style>
<script type="text/babel">
  import { mapActions, mapState } from 'vuex';
  import get from 'lodash/get';

  import types from '@/store/types';
  import ItemRates from '@/components/equipment-listing/item-rates';
  import UrGtm from '@/mixins/ur-gtm';

  export default {
    components: {
      ItemRates
    },
    mixins: [
      UrGtm,
    ],
    computed: {
      ...mapState({
        isFavorite(state) {
          return state.favorites.all.includes(this.catClass);
        },
        notRentableOnline(state) {
          return state.catalog.equipment[this.catClass].field_item_not_rentable_online;
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
        rates(state) {
          return get(state.catalog.rates, [this.catClass, this.storeID], null);
        },
      }),
      addToCartLink() {
        return {
          name: 'addToCartModal',
          params: {
            0: '',
            catClass: this.catClass,
          },
        };
      },
      showAddToCartButton() {
        return this.hasRates && this.rates.locationFiltered && this.notRentableOnline !== 'true';
      },
    },
    data() {
      return {
        hasRates: false,
      };
    },
    methods: {
      ...mapActions({
        addFavorite: types.favorites.add,
        removeFavorite: types.favorites.remove,
      }),
      toggleFavorite() {
        const action = this.isFavorite ? 'removeFavorite' : 'addFavorite';
        this[action](this.catClass);
      },
      updateHasRates(hr) {
        this.hasRates = hr;
      },
    },
    name: 'EmptyCartCard',
    props: {
      card: {
        type: Object,
        default() {
          return {
            description: 'default',
            name: 'Default',
            img: '',
            interval: 'time period',
            price: '--',
          };
        },
      },
      catClass: String,
      imgSrc: String,
      imgAlt: String,
      loading: Boolean,
      nodeLink: String,
      title: String,
      viewMoreLink: String,
    },
  };
</script>
