<template>
  <div class="empty-cart-state__container">
    <section class="empty-cart-state m-b-20">
      <empty-cart-carousel
        v-if="recentlyViewedEquipmentExists"
        :equipment="recentlyViewedEquipment"
        gtm-track-carousel-button-value="recently-viewed"
        :title="$i18n('facetedSearch.recentlyViewed')"
      />

      <empty-cart-carousel
        v-if="userIsLoggedIn && favoritesExist"
        :equipment="favoriteEquipment"
        gtm-track-carousel-button-value="your-favorites"
        :see-all-link="showViewAllLink ? '/user/favorites': ''"
        :title="$i18n('cart.yourFavorites')"
      />
    </section>
  </div>
</template>
<style lang="scss" scoped>
  @import "../../../themes/custom/urone/styles/_globals.scss";

  div.cart > div > div > div.empty-cart-state__container {
    margin-top: rem($scale-5);
  }
</style>
<script>
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { isEmpty, findKey } from 'lodash';

  import EmptyCartCarousel from '@/components/cart/empty-cart-carousel';

  import types from '@/store/types';

  export default {
    components: {
      EmptyCartCarousel,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'favoriteEquipment',
        'recentlyViewedEquipment',
      ]),
      ...mapGetters({
        ratesPlaceCreated: types.user.ratesPlaceCreated,
      }),
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
        favoritesExist: state => state.favorites.all.length !== 0,
        recentlyViewedEquipmentExists: state => state.recentlyViewed.all.length > 0,
        rates: state => state.catalog.rates,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      showViewAllLink() {
        return this.favoriteEquipment.length > findKey({
          1: this.small,
          3: this.medium || this.large,
          4: this.xlarge,
        });
      },
    },
    methods: {
      ...mapActions({
        fetchFavoriteEquipment: types.favorites.fetchAll,
        fetchRates: types.catalog.fetchRates,
        fetchRecentlyViewedEquipment: types.recentlyViewed.fetchAll,
      }),

      fetchFavoriteEquipmentRates() {
        if (isEmpty(this.favoriteEquipment)) {
          return;
        }
        const catClasses = this.favoriteEquipment
          .map(item => item.catClass);
        // catClasses can have length but with undefined values
        if (catClasses[0] === undefined) {
          return;
        }
        this.fetchRatesHelper(catClasses);
      },

      fetchRecentlyViewedEquipmentRates() {
        if (isEmpty(this.recentlyViewed)) {
          return;
        }
        this.fetchRatesHelper(this.recentlyViewedEquipment);
      },

      fetchRatesHelper(catClasses) {
        const accountId = this.defaultAccountId;
        const branchId = this.ratesPlaceBranch;
        this.fetchRates({ catClasses, branchId, accountId });
      },
    },
    mounted() {
      const favoriteEquipmentRequest = this.fetchFavoriteEquipment();
      const recentlyViewedEquipmentRequest = this.fetchRecentlyViewedEquipment();

      const getAllRates = () => {
        favoriteEquipmentRequest.then(this.fetchFavoriteEquipmentRates);
        recentlyViewedEquipmentRequest.then(this.fetchRecentlyViewedEquipmentRates);
      };

      if (this.ratesPlaceBranch) {
        getAllRates();
      }
      else {
        const destroyWatcher = this.$watch('ratesPlaceBranch', () => {
          getAllRates();
          destroyWatcher();
        });
      }
    },
    name: 'EmptyCart',
  };
</script>
