<template>
  <div class="saved-for-later" v-if="hasItems">
    <h4 class="saved-for-later__header">{{ $i18n('cart.saveForLater') }} <span>{{ itemCount }}</span></h4>
    <editable-cart-item
      :is-saved-for-later="true"
      :item-id="item.id"
      :key="item.id"
      v-for="item in sortedItems">
    </editable-cart-item>
  </div>
</template>

<script type="text/babel">
  import sortBy from 'lodash/sortBy';
  import { mapState } from 'vuex';

  import EditableCartItem from './items/editable-cart-item.vue';

  export default {
    name: 'SavedForLater',

    components: {
      EditableCartItem,
    },

    computed: {
      ...mapState({
        itemCount: (state) => {
          const { items } = state.cartSaveForLater;

          const count = Object.keys(items).reduce((count, id) => count + items[id].quantity, 0);
          const suffix = count > 1 ? 'items' : 'item';

          return `(${count} ${suffix})`;
        },
        items: state => state.cartSaveForLater.items || {},
      }),

      hasItems() {
        return Object.keys(this.items).length;
      },

      sortedItems() {
        return sortBy(Object.values(this.items), 'changed').reverse();
      },
    },
  };

</script>
