<template>
<transition name="toastFade">
  <div
    v-if="shouldShow"
    class="scrim-overlay">
      <div class="message-container">
        <div class="spinner-container">
          <span v-if="show" class="spinner"></span>
          <q-icon v-if="!show" icon-name="check" size="regular" color="blue"></q-icon>
        </div>
        <div class="title-container">
          <p class="cart-toast-title">{{ title }}</p>
          <p class="cart-toast-subtitle">{{ message }}</p>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        shouldShow: false,
      };
    },
    props: {
      title: {
        type: String,
        default: () => '',
      },
      message: {
        type: String,
        default: () => '',
      },
      show: {
        type: Boolean,
        default: () => false,
        required: true,
      },
      hideImmediately: {
        type: Boolean,
        default: () => false,
        required: true,
      },
    },
    methods: {
      setShow() {
        if (this.show) {
          document.body.scrollTop = 0;
          document.body.style.overflowY = 'hidden';
          this.shouldShow = true;
        }
        else if (this.hideImmediately) {
          document.body.style.overflowY = 'auto';
          this.shouldShow = false;
        }
        else {
          setTimeout(() => {
            document.body.style.overflowY = 'auto';
            this.shouldShow = false;
          }, 2000);
        }
      },
    },
    watch: {
      show() {
        this.setShow();
      },
    },
    mounted() {
      this.setShow();
    },
  };
</script>

<style scoped lang="scss">
@import '01-variables';

.scrim-overlay {
  @extend %scrim-toast;
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:999999;
  top: 0;
  left: 0;
  height:100vh;
  width: 100vw;

}

.message-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: auto;
  min-width:450px;
  min-height:72px;
  border-radius: $border-radius-med;
  @media (max-width: 450px) {
    min-width: auto;
    width:100vw;
    padding-right:10px;
  }
  p {
    @extend %type-paragraph-small;
    size: $font-size-small;
  }

  .cart-toast-title {
    @extend %type-paragraph-small;
    font-weight: $font-weight-bold;
    margin-top:16px;
    margin-bottom:0;

  }

  .cart-toast-subtitle {
    margin-bottom:16px;
    margin-top: 0;
    @extend %type-paragraph-small;
  }
}
.spinner-container{
  min-width: 48px;
  min-height: 48px;
  height: 48px;
  width: 48px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 12px;
  .spinner {
    top:10px;
  }
  .icon-component.q-icon{
    align-self: center;
  }
}
.title-container {
  display:block;
  margin-left: 8px;
}

//fade in-out for toast
.toastFade-enter-active, .toastFade-leave-active {
  transition: opacity $animation-speed-long $anim-ease;
  transition-delay: $animation-speed;
}

.toastFade-enter-to, .toastFade-leave {
  opacity: 1;
}

.toastFade-enter, .toastFade-leave-to {
  opacity: 0;
}

@media (max-width: 450px) {
  .spinner{
    margin:0;
  }
  .spinner-container{
    height:48px;
    width:48px;
    margin-left:0;
  }
}
</style>
