<template>
  <div class="cart__job-grouping" style="display: flex">
    <div class="reservation-info">
      <cart-item v-for="item in block.items" :item-id="item.id" :transaction-block-id="block.id" :key="item.id"/>
      <jobsite :jobsite="jobsite" :account-id="block.accountId" progress="complete" :block-id="block.id"/>
      <pickup-delivery :block="block" progress="complete"/>
      <billing-form :block="block" progress="complete"/>
    </div>
    <div class="cost-summary">
      <cost-summary :block="block" ref="costSummary" @init="initHandler"/>
    </div>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import CartItem from '@/components/cart/items/static-cart-item.vue';
  import Jobsite from '@/components/cart/reservation-block/jobsite.vue';
  import PickupDelivery from '@/components/cart/reservation-block/pickup-delivery';
  import BillingForm from '@/components/cart/reservation-block/billing/billing-form.vue';
  import CostSummary from '@/components/cart/reservation-block/cost-summary';

  // Import Modules
  import { mapState } from 'vuex';
  import { get } from 'lodash';
  import Transaction from "@/lib/transaction";
  import { UrGtm } from "@/mixins/ur-gtm";

  export default {
    components: {
      CartItem,
      Jobsite,
      PickupDelivery,
      BillingForm,
      CostSummary,
    },
    computed: {
      ...mapState({
        allJobsites: state => state.jobs.all,
        transactionResults(state) {
          return new Transaction(state.checkout.transactionResults[this.block.id]);
        },
      }),
      gtmBlockProducts() {
        // Products in current block formatted for use with GTM
        return this.$urgtm.exportGtmProductsByBlock(this.block.id, this.block);
      },
      jobsite() {
        return get(this.allJobsites, [this.block.accountId, this.block.jobsiteId], {});
      },
      transTypeIsQuote() {
        return get(this.block, ['transType'], '') === 'X';
      },
    },
    methods: {
      windowPrint() {
        window.print();
      },
      initHandler() {
        if (!this.transTypeIsQuote) return;
        const { transId, requisitionId } = this.transactionResults;
        const costs = this.$refs.costSummary;
        this.gtmTrackQuote(
          {
            // Transaction ID. Required for purchases and refunds
            id: (transId ? transId : requisitionId),
            affiliation: 'Online Store',
            revenue: costs.totalRentalAmount,
            tax: costs.tax,
            shipping: (costs.damageWaiverFee + costs.deliveryFee + costs.environmentalFee + costs.pickupFee),
            coupon: this.gtmCouponMessage,
          },
          this.gtmBlockProducts,
          (transId ? transId : null),
          requisitionId,
        );
      }
    },
    mixins: [
      UrGtm,
    ],
    name: 'transaction-block',
    props: {
      block: {
        type: Object,
        required: true,
      },
    },
  };
</script>

<style lang="scss" scoped>
  // wrap cost-summary for print.
 .cart__job-grouping {
   @media print {
     flex-direction: column;
   }
 }
</style>
