
.path-webform {
  div[role=main] {
    display: table;
    width: 100%;

    aside.main-sidebar {
      display: table-footer-group;
    }

    div.main-content--with-sidebar {
      display: table-header-group;
    }

    .webform-submission-form {
      padding: 40px 14px 40px 14px;

      .webform-confirmation__message, h1 {
        font-size: 1.6rem;
        margin-bottom: 1rem !important;
      }

      #edit-send-us-a-message h1 {
        margin-top: 0;
      }

      input,
      select,
      textarea {
        margin-bottom: 2rem;
        border: $border-grey;
        border-radius: 3px;
        height: 40px;
        font-size: 1rem;
      }

      textarea {
        height: 56px;
      }

      input,
      .select,
      textarea {
        width: 100%;
      }

      legend,
      .heading-2 {
        font-weight: 700;
        font-size: 1rem;
      }

      .form-item__customer-account {
        & > div {
          margin-bottom: 7px;
        }
      }

      .description {
        margin-bottom: 7px;
      }

      .form-item {
        > label:first-child {
          padding: 7px 0;
          margin-bottom: 2px;
        }
      }

      fieldset {
        margin-bottom: 2rem;

        legend.heading-2 {
          padding: 7px 0;
          margin: 0 0 2px 0;
        }
      }

      .form-item__dropdown {
        i {
          padding: 13px 0;
          top: 20px;
        }
      }

      .checkboxes-wrapper {
        legend {
          margin-bottom: 1.2rem;
        }
      }

      .js-webform-checkboxes {
        display: flex;
        flex-direction: row;

        .form-item {
          display: flex;
          flex-direction: row;
          margin: 0 20px 0px 0;
          align-items: center;

          .label-selection.option {
            padding: 0;
            margin: 0;
          }

          label.form-item__label {
            margin: 0;
            padding: 0 0 0 25px;
            line-height: 1rem;
          }
        }
      }

      .form-item--radios {
        display: flex;

        .form-item {
          display: flex;
          flex-direction: row;
          margin: 0 20px 0px 0;

          label {
            margin: 0;
            padding: 0;
          }
        }
      }

      #edit-how-can-we-reply--wrapper {
        margin-top: 5px;
        margin-bottom: 2rem;
      }

      .form-item__should-a-sales-representative-contact-you {
        display: flex;
        margin-right: 20px;
        width: 50px;
      }

      #edit-customer-account--description {
        margin-top: 5px;
        margin-bottom: 7px;
        max-width: 390px;
      }

      #edit-actions-submit {
        border-radius: 4px;
        margin-top: 1rem;
        width: 100%;

        @include breakpoint($break-small) {
          width: 168px;
        }
      }

      h2,
      .heading-2 {
        margin: 1rem 0;
      }
    }
  }

  @include breakpoint($break-small) {
    div[role=main] {
      display: flex;

      aside.main-sidebar {
        display: inherit;
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nested-navigation {
          padding: 25px 35px;
        }
      }

      div.main-content--with-sidebar {
        display: inherit;
        order: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
      }

      .webform-submission-form {
        padding: 0px 20px 20px 20px;

        input,
        .select,
        textarea {
          max-width: 600px;
        }

        .webform-confirmation {
          max-width: 390px;
        }

        .webform-confirmation__message, h1 {
          font-size: 2rem;
          margin-bottom: 1.6rem !important;
        }
      }
    }
  }
}
