<template>
  <div class="dashboard__carousel w-100">
    <carousel
      :navigation-enabled="navigationEnabled"
      :navigation-next-label="navigationNextLabel"
      :navigation-prev-label="navigationPrevLabel"
      :pagination-active-color="'#008CFF'"
      :pagination-color="'#DDE0E2'"
      :pagination-enabled="false"
      :per-page-custom="[[320, 2.35], [480, 3.35], [640, 4], [768, 5], [1024, 5], [1440, 5]]"
      :space-padding="spacePadding"
      ref="carousel"
      :scroll-per-page="false"
      @click="clicked($this)"
      @pageChange="gtmTrackCarouselButton('dashboard-carousel', $event)"
    >
      <slide>
        <dashboard-card
          :labelData="rentalCounts.onRent"
          :title="$i18n('workplace.itemsOnRent')"
          :historicalData="rentalCounts.onRent"
          :to="rentalCounts.onRent === 0 ? {} : cards.onRent.route"
          :loading="rentalCountsInFlight"
          arrow="true"
          status="onRent"
          :active="rentalCounts.onRent === 0 ? false : cards.onRent.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="rentalCounts.overdue"
          :title="rentalCounts.overdue === 0 ? $i18n('dashboard.noneOverdue') : $i18n('dashboard.overdue')"
          :to="rentalCounts.overdue === 0 ? {} : cards.itemsOverdue.route"
          :loading="rentalCountsInFlight"
          status="overDue"
          arrow="true"
          :active="rentalCounts.overdue === 0 ? false : cards.itemsOverdue.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="rentalCounts.scheduledForPickup"
          :title="$i18n('dashboard.scheduledForPickup')"
          :to="rentalCounts.scheduledForPickup === 0 ? {} : cards.scheduledForPickup.route"
          :forceDisable="true"
          :loading="rentalCountsInFlight"
          status="pickupRequested"
          arrow="true"
          :active="rentalCounts.scheduledForPickup === 0 ? false : cards.scheduledForPickup.active"
        />
      </slide>
    </carousel>
  </div>
</template>
<script lang="ts" src="./dashboard-carousel.ts"></script>
