.path-locations, .path-location-entity {
  footer, .header__secondary-navigation {
    display: none;
  }
}

.location-finder-wrapper {

  @include breakpoint($break-small) {
    height: calc(100vh - 64px);
  }
  @include breakpoint($break-medium) {
    height: calc(100vh - 98px);
  }
}

.location-finder-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  #map {
    height: 100%;
  }

  .branch-wrapper {
    .empty-results-container {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .cluster_icon {
    background-image: url('/themes/custom/unitedrentals/dist/vue/img/map-markers/cluster-small.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: .8em;
    height: 40px;
    line-height: 44px;
    text-align: center;
    transition: all 0.2s ease;
    width: 40px;

    &:hover {
      transform: scale(1.2) translateY(-8%);
      transition: all 0.3s ease;
    }
  }

  .marker_general {
    background-image: url('/themes/custom/unitedrentals/dist/vue/img/map-markers/general.svg');
  }

  .marker_specialty {
    background-image: url('/themes/custom/unitedrentals/dist/vue/img/map-markers/specialty.svg');
  }

  .marker_icon {
    background-repeat: no-repeat;
    background-size: cover;
    height: 31px;
    text-align: center;
    transition: all 0.2s ease;
    width: 22px;

    &:hover {
      transform: scale(1.3) translateY(-8%);
      transition: all 0.3s ease;
    }
  }

  .marker_active {
    .marker_icon {
      transform: scale(1.3) translateY(-8%);
      transition: all 0.3s ease;
    }
  }

  .leaflet-div-icon {
    background: none !important;
    border: none !important;
  }

  .leaflet-pane {
    animation: mapin 2s ease-out;
  }

  @keyframes mapin {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .header-slide-enter-active {
    transition: all .4s ease-out;
  }

  .header-slide-enter {
    margin-bottom: 80px;
    opacity: 0;
    transform: translateY(-100%);
  }

  .footer-slide-enter-active {
    transition: all .4s ease-out;
  }

  .footer-slide-enter {
    margin-top: 100px;
    opacity: 0;
    transform: translateY(100%);
  }

  @include breakpoint($break-small) {
    overflow: hidden;
  }

  .branch-details_container {
    padding-left: 1rem;
    padding-right: 1rem;

    .branch-details-buttons {
      display: flex;
    }
  }

  .gm-style-mtc, .gm-fullscreen-control {
    display: none;
    pointer-events: none;
    button {
      pointer-events: none;
    }

  }

  .gm-bundled-control-on-bottom {
    margin-bottom: 43px !important;
  }

  .mobile-map-hider {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    left: 0px;
    min-height: calc(100vh - 114px);
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 3;
  }

  .mobile-list-view {
    height: 50px;
  }
  .vue-map-container {
    height: 100%;
  }

  .vue-street-view-pano-container {
    position: relative;

    .vue-street-view-pano {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  @include breakpoint($break-small) {
    flex-direction: row;
    height: 100%;
  }

  .scroll-top {
    justify-content: center;
  }

  .location-search {
    display: flex;
    height: 40px;
    width: 100%;

    .branch-filter {
      width: 40%;

      .icon-angle-down {
        color: $black;
      }

      select {
        background-color: $color-grey-2;
        border-radius: $border-radius-med 0 0 $border-radius-med;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        font-weight: bold;
        height: 40px;
        margin-bottom: 0px;
        overflow: hidden;
        padding-right: 30px;
        text-overflow: ellipsis;
      }

      .branch-filter-menu-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .ur-menu-container {
        background-color: $color-white;
        border: 0;
        border-radius: $border-radius-med;
        box-shadow: none;
        display: flex;
        height: 0;
        margin-top: 5px;
        max-height: 13rem;
        opacity: 1;
        overflow-y: scroll;
        transition: height .4s cubic-bezier(0, 1, 0, 0.99);

        &.active {
          border: 1px solid $color-grey-2;
          box-shadow: $depth-2;
          height: 13rem;
          opacity: 1;
          transition: height .4s cubic-bezier(0, 1, 0, 0.99);

          .ur-menu-group-item {
            opacity: 1;
            padding: 8px 12px;
          }

        }
      }

      .ur-menu-wrapper {
        width: 100%;

        .ur-menu-button {
          align-items: center;
          background-color: $color-grey-2;
          border-radius: $border-radius-med 0 0 $border-radius-med;
          display: flex;
          font-family: $font-family-sans-serif;
          font-size: $font-size-small;
          font-weight: bold;
          height: 40px;
          margin-bottom: 0px;
          padding-right: 30px;
          width: 100%;
        }

        .icon-angle-down {
          color: $black;
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
        }

      }

      .ur-menu-group {
        .ur-menu-group-item {
          color: $black;
          font-family: $font-family-sans-serif;
          font-size: $font-size-small;
          margin: 5px 0 5px 0;
          opacity: 0;
          padding: 90px 9px 9px 9px;
          transition-delay: .1s;
          transition-duration: .2s;
          transition-property: opacity, padding;
          transition-timing-function: cubic-bezier(0.23, 0.9, 0.57, 0.82);

          a {
            color: $black;
            margin-bottom: 7px;
            margin-top: 7px;
            width: 100%;

            &:hover {
              color: $white;
              text-decoration: none;
            }
          }
        }
        .selectable:hover {
          background-color: $color-blue-highlight;
          color: $white;
        }
      }

    }

    .location-search-button {
      background-color: $color-blue;
      border: 0;
      border-radius: 0 $border-radius-med $border-radius-med 0;
      height: 100%;
      padding: 8px;
      width: 40px;
      i {
        color: $color-text-reverse;
      }
    }

    .location-autocomplete {

      .input-group {
        flex: 1 1 auto;
      }

      input {
        border-radius: 0;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        height: 40px;
        margin-bottom: 0px;

        .icon-map-marker {
          color: $black;
        }
      }
    }

  }

  .location-search {
    display: flex;
    margin-bottom: 8px;

    .location-autocomplete {
      flex: 1;
    }
  }

  .location-finder-content-panel {
    box-shadow: $depth-2;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 0px;
    z-index: 3;

    .dropdown-style1 {
      height: 40px;
      margin-bottom: 0;
    }

    select::-ms-expand {
      display: none;
    }

    .content-panel__content {
      flex: 1 1 auto;
      height: 100%;
      overflow: hidden;
    }

    @include breakpoint($break-small) {
      overflow: hidden;
      width: 375px;
    }
  }

  .location-map {
    height: 100%;
    padding: 0;
    position: relative;

    @include breakpoint($break-small) {
      flex: 1 1 auto;
    }
  }

  .mobile-search-container {
    display: flex;
    margin-left: 5vw;
    width: 90vw;
  }

  .mobile-search {
    display: flex;
    margin-bottom: 1rem;
    width: 65%;

    .location-autocomplete {
      flex: 1 1 auto;
      input {
        border-radius: 0;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        height: 2.85714em;
        margin-bottom: 0px;
      }
    }

    .mobile-search-submit {
      background-color: $color-blue;
      border: 0;
      border-radius: 0 $border-radius-med $border-radius-med 0;
      width: 35px;
      i {
        color: $color-text-reverse;
      }
    }
  }

  .mobile-search-container-mapview {
    display: flex;
    left: 5vw;
    position: absolute;
    top: 70px;
    width: 90vw;
    z-index: 5;

    .error__paragraph {
      background-color: #fff;
      padding: 3px;
    }

    .icon-map-marker {
      color: $black;
    }
  }

  .scroll-top #showScrollButton {
    top: 120px;

    @include breakpoint($break-small) {
      top: 10px;
    }
  }

}

.location-finder-modal {

  .modal-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: calc(100vh - 167px);
    overflow: hidden;
    padding: 0px;

    .location-finder-container {
      .mapview {
        height: calc(100% - 50px);
        position: absolute;
      }
      .mobile-map-hider {
        display: flex;
        height: calc(100% - 50px);
        min-height: initial;

        .mobile-content {
          flex: 1 1 auto;
          overflow: scroll;
        }

        .content-panel-footer_container {

        }

      }
    }

    @include breakpoint($break-medium) {
      height: 61vh;
    }

    @include breakpoint($break-large) {
      height: 63vh;
    }

    .modal-body-content {
      height: 100%;
    }

    .location-finder-container {
      height: 100%;
    }
  }

  .modal-footer {
    flex-direction: row;
    justify-content: center;

    @include breakpoint($break-small) {
      justify-content: flex-end;
    }
  }

  .scroll-top #showScrollButton {
    top: 120px;

    @include breakpoint($break-small) {
      top: 10px;
    }
  }
}

.location-finder-container-mobile {
  position: relative;

  .content-panel-footer_container {
    bottom: -1px;
    height: 70px;
    position: sticky;
  }

  .mobile-content {
    flex: 1 1 auto;
    margin-top: 2rem;

    .results-content-blocks {
      .empty-results-container {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }

  }

  .mapview {
    height: calc(100vh - 114px);
    left: 0;
    top: 50px;
    width: 100vw;

    .branch-details_container {
      background-color: $color-white;
      border-radius: $border-radius-med;
      bottom: 20px;
      box-shadow: $depth-3;
      left: 20px;
      padding: 12px;
      position: absolute;
      width: calc(100vw - 40px);
      z-index: 2;

      .results-content-blocks {
        border: none;
        margin: 0;
        padding: 0;

        h6 {
          margin-bottom: 5px;
          margin-top: 5px;
        }
      }
    }
  }

  .sliderotate-enter-active, .sliderotate-leave-active {
    transition: all .75s ease-out;

    #closeicon {
      transition: all .75s;
    }
  }
  .sliderotate-enter, .sliderotate-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    transform: translateY(100%);

    #closeicon {
      transform: rotate(-180deg);
    }
  }
}

.hover-card {
  margin-bottom: 45px;
  max-height: 150px;
  width: 360px;

  a {
    color: $color-blue;
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius-med;
    box-shadow: $depth-3;

    .leaflet-popup-content {
      margin: 1.4rem;
    }
  }

  .leaflet-popup-tip-container {
    display: none;
  }

  .results-content-blocks_title-mile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .small-grey__heading-6 {
    color: $color-grey-38;
    margin: 0;
  }

  .small-grey__paragraph {
    color: $color-grey-38;
    font-size: .71429rem;
    line-height: 2rem;
    margin: 0px;
  }

  .heading-6 {
    margin: 5px 0px;
  }

  .phone-paragraph {
    margin: 5px 0;
  }

  .heading-4 {
    color: $color-blue;
    cursor: pointer;
    flex: 1 1;
    margin: 5px 0px;
    text-decoration: underline;
  }
}

.leaflet-resp-popup-south,
.leaflet-resp-popup-south-east,
.leaflet-resp-popup-south-west {
  margin-top: -30px;
}

.leaflet-bottom {
  bottom: 64px;
}

