<div class="location-finder-container grid">
  <div class="location-finder-content-panel column">
    {% include "@organisms/location-finder/content-panel/content-panel.twig" %}
    {% include "@molecules/location-finder/content-panel-footer/content-panel-footer.twig" %}
  </div>
  <div class="location-map column">
    {% include "@base/layouts/placeholders/_placeholders.twig"
      with {
        title: "Map"
      }
    %}
  </div>
</div>
