<template>
  <div>
    <!-- Iterate over all equipment attributes, Eg. "Platform Height" -->
    <template v-for="(attribute, idx) in equipmentAttributes">
      <div
        v-if="Object.keys(attribute.children).length"
        :key="'equipmentAttributes' + idx"
        :label="'equipmentAttributes' + idx"
      >
        <h6 class="heading-6" v-html="attribute.name" v-if="groupHasEquipment(attribute.children)"></h6>
        <ul>
          <!-- on click create a filter via vuex or remove it -->
          <template v-for="(filter, index) in attribute.children">
            <ur-checkbox
              v-if="filter.catClasses"
              :key="'checkbox' + index"
              :checked="selectedFilters.includes(filter.id)"
              :label="filter.name + ' (' + filter.catClasses.length + ')'"
              @change="onClick($event, filter, attribute)"
            />
          </template>
        </ul>
      </div>
    </template>
  </div>
</template>
<script type="text/babel">
  import UrCheckbox from '@/components/common/ur-checkbox';
  import UrGtm from '@/mixins/ur-gtm';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import { isEmpty, uniq, assign, reduce } from 'lodash';


  export const keyEquipmentFiltersById = data => reduce(data, (result, value) => {
    // Recursively flatten filters and their children into a map of {filter.id: filter}
    // This could be a vuex getter. Put here for now to avoid adding more to store.
    assign(result, { [value.id]: value }, keyEquipmentFiltersById(value.children));
    return result;
  }, {});

  export default {
    props: {
      urlQueryKey: {
        type: String,
        default: 'equipment_filters',
        description: 'The search param/query key we look for when inferring active filters from the URL',
      },
    },
    components: {
      UrCheckbox,
    },
    computed: {
      ...mapGetters([
        'equipmentAttributes',
      ]),
      ...mapState({

        /**
         * Keep track of the selected filters in order to keep the checkboxes in sync
         * @param {object} state | vuex
         * @return {string[]} ids of selected filters
         */
        selectedFilters: state => state.facets.selectedFilters,

        keyedEquipmentFilters() {
          return keyEquipmentFiltersById(this.equipmentAttributes);
        },
      }),
    },
    watch: {
      selectedFilters(filters) {
        // When a filter has been de/selected, update the URL parameters
        const filterQuery = { [this.urlQueryKey]: uniq(filters).sort().join() };
        const query = assign({}, this.$route.query, filterQuery);
        this.$router.push({ query });
      },
    },
    created() {
      const unwatch = this.$watch('equipmentAttributes', () => {
        // *After* equipment data has been loaded into the store,
        // we can activate the URL filters. We only do this once.
        this.setFiltersFromUrl();
        unwatch();
      });
    },
    methods: {
      ...mapActions({
        createEquipmentFilter: types.facets.createEquipmentFilter,
        removeFilter: types.facets.removeFilter,
      }),

      /**
       * Parse the current route `?equipment_filters=x` for filter ID's, and
       * use those to bootstrap our current filters.
       */
      setFiltersFromUrl() {
        const urlFilterString = this.$route.query[this.urlQueryKey];
        if (!isEmpty(urlFilterString) && !isEmpty(this.equipmentAttributes)) {
          const urlFilters = urlFilterString.split(',');
          urlFilters.map(id => this.createEquipmentFilter(this.keyedEquipmentFilters[id]));
        }
      },

      /**
       * @param {array} group - the children of a filter attribute (group)
       * @return {boolean} whether or not there is equipment in any of the group's filters
       */
      groupHasEquipment(group) {
        return Object.values(group)
          .map(filter => filter.catClasses)
          .reduce((accumulated, current) => {
            if (current !== null) {
              accumulated = true;
            }
            return accumulated;
          }, false);
      },

      /**
       * Dispatches an action to add/Remove the filter. When a filter is created,
       * the action adds it to the list of selected filters.  This in turn causes Vue
       * to rerun the `filteredEquipment` computation
       * (see module.catalog.js, getters.filteredEquipment).
       *
       * TODO: Once complete, verify the API will be passing catClasses as expected
       *
       * @param {boolean} isChecked state of the checkbox
       * @param {object} filter data
       * @param {object} attribute object
       */
      onClick(isChecked, filter, attribute) {
        if (isChecked) {
          this.gtmTrackFilterCategoriesInteractions(attribute.name, filter.name);
          this.createEquipmentFilter(filter);
        }
        else {
          this.removeFilter(filter.id);
        }
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'equipmentAttributesFilter',
  };
</script>
