<template>
  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      <a class="link" @click="toggle">{{ label }}</a>
      <i class="icon icon-angle-up" :class="{rotate: collapsed}" @click="toggle"></i>
    </div>
    <transition name="tbSlideFade">
      <div v-if="!collapsed" class="filter-panel__content">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>
<script type="text/babel">
  export default {
    data() {
      return {
        collapsed: false,
      };
    },
    methods: {
      toggle() {
        this.collapsed = !this.collapsed;
      },
    },
    props: {
      label: String,
    },
  };
</script>
<style>
  .icon {
    transition: transform 0.5s ease;
  }
  .rotate {
    transform: rotate(180deg);
  }
</style>
