<template>
  <div v-show="attributesExist" class="filter-panel">
    <div class="filter-panel__label">
      <div class="container-inline">
        <h5 class="heading-5">{{ $i18n('facetedSearch.filters') }}</h5>
        <p class="collapse__paragraph link" @click="toggle">{{ (collapsed ? $i18n('ur.expand') : $i18n('ur.collapse')) }}</p>
      </div>
    </div>

    <transition name="tbSlideFade">
      <template v-if="!collapsed">
        <!-- Not in Kelex 1.0
        <content-container :label="$i18n('facetedSearch.availability')">
          <availability-filters></availability-filters>
        </content-container>
        -->

        <!-- Not in Kelex 1.0
        <content-container :label="$i18n('facetedSearch.price')">
          <price-filters></price-filters>
        </content-container>
        -->

        <!-- TODO Is Personalization in Kelex 1.0?
        <content-container :label="$i18n('facetedSearch.personalization')">
          <personalization-filters></personalization-filters>
        </content-container>
        -->

        <content-container :label="$i18n('facetedSearch.equipmentAttributes')">
          <equipment-attributes-filters/>
        </content-container>
      </template>
    </transition>
  </div>
</template>
<script type="text/babel">
  import { mapState, mapGetters } from 'vuex';
  import ContentContainer from './filter-panel-content-container.vue';
  import EquipmentAttributesFilters from './equipment-attributes-filters.vue';

  export default {
    components: {
      ContentContainer,
      EquipmentAttributesFilters,
    },
    computed: {
      attributesExist() {
        return Object.keys(this.equipmentAttributes).length > 0;
      },
      ...mapGetters([
        'equipmentAttributes',
      ]),
      ...mapState({
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        categories: state => state.facets.categories,
      }),
    },
    data() {
      return {
        collapsed: false,
      };
    },
    methods: {
      toggle() {
        this.collapsed = !this.collapsed;
      },
    },
  };
</script>
