<template>
  <div>
    <h6 class="heading-6">{{ $i18n('facetedSearch.personalization') }}</h6>
    <ul>
      <ur-checkbox label="My Favorites (19)" checked="true"/>
    </ul>

    <h6 class="heading-6">{{ $i18n('filterPanel.popularModels') }}</h6>

    <ul>
      <ur-checkbox label="Pioneer Pump PP63C17L11-TCD91 (17)" checked="true" />
      <ur-checkbox label="Magnum MTP4000S (14)" checked="true" />
    </ul>
  </div>
</template>
<script type="text/babel">
  import UrCheckbox from '@/components/common/ur-checkbox';

  export default {
    components: {
      UrCheckbox,
    },
  };
</script>
