<template>
  <div class="ur-slp-block ur-category-block">
    <h2 class="ur-category-block__title"
      v-show="hasTitle">
      {{ title }}
    </h2>
    <div class="ur-category-block__content">
      <div class="card heading-card"
        v-show="hasTitle">
        <div class="ur-category-block__title--wrapper">
          <h2 class="ur-category-block__title">{{ title }}</h2>
        </div>
      </div>

      <a :href="item.url" class="card" v-for="(item, index) in cards" :key="index">
        <ur-full-bleed-card
          :item="item"
          :key="index"
          :loading="loading" />
      </a>
    </div>
  </div>
</template>

<script>
  import UrFullBleedCard from '@/components/common/ur-full-bleed-card/ur-full-bleed-card.vue';

  export default {
    components: {
      UrFullBleedCard,
    },
    computed: {
      hasCTA() {
        return this.cta !== '';
      },
      hasTitle() {
        return this.title !== '';
      },
    },
    methods: {
    },

    data() {
      return {
      };
    },

    name: 'UrCategoryBlock',
    props: {
      cards: {
        type: Array,
        default: () => [],
      },
      cta: {
        type: String,
        default: '',
      },
      loading: {
        type: Boolean,
        default: false,
      },
      title: {
        type: String,
        default: '',
      },
    },
  };
</script>

<style lang="scss">
  @import'_01-variables.scss';

  $column-spacer: 12px;
  $row-spacer: 24px;

  .ur-category-block {
    background: $color-grey-5;
    padding-bottom: 44px;

    @media (min-width: $break-medium) {
      padding-bottom: 48px;
    }

    > .ur-category-block__title {
      display: block;

      @media (min-width: $break-medium) {
        display: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: left;
      overflow: scroll hidden;
      padding: 0 $row-spacer;
      @media (min-width: $break-medium) {
        flex-wrap: wrap;
        overflow: visible;
      }

    }

    &__title {
      font-size: $font-size-h2;
      line-height: 1;
      margin: 0;
      padding: 40px 0 32px;
      text-align: center;

      @media (min-width: $break-medium) {
        font-size: $font-size-h1;
      }

      &:after {
        @extend %decorative-bar-short;
      }

      &--wrapper {
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: flex-end;

        h2 {
          padding: 0;
        }
      }
    }

    .card {
      flex: 100%;
      flex-grow: 1;
      min-width: 75%;
      padding-left: $column-spacer;

      &:hover {
        color: $color-text-link;
      }

      &.heading-card {
        display: none;

        @media (min-width: $break-medium) {
          display: block;
          padding: 0;
        }

        + .card {
          padding-left: 0;

          @media (min-width: $break-medium) {
            padding-left: $column-spacer;
          }
        }
      }

      @media (min-width: $break-medium) {
        flex: 25%;
        max-width: 25%;
        min-width: auto;
        padding-left: $column-spacer;

        &:nth-child(-n + 4) {
          padding-top: $row-spacer + 4px;
        }

        &:nth-child(n + 5) {
          padding-top: $row-spacer;
        }

        &:nth-child(4n + 1) {
          padding-left: 0;
        }
      }

      .ur-full-bleed-card {

        &:hover {

          .ur-full-bleed-card__title {
            color: $color-text-link;
          }

        }
      }

      &:hover {
        text-decoration: none;
      }

      .ur-full-bleed-card {
        flex-grow: 1;
      }
    }

  }
</style>
