<template>
  <img class='image' :src="imgSrc || $i18n('catalog.defaultImageSrc')" />
</template>

<script>
  import { get } from 'lodash';
  /**
   * @vuese
   * @group Field
   * Orders:ListingField:Grid Sub-component
   * Pass in order equipment, handles async logic and
   * gets the equipment image for the order grid to properly display
   */
  export default {
    props: {
      /*
       * @vuese
       * @type WorkplaceOrder
       * Workplace Order Item
       */
      item: {
        type: Object,
        required: true,
      },
    },
    computed: {
      /*
       * @vuese
       * Get the catalog item based off the current item cat class
       */
      catalogItem() {
        return this.$store.state.catalog.equipment[this.item.catClass];
      },
      /*
       * @vuese
       * Get the equipment item url from catalog items
       */
      imgSrc: vm => get(vm, 'catalogItem.imageUrls[0]'),
    },
  };
</script>

<style lang="scss" scoped>
  .image {
    height: 85px;
    width: 85px;
  }
</style>
