@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Media: Teaser
// Teaser media
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Media Teaser
 */
.media--view-mode-teaser {
  img,
  video {
    display: block;
    height: auto;
    width: 100%;
  }
}
