<template>
  <a @click.stop="field.to(this.payload)">
    <field-value>
      {{ value }}
    </field-value>
  </a>
</template>

<script>
  import DetailField from '../field/detail-field.vue';

  export default {
    extends: DetailField,
    name: 'LinkDetailField',
  };
</script>
