<template>
  <a @click.stop="$router.push(field.to(payload))" class="fw-bold">
    <field-value>
      {{ value }}
    </field-value>
  </a>
</template>

<script>
  import ListingField from '../field/listing-field.vue';

  export default {
    extends: ListingField,
    name: 'LinkListingField',
  };
</script>
