<div class="platform-account-search">
    <div class="filter-field">
        <div class="search-by-term show-results"><input type="text" placeholder="Search " value="bui">
            <div class="results">

                <div class="result-wrapper"><a href="#"><span class="active-search-text">buisiness</span> (4)</a></div>
                <div class="result-wrapper"><a href="#"><span class="active-search-text">building</span> (2)</a></div>

            </div>
        </div>
    </div>
</div>
