@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Item - "Card" View Mode
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.node--type-item.node--view-mode-card,
.component-card.component-card--item,
.component-card.paragraph--view-mode-item-card,
.component-cards-wrapper__collection.component-card--item .component-card {
  @include gap(
    $property: padding,
    $sizes: $gap-b $gap-d $gap-d
  );

  background-color: $color-bg-light-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  > a {
    @include card-link();
    border-radius: $border-radius-med;
  }

  .field--name-field-item-cat-class-code {
    @include type-preset(20);

    color: $color-text-subtle;
    display: flex;
    text-transform: uppercase;

    @include media('>=m') {
      @include type-preset(30);
    }

    > div {
      float: none;
      font-weight: inherit;
      padding: 0;

      &:first-child::after {
        content: ':';
        margin-right: 0.25em;
      }
    }
  }

  .js-item-card__cta,
  .component-cta__footer {
    position: relative;
    width: 100%;
    z-index: 6;
  }

  .js-item-card__cta {
    @include gap(
      $sizes: $gap-e
    );
    @include btn(
      $style: primary
    );

    display: none;

    @include media('>=s') {
      display: block;
    }
  }

  .component-card__header {
    @include gap(
      $sizes: $gap-b
    );

    text-align: center;

    a:not(.component-cta__link) {
      @include link-btn();
      @include type-preset(
        $version: 20,
        $type: header,
        $multiline: 1
      );

      display: block;
      position: relative;
      z-index: 40;

      @include media('>=m') {
        @include type-preset(
          $version: 40,
          $type: header,
          $multiline: 1
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 50,
          $type: header,
          $multiline: 1
        );
      }
    }
  }

  h2 {
    @include type-preset(
      $version: 30,
      $type: header,
      $multiline: 2,
      $variable-space: false
    );

    @include media('>=s') {
      @include type-preset(
        $version: 60,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );
    }

    @include media('>=m') {
      @include type-preset(
        $version: 70,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );
    }
  }

  .node__content,
  .component-card__content {
    height: 100%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .component-card__text {
      @include gap(
        $sizes: $gap-b
      );

      h2 {
        @include type-preset(
          $version: 40,
          $type: header
        );

        color: $color-brand-primary;

        @include media('>=s') {
          @include type-preset(
            $version: 60,
            $type: header
          );
        }
      }

      p {
        @include type-preset(
          $version: 30,
          $multiline: 3
        );

        margin-top: 0;
      }

      .component-cta {
        @include gap(
          $sizes: $gap-e
        );

        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 70;
      }
    }
  }

  .node__footer {
    @include gap(
      $sizes: $gap-d
    );

    h2 {
      @include gap(
        $sizes: $gap-b
      );
    }
  }
}
