@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Taxonomy: Full Bleed Card
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

// Styles for both cards inside and outside of a cards wrapper
.term--view-mode-full-bleed-card,
.node--view-mode-card:not(.node--type-item),
.component-card.component-card--full-bleed,
.component-cards-wrapper__collection.component-card--full-bleed .component-card,
.view-project-uptime > .view-content > .slick-list > .slick-track > .views-row > article {
  display: flex;
  flex-direction: column;
  position: relative;

  > a {
    @include card-link();
    border-radius: $border-radius-med;
  }

  header:empty {
    display: none;
  }

  .term__content,
  .component-card__content,
  .node__content,
  .slick-track {
    background-color: $color-bg-light-primary;
    height: 100%;

    .field.field--name-field-teaser-image,
    .node__media,
    .component-card__media,
    .field--type-image {
      // Heights here are set from design specifications and can be found on the full bleed card styleguide page
      height: rem(180);
      overflow: hidden;
      position: relative;

      @include media('>=m') {
        height: rem(184);
      }

      @include media('>=l') {
        height: rem(212);
      }

      .media--type-icon {
        @include trl();

        &::before {
          @include trbl();

          background: $scrim-image;
          border-radius: $border-radius-med $border-radius-med 0 0;
          content: '';
          mix-blend-mode: multiply;
          width: 100%;
        }

        svg {
          color: $color-text-reverse;
          height: 50%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center;
        }
      }
    }

    .field--type-image.media--type-image,
    .media--type-image,
    .media--image,
    .media__image {
      img {
        border-radius: $border-radius-med $border-radius-med 0 0;
        display: block;
        height: rem(180);
        object-fit: cover;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;

        @include media('>=m') {
          height: rem(184);
        }

        @include media('>=l') {
          height: rem(212);
        }
      }
    }
  }

  footer,
  .node__padding,
  .component-card__padding {
    overflow: hidden;
    padding: rem($gap-a) rem($gap-b) rem($gap-b);

    @include media('>=m') {
      padding: rem($gap-b) rem($gap-c) rem($gap-c);
    }

    @include media('>=l') {
      padding: rem($gap-c) rem($gap-d) rem($gap-d);
    }

    @include media('>=xl') {
      padding: rem($gap-c) rem($gap-e) rem($gap-d);
    }

    a {
      position: relative;
      z-index: 5;
    }
  }

  .term__content + footer a,
  .component-card__header > a,
  .component-card__text > a,
  .node__header > a,
  .node__title > .node__pillar-links > li > a {
    @include link-btn();
    @include type-preset(
      $version: 20,
      $type: header,
      $multiline: 1
    );

    position: relative;
    z-index: 7;

    @include media('>=m') {
      @include type-preset(
        $version: 40,
        $type: header,
        $multiline: 1
      );
    }

    @include media('>=l') {
      @include type-preset(
        $version: 50,
        $type: header,
        $multiline: 1
      );
    }
  }

  p {
    @include gap(
      $sizes: $gap-a
    );

    @include type-preset(
      $version: 30,
      $multiline: 2
    );
  }

  footer:empty {
    display: none;
  }

  .post-date {
    @include gap(
      $sizes: $gap-a
    );

    @include type-preset(20);

    color: $color-text-subtle;

    @include media('>=s') {
      @include type-preset(40);
    }
  }

  // Setting non-variable space h2 for cards outside of cards wrapper
  .node__content .node__title,
  footer {
    h2 {
      @include gap(
        $property: padding-top,
        $sizes: $gap-a
      );

      @include type-preset(
        $version: 30,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );

      @include media('>=m') {
        @include type-preset(
          $version: 60,
          $type: header,
          $multiline: 2,
          $variable-space: false
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 70,
          $type: header,
          $multiline: 2,
          $variable-space: false
        );
      }
    }
  }

  // Setting padding and h2 for cards inside cards wrapper
  .component-card__header,
  .node__content .node__header,
  .field--name-field-pillars {
    h2 {
      @include gap(
        $property: padding-top,
        $sizes: $gap-a
      );

      @include type-preset(
        $version: 30,
        $type: header,
        $multiline: 2
      );

      @include media('>=m') {
        @include type-preset(
          $version: 60,
          $type: header,
          $multiline: 2
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 70,
          $type: header,
          $multiline: 2
        );
      }

      a {
        position: relative;
        z-index: 7;
      }
    }
  }

  .node__pillar-links {
    display: flex;
    list-style-type: none;
    padding: 0;

    li {
      @include gap(
        $property: padding-right,
        $sizes: $gap-b
      );
    }

    li:not(:first-of-type) {
      &::before {
        @include gap(
          $property: padding-right,
          $sizes: $gap-b
        );

        content: '|';
        float: left;
      }
    }
  }

  // Styles for if there is a CTA in cards inside a wrapper
  .component-cta {
    margin: 0 auto;

    .component-cta__footer {
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 70;
    }
  }
}

// override card padding for carousel cards on project uptime pages to account for different html structure
.node--type-project-uptime-pages.node--view-mode-carousel-card > .node__content {
  padding-top: 0;
}
