@charset 'UTF-8';

@import '../../globals';

// Styles for cards both in and out of cards wrappers
.node--view-mode-image-cards,
.component-card.component-card--image,
.component-cards-wrapper__collection.component-card--image .component-card {
  background-color: $color-bg-dark-primary;
  border-radius: $border-radius-med;
  height: rem(180);
  padding: rem($gap-c);
  position: relative;

  @include media('>=l') {
    height: rem(244);
  }

  > a {
    @include card-link();
    border-radius: $border-radius-med;
  }

  header:empty {
    display: none;
  }

  .node__content,
  .component-card__content {
    height: 100%;
    overflow: hidden;

    .field--type-image,
    .component-card__media {
      img {
        @include trbl();

        border-radius: $border-radius-med;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      &::before {
        @include trbl();

        background: $scrim-gradient-reverse-direction;
        border-radius: $border-radius-med;
        content: '';
        display: block;
        mix-blend-mode: multiply;
        z-index: 2;
      }

      // Adding this so you can see the images on an authenticated view
      .contextual-region {
        position: static;
      }
    }
  }

  header,
  .component-card__header h3,
  .component-card__header h2,
  .component-card__text {
    color: $color-text-reverse;
    position: relative;
    z-index: 3;
  }

  header,
  .component-card__header {
    > a {
      position: relative;
      z-index: 6;
    }
  }

  header,
  .component-card__header,
  .component-card__text {
    color: $color-text-reverse;
  }

  header,
  .component-card__header {
    h3 {
      @include type-preset(
        $version: 30,
        $type: header,
        $multiline: 1
      );

      text-transform: uppercase;

      @include media('>=m') {
        @include type-preset(
          $version: 40,
          $type: header,
          $multiline: 1
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 50,
          $type: header,
          $multiline: 1
        );
      }
    }

    > a {
      @include link-btn($style: reverse);
    }

    h2 {
      @include type-preset(
        $version: 40,
        $type: header,
        $multiline: 2
      );

      @include media('>=m') {
        @include type-preset(
          $version: 50,
          $type: header,
          $multiline: 2
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 70,
          $type: header,
          $multiline: 2
        );
      }
    }

    .field--name-field-copy p {
      @include type-preset(
        $version: 30,
        $multiline: 2
      );
    }

    .node__date {
      @include type-preset(30);

      display: none;
      margin-top: rem($gap-a);

      @include media('>=m') {
        display: block;
      }
    }
  }

  footer:empty {
    display: none;
  }
}

// Styles for cards outside cards wrapper
.view-company-cards {
  .view-content {
    @include media('>=m') {
      @include grid-parent(
        $gutter-vertical: true
      );
    }
  }

  .views-row {
    @include media('>=m') {
      @include grid-col(6);
    }

    &:nth-child(even) {
      .node--view-mode-image-cards {
        background-color: $color-bg-dark-secondary;

        @include media('>=m') {
          background-color: $color-bg-dark-primary;
        }
      }
    }

    &:nth-child(3n+1) {
      .node--view-mode-image-cards {
        @include media('>=m') {
          background-color: $color-bg-dark-secondary;
        }
      }
    }
  }
}

.node--view-mode-image-cards {
  align-items: flex-end;
  display: flex;

  @include media('>=s') {
    padding: rem($gap-c) rem($gap-e) rem($gap-c) rem($gap-d);
  }

  @include media('>=m') {
    padding-right: rem($gap-f);
  }

  @include media('>=l') {
    padding-right: rem($gap-g);
  }
}

// Styles for cards inside cards wrapper
.component-card.component-card--image,
.component-cards-wrapper__collection.component-card--image .component-card .component-card__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .component-card__text {
    width: 100%;

    p {
      @include type-preset(
        $version: 30,
        $multiline: 2
      );

      color: $color-text-reverse;
      position: relative;
      z-index: 17;
    }

    .component-cta {
      margin: 0 auto;

      .component-cta__footer {
        padding: 0;
        position: relative;
        text-align: center;
        z-index: 70;
      }
    }
  }
}

.component-card.component-card--image,
.component-cards-wrapper__collection.component-card--image > .component-card {
  background-color: transparent;

  &.slick-slide {
    height: rem(180);
  }
}
