@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Card: Textual
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

// Styles for both cards inside and outside of a cards wrapper
.component-card.component-card--textual,
.component-cards-wrapper__collection .component-card.component-card--textual,
.component-cards-wrapper__collection.component-card--textual .component-card {
  background-color: $color-blue-subtle;

  > a {
    pointer-events: none;
    z-index: -1;
  }

  h2 {
    height: auto;
  }

  .component-card__content {
    background-color: transparent;
    height: 100%;
    justify-content: space-between;
  }

  .component-card__media {
    font-size: rem(20);
    width: 100%;

    .field--type-image {
      vertical-align: bottom;
    }
  }

  .component-card__padding {
    cursor: default;
  }
}
