@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Taxonomy: card tile
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */
.term--view-mode-card-tile {
  background-color: $color-bg-light-primary;
  color: $color-text-subtle;
  display: flex;
  padding: rem($gap-b);
  position: relative;

  a {
    @include card-link();
    border-radius: $border-radius-med;
  }

  h2 {
    @include type-preset(
      $version: 30,
      $type: header,
      $multiline: 3,
      $variable-space: false
    );

    color: inherit;

    @include media('>=m') {
      @include type-preset(
        $version: 40,
        $type: header,
        $multiline: 3,
        $variable-space: false
      );

      margin-right: rem($gap-c);
    }
  }

  h3:empty {
    display: none;
  }

  .media--type-icon {
    margin: 0;
   }

  .field--type-image {
    height: $icon-size-xlarge;

    @include media('>=m') {
      height: $icon-size-xxlarge;
    }

    svg {
      height: $icon-size-xlarge;
      overflow: hidden;
      padding: 0;
      width: $icon-size-xlarge;

      @include media('>=m') {
        height: $icon-size-xxlarge;
        width: $icon-size-xxlarge;
      }
    }
  }

  .term__content {
    @include gap(
      $sizes: $gap-d,
      $property: padding-top
    );

    align-self: flex-end;
    margin-left: auto;
  }
}
