@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Taxonomy: Default Cards
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Component
 */

.term--view-mode-card,
.component-card.component-card--default,
.component-card.paragraph--view-mode-sub-category-card,
.component-cards-wrapper__collection.component-card--default .component-card,
.component-card.component-card--textual,
.component-cards-wrapper__collection .component-card.component-card--textual,
.component-cards-wrapper__collection.component-card--tile .component-card,
.component-card--tile,
.component-cards-wrapper__collection.component-card--textual .component-card  {
  @include gap(
    $property: padding,
    $sizes: $gap-c $gap-d,
    $breakpoint: $bp-m
  );

  background-color: $color-bg-light-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  > a {
    @include card-link();

    border-radius: $border-radius-med;
  }

  header,
  .component-card__header {
    width: 100%;

    a:not(.component-cta__link) {
      @include link-btn();
      @include type-preset(
        $version: 20,
        $type: header,
        $multiline: 1
      );

      display: block;
      overflow: hidden;
      position: relative;
      z-index: 40;

      @include media('>=m') {
        @include type-preset(
          $version: 40,
          $type: header,
          $multiline: 1
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 50,
          $type: header,
          $multiline: 1
        );
      }
    }
  }

  .component-cta {
    margin: 0 auto;

    .component-cta__footer {
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 70;
    }
  }

  h2 {
    @include type-preset(
      $version: 40,
      $type: header,
      $multiline: 2,
      $variable-space: false
    );

    overflow: hidden;
    padding-top: rem($gap-a);

    @include media('>=m') {
      @include type-preset(
        $version: 70,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );
    }

    @include media('>=l') {
      @include type-preset(
        $version: 80,
        $type: header,
        $multiline: 2,
        $variable-space: false
      );
    }
  }

  .component-card__media,
  .term__content {
    align-self: center;
    margin-top: rem($scale-6);

    @include media('>=s') {
      margin-top: rem($scale-5);
    }

    @include media('>=l') {
      margin-top: rem($scale-10);
    }

    img {
      max-width: rem(124);
      width: 100%;

      @include media('>=m') {
        max-width: rem(256);
      }

      @include media('>=l') {
        max-width: rem(276);
      }
    }
  }

  // Specific styles for cards in cards wrappers
  .component-card__content {
    display: flex;
    flex-direction: column;

    .component-card__header {
      order: 1;
    }

    .component-card__media {
      order: 2;
    }

    .component-card__text {
      order: 3;
    }
  }

  .component-card__text {
    p {
      @include type-preset(
        $version: 30,
        $multiline: 3
      );

      margin-top: 0;
    }
  }
}
