{#
/**
 * Available variables:
 * - list_dl_modifiers - array of modifiers to add to the base classname
 * - list_dl_blockname - blockname prepended to the base classname
 *
 * - listItems - TBD
 */
#}
<dl class="list-dl{% for modifier in list_dl_modifiers %} list-dl--{{ modifier }}{% endfor %}{% if list_dl_blockname %} {{ list_dl_blockname }}__list-dl{% endif %}">
  {% for dl_item in list_dl %}
    {% include "@atoms/03-lists/_list-item-definition.twig"
      with {
        "dl_term": dl_item.dl_term,
        "dl_definitions": dl_item.dl_definitions,
      }
    %}
  {% endfor %}
</dl>
