{#
/**
 * Available variables:
 * - list_item_modifiers - array of modifiers to add to the base classname
 * - list_item_blockname - blockname prepended to the base classname
 * - list_item_label - (optional) a <strong> label before the list item itself
 * - list_item_content - the content of the list_item (typically text)
 * - list_item_link - url path for the link
 *
 * Available blocks:
 * - list_item_content - used to replace the content of the list_item with something other than text
 *   for example: to insert the image and/or link components
 */
#}

{% set list_item_content_combined %}
  {% if list_item_label %}<strong>{{ list_item_label }}</strong> {% endif %}
  {{ list_item_content }}
{% endset %}

<li class="list-item{% for modifier in list_item_modifiers %} list-item--{{ modifier }}{% endfor %}{% if list_item_blockname %} {{ list_item_blockname }}__list-item{% endif %}">
  {% block list_item_content %}
    {% if list_item_link %}
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": list_item_content_combined,
          "link_url": list_item_link,
        }
      %}
    {% else %}
      {{ list_item_content_combined }}
    {% endif %}
  {% endblock %}
</li>
