ul,
ol {
  margin-left: 1em;
  padding-left: 12px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.list-item {
  padding-left: 1em;
  font-size: $font-size-base;
  line-height: 1.7142857143; //24px
  margin-bottom: 0.5714285714rem; //8px
}

.dl-definition {
  font-size: $font-size-base;
  line-height: 1.7142857143; //24px
  margin-bottom: 0.5714285714rem; //8px
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  ol, ul {
    li {
      @extend .list-item;
      margin-bottom: 1.4285714286rem; //20px
    }
  }
}
