@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?59alyw');
  src:  url('../fonts/icomoon.eot?59alyw#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?59alyw') format('truetype'),
  url('../fonts/icomoon.woff?59alyw') format('woff'),
  url('../fonts/icomoon.svg?59alyw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-remove: "\e15b";

.icon {
  font-family: 'icomoon' !important;
  color: inherit;
  font-size: inherit;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
//, .icon-base

.icon-hero {
  @include breakpoint(max-width $break-small - 1) {
    padding-top: 7px;
    height: 0;
  }
}

.icon-close-hero {
  @include breakpoint(max-width $break-small - 1) {
    margin-top: 7px;
  }
}

/**
 * Modifiers
 */

.icon-circle {
  @extend .icon;
  background-color: $color-utility-positive;
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  text-align: center;
  width: 1em;

  &::before {
    color: $color-white;
	  font-size: 0.8em;
  }

  &.icon-error {
    background-color: $color-utility-negative;

    &::before {
      color: $color-white;
    }
  }
}

.icon-highlight {
  color: $color-utility-positive;
}

.icon-inactive {
  opacity: 0.4;
}

.icon-error {
  @extend .icon;

  &::before {
	  color: $color-utility-negative;
  }
}

.icon-flippable {
  display: inline-block;
  min-height: $font-size-base;
  min-width: $font-size-base;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    transform: rotateX(0) translateY(-25%);
    transform-origin: 50% 0%;
    transition: all $animation-speed $anim-ease;
  }
}
.icon-flipped {
  &::before {
    transform: rotateX(180deg) translateY(-50%);
  }
}

.icon-inactive {
  opacity: 0.4;
}

.icon-large {
  @extend .icon;
  font-size: 1.4285714286rem;
}

.icon-xlarge {
  @extend .icon;
  font-size: $font-size-display1;
}

.icon-search-herobar:before {
  color: $color-grey-79;
  content: "Search";
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $font-size-large;
  opacity: 0.8;
}

.icon-map-marker-hero:before {
  border-left: $color-border $border-light solid;
  color: $color-grey-79;
  content: "Location";
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $font-size-large;
  left: 0;
  padding-left: 10px;
  opacity: 0.8;
}

/**
 * Characters
 */

/** These are alphabetized. */

.icon-add:before {
  content: "\e145";
}
.icon-arrow-down:before {
  content: "\ea3f";
}
.icon-arrow-up:before {
  content: "\ea3b";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-close-circle:before {
  content: "\e5c9";
}
.icon-eye-off:before {
  content: "\e8f5";
}
.icon-fuel:before {
  content: "\e546";
}
.icon-more:before {
  content: "\e5d3";
}
.icon-more-vert:before {
  content: "\e5d4";
}
.icon-notification:before {
  content: "\e24c";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-remove:before {
  content: $icon-remove;
}
.icon-sort:before {
  content: "\e0c3";
}
.icon-telematics:before {
  content: "\e90c";
}
.icon-views:before {
  content: "\e90a";
}

/** TODO: These are not alphabetized for some reason. */

.icon-time:before {
  content: "\e94e";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-location-arrow:before {
  content: "\e903";
}
.icon-fax:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-search:before {
  content: "\f002";
}

.icon-search-hero:before {
  content: "\f002";
  @include breakpoint(max-width $break-small - 1) {
    display: none;
  }
}

.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-user-circle:before {
  content: "\e90b";
}
.icon-th-grid:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-cog:before {
  content: "\f013";
}
.icon-special-deals:before {
  content: "\f02b";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-calendar:before {
  content: "\f133";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-chart-line:before {
  content: "\f201";
}
.icon-facebook:before {
  content: "\f230";
}
.icon-angle-double-up:before {
  content: "\e902";
}
.icon-map:before {
  content: "\e905";
}
.icon-info-circle:before {
  content: "\e906";
}
.icon-print:before {
  content: "\e907";
}
.icon-percent:before {
  content: "\e908";
}
.icon-shield:before {
  content: "\e909";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-lock:before {
  content: "\f023";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-comments:before {
  content: "\f086";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-download:before {
  content: "\f019";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-sort:before {
  content: "\e0c3";
}
.icon-add:before {
  content: "\e145";
}
.icon-close-circle:before {
  content: "\e5c9";
}
.icon-notification:before {
  content: "\e24c";
}
.icon-fuel:before {
  content: "\e546";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-eye-off:before {
  content: "\e8f5";
}
.icon-more:before {
  content: "\e5d3";
}
.icon-more-vert:before {
  content: "\e5d4";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-views:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\ea3b";
}
.icon-arrow-down:before {
  content: "\ea3f";
}
.icon-time:before {
  content: "\e94e";
}
