$modal-framed-height: 80vh;
$modal-framed-header: 92px;
$modal-framed-footer: 71px;

.modal-framed {
  height: $modal-framed-height;
}

.modal-framed.height-auto {
  height: auto;
  .modal-framed__main {
    height: auto;
  }
}

.modal-framed__header {
  height: $modal-framed-header;
  border-bottom: 1px solid $color-grey-11;
  padding: 20px 15px;

  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.modal-framed__main {
  height: calc((#{$modal-framed-height} - 2px) - (#{$modal-framed-header} + #{$modal-framed-footer}));
  background-color: $color-grey-2;
  overflow: auto;
}

.modal-framed__footer {
  height: $modal-framed-footer;
  border-top: 1px solid $color-grey-11;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .button {
    width: 150px;
    margin-right: 15px;
  }
}

.modal-framed__content {
  display: inline-block;
  padding: 20px;
  .flex-row-mobile {
    min-height: calc((#{$modal-framed-height} - 2px) - (#{$modal-framed-header} + #{$modal-framed-footer}));
  }
  .select .dropdown-style1{
    padding-right: 35px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .select {
    height: 32px;
  }

  label.label-field-name,
  label.label-selection {
    font-weight: 400;
    color: $color-grey-69;
  }
}

.modal-framed__group {
  border-bottom: 1px solid $color-grey-11;
  padding: 15px 0;

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &:first-child {
    padding-top: 0;

    .modal-framed__group-title {
      margin-top: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  .form-item--checkbox__item .label-selection {
    font-weight: normal;
    color: $color-blue;
  }
}

.modal-framed__group-title {
  font-weight: bold;
  text-transform: uppercase;
}
