<div class="modal-framed">
  <div class="modal-framed__header">
    <h3>Customize Columns</h3>
    <p>Choose which data to display in the list view.</p>
  </div>
  <div class="modal-framed__main">
    <div class="modal-framed__content">
      <div class="modal-framed__group">
        <p class="modal-framed__group-title">Group Name</p>
        <ul>
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
        </ul>
      </div>
      <div class="modal-framed__group">
        <p class="modal-framed__group-title">Group Name</p>
        <ul>
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
        </ul>
      </div>
      <div class="modal-framed__group">
        <p class="modal-framed__group-title">Group Name</p>
        <ul>
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
        </ul>
      </div>
      <div class="modal-framed__group">
        <p class="modal-framed__group-title">Group Name</p>
        <ul>
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
          {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig"
            with {
              attributes: {
                storage: {
                  title: "Title"
                }
              }
            }
          %}
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-framed__footer">
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        button_url: "/",
        button_content: "Cancel",
        button_modifiers: ["style-2", "secondary"]
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig"
      with {
        button_url: "/",
        button_content: "Update View",
        button_modifiers: ["style-2", "filled"]
      }
    %}
  </div>
</div>
