<template>
  <section class="flex-column flex-gap-20 m-t-10">
      <div class="flex-row flex-gap-10 align-items-baseline top-edit-row m-b-12 section-title-container">
        <h3 class="left-label m-0">{{ $i18n('workplace.rescheduleRequest.locationDetails') }}</h3>
        <span>
      <q-button
        v-if="!editingLocationDetails && !readonly"
        @click="$emit('update:editingLocationDetails', true)"
        :text="$i18n('workplace.rescheduleRequest.edit')"
        size="regular"
        class="no-grow edit-button"
        buttonStyle="tertiary"/>
          </span>
      </div>
    <reschedule-request-edit-location-details
      v-if="editingLocationDetails"
      :bus="bus"
      :hasSavingError.sync="hasSavingError"
      :address="address"
      :contact="contact"
      :instructions="instructions"
      @cancel="$emit('update:editingLocationDetails', false)">
      <template slot-scope="pendingAddress">
        <ur-checkbox
          :labelClasses="{'fw-normal': true}"
          @change="useJobsiteAddress($event)"
          :checked="addressMatchesJobsiteAddress(pendingAddress.pendingAddress)"
          :label="addressMatchesJobsiteAddress(pendingAddress.pendingAddress)? useJobsiteAddressCheckboxLabel : $i18n('workplace.rescheduleRequest.useJobsite')"/>
      </template>
    </reschedule-request-edit-location-details>
    <div v-else class="flex-column flex-gap-10">
      <!-- Pickup address -->
      <div class="flex-row flex-gap-10 align-items-baseline location">
        <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupLocation') }}</span>
        <transition name="fadeEnterOnly">
          <div class="flex-column flex-gap-5 grow">
            <span v-if="addressMatchesJobsiteAddress(address)" class='field-content'>{{ jobsite.name }}</span>
            <span class='field-content' >{{ address.address1 }}</span>
            <span v-if="address.address2" class='field-content' >{{ address.address2 }}</span>
            <span class='field-content' >{{ address.city }}, {{ address.state }} {{ address.zip }}</span>
          </div>
        </transition>
      </div>
      <!-- Pickup contact -->
      <div class="flex-row flex-gap-10 align-items-baseline contact">
        <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupContact') }}</span>
        <transition name="fadeEnterOnly">
          <div class="flex-column flex-gap-5 grow">
            <span v-if="contact.contact" class='field-content' >{{ contact.contact }}</span>
            <span v-if="contact.phone" class='field-content' >{{ contact.phone | phoneFormat }}</span>
          </div>
        </transition>
      </div>
      <!-- Instructions -->
      <div class="flex-row flex-gap-10 align-items-baseline instructions">
        <span class="left-label">{{  $i18n('workplace.rescheduleRequest.instructions') }}</span>
        <transition name="fadeEnterOnly">
          <div v-if="instructionsAreBlank(instructions)" class="flex-column flex-gap-5 grow">
            <span><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
          </div>
          <div v-else class="flex-column flex-gap-5 grow">
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.equipmentLocation') }}</label>
            <span v-if="instructions.equipmentLocation" class='field-content' >{{ instructions.equipmentLocation }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.keyLocation') }}</label>
            <span v-if="instructions.keyLocation" class='field-content' >{{ instructions.keyLocation }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.daysHoursOfAccess') }}</label>
            <span v-if="instructions.accessTimes" class='field-content' >{{ instructions.accessTimes }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.additionalInstructions') }}</label>
            <span v-if="instructions.additional" class='field-content' >{{ instructions.additional }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
          </div>
        </transition>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import '../reschedule-request-modal.scss';
  @import '~breakpoint-sass/stylesheets/breakpoint';

  $_break-small: 768px;
  $_break-medium: 1024px;
  $_break-large: 1440px;
  $_break-xlarge: 1920px;
  //
  $left-label-width: 160px;
  //
  .flex-column.flex-gap-20 .field-content{

    line-height:1.5rem;
  }

  .flex-column.flex-gap-10 > :not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .flex-column.flex-gap-5 > :not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .location .flex-column.flex-gap-5 > :not(:last-child) {
    margin-bottom: 0.2rem;
  }
  .instructions .flex-column.flex-gap-5 > label:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  .flex-column.flex-gap-20 .left-label {
    width:100%;
    display: inline;
  }

  .flex-column.flex-gap-20 .flex-row.flex-gap-10.align-items-baseline .q-button /deep/ {
    display: inline;
  }

  .flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
    display: block !important;

    .left-label {
      display: block;
      margin-bottom: 0.7rem;
    }

  }

  .flex-column.flex-gap-10 .top-edit-row.flex-row.flex-gap-10.align-items-baseline {
    display: flex !important;
    justify-content: space-between;
    max-width: 442px;

    .q-button {
      display: flex;

      /deep/ span {
        margin-top: 2px;
      }
    }
  }

  @include breakpoint($_break-small) {

    .flex-column.flex-gap-10 > :not(:last-child).contact {
      margin-bottom: 1.5rem;
    }
    .flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
      display: flex !important;
      justify-content: normal;
    }
    .flex-column.flex-gap-10 .top-edit-row.flex-row.flex-gap-10.align-items-baseline {
      justify-content: normal;
    }
    .flex-column.flex-gap-20 .left-label {
      width:$left-label-width;
    }
    .flex-column.flex-gap-10 .flex-row.flex-gap-10.align-items-baseline {
      .left-label {
        margin-bottom: 0rem;
      }

    }
  }

  .edit-button {
    @extend %edit-button;
  }

  .left-label {
    @extend %left-label;
  }

  .q-checkbox /deep/ input[type=checkbox] {
    display: block;
  }
</style>

<script>

  import { mapActions, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';
  import RescheduleRequestEditLocationDetails from './edit-location-details.vue';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';

  export default {
    name: 'rescheduleRequestLocationDetails',
    components: {
      RescheduleRequestEditLocationDetails,
      UrCheckbox,
    },
    data() {
      return {
        hasSavingError: false,
        showInstructions: false,
      };
    },
    props: {
      bus: {
        type: Object,
      },
      editingLocationDetails: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapGetters({
        jobsite: types.workplace.rescheduleRequest.jobsite,
      }),
      ...mapState({

        address: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.address,
        contact: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.contact,
        instructions: ({ workplaceRescheduleRequest }) => workplaceRescheduleRequest.instructions,
      }),
      useJobsiteAddressCheckboxLabel() {
        return `${this.$i18n('workplace.rescheduleRequest.useJobsite')} ${this.jobsite.name}`;
      },
    },
    mounted() {
      if (this.bus) this.bus.$on('save', this.handleSave);
    },
    beforeDestroy() {
      if (this.bus) this.bus.$off('save', this.handleSave);
    },
    filters: {
      phoneFormat(value) {
        return value.replace(/[^0-9]/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
      },
    },
    methods: {
      ...mapActions({
        saveAddress: types.workplace.rescheduleRequest.saveAddress,
        saveContact: types.workplace.rescheduleRequest.saveContact,
        saveInstructions: types.workplace.rescheduleRequest.saveInstructions,
        setPickupAddressToJobsiteAddress: types.workplace.rescheduleRequest.setPickupAddressToJobsiteAddress,
      }),
      addressMatchesJobsiteAddress(address) {
        return address.address1 === (this.jobsite.address1 || '')
          && address.address2 === (this.jobsite.address2 || '')
          && address.city === (this.jobsite.city || '')
          && address.state === (this.jobsite.state || '')
          && address.zip === (this.jobsite.zip || '');
      },
      instructionsAreBlank(instructions) {
        return instructions.equipmentLocation === ''
          && instructions.keyLocation === ''
          && instructions.accessTimes === ''
          && instructions.additional === '';
      },
      async handleSave(details, resolve, reject) {
        try {
          await Promise.all([this.saveAddress(details.address), this.saveContact(details.contact), this.saveInstructions(details.instructions)]);
        }
        catch (err) {
          this.hasSavingError = true;
          setTimeout(() => {
            this.hasSavingError = false;
          }, 1500);
          if (reject) reject(false);
          return;
        }
        this.hasSavingError = false;
        this.$emit('update:editingLocationDetails', false);
        if (resolve) resolve(true);
      },
      async useJobsiteAddress($event) {
        if ($event) {
          await this.setPickupAddressToJobsiteAddress();
        }
      },
    },
  };

</script>
