.personal-information {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: $border-grey;

  .name-block {
    display: block;

    @include breakpoint($break-small) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 400px;
    }

    input {
      width: 187px;
    }
  }
}