<div class="personal-information">
  <div class="name-block">
    <div class="first-name">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: first_name
        }
      %}
      <input placeholder="Enter your first Name">
    </div>
    <div class="last-name">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Last Name"
        }
      %}
      <input placeholder="Enter your last Name">
    </div>
  </div>

  <div class="email">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Email"
      }
    %}
    <input placeholder="Enter your email">
  </div>

  <div class="company">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Company"
      }
    %}
    <input placeholder="Enter company (optional)">
  </div>
</div>