/*
---
name: Icons
category: Atoms
---

## Overview
The icon library utilizes icon fonts. The icon fonts used are abbreviated version of **font-awesome** and **Google Material** icons. It uses **Icomoon** to aggregate the different sets into one icon library.

All icon styles require the base `icon` class as well as the specific `icon-` class name to properly display.
***
Jump to:
[Google Material Icons](#google)
### <a name='icons-fontawesome'></a>Font Awesome
```icons-fontawesome:/components/_patterns/01-atoms/13-icons/icons-fontaweseome.html hidden
```

```icons-fontawesome:/components/_patterns/_styleguide-common.css hidden
```
```icons-fontawesome.css hidden
table th:first-child{
  width: auto;
}
table td:first-child{
  font-size: 1.5rem;
  text-align: center;
}
```
***
### <a name='icons-google'></a>Google Material
```icons-google:/components/_patterns/01-atoms/13-icons/icons-google.html hidden
```

```icons-google:/components/_patterns/_styleguide-common.css hidden
```
```icons-google.css hidden
table th:first-child{
  width: auto;
}
table td:first-child{
  font-size: 1.5rem;
  text-align: center;
}
```
[Jump to Font Awesome Icons](#fontawesome)

*/

*[class*="project-uptime-icon-"]:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0.5rem;
  z-index: 10;
}

*[class*="project-uptime-icon-"] {
  .hero__content-holder {
    @include breakpoint($break-small) {
      padding-top: 2rem;
    }
  }
}

.project-uptime-icon-all-articles:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-all-articles.svg');
}

.project-uptime-icon-data:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-data.svg');
}

.project-uptime-icon-equipment:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-equipment.svg');
}
 
.project-uptime-icon-expertise:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-expertise.svg');
}
  
.project-uptime-icon-rent-equipment:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-rent-equipment.svg');
}

.project-uptime-icon-safety:before {
  background-size: 120px;
  background-color: transparent;
  background-position: center 25px;
  background-repeat: no-repeat;
  background-image: url('../images/icons/src/project-uptime/icon-safety.svg');
}
