<table class="icon-wrapper">
    <thead>
        <tr>
            <th>
                <div>Icon</div>
            </th>
            <th>
                <div>Class Name</div>
            </th>
            <th>
                <div>Unicode</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <div class="icon icon-angle-down "> <br> </div>
                </div>
            </td>
            <td>icon-angle-down</td>
            <td>[U-f107]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-angle-up "> <br> </div>
                </div>
            </td>
            <td>icon-angle-up</td>
            <td>[U-f106]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-angle-left "> <br> </div>
                </div>
            </td>
            <td>icon-angle-left</td>
            <td>[U-f104]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon icon-angle-right "> <br> </div>
                </div>
            </td>
            <td>icon-angle-right</td>
            <td>[U-f105]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-angle-double-up "> <br> </div>
                </div>
            </td>
            <td>&nbsp;icon-angle-double-up</td>
            <td>[U-f102]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-bars "> <br> </div>
                </div>
            </td>
            <td>icon-bars</td>
            <td>[U-f0c9]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-calendar "> <br> </div>
                </div>
            </td>
            <td>icon-calendar-o</td>
            <td>[U-f133]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-caret-down "> <br> </div>
                </div>
            </td>
            <td>icon-caret-down</td>
            <td>[U-f0d7]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-chart-line"> <br> </div>
                </div>
            </td>
            <td>icon-line-chart</td>
            <td>[U-f201]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-pie-chart "> <br> </div>
                </div>
            </td>
            <td>icon-pie-chart</td>
            <td>[U-f200]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-check-circle "> <br> </div>
                </div>
            </td>
            <td>icon-check-circle</td>
            <td>[U-f058]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-chevron-down "> <br> </div>
                </div>
            </td>
            <td>icon-chevron-down</td>
            <td>[U-f078]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-chevron-left "> <br> </div>
            </td>
            <td>icon-chevron-left</td>
            <td>[U-f053]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-chevron-right "> <br> </div>
            </td>
            <td>icon-chevron-right</td>
            <td>[U-f054]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-cog "> <br> </div>
                </div>
            </td>
            <td>icon-cog</td>
            <td>[U-f013]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-comment "> <br> </div>
                </div>
            </td>
            <td>icon-comment</td>
            <td>[U-f075]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-comments "> <br> </div>
                </div>
            </td>
            <td>&nbsp;icon-comments</td>
            <td>[U-f086]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-download "> <br> </div>
            </td>
            <td>icon-download</td>
            <td>[U-f019]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon icon-arrows "> <br> </div>
                </div>
            </td>
            <td>icon-arrows</td>
            <td>[U-f047]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-envelope "> <br> </div>
                </div>
            </td>
            <td>icon-envelope</td>
            <td>[U-f0e0]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-envelope-o "> <br> </div>
                </div>
            </td>
            <td>icon-envelope-o</td>
            <td> <span>[U-f003]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-exchange "> <br> </div>
                </div>
            </td>
            <td>icon-exchange</td>
            <td>[U-f0ec]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-exclamation "> <br> </div>
                </div>
            </td>
            <td>icon-exclamation</td>
            <td>[U-f12a]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-facebook"> <br> </div>
                </div>
            </td>
            <td>icon-facebook-official</td>
            <td>[U-f230]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-fax "> <br> </div>
                </div>
            </td>
            <td>icon-fax</td>
            <td>[U-f1ac]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-file-text "> <br> </div>
                </div>
            </td>
            <td>icon-file-text</td>
            <td>[U-f15c]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-filter "> <br> </div>
                </div>
            </td>
            <td>icon-filter</td>
            <td>[U-f0b0]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-google-plus "> <br> </div>
                </div>
            </td>
            <td>icon-google-plus</td>
            <td>[U-f0d5]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-graduation-cap "> <br> </div>
                </div>
            </td>
            <td>icon-graduation-cap</td>
            <td>[U-f19d]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-hand-pointer-o "> <br> </div>
                </div>
            </td>
            <td>&nbsp;icon-hand-pointer-o&nbsp;</td>
            <td>[U-f25a]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-heart "> <br> </div>
                </div>
            </td>
            <td>icon-heart</td>
            <td>[U-f004]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-heart-o "> <br> </div>
                </div>
            </td>
            <td>icon-heart-o</td>
            <td>[U-f08a]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-info-circle "> <br> </div>
                </div>
            </td>
            <td>icon-info-circle</td>
            <td>[U-f05a]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-linkedin "> <br> </div>
                </div>
            </td>
            <td>icon-linkedin</td>
            <td> <span>[U-f0e1]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-long-arrow-left "> <br> </div>
                </div>
            </td>
            <td>icon-long-arrow-left</td>
            <td>[U-f177]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-long-arrow-right "> <br> </div>
                </div>
            </td>
            <td>icon-long-arrow-right</td>
            <td>[U-f178]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-location-arrow "> <br> </div>
                </div>
            </td>
            <td>&nbsp;icon-location-arrow</td>
            <td>[U-f124]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-lock "> <br> </div>
                </div>
            </td>
            <td>icon-lock</td>
            <td>[U-f023]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-map "> <br> </div>
                </div>
            </td>
            <td>icon-map</td>
            <td>[U-f279]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-map-marker "> <br> </div>
                </div>
            </td>
            <td>icon-map-marker</td>
            <td>[U-f041]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-paperclip "> <br> </div>
                </div>
            </td>
            <td>icon-paperclip</td>
            <td> <span>[U-f0c6]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-percent "> <br> </div>
                </div>
            </td>
            <td>icon-percent</td>
            <td>[U-f295]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-phone "> <br> </div>
                </div>
            </td>
            <td>icon-phone</td>
            <td>[U-f095]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-print "> <br> </div>
                </div>
            </td>
            <td>icon-print</td>
            <td> <span><span style="color: rgb(0,0,0);">[U-f02f]</span> </span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-search "> <br> </div>
                </div>
            </td>
            <td>icon-search</td>
            <td> <span>[U-f002]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-shield "> <br> </div>
                </div>
            </td>
            <td>&nbsp;icon-shield</td>
            <td>[U-F123]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-shopping-cart "> <br> </div>
                </div>
            </td>
            <td>icon-shopping-cart</td>
            <td> <span>[U-f07a]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-special-deals "> <br> </div>
                </div>
            </td>
            <td>icon-special-deals</td>
            <td>[U-f02b]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-star-o "> <br> </div>
                </div>
            </td>
            <td>icon-star-o</td>
            <td> <span>[U-f006]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-star-half-o "> <br> </div>
                </div>
            </td>
            <td>icon-star-half</td>
            <td> <span>[U-f123]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-star "> <br> </div>
                </div>
            </td>
            <td>icon-star</td>
            <td> <span>[U-f005]</span> </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-th-grid "> <br> </div>
                </div>
            </td>
            <td>icon-th-grid</td>
            <td>[U-f00a]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-th-list "> <br> </div>
                </div>
            </td>
            <td>icon-th-list</td>
            <td>[U-f00b]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-truck "> <br> </div>
                </div>
            </td>
            <td>icon-truck</td>
            <td>[U-f0d1]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-twitter "> <br> </div>
                </div>
            </td>
            <td>icon-twitter</td>
            <td>[U-f099]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-user "> <br> </div>
                </div>
            </td>
            <td>icon-user</td>
            <td>[U-f007]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-wrench "> <br> </div>
                </div>
            </td>
            <td>icon-wrench</td>
            <td>[U-f0ad]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-youtube"> <br> </div>
                </div>
            </td>
            <td>icon-youtube<br> </td>
            <td>[U-f16a]</td>
        </tr>
</tbody>
</table>
