<table>
    <thead>
        <tr>
            <th>
                <div>Icon</div>
            </th>
            <th>
                <div>Name</div>
            </th>
            <th>
                <div>Link</div>
            </th>
            <th>
                <div>Notes</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/icon-enter-prompt.jpg?version=1&amp;modificationDate=1496867310926&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>icon-enter-prompt</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B8hnC-nR-6QpM3JSdExZdTNBR2M" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B8hnC-nR-6QpM3JSdExZdTNBR2M</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/edit-your-order.png?version=2&amp;modificationDate=1497899225179&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>edit-your-order</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B7mfipMjGub8Vnp4SjhycVJ1Zkk" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B7mfipMjGub8Vnp4SjhycVJ1Zkk</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><object type="image/svg+xml" data="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/card-type-amex.svg?version=1&amp;modificationDate=1498505225325&amp;cacheVersion=1&amp;api=v2"></object></span></p>
                </div>
            </td>
            <td>
                <h5>card-type-amex</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B97gM0K5gr_SQzlwN3BlTXhzS2M" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B97gM0K5gr_SQzlwN3BlTXhzS2M</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/card-type-discover.svg?version=1&amp;modificationDate=1498505238053&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>card-type-discover</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B97gM0K5gr_SaEc4d0c1NGlVMGc" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B97gM0K5gr_SaEc4d0c1NGlVMGc</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/card-type-mastercard.svg?version=1&amp;modificationDate=1498505250222&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>card-type-mastercard</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B97gM0K5gr_SQVlKS0ozR0NvYlU" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B97gM0K5gr_SQVlKS0ozR0NvYlU</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/card-type-visa.svg?version=1&amp;modificationDate=1498505259561&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>card-type-visa</h5>
            </td>
            <td><a href="https://drive.google.com/open?id=0B97gM0K5gr_SYUVBY1VxNWpwdGc" class="external-link" rel="nofollow">https://drive.google.com/open?id=0B97gM0K5gr_SYUVBY1VxNWpwdGc</a></td>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <div>
                    <p><span><img src="https://unitedrentals.atlassian.net/wiki/download/attachments/1904761/telematics.png?version=1&amp;modificationDate=1503521990896&amp;cacheVersion=1&amp;api=v2"></span></p>
                </div>
            </td>
            <td>
                <h5>icon-telematics</h5>
            </td>
            <td>
                <div>
                    <p><a href="/wiki/download/attachments/1904761/ur_kelex_icon_telematics_24x24.svg?version=1&amp;modificationDate=1503521943168&amp;cacheVersion=1&amp;api=v2">ur_kelex_icon_telematics_24x24.svg</a></p>
                </div>
            </td>
            <td><br></td>
        </tr>
    </tbody>
</table>
