<table class="icon-wrapper">
    <thead>
        <tr>
            <th>
                <div>Icon</div>
            </th>
            <th>
                <div>Class Name</div>
            </th>
            <th>
                <div>Unicode</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <div class="icon icon-add">&nbsp;</div>
                </div>
            </td>
            <td>icon-add</td>
            <td>[U-f278]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-arrow-down">&nbsp;</div>
                </div>
            </td>
            <td>icon-arrow-down</td>
            <td>[U-f2fe]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-arrow-up">&nbsp;</div>
                </div>
            </td>
            <td>icon-arrow-up</td>
            <td>[U-f303]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-refresh">&nbsp;</div>
                </div>
            </td>
            <td>icon-refresh</td>
            <td>[U-e5d5]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-check">&nbsp;</div>
            </td>
            <td>icon-check</td>
            <td>[U-f26b]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-close-circle">&nbsp;</div>
                </div>
            </td>
            <td>icon-close-circle</td>
            <td>[U-f135]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-close">&nbsp;</div>
                </div>
            </td>
            <td>icon-close</td>
            <td>[U-E5CD]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-fuel">&nbsp;</div>
                </div>
            </td>
            <td>icon-fuel</td>
            <td>[U-f16f]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-more">&nbsp;</div>
            </td>
            <td>icon-more</td>
            <td>[U-f19c]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-more-vert">&nbsp;</div>
            </td>
            <td>icon-more-vert</td>
            <td>[U-f19b]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-notification">&nbsp;</div>
                </div>
            </td>
            <td>icon-notification</td>
            <td>[u-f1fe]</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-sort">&nbsp;</div>
                </div>
            </td>
            <td>Icon-sort</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-special-deals">&nbsp;</div>
                </div>
            </td>
            <td>Icon-special-deals</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-views">&nbsp;</div>
                </div>
            </td>
            <td>Icon-views</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon icon-eye-off">&nbsp;</div>
                </div>
            </td>
            <td>icon-eye-off</td>
            <td>[U-f15b]</td>
        </tr>
        <tr>
            <td>
                <div class="icon icon-time">&nbsp;</div>
            </td>
            <td>icon-time</td>
            <td>[U-f337]</td>
        </tr>
    </tbody>
</table>
