.filter-panel {

  &__label {
    margin: 38px 0 6px 0;

    .container-inline {
      display: flex;
      justify-content: space-between;

      .collapse__paragraph {
        color: $color-grey-38;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .heading-5 {
      margin: 0;
    }
  }

  &__content-container {
      border-bottom: 1px solid $color-grey-11;
  }

  &__parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      color: $color-grey-38;
      font-size: 12px;
      margin: 10px 0;
    }

    .icon-angle-down {
      margin-right: 20px;

      &.is-active {
        transform: rotate(180deg);
      }
    }
  }

  &__content{
    margin: 0 10px;

    h6:first-child {
      margin-top: 5px;
    }

    ul {
      margin-left: 0;
      padding-left: 0;
    }

    li:last-of-type {
      margin-bottom: 15px;
    }

    button:last-of-type {
      margin-bottom: 15px;
    }

    .heading-6 {
      margin-top: 16px;
      margin-bottom: 7px;
      text-transform: uppercase;
    }

    .form-item--checkbox__item {
      margin: 5px 0;

      .label-selection {
        float: none;
        font-size: 12px;
      }
    }

    .contextual-search-no-icon {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  .addFeature__button {
    display: inline-block;
    text-align: center;
    border: 1px solid $color-grey-11;;
    border-radius: 24px;
    padding: 0 12px;
    font-size: 10px;
    height: 20px;
    margin: 2.5px 0;
    width: auto;

    &.button--active {
      background: $color-grey-11;
    }
  }
}



/*
---
name: Product Search Filters
category: Organisms
---

* Filters are a set of controls which allow a user to refine and manipulate their results based upon a cascading set of preferences.
* Filters are divided by filter category. Each filter category is identified by a label.
* Filter elements will only include (multi-select) Checkboxes.
* Where applicable and available, filters should display a number in parentheses that indicates the number of results which will be displayed if that filter is applied.
* Fillters combine within each category similar to a AND function. Filters accross Filter Categories are addative in that cooresponding results need to meet the filter relquirements in each category.
* For example, if I select both Electric and Rough Terrain filters in the Equipment Type category I'd expect to see both electric and rough terrain boom lifts. If I also select the 24'-29' filter in the Platform Height category I'd expect to see electric and rough terrain boom lifts that have a height between 24' and 29'.

```filter-panel:filter-panel-example.html hidden
```

```filter-panel-example:/components/_patterns/02-molecules/product-cards/product-list-example.html hidden
```
```filter-panel-example.css hidden
.filter-panel{
  outline: 3px double #0050A9;
}
.catalog-listing .equipment-listing-full .list__container{
  min-height: auto;
}
.object_listing__details > i, .object-list-header aside, .filters__button{
  display:none;
}
```
### Mobile Layout
Instead of a filter sidebar, on mobile there is a button to toggle the visibility of the filter panel on and off.
```filter-panel-mobile:/components/_patterns/02-molecules/product-cards/product-list-example.html hidden
```
```filter-panel-mobile.css hidden
.nested-navigation{
  display:none;
}
.object_listing__details .icon-angle-down{
    position: absolute;
    top: 28px;
    right: 7%;
}
.object_listing__details__quick_view, .button--add-to-cart, .object_listing__actions{
  display: none;
}
.object_listing__image{
width: 44px;
}
```
```filter-panel-mobile.js hidden
window.frameElement.style.width = '400px';
var frameHeight = '1290px';
setTimeout(function(){
  window.frameElement.style.height = frameHeight;
},2000);

let $filterButton = document.querySelector('.filters__button');
$filterButton.addEventListener('click', function(){
  let $filterList = document.querySelector('.object-list-header .nested-navigation');
  let isActive = $filterButton.classList.contains('is-active');
  $filterList.style.display = 'block';
  frameHeight = isActive ? '1290px' : '2190px';
  if(isActive){
    $filterList.style.display = 'none';
  }
  $filterButton.classList.toggle('is-active');
  setTimeout(function(){
    window.frameElement.style.height = frameHeight;
  },500);
})
```
*/
