<div class="filter-panel">

  <div class="filter-panel__label">
    <div class="container-inline">
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
        with {
          "heading_5": fil_heading_5
        }
      %}
      <p class="collapse__paragraph link">Collapse</p>
    </div>
  </div>

  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": fil_parent_link_content,
          "link_url": "#"
        }
      %}
      <i class="icon icon-angle-down"></i>
    </div>
    <div class="filter-panel__content">
    </div>
  </div>

  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": "Price",
          "link_url": "#"
        }
      %}
      <i class="icon icon-angle-down"></i>
    </div>
    <div class="filter-panel__content">
    </div>
  </div>

  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": "Personalization",
          "link_url": "#"
        }
      %}
      <i class="icon icon-angle-down"></i>
    </div>

    <div class="filter-panel__content">
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "Personalization"
        }
      %}
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": personalization_checkbox_item_0,
          "key": 0
        }
      %}
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": personalization_checkbox_item_1,
          "key": 1
        }
      %}

      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "Popular Models"
        }
      %}


      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": "Pioneer Pump PP63C17L11-TCD91 (17)",
          "key": 2
        }
      %}
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": "Magnum MTP4000S (14)",
          "key": 3
        }
      %}
    </div>
  </div>

  <div class="filter-panel__content-container">
    <div class="filter-panel__parent">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": "Equipment Attributes",
          "link_url": "#"
        }
      %}
      <i class="icon icon-angle-down"></i>
    </div>
    <div class="filter-panel__content">
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "DIAMETER / SIZE"
        }
      %}
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": "3' or less (10)",
          "key": 4
        }
      %}
      {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
        with {
          "checkbox_item": "4' - 5.75' (65)",
          "key": 5
        }
      %}
      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "METER"
        }
      %}
      <div class="contextual-search-no-icon">
        {% include "@atoms/05-forms/select/select.twig"
          with {
            "select_content": "Select Meter",
            "select_attributes": select_attributes
          }
        %}
      </div>

      {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
        with {
          "heading_6": "ADDITIONAL FEATURES"
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Electical",
          "button_modifiers": button_modifiers,
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Diesel",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Gas-Powered",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "4WD",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Self-propelled",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Walk-behind",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Portable",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Cordless",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Reversible",
          "button_blockname": button_blockname
        }
      %}
      {% include "@atoms/06-buttons/style-1/01-button.twig"
        with {
          "button_content": "Handheld",
          "button_blockname": button_blockname
        }
      %}
    </div>
  </div>

</div>