<div class="filter-panel" style="">
    <div class="filter-panel__label">
        <div class="container-inline">
            <h5 class="heading-5">Filters</h5>
            <p class="collapse__paragraph link">Collapse</p>
        </div>
    </div>
    <div class="filter-panel__content-container">
        <div class="filter-panel__parent"><a class="link">Equipment Attributes</a> <i class="icon icon-angle-up"></i></div>
        <div class="filter-panel__content">
            <div>
                <h6 class="heading-6">Air Compressor &gt;<br> CFM Rating</h6>
                <ul>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="1mei6931v7" name="checkbox1mei6931v7" checked> <label for="1mei6931v7" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    3 - 15 cfm (4)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="v3jlu5g241g" name="checkboxv3jlu5g241g" checked> <label for="v3jlu5g241g" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    16 - 99 cfm (2)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="e6ccm3uv858" name="checkboxe6ccm3uv858" checked> <label for="e6ccm3uv858" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    100 - 349 cfm (4)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="7pqgh97n7go" name="checkbox7pqgh97n7go"> <label for="7pqgh97n7go" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    350 - 999 cfm (9)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="q74tnrnicn" name="checkboxq74tnrnicn"> <label for="q74tnrnicn" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    1,000 - 1,800 cfm (4)
  </label></li>
                </ul>
                <h6 class="heading-6">Air Compressor &gt;<br> Fuel Type</h6>
                <ul>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="ppdqtb3j9og" name="checkboxppdqtb3j9og"> <label for="ppdqtb3j9og" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    Electric (4)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="viga3t69vfg" name="checkboxviga3t69vfg"> <label for="viga3t69vfg" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    Gas (1)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="oqc25aspc2" name="checkboxoqc25aspc2"> <label for="oqc25aspc2" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    Gas / DSL (2)
  </label></li>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="uqccncm7418" name="checkboxuqccncm7418"> <label for="uqccncm7418" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    DSL (6)
  </label></li>
                </ul>
                <h6 class="heading-6">Air Compressor &gt;<br> Engine Tier</h6>
                <ul>
                    <li class="form-item--checkbox__item"><input type="checkbox" id="vn87et32tlo" name="checkboxvn87et32tlo"> <label for="vn87et32tlo" class="label-selection" style="margin: 0px auto; padding: 5px 0px;"><span style="margin-right: 0.571429rem;"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><title>check</title> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="check"><rect id="bg" x="0" y="0" width="16" height="16" rx="2"></rect> <polygon id="check" fill="#fff" points="11.2640018 5 7.40977042 8.8542314 5.18578834 6.63066861 4 7.81645695 7.40977042 11.2262274 12.4499998 6.18578834"></polygon></g></g></svg></span>
    Tier 4 (4)
  </label></li>
                </ul>
            </div>
        </div>
    </div>
</div>
