.modal-header.jobsite-modal-header {
  border-bottom: 1px solid $color-grey-11;
}
.jobsite-modal-body {
  .jobsite-form {
    .jobsite-form-row-inline {
      .state,
      .zip-code,
      .country {
        margin-left: 0;
      }
    }
  }
}

.modal-body.jobsite-modal-body {
  .select .dropdown-style1 {
    font-size: 16px;
  }
}

.jobsite-form {
  display: flex;
  flex-direction: column;

  label.form-item__label.form-item__label--textfield {
    margin: 8px auto 2px;
    @include breakpoint($break-small) {
      margin: 8px auto 7px;
    }
  }

  .form-group {
    display: flex;
    flex-direction: row;

    .form-item {
      flex: 1;
    }
  }

  h6 {
    margin: 15px 0 10px 0;
  }

  .code-number {
    display: flex;
    flex-direction: column;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    .code {
      .select {
        width: 75px;
      }

      select {
        width: 75px;
      }
    }

    .phone-number {
      margin-left: 0;

      input {
        width: 400px;
      }

      @include breakpoint($break-small) {
        margin-left: 15px;

        input {
          width: 310px;
        }
      }
    }
  }

  .zip-code-input,
  .city-input {
    width: 200px;
  }

  .city-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input,
    select {
      margin-right: 8px;
    }

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    select,
    .select {
      width: 92.5px;
    }

    .state {
      margin-right: 15px;
    }
  }

  input {
    height: 32px;
    margin: 0;
    border: $border-grey;
    border-radius: 2px;
    background-color: $color-white;
    appearance: none;
    outline: none;
  }

  textarea {
    border: $border-grey;
    background: $color-white;
    width: 400px;
    height: 100px;
    @include breakpoint($break-small) {
      margin-bottom: 20px;
    }
  }

  button {
    margin: 20px 0;
    width: 150px;
  }
}

.jobsite-modal-body {
  background-color: black;
  padding: 24px !important;

  input,
  select {
  }

  textarea {
    width: 100%;
  }
  .jobsite-form-row-inline {
    display: flex;
    flex-direction: column;
    .state,
    .zip-code,
    .country {
      margin-left: 7px;
    }
    .city,
    .state,
    .zip-code {
      margin-right: 7px;
    }
  }

  .jobsite-form-row-inline.jobsite-address {
    flex-wrap: wrap;
  }

  @include breakpoint($break-small) {
    input,
    select {
      margin-bottom: 0;
    }
    .jobsite-form-row-inline .ur-select {
      width: 128px;

      i.icon.icon-angle-down {
        top: 50%;
      }
    }

    .city .ur-text-input {
      width: 267px;
    }

    .zip-code .ur-text-input {
      width: 170px;
      margin-right: 0;
    }

    .contact-name {
      margin-left: 18px;
      margin-right: 18px;
    }

    .jobsite-form-row-inline {
      flex-direction: row;
    }
  }
}
