<div class="text">
  <p class="font-size--type-xsmall">.font-size--type-xsmall (10)</p>
  <p class="font-size--type-small">.font-size--type-small (12)</p>
  <p class="font-size--type-header-h5">.font-size--type-header-h5 (14)</p>
  <p class="font-size--type-header-h6">.font-size--type-header-h6 (12)</p>
  <p class="font-weight--bold">.font-weight--bold</p>
  <p class="text-transform--uppercase">.text-transform--uppercase</p>
</div>
