body {
  color: $color-grey-69;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

%paragraph {
  margin: 0 0 1em;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  line-height: 1.7142857143; // 24/14

  &--no-space {
    margin-bottom: 0;
  }
}

p {
  @extend .paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $border;
  margin-left: 1em;
  padding-left: 1em;
}

.img {
  max-width: 100%;
  height: auto;
}


.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

small {
  font-size: $font-size-small;
}

.font {
  &-size {
    &--type-xsmall {
      font-size: $font-size-xsmall;
    }

    &--type-small {
      font-size: $font-size-small;
    }

    &--type-large {
      font-size: $font-size-large;
    }

    &--type-header-h5 {
      font-size: $font-size-h5;
    }

    &--type-header-h6 {
      font-size: $font-size-h6;
    }
  }

  &-weight {
    &--bold {
      font-weight: bold;
    }
  }

  &-color {
    &--black {
      color: $color-black;
    }
  }
}

.text {
  &-transform{
    &--uppercase {
      text-transform: uppercase;
    }
  }
}

.margin {
  &--none {
    margin: 0;
  }
}

.word-break {
  word-break: break-word !important;
}

%type-paragraph-base {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 20px;
}


// Base Paragraph classes as defined: https://unitedrentals.atlassian.net/wiki/spaces/KD/pages/1044115/Typography
.type-paragraph-base {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 20px;
}

.type-paragraph-xlarge {
  font-family: $font-family-base;
  font-size: $font-size-xlarge;
  line-height: 28px;
}

.type-paragraph-large {
  font-family: $font-family-base;
  font-size: $font-size-large;
  line-height: 24px;
}

.type-paragraph-small {
  font-family: $font-family-base;
  font-size: $font-size-small;
  line-height: 20px;
}

.type-paragraph-xsmall {
  font-family: $font-family-base;
  font-size: $font-size-xsmall;
  line-height: 20px;
}

// Paragraph Bold classes
.type-paragraph-large-bold {
  @extend .type-paragraph-large;
  font-weight: bold;
}

.type-paragraph-xlarge-bold {
  @extend .type-paragraph-xlarge;
  font-weight: bold;
}
