.empty-cart-state {

  .icon-chevron-right {
    margin-right: 5px;
  }

  .icon-chevron-left {
    margin-left: 5px;
  }

  &__title {
    padding: 2%;
    background: $color-grey-2;
    height: 175px;

    h1 {
      margin: 0;
      line-height: 4rem;
    }

    p {
      padding: 0 2%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    .VueCarousel {
      &-navigation {
        display: none;

        @include breakpoint($break-small) {
          display: inline-block;
        }

        &--disabled {
          display: none;
        }
      }

      &-wrapper {
        padding: 10px;
      }
    }

    .product-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      margin: 5px auto;
      max-width: 200px;

      .object_listing__details__pricing {
        display: flex;
        flex-direction: column;

        &__chip {
          position: relative;
          left: 10px;
          bottom: 5px;
        }
      }

      .pricing-content {
        width: 170px;
        line-height: initial;
        flex-wrap: wrap;

        @include breakpoint($break-medium) {
          width: 175px;
        }
        
        div:first-child {
          flex: 1 1 100%;
          margin: 0 0 1em;
          .ur-chip-base {
            display: block;
            max-width: 120px;
            margin: 0 auto;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
          }
        }
  
        .time-period {
          display: flex;
          flex-direction: column;
          flex: 1 1 33%;
          margin-right: 0;
          margin: 0;
          text-align: center;
          span {
            margin-right: 0;
          }
        }
      }
    }
  }

  .empty-cart-carousel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      width: auto;
    }
  }

  .see-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 5px;

    h6 {
      color: $color-blue;
      cursor: pointer;
    }

    a {
      color: $color-blue;
      font-size: $font-size-h6;
      font-weight: bold;
      width: 85px;
      position: absolute;
      right: 0;
    }
  }

  .icon-long-arrow-right {
    color: $color-orange;
    margin: 10px;
    cursor: pointer;
  }
}
