<div class="payment-information-container">
  <div>
    <div>
      <div class="requisition-codes__container">
        <p class="heading-3">Requisition Codes</p>
        <div class="requisition-codes grid no-padding">
          <div class="requisition-code column">
            <div class="form-item">
              <label for="text-1">REQ TITLE ONE HERE</label>
              <input type="text" name="text-1" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>