.dropdown__holder {
  position: relative;
  color: $color-grey-38;

  &--stand-alone-styles {
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 0;

    .dropdown__button {
      height: 35px;
      margin: 15px 0 0 0;
      width: 41px;
    }

    .icon {
      right: unset;
      top: unset !important;
    }
  }

  &--active {
    .dropdown__container {
      display: block;
    }
  }

  &--right .dropdown__container {
    left: auto;
    right: 0;
  }

  &--borderless .dropdown__button {
    border:  none;
  }
  &--large .dropdown__button {
    font-size: 1.5rem;
  }
}

.dropdown__container {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: $white;
  border-radius: $border-radius-med;
  box-shadow: $shadow-heavy;
  padding: 8px 0;
}

.dropdown__description {
  &:not(:first-child) {
    border-top: 1px solid $color-grey-38;
    margin-top: 9px;
  }

  padding: 16px 0px 9px 16px;
  line-height: 16px;
  display: block;
  font-size: $font-size-small;
}

.dropdown__link {
  display: block;
  padding: 0 18px;
  color: $color-grey-38;
  line-height: 24px;
  white-space: nowrap;

  .icon {
    visibility: hidden;
    margin-right: 9px;
    color: $color-blue;
  }

  &:hover {
    text-decoration: none;
    color: inherit;
    background-color: rgba(221, 224, 226, 0.9);
  }

  &:visited {
    color: inherit;
  }

  &--active {
    color: $color-grey-69 !important;

    .icon {
      visibility: visible;
    }
  }

  &--border {
    border-top: $border-grey;
    padding-top: 3px;
    margin-top: 3px;
  }
}
