<div class="dropdown__holder {% if dropdown_active %}dropdown__holder--active{% endif %}">
    {% include "@atoms/06-buttons/dropdown-button/dropdown-button.twig"
      with {
        "dropdown_button_title": dropdown_button_title,
        "dropdown_button_icon": dropdown_button_icon
      }
    %}
    <div class="dropdown__container">
      <span class="dropdown__description">{{dropdown_description}}</span>
      {% for item in dropdown_option %}
        <a href="#" class="dropdown__link {% if loop.index0 == 1 %}dropdown__link--active{% endif %}{% if loop.last %} dropdown__link--border{% endif %}"><i class="icon icon-check-circle"></i>{{item}}</a>
      {% endfor %}
    </div>
  </div>
