<div class="search-result">
  <div class="search-result__wrapper">
    <div class="search-result__image">
      <span class="icon icon-file-text-o icon-xlarge"></span>
    </div>
    <div class="search-result__details">
      {% include "@atoms/02-text/00-headings/heading-4/heading-4.twig"
        with {
          "heading_4_url": url,
          "heading_4": title,
        }
      %}

      {% include "@atoms/02-text/text/01-paragraph.twig"
        with {
          "paragraph_content": body
        }
      %}
    </div>
  </div>
</div>
