{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('teaser-lists-details') }}>

  {% include '@organisms/teaser-lists/teaser-lists-details/teaser-lists-details.twig'
    with {
      "title": ds_content.node_title|render|striptags|replace({'&amp;':'&', '&#039;': "'"}),
      "image_src": ds_content.field_investor_relations_image|render|striptags|trim,
      "image_alt": ds_content.field_investor_relations_image[0]['#item'].values['alt']|render|striptags|trim,
      "investor_relations_details_view_url": ds_content.field_document[0]['#markup'],
      "investor_relations_details_view_content": "View PDF"|t,
      "investor_relations_details_download_url": ds_content.field_document[0]['#markup'],
      "investor_relations_details_download_content": "Download PDF"|t
    }
  %}

</{{ ds_content_wrapper }}>