<div class="cart__container">
  <div class="cart__jobs">
    {% include '@atoms/02-text/00-headings/heading-1/heading-1.twig'
      with {
        "heading_1": your_cart
      }
    %}
    <div class="cart__job-grouping">
      <div class="cart__job-title-area">
        {% include '@atoms/02-text/text/01-paragraph.twig'
          with {
            "paragraph_content": "Account Name #6789543210",
            "paragraph_blockname": "account_name"
          }
        %}
        {% include '@atoms/02-text/00-headings/heading-3/heading-3.twig'
          with {
            "heading_3": "Job Name"
          }
        %}
        {% include '@atoms/02-text/text/01-paragraph.twig'
          with {
            "paragraph_content": "2901 S. 1st, Austin, TX 78704",
            "paragraph_blockname": "address"
          }
        %}
      </div>
      {% if pickup_location %}
        {% include '@organisms/cart/pickup-location/pickup-location.twig'
          with {
            "ur_location": ur_location,
            "store_name": store_name,
            "directions_link_content": directions_link_content,
            "edit_link_content": edit_link_content
          }
        %}
      {% endif %}

      <div class="cart__needed-by">
        {% include '@atoms/02-text/text/01-paragraph.twig'
          with {
            "paragraph_content": "Needed By 12/27/17"
          }
        %}
      </div>

      <div class="editable-cart-item">
        <div class="cart__item">
          <div class="cart__img">
            A
          </div>
          <div class="cart__details">
            <div class="cart__cat_class_code">
              Cat Class Code: 310-3050
            </div>
            <div class="cart__details__name">
              Articulating Boom Lift, 30’, Electric
            </div>
            <div class="cart__details__pricing">
              $9,999
            </div>
            <div class="cart__details__content">
              <p><strong>QTY:</strong>  3 at $3,333 each</p>
              <p><strong>Duration:</strong> 12/27/17-12/29/17</p>
              <p><strong>Requester:</strong> Johnathon Simmons</p>
              <p><strong>Notes:</strong> User note, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet consectetur dui in porttitor. Phasellus viverra odio eget libero scelerisque porttitor.</p>
            </div>
          </div>
        </div>
        <div class="cart__details__actions">
          <a href="">Edit</a>
          <a href="">Delete</a>
          <a href="">Save for Later</a>
        </div>
        <div class="cart__details__actions__editing">
          <div class="links-left">
            <a href="">Delete</a>
            <a href="">Save for Later</a>
          </div>
          <div class="links-right">

            <a href="">Cancel</a>
            <button class="button button--style-2 button--filled">Save</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="cart__cost-summary">
    {% include "@base/layouts/placeholders/_placeholders.twig"
      with {
        "title": "Cart Cost Summary"
      }
    %}
  </div>
</div>
