<template>
  <div class="equipment-details-section delivery-pickup" :class="{'shimmer': !detailItemOrNull}">
    <h2>{{ $i18n('workplace.durationTitle') }}</h2>
    <div class="equipment-details-section__body flex-row flex-gap-10">
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.startDate')}}</p>
        <p>
          <span>{{ item.startDateTime | momentSlashYYFormat }}</span>
          <span>{{ startTime | momentFriendlyRoundedDownHourFormat }}</span>
        </p>
        <p v-if="item.urDeliver">{{ $i18n('checkout.urDelivery') }}</p>
        <p v-if="!item.urDeliver">{{ $i18n('checkout.userPickup') }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.estEnd')}}</p>
        <p>
          <span>{{ item.returnDateTime | momentSlashYYFormat }}</span>
          <span>{{ endTime | momentFriendlyRoundedDownHourFormat }}</span>
        </p>
        <p v-if="item.pickup">{{ $i18n('checkout.urPickup') }}</p>
        <p v-if="!item.pickup">{{ $i18n('checkout.userReturn') }}</p>
      </div>
    </div>
    <router-link v-if="showChangePickupPreferencesLink" :to="changePickupPreferencesLink">
      {{ $i18n('workplace.changePreferences') }}
      <i class="icon icon-before-long-arrow-right c-orange"></i>
    </router-link>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapGetters } from 'vuex';
  import moment from 'moment';
  import types from '@/store/types';
  import { WorkplaceEquipmentUtils, WorkplaceRouteNames } from '@/lib/workplace';

  export default Vue.extend({
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      item() {
        return this.detailItemOrNull || {};
      },
      startTime() {
        return moment(this.item.startDateTime);
      },
      endTime() {
        return moment(this.item.returnDateTime) || moment(this.item.endDateTime);
      },
      showChangePickupPreferencesLink() {
        return !!this.detailItemOrNull && WorkplaceEquipmentUtils.canRequestPickupAndExtendContract(this.detailItemOrNull);
      },
      changePickupPreferencesLink() {
        if (!this.detailItemOrNull) {
          return;
        }
        return {
          name: WorkplaceRouteNames.RequestEquipmentReschedule,
          params: {
            equipmentId: this.detailItemOrNull.equipmentId,
            rescheduleType: 'pickup',
            transId: this.detailItemOrNull.transId,
          },
          query: {
            transLineId: this.detailItemOrNull.transLineId,
            transId: this.detailItemOrNull.transId,
            originalPickup: this.detailItemOrNull.returnDateTime,
            contentSize: '90',
          },
        };
      },
    },
  });
</script>
