<template>
  <div class="equipment-details-section equipment-info" :class="{'shimmer': !detailItemOrNull}">
    <h2>{{ $i18n('workplace.equipmentInfoTitle') }}</h2>
    <div class="equipment-details-section__body flex-row flex-gap-10">
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.equipmentId')}}</p>
        <p>{{ item.equipmentId }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.serialNum')}}</p>
        <p>{{ item.serial ? item.serial : $i18n('workplace.noInfo') }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('ur.quantity')}}</p>
        <p>{{ quantity }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('reservationView.catClass')}}</p>
        <p>{{ item.catClass }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.makeLabel')}}</p>
        <p>{{ item.make || $i18n('workplace.noInfo') }} {{ item.model || $i18n('workplace.noInfo') }}</p>
      </div>
      <div class="flex-column flex-gap-10">
        <p>{{$i18n('workplace.year')}}</p>
        <p>{{ item.year ? item.year : $i18n('workplace.noInfo') }}</p>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapGetters } from 'vuex';
  import types from '@/store/types';
  import { WorkplaceEquipmentUtils } from '@/lib/workplace';

  export default Vue.extend({
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      item() {
        return this.detailItemOrNull || {};
      },
      quantity() {
        return WorkplaceEquipmentUtils.getStatusSpecificQuantity(this.item);
      },
    },
  });
</script>
