<template>
  <div class="equipment-details-section rental-rates" :class="{'shimmer': !detailItemOrNull }">
    <h2>{{ $i18n('workplace.rentalRatesTitle') }}</h2>
    <div class="equipment-details-section__body flex-row flex-gap-10">
        <div class="flex-column flex-gap-10">
          <p>{{$i18n('rates.daily')}}</p>
          <p>{{ item.dayRate | currency }} {{ item.currency }}</p>
        </div>
        <div class="flex-column flex-gap-10">
          <p>{{$i18n('rates.weekly')}}</p>
          <p>{{ item.weekRate | currency }} {{ item.currency }}</p>
        </div>
        <div class="flex-column flex-gap-10">
          <p>{{$i18n('rates.monthly')}}</p>
          <p>{{ item.monthRate | currency }} {{ item.currency }}</p>
        </div>
    </div>
    <a :href="linkToMarketplaceDetails">
      {{ $i18n('workplace.rentAnother') }}
      <i class="icon icon-before-long-arrow-right c-orange"></i>
    </a>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapGetters } from 'vuex';
  import types from '@/store/types';

  export default Vue.extend({
    computed: {
      ...mapGetters({
        detailItemOrNull: types.workplace.equipmentDetails.detailItemOrNull,
      }),
      item() {
        return this.detailItemOrNull || {};
      },
      linkToMarketplaceDetails() {
        const { catClass } = this.item;
        return `/marketplace/equipmentPageByCatClass/${catClass}`;
      },
      localEquipment() {
        return this.item.catClass || '';
      },
    },
  });
</script>
