<template>
  <div>
    <div>
      <div class="group-full">
        <h3>{{ $i18n('cart.pricing') }}</h3>
      </div>
      <item-rates
        :cat-class="catClass"
        :contract-rates="rates.contractPricing"
        :day-rate="rates.dayRate"
        :week-rate="rates.weekRate"
        :month-rate="rates.monthRate"
        :loading="fetchingRates"
        :fetch-own-rates="true"
        :not-rentable-online="notRentable"
        :linkable="linkable"
        :showChipsInline=false
        :showWebRateChip=true
      />
    </div>
    <div v-if="storeID" class="location-message">
      {{ $i18n('user.showingRatesFor') }}
      <span class="rates-address-link" v-if="linkable" @click="setLocationModalPopup">{{ userRatesPlaceAddress }}</span>
      <span v-else>{{ userRatesPlaceAddress }}</span>
    </div>
  </div>
</template>

<style lang="scss">
  @import '01-variables';

  .location-message {
    color: $gray;
  }

  .rates-address-link {
    text-decoration: underline;
    cursor:pointer;
  }
</style>

<script type="text/babel">
  import Format from '@/mixins/format';
  import ItemRates from '@/components/equipment-listing/item-rates';
  import url from '@/utils/url';
  import UrGtm from '@/mixins/ur-gtm';
  import { get, cloneDeep, isEmpty } from 'lodash';
  import { mapState, mapGetters } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      ItemRates,
    },
    computed: {
      ...mapState({
        equipment: state => state.catalog.equipment,
        fetchingRates: state => state.catalog.fetchingRates,
        rates(state) {
          return get(state.catalog.rates, [this.catClass, this.ratesBranch], {});
        },
        ratesPlace: state => state.user.ratesPlace,
        ratesBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      ...mapGetters({
        userRatesPlaceAddress: types.user.ratesPlaceAddress,
      }),
      equipName() {
        if (!isEmpty(this.equipment)) {
          return this.equipment[this.catClass].title;
        }
        else {
          return '';
        }
      },
      category() {
        return this.upperCaseFirstLetters(url.getCategory().replace(/-/g, ' '));
      },
      subCategory() {
        return this.upperCaseFirstLetters(url.getSubcategory().replace(/-/g, ' '));
      },
      linkable() {
        return this.$options.name === 'equipmentDetailsRates' && !this.userIsLoggedIn;
      },
      notRentable() {
        if (this.equipment[this.catClass]) {
          return this.equipment[this.catClass].field_item_not_rentable_online;
        }
        return 'false';
      },
    },
    data() {
      return {
        ratesPlaceClone: cloneDeep(this.ratesPlace),
      };
    },
    mounted() {
      /*
      * GTM should be fired on mount of component to track page view. DO NOT REMOVE THIS!!
      */
      this.gtmTrackProductDetails({
        name: this.equipName,
        catClass: this.catClass,
        price: this.rates.dayRate,
        category: this.category,
        subCategory: this.subCategory,
      });
    },
    mixins: [
      Format,
      UrGtm,
    ],
    name: 'equipmentDetailsRates',
    props: {
      catClass: String,
    },
    methods: {
      setLocationModalPopup() {
        this.$router.push({
          path: '/locations/chooseLocationModal',
        });
      },
    },
  };

</script>
