<template>
  <div class="item-rates-container">
    <!--if locationFiltered = true(item available in branch) and rates came back from rates endpoint(noCost is False), price will be shown-->
    <ur-item-rates v-if="ratesLoading"
       :contract-rates="contractPricing"
       :day-rate="dayRate"
       :week-rate="weekRate"
       :month-rate="monthRate"
       :loading="hasRequestInFlight"
       :mono-rate="monoRate"
       :showChipsInline="showChipsInline"
       :showWebRateChip="showWebRateChip"
    />

    <p v-html="$i18n('rates.locationFiltered')" v-else-if="shouldShowLocationFiltered"></p>
    <template v-if="checkUserLoggedIn">
      <div class="sign-in-link-rates" data-tracking="location" v-if="unknownLocation && !hasRequestInFlight">
        <a @click="setLocationModalPopup" v-html="$i18n('rates.enterLocationRequiredLinkable')"></a>
      </div>
    </template>
    <template v-else>
      <p v-html="$i18n('rates.enterLocationRequired')" v-if="!hasRequestInFlight && unknownLocation && !linkable"></p>

      <div class="sign-in-link-rates" data-tracking="location" v-if="!userIsLoggedIn && linkable && unknownLocation && !hasRequestInFlight">
        <a @click="setLocationModalPopup" v-html="$i18n('rates.enterLocationRequiredLinkable')"></a>
      </div>
    </template>
  </div>
</template>

<script>
  import UrItemRates from '@/components/common/ur-item-rates';

  import { get } from 'lodash';
  import { mapState } from 'vuex';
  import types from '@/store/types';
  import { FlightToken } from '@/api/flight-track';

  export default {
    components: {
      UrItemRates,
    },
    computed: {
      ...mapState({
        catalog: state => state.catalog,
        defaultAccountId: state => state.user.defaultAccountId,
        fetchingRates: state => state.catalog.fetchingRates,
        rates() {
          let ratesReturn = null;
          if (this.shouldRefreshOnChange && this.loadedRates) {
            ratesReturn = this.loadedRates;
          }
          else {
            ratesReturn = get(this.catalog.rates, [this.catClass, this.ratesBranch], {});
          }
          this.$emit('hasrates', (Object.keys(ratesReturn).length > 0));
          return ratesReturn;
        },
        ratesPlace: state => state.user.ratesPlace,
        ratesBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      ratesLoading() {
        if (this.shouldRefreshOnChange) {
          return this.allowChange && (this.isLoading || this.fetchingRates);
        }
        return this.requestInFlight;
      },
      shouldRefreshOnChange: vm => vm.refreshOnChange === '1',
      shouldShowRates() {
        if (this.shouldRefreshOnChange) {
          if (this.isLoading || this.requestInFlight) {
            return true;
          }
          if (this.showRatesLoaded !== null) {
            return this.showRatesLoaded;
          }

          return ((this.rentableItemOnline && this.noRatesError
            && !this.itemNotAvailableError && !this.unknownLocation && !this.noRatesRentableError)
            || this.requestInFlight)
            || (((this.rentableItemOnline && !this.noRatesError
            && !this.itemNotAvailableError) || this.unknownLocation) && !this.requestInFlight);
        }
        else {
          return (((this.rentableItemOnline && !this.noRatesError && !this.itemNotAvailableError)
            || this.unknownLocation) && !this.requestInFlight)
            || ((this.rentableItemOnline && this.noRatesError && !this.itemNotAvailableError
            && !this.unknownLocation && !this.noRatesRentableError) || this.requestInFlight);
        }
      },
      shouldShowLocationFiltered() {
        if (this.shouldRefreshOnChange && this.showLocationFilteredLoaded !== null) {
          return this.showLocationFilteredLoaded;
        }

        return ((!this.rentableItemOnline && !this.unknownLocation)
          || (!this.itemNotAvailableError && this.noRatesError)
          || (this.itemNotAvailableError && !this.unknownLocation))
          && !this.hasRequestInFlight;
      },
      hasRequestInFlight: vm => vm.requestInFlight !== null && vm.requestInFlight.length > 0,
      requestInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.getBranchData,
          FlightToken.fetchFacets,
          FlightToken.fetchRates,
          FlightToken.fetchEquipmentByTermId,
          FlightToken.getNearbyBranchData,
        );
      },
      noRatesError() {
        /**
         * TODO: The naming is confusing on this. Probably expect it to mean:
         *    - "No (Rates Error)" -> No errors when getting rates; Successfully retrieved rates info.
         *    - "(No Rates) Error" -> Error (exception) when getting rates. Failed to retreive rates info.
         *
         * What it really means:
         *    - "No Rates. [No] Error." -> Successfully retreived rates info; Item has not been assigned a rate.
         */
        if (this.rentableItemOnline) {
          return !this.fetchingRates && this.rates.noCost;
        }

        return false;
      },
      unknownLocation() {
        return !this.ratesBranch;
      },
      itemNotAvailableError() {
        return !this.rates.locationFiltered;
      },
      noRatesRentableError() {
        if (this.rentableItemOnline) {
          return this.rates.noCost;
        }

        return false;
      },
      rentableItemOnline() {
        return typeof this.notRentableOnline === 'boolean' ? this.notRentableOnline : this.notRentableOnline === 'false';
      },
      dayRate() {
        if (this.shouldRefreshOnChange && this.dayRateLoaded !== null) {
          return this.dayRateLoaded;
        }

        let dayRate = '--';
        if (this.rates.dayRate) {
          ({ dayRate } = this.rates);
        }
        return dayRate;
      },
      monthRate() {
        if (this.shouldRefreshOnChange && this.monthRateLoaded !== null) {
          return this.monthRateLoaded;
        }

        let monthRate = '--';
        if (this.rates.monthRate) {
          ({ monthRate } = this.rates);
        }
        return monthRate;
      },
      weekRate() {
        if (this.shouldRefreshOnChange && this.weekRateLoaded !== null) {
          return this.weekRateLoaded;
        }

        let weekRate = '--';
        if (this.rates.weekRate) {
          ({ weekRate } = this.rates);
        }
        return weekRate;
      },
      contractPricing() {
        if (this.shouldRefreshOnChange && this.contractPricingLoaded !== null) {
          return this.contractPricingLoaded;
        }

        let contractPricing = false;
        if (this.rates.contractPricing) {
          ({ contractPricing } = this.rates);
        }
        return contractPricing;
      },
    },
    name: 'itemRates',
    created() {
      // If we don't load with the ratesBranch, don't allow rates to change.
      if (this.ratesBranch || !this.shouldRefreshOnChange) {
        this.allowChange = true;
      }

      if (this.shouldRefreshOnChange) {
        // Set Show rates.
        this.showRatesLoaded = ((this.rentableItemOnline && this.noRatesError
          && !this.itemNotAvailableError && !this.unknownLocation && !this.noRatesRentableError)
          || this.requestInFlight)
          || (((this.rentableItemOnline && !this.noRatesError
          && !this.itemNotAvailableError) || this.unknownLocation) && !this.requestInFlight);

        // Set show location filtered.
        this.showLocationFilteredLoaded = ((!this.rentableItemOnline && !this.unknownLocation)
          || (!this.itemNotAvailableError && this.noRatesError)
          || (this.itemNotAvailableError && !this.unknownLocation))
          && !this.hasRequestInFlight;

        // Load day rate.
        this.dayRateLoaded = '--';
        if (this.rates.dayRate) {
          this.dayRateLoaded = this.rates.dayRate;
        }

        // Load week rate.
        this.weekRateLoaded = '--';
        if (this.rates.weekRate) {
          this.weekRateLoaded = this.rates.weekRate;
        }

        // Load month rate.
        this.monthRateLoaded = '--';
        if (this.rates.monthRate) {
          this.monthRateLoaded = this.rates.monthRate;
        }

        // Load contract pricing.
        this.contractPricingLoaded = false;
        if (this.rates.contractPricing) {
          this.contractPricingLoaded = this.rates.contractPricing;
        }
      }
      this.isLoading = false;
    },
    methods: {
      init() {
        this.allowChange = false;
        if (this.ratesBranch && this.fetchOwnRates) {
          this.$store.dispatch(types.catalog.fetchRates, {
            catClass: this.catClass,
            branchId: this.ratesBranch,
            accountId: this.defaultAccountId,
          });
        }
      },
      setLocationModalPopup() {
        const paramsIn = {};
        if (this.shouldRefreshOnChange) {
          paramsIn.refreshOnChange = '1';
        }
        this.$router.push({
          path: '/locations/chooseLocationModal',
          query: paramsIn,
        });
      },
      fetchingRatesWatchHandler() {
        // Load rates.
        if (this.fetchingRates === false && this.allowChange && this.shouldRefreshOnChange) {
          this.loadedRates = get(this.catalog.rates, [this.catClass, this.ratesBranch], {});
          this.$emit('hasrates', (Object.keys(this.loadedRates).length > 0));

          // Set Show rates.
          this.showRatesLoaded = ((this.rentableItemOnline && this.noRatesError
            && !this.itemNotAvailableError && !this.unknownLocation && !this.noRatesRentableError)
            || this.requestInFlight)
            || (((this.rentableItemOnline && !this.noRatesError
            && !this.itemNotAvailableError) || this.unknownLocation) && !this.requestInFlight);

          // Set show location filtered.
          this.showLocationFilteredLoaded = ((!this.rentableItemOnline && !this.unknownLocation)
            || (!this.itemNotAvailableError && this.noRatesError)
            || (this.itemNotAvailableError && !this.unknownLocation))
            && !this.hasRequestInFlight;

          // Load day rate.
          this.dayRateLoaded = '--';
          if (this.rates.dayRate) {
            this.dayRateLoaded = this.rates.dayRate;
          }

          // Load week rate.
          this.weekRateLoaded = '--';
          if (this.rates.weekRate) {
            this.weekRateLoaded = this.rates.weekRate;
          }

          // Load month rate.
          this.monthRateLoaded = '--';
          if (this.rates.monthRate) {
            this.monthRateLoaded = this.rates.monthRate;
          }

          // Load contract pricing.
          this.contractPricingLoaded = false;
          if (this.rates.contractPricing) {
            this.contractPricingLoaded = this.rates.contractPricing;
          }
        }
      },
    },
    data() {
      return {
        loadedRates: null,
        showLocationFilteredLoaded: null,
        showRatesLoaded: null,
        allowChange: false,
        dayRateLoaded: null,
        weekRateLoaded: null,
        monthRateLoaded: null,
        contractPricingLoaded: null,
        isLoading: true,
      };
    },
    props: {
      catClass: String,
      fetchOwnRates: Boolean,
      monoRate: Boolean,
      notRentableOnline: String,
      linkable: {
        default: false,
        require: false,
      },
      // two 'showChips' booleans are just pass-thrus from parent to ur-item-rates
      showChipsInline: {
        type: Boolean,
        default: true,
      },
      showWebRateChip: {
        type: Boolean,
        default: true,
      },
      checkUserLoggedIn: {
        type: Boolean,
        default: false,
      },
      refreshOnChange: {
        required: false,
        type: String,
      },
    },
    watch: {
      ratesBranch: {
        handler: 'init',
        immediate: true,
      },
      fetchingRates: {
        handler: 'fetchingRatesWatchHandler',
        immediate: true,
      },
    },
  };
</script>

<style lang="scss">
  .sign-in-link-rates {
    text-decoration: underline;
  }
</style>
