<template>
  <div class="object_listing__wrapper">
    <div class="object_listing__image">
      <q-image
        :altText="imgAlt"
        :imgSrc="imgSrc"
        height="44"
        width="44"/>
    </div>

    <div class="object_listing__details">
      <div class="object_listing__details__cat_class_code">{{ $i18n('catalog.catClassCode') }}{{catClass}}</div>
      <a class="object_listing__details__name" :href="viewMoreLink" @click="viewItem">{{title}}</a>

      <i v-if="small" @click="quickView(catClass)" class="icon icon-angle-down" :class="{'is-active': $store.state.quickView.isOpen[catClass]}"></i>

      <item-rates :not-rentable-online="notRentableOnline"
        :cat-class="catClass"
        :showChipsInline="false"
        :showWebRateChip="false"
        :check-user-logged-in="true"/>

      <div class="object_listing__details__quick_view">
        <a v-if="!small && quickViewItems.length" @click="quickView(catClass)">{{ $i18n('catalog.quickView') }}</a>

        <i v-if="!small && quickViewItems.length" @click="quickView(catClass)" class="icon icon-angle-down" :class="{'is-active': $store.state.quickView.isOpen[catClass]}">&nbsp;</i>

        <ur-quick-view :id="catClass" :items="quickViewItems">
          <template v-if="small">
            <object-listing-actions
              slot="header"
              :cat-class="catClass"
              :quick-view-items="quickViewItems"
              :title="title"
              :view-more-link="viewMoreLink"
            ></object-listing-actions>
            <router-link tag="button" slot="footer" :to="addToCartLink" class="view-details-quickView-button" :disabled="preventAddingToCart">{{ $i18n('catalog.addToCart') }}</router-link>
          </template>
          <a v-if="quickViewItems.length" slot="footer" :href="viewMoreLink" class="view-details-quickView-button">{{ $i18n('catalog.viewDetails') }}</a>
        </ur-quick-view>

      </div>
    </div>

    <div v-if="!small" class="object_listing__actions">
      <div class="object_listing__actions__alert">
        <!--{{ i18n.itemsAdded }}-->
      </div>

      <router-link tag="button" :disabled="preventAddingToCart" class="button--add-to-cart" :to="addToCartLink">{{ $i18n('catalog.addToCart') }}</router-link>

      <object-listing-actions
        :cat-class="catClass"
        :quick-view-items="quickViewItems"
        :title="title"
        :view-more-link="viewMoreLink" >
      </object-listing-actions>

    </div>
  </div>

</template>

<script type="text/babel">
  import ObjectListingActions from './object-listing-actions.vue';
  import UrQuickView from '@/components/common/ur-quickview';
  import ItemRates from './item-rates';
  import UrGtm from '@/mixins/ur-gtm';

  import { mapActions, mapGetters, mapState } from 'vuex';
  import { get, isEmpty } from 'lodash';
  import types from '@/store/types';

  export default {
    components: {
      ItemRates,
      ObjectListingActions,
      UrQuickView,
    },
    computed: {
      ...mapGetters([
        'categoryIdOfCurrentUrl',
        'small',
        'subcategoryIdOfCurrentUrl',
      ]),
      ...mapState({
        categories: state => state.facets.categories,
        itemRates(state) {
          return get(state.catalog.rates, [this.catClass, this.ratesPlaceBranch], {});
        },
        hasRates() {
          return !isEmpty(this.itemRates);
        },
        disabledRates() {
          /**
           * If this is undefined, we don't have rates for this item.
           * So don't use this alone to determine if an item is
           * ready for ordering. Check `hasRates` too.
           */
          return this.itemRates.noCost;
        },
        isFavorite(state) {
          return state.favorites.all.includes(this.catClass);
        },
        rates: state => state.catalog.rates,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      addToCartLink() {
        return {
          name: 'addToCartModal',
          params: {
            0: '',
            catClass: this.catClass,
          },
        };
      },
      category() {
        return this.categories[this.categoryIdOfCurrentUrl];
      },
      preventAddingToCart() {
        /**
         * Things that will prevent the user from being able to check out this item:
         *
         * - User hasn't selected a branch/location
         * - Selected branch doesn't have item available
         * - No rate info could be retrieved for the item
         * - Rate info indicate the item is not setup for online ordering
         */
        if (this.notRentableOnline === 'true') {
          return true;
        }

        const hasBranch = !!this.ratesPlaceBranch;
        const isDisabled = this.hasRates ? this.disabledRates : true;
        const availableAtBranch = this.hasRates && this.itemRates.locationFiltered;

        return !hasBranch || !availableAtBranch || isDisabled;
      },
      subCategory() {
        return this.category.children[this.subcategoryIdOfCurrentUrl];
      },
    },
    methods: {
      ...mapActions({
        toggleQuickView: types.quickView.toggle,
      }),
      quickView(catClass) {
        this.gtmTrackProductDetailsExpand(this.title);
        this.toggleQuickView(catClass);
      },
      viewItem() {
        this.gtmTrackProductClick({
          name: this.title,
          catClass: this.catClass,
          price: this.rates[this.catClass][this.ratesPlaceBranch].dayRate,
          category: this.category.name,
          subCategory: this.subCategory.name,
          url: this.viewMoreLink,
        });
      },
    },
    mixins: [
      UrGtm,
    ],
    props: {
      catClass: String,
      imgSrc: String,
      title: String,
      imgAlt: String,
      quickViewItems: {
        type: Array,
        default: () => [],
      },
      viewMoreLink: String,
      notRentableOnline: String,
    },
  };
</script>
<style lang="scss">
  [lazy="loading, error"]{
    height:44px;
    width:44px;
  }
</style>
