.state-list-container {
  .media_block {
    border-top: solid 1px $color-grey-11;;
    padding: 1.5rem;
    background-color: $color-grey-2;

    .paragraph {
      font-family: $font-family-sans-serif;
      margin-bottom: 0px;

    }
  }
  .state_results_section {
    border-top: solid 1px $color-grey-11;
    padding: 1rem;
    font-size: $font-size-small;
    .state_result_country_title {
      padding-bottom: 16px;
      font-weight: map-get($ur-font-weights, '-bold');

    position: relative;
      cursor: pointer;
      i {
        alignment: right;
      }
      .chevron_icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .chevron_icon_up {
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
}

.results_section {
  @include breakpoint($break-small) {
    padding: 0px;
  }

  ul {
    padding: 0;
    margin: 0;
    columns: 2 150px;

    li {
      padding: 0;
      display: block;
      margin: 0;
      line-height: 16px;
      margin-bottom: 12px;
      &.title__list-item:not(:first-of-type) {
        margin-top: 1.75em;
      }
    }
  }

  .strong_labels__list-item {
    margin-top: 20px;
  }
}