<div class="results_section">
  {% include "@atoms/03-lists/00-unordered.twig"
    with {
      "list_item_label": list_ul_item.label,
      "list_item_content": list_ul_item.content,
      "list_item_link": list_ul_item.link,
      "list_item_blockname": list_ul_item.block_name
    }
  %}
</div>