
$table-head-height: $font-size-base * 3.75; // 52

div.modal.global-account-selector-modal {
  opacity: 1; // Fixes a weird opacity issue w/IE11
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  /**
   * Styles parsed from "_accounts.scss" which were written to only
   * effect modals on the `.path-user` page.
   * Keeping these separate with the goal of creating a global theme
   * for other pages to use.
   */

  .modal__content {
    overflow: hidden;
    max-width: 90vw;
    position: fixed;

    @include breakpoint($break-medium) {
      max-width: 80vw;
      max-height: 80vh;
      height: auto;
    }

    > a {
      display: block;
      position: absolute; // do not use Fixed, it breaks ie11
      top: calc(#{$font-size-base} / 2);
      right: $font-size-base;
      z-index: 99;
    }
  }

  .modal__content--center {
    width: 100vw;
    max-width: unset;
    @include breakpoint($break-small) {
      width: 90vw;
    }
    @include breakpoint($break-medium) {
      height: unset;
      width:  80vw;
    }
  }

  .modal__wrapper {
    height: 100vh;
    @include breakpoint($break-small) {
      height: unset;
      max-height: 90vh;
    }
  }

  .modal-body {
    background: none;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    height: 66vh;
    @include breakpoint($break-small) {
      height: unset;
      min-height: unset;
      max-height: 60vh;
    }
  }

  .modal-footer {
    background-color: $color-white;
    border-top: $border-grey;
    display: block;
    height: auto;
    text-align: center;
    @include breakpoint($break-small) {
      text-align: right;
    }
  }

  .modal-header {
    border-bottom: $border-grey;
    display: block;
    height: auto;
    padding: $font-size-h4;
    text-align: left;
    width: 100%;

    h3 {
      margin: 0;
    }
  }

  /**
   * Modal styles specific to Global Account Selector
   */

  tbody {
    max-height: 100%;
  }

  thead {
    .table__row {
      display: none;
      height: $table-head-height;
    }
  }

  .modal-footer {
    .button {
      padding: 0 $font-size-h2;
      white-space: nowrap;
      width: auto;
    }
  }

  .table {
    border: 0;
    border-top: $border-grey;
    border-bottom: $border-grey;
  }

  .table__cell,
  .table__heading-cell {
    border: 0;
    color: $color-text;
  }

  .table__cell {
    background-color: $color-white;
    display: flex;
    flex: 0 0 100%;
    font-size: $font-size-base;
    max-height: 0;
    justify-content: flex-end;
    margin-left: auto;
    overflow: hidden;
    padding: 0;
    position: relative;

    .gasm__account-property,
    .gasm__mobile-label {
      flex: 0 0 45%;
      @include breakpoint($break-medium) {
        flex: 0 0 calc(100% * (4/12));
      }
    }

    .icon {
      color: $color-blue;
      cursor: pointer;
      visibility: hidden;
    }
  }

  .table__cell--input,
  .table__cell--name,
  .table__cell--id-num {
    max-height: none;
    padding: $font-size-base 0;
  }

  .table__cell--input,
  .table__cell--name {
    background-color: $color-white;
    border-top: $border-grey;
    padding: ($font-size-base * 2) 0;
  }

  .table__cell--id-num,
  .table__cell--status-desc,
  .table__cell--city-state,
  .table__cell--tc-level,
  .table__cell--parent-id-num {
    justify-content: flex-start;
    padding-left: 56px;
  }

  .table__cell--input {
    align-items: center;
    display: flex;
    flex: 0 0 56px;
    justify-content: center;
    padding-bottom: 0;

    label {
      margin: 0;
      padding: 0;
      width: auto;
    }
    span {
      margin: 0;
    }
  }

  .table__cell--name {
    flex: 1 0 80%;
    @include breakpoint($break-medium) {
      flex: 1 0 auto;
    }
    font-weight: $font-weight-bold;
    padding-bottom: 0;

    .gasm__account-property {
      flex: 0 0 100%;
      padding-right: $font-size-base * 3;
      position: relative;
      width: 100%;
    }

    .icon {
      align-items: center;
      display: flex;
      height: $font-size-base;
      justify-content: center;
      position: absolute;
      top: 0; right: $font-size-base;
      width: $font-size-base;
      visibility: visible;
    }
  }

  .table__heading-cell {
    cursor: pointer;
    font-size: $font-size-small;
    white-space: nowrap;

    .icon {
      margin-left: calc(#{$font-size-base} / 2);
    }
  }

  .table__row {
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: $font-size-base;
  }

  .table__row--blue {
    background-color: $color-white;

    .table__cell {
      background-color: $color-white;
    }
  }

  .table__row--expanded {
    .table__cell--id-num,
    .table__cell--status-desc,
    .table__cell--city-state,
    .table__cell--tc-level,
    .table__cell--parent-id-num {
      max-height: none;
      padding: $font-size-base 0;
      padding-left: 56px;
    }
  }
}

.gasm__item-count {
  font-weight: $font-weight-lightest;
}

.gasm__mobile-label {
  font-weight: $font-weight-bold;
  color: $color-grey-38;
}

@include breakpoint($break-small) {
  div.modal.global-account-selector-modal {
    thead, tbody {
      .table__cell {
        display: table-cell;
      }
      .table__row {
        display: table-row;
      }
    }

    .table__cell,
    .table__heading-cell {
      border-top: 0;
      border-bottom: $border-grey;
      max-height: none;
      padding: $font-size-base $font-size-base;
    }

    .table__cell {
      background-color: transparent;

      .icon {
        display: none;
      }
    }

    .table__cell--name,
    .table__cell--status-desc {
      font-weight: $font-weight-bold;
    }

    .table__cell--name {
      border-right: $border-grey;
    }

    .table__row {
      &:hover {
        .table__cell {
          background-color: $color-blue-subtle;
        }
      }
    }

    .table__row--blue {
      .table__cell {
        background-color: $color-blue-subtle;
      }
    }
  }
}

@include breakpoint($break-medium) {
  div.modal.global-account-selector-modal {
    .table__cell,
    .table__heading-cell {
      padding: $font-size-base $font-size-large;
    }
  }
}

@include breakpoint($break-large) {
  div.modal.global-account-selector-modal {
    .table__cell,
    .table__heading-cell {
      padding: $font-size-base $font-size-h3;
    }
  }
}
