{% set catClass = ds_content.field_item_cat_class_code|render|striptags|trim|slice(-8) %}

{% if ds_content.field_images_unlimited['#items'][0].entity.fileuri|length > 0 %}
  {% set imgSrc = file_url(ds_content.field_images_unlimited['#items'][0].entity.fileuri) %}
{% else %}
  {% set imgSrc = '/themes/custom/unitedrentals/images/placeholders/equipment-null-500.png' %}
{% endif %}

{% include '@organisms/object-listing/_object-listing.twig'
  with {
    "img_src": imgSrc,
    "name":  ds_content.node_title[0][0]['#context']['output'],
    "url":  path('entity.node.canonical', {'node': node.id}),
    "catClass": ds_content.field_item_cat_class_code|render|striptags|trim|slice(-8),
    "not_rentable_online": ds_content.field_item_not_rentable_online|render|striptags|trim
}
%}
