{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}

{% set left_visible_class = 'object-detail--left-hidden' %}
{% if left.field_images_unlimited["#object"] %}
  {% set left_visible_class = 'object-detail--left-visible' %}
{% endif %}

{% embed "@organisms/object-detail/object-detail.twig"
  with {
    "object_cat_class_code": right.field_item_cat_class_code|render|striptags|trim|slice(-8)
  }
%}
  {% block breadcrumbs %}
    {{ drupal_block('unitedrentals_breadcrumbs') }}
  {%  endblock %}

  {% block outer_attributes %}
    {{ attributes.addClass('object-detail', left_visible_class, 'grid') }}
  {% endblock %}

  {% block left_attributes %}
    {{ left_attributes.addClass('group-left', 'column') }}
  {% endblock %}

  {% block left_content %}
    {{ left }}
  {% endblock %}

  {% block right_attributes %}
    {{ right_attributes.addClass('group-right', 'column') }}
  {% endblock %}

  {% block right_content %}
    {{ right }}
  {% endblock %}

{% endembed %}
