.page-node-type-project-uptime-pages {
  .project-uptime-recent-articles {
    ul {
      margin: .3rem;
      li {
        margin: 0 0 1rem;
        a {
          text-decoration: none;
          font-weight: bold;
        }
        .views-field-changed {
          display: none;
        }
        
        &:nth-of-type(1n+6){
          display: none;
          
          @include breakpoint($break-small) {
            display: list-item;
          }
          
          @include breakpoint(1200px) {
            display: none;
          }
        }
        
        &:nth-of-type(1n+9){
          display: none !important;
        }
      }
    }
  }
}

