<template>

  <modal-frame class="height-auto">
    <template slot="header">
      <h3>{{ $i18n('workplace.editPo') }}</h3>
      <p>
        {{ accountName }} - #{{ accountId }}
      </p>
    </template>

    <template slot="content">
      <div v-if="updateInProgress" class="fill flex-column bgc-white flex-gap-10 align-center m-0 p-20">
        <ur-loading-spinner/>
        <h3 class="text-center">{{ $i18n('workplace.submittingRequest') }}</h3>
      </div>

      <div v-else class="modal-framed__group grid flex-column">
        <div class="display-flex">
          <p>
            {{ $i18n('workplace.theCurrentPoIs', { '@po': po, '@transId': transId }) }}.
          </p>
        </div>

        <po-number
          :poNumber="localPo"
          :accountId="accountId"
          :requirePo="requirePo"
          @poError="setPoError"
          @changePo="setPo"/>

        <div v-if="errorMessage" v-html="errorMessage" class="error-message m-20"></div>
      </div>
    </template>

    <template slot="footer">
      <button
        class="button button--style-2 button--secondary"
        @click="$router.go(-1)"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-2 button--filled"
        v-show="!updateInProgress"
        @click="save"
        :disabled="error"
      >
        {{ $i18n('workplace.updatePo') }}
      </button>
    </template>
  </modal-frame>

</template>

<script>
  import { FlightToken } from '@/api/flight-track';
  import ModalFrame from '@/components/common/ur-modal-frame.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  // import PoNumber from '@/components/common/form/text-input/po-number.vue';
  import PoNumber from '@/components/platform-account/quotes/convert-quote/billing/po-number.vue';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  /*
   * @vuese
   * @group Workplace
   * Update Purchase Order Modal
   */
  export default {
    name: 'updatePoModal',
    components: {
      ModalFrame,
      PoNumber,
      UrLoadingSpinner,
    },
    props: {
      /*
       * @vuese
       * @type String
       * Account Id
       */
      accountId: String,
      /*
       * @vuese
       * @type String
       * Purchase Order Number
       */
      po: String,
      /*
       * @vuese
       * @type String
       * Transaction Id
       */
      transId: String,
    },
    computed: {
      ...mapState({
        /*
         * @vuese
         * @type String
         * Current Account Name
         */
        accountName(state) {
          return state.accounts.all[this.accountId].name || '';
        },
        /*
         * @vuese
         * @type String
         * Determine if we require the purchase order number from the current account
         */
        requirePo(state) {
          return state.accounts.all[this.accountId].requirePo || 'N';
        },
      }),
      /*
       * @vuese
       * @type Boolean
       * Determine transactions purchase order in the process of being updated
       */
      updateInProgress() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.updateTransactionPo);
      },
    },
    data() {
      return {
        /*
         * @vuese
         * @type String
         * Local Purchase Order
         */
        localPo: '',
        /*
         * @vuese
         * @type Boolean
         * Determine if there is an error
         */
        error: false,
        /*
         * @vuese
         * @type String
         * Error Message Displayed
         */
        errorMessage: '',
      };
    },
    methods: {
      ...mapActions({
        /*
         * @vuese
         * Update Order Purchase Order
         */
        updateOrderPo: types.workplace.updateOrderPo,
      }),
      /*
       * @vuese
       * Set this.localPo (Purchase Order) to user input
       */
      setPo(input) {
        this.localPo = input;
      },
      /*
       * @vuese
       * Set this.error to user input flag triggered
       */
      setPoError(input) {
        this.error = input.flag;
      },
      /*
       * @vuese
       * @type Async
       * Try to save the form and update the purchase order, otherwise catch the error message
       */
      async save() {
        try {
          this.error = false;
          this.errorMessage = null;
          let poToSend = this.localPo;
          if (this.requirePo === 'N' && !this.localPo) {
            poToSend = 'NPOR';
          }
          await this.updateOrderPo({
            accountId: this.accountId,
            transId: this.transId,
            po: poToSend,
          });
          this.$router.go(-1);
        }
        catch (error) {
          this.errorMessage = typeof error === 'string' ? error : error.message;
        }
      },
    },
    mounted() {
      this.localPo = this.po;
    },
  };
</script>
