<template>
  <div>
    <router-view></router-view>
    <router-view name="overlay"></router-view>
  </div>
</template>

<script>
  /*
   * @vuese
   * @group Workplace
   * (May be depreciated?) Contains two router-views
   */
export default {
  name: 'WorkplaceOrderView',
};
</script>
