<template>
  <div class="equipment-list display-block pos-relative">
    <div class="workplace-equipment__header flex-column align-items-center">
      <div class="w-100 flex-row justify-space-between">
        <h1>{{ $i18n('workplace.orders') }}</h1>
        <a href="/marketplace/equipment" class="btn btn-style--primary btn-size--regular rent-equipment-button">{{ $i18n('workplace.rentEquipment') }}</a>
      </div>
      <order-list-summary-cards :order-listing="true" />
    </div>
    <summary-results-divider />
    <section class="h-100vh bg-gradient flex-column justify-start align-start p-t-30">
      <div class="flex-row m-0 align-self-stretch align-center justify-space-between">
        <h2 class="flex-row flex-gap-5 align-baseline w-auto m-b-5">
          <ur-loading-spinner v-if="ordersRequestPending" />
          <span class="c-black">{{ $i18n('workplace.results') }}</span>
          <span class="result-count fw-normal c-gray">({{ orderResultsCount }})</span>
        </h2>
      </div>
      <list-controls />

      <!-- Grid View -->
      <grid-listing
        v-if="cardsLayout"
        class="grow m-b-100"
        :class="!hasGrouping ? 'no-grouping' : ''"
        :data="items"
        :data-height="200"
        :group-header-height="64"
        :table-footer-height="20"
        :get-column-index="getColumnIndex"
        :get-column-sortable="columnIsSortable"
        :get-column-width="getColumnWidth"
        :get-table-header-label="getTableHeaderLabel"
        :hidden-columns="hiddenColumns"
        :loading="showLoadingOverlay"
        :sort-column-key="sortedColumnKey"
        :sort-direction="sortDirection"
        @events="handleListingEvent"
      >

        <!-- Loading slot -->
        <div slot="loading" class="flex-column align-center p-y-20">
          <ur-loading-spinner/>
          <h3 class="text-center">{{ $i18n('workplace.loadingOrders') }}</h3>
        </div>

        <!-- Empty data slot -->
        <div slot="empty" class="flex-column align-center p-y-20">
          <h3 class="text-center">{{ $i18n('workplace.noMatchingOrders') }}</h3>
        </div>

        <!-- Group row -->
        <listing-group-row>
          <div slot-scope="scope" @click="scope.toggleCollapsed" class="flex-row align-items-center" style="height: 100%;" v-if="hasGrouping">
            <div class="flex-row align-items-center justify-start m-r-5">
              <span class="m-r-5">{{ getGroupLabel(scope) || groupNoLabel }}</span>
              <span class="fw-light">({{ scope.itemCount }})</span>
            </div>
            <i :class="`icon-before-arrow-${scope.collapsed ? 'down': 'up'}`"></i>
          </div>
        </listing-group-row>

        <!-- Grid Items -->
        <grid-item :width="500" column-key="grid" label="Grid" align="left">
          <grid-listing-field slot-scope="{ item }" :item="item"/>
        </grid-item>

        <!-- Footer -->
        <transition name="tbSlideFade" tag="div" slot="footer" slot-scope="{ layout }" >
          <span v-if="layout.isAtBottom" class="fs-small c-gray fw-bold">
            {{ $i18n('emptyResults.noAdditionalResults') }}
          </span>
        </transition>
      </grid-listing>

      <!-- Listing View -->
      <table-listing
        v-if="tableLayout"
        class="grow m-b-30"
        :data="items"
        :data-height="44"
        :group-header-height="hasGrouping ? 64 : 0"
        :table-footer-height="20"
        :get-column-index="getColumnIndex"
        :get-column-sortable="columnIsSortable"
        :get-column-width="getColumnWidth"
        :get-table-header-label="getTableHeaderLabel"
        :hidden-columns="hiddenColumns"
        :loading="showLoadingOverlay"
        :sort-column-key="sortedColumnKey"
        :sort-direction="sortDirection"
        @events="handleListingEvent"
      >

        <!-- Loading slot -->
        <div slot="loading" class="flex-column align-center p-y-20">
          <ur-loading-spinner/>
          <h3 class="text-center">{{ $i18n('workplace.loadingOrders') }}</h3>
        </div>

        <!-- Empty data slot -->
        <div slot="empty" class="flex-column align-center p-y-20">
          <h3 class="text-center">{{ $i18n('workplace.noMatchingOrders') }}</h3>
        </div>

        <!-- Group row -->
        <listing-group-row>
          <div slot-scope="scope" @click="scope.toggleCollapsed" class="flex-row align-items-center" style="height: 100%" v-if="hasGrouping">
            <div class="flex-row align-items-center justify-start m-r-5">
              <span class="m-r-5">{{ getGroupLabel(scope) || groupNoLabel }}</span>
              <span class="fw-light">({{ scope.itemCount }})</span>
            </div>
            <i :class="`icon-before-arrow-${scope.collapsed ? 'down': 'up'}`"></i>
          </div>
        </listing-group-row>
        <listing-column v-for="(resource, key) in listing.list"
            :link="key === 0"
            :key="`column-${key}`"
            :width="resource.column.width"
            :align="resource.column.align"
            :label="resource.column.label"
            :pinned="resource.column.pinned"
            :resizable="resource.column.resizable"
            :column-key="resource.column.columnKey"
            :data-cell-class="resource.column.dataCellClass"
        >
          <component slot-scope="{ item }" :key="`field-${key}`"
              :item="item"
              :resource="resource"
              :is="resource.field.component"
          />
        </listing-column>
        <!-- Footer -->
        <transition name="tbSlideFade" tag="div" slot="footer" slot-scope="{ layout }" >
          <span v-if="layout.isAtBottom" class="fs-small c-gray fw-bold">
            {{ $i18n('emptyResults.noAdditionalResults') }}
          </span>
        </transition>

      </table-listing>
    </section>
    <actions-menu />
  </div>
</template>

<script lang="ts">
  /* eslint-disable */
  import Vue from 'vue';
  import { types } from '@/store';
  import * as moment from 'moment';
  import { WORKPLACE_ORDER_GROUPERS } from '@/lib/workplace/order-collection/order.groupers';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { WorkplaceRootState } from '@/store/module.workplace';
  import {
    SORT_ORDER_STATUSES,
    WorkplaceListingLayout,
    WorkplaceOrder,
    WorkplaceOrderColumnKey as Columns,
    WorkplaceOrderGroup,
    WorkplaceOrderGrouperId,
    WorkplaceRouteNames,
    WorkplaceUtils,
  } from '@/lib/workplace';
  import {
    ColumnResizedPayload,
    GridItem,
    GridListing,
    GroupHeaderCellScope,
    Listing,
    ListingColumn,
    ListingEvent,
    ListingGroupRow,
    ScrollRangeChangedPayload,
    SortRequestPayload,
    TableHeaderCellScope,
  } from '@/components/workplace/common/listing';
  import ListControls from '../shared/list-controls.vue';
  import OrderListSummaryCards from './order-list-summary-cards.vue';
  import { Column, Field } from '@/components/workplace/shared/fields';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import GridListingField from '@/components/workplace/shared/fields/grid/listing-field.vue';
  import SummaryResultsDivider from '@/components/workplace/shared/dividers/summary-results-divider.vue';
  import ActionsMenu from '@/components/workplace/shared/actions/actions-menu.vue';

  /*
   * @vuese
   * @group Workplace
   * Order Collection Listing Table
   */
  export default {
    extends: Vue,
    name: 'OrderListing',
    components: {
      SummaryResultsDivider,
      TableListing: Listing,
      GridItem,
      GridListing,
      ListControls,
      ListingColumn,
      ListingGroupRow,
      UrLoadingSpinner,
      GridListingField,
      OrderListSummaryCards,
      ActionsMenu,
    },
    mounted() {
      this.fetchOrderColumns();
      window.scrollTo(0, 0);
    },
    data() {
      return {
        /*
         * @vuese
         * @type String
         * Determine what we need to sort by
         */
        sortBy: this.$route.query.sortBy || '',
        /*
         * @vuese
         * @type Object
         * IMPORTANT, Defined all columns & fields here ~ determines the majority of our listing layout
         */
        listing: {
          list: [
            /* 1. Number */
            {
              column: Column.make(Columns.OrderNumber, {
                label: 'Order #',
                pinned: 'left',
              }),
              field: Field.link(Columns.OrderNumber, {
                to: ({$route, item}) => ({
                  name: WorkplaceRouteNames.OrderDetails,
                  params: {
                    ...$route.params,
                    orderId: item.orderNumber,
                  },
                  query: {...$route.query},
                }),
              }),
            },

            /* 2. Actions */
            {
              column: Column.make('actions', {
                pinned: 'left',
                align: 'center',
                dataCellClass: 'p-x-2',
                width: 54,
                resizeable: false,
              }),
              field: Field.actions(Columns.OrderStatus, {
                classes: ['c-blue'],
                noInactiveBorder: true,
              }),
            },

            /* 3. Status */
            {
              column: Column.make(Columns.OrderStatus),
              field: Field.status('status'),
            },

            /* 4. Purchase Order */
            {
              column: Column.make(Columns.PurchaseOrder, { label: 'PO' }),
              field: Field.make(Columns.PurchaseOrder),
            },

            /* 5. Requester */
            {
              column: Column.make(Columns.Requester),
              field: Field.make(Columns.Requester),
            },

            /* 6. Ordered By */
            {
              column: Column.make(Columns.OrderedBy, { label: 'Ordered By' }),
              field: Field.make(Columns.OrderedBy),
            },

            /* 7. Approver */
            {
              column: Column.make(Columns.Approver),
              field: Field.make(Columns.Approver),
            },

            /* 8. Job Name */
            {
              column: Column.make(Columns.JobsiteName, { label: 'Job Name' }),
              field: Field.make(Columns.JobsiteName, {
                value: ({ jobsite }) => jobsite.name || '-',
              }),
            },

            /* 9. Job Id */
            {
              column: Column.make(Columns.JobsiteId, { label: 'Job ID' }),
              field: Field.make(Columns.JobsiteId, {
                value: ({ jobsite }) => jobsite.customerJobId || '-',
              }),
            },

            /* 10. Job Address */
            {
              column: Column.make(Columns.JobsiteAddress, { label: 'Address' }),
              field: Field.make(Columns.JobsiteAddress, {
                value: ({ jobsite }) => jobsite.address1 || '-',
              }),
            },

            /* 11. Branch */
            {
              column: Column.make(Columns.BranchId, { label: 'Branch' }),
              field: Field.make(Columns.BranchId),
            },

            /* 12. Job City */
            {
              column: Column.make(Columns.JobsiteCity, { label: 'City' }),
              field: Field.make(Columns.JobsiteCity, {
                value: ({ jobsite }) => jobsite.city || '-',
              }),
            },

            /* 13. Job State/Prov */
            {
              column: Column.make(Columns.JobsiteState, { label: 'St./Prov.' }),
              field: Field.make(Columns.JobsiteState, {
                value: ({ jobsite }) => jobsite.state || '-',
              }),
            },

            /* 14. Job Zip */
            {
              column: Column.make(Columns.JobsiteZip, { label: 'ZIP' }),
              field: Field.make(Columns.JobsiteZip, {
                value: ({ jobsite }) => jobsite.zip || '-',
              }),
            },

            /* 15. Job Contact */
            {
              column: Column.make(Columns.JobsiteContact, { label: 'Job Contact' }),
              field: Field.make(Columns.JobsiteContact, {
                value: ({ jobsite }) => jobsite.contact || '-',
              }),
            },

            /* 16. Job Phone */
            {
              column: Column.make(Columns.JobsitePhone, { label: 'Job Phone' }),
              field: Field.make(Columns.JobsitePhone, {
                value: ({ jobsite }) => jobsite.mobilePhone || '-',
              }),
            },

            /* 17. Start Date */
            {
              column: Column.make(Columns.OrderStartDate, { label: 'Start' }),
              field: Field.date(Columns.OrderStartDate),
            },

            /* 18. End Date */
            {
              column: Column.make(Columns.OrderEstimatedEndDate, { label: 'Est. End' }),
              field: Field.date(Columns.OrderEstimatedEndDate),
            },

            /* 20. Rental Duration */
            {
              column: Column.make(Columns.OrderRentalDuration, { label: 'Duration' }),
              field: Field.make(Columns.OrderRentalDuration, {
                append: ' days',
              }),
            },

            /* 21. Transaction Type */
            {
              column: Column.make(Columns.OrderType, { label: 'Order Type' }),
              field: Field.make(Columns.OrderType),
            },

            /* 22. Requisition Number */
            {
              column: Column.make(Columns.RequisitionNumber, { label: 'Req. #' }),
              field: Field.make(Columns.RequisitionNumber),
            },

            /* 23. Total Items Count */
            {
              column: Column.make(Columns.TotalItems, { label: 'Total Items' }),
              field: Field.make(Columns.TotalItems),
            },

            /* 24. Delivery Method */
            {
              column: Column.make(Columns.OrderDeliveryMethod, { label: 'UR Delivery' }),
              field: Field.boolean(Columns.OrderDeliveryMethod, { true: 'Yes', false: 'No' }),
            },

            /* 25. Pickup Method */
            {
              column: Column.make(Columns.OrderPickupMethod, { label: 'UR Pickup' }),
              field: Field.boolean(Columns.OrderPickupMethod, { true: 'Yes', false: 'No' }),
            },

            /* 26. Bill Thru */
            {
              column: Column.make(Columns.BillThru, { label: 'Bill Thru' }),
              field: Field.date(Columns.BillThru, {
                value: ({ billThru }) => billThru === 0 ? 'Not Determined' : billThru,
              }),
            },
          ],
        },
      };
    },
    computed: {
      ...mapGetters({
        /*
         * @vuese
         * @type Boolean
         * Determine if order requests are still pending
         */
        ordersRequestPending: types.workplace.ordersRequestPending,
        /*
         * @vuese
         * @type WorkplaceOrder[]
         * Current Sorted Collection Of Workplace Orders
         */
        sortedOrders: types.workplace.orderListing.sortedResources,
        /*
         * @vuese
         * @type SortDirection
         * Sort direction query parameter
         */
        sortDirection: types.workplace.orderListing.sortDirection,
        /*
         * @vuese
         * @type WorkplaceListingLayout
         * Determine the listing layout (cards or table)
         */
        listingLayout: types.workplace.listingLayout,
      }),
      ...mapState<WorkplaceRootState>({
        /*
         * @vuese
         * Column Visibility Settings Saved To user Preferences
         */
        orderColumns: state => state.user.orderColumns,
      }),
      /*
       * @vuese
       * @type Boolean
       * Determine if any groupBy functionality is currently implemented
       */
      hasGrouping() {
        const queryGroupBy = this.$route.query.groupBy;
        if (!queryGroupBy || queryGroupBy === WorkplaceOrderGrouperId.None) return false;
        return WORKPLACE_ORDER_GROUPERS.filter(sorter => sorter.id === queryGroupBy).length === 1;
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if the current layout is table layout
       */
      tableLayout() {
        return this.listingLayout === WorkplaceListingLayout.Table;
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if the current layout is cards layout
       */
      cardsLayout() {
        return this.listingLayout === WorkplaceListingLayout.Cards;
      },
      /*
       * @vuese
       * @type String
       * Computed 'No' grouping-type label
       */
      groupNoLabel() {
        const queryGroupBy = this.$route.query.groupBy;
        const grouper = WORKPLACE_ORDER_GROUPERS.filter(sorter => sorter.id === queryGroupBy)[0];
        return `No ${grouper.label}`;
      },
      /*
       * @vuese
       * @type String
       * Hidden Columns Defined By User Preferences
       */
      hiddenColumns(): string {
        return this.orderColumns.filter(col => !col.visible).map(col => col.columnKey);
      },
      /*
       * @vuese
       * @type WorkplaceOrder[][]
       * items from workplace collection
       */
      items(): WorkplaceOrder[][] {
        if (!this.hasGrouping) return this.sortedOrders.map(group => group.items);
        const needToPrioritizeStatus = this.$route.query.groupBy === WorkplaceOrderGrouperId.OrderStatus;

        return !needToPrioritizeStatus
          ? this.sortedOrders.map(group => group.items)
          : this.sortedOrders.sort((
                { classification: firstStatus },
                { classification: nextStatus },
              ) => SORT_ORDER_STATUSES(firstStatus, nextStatus),
          ).map(group => group.items);
      },
      /*
       * @vuese
       * Build a set of cached maps in advance so that the listing getter methods
       * dont have to search for a matching column on each invocation
       */
      columnIndexMap() { return WorkplaceUtils.createColumnPropertyMap('index', this.orderColumns); },
      /*
       * @vuese
       * Build a set of cached maps in advance so that the listing getter methods
       * dont have to search for a matching column on each invocation
       */
      columnSortableMap() { return WorkplaceUtils.createColumnPropertyMap('sortable', this.orderColumns); },
      /*
       * @vuese
       * Build a set of cached maps in advance so that the listing getter methods
       * dont have to search for a matching column on each invocation
       */
      columnTableHeaderLabelMap() { return WorkplaceUtils.createColumnPropertyMap('label', this.orderColumns); },
      /*
       * @vuese
       * Build a set of cached maps in advance so that the listing getter methods
       * dont have to search for a matching column on each invocation
       */
      columnWidthMap() { return WorkplaceUtils.createColumnPropertyMap('width', this.orderColumns); },
      /*
       * @vuese
       * @type Boolean
       * Determine if order requests are pending
       */
      orderRequestsPending: () => false,
      /*
       * @vuese
       * @type Number
       * Total Results Count of SORTED collection
       */
      orderResultsCount() {
        return !!this.sortedOrders[0]
          ? this.sortedOrders[0].length.total
          : 0;
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if we should display the loading overlay
       */
      showLoadingOverlay() {
        return this.orderRequestsPending && this.orderResultsCount < 1;
      },
      /*
       * @vuese
       * @type String
       * Determine which column we are currently sorting by
       */
      sortedColumnKey(): string {
        const matchingColumn = this.orderColumns.find(col => col.sortable === this.sortBy);
        return matchingColumn ? matchingColumn.columnKey : '';
      },
    },
    methods: {
      ...mapActions({
        /*
         * @vuese
         * Fetch order columns user preferences
         */
        fetchOrderColumns: types.user.fetchOrderColumns,
        /*
         * @vuese
         * Update order columns user preferences
         */
        updateOrderColumn: types.user.updateOrderColumn,
      }),
      /*
       * @vuese
       * @param WorkplaceOrder
       * Redirect to the given order detail page
       */
      detailsRoute(item: WorkplaceOrder) {
        return {
          name: WorkplaceRouteNames.OrderDetails,
          params: {
            ...this.$route.params,
            orderId: item.orderNumber,
          },
          query: { ...this.$route.query },
        };
      },
      /*
       * @vuese
       * @param Columns
       * @type string | boolean
       * Determine if a given column is sortable by the column key
       */
      columnIsSortable(columnKey: string): string | boolean {
        return this.columnSortableMap[columnKey];
      },
      /*
       * @vuese
       * @param Columns
       * @type number
       * Retrieve the index of a given column by its columnKey
       */
      getColumnIndex(columnKey: string): number {
        return this.columnIndexMap[columnKey] || -1;
      },
      /*
       * @vuese
       * @param Columns
       * @type number
       * Retrieve the current column width by its columnKey
       */
      getColumnWidth(columnKey: string): number {
        return this.columnWidthMap[columnKey] || 1;
      },
      /*
       * @vuese
       * Get the given label of a group
       */
      getGroupLabel(scope: GroupHeaderCellScope): string {
        const group: WorkplaceOrderGroup = this.sortedOrders[scope.groupIndex];
        if (!group) throw new Error(`There is no group with the index "${scope.groupIndex}!"`);
        return Array.isArray(group.label) ? group.label.join(' ') : group.label;
      },
      /*
       * @vuese
       * Get the table header label
       */
      getTableHeaderLabel({ column }: TableHeaderCellScope): string {
        const matchingLabel = this.columnTableHeaderLabelMap[column.columnKey];
        return matchingLabel ? matchingLabel.short : '';
      },

      /*
       * @vuese
       * calculate the startDateTime of a given item's datetime string property
       */
      startDateTime(item) {
        if (item.startDateTime) {
          return moment(item.startDateTime).toDate().toUTCString();
        }
        return {};
      },
      /*
       * @vuese
       * calculate the returnDateTime of a given item's datetime string property
       */
      returnDateTime(item) {
        if (item.returnDateTime) {
          return moment(item.returnDateTime).toDate().toUTCString();
        }
        return {};
      },
      /*
       * @vuese
       * Set element css display property
       */
      setElDisplay(query: string, display = 'block')  {
        const el = document.querySelector(query);
        if (el instanceof HTMLElement) {
          el.style.display = display;
        }
      },
      /*
       * @vuese
       * Handle listing table events (sortRequest, scrollRangeChanged, columnResized)
       */
      handleListingEvent({ event, payload }: ListingEvent) {
        switch (event) {
          case 'sortRequest': return this.handleSortRequest(payload);
          case 'scrollRangeChanged': return this.handleScrollRangeChanged(payload);
          case 'columnResized': return this.handleColumnResized;
        }
      },
      /*
       * @vuese
       * Handle the resizing of a column
       */
      async handleColumnResized({ column: { columnKey }, newWidth, previousWidth }: ColumnResizedPayload) {
        if (newWidth !== previousWidth) {
          await this.updateOrderColumn({
            columnKey,
            changes: { width: newWidth },
          });
        }
      },
      /*
       * @vuese
       * Handle a change in the scroll range
       */
      handleScrollRangeChanged(payload: ScrollRangeChangedPayload) {
        this.scrollRange = payload;
      },
      /*
       * @vuese
       * Handle a listing table sort request
       */
      handleSortRequest({ columnKey, sortDirection }: SortRequestPayload) {
        // Get the matching sortable ID
        const column = this.orderColumns.find(col => col.columnKey === columnKey);
        if (!column || !column.sortable) throw new Error(`The column key ${columnKey} is not sortable!`);

        // Set the route
        this.$router.replace({
          ...this.$route,
          query: {
            ...this.$route.query,
            sortBy: column.sortable,
            sortDirection,
          },
        });
      },

    },
    watch: {
      /*
       * @vuese
       * Watch the sortBy route query parameter and if it
       * is not empty set this.sortBy to the query parameter
       */
      ['$route.query.sortBy']: {
        immediate: true,
        handler(sortBy: string) {
          this.sortBy = sortBy || '';
        },
      },
    },
  };
</script>


<style lang="scss" scoped>
  //@import '01-variables';
  @import 'styles/globals';

  .h-100vh {
    height: 100vh;
  }

  .bg-gradient {
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: -50vw;
      z-index: -1;
      right: -50vw;
      top: 0;
      bottom: 0;
      background: linear-gradient(180deg, $color-grey-2 0%, $color-white 72px, $color-white 100%);
      border-top: 1px solid $color-grey-11;
      box-sizing: border-box;
    }
  }
</style>
