<template>
  <div class="dashboard__carousel w-100">
    <carousel
      :class="center"
      :navigation-enabled="navigationEnabled"
      :navigation-next-label="navigationNextLabel"
      :navigation-prev-label="navigationPrevLabel"
      :pagination-active-color="'#008CFF'"
      :pagination-color="'#DDE0E2'"
      :pagination-enabled="false"
      :per-page-custom="[[320, 2.35], [480, 3.35], [640, 4], [768, 5], [1024, 5], [1440, 5]]"
      ref="carousel"
      :scroll-per-page="false"
      @click="clicked($this)"
      :space-padding="spacePadding"
      @pageChange="gtmTrackCarouselButton('dashboard-carousel', $event)"
    >
      <slide>
        <dashboard-card
          :labelData="totals.allOrders"
          :title="$i18n('workplace.order.allOrders')"
          :historicalData="totals.allOrders"
          :to="totals.allOrders === 0 ? {} : cards.allOrders.route"
          :loading="orderRequestsPending"
          arrow="true"
          status="onRent"
          :active="totals.allOrders === 0 ? false : cards.allOrders.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="totals.overdueOrders"
          :title="totals.overdueOrders === 0 ? $i18n('dashboard.noneOverdueOrDueSoon') : $i18n('workplace.order.overdueAndDueSoon')"
          :to="totals.overdueOrders === 0 ? {} : cards.overdueOrders.route"
          :loading="orderRequestsPending"
          status="overDue"
          arrow="overDue"
          :active="totals.overdueOrders === 0 ? false : cards.overdueOrders.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="totals.contractOrders"
          :title="$i18n('workplace.order.contracts')"
          :to="totals.contractOrders === 0 ? {} : cards.contractOrders.route"
          :forceDisable="true"
          :loading="orderRequestsPending"
          status="onTime"
          arrow="true"
          :active="totals.contractOrders === 0 ? false : cards.contractOrders.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="totals.reservationOrders"
          :title="$i18n('workplace.order.reservations')"
          :to="totals.reservationOrders === 0 ? {} : cards.reservationOrders.route"
          :forceDisable="true"
          :loading="orderRequestsPending"
          status="onRent"
          arrow="true"
          :active="totals.reservationOrders === 0 ? false : cards.reservationOrders.active"
        />
      </slide>
      <slide>
        <dashboard-card
          :labelData="totals.quoteOrders"
          :title="$i18n('workplace.order.quotes')"
          :to="totals.quoteOrders === 0 ? {} : cards.quoteOrders.route"
          :forceDisable="true"
          :loading="orderRequestsPending"
          status="onRent"
          arrow="true"
          :active="totals.quoteOrders === 0 ? false : cards.quoteOrders.active"
        />
      </slide>
    </carousel>
  </div>
</template>
<script lang="ts">
  import { get } from 'lodash';
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import DashboardCarousel from '../dashboard/dashboard-carousel/dashboard-carousel.vue';
  import { WorkplaceOrderStatusName, WorkplaceOrderTransactionType, WorkplacePredefinedRoutes } from '@/lib/workplace';
  /*
   * @vuese
   * @group Workplace
   * Workplace Orders Listing Summary Cards
   * EXTENDS: Dashboard Carousel
   */
  export default {
    name: 'OrderListSummaryCards',
    extends: DashboardCarousel,
    data() {
      return {
        /*
         * @vuese
         * Totals for each order status
         */
        totals: {
          allOrders: 0,
          quoteOrders: 0,
          contractOrders: 0,
          reservationOrders: 0,
          overdueOrders: 0,
        },
      };
    },
    beforeUpdate() {
      this.calculateTotals();
    },
    methods: {
      /*
       * @vuese
       * Calculate the totals based on the status from the current orders collection
       */
      calculateTotals() {
        if (this.orderRequestsPending) return;

        this.totals.allOrders = this.orders.length;
        this.totals.quoteOrders = this.orders.filter(({ orderType }) => [WorkplaceOrderTransactionType.Quote].includes(orderType)).length;
        this.totals.contractOrders = this.orders.filter(({ orderType }) => [WorkplaceOrderTransactionType.Contract].includes(orderType)).length;
        this.totals.reservationOrders = this.orders.filter(({ orderType }) => [WorkplaceOrderTransactionType.Reservation].includes(orderType)).length;
        this.totals.overdueOrders = this.orders.filter(({ status }) => [WorkplaceOrderStatusName.Overdue, WorkplaceOrderStatusName.DueSoon].includes(status)).length;
      },
      /*
       * @vuese
       * @type Toggle
       * Set the active status
       */
      setActive() {
        const orderStatuses = get(this.$route.query, ['orderStatus'], []);
        if (orderStatuses.length === 0) {
          this.cards.allOrders.active = true;
          return;
        }
        if (orderStatuses.includes(WorkplaceOrderStatusName.Overdue) && orderStatuses.includes(WorkplaceOrderStatusName.DueSoon)) {
          this.cards.overdueOrders.active = true;
        }
        if (orderStatuses.includes(WorkplaceOrderStatusName.Open)) {
          this.cards.contractOrders.active = true;
        }
        if (orderStatuses.includes(WorkplaceOrderStatusName.Reserved)) {
          this.cards.reservationOrders.active = true;
        }
        if (orderStatuses.includes(WorkplaceOrderStatusName.Quoted)) {
          this.cards.quoteOrders.active = true;
        }
      },
    },
    mounted() {
      this.setActive();
      this.calculateTotals();
    },
    computed: {
      ...mapGetters({
        /*
         * @vuese
         * @type WorkplaceOrder[]
         * Orders collection for Current Account
         */
        orders: types.workplace.ordersForCurrentAccount,
        /*
         * @vuese
         * @type Boolean
         * Determine if order requests are still pending
         */
        orderRequestsPending: types.workplace.ordersRequestPending,
      }),
      /*
       * @vuese
       * Summary Cards with Filter Route and active toggle
       */
      cards() {
        return {
          allOrders: {
            route: {
              ...this.$route,
              ...WorkplacePredefinedRoutes.allOrders,
            },
            active: false,
          },
          overdueOrders: {
            route: {
              ...this.$route,
              ...WorkplacePredefinedRoutes.overdueOrders,
            },
            active: false,
          },
          contractOrders: {
            route: {
              ...this.$route,
              ...WorkplacePredefinedRoutes.contractOrders,
            },
            active: false,
          },
          reservationOrders: {
            route: {
              ...this.$route,
              ...WorkplacePredefinedRoutes.reservationOrders,
            },
            active: false,
          },
          quoteOrders: {
            route: {
              ...this.$route,
              ...WorkplacePredefinedRoutes.quoteOrders,
            },
            active: false,
          },
        };
      },
    },
    watch: {
      /*
       * @vuese
       * If order requests pending are complete, calculate totals
       */
      orderRequestsPending(isPending) {
        if (isPending) return;

        setTimeout(() => this.$forceUpdate(), 1000);
      },
    },
  };
</script>
