<template>
  <div class="block-unitedrentals-content not-found-container">
    <div class="flex-col-width-100">
      <div class="dashboard__item-not-found">
        <h1 v-html="$i18n('workplace.notFoundHeader')"></h1>
        <p>
          <span v-html="$i18n('workplace.notFoundBody')"></span>
          <a v-html="$i18n('workplace.catalog')" v-on:click="redirect('/marketplace/order')"></a>
          <span v-html="$i18n('dashboard.or')"></span>
          <a v-html="$i18n('workplace.returnToPreviousPage')" v-on:click="redirect('previous')"></a>
        </p>
        <h3 v-html="$i18n('workplace.notFoundSubheader')"></h3>
        <div class="better-results" v-on:click="redirect('/')">
          <a v-html="$i18n('workplace.urHomepage')"></a>
          <i class="icon icon-before-long-arrow-right c-orange"></i>
        </div>
        <div class="better-results" v-on:click="redirect('/marketplace/order')">
          <a v-html="$i18n('workplace.rentOrder')"></a>
          <i class="icon icon-before-long-arrow-right c-orange"></i>
        </div>
        <div class="better-results">
          <span v-html="$i18n('workplace.callCustomerService')"></span> <gtm-phone-number class="display-inline" :number="generalNumber"></gtm-phone-number>
        </div>
      </div>
    </div>
    <div class="order-block flex-col-width-100 bgc-transparent">
      <div class="column m-t-40 m-b-40">
        <h3 v-html="$i18n('workplace.popularOrderTypes')"></h3>
        <vueml-carousel
          :min-swipe-distance="0"
          :navigation-enabled=true
          :navigation-next-label="navNextLabel"
          :navigation-prev-label="navPrevLabel"
          :pagination-active-color="'#008CFF'"
          :pagination-color="'#DDE0E2'"
          :per-page-custom="[[320, 2],[640, 4],[1440, 5]]"
          @pageChange="gtmTrackCarouselButton(gtmTrackCarouselButtonValue, $event)"
        >
          <vueml-slide v-for="(item, idx) in popularOrderTypes" :key="idx" class="flex justify-center">
            <div class="order-type__container">
              <a :href="item.url">
                <div class="order-type">
                  <div class="order-type__image">
                    <img :src="item.image" width="220" height="220" alt="" typeof="foaf:Image">
                  </div>
                  <h3 class="order-type__name">{{item.name}}</h3>
                  <button :href="item.url" class="button button--style-1 button--default">
                      <span v-html="$i18n('workplace.find')"></span> {{item.name}}
                  </button>
                </div>
              </a>
            </div>
          </vueml-slide>
        </vueml-carousel>
      </div>
    </div>
  </div>
</template>

<script>
  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number.vue';

  /*
   * @vuese
   * @group Workplace
   * Order Catalog Item Not Found
   */
  export default {
    name: 'OrderCatalogItemNotFound',
    components: { GtmPhoneNumber },
    data() {
      return {
        /*
         * @vuese
         * @type Boolean
         * Currently Fetching Data
         */
        fetching: false,
        /*
         * @vuese
         * @type HTMLString
         * next nav html icon
         */
        navNextLabel: '<i class="icon icon-before-arrow-right"></i>',
        /*
         * @vuese
         * @type HTMLString
         * prev nav html icon
         */
        navPrevLabel: '<i class="icon icon-before-arrow-left"></i>',
      };
    },
    mounted() {
      this.fetching = true;
    },
    methods: {
      /*
       * @vuese
       * @type HardLink
       * Redirect user to previous url or a different location
       */
      redirect(url) {
        return url === 'previous'
          ? window.history.back()
          : window.location.assign(url);
      },
    },
  };
</script>
