<template>
  <div class="delivery-tool">
    <ur-select
      :label="$i18n('checkout.pickupTitle')"
      :value="localValue"
      @change="onSelect"
      :suppress-empty-option="true"
      :disabled="requestsAreInFlight"
    >
      <option v-for="(item, key) in options" :key="`option.${key}`" :value="item.returnType">
        {{ $i18n(item.text) }}
        <template v-if="parseFloat(estimatedPickupFee)">
          <span v-if="item.currency">({{ item.currency | currency }})</span>
          <span v-else>({{ parseFloat(estimatedPickupFee) | currency }})</span>
        </template>
      </option>
    </ur-select>
  </div>
</template>

<script type="text/babel">
  import types from '@/store/types';
  import UrSelect from '@/components/common/form/ur-select';

  export default {
    name: 'pickup-select',
    components: { UrSelect },
    created() {
      this.$root.$on('delivery-select-change', this.deliverySelectChange);
    },
    props: [
      'value',
      'estimatedPickupFee',
      'requestsAreInFlight',
    ],
    data() {
      return {
        localValue: '',
        options: [
          {
            selected: false,
            pickupType: 'N',
            pickup: false,
            pickupFirm: false,
            currency: '0',
            returnType: 'userReturn',
            text: 'checkout.userReturn',
          },
          {
            selected: false,
            pickup: true,
            pickupFirm: false,
            pickupType: 'Y',
            returnType: 'pickupLater',
            text: 'checkout.urPickupLater',
          },
          {
            selected: false,
            pickup: true,
            pickupFirm: true,
            pickupType: 'A',
            returnType: 'schedulePickup',
            text: 'checkout.prescheduledPickup',
          },
        ],
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
      };
    },
    computed: {
      selectedOption() {
        const { pickup } = this.$store.getters[types.readReservationDetails.currentReservation];
        return this.options.find(({ pickupType }) => pickupType === pickup) || false;
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.localValue = this.value || 'userReturn';
      });
    },
    methods: {
      onSelect(value) {
        this.localValue = value;
        this.$store.commit(
          types.pickupDelivery.select,
          this.options.find(({ returnType }) => returnType === value),
        );
        this.$nextTick(() => {

          //TODO: Find a way to emit to parent instead of root.
          this.$emit('change', this.selectedOption);
          this.$root.$emit('pickup-select-change', this.localValue);
        });
      },
      deliverySelectChange(delivery) {
        this.localValue = delivery === 'yes' ? this.selectedOption.returnType : 'userReturn';
      },
    },
  };
</script>