@each $dir-label, $dir-props in $ur-cardinal-labels {

  @each $border-style-label, $border-style in $ur-border-styles {

    .border-#{$dir-label}#{$border-style-label} {
      @each $dir in $dir-props {
        border-#{$dir}: #{$border-style} !important;
      }
    }
  }
}
