@each $name, $value in $ur-colors {
  /*
    Text color
  */
  .c#{$name} {
    color: $value !important;
  }

  /*
    Background color
  */
  .bgc#{$name} {
    background-color: $value !important;
  }

  /*
    Border color
  */
  .border-color#{$name} {
    border-color: $value !important;
  }
}
