$displays: (
  "-block": block,
  "-flex": flex,
  "-inline": inline,
  "-inline-block": inline-block,
  "-none": none,
  "-grid": grid
);

$widths: (
  "0": 0%,
  "10": 10%,
  "20": 20%,
  "25": 25%,
  "33": percentage(1/3),
  "50": 50%,
  "66": percentage(2/3),
  "75": 75%,
  "100": 100%,
  "auto": auto,
);

$overflows: (
  "visible": visible,
  "hidden": hidden,
  "scroll": scroll,
  "auto": auto,
);

@each $modifier, $value in $displays {
  .display#{$modifier} {
    display: $value !important;
  }
}

@each $modifier, $value in $widths {
  .w-#{$modifier} {
    width: $value !important;
  }
}

@each $modifier, $value in $overflows {
  .overflow-#{$modifier} {
    overflow: $value !important;
  }
}
