/*
  Flexbox display & direction
*/

$flex-directions: (
  '': (column, margin-bottom),
  -column: (column, margin-bottom),
  -column-reverse: (column-reverse, margin-top),
  -row: (row, margin-right),
  -row-reverse: (row-reverse, margin-left),
);

@each $modifier, $props in $flex-directions {
  $direction: nth($props, 1);
  $margin: nth($props, 2);

  .flex#{$modifier} {
    display: flex !important;
    flex-direction: $direction !important;

    @each $size-label, $ratio in $ur-unit-ratios {
      $size: $ratio * $ur-unit-spacing;

      &.flex-gap-#{$size-label} {
        & > *:not(:last-child) {
          #{$margin}: $size;
        }
      }
    }
  }
}

/*
  Flexbox container alignment
*/

$flex-alignments: (
  -baseline: baseline,
  -center: center,
  -items-center: center, // .align-center seems to collide with another class
  -end: flex-end,
  -left: flex-start,
  -right: flex-end,
  -safe: safe,
  -space-around: space-around,
  -space-between: space-between,
  -start: flex-start,
  -stretch: stretch
);

@each $modifier, $value in $flex-alignments {
  .justify#{$modifier} {
    justify-content: $value !important;
  }

  .align#{$modifier} {
    align-items: $value !important;

    @if ($modifier == '-left') {
      margin: 1rem 1rem 0 0;
    }
    @else if ($modifier == '-right') {
      margin: 1rem 0 0 1rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  .justify-self#{$modifier} {
    justify-self: $value !important;
  }

  .align-self#{$modifier} {
    align-self: $value !important;
  }
}

/*
  Flexbox grow & shrink
*/

.no-grow {
  flex-grow: 0 !important;
}

.no-shrink {
  flex-shrink: 0 !important;
}

.grow {
  flex-grow: 1 !important;
}

.shrink {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

@for $x from 0 through 5 {
  .grow-#{$x} {
    flex-grow: $x !important;
  }

  .shrink-#{$x} {
    flex-shrink: $x !important;
  }

}

@for $x from 1 through 20 {
  $num: $x * 5;
  .flex-col-width-#{$num} {
    width: #{$num}% !important;
  }
}

.flex-row-mobile {
  display: flex;
  @media screen and (max-width: $break-small) {
    display: block;
  }
}
