%decorative-horiz-bar-short {
  display: block;
  height: 4px;
  width: 120px;
  background: $color-orange;
  margin: 12px 0 0;
}

%decorative-horiz-bar-wide {
  @extend %decorative-horiz-bar-short;
  width: 240px;
}

.decorative-bar-horiz-short {
  &::after {
    content: '';
    @extend %decorative-horiz-bar-short;
  }

  &--centered {

    &::after {
      content: '';
      @extend %decorative-horiz-bar-short;
      margin: 12px auto 0;
    }
  }
}

.decorative-bar-horiz-wide {
  &::after {
    content: '';
    @extend %decorative-horiz-bar-wide;
  }

  &--centered {

    &::after {
      content: '';
      @extend %decorative-horiz-bar-wide;
      margin: 12px auto 0;
    }
  }
}