$positions: (
  -absolute: absolute,
  -fixed: fixed,
  -relative: relative
);

@each $modifier, $value in $positions {
  .pos#{$modifier} {
    position: $value !important;
  }
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;

  &::before,
  &::after {
    content: '';
    display: table;
  }
  &.sidebar-container {
    @include breakpoint($_break-medium) {
      top: 109px;
    }
  }
}
