@each $size-label, $ratio in $ur-unit-ratios {
  $size: $ratio * $ur-unit-spacing;

  @each $dir-label, $dir-props in $ur-cardinal-labels {
    .m-#{$dir-label}#{$size-label} {
      @each $dir in $dir-props {
        margin-#{$dir}: $size !important;
      }
    }
    .p-#{$dir-label}#{$size-label} {
      @each $dir in $dir-props {
        padding-#{$dir}: $size !important;
      }
    }
  }
}
