@each $name, $value in $ur-colors {
  .status-indicator#{$name} {
    position: relative;
    height:15px;
    display:inline-block;

    &:before {
      content: '';
      background-color: $value;
      width: 3px;
      height: 100%;
      position: absolute;
      left: -8px;
      top: 0;
    }
  }
}
.status-pill{
  background: $color-orange;
  color: $color-white;
  display: inline-block;
  font-size: 7px;
  line-height: 1;
  padding: 4px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-left: 10px;
}
