/*
  Text alignment
*/
$text-alignments: (
  -center: center,
  -left: left,
  -right: right,
  -justify: justify
);

@each $label, $value in $text-alignments {
  .text#{$label} {
    text-align: $value !important;
  }
}

/*
  Font size
*/
@each $label, $fs in $ur-font-sizes {
  .fs#{$label} {
    font-size: $fs !important;
  }
}

/*
  Line Heights to match font sizes
*/
@each $label, $fs in $ur-font-sizes {
  .lh#{$label} {
    line-height: $fs !important;
  }
}

/*
  Font weight
*/
@each $label, $fw in $ur-font-weights {
  .fw#{$label} {
    font-weight: $fw !important;
  }
}

.ellipsis {
  @extend %ellipsis;
}
