<template>
  <div class="reservation-progress">

    <!--
    NOTE: The classes assigned by progress.xxx will be:
    'inactive', 'ready', 'active', and 'summary'
    -->
    <template v-if="!stepInReadyState">
      <div class="reservation-progress__step" :class="progress.jobsite">
        <i class="icon icon-before-check-circle"></i>
        {{i18n.jobsite}}
      </div>

      <div class="reservation-progress__step" :class="progress.pickupDelivery">
        <i class="icon icon-before-check-circle"></i>
        {{i18n.pickupDelivery}}
      </div>

      <div class="reservation-progress__step" :class="progress.billing">
        <i class="icon icon-before-check-circle"></i>
        {{i18n.billing}}
      </div>
    </template>

    <button v-else class="button button--style-2 button--filled" @click="onButtonClick">{{buttonLabel}}</button>

  </div>
</template>

<script type="text/babel">
  import { mapLabels } from '@/utils';
  import { findKey } from 'lodash';
  import { mapState } from 'vuex';

  import { Progress } from '@/lib/cart';

  export default {
    computed: {
      ...mapState({
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      buttonLabel() {
        return this.i18n.buttonLabel[this.stepInReadyState];
      },
      stepInReadyState() {
        return findKey(this.progress, step => step === Progress.READY);
      },
    },
    data() {
      return {
        // Translated strings
        i18n: {
          ...mapLabels({
            jobsite: 'checkout.progressJobsite',
            pickupDelivery: 'checkout.progressPickupDelivery',
            billing: 'checkout.progressBilling',
          }),
          buttonLabel: mapLabels({
            jobsite: 'checkout.progressJobsiteStart',
            pickupDelivery: 'checkout.progressPickupDeliveryStart',
            billing: 'checkout.progressBillingStart',
            login: 'ur.signInToContinue',
          }),
        },
      };
    },
    methods: {
      onButtonClick() {
        this.$emit('update:progress', {
          ...this.progress,
          [this.stepInReadyState]: Progress.ACTIVE,
        });
      },
    },
    name: 'convertQuoteProgress',
    props: {
      progress: {
        type: Object,
        required: true,
      },
    },
  };
</script>
