.probox-list-item {
  display: flex;
  justify-content: space-between;

  &__image {
    flex: 0 0 auto;
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
    flex: 1;
  }

  &__cat-class-code {
    font-size: $font-size-base;
    color: $color-grey-38;
  }

  &__item-name {
    line-height: 1.1;
  }

  &__rates, &__rates-mobile {

    .rate {
      color: $color-grey-38;
      border-right: 1px solid $color-grey-38;
      padding-right: 10px;
      padding-left: 8px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  &__rates {
    display: none;
  }

  &__rates-mobile {
    display: flex;
    padding-top: 5px;
  }

  &__quick-view {
    margin-top: 6px;

    .quick-view-link {
      position: relative;
    }

    .icon {
      position: absolute;
      bottom: 1px;
      right: -12px;
    }
  }

  &__button {
    display: none;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    
    button {
      display: block;
      line-height: 1;
      width: 160px;
    }
  }

  @include breakpoint($break-small) {
    &__quick-view {
      margin-top: auto;
    }

    &__rates-mobile {
      padding-top: 0;
    }

    &__button {
      display: flex;
    }
  }

  @include breakpoint($break-medium) {
    &__rates {
      display: flex;
    }

    &__rates-mobile {
      display: none;
    }
  }
}