<div class="probox-list-item-container">
  <div class="probox-list-item">
    <div class="probox-list-item__image">
      <img src="{{ probox_list_item_image_src }}" alt="{{ probox_list_item_image_alt }}">
    </div>
    <div class="probox-list-item__details">
      <span class="probox-list-item__cat-class-code">{{ probox_list_item_cat_class }}</span>
      <h3 class="probox-list-item__item-name">{{ probox_list_item_item_name }}</h3>
      <div class="probox-list-item__rates-mobile">
        <span class="probox-list-item__daily-rate rate">D: ${{ probox_list_item_daily_rate }}</span>
        <span class="probox-list-item__weekly-rate rate">W: ${{ probox_list_item_weekly_rate }}</span>
        <span class="probox-list-item__monthly-rate rate">M: ${{ probox_list_item_monthly_rate }}</span>
      </div>
      <div class="probox-list-item__rates">
        <span class="probox-list-item__daily-rate rate">Daily: ${{ probox_list_item_daily_rate }}</span>
        <span class="probox-list-item__weekly-rate rate">Weekly: ${{ probox_list_item_weekly_rate }}</span>
        <span class="probox-list-item__monthly-rate rate">Monthly: ${{ probox_list_item_monthly_rate }}</span>
      </div>
      <div class="probox-list-item__quick-view">
        <a href="{{ probox_list_item_quick_view_link }}" class="quick-view-link">Quick View <i class="icon icon-angle-down"></i></a>
      </div>
    </div>
    <div class="probox-list-item__button">
      {% include "@atoms/06-buttons/style-1/01-button.twig" with {
          "button_content": probox_list_item_button_text,
          "button_modifiers": [
            "style-1",
            "filled"
          ]
        }
      %}
    </div>
  </div>
</div>