@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Location Entity: Full View Mode
// Location Entity type specific styles
//
// sass-lint:disable class-name-format, id-name-format
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../../globals';

.path-user.user-logged-in {
  // Hide the "Edit" and "View" tabs displayed from drupal
  .drupal-tabs {
    display: none;
  }

  // Personal
  .personal-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .change-link {
      margin: 0;
      width: 100%;

      @include media('>=s') {
        margin-left: rem($gap-b);
        width: auto;
      }
    }
  }

  // Groups
  .group > a {
    @include gap(
      $sizes: $gap-d
    );

    display: inline-block;
  }

  .group__heading {
    @include gap(
      $property: margin-bottom,
      $sizes: $gap-d
    );

    margin-top: 0;
  }

  .section {
    @include gap(
      $property: padding,
      $sizes: $gap-d 0
    );

    border-top: $border-width-light solid $color-utility-border;
    position: relative;

    &:last-child {
      border-bottom: $border-width-light solid $color-utility-border;
    }
  }

  .group.account-info,
  .group.payment-info {
    @include gap(
      $property: padding-bottom,
      $sizes: $gap-d
    );

    border-bottom: $border-width-light solid $color-utility-border;
  }

  .group.payment-info:last-child {
    border-bottom: 0;
  }

  .section__title {
    @include gap(
      $property: margin,
      $sizes: 0 0 $gap-a
    );

    position: relative;

    .card-name {
      @include gap(
        $property: margin-bottom,
        $sizes: $gap-a
      )
    }
  }

  .section__actions {
    @include gap(
      $sizes: $gap-d
    );

    a:first-child {
      @include gap(
        $property: margin-right,
        $sizes: $gap-e
      );
    }

    @include media('>=s') {
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;

      a {
        margin-left: 1rem;

        &:first-child {
          margin-right: rem($gap-e);
        }
      }
    }
  }

  h5 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  .section__field-group {
    display: flex;
    margin-bottom: rem($gap-a);

    label {
      margin: 0 rem($gap-b) 0 0;
    }

    span {
      color: $color-text-subtle;
    }
  }

  // 'Account' aka Modals
  .modal__content {
    .modal-body {
      .jobsite-form {
        @include gap(
          $property: padding,
          $sizes: $gap-d
        );

        background-color: $color-bg-light-secondary;
      }
    }

    .link-account-form {
      .password input {
        -webkit-text-security: disc;
      }

      .form-group {
        background-color: $color-bg-light-secondary;
      }

      p {
        color: $color-text-subtle;
        margin-left: rem($gap-b);
        max-width: rem(500);
      }

      .form-item {
        width: 55%;
      }

      .icon-views,
      .icon-eye-off {
        @include type-preset(70);

        color: $color-text-subtle;
        cursor: pointer;
        left: 85%;
        position: relative;
        top: rem(-$scale-10);
        z-index: 10;
      }

      .icon-views,
      .icon-eye-off {
        @include media('>=s') {
          left: 90%;
        }
      }
    }

    .remove-account-body {
      @include gap(
        $property: padding,
        $sizes: $gap-d
      );

      background-color: $color-bg-light-secondary;

      h3 {
        color: $color-orange-lowlight;
      }

      .remove-account-details {
        padding-left: rem($gap-d);
        padding-right: rem($gap-d);

        .account-name {
          font-weight: bold;
        }

        .account-number {
          color: $color-bg-light-secondary;
        }
      }
    }

    .user-details-form {
      .form-content {
        background-color: $color-bg-light-secondary;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-item {
          padding: 0;
        }
      }

      @include media('>=s') {
        .form-content {
          .form-item {
            flex: 1 1 auto;
            margin: auto;
            padding: 1rem;
            width: 50%;
          }
        }
      }
    }

    .modal-content {
      .card-edit-form {
        padding: 1rem;

        .card-details > .card-info {
          border-bottom: $border-width-light solid $color-utility-border;

          .card-info__exp {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .form-item {
            flex: 1 1 100%;
            margin: 0;

            @include media('>=s') {
              flex: 0 1 30%;
            }

            &:last-of-type {
              padding-bottom: 2rem;

              @include media('>=s') {
                padding-bottom: 1rem;
              }
            }

            .card-cvv {
              input {
                height: rem($scale-8);
                margin-bottom: 0;
              }
            }
          }
        }

        .card-name {
          margin-top: 1rem;

          @include media('>=s') {
            margin-top: 0;
          }
        }

      }
    }

    .modal-footer {
      border-top: $border-width-light solid $color-utility-border;
      flex-direction: column;

      @include media('>=s') {
        flex-direction: row;
      }

      .help {
        margin-bottom: 1rem;
        margin-top: 1rem;

        @include media('>=s') {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }

    .credit-card-form {
      .form-group {
        flex-direction: column;

        @include media('>=s') {
          flex-direction: row;
        }

        .flex-row.col-3 {
          flex-direction: column;

          @include media('>=s') {
            flex-direction: row;
          }
        }

        .card-holder {
          width: rem(250);

          @include media('>=s') {
            width: auto;
          }
        }

        &:nth-of-type(2) {
          margin-top: 1rem;

          @include media('>=s') {
            margin-top: 0;
          }
        }

      }
    }
  }

  .modal--quotes-rpp {
    .modal__content {
      @include gap(
        $property: padding,
        $sizes: $gap-d
      );
    }
  }

  .account {
    .account-id {
      color: $color-text-subtle;
    }
  }

  .removeCardModal {
    .form-content {
      flex-direction: column;
      margin: 1rem;
    }

    .modal-header {
      height: auto;
      padding: 0 1rem;
    }
  }

  @include media('>=s') {
    .removeCardModal {
      .modal__content {
        max-width: rem(400);
      }

      .warningText {
        color: $color-red;
      }

      .cardDetails {
        margin-left: 1rem;

        .cardName {
          color: $color-blue-lowlight;
          margin: 0;
        }

        .expiration small {
          color: $color-text-subtle;
          font-size: 0.8rem;
        }
      }
    }
  }

  .edit-card-modal,
  .add-credit-card-modal {
    .modal__content {
      @include media('>=l') {
        max-width: rem(800);
      }
    }
  }
}
