.add-a-card {
  margin: 0;
  padding: 0;

  &__header {
    padding: 15px;
    display: flex;
    flex-direction: row;

    h2 {

    }
  }

  &__body {
    background: $color-grey-2;
    border-top: $border-grey;
    border-bottom: $border-grey;
    padding: 15px;

    .card-name-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 0;

      .label-selection {
        margin-right: 20px;
      }

      .select {
        min-width: 250px;
        opacity: 0.5;
        pointer-events: none;

        &.active {
          opacity: 1;
          pointer-events: initial;
        }
      }
    }

    h6 {
      margin: 15px 0 10px 0;
    }

    input {
      height: 32px;
      max-width: 400px;
      margin: 0;
      border: $border-grey;
      border-radius: 2px;
      background-color: $color-white;
      appearance: none;
      outline: none;
    }
  }

  &__footer {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin-right: 15px;
      width: 150px;
    }
  }
}