<div class="modal__content modal__content--center">

  <div class="add-a-card__header">
  {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
    with {
      heading_2: heading_2
    }
  %}

  {% include '@atoms/06-buttons/icon-button/icon-button.twig' %}
  </div>
  <div class="add-a-card__body">

    {% include '@organisms/proceed-to-checkout/payment-information/card-information/card-information.twig' %}


    <div class="card-number">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Custom Card Name (optional)"
        }
      %}
      <input class="card-name-input" placeholder="Enter a card name">
    </div>
    <div class="card-name-container">
      <div>
        {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
          with {
            "checkbox_item": "Default payment for: ",
            "key": 1
          }
        %}
      </div>
      <div>
        {% include '@atoms/05-forms/select/select.twig'
          with {
            select_options: month_select_options
          }
        %}
      </div>
    </div>

  </div>
  <div class="add-a-card__footer">
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Cancel',
        button_modifiers: cancel_button_modifiers
      }
    %}
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Done',
        button_modifiers: done_button_modifiers
      }
    %}
  </div>
</div>