<{{ ds_content_wrapper }}{{ attributes.addClass('project-uptime-detail') }}>
{{ title_suffix.contextual_links }}
  {% embed '@organisms/project-uptime/article-details/article-details.twig'
  with {
    "article_title": ds_content.node_title|render|striptags|replace({'&amp;':'&', '&#039;': "'"}),
    "article_blockname": 'project-uptime-article',
    "article_1_title_modifiers": ['thin'],
    "article_by_text": (author_content.fullName is empty) ? '' : 'By'|t|trim,
    "article_by_date": ds_content.node_post_date|render|striptags|trim,
    "article_by_author": author_content.fullName|render,
    "article_image_src": ds_content.field_image|render,
    "article_image_alt": ds_content.field_image[0]['#item'].values['alt']|render|striptags|trim,
    "article_content": ds_content.body|render,
    "article_tags": tags,
    "addtoany": ds_content.addtoany|render,
    "flag": ds_content.flag_favorite_project_uptime|render,
    "article_author_image_src": author_content.image|striptags|trim,
    "article_author_name": author_content.fullName|render,
    "article_author_title": author_content.title[0].value|render|striptags|trim,
    "article_author_bio": author_content.biography[0].value|render|striptags|trim,
    "article_author_more_link_url": author_content.url,
    "popular_articles": drupal_block('views_block__project_uptime_popular_articles'),
    "related_equipment": drupal_block('views_block__project_uptime_related_equipment'),
    "breadcrumbs": drupal_block('unitedrentals_breadcrumbs'),
    "article_components": ds_content.field_project_uptime_components|render
  }
  %}
    {% block social_share %}
      <span class="project-uptime-article__social-share-text">{{ 'Share' | t }}</span>
      {{ addtoany }}
      {{ flag }}
      {% set title = article_title|trim ~ "\n" %}
      {% set byLine = "By " ~ article_by_author|trim ~ ' ' ~ article_by_date|trim ~ "\n\n" %}
      {% set body = article_content|striptags|trim %}
      {% set authorInfo = "\n\n" ~ article_by_author|trim ~ "\n" ~ article_author_title ~ "\n\n" ~ article_author_bio  %}
      {% set formattedBody = title ~ byLine ~  body ~ authorInfo %}
      <a href="mailto:?subject={{ "Project Uptime Article: " ~ article_title|striptags|trim|url_encode }}&body={{ formattedBody|url_encode }}" target="_top"><i class="icon icon-envelope project-uptime-article__social__icon-envelope"></i></a>
      <a onclick="window.print()">
        <i class="icon icon-print project-uptime-article__social__icon-print"></i>
      </a>
    {% endblock %}
  {% endembed %}

</{{ ds_content_wrapper }}>
