.parallax-wrapper article.grid, .no-intersection-observer article.grid {
  padding: 0 !important;
}

/* Safari large-image top padding bug fix */
.layout-container.parallax-wrapper .o-container-xl.o-flex.o-flex-col.o-items-center{
  max-height: 100vh;
}

/* --- IE11 cta text too-wide fix --- */
.layout-container.parallax-wrapper .node__content{
  width: 100%;
}
.layout-container.parallax-wrapper .o-bg-blue-lowlight.ms-cta-tile {
  width: 100%;
}
.layout-container.parallax-wrapper .o-bg-blue-lowlight.ms-cta-tile .text-center {
  width: 100%;
}
.layout-container.parallax-wrapper .o-bg-blue-lowlight.ms-cta-tile .o-text-white {
  width: 100%;
}

/* --- IE11 laptop & text wrong order bug fix --- */
.layout-container.parallax-wrapper .ms-demo .ms-demo-video-wrapper-mobile{
  order:8;
}
.layout-container.parallax-wrapper .ms-demo .ms-demo-description-wrapper {
  order:6;
}
.layout-container.parallax-wrapper .ms-demo .ms-demo-video-wrapper-desktop{
  order:7;
}

@media (max-width: 767px) and (min-width: 0px) {
  .layout-container.parallax-wrapper .ms-demo .ms-demo-video-wrapper-mobile {
    order: 5
  }
  .layout-container.parallax-wrapper .ms-demo .ms-demo-description-wrapper {
    order: 6;
  }
  .layout-container.parallax-wrapper .ms-demo .ms-demo-video-wrapper-desktop {
    order: 7;
  }
}

/* Chrome CTA button color bug fix */
.layout-container.parallax-wrapper  .o-button.o-button-regular.o-button-primary-alternative {
  color:white;
}