.special-date-range-form {
  margin: 1.5rem 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include breakpoint($break-small) {
    max-width: 400px;
  }

  label,
  .form-actions { display: none; }

  .form-item {
    width: 100%;
    min-width: 180px;
    margin-bottom: 1rem;

    &:last-child { margin-bottom: 0; }

    // Hiding the date range text fields
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    @include breakpoint($break-small) {
      width: 45%;
    }
  }
}