.paragraph--type-article-carousel {
  margin: 0 auto 2rem;
  max-width: 90%;
  width: 1500px;

  .component-article-carousel__title {
    color: #414b50;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: 1.57143rem;
    font-variant: none;
    font-weight: 700;
    line-height: 1.090909;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 100%;
  }

  .node--type-project-uptime-pages.node--view-mode-carousel-card {
    background: #F2F2F2;
    min-height: 450px;

    .node__content {
      min-height: 450px;
      position: relative;

      .field--name-field-image img{
        max-height: 300px;
      }

      .field-category,
      .node__title,
      .post-date {
        padding: 0 20px;
      }

      .field-category {
        padding-top: 20px;

        a {
          color: #008cff;
          font-size: 1rem;
          font-weight: bold;
          margin: 0 0 5px 0;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid #000;
            text-decoration: none;
          }
        }
      }

      .node__title {
        h2 {
          margin-top: .25rem;
        }

        a {
          color: #000;
          margin: 0;
          font-size: 1.28571rem;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid #008cff;
            text-decoration: none;
          }
        }
      }

      .post-date {
        bottom: 20px;
        color: #91969b;
        position: absolute;
      }

      @media (min-width: 1024px) and (max-width: 1200px) {
        min-height: 400px;
      }
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
      min-height: 400px;
    }
  }
}
