<template>
  <div>
    <div v-for="(row, key) in rows" :key="`row-${key}`" class="flexify" :class="row.type === rowTypes.GroupHeader ? 'group-container' : ''">
      <div v-if="row.type === rowTypes.GroupHeader" :key="`group-header-${key}`" class="flexify-group">
        <listing-group-header
          :colspan="layout.rootTableColumnWidths.length"
          :collapsed="groupIsCollapsed(row.groupIndex)"
          :group="state.groupConfig"
          :row="row"
          @toggleCollapsed="toggleCollapsed"
        />
      </div>
      <div v-else-if="row.type === rowTypes.Data" class="flexify-grid-item">
        <grid-listing-field :item="row.item" :field="{ resourceProperty: 'gridField' }"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./grid-table-body.ts"></script>
<style lang="scss" scoped>
  @import 'styles/globals';

  .flexify {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;

    > .flexify-grid-item {
      box-shadow: 0 2px 8px 1px rgba(22, 23, 24, 0.16);
      -webkit-box-shadow: 0 2px 8px 1px rgba(22, 23, 24, 0.16);
      -moz-box-shadow: 0 2px 8px 1px rgba(22, 23, 24, 0.16);

      &:hover {
        box-shadow: 0 4px 16px 1px rgba(22, 23, 24, 0.16);
        -webkit-box-shadow: 0 4px 16px 1px rgba(22, 23, 24, 0.16);
        -moz-box-shadow: 0 4px 16px 1px rgba(22, 23, 24, 0.16);
      }
    }
  }

  .flexify-group {
    width: 100vw !important;
    margin-top: 5px;
    margin-bottom:5px
  }

  .flexify:not(.group-container) {

    @include media('>=640px') {
      width: calc(50%);
    }
    @include media('>=l') {
      width: calc(33.33%);
    }
    @include media('>=xl') {
      width: calc(25%);
    }
  }

  .flexify-grid-item {
    margin: 8px;
    width: calc(100% - 16px);

    @include media('>=640px') {
      height: 293px;
    }
    @include media('>=m') {
      height: 325px;
    }
    @include media('>=l') {
      height: 319px;
    }

  }
</style>
