<template>
  <listing-table :column-widths="layout.rootTableColumnWidths">
    <tr slot="head">
      <!-- LEFT-PINNED -->
      <listing-cell
        v-for="(column, leftColumnIndex) in layout.leftPinnedColumns"
        type="table-header"
        :key="'left-' + leftColumnIndex"
        pinned="left"
        @mouseover="selectColumn(column, true)"
        @mouseout="selectColumn(column, false)"
        :col-index="leftColumnIndex"
        :items="state.data"
        :column="column"
        @resizeBegin="handleResizeHandleMouseDown($event, column)"
      />

      <!-- FLOATING CENTER TABLE -->
      <th class='cell cell--center'>
        <div class="overflow-shadow overflow-shadow--left"></div>
        <div class="overflow-shadow overflow-shadow--right"></div>

        <listing-subtable :class="layout.scrollLeftSyncClass" @scroll="handleSubtableScroll">
          <listing-table :column-widths="layout.centerWidths" :is-subtable="true">
            <tr slot="head">
              <listing-cell
                v-for="(column, centerColumnIndex) in layout.centerColumns"
                type="table-header"
                :key="'center-' + centerColumnIndex"
                :col-index="centerColumnIndex"
                :items="state.data"
                :column="column"
                @mouseover="selectColumn(column, true)"
                @mouseout="selectColumn(column, false)"
                @resizeBegin="handleResizeHandleMouseDown($event, column)"
              />
            </tr>
          </listing-table>
        </listing-subtable>
      </th>


      <!-- RIGHT-PINNED -->
      <listing-cell
        v-for="(column, rightColumnIndex) in layout.rightPinnedColumns"
        type="table-header"
        :key="'right-' + rightColumnIndex"
        pinned="right"
        :col-index="rightColumnIndex"
        :items="state.data"
        :column="column"
        @mouseover="selectColumn(column, true)"
        @mouseout="selectColumn(column, false)"
        @resizeBegin="handleResizeHandleMouseDown($event, column)"
      />
    </tr>
  </listing-table>
</template>

<script lang="ts" src="./listing-table-header.ts"></script>
