<template>
  <virtual-scroll
    ref="vsl"
    :item-height="getRowHeight"
    :item-total="rows.length"
    root-tag="div"
    viewport-tag="div"
    :class="layout.scrollTopSyncClass"
    @rangeChange="handleRangeChange"
    @scrollPositionChange="handleScrollPositionChange"
  >
    <listing-table
      v-for="(row, rowIndex) in rows"
      :column-widths="layout.rootTableColumnWidths"
      :key="rowIndex"
      :class="{
        'listing-row--link-hover': rowIndex === linkHoverRowIndex,
        'listing-row--even': row.type === rowTypes.Data && row.itemIndex % 2 === 0,
        'listing-row--odd': row.type === rowTypes.Data && row.itemIndex % 2 === 1,
      }"
    >
      <template v-if="vscrollRange.itemTotal < 1 || (rowIndex >= vscrollRange.startIndex && rowIndex <= vscrollRange.endIndex)">
        <!-- GROUP HEADER ROW -->
        <tr v-if="row.type === rowTypes.GroupHeader" :key="rowIndex">
          <listing-group-header
            :colspan="layout.rootTableColumnWidths.length"
            :collapsed="groupIsCollapsed(row.groupIndex)"
            :group="state.groupConfig"
            :row="row"
            @toggleCollapsed="toggleCollapsed"
          />
        </tr>


        <!-- DATA ROW -->
        <tr v-else-if="row.type === rowTypes.Data">
          <!-- LEFT-PINNED COLUMNS-->
          <listing-cell
            v-for="(column, colIndex) in layout.leftPinnedColumns"
            type="data"
            :key="'left-' + colIndex"
            pinned="left"
            :col-index="colIndex"
            :column="column"
            @mouseover="column.link && handleLinkMouseOver(rowIndex)"
            @mouseout="column.link && handleLinkMouseOut(rowIndex)"
            :row="row"
          />

          <!-- FLOATING CENTER TABLE -->
          <td class='cell cell--subtable'>
            <div class="overflow-shadow overflow-shadow--left"></div>
            <div class="overflow-shadow overflow-shadow--right"></div>

            <listing-subtable ref="subtable" :index="rowIndex" :class="layout.scrollLeftSyncClass" @scroll="handleSubtableScroll">
              <listing-table :column-widths="layout.centerWidths" :is-subtable="true">
                <tr>
                  <listing-cell
                    v-for="(column, centerColIndex) in layout.centerColumns"
                    type="data"
                    :key="'center-' + centerColIndex"
                    :col-index="centerColIndex"
                    :column="column"
                    :row="row"
                    @mouseover="column.link && handleLinkMouseOver(rowIndex)"
                    @mouseout="column.link && handleLinkMouseOut(rowIndex)"
                  />
                </tr>
              </listing-table>
            </listing-subtable>
          </td>

          <!-- RIGHT-PINNED -->
          <listing-cell
            v-for="(column, colIndex) in layout.rightPinnedColumns"
            type="data"
            :key="'right-' + colIndex"
            pinned="right"
            :col-index="colIndex"
            :column="column"
            :row="row"
            @mouseover="column.link && handleLinkMouseOver(rowIndex)"
            @mouseout="column.link && handleLinkMouseOut(rowIndex)"
          />
        </tr>
      </template>
    </listing-table>
  </virtual-scroll>
</template>

<script lang="ts" src="./listing-table-body.ts"></script>
