<template>
  <div class="delivery-instructions">
    <ur-textarea
      :label="$i18n('ur.deliveryInstructions')"
      :value="localValue"
      :placeholder="$i18n('ur.deliveryInstructionsPlaceholder')"
      @input="onInput"
      :disabled="disabled"
      :maxlength="160"
    />
    <ur-error-label
      v-if="$v.$error"
      :message="$i18n('e.deliveryInstructions')"
    />
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextarea from '@/components/common/form/ur-textarea';

  import FormControlMixin from '../mixins/form-control.mixin';
  import { maxLength } from 'vuelidate/lib/validators';

  export default {
    mixins: [
      FormControlMixin,
    ],
    components: {
      UrTextarea,
    },
    name: 'delivery-instructions-textarea',
    validations: {
      localValue: {
        max: maxLength(160),
      },
    },
  };
</script>
