{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# Build an array of link urls and link titles to be passed to the patternlab template #}
{% set links = row._entity.fields.field_teaser_links %}
{% set links_array = [] %}
{% for item in links %}
  {% set link = links.get(loop.index - 1) %}
  {% set url = link.getUrl().toString() %}
  {% set values = link.getValue() %}
  {% set new_link = [{"link_text": values['title'], "link_url": url}] %}
  {% set links_array = links_array|merge(new_link)  %}
{% endfor %}
{% include "@molecules/child-category-list-item/child-category-list-item.twig"
  with {
    "child_blockname": "category-list-item",
    "child_category_blockname": "category-list-item",
    "child_category_image_url": fields.field_intro_image.content|render|striptags|trim,
    "child_category_title_url": fields.path.content|render|striptags|trim,
    "child_category_title": fields.title.content|render|striptags|replace({'&amp;':'&'}),
    "child_category_description": fields.field_teaser_description.content|render|striptags|trim,
    "child_category_links": links_array
  }
%}