<template>
  <div class="flex-row flex-wrap align-items-center justify-items-center detail-action-buttons">
    <div class="flex-row w-100 justify-items-center top-action bgc-blue c-white">
      <button class="flex-col-width-100 top-action btn btn-style--primary btn-size--regular"
              @click="handle(primaryAction)">
        {{ primaryAction.label }}
      </button>
    </div>
    <div class="flex-row w-100 bottom-action">
      <button class="flex-col-width-100 bottom-action btn btn-style--secondary btn-size--regular"
              @click="handle(secondaryAction)">
        <span>{{ secondaryAction.label }}</span>
      </button>
      <actions-group class="c-gray-dark bgc-gray-lightest actions"
                     :item="item"
                     :field="field"
      />
    </div>
  </div>
</template>
<script lang="ts">
  import DetailField from '../field/detail-field.vue';
  import ActionsManager from '@/components/workplace/shared/actions/index.vue';
  import ActionsGroup from '@/components/workplace/shared/actions/actions-group.vue';
  /*
   * @vuese
   * @group Field
   * @extends DetailField
   * ActionsDetailField extends DetailField
   */
  export default {
    name: 'ActionsDetailField',
    extends: DetailField,
    mixins: [ActionsManager],
    components: {
      ActionsGroup,
    },
    computed: {
      /*
       * @vuese
       * @type: WorkplaceAction
       * Primary Workplace Action For Detail Menu
       */
      primaryAction() {
        if (!this.field) (window as any).console.error('no field prop passed in to actions detail field');

        if (!this.field.primary) (window as any).console.error('no field.primary action passed in to actions detail field');

        const primaryAction = this.workplaceActions.find(({type}) => type === this.field.primary);
        if (!primaryAction) (window as any).console.error(`no ${this.field.primary} action type found in defined-actions.vue (passed in as primary action)`);

        return primaryAction;
      },
      /*
       * @vuese
       * @type: WorkplaceAction
       * Secondary Workplace Action For Detail Menu
       */
      secondaryAction() {
        if (!this.field) (window as any).console.error('no field prop passed in to actions detail field');

        if (!this.field.secondary) (window as any).console.error('no field.primary action passed in to actions detail field');

        const primaryAction = this.workplaceActions.find(({type}) => type === this.field.secondary);
        if (!primaryAction) (window as any).console.error(`no ${this.field.secondary} action type found in defined-actions.vue (passed in as secondary action)`);

        return primaryAction;
      },
    },
    methods: {
      /*
       * @vuese
       * Show this actions menu
       */
      open() {
        this.show = true;
      },
      /*
       * @vuese
       * Close this actions menu
       */
      close() {
        this.show = false;
      },
    },
  };
</script>
<style lang="scss" scoped>
  @import 'styles/globals';
  @import 'detail-field';

  div.bottom-action {
    margin-top: 7px;
  }

  .bottom-action /deep/ .actions-button {
    &:not(:active):not(:focus):not(:hover):not(.actions).no-inactive-border {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0.07143rem solid $color-grey-11;
    }
  }

  .flex-col-width-100 {
    border-radius: 5px;
  }

</style>
