// styles shared between workplace/equipment-details/details-action-controls and workplace/shared/fields/actions/detail-field

.top-action {
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  height: rem(40);
}

.bottom-action {
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  height: rem(40);

  button {
    box-shadow: none;

    &:not(:active):not(:focus):not(:hover) {
      z-index: inherit;
    }

    &:hover {
      z-index: 10;
    }

    &:not(.actions) {
      border: 0.07143rem solid $color-grey-11;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;

      span {
        padding-left: 2.85714rem;
      }
    }
  }

  /deep/ .actions-button {
    height: rem(40);

    i {
      top: rem(-6);
    }

    &:not([disabled]) {
      color: $color-grey-69;
    }
  }
}
