<template>
  <actions-button :item="item" :field='field' />
</template>

<script>
  import ListingField from '../field/listing-field';
  import ActionsButton from '@/components/workplace/shared/actions/actions-button.vue';

  /*
   * @vuese
   * @group Field
   * ActionsListingField EXTENDS: ListingField
   */
  export default {
    extends: ListingField,
    name: 'ActionsListingField',
    components: { ActionsButton },
  };
</script>
