.confirm-card-and-address-container {
  padding-bottom: 33px;
  width: 100%;

  .credit-card-link {
    font-size: $font-size-small;
    display: block;
    margin: 0 30px 1rem 0;

    @include breakpoint($break-small) {
      display: inline-block;
    }
  }

  .controls {
    margin-bottom: 1rem;

    @include breakpoint($break-medium) {
      display: flex;
      flex-direction: row;
    }
  }

  .confirm-address {

    .cc-billing-address-heading {
      line-height: 24px;
      margin: 0;
    }

    p {
      font-size: $font-size-small;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.4;
    }
  }
}

.card-and-expiration {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  div {
    width: 100%;
    display: flex;
    justify-items: left;
    flex-flow: wrap;
  }
  div:first-child {
    flex-direction: row;
    img {
      align-self: center;
      justify-self: left;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
    }
    p {
      margin: 0;
      line-height: 21px;
    }
  }
  div:nth-child(2) {
    flex-direction: column;
    & > p {
      margin: 0;
      margin-left: 37px;
      width: 100%;
    }
  }
}

.confirm-card {
  display: flex;
  flex-direction: row;

  img {
    align-self: center;
    margin-right: 10px;
    position: relative;
  }

  p {
    font-size: $font-size-small;
    line-height: 1.4;
  }

  .card-type {
    margin: 0;
    font-weight: bold;
  }
}

.select-credit-card {
  .form-item--radios {
    background-color: $color-grey-2;
    padding-bottom: 50px;
  }

  li {
    overflow: hidden;
    margin: 0 16px;
    padding: 24px 0;
    border-bottom: 1px solid $color-grey-11;

    p {
      margin: 0;
    }
  }

  .label-selection {
    display: flex;
  }

  .confirm-card img {
    bottom: 9px;
  }
}

.select-credit-card__top {
  margin: 34px 16px;

  p {
    font-size: $font-size-h2;
    font-weight: bold;
    margin: 0;
  }
}

.select-credit-card__bottom {
  margin: 16px;
  display: flex;
  flex-direction: row-reverse;

  a {
    flex: 0;
    padding: 0 50px;
    line-height: 2.85714em;;
    flex-direction: column;
  }
}

