<div class="confirm-card-and-address-container">
  <div class="confirm-card-and-address">
    <div class="confirm-card">
      <img src="../../../../../images/icons/src/card-type-mastercard.svg">
      <div class="card-and-expiration">
        <p class="card-type"><strong>Mastercard ...9999</strong></p>

        {% include '@atoms/02-text/text/01-paragraph.twig'
          with {
            paragraph_content: card_paragraph_content
          }
        %}
      </div>
    </div>
    <div class="controls">
      {% include '@atoms/06-buttons/style-1/01-button.twig'
        with {
          button_content: 'Select a Different Card',
          button_modifiers: button_modifiers
        }
      %}

      {% include '@atoms/06-buttons/style-1/01-button.twig'
        with {
          button_content: 'Add a New Card',
          button_modifiers: button_modifiers
        }
      %}
    </div>
    <div class="confirm-address">
      {% include '@atoms/02-text/00-headings/heading-4/heading-4.twig'
        with {
          heading_4: 'Billing Address'
        }
      %}
      {% include '@atoms/02-text/text/01-paragraph.twig'
        with {
          paragraph_content: 'P.O. Box 15423'
        }
      %}
      {% include '@atoms/02-text/text/01-paragraph.twig'
        with {
          paragraph_content: 'Cityville, TX 78789'
        }
      %}
      {% include '@atoms/01-links/link/link.twig'
        with {
          link_content: 'Edit',
          link_url: '#'
        }
      %}
    </div>
  </div>
</div>
