<template>
  <div class="flex-column flex-gap-10 grow edit-location-details">
    <div class="flex-row flex-gap-10 align-items-baseline edit-location-details__address">
      <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupLocation') }}</span>
      <div class="flex-column flex-gap-5 grow">
        <slot :pending-address="pendingAddress"></slot>
        <q-input
          :label="$i18n('workplace.rescheduleRequest.pickupAddress')"
          class="m-t-0 address1-input"
          :class="[$v.pendingAddress.address1.$invalid ? 'is-invalid' : '']"
          v-model="pendingAddress.address1"
          :has-error="$v.pendingAddress.address1.$invalid && vuelidateReady"
          :message="$i18n('workplace.rescheduleRequest.pleaseEnterStreet')"
          :secondary-click-handler="clear.bind(this,'pendingAddress', 'address1')"
          :required="true"
          field-size="small"
          :maxlength="30"
          :placeholder="$i18n('workplace.rescheduleRequest.enterAnAddress')"/>

        <q-input
          :label="$i18n('workplace.rescheduleRequest.addressLine2')"
          class="m-t-0"
          field-size="small"
          :required="false"
          v-model="pendingAddress.address2"
          :maxlength="30"
          :placeholder="$i18n('workplace.rescheduleRequest.enterASecondAddress')"/>

        <div class="flex-row flex-gap-10 city-state-zip">
          <div class="flex-column flex-gap-10 grow">
            <q-input
              :label="$i18n('workplace.rescheduleRequest.city')"
              v-model="pendingAddress.city"
              :class="[$v.pendingAddress.city.$invalid ? 'is-invalid' : '']"
              :has-error="$v.pendingAddress.city.$invalid && vuelidateReady"
              :message="$i18n('workplace.rescheduleRequest.pleaseEnterCity')"
              :secondary-click-handler="clear.bind(this,'pendingAddress', 'city')"
              :required="true"
              field-size="small"
              :maxlength="20"
              :placeholder="$i18n('workplace.rescheduleRequest.enterCity')"/>
            <q-input
              :label="$i18n('workplace.rescheduleRequest.zip')"
              v-model="pendingAddress.zip"
              class="zip-input"
              :class="[$v.pendingAddress.zip.$invalid ? 'is-invalid' : '']"
              :has-error="$v.pendingAddress.zip.$invalid && vuelidateReady"
              :message="$i18n('workplace.rescheduleRequest.pleaseEnterZip')"
              :secondary-click-handler="clear.bind(this,'pendingAddress', 'zip')"
              :required="true"
              field-size="small"
              :maxlength="10"
              :placeholder="$i18n('workplace.rescheduleRequest.enterZip')"/>
          </div>

          <select-state
            :value="pendingAddress.state"
            :class="[$v.pendingAddress.state.$invalid ? 'is-invalid' : '']"
            @change="state => pendingAddress.state = state"
            :label="$i18n('workplace.rescheduleRequest.stateProv')"
            class="no-grow shrink"/>
        </div>

      </div>
    </div>
    <!-- Pickup contact -->
    <div class="flex-row flex-gap-10 align-items-baseline edit-location-details__contact">
      <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupContact') }}</span>
      <div class="flex-column flex-gap-5 grow">
        <q-input
          :label="$i18n('workplace.rescheduleRequest.name')"
          class="m-t-0"
          :class="[$v.pendingContact.contact.$invalid ? 'is-invalid' : '']"
          v-model="pendingContact.contact"
          :has-error="$v.pendingContact.contact.$invalid && vuelidateReady"
          :message="$i18n('workplace.rescheduleRequest.pleaseEnterName')"
          :secondary-click-handler="clear.bind(this,'pendingContact', 'contact')"
          field-size="small"
          :required="true"
          :maxlength="30"
          :placeholder="$i18n('workplace.rescheduleRequest.enterAContactName')"/>
        <q-input
          :label="$i18n('workplace.rescheduleRequest.phoneNumber')"
          class="m-t-0"
          :class="[$v.pendingContact.phone.$invalid ? 'is-invalid' : '']"
          v-model="pendingContact.phone"
          :has-error="$v.pendingContact.phone.$invalid && vuelidateReady"
          :message="$i18n('workplace.rescheduleRequest.pleaseEnterPhone')"
          :secondary-click-handler="clear.bind(this,'pendingContact', 'phone')"
          field-size="small"
          :required="true"
          :maxlength="16"
          :placeholder="$i18n('workplace.rescheduleRequest.enterAContactPhone')"/>
      </div>
    </div>
    <!-- Instructions -->
    <div class="flex-row flex-gap-10 align-items-baseline edit-location-details__instructions">
      <span class="left-label">{{ $i18n('workplace.rescheduleRequest.instructions') }}</span>
      <div class="flex-column flex-gap-5 grow">

        <ur-textarea
          :maxlength="100"
          :fullwidth="true"
          :value="pendingInstructions.equipmentLocation"
          @input="updateInstructions('equipmentLocation', $event);"
          :label="$i18n('workplace.rescheduleRequest.equipmentLocationOptional')"
          :placeholder="$i18n('workplace.rescheduleRequest.locationOfEquipment')"
        />
        <ur-textarea
          :maxlength="100"
          :fullwidth="true"
          :value="pendingInstructions.keyLocation"
          @input="updateInstructions('keyLocation', $event)"
          :label="$i18n('workplace.rescheduleRequest.keyLocationOptional')"
          :placeholder="$i18n('workplace.rescheduleRequest.locationOfKey')"
        />
        <ur-textarea
          :maxlength="100"
          :fullwidth="true"
          :value="pendingInstructions.accessTimes"
          @input="updateInstructions('accessTimes', $event)"
          :label="$i18n('workplace.rescheduleRequest.daysHoursOfAccessOptional')"
          :placeholder="$i18n('workplace.rescheduleRequest.dateOrTimeRestrictions')"
        />
        <ur-textarea
          :maxlength="100"
          :fullwidth="true"
          :value="pendingInstructions.additional"
          @input="updateInstructions('additional', $event)"
          :label="$i18n('workplace.rescheduleRequest.additionalInstructionsOptional')"
          :placeholder="$i18n('workplace.rescheduleRequest.additionalInstructions')"/>
        <div class="flex-column flex-gap-5 grow buttons-column">
          <ur-error-label ref="errorLabel"
                          v-if="$v.$invalid && $v.$dirty"
                          :message="$i18n('workplace.rescheduleRequest.submissionErrorTryAgain')"></ur-error-label>
          <ur-error-label v-else-if="hasSavingError"
                          :message="$i18n('workplace.rescheduleRequest.errorWhileSaving')"></ur-error-label>
        </div>
        <div class="flex-row flex-gap-5 buttons-column">
          <q-button
            @click="$emit('cancel')"
            :text="$i18n('workplace.rescheduleRequest.cancel')"
            size="regular"
            buttonStyle="secondary"/>
          <q-button
            @click="save()"
            :text="$i18n('workplace.rescheduleRequest.save')"
            size="regular"/>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../../shared/request-pickup/edit-location-details';
</style>


<script>
  import usStates from '@/data/states-hash.json';
  import caProvinces from '@/data/provinces-hash.json';
  import SelectState from '@/components/common/form/select/state.vue';
  import UrTextarea from '@/components/common/form/ur-textarea.vue';
  import { required } from 'vuelidate/lib/validators';
  import UrErrorLabel from '@/components/common/form/ur-error-label.vue';

  export default {
    name: 'RescheduleRequestEditLocationDetails',
    components: {
      SelectState,
      UrTextarea,
      UrErrorLabel,
    },
    props: {
      hasSavingError: {
        type: Boolean,
      },
      bus: {
        type: Object,
      },
      address: {
        type: Object,
        required: true,
      },
      contact: {
        type: Object,
        required: true,
      },
      instructions: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        vuelidateReady: false,
        pendingAddress: {},
        pendingContact: {},
        pendingInstructions: {},
      };
    },
    mounted() {
      if (this.bus) this.bus.$on('saveLocationDetailsFromParent', this.save);
      this.pendingAddress = { ...this.address };
      this.pendingContact = { ...this.contact };
      this.pendingInstructions = { ...this.instructions };
      this.vuelidateReady = true;
    },
    beforeDestroy() {
      if (this.bus) this.bus.$off('saveLocationDetailsFromParent', this.save);
    },
    computed: {
      stateOptions() {
        return [...Object.entries(usStates), ...Object.entries(caProvinces)].map(([value, label]) => ({
          value,
          label,
        }));
      },
    },
    validations: {
      pendingAddress: {
        address1: { required },
        city: { required },
        state: { required },
        zip: { required },
      },
      pendingContact: {
        contact: { required },
        phone: { required },
      },
    },
    methods: {
      clear(obj, field) {
        this[obj][field] = '';
      },
      updateInstructions(field, value) {
        this.pendingInstructions[field] = value;
      },
      scrollToErrorMessage() {
        const objDiv = document.querySelector('.modal .modal-framed .modal-framed__main');
        if (objDiv) objDiv.scrollTop = objDiv.scrollHeight;
      },
      save(resolve, reject) {
        this.$v.$touch();
        this.$emit('update:hasSavingError', false);
        if (this.$v.$invalid) {
          this.scrollToErrorMessage();
          if (reject) reject(false);
          return;
        }
        this.bus.$emit('save', {
          address: this.pendingAddress,
          contact: this.pendingContact,
          instructions: this.pendingInstructions,
        }, resolve, reject);
      },
    },
    watch: {
      address() {
        this.pendingAddress = { ...this.address };
      },
    },
  };

</script>
