<template>
  <section class="flex-column flex-gap-20">
      <div class="flex-row flex-gap-10 align-items-baseline top-edit-row m-b-12 section-title-container">
        <h3 class="left-label m-0">{{ $i18n('workplace.rescheduleRequest.locationDetails') }}</h3>
        <span>
      <q-button
        v-if="!editingLocationDetails && !readonly"
        @click="$emit('update:editingLocationDetails', true)"
        :text="$i18n('workplace.rescheduleRequest.edit')"
        size="regular"
        class="no-grow edit-button"
        buttonStyle="tertiary"/>
          </span>
      </div>
    <reschedule-request-edit-location-details
      v-if="editingLocationDetails"
      :bus="bus"
      :hasSavingError.sync="hasSavingError"
      :address="address"
      :contact="contact"
      :instructions="instructions"
      @cancel="$emit('update:editingLocationDetails', false)">
      <template slot-scope="pendingAddress">
        <ur-checkbox
          :labelClasses="{'fw-normal': true}"
          @change="useJobsiteAddress($event)"
          :checked="addressMatchesJobsiteAddress(pendingAddress.pendingAddress)"
          :label="addressMatchesJobsiteAddress(pendingAddress.pendingAddress)? useJobsiteAddressCheckboxLabel : $i18n('workplace.rescheduleRequest.useJobsite')"/>
      </template>
    </reschedule-request-edit-location-details>
    <div v-else class="flex-column flex-gap-10">
      <!-- Pickup address -->
      <div class="flex-row flex-gap-10 align-items-baseline location">
        <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupLocation') }}</span>
        <transition name="fadeEnterOnly">
          <div class="flex-column flex-gap-5 grow">
            <span v-if="addressMatchesJobsiteAddress(address)" class='field-content'>{{ jobsite.name }}</span>
            <span class='field-content' >{{ address.address1 }}</span>
            <span v-if="address.address2" class='field-content' >{{ address.address2 }}</span>
            <span class='field-content' >{{ address.city }}, {{ address.state }} {{ address.zip }}</span>
          </div>
        </transition>
      </div>
      <!-- Pickup contact -->
      <div class="flex-row flex-gap-10 align-items-baseline contact">
        <span class="left-label">{{ $i18n('workplace.rescheduleRequest.pickupContact') }}</span>
        <transition name="fadeEnterOnly">
          <div class="flex-column flex-gap-5 grow">
            <span v-if="contact.contact" class='field-content' >{{ contact.contact }}</span>
            <span v-if="contact.phone" class='field-content' >{{ contact.phone | phoneNumber }}</span>
          </div>
        </transition>
      </div>
      <!-- Instructions -->
      <div class="flex-row flex-gap-10 align-items-baseline instructions">
        <span class="left-label">{{  $i18n('workplace.rescheduleRequest.instructions') }}</span>
        <transition name="fadeEnterOnly">
          <div v-if="instructionsAreBlank(instructions)" class="flex-column flex-gap-5 grow">
            <span><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
          </div>
          <div v-else class="flex-column flex-gap-5 grow">
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.equipmentLocation') }}</label>
            <span v-if="instructions.equipmentLocation" class='field-content' >{{ instructions.equipmentLocation }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.keyLocation') }}</label>
            <span v-if="instructions.keyLocation" class='field-content' >{{ instructions.keyLocation }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.daysHoursOfAccess') }}</label>
            <span v-if="instructions.accessTimes" class='field-content' >{{ instructions.accessTimes }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
            <label class="form-item__label">{{  $i18n('workplace.rescheduleRequest.additionalInstructions') }}</label>
            <span v-if="instructions.additional" class='field-content' >{{ instructions.additional }}</span>
            <span v-else><em>{{  $i18n('workplace.rescheduleRequest.noInstructionsEntered') }}</em></span>
          </div>
        </transition>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  @import 'styles/globals';
  @import '../../shared/request-pickup/location-details';
</style>

<script>

  import { mapActions, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';
  import RescheduleRequestEditLocationDetails from './edit-location-details.vue';
  import UrCheckbox from '@/components/common/ur-checkbox.vue';

  export default {
    name: 'rescheduleRequestLocationDetails',
    components: {
      RescheduleRequestEditLocationDetails,
      UrCheckbox,
    },
    data() {
      return {
        hasSavingError: false,
        showInstructions: false,
      };
    },
    props: {
      bus: {
        type: Object,
      },
      editingLocationDetails: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapGetters({
        jobsite: types.requestPickup.jobsite,
      }),
      ...mapState({
        address: ({ requestPickup }) => requestPickup.address,
        contact: ({ requestPickup }) => requestPickup.contact,
        instructions: ({ requestPickup }) => requestPickup.instructions,
      }),
      useJobsiteAddressCheckboxLabel() {
        return `${this.$i18n('workplace.rescheduleRequest.useJobsite')} ${this.jobsite.name}`;
      },
    },
    mounted() {
      if (this.bus) this.bus.$on('save', this.handleSave);
    },
    beforeDestroy() {
      if (this.bus) this.bus.$off('save', this.handleSave);
    },
    methods: {
      ...mapActions({
        saveAddress: types.requestPickup.saveAddress,
        saveContact: types.requestPickup.saveContact,
        saveInstructions: types.requestPickup.saveInstructions,
        setPickupAddressToJobsiteAddress: types.requestPickup.setPickupAddressToJobsiteAddress,
      }),
      addressMatchesJobsiteAddress(address) {
        return address.address1 === (this.jobsite.address1 || '')
          && address.address2 === (this.jobsite.address2 || '')
          && address.city === (this.jobsite.city || '')
          && address.state === (this.jobsite.state || '')
          && address.zip === (this.jobsite.zip || '');
      },
      instructionsAreBlank(instructions) {
        return instructions.equipmentLocation === ''
          && instructions.keyLocation === ''
          && instructions.accessTimes === ''
          && instructions.additional === '';
      },
      async handleSave(details, resolve, reject) {
        try {
          await Promise.all([this.saveAddress(details.address), this.saveContact(details.contact), this.saveInstructions(details.instructions)]);
        }
        catch (err) {
          this.hasSavingError = true;
          setTimeout(() => {
            this.hasSavingError = false;
          }, 1500);
          if (reject) reject(false);
          return;
        }
        this.hasSavingError = false;
        this.$emit('update:editingLocationDetails', false);
        if (resolve) resolve(true);
      },
      async useJobsiteAddress($event) {
        if ($event) {
          await this.setPickupAddressToJobsiteAddress();
        }
      },
    },
  };

</script>
