
.saved-for-later {
  @extend .m-b-10;
  border-top: $border-grey;
  border-bottom: $border-grey;
}

.saved-for-later__header span {
  font-weight: normal;
}

.editable-cart-item--saved-for-later {
  @extend .reservation-info;
  border: 0;
  border-bottom: $border-grey;

  &:last-child {
    border: 0;
  }
}
