@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: Content
// Base layout for the content region.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */

body.path-manage .region-content,
.main-content--with-sidebar .region-content {
  @include container-reset();
}

// Adds the container and footer gap to all pages
.region-content {
  @include container();
  @include footer-gap();

  .node__content > .text-formatted {
    @include media('>=s') {
      @include type-container()
    }
  }
}

// Moves footer gap to last paragraph item on paragraph based content types
body.page-node-type-landing,
body.page-node-type-basic-page,
body.page-node-type-styleguide {
  .region-content {
    @include footer-gap($reset: true);
  }

  .node__content > .paragraph-component:not(.component-lead-generation-bar):last-child {
    @include footer-gap();
  }
}

// Removes default footer margin for full height pages
body.path-locations,
body.path-location-entity,
body.path-manage,
body.path-taxonomy,
body.page-node-type-droga-landing-page {
  .region-content {
    @include footer-gap($reset: true);
  }
}
