@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: footer first
// Base layout for the footer first region.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */
.region-footer {
  background-color: $color-brand-primary;
  color: $color-white;
}

.region-footer__content {
  display: flex;
  flex-direction: column;

  a {
    @include link(
      $style: reverse
    );
  }
}

.region-footer-first {
  background-color: $color-bg-dark-secondary;
  padding: rem($scale-2) 0;
}

.region-footer-first__content {
  @include container();
  align-items: center;
  display: flex;
  justify-content: space-between;

  .block-menu-block {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .footer__language--link {
    @include type-preset(30);
  }

  .menu--footer-social-menu {
    ul {
      align-items: center;
      display: flex;
    }

    li {
      margin-right: rem($scale-6);

      &:last-of-type {
        margin-right: 0;
      }
    }

    a[href*='facebook'] {
      @include icon(
        $filename: facebook,
        $size: $icon-size-small,
        $spacing: false
      );
    }

    a[href*='linkedin.com'] {
      @include icon(
        $filename: linkedin,
        $size: $icon-size-small,
        $spacing: false
      );
    }

    a[href*='twitter.com'] {
      @include icon(
        $filename: twitter,
        $size: $icon-size-small,
        $spacing: false
      );
    }

    a[href*='youtube.com'] {
      @include icon(
        $filename: youtube,
        $size: $icon-size-small,
        $spacing: false
      );
    }

    a {
      display: flex;
      font-size: 0;
      padding: 0;

      @include on-event() {
        color: $color-text-link-hover;
        text-decoration: none;
      }

      &::before {
        margin-right: 0;
      }
    }
  }
}
