@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: footer first
// Base layout for the footer first region.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */
.region-footer-second {
  padding: rem($gap-d) 0 rem($gap-f);

  @include media('>=m') {
    padding: rem($gap-d) 0;
  }
}

.region-footer-second__content {
  @include container();

  .block-menu-block {
    padding-top: rem($scale-4);

    @include media('>=s') {
      padding-top: rem($scale-9);
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      padding: 0;
    }
  }
}

// MAIN MENU -----------------------------------------------------
.region-footer-second {
  .menu--footer {
    margin-top: rem($gap-c);

    @include media('>=s') {
      margin-top: 0;
    }

    .menu--depth-0 {
      @include media('>=s') {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    // BUTTON ---------------------------------------------------
    .menu-item__button {
      @include icon(
        $filename: arrow-down,
        $size: $icon-size-small,
        $insert: after
      ) {
        color: $color-text-reverse;
        display: inline-block;
        margin: 0;
        padding: 0;
        transition: transform $transition-base-time-style;
      }

      @include focus-state(
        $reset: true
      );

      align-items: center;
      background-color: transparent;
      border: 0;
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
      line-height: 1;
      padding: 0;

      @include on-event() {
        background-color: transparent;
      }

      @include media('>=m') {
        display: none;
      }

      span.menu-item__button-expand,
      span.menu-item__button-collapse {
        @include visually-hidden;
      }

      &[aria-expanded='true']::after {
        transform: rotate(180deg);
      }
    }

    // ITEM -----------------------------------------------------
    .menu-item {
      margin: 0;

      &.menu-item--has-children {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        @include media('>=m') {
          align-items: flex-start;
          flex-direction: column;
        }
      }
    }

    // ITEM - parent -----------------------------------------------------
    .menu-item--depth-0 {
      display: flex;
      justify-content: space-between;
      margin-top: rem($gap-c);

      @include media('>=s') {
        flex: 1 1 100%;
        margin-bottom: rem($gap-c);
      }

      @include media('>=m') {
        flex: none;
        margin-top: 0;
      }

      &:first-of-type {
        margin-top: 0;
      }
    }

    // ITEM - parent with children -----------------------------------------------------
    .menu-item--depth-0.menu-item--has-children {
      @include media('>=s') {
        flex: 1 1 50%;
        padding-right: rem($gap-d);
      }

      @include media('>=m') {
        flex: none;
        padding-right: 0;
      }

      &:nth-of-type(odd) {
        @include media('>=s') {
          padding-right: 0;
        }
      }
    }

    // LINK -----------------------------------------------------
    .menu-item__link {
      @include on-event() {
        text-decoration: underline;
      }
    }

    .menu-item__link--depth-1 {
      @include type-preset(30);
    }

    .menu-item__link,
    .menu-item__link.is-active {
      color: $color-text-reverse;
    }

    // LINK - parent -----------------------------------------------------
    .menu-item__link--depth-0 {
      flex: 1 1 auto;
      text-align: left;

      @include media('>=s') {
        font-weight: $font-weight-bold;
      }

      &[href^='https'],
      &[href^='http'],
      &[href^='www'],
      &[href*='/user/login'] {
        &::after {
          display: none;
        }
      }
    }

    // LINK - child -----------------------------------------------------
    .menu-item__link--depth-1 {
      &[href^='https'],
      &[href^='http'],
      &[href^='www'],
      &[href*='/user/login'] {
        &::after {
          display: inline-block;
          margin-left: 1em;
          position: static;
          right: inherit;
          top: inherit;
          transform: translateY(0);
          vertical-align: middle;
        }

        @include media('>=s') {
          padding-right: 0;
        }
      }
    }

    // PANEL ----------------------------------------------------
    .menu-item__panel {
      flex: none;
      margin-top: 0;
      width: 100%;
    }

    .menu-item__panel.menu-item__panel--depth-0 {
      padding: rem($gap-c);

      @include media('>=s') {
        padding: rem($gap-c) 0 0;
      }

      @include media('>=m') {
        display: block;
      }
    }

    .menu-item--depth-1 {
      margin-top: rem($gap-c);

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

// LEGAL MENU ----------------------------------------------------
.region-footer-second {
  .menu--footer-legal-menu {
    @include type-preset(20);
    margin-top: rem($scale-9);

    @include media('>=s') {
      margin-top: 0;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      border-right: $border-width-light solid rgba($color-text-reverse, 0.5);
      line-height: 1;
      margin: rem($gap-a) rem($gap-b) rem($gap-a) 0;
      padding: 0 rem($gap-b) 0 0;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: 0 none;
        padding-right: 0;
      }
    }

    li span::before {
      content: '\00A9';
      margin-right: em($scale-1);
    }
  }
}

// CUSTOMER CARE ----------------------------------------------------
.region-footer-second {
  .customer-care {
    .customer-care__title,
    .customer-care__number {
      margin: 0;
    }

    .customer-care__title {
      @include type-preset(30);

      @include media('>=l') {
        @include type-preset(40);
      }
    }

    .customer-care__number {
      @include type-preset(
        $version: 40,
        $type: header
      );

      @include media('>=l') {
        @include type-preset(
          $version: 60,
          $type: header
        );
      }
    }
  }
}
