@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: header
// Header region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */
.region-header {
  background-color: $color-bg-dark-secondary;
  color: $color-text-reverse;
}

.region-header__content {
  @include container();
  display: flex;
  flex-direction: column;
}

/**
 * Branding
 */
.block-system-branding-block {
  .block-system-branding-block__content {
    text-align: right;

    @include bs-ie() {
      height: 0;
      padding-top: 40%;
      position: relative;
      width: 100%;
    }
  }

  .site-logo {
    display: block;
    width: rem(96);
  }

  .site-logo svg {
    display: block;
    height: 100%;
    line-height: 0;
    padding: 0;
    width: 100%;

    @include bs-ie() {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

.region-header .block-system-branding-block {
  margin: 0 auto;

  @include media('>=s') {
    margin: 0 rem($gap-b) 0 0;
  }

  @include media('>=m') {
    margin: 0 rem($gap-e) 0 0;
  }

  .site-logo svg {
    margin: 0 auto;

    @include media('>=s') {
      margin: 0;
    }
  }
}
