@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: header
// Header region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */
.region-header-second {
  position: relative;
  z-index: 300;

  .region-header-second__content {
    align-items: center;
    display: flex;
    padding: rem($scale-5) 0;
  }
}
