@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Region: header
// Header region styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Region
 */
.region-header-first {
  position: relative;
  z-index: 950;

  > section.block-block-content {
    @include container-full-width();
    background-color: $color-red-highlight;

    .block__content {
      @include container();
      @include type-preset(20);
      align-items: center;
      color: $color-text-reverse;
      display: flex;
      justify-content: space-between;

      @include media('>=s') {
        max-height: rem($scale-8);
      }
    }
  }
}
