
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10002;
  overflow-y: scroll;

  &__background {
    background-color: rgba($color-grey-69, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .modal.ur-drawer-banner__modal &{
      display: none;
    }
  }

  &.ur-drawer-banner__modal{
      bottom: -200px;
      top: auto;
      transition: bottom 0.3s ease-in-out;
      visibility: hidden;
      .modal__content{
        max-width: 100%;
        width: 100%;
      }
      &.ur-drawer-open{
        bottom: 0;
        visibility: visible;
      }
    }

  &__content {
    display: block;
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    background: white;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @include breakpoint($break-small) {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: auto;
    }

    @include breakpoint($break-medium) {
      width: 70%;
      height: auto;
    }

    @include breakpoint($break-large) {
      max-width: 1000px;
    }

    .close-icon {
      position: absolute;
      right: 12px;
      top: 12px;
      z-index: 1;

      i:before {
        content: "\e5cd";
      }
    }

    &--center {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      height: 100%;
      width: 100%;

      @include breakpoint($break-small) {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        max-height: 100vh;
      }

      @include breakpoint($break-medium) {
        max-height: 85vh;
      }

      @include breakpoint($break-large) {
        max-height: 83vh;
      }

      .sg-main & {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }

      &--overflow-y {
        overflow-y: auto;
      }
    }

    .modal-header {
      padding: 24px;
      height: 92px;
      box-shadow: 0 1px 0 0 #DBDBDB;
      display: flex;
      align-items: center;
      background-color: #fff;
      h3 {
        margin-left: 20px;
      }
      .spinner.icon-button {
        position: absolute;
        top: 60px;
        left: 40px;
      }
    }

    .modal-body {
      background-color: #F9F9F9;
      box-shadow: 0 1px 0 0 #DBDBDB;
      padding: 24px;
      max-height: none;
      height: auto;

      @include breakpoint($break-small) {
        max-height: calc(80vh - (92px + 72px));
        min-height: calc(45vh - (92px + 72px));
        overflow-y: scroll;
      }

      .form {
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      .form-group {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      .form-item {
        margin: 8px;
      }
      .form-item input {
        height: 32px;
        border-radius: 2px;
        border: 1px solid #DBDBDB;
      }
      .card-number {
        width: 250px;
      }
      .card-exp-month, .card-exp-year {
        width: 150px;
      }
      .card-cvv {
        width: 70px;
        input {
          padding: 1px 1px 1px 8px;
        }
      }
      .card-name {
        width: 300px;
      }
      .form.credit-card-form {
        .card-exp-month,
        .card-exp-year {
          width: 170px;
          select {
            padding-top: 1px;
            padding-bottom: 1px;
          }
        }
      }
    }

    .modal-body-account-details-form {
      background-color: $color-grey-2 !important;
      max-height: none;
    }

    .modal-footer {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      height: 75px;
      background-color: #fff;

      @include breakpoint($break-small) {
        align-items: center;
        height: 72px;
        flex-direction: row;
      }

      &.with-help {
        justify-content: space-between;

        .help {
          align-items: center;
          justify-content: center;
          display: flex;
          margin-left: 10px;

          .icon-phone,
          .icon-lock {
            color: $color-grey-38;
            font-size: $font-size-h1;
          }
        }

        .help-section {
          margin-left: 15px;

          p {
            color: $color-grey-38;
            margin: 0;
          }
        }

        .modal-actions {
          display: flex;
        }
      }

      button {
        width: 120px;
        margin: 10px;
      }

      #button-use-selected {
        min-width: 200px;
      }
    }
  }

  &__content--90 {
    width: 90%;
    max-width: 910px;
    .content__items-available-count{
      margin: 1.4em 0;
      color: $color-grey-38;
    }
    h3.no-margin-bottom {
      margin-bottom: 0;
    }

    .padding-1 {
      padding: 0 1vw !important;
    }
    .grid {
      padding: 0 3vw;
    }
    .grid h3 {
      width: auto;
    }
    input[id^="calendar"]{
      font-size: 14px;
      line-height: 24px;
      height: 32px;
      margin: 0;
    }

    .content__main {
      display: flex;
      flex-wrap: wrap;

      .main__left {
        flex-basis: percentage(610/910);
        border-right: 1px solid $color-grey-11;
        min-height: calc((80vh - 2px) - (92px + 71px));
      }
      .main__right {
        flex-basis: percentage(300/910);
        p {
          color: $color-grey-69;
          font-size: $font-size-small;
        }
      }

      @media screen and (max-width: $break-small){
        .main__left, .main__right {
          flex-basis: 100%;
        }
      }
    }
  }
  &__table-row{
    border-bottom: 1px solid #dde0e2;
  }
  .flex-table__row > div{
    flex-grow: 1;
  }

  .modal__content--po {

    @include breakpoint($break-small) {
      width: 632px;
    }
  }

  .ur-drawer-banner{
    &__content{
      display: flex;
    }
  }
}
$ur-drawer-headline-width: 58%;
$ur-drawer-bg-color: #2e2e2e;

.ur-drawer-banner{
  display: none;
  @include breakpoint($break-small){
    display: block;
  };
  &__wrapper{
    position: relative;
    z-index: 2147483548;
  }
  &__modal{
    .modal__content{
      background: $ur-drawer-bg-color;
      border-radius: 0;
      border-width: 0;
      color: $color-white;
      display: flex;
      flex-direction: row;
      padding: 40px 45px 35px;
      h2{
        color: $color-brand-secondary;
        font-size: 1.714rem;
        line-height: 1;
        margin: -2px 0 0;
        text-transform: uppercase;
      }
      > a{
        flex: 5%;
        margin-top: -12px;
        &:hover{
          text-decoration: none;
        }
      }
      .close-icon {
        background: transparent;
        font-size: 3.857rem;
        position: static;
        &:before{
          -webkit-text-stroke: $ur-drawer-bg-color;
          -webkit-text-stroke-width: 3px;
          -moz-text-stroke: $ur-drawer-bg-color;
          -moz-text-stroke-width: 3px;
        }
      }
      .ur-drawer-banner__subhead{
        color: $color-white;
        font-size: 1.143rem;
        line-height: 1.429rem;
        margin: 10px 0 0;
        padding-right: 20px;
      }
    }
  }
  &__content{
    flex: 95%;
  }
  &__headline{
    flex: 58%;
  }
  &__cta{
    align-self: center;
    flex: 25%;
    .button{
      border-radius: 4px;
      font-size: 1.143rem;
      font-weight: bold;
      height: 3rem;
    }

    .cta {
      &__narrow {
        display: inline;
        @include breakpoint(960px) {
          display: none;
        };
      }

      &__wide {
        display: none;
        @include breakpoint(960px) {
          display: inline;
        };
      }
    }
  }
}

.modal__content--small {
  width: 100%;
  max-width: none;

  @include breakpoint($break-medium) {
    width: 50%;
    max-width: $break-small * 0.75;
  }

  .modal-body,
  .modal-footer,
  .modal-header {
    height: auto;
    padding: 1em;
  }

  .modal-body {
    background-color: $color-white;
  }

  .modal-header {
    padding-bottom: 0;
  }

  @include breakpoint($break-medium) {
    width: 80%;
  }
  @include breakpoint($break-small) {
    width: 90%;
  }
}

.modal-body--authenticate {
  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  button {
    height: auto;
    padding: 1rem;
    width: 48%;
  }
  p {
    margin-top: 1rem;
  }
}

.modal.messaging-modal {
  .modal__content.modal__content--center {
    width: 100%;
    @include breakpoint($break-small) {
      width: $ur-message-modal-width;
    }
  }
}

.modal.profile-link-account {
  .modal__content.modal__content--center {
    max-width: 100%;
    width: 100%;

    @include breakpoint($break-small) {
      width: 80%;
    }

    @include breakpoint($break-medium) {
       max-height: 85vh;
       width: 66%;
    }

    @include breakpoint($break-large) {
      max-height: 83vh;
      width: 50%;
    }

    @include breakpoint($break-xlarge) {
      width: 33%;
    }
  }
}

/* IE 10/11 Fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal {
    .overflow-scroll {
      overflow: auto;
    }
    .modal__content {
      height: 100%;
    }
    .modal-body {
      overflow: hidden;
    }
  }
}

