.feeling-stuck {
  padding: 40px 15px 30px;
  background-color: $color-grey-11;
  background-size: cover;

  &__heading-2 {
    color: $color-white;
    margin-bottom: 20px;
    max-width: 70%;
    line-height: 1.3;
  }

  &__button-row {
    display: flex;

    button, a {
      text-align: center;
      height: 33px;
      line-height: 1;
      box-shadow: 0px 0px 8px rgba($color-black, .24);
      font-weight: 500;
      transition: all $animation-speed $anim-ease;

      &:first-of-type {
        width: 120px;
        margin-right: 8px;
      }

      &:last-of-type {
        width: 130px;
      }

    }

  }

  @include breakpoint($break-small) {
    padding: 70px 40px 60px;

    &__heading-2 {
      line-height: 1.2;
      max-width: 95%;
    }

    &__button-row button, &__button-row a {
      &:first-of-type {
        width: 130px;
      }

      &:last-of-type {
        width: 140px;
      }
    }
  }
}