<section class="feeling-stuck" style="background-image: url('{{ feeling_stuck_background_image }}')">
  {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig" with {
      "heading_2": "Feeling Stuck? Talk it through with a specialist at 1-800-UR-RENTS (800-277-3687)",
      "heading_2_classes": [ "feeling-stuck__heading-2" ]
    }
  %}
  <div class="feeling-stuck__button-row">
    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        button_url: "/",
        button_content: "Live Chat",
        button_modifiers: {
          1: "style-1",
          2: "filled-reverse"
        }
      }
    %}
    {% include "@atoms/06-buttons/style-1/01-button.twig" with {
        button_url: "/",
        button_content: "Email Us",
        button_modifiers: {
          1: "style-1",
          2: "filled"
        }
      }
    %}
  </div>

</section>