<template>
  <div class="ur-authentication-modal">
    <div class="modal-header">
      <h4 class="ur-authentication-modal__title">{{ $i18n('logIn.signInToAccount') }}</h4>
      <p class="ur-authentication-modal__rates">{{ $i18n('logIn.accessRates') }}</p>
      <p class="ur-authentication-modal__noAccount">{{ $i18n('logIn.noAccount') }}</p>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <div class="modal-button-spacer">

      </div>
      <q-button :text="$i18n('ur.continue')" button-style="secondary" @click="openJobsiteForm" />
      <q-button :text="$i18n('logIn.signIn')" :link="loginURL" data-tracking="sign-in" data-tracking-description="Sign In button in Cart Location Modal" />
    </div>
  </div>
</template>
<script type="text/babel">
  import UrGtm from '@/mixins/ur-gtm';
  import { mapActions } from 'vuex';
  import types from '@/store/types';

  export default {
    methods: {
      ...mapActions({
        startUnauthenticatedCheckout: types.checkout.startUnauthenticatedCheckout,
      }),
      openJobsiteForm() {
        this.startUnauthenticatedCheckout();
        this.$router.go(-1);
      },
    },
    computed: {
      loginURL() {
        const loginFormBase = '/saml_login';
        return loginFormBase + this._gaUserQuery();
      },
    },
    mixins: [
      UrGtm,
    ],
    name: 'authenticate-to-continue-checkout-modal',
  };
</script>

<style lang="scss">
  .ur-authentication-modal {

    .modal {
      &-header {
        align-items: flex-start;
        flex-direction: column;
        height: auto;
      }

      &-body {
        display: none;
      }

      &-footer {
        .modal-button-spacer {
          flex: 1;
        }
      }
    }

    &__title{
      margin-left: 0;
      margin-top: 0;
    }

    &__rates {
      margin-top: 0;
    }

    &__noAccount {
      line-height: 24px;
      margin-bottom: 25px;
      width: 100%;
    }
    &--wrapper {
      .icon-button{
        display: none;
      }

      .modal__content {
        border-radius: 8px;
        max-width: 480px;
      }
    }
  }

</style>
