<template>
  <div class="reservation-block" :class="{'is-submitting': isSubmitting}" ref="reservationBlock">

    <header class="cart__job-title-area sticky" ref="stickyHead">
      <div class="cart__info-container reservation-header">
        <div>
          <h3>
            <span v-if="cannotCheckout || preventCheckout"><i class="icon icon-exclamation icon-circle icon-error"></i>&nbsp;</span>
            {{ title }}
          </h3>
          <p class="paragraph address__paragraph">{{ block.subtitle.subject }}</p>
          <p class="dash" v-if="(large || xlarge) && isUserLoggedIn()">-</p>
          <p class="paragraph address__paragraph paragraph-predicate" v-if="block.subtitle.predicate">{{ block.subtitle.predicate }}</p>
        </div>
      </div>
      <reservation-block-progress
        :block="block"
        :progress.sync="progress"
      />
    </header>
    <div class="reservation-info">
      <div v-for="(item, key) in block.items" :key="key">
        <editable-cart-item
          :account-id="reservationBlockAccountId"
          :is-saved-for-later="false"
          :item-id="item.id"
          :block-id="block.id"
          :key="item.id"
          :progress="progress"
          @cannot-checkout="cannotCheckoutFromRates"
        />
      </div>

      <jobsite
        ref="jobsite"
        :account-id="reservationBlockAccountId"
        :block-id="block.id"
        :cannot-checkout="cannotCheckout"
        :jobsite="jobsite"
        :progress.sync="progress.jobsite"
        @closing-animation="pushTrackedAnimation"
        @closed-animation="popTrackedAnimation"
        @opening-animation="pushTrackedAnimation"
        @opened-animation="popTrackedAnimation"
      />

      <pickup-delivery
        ref="pickupDelivery"
        :block="block"
        :progress.sync="progress.pickupDelivery"
        :cannot-checkout="cannotCheckout"
        :converted-date="convertedDate"
        :preventCheckoutValue="preventCheckout"
        @closing-animation="pushTrackedAnimation"
        @closed-animation="popTrackedAnimation"
        @opening-animation="pushTrackedAnimation"
        @opened-animation="popTrackedAnimation"
      />

      <billing-form
        ref="billing"
        :block="block"
        :progress.sync="progress.billing"
        :cannot-checkout="cannotCheckout"
        :preventCheckoutValue="preventCheckout"
        :converted-date="convertedDate"
        @submit="onSubmit"
        @submitted="onSubmitted"
        @closing-animation="pushTrackedAnimation"
        @closed-animation="popTrackedAnimation"
        @opening-animation="pushTrackedAnimation"
        @opened-animation="popTrackedAnimation"
      />

      <div class="cost-summary" v-if="small || medium">
        <cost-summary
          :block="block"
          :progress="progress"
          ref="costSummary"
        />
      </div>
    </div>
    <div class="cost-summary" v-if="!(small || medium)">
      <div class="sidebar-container sticky">
        <cost-summary
          :block="block"
          :progress="progress"
          ref="costSummary"
        />
        <ur-sidebar-banner
          :headline="$i18n('cart.webratePromoCardHeadline')"
          :text="$i18n('cart.webratePromoCardText')"
          icon="search-dollar-solid"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .sidebar-container.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding: 32px;
  }
</style>

<script>
  import Jobsite from '@/components/cart/reservation-block/jobsite.vue';
  import PickupDelivery from '@/components/cart/reservation-block/pickup-delivery.vue';
  import { BillingForm, SubmissionType } from '@/components/cart/reservation-block/billing/billing-form.vue';
  import ReservationBlockProgress from '@/components/cart/reservation-block/progress.vue';
  import EditableCartItem from './items/editable-cart-item.vue';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import * as Stickyfill from 'stickyfilljs'; // allow 'sticky' class to function in IE11

  import { get, isEmpty, capitalize } from 'lodash';
  import CostSummary from '@/components/cart/reservation-block/cost-summary.vue';
  import { Progress } from '@/lib/cart';
  import ReservationBlock from '@/lib/reservation-block';
  import api from '@/api';
  import { UrGtm } from '@/mixins/ur-gtm';
  import { dateFormat } from '@/utils';
  import moment from 'moment';
  import UrSidebarBanner from '@/components/common/ur-sidebar-banner.vue';

  export default {
    provide() {
      return {
        /**
         * "updateReservation" should be dispatched by child components when they need to update one or more properties of their
         * Reservation. E.g., start date, jobsite id, rpp, etc.
         *
         * usage:
         * // in any child component of <reservation-block /> (who has injected this method)
         * const accountId = '1234';
         * const jobsiteId = '1';
         * this.updateReservation({ accountId, jobsiteId });
         *
         * @type updateReservation function
         */
        updateReservation: this.getUpdateReservationAction(this.block.id),
      };
    },
    components: {
      UrSidebarBanner,
      BillingForm,
      CostSummary,
      EditableCartItem,
      Jobsite,
      PickupDelivery,
      ReservationBlockProgress,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'xlarge',
        'categoryByCatClass',
        'categoryIdByCatClass',
        'subCategoryByCatClass',
      ]),
      ...mapGetters({
        createJobsiteFormIsValid: types.jobs.createJobFormIsValid,
        getEstimate: types.checkout.getEstimate,
      }),
      ...mapState({
        categories: state => state.facets.categories,
        estimates: state => state.checkout.estimates,
        equipment: state => state.catalog.equipment,
        hasShownAuthenticateToContinueModal: state => state.checkout.hasShownAuthenticateToContinueModal,
        isSubmitting: state => state.checkout.isSubmitting,
        // Returns either the existing jobsite for users w/accounts, or the module.jobs.form object (for users w/o an account)
        jobsite(state) {
          const { accountId, jobsiteId } = this.block;
          return get(state.jobs.all, [accountId, jobsiteId], state.jobs.form);
        },
        blockBranch(state) {
          return get(state.branch.all, [this.block.branchId], {});
        },
        userIsLoggedIn: state => state.user.isLoggedIn,
        userDefaultAccountId: state => state.user.defaultAccountId,
      }),
      estimate() {
        return this.getEstimate(this.block.id);
      },
      reservationBlockAccountId() {
        return (!this.block.jobsiteId && this.userDefaultAccountId) ? this.userDefaultAccountId : this.block.accountId;
      },
      convertedDate() {
        // Default timeOffset = UTC Timezone
        const date = {
          time: moment.utc().format(dateFormat.iso),
          offset: this.branchOffset,
        };

        // default offset = UTC ==> only subtract
        return moment(date.time).subtract(date.offset, 'hours').format(dateFormat.iso);
      },
      branchOffset() {
        if (!this.blockBranch) {
          return;
        }

        let branchOffset = this.blockBranch.timeOffset;

        if (branchOffset) {
          branchOffset = Number(branchOffset) + (this.hoursToSubtract);
          branchOffset = branchOffset.toString().replace('00', '');
          branchOffset = branchOffset.toString().replace('-', '');
          return branchOffset;
        }

        return '0';
      },
      hoursToSubtract() {
        // Depending on the DST truthy or falsy, hours that we should subtract from UTC can be -400 or -500
        // HoursToSubtract finds the count of that hours
        return moment().isDST() ? -400 : -500;
      },
      gtmBlockProducts() {
        // Products in current block formatted for use with GTM
        return this.$urgtm.exportGtmProductsByBlock(this.block.id);
      },
      voucherCode() {
        return get(this.estimate, ['voucher', 'code'], '');
      },
      voucherPercentOff() {
        return get(this.estimate, ['voucher', 'discount', 'percent_off'], 0);
      },
      gtmCouponMessage() {
        if (this.voucherCode) {
          return `${this.voucherCode} - ${this.voucherPercentOff}% off`;
        }
        return '';
      },
    },
    data() {
      return {
        gtm: {
          billing: false,
          jobsite: false,
          pickupDelivery: false,
        },
        progress: {
          jobsite: Progress.INACTIVE,
          pickupDelivery: Progress.INACTIVE,
          billing: Progress.INACTIVE,
        },
        submitting: false,
        trackedAnimations: [], // track the accordion animation of the jobsite/pickup delivery/billing forms
        elToScrollToAfterAnimationsComplete: null, // the element to scroll to once the forms complete their accordion animation
      };
    },
    methods: {
      ...mapActions({
        fetchJobs: types.jobs.fetch,
        setHasShownAuthenticateToContinueModal: types.checkout.hasShownAuthenticateToContinueModal,
        getUpdateReservationAction: types.checkout.getUpdateReservationAction,
      }),
      cannotCheckoutFromRates(value) {
        this.$emit('cannot-checkout', value);
      },
      scrollToActive() {
        if (this.elToScrollToAfterAnimationsComplete === null) return;

        const { $el } = this.elToScrollToAfterAnimationsComplete;

        // UR-4137. Reading from all 3 sources fixes scrolling in iOS Safari.
        const scrollTop = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);

        const destination = ($el || this.elToScrollToAfterAnimationsComplete).getBoundingClientRect().top + scrollTop;

        // UR-4137. Assigning to both the body and documentElement fixes scrolling in iOS Safari.
        document.documentElement.scrollTop = document.body.scrollTop = destination - 120; // eslint-disable-line

        // Reset the el to scroll to
        this.elToScrollToAfterAnimationsComplete = null;
      },

      pushTrackedAnimation(event) {
        this.trackedAnimations.push(event);
        if (event.isActive) {
          this.elToScrollToAfterAnimationsComplete = event.elToScrollTo;
        }
      },

      popTrackedAnimation() {
        this.trackedAnimations.pop();
      },

      isUserLoggedIn() {
        return this.userIsLoggedIn;
      },

      // Tags the current step in the checkout flow
      handleGtm() {
        if (!this.gtm.jobsite && this.progress.jobsite === Progress.ACTIVE) {
          this.gtm.jobsite = true;
          this.taggingReady().then(() => {
            this.gtmTrackCheckoutStep(2, `Reservation ${this.index + 1}`, this.gtmBlockProducts);
          });
        }

        if (!this.gtm.pickupDelivery && this.progress.pickupDelivery === Progress.ACTIVE) {
          this.gtm.pickupDelivery = true;
          this.taggingReady().then(() => {
            this.gtmTrackCheckoutStep(2, `Reservation ${this.index + 1}`, this.gtmBlockProducts);
            this.gtmTrackCheckoutStep(3, `Reservation ${this.index + 1}`, this.gtmBlockProducts);
          });
        }

        if (!this.gtm.billing && this.progress.billing === Progress.ACTIVE) {
          this.gtm.billing = true;
          this.taggingReady().then(() => {
            this.gtmTrackCheckoutStep(4, `Reservation ${this.index + 1}`, this.gtmBlockProducts);
          });
        }
      },
      initStickyPolyfill() {
        if (!this.$refs.stickyHead) {
          return;
        }

        Stickyfill.add(this.$refs.stickyHead);
      },
      initProgressState() {
        const { INACTIVE, READY, ACTIVE, SUMMARY } = Progress; // eslint-disable-line

        // If user isn't logged in, READY the Jobsite block. When they try to ACTIVATE
        // it, the component will pop a modal.
        if (!this.userIsLoggedIn && !this.hasShownAuthenticateToContinueModal) {
          this.progress.jobsite = READY;
          this.progress.pickupDelivery = INACTIVE;
          this.progress.billing = INACTIVE;

          const openModal = () => {
            // Do nothing if user already saw this modal...
            if (this.hasShownAuthenticateToContinueModal) {
              return unwatch();
            }

            // ...otherwise pop the modal
            this.$router.push('/checkout/authenticate-to-continue-checkout');
            this.progress.jobsite = READY; // prevent a "flash of activated form"
            this.setHasShownAuthenticateToContinueModal(true); // record that we've shown this, so we don't show it again
            unwatch();
          };
          const unwatch = this.$watch('progress.jobsite', openModal);

          return;
        }

        // Does this authenticated user not have a jobsite? Or does this unauthenticated user have an invalid CreateJobsite form?
        // If so, activate the jobsite block
        if ((this.userIsLoggedIn && !this.block.jobsiteId) || (!this.userIsLoggedIn && !this.createJobsiteFormIsValid)) {
          this.progress.jobsite = this.preventImmediateActivation ? READY : ACTIVE;
          this.progress.pickupDelivery = INACTIVE;
          this.progress.billing = INACTIVE;
        }

        // Did the page load with pickup/delivery info? READY the billing block
        else if (this.block.startMoment.hour() || this.block.startMoment.minute()) {
          this.progress.jobsite = SUMMARY;
          this.progress.pickupDelivery = SUMMARY;
          this.progress.billing = READY;
        }

        // Does the user have a jobsite but no pickup/delivery? READY the pickup/delivery block

        else {
          this.progress.jobsite = SUMMARY;
          this.progress.pickupDelivery = ACTIVE;
          this.progress.billing = INACTIVE;
        }
      },

      /*
      Allows for a wizard-like flow between forms.
       */
      initProgressWatchers() {
        const { INACTIVE, ACTIVE, SUMMARY } = Progress;
        // When the jobsite form is complete, place the pickup/delivery form in ACTIVE state
        this.$watch('progress.jobsite', (progress) => {
          if (progress === SUMMARY) {
            this.progress.pickupDelivery = ACTIVE;
          }

          // Failure to submit a jobsite form will result in the form being reopened.
          // All other forms should be closed.
          if (progress === ACTIVE) {
            this.progress.pickupDelivery = INACTIVE;
            this.progress.billing = INACTIVE;
          }
        });

        // When the pickup-delivery form is complete, place the billing form in ACTIVE state
        this.$watch('progress.pickupDelivery', (progress) => {
          if (progress === SUMMARY) {
            this.progress.billing = ACTIVE;
          }
        });

        // Whenever the Jobsite or Pickup/Delivery forms enter an Active State,
        // inform the Pardot Analytics Tracker that the user started checking out.
        this.$watch('progress', ({ jobsite, pickupDelivery }) => {
          if (jobsite === ACTIVE || pickupDelivery === ACTIVE) {
            api.pardot.initiatingCheckout();
          }
        }, { deep: true, immediate: true });
      },

      // Our GTM Tags on this page send data from a couple async resources
      // that need to be available before tagging
      taggingReady() {
        return new Promise((resolve) => {
          let unwatchEquipment;
          let unwatchEstimates;
          const checkReadiness = () => {
            const estimateIsReady = this.$store.getters[types.checkout.hasEstimate](this.block.id);
            const equipmentIsReady = !isEmpty(this.equipment);
            if (estimateIsReady && equipmentIsReady) {
              // resolve promise & destroy the watchers
              resolve();
              unwatchEquipment();
              unwatchEstimates();
            }
          };
          unwatchEquipment = this.$watch('equipment', checkReadiness);
          unwatchEstimates = this.$watch('estimates', checkReadiness);
          checkReadiness();
        });
      },

      onSubmit({ submitting, type }) {
        this.submitting = submitting; // Boolean

        if (submitting === true) {
          // @todo maybe add "block #" to step name. Currently it's not very clear:
          // {step: 3, option: "Reservation 1", action: "checkout"}
          const step = `${capitalize(type)} ${this.index + 1}`;
          this.gtmTrackCheckoutStep(5, step, this.gtmBlockProducts);
        }
      },

      onSubmitted({ transaction, type }) {
        // The form was submitted and a transaction created.
        if (type === SubmissionType.RESERVATION) {
          // We only consider reservations a purchase
          const costs = this.$refs.costSummary;
          this.gtmTrackPurchase(
            {
              // Transaction ID. Required for purchases and refunds
              id: (transaction.transId ? transaction.transId : transaction.requisitionId),
              affiliation: 'Online Store',
              revenue: costs.totalRentalAmount,
              tax: costs.tax,
              shipping: (costs.damageWaiverFee + costs.deliveryFee + costs.environmentalFee + costs.pickupFee),
              coupon: this.gtmCouponMessage,
            },
            this.gtmBlockProducts,
            (transaction.transId ? transaction.transId : null),
            transaction.requisitionId,
          );
        }
      },
    },
    mounted() {
      this.initProgressState();
      this.initProgressWatchers(); // These watchers must be initialized after the Progress State has been set
      this.initStickyPolyfill();
    },

    beforeDestroy() {
      const { id } = this.block;
      const progress = {
        jobsite: Progress.INACTIVE,
        pickupDelivery: Progress.INACTIVE,
        billing: Progress.INACTIVE,
      };
      this.$store.commit(types.checkout.updateReservationBlockProgress, { progress, id });
    },

    mixins: [
      UrGtm,
    ],

    name: 'reservation-block',

    props: {
      block: {
        type: ReservationBlock,
        required: true,
      },
      exportGtmProducts: {
        type: Function,
        required: true,
      },

      // Disables checkout/quote buttons
      cannotCheckout: {
        type: Boolean,
      },

      // Disables checkout/quote buttons if item is unavailable
      preventCheckout: {
        type: Boolean,
      },

      // Prevents the reservation block from starting in an Active State.
      // (Any Reservation Block after the first one is prevented from starting in any sort of Active State)
      preventImmediateActivation: {
        type: Boolean,
        required: false,
      },
      index: {
        type: Number,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
    },

    watch: {
      jobsite(jobsite) {
        if (isEmpty(jobsite)) {
          this.fetchJobs(this.block.accountId);
        }
      },

      /**
       * Progress
       *
       * We track the users movement through the checkout process using GTM. The equipment & estimates state
       * takes longer to load than does to mount the component. Because of this delay, we use a "taggingReady" promise
       * to determine whether the equipment & estimate has been loaded, and then watchers on both the
       * progress through the form.
       */
      progress: {
        handler(progress) {
          // Fire the proper tag when progress changes
          this.handleGtm();

          // Record the state of this reservation blocks' progress.  We track this in order to prevent
          // multiple forms being edited concurrently.
          const { id } = this.block;
          this.$store.commit(types.checkout.updateReservationBlockProgress, { progress, id });
        },
        deep: true,
      },

      // An animation list is pushed to and popped as animations start and end.
      // As a side effect of animations getting recorded, we set an element to scroll to
      // once the animations have all completed.
      trackedAnimations(tracked) {
        // NOTE: UR-5378: On all browsers for checkout page, the scrollTo messes on submit up due to jobsite form not emptying
        // in 'tracked' object when the form is filled for the first time. In all other cases the scrollTo works fine since
        // 'tracked.length' becomes 0.
        if (tracked.length > 1 || !this.elToScrollToAfterAnimationsComplete) {
          return;
        }

        // Wait a tick, then scroll to the proper element
        setTimeout(this.scrollToActive);
      },
    },
  };
</script>
