<template>
  <div class="reservation-confirmation" v-if="!fetchingCart">
    <div class="reservation-confirmation-header">
      <div class="title-area">
        <h1 class="header">{{ headerH1Content }}</h1>
        <div class="subheader">{{ subHeaderContent }}</div>
        <p class="headerbody">{{ headerBodyCopy }}</p>
      </div>

      <div class="button-area">
        <router-link class="button button--style-2 button--filled" to="/checkout" v-if="cartSize">{{ $i18n('checkout.returnToCart') }}</router-link>
        <div>
          <a target="_top"
            v-if="block"
            :href="`mailto:?subject=Your%20recent%20${this.transTypeIsQuote ? $i18n('checkout.quote') : $i18n('checkout.reservation')}&body=Thank%20you%20for%20your%20recent%20${this.transTypeIsQuote ? $i18n('checkout.quote') : $i18n('checkout.reservation')}%20with%20United%20Rentals.%0D%0A%0D%0AYour%20${this.transTypeIsQuote ? $i18n('checkout.quote') : $i18n('checkout.reservation')}%20for%20Account%20ID:%20${block.items[0].accountId}%20included:%0D%0AItem%20(Cat%20Class%20Code):%20${block.items[0].catClass}%0D%0AQTY:%20${block.items[0].quantity}%0D%0AStart%20Date:%20${startMoment}%0D%0AEnd%20Date:%20${endMoment}%0D%0ADelivery:%20${block.delivery}%0D%0APick%20up:%20${block.pickup}%0D%0ARental%20Protection%20Plan:%20${block.rpp}%0D%0APlease%20visit%20https://www.unitedrentals.com%20for%20more%20information.`"
          >
            <i class="icon icon-envelope"></i>
          </a>
          <a>
            <i @click="windowPrint" class="icon icon-print"></i>
          </a>
        </div>
      </div>
    </div>

    <transaction-block v-if="block" :block="block"/>
  </div>
</template>
<script type="text/babel">
  import Transaction from '@/lib/transaction';
  import TransactionBlock from './transaction-block';
  import { mapComputedLabels, dateFormat } from '@/utils';
  import { mapGetters, mapState } from 'vuex';
  import get from 'lodash/get';
  import types from '@/store/types';

  export default {
    components: {
      TransactionBlock,
    },
    computed: {
      ...mapGetters([
        'expectedTotalTransactionCount',
        'reservationBlocks',
        'transactionResultsCount',
        'cartSize',
      ]),
      ...mapGetters({
        fetchingCart: types.cart.fetching,
      }),
      ...mapState({
        block(state) {
          return state.checkout.transactionBlocks[this.reservationBlockId];
        },
        transactionResults(state) {
          return new Transaction(state.checkout.transactionResults[this.block.id]);
        },
      }),

      computedI18n() {
        return mapComputedLabels({
          title: [
            'cart.confirmationHeadingComputed',
            {
              '@transType': this.transTypeIsQuote ? Drupal.t('quote') : Drupal.t('request'),
              '@lastWord': this.subHeaderlastWord,
            },
          ],
        });
      },

      subHeaderlastWord() {
        const trans = this.transactionResults;

        let lastWord = trans.isReservation() ? Drupal.t('confirmed') : Drupal.t('submitted');
        if (this.transTypeIsQuote) {
          lastWord = Drupal.t('created');
        }
        return lastWord;
      },

      startMoment() {
        return typeof this.block.startMoment.format === 'function' ? this.block.startMoment.format(dateFormat.invoice) : '';
      },

      endMoment() {
        return typeof this.block.endMoment.format === 'function' ? this.block.endMoment.format(dateFormat.invoice) : '';
      },

      /*
      The page title displays the confirmation message for Quote, Requisition and Reservation.
      We show one of two different messages:
      either the multi-transaction message, or the single-transaction message.

      The multi-transaction message is something like "Thanks for your Reservation (1 of 3)."
      The single transaction message is something like "Thanks for your Reservation."
       */
      headerH1Content() {
        const trans = this.transactionResults;
        const userHasMoreInCart = Object.keys(this.reservationBlocks).length;
        let header = '';

        if (this.transTypeIsQuote) {
          header = this.$i18n('cart.confirmationHeadingStaticQuote');
        }
        else if (trans.isReservation()) {
          header = this.$i18n('cart.confirmationHeadingStaticReservation');
        }
        else {
          header = this.$i18n('cart.confirmationHeadingStaticRequisition');
        }
        if (userHasMoreInCart > 0) {
          header = this.computedI18n.title;
        }
        return header;
      },

      /*
      Sub-Header displays the Quote No, Requisition No or Reservation No.
      */
      subHeaderContent() {
        const trans = this.transactionResults;
        const { transId, requisitionId } = trans;

        let label = trans.isReservation() ? this.$i18n('checkout.reservation') : this.$i18n('checkout.requisition');
        if (this.transTypeIsQuote) {
          label = this.$i18n('checkout.quote');
        }
        return `Your ${label} Number is #${trans.isReservation() ? transId : requisitionId}.`;
      },

      /*
      The Header Body Copy is the copy text below the header.
       */
      headerBodyCopy() {
        const trans = this.transactionResults;
        const { transId, requisitionId } = trans;
        const userHasMoreInCart = Object.keys(this.reservationBlocks).length;

        const totalCartItems = mapComputedLabels({
          title: [
            'cart.confirmationAppendBodyCopy',
            {
              '@count1': this.expectedTotalTransactionCount,
            },
          ],
        });

        if (this.transTypeIsQuote) {
          let bodyCopy = `${this.$i18n('cart.confirmationQuoteBodyCopyShort')}${requisitionId}. `;
          if (userHasMoreInCart > 0) {
            bodyCopy += totalCartItems.title;
          }
          return bodyCopy;
        }

        if (trans.isReservation() && transId !== 0) {
          let bodyCopy = `${this.$i18n('cart.confirmationReservationBodyCopyShort')}${requisitionId}. `;
          if (userHasMoreInCart > 0) {
            bodyCopy += totalCartItems.title;
          }
          return bodyCopy;
        }
        else {
          let bodyCopy = this.$i18n('cart.confirmationSubheadingShort');
          if (userHasMoreInCart > 0) {
            bodyCopy += totalCartItems.title;
          }
          return bodyCopy;
        }
      },

      transTypeIsQuote() {
        return get(this.block, ['transType'], '') === 'X';
      },
    },
    methods: {
      windowPrint() {
        window.print();
      },
    },
    name: 'transaction-complete',
    props: {
      reservationBlockId: {
        required: true,
      },
    },
  };
</script>

<style scoped>
  h1.header, .subheader {
    font-size: 18px;
    line-height: 24px;
    z-index: 0;
  }

  @media (min-width: 640px) {
    h1.header, .subheader {
      font-size: 28px;
      line-height: 36px;
    }
  }
</style>
