<template>
  <form class="jobsite-form">
    <company-name-text-input v-if="userHasNoAccount" :value="accountName" @input="name => updateAccountName({name})"/>

    <jobsite-name-text-input
      :value="job.name"
      @input="name => updateForm({name})"/>

    <address1-text-input
      :value="job.address1"
      :err="address1Err"
      @input="address1 => updateForm({address1})"/>

    <address2-text-input
      :value="job.address2"
      @input="address2 => updateForm({address2})"/>

    <city-text-input
      :value="job.city"
      @input="city => updateForm({city})"/>

    <state-select
      :country="countryCode"
      :value="job.state"
      @change="state => updateForm({state})"/>

    <zip-text-input
      :value="job.zip"
      @input="zip => updateForm({zip})"/>

    <country-select
      :value="countryCode"
      @change="country => updateForm({country})"/>

    <contact-text-input
      :value="job.contact"
      @input="contact => updateForm({contact})"/>

    <phone-text-input
      :value="job.mobilePhone"
      @input="mobilePhone => updateForm({mobilePhone})"/>

    <email-text-input
      :value="job.email"
      :err="emailErr" @input="onInputEmail"/>

    <delivery-instructions-textarea :value="job.notes" @input="notes => updateForm({notes})"/>
  </form>
</template>
<script type="text/babel">
  import CompanyNameTextInput from '@/components/common/form/text-input/company-name';
  import JobsiteNameTextInput from '@/components/common/form/text-input/jobsite-name';
  import Address1TextInput from '@/components/common/form/text-input/address1';
  import Address2TextInput from '@/components/common/form/text-input/address2';
  import CityTextInput from '@/components/common/form/text-input/city';
  import StateSelect from '@/components/common/form/select/state';
  import ZipTextInput from '@/components/common/form/text-input/zip';
  import CountrySelect from '@/components/common/form/select/country';
  import DeliveryInstructionsTextarea from '@/components/common/form/textarea/delivery-instructions';
  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';
  import { mapActions, mapMutations, mapState, mapGetters } from 'vuex';
  import types from '@/store/types';
  import { required, minLength } from 'vuelidate/lib/validators';

  export default {
    components: {
      CompanyNameTextInput,
      JobsiteNameTextInput,
      Address1TextInput,
      Address2TextInput,
      CityTextInput,
      StateSelect,
      ZipTextInput,
      CountrySelect,
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
      DeliveryInstructionsTextarea,
    },
    computed: {
      ...mapGetters({
        ratesPlaceCountryCode: types.user.ratesPlaceCountryCode,
        userHasNoAccount: types.accounts.noAccounts,
      }),
      ...mapState({
        accountName: state => state.accounts.form.name,
        savedForm(state) {
          return state.jobs.form[this.blockIdString];
        },
      }),
      address1Err() {
        return this.errors ? this.errors.includes('address1') : false;
      },
      emailErr() {
        return this.errors ? this.errors.includes('email') : false;
      },
      /**
       * If the country code hasn't already been set, use the country from
       * rates place.
       *
       * @return {string} country code
       */
      countryCode() {
        return this.job.country || this.ratesPlaceCountryCode || 'US';
      },
      blockIdString(){
        return this.blockId || 'anon'
      },
    },
    data() {
      return {
        job: {}
      }
    },
    methods: {
      ...mapActions({
        updateFormField: types.jobs.updateFormField,
      }),
      ...mapMutations({
        updateAccountName: types.accounts.updateFormField,
      }),
      updateForm(field) {
        this.job = {
          ...this.job,
          ...field
        }
        const payload = {
          blockId: this.blockId,
          ...field
        }
        this.updateFormField(payload)
      },
      onInputEmail(email) {
        const label = 'email';
        this.updateForm({ email });
        if (this.$v.job.email.$invalid) {
          return this.emailErr ? false : this.errors.push(label);
        }
        this.errors.splice(this.errors.indexOf(label), 1);
      },
    },

    mounted() {
      this.$emit('is-invalid', this.$v.job.$invalid);
      this.$watch('$v.job.$invalid', invalid => {
        this.$emit('is-invalid', invalid);
      });
      this.$nextTick(() => {
        this.job = this.savedForm;
      })
    },
    name: 'create-jobsite-form',
    props: {
      errors: Array,
      default: () => [],
      blockId: String,
    },
    validations: {
      job: {
        address1: { required },
        city: { required },
        country: { required },
        email: {
          email(value) {
            const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // eslint-disable-line
            return regex.test(value);
          },
        },
        contact: {
          required,
          startsWithASpace: value => {
            const startsWithASpace = /^\s/.test(value);
            return !startsWithASpace;
          },
        },
        mobilePhone: {
          required,
          minLength: minLength(14),
        },
        name: { required },
        state: { required },
        zip: { required },
      },
    },
  };
</script>
