<template>
  <div>
    <div class="modal-header jobsite-modal-header">
      <h3>{{ $i18n('job.addJobsite') }}</h3>
    </div>
    <div class="modal-body jobsite-modal-body">
      <form class="jobsite-form">
        <div class="jobsite-form-row-inline">
          <jobsite-name-text-input :value="job.name" @input="name => updateFormField({name})"/>
          <contact-text-input :value="job.contact" @input="contact => updateFormField({contact})"/>
          <phone-text-input :value="job.mobilePhone" @input="mobilePhone => updateFormField({mobilePhone})"/>
        </div>
        <email-text-input :value="job.email" @input="email => updateFormField({email})"/>
        <address1-text-input v-model="address1" :value="job.address1" @input="isTypingAddress = true"/>
        <address2-text-input :value="job.address2" @input="address2 => updateFormField({address2})"/>
        <div class="jobsite-form-row-inline jobsite-address">
          <ur-location-autocomplete :place="getPlace" @change="place => updateFormPlace(place)"
            :countries="availableCountries" v-on:clear="handleClear" :value="job.location">
          </ur-location-autocomplete>
          <country-select :value="countryCode" @change="country => updateCountry(country)"/>
          <ur-error-label v-if="locationError" :message="getLocationErrorMessage" />
        </div>

        <delivery-instructions-textarea
          :value="job.notes"
          @input="notes => updateFormField({notes})"
        />
      </form>
    </div>
    <div class="modal-footer jobsite-modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
        :disabled="isSaving"
      >
        <span v-if="!isSaving">{{ $i18n('ur.save') }}</span>
        <ur-loading-spinner v-if="isSaving" class="icon-button-spinner" />
      </button>
    </div>
  </div>
</template>

<style lang="scss">
  .icon-button-spinner {
    font-size: 1.5em;
    text-align: center;
  }

  .jobsite-form .location-autocomplete {
    margin-right: 18px;

    label[for="locationSearch"] {
      margin: 8px auto 7px;
    }
  }

  .jobsite-address label.error-message {
    width: 100%;
    display: block;
    text-transform: none;
  }
</style>

<script type="text/babel">
  import JobsiteNameTextInput from '@/components/common/form/text-input/jobsite-name';
  import Address1TextInput from '@/components/common/form/text-input/address1';
  import Address2TextInput from '@/components/common/form/text-input/address2';
  import CityTextInput from '@/components/common/form/text-input/city';
  import StateSelect from '@/components/common/form/select/state';
  import ZipTextInput from '@/components/common/form/text-input/zip';
  import CountrySelect from '@/components/common/form/select/country';
  import DeliveryInstructionsTextarea from '@/components/common/form/textarea/delivery-instructions';
  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';
  import UrGtm from '@/mixins/ur-gtm';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import { mapActions, mapState } from 'vuex';
  import { minLength, required } from 'vuelidate/lib/validators';
  import types from '@/store/types';
  import UrLocationAutocomplete from '@/components/common/ur-location-autocomplete';
  import { loaded } from 'vue2-google-maps';
  import UrErrorLabel from '@/components/common/form/ur-error-label';

  const SNAPSHOT_TYPE = types.jobs.reloadForm;

  export default {
    components: {
      JobsiteNameTextInput,
      Address1TextInput,
      Address2TextInput,
      CityTextInput,
      StateSelect,
      ZipTextInput,
      CountrySelect,
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
      DeliveryInstructionsTextarea,
      UrLoadingSpinner,
      UrLocationAutocomplete,
      UrErrorLabel,
    },
    computed: {
      ...mapState({
        job(state) {
          return state.jobs.form.anon;
        },
        jobIsEmpty: state => Object.values(state.jobs.form).join('') === '',
      }),
      /**
       * If the country code hasn't already been set, use the country from
       * rates place.
       *
       * @return {string} country code
       */
      countryCode() {
        return (this.job.country) ? this.job.country : 'US';
      },
      availableCountries() {
        return [this.countryCode];
      },
      getPlace() {
        return this.place;
      },
      getLocationErrorMessage() {
        return 'Postal Code could not be found for the address you entered. Try manually entering it above.';
      },
    },
    created() {
      this.takeJobSiteFormSnapShot();
    },
    data() {
      return {
        isSaving: false,
        address1: '',
        isTypingAddress: false,
        place: '',
        locationError: false,
      };
    },
    methods: {
      ...mapActions({
        addJobsite: types.jobs.addJobsite,
        resetJobsiteForm: types.jobs.resetForm,
        updateFormField: types.jobs.updateFormField,
        createSnapshot: types.snapshot.take,
        replaySnapshot: types.snapshot.replay,
      }),
      handleClear() {
        this.updateFormField({city: null});
        this.updateFormField({state: null});
        this.updateFormField({zip: null});
      },
      cancel() {
        this.closeCallback();
        this.$router.go(-1);
      },
      save() {
        if (this.$v.$invalid) {
          this.$validateChildrenAndScrollToError();
          return;
        }
        this.isSaving = true;
        this.addJobsite({accountId: this.$route.params.accountId})
          .then((jobsiteId) => {
            // TODO this functionality should be replaced by utilizing the new observable $store.state.jobs.created...
            // TODO ...which is a list jobsite IDs the user has created.  This whole "afterAddJobsiteAction" stuff is too complicated.
            // TODO ...Currently this is only utilized by platform-account's Edit Quote and Convert Quote flows.
            /**
             * The Route passes in an action to dispatch when a jobsite is created.
             * This action is determined by the workflow that got the user to this form.
             * User's in the Add To Cart workflow will dispatch an action (here) that updates the
             * Default Job Id (which will get loaded by the Cart item Form when this modal closes)
             * User's in the Edit Cart Item workflow will dispatch the same action as the one above.
             * User's in the Checkout > Edit Jobsite workflow will dispatch an action (here) that updates the
             * Reservation Block's Jobsite Id.
             */
            const { afterAddJobsiteAction } = this.$route.params;

            if (typeof afterAddJobsiteAction !== 'undefined') {
              this.$store.dispatch(afterAddJobsiteAction, jobsiteId);
            }

            this.gtmTrackFormSubmissions('add-jobsite', 'save');

            this.$router.go(-1);
          })
          .catch((error) => {
            this.$emit('error', true);
            if (error.message.includes('Missing required field: zip')) {
              this.locationError = true;
            }
          })
          .finally(() => {
            this.isSaving = false;
          });
      },
      takeJobSiteFormSnapShot() {
        if (this.jobIsEmpty) return this;

        this.createSnapshot({
          type: SNAPSHOT_TYPE,
          data: this.job,
        });

        this.resetJobsiteForm();

        return this;
      },
      closeCallback() {
        this.replaySnapshot({ type: SNAPSHOT_TYPE, reset: true });
      },
      updateFormPlace(place) {
        // Clear error.
        this.locationError = false;

        let zip = null;
        let city = null;
        let state = null;
        for (const address_component of place.address_components) {
          switch (address_component.types[0]) {
            case 'locality':
              city = address_component.long_name;
              break;
            case 'administrative_area_level_1':
              state = address_component.short_name;
              break;
            case 'postal_code':
              zip = address_component.long_name;
              break;
          }
        }

        // Update form fields.
        if (city) {
          this.updateFormField({city});
        }
        if (state) {
          this.updateFormField({state});
        }
        if (zip) {
          this.updateFormField({zip});
        }

        // Set place.
        if (city !== null && state !== null && zip !== null) {
          // console.log('should set place to ' + (city + ', ' + state + ' ' + zip));
          this.place = city + ', ' + state + ' ' + zip;
        }
        else {
          // console.log('did not set place to ' + (city + ', ' + state + ' ' + zip));
        }

        // No city, state, or zip?
        if ((city === null || state === null || zip === null) && this.job.address1) {
          let address = this.job.address1;
          if (city === null && this.job.city) {
            city = this.job.city;
          }
          if (state === null && this.job.state) {
            state = this.job.state;
          }
          this.getGeocodedAddress(address, city, state, this.countryCode, false, true);
        }
      },
      updateFormAddress1(address1) {
        // No zip?
        if (address1.length > 0) {
          let city = null;
          let state = null;
          let zip = null;
          if (this.job.city) {
            city = this.job.city;
          }
          if (this.job.state) {
            state = this.job.state;
          }
          if (this.job.zip) {
            zip = this.job.zip;
          }
          this.getGeocodedAddress(address1, city, state, this.countryCode);
        }
        this.updateFormField({address1});
      },
      updateCountry(country) {
        this.updateFormField({country});

        // Geocode again.
        if (this.job.address1 !== null || this.job.city !== null || this.job.state !== null) {
          this.getGeocodedAddress(this.job.address1, this.job.city, this.job.state, this.countryCode);
        }
      },
      getGeocodedAddress(addressIn, cityIn, stateIn, countryIn, selfCall, manualPlaceUpdate) {
        let city = null;
        let state = null;
        let zip = null;
        if (typeof manualPlaceUpdate === 'undefined') {
          manualPlaceUpdate = false;
        }
        if (typeof selfCall === 'undefined') {
          selfCall = false;
        }
        const geocoder = new google.maps.Geocoder();
        let addressUpdated = addressIn;
        if (cityIn) {
          addressUpdated += ', ' + cityIn;
        }
        if (stateIn) {
          addressUpdated += ', ' + stateIn;
        }
        geocoder.geocode(
          {
            address: addressUpdated,
            componentRestrictions: {
              country: countryIn
            },
          },
          (results, status) => {
          if (status !== google.maps.GeocoderStatus.OK && !selfCall) {
            // Try without city and state.
            this.getGeocodedAddress(addressIn, null, null, countryIn, true, manualPlaceUpdate);
            return;
          }
          try {
            // Make sure we have only 1 result.
            if (results.length === 1 || results[0].types[0] === 'premise'
              || results[0].types[0] === 'street_address'
            ) {
              for (const address_component of results[0].address_components) {
                switch (address_component.types[0]) {
                  case 'locality':
                    city = address_component.long_name;
                    break;
                  case 'administrative_area_level_1':
                    state = address_component.short_name;
                    break;
                  case 'postal_code':
                    zip = address_component.long_name;
                    break;
                }
              }

              // Set place.
              if (city !== null && state !== null && zip !== null) {
                console.log('should set place to ' + (city + ', ' + state + ' ' + zip));
                this.place = city + ', ' + state + ' ' + zip;
              }
              else {
                console.log('did not set place to ' + (city + ', ' + state + ' ' + zip));
              }

              // Update form fields if the place was not manually set.
              if (!manualPlaceUpdate || (city === cityIn && state === stateIn)) {
                this.updateFormField({city});
                this.updateFormField({state});
                this.updateFormField({zip});
              }
            }
            else if(!selfCall) {
              // Try without city and state.
              this.getGeocodedAddress(address, null, null, country, true, manualPlaceUpdate);
            }
            // Make sure to present an error.
            else if (city && state && address) {

            }
          }
          catch (error) {
            // do nothing, could not geolocate
          }
        });
      },
    },
    mounted() {
      this.$emit('isValid', this.$v.$invalid);
      this.$watch('$v.$invalid', (invalid) => {
        this.$emit('isValid', invalid);
      });
    },
    mixins: [
      UrGtm,
    ],
    validations: {
      job: {
        address1: { required },
        country: { required },
        email: {
          email(value) {
            const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // eslint-disable-line
            return regex.test(value);
          },
        },
        contact: {
          required,
          startsWithASpace: (value) => {
            const startsWithASpace = /^\s/.test(value);
            return !startsWithASpace;
          },
        },
        mobilePhone: {
          required,
          minLength: minLength(14),
        },
        name: { required },
      },
    },
    watch: {
      address1: _.debounce(function () {
        this.isTypingAddress = false;
        this.updateFormAddress1(this.address1);
      }, 1000)
    },
    name: 'create-jobsite-form-modal',
  };
</script>
