.results-content-blocks_container {
  display: flex;
  flex-direction: column;
  margin-top: 18.5px;
  padding: 0px;
  width: 100%;


  @include breakpoint ($break-small) {
    margin-bottom: 0;
    overflow-y: hidden;
  }

  .results-content-blocks.active {
    background-color: $color-blue-subtle;
  }
}
