<div class="results-content-blocks_container">
  {% include "@molecules/location-finder/content-results-block/scroll-top.twig" %}
  {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
  {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
  {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
  {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
  {% include "@molecules/location-finder/content-results-block/content-results-block.twig" %}
</div>






