%headings {
  font-family: $font-family-base;
  color: $color-text;
  font-variant: none;
  font-weight: 700;
  width: 100%; // For non header (inline) elements with these styles, e.g. legend
}

.header-display-1,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  @extend %headings;
}

// TODO: BEM selectors should be applied to wysiwyg-created content
h1 {
  @extend .heading-1;
}

h2 {
  @extend .heading-2;
}

h3 {
  @extend .heading-3;
}

h4 {
  @extend .heading-4;
}

h5 {
  @extend .heading-5;
}

h6 {
  @extend .heading-6;
}
