.faq {
  display: flex;
  font-family: $font-family-sans-serif;

  &__heading-4 {
    height: 40px;
    width: 296.07px;
    color: $color-grey-69;
    font-size: $font-size-base;
    font-weight: bold;
    line-height: 20px;
  }

  .faq-category {
    color: $color-black;
    font-size: $font-size-large;
    font-weight: bold;
    line-height: 20px;
  }

  .faq-question-top {
    color: $color-blue;
    font-weight: 200 !important;
    font-size: $font-size-base;
    line-height: 24px;
  }

  .faq-list {
    line-height: 3;
    list-style-type: none;
  }

  .faq-answer {
    font-size: $font-size-base;
    line-height: 24px;
    color: $color-grey-69;
  }

  &__link {
    display: block;
    margin-bottom: 1rem;
    position: relative;
    color: $color-blue !important;
    font-size: $font-size-base;
    line-height: 24px;
    font-weight: 200 !important;
    padding-bottom: 20px;

    .icon {
      transform: rotate(90deg) translateY(-1px);
      display: inline-block;
      margin-right: 8px;
      font-size: 12px;
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}

.faq-list-item {
  padding: 20px 9px 10px 12px;
}

.group-top {

  padding: 0 9px 10px 12px;
}
