{% if faq_category %}
  <p class="heading-4 faq-category">{{ faq_category|raw }}</p>
{% endif %}
{% if faq_question %}
  <a href="#{{ faq_id }}" class="heading-4 faq-question-top">{{ faq_question|raw }}</a>
{% endif %}