{% if faq_question %}
  <p id="{{ faq_id }}" class="heading-4 faq-question">{{ faq_question|raw }}</p>
{% endif %}
{% if faq_answer %}
  <p class="faq-answer">{{ faq_answer|raw }}</p>
{% endif %}
  <a href="#" class="link faq__link"><i class="icon icon-chevron-left"></i> Back to top</a>