@import 'util/util';

// 1. Global
// ---------

$global-width: rem-calc(1440);

$global-font-size: 87.5%;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$global-right: right;
$global-left: left;

$-zf-flex-justify: -zf-flex-justify($global-text-direction);

// 2. Breakpoints
// --------------

$fn-breakpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1440px,
  xxlarge: 1920px,
);

$_break-small: 768px;
$_break-medium: 1024px;
$_break-large: 1440px;
$_break-xlarge: 1920px;

$print-breakpoint: large;
$fn-breakpoint-classes: (small medium large xlarge xxlarge);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 8px,
  medium: 16px,
  large: 16px,
  xlarge: 16px,
  xxlarge: 16px
);
$grid-column-align-edge: false;
$grid-column-alias: 'f-columns';
$block-grid-max: 8;
$xy-grid: false;

// 19. Flexbox Utilities
// ---------------------

$flex-source-ordering-count: 6;
$flexbox-responsive-breakpoints: true;

