<template>
  <div style="box-sizing: content-box">
    <div class="modal-header">
      <h3>{{ $i18n('checkout.addANewCard') }}</h3>
      <ur-loading-spinner v-if="isSaving" class="icon-button"></ur-loading-spinner>
    </div>
    <div class="modal-body">
      <credit-card-form
        @cc_change="onChange"
        :editing="false"
      ></credit-card-form>
    </div>
    <div class="flex-wrap modal-footer with-help" style="flex-direction: row">

      <div class="help">
        <div class="icon-wrapper">
          <span class="icon icon-lock"></span>
        </div>
        <div class="help-section">
          <p>{{$i18n('cart.allPaymentInfo')}}</p>
        </div>
      </div>

      <div class="modal-actions">
        <button
          class="button button--style-1 button--secondary"
          @click="$router.go(-1)"
        >
          {{ $i18n('ur.cancel') }}
        </button>
        <button
          class="button button--style-1 button--filled"
          @click="save"
        >
          {{ $i18n('ur.save') }}
        </button>
      </div>

    </div>
  </div>
</template>
<script>
  /* eslint-disable no-alert */
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import CreditCardForm from '@/components/common/credit-card-form';

  import creditCardType from 'credit-card-type';
  import { mapActions, mapGetters, mapState } from 'vuex';

  import types from '@/store/types';

  export default {
    components: {
      UrLoadingSpinner,
      CreditCardForm,
    },
    computed: {
      ...mapState({
        accounts: state => state.accounts.all,
      }),
      ...mapGetters([]),
      cardType() {
        const sanitizedCardNumber = this.creditCard.cardNumber.replace(/\s/g, '');

        if (this.creditCard.cardNumber && creditCardType(sanitizedCardNumber)[0]) {
          switch (creditCardType(sanitizedCardNumber)[0].type) {
            case 'visa':
              return 'V';
            case 'master-card':
              return 'M';
            case 'american-express':
              return 'A';
            case 'discover':
              return 'D';
            default:
              return false;
          }
        }
        return false;
      },
      expireDate() {
        if (!!this.creditCard.expMonth && !!this.creditCard.expYear) {
          return this.creditCard.expMonth.toString() + this.creditCard.expYear.toString().slice(2);
        }
        return false;
      },
    },
    data() {
      return {
        cardNumber: null,
        expMonth: null,
        expYear: null,
        cvv: null,
        cardHolder: null,
        cardName: null,
        defaultPayment: false,
        status: 'A',
        isSaving: false,
        creditCard: {
          type: Object,
          default() {
            return {
              expYear: '',
              expMonth: '',
              cardName: '',
              cvv: '',
              cardHolder: '',
              defaultCard: '',
              cardNumber: '',
              cardType: '',
            };
          },
        },
      };
    },
    methods: {
      ...mapActions({
        addCreditCard: types.creditCards.add,
        fetchCreditCards: types.creditCards.fetch,
        updateBillingCreditCard: types.checkout.billingCreditCard,
      }),
      onChange(creditCard) {
        this.creditCard = creditCard;
      },
      save() {
        // Trigger all validations
        if (!this.$validateChildrenAndScrollToError()) {
          return;
        }
        this.isSaving = true;
        // Mandatory Fields: cardHolder, cardType, ccNumber, expireDate, cardName, defaultCard
        const cardHolder = this.creditCard.cardHolder.length > 19 ? this.creditCard.cardHolder.substring(0, 19) : this.creditCard.cardHolder;
        const data = {
          cardHolder: this.creditCard.cardHolder,
          cardName: this.creditCard.cardName || cardHolder, // fall back. Field is required by DAL
          ccNumber: this.creditCard.cardNumber.replace(/\s/g, ''), // remove whitespace injected by the card number mask
          defaultCard: !!this.creditCard.defaultCard,
          expireDate: this.expireDate,
          status: this.status,
          cvv: this.creditCard.cvv,
        };
        return this.addCreditCard(data)
          .then(() => {
            this.$router.go(-1);
          })
          .catch(() => {
            alert('Credit Card could not be added. Please try again.');
            this.isSaving = false;
          });
      },
      toggleDefaultPaymentSelect(value) {
        this.defaultPayment = value;
      },
    },
  };
</script>
