<template>
  <div class="cart-block reservation-billing" :class="progress">
    <div class="info-section">

      <label class="reservation-label">{{ $i18n('checkout.billing') }}</label>

      <transition mode="out-in" name="tbSlideFadeNoTranslate" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <billing-form-inactive
          v-if="inactive"
          :account-id="account.id"
          :account-name="account.name"
        />
      </transition>


      <transition mode="out-in" name="tbSlideFadeNoTranslate" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <billing-form-ready
          v-if="ready"
          :account-id="account.id"
          :account-name="account.name"
          :show-account-info="userIsLoggedIn"
          @activate="gotoActive"
        />
      </transition>

      <transition mode="out-in" name="tbSlideFadeNoTranslate" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <billing-form-active
          v-if="active"
          key="activeForm"
          ref="activeForm"
          :account="account"
          :billing-form="billingForm"
          :block="block"
        />
      </transition>

      <transition mode="out-in" name="tbSlideFadeNoTranslate" tag="div" @enter="enterTransition" @after-enter="afterTransitionEnter" @leave="leaveTransition" @after-leave="afterTransitionLeave">
        <billing-form-summary
          v-if="summary || complete"
          :account="account"
          :billing-form="billingForm"
          :show-account-info="userIsLoggedIn"
          :block="block"
          :editable-allocation-codes="!complete"
        />
      </transition>

    </div>

    <billing-form-submission-buttons
      v-if="active"
      :disabled="disabled"
      :is-submitting="isSubmitting"
      @submit-reservation="submitReservation"
      @submit-quote="submitQuote"
    />

  </div>
</template>
<script type="text/babel">
  import moment from 'moment';
  import { debounce } from 'lodash';

  import { mapState, mapActions, mapGetters } from 'vuex';

  import ProgressMixin from '@/components/cart/reservation-block/progress-mixin';
  import ReservationBlock from '@/lib/reservation-block';
  import types from '@/store/types';
  import UrGtm from '@/mixins/ur-gtm';

  import BillingFormInactive from './billing-form.inactive.vue';
  import BillingFormReady from './billing-form.ready.vue';
  import BillingFormActive from './billing-form.active.vue';
  import BillingFormSubmissionButtons from './billing-form.active.submission-buttons.vue';
  import BillingFormSummary from './billing-form.summary.vue';

  /**
   * This is unrelated to the existing transaction types (X/R/etc) that
   * exist in the system. We're only using this to indicate which button
   * was pressed during $emit().
   */
  export const SubmissionType = {
    RESERVATION: 'RESERVATION',
    QUOTE: 'QUOTE',
  };

  export const BillingForm = {
    name: 'billingForm',
    components: {
      BillingFormInactive,
      BillingFormReady,
      BillingFormActive,
      BillingFormSubmissionButtons,
      BillingFormSummary,
    },
    created() {
      this.$on('submit', ({ submitting }) => this.isSubmitting = submitting); // eslint-disable-line

      // IE 11 does not prevent users from double-clicking submit buttons w/o these debounces.
      // Prior to the debounces, the `isSubmitting` boolean was guarding against double clicks by being set right after user clicked buttons
      // (But this was not good enough to prevent IE from submitting twice.)
      this.submitReservation = debounce(this.submitReservation, 250);
      this.submitQuote = debounce(this.submitQuote, 250);
      // this.onBillingEmailChange = debounce(this.onBillingEmailChange, 250); TODO move this down into its own component? Brewer 9/7/18
    },
    data() {
      return {
        isSubmitting: false,
        submissionType: null,
        willShowConfirmAccountModal: false,
      };
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapGetters({
        tokensInFlight: types.inFlightRequests.tokensInFlight,
        userHasNoAccount: types.accounts.noAccounts,
        isLocalCart: types.cart.isLocal,
      }),
      ...mapState({
        account(state) {
          return state.accounts.all[this.block.accountId] || {};
        },

        billingForm(state) {
          return state.checkout.billing[this.block.id] || {};
        },

        userIsLoggedIn: state => state.user.isLoggedIn,

        userIsEmployee: state => state.user.isEmployee,

        datesValid() {
          return this.block.startMoment.isAfter(moment(this.convertedDate)) && this.block.endMoment.isAfter(moment(this.convertedDate));
        },

        disabled() {
          return this.userIsEmployee || this.cannotCheckout || this.tokensInFlight > 0 || this.isSubmitting || this.preventCheckoutValue;
        },
      }),
    },
    methods: {
      ...mapActions({
        createAccountAndJobsite: types.checkout.createAccountAndJobsite,
        createTcUserAndLogIn: types.tcUser.create,
        createTransaction: types.checkout.createTransaction,
        updateTransType: types.checkout.billingTransType,
        saveLocalCart: types.cart.saveLocalCart,
        setErredFields: types.checkout.erredFields,
        toggleSubmitting: types.checkout.toggleSubmitting,
        toggleHideOverlayImmedately: types.checkout.toggleHideOverlayImmedately,
      }),

      // tell the parent the component form has transitioned, either into an active state or not
      afterTransitionLeave() {
        this.$emit('closed-animation', {});
      },

      leaveTransition() {
        this.$emit('closing-animation', {});
      },

      enterTransition() {
        const { small } = this;
        if (small) {
          this.$emit('opening-animation', {
            isActive: this.active,
            elToScrollTo: this.$refs.activeForm,
          });
        }
        else {
          this.$emit('opening-animation', {
            isActive: this.active,
            elToScrollTo: document.querySelector('.cart-block.reservation-pickup-delivery'),
          });
        }
      },

      afterTransitionEnter() {
        this.$emit('opened-animation', {});
      },

      submitReservation() {
        if (!this.datesValid) {
          return this.errorHandler(this.$i18n('checkout.noTimeSelected'));
        }

        this.submissionType = SubmissionType.RESERVATION;
        this.updateTransType({ reservationBlockId: this.block.id, transType: 'R' });
        this.submit();
      },

      submitQuote() {
        if (!this.datesValid) {
          return this.errorHandler(this.$i18n('checkout.noTimeSelected'));
        }

        this.submissionType = SubmissionType.QUOTE;
        this.updateTransType({ reservationBlockId: this.block.id, transType: 'X' });
        this.submit();
      },
      scrollToTop() {
        window.scrollTo(0, 0);
      },

      async submit() {
        if (this.isSubmitting || !this.$validateChildrenAndScrollToError()) {
          return;
        }
        this.toggleHideOverlayImmedately(false);
        this.scrollToTop();
        this.toggleSubmitting(true);
        this.transactionErrorMessage = '';

        this.$emit('submit', { submitting: true, type: this.submissionType });

        // An anonymous user will create a TCUser and get logged in
        if (!this.userIsLoggedIn) {
          try {
            await this.createTcUserAndLogIn();
            this.$store.dispatch(types.user.setIsLoggedIn, true);
            this.willShowConfirmAccountModal = true;
          }
          catch (e) {
            this.errorHandler(this.$i18n('checkout.error'));
            return;
          }
        }

        // If this component is on the page, calling its save method will create the cc,
        // and update this user's billing to use this cc.
        // NOTE: Due to how we're set up, this fn must run before we goto the summary state.
        if (this.$refs.activeForm.$refs.creditCardForm) {
          try {
            await this.$refs.activeForm.$refs.creditCardForm.save();
          }
          catch (error) {
            this.errorHandler(error);
            return;
          }
        }

        // The Guest or Registered User w/no Account will just call createAccountAndJobsite
        if (this.userHasNoAccount) {
          try {
            await this.createAccountAndJobsite();
          }
          catch (e) {
            this.errorHandler(this.$i18n('checkout.error'));
            return;
          }
        }

        // We must now await an Estimates call that was automatically initiated when the cart items' account/job changed.
        // Then we'll run the transaction. (Estimates are a part of the transaction request params.)
        const awaitEstimatesInterval = setInterval(() => {
          const estimate = this.$store.getters[types.checkout.getEstimate](this.block.id);
          const estimateExists = Object.keys(estimate).length > 0;

          if (estimateExists) {
            // Having awaited all pre-transaction requests, run the transaction
            this.runTransaction()
              .catch(() => {
                // Display a generic error if anything goes wrong
                this.errorHandler(this.$i18n('checkout.error'));
              });
            clearInterval(awaitEstimatesInterval);
          }
        }, 100);
      },

      runTransaction() {
        return this.createTransaction(this.block.id)
          .then((transaction) => {
            this.$emit('submitted', {
              transaction,
              type: this.submissionType,
            });

            // @todo: The job of re-routing should go to the parent component, as billing-form
            // is only one section of the multi-step form.

            // If they created their account, we route them to an account confirmation modal
            // Otherwise we route them directly to the receipt.
            const nextRoute = this.willShowConfirmAccountModal
              ? `/checkout/transaction/${this.block.id}/confirm-account`
              : `/checkout/transaction/${this.block.id}`;
            this.toggleSubmitting(false);
            this.$router.push(nextRoute);
            // If the user has an anonymous (local) cart, prepare it to be saved to drupal then save it to drupal
            if (this.isLocalCart) {
              // Remove the local cart's items that the user just purchased
              this.block.items.forEach(({ id }) => {
                this.$store.dispatch(types.cart.removeItem, id);
              });

              // Persist their local cart to the drupal cart. This then destroys the localCart. And fetches a new cart from drupal.
              this.saveLocalCart();
            }
            else {
              // Authenticated users will simply fetch the updated cart from drupal.
              // This updates the cart pill to reflect what the user now has in their cart.
              this.$store.dispatch(types.cart.fetch);
            }
          })
          .catch((error) => {
            this.errorHandler(error);
          })
          .finally(() => {
            this.submissionType = null;
            this.$emit('submit', { submitting: false });
          });
      },

      errorHandler(msg) {
        this.toggleSubmitting(false);
        this.toggleHideOverlayImmedately(true);
        this.gotoActive();
        /**
         * @todo Using the verb `submit` to notify others that we are NOT submitting isn't
         * the right way to do this. An alternative is `update:submitting`/`.sync`.
         */
        this.$emit('submit', { submitting: false });
        if (msg.toString().includes('status code 429')) {
        msg = 'You\'re submitting transaction requests too frequently. Please try again in a few minutes.';
        }
        else if (msg.toString() === 'Error: Credit Card could not be added. Please try again.') {
          setTimeout(() => {
            this.$validateChildrenAndScrollToError();
          }, 250);
        }
        this.transactionErrorMessage = typeof msg.toString === 'function' ? msg.toString() : msg;

        this.$router.push({
          name: 'checkout-error',
          params: {
            msg: this.transactionErrorMessage,
          },
        });
      },
    },
    mixins: [
      ProgressMixin,
      UrGtm,
    ],
    props: {
      block: {
        type: ReservationBlock,
        required: true,
      },
      cannotCheckout: {
        type: Boolean,
        required: false,
      },
      preventCheckoutValue: {
        type: Boolean,
        required: false,
      },
      convertedDate: String,
    },
  };

  export default BillingForm;
</script>
