<!--
This is a Functional Component only so we can have two Root Nodes w/o adding
an extra <div>.

https://vuejs.org/v2/guide/render-function.html#Functional-Components
-->
<template functional>
  <div key="inactiveBilling1" class="summary-group-container with-wrap" v-if="props.accountId">
    <div class="summary-group">
      <strong class="reservation-heading">{{ props.heading }}:</strong>
      <span class="reservation-heading-supplement">{{ props.accountName }}</span>
    </div>
    <div class="summary-group">
      <strong class="reservation-heading">{{ props.accountIdLabel }}:</strong>
      <span class="reservation-heading-supplement">{{ props.accountId }}</span>
    </div>
  </div>

  <div key="inactiveBilling2" class="summary-group-container" v-else>
    <div class="summary-group">
      <strong class="reservation-heading">{{ props.info }}</strong>
    </div>
  </div>
</template>
<script>
  import { mapFnComponentLabels } from '@/utils';

  export default {
    name: 'billingFormInactive',
    functional: true,
    props: {
      accountId: {
        type: String,
        required: false,
      },
      accountName: {
        type: String,
        required: false,
      },
      ...mapFnComponentLabels({
        accountIdLabel: 'ur.accountNumber',
        heading: 'ur.account',
        info: 'checkout.addBillingInformation',
      }),
    },
  };
</script>
