<template>
  <div class="promotion-code-container">
    <template v-if="showIntroLink">
      <div class="promotion-code-link-wrap">
        <div class="flex-row col-2">
          <span>{{ $i18n('checkout.promotionCode.linkLabel') }}</span>
          <a class="" @click="showPromotionCodeBox">{{ $i18n('checkout.promotionCode.linkText') }}</a>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="promotion-code-input-wrap">
        <span><ur-loading-spinner :style="spinnerStyles" v-if="isLoading"></ur-loading-spinner></span>
        <div class="flex-row col-3">
          <ur-text-input
            :label="$i18n('checkout.promotionCode.inputLabel')"
            :class="inputClass"
            :placeholder="$i18n('checkout.promotionCode.inputPlaceholder')"
            :value="inputValue"
            v-model="inputValue"
            @input="onInput"
          ></ur-text-input>
          <button
            class="button button-filled promotion-code-verify-button"
            :disabled="disableButton"
            @click="validateCode"
          >{{ $i18n('checkout.promotionCode.buttonText') }}</button>
        </div>
      </div>
      <div class="promotion-code-error-message" v-if="!codeIsValid || codeAlreadyApplied">
        <span>{{errorMessage}}</span>
        <br/>
      </div>
      <div class="promotion-code-remove-wrap" v-if="codeIsValid">
        <span>{{ $i18n('checkout.promotionCode.discountApplied') }} {{promotionCode}} ({{voucherPercentOff}}{{ $i18n('checkout.promotionCode.percentOff') }})</span>
        <a class="" @click="removePromotionCode">
          {{ $i18n('checkout.promotionCode.removeText') }}
        </a>
      </div>
    </template>
  </div>
</template>
<script type="text/babel">
  // Import Components
  import UrTextInput from '@/components/common/form/ur-text-input';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  // Import Modules
  import { mapActions, mapGetters } from 'vuex';
  import types from '@/store/types';
  import get from 'lodash/get';

  export default {
    components: {
      UrTextInput,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'reservationBlocks',
        'reservationBlocksAsArray',
      ]),
      ...mapGetters({
        getEstimate: types.checkout.getEstimate,
      }),
      estimate() {
        return this.$store.getters[types.checkout.getEstimate](this.reservationBlockId);
      },
      voucherPercentOff() {
        return get(this.estimate, ['voucher', 'discount', 'percent_off'], 0);
      },
    },
    data() {
      return {
        showIntroLink: true,
        codeIsValid: null,
        disableButton: true,
        inputValue: '',
        isLoading: false,
        spinnerStyles: {
          top: 0,
          'font-size': '1rem',
        },
        inputClass: 'promotion-code-input',
        promotionCode: '',
        errorMessage: '',
        codeAlreadyApplied: false,
      };
    },
    methods: {
      ...mapActions({
        updatePromotionCode: types.checkout.updatePromotionCode,
        fetchEstimates: types.checkout.fetchEstimates,
      }),
      showPromotionCodeBox() {
        this.showIntroLink = false;
      },
      onInput() {
        this.disableButton = (this.inputValue.length === 0);
      },
      validateCode() {
        if (this.promotionCode) {
          this.codeAlreadyApplied = true;
          this.errorMessage = this.$i18n('checkout.promotionCode.multipleCodeError');
          return;
        }
        this.isLoading = true;
        // Add to reservation and send to charge estimates
        this.updatePromotionCode({ reservationBlockId: this.reservationBlockId, promotionCode: this.inputValue })
          .then(() => {
            this.fetchEstimates({ reservationBlockId: this.reservationBlockId, override: {}, noCache: true })
              .then(() => {
                this.processCodeData();
                this.isLoading = false;
              });
          });
      },
      processCodeData() {
        const { voucher } = this.getEstimate(this.reservationBlockId);
        this.inputValue = this.reservationBlocks[this.reservationBlockId].promotionCode || '';
        if (this.inputValue) {
          this.codeIsValid = voucher.status;
          if (this.codeIsValid) {
            this.showIntroLink = false;
            this.inputClass = 'promotion-code-input';
            this.disableButton = false;
            this.promotionCode = this.inputValue;
            this.inputValue = '';
          }
          else {
            this.inputClass = 'promotion-code-input error';
            this.promotionCode = '';
            this.disableButton = false;
            this.codeAlreadyApplied = false;
            this.updatePromotionCode({ reservationBlockId: this.reservationBlockId, promotionCode: null });
            this.errorMessage = this.translateVoucherifyErrorMessage(voucher.errorMessage);
          }
        }
        else {
          this.codeIsValid = null;
          this.codeAlreadyApplied = false;
          this.errorMessage = '';
        }
      },
      removePromotionCode() {
        this.isLoading = true;
        this.updatePromotionCode({ reservationBlockId: this.reservationBlockId, promotionCode: null })
          .then(() => {
            this.fetchEstimates({ reservationBlockId: this.reservationBlockId, override: {}, noCache: true })
              .then(() => {
                this.inputValue = '';
                this.codeIsValid = null;
                this.disableButton = true;
                this.codeAlreadyApplied = false;
                this.errorMessage = '';
                this.promotionCode = '';

                this.isLoading = false;
              });
          });
      },
      translateVoucherifyErrorMessage(errorMessage) {
        switch (errorMessage) {
          case 'voucher not found':
            return this.$i18n('checkout.voucherifyErrors.voucherNotFound');
          case 'voucher expired':
            return this.$i18n('checkout.voucherifyErrors.voucherExpired');
          case 'voucher is disabled':
            return this.$i18n('checkout.voucherifyErrors.voucherDisabled');
          default:
            return this.$i18n('checkout.voucherifyErrors.genericError');
        }
      },
    },
    mounted() {
      this.processCodeData();
    },
    name: 'promotion-code',
    props: {
      reservationBlockId: {
        type: String,
        required: true,
      },
    },
  };
</script>
