.cart {

  &__editing {
    border: $border-grey;
    margin-top: 0.5rem;

    &__body {
      padding: 14px;
      background: $color-grey-2;

      .calendar_container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        @include breakpoint($break-small) {
          margin-top: 0;
        }


        .calendar_start,
        .calendar_end {
          display: flex;
          flex-direction: column;
          position: relative;

          input {
            &:active,
            &:focus {
              background: $color-blue-subtle;
            }

            width: 141px;

            @include breakpoint($break-medium) {
              width: 155px;
            }
          }

          span{
            @extend %calendar-span;
            &:after {
              @extend %calendar-span-icon;

              @include breakpoint($break-small) {
                right: 8px;
              }
            }
          }
        }

        .calendar_start {
          margin-right: 17px;
        }
      }

      .more_less_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include breakpoint($break-small) {
          width: 100%;
        }

        input {
          height: 32px;
          margin: 0 10px;
          border: $border-grey;
          border-radius: 4px;
          background-color: $color-white;
          text-align: center;
          appearance: none;
        }

        .more,
        .less {
          height: 32px;
          width: 36px;
          border-radius: 4px;
          background-color: $color-grey-11;
          padding: 1%;
          border: none;
        }
      }
    }

    &__section-1 {
      display: flex;
      padding: 10px 0;
      flex-direction: column;
      border-bottom: $border-grey;

      @include breakpoint($break-small) {
        flex-direction: row;
        justify-content: space-between;
      }

      p {
        font-size: $font-size-small;
        color: $color-grey-38;
      }

      .left-quantity {
        margin-right: 10px;
      }
      .right-calendar {
        width: 299px;

        .calendar_container {
          display: flex;
          flex-wrap: wrap;
        }

        .error-message {
          flex: 0 0 100%;
        }

        @include breakpoint($break-medium) {
          width: 327px;
        }
      }
    }

    &__section-2 {
      padding: 10px 0 20px 0;
      border-bottom: $border-grey;

      .requester__select {
        .icon-angle-down {
          top: 16px;

        }
        &:before {
          content: "\f007";
          font-family: icomoon;
          position: absolute;
          top: 16px;
          left: 21px;
        }

        .dropdown-style1 {
          @include dropdown-style(52px);
        }
      }

      .select--job {
        margin: 0;
      }

      .select-grouping-left,
      .select-grouping-right {
        margin: 10px 0;
      }

      @include breakpoint($break-small) {
        .select-grouping {
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .select-grouping-left,
        .select-grouping-right {
          width: 45%;
          margin: 0;
        }
      }
    }

    &__notes {
      padding: 15px 0 27px 0;
      display: flex;
      flex-direction: column;

      textarea {
        border: $border-grey;
        background: $color-white;
        height: 100px;
      }

      .links-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        top: 13px;

        a {
          color: $color-blue;
          margin-right: 20px;
          font-weight: bold;
          font-size: $font-size-small;
        }

        @include breakpoint($break-small) {
          display: none;
        }
      }
    }
  }
}

.cart__editing .place-autocomplete-container {
  margin-top: 25px;

  @include breakpoint($break-medium) {
    width: 50%;
  }
}
