<div class="cart">
  <div class="cart__editing">
    <div class="cart__editing__body">
      <div class="cart__editing__section-1">

        <div class="left-quantity">
          <label>Quantity</label>
          <div class="more_less_buttons">
            <button class="less">-</button>
            <input type="number" value="1">
            <button class="more">+</button>
          </div>
        </div>

        <div class="right-calendar">
          <div class="calendar_container">
            <div class="calendar_start">
              <label>Start Date</label>
              <input type="text" value="3/24/17">
            </div>
            <div class="calendar_end">
              <label>End Date</label>
              <input type="text" value="3/27/17">
            </div>
          </div>
          <p>Date and timing messaging. Lorem ipsum dolor sit amet consectular.</p>
        </div>

      </div>
      <div class="cart__editing__section-2">

        <div class="select-grouping">
          <div class="select-grouping-left">
            <label>Account</label>
            {% include "@atoms/05-forms/select/select.twig"
              with {
                "select_content": "Select Account",
                "select_modifiers": select_modifiers,
                "select_attributes": select_attributes,
                "job": false
              }
            %}
          </div>
          <div class="select-grouping-right">
            <label>Project</label>
            {% include "@atoms/05-forms/select/select.twig"
              with {
                "select_content": "Select Project",
                "select_modifiers": select_modifiers2,
                "select_attributes": select_attributes2
              }
            %}
          </div>
        </div>

        <div class="select-grouping">
          <div class="select-grouping-left">
            <label>Job</label>
            {% include "@atoms/05-forms/select/select.twig"
              with {
                "select_content": "Select Job",
                "select_modifiers": select_modifiers2,
                "select_attributes": select_attributes2
              }
            %}
          </div>
          <div class="select-grouping-right">
            <label>Requester</label>
            {% include "@atoms/05-forms/select/select.twig"
              with {
                "select_content": "Self by default",
                "select_blockname": "requester",
                "select_attributes": select_attributes,
                "job": false
              }
            %}
          </div>
        </div>
      </div>
      <div class="cart__editing__notes">
        <label>Notes</label>
        <textarea placeholder="Leave your future self a message"></textarea>
        <div class="links-left">
          <a href="">Delete</a>
          <a href="">Save for Later</a>
        </div>
      </div>
    </div>
  </div>
</div>