.filterable-dropdown {
  position: relative;
  margin-bottom: 0px;

  .input-row {
    display: flex;
    width: 100%;
  }

  .button-action {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 34px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }

  .mobile-spacer {
    background-color: transparent;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 100%;
    left: 0px;
  }

  &-results {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
    background-color: $color-white;
    padding-top: 50px;
    padding-bottom: 1rem;
    border-radius: 4px;
    z-index: 1;
    transform: translateY(-55px);

    @include breakpoint($break-small) {
      transform: translateY(-42px);
    }

    .selected {
      background-color: #EAF7FF;
      font-weight: bold;
    }

    .match {
      font-weight: bold;
      color: $color-blue;
    }

    .description {
      font-size: .7em;
      color: #91969B;
      display: block;
    }

    ul {
      margin: 0;
      background-color: $color-white;
      list-style-type: none;
      max-height: 25vh;
      overflow-y: scroll;
      padding-left: 0px;

      @include breakpoint($break-small) {
        max-height: 50vh;
      }

      li {
        padding: 8px 10px;

        &:hover {
          background-color: $color-blue-subtle;
          color: $color-blue;
        }
        &::before {
          content: '';
        }
      }
    }

  }

  .resultsVisible {
    z-index: 2;
    position: relative;

    & > input {
      outline-width: 0;
      border: none;
      background: transparent;
    }
  }

  .input {
    position: relative;
    flex: 1 1 auto;
    padding: 0px;

    input {
      margin: 0px;
      border-radius: 4px;
      padding-left: 10px;
      padding-right: 32px;

      &::-ms-clear {
        display: none;
      }

      &:focus {
        outline-width: 0;
        outline: none;
      }

      &.withnew {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

    }

    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      color: $color-blue;
      cursor: pointer;
    }
  }

  .slide-fade-enter-active {
    transition: all .3s linear;
    overflow: hidden;
  }

  .slide-fade-leave-active {
    transition: all .15s linear 0s;

  }

  .slide-fade-enter {
    transform: translateY(-45px);
    padding-top: 40px;
    max-height: 0px;
    box-shadow: 0px 0px 0px #fff;
    @include breakpoint($break-small) {
      transform: translateY(-32px);
    }
  }

  .slide-fade-enter-to {
    transform: translateY(-55px);
    max-height: 500px;
    @include breakpoint($break-small) {
      transform: translateY(-42px);
    }
  }

  .slide-fade-leave-to {
    transform: translateY(-45px);
    padding-top: 40px;
    opacity: 0;

    @include breakpoint($break-small) {
      transform: translateY(-32px);
    }
  }

}

