<div class="call-us__trigger">
  <span>{{ 'Call Us'|t }}</span>
</div>
<div class="call-us__info">
  <h6>{{ 'All Inquiries'|t }}</h6>
  <div class="call-us__telnum">
    <a href="tel:{{ call_us_number }}">{{ call_us_number }}</a>
  </div>
  <hr>
  {{ link }}
  <hr>
</div>
