<div class="event-calculator">
  <h2 class="event-calculator__title">
    {{ 'How Many Porta Potties Do I Need?'|t }}
  </h2>

  <div class="event-calculator__attendance-wrapper">
    <label for="attendance">{{ 'Maximum in Attendance'|t }}</label>

    <div class="event-calculator__attendance-select">
      <select id="attendance" class="event-calculator__attendance">
        <option value="0" disabled selected>
          {{ 'Select'|t }}
        </option>
      </select>
      <span class="select-icon"></span>
    </div>
  </div>

  <div class="event-calculator__hours-wrapper">
    <label for="hours">{{ 'Number of Hours'|t }}</label>

    <div class="event-calculator__hours-select">
      <select id="hours" class="event-calculator__hours">
        <option value="0" disabled selected>
          {{ 'Select'|t }}
        </option>
      </select>
      <span class="select-icon"></span>
    </div>
  </div>

  <div class="event-calculator__results"></div>

  <a href="{{ lead_form_link }}" class="event-calculator__button">
    {{ 'Request a Quote'|t }}
  </a>
</div>
