.branch-wrapper {
  position:relative;
  padding:5px;
  margin-bottom:0;
  border-top: 1px solid $color-grey-11;

}

.branchlist-enter-active {
  transition: all .4s ease-out .4s;
  overflow: hidden !important;
  opacity: 1;
}

.branchlist-enter {
  opacity: 0;
  transform: translateY(60px);
}

.branch-enter-animation {
  animation: slidein .75s ease-out .4s;
}

@keyframes slidein {
  0% {
    padding-bottom: 20px;
    opacity: 0;
    border-bottom: none;

  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.branch {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: .5rem;

  cursor: pointer;
  background-color: white;

  &:hover {
    transition: box-shadow .3s ease;
    border: 1px solid $border-grey;
    border-radius: $border-radius-large;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .16);
    padding-top: 15px;
    padding-bottom: 15px;

    .branch-name {
      text-decoration: underline;
    }

    &:before {

      content: '';
      position: absolute;
      background-color: $color-grey-2;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: -1;

    }
  }

  .markers {
    background-color: $color-blue-highlight;
    border-radius: 50%;
    color: $color-white;
    float: left;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 8px;
    height: 8px;
    position: relative;
    top: 36px;
    left: 10px;
  }

  .markers-specialty {
    @extend .markers;
    background-color: $color-orange;
  }

  .content-blocks {
    padding-left: 0;
    margin-left: 40px;
  }

  .small-grey__heading-6,
  .small-grey__paragraph {
    font-size: $font-size-xsmall;
    color: $gray;
    line-height: 2rem;
    margin: 0;
  }

  .heading-6.small-grey__heading-6 {
    text-transform: uppercase;
  }

  .grey__paragraph {
    color: $gray;
  }

  .results-content-blocks_title-mile {

    .heading-4 {
      color: $color-blue;
      cursor: pointer;
      display: inline;
      width: 260px;

    }
    .paragraph {
      display: inline-block;
      float: right;
      padding-right: 20px;
    }
  }

  .blue__paragraph {
    color: $color-blue;
    margin-bottom: 0;
    margin-top: 11px;
  }

  .blue__heading-6 {
    color: $color-blue;
    position: relative;
    display: inline;
    margin-bottom: 0;
  }

  .telephone-link {
    display: inline-block;
  }

  &--radio {
    margin-top: 25px;

    input[type=radio]:checked + label span:after {
      margin-left: -0.29rem;
    }
  }
}

// show the overflow of the results for full width cards
.branch-details_container .results-content-blocks .results-content-blocks_container {
  overflow: visible;
}

// make card full width -margin = +container padding
.branch-details_container .results-content-blocks .branch-wrapper {
  margin: 0 -2rem;
}
