<template>
  <router-view></router-view>
</template>

<script>
  import { types } from '@/store';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { WorkplaceRouteUtils, WorkplaceCollectionType } from '../../lib/workplace';
  /*
   * @vuese
   * @group Workplace
   * Workplace Account Manager
   */
  export default {
    name: 'WorkplaceAccountManager',
    computed: {
      ...mapState({
        /*
         * @vuese
         * @type Account[]
         * Get all accounts for current user
         */
        allAccounts: state => state.accounts.all,
        /*
         * @vuese
         * @type Number
         * Get defaultAccountId for current account
         */
        accountId: state => state.user.defaultAccountId,
      }),
      ...mapGetters({
        /*
         * @vuese
         * @type Boolean
         * Determine if account id is valid
         */
        accountIdIsValid: types.workplace.accountIdIsValid,
        /*
         * @vuese
         * @type WorkplaceOrder[]
         * Get orders for the current account
         */
        ordersForCurrentAccount: types.workplace.ordersForCurrentAccount,
        /*
         * @vuese
         * @type WorkplaceEquipment[]
         * Get equipment for current account
         */
        equipmentForCurrentAccount: types.workplace.equipmentForCurrentAccount,
        /*
         * @vuese
         * @type WorkplaceCollectionType
         * Get the current collection type (Ex: orders, equipment)
         */
        currentWorkplaceCollectionType: types.workplace.currentWorkplaceCollectionType,
      }),
    },
    methods: {
      ...mapActions({
        /*
         * @vuese
         * Fetch Job Sites
         */
        fetchJobsites: types.jobs.fetch,
      }),
      /*
       * @vuese
       * @type Async
       * Fetch all collection data
       */
      async fetchAll() {
        const accountIdObj = { accountId: this.accountId };
        return this.fetchCurrentWorkplaceCollection({ accountIdObj });
      },
      /*
       * @vuese
       * Fetch the current workplace collection
       */
      fetchCurrentWorkplaceCollection({ accountIdObj }) {
        const { fetchRentalCounts, fetchEquipmentOnRent, fetchOrders } = types.workplace;

        switch (this.currentWorkplaceCollectionType) {
          case WorkplaceCollectionType.Orders:
            this.$store.dispatch(fetchOrders, accountIdObj);
            break;
          case WorkplaceCollectionType.Equipment:
            this.$store.dispatch(fetchRentalCounts, accountIdObj);
            this.$store.dispatch(fetchEquipmentOnRent, accountIdObj);
            break;
          case WorkplaceCollectionType.Unspecified:
            this.$store.dispatch(fetchOrders, accountIdObj);
            this.$store.dispatch(fetchRentalCounts, accountIdObj);
            this.$store.dispatch(fetchEquipmentOnRent, accountIdObj);
            break;
          default:
        }
      },
    },
    beforeRouteEnter: WorkplaceRouteUtils.routerNavigationGuard,
    mounted() {
      this.fetchAll();
    },
    watch: {
      /*
       * @vuese
       * When accountId updates, fetch account workplace collection data
       */
      accountId() {
        this.$router.push({ ...this.$store.getters[types.workplace.allListingResultsRoute] });
        this.fetchAll().then(() => this.$store.dispatch(
          types.catalog.fetchEquipmentByCatClass,
          this.$store.getters[types.workplace.collectionCatClasses],
        ));
      },
      /*
       * @vuese
       * When current collection type updates, fetch all of the workplace collection data for the resource type
       */
      currentWorkplaceCollectionType(is, was) {
        if (is === was) return;
        this.fetchAll().then(() => this.$store.dispatch(
          types.catalog.fetchEquipmentByCatClass,
          this.$store.getters[types.workplace.collectionCatClasses],
        ));
      },
    },
  };
</script>
