<template>
  <div>
    <ur-loading-spinner v-if="pageIsLoading" :style="requestSpinnerStyles" />
    <router-view />
  </div>
</template>

<script lang="ts">
  import { mapState } from 'vuex';
  // eslint-disable-next-line
  import { WorkplaceRootState } from '@/store/module.workplace';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';
  import WorkplaceRouteManagerMixin from './workplace-routes-manager.mixin.vue';
  /*
   * @vuese
   * @group Workplace
   * Workplace Router View Container, Determines If User Has Proper Authentication & Data to access manage
   */
  export default {
    name: 'Workplace',
    data() {
      return {
        /*
         * @vuese
         * @type: Object
         * Loading spinner styles
         */
        requestSpinnerStyles: {
          'font-size': '6.5rem',
          margin: '25px 0 25px 47%',
        },
      };
    },
    components: {
      UrLoadingSpinner,
    },
    computed: {
      ...mapState<WorkplaceRootState>({
        /*
         * @vuese
         * @type Boolean
         * Determines if accounts for authenticated user are ready
         */
        accountsReady: state => state.accounts.accountsFetched,
        /*
         * @vuese
         * @type Boolean
         * Determines if session storage is ready
         */
        storageReady: state => state.storageReady,
        /*
         * @vuese
         * @type Boolean
         * Determines if user is logged in
         */
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      /*
       * @vuese
       * @type Boolean
       * Determines if page is currently loading
       */
      pageIsLoading() {
        return !this.$root.pageIsLoading && !(this.userIsLoggedIn && this.accountsReady && this.storageReady);
      },
    },
    beforeMount() {
      this.ready = false;
    },
    mixins: [
      WorkplaceRouteManagerMixin,
    ],
  };
</script>
