<template>
  <div
    v-if="branchesLoaded && activeBranch.branchId"
    class="branch-details_container"
  >
    <div v-if="!isMapView || !small" class="results-content-blocks">
      <div class="return_directions">
        <i class="icon icon-long-arrow-left"></i>
        <h6 class="heading-6 return__heading-6">
          <a href="#" @click.prevent="onBackButtonClick">{{ backButtonLabel }}</a>
        </h6>
        <h6 class="heading-6 directions__heading-6">
          <a rel="noopener noreferrer" target="_blank" :href="directionsLink">{{ getDirections }}</a>
          <i class="icon icon-map-marker"></i>
        </h6>

      </div>

      <h6 class="heading-6 small-grey__heading-6">{{ ur }}</h6>
      <h1 class="heading-2" @click="onDetailClick">{{ branch.name }}
        <div class="address">
          <i class="icon icon-map-marker"></i>
          <p class="paragraph m-0 p-b-5">
            <a :href="directionsLink" class="address-directions" target="_blank">
              <div>
                {{ branch.address1 }}
              </div>
              <div v-if="branch.address2">
                +{{ branch.address2 }}+, {{ branch.city }}, {{ branch.state }} {{ branch.zip }}
              </div>
              <div>
                {{ branch.city }}, {{ branch.state }} {{ branch.zip }}
              </div>
            </a>
          </p>
        </div>
      </h1>
      <p v-if="branch.subheading" class="paragraph grey__paragraph"><em>{{ branch.subheading }}</em></p>
      <div class="phone-address">
        <div class="phonenumber">
          <i class="icon icon-phone"></i>
          <p class="paragraph">
            <gtm-phone-number :number="branch.phone"></gtm-phone-number>
          </p>
        </div>

        <div class="fax">
          <i class="icon icon-fax"></i>
          <p class="paragraph">{{ fax }} {{ branch.fax }}</p>
        </div>
        <div class="manager">
          <i class="icon icon-user-circle"></i>
          <p class="paragraph">{{ manager }} {{ branch.managerName }}</p>
        </div>
        <div class="direction">
          <i class="icon icon-location-arrow"></i>
          <p class="paragraph">{{ branchId }} {{ branch.branchId }}</p>
        </div>
      </div>

      <div class="branch-details-buttons">
        <button v-if="contactUsLinkShow === '1'"
                class="button button--style-2 button--secondary"
                @click="onContactUs">{{ learnMore }}
        </button>
        <button v-if="rentOnlineLinkShow === '1'"
                class="button button--style-2 button--filled"
                @click="rentonline">
                <ur-loading-spinner :style="{top: 0}" v-if="working" />
                <template v-else>{{ rentOnline }}</template>
        </button>
      </div>

      <div class="hours-of-operation">
        <h5 class="hours-of-operation__header">{{ hoursOfOperation }}</h5>

        <template v-if="branch">
          <div class="paragraph" v-for="day in [monday, tuesday, wednesday, thursday, friday]" :key="day">
            <div>{{ day }}</div>
            <div v-if="branch.weekdayHours">{{ branch.weekdayHours.open | amPmFormat }} - {{ branch.weekdayHours.close | amPmFormat }}</div>
            <div v-else>{{ hoursClosed }}</div>
          </div>
        </template>
        <div class="paragraph">
          <div>{{ saturday }}</div>
          <div v-if="branch.saturdayHours.open">{{ branch.saturdayHours.open | amPmFormat }} - {{ branch.saturdayHours.close | amPmFormat }}</div>
          <div v-else>{{ hoursClosed }}</div>
        </div>
        <div class="paragraph">
          <div>{{ sunday }}</div>
          <div v-if="branch.sundayHours.open">{{ branch.sundayHours.open | amPmFormat }} - {{ branch.saturdayHours.close | amPmFormat }}</div>
          <div v-else>{{ hoursClosed }}</div>
        </div>
      </div>

      <div class="flex-video">
        <iframe frameborder="0" allowfullscreen="1" width="350" height="197" :src=branch.videoUrl></iframe>
      </div>

      <h6 class="heading-6 branch-information__heading-6">{{ branch.webDescription }}</h6>
      <p class="paragraph">{{ branch.webContentBlock }}</p>

      <div v-if="branch.branchTypeEquipmentCategoryLinks.length > 0" class="results-content-blocks_container branch-type-equipment-category-links-list">
        <h2 class="heading-2">Equipment Category Links</h2>
        <ul>
          <li class="branch-type-equipment-category-link" v-for="branchTypeEquipmentCategoryLink in branch.branchTypeEquipmentCategoryLinks" :key="branchTypeEquipmentCategoryLink">
            <a :href="branchTypeEquipmentCategoryLink.uri" :class="branchTypeEquipmentCategoryLink.options.attributes.class">{{ branchTypeEquipmentCategoryLink.title }}</a>
          </li>
        </ul>
      </div>

      <div v-if="branch.globalContentBlocks.length > 0" class="results-content-blocks_container global-branch-content-blocks-list">
        <div class="content-block" v-html="contentBlock" v-for="contentBlock in branch.globalContentBlocks" :key="contentBlock">
          {{ contentBlock }}
        </div>
      </div>

      <div v-if="branch.branchTypeContentBlocks.length > 0" class="results-content-blocks_container branch-type-content-blocks-list">
        <div class="content-block" v-html="contentBlock" v-for="contentBlock in branch.branchTypeContentBlocks" :key="contentBlock">
          {{ contentBlock }}
        </div>
      </div>

      <div v-if="branch.contentBlocks.length > 0" class="results-content-blocks_container branch-content-blocks-list">
        <div class="content-block" v-html="contentBlock" v-for="contentBlock in branch.contentBlocks" :key="contentBlock">
          {{ contentBlock }}
        </div>
      </div>

      <div v-if="nearbyBranches.length > 0" class="results-content-blocks_container branch-list">
        <h2 class="heading-2">Nearby Locations</h2>
        <branch-list-item
          v-for="branch in nearbyBranches"
          :key="branch.branchId"
          :dive="true"
          :branch="branch"
          :branchName="branch.primaryBusinessType.name"
          @branch_clicked="handleNearbyBranchClicked(branch.branchId)"
        />
      </div>

    </div>
    <div v-else class="results-content-blocks">
      <h6 class="heading-6 small-grey__heading-6">{{ ur }}</h6>
      <div class="results-content-blocks_title-mile">
        <h4 class="heading-4" @click="onDetailClick">{{ branch.name }}</h4>
        <p class="paragraph small-grey__paragraph"></p>
      </div>
      <p class="paragraph blue__paragraph">
        <gtm-phone-number :number="branch.phone"></gtm-phone-number>
      </p>

      <p class="paragraph">{{ branch.address1 }}, {{ branch.city }}, {{ branch.state }} {{ branch.zip }}</p>

      <h6 class="heading-6 black__heading-6">
        <a rel="noopener noreferrer" target="_blank" :href="directionsLink">{{ getDirections }}</a>
      </h6>

    </div>

  </div>

</template>

<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import { autocomplete } from '@/utils';
  import mapLabels from '@/utils/mapLabels';
  import types from '@/store/types';
  import Format from '@/mixins/format';
  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number';
  import BranchListItem from '@/components/location-finder/branch-list-item';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  export default {
    name: 'branchDetails',
    components: {
      BranchListItem,
      GtmPhoneNumber,
      UrLoadingSpinner,
    },
    mounted() {
      this.$el.parentElement.scrollTop = 0;
      // Scroll for mobile too.
      window.scrollTo(0, 0);
    },
    computed: {
      ...mapGetters([
        'small',
      ]),
      ...mapState({
        activeBranch: state => state.locationFinder.map.active, // not a full branch object
        activeBranchIdOrNull: state => state.locationFinder.map.active.branchId || null,
        branches: state => state.locationFinder.all,
        branchesLoaded: state => state.locationFinder.branchesLoaded,
        isMobileListView() {
          const val = this.small && !this.isMapView;
          return val;
        },
        isMapView: state => state.locationFinder.currentMobileViewIsMapView,
        searchCache: state => state.locationFinder.search,
      }),

      backButtonLabel() {
        return (this.searchCache.bounds._northEast) ? this.returnToResults : this.viewNearbyResults;
      },

      /**
       * @return {object} The full branch object, complete with all details from Workbench
       */
      branch() {
        return this.branches[this.activeBranch.index] || null;
      },
      businessType() {
        return this.branch.primaryBusinessType.name;
      },

      nearbyBranches() {
        return this.activeBranchIdOrNull
          ? this.$store.getters[types.locationFinder.nearbyBranches](this.activeBranchIdOrNull)
          : [];
      },

      phoneLink() {
        return this.branch.phone;
      },

      directionsLink() {
        const { address1, city, state } = this.branch;
        return `https://www.google.com/maps/dir//United+Rentals,${address1},${city},${state}`;
      },

      contactUsLinkShow() {
        return this.branch.primaryBusinessType.showContactUs;
      },

      rentOnlineLinkShow() {
        return this.branch.primaryBusinessType.showRentOnline;
      },

      /**
       * @return {string[]} An array of human readable services
       */
      services() {
        if (this.branch) {
          if (!this.branch.webProductType || (this.branch.webProductType && this.branch.webProductType.length === 0)) {
            return [];
          }
          return this.branch.webProductType.split(',');
        }
        else {
          return [];
        }
      },
    },
    data() {
      return {
        ...mapLabels({
          viewNearbyResults: 'locationFinder.viewNearbyResults',
          returnToResults: 'locationFinder.returnToResults',
          ur: 'ur.name',
          fax: 'ur.fax',
          getDirections: 'locationFinder.getDirections',
          learnMore: 'locationFinder.learnMore',
          rentOnline: 'locationFinder.rentOnline',
          hoursOfOperation: 'locationFinder.hoursOfOperation',
          monday: 'days.monday',
          tuesday: 'days.tuesday',
          wednesday: 'days.wednesday',
          thursday: 'days.thursday',
          friday: 'days.friday',
          saturday: 'days.saturday',
          sunday: 'days.sunday',
          hoursClosed: 'locationFinder.weekendHoursClosed',
          branchOfferings: 'locationFinder.branchOfferings',
          branchOfferingsPara: 'locationFinder.branchOfferingsPara',
          branchId: 'locationFinder.branchId',
          manager: 'locationFinder.manager',
        }),
        panEventListener: null,
        working: false,
      };
    },
    methods: {
      ...mapActions({
        getNearbyBranches: types.locationFinder.getNearbyBranches,
        setRatesPlace: types.user.ratesPlace,
        clearDefaultJobId: types.user.clearDefaultJobId,
        updateContentType: types.locationFinder.updateContentType,
        enterMobileListView: types.locationFinder.enterMobileListView,
      }),
      handleNearbyBranchClicked(branchId) {
        this.$el.parentElement.scrollTop = 0;
        // Scroll for mobile too.
        window.scrollTo(0, 0);
        this.$emit('branch_clicked', branchId);
      },
      onCloseButton() {
        this.$emit('close_button_clicked');
      },
      onContactUs() {
        window.location = this.branch.primaryBusinessType.contactUsLink;
      },
      onBackButtonClick() {
        this.$emit('nearby_results_clicked');
      },
      onDetailClick() {
        this.$emit('branch_clicked', this.activeBranch.branchId);
      },
      rentonline() {
        // While changes on the locations page are isolated to the page,
        // if the user selects this branch we persist the selection
        // so the branch change is reflected on other pages.
        this.$store.state.sessionStoragePersisted = true;
        this.working = true;

        const { city, state, zip, primaryBusinessType } = this.branch;
        autocomplete.getPlaceFromAddress(`${city}, ${state} ${zip}`)
          .then((place) => {
            this.clearDefaultJobId();
            this.setRatesPlace(place);
          })
          .then(() => {
            window.location = primaryBusinessType.rentOnlineLink;
          })
          .catch(() => {
            this.working = false;
          });
      },
    },
    watch: {
      activeBranchIdOrNull: {
        immediate: true,
        handler(is) {
          if (typeof is === 'string') this.getNearbyBranches(is);
        },
      },
    },
    mixins: [
      Format,
    ],
  };
</script>
