<template>
  <div class="state-list-container">
    <div class="media_block">
      <p>
        {{ searchText }}
      </p>
    </div>
    <div class="state_results_section">
      <div class="state_result_country_title"
           @click="showUS = !showUS"
      >
        <span>
          {{ US }}
        </span>
        <span :class="[showUS ? 'chevron_icon_up' : 'chevron_icon']">
          <i class="icon icon-chevron-down"></i>
        </span>
      </div>
      <transition name="slide">
        <div class="results_section" v-show="showUS">
          <ul class="list-ul">
            <template v-for="(state, abbr) in states">
              <li v-if="getCount(abbr) > 0" :key="abbr" class="list-item">
                <a
                  v-bind:href="'/locations/' + abbr"
                  @click="stateClicked(abbr)"
                  class="link"
                >
                  {{ state }} ({{ getCount(abbr) }})
                </a>
              </li>
            </template>
          </ul>
        </div>
      </transition>
    </div>
    <div class="state_results_section"
         @click="showCanada = !showCanada"
    >
      <div class="state_result_country_title">
      <span>
        {{ Canada }}
      </span>
        <span :class="[showCanada ? 'chevron_icon_up' : 'chevron_icon']">
        <i class="icon icon-chevron-down"></i>
      </span>
      </div>
      <transition name="slide">
        <div class="results_section" v-show="showCanada">
          <ul>
            <template v-for="(province, abbr) in provinces">
              <li v-if="getCount(abbr) > 0" :key="abbr" class="list-item">
                <a
                  v-bind:href="'/locations/' + abbr"
                  @click="stateClicked(abbr)"
                  class="link">
                  {{ province }} ({{ getCount(abbr) }})
                </a>
              </li>
            </template>
          </ul>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import Format from '@/mixins/format';
  import { mapGetters, mapState } from 'vuex';
  import mapLabels from '@/utils/mapLabels';
  import { size } from 'lodash';

  export default {
    computed: {
      ...mapGetters([
        'branchesByStateMap',
        'states',
        'provinces',
      ]),
      ...mapState({
        branches: state => state.locationFinder.all,
      }),
      filter() {
        if (this.$route.params.filter) {
          return this.$route.params.filter;
        }
        return 'all';
      },
    },
    data() {
      return {
        ...mapLabels({
          US: 'locationFinder.US',
          Canada: 'locationFinder.Canada',
          searchText: 'ur.searchText',
        }),
        selectedState: null,
        showUS: true,
        showCanada: true,
      };
    },
    methods: {
      getCount(abbr) {
        if (this.branchesByStateMap === null) {
          return;
        }
        return size(this.branchesByStateMap[abbr]);
      },
      stateClicked(abbr) {
        this.$emit('state_clicked', abbr);
      },
    },
    mixins: [
      Format,
    ],
    name: 'stateList',
  };
</script>
