.card-information {
  border-bottom: $border-grey;
  margin-bottom: 30px;
  padding-bottom: 30px;

  .card-details {
    display: block;

    @include breakpoint($break-small) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 500px;
    }
  }

  select {
    min-width: 85px;
  }

  .card-number {
    flex-grow: 0.7;
  }

  .cvv-input {
    width: 60px;
  }
}