<div class="card-information">
  <div>
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Name on Card"
      }
    %}
    <input placeholder="Enter the cardholder's name">
  </div>

  <div class="card-details">
    <div class="card-number">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Card Number"
        }
      %}
      <input class="card-number-input" placeholder="Enter the card number">
    </div>

    <div class="exp-month">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Exp. Month"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: month_select_options
        }
      %}
    </div>

    <div class="exp-year">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Exp. Year"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: year_select_options
        }
      %}
    </div>

    <div class="cvv">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "CVV"
        }
      %}
      <input class="cvv-input" placeholder="CVV">
    </div>

  </div>

  <div>
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Nickname for this Card"
      }
    %}
    <input placeholder="Enter a nickname (optional)">
  </div>
</div>