<div class="account">
  <div>
    <label>Account</label>
    <div class="select">
      <select class="dropdown-style1">
        <option value="8308315">MUZAK LLC  **PO…</option>
      </select>
      <i class="icon icon-angle-down"></i>
    </div>
  </div>
  <p>Changing your account will require you to start the checkout process over. Your cart will remain intact.</p>
  <div class="po-container">
    <div>
      <label>PO#</label>
      <input name="poNumber">
    </div>
    {% include "@atoms/05-forms/checkbox/_checkbox-item.twig"
      with {
        "checkbox_item": "PO not Required",
        "key": 1
      }
    %}
  </div>
</div>