<template>
  <div class="grid-container" @click="$router.push(detailRoute)">
    <div class="flex-row justify--space-between align-items-center">
      <status-detail-field class='detail-field status' :item="item" :field="{ resourceProperty: 'status' }"/>
      <actions-button :item="item" class="detail-field actions" />
    </div>
    <div
      class="flex-row images overflow-hidden"
      :class="hasHiddenEquipment ? 'max-images' : ''">
      <!-- create 1-4 images + spacing divs for equipment count 1-4, create 3 images + counter for eqpt count 5+ -->
      <equipment-item v-for="(item, key) in equipment.slice(0, 4 - +(equipment.length > 4))"
        :key="`equipment-${key}`"
        :item="item"
      />
      <!-- spacing divs-->
      <div v-for="index in noHiddenEquipment ? remainingEquipmentSpaces : 0" :key="index"></div>
      <!-- counter-->
      <div v-if="hasHiddenEquipmentCounter" class="counter">
        <span>+{{ numberOfRemainingItems }}</span>
      </div>
    </div>
    <div class="flex-row top-summary flex-wrap m-t-10">
      <div class="w-100">
        <strong>
          <detail-field :item="item" :field="{ resourceProperty: 'orderNumber', prepend: '#'}"/>
        </strong>
        •
        <detail-field :item="item" :field="{ resourceProperty: 'orderType'}"/>
      </div>
      <div class="w-100 overflow-ellipsis">
        <strong>
          <detail-field class="jobsite-name w-100"
            :item="item"
            :field="{ resourceProperty: 'jobsiteName', value: ({ jobsite }) => jobsite.name }"
          />
        </strong>
      </div>
      <div class="w-100 address overflow-ellipsis">
        <detail-field
          :item="item"
          :field="{
            resourceProperty: 'jobsiteAddress',
            value: ({ jobsite }) => jobsite.address1 || ''
          }"
        />
        <detail-field
          :item="item"
          :field="{
            resourceProperty: 'jobsiteFullAddress',
            value: ({ jobsite }) => `• ${jobsite.city || ''} ${jobsite.state || ''} ${jobsite.zip || ''}`
          }"
        />
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex-row bottom-summary flex-wrap">
      <div class="w-100 flex-row">
        <div class="font-weight--bold">
          {{ $i18n('workplace.duration') }}
        </div>
        <div class="text-left overflow-ellipsis">
          <date-detail-field :item="item" :field="{ resourceProperty: 'orderStartDate' }"/> -
          <date-detail-field :item="item" :field="{ resourceProperty: 'orderEstimatedEndDate' }"/>
        </div>
      </div>
      <div class="w-100 flex-row">
        <div class="font-weight--bold">
          {{ $i18n('workplace.requestedBy')}}
        </div>
        <div class="overflow-ellipsis">
          <detail-field :item="item" :field="{ resourceProperty: 'requester' }"/>
        </div>
      </div>
      <div class="w-100 flex-row">
        <div class="font-weight--bold">
          {{ $i18n('workplace.po') }}
        </div>
        <div class="overflow-ellipsis">
          <detail-field :item="item" :field="{ resourceProperty: 'purchaseOrder' }"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import EquipmentItem from './components/equipment-item';
  import MixinDetailFields from '../mixin.detail-fields';
  import { WorkplaceRouteNames } from '@/lib/workplace/routes';
  import ActionsButton from '@/components/workplace/shared/actions/actions-button.vue';

  /*
   * @vuese
   * @group Field
   * Workplace Order Listing Card Field
   */
  export default {
    name: 'GridField',
    mixins: [MixinDetailFields],
    components: { EquipmentItem, ActionsButton },
    props: {
      /* Pass in resource item */
      item: {
        type: [Object],
        required: true,
      },
    },
    computed: {
      detailRoute() {
        return {
          ...this.$route,
          name: WorkplaceRouteNames.OrderDetails,
          params: {
            ...this.$route.params,
            orderId: this.item.orderNumber,
          },
        };
      },
      payload() {
        return {
          el: this.$el,
          item: this.item,
          $route: this.$route,
          $router: this.$router,
        };
      },
      /*
       * @vuese
       * Determine the number of remaining equipment space/placeholders we need to account for
       */
      remainingEquipmentSpaces() {
        return 4 - this.equipment.length;
      },
      /*
       * @vuese
       * Determine if there is no zero equipment items not being displayed
       */
      noHiddenEquipment() {
        return this.equipment.length < 4;
      },
      /*
       * @vuese
       * Determine if we have hidden equipment not displayed
       */
      hasHiddenEquipment() {
        return this.equipment.length >= 4;
      },
      /*
       * @vuese
       * Determine if we need to display hidden equipment counter
       */
      hasHiddenEquipmentCounter() {
        return this.equipment.length > 4;
      },
      /*
       * @vuese
       * Number of remaining Equipment Items not hiddden
       */
      numberOfRemainingItems() {
        const originallyShownNumberOfItems = 3;
        return this.equipment.length - originallyShownNumberOfItems;
      },
      /*
       * @vuese
       * Order Equipment Array Ordered By Day Rate Highest Rate To Lowest
       */
      equipment() {
        return Object.values(this.item.equipment)
          .sort((first, next) => first.dayRate >= next.dayRate ? 1 : -1);
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .overflow-ellipsis{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }

  .icon.icon-circle {
    bottom: 2.5px;
    width: 2.75px;
    height: 2.75px;
    font-size: 2px;
    position: relative;
    background-color: #414B50;
  }

  .grid-container {
    cursor: pointer;
    background-color:#ffffff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: rem(3) rem(16) rem(16) rem(16);

    @include media('>=m') {
      padding: rem(7) rem(16) rem(16) rem(16);
    }

    .custom-circle-icon {
      width: 2.5px !important;
    }

    /deep/ .detail-field.actions {
      position: relative;
      left: rem(18);
      z-index:1;

      @include media('>=m') {
        top: rem(-4);
      }

      button{
        margin: 0 rem(6);
      }
    }

    /deep/ .detail-field.status {
      position:relative;
      height: 15px;
      right: rem(-8);
      top:rem(-3);
      font-size:rem(12);
      height: rem(12);

      @include media('>=m') {
        height: rem(14);
        font-size:rem(14);
      }
    }

    div.flex-row.images {
      width: calc(100% - 16px);
      max-width: (292 - 32 - 16) + px;
      height:rem(43);
      margin:rem(0) 0 rem(19) rem(8);
      align-items:center;
      justify-content:space-between;

      @include media('>=640px') {
        max-width: (344 - 32 - 16) + px;
        height:rem(56);
      }
      @include media('>=m') {
        max-width: (440 - 32 - 16) + px;
        margin:rem(-2) 0 rem(18) rem(8);
        height:rem(80);
      }
      @include media('>=l') {
        max-width: (416 - 32 - 16) + px;
        height:rem(74);
      }

      > * {
        width:rem(43);
        height:rem(43);
        @include media('>=640px') {
          width:rem(56);
          height:rem(56);
        }
        @include media('>=m') {
          width:rem(80);
          height:rem(80);
        }
        @include media('>=l') {
          width:rem(74);
          height:rem(74);
        }
      }

      .counter {
        display:flex;
        justify-content: center;
        align-items: center;

        span {
          color: white;
          text-align: center;
          font-size: rem(14);
          width: rem(40);
          min-width: rem(40);
          height: rem(40);
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #414b50;
        }
      }
    }
    div.top-summary {
      font-size:rem(12);

      @include media('>=m') {
        font-size:rem(14);
      }

      > div:nth-of-type(2) {
        margin-top:rem(2);

        @include media('>=m') {
          margin-top:rem(0);
        }

        .jobsite-name {
          font-size: rem(18);

          @include media('>=m') {
            font-size: rem(22);
          }
        }
      }

      .address {
        margin-top:rem(0);
        line-height: rem(20);

        span:nth-of-type(2) {
          padding-left: rem(4);
        }

        @include media('>=m') {
          margin-top:rem(-3);
        }
      }
    }
    div.divider {
      border: 0.5px solid #DDE0E2;
      margin-top:rem(14);
      margin-bottom:rem(7);
    }

    div.bottom-summary {
      font-size:rem(12);
      line-height: rem(20);

      @include media('>=m') {
        font-size:rem(14);
      }

      div.flex-row{
        margin-top:rem(5);

        div:first-child{
          width:rem(108);
          color: #72777E;
        }

        div:last-child{
          width:calc(100% - #{rem(108)});
        }
      }
    }
  }
</style>
