.page-node-type-project-uptime-pages {
  .block-project-uptime-siderail-block {
    position: static;
    width: 100%;
    display: block;
    min-width: 140px;
    font-size: .85rem;
    padding: 0 3%;
  
    @include breakpoint(54.85714em) {
      padding: 0;
    }
    
    @include breakpoint(1200px) {
      position: absolute;
      left: 102.5%;
      top: 38.5rem;
      margin: 0;
      width: 20%;
    }
    
    .siderail-block {
      display: block;
      vertical-align: top;
      margin: 2rem 0;
      width: 100%;
      
      &:nth-child(2) {
        margin-left: .5rem;
        @include breakpoint(1200px) {
          margin-left: 0;
        }
      }
      
      @include breakpoint($break-small) {
        width: 49%;
        display: inline-block;
      }
      
      @include breakpoint(1200px) {
        display: block;
        width: 100%;
      }
    }

    .block__title.heading-2 {
      border-bottom: 1px solid $border;
      padding-bottom: 0.5rem;
      
      @include breakpoint(1200px) {
        font-size: 1em;
        text-transform: uppercase;
      }
    }
  }
}