// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Card
// -----------------------------------------------------------------------------

.card {
  display: block;
  position: relative;
}

@media (min-width: 1024px) {
  .card-body {
    flex-wrap: nowrap;
  }
}

.card-body {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
