// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Dashboard
// -----------------------------------------------------------------------------

.dashboard {
  padding: 40px 4%;
  @include media('>=m') {
    padding: 60px 4%;
  }

  background: linear-gradient(#F1F1F1 0%, $color-white 500px);

  &__unauthenticated {
    background: rgba($color-grey-11, .5);
    padding: 0;

    @include media('>=640px') {
      padding: 4%;
    }
  }

  &__wrapper {
    max-width: 1278px;
    margin: 0 auto;
  }

  .highlight-count {
    color: $color-red;
  }

  .status-blue-highlight {
    background: $color-blue-highlight;
  }

  .status-blue-lowlight {
    background: $color-blue-lowlight;
  }

  .status-bright-red {
    background: $color-red;
  }

  .status-grey {
    background: $color-grey-38;
  }

  .status-orange-highlight {
    background: $color-orange-highlight;
  }

  .select {
    background: none;
  }
}

.icon-arrow-up:before {
  transform: rotate(-45deg);
  display: inline-block;
  color: $color-blue-highlight;
}

.icon-arrow-down:before {
  transform: rotate(-45deg);
  display: inline-block;
  color: $color-red;
}

.icon-caret-down-flip {
  transform: rotate(180deg);
}

// hide the close button on google maps info windows
.gm-style .gm-style-iw + div {
  display: none;
  visibility: hidden;
  opacity: 0;
}
