// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Dropdown Menu
// -----------------------------------------------------------------------------

$dropdown-menu-spacing-sm: 9px;
$dropdown-menu-spacing-lg: 16px;
$dropdown-menu-width: 200px;
$dropdown-menu-item-highlight-bg-color: rgba(221, 224, 226, 0.9);
$dropdown-menu-label-height: 16px;
$dropdown-menu-item-height: 24px;
$dropdown-menu-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$shadow-heavy: 0px 0px 8px rgba($color-grey-69, .24);

@mixin item-border {
  border-top: 1px solid $color-grey-11;
}

@mixin when-active {
  @if & {
    &--active,
    &:focus,
    &:hover {
      @content;
    }
  }
}

.dropdown-menu-wrapper {
  position: relative;
}

.dropdown-menu {
  color: $color-grey-38;
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  opacity: 0;
  min-width: $dropdown-menu-width;
  background-color: $color_white;
  border-radius: $border-radius-med;
  box-shadow: $shadow-heavy;
}

.dropdown-menu--active,
.dropdown-menu-wrapper--active .dropdown-menu {
  display: flex;
  opacity: 1;
}

.dropdown-menu {
  .selectable {
    &:hover, &:hover > .dropdown-menu-link {
      text-decoration: none !important;
      color: inherit;
      background-color: $dropdown-menu-item-highlight-bg-color;
    }
  }

  .dropdown-menu-group {
    &:not(:first-child) {
      @include item-border;
    }

    margin-bottom: $dropdown-menu-spacing-sm;

    &__label {
      box-sizing: content-box;
      padding: $dropdown-menu-spacing-sm;
      height: $dropdown-menu-label-height;
      line-height: $dropdown-menu-label-height;
      display: flex;
      font-size: $font-size-preset-30;
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: $dropdown-menu-spacing-sm;
      height: $dropdown-menu-item-height;
      line-height: $dropdown-menu-item-height;
      flex-shrink: 0;
      position: relative;

      & > .dropdown-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
      }

      @include when-active {
        > .dropdown-menu {
          display: flex;
          opacity: 1;
        }
      }

      &--border {
        padding-top: $dropdown-menu-spacing-lg;

        &:after {
          @include item-border;
          background-color: transparent;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          content: '';
        }
      }

      .dropdown-menu-link {
        color: $color-grey-38;
        display: flex;
        align-items: center;
        flex-grow: 1;
        white-space: nowrap;

        .icon {
          visibility: hidden;
          margin-right: $dropdown-menu-spacing-sm;
          color: $color-blue;
        }

        &:visited {
          color: inherit;
        }

        &--active {
          color: $color-grey-69 !important;

          .icon {
            visibility: visible;
          }
        }
      }
    }
  }
}
