// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Equipment Details Sections
// -----------------------------------------------------------------------------

@mixin data-font {
  font-size: rem(18);
  margin-top: rem(6);
  overflow: hidden;
  text-overflow: ellipsis;

  @include media('>=640px') {
    margin-top: rem(2);
  }
  @include media('>=m') {
    font-size: rem(22);
  }
  @include media('>=l') {
    font-weight: 700;
  }
}

@mixin data-font-grey {
  @include data-font;
  color: #72777E;
  font-weight: 400;

  @include media('>=m') {
    font-size: rem(22);
  }
  @include media('>=l') {
    font-weight: 400;
  }
}

.equipment-details-section {
  padding: 1rem 0;

  &.hours-used {
    padding: 1rem 0 0 0;

    @include media('>=m') {
      padding-bottom: rem(32);
    }

    h2 {
      margin-top: rem(20);
      margin-bottom: rem(10);
      width:100%;
    }
  }

  a {
    display: block;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    width: rem(125);
    font-size: rem(12);

    @include media('>=m') {
      font-size: rem(14);
    }

    i {
      position: relative;
      top: rem(2);
    }
  }

  h2 {
    border-bottom: rem(2) solid #F2F2F2;
    padding-bottom: rem(6);
    margin-bottom: rem(12);
    margin-top: rem(23);

    @include media('>=640px') {
      padding-bottom: rem(7);
      border-bottom: rem(1) solid #dde0e2;
    }
    @include media('>=m') {
      padding-bottom: rem(11);
    }
    @include media('>=l') {
      padding-bottom: rem(14);
      font-size: rem(28);
      border-bottom-width: rem(2);
    }

    i {
      font-size: rem(14);
      padding-left: rem(4);
    }
  }

  h2.no-border {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: rem(7);
    @include media('>=m') {
      margin-bottom: rem(11);
    }
    @include media('>=l') {
      margin-bottom: rem(14);
    }
  }

  &__body {
    flex-wrap: wrap;
    margin-right: rem(-7);
    @include media('>=640px') {
      flex-wrap: nowrap;
      margin-right: -2rem;
    }

    .flex-column {
      width: 100%;
      @include media('>=640px') {
        width: inherit;
      }
    }
  }

  &__body > div {
    display: flex;
    flex-direction: row;

    h6 {
      margin: 0;
    }

    > div {
      width: 30%;
    }
  }

  .flex-column.flex-gap-10 > :not(:last-child) {
    margin-bottom: 0;
  }

  p:nth-of-type(1) {
    font-size: rem(12);
    font-weight: 700;
    @include media('>=m') {
      font-size: rem(14);
    }
  }

  &.equipment-info {
    padding: 0 0 0 0;

    h2 {
      margin-top: rem(15);
    }

    .equipment-details-section__body {
      @include media('>=640px') {
        flex-wrap: wrap;
      }
      @include media('>=m') {
        margin-bottom: rem(28);
      }
      @include media('>=l') {
        margin-bottom: rem(4);
      }
    }

    .flex-column {
      margin-right: 0;
      @include setColumn(1, 2);
      padding-right: 1rem;
      @include media('>=640px') {
        padding-right: 0rem;
      }
    }

    p:nth-of-type(2) {
      @include data-font-grey;
      margin-bottom: rem(13);
    }

    .flex-column:nth-of-type(1) {
      padding-right: 1rem;
      @include media('>=640px') {
        padding-right: 1rem;
        @include setColumn(1, 4);
      }
      @include media('>=m') {
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(2) {
      padding-right: rem(7);
      @include media('>=640px') {
        padding-right: 1rem;
        @include setColumn(1, 4);
      }
      @include media('>=m') {
        padding-right: 2rem;
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        padding-right: 1rem;
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(3) {
      padding-right: 1rem;
      @include media('>=640px') {
        padding-right: 1rem;
        @include setColumn(1, 4);
      }
      @include media('>=m') {
        margin-top: rem(12);
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        margin-top: 0;
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(4) {
      padding-right: rem(7);
      @include media('>=640px') {
        padding-right: 2rem;
        @include setColumn(1, 4);
      }
      @include media('>=m') {
        padding-right: 2rem;
        margin-top: rem(12);
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        padding-right: 2rem;
        margin-top: 0;
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(5) {
      padding-right: 1rem;

      p:nth-of-type(2) {
        margin-bottom: rem(10);
        @include media('>=640px') {
          margin-bottom: rem(10);
        }
      }

      @include media('>=640px') {
        padding-right: 1rem;
        @include setColumn(1, 4);
      }
      @include media('>=m') {
        margin-top: rem(12);
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        margin-top: rem(12);
        margin-bottom: rem(22);
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(6) {
      padding-right: rem(7);

      p:nth-of-type(2) {
        margin-bottom: rem(10);
        @include media('>=640px') {
          margin-bottom: rem(10);
        }
      }

      @include media('>=640px') {
        padding-right: 2rem;

        @include setColumn(3, 4);
      }
      @include media('>=m') {
        padding-right: 2rem;
        margin-top: rem(12);
        @include setColumn(1, 2);

      }
      @include media('>=l') {
        margin-top: rem(12);
        margin-bottom: rem(22);
        padding-right: 1rem;

        @include setColumn(1, 4);
      }
    }
  }

  &.rental-rates {
    padding: rem(14) 0 rem(12) 0;
    @include media('>=640px') {
      padding: rem(14) 0 0 0;
    }

    a {
      margin: rem(5) 0 rem(0) rem(0);
      @include media('>=640px') {
        margin: rem(6) 0 rem(11) rem(0);
      }
      @include media('>=m') {
        margin: rem(16) 0 rem(42) rem(0);
      }
      @include media('>=l') {
        margin: rem(9) 0 rem(39) rem(0);
      }
    }

    .equipment-details-section__body {
      @include media('>=m') {
        flex-wrap: wrap;
      }
      @include media('>=l') {
        flex-wrap: nowrap;
      }
    }

    .flex-column {
      margin-right: 0;
    }

    p:nth-of-type(2) {
      @include data-font-grey;
      margin-bottom: rem(18);
    }

    .flex-column:nth-of-type(1) {
      padding-right: 1rem;
      @include setColumn(1, 2);
      @include media('>=640px') {
        @include setColumn(1, 4);
        padding-right: 0;
        padding-right: 1rem;
      }
      @include media('>=m') {
        @include setColumn(1, 2);
      }
      @include media('>=l') {
        @include setColumn(1, 4);
      }
    }

    .flex-column:nth-of-type(2) {
      padding-right: rem(7);
      @include setColumn(1, 2);
      @include media('>=640px') {
        @include setColumn(1, 4);
        padding-right: 1rem;
      }
      @include media('>=m') {
        @include setColumn(1, 2);
        padding-right: 2rem;
      }
      @include media('>=l') {
        @include setColumn(1, 4);
        padding-left: 0;
        padding-right: 1rem;
      }
    }

    .flex-column:nth-of-type(3) {
      padding-right: rem(7);
      @include setColumn(1, 1);

      p:nth-of-type(1) {
        margin-top: rem(7);
      }

      p:nth-of-type(2) {
        @include media('>=m') {
          margin-bottom: rem(15);
        }
      }

      @include media('>=640px') {
        @include setColumn(2, 4);
        padding-right: 2rem;
        p:nth-of-type(1) {
          margin-top: rem(12);
        }
      }
      @include media('>=m') {
        @include setColumn(1, 1);
        p:nth-of-type(1) {
          margin-top: rem(17);
        }
      }
      @include media('>=l') {
        @include setColumn(2, 4);
        padding-right: 2rem;
        p:nth-of-type(1) {
          margin-top: rem(14);
        }
      }
    }
  }

  &.delivery-pickup {
    a {
      margin: rem(5) 0 rem(28) rem(0);
      @include media('>=m') {
        margin: rem(16) 0 rem(28) rem(0);
      }
    }

    p:nth-of-type(2) {
      @include data-font;
    }

    p:nth-of-type(2) span:last-child {
      @include data-font-grey;
      margin-left: 0.5rem;
    }

    p:nth-of-type(3) {
      @include data-font-grey;
      margin-top: rem(8);
      @include media('>=640px') {
        margin-top: rem(7);
      }
      @include media('>=m') {
        margin-top: rem(12);
        font-size: rem(18);
      }
    }

    .flex-row.flex-gap-10 > :not(:last-child) {
      margin-right: 0;
    }

    .flex-column {
      padding-right: rem(7);
    }

    .flex-column:nth-child(1) {
      p:nth-of-type(3) {
        margin-bottom: rem(12);
        @include media('>=640px') {
          margin-bottom: rem(18);
        }
      }

      @include media('>=640px') {
        @include setColumn(1, 2);
        padding-right: 1rem;
      }
      @include media('>=l') {
        @include setColumn(9, 24);
      }
    }

    .flex-column:nth-child(2) {
      @include media('>=640px') {
        @include setColumn(1, 2);
        padding-right: 2rem;
      }
      @include media('>=l') {
        @include setColumn(15, 24);
        padding-right: 2rem;
      }
    }
  }

  .icon-long-arrow-right:before {
    position: relative;
    top: rem(1);
    display: inline-block;
  }
}

