// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Equipment Type
// -----------------------------------------------------------------------------

.equipment-type {
  border: 1px solid $color-grey-11;
  border-radius: $border-radius-med;
  padding: 15px 20px 20px;
  background: $color-white;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    min-height: 275px;

    &:before {
      content: '';
      display: block;
      padding-top: 142%;
    }
  }

  &__image {
    text-align: center;
    min-height: 65%;
    max-width: 95%;
    text-align: center;
    margin: 0 auto;

    @include media('>=640px') {
      min-height: 37%;
    }
  }

  &__name {
    color: $color-blue;
    margin-top: 10px;
    position: absolute;
    bottom: 48px;
    height: 46px;
    padding-right: 18px;
    font-size: 15px;

    @include media('>=640px') {
      font-size: $font-size-preset-60;
    }
  }

  .button {
    justify-content: center;
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
    height: 46px !important;
  }
}

.equipment-block {
  background-color: $color-grey-2;
  padding-top: 7.5%;
  padding-bottom: 12.5%;

  @include media('>=640px') {
    padding-top: 6%;
    padding-bottom: 6%;
  }

  &__headline {
    font-size: $font-size-preset-50;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;

    @include media('>=640px') {
      font-size: $font-size-preset-60;
      padding-bottom: 27px;
      padding-top: 0px;
    }
  }

  .VueCarousel-slide {
    > * {
      margin: 0 $_gutter-small/2;
    }

    .equipment-type__container:before {
      padding-top: 135%;

      @include media('>=l') {
        padding-top: 130%;
      }

      @include media('>=xl') {
        padding-top: 120%;
      }
    }
  }

  @include media('>=640px') {
    .VueCarousel {
      margin: 0 -8px;

      &-slide > * {
        margin: 0 $_gutter-large/2;
      }
    }
  }

  vueml-carousel {
    display: none;
  }
}
