// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Equipment Details Header
// -----------------------------------------------------------------------------

.equipment-details {
  .equipment-details-header-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 rem(14) 0;
    margin: rem(-1) 0 0 0;
    border-bottom: rem(2) solid #F2F2F2;

    @include media('>=640px') {
      padding: 0 0 rem(20) 0;
      margin: rem(-3) 0 0 0;
    }
    @include media('>=m') {
      padding: 0 0 rem(7) 0;
      border-bottom: 0;
    }

    @include media('>=l') {
      padding: 0 0 rem(11) 0;
      margin: rem(-2) 0 0 0;
    }

    .router-link-active {
      display: inline-block;
    }

    span {
      font-size: $font-size-preset-30;

      span:first-child {
        font-weight: 700;
      }

      span:last-child {
        color: #72777E;
      }
    }

    > span {
      @include media('>=640px') {
        position: relative;
        top: rem(-3);
      }

      @include media('>=m') {
        display: none;
      }
    }

    .back-button {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin-left: 0;
      width: rem(70);
      position: relative;
      top: rem(1);

      @include media('>=m') {
        margin-left: rem(-17);
      }

      @include media('>=l') {
        margin-left: rem(-20);
      }

      h5 {
        color: $color-blue;
        margin: rem(1) 0 0 rem(6);
        font-size: rem(12);
        @include media('>=l') {
          margin: rem(1) 0 0 rem(4);
          font-size: rem(14);
        }
      }

      .icon-long-arrow-left {
        align-items: center;
        color: $color-orange;
        display: flex;
        font-size: rem(14);
        position: relative;
        top: rem(1);
        @include media('>=l') {
          font-size: rem(16);
        }
      }
    }
  }

  .header-actions-container {
    display: flex;
    flex-wrap: wrap;

    @include media('>=640px') {
      flex-wrap: nowrap;
      margin-bottom: rem(6);
    }

    > div:nth-of-type(2) {
      @include setColumn(1, 1);

      > div {
        margin-bottom: rem(8);
      }

      @include media('>=640px') {
        margin-top: rem(25);
        padding-left: rem(6);
        @include setColumn(5, 12);
        min-width: 16rem;
      }
    }
  }

  .equipment-details-header {
    @include setColumn(1, 1);

    @include media('>=640px') {
      padding-right: 1rem;
      @include setColumn(7, 12);
    }
    @include media('>=m') {
      padding-right: 0;
      @include setColumn(1, 1);
    }

    &__title {
      @include media('>=m') {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      > div:not(.img-container) {
        @include media('>=m') {
          display: flex;
          flex-direction: column;
          margin-right: rem(20);
        }
      }

      .img-container {
        width: rem(88);
        height: rem(88);
        display: flex;
        justify-content: center;
        align-items: center;

        @include media('>=m') {
          margin-top: rem(8);
        }
        @include media('>=l') {
          width: rem(120);
          height: rem(120);
        }

        img {
          display: none;

          @include media('>=m') {
            max-width: rem(88);
            max-height: rem(88);
            display: flex;
          }
          @include media('>=l') {
            max-width: rem(120);
            max-height: rem(120);
          }
        }
      }

      h1 {
        font-size: rem(22);
        line-height: (24 / 22);
        margin: 0 0 rem(13) 0;

        @include media('>=640px') {
          margin: 0 0 rem(9) 0;
        }
        @include media('>=m') {
          font-size: rem(28);
          margin: 0 0 rem(10) 0;
          line-height: (36.5 / 28);
        }
        @include media('>=l') {
          font-size: rem(36);
          margin: 0 0 rem(16) 0;
          line-height: (40 / 36);
        }
      }

      .equipment-id-container {
        font-size: rem(12);
        margin-top: rem(19);
        padding-bottom: rem(5);
        font-weight: 400;
        color: #72777E;
        display: flex;
        line-height: 1;
        align-items: baseline;

        @include media('>=m') {
          margin-top: rem(13);
          margin-bottom: rem(4);
          font-size: rem(14);
        }
        @include media('>=l') {
          margin-top: rem(15);
        }

        > span:first-child {
          margin-right: rem(15);
        }

        > span:last-child {
          display: none;

          @include media('>=m') {
            display: flex;
          }

          span:first-child {
            font-weight: 700;
            color: #414b50;
            margin-right: rem(9);
          }
        }
      }
    }

    &__status-object {
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: rem(18);

      @include media('>=640px') {
        margin-left: rem(2);
      }
      @include media('>=m') {
        margin-left: rem(0);
      }

      & > div {
        margin: 0 0 rem(4) 0;
        align-items: flex-end;
        padding-right: rem(9);
        height: rem(20);

        @include media('>=640px') {
          padding-right: rem(12);
        }
      }

      p {
        display: inline-block;
        margin: 0;
        font-size: rem(12);
        height: rem(20);

        @include media('>=l') {
          font-size: rem(14);
        }
      }

      p:nth-of-type(1) {
        margin-right: rem(5);
      }

      .gps-utilization {
        i {
          position: relative;
          font-size:  rem(12);
          top: rem(-1);
          width: rem(12);

          &:after {
            width: rem(12);
            bottom: rem(5);
          }
        }

        p.status-details {
          margin-left: rem(-2);
        }

        @include media('>=l') {
          i {
            position: relative;
            width: rem(14);
            font-size:  rem(14);

            &:after {
              width: rem(14);
            }
          }
          p.status-details {
            margin-left: rem(-2);
          }
          p:nth-of-type(2) {
            padding-top: rem(1);
          }
        }
      }
    }

    .status-span {
      display: inline-block;
      height: rem(12);
      margin: 0 rem(5) 0 0;
      width: rem(3);
      position: relative;
      top: rem(-6);

      @include media('>=l') {
        height: rem(14);
        top: rem(-4);
      }
    }
  }
}
