// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Faux Widgets
// -----------------------------------------------------------------------------


$faux-border-radius: 15px;

// @TODO: Move this to mixins file
@mixin blob($width: 0, $height: 0) {
  background: $color-grey-11;
  height: $height;
  width: $width;
  border-radius: 10px;
}

%faux {
  border: 7px solid #dfdfdf;
  border-radius: $faux-border-radius;
  padding: rem(18);
  display: flex;
}

%faux-widget {
  @extend %faux;
  min-height: rem(160);
  flex-flow: column;
  flex: 0 0 32%;
  opacity: 0.7;

  @include media('>=m') {
    flex: 0 0 23.5%;
  }
}

%faux-graph {
  @extend %faux;
  height: rem(244);
  flex: 0 0 49%;
  opacity: 0.5;
}

.faux-widgets-container {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
}

.faux-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: relative;
  margin: rem(40) 0;
}

.faux-fade-out {
  // TODO: Find color variable
  background: linear-gradient(180deg, rgba(238,239,240,0) 0%, rgba(238,239,240,0.03) 0%, #EEEFF0 100%);
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 0;
}

.faux-widget {
  @extend %faux-widget;

  &__img {
    @include blob(70%, rem(70));
    margin-bottom: rem(24);

    @include media('>=m') {
      @include blob(52%, rem(70));
    }
  }

  &__title {
    @include blob(88%, rem(10));
  }
}

.faux-text-widget {
  justify-content: left;
  align-items: center;

  &__tag {
    @include blob(13%, rem(20));
    margin-right: 2%;
    opacity: 0.5;
  }

  &__text {
    @include blob(31%, rem(10));
    opacity: 0.5;
  }

  &__small-text {
    @include blob(8%, rem(10));
    margin-left: auto;
    opacity: 0.5;
  }
}

.faux-graph {
  @extend %faux-graph;
  flex-flow: row wrap;
  padding: rem(18) rem(18) 0 rem(18);

  &__header {
    display: flex;
    flex: 1 100%;
    justify-content: space-between;
    height: rem(10);
  }

  &__bar-container {
    display: flex;
    flex: 1 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(100% - #{rem(10)});
    padding-bottom: 6%;
  }

  &__title {
    @include blob(32%, rem(10));
  }

  &__secondary-title {
    @include blob(12%, rem(10));
  }

  $wide-bar-width: 20%;
  &__wide-bar-1 {
    @include blob($wide-bar-width, 90%);
  }

  &__wide-bar-2 {
    @include blob($wide-bar-width, 43%);
  }

  &__wide-bar-3 {
    @include blob($wide-bar-width, 70%);
  }

  &__wide-bar-4 {
    @include blob($wide-bar-width, 62%);
  }

  $skinny-bar-width: 7%;
  &__skinny-bar-1 {
    @include blob($skinny-bar-width, 90%);
  }

  &__skinny-bar-2 {
    @include blob($skinny-bar-width, 59%);
  }

  &__skinny-bar-3 {
    @include blob($skinny-bar-width, 42%);
  }

  &__skinny-bar-4 {
    @include blob($skinny-bar-width, 73%);
  }

  &__skinny-bar-5 {
    @include blob($skinny-bar-width, 59%);
  }

  &__skinny-bar-6 {
    @include blob($skinny-bar-width, 90%);
  }

  &__skinny-bar-7 {
    @include blob($skinny-bar-width, 80%);
  }
}
