// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Feedback Banner
// -----------------------------------------------------------------------------

.feedback-banner {
  border-radius: $border-radius-med;
  padding: 20px 18px;
  margin: 12px auto;

  &-headline {
    font-size: $font-size-preset-40;
    font-weight: $font-weight-bold;
    color: $color-text;
    margin: 0;
    display: flex;
    align-items: center;

    i {
      margin-right: rem(2);
      font-size: rem(20);
    }
  }

  &-details {
    margin-top: 2px;
    font-size: $font-size-preset-40;
    color: $color-text;

    &.parent-has-icon {
      margin-left: 28px;
    }
  }
}

.inline-feedback-banner {
  @extend .feedback-banner;
  background-color: $color-blue-subtle;
}