// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Information Card
// -----------------------------------------------------------------------------

.information-card {
  background: $color-grey-2;
  border-radius: rem(4);
  padding: rem(18) rem(12) rem(12) rem(12);
  position: relative;
  margin-bottom: rem(16);

  h6,
  p,
  a {
    margin: 0;
  }

  .flex-column:nth-child(1) {
    width: rem(74);
    max-width: rem(74);
    min-width: rem(74);
  }

  .flex-column.flex-gap-10 > :not(:last-child) {
    margin: inherit;
  }

  .flex-column:nth-child(2) {
    margin-top: rem(-3);
    line-height: 1.75;
    max-width: calc(100% - #{rem(74 + 14)});

    h5 {
      line-height: 1.75;
      margin: rem(-4) 0 0 0;
    }

    h5:first-child {
      margin: 0;
    }

    .status-span {
      display: inline-block;
      height: rem(14);
      margin: rem(4) rem(4) rem(-2) 0;
      width: rem(3);
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
