// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/No Data Available
// -----------------------------------------------------------------------------

.no-data-available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: rem(20) rem(10);
  max-width: 80%;

  &.no-markers {
    margin-top: rem(-20);

    > p:first-of-type {
      font-size: $font-size-preset-50;
      margin: 0;
    }

    > p:last-of-type {
      margin-top: 1rem;
    }

    div {
      margin-top: rem(40);

      a {
        margin: 0 rem(5);
        color: $color-text-link;
        cursor: pointer;
      }
    }
  }

  p {
    color: $color-grey-38;
  }

  & > div {
    flex-direction: row;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .icon-before-check {
    color: rgba(72, 189, 0, 1);
    font-size: 2rem;
    padding-right: 1rem;

    &::before {
      margin-right: 0;
    }

    @include media('>=640px') {
      font-size: 3rem;
    }

    @include media('>=m') {
      font-size: 4rem;
    }

    @include media('>=l') {
      font-size: 4rem;
    }

    @include media('>=xl') {
      font-size: 4rem;
    }
  }

  &.value-zero {
    flex-direction: row;
    height: rem(140);

    p {
      margin: 0;
      width: auto;
    }
  }
}
