// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Quantity Selector
// -----------------------------------------------------------------------------

.quantity-selector {
  &.flex-end {
    justify-content: flex-end;
  }

  &.more_less_buttons {
    display: flex;
    flex-direction: row;

    input {
      background-color: $color-white;
      border: 1px solid $color-grey-11;
      border-radius: 4px;
      height: 32px;
      margin: 0 8px;
      text-align: center;
      appearance: none;
      display: inline-block;
      width: auto;
      padding: 0;
    }

    .less,
    .more {
      background-color: $color-grey-11;
      border: none;
      border-radius: 4px;
      height: 32px;
      width: 32px;
    }

  }
}

.quantity-selector-small {
  &.more_less_buttons {
    input {
      height: 24px;
      margin: 0 4px;
    }

    .flex-sm {
      flex: 0;
      min-width: 3em;
    }

    .less,
    .more {
      height: 24px;
      width: 24px;
    }

  }
}

