// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Search Results
// -----------------------------------------------------------------------------

.path-search {

  @include media('>=640px') {
    .global-search {
      visibility: visible;
      opacity: 1;
      position: absolute;
      left: 0;
      transform: translateX(0);
      justify-content: center;
      top: 89px;
      background-color: transparent;
      padding: 0 16px;
      box-shadow: none;

      @include media('>=m') {
        top: 176px;
      }
    }

    .global-search__field {
      border: 1px solid $color-grey-11;
      transform: translateX(0) !important;
    }

    .global-search__search-box {
      border-right-width: 0;
      border-radius: $border-radius-med 0 0 $border-radius-med;
    }

    .global-search__location {
      border-left-width: 0;
      border-radius: 0 $border-radius-med $border-radius-med 0;
    }

    .global-search__logo, .global-search__close {
      display: none;
    }
  }

  #main-content {
    display: flex;
    flex: 1 1 100%;

    #block-unitedrentals-content {
      display: flex;
      flex: 1 1 100%;

      .views-element-container {
        display: flex;
        flex: 1 1 100%;

        & > div {
          flex: 1 1 100%;
        }

      }
    }
  }

  .main-content {
    @extend .grid;

    > div {
      @extend .column;
    }

    @include media('>=640px') {
      margin-top: 100px;
    }
  }
}

.search-result {

  &__wrapper {
    display: flex;
    box-shadow: 0 1px 0 0 #DEE1E3;

    > * {
      margin: 16px auto;
    }

  }

  &__image {
    width: 44px;
    padding-top: 9px;
    margin-right: 18px;

    .icon {
      color: $color-blue;
    }
  }

  &__details {
    flex: 8;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
}

