// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Search Term Badge
// -----------------------------------------------------------------------------

$color-border: $color-grey-11;
$border-med: 2px;
$border-radius-small: 2px;
$border-radius-med: 4px;
$border-radius-large: 8px;
$border-radius-xlarge: 12px;

$border-grey: 1px solid $color-grey-11;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;

%button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.85714em;
  border: $color-border solid $border-med;
  border-radius: $border-radius-med;
  font-family: $font-family-sans-serif;
  font-size: $font-size-preset-40;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
}

.search-term-badge {
  @extend %button;

  background-color: $color-grey-2;
  border-radius: $border-radius-small;
  border: $border-grey;
  display: flex;
  font-size: $font-size-preset-30;
  height: 20px;
  line-height: 20px;
  justify-content: center;
  padding: 0 5px;
  width: auto;

  &::before {
    content: icon-char(close);
    font-family: "themeIcons";
    padding-right: 15px;
    width: 6px;
  }

  &:hover {
    &::before {
      color: $color-blue-highlight;
    }
  }
}
