// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Search Term Badge Container
// -----------------------------------------------------------------------------

.search-term-badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .search-term-badge {
    margin: 0 8px 8px 0;

    .subfilter-label {
      font-weight: $font-weight-bold;
      margin-left: 3px;
    }
  }

  .clear-all {
    margin: 3px 2px;
    font-size: $font-size-preset-30;
    font-weight: $font-weight-bold;
    color: $color-blue;
    cursor: pointer;
  }
}
