// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Status Indicator
// -----------------------------------------------------------------------------

// Color map
$ur-colors: (
  '-blue': $color-blue,
  '-blue-lowlight': $color-blue-lowlight,
  '-blue-highlight': $color-blue-highlight,
  '-blue-subtle': $color-blue-subtle,
  '-border': $color-utility-border,
  '-orange': $color-orange,
  '-orange-lowlight': $color-orange-lowlight,
  '-orange-highlight': $color-orange-highlight,
  '-orange-subtle': $color-orange-subtle,
  '-bright-red': $color-red,
  '-bright-red-lowlight': $color-red-lowlight,
  '-bright-red-highlight': $color-red-highlight,
  '-bright-red-subtle': $color-red-subtle,
  '-white': $color-white,
  '-gray-lightest': $color-grey-2,
  '-near-white': $color-grey-2,
  '-gray-light': $color-grey-11,
  '-gray': $color-grey-38,
  '-united-gray': $color-grey-38,
  '-gray-dark': $color-grey-69,
  '-gray-darker': $color-grey-69,
  '-gray-darkest': $color-grey-79,
  '-green': $color-green,
  '-green-highlight': $color-green-lowlight,
  '-black': #000000,
  '-transparent': $color-transparent,
);

@each $name, $value in $ur-colors {
  .status-indicator#{$name} {
    position: relative;
    height: 15px;
    display: inline-block;

    &:before {
      content: '';
      background-color: $value;
      width: 3px;
      height: 100%;
      position: absolute;
      left: -8px;
      top: 0;
    }
  }
}

.status-pill {
  background: $color-orange;
  color: $color-white;
  display: inline-block;
  font-size: 7px;
  line-height: 1;
  padding: 4px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-left: 10px;
}
