// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Timeline
// -----------------------------------------------------------------------------

$rental-timeline__stroke-width: 6;

.rental-timeline {
  background-color: $color-white;
  color: $color-text;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  padding: 4px 0 0 0;
  position: relative;
  visibility: hidden;
}

.rental-timeline--active {
  visibility: visible;
}

.rental-timeline__bar--leniency {
  stroke: rgba($color-green, 0.5);
  stroke-width: $rental-timeline__stroke-width;
}

.rental-timeline__bar--overdue {
  stroke: $color-red;
  stroke-width: $rental-timeline__stroke-width;
}

.rental-timeline__bar--progress {
  stroke: $color-blue-highlight;
  stroke-width: $rental-timeline__stroke-width;
}

.rental-timeline__bar--timeline {
  stroke: $color-grey-11;
  stroke-width: $rental-timeline__stroke-width;
}

.rental-timeline__bar-group--leniency {
  &:hover {
    path {
      stroke: rgba($color-green, 1);
    }
  }

  path:nth-child(even) {
    stroke: transparent;
    stroke-width: $rental-timeline__stroke-width * 4;
  }
}

.rental-timeline__bookend {
  stroke: $color-grey-11;
  stroke-width: 2;
}

.rental-timeline__container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.rental-timeline__label {
  color: $color-text-subtle;
  font-size: $font-size-preset-30;
  font-weight: $font-weight-regular;
}

.rental-timeline__label--bill-thru,
.rental-timeline__label--rental-end,
.rental-timeline__label--rental-start {
  &.rental-timeline__label--bottom {
    color: $color-text;
  }

  &.rental-timeline__label--top {
    font-size: $font-size-preset-20;
    font-weight: $font-weight-bold;
  }
}

.rental-timeline__label--end,
.rental-timeline__label--start {
  color: $color-text;
  font-size: $font-size-preset-20;
}

.rental-timeline__marker--inner,
.rental-timeline__marker--line,
.rental-timeline__marker--outer {
  fill: $color-grey-11;
  stroke-width: 0;
}

.rental-timeline__marker--inner {
  fill: $color-grey-38;
  stroke-width: 0;
}

.rental-timeline__marker-group--bill-thru {
  .rental-timeline__marker--inner {
    fill: $color-orange-subtle;
  }

  .rental-timeline__marker--line {
    stroke: $color-orange;
    stroke-width: 2;
  }

  .rental-timeline__marker--outer {
    fill: $color-orange;
  }
}

.rental-timeline__marker-group--started {
  .rental-timeline__marker--inner {
    fill: $color-blue;
  }

  .rental-timeline__marker--line {
    stroke: $color-blue-highlight;
  }

  .rental-timeline__marker--outer {
    fill: $color-blue-highlight;
  }
}

.rental-timeline__marker-group--today {
  // these styles need to be overridden when overdue
  .rental-timeline__marker--line {
    stroke: $color-blue-highlight;
    stroke-width: 2;
  }
}

.rental-timeline__marker-group--overdue {
  .rental-timeline__marker--inner {
    fill: $color-red-lowlight;
  }

  .rental-timeline__marker--line {
    stroke: $color-red;
  }

  .rental-timeline__marker--outer {
    fill: $color-red;
  }
}

.rental-timeline__marker-group--today {
  // these styles need to override overdue
  .rental-timeline__marker--inner {
    fill: transparent;
  }

  .rental-timeline__marker--outer {
    fill: transparent;
  }
}

.rental-timeline__nav {
  align-items: center;
  color: $color-grey-69;
  cursor: pointer;
  display: flex;
  font-size: 2.25rem;

  &--next {
    margin-left: rem(4);
    margin-right: rem(-8);
  }

  &--prev {
    margin-right: rem(4);
    margin-left: rem(-8);

  }

  i::before {
    margin-right: 0;
    top: rem(3);
    position: relative;
  }
}

.rental-timeline__nav--disabled {
  color: $color-grey-11;
  pointer-events: none;
}

.rental-timeline__svg {
  flex-grow: 1;
  height: auto; // override Quark.css, which sets all `svg` elements to a height of 1rem
}

/**
 * Dev only, remove once component is complete
 */

.rental-timeline__day-guide {
  stroke: rgba($color-grey-11, 0.2);
  stroke-width: 0;
}

.rental-timeline__mock-timelines {
  display: flex;
  font-size: $font-size-preset-20;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: $color-blue-highlight;
    padding: 0 1em;
  }
}
