// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/UR Table
// -----------------------------------------------------------------------------

.ur-table {
  &__body {
    padding: 2%;
  }

  &__header {
    background: $color-grey-2;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h6 {
      white-space: nowrap;
      width: unset;
    }
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid $color-grey-11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

    a {
      white-space: nowrap;
      width: 137px;
    }

    p {
      margin: 0;
      white-space: nowrap;
      width: 100px;
    }

    .icon-download {
      color: $color-blue;
      cursor: pointer;
    }

    .status-span {
      display: inline-block;
      height: 18px;
      margin-right: 7px;
      position: relative;
      top: 3px;
      width: 2px;
    }
  }
}

.billing .ur-table__header {
  h6 {
    white-space: nowrap;
    width: 71px;
  }
}