// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Widget Data Group
// -----------------------------------------------------------------------------

.widget-data-group {
  align-items: center;
  border-top: $border-grey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-height: 45px;
  padding: 10px 10px 10px 20px;

  &:hover {
    background-color: $color-grey-2;

    .icon-before-arrow-right {
      color: $color-blue-highlight;
    }
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;

    > * {
      width: auto;
    }
  }

  h3 {
    margin: 0;
  }

  h5 {
    margin: 0;
    margin-right: 10px;
  }

  p {
    color: $color-grey-38;
    font-size: 0.85rem;
    margin: 0;
  }

  .icon-before-arrow-right {
    color: $color-grey-69;

    &::before {
      font-size: rem(24);
      line-height: 1rem;
      margin-right: 0;
      vertical-align: middle;
      font-weight: bold;
      position: relative;
      top: rem(-1);
    }
  }

  .status-span {
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    width: 2px;
  }

  &.disabled {
    opacity: .5;
    cursor: default;

    &:hover {
      background-color: $color-white;
    }

    .icon {
      visibility: hidden;
    }
  }
}

.card-footer {
  a {
    text-decoration: none;
  }
}
