// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Widget Data Visualization
// -----------------------------------------------------------------------------

.widget-data-visualization__map {
  height: 300px;
  width: 100%;

  .vue-map-container {
    height: 300px;
    width: 100%;
  }
}