// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Widget Section
// -----------------------------------------------------------------------------

/**
 * WidgetSection hierarchy
 * .widget-section
 *  .widget-section-header
 *  .widget-body
 *    .widget
 *      .widget-content
 *        .widget-header
 *        .widget-data-visualization__map
 *        .widget-data-group
 */

.widget-section {
  margin: rem(20) 0;
}

.widget-section-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  width: 100%;

  & .search-widget {
    display: flex;
    align-items: center;
  }

  & .search-widget.search-widget-small {
    width: 100%;
  }

  & div.column--half {
    border-right-width:0;

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: rem(10);
    }
  }

  h2 {
    flex-grow: 1;
    order: 1;
    width: auto;
  }

  .icon-search {
    cursor: pointer;
  }

  .global-search__field {
    display: flex;
    flex-grow: 2;
    margin-left: rem(10);

    input {
      border: $border-grey !important;
      border-radius: 4px !important;
    }
  }

  .global-search__search-box {
    flex: 1 1 100%;
    max-height: 0;
    margin: 0;
    order: 4;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-width: none;
  }

  .global-search__search-box--expanded {
    max-height: none;
    overflow: visible;
  }

  .global-search__search-results {
    top: 80%;
  }

  .widget-section-header__refresh {
    order: 2;
  }

  .widget-section-header__search-toggle {
    margin-left: 0;
    order: 3;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
    max-width: 0;
  }

  .widget-section-header__search-toggle--expanded {
    margin-left: rem(15);
    max-width: none;
  }
}

.widget-body {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@include media('>=640px') {
  .widget-section-header {
    margin-bottom: rem(15);

    h2 {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .global-search__search-box {
      flex: 0 0 66%;
      max-height: none;
      margin-left: rem(15);
      order: 2;
      overflow: visible;
      min-width: rem(243);
    }

    .global-search__search-results {
      top: calc(100% - 6px);
    }

    .icon-search {
      pointer-events: none;
    }

    .widget-section-header__refresh {
      margin-left: auto;
      order: 3;
    }

    .widget-section-header__search-toggle {
      display: none;
    }
  }
}

@include media('>=m') {
  .widget-body {
    flex-wrap: nowrap;
  }
}

@include media('>=l') {
  .widget-section-header {
    .global-search__search-box {
      flex: 0 0 33%;
    }
  }
}
