// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Workplace Details
// -----------------------------------------------------------------------------

%equipment-details-base {
  display: flex;
  padding: 0;
  width: 100%;
}

.equipment-details {

  background: #ffffff;

  // TODO this should be fixed in quark. There should be no layout (aka margin/padding) on this component
  .q-button-menu .q-button {
    margin-top: 0;
  }

  &--mobile {
    @extend %equipment-details-base;
    flex-direction: column;
    padding: rem(12) rem(14) rem(52) rem(14);

    @include media('>=640px') {
      padding: rem(28) rem(32) rem(68) rem(32);
    }

    // equipment-location-map outer container
    .header-actions-container + div:not(.vue-map-container) {
      height: rem(227);
      margin-bottom: 0;
    }

    .vue-map-container {
      margin: rem(16) 0 rem(25) 0;
    }

    .rental-timeline {
      padding-top: 0;
    }
  }

  &--desktop {
    @extend %equipment-details-base;
    flex-direction: row;

    .right-rail {
      @include setColumn(17, 48);
      padding: rem(68) rem(64) rem(68) 0;

      @include media('>=l') {
        @include setColumn(13, 48);
        padding: rem(68) rem(80) rem(68) 0;
      }

      // equipment-location-map outer container
      > .flex-column:nth-of-type(2) {
        height: rem(297);
        @include media('>=l') {
          height: rem(312);
        }
      }

      .vue-map-container {
        margin: rem(32) 0 rem(25) 0;
      }
    }

    .left-main {
      @include setColumn(31, 48);
      width: 100%;
      padding: rem(34) rem(46) rem(68) rem(64);

      @include media('>=l') {
        @include setColumn(35, 48);

        padding: rem(34) rem(124) rem(68) rem(80);
      }
    }
  }

  .modal__content {
    .calendar_container {
      .calendar_start {
        flex-basis: auto;
      }
    }

    .textarea-optional {
      label {
        font-weight: normal;
        line-height: rem(16);
      }
    }
  }
}
