// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Workplace/Workplace Equipment Listing
// -----------------------------------------------------------------------------

$z-index-base: 25;
$z-index-content: $z-index-base - 1;

$overflow-offsets: (
  1: -1em,
  2: -2em,
  3: -3em,
  4: -4em,
  5: -5em,
  6: -6em,
  7: -7em,
  8: -8em,
  9: -9em,
  10: -10em,
  11: -11em,
  12: -12em,
);

@media print {
  a::after {
    content: '';
  }

  .search-term-badge-container {
    padding-top: 0.5rem;

    .clear-all {
      display: none;
    }
  }

  .equipment-list-controls {
    display: none !important;
  }
}

.account-selector-modal-visible .equipment-list {
  // fix IE11 equipment-list error z-index over modal
  z-index: -1;
}

.equipment-list {
  > .workplace-equipment__header > div:first-child, > section {
    padding: 0 rem(14);

    @include media('>=640px') {
      padding: 0 rem(32);
    }
    @include media('>=m') {
      padding: 0 rem(64);
    }
    @include media('>=l') {
      padding: 0 rem(80);
    }
  }
}

.workplace-equipment__header {

  .rent-equipment-button {
    // avoid ellipses for IE11
    min-width: 135px;
    display: none;
    font-size: 14px;
    height: 40px;
    max-height: 40px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;

    @include media('>=640px') {
      display: flex;
      margin-top: rem(22);
      margin-bottom: rem(6);
    }
    @include media('>=m') {
      margin-top: rem(29);
      margin-bottom: rem(20);
    }
    @include media('>=l') {
      margin-bottom: rem(28);

    }
  }

  // styling filter for equipment
  .ur-menu-button--filter {
    background-color: $color-grey-2;
    border-radius: 4px;
    display: flex;
    height: rem(32);
    width: rem(32);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    @include media('>=640px') {
      height: rem(40);
      min-width: rem(40);
    }

    i {
      font-size: rem(20);
      display: table-cell;
      right: inherit;
      top: inherit;
      position: static;
      transition: transform 0.3s ease-in-out;
    }
  }

  .ur-menu-button--filter:not(.button-settings) {
    i + span {
      display: none;
    }

    .icon {
      font-size: 1rem;
      transform-origin: 38% 45%;
    }

    @include media('<640px') {
      .icon {
        line-height: 100%;
        vertical-align: middle;

        &::before {
          margin-right: 0;
        }
      }
    }

    @include media('>=640px') {
      padding: 5px 26px 5px 8px;
      position: relative;
      width: inherit;
      i + span {
        display: inline;
      }
      .icon {
        position: absolute;
        right: 0px;
        font-size: rem(18);
        top: 14%;

        &::before {
          //change icon filter to arrow down
          content: "\E007";
        }
      }
      &.active .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .ur-menu-button--filter.button-settings {
    .icon {
      @include media('>=640px') {
        font-size: rem(22);
      }
    }
  }

  .ur-menu-container {
    border: 1px solid $color-grey-11;
    border-radius: $border-radius-large;
    margin-top: 4px;

    .adjusted-icon {
      right: 10px;
      font-size: 20px;
      margin-right: 0;
      line-height: 1.2;

      &__large-view {
        right: 3px;
        font-size: 17px;
        margin-right: 1px;
        line-height: 1.2;
      }

      &__more-to-right {
        right: 13px !important;
      }
    }

    .ur-menu-container {
      left: 100%;
      margin-top: 0;
      max-height: 350px;
    }

    @each $label, $offset in $overflow-offsets {
      .overflow-offset-#{$label} {
        margin-top: $offset !important;
      }
    }

    .ur-menu-group-description {
      font-weight: 500;
      padding: 12px 9px 9px;
    }

    .ur-menu-group {
      background-color: transparent;

      .menu-arrow::after {
        color: $color-grey-38;
      }
    }
  }

  .ur-menu-group-item {
    height: 35px;
    line-height: 33px;
    font-weight: 300;
    color: $color-grey-38;

    .ur-menu-group-item-link {
      text-decoration: none;
      padding: 9px 20px 9px 9px;
      transition: none;
      cursor: pointer;

      &:hover:not(.disabled) {
        text-decoration: none;
        color: $color-white;

        span {
          color: $color-white;
        }

        .icon {
          color: $color-blue-highlight;
        }
      }

      // .ur-menu-group-item-link .active
      &.active {
        color: $color-grey-38 !important;

        .icon {
          color: $color-blue-highlight;
        }

        // .ur-menu-group-item-link .active:hover
        &:hover {
          color: $color-white !important;

          .icon {
            color: $color-white !important;
          }
        }
      }

      // .ur-menu-group-item-link .icon
      .icon {
        position: absolute;
        right: 0;
      }
    }
  }

  .ur-menu-group > .ur-menu-group-item {
    padding: 0;

    & > .ur-menu-wrapper, &.list-item--search-box {
      padding: 9px;
    }
  }

  .selectable {
    &:hover {
      background-color: $color-blue-highlight;
      color: $color-white;

      .menu-arrow::after {
        color: $color-white;
      }
    }
  }

  .global-search__search-box {
    flex-basis: 100%;
    max-width: 100%;

    @include media('>=640px') {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include media('>=m') {
      flex-basis: 35%;
      max-width: 35%;
    }

    @include media('>=l') {
      flex-basis: 25%;
      max-width: 25%;
    }

    + div {
      display: block;
    }

    &.equipment-filter-search {
      margin-right: 1.14286rem;

      &.global-search__search-box--expanded {
        z-index: 25;
      }

      @include media('>640px') {
        margin-right: rem(16);
      }

      @include media('>=640px') {
        flex-basis: 54%;
        max-width: 65%;
      }

      @include media('>=m') {
        flex-basis: 24%;
        max-width: 60%;
      }

      @include media('>=l') {
        flex-basis: 25%;
        max-width: 40%;
      }
    }

    .global-search__clear {
      top: calc(35px / 2);
      right: 60px;
      font-size: 24px;
    }

    .global-search__search-results {
      top: calc(100% - 39px);
      width: calc(100% - 38px);
      padding-top: 47px;
      z-index: $z-index-content - 1;
      border: 1px solid $color-grey-11;
      border-top: none;

      .global-search__results-objects {
        padding: 0;
      }

      .global-search__results-object {
        padding: 10px 12px 10px 20px;

        &:hover {
          background-color: $color-blue-highlight;
          color: $color-white;
          cursor: pointer;

          a {
            color: $color-white;

            span {
              color: $color-white;
              font-weight: 500;
            }
          }
        }

        a {
          color: $color-grey-69;
          font-weight: 300;

          &:hover {
            color: $color-white;
            font-weight: 300;
            text-decoration: none;

            span {
              color: $color-white;
              font-weight: 500;
            }
          }

          span {
            color: $color-grey-69;
            font-weight: 500;
          }
        }
      }
    }

    input {
      height: 40px;
      border: 1px solid $color-grey-11;
      border-right: none;
      border-radius: rem(4);
      padding-left: 10px;
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(20);
      margin-bottom: 0;
    }

    &.show-results, &.show-no-results {
      input {
        box-shadow: none;
        border-right: none;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        outline: none;
        border: none;
        border-left: 1px solid $color-grey-11;
        border-top: 1px solid $color-grey-11;
        z-index: $z-index-content;
      }
    }

    &--icon {
      top: calc(40px / 2);
      border-top-right-radius: rem(4);
      border-bottom-right-radius: rem(4);
      background-color: $color-blue-highlight;
      height: rem(40);
      width: rem(40);
      left: calc(100% - #{rem(39)});

      &:before {
        position: absolute;
        font-size: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
      }
    }

    .icon-before-search {
      color: $color-white;
      fill: $color-white;
      -webkit-text-fill-color: $color-white;
      z-index: $z-index-content;
    }
  }


  .group-filter-sort-search-area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media('>=640px') {
      align-items: center;
      flex-direction: row;
    }

    @include media('>=m') {
      align-items: center;
      flex-direction: row;
    }

    @include media('>=l') {
      align-items: center;
      flex-direction: row;
    }

    @include media('>=xl') {
      align-items: center;
      flex-direction: row;
    }

    & > div {
      display: flex;
      flex-direction: row;
    }

    h4 {
      margin-right: 10px;
      white-space: nowrap;
      width: auto;

      span {
        font-weight: normal;
      }
    }

    .dropdown__holder {
      margin-right: 3px;
    }
  }

  .list-item--search-box {
    margin-top: 10px;

    .input-search-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;

      input {
        border: 1px solid $color-grey-11;
        border-radius: $border-radius-large;
        margin: 0;
        padding: 0;
        padding-left: 34px;
        width: 100%;
        font-weight: $font-weight-regular;
        height: rem(40);

        @include focus-state(
          $reset: true
        );
      }

      .icon {
        position: absolute;
        left: 8px;
        font-size: 1.25rem;
        height: 1.25rem;
        line-height: 1;
        width: 16px;
        z-index: 1;
      }
    }
  }
}

//first header
.equipment-list {

  > .workplace-equipment__header {
    padding-top: rem(18);
    padding-bottom: rem(5);

    @include media('>=640px') {
      padding-top: rem(32);
    }

    @include media('>=m') {
      padding-top: rem(21);
      padding-bottom: rem(9);
    }

    @include media('>=l') {
      padding-bottom: rem(28);
    }

    > div > h1 {
      font-size: rem(28);
      line-height: rem(36);
      margin-bottom: rem(5);
      width: 100%;
      margin: 0.67em 0;

      @include media('>=m') {
        font-size: rem(44);
        line-height: rem(48);
      }
    }
  }
}

//second header
.equipment-list > section {
  padding-top: rem(19);

  @include media('>=640px') {
    padding-top: rem(33);
  }

  @include media('>=l') {
    padding-top: rem(49);
  }

  > .workplace-equipment__header, .workplace-equipment__header > div {
    align-items: normal;

    .button-wrapper--filter, .button-wrapper--group {
      margin-right: rem(16);
      font-weight: bold;
    }

    > .button-wrapper--filter {
      i {
        position: relative;
        left: 2px;
        @include media('>=640px') {
          position: absolute;
          left: inherit;
        }
      }
    }

    > .button-wrapper--group {
      //hide group button in small size
      display: none;
      align-items: center;

      @include media('>=640px') {
        display: flex;
      }

      .listing-group-by-label {
        display: none;
        @include media('>=m') {
          display: inline-block;
        }
      }
    }

    > .button-wrapper--customize {
      .ur-menu-button--filter .icon {
        position: relative;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
        padding-bottom: 2px;

        &::before {
          margin-right: 0;
        }
      }
    }
  }

  > .search-term-badge-container {
    margin-top: rem(13);

    @include media('>=640px') {
      margin-top: rem(5);
    }
  }

  & > div > h2 {
    //Results Line.
    padding-bottom: rem(5);

    @include media('>=640px') {
      padding-bottom: rem(1);
    }

    span {
      font-size: rem(18);
      line-height: rem(24);

      @include media('>=640px') {
        font-size: rem(22);
      }
    }
  }
}

.equipment-list .dashboard__carousel {
  margin: 0;
}

.equipment-list .dashboard__carousel .VueCarousel-slide {
  margin: 0 0 17px 0;
}

.listing {
  margin-top: rem(18);

  @include media('>=640px') {
    margin-top: rem(9);
  }

  .cell--data {
    .rate-cell {
      font-variant-numeric: tabular-nums;
    }
  }

  .cell--group-header {
    .fw-light {
      color: $color-grey-38;
      font-size: 16px;
      font-weight: $font-weight-regular !important;
    }
  }

  table.listing__table-header thead {
    background-color: inherit;
  }
}

.workplace-equipment__listing {
  // TODO this should be fixed in quark. There should be no layout (aka margin/padding) on this component
  .q-button-menu .q-button {
    margin-top: 0;
  }

  // TODO this should be fixed in quark. We should be able to anchor the q-option-menu and specify width requirements
  .q-option-menu {
    right: 0;
    min-width: 150px;
  }
}
