/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Block */
.component-block-embed__content, .field--type-block-field { height: 100%; }

.block-promo-banner { background-color: #FFFFFF; border: 0.07143rem solid #DDE0E2; border-radius: 0.28571rem; height: 100%; overflow: hidden; padding: 0.57143rem 1.14286rem; }

@media (min-width: 768px) { .block-promo-banner { padding: 0.57143rem 1.14286rem 0.85714rem; } }

@media (min-width: 1024px) { .block-promo-banner { padding: 1.14286rem; } }

@media (min-width: 1440px) { .block-promo-banner { padding: 1.42857rem 1.42857rem 1.71429rem; } }

.block-promo-banner .block-promo-banner__content { align-items: center; display: flex; height: 100%; justify-content: space-between; }

.block-promo-banner .media { margin: 0; }

.block-promo-banner .media img, .block-promo-banner .media svg { max-width: inherit; width: auto; }

.block-promo-banner .media--type-icon, .block-promo-banner .media--type-icon svg, .block-promo-banner .media--type-image, .block-promo-banner .media--type-image img { height: 8rem; }

@media (min-width: 1024px) { .block-promo-banner .media--type-icon, .block-promo-banner .media--type-icon svg, .block-promo-banner .media--type-image, .block-promo-banner .media--type-image img { height: 9.14286rem; } }

@media (min-width: 1440px) { .block-promo-banner .media--type-icon, .block-promo-banner .media--type-icon svg, .block-promo-banner .media--type-image, .block-promo-banner .media--type-image img { height: 12.85714rem; } }

.block-promo-banner .media--type-icon { flex: 1 1 25%; margin-right: -5vmax; }

@media (min-width: 768px) { .block-promo-banner .media--type-icon { margin-right: 0; } }

.block-promo-banner .media--type-image { margin-right: -70%; padding: 0; width: 100%; }

@media (min-width: 768px) { .block-promo-banner .media--type-image { margin-right: -51%; } }

@media (min-width: 1024px) { .block-promo-banner .media--type-image { margin-right: -64%; } }

@media (min-width: 1440px) { .block-promo-banner .media--type-image { margin-right: -56%; } }

@media (min-width: 1920px) { .block-promo-banner .media--type-image { margin-right: -68%; } }

.block-promo-banner .block-promo-banner__content-text { flex: 1 1 75%; margin-right: 0.57143rem; }

@media (min-width: 768px) { .block-promo-banner .block-promo-banner__content-text { margin-right: 1.14286rem; } }

.block-promo-banner .field--name-field-title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; }

@media (min-width: 1024px) { .block-promo-banner .field--name-field-title { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 2rem; line-height: 1.28; } }

.block-promo-banner .field--name-body { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; color: #72777E; }

@media (min-width: 1024px) { .block-promo-banner .field--name-body { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; } }

@media (min-width: 1440px) { .block-promo-banner .field--name-body { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; } }

.block-promo-banner .field--name-body p { margin: 0.28571rem 0 0; }

.block-promo-banner .field--name-field-cta { display: inline-block; margin: 0.57143rem 0 0; }

@media (min-width: 1440px) { .block-promo-banner .field--name-field-cta { margin: 1.14286rem 0 0; } }

.block-promo-banner .field--name-field-cta a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; align-items: center; display: flex; justify-content: space-between; }

.block-promo-banner .field--name-field-cta a:hover, .block-promo-banner .field--name-field-cta a:active, .block-promo-banner .field--name-field-cta a:focus { font-style: normal; text-decoration: none; }

.block-promo-banner .field--name-field-cta a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.block-promo-banner .field--name-field-cta a::before, .block-promo-banner .field--name-field-cta a::after { line-height: 1; vertical-align: -0.2376em; }

.block-promo-banner .field--name-field-cta a:empty::before, .block-promo-banner .field--name-field-cta a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.block-promo-banner .field--name-field-cta a:hover { color: #008CFF; }

.block-promo-banner .field--name-field-cta a:active { color: #002F55; }

.block-promo-banner .field--name-field-cta a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.block-promo-banner .field--name-field-cta a[disabled], .block-promo-banner .field--name-field-cta a.link-btn--disabled { color: #72777E; pointer-events: none; }

.block-promo-banner .field--name-field-cta a[disabled]::before, .block-promo-banner .field--name-field-cta a[disabled]::after, .block-promo-banner .field--name-field-cta a.link-btn--disabled::before, .block-promo-banner .field--name-field-cta a.link-btn--disabled::after { color: #DDE0E2; }

.block-promo-banner .field--name-field-cta a:empty { padding: 0.57143rem; }

.block-promo-banner .field--name-field-cta a:empty::before, .block-promo-banner .field--name-field-cta a:empty::after { font-size: 1.71429rem; }

.block-promo-banner .field--name-field-cta a::after { background-image: url("/themes/custom/unitedrentals/images/icons/long-arrow-right--orange.svg"); background-repeat: no-repeat; background-size: contain; content: ''; display: inline-block; font-size: 1.14286rem; height: 1em; margin-left: 0.28571em; width: 1em; }

@media (min-width: 1024px) { .block-promo-banner .field--name-field-cta a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; line-height: 1.33; } }

@media (min-width: 1440px) { .block-promo-banner .field--name-field-cta a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; } }

/*# sourceMappingURL=../../maps/libraries/block/block-type-promo-banner.css.map */
