.block-promo-banner .field--name-field-cta a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; align-items: center; display: flex; justify-content: space-between; }

.block-promo-banner .field--name-field-cta a:hover, .block-promo-banner .field--name-field-cta a:active, .block-promo-banner .field--name-field-cta a:focus { font-style: normal; text-decoration: none; }

.block-promo-banner .field--name-field-cta a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.block-promo-banner .field--name-field-cta a::before, .block-promo-banner .field--name-field-cta a::after { line-height: 1; vertical-align: -0.2376em; }

.block-promo-banner .field--name-field-cta a:empty::before, .block-promo-banner .field--name-field-cta a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.block-promo-banner .field--name-field-cta a:hover { color: #008CFF; }

.block-promo-banner .field--name-field-cta a:active { color: #002F55; }

.block-promo-banner .field--name-field-cta a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.block-promo-banner .field--name-field-cta a[disabled], .block-promo-banner .field--name-field-cta a.link-btn--disabled { color: #72777E; pointer-events: none; }

.block-promo-banner .field--name-field-cta a[disabled]::before, .block-promo-banner .field--name-field-cta a[disabled]::after, .block-promo-banner .field--name-field-cta a.link-btn--disabled::before, .block-promo-banner .field--name-field-cta a.link-btn--disabled::after { color: #DDE0E2; }

.block-promo-banner .field--name-field-cta a:empty { padding: 0.57143rem; }

.block-promo-banner .field--name-field-cta a:empty::before, .block-promo-banner .field--name-field-cta a:empty::after { font-size: 1.71429rem; }

.block-promo-banner .field--name-field-cta a::after { background-image: url("/themes/custom/unitedrentals/images/icons/long-arrow-right--orange.svg"); background-repeat: no-repeat; background-size: contain; content: ''; display: inline-block; font-size: 1.14286rem; height: 1em; margin-left: 0.28571em; width: 1em; }

@media (min-width: 1024px) { .block-promo-banner .field--name-field-cta a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; line-height: 1.33; } }

@media (min-width: 1440px) { .block-promo-banner .field--name-field-cta a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; } }

