@media (min-width: 1024px) { .views-element-container .view-company-cards { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: inherit; width: inherit; overflow: visible; } }
