.block-views-blockequipment-categories-default-cards .block-views-blockequipment-categories-default-cards__content { overflow: hidden; position: relative; width: calc(100vw - (8.33333% - 0.57143rem)); }

@media (min-width: 768px) { .block-views-blockequipment-categories-default-cards .block-views-blockequipment-categories-default-cards__content { left: -0.57143rem; width: calc(100vw - (8.33333% - 1.14286rem)); } }

@media (min-width: 1024px) { .block-views-blockequipment-categories-default-cards .block-views-blockequipment-categories-default-cards__content { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: inherit; width: inherit; left: -1.14286rem; overflow: visible; } }