/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
.block-views-blockitem-cards-favorites { position: relative; margin-left: -0.28571rem; }

.block-views-blockitem-cards-favorites .view-content { left: calc(-50vw + 50%); max-width: none; position: relative; width: 100%; width: 100vw; left: calc((-50vw + 50%) + 1rem); overflow: visible; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .view-content { left: calc((-50vw + 50%) + (8.33333% - 0.57143rem)); } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: relative; width: inherit; } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content::before, .block-views-blockitem-cards-favorites .view-content::after { background-color: #FFFFFF; bottom: -5%; content: ''; position: absolute; top: -5%; width: calc((100% / 12) + 1.14286rem); z-index: 1; } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content::before { right: 100%; } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content::after { left: 100%; } }

.block-views-blockitem-cards-favorites .view-content .slick-list { overflow: visible; padding-left: 0.28571rem; padding-right: 2rem; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .view-content .slick-list { padding-right: calc((100% / 12) + 1.14286rem); } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content .slick-list { padding-right: 0; } }

.block-views-blockitem-cards-favorites .view-content .slick-slide { margin: 0 0.57143rem 0 0; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .view-content .slick-slide { margin: 0 1.14286rem 0 0; } }

@media (min-width: 1024px) { .block-views-blockitem-cards-favorites .view-content .slick-slide:not(.slick-active) > article > a { box-shadow: none; } }

.block-views-blockitem-cards-favorites .view-empty { position: relative; }

.block-views-blockitem-cards-favorites .no-favorites-container { left: inherit; margin-left: initial !important; margin-right: initial !important; max-width: inherit; position: inherit; width: inherit; align-items: center; background-color: #F9F9F9; display: flex; flex-direction: column; justify-content: center; left: initial; overflow: visible; padding: 1.71429rem 1.42857rem 3.14286rem; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .no-favorites-container { padding: 9.28571rem 2rem; } }

.block-views-blockitem-cards-favorites .no-favorites-container h2 { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; margin-top: 1.14286rem; text-align: center; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .no-favorites-container h2 { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 2rem; line-height: 1.28; margin-top: 1.71429rem; } }

.block-views-blockitem-cards-favorites .no-favorites-container p { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; color: #72777E; margin-top: 0.85714rem; text-align: center; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .no-favorites-container p { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; margin-top: 1.42857rem; } }

.block-views-blockitem-cards-favorites .no-favorites-container a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #008CFF; transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; margin-top: 2.57143rem; }

.block-views-blockitem-cards-favorites .no-favorites-container a:hover, .block-views-blockitem-cards-favorites .no-favorites-container a:active, .block-views-blockitem-cards-favorites .no-favorites-container a:focus { font-style: normal; text-decoration: none; }

.block-views-blockitem-cards-favorites .no-favorites-container a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.block-views-blockitem-cards-favorites .no-favorites-container a::before, .block-views-blockitem-cards-favorites .no-favorites-container a::after { line-height: 1; vertical-align: -0.2376em; }

.block-views-blockitem-cards-favorites .no-favorites-container a:empty::before, .block-views-blockitem-cards-favorites .no-favorites-container a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.block-views-blockitem-cards-favorites .no-favorites-container a[disabled], .block-views-blockitem-cards-favorites .no-favorites-container a.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.block-views-blockitem-cards-favorites .no-favorites-container a[disabled], .block-views-blockitem-cards-favorites .no-favorites-container a[disabled]:hover, .block-views-blockitem-cards-favorites .no-favorites-container a[disabled]:active, .block-views-blockitem-cards-favorites .no-favorites-container a[disabled]:focus, .block-views-blockitem-cards-favorites .no-favorites-container a.btn--disabled, .block-views-blockitem-cards-favorites .no-favorites-container a.btn--disabled:hover, .block-views-blockitem-cards-favorites .no-favorites-container a.btn--disabled:active, .block-views-blockitem-cards-favorites .no-favorites-container a.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.block-views-blockitem-cards-favorites .no-favorites-container a, .block-views-blockitem-cards-favorites .no-favorites-container a:hover, .block-views-blockitem-cards-favorites .no-favorites-container a:active, .block-views-blockitem-cards-favorites .no-favorites-container a:focus { color: #FFFFFF; }

.block-views-blockitem-cards-favorites .no-favorites-container a:hover { background-color: #006bd0; }

.block-views-blockitem-cards-favorites .no-favorites-container a:active { background-color: #0050A9; }

.block-views-blockitem-cards-favorites .no-favorites-container a:visited { color: #FFFFFF; }

.block-views-blockitem-cards-favorites .no-favorites-container a::before, .block-views-blockitem-cards-favorites .no-favorites-container a::after { font-size: 1.42857rem; }

.block-views-blockitem-cards-favorites .no-favorites-container a:empty { padding: 0.57143rem; }

.block-views-blockitem-cards-favorites .no-favorites-container a:empty::before, .block-views-blockitem-cards-favorites .no-favorites-container a:empty::after { font-size: 1.71429rem; }

.block-views-blockitem-cards-favorites .no-favorites-container .img-star { font-size: 0; }

.block-views-blockitem-cards-favorites .no-favorites-container .img-star::before { background-image: url("/themes/custom/unitedrentals/images/icons/star-border--color-text.svg"); background-repeat: no-repeat; background-size: cover; content: ''; display: inline-block; font-size: 2.28571rem; height: 1em; width: 1em; }

@media (min-width: 768px) { .block-views-blockitem-cards-favorites .no-favorites-container .img-star::before { font-size: 3.71429rem; } }

/*# sourceMappingURL=../../maps/libraries/block/favorites--item-cards.css.map */
