.helpfulness-rating-block{ background-color:#DDE0E2;padding:1.14286rem;height:100% }

@media (min-width: 54.85714em){ .helpfulness-rating-block{ float:right;padding: 1.14286rem 2rem 0px 2.25rem; }}

.helpfulness-rating-block .helpfulness-rating-question { transition:font-size 300ms ease-in-out;font-weight:700;margin-bottom:0;margin-top:0;font-size:1.5rem;line-height:1.33}

.helpfulness-rating-block .helpfulness-rating-buttons { display:block;margin-top:.57143rem }

@media (min-width: 540px) { .helpfulness-rating-block .helpfulness-rating-buttons { display:flex; } }

.helpfulness-rating-block .helpfulness-rating-button { align-items:center;display:inline-block;font-weight:700;margin-right:2.28571rem; vertical-align: middle;}

@media (min-width: 540px) { .helpfulness-rating-block .helpfulness-rating-button { display: flex; } }

.helpfulness-rating-block .helpfulness-rating-button::before{background-image:url("/themes/custom/unitedrentals/images/icons/thumb-up.svg");background-repeat:no-repeat;background-size:cover;content:'';display:inline-block;font-size:1.71429rem;height:1em;margin-right:.28571em;transition:all 300ms ease-in-out;width:1em; top: -3px; position: relative;}

.helpfulness-rating-block .helpfulness-rating-button:hover::before,
.helpfulness-rating-block .helpfulness-rating-button:active::before,
.helpfulness-rating-block .helpfulness-rating-button:focus::before { -webkit-transform:scale(1.25);transform:scale(1.25)}

.helpfulness-rating-block .helpfulness-rating-button.no-button::before { -webkit-transform:rotate(180deg);transform:rotate(180deg)}

.helpfulness-rating-block .helpfulness-rating-button.no-button:hover::before,
.helpfulness-rating-block .helpfulness-rating-button.no-button:active::before,
.helpfulness-rating-block .helpfulness-rating-button.no-button:focus::before{-webkit-transform:rotate(180deg) scale(1.25);transform:rotate(180deg) scale(1.25)}

.helpfulness-rating-block .helpfulness-rating-results { transition:font-size 300ms ease-in-out;margin-bottom:0;margin-top:0;font-size:1.1rem;line-height:2;margin-top:1.14286rem}

.helpfulness-rating-total { font-size: 1rem; }
/*# sourceMappingURL=../../maps/libraries/block/helpfulness-rating.css.map */
