/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
@media (min-width: 768px) { .block-social-sharing-block { left: -25%; position: absolute; top: 32vw; } }

.block-social-sharing-block .social-media-sharing > ul { margin: 0; padding: 0; margin-left: -0.57143rem; margin-right: -0.57143rem; padding-left: 0.57143rem; margin-bottom: -0.57143rem; margin-top: -0.57143rem; padding-top: 0.57143rem; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }

.block-social-sharing-block .social-media-sharing > ul > * { background-clip: padding-box; border: 0 solid transparent; }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing > ul { margin-left: -1.14286rem; margin-right: -1.14286rem; padding-left: 1.14286rem; } }

.block-social-sharing-block .social-media-sharing > ul > * { border-right-width: 0.57143rem; }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing > ul > * { border-right-width: 1.14286rem; } }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing > ul { margin-bottom: -1.14286rem; margin-top: -1.14286rem; padding-top: 1.14286rem; } }

.block-social-sharing-block .social-media-sharing > ul > * { border-bottom-width: 0.57143rem; }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing > ul > * { border-bottom-width: 1.14286rem; } }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing > ul { display: flex; margin: 0; padding: 0; flex-direction: column; } }

.block-social-sharing-block .social-media-sharing li { flex-basis: calc((4 / 12) * 100%); max-width: calc((4 / 12) * 100%); margin: 0; padding: 0; }

@media (min-width: 768px) { .block-social-sharing-block .social-media-sharing li { background-clip: inherit; border: 0 none; flex: inherit; margin-left: 0; max-width: inherit; } }

.block-social-sharing-block .social-media-sharing a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; align-items: center; background-color: #F2F2F2; color: #414B50; display: flex; flex-direction: column; height: 100%; padding: 1.14286rem 0.57143rem; text-transform: uppercase; width: 100%; }

.block-social-sharing-block .social-media-sharing a img { max-height: 1.71429rem; }

.block-social-sharing-block .social-media-sharing .facebook-share, .block-social-sharing-block .social-media-sharing .twitter, .block-social-sharing-block .social-media-sharing .linkedin { color: #FFFFFF; }

.block-social-sharing-block .social-media-sharing .facebook-share { background: #3B5998; }

.block-social-sharing-block .social-media-sharing .twitter { background: #1DA1F2; }

.block-social-sharing-block .social-media-sharing .linkedin { background: #0077B5; }

@media (min-width: 768px) { .block.block-social-sharing-block.jsa-social-block-fixed { left: 0; padding-top: 0; position: fixed; top: 0; } }

.page-node-type-project-uptime-pages .region-content .block.block-social-sharing-block.jsa-block-social-sharing-block--reset { left: inherit; padding-top: 1.14286rem; position: relative; top: inherit; }

@media (min-width: 768px) { .page-node-type-project-uptime-pages .region-content .block.block-social-sharing-block.jsa-block-social-sharing-block--reset { padding-top: 2.57143rem; } }

.page-node-type-project-uptime-pages .region-content .block.block-social-sharing-block.jsa-block-social-sharing-block--reset .social-media-sharing > ul { align-content: space-around; flex-direction: row; }

.page-node-type-project-uptime-pages .region-content .block.block-social-sharing-block.jsa-block-social-sharing-block--reset .social-media-sharing a { height: 100%; }

.block-social-sharing-block .jsa-temp-value--hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px 0 0 -1px; overflow: hidden; padding: 0; width: 1px; position: absolute; }

/*# sourceMappingURL=../../maps/libraries/block/project-uptime-social-sharing.css.map */
