$flex-table-gutter-width: 2rem;

.flex-table {
  flex-direction: column;
  width: 100%;
}

.flex-table-row > *:not(.flex-table-gutter):not(.flex-table-row) {
  flex-basis: 0;
  flex-grow: 1;
}

.flex-table-gutter {
  display: flex;
  flex-direction: row;
  min-width: 28px;
  width: $flex-table-gutter-width;
}
