$table-gray: #f8f8f8;
$border-gray: #dcdcdc;

.table {
  border-top: 1px solid $color-grey-11;
  border-radius: 4px;
  border-spacing:0;
  background-color: $table-gray;
  color: $color-grey-38;
  width: 100%;

}

.table__heading-cell {
  @extend .type-paragraph-small;
  font-weight: bold;
  //border: none;
  //border-left: 1px solid $gray-lightest;
  color: $color-grey-38;
  padding: 0 16px;
  height: 44px;
  text-align: left;


  &:first-child {
    border:none;
  }
}

.table__row {
  border: none;
  border-bottom: 1px solid $color-grey-11;
  height: 44px;

  &:nth-child(odd) {
    background-color: $white;
  }

  // Non-BEM but always contained
  &:last-child {
    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}

.table__cell {
  font-size: $font-size-base;
  border-left: none;
  border-bottom: none;
  padding: 0 16px;
  color: $color-grey-69;

  &:last-child {
    border-right: none;
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-left: none;
  border-top: 1px solid $gray-lightest;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tbody tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}

.view-your-probox {
  table {
    tbody > tr {
      height: 50px;
    }
    tbody > tr > td {
      text-align: center;
    }
  }
}
