<div class="flex-table">
  <div class="flex-table__row flex-table__header">
    <div class="flex-table__cell flex-table__cell--checkbox">
      {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}
      <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell">Autem, atque! <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell flex-table__cell--asc">Numquam, deserunt? <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell flex-table__cell--desc">Laborum, recusandae. <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell">Aperiam, adipisci. <i class="icon icon-caret-down"></i></div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Unde, eum!</div>
    <div class="flex-table__cell">Vel, eos!</div>
    <div class="flex-table__cell">Possimus, necessitatibus!</div>
    <div class="flex-table__cell">Fugit, molestiae.</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Quis, incidunt.</div>
    <div class="flex-table__cell">Blanditiis, culpa.</div>
    <div class="flex-table__cell">Reprehenderit, vitae.</div>
    <div class="flex-table__cell">Vero, quia.</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Eligendi, itaque.</div>
    <div class="flex-table__cell">Sapiente, cum.</div>
    <div class="flex-table__cell">Deleniti, culpa!</div>
    <div class="flex-table__cell">Ducimus, excepturi!</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Hic, nisi.</div>
    <div class="flex-table__cell">Sunt, consequuntur?</div>
    <div class="flex-table__cell">Numquam, ipsam!</div>
    <div class="flex-table__cell">Nesciunt, fugiat.</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Dolores, consequuntur!</div>
    <div class="flex-table__cell">Perferendis, natus.</div>
    <div class="flex-table__cell">Eos, quia.</div>
    <div class="flex-table__cell">Et, porro!</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Veritatis, repellat.</div>
    <div class="flex-table__cell">Iste, iusto!</div>
    <div class="flex-table__cell">Praesentium, veniam!</div>
    <div class="flex-table__cell">Asperiores, inventore.</div>
  </div>
  <div class="flex-table__row">
    <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
    <div class="flex-table__cell">Neque, reprehenderit.</div>
    <div class="flex-table__cell">Consequuntur, suscipit!</div>
    <div class="flex-table__cell">Voluptatem, facere.</div>
    <div class="flex-table__cell">At, veniam.</div>
  </div>
</div>

<div class="flex-table">
  <div class="flex-table__row flex-table__header">
    <div class="flex-table__cell flex-table__cell--checkbox">
      {% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}
      <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell">Autem, atque! <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell flex-table__cell--asc">Numquam, deserunt? <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell flex-table__cell--desc">Laborum, recusandae. <i class="icon icon-caret-down"></i></div>
    <div class="flex-table__cell">Aperiam, adipisci. <i class="icon icon-caret-down"></i></div>
  </div>
  <div class="flex-table__group">
    <div class="border-b-thick">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><i class="icon icon-angle-down"></i>XYZ Zippers, Boise, ID <span>(2 Items)</span></div>
    </div>
    <div class="flex-table__group-holder">
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Unde, eum!</a></div>
        <div class="flex-table__cell">Vel, eos!</div>
        <div class="flex-table__cell">Possimus, necessitatibus!</div>
        <div class="flex-table__cell">Fugit, molestiae.</div>
      </div>
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Quis, incidunt.</a></div>
        <div class="flex-table__cell">Blanditiis, culpa.</div>
        <div class="flex-table__cell">Reprehenderit, vitae.</div>
        <div class="flex-table__cell">Vero, quia.</div>
      </div>
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Eligendi, itaque.</a></div>
        <div class="flex-table__cell">Sapiente, cum.</div>
        <div class="flex-table__cell">Deleniti, culpa!</div>
        <div class="flex-table__cell">Ducimus, excepturi!</div>
      </div>
    </div>
  </div>
  <div class="flex-table__group flex-table__group--collapsed">
    <div class="flex-row border-b-thick">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><i class="icon icon-angle-down"></i>Atlas Macdonald, Austin, TX <span>(3 Items)</span></div>
    </div>
    <div class="flex-table__group-holder">
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Hic, nisi.</a></div>
        <div class="flex-table__cell">Sunt, consequuntur?</div>
        <div class="flex-table__cell">Numquam, ipsam!</div>
        <div class="flex-table__cell">Nesciunt, fugiat.</div>
      </div>
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Dolores, consequuntur!</a></div>
        <div class="flex-table__cell">Perferendis, natus.</div>
        <div class="flex-table__cell">Eos, quia.</div>
        <div class="flex-table__cell">Et, porro!</div>
      </div>
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Veritatis, repellat.</a></div>
        <div class="flex-table__cell">Iste, iusto!</div>
        <div class="flex-table__cell">Praesentium, veniam!</div>
        <div class="flex-table__cell">Asperiores, inventore.</div>
      </div>
      <div class="flex-table__row">
        <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
        <div class="flex-table__cell"><a href="#">Neque, reprehenderit.</a></div>
        <div class="flex-table__cell">Consequuntur, suscipit!</div>
        <div class="flex-table__cell">Voluptatem, facere.</div>
        <div class="flex-table__cell">At, veniam.</div>
      </div>
    </div>
  </div>
  <div class="flex-table__group">
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Unde, eum!</a></div>
      <div class="flex-table__cell">Vel, eos!</div>
      <div class="flex-table__cell">Possimus, necessitatibus!</div>
      <div class="flex-table__cell">Fugit, molestiae.</div>
    </div>
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Quis, incidunt.</a></div>
      <div class="flex-table__cell">Blanditiis, culpa.</div>
      <div class="flex-table__cell">Reprehenderit, vitae.</div>
      <div class="flex-table__cell">Vero, quia.</div>
    </div>
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Eligendi, itaque.</a></div>
      <div class="flex-table__cell">Sapiente, cum.</div>
      <div class="flex-table__cell">Deleniti, culpa!</div>
      <div class="flex-table__cell">Ducimus, excepturi!</div>
    </div>
  </div>
  <div class="flex-table__group">
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Hic, nisi.</a></div>
      <div class="flex-table__cell">Sunt, consequuntur?</div>
      <div class="flex-table__cell">Numquam, ipsam!</div>
      <div class="flex-table__cell">Nesciunt, fugiat.</div>
    </div>
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Dolores, consequuntur!</a></div>
      <div class="flex-table__cell">Perferendis, natus.</div>
      <div class="flex-table__cell">Eos, quia.</div>
      <div class="flex-table__cell">Et, porro!</div>
    </div>
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Veritatis, repellat.</a></div>
      <div class="flex-table__cell">Iste, iusto!</div>
      <div class="flex-table__cell">Praesentium, veniam!</div>
      <div class="flex-table__cell">Asperiores, inventore.</div>
    </div>
    <div class="flex-table__row">
      <div class="flex-table__cell flex-table__cell--checkbox">{% include "@atoms/05-forms/checkbox/input--checkbox.html.twig" %}</div>
      <div class="flex-table__cell"><a href="#">Neque, reprehenderit.</a></div>
      <div class="flex-table__cell">Consequuntur, suscipit!</div>
      <div class="flex-table__cell">Voluptatem, facere.</div>
      <div class="flex-table__cell">At, veniam.</div>
    </div>
  </div>
</div>

<style>
  .flex-table {
    margin-bottom: 50px;
  }

  .flex-table__cell {
    width: calc(100% / 4);
    flex-grow: 1;
  }
</style>
