%button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.85714em;
  border: $color-border solid $border-med;
  border-radius: $border-radius-med;
  font-family: $font-family-base;
  font-size: $font-size-base;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
}

/*
---
name: Button
category: Atoms
---
<a name='button-top'>
Buttons can be used with `<a>`, `<button>`, and `<input>` elements.

Types of buttons:
- Default: Standard button
- Primary: Provides extra visual weight and identifies the primary action in a set of buttons
- Success: Indicates a successful or positive action

```button:buttons.html
```


```button.css hidden
  .button {
    margin-bottom: 15px;
  }
```
[Back to top](#top)
*/

.button {
  @extend %button;
  display: inline-block;

  &--displayed-hero {
    display: none;
    @include breakpoint(max-width $break-small - 1) {
      display: inline-block;
      font-family: "Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;
    }
  }
  //TODO added displayed

  &--style-1 {
    font-weight: 600;
    @media (min-width: $break-small) {
      //mirrors style 2 until breakpoint
      height: 2.2857142857em; //32px
      border-radius: $border-radius-small;
      font-weight: 500;
    }
  }

  &--style-2 {
    font-weight: 700;
  }

  &--default {
    // The styles in confluence used background-color: none; which isn't a valid css property.
    background: none;
    color: $color-brand-primary;
    &:hover {
      border-color: $color-brand-primary;
    }
    &:active {
      border-color: darken($color-brand-primary, 7.5%);
      background-color: $color-grey-2;
    }
  }

  &--filled {
    background-color: $color-brand-primary;
    color: $color-text-reverse;
    border: none;
    &:hover {
      background-color: darken($color-brand-primary, 7.5%);
    }
  }

  &--filled-reverse {
    background-color: $color-white;
    color: $color-brand-primary;
    border: none;
    &:hover {
      background-color: darken($color-white, 7.5%);
    }
  }

  &--secondary {
    background-color: $color-grey-11;
    color: $color-brand-primary;
    border: none;
    &:hover {
      background-color: darken($color-grey-11, 7.5%);
    }
  }

  &--secondary-alt {
    background-color: $color-brand-secondary;
    color: $color-text-reverse;
    border: none;
    &:hover {
      background-color: darken($color-brand-secondary, 7.5%);
    }
  }

  &--attention {
    background-color: $color-utility-attention;
    color: $color-text-reverse;
    border: none;
    &:hover {
      background-color: darken($color-utility-attention, 7.5%);
    }
  }
}

.button--disabled {
  background-color: $gray-light;
  color: $gray;
  pointer-events: none;
}
