<button class="button button--style-1 button--default"  href="/">
    Button Style 1 - Default
</button>
<button class="button button--style-1 button--filled"  href="/">
    Button Style 1 - Filled
</button>
<button class="button button--style-1 button--filled-reverse"  href="/">
    Button Style 1 - Filled Reverse
</button>
<button class="button button--style-1 button--secondary"  href="/">
    Button Style 1 - Secondary
</button>
<button class="button button--style-1 button--attention"  href="/">
    Button Style 1 - Attention
</button>
<button class="button button--style-1 button--secondary-alt"  href="/">
    Button Style 1 - Secondary
</button>
<button class="button button--style-2 button--default"  href="/">
    Button Style 2 - Default
</button>
<button class="button button--style-2 button--filled"  href="/">
    Button Style 2 - Filled
</button>
<button class="button button--style-2 button--filled-reverse"  href="/">
    Button Style 2 - Filled Reverse
</button>
<button class="button button--style-2 button--secondary"  href="/">
    Button Style 2 - Secondary
</button>
<button class="button button--style-2 button--attention"  href="/">
    Button Style 2 - Attention
</button>
<button class="button button--style-2 button--secondary-alt"  href="/">
    Button Style 2 - Secondary Alt
</button>
