@charset "UTF-8";

/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */

*,
::after,
::before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::after,
::before {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    box-sizing: border-box;
    cursor: default;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

header,
nav {
    display: block;
}

body {
    margin: 0;
}

nav ul {
    list-style: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

a {
    touch-action: manipulation;
}

[aria-hidden="false"][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute;
}

html {
    font-size: 87.5%;
}

.bg-color--blue-lowlight {
    background-color: #002f55;
}

.bg-color--blue {
    background-color: #0050a9;
}

.text-color--white {
    color: #fff;
}

.align--center {
    align-items: center;
}

.justify--right {
    justify-content: flex-end;
}

.grid {
    width: 100%;
    display: flex;
    padding: 0 3vw;
}

@media (min-width: 1024px) {
    .grid {
        padding: 0 5vw;
    }
}

a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #008cff;
    text-decoration: underline;
}

a:visited {
    color: #0050a9;
}

a:active {
    color: #0050a9;
}

.text-color--white a {
    color: #fff;
    text-decoration: none;
}

.text-color--white a:hover {
    color: #fff;
    text-decoration: underline;
}

.text-color--white a:visited {
    color: #fff;
}

.text-color--white a:active {
    color: #fff;
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?59alyw);
    src: url(../fonts/icomoon.eot?59alyw#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?59alyw) format("truetype"), url(../fonts/icomoon.woff?59alyw) format("woff"), url(../fonts/icomoon.svg?59alyw#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}

.header__specialty-navigation .menu__item--below:after,
.icon,
.icon:before {
    font-family: icomoon !important;
    color: inherit;
    font-size: inherit;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
    content: "\e24c";
}

.icon-search:before {
    content: "\f002";
}

.icon-bars:before {
    content: "\f0c9";
}

body {
    color: #414b50;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: 1rem;
}

.font-size--type-xsmall {
    font-size: 0.71429rem;
}

.font-size--type-header-h5 {
    font-size: 1rem;
}

.font-size--type-header-h6 {
    font-size: 0.85714rem;
}

ul {
    margin-left: 1em;
    padding-left: 12px;
}

ul {
    list-style-type: disc;
}

a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #008cff;
    text-decoration: underline;
}

a:visited {
    color: #0050a9;
}

a:active {
    color: #0050a9;
}

.text-color--white a {
    color: #fff;
    text-decoration: none;
}

.text-color--white a:hover {
    color: #fff;
    text-decoration: underline;
}

.text-color--white a:visited {
    color: #fff;
}

.text-color--white a:active {
    color: #fff;
}

a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #008cff;
    text-decoration: underline;
}

a:visited {
    color: #0050a9;
}

a:active {
    color: #0050a9;
}

.text-color--white a {
    color: #fff;
    text-decoration: none;
}

.text-color--white a:hover {
    color: #fff;
    text-decoration: underline;
}

.text-color--white a:visited {
    color: #fff;
}

.text-color--white a:active {
    color: #fff;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin: 0 1em 0.5em 0;
}

.menu__item:last-child {
    margin-right: 0;
}

@media print {
    .header {
        visibility: visible !important;
        padding-top: 0 !important;
        border: hidden !important;
    }
}

@media (min-width: 640px) {
    .global-search__location input[type="text"]:not(:placeholder-shown) {
        background: #f9f9f9;
    }
}

.header {
    position: relative;
    z-index: 25;
}

.header .grid {
    padding: 0 16px;
}

@media (min-width: 1024px) {
    .header .grid {
        padding: 0 40px;
    }
}

.header__logo {
    width: 97px;
    height: 26px;
    display: block;
    background: url(../images/icons/src/UR-Logo-Stacked-reversed.svg) no-repeat;
    margin: 0;
}

.header__logo-holder {
    flex: 0 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    order: 2;
}

@media (min-width: 1024px) {
    .header__logo-holder {
        position: static;
        left: auto;
        transform: none;
        order: -2;
    }
}

.header__specialty-navigation {
    height: 28px;
    display: none;
}

.header__specialty-navigation ul.menu>.menu__item {
    margin: 0 0 0 36px;
    position: relative;
    display: inline;
}

.header__specialty-navigation ul.menu>.menu__item>ul {
    position: absolute;
    top: 101%;
    left: -7px;
    padding: 8px 80px 8px 16px;
    background: #fff;
    color: #4a4a4a;
    font-size: 0.85714rem;
    width: 167px;
    margin-top: 4px;
    z-index: 10;
    box-shadow: 0 2px 2px rgba(65, 75, 80, 0.12);
    display: none;
}

.header__specialty-navigation ul.menu>.menu__item>ul li {
    display: block;
    line-height: 26px;
    margin: 0;
}

.header__specialty-navigation ul.menu>.menu__item>ul a {
    color: inherit;
}

.header__specialty-navigation ul.menu>.menu__item>ul a:hover {
    color: #0050a9;
    font-weight: 700;
}

.header__specialty-navigation .menu__item--below:after {
    content: "\f107";
    margin-left: 1px;
    display: inline-block;
}

@media (min-width: 1024px) {
    .header__specialty-navigation {
        display: flex;
    }
}

.header__primary-navigation {
    height: 64px;
    position: relative;
}

@media (min-width: 1024px) {
    .header__primary-navigation {
        height: 70px;
    }
}

.header__primary-navigation .icon-bars {
    font-size: 22px;
    cursor: pointer;
    flex: 0 0 auto;
    order: 1;
}

@media (min-width: 1024px) {
    .header__primary-navigation .icon-bars {
        display: none;
    }
}

.header__primary-navigation .icon-search {
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: auto;
    order: 3;
}

.header__primary-navigation .icon-shopping-cart-container {
    cursor: pointer;
    position: relative;
    text-align: center;
    flex: 0 0 auto;
    margin-left: 25px;
    order: 4;
}

@media (min-width: 1024px) {
    .header__primary-navigation .icon-shopping-cart-container {
        margin-left: 32px;
    }
}

.header__primary-navigation .icon-notification {
    font-size: 24px;
    display: block;
    transform: scale(-1, 1);
}

.header__secondary-navigation {
    height: 48px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 0 0 #dbdbdb;
    display: none;
    color: #4a4a4a;
}

.header__secondary-navigation .menu__item--active a {
    color: #0050a9;
    font-weight: 700;
}

.header__secondary-navigation .menu__item--active a:hover {
    text-decoration: none;
}

.header__secondary-navigation a {
    color: inherit;
}

.header__secondary-navigation .menu__item {
    margin: 0 30px 0 0;
    display: inline;
}

.header__secondary-navigation .menu__item:last-child {
    margin-right: 0;
}

@media (min-width: 1024px) {
    .header__secondary-navigation {
        display: flex;
    }
}

.header__global-navigation-pages {
    display: none;
    font-weight: 400;
    flex: 1 0 auto;
}

@media (min-width: 1024px) {
    .header__global-navigation-pages {
        display: block;
        order: -1;
        margin-left: 40px;
    }
}

.header__global-navigation-pages nav .menu>.menu__item {
    margin: 0 8px 0 0;
    padding: 12px;
    display: inline-block;
    position: relative;
}

.header__global-navigation-pages nav .menu>.menu__item>a {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.header__global-navigation-pages nav .menu>.menu__item:last-child {
    margin-right: 0;
}

.header__global-navigation-pages nav .menu>.menu__item:hover>a {
    text-decoration: none;
}

.header__global-navigation-pages nav .menu>.menu__item.menu__item--active>a:before {
    content: "";
    height: 5px;
    background: #008cff;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -18px;
}

.notifications {
    position: relative;
    margin-right: 12px;
    display: block;
}

@media (min-width: 640px) {
    .notifications {
        margin-left: 32px;
    }
}

.checkout-page *> {
    overflow: hidden;
}

@media print {
    body,
    html {
        margin-top: 0;
        display: block;
        height: 100%;
        width: 100%;
    }
    body,
    html {
        height: auto;
    }
    .header {
        display: none !important;
    }
}


/*# sourceMappingURL=style.css.map */