.input-group {
  position: relative;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  & .form-control {
    width: 90%;
  }
  & .with-clear {
    border-right: 0;
    width: 70%;
  }
}
.input-group .form-control,
.input-group-addon,
.input-group-btn {
  float: left;
  padding: .375rem .75rem;
  margin-bottom: 0;
  height: auto;
  line-height: 2rem;
  border: 1px solid $color-border;
  white-space: nowrap;
}
.input-group-addon {
  border-right: 0;
  width: 10%;
  font-size: 1rem;
  font-weight: 400;
  color: $color-text-link;
  text-align: center;
}
.input-group-btn {
  cursor: pointer;
  border-left: 0;
  color: $color-text-link;
  text-transform: uppercase;
  font-size: $font-size-small;
  width: 20%;
}