<div class="input-group">
  <div class="input-group-addon">
    <i class="icon icon-map-marker"></i>
  </div>
  <input type="text" class="form-control">
  <button class="input-group-btn">Clear</button>
</div>
