body.page-node-type-landing .region-content { margin-left: auto !important; margin-right: auto !important; max-width: calc(100% - (1rem * 2)); }
@media (min-width: 768px) {body.page-node-type-landing .region-content { padding-left: initial; padding-right: initial; max-width: calc(100% - ((8.33333% - 1.14286rem) * 2)); width: 100%; } }
body.page-node-type-landing .header { z-index: 300; }
