<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ur-one-app</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ur-one-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <h1>this is a test</h1>
      <div>
        <hello-world msg="Welcome to Your Vue.js + TypeScript App and this is another test"/>
      </div>
      <h5>this is the bottom</h5>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
