{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<vueml-slide>
    <div class="equipment-type__container">
        <div class="equipment-type" style="background-color: #edf8ff">
            <div>
                <h3>{{ 'Exclusive rates, only online.'|trans }}</h3>
                <div>{{ 'Rent equipment online to access exclusive web rates on all your rentals.'|trans }}</div>
            </div>
            <q-icon style="margin-top: auto" icon-name="search-dollar-solid" size="small" />
        </div>
    </div>
</vueml-slide>

{% for row in rows %}
    <vueml-slide{{ row.attributes.addClass(row_classes) }}>
  {{ row.content }}
    </vueml-slide>
{% endfor %}
