<template>
  <div v-if="!hasEstimate" :class="{'shimmer': !hasEstimate}" class="quote-component-shimmer"/>
  <div v-else>
    <div class="sidebar-items">
      <div class="totals-mobile" @click="toggleOpen">
        <span class="title">{{ $i18n('reservationView.totalEst') }}</span>
        <span class="total">
          {{ totalAmt | decimalCurrency }}
          <i class="icon icon-angle-down"></i>
        </span>
      </div>
      <div class="convert-quote-btn-summary-sidebar" v-if="small || medium"  v-show="showButton">
        <button @click.prevent="convertQuote()" v-show="showButton" class="btn btn-style--primary btn-size--regular group-full">
          {{ $i18n('reservationView.btnConvertQuote') }}
        </button>
      </div>

      <div class="line-item-container" :style="{'max-height': openHeight + 'px'}">
        <p v-for="(item, key) in quoteItems" :key="key" class="line-item">
          <span>{{ item.dalDescription }}</span>
          <span>{{ rentalAmount(item.catClass) | decimalCurrency }}</span>
        </p>
        <p class="line-item" v-if="!hideRppLineItem">
          <span>
            {{ $i18n('cart.dwamt') }}
            <ur-tooltip message="cart.rppDisclaimer"></ur-tooltip>
          </span>
          <span>
            {{ damageWaiverFee | decimalCurrency }}
          </span>
        </p>
        <p class="line-item">
          <span v-if="quote.urDeliver">{{ $i18n('reservationView.urDelivery') }}</span>
          <span v-else>{{ $i18n('reservationView.userPickup') }}</span>
          <span>
            {{ totalDelAmount | decimalCurrency }}
          </span>
        </p>
        <p class="line-item">
          <span>
            {{ $i18n('reservationView.environmentFee') }}
          </span>
          <span>
            {{ totalEnvAmount | decimalCurrency }}
          </span>
        </p>
        <p class="line-item">
          <span v-if="quote.pickup">{{ $i18n('reservationView.urPickup') }}</span>
          <span v-else>{{ $i18n('reservationView.userDropOff') }}</span>
          <!-- todo: this is not the finest bit of code and should be improved when time allows -->
          <span v-if="quote.pickup">
            {{ totalPuAmount | decimalCurrency }}
          </span>
          <span v-else>
            {{ 0 | decimalCurrency }}
          </span>
        </p>
        <p class="line-item" v-if="totalMiscCharges">
          <span>{{ $i18n('reservationView.miscCharges') }}</span>
          <span>
            {{ totalMiscCharges | decimalCurrency }}
          </span>
        </p>
        <p class="line-item">
          <span>
            {{ $i18n('cart.tax') }}
          </span>
          <span>
            {{ totalTaxAmt | decimalCurrency }}
          </span>
        </p>
      </div>


      <div class="totals">
        <span class="total-estimate">
          {{ $i18n('reservationView.totalEst') }}
        </span>
        <div v-if="loading" class="object-listing-spinner">
          <ur-loading-spinner></ur-loading-spinner>
        </div>
        <span v-else class="total-price">
          {{ totalAmt | decimalCurrency }}
        </span>
      </div>
    </div>
    <div class="convert-quote-btn-summary-sidebar" v-if="!small && !medium">
      <button @click.prevent="convertQuote()" v-show="showButton" class="btn btn-style--primary btn-size--regular group-full desktop-view" :disabled="ctaActive">
        {{ $i18n('reservationView.btnConvertQuote') }}
      </button>
    </div>
  </div>
</template>

<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';
  import { isEmpty, get } from 'lodash';
  import UrTooltip from '@/components/common/ur-tooltip.vue';

  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  export default {
    components: {
      UrLoadingSpinner,
      UrTooltip,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      showButton() {
        let show = true;
        if (this.transTypeId === 'R') {
          show = false;
        }
        if (this.accountRequirePo === 'V') {
          show = false;
        }
        if (this.$route.path.indexOf('convert-quote') > -1) {
          show = false;
        }
        return show;
      },
      hasEstimate() {
        return !isEmpty(this.estimate) && !isEmpty(get(this.estimate, ['items'], []));
      },
      catClass() {
        return !isEmpty(this.estimate)
          ? Object.keys(this.estimate.items)[0]
          : '';
      },
      totalAmt() {
        if (this.hasEstimate) {
          const {
            totalRentalAmount, environmentFee, tax, damageWaiverFee, deliveryFee, pickupFee, miscellaneousFees,
          } = this.estimate.totals;
          return totalRentalAmount + environmentFee + tax + damageWaiverFee + deliveryFee + pickupFee + miscellaneousFees;
        }
        return 0;
      },
      totalTaxAmt() {
        return get(this.estimate, ['totals', 'tax'], 0);
      },
      totalDelAmount() {
        return get(this.estimate, ['totals', 'deliveryFee'], 0);
      },
      totalEnvAmount() {
        return get(this.estimate, ['totals', 'environmentFee'], 0);
      },
      totalPuAmount() {
        return get(this.estimate, ['totals', 'pickupFee'], 0);
      },
      totalMiscCharges() {
        return get(this.estimate, ['totals', 'miscellaneousFees'], 0);
      },
      damageWaiverFee() {
        return get(this.estimate, ['totals', 'damageWaiverFee'], 0);
      },
    },
    name: 'object-details-summary-sidebar',
    methods: {
      rentalAmount(catClass) {
        return this.estimate.items[catClass].total;
      },
      toggleOpen() {
        this.isOpen = !this.isOpen;
        this.openHeight = this.isOpen
          ? 600
          : 0;
      },
      convertQuote() {
        // test if the user is certain
        const id = this.$route.params.quoteId;
        this.$router.push(`/convert-quote/${id}/${this.defaultAccountId}`);
      },
    },
    data() {
      return {
        isOpen: false,
        openHeight: 0,
      };
    },
    props: {
      transTypeId: String,
      quote: Object,
      quoteItems: Array,
      estimate: Object,
      loading: Boolean,
      hideRppLineItem: Boolean,
      ctaActive: Boolean,
      accountRequirePo: String,
    },
  };
</script>
