<template>
  <div v-if="small" class="platform-account-reservation-details-delivery-pickup">
    <div v-if="input.transTypeId === 'Q'" class="group-full edit-quote-delivery-pickup-method-selector">
      <delivery-select
        estimatedDeliveryFee="0"
        :value="input.delivery === 'Y'"
        @change="newDeliveryMethod"/>
    </div>
    <!-- IT's not in designs for Convert Quote but on Edit Quotes -->
    <div class="group-full">
      <p v-if="input.delivery === 'Y'">
        <strong>{{ $i18n('reservationView.urDelivery') }}</strong>
      </p>
      <p v-else>
        <strong>{{ $i18n('reservationView.userPickup') }}</strong>
      </p>
    </div>
    <div class="calendar_container">
      <ur-calendar
        :base-class="showInputError ? 'input-error' : ''"
        :selected-moment="dateObject"
        :min-date="min"
        :disableWeekends="disableWeekends"
        :satOff="satOff"
        :sunOff="sunOff"
        :label="input.delivery === 'Y' ? $i18n('checkout.deliveryDate') : $i18n('checkout.pickupDate')"
        @date-select="newDeliveryDate"
        class="calendar_start"
      ></ur-calendar>
    </div>
    <div>
      <start-time-select
        :block="{delivery: input.delivery === 'Y', startMoment: dateObject}"
        :selectedStartMoment="dateObject"
        :value="startTime"
        :converted-date="convertedDate"
        :branch-times="input.openHours"
        @fireTimeError="fireTimeError"
        @change="newDeliveryTime"
      ></start-time-select>
    </div>
    <div v-if="input.transTypeId === 'Q'" class="platform-account-reservation-details-delivery-pickup__container">
      <edit-quote-branch-selector
        v-if="input.delivery === 'N'"
        :branch-id="branchId"
        :baseUrl="baseUrl"
        :requisitionIdOfBlock="input.requisitionId">
      </edit-quote-branch-selector>
    </div>
  </div>

  <div v-else class="platform-account-reservation-details-delivery-pickup__container">
    <div v-if="input.transTypeId === 'Q'" class="inner-column_tree-column edit">
      <delivery-select
        estimatedDeliveryFee="0"
        :value="input.delivery === 'Y'"
        @change="newDeliveryMethod"/>
    </div>
    <!-- We need to leave this blank div here for styling and design  -->
    <div class="group-full"></div>
    <!-- ----------------------------------------------------------- -->
    <div class="inner-column_five-column edit edit-quote-calendar calendar_container">
      <ur-calendar
        :base-class="showInputError ? 'input-error' : ''"
        :selected-moment="dateObject"
        :min-date="min"
        :label="input.delivery === 'Y' ? $i18n('checkout.deliveryDate') : $i18n('checkout.pickupDate')"
        :disableWeekends="disableWeekends"
        :satOff="satOff"
        :sunOff="sunOff"
        @date-select="newDeliveryDate"
        class="calendar_start"
      ></ur-calendar>
    </div>
    <div class="inner-column_five-column edit">
      <start-time-select
        :block="{delivery: input.delivery === 'Y', startMoment: dateObject}"
        :selectedStartMoment="dateObject"
        :value="startTime"
        :converted-date="convertedDate"
        :branch-times="input.openHours"
        @fireTimeError="fireTimeError"
        @change="newDeliveryTime"
      ></start-time-select>
    </div>
    <div v-if="input.transTypeId === 'Q'">
      <edit-quote-branch-selector
        v-if="input.delivery === 'N'"
        :branch-id="branchId"
        :baseUrl="baseUrl"
        :requisitionIdOfBlock="input.requisitionId"/>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex';
  import { dateFormat } from '@/utils';
  import { isEmpty } from 'lodash';

  import UrCalendar from '@/components/common/ur-calendar.vue';
  import StartTimeSelect from '@/components/cart/reservation-block/delivery-pickup/start-time-select.vue';
  import DeliverySelect from '@/components/cart/reservation-block/delivery-pickup/delivery-select.vue';
  import EditQuoteBranchSelector from '@/components/platform-account/quotes/edit-quote/edit-quote-branch-selector.vue';

  export default {
    name: 'object-details-delivery',
    components: {
      StartTimeSelect,
      UrCalendar,
      DeliverySelect,
      EditQuoteBranchSelector,
    },
    data() {
      return {
        startTime: '',
      };
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        newBranchData(state) {
          return Object.values(state.quotes.newBranchAndDatesUpdate);
        },
        resetBranch: state => state.quotes.resetBranchAndDatesUpdate,
      }),
      branchId() {
        if (this.newBranchData.length > 0 && !this.resetBranch) {
          return this.newBranchData[0];
        }
        return this.input.branchId;
      },
      dateObject() {
        return this.date;
      },
      disableWeekends() {
        return isEmpty(this.sunHours) && isEmpty(this.satHours);
      },
      satOff() {
        return isEmpty(this.satHours);
      },
      sunOff() {
        return isEmpty(this.sunHours);
      },
    },
    methods: {
      newDeliveryDate(value) {
        const newDate = value.set('hour', this.dateObject.hour()).format();
        this.handleEmit('new-delivery-date', newDate);
      },
      newDeliveryTime(value) {
        const newHour = value.substring(0, value.indexOf(':'));
        const newMinute = value.substring(value.indexOf(':') + 1);
        const newDate = this.dateObject.set({
          hour: newHour,
          minute: newMinute,
        }).format(dateFormat.iso);
        this.handleEmit('new-delivery-date', newDate);
      },
      newDeliveryMethod(value) {
        this.handleEmit('new-delivery-method', value);
      },
      handleEmit(type, value) {
        this.$emit('change', { type, value });
      },
      fireTimeError(value) {
        // pushes up the value to fire the error if value is 0.
        this.$emit('fireTimeError', value);
      },
    },
    mounted() {
      this.startTime = this.dateObject.format('HH:mm');
    },
    watch: {
      newBranchData() {
        if (this.newBranchData.length) {
          this.handleEmit('new-branch-id', this.newBranchData[0]);
        }
      },
    },
    props: {
      input: Object,
      date: Object,
      baseUrl: String,
      showInputError: Boolean,
      convertedDate: Object,
      min: Object,
      satHours: Object,
      sunHours: Object,
    },
  };
</script>
