<template>
  <div class="platform-account-reservation-details-req-codes no-border">
    <div v-if="small"></div>
    <div v-else class="group-left"><p class="section_name">
      <!--Leave the group-left wrapper div even if there is no text to keep-->
      <!--alignments consistent on the page. -->
    </p></div>

    <div class="group-right border-top">
      <h4>{{ $i18n('reservationView.reqCodes') }}</h4>
      <div class="platform-account-reservation-details-req-codes__container">
        <template v-for="code in requisitionCodes">
          <div class="inner-column_codes" :key="code.id" v-if="code.valueList">
            <p class="inner-label">{{ code.title }}</p>
            <p>{{ code.valueList[0].allocationValue }}</p>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';

  export default {
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
        'getRequisitionCodes',
      ]),
      ...mapState({
        readReservationDetails: state => state.readReservationDetails.all,
        reservationDetails() {
          return this.readReservationDetails[this.$route.params.requisitionId]
            || this.readReservationDetails[this.requisition.quoteId] || {};
        },
        requisitionCodes(state) {
          const codes = Object.values(state.accountingRequisitionCodes.all[this.$route.params.requisitionId]
            || state.accountingRequisitionCodes.all[this.requisition.quoteId] || {})
            .filter(({ codeType }) => codeType === 'R');
          return codes;
        },
      }),
    },
    name: 'object-details-req-codes',
    props: {
      requisition: Object,
    },
  };
</script>
