<template>
  <div class="platform-account-reservation-details-accounting-codes" v-if="accountingCodes">
    <div v-if="small"></div>
    <div v-else class="group-left"><p class="section_name">
      <!--Leave the group-left wrapper div even if there is no text to keep-->
      <!--alignments consistent on the page. -->
    </p></div>

    <div class="group-right border-top">
      <template v-if="accountingCodes === 0">
        <h2><ur-loading-spinner class="icon-button"></ur-loading-spinner></h2>
      </template>
      <template v-else>
        <h4>{{ $i18n('reservationView.accCodes') }}</h4>
        <template v-for="(set, sKey) in accountingCodes">
            <div :key="sKey" class="platform-account-reservation-details-req-codes__container">
              <div class="inner-column_codes" v-for="(field, fKey) in set" :key="fKey">
                <p class="inner-label">{{ field.title }}</p>

                <p v-if="field.percent">{{ field.value }}%</p>
                <p v-else-if="field.startDate">{{ field.value | momentSlashFormat }}</p>
                <p v-else>{{ field.value }}</p>

              </div>
              <div class="inner-column_codes">
                <p class="inner-label">{{ $i18n('reservationView.rpp') }}</p>
                <p>{{ reservationDetails.rpp ? $i18n('reservationView.accepted') : $i18n('reservationView.declined') }}</p>
              </div>
            </div>
          </template>
      </template>
    </div>
  </div>
</template>
<script type="text/babel">
  import { mapGetters, mapState } from 'vuex';
  import { find, groupBy } from 'lodash';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';

  export default {
    components: {
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters([
        'small',
        'medium',
        'large',
      ]),
      ...mapState({
        readReservationDetails: state => state.readReservationDetails.all,
        reservationDetails() {
          return this.readReservationDetails[this.$route.params.requisitionId]
            || this.readReservationDetails[this.$route.params.quoteId] || {};
        },
        accountingCodes(state) {
          if (!this.requisition || (this.transTypeId === 'R' && !this.requisition.reservationId && !this.requisition.requisitionId)
              || (this.transTypeId === 'Q' && !this.requisition.quoteId)) {
            return;
          }

          const codes = Object.values(state.accountingRequisitionCodes.all[this.requisition.reservationId || this.requisition.requisitionId]
            || state.accountingRequisitionCodes.all[this.requisition.quoteId] || {})
            .filter(({ codeType }) => codeType === 'A');

          const valueLists = codes.reduce((list, code) => list.concat(code.valueList ? code.valueList : []), []);
          const data = valueLists.reduce((rows, list) => {
            rows.push({
              splitStartDate: list.splitStartDate,
              splitPerc: list.splitPerc,
              title: (find(codes, code => code.id === list.allocationId) || {}).title,
              value: list.allocationValue,
            });
            return rows;
          }, []);

          const groupedData = groupBy(data, field => `${field.splitStartDate} ${field.splitPerc}`);
          Object.values(groupedData).forEach((fieldSet) => {
            fieldSet.push({
              title: this.$i18n('reservationView.percentage'),
              value: (fieldSet[0].splitPerc) * 100,
              percent: true,
            });
            fieldSet.push({
              title: this.$i18n('reservationView.startDate'),
              value: fieldSet[0].splitStartDate,
              startDate: true,
            });
          });

          return groupedData;
        },
      }),
    },
    props: {
      transTypeId: String,
      requisition: Object,
    },
  };
</script>
