<template>
  <div>
    <label>{{ $i18n('reservationView.qty') }}:</label>
    <quantity-selector
      class="more_less_buttons"
      :quantity="quantity"
      :rateEach="rateEach"
      @decrement="update"
      @increment="update"
      @change="update"
    />
  </div>
</template>
<script type="text/babel">
  import QuantitySelector from '@/components/common/quantity-selector.vue';

  export default {
    components: {
      QuantitySelector,
    },
    methods: {
      update(newQuantity) {
        this.$emit('change', { catClass: this.catClass, quantity: newQuantity });
      },
    },
    name: 'TransactionQuantitySelector',
    props: {
      quantity: Number,
      catClass: String,
      rateEach: Number,
    },
  };
</script>
