<template>
  <section class="flex-column flex-gap-10">
    <div class="flex-column flex-gap-2  section-title-container">
      <h3 v-if="isPickup" class="m-0">
        {{ isPickup ? $i18n('workplace.choosePickupTime') : $i18n('workplace.selectReturnDate') }}
      </h3>
    </div>
    <div class="flex-column flex-gap-10 m-b-10">
      <div class="flex-row flex-gap-10 left-label-container rental-start">
        <span class="left-label">
          {{ $i18n('workplace.rescheduleRequest.rentalStart') }}
        </span>
        <span>
          {{ originalStartDateTime | momentSlashFormat }} {{ originalStartDateTime | momentShortTime }}
        </span>
      </div>
      <div class="flex-row flex-gap-10 left-label-container">
        <span class="left-label">
          {{ $i18n('workplace.rescheduleRequest.originalReturn') }}
        </span>
        <span>
          {{ originalReturnDateTime | momentSlashFormat }} {{ originalReturnDateTime | momentShortTime }}
        </span>
      </div>
    </div>
    <div class="flex-row flex-gap-10 input-wrapper">
      <div class="calendar_container m-0">
        <ur-calendar
          :label="isRequestingPickup ? $i18n('workplace.rescheduleRequest.pickupDate') : $i18n('workplace.extendContract')"
          :minDate='minDate'
          :satOff='false'
          :sunOff='false'
          :watchMoment='true'
          :disableWeekends='false'
          class='calendar_start'
          :selectedMoment='selectedDateTime'
          @date-select='onCalendarChange($event)'
      />
      </div>
      <ur-select
        :label="$i18n('checkout.time')"
        :suppressEmptyOption="true"
        :value="selectedDateTime.toISOString()"
        @change="setSelectedTime($event)">
        <template v-for="(option, idx) in dateTimeOptions">
          <option v-if="option.enabled" :key="idx" :value="option.iso">
            <template v-if="option.isNow">
              {{ $i18n('checkout.now') }}
            </template>
            <template v-else>
              {{ option.iso | momentShortTime }}
            </template>
          </option>
        </template>
      </ur-select>
    </div>
    <span class="fs-small">
      {{ $i18n('workplace.rescheduleRequest.noteRentalDays') }}
    </span>
  </section>

</template>

<style lang="scss" scoped>
@import './reschedule-request-modal.scss';
@import '~breakpoint-sass/stylesheets/breakpoint';

$_break-small: 768px;
$_break-medium: 1024px;
$_break-large: 1440px;
$_break-xlarge: 1920px;

.left-label {
  @extend %left-label;
}
.input-wrapper {
  max-width: 436px;
  display: block !important;

  & > * {
    flex-basis: 50%;
  }

  & /deep/ .ur-select, & /deep/ .ur-calendar {
    display:inline;
  }

  & /deep/ .ur-calendar {
    margin-right:0px;
    margin-bottom:0.6rem !important;
    label{
      margin-top:4px;
      margin-bottom:4px;
    }
    span, span input {
      height: 40px;
    }

    span {
      width:100%;
      & input {
        padding-left: 36px;
        border-radius: 4px;
      }

      // Add a down arrow to the right side of the calendar
      &::before {
        content: "\f107";
        bottom: 0;
        font-family: icomoon;
        font-size: $font-size-large;
        height: $icon-size-x-small;
        margin: auto 0;
        pointer-events: none;
        position: absolute;
        right: 14px;
        top: 0;
        z-index: 1;
      }

      // Restyle the calendar icon on the left side
      &::after {
        color: $gray-dark;
        height: $icon-size-xx-small;
        font-size: $font-size-small;
        left: 14px;
        right: auto;
      }
    }
  }

  & /deep/ .ur-select {
    height: 40px;

    label{
      margin-top:4px;
      margin-bottom:4px;
    }

    select {
      height: 40px;
      border-radius: 4px;
    }

    i {
      color: $gray-dark;
      font-size: $font-size-large;
      height: $icon-size-x-small;
      right: 14px;
    }
  }
}

.flex-row.flex-gap-10.left-label-container.rental-start{
  margin-bottom:0.6rem !important;
}

.flex-row.flex-gap-10.left-label-container {
     display: block !important;
  span{
    display:block;
    margin-bottom:0.6rem;
  }
}

@include breakpoint($_break-small) {

  .input-wrapper {
    margin-bottom:0.5rem !important;
    display: flex !important;
    & /deep/ .ur-select {
      margin-left: 0.8rem;
    }

    & /deep/ .ur-calendar {
      margin-bottom: 0rem !important;
    }
  }
  .flex-row.flex-gap-10.left-label-container{
    margin-bottom:0.2rem !important;
    .left-label{
      width:8.5rem;
    }
  }
  .flex-row.flex-gap-10.left-label-container.rental-start{
    margin-bottom:0.2rem !important;
  }
  .flex-row.flex-gap-10.left-label-container {
    display: flex !important;
    span{
      display:inline;
    }
  }
}

</style>

<script lang="ts" src="./datetime-select.ts"></script>
