<template>
  <modal-frame class="reschedule-request-modal" :class="hasSubmissionError? 'has-submission-error' : ''"
               :padding="false" :mainClasses="{ 'flex-row': true }"
               :contentClasses="{ 'flex-row': true, 'grow': true }">

    <!-- Header -->
    <template slot="header">
      <div>
        <h3>
          <span v-if="isPickup">
            {{ $i18n('workplace.requestEquipmentPickup') }} •
          </span>
          <span v-else-if="isExtension">
            {{ $i18n('workplace.extendContract') }} •
          </span>
          <span>
            {{ $i18n('workplace.contract') }} #{{ transId }}
          </span>
        </h3>
        <p>{{ accountName }} • #{{ accountId }}
        </p>
      </div>
    </template>
    <!-- /Header -->

    <!-- Content -->
    <template slot="content" v-if="requestIsInitialized">
      <div class="w-100">
        <div v-if="requestSubmissionInProgress"
             class="fill flex-column bgc-white flex-gap-10 align-center m-0 p-20 spinner-container">
          <ur-loading-spinner/>
          <h3 v-if="!requestFetchingInProgress" class="text-center">
            {{ $i18n('workplace.submittingRequest') }}
          </h3>
          <h3 v-else class="text-center">
            {{ $i18n('workplace.rescheduleRequest.gatheringConfirmationInformation') }}
          </h3>
        </div>
        <div v-else class="flex-column flex-gap-20 grow no-shrink border-r-normal">
          <equipment-select-list/>
          <datetime-select class="datetime-select" :class="{'border-b-normal': isPickup}"/>
          <location-details :bus="bus" :class="{'editing':editingLocationDetails}"
                            :editingLocationDetails.sync="editingLocationDetails" v-if="isPickup"
                            class="border-b-normal location-details"/>
          <email-recipients :bus="bus" v-if="isPickup"/>
        </div>
      </div>
    </template>

    <template slot="content" v-else>
      <div class="flex-column flex-gap-20 w-100 align-items-center spinner-container">
        <ur-loading-spinner/>
        <h3 class="text-center">
          {{ $i18n('workplace.rescheduleRequest.gatheringInformation') }}
        </h3>
      </div>
    </template>
    <!-- /Content -->

    <!-- Footer -->
    <template v-if="!requestSubmissionInProgress" slot="footer">
      <div class="flex-row justify-space-between m-0 grow align-center">
        <span class="footer-message grow p-y-10 w-50" v-if="hasSubmissionError">
                  <ur-error-label class="m-l-10 grow" :message="submissionError"/>
        </span>
        <div class="buttons-container">
          <button class="button button--style-2 button--secondary" href="/" @click="close()">
            {{ $i18n('ur.cancel') }}
          </button>
          <button v-if="isExtension" class="button button--style-2 button--filled" :disabled="!enableSubmitButton" @click="onSubmitExtensionClicked">
            {{ $i18n('workplace.extendContract') }}
          </button>
          <button v-if="isPickup" class="button button--style-2 button--filled" :disabled="!enableSubmitButton" @click="onSubmitPickupClicked">
            {{ $i18n('workplace.requestPickup') }}
          </button>
        </div>
      </div>
    </template>
    <!-- /Footer -->

  </modal-frame>

</template>

<style lang="scss">@import './reschedule-request-modal.scss';</style>

<script lang="ts" src="./reschedule-request-modal.ts"></script>
