.term--view-mode-card h3 {
  margin: 0;
}

@media (min-width: 1024px) {
  .term--view-mode-card h3 {
    margin: 0.5rem 0 0;
  }
}

.term--view-mode-card > a { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); bottom: 0; left: 0; position: absolute; right: 0; top: 0; background-color: transparent; border-radius: 0.28571rem; font-size: 0; z-index: 5; }

.term--view-mode-card > a:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

.term--view-mode-card header { overflow: hidden; width: 100%; }

.term--view-mode-card header a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; display: block; position: relative; z-index: 40; }

.term--view-mode-card header a:hover, .term--view-mode-card header a:active, .term--view-mode-card header a:focus { font-style: normal; text-decoration: none; }

.term--view-mode-card header a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.term--view-mode-card header a::before, .term--view-mode-card header a::after { line-height: 1; vertical-align: -0.2376em; }

.term--view-mode-card header a:empty::before, .term--view-mode-card header a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.term--view-mode-card header a:hover { color: #008CFF; }

.term--view-mode-card header a:active { color: #002F55; }

.term--view-mode-card header a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.term--view-mode-card header a[disabled], .term--view-mode-card header a.link-btn--disabled { color: #72777E; pointer-events: none; }

.term--view-mode-card header a[disabled]::before, .term--view-mode-card header a[disabled]::after, .term--view-mode-card header a.link-btn--disabled::before, .term--view-mode-card header a.link-btn--disabled::after { color: #DDE0E2; }

.term--view-mode-card header a:empty { padding: 0.57143rem; }

.term--view-mode-card header a:empty::before, .term--view-mode-card header a:empty::after { font-size: 1.71429rem; }

@media (min-width: 1024px) { .term--view-mode-card header a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; } }

@media (min-width: 1440px) { .term--view-mode-card header a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; line-height: 1.25; } }
