/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
/** Component */
.term--view-mode-card-tile { background-color: #FFFFFF; color: #72777E; display: flex !important; padding: 0.57143rem; position: relative; }

.term--view-mode-card-tile a { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); bottom: 0; left: 0; position: absolute; right: 0; top: 0; background-color: transparent; border-radius: 0.28571rem; font-size: 0; z-index: 5; }

.term--view-mode-card-tile a:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

.term--view-mode-card-tile h2 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; line-height: 1.33; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: block; display: -webkit-box; height: calc(3 * (0.85714rem * (1.33 + 0.05))); overflow: hidden; text-overflow: ellipsis; color: inherit; }

@media (min-width: 1024px) { .term--view-mode-card-tile h2 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 3; display: block; display: -webkit-box; height: calc(3 * (1rem * (1.43 + 0.05))); overflow: hidden; text-overflow: ellipsis; margin-right: 1.14286rem; } }

.term--view-mode-card-tile h3:empty { display: none; }

.term--view-mode-card-tile .media--type-icon { margin: 0; }

.term--view-mode-card-tile .field--type-image { height: 2.85714rem; }

@media (min-width: 1024px) { .term--view-mode-card-tile .field--type-image { height: 3.71429rem; } }

.term--view-mode-card-tile .field--type-image svg { height: 2.85714rem; overflow: hidden; padding: 0; width: 2.85714rem; }

@media (min-width: 1024px) { .term--view-mode-card-tile .field--type-image svg { height: 3.71429rem; width: 3.71429rem; } }

.term--view-mode-card-tile .term__content { align-self: flex-end; margin-left: auto; padding-top: 1.14286rem; }

@media (min-width: 1024px) { .term--view-mode-card-tile .term__content { padding-top: 1.71429rem; } }

@media (min-width: 1440px) { .term--view-mode-card-tile .term__content { padding-top: 1.14286rem; } }

/*# sourceMappingURL=../../maps/libraries/card/card--tile.css.map */
