.term--view-mode-full-bleed-card footer a { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; display: block; position: relative; z-index: 5; }

.term--view-mode-full-bleed-card footer a:hover, .term--view-mode-full-bleed-card footer a:active, .term--view-mode-full-bleed-card footer a:focus { font-style: normal; text-decoration: none; }

.term--view-mode-full-bleed-card footer a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.term--view-mode-full-bleed-card footer a::before, .term--view-mode-full-bleed-card footer a::after { line-height: 1; vertical-align: -0.2376em; }

.term--view-mode-full-bleed-card footer a:empty::before, .term--view-mode-full-bleed-card footer a:empty::after { display: block; margin: 0; vertical-align: inherit; }

.term--view-mode-full-bleed-card footer a:hover { color: #008CFF; }

.term--view-mode-full-bleed-card footer a:active { color: #002F55; }

.term--view-mode-full-bleed-card footer a:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.term--view-mode-full-bleed-card footer a[disabled], .term--view-mode-full-bleed-card footer a.link-btn--disabled { color: #72777E; pointer-events: none; }

.term--view-mode-full-bleed-card footer a[disabled]::before, .term--view-mode-full-bleed-card footer a[disabled]::after, .term--view-mode-full-bleed-card footer a.link-btn--disabled::before, .term--view-mode-full-bleed-card footer a.link-btn--disabled::after { color: #DDE0E2; }

.term--view-mode-full-bleed-card footer a:empty { padding: 0.57143rem; }

.term--view-mode-full-bleed-card footer a:empty::before, .term--view-mode-full-bleed-card footer a:empty::after { font-size: 1.71429rem; }

@media (min-width: 1024px) { .term--view-mode-full-bleed-card footer a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; } }

@media (min-width: 1440px) { .term--view-mode-full-bleed-card footer a { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.14286rem; line-height: 1.5; line-height: 1.25; } }

