.node--view-mode-image-cards header { color: #fff; }
.node--view-mode-image-cards header h2 { color: #fff; margin-top: 0.85714rem; margin-bottom: 0; }
.node--view-mode-image-cards header h3 { color: #fff; margin: 0; }
.node--view-mode-image-cards header p { color: #fff; margin: 0.28571rem 0 0; }
