/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
@media (min-width: 1024px) { .view-company-cards .view-content { margin: 0; padding: 0; margin-left: -0.57143rem; margin-right: -0.57143rem; padding-left: 0.57143rem; margin-bottom: -0.57143rem; margin-top: -0.57143rem; padding-top: 0.57143rem; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }
  .view-company-cards .view-content > * { background-clip: padding-box; border: 0 solid transparent; } }

@media (min-width: 1024px) and (min-width: 768px) { .view-company-cards .view-content { margin-left: -1.14286rem; margin-right: -1.14286rem; padding-left: 1.14286rem; } }

@media (min-width: 1024px) { .view-company-cards .view-content > * { border-right-width: 0.57143rem; } }

@media (min-width: 1024px) and (min-width: 768px) { .view-company-cards .view-content > * { border-right-width: 1.14286rem; } }

@media (min-width: 1024px) and (min-width: 768px) { .view-company-cards .view-content { margin-bottom: -1.14286rem; margin-top: -1.14286rem; padding-top: 1.14286rem; } }

@media (min-width: 1024px) { .view-company-cards .view-content > * { border-bottom-width: 0.57143rem; } }

@media (min-width: 1024px) and (min-width: 768px) { .view-company-cards .view-content > * { border-bottom-width: 1.14286rem; } }

@media (min-width: 1024px) { .view-company-cards .views-row { flex-basis: calc((6 / 12) * 100%); max-width: calc((6 / 12) * 100%); } }

.view-company-cards .views-row:nth-child(even) .node--view-mode-image-cards { background-color: #002F55; }

@media (min-width: 1024px) { .view-company-cards .views-row:nth-child(even) .node--view-mode-image-cards { background-color: #0050A9; } }

@media (min-width: 1024px) { .view-company-cards .views-row:nth-child(3n+1) .node--view-mode-image-cards { background-color: #002F55; } }

.node--view-mode-image-cards { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); align-items: flex-end; background-color: #0050A9; border-radius: 0.28571rem; display: flex; height: 12.85714rem; overflow: hidden; padding: 1.14286rem; position: relative; }

.node--view-mode-image-cards:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

@media (min-width: 768px) { .node--view-mode-image-cards { padding: 1.14286rem 2.57143rem 1.14286rem 1.71429rem; } }

@media (min-width: 1024px) { .node--view-mode-image-cards { padding-right: 3.71429rem; } }

@media (min-width: 1440px) { .node--view-mode-image-cards { height: 17.42857rem; padding-right: 5.14286rem; } }

.node--view-mode-image-cards .node__content img { bottom: 0; left: 0; position: absolute; right: 0; top: 0; border-radius: 0.28571rem; height: 100%; -o-object-fit: cover; object-fit: cover; width: 100%; }

.node--view-mode-image-cards .node__content::before { bottom: 0; left: 0; position: absolute; right: 0; top: 0; background: linear-gradient(rgba(65, 75, 80, 0), #414B50); border-radius: 0.28571rem; content: ''; display: block; mix-blend-mode: multiply; z-index: 2; }

.node--view-mode-image-cards > a { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); bottom: 0; left: 0; position: absolute; right: 0; top: 0; background-color: transparent; border-radius: 0.28571rem; font-size: 0; z-index: 5; }

.node--view-mode-image-cards > a:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

.node--view-mode-image-cards header { color: #FFFFFF; position: relative; z-index: 3; }

.node--view-mode-image-cards header h3 { font-size: 0.85714rem; text-transform: uppercase; }

@media (min-width: 1024px) { .node--view-mode-image-cards header h3 { font-size: 1rem; } }

@media (min-width: 1440px) { .node--view-mode-image-cards header h3 { font-size: 1.14286rem; } }

.node--view-mode-image-cards header h2 { font-size: 1rem; margin-top: 0.57143rem; }

@media (min-width: 1024px) { .node--view-mode-image-cards header h2 { font-size: 1.14286rem; } }

@media (min-width: 1440px) { .node--view-mode-image-cards header h2 { font-size: 1.57143rem; margin-top: 0.85714rem; } }

.node--view-mode-image-cards header p { display: none; font-size: 0.85714rem; margin-top: 0.28571rem; }

@media (min-width: 1024px) { .node--view-mode-image-cards header p { display: block; } }

/*# sourceMappingURL=../../maps/libraries/card/card--image.css.map */
