/** Globals An import of all abstracts */
/** Vendor For files that need compiling */
/** This themes global styles */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Tier 1: Color Values 1)  Color Values provide the specific hex colors. They are given a name and number to display tints and shades of a color. 2)  These values should never be used directly. Instead use a second-tier applied color. */
/** Tier 2: Applied Colors Applied colors are descriptive of their use. */
/** Root font sizing Top level and function variables */
/** Font families Preferred and fallback font families */
/** Font weights Names for commonly used font weights */
/** Font sizes Base and heading sizes BASE 14 */
/** Line heights */
/** Random sizes Collection of things for mixins or classes */
/** Grid and Grid Gap */
/** Vertical rhythm */
/** Container widths */
/** Directions for utilities */
/** Global Variables */
/** Button RESET Resets <a>, <button>, <input type="submit"> styles to build custom styling @include btn-reset(); */
/** Button DISABLED @include btn-disabled(); */
/** Button BASE Common styles for all button types @include btn-base(); */
/** Button STYLES Specific styles for different button looks @include btn-style(); */
/** Button SIZES Specific sizes for different button needs @include btn-size(); */
/** Buttons Combines base, styles, and sizes @include btn(); Option(s): $style(value = primary | primary-reverse | primary-alternative | secondary | secondary-alternative | attention) default = primary The style of the button $size(value = regular | small | xsmall) default = regular The size of the button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed */
/** Link-Button BASE Common styles for all link-button types @include link-btn-base(); */
/** Link-Button STYLES Specific styles for different link-button looks @include link-btn-style(); */
/** Link-Button SIZES Specific sizes for different link-button needs @include link-btn-size(); */
/** Link-Buttons Combines base, styles, and sizes @include link-btn(); Option(s): $style(value = primary | reverse) default = primary The style of the link-button $size(value = regular | small | xsmall) default = regular The size of the link-button $icon(value = false | filename) default = false The name of the needed icon $icon-position(value = before | after) default = after Where the icon should be placed $icon-color(value = color name) default = currentColor What color the icon should be */
/** Grid gutters switch */
/** Grid gutters IF $gutter-horizontal = true: set the sides gap width IF $gutter-vertical = true: set the top and bottom gap width */
/** Grid parent Sets row up for the grid */
/** Grid columns IF = auto: fits the available space ELSE IF = variable: fits the width of it's content ELSE span the amount of columns provided */
/** Hide Text Hide text while making it readable for screen readers 1. Needed in WebKit-based browsers because of an implementation bug; See: https://code.google.com/p/chromium/issues/detail?id=457146 */
/** Hide Element Hide element while making it readable for screen readers Shamelessly borrowed from HTML5Boilerplate: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133 */
/** Reset List Removes default list styles from <ul>, <ol> Most reused styles between menus as we don't often show the default list style, margin, or padding. */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** Base border styles Common styles for all border types @include border($width, $radius); */
/** Base shadow styles Common styles for all shadow types @include shadow($depth); */
/** No-space Removes the default space, border, and padding place on a component */
.node--type-item.node--view-mode-card { background-color: #FFFFFF; display: flex !important; flex-direction: column; justify-content: space-between; padding: 0.28571rem 0.57143rem 0.57143rem; position: relative; }

@media (min-width: 1024px) { .node--type-item.node--view-mode-card { padding: 1.14286rem; } }

.node--type-item.node--view-mode-card > a { box-shadow: 0 0.14286rem 0.57143rem 0.07143rem rgba(22, 23, 24, 0.16); bottom: 0; left: 0; position: absolute; right: 0; top: 0; background-color: transparent; border-radius: 0.28571rem; font-size: 0; z-index: 5; }

.node--type-item.node--view-mode-card > a:hover { box-shadow: 0 0.28571rem 1.14286rem 0.07143rem rgba(22, 23, 24, 0.16); }

.node--type-item.node--view-mode-card .field--name-field-item-cat-class-code { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 0.71429rem; line-height: 2; color: #72777E; display: flex; }

@media (min-width: 1024px) { .node--type-item.node--view-mode-card .field--name-field-item-cat-class-code { transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; } }

.node--type-item.node--view-mode-card .field--name-field-item-cat-class-code > div { float: none; font-weight: inherit; padding: 0; }

.node--type-item.node--view-mode-card .field--name-field-item-cat-class-code > div:first-child::after { content: ':'; margin-right: 0.25em; }

.node--type-item.node--view-mode-card .js-item-card__cta { background-color: transparent; border: 0 none; border-radius: 0; color: inherit; cursor: pointer; font-style: normal; font-weight: inherit; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; line-height: normal; margin: 0; padding: 0; text-decoration: none; text-transform: none; transition: inherit; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: normal; border-width: 0.07143rem; border-radius: 0.28571rem; cursor: pointer; display: inline-block; font-weight: 700; overflow: hidden; position: relative; text-align: center; transition: all 300ms ease-in-out !important; background-color: #0050A9; transition: font-size 300ms ease-in-out; font-weight: 400; margin-bottom: 0; margin-top: 0; font-size: 1rem; line-height: 1.43; padding: 0.71429rem 0.85714rem; display: none; margin-top: 1.14286rem; width: 100%; }

.node--type-item.node--view-mode-card .js-item-card__cta:hover, .node--type-item.node--view-mode-card .js-item-card__cta:active, .node--type-item.node--view-mode-card .js-item-card__cta:focus { font-style: normal; text-decoration: none; }

.node--type-item.node--view-mode-card .js-item-card__cta:focus { box-shadow: 0 0 0.28571rem 0 #008CFF; outline: 0 none; }

.node--type-item.node--view-mode-card .js-item-card__cta::before, .node--type-item.node--view-mode-card .js-item-card__cta::after { line-height: 1; vertical-align: -0.2376em; }

.node--type-item.node--view-mode-card .js-item-card__cta:empty::before, .node--type-item.node--view-mode-card .js-item-card__cta:empty::after { display: block; margin: 0; vertical-align: inherit; }

.node--type-item.node--view-mode-card .js-item-card__cta[disabled], .node--type-item.node--view-mode-card .js-item-card__cta.btn--disabled { pointer-events: none; background-color: #DDE0E2; }

.node--type-item.node--view-mode-card .js-item-card__cta[disabled], .node--type-item.node--view-mode-card .js-item-card__cta[disabled]:hover, .node--type-item.node--view-mode-card .js-item-card__cta[disabled]:active, .node--type-item.node--view-mode-card .js-item-card__cta[disabled]:focus, .node--type-item.node--view-mode-card .js-item-card__cta.btn--disabled, .node--type-item.node--view-mode-card .js-item-card__cta.btn--disabled:hover, .node--type-item.node--view-mode-card .js-item-card__cta.btn--disabled:active, .node--type-item.node--view-mode-card .js-item-card__cta.btn--disabled:focus { color: rgba(65, 75, 80, 0.4); }

.node--type-item.node--view-mode-card .js-item-card__cta, .node--type-item.node--view-mode-card .js-item-card__cta:hover, .node--type-item.node--view-mode-card .js-item-card__cta:active, .node--type-item.node--view-mode-card .js-item-card__cta:focus { color: #FFFFFF; }

.node--type-item.node--view-mode-card .js-item-card__cta:hover { background-color: #003e7b; }

.node--type-item.node--view-mode-card .js-item-card__cta:active { background-color: #002F55; }

.node--type-item.node--view-mode-card .js-item-card__cta:visited { color: #FFFFFF; }

.node--type-item.node--view-mode-card .js-item-card__cta::before, .node--type-item.node--view-mode-card .js-item-card__cta::after { font-size: 1.42857rem; }

.node--type-item.node--view-mode-card .js-item-card__cta:empty { padding: 0.57143rem; }

.node--type-item.node--view-mode-card .js-item-card__cta:empty::before, .node--type-item.node--view-mode-card .js-item-card__cta:empty::after { font-size: 1.71429rem; }

@media (min-width: 768px) { .node--type-item.node--view-mode-card .js-item-card__cta { display: block; z-index: 6; } }

.node--type-item.node--view-mode-card h2 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 0.85714rem; line-height: 1.66; line-height: 1.33; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (0.85714rem * (1.33 + 0.05))); overflow: hidden; text-overflow: ellipsis; }

@media (min-width: 768px) { .node--type-item.node--view-mode-card h2 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.28571rem; line-height: 1.55; line-height: 1.33; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (1.28571rem * (1.33 + 0.05))); overflow: hidden; text-overflow: ellipsis; } }

@media (min-width: 1024px) { .node--type-item.node--view-mode-card h2 { transition: font-size 300ms ease-in-out; font-weight: 700; margin-bottom: 0; margin-top: 0; font-size: 1.57143rem; line-height: 1.09; /* autoprefixer: ignore next */ -webkit-box-orient: vertical; -webkit-line-clamp: 2; display: block; display: -webkit-box; height: calc(2 * (1.57143rem * (1.09 + 0.05))); overflow: hidden; text-overflow: ellipsis; } }

.node--type-item.node--view-mode-card .node__content .flag { min-height: 1.42857rem; position: relative; text-align: right; }

.node--type-item.node--view-mode-card .node__content .flag a { font-size: 0; position: absolute; z-index: 5; }

.node--type-item.node--view-mode-card .node__content .action-unflag { text-align: right; }

.node--type-item.node--view-mode-card .node__content .action-unflag a { font-size: 0; position: relative; z-index: 5; }

.node--type-item.node--view-mode-card .node__content .action-unflag a::after { background-image: url("/themes/custom/unitedrentals/images/icons/star--color-brand-primary.svg"); background-repeat: no-repeat; background-size: cover; content: ''; display: inline-block; font-size: 1.14286rem; height: 1em; position: absolute; right: 0; width: 1em; }

@media (min-width: 1024px) { .node--type-item.node--view-mode-card .node__content .action-unflag a::after { font-size: 1.71429rem; } }

.node--type-item.node--view-mode-card .node__content .ajax-progress-throbber, .node--type-item.node--view-mode-card .node__content .throbber { display: none; height: 0; margin: 0; padding: 0; width: 0; }

.node--type-item.node--view-mode-card .node__content img { margin-left: auto; margin-right: auto; max-width: 8rem; width: 100%; }

@media (min-width: 768px) { .node--type-item.node--view-mode-card .node__content img { max-width: 14.85714rem; } }

@media (min-width: 1024px) { .node--type-item.node--view-mode-card .node__content img { max-width: 17.42857rem; } }

.node--type-item.node--view-mode-card .node__footer { margin-top: 0.57143rem; }

/*# sourceMappingURL=../../maps/libraries/card/card--item.css.map */
