.location-autocomplete,
.autocomplete {
  .icon {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translate(-50%, -50%);
    color: $color-blue;
  }

  .clearspan {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: $color-blue;
    z-index: 1;
  }

  input[type="text"] {
    margin-bottom: 0px;
    padding-left: 2.5rem;
    margin-top: 0;
    width: 100%;

    &::-ms-clear {
      display: none;
    }

    &.withclear {
      padding-right: 3.25rem;
    }
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .input-wrapper {
    position: relative;
  }

  .suggestions {
    display: block;
    position: absolute;
    width: 100vw;
    margin: 0;
    background: $color-white;
    left: auto;
    height: auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 1rem;
    z-index: 500;
    list-style: none;
    list-style-type: none;

    &::after {
      content: "";
      clear: both;
      display: table;
    }
    & li {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 15px;
      &::before {
        content: "";
      }
    }
    & li:focus,
    & li:hover,
    .selected {
      color: $color-blue-lowlight;
      text-decoration: underline;
      font-weight: bold;
    }

    .searchText {
      font-weight: bold;
      color: $color-blue-lowlight;
    }

    @include breakpoint($break-small) {
      position: absolute;
      left: auto;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
      width: 100%;
      height: auto;
    }
  }
  .active-search-text {
    font-weight: 600;
    color: $color-blue;
  }

  .mobile-spacer {
    background-color: transparent;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 100%;
    left: 0px;
    z-index: -1;
  }
}
