// -----------------------------------------------------------------------------
// Styleguide: Borders
// Sets up a grid and maps the border width and radius to the boxes
// -----------------------------------------------------------------------------

.sg-border-boxes {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(15rem, 1fr));
  justify-content: center;
  margin: 1em 0;
  row-gap: 1rem;
}

.sg-border-boxes__box {
  border-color: $color-brand-primary;
  border-style: solid;
  color: $color-grey-69;
  min-height: 6vw;
  padding: 1rem;

  p {
    margin: 0;
  }
}
