// -----------------------------------------------------------------------------
// Styleguide: breakpoints
// Sets columns to see sizes of the bps
// -----------------------------------------------------------------------------

.bp-boxes {
  display: flex;
}

.bp-boxes__box {
  background-color: $color-grey-11;
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  padding: 1em;

  &:first-of-type {
    height: $bp-s;
  }

  &:nth-of-type(2) {
    height: $bp-m;
  }

  &:nth-of-type(3) {
    height: $bp-l;
  }

  &:last-of-type {
    height: $bp-xl;
  }
}
