// -----------------------------------------------------------------------------
// Styleguide: Buttons
// Sets up a grid and maps the buttons
// -----------------------------------------------------------------------------

.sg-buttons__group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  h2 {
    @include type-preset(
      $version: 40,
      $type: header,
      $margins: true
    );
    flex-basis: 100%;
  }
}

.sg-buttons > .sg-buttons__group:first-child h2 {
  margin-top: 0;
}

.sg-buttons__group-item {
  margin-right: rem($scale-4);

  label,
  button {
    display: block;
  }

  label {
    @include type-preset(
      $version: 30
    );
  }

  label + * {
    margin-top: rem($scale-2);
  }
}
