// -----------------------------------------------------------------------------
// Styleguide: Colors
// Sets up a swatch grid and maps the colors and info to the boxes
// -----------------------------------------------------------------------------

@each $key, $value in $colors {
  // text
  .color-#{$key} {
    color: $value;
  }

  // background
  .bg-#{$key} {
    background-color: $value;
  }

  .tier-1 {
    .color-list__item.bg-#{$key}::before {
      content: '#{$key}';
    }

    .color-list__item.bg-#{$key}::after {
      content: '#{$value}';
    }
  }

  .tier-2 {
    .color-list__item.bg-#{$key}::before {
      content: '#{$key}';
    }

    .color-list__item.bg-#{$key}::after {
      content: '$color--#{$key} | .bg-#{$key} | .color-#{$key}';
    }
  }
}

.pen {
  @include gap(
    $sizes: $gap-d
  );
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.color-list h3 {
  @include gap(
    $property: padding-bottom,
    $sizes: $gap-b
  );
}

.color-list__item {
  display: block;
  margin-bottom: 1rem;
  min-height: 5rem;
  padding: 1rem;
  word-break: keep-all;

  &::before,
  &::after {
    display: block;
  }

  &::before {
    font-weight: bold;
  }

  &::after {
    margin-top: 0.25em;
  }
}
