// -----------------------------------------------------------------------------
// Styleguide: Component overrides
// Style overrides for styleguide demo purposes only!
// -----------------------------------------------------------------------------

.page-node-type-styleguide {
  // Card Paragraph Styleguide Detail Page Overrides
  .component-compartment__content {
    .component-card {
      @include grid-col(6);

      @include media('>=s') {
        @include grid-col(3);
      }
    }
  }

  // For individual card paragraphs only (Used on Image Card Styleguide page...)
  .component-card.component-card--image {
    .component-card__content {
      // Important is necessary to override useragentstylesheet setting divs to display: block
      align-items: flex-start;
      display: flex !important; // sass-lint:disable-line no-important
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
