// -----------------------------------------------------------------------------
// Styleguide: Default
// Default styleguide layout styles
// -----------------------------------------------------------------------------

$sg-menu-width: 25vw;

// Styleguide menu
.page .menu--styleguide {
  @include shadow(two);
  @include type-preset(50);
  background-color: $color-bg-light-primary;
  bottom: 0;
  color: $color-grey-79;
  left: -250%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0 1rem 0 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition-base;
  width: 100%;
  z-index: 500;

  @include media('>=s') {
    width: $sg-menu-width;
  }

  ul {
    padding-left: 1rem;
  }

  > ul > li:first-of-type a {
    font-weight: $font-weight-bold;
  }

  ul li {
    border-top: $border-width-light solid $color-utility-border;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    position: relative;
    z-index: 1;

    &:first-of-type {
      border-top: 0 none;
    }

    a,
    span {
      display: block;
      padding: 0.75rem 0;
    }

    span {
      @include icon(
        $filename: arrow-down,
        $size: $icon-size-small,
        $insert: after) {

        align-self: center;
        color: $color-orange;
        display: inline-block;
        margin-left: 1em;
        text-decoration: none;
        transition: $transition-base;
      }

      align-items: center;
      display: flex;
      font-weight: $font-weight-bold;
      justify-content: space-between;

    }

    &.jsa-styleguide-menu--open span::after {
      transform: rotate(180deg);
    }

    ul {
      display: none;
      margin: 0;
      padding: 0 0 0 1rem;

      a {
        @include type-preset(30)
      }
    }
  }
}

// Styleguide menu and overlay toggle
.sg-blocks {
  transition: $transition-base;
}

.sg-blocks button {
  .close {
    display: none;
  }

  .open {
    display: inline-block;
  }
}

// Menu toggle open and close
.jsa-styleguide-menu--open {
  .sg-blocks {
    transform: translateX($sg-menu-width + 0.25vw);
  }

  .sg-menu-toggle  {
    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }
  }
}

// Overlay toggle open and close
.jsa-styleguide-grid-overlay--on {
  .sg-grid-overlay-toggle {
    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }

  }
}

// Opened styleguide menu
.jsa-styleguide-menu--open {
  .menu--styleguide {
    left: 0;
  }
}

// Opened overlay
.jsa-styleguide-grid-overlay--on {
  @include grid-overlay();
}

// Styleguide menu and overlay blocks
.sg-blocks {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  z-index: 501;

  button {
    @include btn($style: primary-alternative, $size: xsmall);
    @include shadow();
    align-items: center;
    display: flex;
    margin: 0 em($scale-1) 0 0;
    position: relative;
    text-align: center;

    span {
      @include type-preset(30);
      padding: 0 0.5rem 0 0;
    }
  }
}

// User logged in
.user-logged-in.jsa-styleguide-menu--open {
  // menu offset for admin toolbar
  .menu--styleguide {
    padding-top: calc(#{$admin-toolbar} + 2rem);
  }

  // menu offset for if the tray is open horizontally
  &.toolbar-horizontal.toolbar-tray-open .menu--styleguide {
    padding-top: calc(#{$admin-toolbar-and-tray-horizontal} + 2rem);
  }

  // menu offset for if the tray is open vertically
  &.toolbar-vertical.toolbar-tray-open.jsa-styleguide-menu--open .menu--styleguide {
    left: $admin-tray-vertical;
  }
}

.sg-wrapper {
  margin-bottom: rem($scale-10);
}

.font-size-map ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sg-helper-table {
  margin-top: 2rem;

  @include media('>=s') {
    display: flex;
  }
}

.sg-helper-table__item {
  border: $border-width-light solid $color-utility-border;
  border-bottom-width: 0;
  padding: 1em;
  position: relative;

  @include media('>=s') {
    border-bottom-width: $border-width-light;
    border-right-width: 0;
  }

  &:first-of-type::before {
    background-color: $color-brand-secondary;
    bottom: -$border-width-light;
    content: '';
    left: -$border-width-light;
    position: absolute;
    top: -$border-width-light;
    width: $border-width-thick;
  }

  &:last-of-type {
    border-bottom-width: $border-width-light;

    @include media('>=s') {
      border-right-width: $border-width-light;
    }
  }
}

.sg-helper-table__item-title {
  font-weight: $font-weight-bold;
  margin-bottom: 0.5em;
}

// Table Styles
.page-node-type-styleguide {
  table,
  th,
  td {
    border: $border-width-light solid $color-utility-border;
  }

  th,
  td {
    padding: 0.75rem;
  }

  th {
    border-bottom: 0 none;
  }
}
