// -----------------------------------------------------------------------------
// Styleguide: Gaps
// Sets up a swatch grid and maps the colors and info to the boxes
// -----------------------------------------------------------------------------

.sg-gap-boxes .sg-wrapper {
  align-items: center;
  display: flex;
  margin: 0;
  position: relative;

  pre {
    margin: 0;
  }
}

.sg-gap-boxes__box {
  background-color: $color-grey-11;
  line-height: 0;
  margin-bottom: 1rem;

  &::before {
    background-color: $color-blue;
    content: '';
    display: inline-block;
    line-height: 0;
  }
}

@each $key, $value in $scale {
  .sg-wrapper:nth-of-type(#{$key}) .sg-gap-boxes__box {
    padding: rem($value) rem($value) 0 0;

    &::before {
      height: rem($value);
      width: rem($value);
    }
  }
}

.sg-vr-boxes {
  background-color: $color-grey-11;
}

.sg-vr-boxes__box {
  display: block;
  height: 5rem;
  width: 100%;

  &::before {
    color: $color-text-reverse;
    content: 'content';
    padding: 1em;
  }

  &:nth-of-type(odd) {
    background-color: $color-brand-primary;
  }

  &:nth-of-type(even) {
    background-color: $color-brand-secondary;
  }
}
