// -----------------------------------------------------------------------------
// Styleguide: Grid
// Grid styleguide layout styles
// -----------------------------------------------------------------------------

.sg-column-box {
  width: 100%;

  code {
    margin: 0;
  }
}

.sg .component-content__content {
  @include grid-overlay();
}

.sg .sg-grid {
  @include grid-parent(
    $gutter-vertical: true
  );
}

.sg .sg-grid__item {
  background-color: $color-grey-38;
}

.sg .sg-grid-2 .sg-grid__item {
  @include grid-col(6);
}

.sg .sg-grid-3 .sg-grid__item {
  @include grid-col(4);
}

.sg .sg-grid-4 .sg-grid__item {
  @include grid-col(3);
}

.sg .sg-grid-6 .sg-grid__item {
  @include grid-col(2);
}

.sg .sg-grid-12 .sg-grid__item {
  @include grid-col(1);
}

.sg .sg-grid-offset .sg-grid__item {
  @include grid-col(3, 9);
}
