// -----------------------------------------------------------------------------
// Styleguide: Icons
// Sets up an icon grid
// -----------------------------------------------------------------------------

.sg-icons {
  @include grid-parent(
    $gutter-vertical: true
  );

  &.sg-icons--sizes {
    align-items: flex-end;

    > div {
      @include grid-col(1);
    }
  }

  &.sg-icons--list {
    align-items: flex-start;

    > div {
      @include grid-col(2);
    }
  }

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;

    &::before {
      font-size: $icon-size-large;
      margin-right: 0;
    }

    span {
      font-family: $font-family-base;
      font-size: 0.75rem;
      margin-top: 0.5em;
      padding: 0;
    }
  }
}

.test-icon-demo {
  svg,
  > div::before,
  > div::after {
    outline: $border-width-light dashed $color-brand-secondary;
  }

  svg {
    max-height: $icon-size-xxlarge;
    max-width: $icon-size-xxlarge;
  }

  > div {
    margin-bottom: 1em;

    &::before {
      margin-right: 0;
    }

    &:hover {
      color: $color-orange;
      cursor: pointer;
    }
  }

  span {
    margin-left: 1em;
  }
}

.test-css-icon::before {
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  font-size: $icon-size-xxlarge;
  height: 1em;
  width: 1em;
}

.test-css-icon--custom::before {
  background-image: url(asset-path('icon', 'air-compressor.svg'));
}

.test-css-icon--material::before {
  background-image: url(asset-path('icon', 'lock.svg'));
}

.test-css-icon--font-awesome::before {
  background-image: url(asset-path('icon', 'long-arrow-down.svg'));
}
