// -----------------------------------------------------------------------------
// Styleguide: Shadows
// Sets up a grid and maps the shadow styles to the boxes
// -----------------------------------------------------------------------------

.sg-shadow-boxes {
  @include media('>=s') {
    @include grid-parent(
      $gutter-vertical: true
    );
  }
}

.sg-shadow-boxes__box {
  @include media('>=s') {
    @include grid-col(6);
  }

  @include media('>=m') {
    @include grid-col(3);
  }

  & > * {
    border-radius: $border-radius-med;
  }

  code {
    background-color: $color-bg-light-primary;
  }

  p {
    margin: 0;
  }
}
