<template>
  <div :class="[classArray]">
    <div
      :class="[imageClassArray]"
      :title="item.alt_text"
      :style="`background-image:url(${item.image});`">
    </div>

    <div class="ur-full-bleed-card__text" >
      <div class="ur-full-bleed-card__title-wrapper"
        :class="{'shimmer': loading}">
        <h3 class="ur-full-bleed-card__title" >
          {{item.title | ellipses(70)}}
        </h3>
      </div>
      <div class="ur-full-bleed-card_copy-wrapper"
        :class="{'shimmer': loading}"
        v-if="hasCopy">
        <p>
          {{item.copy | ellipses(96)}}
        </p>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    components: {
    },
    computed: {
      computedButtonStyle() {
        const itemButtonStyle = this.item.button_style;
        return itemButtonStyle !== '' && itemButtonStyle !== undefined ? itemButtonStyle : 'secondary-alternative';
      },
      hasCopy() {
        return this.item.copy !== '' && typeof this.item.copy !== 'undefined';
      },
      hasCTA() {
        return this.item.cta !== '' && typeof this.item.cta !== 'undefined';
      },
      contentAlignment() {
        switch (this.contentAlign) {
          case 'center':
            return 'ur-full-bleed-card--centered';
          case 'left':
            return 'ur-full-bleed-card';
          case 'right':
            return 'ur-full-bleed-card--right';
          default:
            return 'ur-full-bleed-card';
        }
      },
    },
    methods: {
      init() {
        // if (!this.popularEquipmentTypes) return;
        // if (!this.fetching) return this.fetch();
      },
    },
    mounted() {
      // this.init();
      this.loading = false;
    },
    data() {
      return {
        classArray: [
          'ur-full-bleed-card',
          ((this.item.copy === '' || typeof this.item.copy === 'undefined') ? 'no-copy' : ''),
        ],
        imageClassArray: [
          'ur-full-bleed-card__image',
          ((this.item.icon !== '' && this.item.icon !== undefined) ? `project-uptime-icon-${this.item.icon}` : ''),
          (this.loading) ? 'shimmer' : '',
        ],
      };
    },
    name: 'UrFullBleedCard',
    props: {
      item: {
        type: Object,
        default: () => {},
      },
      loading: {
        type: Boolean,
        default: false,
      },
      contentAlign: {
        type: String,
        default: 'left',
      },
    },
  };
</script>

<style lang="scss">
@import "../../../../../components/_patterns/00-base/_01-variables.scss";

$card-height: 336px;
$card-height-cta: 372px;
$image-height: 180px;
$card-spacer-small: 12px;
$card-spacer-large: 20px;

.ur-full-bleed-card {
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: $card-height;
  overflow: hidden;
  transition: box-shadow 0.3s;

  &.hasCTA {
    height: $card-height-cta;
  }

  &.no-copy {
    height: $card-height - 60px;

    .ur-full-bleed-card__text {
      position: relative;

      .ur-use-case-block__cta {
        left: 0;
        position: absolute;
        right: 0;
        top: 60px;
      }
    }
  }

  &:hover {
    @extend %card-shadow;

    h3 {
      color: $color-text-link-hover;
    }
  }

  & &__text {
    background: $color-white;
    color: $color-text;
    padding: 0 $card-spacer-small $card-spacer-large;
    color: $color-text;

    @media (min-width: $break-medium) {
      padding: 0 $card-spacer-large $card-spacer-large;
    }

    h3 {
      text-align: left;
    }

    .ur-use-case-block__cta {
      padding: 0;

      button {
        margin: 0 auto;
      }
    }
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $image-height;
    min-height: $image-height;
  }

  h3 {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin-top: $card-spacer-large;
    color: $color-text;

    @media (min-width: $break-medium) {
      font-size: $font-size-xlarge;
    }
  }

  p {
    font-size: $font-size-small;
    line-height: 20px;
    text-align: left;
    min-height: 60px;
  }

  img {
    width: 100%;
  }

  .shimmer p {
    background-color: #eee !important;
    color: #eee !important;
    border: none;
    border-radius: 1px;
    pointer-events: none;
    user-select: none;
  }

  &--centered {
    .ur-full-bleed-card__text h3,
    p {
      text-align: center;
    }
  }

  &--right {
    .ur-full-bleed-card__text h3,
    p {
      text-align: right;
    }
  }

  &:hover {
    p {
      color: $color-text;
      text-decoration: none;
    }
  }

  [class*="project-uptime-icon-"] {
    position: relative;

    &:after {
      background: rgba(22, 23, 24, 0.65);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}


</style>
