// Tab Navigation
.tabs__nav {

}

// Tab Content (hidden only in full #tabs js version)
.tabs__tab {
  display: none;

  &.is-active, &.router-link-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

// No-js fallback
.tabs.no-js {
  .tabs__tab.is-active, .tabs__tab.router-link-active {
    display: block;
  }
}

// Drupal Local Tasks variant
.tabs__nav--local-tasks {
  margin: 1em 0 .5em;
  padding: 0;
}

.tabs__link--local-tasks {
  padding: .3em 1.5em;
}
