{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Drupal Specific #}
{% if primary %}
  <div class="tabs drupal-tabs">
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="tabs__nav tabs tabs--style-1">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <div class="tabs drupal-tabs">
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="tabs__nav tabs tabs--style-2">{{ secondary }}</ul>
  </div>
{% endif %}

 {#PL Specific (javascript version)#}
{% if not primary %}
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav tabs{% for modifier in tabs_modifiers %} tabs--{{ modifier }}{% endfor %}{% if tabs_blockname %} {{ tabs_blockname }}__tabs{% endif %}{% for class in tabs_classes %} {{class}}{% endfor %}">
      {% for key, listItem in listItems.three %}
      {% include "@atoms/09-menu/tab/tab.twig"
        with {
          tab_link: tab_link,
          tab_text: tab_text,
          tabs_modifiers: tabs_modifiers
        }
      %}
      {% endfor %}
    </ul>
    {% for key, listItem in listItems.three %}
    <div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
      <div id="tab-{{ key }}" class="tabs__content">
        <p>{{ listItem.excerpt.medium }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}