<template>
  <information-card title="Account" :loading="loading"
    :class="[{ 'bgc-gray-light': loading }]"> <!-- temp darken bg color on load during development -->
    <div>
      <p>{{ item.customerName | ifNil( 'Loading account info...') }}</p>
      <p>#{{ item.accountId }}</p>
    </div>
  </information-card>
</template>
<script>
import { isEmpty } from 'lodash';
import InformationCard from '../information-card';

export default {
  name: 'AccountInformationCard',
  components: { InformationCard },
  props: { item: Object },
  computed: {
    loading: vm => isEmpty(vm.item),
  },
};
</script>
