<template>
  <information-card :loading="loading" title="Branch">
    <div v-if="!loading">
      <p>{{ item.branchId }}</p>
      <br>
      <h5>{{ $i18n('reservationView.contact') }}</h5>
      <p>{{ branch.managerName }}</p>
      <p class="font-weight--bold"><a :href="branch.phone | telLink">{{ branch.phone }}</a></p>
    </div>
  </information-card>
</template>
<script>
import { isEmpty } from 'lodash';
import InformationCard from '../information-card';
import Params from '@/store/module.catalog.helpers';

/*
 * @vuese
 * @group Workplace
 */
export default {
  name: 'BranchInformationCard',
  components: { InformationCard },
  props: { item: Object },
  computed: {
    loading: vm => isEmpty(vm.item),
  },
  asyncComputed: {
      branch: Params.branchAsyncComputed(vm => ({
        branchId: vm.item.branchId,
      })),
  },
};
</script>
