<template>
  <information-card
    :loading="loading"
    :title="itemTypeLabel"
  >
    <div>
      <h5>#{{ item.transId | ifNil('Loading transaction info...') }}</h5>
      <status-detail-field :item="item" class="m-l-5"
        :field="{
          resourceProperty: 'status',
          value: ({ status }) => ({
            O: 'Open',
            Q: 'Quoted',
            R: 'Reserved',
          }[status])
         }"
      /><br>
      <br>
      <h5>{{ $i18n('cartItem.duration') }}</h5>
      <div v-if="!loading" class="flex-row justify-start">
        <date-detail-field :item="item" :field="{ resourceProperty: 'startDateTime' }" />
        <span class="m-l-2 m-r-2">-</span>
        <date-detail-field :item="item" :field="{ resourceProperty: 'returnDateTime' }" />
      </div>
      <br>
      <h5>{{ $i18n('workplace.infoCard.poNumber') }}</h5>
      <p>{{ item.po || '-'}}</p>
      <br>
      <h5>{{ $i18n('ur.requesterLabel') }}</h5>
      <p>{{ item.requesterName || '-' }}</p>
      <br>
      <h5>{{ $i18n('workplace.estimatedTotal') }}</h5>
      <p>{{ estimatedTotal | decimalCurrency }}</p>
    </div>
  </information-card>
</template>

<script>
import { isEmpty } from 'lodash';
import { ChargeEstimateUtils } from '@/lib/estimates';
import { urFormats } from '@/components/workplace/common/details/editorial';
import InformationCard from '@/components/workplace/common/information-card';
import DateDetailField from '@/components/workplace/shared/fields/date/detail-field';
import StatusDetailField from '@/components/workplace/shared/fields/status/detail-field';

/*
 * @vuese
 * @group Workplace
 */
export default {
  name: 'ContractInformationCard',
  props: {
    item: Object,
    itemStatus: Object,
    itemStatusLabel: String,
    itemTypeLabel: String,
  },
  inject: ['transactionEstimate'],
  filters: urFormats,
  components: { InformationCard, DateDetailField, StatusDetailField },
  computed: {
    loading: vm => isEmpty(vm.item),
    estimatedTotal() {
      return !this.transactionEstimate().totals
        ? 0
        : ChargeEstimateUtils.calculateSumTotal(this.transactionEstimate().totals);
    },
  },
};
</script>
