<template>
  <div v-if="item" :class="{ 'shimmer': loading }">
    <account-information-card :item="firstEquip" v-bind="$attrs" />
    <jobsite-information-card :jobsite="firstEquip.jobsite" v-bind="$attrs" />
    <contract-information-card :item-type-label="item.orderType" :item="firstEquip" v-bind="$attrs" />
    <branch-information-card :item="firstEquip" v-bind="$attrs" />
  </div>
</template>

<script>
import { isEmpty } from 'lodash';
import AccountInformationCard from './account-information-card.vue';
import BranchInformationCard from './branch-information-card.vue';
import ContractInformationCard from './contract-information-card.vue';
import JobsiteInformationCard from './jobsite-information-card.vue';

/*
 * @vuese
 * @group Workplace
 */
export default {
  name: 'TransactionInformationCards',
  props: { item: Object },
  components: {
    AccountInformationCard,
    ContractInformationCard,
    JobsiteInformationCard,
    BranchInformationCard,
  },
  computed: {
    loading: vm => isEmpty(vm.item),
    firstEquip: vm => !vm.loading && Object.values(vm.item.equipment)[0],
  },
};
</script>
