<template>
  <information-card
    :loading="loading"
    title="Jobsite"
    :class="[{ 'bgc-gray-light': loading }]"
  >
    <div v-if="!loading">
      <p>{{ jobsite.name }}</p>
      <p>{{ jobsite.customerJobId }}</p>
      <br>
      <h5>{{ $i18n('ur.address') }}</h5>
      <p>{{ jobsite.address1 }}</p>
      <p>{{ jobsite.city }}, {{ jobsite.state }} {{ jobsite.zip }}</p>
      <br>
      <h5>{{ $i18n('reservationView.contact') }}</h5>
      <p>{{ jobsite.contact }}</p>
      <phone-detail-field class="font-weight--bold" :item="jobsite" :field="{
        resourceProperty: 'jobPhone',
        value: ({ jobPhone, mobilePhone }) => jobPhone || mobilePhone || '-',
      }" />
      <p class="font-weight--bold"><a :href="'mailto:' + jobsite.email">{{ jobsite.email }}</a></p>
    </div>
  </information-card>
</template>

<script>
import { isEmpty } from 'lodash';
import InformationCard from '../information-card';
import PhoneDetailField from '@/components/workplace/shared/fields/phone/detail-field';

/*
 * @vuese
 * @group Workplace
 */
export default {
  name: 'JobsiteInformationCard',
  props: { jobsite: Object },
  components: { InformationCard, PhoneDetailField },
  computed: {
    loading: vm => isEmpty(vm.jobsite),
  },
};
</script>
