<basic-page-hero
  headline="{{hero_headline}}"
  hero-image="{{field_hero_image}}"
  search-takeover="{{field_search_takeover}}"
  sub-headline="{{hero_sub_headline}}"
  sub-tagline="{{hero_tagline}}"
  sub-tagline-authenticated-no-credit="{{hero_tagline_authenticated_no_credit}}"
  landing-description="{{hero_copy}}"
  icon="{{icon}}"
></basic-page-hero>
<div class="ur-drawer-banner__wrapper">
  <ur-drawer-banner/>
</div>
