$hero-spacer: 16px;
$hero-location-width: 276px;

.hero {
  background-color: $color-grey-2;
  background-position: center;
  background-size: cover;
  color: $white;
  width: 100vw;
  position: relative;

  .ur-text-input-new .input-field-wrapper:hover,
  .ur-text-input-new .input-field-wrapper.input-focus {
    .input-icon__primary.icon-search {
      color: $color-text;
    }
  }

  .location-autocomplete .icon {
    color: $color-text;
  }

  .sg-main & {
    width: 100%;
  }

  .hero--takeover & {
    position: relative;
    z-index: 10;
  }

  &--no-image {
    color: $color-text;
  }

  &--with-video {
    text-align: center;

    .hero__content-holder {
      padding: 40px 5vw;
    }

    .hero__content {
      padding: 0;
    }
  }

  &__content-holder {
    //background-color: rgba($black, 0.55);
    @extend %scrim-image;
    display: flex;
    height: inherit;
    justify-content: center;
    padding: 0 $hero-spacer;
    width: 100%;

    // In case we're sticking with the old homepage
    .path-node-100921 & {
      background: rgba($black, 0.55);
    }

    // override the max-width set by the setColumn(2,3) function in _grid.scss
    .column--two-thirds {
      flex-basis: auto;
      max-width: inherit;
    }

    .hero--no-image & {
      background-color: transparent;
    }

    .path-frontpage & {
      @extend %scrim-hero-gradient;
    }

    @include breakpoint($break-small) {
      padding: 0 $hero-spacer * 2;
    }

    @include breakpoint($break-medium) {
      padding: 0 40px;
    }

    @include breakpoint($break-large) {
      padding: 0 80px 68px;
    }
    @include breakpoint($break-large) {
      padding: 0 100px 68px;
    }
    .hero--takeover & {
      justify-content: center;

      &--loggedin.hero__content-holder {
        padding-bottom: 40px;
        @include breakpoint($break-small) {
          padding: 0;
          padding-bottom: 68px;
        }

        @include breakpoint($break-large) {
          padding-bottom: 100px;
        }
      }
      @include breakpoint($break-small) {
        padding: 0;
      }

      @include breakpoint($break-large) {
        padding-bottom: 68px;
      }

      .path-frontpage & {
        // Homepage has transparent header that lays on top of hero image
        // Add extra padding at the top to avoid crowding on mobile
        @include breakpoint(max-width $break-small - 1) {
          padding-top: 10px;
        }
      }
    }
  }

  &__headline {
    color: inherit;
    font-size: 2rem;
    line-height: $line-height-h1;
    padding: 0;
    text-align: center;

    @include breakpoint(768px) {
      padding: 12px;
    }

    #app:not(.hero--takeover) & {
      font-size: 3.14286rem;
    }

    &__thin {
      font-weight: 200;
      display: none;

      @include breakpoint($break-small) {
        &::before {
          content: "\00a0";
          white-space: pre;
        }
      }
    }

    &__left {
      justify-content: left;
    }
  }

  &__subtagline {
    color: $white;
    display: none;
    font-size: $font-size-base;
    margin: $hero-spacer 0 0;
    text-align: center;
    width: 100%;
    .hero--takeover & {
      display: block;
    }
    a {
      color: $white;
      text-decoration: underline;
    }

    @include breakpoint($break-medium) {
      margin-top: 24px;
    }
  }

  &__content {
    color: inherit;
    font-size: $font-size-large;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    @include breakpoint($break-small) {
      margin-bottom: 54px;
    }

    @include breakpoint($break-medium $break-large - 1) {
      margin-bottom: 80px;
    }

    .hero--takeover & {
      display: none;
    }
  }
  .ur-text-input-new,
  .input-field-wrapper {
    width: 100%;
  }

  .ur-text-input-new .input-field-wrapper {
    height: 48px;

    @include breakpoint(1024px) {
      height: 56px;
    }

    .icon {
      height: 100%;
      bottom: 0;
      margin: 0;
      top: 0;
      transform: none;
    }
  }

  &[class*="project-uptime-icon-"] {
    .hero__content-holder {
      .hero__headline {
        margin-top: 150px;
      }
    }
  }

  .toolbar-horizontal & {
    z-index: 501;
  }
}

.hero-search {
  color: $black;
  background: $color-blue;
  position: static;
  width: 100%;

  .ur-text-input-new .input-field-wrapper .icon-divider::before {
    align-items: center;
    display: flex;
    font-size: 1.14286rem;
    height: inherit;
    padding-top: 0;
  }

  #global-search__dropdown {
    flex: 0 0 50%;
    position: relative;
    z-index: 25;

    @include breakpoint(768px) {
      flex: 0 0 50%;
    }

    @include breakpoint(1024px) {
      flex: 0 0 40%;
      max-width: 40%;
    }

    .hero-search__location .ur-text-input-new .input-field-wrapper .global-search__field-hero {
      padding-left: 90px;
    }

  }

  .global-search__field {
    flex: 0 0 50%;

    @include breakpoint(768px) {
      flex: 0 0 50%;
      padding-right: 56px;
    }

    @include breakpoint(1024px) {
      flex: 0 0 60%;
      max-width: 60%;
    }

    .ur-text-input-new .input-field-wrapper .global-search__field-hero {
      padding-left: 90px;

      @include breakpoint(768px) {
        padding-left: 77px;
      }
    }
  }

  .global-search__button {
    margin-top: $hero-spacer;

    @include breakpoint($break-small) {
      margin-top: 0;
    }
  }

  .global-search__button-hero {
    left: inherit;
    right: 0;
  }

  .hero-search__search-box input[type="text"] {
    border-radius: 0;
  }

  @include breakpoint($break-medium) {
    height: auto;
  }

  .suggestions,
  .global-search__search-results {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.25);
    margin-top: 0;
    padding-bottom: 1rem;
    top: calc(100% - 7px);
    width: 100%;

    @include breakpoint(640px) {
      top: calc(100% - 2px);
    }
  }

  .global-search__search-results {
    width: 100%;

    @include breakpoint(768px) {
      width: calc(100% - 56px);
    }
  }

  #global-search__dropdown .suggestions {
    margin-top: 0;
  }

  .suggestions {
    justify-content: center;
  }

  &__close {
    color: $color-white;
    display: flex;
    justify-content: flex-end;

    &--text {
      position: absolute;
      right: 16px;
      font-size: $font-size-large;
      line-height: 1;
      transition: transform $searchAnimationSpeed $anim-ease;
      @include breakpoint($break-small) {
        display: none;
      }
    }

    &--icon {
      transform: rotate(45deg);
      display: none;
      width: 28px;
      height: 28px;
      background: $color-blue-highlight;
      border-radius: 50%;
      font-size: 24px;
      line-height: 1;
      transition: transform $searchAnimationSpeed $anim-ease;
      @include breakpoint($break-small) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover,
    &:visited {
      color: $color-white;
    }
    @include breakpoint($break-small) {
      @include setColumn(40, 704);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__field-wrapper {
    display: inherit;
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    @include breakpoint($break-small $break-medium - 1) {
      display: none;
    }
    @include breakpoint($break-medium) {
      padding-bottom: 0;
      @include setColumn(140, 944);
      justify-content: flex-start;
    }

    .header__logo {
      transform: translate(0.5px, -1px);
      @include breakpoint($break-medium) {
        transform: translate(0, 2px);
      }
    }
  }

  &__field {
    justify-content: center;
    position: relative;
    transition: transform $searchAnimationSpeed $anim-ease;
    width: 100%;

    .global-search__field {
      margin-top: 0;
    }

    .icon {
      position: absolute;
      left: 0;
      z-index: 1;
      //box-shadow: 0 4px 12px 0 rgba(22,23,24,0.16);
      @include breakpoint($break-small) {
        left: auto;
      }
    }

    input[type="text"] {
      height: 48px;
      position: relative;

      &:focus {
        ~ .icon {
          color: $color-blue;
        }
      }

      @include breakpoint(768px) {
        margin-bottom: 0;
        border: none;
      }

      @include breakpoint($break-medium) {
        height: 56px;
      }
    }
  }

  .icon.icon-hero.input-icon__secondary.icon-close::before {
    align-items: center;
    background: #ffffff;
    display: flex;
    height: calc(100% - 8px);
    justify-content: center;

    @include breakpoint(640px) {
      height: calc(100% - 4px);
    }
  }

  &__clear {
    position: relative;
    right: 16px;
    top: calc(#{$searchInputHeightMobile}/ 2);
    transform: translate(0, -50%);
    color: $color-blue;
    text-transform: uppercase;
    font-size: $font-size-small;
    display: none;
    cursor: pointer;

    #app & {
      display: block;
    }
  }

  &__search-box {

    #global-search__dropdown {

      @include breakpoint($break-small) {
        input[type="text"] {
          border-radius: $border-radius-med 0 0 $border-radius-med;
        }
      }

      @include breakpoint(max-width $break-small - 1) {
        input[type="text"] {
          border-radius: $border-radius-med $border-radius-med 0 0;
        }
      }
    }

    .icon:before {
      font-size: $font-size-xlarge;
    }

    @include breakpoint($break-small) {
      display: flex;
      input[type="text"] {
        border-radius: 0 $border-radius-med $border-radius-med 0;
      }
    }

    @include breakpoint(max-width $break-small - 1) {
      input[type="text"] {
        border-radius: 0 0 $border-radius-med $border-radius-med;
      }
    }
  }

  &__search-results {
    width: calc(100% + 32px);
    background: $white;
    box-shadow: 0 2px 12px 0 rgba($black, 0.25);
    border-radius: 0 0 $border-radius-med $border-radius-med;
    position: absolute;
    left: 0;
    margin-left: -16px;
    display: none;
    overflow: auto;
    height: 100vh;

    .show-results & {
      display: block;
    }

    .hero & {
      top: calc(21vh + 2px);
    }

    @include breakpoint($break-small) {
      width: 100%;
      top: calc(100% - 6px);
      margin-left: 0;
      height: auto;
      max-height: 100vh;

      .hero & {
        top: calc(100% - 6px);
      }
    }
  }

  &__search-results--labelled {
    &--label {
      display: flex;
    }

    .hero-search__results-object:first-child {
      margin-top: 0;
    }
  }

  &__results-group {
    margin-bottom: 22px;

    a {
      color: inherit;
    }

    &--label {
      background-color: rgba(220, 224, 227, 0.3);
      text-transform: uppercase;
      color: $color-grey-38;
      display: none;
      font-size: $font-size-xsmall;
      height: 30px;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px 0 20px;
      margin: 14px 0 10px;

      span {
        color: $white;
        background: $color-blue-highlight;
        border-radius: $border-radius-med;
        line-height: 20px;
        width: 35px;
        text-align: center;
      }
    }

    .hero-search__results-object:first-child {
      margin-top: 11px; // same value used in .search-by-term .results
    }

    @include breakpoint(max-width $break-small - 1) {
      &:first-child {
        .hero-search__results-group--label {
          margin-top: 0;
        }
      }
    }
  }

  &__results-objects {
    font-size: $font-size-large;
    line-height: 1.688;
    margin-bottom: 0;
    padding: 0 12px 0 20px;
  }

  &__results-object {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 8px;

    a {
      color: inherit;

      span {
        color: $color-blue;
        font-weight: bold;
      }

      &:hover {
        color: $color-blue;
        font-weight: bold;
      }
    }

    &--distance {
      font-size: $font-size-base;
      @include breakpoint(max-width $break-medium - 1) {
        display: none;
      }
    }
  }

  &__location {
    margin-top: $hero-spacer;

    @include breakpoint($break-small) {
      margin: 0;
      input[type="text"] {
        border-radius: 0;

        &:not(:placeholder-shown) {
          background: #ffffff;
        }
      }
    }

    @include breakpoint(max-width $break-small - 1) {
      input[type="text"] {
        border-radius: 0 0 $border-radius-med $border-radius-med;
        box-shadow: 0 2px 8px 1px rgba(22,23,24,0.16);
        margin-top: -5px;
      }
    }
  }

  &__button {
    @include breakpoint($break-small) {
      width: 200px;
      height: 48px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0 0 0 5px;
    }
  }

  .layout-container & {
    opacity: 0;
    padding-top: 0;
    right: 0;
    transition: visibility 0s $anim-ease $searchAnimationSpeed,
      opacity $searchAnimationSpeed $anim-ease,
      padding $searchAnimationSpeed $anim-ease;
    visibility: hidden;

    .hero-search-visible & {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;

      @include breakpoint(max-width $break-small - 1) {
        padding-bottom: 4px;

        .hero-search__close--text,
        .hero-search__field {
          transform: translateY(0px);
        }
      }
      @include breakpoint($break-small $break-medium - 1) {
        .hero-search__field {
          transform: translateX(0px);
        }

        .hero-search__close--icon {
          transform: translateX(0px) rotate(45deg);
        }
      }
      @include breakpoint($break-medium) {
        padding-bottom: 61px;

        .hero-search__field {
          transform: translateX(0px);
        }
      }
    }
  }

  .hero--takeover.layout-container & {
    background: rgba($black, 0);
    opacity: 1;
    visibility: visible;
    max-width: calc(100% - ((8.33333% - 0.57143rem) * 2));

    @include breakpoint(768px) {
      max-width: calc(100% - ((8.33333% - 1.14286rem) * 2));
    }

    @include breakpoint(768px) {
      max-width: calc(100% - ((16.66667 - 1.14286rem) * 2));
    }

    .hero-search__search-box {
      @include breakpoint(768px) {
        width: 83.3333%;
        margin: 0 8.33333%;
      }

      @include breakpoint(1920px) {
        width: 66.66666%;
        margin: 0 16.66667%;
      }
    }

    .hero-search__logo,
    .hero-search__close {
      display: none;
    }
  }
}

.page-node-type-page .hero {
  height: 352px;
  margin-left: -3vw;

  @include breakpoint(768px) {
    height: 271px;
  }

  @include breakpoint($break-medium) {
    margin-left: -5vw;
  }
}

@include breakpoint($break-medium) {
  .main-content--with-sidebar .hero {
    width: calc(100vw - 252px);
  }
}

.hero-search .hero-search__search-box input::-ms-clear {
  display: none;
}


.global-search__field.global-search__search-box .ur-text-input-new .input-field-wrapper::after {
  background-color: #DDE0E2;
  bottom: 0.35em;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0.35em;
  width: 1px;
  z-index: 1;
}

.hero-search__search-box .icon::before {
  border-left: 0;
}


.hero--takeover .hero__content-holder {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__headline__thin:empty {
  display: none;
}

.icon-search-herobar {
  margin: 0;
}

@media(max-width: 767px) {

  .hero__content-holder {
    padding-bottom: 2rem;
  }

  .hero-search {
      bottom: -50%;
      margin: 0 auto;
      width: 100%;
      max-width: calc(100% - ((8.33333% - 1.14286rem) * 2));
  }

  .hero-search .hero-search__search-box #global-search__dropdown input[type="text"] {
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }

    .hero-search .hero-search__search-box input[type="text"] {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 7px rgba(22,23,24,0.16);
  }

    .hero-search .global-search__search-box + div {
    display: block;
    margin-top: 1rem;
  }

  .hero-search .hero-search__field {
    flex-direction: column;
  }

  .hero-search .button.global-search__button-hero {
    border-radius: 4px;
    display: block;
    height: 2.85rem;
    margin-left: 0;
    position: static;
    width: 100%;
    margin-top: 0;
  }

  .hero-search .button.global-search__button-hero::before {
    display: none;
  }

  .hero-search .button--displayed-hero {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;
  }

  .hero-search #global-search__dropdown + div {
    width: 100%;
  }

  .hero-search .global-search__field.global-search__search-box + div {
    margin-top: 1.5rem;
  }

  .hero-search .ur-text-input-new .input-field-wrapper {
    align-items: center;
    display: flex;
  }

  .hero-search .hero-search__field .global-search__field.global-search__search-box .ur-text-input-new .input-field-wrapper::after {
    display: none;
  }
}

@media(min-width: 768px) {

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

    .hero-search .global-search__field .ur-text-input-new {
      padding-right: 56px;
    }

    .hero-search .global-search__field {
      padding: 0;
    }
  }
}
