<div class="pickup-location-container">
  <div class="pickup-location-img">

  </div>
  <div class="pickup-location-body">
    {% include '@atoms/02-text/text/01-paragraph.twig'
      with {
        paragraph_content: ur_location
      }
    %}
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: store_name
      }
    %}

    <p><strong>Address:</strong> 123 Main Street, Kansas City, MO 64116</p>
    <p><strong>Phone:</strong> 123-456-7890</p>
    <p><strong>Manager:</strong> Bob Marley</p>
    <p><strong>Location ID:</strong> 123</p>

    <div class="pickup-location-controls">
      {% include '@atoms/01-links/link/link.twig'
        with {
          link_content: directions_link_content,
          link_url: '#',
          link_blockname: 'get-directions'
        }
      %}
      {% include '@atoms/01-links/link/link.twig'
        with {
          link_content: edit_link_content,
          link_url: '#',
          link_blockname: 'edit'
        }
      %}
    </div>
  </div>
</div>