.navigation-panel {
  .contextual-search {
    padding: 20px 0;
    position: relative;

    img {
      display: none;
    }

    &.show-results img {
      display: inline;
      position: absolute;
      top: 2.1em;
      right: 7px;
      width: 18px;
    }

    .global-search__search-results {
      position: absolute;
      top: 51px;
      width: 100%;
      float: right;
      margin-left: auto;
      box-shadow: 0 7px 12px 0 rgba(0,0,0,.1);
      border-left: 1px solid $color-grey-11;
      border-right: 1px solid $color-grey-11;
      border-bottom: 1px solid $color-grey-11;

      .global-search__results-objects {
        padding: 12px 20px 0 2rem;

        .active-search-text {
          color: $color-blue;
          font-weight: 600;
        }
      }
    }

    .icon-search {
      position: absolute;
      top: 2rem;
      left: 0.75rem;
    }

    input[type="text"] {
      padding-left: 2rem;
    }

    &.show-results {

      input[type="text"] {
        border-bottom: none;
        outline-style: none;
      }
    }
  }

  .heading-5 {
    margin: 0;
  }

  &__label {
    height: 18px;
  }

  .category-container {
    width: 100%;
  }

  .container-inline {
    display: flex;
    justify-content: space-between;

    .heading-6,
    label,
    span {
      padding-top: 5px;
      font-size: 12px;
      width: 30%;
      font-weight: 600;
    }

    .collapse__paragraph {
      color: $color-grey-38;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 400;
      margin: 0;
    }
  }

  &__parent {
    padding: 8px 0;

    .link,
    .link:visited {
      color: $color-grey-38;
      display: inline-block;
      font-size: 12px;
      width: 150px;

      &.is-active {
        font-weight: 600;
        color: $color-grey-79;
      }
    }

    .icon-angle-up {
      float: right;
      cursor: pointer;
    }

    .navigation-panel__child {
      padding: 8px 0 0px 20px;

      a {
        display: block;
        color: $color-grey-38;
        font-size: 12px;
        margin: 0;
        padding: 8px 0;

        &:active,
        &.is-active {
          font-weight: 600;
          color: $color-brand-primary;
        }
      }
    }
  }

  .viewMore_link {
    a {
      font-size: 12px;
      color: $color-grey-38;
      text-decoration: underline;
    }
  }
}
