<div class="navigation-panel">
  <div class="contextual-search">
    {% include "@atoms/05-forms/select/select.twig"
      with {
        "select_content": "Search Boom Lifts",
        "select_modifiers": select_modifiers,
        "select_attributes": select_attributes
      }
    %}
  </div>

  <div class="navigation-panel__label">
    <div class="container-inline">
      {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
        with {
          "heading_5": nav_heading_5
        }
      %}
      <p class="collapse__paragraph link">Collapse</p>
    </div>
  </div>

  <div class="navigation-panel__parent">
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_content": nav_parent_link_content,
        "link_url": "#"
      }
    %}
    <i class="icon icon-angle-up"></i>


    <div class="navigation-panel__child">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": nav_child_link_content,
          "link_url":  "#"
        }
      %}
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": nav_child_link_content,
          "link_url":  "#"
        }
      %}
    </div>
    <div class="viewMore_link">
      {% include "@atoms/01-links/link/link.twig"
        with {
          "link_content": viewMore_link_content,
          "link_url":  "#"
        }
      %}
    </div>
  </div>
</div>