<template>
  <!-- todo make width dynamic to accommodate 8+ figures -->
  <div class="minimal-equipment__container" :class="{'shimmer': isRenderingPlaceholderData}">
    <div class="minimal-equipment" @click.stop="handleClick()">
      <div class="minimal-equipment__image-container">
        <img v-if="imageSrc && !isRenderingPlaceholderData" class="equipment-type__image" :src="imageSrc"/>
        <span v-if="isRenderingPlaceholderData" style="font-size: 3rem; width: 52px; height: 52px; display: block;">
          {{ getSpacingString(1) }}
        </span>
      </div>
      <h6 v-if="equipmentQuantity > 1" class="minimal-equipment__quantity">
        {{ $i18n('common.quantityShort') }}: {{ equipmentQuantity }}
      </h6>
      <div class="minimal-equipment__title-container" :class="{ 'flex-column': isRenderingPlaceholderData }">
        <div class="minimal-equipment__id">
          <span v-if="isRenderingPlaceholderData">{{ getSpacingString(6) }}</span>
          <template v-else>
            {{ $i18n('dashboard.equipmentId') }}:
            {{ equipmentData.equipmentId }}
          </template>
        </div>
        <h4 class="minimal-equipment__title">{{ equipmentTitle }}</h4>
      </div>
      <div class="minimal-equipment__timeline-container">
        <div class="minimal-equipment__timeline-foreground" :class="timelineBarColor" :style="{'width': timelineBarWidth + '%'}">
          <span></span>
        </div>
        <div class="minimal-equipment__timeline-background"><span></span></div>
      </div>
      <h6 class="minimal-equipment__status-bar">
        <span class="status-label">{{ statusLabel }}<span class="status-detail">{{ statusDetail }}</span></span>
      </h6>
      <h6 v-if="requesterName" class="minimal-equipment__requester">{{ requesterName }}</h6>
      <h6 v-if="jobSiteName" class="minimal-equipment__jobsite-name">{{ jobSiteName }}</h6>
      <h6 v-if="jobsiteLocation" class="minimal-equipment__jobsite-location">{{ jobsiteLocation }}</h6>
      <div class="minimal-equipment__cta-wrapper carousel-card-minimal__footer">
        <equipment-item-action-menu
          v-if="!isRenderingPlaceholderData"
          :disabled-actions="disabledMenuOptions"
          :item="equipmentData"
          :text="$i18n('workplace.actions')"
        />
        <span v-else style="width: 100%; height: 3rem; display: block; margin-top: -0.3rem; border-radius: 0.25rem;">
          {{ getSpacingString(1) }}
        </span>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
  @import '../../shared/actions/actions-button';
  @import '../../../../../themes/custom/urone/styles/_globals.scss';

  .minimal-equipment {
    .minimal-equipment__title-container {
      @include gap(
        $property: margin,
        $sizes: $gap-b 0 0
      );
    }

    .minimal-equipment__id {
      @include type-preset(20);

      color: $color-text-subtle;
    }

    .minimal-equipment__title {
      @include type-preset(
        $version: 50,
        $type: header,
        $multiline: 2
      );
    }

    .minimal-equipment__timeline-container {
      @include gap(
        $property: margin,
        $sizes: $gap-c 0 0
      );
    }

    .minimal-equipment__status-bar {
      @include gap(
        $property: margin,
        $sizes: $gap-b 0 0
      );

      .status-label {
        @include gap(
          $property: margin-right,
          $sizes: $gap-a
        );

        @include type-preset(
          $version: 30,
          $type: header,
          $multiline: 1
        );
      }

      .status-detail {
        @include type-preset(
          $version: 30,
          $multiline: 1
        );

        display: initial;
        font-weight: $font-weight-regular;
      }
    }

    .minimal-equipment__requester {
      @include gap(
        $property: margin,
        $sizes: $gap-b 0 0
      );

      @include type-preset(
        $version: 30,
        $multiline: 1
      );
    }

    .minimal-equipment__jobsite-name {
      @include gap(
        $property: margin,
        $sizes: $gap-b 0 0
      );

      @include type-preset(
        $version: 30,
        $type: header,
        $multiline: 1
      );
    }

    .minimal-equipment__jobsite-location {
      @include type-preset(
        $version: 30,
        $multiline: 1
      );

      margin: 0;
    }

    .minimal-equipment__cta-wrapper {
      /deep/ .actions-button {
        transition: none !important; //override .btn

        &:not([disabled]){
          color: $color-grey-69;
        }

        &:not(:active):not(:focus):not(:hover):not(.actions).no-inactive-border {
          background: $color-grey-2;
          border: 0.07143rem solid #dde0e2;
        }

        i{
          &:before {
            font-size: rem(16);
          }

          &.icon-before-more-vert {
            position:absolute;
            top: rem(5);
            right: rem(7);
          }
        }
      }
    }
  }

  .q-option-menu.scrolling.actions-menu {
    margin-left: 1px;
  }
</style>
<script>
  import { isEmpty, get, split } from 'lodash';
  import { mapState } from 'vuex';
  import moment from 'moment';
  import {
    WorkplaceEquipmentActionTypes,
    WorkplaceEquipmentStatusUtils,
    WorkplaceRouteNames,
    WorkplaceEquipmentStatusId,
  } from '@/lib/workplace';
  import ContentSpacer from '@/mixins/content-spacer';
  import EquipmentItemActionMenu from '@/components/workplace/shared/equipment-item-action-menu.vue';

  export default {
    components: {
      EquipmentItemActionMenu,
    },
    computed: {
      isClickable() {
        return !isEmpty(this.equipmentData.equipmentId) && !isEmpty(this.equipmentData.transId);
      },
      statusBarStyle() {
        const borderStyle = 'border-left: 3px solid ';
        const borderColor = get(this.equipmentData, ['equipmentStatuses', 0, 'color'], '#DDE0E2;');
        return `${borderStyle} ${borderColor}`;
      },
      timelineBarColor() {
        const onTimeColor = 'timelineOnTime';
        const overdueColor = 'timelineOverdue';
        const color = (this.isEquipmentOverdue) ? overdueColor : onTimeColor;
        return color;
      },
      timelineBarWidth() {
        let width = 0;
        const currentDateTime = moment();
        const startTime = moment(this.equipmentData.startDateTime);
        const returnDateTime = moment(this.equipmentData.returnDateTime);
        const timeLeft = returnDateTime.diff(currentDateTime);
        const totalTime = returnDateTime.valueOf() - startTime.valueOf();
        const totalWidth = ((totalTime - timeLeft) / totalTime) * 100;
        const isOverdue = (this.isRenderingPlaceholderData)
          ? false
          : this.equipmentData.equipmentStatuses.some(eqp => eqp.id === WorkplaceEquipmentStatusId.Overdue);
        const isOnRent = (this.isRenderingPlaceholderData)
          ? false
          : this.equipmentData.equipmentStatuses.some(eqp => eqp.id === WorkplaceEquipmentStatusId.OnRent);

        if (isOnRent === true) {
          if (isOverdue === true) {
            width = 100;
          }
          // If less than a day but not over due make bar 100% (1 day = 86400000 miliseconds)
          else if (timeLeft <= 86400000) {
            width = 100;
          }
          else {
            width = totalWidth;
          }
        }
        return width;
      },
      isEquipmentOverdue() {
        let status = false;
        const currentDateTime = moment();
        const returnDateTime = moment(this.equipmentData.returnDateTime);
        const diffTime = returnDateTime.diff(currentDateTime, 'minutes');
        const isOverdue = (this.isRenderingPlaceholderData)
          ? false
          : this.equipmentData.equipmentStatuses.some(eqp => eqp.id === WorkplaceEquipmentStatusId.Overdue);
        if (isOverdue) {
          status = true;
        }
        else if (diffTime < 0) {
          status = true;
        }
        return status;
      },
      equipmentStatus() {
        const equipmentStatusId = get(this.equipmentData, ['equipmentStatuses', 0, 'id'], '');
        const fullLabel = WorkplaceEquipmentStatusUtils.getEquipmentStatusLabel(equipmentStatusId, this.equipmentData);
        return fullLabel;
      },
      equipmentQuantity() {
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(2)
          : this.equipmentData.quantityOnRent;
      },
      equipmentTitle() {
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(18)
          : this.equipmentData.title;
      },
      statusLabel() {
        const fullLabel = this.equipmentStatus;
        const firstStatus = split(fullLabel, ':')[0];
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(9)
          : firstStatus;
      },
      statusDetail() {
        const fullLabel = this.equipmentStatus;
        const detailStatus = split(fullLabel, ':')[1];
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(22)
          : detailStatus;
      },
      requesterName() {
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(18)
          : this.equipmentData.requesterName;
      },
      jobSiteName() {
        return this.isRenderingPlaceholderData
          ? this.getSpacingString(15)
          : get(this.equipmentData, ['jobsite', 'name'], '');
      },
      jobsiteLocation() {
        const jobsite = get(this.equipmentData, ['jobsite'], {});
        const { city, state } = jobsite;

        return this.isRenderingPlaceholderData
          ? this.getSpacingString(14)
          : `${city}, ${state}`;
      },
      headerCssClasses() {
        return 'header-display-1 header-display-1--thin';
      },
      ...mapState({
        catalogEquipment: state => state.catalog.equipment,
      }),
      isRenderingPlaceholderData() {
        return Object.keys(this.equipmentData).length === 0;
      },
      imageSrc() {
        const { catClass } = this.equipmentData;
        const src = get(this.catalogEquipment, [catClass, 'images', 0], '');

        // Sometimes the image src is in a string, sometimes it's inside
        // an object like this: { link: "src..." }
        return typeof src === 'string' ? src : (src.link || '');
      },
    },
    data() {
      return {
        arrowClass: '',
        disabledMenuOptions: [
          WorkplaceEquipmentActionTypes.PrintDetails,
        ],
        transTypeMap: {
          R: 'Reservation',
          O: 'Rental',
          C: 'Closed',
          Q: 'Quote',
        },
      };
    },
    methods: {
      handleClick() {
        if (this.isClickable) {
          this.$router.push({
            name: WorkplaceRouteNames.EquipmentDetails,
            params: {
              equipmentId: this.equipmentData.equipmentId,
              transId: this.equipmentData.transId,
              transLineId: this.equipmentData.transLineId,
            },
          });
        }
      },
    },
    mixins: [
      ContentSpacer, // creates shimmers
    ],
    props: {
      arrow: {
        type: String,
        required: false,
      },
      forceDisable: {
        type: Boolean,
        default: false,
      },
      status: {
        type: String,
        required: false,
      },
      title: {
        type: String,
        required: false,
      },
      equipmentData: {
        type: Object,
        required: true,
      },
      subtitle: {
        required: false,
        type: String,
      },
    },
  };
</script>
