<template>
  <div class="minimal-equipment__container">
    <div class="minimal-equipment minimal-equipment__null" v-on:click="redirectMarketplace">
      <h4 class="minimal-equipment__null-title" v-html="$i18n('dashboard.needMore')" />
      <h6 class="minimal-equipment__null-description" v-html="$i18n('dashboard.manageEquipment')" />
      <div style="margin: 10px 0 10px 0;" class="minimal-equipment__cta-wrapper carousel-card-minimal__footer">
        <a href="/marketplace/equipment" class="btn btn-style--primary btn-size--regular rent-equipment-button">{{ $i18n('workplace.rentEquipment') }}</a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        arrowClass: '',
      };
    },
    methods: {
      redirectMarketplace() {
        window.location.href = '/marketplace/equipment';
      },
    },
    props: {
      arrow: {
        type: String,
        required: false,
      },
      forceDisable: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>
