<template>
  <div class="dashboard__carousel equipment-block minimal">
    <vueml-carousel
      :class="center"
      :min-swipe-distance="0"
      :navigation-enabled="navigationEnabled"
      :navigation-next-label="navigationNextLabel"
      :navigation-prev-label="navigationPrevLabel"
      :pagination-active-color="'#008CFF'"
      :pagination-color="'#DDE0E2'"
      :pagination-enabled="true"
      :per-page-custom="[[320, 2], [768, 3], [1024, 4], [1440, 5], [1920, 6]]"
      ref="carousel"
      :scroll-per-page="true"
      @click="clicked($this)"
      @pageChange="gtmTrackCarouselButton('dashboard-carousel', $event)"
    >
      <vueml-slide v-for="equipment in rentalEquipmentList" :key="equipment.id" style="margin: 0 0 0 0;">
        <dashboard-card-minimal
          :to="cardRoutes.allItems"
          :equipment-data="equipment"
          arrow="true"
        />
      </vueml-slide>
      <vueml-slide>
        <dashboard-card-minimal-null
          :title="'Title'"
          :subtitle="'Subtitle Text'"
          :to="cardRoutes.allItems"
          arrow="true"
        />
      </vueml-slide>
    </vueml-carousel>
  </div>
</template>
<script>
  import Vue from 'vue';
  import { mapActions, mapGetters } from 'vuex';
  import { debounce } from 'lodash';
  import { WorkplaceRouteNames } from '@/lib/workplace';
  import { WorkplaceEquipmentStatusId } from '@/lib/workplace/equipment-statuses/equipment-statuses.types';
  import types from '@/store/types';
  import UrGtm from '@/mixins/ur-gtm';
  import DashboardCardMinimal from './dashboard-carousel-minimal-card';
  import DashboardCardMinimalNull from './dashboard-carousel-minimal-null-card';

  export default Vue.extend({
    components: {
      DashboardCardMinimal,
      DashboardCardMinimalNull,
    },
    computed: {
      ...mapGetters({
        allCounts: types.workplace.rentalCountsForCurrentAccount,
        equipmentForCurrentAccount: types.workplace.equipmentForCurrentAccount,
      }),
      ...mapGetters([
        'small',
        'medium',
      ]),
      center() {
        if (!this.$refs.carousel) return;

        return this.$refs.carousel.slideCount < this.perPage
          ? 'center'
          : '';
      },
      navigationNextLabel() {
        return '<i class="icon icon-before-arrow-right"></i>';
      },
      navigationPrevLabel() {
        return '<i class="icon icon-before-arrow-left"></i>';
      },
      rentalEquipmentList() {
        const statusIncludesOnRent = ({ equipmentStatuses }) => equipmentStatuses.some(({ id }) => id === WorkplaceEquipmentStatusId.OnRent);
        /*
        While we get back a number value from the API on how many things are on rent, this
        function will enforce it as a precautionary check and force a max limit of 4 items.
         */
        const rentalEquipmentList = this.equipmentForCurrentAccount.filter(statusIncludesOnRent).slice(0, 4);

        // Placeholder data serves as shimmerable, empty cards. The number of placeholders is determined by the
        // number of items on contract, as returned by the Counts API.
        const placeholderList = Array.from({ length: this.allCounts.onRent }, () => ({}));

        return rentalEquipmentList.length
          ? rentalEquipmentList
          : placeholderList;
      },
      perPage() {
        return this.small ? 2 : 4;
      },
      cardRoutes() {
        return {
          itemsOnRent: {
            ...this.$route,
            name: WorkplaceRouteNames.EquipmentList,
          },
          allItems: {
            ...this.$route,
            name: WorkplaceRouteNames.EquipmentList,
          },
        };
      },
    },
    data() {
      return {
        navigationEnabled: true,
      };
    },
    created() {
      this.handleResize = debounce(this.handleResize, 250);
    },
    mounted() {
      window.addEventListener('resize', this.handleResize);
      this.initNavigation();
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize);
    },
    methods: {
      ...mapActions({
        fetchEquipmentByCatClass: types.catalog.fetchEquipmentByCatClass,
      }),
      initNavigation() {
        this.navigationEnabled = this.small
          ? false
          : this.$refs.carousel.pageCount > 1;
      },
      handleResize() {
        this.$refs.carousel.goToPage(0); /* reset the carousel after page resize, this is an edge case */
        this.initNavigation();
      },
    },
    mixins: [
      UrGtm,
    ],
    watch: {
      rentalEquipmentList: {
        // Fetch Equipment Catalog (so we can show the picture of the equipment)
        handler(list) {
          const catClasses = list.map(({ catClass }) => catClass).filter(String);

          if (catClasses.length) {
            this.fetchEquipmentByCatClass(catClasses);
          }

          if (this.$refs.carousel) {
            this.initNavigation();
          }
        },
        immediate: true,
      },
    },
  });
</script>
