.reservation-confirmation-header {
  padding: 2%;

  button,
  a {
    margin: 20px 15px 0 0;
    width: 200px;
  }

  .icon {
    &:before {
      position: relative;
      top: 10px;
    }
  }

  .button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

