<div class="reservation-confirmation-header">
  <div class="title-area">
    {% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
      with {
        heading_2: title_heading_2,
        heading_2_modifiers: title_heading_2_modifiers
      }
    %}

    {% include '@atoms/02-text/text/01-paragraph.twig'
      with {
        "paragraph_content": sub_heading
      }
    %}
  </div>
  <div class="button-area">
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'View Reservations',
        button_modifiers: view_button_modifiers
      }
    %}
    {% include '@atoms/06-buttons/style-1/01-button.twig'
      with {
        button_content: 'Return to Marketplace',
        button_modifiers: button_modifiers
      }
    %}
  </div>
</div>