<template>
  <div>
    <form>
      <div class="modal-header">
        <h3>{{ $i18n('workplace.linkNewAccount') }}</h3>
      </div>

      <div v-if="updateInProgress" class="modal-body fill flex-column bgc-white flex-gap-10 align-center m-0 p-20">
        <ur-loading-spinner/>
        <h3 class="text-center">{{ $i18n('workplace.submittingRequest') }}</h3>
      </div>
      <div v-else-if="isFetchingAccount" class="modal-body text-center">
        <ur-loading-spinner/>
        <h4 class="color-success text-center">{{ $i18n('workplace.linkAccountSuccess') }}</h4>
        <p class="text-center">{{ $i18n('workplace.fetchingAccountStatAfterLinking') }}</p>
        <br />
      </div>
      <link-account-form
        class="modal-body"
        :accountId.sync="accountId"
        :pin.sync="pin"
        :error-message="error"
        v-else />

      <div class="modal-footer with-help">
        <div class="help">
          <div class="icon-wrapper">
            <span class="icon icon-phone"></span>
          </div>
          <div class="help-section">
            <p>{{ $i18n('user.needHelp') }}?</p>
            <p>{{ $i18n('user.call') }} <a href="tel:1-844-873-4948">1.844.873.4948</a></p>
          </div>
        </div>
        <div class="modal-actions">
          <button
            class="button button--style-1 button--secondary"
            v-show="!updateInProgress && !isFetchingAccount"
            @click.prevent.stop="$router.go(-1)"
          >
            {{ $i18n('ur.cancel') }}
          </button>
          <button
            :disabled="disable"
            v-show="!updateInProgress && !isFetchingAccount"
            class="button button--style-1 button--filled"
            @click.prevent.stop="save"
          >
            {{ $i18n('workplace.linkNewAccountProfile') }}
          </button>
        </div>
      </div>

    </form>
  </div>
</template>
<script type="text/babel">
  import LinkAccountForm from '@/components/user-profile/link-account-form';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner';
  import api from '@/api';
  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';
  import { FlightToken } from '@/api/flight-track';

  export default {
    components: {
      LinkAccountForm,
      UrLoadingSpinner,
    },
    data() {
      return {
        accountId: null,
        pin: null,
        error: null,
        isFetchingAccount: false,
      };
    },
    computed: {
      ...mapState({
        allAccounts: state => state.accounts.all,
      }),
      disable() {
        return !this.accountId || !this.pin || this.error;
      },
      updateInProgress() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](FlightToken.saveValidatePins);
      },
    },
    methods: {
      ...mapActions({
        fetchAccounts: types.accounts.fetch,
      }),
      async save() {
        this.error = null;
        const { accountId, pin } = this;
        let response;

        if (this.allAccounts[accountId]) {
          this.error = this.$i18n('workplace.alreadyLinked');
          return;
        }

        try {
          response = await api.linkAccounts.save({ accountId, pin });
        }
        catch (e) {
          this.error = this.$i18n('workplace.linkAccountErrorAndCallHelp');
        }

        if (response.data[0] && (response.data[0].includes('Invalid') || response.data[0].includes('Unable'))) {
          this.error = this.$i18n('workplace.linkAccountErrorAndCallHelp')
            + this.$i18n('workplace.linkAccountErrorAndCallHelpNumber')
            + this.$i18n('workplace.linkAccountErrorAndCallHelpMore');
          return;
        }
        else if (response === false) {
          this.error = this.$i18n('workplace.linkAccountError');
        }

        this.isFetchingAccount = true;
        this.fetchAccounts().then(() => {
          this.$router.go(-1);
          this.isFetchingAccount = false;
        });
      },
    },
    watch: {
      pin(pin, oldPin) {
        if (pin !== oldPin) {
          this.error = null;
        }
      },
      accountId(accountId, oldAccountId) {
        if ((accountId !== oldAccountId)) {
          this.error = null;
        }
      },
    },
    name: 'linkAccountModal',
  };

</script>
