<template>
  <div>
    <div class="modal-header"><h3>{{$i18n('workplace.pwExpPrefs')}}</h3></div>
    <div class="modal-body">
      <div class="form-content">
        <radio-buttons
          :selections="radioSelections"
          :defaultValue="intervalType"
          @change="intervalTypeChanged"
          header="Choose Password Expiration Interval Type"
        ></radio-buttons>

        <ur-select
          ref="intervalSelect"
          v-if="intervalType==='interval'"
          :value="interval"
          :label="i18n.interval"
          @change="intervalChanged"
          :required="intervalType==='interval'"
          :error="intervalErrorText"
        >
          <option value="30">{{i18n.everyThirtyDays}}</option>
          <option value="60">{{i18n.everySixtyDays}}</option>
          <option value="90">{{i18n.everyNinetyDays}}</option>
        </ur-select>
      </div>
    </div>

    <div class="modal-footer with-help">

      <div class="modal-actions">
        <button
          :disabled="isSaving"
          class="button button--style-1 button--secondary"
          @click.prevent.stop="$router.go(-1)"
        >
          {{ $i18n('ur.cancel') }}
        </button>
        <button
          :disabled="isSaving"
          class="button button--style-1 button--filled"
          @click.prevent.stop="save"
        >
          {{ $i18n('ur.save') }}
        </button>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">

  import RadioButtons from '@/components/common/form/ur-radio-buttons';
  import UrSelect from '@/components/common/form/ur-select';
  import { mapActions, mapState } from 'vuex';
  import { mapLabels } from '@/utils';
  import types from '@/store/types';

  export default {
    components: {
      RadioButtons,
      UrSelect,
    },
    computed: {
      ...mapState({
        pwExp: state => state.tcUser.pswdExpDays,
        userGuid: state => state.tcUser.guid,
        userPhone: state => state.tcUser.phone,
      }),
      radioSelections() {
        const selections = [];
        selections.push({
          sort: 1,
          optionValue: 'noInterval',
          text: this.i18n.none,
        });
        selections.push({
          sort: 2,
          optionValue: 'interval',
          text: this.i18n.useExpInterval,
        });
        return selections;
      },
      computedInterval() {
        return this.intervalType === 'noInterval' ? 0 : this.interval;
      },
      intervalErrorText() {
        return this.intervalError ? this.i18n.intervalRequired : false;
      },
    },
    data() {
      return {
        i18n: mapLabels({
          everyThirtyDays: 'workplace.everyThirtyDays',
          everySixtyDays: 'workplace.everySixtyDays',
          everyNinetyDays: 'workplace.everyNinetyDays',
          interval: 'workplace.interval',
          intervalRequired: 'e.intervalRequired',
          none: 'workplace.none',
          selectInterval: 'workplace.selectInterval',
          useExpInterval: 'workplace.useExpInterval',
        }),
        interval: 0,
        intervalError: false,
        intervalType: 'noInterval',
        isSaving: false,
      };
    },
    methods: {
      ...mapActions({
        updateUserDetails: types.tcUser.updateDetails,
      }),
      intervalTypeChanged(intervalType) {
        this.intervalType = intervalType;
      },
      intervalChanged(interval) {
        this.interval = interval;
        if (this.intervalType === 'interval' && interval <= 0) {
          this.intervalError = true;
        }
        else {
          this.intervalError = false;
        }
      },
      cancel() {
        this.$router.go(-1);
      },
      save() {
        if (this.intervalType === 'interval' && this.interval <= 0) {
          this.intervalError = true;
          return;
        }
        this.isSaving = true;
        this.updateUserDetails({ id: this.userGuid, phone: this.userPhone, pswdExpDays: String(this.computedInterval) })
          .then(() => {
            this.$router.go(-1);
          });
      },
    },
    mounted() {
      if (Number(this.pwExp) === 0) {
        this.interval = '';
        this.intervalType = 'noInterval';
      }
      else {
        this.interval = Number(this.pwExp);
        this.intervalType = 'interval';
      }
    },
  };

</script>
<style lang="scss" scoped>
  .form-content {
    overflow: hidden;
  }
</style>
