<template>
  <div class="profile grid columns">
    <h1>{{ $i18n('ur.yourProfile') }}</h1>
    <personal-information/>
    <template v-if="!userIsEmployee">
      <account-details-listing/>
      <card-details-listing/>
      <credit-app-link/>
    </template>
    <template v-else>
      <div class="employee-ur-profile-message">{{ $i18n('ur.employeeURProfile') }}</div>
    </template>
  </div>
</template>
<script type="text/babel">
  import AccountDetailsListing from './account-details-listing';
  import CardDetailsListing from './card-details-listing';
  import PersonalInformation from './personal-information';
  import CreditAppLink from './credit-app-link.vue';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types'; // eslint-disable-line


  export default {
    components: {
      AccountDetailsListing,
      CardDetailsListing,
      CreditAppLink,
      PersonalInformation,
    },
    computed: {
      ...mapState({
        allAccounts: state => state.accounts.all,
        allCards: state => state.creditCards.all,
        userIsEmployee: state => state.user.isEmployee,
      }),
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        fetchCreditCards: types.creditCards.fetch,
        fetchTcUser: types.tcUser.fetch,
      }),
    },
    mounted() {
      if (!this.allCards.length) {
        this.fetchCreditCards();
      }
      this.fetchTcUser();
    },
    name: 'user-profile',
  };

</script>

<style>
  .employee-ur-profile-message {
    color: #91969b;
    padding-top: 50px;
  }
  .profile {
    padding-bottom: 68px;
  }
</style>
