@charset 'UTF-8';

// ---------------------------------------------------------------------------------------------------------------------
// Libraries/Block: banner block type
// Styles for all banner block
// ---------------------------------------------------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Block
 */

.block-banner-block {
  @include container-full-width();
  @include shadow();

  .block-banner-block__content {
    @include container();

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem($gap-d);

    @include media('>s') {
      flex-direction: row;
    }

    .block-banner__content-text {
      .field--name-field-title {
        @include type-preset(
          $version: 70,
          $type: header
        );
      }

      .field--name-field-subtitle {
        @include type-preset(
          $version: 60,
          $type: header
        );
      }

      .field--name-field-copy {
        @include type-preset(
          $version: 50
        );
      }

      div:only-of-type > p {
        margin: 0;
      }
    }

    .field--name-field-cta-reference {
      @include gap($gap-c);

      display: flex;
      width: 100%;

      @include media('>s') {
        margin-top: 0;
        width: unset;
      }

      div:only-of-type {
        padding: 0;
      }

      div:not(:first-of-type) {
        padding-left: rem($gap-c);
      }

      .field__item {
        width: 100%;

        @include media('>s') {
          width: unset;
        }

        .component-cta .component-cta__footer a {
          width: 100%;

          @include media('>s') {
            width: max-content;
          }
        }
      }
    }

    .media--type-icon {
      padding-right: rem($gap-b);

      > figcaption > div > .field--type-image {
        display: flex;
        font-size: $font-size-preset-80;
      }
    }
  }

  /* Classy Paragraph Styles */
  // Urgency Styles: Low, Med, High ------------------------------------------------------------------------------------
  &.block-banner--urgency-low {
    background-color: $color-bg-light-primary;
  }

  &.block-banner--urgency-med {
    background-color: $color-blue-subtle;
    color: $color-text;
  }

  &.block-banner--urgency-high {
    background-color: $color-utility-attention;
    color: $color-text-reverse;
  }

  // Background Style: Full -------------------------------------------------------------------------------------------
  &.block-banner--background-full {
    @include container-full-width();
  }

  &.block-banner--cta-center {
    .block-banner-block__content {
      flex-direction: column;

      .media--type-icon {
        left: 0;
        padding-left: rem($gap-c);
        position: absolute;
        top: 50%;
      }

      .field--name-field-cta-reference {
        @include gap($gap-c);
      }
    }
  }

  &.block-banner--cta-right-align {
    flex-direction: row;
  }
}

