@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: promo banner block type
// Styles for all promo banner blocks
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Block
 */

.component-block-embed__content,
.field--type-block-field {
  height: 100%;
}

.block-promo-banner {
  background-color: $color-bg-light-primary;
  border: $border-width-light solid $color-utility-border;
  border-radius: $border-radius-med;
  height: 100%;
  overflow: hidden;
  padding: rem($scale-2) rem($scale-4);

  @include media('>=s') {
    padding: rem($scale-2) rem($scale-4) rem($scale-3);
  }

  @include media('>=m') {
    padding: rem($scale-4);
  }

  @include media('>=l') {
    padding: rem($scale-5) rem($scale-5) rem($scale-6);
  }

  .block-promo-banner__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .media {
    margin: 0;

    img,
    svg {
      max-width: inherit;
      width: auto;
    }
  }

  .media--type-icon,
  .media--type-icon svg,
  .media--type-image,
  .media--type-image img {
    height: rem(112);

    @include media('>=m') {
      height: rem(128);
    }

    @include media('>=l') {
      height: rem(180);
    }
  }

  .media--type-icon {
    flex: 1 1 25%;
    margin-right: -5vmax;

    @include media('>=s') {
      margin-right: 0;
    }
  }

  .media--type-image {
    margin-right: -70%;
    padding: 0;
    width: 100%;

    @include media('>=s') {
      margin-right: -51%;
    }

    @include media('>=m') {
      margin-right: -64%;
    }

    @include media('>=l') {
      margin-right: -56%;
    }

    @include media('>=xl') {
      margin-right: -68%;
    }
  }

  .block-promo-banner__content-text {
    flex: 1 1 75%;
    margin-right: rem($scale-2);

    @include media('>=s') {
      margin-right: rem($scale-4);
    }
  }

  .field--name-field-title {
    @include type-preset(
      $version: 70,
      $type: header
    );

    @include media('>=m') {
      @include type-preset(
        $version: 80,
        $type: header
      );
    }
  }

  .field--name-body {
    @include type-preset(
      $version: 40
    );
    color: $color-text-subtle;

    @include media('>=m') {
      @include type-preset(
        $version: 50
      );
    }

    @include media('>=l') {
      @include type-preset(
        $version: 60
      );
    }

    p {
      margin: rem($scale-1) 0 0;
    }
  }

  .field--name-field-cta {
    display: inline-block;
    margin: rem($scale-2) 0 0;

    @include media('>=l') {
      margin: rem($scale-4) 0 0;
    }

    // TODO: change to icon font after crossover
    //@include icon(
    //  $filename: long-arrow-right,
    //  $size: $icon-size-xsmall,
    //  $insert: after
    //) {
    //  color: $color-orange;
    //}
    a {
      @include link-btn();
      @include type-preset(
        $version: 20,
        $type: header
      );

      align-items: center;
      display: flex;
      justify-content: space-between;

      &::after {
        background-image: url(asset-path('icon', 'long-arrow-right--orange.svg'));
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        font-size: $icon-size-xsmall;
        height: 1em;
        margin-left: em($scale-1);
        width: 1em;
      }

      @include media('>=m') {
        @include type-preset(
          $version: 30,
          $type: header
        );
      }

      @include media('>=l') {
        @include type-preset(
          $version: 40,
          $type: header
        );
      }
    }
  }
}
