@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Event Calculator
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.event-calculator {
  @include gap(
    $property: padding,
    $sizes: $gap-e
  );

  background-color: $color-bg-light-tertiary;

  .event-calculator__attendance-wrapper,
  .event-calculator__hours-wrapper {
    display: flex;
    flex-direction: column;

    label {
      @include gap($sizes: $gap-d);
    }

    .event-calculator__attendance-select,
    .event-calculator__hours-select {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;

      .event-calculator__attendance,
      .event-calculator__hours {
        @include type-preset(50);
        @include border(
          $width: $border-width-light
        );

        background-color: $color-bg-light-primary;
        position: relative;
      }

      .select-icon {
        @include icon(
          $filename: arrow-down--blue,
          $size: $icon-size-xsmall
        );

        position: absolute;

        &::before {
          margin-right: rem($scale-4);
        }
      }
    }
  }

  .event-calculator__results {
    @include gap(
      $sizes: $gap-d
    );

    @include type-preset(
      $version: 70,
      $type: header
    );

    align-items: center;
    color: $color-brand-secondary;
    display: flex;
    height: auto;
    min-height: $font-size-preset-70 * $line-height-preset-70;
  }

  .event-calculator__button {
    @include btn(
      $style: primary-alternative
    );

    @include gap(
      $sizes: $gap-d
    );

    width: 100%;
  }
}
