@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

// The container
.block-nested-navigation-block {
  @include container-full-width();

  @include media('>=s') {
    @include container-reset();
    max-width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Accross all levels
.block-nested-navigation-block {
  button {
    @include btn-reset();
    @include icon(
      $filename: arrow-down,
      $size: $icon-size-small,
      $insert: after
    ) {
      transition: $transition-base;
    };
    @include on-event() {
      color: $color-text-link-hover;
    }

    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: left;
    width: 100%;
  }

  a {
    &[href^='https'],
    &[href^='http'],
    &[href^='www'] {
      @include icon(
        $filename: long-arrow-right,
        $size: $icon-size-xxsmall,
        $insert: after) {

        color: $color-orange;
        display: inline-block;
        float: right;
      }
      
      position: relative;
    }
  }
}

.jsa-active > button::after {
  transform: rotate(180deg);
}

// Menu title
.block-hierarchical-taxonomy-menu__title {
  display: none;

  @include media('>=s') {
    @include type-preset(
      $version: 60,
      $type: header
    );

    display: block;
  }
}

// Menu Content
.block-hierarchical-taxonomy-menu__content {
  @include media('>=s') {
    margin-top: rem($gap-c);
  }
}

// Add padding for non .block-heirarchical-taxonomy-menu nested navigations
.block-nested-navigation-block__content {
  nav {
    @include media('>=s') {
      padding-left: rem($gap-b);
      padding-right: rem($gap-b);
    }
  }
}

// The header area
.block-nested-navigation-block__header {
  background-color: $color-bg-light-secondary;
  border-bottom: $border-width-light solid $color-utility-border;
  border-top: $border-width-light solid $color-utility-border;
  transition: $transition-base;

  @include media('>=s') {
    display: none;
  }

  &.jsa-active {
    background-color: $color-bg-light-tertiary;
  }

  > button,
  > a {
    @include container();
    @include type-preset(
      $version: 40,
      $type: header
    );

    color: $color-brand-primary;
    justify-content: center;
    padding-bottom: rem($gap-b);
    padding-top: rem($gap-b);
  }
}

// Remove focus state when clicked
// Keep focus state when tabbed
body:not(.keyboard-activated) .block-nested-navigation-block__content {
  .navigation > ul > li,
  .block-hierarchical-taxonomy-menu__content > ul > li {
    > button,
    > a {
      @include focus-state(
        $reset: true
      )
    }
  }
}

// In the menu
.block-nested-navigation-block__content {
  // all levels
  a,
  button {
    @include type-preset(
      $version: 30
    );
  }

  // parent list
  .navigation > ul,
  .block-hierarchical-taxonomy-menu__content > ul {
    background-color: $color-bg-light-primary;
    display: none;
    list-style: none;

    @include media('>=s') {
      background-color: transparent;
      display: block;
    }

    button,
    a {
      @include container();
      @include on-event() {
        color: $color-text-link-hover;
      }

      @include media('>=s') {
        @include container-reset(
          $position: relative
        );

        width: 100%;
      }
    }

    .menu-item--expanded {
      list-style-image: none;
      list-style-type: none;
    }

    .menu__item--active a,
    .menu-item--in-active-trail a {
      color: $color-text-link;
      font-weight: $font-weight-bold;
    }
  }

  // parent list item
  .navigation > ul > li,
  .block-hierarchical-taxonomy-menu__content > ul > li {
    border-top: $border-width-light solid $color-utility-border;

    @include media('>=s') {
      @include container-reset();
      border-top: 0 none;
      padding-top: 0;
    }

    &:first-of-type {
      border: 0;
      margin-top: 0;
    }

    > button,
    > a {
      font-weight: $font-weight-bold;
      padding-bottom: rem($gap-b);
      padding-top: rem($gap-b);

      @include media('>=s') {
        padding-bottom: 0;
        padding-top: 0;
      }

      &::before {
        background-color: transparent;
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        right: calc(100% + (#{$container-gutter-sm} - #{$border-width-regular}));
        top: 0;
        transition: $transition-base;
        width: $border-width-regular;

        @include media('>=s') {
          right: calc(100% + #{rem($gap-b)});
        }
      }
    }

    &:not(:first-child) {
      @include media('>=s') {
        > button,
        > a {
          border-top: $border-width-light solid $color-utility-border;
        }
      }
    }

    > a {
      color: $color-text;
      display: block;
      padding-bottom: rem($gap-b);
      padding-top: rem($gap-b);

      &.is-active {
        color: $color-text-link;
        font-weight: $font-weight-bold;
      }
    }
  }

  // child list
  .navigation > ul > li > ul,
  .block-hierarchical-taxonomy-menu__content > ul > li > ul {
    @include gap(
      $property: padding,
      $sizes: $gap-b $gap-d
    );

    background-color: $color-utility-positive-subtle;
    border-top: $border-width-light solid $color-utility-border;
    display: none;

    @include media('>=s') {
      border-top: 0;
    }
  }

  // child list item
  .navigation > ul > li > ul > li,
  .block-hierarchical-taxonomy-menu__content > ul > li > ul > li {
    @include container();
    @include gap(
      $sizes: $gap-b
    );

    @include media('>=s') {
      @include container(
        $reset: true
      );
    }

    &:first-of-type {
      margin-top: 0;
    }

    a {
      color: $color-text-subtle;

      &.is-active {
        color: $color-text-link;
        font-weight: $font-weight-bold;
      }
    }

    &:last-of-type {
      margin-bottom: rem($gap-a);
    }
  }
}

// User Profile Navigation
.block-menu-blockaccount {
  h2,
  button:empty {
    display: none;
  }
}

// add margin back to li when "view all" link is included
.node--type-landing > .node__content > .component-compartment > .component-compartment__content > div > .component-block-embed > .component-block-embed__content > .field--type-block-field > .block-nested-navigation-block > .block-nested-navigation-block__content > .field--name-field-nested-navigation-block > .block-hierarchical-taxonomy-menu > .block-hierarchical-taxonomy-menu__content > ul > li > ul > li:first-of-type {
  @include gap(
    $sizes: $gap-b
  );
}
