@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Call Us Block
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

// ensure block spans is full width
// despite other block container sizes in post content
.block-ur-call-us {
  @include container-reset();
}

.block-ur-call-us__content {
  bottom: 0;
  color: $color-text-reverse;
  position: fixed;
  right: rem(204);
  z-index: 700;

  .call-us__trigger {
    @include icon(
      $filename: phone
    );
    @include type-preset(20);

    align-items: center;
    background-color: $color-brand-secondary;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    left: 0;
    padding: rem($gap-a);
    position: absolute;
    transition: $transition-base;
    width: rem($scale-25);
    z-index: 800;

    &:hover,
    &.jsa-active {
      background-color: $color-bg-dark-secondary;
    }
  }

  .call-us__info {
    background-color: $color-bg-dark-secondary;
    bottom: 0;
    display: none;
    padding: rem($scale-4) rem($scale-4) rem($scale-10);
    position: absolute;
    right: rem(-($scale-25));

    > a {
      @include type-preset(40);

      color: $color-text-reverse;
    }

    hr {
      opacity: 0.2;
    }

    .call-us__telnum {
      @include type-preset(60);

      a {
        color: $color-text-reverse;
      }
    }
  }
}
