@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Tile Cards Layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.views-element-container {
  .view-company-cards {
    @include container-full-width();
    @include grid-parent-reset();
    left: calc((-50vw + 50%) + #{$container-gutter-sm});
    margin-left: rem(-$scale-1);
    overflow: visible;

    @include media('>=s') {
      left: calc((-50vw + 50%) + (#{$grid-col-1} - #{$grid-gutter-sm}));
    }

    @include media('>=m') {
      @include container-reset($position: relative);
      margin-left: 0;
      padding-top: 0;
    }

    .slick-list {
      overflow: visible;
      padding-left: rem($gap-a);
      padding-right: calc(#{$grid-col-3} + #{$container-gutter-sm});

      @include bs-ie() {
        // remove grey bars
        border-bottom-color: transparent;
        border-right-color: transparent;
      }

      @include media('>=m') {
        padding-right: calc(#{$grid-col-3} + #{$container-gutter-lg-per});
      }
    }

    .slick-slide {
      margin: 0 $grid-gutter-sm 0 0;

      @include media('>=s') {
        margin: 0 $grid-gutter-lg 0 0;
      }

      @include media('>=m') {
        margin: 0;
      }
    }
  }
}
