@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Default Cards Layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-views-blockequipment-categories-default-cards,
.block-views-blockproject-uptime-related-articles {
  .block-views-blockequipment-categories-default-cards__content,
  .block-views-blockproject-uptime-related-articles__content {
    overflow: hidden;
    position: relative;
    width: calc(100vw - (#{$grid-col-1} - #{$grid-gutter-sm}));

    @include media('>=s') {
      left: rem(-$scale-2);
      width: calc(100vw - (#{$grid-col-1} - #{$grid-gutter-lg}));
    }

    @include media('>=m') {
      @include container-reset();

      left: rem(-$scale-4);
      overflow: visible;
    }
  }

  .slick-list {
    overflow: visible;
    padding-right: rem($scale-8);

    @include media('>=m') {
      margin-left: rem(-$scale-2);
      overflow: hidden;
      padding-right: 0;
    }
  }

  .slick-slide {
    margin: 0 $grid-gutter-sm / 2;

    @include media('>=s') {
      margin: 0 $grid-gutter-lg / 2;
    }
  }
}
