@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Tile Cards Layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-views-blockequipment-categories-tile-cards {
  .block-views-blockequipment-categories-tile-cards__content {
    @include grid-parent-reset();
    overflow: visible;

    @include media('>=m') {
      @include container-reset($position: relative);
      padding-top: 0;
    }
  }

  .view-content {
    @include media('>=m') {
      @include grid-parent(
        $gutter-vertical: true
      );
    }
  }

  .term--view-mode-card-tile {
    // !important overrides the inline style set from slick
    display: flex !important;// sass-lint:disable-line no-important

    @include media('>=m') {
      @include grid-col(3);
    }

    @include media('>=l') {
      @include grid-col(2);
    }
  }

  .slick-list {
    margin: 0 (-$grid-gutter-sm / 2);
    overflow: visible;

    @include bs-ie() {
      // remove grey bars
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    @include media('>=s') {
      margin: 0 (-$grid-gutter-lg / 2);
    }
  }


  .slick-slide {
    margin: 0 ($grid-gutter-sm / 2);

    @include media('>=s') {
      margin: 0 ($grid-gutter-lg / 2);
    }

    @include media('>=m') {
      margin: 0;
    }
  }

  .slick-slide > div:last-of-type {
    margin-top: $grid-gutter-sm;

    @include media('>=s') {
      margin-top: $grid-gutter-lg;
    }
  }
}
