@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Favorite Items Cards Layout
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-views-blockitem-cards-favorites {
  margin-left: rem(-$scale-1);
  position: relative;

  .view-content {
    @include container-full-width();
    left: calc((-50vw + 50%) + #{$container-gutter-sm});
    overflow: visible;

    @include media('>=s') {
      left: calc((-50vw + 50%) + (#{$grid-col-1} - #{$grid-gutter-sm}));
    }

    @include media('>=m') {
      @include container-reset($position: relative);
    }

    // Hides the cards past the side bounds
    &::before,
    &::after {
      @include media('>=m') {
        background-color: $color-bg-light-primary;
        bottom: -5%;
        content: '';
        position: absolute;
        top: -5%;
        width: 100%;
        z-index: 1;
      }
    }

    &::before {
      @include media('>=m') {
        right: calc(100% + #{rem(8)});
      }
    }

    &::after {
      @include media('>=m') {
        left: calc(100% + #{rem(8)});
      }
    }

    .slick-list {
      overflow: visible;
      padding-left: rem($scale-1);
      padding-right: $container-gutter-sm * 2;

      @include media('>=s') {
        padding-right: $container-gutter-lg-per;
      }

      @include media('>=m') {
        padding-right: 0;
      }
    }

    .slick-slide {
      margin: 0 $grid-gutter-sm 0 0;

      @include media('>=s') {
        margin: 0 $grid-gutter-lg 0 0;
      }
    }
  }

  .view-empty {
    position: relative;
  }

  .no-favorites-container {
    @include container-reset();

    align-items: center;
    background-color: $color-bg-light-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: initial;
    overflow: visible;
    padding: rem($scale-6) rem($scale-5) rem($scale-11);

    @include media('>=s') {
      padding: rem(130) rem($scale-7);
    }

    h2 {
      @include type-preset(60);

      margin-top: rem($scale-4);
      text-align: center;

      @include media('>=s') {
        @include type-preset(80);

        margin-top: rem($scale-6);
      }
    }

    p {
      @include type-preset(40);

      color: $color-text-subtle;
      margin-top: rem($scale-3);
      text-align: center;

      @include media('>=s') {
        @include type-preset(50);

        margin-top: rem($scale-5);
      }
    }

    a {
      @include btn(
        $style: primary-alternative
      );

      margin-top: rem($scale-9);
    }

    .img-star {
      font-size: 0;

      &::before {
        background-image: url(asset-path('icon', 'star-border--color-text.svg'));
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        display: inline-block;
        font-size: $icon-size-large;
        height: 1em;
        width: 1em;

        @include media('>=s') {
          font-size: $icon-size-xxlarge;
        }
      }
    }
  }

  .view-display-id-favorites {
    .slick-track {
      margin-left: 0;
    }
  }
}
