@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Project Uptime Social Sharing block.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-ur-helpfulness-rating {
  background-color: $color-grey-11;
  padding: rem($scale-4);

  @include media ('>=s') {
    float: right;
    padding-right: rem($scale-14);
  }

  .helpfulness-rating-question {
    @include type-preset(
      $version: 60,
      $type: header
    );
  }

  .helpfulness-rating-buttons {
    display: flex;
    margin-top: rem($scale-2);
  }

  .helpfulness-rating-button {
    //TODO: change to use icon
    //@include icon(thumb-up);
    @include link();
    align-items: center;
    display: flex;
    font-weight: $font-weight-bold;
    margin-right: rem($scale-8);

    &::before {
      background-image: url(asset-path('icon', 'thumb-up.svg'));
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      font-size: $icon-size-regular;
      height: 1em;
      margin-right: em($scale-1);
      transition: $transition-base;
      width: 1em;
    }

    @include on-event() {
      &::before {
        transform: scale(1.25);
      }
    }

    &.no-button {
      &::before {
        transform: rotate(180deg);
      }

      @include on-event() {
        &::before {
          transform: rotate(180deg) scale(1.25);
        }
      }
    }
  }

  .helpfulness-rating-results {
    @include type-preset(20);
    margin-top: rem($scale-4);
  }
}
