@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Project Uptime Social Sharing block.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

#block-projectuptimesubscribe {
  padding: rem($scale-4);

  .block-cta-block__content {
    margin-top: rem($scale-1);

    .field--name-field-title {
      @include type-preset(
        $version: 60,
        $type: header
      );
    }

    .field--name-field-super-title {
      margin: 0;
    }

    a {
      @include btn(
        $style: primary,
        $size: small
      );

      display: inline-block;
      margin-top: rem($scale-4);
    }
  }
}
