@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Project Uptime Social Sharing block.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

// Default left fixed position
.block-social-sharing-block {
  display: none;
  padding-top: rem($gap-e);

  @include media('>=s') {
    display: block;
    left: calc(#{-$grid-col-4} + (#{-$grid-gutter-sm} / 2));
    padding-top: 0;
    position: absolute;
    top: rem(-$gap-d);
  }

  .social-media-sharing > ul {
    @include grid-parent(
      $gutter-vertical: true
    );

    @include media('>=s') {
      @include grid-parent-reset(
        $display: flex
      );

      flex: 1 1 auto;
      flex-direction: column;
    }
  }

  .social-media-sharing li {
    @include grid-col(4);
    margin: 0;
    padding: 0;

    @include media('>=s') {
      @include grid-col-reset();
    }
  }

  .social-media-sharing a {
    @include type-preset(
      $version: 20,
      $type: header
    );

    align-items: center;
    background-color: $color-grey-5;
    color: $color-text;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: rem($scale-4) rem($scale-2);
    text-transform: uppercase;
    width: 100%;

    img {
      max-height: rem($scale-6);
      width: auto;
    }
  }

  .social-media-sharing .facebook-share,
  .social-media-sharing .twitter,
  .social-media-sharing .linkedin {
    color: $color-text-reverse;
  }

  .social-media-sharing .facebook-share {
    background: $color-facebook;
  }

  .social-media-sharing .twitter {
    background: $color-twitter;
  }

  .social-media-sharing .linkedin {
    background: $color-linkedin;
  }
}

// Reset to fixed position once all of the buttons are shown on screen
.block.block-social-sharing-block.jsa-social-block-fixed {
  display: block;

  @include media('>=s') {
    left: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
  }
}

// Reset to relative position
.page-node-type-project-uptime-pages .region-content .block.block-social-sharing-block.jsa-block-social-sharing-block--reset {
  display: block;
  left: inherit;
  padding-top: rem($scale-4);
  position: relative;
  top: inherit;

  @include media('>=s') {
    padding-top: rem($scale-9);
  }

  .social-media-sharing > ul {
    align-content: space-around;
    flex-direction: row;
  }

  .social-media-sharing a {
    height: 100%;
  }
}

// Hidden input for copy link
.block-social-sharing-block .jsa-temp-value--hidden {
  @include visually-hidden();
}
