@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Block: Project Uptime Social Sharing block.
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

.block-ur-release-block {
  bottom: 0;
  display: none;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 500;

  @include media('>=s') {
    display: block;
  }

  .ur-release-block-content {
    @include shadow(one);
    @include type-preset(10);
    background: $color-bg-light-tertiary;
    color: $color-text;
    padding: 0.5em 1em;
    text-align: center;
  }
}

