{% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" with {
    "heading_6": label
  } 
%}
{% include "@atoms/02-text/00-headings/heading-2/heading-2.twig" with {
    "heading_2": number_1
  }
%}
{% if number_2 is not empty %}
{% include "@atoms/02-text/00-headings/heading-6/heading-6.twig" with {
    "heading_6": number_2
  }
%}
{% endif %}
{% if number_2 is empty %}
  <h6>&nbsp;</h6>
{% endif %}