.feedback-banner {
  border-radius: $border-radius-med;
  padding: 20px 18px;
  margin: 12px auto;

  &-headline {
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
    color: $color-text;
    margin: 0;

    display: flex;
    align-items: center;

    .icon-component {
      margin-right: 8px;
    }
  }

  &-details {
    margin-top: 4px;
    font-size: $font-size-base;
    color: $color-text;

    &.parent-has-icon {
      margin-left: 28px;
    }
  }
}

.inline-feedback-banner {
  @extend .feedback-banner;
  background-color: $color-blue-subtle;
}

