<template>
  <div :class="$options.name" class="equipment-details-section">
    <h2 class="no-border">{{ $i18n('workplace.items') }} <span class="c-gray sub-header" :style="subHeaderStyle">({{ equipmentList.length }})</span></h2>
    <div v-for="(item, index) in equipmentList" :key="item.equipmentId" class="equipment-grid--item-wrapper">
      <equipment-grid-item
        :id="item.equipmentId"
        :index="index"
        :item="item"
        v-bind="$attrs"
        v-on="$listeners" show-leniency-rates/>
    </div>
    <actions-menu />
  </div>
</template>

<script>
import EquipmentGridItem from '@/components/workplace/common/equipment-grid-item';
import ActionsMenu from '@/components/workplace/shared/actions/actions-menu.vue';

export default {
  name: 'OrderDetailEquipmentList',
  components: { EquipmentGridItem, ActionsMenu },
  data() {
    return {
      // normal class wasn't properly adding the style, had to inline it via style
      subHeaderStyle: 'font-weight:lighter;font-size:20px',
    };
  },
  props: {
    equipmentList: {},
  },
};
</script>
<style lang="scss" scoped>

  .equipment-details-section {
    div.equipment-grid--item-wrapper {
      // middle items
      .equipment-grid--item {
        border-radius: 0;
        border-width: 1px 1px 0px;
      }
      // first item
      &:nth-of-type(1) .equipment-grid--item{
        border-radius: 8px 8px 0px 0px;
      }
      // last item
      &:nth-last-of-type(2) .equipment-grid--item{
        border-radius: 0px 0px 8px 8px;
        border-width: 1px;
      }
      // single item.
      &:nth-of-type(1):nth-last-of-type(2) .equipment-grid--item{
        border-radius: 8px;
      }
    }
  }

</style>
