<template>
  <div v-if="doneLoading" :class="mobileOrDesktop">
    <!-- main.left -->
    <div class="left-main" v-if="order">
      <!-- order.summary -->
      <div class="flex-summary">
        <details-header :item="order" :title="order.jobsite.name" :subtitle="headerSubtitle" >
          <template slot="suptitle">
            <span class="suptitle"><strong>#{{order.transId}}&nbsp;·&nbsp;</strong> <span>{{order.orderType}}</span></span>
          </template>
          <div slot="status" class="display-flex">
          </div>
        </details-header>
        <!-- ./order.summary -->
        <actions-detail-field v-if="small || medium"
          :item="order"
          :field="{
            primary: detailActions.primary,
            secondary: detailActions.secondary,
            enabledActions: detailActions.menu,
          }"
        />
      </div>
      <!-- order.equipment-cards -->
      <order-details-equipment-grid :equipment-list="orderEquipmentList" />

      <!-- order.rental-duration -->
      <duration :item="firstEquipment">
        <router-link v-if="changePickupPreferencesLink" :to="changePickupPreferencesLink">
          {{ $i18n('workplace.changePreferences') }}
          <i class="icon icon-before-long-arrow-right c-orange"></i>
        </router-link>
      </duration>
      <!-- ./order.rental-duration -->

      <!-- order.cost-and-fees -->
      <costs-fees ref="costsFees" :transaction="order" />
    </div>
    <!-- ./main.left -->

    <!-- sidebar.right -->
    <div class="right-rail">
      <actions-detail-field class="m-b-10"
        v-if="!small && !medium"
        :item="order"
        :field="{
          primary: detailActions.primary,
          secondary: detailActions.secondary,
          enabledActions: detailActions.menu,
        }"
      />
      <transaction-information-cards
        :item="order"
      />
    </div>
    <!-- ./sidebar.right -->
  </div>
</template>

<script>
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import { get, isEmpty } from 'lodash';
  import CostsFees from '../common/costs-fees';
  import Duration from '../common/details/duration';
  import DetailsHeader from '../common/details/header';
  import { WorkplaceRouteNames, WorkplaceAction } from '@/lib/workplace';
  import TransactionInformationCards from '../common/information-cards';
  import OrderDetailsEquipmentGrid from './order-details-equipment-grid';
  import ActionsDetailField from '../shared/fields/actions/detail-field.vue';
  import { WorkplaceOrderStatusName } from '../../../lib/workplace';
  /*
   * @vuese
   * @group Workplace
   * Workplace Orders Detail View
   */
  export default {
    name: 'OrderDetails',
    components: {
      CostsFees,
      Duration,
      DetailsHeader,
      TransactionInformationCards,
      OrderDetailsEquipmentGrid,
      ActionsDetailField,
    },
    mounted() {
      document.body.scrollTop = 0;
    },
    provide() {
      return {
        // The costs-fees component currently has calculation logic for estimates.
        // At some point, that logic should be put in its own js file, so it
        // can easily be used elsewhere without having to be a Vue component.
        //
        // For now though, we'll pull it from the $ref. Making it a callable
        // to avoid race conditions with v-if.
        transactionEstimate: () => get(this.$refs, 'costsFees.estimate', {}),
      };
    },
    computed: {
      ...mapGetters([
        /*
         * @vuese
         * @type Boolean
         * Determine if page view is small sized
         */
        'small',
        /*
         * @vuese
         * @type Boolean
         * Determine if page view is medium sized
         */
        'medium',
      ]),
      /*
       * @vuese
       * @type boolean
       * Determine if detail page is done loading
       */
      doneLoading: vm => !isEmpty(vm.order),
      /*
       * @vuese
       * @type string
       * Get the uniqueId for our order item
       */
      orderId: vm => vm.order && vm.order.orderNumber,
      /*
       * @vuese
       * @type String
       * Calculate the order details sub-title header text
       */
      headerSubtitle() {
        const { address1, address2, city, state, zip } = this.order.jobsite;
        return `${address1} ${address2} · ${city}, ${state} ${zip}`;
      },
      /*
       * @vuese
       * @type Obj: { primary: WorkplaceAction, secondary: WorkplaceAction, menu: WorkplaceAction[] }
       * DetailActions object for setting the detail action primary, secondary, and remaining actions menu
       * based on the detail orders highest priority status
       */
      detailActions() {
        return {
          [WorkplaceOrderStatusName.Quoted]: {
            primary: WorkplaceAction.ConvertQuote,
            secondary: WorkplaceAction.EditPurchaseOrder,
            menu: [
              WorkplaceAction.ViewAndEditQuote,
              WorkplaceAction.ConvertQuote,
              WorkplaceAction.PrintQuote,
            ],
          },
          [WorkplaceOrderStatusName.ReservedForBranchPickup]: {
            primary: WorkplaceAction.ContactBranch,
            secondary: WorkplaceAction.EditPurchaseOrder,
            menu: [
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewReservation,
            ],
          },
          [WorkplaceOrderStatusName.ReservedForDelivery]: {
            primary: WorkplaceAction.ContactBranch,
            secondary: WorkplaceAction.EditPurchaseOrder,
            menu: [
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewReservation,
            ],
          },
          [WorkplaceOrderStatusName.Open]: {
            primary: WorkplaceAction.RequestPickup,
            secondary: WorkplaceAction.ExtendRental,
            menu: [
             WorkplaceAction.EditPurchaseOrder,
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewCurrentContract
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewOriginalContract
            ],
          },
          [WorkplaceOrderStatusName.DueSoon]: {
            primary: WorkplaceAction.RequestPickup,
            secondary: WorkplaceAction.ExtendRental,
            menu: [
              WorkplaceAction.EditPurchaseOrder,
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewCurrentContract
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewOriginalContract
            ],
          },
          [WorkplaceOrderStatusName.Overdue]: {
            primary: WorkplaceAction.RequestPickup,
            secondary: WorkplaceAction.ExtendRental,
            menu: [
              WorkplaceAction.EditPurchaseOrder,
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewCurrentContract
              // @todo Future Work: When Created Uncomment WorkplaceAction.ViewOriginalContract
            ],
          },
        }[this.order.status];
      },
      /*
       * @vuese
       * Determine if use our mobile or desktop view class
       */
      mobileOrDesktop() {
        return `equipment-details--${this.small || this.medium ? 'mobile' : 'desktop'}`;
      },
      /*
       * @vuese
       * @type WorkplaceOrder && transType
       * https://bitbucket.org/unitedrentals/unitedrentals/src/8a5cbe12242fce4d9f4a17d8f223459d5d2d18f5/docroot/modules/custom/ur_frontend_api_v2/src/Models/Order.php#lines-43,51
       * transId and transType have been renamed recently. Aliasing them here for
       * compatibility until I've got the rest of details page sorted out:
       */
      order() {
        const order = this.$store.getters[types.workplace.ordersForCurrentAccount].find(({ orderNumber }) => orderNumber === this.$route.params.orderId);

        return order ? {
          ...order,
          transId: order.orderNumber,
          transType: order.orderType,
        } : null;
      },
      /*
       * @vuese
       * @type WorkplaceEquipment[]
       * Order Equipment List
       */
      orderEquipmentList() {
        return Object.values(this.order.equipment);
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if a user can change pickup preferences given highest priority order status
       */
      canChangePickupPreferences() {
        if (isEmpty(this.order)) return;

        return this.order.statuses.includes(WorkplaceOrderStatusName.Overdue);
      },
      /*
       * @vuese
       * @type WorkplaceEquipment
       * Find the first equipment item from the given order
       */
      firstEquipment() {
        const items = get(this, 'order.equipment');
        return items && Object.values(items)[0];
      },
      /*
       * @vuese
       * @type void|Vue Route Object
       * If the user can change pickup preferences return the RequestEquipmentReschedule Route with its params/query
       */
      changePickupPreferencesLink() {
        if (!this.canChangePickupPreferences) return;

        return {
          name: WorkplaceRouteNames.RequestEquipmentReschedule,
          params: {
            equipmentId: this.firstEquipment.equipmentId,
            transLineId: this.firstEquipment.transLineId,
            rescheduleType: 'pickup',
            transId: this.firstEquipment.transId,
          },
          query: {
            transId: this.firstEquipment.transId,
            originalPickup: this.firstEquipment.returnDateTime,
            contentSize: '90',
          },
        };
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  .actions .actions-button {
    max-height:42px;
  }

  .detail-action-buttons .actions-button {
    width: 2.78571rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .flex-summary {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:space-between;

    @include media('>=640px') {
      flex-wrap: nowrap;
    }

    > div:first-child{
      flex-basis: 100%;
      max-width: 100%;

      @include media('>=640px') {
        padding-right: 1rem;
        flex-basis: (7 / 12 * 100)#{'%'};
        max-width: (7 / 12 * 100)#{'%'};
      }
      @include media('>=m') {
        padding-right: 0;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    .detail-action-buttons {
      width:100%;
      padding-top: rem(10);

      @include media('>=640px') {
        width:inherit;
        padding-top: 0;
        max-width: 290px;
        margin-top: -8px;
      }
      @include media('>=l') {
        margin-top: 0;
      }
    }
  }
</style>
