.authentication-panel {
  box-shadow: 0 1px 0 0 $color-grey-11;
  padding-bottom: 20px;

  .heading-5 {
    margin: 0;
    width: auto;
  }

  .icon-info-circle {
    display: flex;
    align-items: center;
    position: relative;
    left: 6px;
  }

  .container-inline {
    display: flex;
    justify-content: space-between;

    .selection__paragraph {
      margin: 0;
      font-size: 12px;
      float: right;
      text-align: right;
      width: 66%;
      font-weight: 400;
      word-break: break-word;
    }

    .heading-6,
    label,
    span {
      padding-top: 5px;
      font-size: 12px;
      width: 30%;
      font-weight: 600;
    }

    .edit__paragraph {
      color: $color-grey-38;
      font-size: 12px;
      font-weight: 400;
      float: right;
      margin-left: auto;
      width: auto;
    }
  }

  .editing {

    .object-listing-location-search {
      height: 32px;
      border-radius: 4px;
      width: 100%;
      position: relative;
      padding: 5px 0;
      margin-top: 0.5rem;
      margin-bottom: 1rem;

      input {
        padding-left: 28px;
        font-size: 12px;
        height: 32px;
      }

      .icon-map-marker {
        left: 13px;
      }

      .global-search__clear {
        display: none !important;
      }
    }

    .save-changes {
      font-size: 12px;
      color: $color-grey-38;
      text-decoration: underline;
      cursor: pointer;
    }

    .contextual-search-no-icon {
      padding: 5px 0;
    }
  }

  .selection__paragraph-left {
    font-size: 12px;
  }
}

