<div class="authentication-panel">
  <div class="container-inline">
    {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
      with {
        "heading_5": heading_5
      }
    %}
    <p class="edit__paragraph link">Edit</p>
  </div>
  <div class="container-inline">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "Account"
      }
    %}
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "argodesign",
        "paragraph_blockname": "selection"
      }
    %}
  </div>
  <div class="container-inline">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "Job"
      }
    %}
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "Office Construction",
        "paragraph_blockname": "selection"
      }
    %}
  </div>
  <div class="container-inline">
    {% include "@atoms/02-text/00-headings/heading-6/heading-6.twig"
      with {
        "heading_6": "Location"
      }
    %}
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": "Austin, TX 78704",
        "paragraph_blockname": "selection"
      }
    %}
  </div>
</div>