.mobile-nested-navigation {
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;

  @include breakpoint($break-medium) {
    display: none;
  }
}

.nested-navigation {
  height: auto;
  min-height: 0;

  .main-sidebar & {
    padding: 20px;

    @include breakpoint($break-medium) {
      padding: 40px;
    }
  }

  &.is-open {
    ul.menu,
    .block {
      display: block;
    }
  }

  &__heading-5 {
    margin-top: 0;
    margin-bottom: 2rem;
    display: none;
    text-transform: uppercase;

    @include breakpoint($break-medium) {
      display: block;
    }
  }


  &__active-title-container {
    background: $color-grey-2;
    box-shadow: 0 1px 0 0 #DEE1E3;

    @include breakpoint($break-medium) {
      display: none;
    }
  }

  &__active-title {
    display: block;
    cursor: pointer;
    color: $color-blue;
    text-align: center;
    font-weight: bold;
    line-height: 44px;
    margin: 0;

    &:before {
      @extend .icon;
      content: "\f107";
      // TODO: Find Color
      color: #4B4B4B;
      font-size: $font-size-h3;
      line-height: 44px;
      position: absolute;
      right:25px;
      z-index: 0;
    }

    // TODO: Find color
    .is-open & {
      background-color: #DDE0E2;

      &:before {
        transform: rotate(180deg);
      }
    }
  }

  ul.menu,
  .block {
    display: none;

    .main-sidebar & {
      @include breakpoint($break-medium) {
        display: block;
        max-width: 142px;
      }
    }

    // All <li>
    .menu__item {
      margin: 0;

      @include breakpoint($break-medium) {
        margin: 0 0 1rem;
      }


      // <li> with children
      &--below {
        position: relative;
        width: 100%;
        background: $white;
        min-height: 44px;
        margin: 0 0 1px 0;
        box-shadow: 0 1px 0 0 #DEE1E3;

        @include breakpoint($break-medium) {
          margin: 0 0 1rem;
          background: none;
          box-shadow: none;
          min-height: 0;
        }


        //padding: 0 16px;

        // Gives them the arrow icon
        &::before {
          @extend .icon;
          content: "\f107";
          color: #4B4B4B;
          font-size: $font-size-h3;
          line-height: 44px;
          position: absolute;
          right: 16px;
          z-index: 0;

          @include breakpoint($break-medium) {
            display: none;
          }
        }

        // <ul> inside of the .menu__item
        ul {
          margin: 0;
          margin-left: -14px;
          list-style-type: none;
          max-height: 0;
          background: $color-grey-2;
          transition: max-height $animation-speed $anim-ease;

          @include breakpoint($break-medium) {
            display: none;
          }

          .menu__item {
            opacity: 0;
            //transition: opacity $animation-speed-quick $animation-speed-quick $anim-ease;

            .menu__link {
              padding: 0 16px;

              @include breakpoint($break-medium) {
                padding: 0;
                color: $color-grey-38;
              }

              &.is-active {
                color: $color-blue;
                font-weight: bold;
              }
            }
          }
        }

        &.is-open {
          //height: auto;

          &::before {
            transform: rotate(180deg);
          }

          ul {

            transition:
              max-height $animation-speed $anim-ease,
              margin-left $animation-speed-quick $animation-speed-quick $anim-ease;
            margin-left: 0;
            max-height: 2000px;

            @include breakpoint($break-medium) {
              display: block;
              margin: .5rem 0 0;
            }

            .menu__item {
              transition: opacity $animation-speed-quick $animation-speed-quick $anim-ease;
              opacity: 1;
            }
          }
        }
      }

      // active menu items
      &--active {
        > .menu__link {
          color: $color-blue;
          font-weight: bold;
        }

        // Display the active menu item's sub navigation
        ul {
          .menu__item {

            &--active {
              .menu__link {
                color: $color-blue;
                font-weight: bold;
              }
            }

            .menu__link {
              &.is-active {
                color: $color-blue;
                font-weight: bold;
              }
            }
          }
        }
      }

      // All <a>
      .menu__link {
        color: #414B50;
        line-height: 44px;
        padding: 0 12px;

        @include breakpoint($break-medium) {
          padding: 0;
          color: $color-grey-79;
          font-size: 12px;
          line-height: 20px;
          font-weight: 500;
        }

      }
    }

    // Only add these styles if there are no children below this item
    > .menu__item {
      &:not(.menu__item--below) {
        .is-active {
          color: $color-blue;
          font-weight: bold;
        }
      }
    }

    > .menu__item--active {
      &:not(.menu__item--below) {
        .menu__link {
          color: $color-blue;
          font-weight: bold;
        }
      }
    }

    // Only style top level <li> with children
    > .menu__item--below {

      > .menu__link {
        text-decoration: none;
        display: block;
        position: relative;
        z-index: 1;

        // .icon-angle-down, @see atoms/text/icomoon/_icons.scss
        &:after {
          @extend .icon;
          @include breakpoint($break-medium) {
            color: #4B4B4B;
            content: "\f107";
            position: absolute;
            right: -40px;
            font-size: $font-size-h3;
            line-height: 20px;
          }
        }
      }

      &.is-open {
        > .menu__link {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
