<div class="nested-navigation">
  {% block block_title %}
    {% include "@atoms/02-text/00-headings/heading-5/heading-5.twig"
      with {
        "heading_5": block_title
      }
    %}
  {% endblock %}
  <div class="nested-navigation__active-title-container">
    <p class="nested-navigation__active-title">

    {% block active_title %}
      {{ active_title }}
    {% endblock %}

    </p>
  </div>
  {% block nested_nav %}
    {% include "@molecules/menus/_mock-menu.twig"
      with {
        "menu_data": navigation_items,
      }
    %}
  {% endblock %}
</div>