<header class="header">
  <div class="header__specialty-navigation grid bg-color--blue-lowlight justify--right text-color--white font-size--type-xsmall align--center"><a href="/" class="menu__link">UnitedRentals.com</a></div>
  <div class="header__primary-navigation grid bg-color--blue text-color--white font-size--type-header-h5 align--center">
    <i class="icon icon-bars mobile-menu__open"></i>
    <div class="header__global-navigation-pages">
      <nav role="navigation" aria-labelledby="block-unitedrentals-main-menu-menu" id="block-unitedrentals-main-menu">
        <ul class="menu">
          <li class="menu__item menu__item--active">
            <a class="menu__link" href="/welcome#welcome">
              Welcome
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/welcome#our-stories">
              Our Stories
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/welcome#grow-with-us">
              Grow With Us
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/welcome#faqs">
              FAQs
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/welcome#contact-us">
              Contact Us
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <a class="header__logo-holder" href="/">
      <span class="header__logo"></span>
    </a>
  </div>
</header>

<div class="field--name-field-microsite-components field--type-entity-reference-revisions">
  <div><div class="text-align-center hero hero--with-video paragraph paragraph--type-hero-blocks paragraph--view-mode-hero-block-with-video ds-1col clearfix">
    <div responsive-hero-image="true" class="hero--wrapper hero--with-video">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/sites/default/files/styles/microsite_hero_large/public/2018-07/Welcome_Tank_and_Pump.jpg?itok=4cv12lFT 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
        <source srcset="/sites/default/files/styles/microsite_hero_large/public/2018-07/Welcome_Tank_and_Pump.jpg?itok=4cv12lFT 1x" media="all and (min-width: 640px)" type="image/jpeg" />
        <!--[if IE 9]></video><![endif]-->
        <img src="/sites/default/files/styles/microsite_hero_small/public/2018-07/Welcome_Tank_and_Pump.jpg?itok=NKGeX3EQ" alt="" typeof="foaf:Image" />
      </picture>
      <h1 class="hero--headline">
        Welcome</h1>
      <p class="hero--description">
        We&#039;re glad you stopped by. Scroll to learn all about becoming a United Rentals employee!</p>
      <div class="microsite-hero--media-container">
        <div class="microsite-hero--video">
          <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/Dmw-c6w3-Bc?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
          </div>
        </div>
        <div class="microsite-hero--video-thumbnail">
          <img src="/sites/default/files/styles/microsite_hero_video_thumbnail_small/public/2018-06/Welcome_Vid_Image%202.JPG?itok=mnVd06BT" width="582" height="382" alt="Senior Leadership" typeof="foaf:Image" />
        </div>
        <div class="overlay"></div><div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
      </div>
    </div>
  </div>
  </div>



  <div>
    <div class="paragraph paragraph--type-section paragraph--view-mode-default microsite-section" id="our-stories">
      <div class="microsite-section__wrapper">
        <div class="microsite-section__heading-group text-align-center">
          <h2 class="microsite-section__heading">
            Our Stories</h2>
          <p class="microsite-section__subheading">
            We know that joining a new company can seem like a lot of change to handle. So we thought we&#039;d share some great advice from colleagues who have been in your shoes. Check out the videos below.</p>
        </div>
        <div class="microsite-carousel" data-slideshow-id="6983086a4bf89dac7db8c1c0938cf8c7">
          <div class="microsite-slideshow--featured-slides">
            <div class="microsite-slide--featured-slide is-active" data-slide-id="18446">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/i7lFf9b0mxg?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Good_Move_Video.JPG?itok=Yq-lahao" width="494" height="278" alt="Good Move" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Good Move</h2>
                  <p class="microsite-slide--featured-caption">
                    At United Rentals, you&#039;ll find different people, different backgrounds, different perspectives, one super team. All of the employees speaking in the videos below have joined us through acquisitions. It turned out to be a good move for them, and we are confident it will be for you too.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18456">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/Vo3bB0GDrPA?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Tyler_Video_0.JPG?itok=FMzDlwNx" width="494" height="278" alt="Tyler Bradford" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Tyler Bradford, Branch Manager</h2>
                  <p class="microsite-slide--featured-caption">
                    Tyler is a branch manager in our Pump Solutions team. He came to us from National Pump and Compressor.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18461">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/8nAhysNYMvg?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Danny_Video_0.JPG?itok=AsBLqmkD" width="494" height="278" alt="Danny Delrio" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Danny Delrio, Outside Sales Representative</h2>
                  <p class="microsite-slide--featured-caption">
                    Danny loves being out in the field as an outside sales rep. He talks about coming to us from Neff Rentals.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18466">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/7E3LaqUsi7I?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Brian_Video_0.JPG?itok=5U6on42E" width="494" height="278" alt="Brian Cantu" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Brian Cantu, District Sales Manager</h2>
                  <p class="microsite-slide--featured-caption">
                    Brian manages a sales district in his home state of Texas. He joined us from RSC and found that we&#039;re a family-oriented company.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18471">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/if63vRuD8Ac?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Kacie_Video_0.JPG?itok=fTe6r8mv" width="494" height="278" alt="Kacie Brewer" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Kacie Brewer, HR Manager</h2>
                  <p class="microsite-slide--featured-caption">
                    Kacie is a people person who loves to talk to employees one-on-one. She came to us from National Pump and Compressor.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18476">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/z3UIL3_TyKE?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2018-06/Blair_Video_0.JPG?itok=XrgyQHp8" width="494" height="278" alt="Blair Cottingham" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    Blair Cottingham, District Sales Manager</h2>
                  <p class="microsite-slide--featured-caption">
                    From Lake Charles, Lousiana, Blair joined the team through Blue Stream.</p>
                </div>
              </div>
            </div>
            <div class="microsite-slide--featured-slide " data-slide-id="18481">
              <div class="paragraph paragraph--type-microsite-slide paragraph--view-mode-default ds-1col clearfix">
                <div class="microsite-slide--media-container">
                  <div class="microsite-slide--video">
                    <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" class="video-player" src="https://www.youtube.com/embed/XV-jXWaS8d8?autoplay=0&amp;start=0&amp;rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                  </div>
                  <div class="microsite-slide--featured-thumbnail-wrapper">
                    <div class="microsite-slide--featured-thumbnail">
                      <img src="/sites/default/files/styles/microsite_featured_thumbnail/public/2019-07/UCF_2018_Video.JPG?itok=kqiusAck" width="494" height="278" alt="United Compassion Fund 2018" typeof="foaf:Image" />
                    </div>
                    <div class="circle"><div class="play-button-wrapper"><div class="play-button"></div></div></div>
                  </div>
                </div>
                <div class="microsite-slide--featured-wrapper">
                  <h2 class="microsite-slide--featured-title">
                    United Compassion Fund 2018</h2>
                  <p class="microsite-slide--featured-caption">
                    Very quickly, you&#039;ll learn that we genuinely care about each other. Our employee-funded 501(c)(3) program helps colleagues in crisis.</p>
                </div>
              </div>
            </div>
          </div>
          <section class="microsite-slideshow">
            <ul class="microsite-slides">
              <li class="microsite-slide" data-slide-id="18446">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Good_Move_Video.JPG?itok=B3-xvYBn 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Good_Move_Video.JPG?itok=eBJADCSI 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Good_Move_Video.JPG?itok=eBJADCSI" alt="Good Move" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Good Move</h6>
                  <p class="microsite-slide--caption">
                    At United Rentals, you&#039;ll find different people, different backgrounds, different perspectives, one super team. All of the employees speaking in the videos below have joined us through acquisitions. It turned out to be a good move for them, and we are confident it will be for you too.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18456">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Tyler_Video_0.JPG?itok=6jj1DbY_ 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Tyler_Video_0.JPG?itok=El7Sryd8 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Tyler_Video_0.JPG?itok=El7Sryd8" alt="Tyler Bradford" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Tyler Bradford, Branch Manager</h6>
                  <p class="microsite-slide--caption">
                    Tyler is a branch manager in our Pump Solutions team. He came to us from National Pump and Compressor.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18461">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Danny_Video_0.JPG?itok=OlxJNswL 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Danny_Video_0.JPG?itok=1vF1Ihv- 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Danny_Video_0.JPG?itok=1vF1Ihv-" alt="Danny Delrio" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Danny Delrio, Outside Sales Representative</h6>
                  <p class="microsite-slide--caption">
                    Danny loves being out in the field as an outside sales rep. He talks about coming to us from Neff Rentals.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18466">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Brian_Video_0.JPG?itok=Xp-Sp240 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Brian_Video_0.JPG?itok=cDafSzlG 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Brian_Video_0.JPG?itok=cDafSzlG" alt="Brian Cantu" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Brian Cantu, District Sales Manager</h6>
                  <p class="microsite-slide--caption">
                    Brian manages a sales district in his home state of Texas. He joined us from RSC and found that we&#039;re a family-oriented company.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18471">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Kacie_Video_0.JPG?itok=W7Y30r3J 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Kacie_Video_0.JPG?itok=OTeoDBR0 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Kacie_Video_0.JPG?itok=OTeoDBR0" alt="Kacie Brewer" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Kacie Brewer, HR Manager</h6>
                  <p class="microsite-slide--caption">
                    Kacie is a people person who loves to talk to employees one-on-one. She came to us from National Pump and Compressor.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18476">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/Blair_Video_0.JPG?itok=4Aqi2hoL 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Blair_Video_0.JPG?itok=dwjzNirT 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/Blair_Video_0.JPG?itok=dwjzNirT" alt="Blair Cottingham" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    Blair Cottingham, District Sales Manager</h6>
                  <p class="microsite-slide--caption">
                    From Lake Charles, Lousiana, Blair joined the team through Blue Stream.</p>
                </div>
              </li>
              <li class="microsite-slide" data-slide-id="18481">
                <div class="field--name-field-slide-thumbnail field--type-image microsite-slide--thumbnail">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/microsite_slideshow_/public/2018-06/UCF_2017_Video.JPG?itok=R_zv7GQu 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/UCF_2017_Video.JPG?itok=Pt-lrdWV 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/microsite_slideshow_small/public/2018-06/UCF_2017_Video.JPG?itok=Pt-lrdWV" alt="United Compassion Fund 2018" typeof="foaf:Image" />
                  </picture>
                  <div class="microsite-slide--thumbnail-overlay"></div>
                </div>
                <div class="microsite-slide--thumbnail-wrapper">
                  <h6 class="microsite-slide--title">
                    United Compassion Fund 2018</h6>
                  <p class="microsite-slide--caption">
                    Very quickly, you&#039;ll learn that we genuinely care about each other. Our employee-funded 501(c)(3) program helps colleagues in crisis.</p>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>




  <div>
    <div class="paragraph paragraph--type-section paragraph--view-mode-default microsite-section" id="grow-with-us">
      <div class="microsite-section__wrapper">
        <div class="microsite-section__heading-group text-align-center">
          <h2 class="microsite-section__heading">
            Grow With Us</h2>
          <p class="microsite-section__subheading">
            United Rentals is a great place to work and achieve your goals.</p>
        </div>
        <section id="paragraph-18501" class="component-fact-cards paragraph--type-fact-cards paragraph--view-mode-default paragraph-component fact-cards" data-entity-id="18501" data-entity-type="paragraph">
          <div class="component-fact-cards__content">
            <div class="text-align-center fact-card paragraph paragraph--type-microsite-fact-cards paragraph--view-mode-default ds-1col clearfix">
              <h2 class="fact-card__heading">
                18,855</h2>
              <h6 class="fact-card__subline">
                Employees</h6>
            </div>
            <div class="text-align-center fact-card paragraph paragraph--type-microsite-fact-cards paragraph--view-mode-default ds-1col clearfix">
              <h2 class="fact-card__heading">
                30%</h2>
              <h6 class="fact-card__subline">
                Joined Us Through Acquisitions</h6>
            </div>
            <div class="text-align-center fact-card paragraph paragraph--type-microsite-fact-cards paragraph--view-mode-default ds-1col clearfix">
              <h2 class="fact-card__heading">
                89%</h2>
              <h6 class="fact-card__subline">
                Would Recommend URI as a Good Place to Work</h6>
            </div>
          </div>
        </section>
        <div class="text-align-center paragraph paragraph--type-microsite-text-component paragraph--view-mode-default ds-1col clearfix">
          <h6 class="microsite-text--heading">
            It&#039;s All About Team-Building</h6>
          <p class="microsite-text--copy">
            The most important part of United Rentals is our people. It&#039;s our job to make sure you have the support of a great team and a company that wants you to succeed. We&#039;re excited to have you join us.</p>
        </div>
        <section id="paragraph-18586" class="component-callout-cards-container paragraph--type-callout-cards-container paragraph--view-mode-default paragraph-component callout-cards-container" data-entity-id="18586" data-entity-type="paragraph">
          <div class="component-callout-cards-container__content">
            <div class="paragraph paragraph--type-callout-cards paragraph--view-mode-default callout-card ds1-col clearfix">
              <a class="callout-card__link" href="https://jobs.unitedrentals.com/creative/culture">
                <div class="callout-card__image-wrapper">
                  <div class="field--name-field-callout-image field--type-image"> <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/callout_card_small/public/2018-06/Culture_Image_1.jpg?itok=zQxNl-M9 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/hero_bp_large/public/2018-06/Culture_Image_1.jpg?itok=uelN2mK9 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/callout_card_small/public/2018-06/Culture_Image_1.jpg?itok=zQxNl-M9" alt="Culture" typeof="foaf:Image" />
                  </picture>
                  </div>
                  <div class="callout-card__overlay"></div>
                  <div class="callout-card__heading-wrapper">
                    <h6 class="callout-card__heading">Culture<span class="callout-card__icon icon icon-long-arrow-right"></span></h6>
                  </div>
                  <div class="callout-card__icon-image-wrapper">
                    <div class="field--name-field-callout-icon field--type-image"> <img src="/sites/default/files/2019-08/Culture_Icon.png" width="330" height="330" alt="culture icon" typeof="foaf:Image" />
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="paragraph paragraph--type-callout-cards paragraph--view-mode-default callout-card ds1-col clearfix">
              <a class="callout-card__link" href="https://jobs.unitedrentals.com/creative/diversity">
                <div class="callout-card__image-wrapper">
                  <div class="field--name-field-callout-image field--type-image"> <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/callout_card_small/public/2018-06/Diversity_Image_2_0.JPG?itok=PUWhxPw3 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/hero_bp_large/public/2018-06/Diversity_Image_2_0.JPG?itok=8_0OueHh 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/callout_card_small/public/2018-06/Diversity_Image_2_0.JPG?itok=PUWhxPw3" alt="Diversity" typeof="foaf:Image" />
                  </picture>
                  </div>
                  <div class="callout-card__overlay"></div>
                  <div class="callout-card__heading-wrapper">
                    <h6 class="callout-card__heading">Diversity &amp; Inclusion<span class="callout-card__icon icon icon-long-arrow-right"></span></h6>
                  </div>
                  <div class="callout-card__icon-image-wrapper">
                    <div class="field--name-field-callout-icon field--type-image"> <img src="/sites/default/files/2019-08/Diversity_Icon.png" width="375" height="375" alt="diversity icon" typeof="foaf:Image" />
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="paragraph paragraph--type-callout-cards paragraph--view-mode-default callout-card ds1-col clearfix">
              <a class="callout-card__link" href="https://jobs.unitedrentals.com/creative/offer">
                <div class="callout-card__image-wrapper">
                  <div class="field--name-field-callout-image field--type-image"> <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/callout_card_small/public/2018-06/Benefits_Image_2.jpg?itok=WnEePzEj 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/hero_bp_large/public/2018-06/Benefits_Image_2.jpg?itok=PcFH4gw9 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/callout_card_small/public/2018-06/Benefits_Image_2.jpg?itok=WnEePzEj" alt="Benefits" typeof="foaf:Image" />
                  </picture>
                  </div>
                  <div class="callout-card__overlay"></div>
                  <div class="callout-card__heading-wrapper">
                    <h6 class="callout-card__heading">Benefits<span class="callout-card__icon icon icon-long-arrow-right"></span></h6>
                  </div>
                  <div class="callout-card__icon-image-wrapper">
                    <div class="field--name-field-callout-icon field--type-image"> <img src="/sites/default/files/2019-08/Benefits_Icon.png" width="375" height="375" alt="benefits icon" typeof="foaf:Image" />
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="paragraph paragraph--type-callout-cards paragraph--view-mode-default callout-card ds1-col clearfix">
              <a class="callout-card__link" href="https://jobs.unitedrentals.com/creative/offer">
                <div class="callout-card__image-wrapper">
                  <div class="field--name-field-callout-image field--type-image"> <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/sites/default/files/styles/callout_card_small/public/2018-06/Training_Image_0.jpg?itok=QOoOXbNQ 1x" media="all and (min-width: 640px)" type="image/jpeg" />
                    <source srcset="/sites/default/files/styles/hero_bp_large/public/2018-06/Training_Image_0.jpg?itok=HCn3Gzi2 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
                    <!--[if IE 9]></video><![endif]-->
                    <img src="/sites/default/files/styles/callout_card_small/public/2018-06/Training_Image_0.jpg?itok=QOoOXbNQ" alt="Training" typeof="foaf:Image" />
                  </picture>
                  </div>
                  <div class="callout-card__overlay"></div>
                  <div class="callout-card__heading-wrapper">
                    <h6 class="callout-card__heading">Training &amp; Development<span class="callout-card__icon icon icon-long-arrow-right"></span></h6>
                  </div>
                  <div class="callout-card__icon-image-wrapper">
                    <div class="field--name-field-callout-icon field--type-image"> <img src="/sites/default/files/2019-08/Training_Icon.png" width="375" height="375" alt="training icon" typeof="foaf:Image" />
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>




  <div>
    <div class="paragraph paragraph--type-section paragraph--view-mode-default microsite-section microsite-section__with-background-image" id="faqs">
      <div class="microsite-section__wrapper">
        <div class="microsite-section__bg-image" responsive-background-image="true">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/sites/default/files/styles/microsite_background_large/public/2018-06/UNIR_IMG44_FAQs.jpg?itok=K3u9mw67 1x" media="all and (min-width: 1024px)" type="image/jpeg" />
            <source srcset="/sites/default/files/styles/microsite_background_small/public/2018-06/UNIR_IMG44_FAQs.jpg?itok=fFkb5UtF 1x" media="all and (min-width: 640px)" type="image/jpeg" />
            <!--[if IE 9]></video><![endif]-->
            <img src="/sites/default/files/styles/microsite_background_small/public/2018-06/UNIR_IMG44_FAQs.jpg?itok=fFkb5UtF" alt="FAQ" typeof="foaf:Image" />
          </picture>
        </div>
        <div class="microsite-section__heading-group text-align-center">
          <h2 class="microsite-section__heading">
            FAQs</h2>
          <p class="microsite-section__subheading">
            Have a question about United Rentals? Check out our Frequently Asked Questions.</p>
        </div>
        <section id="paragraph-18541" class="component-faq-list paragraph--type-faq-list paragraph--view-mode-default paragraph-component faq-list" data-entity-id="18541" data-entity-type="paragraph">
          <div class="component-faq-list__content">
              <div class="faq-row">
                  <div class="field--name-node-title field--type-ds"><h6 class="faq__question">
                    What is United Rentals commitment to Safety?
                  </h6>
                  </div>
                  <div class="faq__answer">
                   <p>Our commitment to safety defines who we are and what we value most as the leader in a very challenging industry: the personal safety of our employees. Simply stated, we want every employee to go home at the end of the day the same way they came to work. This commitment means providing our employees with the tools, environment, and knowledge they need to work safely every day. We also recognize that our safety performance and reputation figure significantly in our ability to attract and retain the best employees and loyal customers, and in securing our safety leadership role in the industries and communities we serve.</p></div>
                  <span class="view-answer icon icon-add"></span>
              </div>
              <div class="faq-row">
                  <div class="field--name-node-title field--type-ds"><h6 class="faq__question">
                    What is the United Compassion Fund?
                  </h6>
                  </div>
                  <div class="faq__answer">
                    <p>The United Compassion Fund (UCF) is an employee-funded, first-response program intended to assist employees in distress that have experienced an uncontrollable crisis situation that creates a financial hardship. The UCF is a 501(c)(3) charity.  Donations are tax deductible and grants distributed to recipients are tax-free.  An elected board of directors made up of field employees makes all grant decisions. More than 12,000 URI employees are actively donating and hundreds of URI families have been helped through the generosity of those contributing.  </p></div>
                  <span class="view-answer icon icon-add"></span>
              </div>
              <div class="faq-row">
                  <div class="field--name-node-title field--type-ds"><h6 class="faq__question">
                    How will I learn about United Rentals’ pay and benefits programs as well as everything else I’ll need to know as part of the URI team?
                  </h6>
                  </div>
                  <div class="faq__answer">
                    <p>At United Rentals, we value communication so during your onboarding process, you’ll learn everything you need to know about your transition. You’ll learn all about our pay and benefits, our programs and more through targeted communications specifically designed to answer all of your questions in depth.</p></div>
                  <span class="view-answer icon icon-add"></span>
              </div>
              <div class="faq-row">
                  <div class="field--name-node-title field--type-ds"><h6 class="faq__question">
                    What is the top priority as we consider the many aspects of the integration?
                  </h6>
                  </div>
                  <div class="faq__answer">
                    <p>Our goal is always to do what’s right, and do it as transparently as possible. This includes taking care of all our employees. We have processes in place to communicate with you frequently during the integration, while maintaining high levels of customer service and safety. Safety is the collective responsibility of our combined team. We want you to think of it as a fundamental requirement of the job –– a core value that’s part of who we are, how we operate and what we believe in. You’ll see us prioritize that during the transition.</p></div>
                  <span class="view-answer icon icon-add"></span>
              </div>
              <footer>
                <a class="button button--filled-reverse" href="/welcome/faqs">View All</a>
              </footer>
          </div>
        </section>
      </div>
    </div>
  </div>



  <div>
    <div class="paragraph paragraph--type-section paragraph--view-mode-default microsite-section" id="contact-us">
      <div class="microsite-section__wrapper">
        <div class="microsite-section__heading-group text-align-center">
          <h2 class="microsite-section__heading">
            Contact Us</h2>
          <p class="microsite-section__subheading">
            Can’t find your question in the FAQs? Reach out to us directly.</p>
        </div>
        <div class="paragraph paragraph--type-microsite-contact-ctas paragraph--view-mode-default">
          <a class="microsite-cta microsite-cta__phone bg-color--blue" href="tel:203.618.7129">
            <span class="icon microsite-cta__icon icon-phone"></span>
            <span class="microsite-cta__content">203.618.7129</span>
          </a>

          <a href="mailto:HR-CORP@ur.com" class="microsite-cta microsite-cta__email bg-color--blue-highlight">
            <span class="icon microsite-cta__icon icon-envelope"></span>
            <span class="microsite-cta__content">
              <div data-quickedit-field-id="paragraph/18551/field_microsite_email_label/en/default" class="field--name-field-microsite-email-label field--type-string">
                Email</div>
            </span>
          </a>

        </div>
      </div>
    </div>
  </div>
