
.views-exposed-form-project-uptime-search-all {

  #edit-pillars--wrapper legend {
    display: none;
  }

  .form-item-sort-bef-combine {
    display: block;

    @include breakpoint($break-medium) {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  fieldset {
    border-bottom: 2px solid $color-grey-11;
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

 fieldset#edit-business-units--wrapper {
    legend {
      color: $color-grey-69;
      display: block;
      font-size: 12px;
      font-weight: $font-weight-bold;
      line-height: 1;
      margin-bottom: 7px;
      padding: 5px 0;
      position: relative;
    }

    label {
      color: $color-grey-38;
      font-weight: $font-weight-normal;
      margin-bottom: 16px;
      padding-bottom: 0;
      padding-top: 0;
    }

  }

  .form-checkboxes {
    // All these specific styles for hiding top level term checkboxes.
    &.bef-nested {
      > ul {
        > li {
          > .form-item {
            position: relative;

            > label {
              padding-left: 0;
              max-width: 90%;

              &::after,
              &::before {
                display: none;
              }
            }


          }
        }
      }
    }

    ul {
      list-style-type: none;

      li {
        &.is-open {
          .form-item {
            &:after {
              transform: rotate(180deg);
            }
          }

          ul {
            display: block;
          }
        }
      }

      ul {
        margin: 0;
        padding-left: 0;

        label {
          color: $color-grey-38;
          font-weight: $font-weight-normal;
          margin-bottom: 16px;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }
}


.views-exposed-form-project-uptime-sort {
  display: none;
  top: 32.8rem;
  right: 4.1rem;
  position: absolute;
  max-width: 100%;
  text-overflow: ellipsis;

  @include breakpoint($break-medium) {
    display: inline-block;
  }

  #edit-pillars--wrapper,
  #edit-business-units--wrapper {
    display: none;
  }

  .form-item-sort-bef-combine {
    label {
      display: none;
    }
  }

  .dropdown-style1 {
    width: auto;
    padding-right: 2.7rem;

    @media screen and (max-width: $break-large - 1) {
      font-size: 1rem;
    }
  }
}
