.upload-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-input + label {
  font-size: $font-size-base;
  border: 1px solid $color-grey-11;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  padding-top: 6px;
  color: $color-blue;
}
