<div class="dropdown_menu__holder {% if dropdown_menu_active %}dropdown_menu__holder--active{% endif %}">
    {% include "@atoms/06-buttons/dropdown-button/dropdown-button.twig"
      with {
        "dropdown_menu_button_title": dropdown_menu_button_title,
        "dropdown_menu_button_icon": dropdown_menu_button_icon
      }
    %}
    <div class="dropdown_menu__container">
      <span class="dropdown_menu__description">{{dropdown_menu_description}}</span>
      {% for item in dropdown_menu_option %}
        <a href="#" class="dropdown_menu__link {% if loop.index0 == 1 %}dropdown_menu__link--active{% endif %}{% if loop.last %} dropdown_menu__link--border{% endif %}"><i class="icon icon-check-circle"></i>{{item}}</a>
      {% endfor %}
    </div>
  </div>
