<template>
  <div class="flex-column account-listing-accordion">
    <div
      v-for="account in accounts"
      :key="account.id"
      class="flex-row border-b-normal flex-gap-10 p-x-10 cursor-pointer" >

      <!-- Radio button -->
      <div class="p-y-10" @click="handleAccountSelection(account)">
        <input
          type="radio"
          :id="account.id"
          :value="account.id"
          :checked="account.id === selectedAccountId"
        />

        <label :for="account.id" class="m-0 p-0 no-grow no-shrink pos-relative">
          <span class="radio"></span>
        </label>
      </div>

      <!-- Account details -->
      <div
        @click="handleAccountSelection(account)"
        class="p-y-10 flex-column flex-gap-10 grow"
        style="overflow: auto">
        <span class="fw-bold ellipsis" :title="account.name">{{ account.name }}</span>
        <div class="flex-row" v-for="([columnKey, value]) in getAccountDetailRows(account)" :key="account.id + columnKey">
          <span class="fw-bold c-gray ellipsis" style="flex-basis: 50%">{{ getAccountColumnLabel(columnKey) }}</span>
          <span class="grow">{{ value }}</span>
        </div>
      </div>

      <!-- Account favorite toggle button -->
      <div class="display-block p-y-10" v-if="userIsEmployee">
        <q-icon
          v-if="!accountIsPendingFavorite(account.id)"
          :class="['cursor-pointer', {'c-blue-highlight': account.isFavorited}]"
          size="small"
          :icon-name="account.isFavorited ? 'star' : 'star-border'"
          @click="handleAccountFavoriteToggle(account)"
        />
        <ur-loading-spinner v-else class="m-0" style="font-size: 20px" />
      </div>
      <!-- Account expansion toggle button -->
      <div class="p-y-10 cursor-pointer" @click="toggleAccountIdExpansion(account.id)">
        <q-icon
          color="#0050A9"
          size="regular"
          :icon-name="accountIdIsExpanded(account.id) ? 'keyboard-arrow-up' : 'keyboard-arrow-down'"
        />
      </div>

    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '01-variables';
  @import '../account-selector.variables';

  .account-listing-accordion {
    overflow: hidden;

    & > div:nth-child(odd) {
      background-color: $color-grey-2;
    }
    & > div:nth-child(even) {
      background-color: $color-white;
    }
  }
</style>

<script>
  import Vue from 'vue';
  import Format from '@/mixins/format';
  import { AccountColumnKey, AccountUtils } from '@/lib/accounts';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  /**
   * Events emitted:
   * accountSelected --> (account: Account)
   * accountFavoriteToggled --> (account: Account)
   */
  export default Vue.extend({
    name: 'account-listing-accordion',
    components: {
      UrLoadingSpinner,
    },
    mixins: [Format],
    props: {
      accounts: {
        required: true,
        validator: data => Array.isArray(data),
      },
      pendingFavoriteAccountIds: {
        type: Array,
        default: () => [],
        validator: data => Array.isArray(data) && data.every(id => typeof id === 'string'),
      },
      selectedAccountId: {
        required: true,
        // May be either null or a non-empty string
        // eslint-disable-next-line
        validator: data => data === null || typeof data === 'string' && data.length > 0,
      },
      userIsEmployee: {
        required: true,
        type: Boolean,
      },
    },
    data() {
      return {
        expandedAccountIds: [],
      };
    },
    methods: {
      accountIdIsExpanded(accountId) {
        return this.expandedAccountIds.includes(accountId);
      },
      accountIsPendingFavorite(id) {
        return this.pendingFavoriteAccountIds.includes(id);
      },
      getAccountColumnLabel: AccountUtils.getAccountColumnLabel,
      // Return a list of [label: string, value: string] pairs
      getAccountDetailRows(account) {
        return !this.accountIdIsExpanded(account.id)
          ? [
            [AccountColumnKey.AccountId, account.id],
          ]
          : [
            [AccountColumnKey.AccountId, account.id],
            [AccountColumnKey.CityState, `${this.upperCaseFirstLetters(account.city)}, ${account.state}`],
            [AccountColumnKey.ParentAccountId, account.id !== account.parentId ? account.parentId : 'Parent'],
            [AccountColumnKey.Status, account.statusDesc],
            [AccountColumnKey.Level, account.tcLevelLabel],
          ];
      },
      handleAccountSelection(account) {
        if (this.selectedAccountId !== account.id) {
          this.toggleAccountIdExpansion(account.id);
        }
        this.$emit('accountSelected', account);
      },
      handleAccountFavoriteToggle(account) {
        this.$emit('accountFavoriteToggled', account);
      },
      toggleAccountIdExpansion(accountId) {
        this.expandedAccountIds = this.accountIdIsExpanded(accountId)
          ? this.expandedAccountIds.filter(id => id !== accountId)
          : [...this.expandedAccountIds, accountId];
      },
    },
  });
</script>
