<template>
  <table class="table account-listing-table">
    <thead>
      <tr class="bgc-gray-lightest border-b-normal">
        <th
          v-for="(column, index) in columns"
          :key="index"
          @click="handleColumnSortChange(column)"
          class="table__heading-cell"
          :class="{
            'cursor-pointer': column !== sortColumnKey,
            'cursor-n-resize': column === sortColumnKey && sortAscending,
            'cursor-s-resize': column === sortColumnKey && !sortAscending,
          }">

          <q-icon
            v-if="column === AccountColumnKey.Favorite"
            class="header-favorite-icon"
            size="small"
            icon-name="star"
          />
          <template v-else-if="column === AccountColumnKey.AccountName">
            <span class="display-inline-block" style="width: 24px"></span>
            <span>{{ getAccountColumnLabel(column) }}</span>
          </template>
          <span v-else>{{ getAccountColumnLabel(column) }}</span>

          <i
            class="icon icon-caret-down icon-flippable m-l-5"
            :class="{
              'icon-flipped': !sortAscending,
              'icon-inactive': column !== sortColumnKey,
            }"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="table__row"
        v-for="account in accounts"
        :key="account.id"
        :class="{ 'table__row--blue': account.id === selectedAccountId }">

        <td
          v-for="column in columns"
          :key="account.id + column"
          class="table__cell"
          :class="column"
          :title="getAccountColumnLabel(column)">

          <span
            v-if="column === AccountColumnKey.AccountName"
            class="flex-row align-items-center cursor-hover-pointer"
            @click="handleAccountSelection(account)">
            <input
              type="radio"
              :id="account.id"
              :value="account.id"
              :checked="account.id === selectedAccountId"
            />

            <label :for="account.id" class="m-0 no-grow no-shrink pos-relative" style="flex-basis: 25px" @click="handleAccountSelection(account)">
              <span class="radio"></span>
            </label>

            <span :title="account.name" class="ellipsis">{{ account.name }}</span>
          </span>

          <span v-else-if="column === AccountColumnKey.AccountId">{{ account.id }}</span>
          <span v-else-if="column === AccountColumnKey.CityState">{{ upperCaseFirstLetters(account.city) }}, {{ account.state }}</span>
          <span v-else-if="column === AccountColumnKey.Level">{{ account.tcLevelLabel }}</span>
          <span v-else-if="column === AccountColumnKey.ParentAccountId">{{ account.id !== account.parentId ? account.parentId : 'Parent' }}</span>
          <span v-else-if="column === AccountColumnKey.Status">{{ account.statusDesc }}</span>

          <span v-else-if="column === AccountColumnKey.Favorite" class="data-favorite-icon">
            <q-icon
              :class="['cursor-pointer', {'c-blue-highlight': account.isFavorited}]"
              size="small"
              :icon-name="account.isFavorited ? 'star' : 'star-border'"
              @click="handleAccountFavoriteToggle(account)"
            />
          </span>
        </td>
      </tr>
    </tbody>

  </table>
</template>


<style lang="scss" scoped>
  @import '01-variables';
  @import '../account-selector.variables';

  .account-listing-table {
    thead tr th {
      background-color: $color-white;
    }

    tbody tr {
      &:nth-child(odd) {
        background-color: $color-grey-2;
      }
      &:nth-child(even) {
        background-color: $color-white;
      }
    }
    th, td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr td:first-of-type {
      color: $color-grey-69;
      font-size: $font-size-base;
      font-weight: bold;
      border-right: 1px solid $color-grey-11;
      max-width: $listing-table-first-col-max-width;
    }
    tr td:last-of-type {
      border-left: 1px solid $color-grey-11;
    }

    .header-favorite-icon, .data-favorite-icon {
      vertical-align: middle;
      display: inline-block;

      /deep/ svg {
        display: block;
        height: 20px;
        width: 20px;
      }
    }
  }
</style>

<script>
  import Vue from 'vue';
  import Format from '@/mixins/format';
  import { AccountColumnKey, AccountUtils } from '@/lib/accounts';

  /**
   * Events emitted:
   * accountSelected --> (account: Account)
   * accountFavoriteToggled --> (account: Account)
   * columnSortChanged --> (columnKey: AccountColumnKey)
   */
  export default Vue.extend({
    name: 'account-listing-table',
    mixins: [Format],
    props: {
      accounts: {
        required: true,
        validator: data => Array.isArray(data),
      },
      pendingFavoriteAccountIds: {
        type: Array,
        default: () => [],
        validator: data => Array.isArray(data) && data.every(id => typeof id === 'string'),
      },
      selectedAccountId: {
        required: true,
        // May be either null or a non-empty string
        // eslint-disable-next-line
        validator: data => data === null || typeof data === 'string' && data.length > 0,
      },
      sortAscending: {
        required: true,
        type: Boolean,
      },
      sortColumnKey: {
        required: true,
        validator: data => Object.values(AccountColumnKey).includes(data),
      },
      userIsEmployee: {
        required: true,
        type: Boolean,
      },
    },
    data() {
      // This array determines the column order
      const columns = [
        AccountColumnKey.AccountName,
        AccountColumnKey.AccountId,
        AccountColumnKey.CityState,
        AccountColumnKey.ParentAccountId,
        AccountColumnKey.Status,
        AccountColumnKey.Level,
      ];

      if (this.userIsEmployee) columns.push(AccountColumnKey.Favorite);

      return { AccountColumnKey, columns };
    },
    methods: {
      accountIsPendingFavorite(id) {
        return this.pendingFavoriteAccountIds.includes(id);
      },

      getAccountColumnLabel: AccountUtils.getAccountColumnLabel,

      handleAccountSelection(account) {
        this.$emit('accountSelected', account);
      },
      handleAccountFavoriteToggle(account) {
        this.$emit('accountFavoriteToggled', account);
      },
      handleColumnSortChange(columnKey) {
        this.$emit('columnSortChanged', columnKey);
      },
    },
  });
</script>
