.object_listing__footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  justify-content: center;

  @include breakpoint($break-small) {
    justify-content: space-between;
  }

  p {
    display: none;
    margin: 0;

    @include breakpoint($break-small) {
      display: flex;
    }
  }

  .paginate-links_container {
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      margin: 0 7px;
      padding: 0 !important;
      position: relative;
      top: 3px;

      .left-arrow a,
      .right-arrow a {
        @extend .icon;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-grey-11;
        color: $color-blue;
        line-height: 10px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        opacity: 0.75;
        cursor: pointer;
        font-size: 0;
        &:before {
          font-size: 1rem!important;
        }
      }
      .left-arrow a {
        @extend .icon-chevron-left;
      }
      .right-arrow a {
        @extend .icon-chevron-right;
      }
      .left-arrow.disabled,
      .right-arrow.disabled {
        opacity: 0.2;
        color: $color-grey-69;
        cursor: default;
      }

      :nth-child(2) {
        :before {
          content: 'Page';
          display: inline-block;
          margin-right: 6px;
        }
      }

      li {
        display: flex;
        margin: 0 6px;
        height: 20px;
        white-space: nowrap;

        &.active {
          border-bottom: 2px solid $color-blue-highlight;
        }

        :hover {
          text-decoration: none;
        }
      }
    }
  }
}
/*
---
name: Pagination
category: Molecules
---
## BEHAVIORS

#### User selects page number in pagination
System refreshes page based on page number selected

#### User selects previous arrow in pagination
* System refreshes Object Listing page with previous page
* If a user is on the first Object Listing page, the previous arrow is not interactive

#### User selects next arrow in pagination
* System refreshes Object Listing page with next page
* If a user is on the last Object Listings page, the next arrow is not interactive

```pagination.html
<div class="paginate-links_container">
    <ul class="paginate-links filteredEquipment">
        <li class="left-arrow disabled"><a>«</a></li>
        <li class="number active"><a>1</a></li>
        <li class="number"><a>2</a></li>
        <li class="number"><a>3</a></li>
        <li class="number"><a>4</a></li>
        <li class="right-arrow"><a>»</a></li>
    </ul>
</div>
```
*/
