<div class="object_listing__footer">
  {% include "@atoms/02-text/text/01-paragraph.twig"
    with {
      "paragraph_content": paragraph_content
  }
  %}
  <div class="paginate-links_container">
    <i class="icon icon-chevron-left"></i>
    <ul class="paginate-links equipment">
      <li class="number active"><a>1</a></li>
      <li class="number"><a>2</a></li>
      <li class="number"><a>3</a></li>
      <li class="number"><a>4</a></li>
      <li class="number"><a>5</a></li>
    </ul>
    <i class="icon icon-chevron-right"></i>
  </div>
</div>