{% if jsa_block_wrap_open %}
<div class="jsa-block-wrap">
{% endif %}
<div class="helpfulness-rating-block">
  <div class="helpfulness-rating-message"></div>
  <div class="helpfulness-rating">
    <div class="helpfulness-rating-question">{{ helpfulness_question }}</div>
    <div class="helpfulness-rating-buttons" data-bundle="{{ bundle }}" data-entity-id="{{ entity_id }}">
      <a href="#" class="helpfulness-rating-button yes-button" data-vote="1">{{ "Yes" | t }}</a>
      <a href="#" class="helpfulness-rating-button no-button" data-vote="0">{{ "No" | t }}</a>
    </div>
  </div>
  {% if total_votes >= 10 %}
  <div class="helpfulness-rating-results">
    <div class="helpfulness-rating-total">
      {{ yes_votes }} {{ "out of" | t }} {{ total_votes }} {{ "found this helpful" | t }}
    </div>
  </div>
  {% endif %}
</div>
{% if jsa_block_wrap_close %}
</div>
{% endif %}