<div class="dashboard__carousel">
  {% include "@molecules/dashboard/carousel-card/carousel-card.twig" %}
  {% include "@molecules/dashboard/carousel-card/carousel-card.twig" %}
  {% include "@molecules/dashboard/carousel-card/carousel-card.twig" %}
  {% include "@molecules/dashboard/carousel-card/carousel-card.twig" %}
</div>