<div class="widget-section">
  {% include "@molecules/dashboard/widget-section/widget-section-header.twig" %}
  <div class="widget-body">
    {% include "@organisms/dashboard/widget.twig"
      with {
        "widget_timestamp": no_widget_timestamp,
      }
    %}
    {% include "@organisms/dashboard/widget.twig" %}
    {% include "@organisms/dashboard/widget.twig" %}
  </div>
</div>