<div class="widget">
  <div class="widget-content">
    {% include "@molecules/dashboard/widget/widget-header.twig" %}
    {% include "@molecules/dashboard/widget/widget-data-visualization.twig" %}
    {% include "@molecules/dashboard/widget/widget-data-group.twig" %}
    {% include "@molecules/dashboard/widget/widget-data-group.twig" %}
  </div>
</div>