<template>
  <div class="ur-menu-wrapper">
    <button class="ur-menu-button ur-menu-button--filter button-settings button--secondary" @click="openColumnVisibilityModal">
      <i class="icon icon-before-settings adjusted-icon"></i>
    </button>
  </div>
</template>

<script>
  import { types } from '@/store';
  import { mapGetters } from 'vuex';

  /*
   * @vuese
   * @group Workplace
   * Customize Column Visibility Listing Controls
   */
  export default {
    name: 'CustomizeColumnVisibility',
    computed: {
      ...mapGetters({
        /*
         * @vuese
         * column visibility route name
         */
        columnVisibilityRouteName: types.workplace.collectionColumnVisibilityRouteName,
      }),
    },
    methods: {
      /*
       * @vuese
       * Open column visibility modal
       */
      openColumnVisibilityModal() {
        this.$router.push({
          name: this.columnVisibilityRouteName,
          query: { ...this.$route.query },
        });
      },
    },
  };
</script>
<style lang="scss">
  div.listing-customize-icon-container {
    position: relative;
    left: 24px;
    bottom: 10px;
    padding: 3px;
    i.icon.icon-before-settings {
      font-weight: bolder;
      font-size: 22px;
    }
  }
</style>
