<template>
  <div class="dashboard">
    <div class="dashboard__item-not-found">
      <h1 v-html="$i18n('workplace.itemNoLongerOnRentHeader')"></h1>
      <p v-html="$i18n('workplace.itemNoLongerOnRentBody')"></p>
      <div class="better-results">
        <router-link class="fw-bold" :to="viewAllEquipmentOnRentRoute" v-html="$i18n('workplace.viewAllEquipmentOnRent')"></router-link>
        <i class="icon icon-before-long-arrow-right c-orange"></i>
      </div>
      <div class="better-results">
        <a class="fw-bold" v-bind:href="rentAnotherLikeThisRoute" v-html="$i18n('workplace.rentAnotherLikeThis')"></a>
        <i class="icon icon-before-long-arrow-right c-orange"></i>
      </div>
      <div class="better-results">
        <span v-html="$i18n('workplace.callCustomerService')"></span>
        <gtm-phone-number class="display-inline fw-bold" :number="generalNumber"></gtm-phone-number>
      </div>
    </div>
  </div>
</template>

<script>
  import GtmPhoneNumber from '@/components/gtm/gtm-phone-number.vue';
  import types from '@/store/types';
  import { mapActions, mapState } from 'vuex';
  import { WorkplacePredefinedRoutes } from '@/lib/workplace';

  export default {
    name: 'equipmentItemNoLongerOnRent',
    components: {
      GtmPhoneNumber,
    },
    methods: {
      ...mapActions({
        fetchCatClassByEquipmentId: types.workplace.equipmentDetails.fetchCatClassByEquipmentId,
      }),
    },
    data() {
      return {
        foundCatClass: null,
      };
    },
    async mounted() {
      if (this.catClass) return;
      try {
        this.foundCatClass = await this.fetchCatClassByEquipmentId(this.$route.params.equipmentId);
      }
      catch (e) {
        // No-op. if cat class is not found then point link to '/marketplace/equipment';
      }
    },
    computed: {
      ...mapState({
        generalNumber: state => state.callUs.generalNumber,
      }),
      rentAnotherLikeThisRoute() {
        if (this.catClass) {
          return `/marketplace/equipmentPageByCatClass/${this.catClass}`;
        }
        else if (this.foundCatClass) {
          return `/marketplace/equipmentPageByCatClass/${this.foundCatClass}`;
        }
        return '/marketplace/equipment';
      },
      viewAllEquipmentOnRentRoute() {
        return WorkplacePredefinedRoutes.onRent;
      },
    },
    props: {
      catClass: {
        type: String,
        required: false,
      },
    },
  };
</script>
