<template>
  <div
    class="global-search__field equipment-filter-search no-grow"
    :class="{
      'global-search__search-box' : !isFleet,
      'global-search__search-box--expanded': hasFocus,
      'show-results': showResultsPanel,
      'show-no-results': !hasResults && showResultsPanel
    }">

    <input
      class="global-search-input"
      type="text"
      :placeholder="placeholder"
      v-model="searchText"
      @keyup.enter="selectFirstResult"
      @keyup.esc="clearSearchText"
      @focus="setFocus(true)"
      @blur="setFocus(false)">

    <i
      @click="selectFirstResult"
      class="cursor-pointer global-search__search-box--icon global-search__field--icon icon icon-before-search">
    </i>

    <span
      v-if="searchText.length > 0"
      class="global-search__clear"
      @click="clearSearchText">
      &times;
    </span>

    <div
      class="global-search__search-results global-search__search-results--labelled"
      style="z-index: 23"
      v-if="hasFocus">

      <div class="global-search__results-group">
        <div class="global-search__results-group--label">
          {{ $i18n('ur.matchingTerms') }}
          <span>{{ searchResults.length }}</span>
        </div>

        <div class="global-search__results-objects" v-if="hasResults">
          <ur-query-link
            v-for="(result, index) in searchResults"
            :handle-externally="true"
            :key="index"
            :param="searchFilter.id"
            :replace="true"
            :value="result.token"
            @blur="setFocus(false)"
            @triggered="tokenClicked($event, result)"
            class="global-search__results-object"
            mode="multivalue"
            tag="div"
            v-html="resultLabel(result)"
          />
        </div>
        <div class="global-search__no-results" v-else>
          <cite>{{ $i18n('ur.noResultsFound') }}</cite>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts" src="./equipment-search.ts"></script>
