<template>
  <button
    class="actions-button btn no-inactive-border btn-style--secondary btn-size--regular"
    :class="noInactiveBorder && 'no-inactive-border'"
    @blur="closeMenu"
    ref="button"
    :icon="buttonIcon"
    :text="buttonText"
    @click.stop="openMenu"
  > {{ buttonText}}

    <i :class="buttonIcon!=='more-vert' ? 'icon-before-close' : 'icon-before-more-vert'"></i>

  </button>
</template>

<script lang="ts">

  import Vue, { CreateElement, VNodeData, VNode } from 'vue';
  import { Prop } from 'vue/types/options';
  import { mapState } from 'vuex';
  import types from '@/store/types';
  import { throttle } from 'lodash';

  import {
    WORKPLACE_EQUIPMENT_STATUSES,
    WorkplaceEquipment,
    WorkplaceEquipmentActionTypes, workplaceEquipmentStatusRules,
    WorkplaceEquipmentUtils,
    WorkplaceRouteNames,
  } from '@/lib/workplace';
  import { StatusUtils } from '@/lib/statuses';

  interface ItemAction {
    label: string;
    type: WorkplaceEquipmentActionTypes;
    onClick: (evt: void) => void;
  }

  export default Vue.extend({
    name: 'equipment-item-action-menu',
    props: {
      text: {
        type: String,
        default: '',
      },
      disabledActions: {
        type: Array as Prop<string[]>,
        default: () => [],
        validator(options: any): options is WorkplaceEquipmentActionTypes[] {
          const validActions = Object.values(WorkplaceEquipmentActionTypes);
          return Array.isArray(options) && options.every(option =>
            validActions.includes(option),
          );
        },
      },
      noInactiveBorder: {
        type: Boolean,
        default: false,
      },
      item: {
        type: Object as Prop<WorkplaceEquipment>,
        required: true,
      },
    },
    data() {
      return {
        renderedMenu: null,
        // lodashed listener for add / remove
        updatePositionThrottled: null,
      };
    },
    methods: {
      blur() {
        setTimeout(() => {
          this.closeMenu();
        }, 200);
      },
      addPositionListeners() {
        // window scroll for mobile
        window.addEventListener('scroll', this.updatePositionThrottled);
        document.body.addEventListener('scroll', this.updatePositionThrottled);
        window.addEventListener('resize', this.updatePositionThrottled);
      },

      removePositionListeners() {
        window.removeEventListener('scroll', this.updatePositionThrottled);
        document.body.removeEventListener('scroll', this.updatePositionThrottled);
        window.removeEventListener('resize', this.updatePositionThrottled);
      },

      updatePosition(): void {
        const buttonRect: ClientRect = this.$refs.button.getBoundingClientRect();
        let staticWidth;
        buttonRect.width < 50 ? staticWidth = {width: 'auto'} : staticWidth = {width: `${buttonRect.width}px`};
        const elHeight = this.enabledActions.length * 33 + 20;

        const open = {
          right: window.innerWidth - buttonRect.right + buttonRect.width > buttonRect.left,
          down: window.innerHeight - buttonRect.bottom + buttonRect.height > buttonRect.top,
        };

        const horizontalPositioning = open.right ? {left: `${buttonRect.left - 1}px`, right: ''}
          : {right: `${document.body.offsetWidth - window.pageXOffset - buttonRect.right - 1}px`, left: ''};
        const verticalPositioning = open.down ? {top: `${buttonRect.bottom - 4}px`, bottom: 'auto'}
          : {top: `${buttonRect.top - elHeight - 2}px`, bottom: 'auto'};

        Object.assign(this.renderedMenu.$el.style, horizontalPositioning, verticalPositioning, staticWidth);
      },

      openMenu($event: MouseEvent): void {
        if (this.renderedMenu) return this.closeMenu();

        this.$refs.button.addEventListener('blur', this.blur);
        this.$refs.button.focus();

        const menuRenderer = (h: CreateElement): VNode => {
          const lis: VNode[] = this.enabledActions.map((option: ItemAction, index) => {
            const label = h('span', {domProps: {innerHTML: option.label}});
            const mousedown = option.onClick.bind(this);
            const liData: VNodeData = {key: index, on: {mousedown}};
            return h('li', liData, [label]);
          });

          const menuData: VNodeData = {
            class: 'q-option-menu scrolling actions-menu',
          };

          return h('div', menuData, [h('ul', lis)]);
        };

        const MenuConstructor = Vue.extend({render: menuRenderer});
        const menu = new MenuConstructor({});
        menu.$mount();
        this.$root.$el.appendChild(menu.$el);
        this.renderedMenu = menu;
        this.addPositionListeners();
        this.updatePosition();

      },
      closeMenu() {
        if (this.renderedMenu) {
          this.removePositionListeners();
          this.$refs.button.removeEventListener('blur', this.blur);
          this.renderedMenu.$destroy();
          const {$el} = this.renderedMenu;
          $el.parentNode.removeChild($el);
          this.renderedMenu = null;
        }
      },
    },
    mounted() {
      this.updatePositionThrottled = throttle(this.updatePosition, 10, {leading: true});
    },
    beforeDestroy() {
      this.$refs.button.removeEventListener('blur', this.blur);
      this.removePositionListeners();
    },
    computed: {
      ...mapState<any>({
        favorites: state => state.favorites.all,
      }),
      isFavorite(): boolean {
        return this.favorites.includes(this.item.catClass);
      },
      buttonIcon(): string {
        return this.renderedMenu ? 'close' : 'more-vert';
      },
      buttonText(): string {
        // Hacky way of getting QButton to do what we want
        return !this.renderedMenu ? this.text : this.text.length > 0 ? ' ' : '';
      },
      enabledActions(): ItemAction[] {
        const disabled: WorkplaceEquipmentActionTypes[] = [...this.disabledActions];
        const equipmentStatuses = this.item.equipmentStatuses ? this.item : StatusUtils.getApplicableStatuses(
          WORKPLACE_EQUIPMENT_STATUSES,
          this.item,
          workplaceEquipmentStatusRules,
        );
        const item = {...this.item, equipmentStatuses};
        if (!WorkplaceEquipmentUtils.canRequestPickupAndExtendContract(item)) {
          const {RequestPickup, ExtendContract} = WorkplaceEquipmentActionTypes;
          disabled.push(...[ExtendContract, RequestPickup]);
        }

        if (!WorkplaceEquipmentUtils.canEditAndConvertQuote(item)) {
          const {EditQuote, ConvertQuote} = WorkplaceEquipmentActionTypes;
          disabled.push(...[EditQuote, ConvertQuote]);
        }
        /**
         * if (this.$route.query.orderType && this.$route.query.orderType[0] === 'quote') {
         *  const { ConvertQuote } = WorkplaceEquipmentActionTypes;
         *  disabled.push(...[ConvertQuote]);
         * }
         */

        // Return the subset of actions that is active
        return this.actions.filter(({type}) => !disabled.includes(type));
      },
      actions(): ItemAction[] {
        return [
          {
            label: this.$i18n('workplace.editQuote'),
            type: WorkplaceEquipmentActionTypes.EditQuote,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              window.location.assign(`/manage/quotes#/quote-details/${this.item.transId}`);
            },
          },

          {
            label: 'View Details',
            type: WorkplaceEquipmentActionTypes.ViewDetails,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              this.$router.push({
                name: WorkplaceRouteNames.EquipmentDetails,
                params: {
                  equipmentId: this.item.equipmentId,
                  transId: this.item.transId,
                  transLineId: this.item.transLineId,
                },
              });
            },
          },
          {
            label: this.isFavorite ? this.$i18n('catalog.unfavorite') : this.$i18n('catalog.favorite'),
            type: WorkplaceEquipmentActionTypes.Favorite,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              const action = this.isFavorite ? types.favorites.remove : types.favorites.add;
              this.$store.dispatch(action, this.item.catClass);
            },
          },
          {
            label: this.$i18n('workplace.extendContract'),
            type: WorkplaceEquipmentActionTypes.ExtendContract,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              this.$router.push({
                name: WorkplaceRouteNames.RequestEquipmentReschedule,
                params: {
                  equipmentId: this.item.equipmentId,
                  transId: this.item.transId,
                  transLineId: this.item.transLineId,
                  rescheduleType: 'extend',
                },
                query: {
                  transId: this.item.transId,
                  transLineId: this.item.transLineId,
                  originalPickup: this.item.returnDateTime,
                  contentSize: '90',
                },
              });
            },
          },
          {
            label: this.$i18n('workplace.requestPickup'),
            type: WorkplaceEquipmentActionTypes.RequestPickup,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              this.$router.push({
                name: WorkplaceRouteNames.RequestEquipmentReschedule,
                params: {
                  equipmentId: this.item.equipmentId,
                  rescheduleType: 'pickup',
                  transLineId: this.item.transLineId,
                  transId: this.item.transId,
                },
                query: {
                  transLineId: this.item.transLineId,
                  transId: this.item.transId,
                  originalPickup: this.item.returnDateTime,
                  contentSize: '90',
                },
              });
            },
          },
          {
            label: this.$i18n('workplace.editPo'),
            type: WorkplaceEquipmentActionTypes.UpdatePo,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              this.$router.push({
                name: WorkplaceRouteNames.UpdateEquipmentPo,
                params: {
                  ...this.$route.params,
                  equipmentId: this.item.equipmentId,
                  po: this.item.po,
                  transId: this.item.transId,
                  transLineId: this.item.transLineId,
                },
                query: this.$route.query,
              });
            },
          },
          {
            label: this.$i18n('workplace.rentAnother'),
            type: WorkplaceEquipmentActionTypes.RentAnother,
            onClick: () => {
              if (this.renderedMenu) this.closeMenu();
              const {catClass} = this.item;
              window.location.assign(`/marketplace/equipmentPageByCatClass/${catClass}`);
            },
          },
        ];
      },
    },
  });
</script>

<style lang="scss">
  .q-option-menu.scrolling.actions-menu {
    margin: rem(1) 0;
    max-width: rem(250);
    overflow: auto;
    position: fixed;
    z-index: 999;
  }
</style>

<style lang="scss" scoped>
  @import 'actions/actions-button';
</style>
