<template>
  <transition name="tbSlideFade" tag="div">
    <div v-if="filters.length > 0" class="search-term-badge-container">

      <template v-for="(filter, filterIndex) in filters">
        <template v-if="filter.type !== 'simple'">
          <ur-query-link
            v-for="subfilter in filter.filters"
            :key="`${filterIndex}-${subfilter.queryValue}`"
            class="search-term-badge"
            tag="button"
            mode="multivalue"
            :param="filter.id"
            :replace="true"
            :value="subfilter.queryValue"
          >
            {{ subfilter.queryValue.startsWith('*') ? 'Search text' : filter.label }}: <span class="subfilter-label">{{subfilter.label}}</span>
          </ur-query-link>
        </template>

        <ur-query-link
          v-else-if="filter.type === 'simple'"
          :key="filter.id"
          class="search-term-badge"
          tag="button"
          mode="multivalue"
          :replace="true"
          :param="filter.id"
          :value="filter.queryValue"
        >
          {{filter.label}}
        </ur-query-link>

      </template>

      <p
        class="clear-all"
        @click="removeAllFilters">
        {{ $i18n('catalog.clearAll') }}
      </p>
    </div>
  </transition>

</template>

<script>
  import Vue from 'vue';
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import UrQueryLink from '@/components/common/ur-query-link';

  /*
   * @vuese
   * @group Workplace
   * Workplace Filter Badges
   */
  export default Vue.extend({
    name: 'FilterBadges',
    components: {
      UrQueryLink,
    },
    computed: mapGetters({
      /*
       * @vuese
       * @type Filter[]
       * Filters for the current collection
       */
      filters: types.workplace.collectionFilters,
    }),
    methods: {
      /*
       * @vuese
       * @type async
       * Remove all currently applied filters
       */
      async removeAllFilters() {
        // Get the IDs of all currently applied filters and
        // create an objects whose keys are the filter IDs and the
        // values are empty arrays
        this.$router.replace({
          ...this.$route,
          query: {
            ...this.$route.query,
            ...this.filters.reduce((accum, { id }) => ({ ...accum, [id]: [] }), {}),
          },
        });
      },
    },
  });
</script>
