<template>
  <ur-menu
    title="Filter"
    icon="icon-before-filter"
    :closeOnButtonClick="true"
    button-class="ur-menu-button ur-menu-button--filter button--secondary"
  >
    <!-- Simple filters -->
    <div class="ur-menu-group border-b-normal">
      <span class="ur-menu-group-description">{{ $i18n('workplace.displayOnly') }}</span>
      <div
        v-for="(filter, index) in simpleFiltersWithCounts"
        :key="index"
        :style="{ pointerEvents: filter.count <= 0 ? 'none' : 'all' }"
        :class="{ 'selectable': filter.count > 0, 'ur-menu-group-item': true }"
      >
        <ur-query-link
          :class="{ 'disabled': filter.count < 1, 'ur-menu-group-item-link': true }"
          mode="multivalue"
          active-class="active"
          :param="filter.id"
          :replace="true"
          :value="filter.queryValue"
        >
          <i class="icon icon-before-check"/>
          <span class="m-r-5">{{filter.label}}</span>
          <span>({{ filter.count }})</span>
        </ur-query-link>
      </div>
    </div>

    <div class="ur-menu-group">

      <span class="ur-menu-group-description">{{ $i18n('workplace.filterBy') }}</span>

      <!-- Static + Dynamic filters -->
      <div
        v-for="filterSet in mergedFilters"
        :key="filterSet.id"
        class="ur-menu-group-item selectable"
      >

        <!-- Static filters -->
        <ur-menu
          v-if="filterSet.type === 'static'"
          :title="filterSet.label"
          title-class="menu-arrow"
          button-class="ur-menu-link"
          action="mouseover"
          :offset="getOffset(filterSet.filters.length)"
          :checkBounds="filterSet.filters.length > 1 ? true : false"
        >
          <div class="ur-menu-group">
            <div
              v-for="filter in filterSet.filters"
              :key="filter.queryValue"
              class="ur-menu-group-item selectable"
            >
              <ur-query-link
                class="ur-menu-group-item-link"
                mode="multivalue"
                active-class="active"
                :param="filterSet.id"
                :replace="true"
                :value="filter.queryValue"
              >
                <i class="icon icon-before-check m-r-5"/>
                <span class="m-r-5">{{filter.label}}</span>
                <span>({{ getCount(filter.filter) }})</span>
              </ur-query-link>
            </div>

          </div>
        </ur-menu>

        <!-- Dynamic filters -->
        <ur-menu
          v-else
          :title="filterSet.label"
          :offset="getOffset(filterSet.values.length)"
          :checkBounds="filterSet.values.length > 1 ? true : false"
          title-class="menu-arrow"
          button-class="ur-menu-link"
          action="mouseover"
          @open="nestedMenuOpened($event)"
          @close="clearSearchText($event)"
        >
          <div class="ur-menu-group">
            <div class="ur-menu-group-item list-item list-item--search-box">
              <div class="input-search-wrapper">
                <i class="icon icon-before-search" />
                <input
                  type="text"
                  class="form-item__textfield"
                  placeholder="Find"
                  v-model="searchText"
                  @keyup.enter="onFilterSearchEnter(filterSet)"
                  @click.stop />
              </div>
            </div>
            <div
              v-for="value in filterSet.values"
              :key="value.queryValue"
              class="ur-menu-group-item selectable"
            >
              <ur-query-link
                :class="{ 'ur-menu-group-item-link': true, 'multiline': Array.isArray(value.label) }"
                mode="multivalue"
                active-class="active"
                :param="filterSet.id"
                :replace="true"
                :value="value.queryValue"
              >
                <i class="icon icon-before-check"/>
                <template v-if="Array.isArray(value.label)">
                  <span class="line" v-for="(label, index) in value.label" :key="index">
                    {{label}} <template v-if="index === 0">({{ getCount(value.filter) }})</template>
                  </span>
                </template>
                <template v-else>
                  <span class="m-r-5">{{value.label}}</span>
                  <span>({{ getCount(value.filter) }})</span>
                </template>
              </ur-query-link>
            </div>
          </div>
        </ur-menu>
      </div>
    </div>
  </ur-menu>
</template>

<style scoped lang="scss">
  @import 'styles/globals';

  .ur-menu-group-item-link.multiline {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .line {
      &:first-of-type {
        font-size: $font-size-preset-30;
      }
      font-size: $font-size-preset-20;
      line-height: $font-size-preset-40;
    }
  }
</style>

<script lang="ts">
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import UrMenu from '@/components/common/ur-menu';
  import { sortBy, cloneDeep, get, set } from 'lodash';
  import UrQueryLink from '@/components/common/ur-query-link.vue';
  // eslint-disable-next-line
  import { FilterType, FilterUtils, DynamicFilter, FilterPrimitive } from '@/lib/collections';
  /*
   * @vuese
   * @group Workplace
   * Listing Filters Dropdown
   */
  export default {
    name: 'FiltersDropdown',
    components: { UrMenu, UrQueryLink },
    computed: {
      ...mapGetters([
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is small
         */
        'small',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is medium
         */
        'medium',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is large
         */
        'large',
      ]),
      ...mapGetters({
        /*
         * @vuese
         * @type Filter[]
         * Get the current workplace collection filters
         */
        filters: types.workplace.filters,
        /*
         * @vuese
         * @type WorkplaceEquipment[], Workplace[]
         * Get the current collection items
         */
        collection: types.workplace.collectionForCurrentAccount,
      }),
      /*
       * @vuese
       * Count Simple filter items
       */
      simpleFiltersWithCounts() {
        return FilterUtils.selectSimple(this.filters)
          .map(f => ({ ...f, count: this.collection.filter(f.filter).length }));
      },
      /*
       * @vuese
       * Merge filters list together
       */
      mergedFilters() {
        return this.filters
          .filter(({ type }) => type === FilterType.Dynamic || type === FilterType.Static)
          .map(filter =>
            filter.type !== FilterType.Dynamic
              ? filter
              : {
                ...filter,
                values: sortBy(
                  // eslint-disable-next-line
                  filter.valueFactory(this.collection).filter(value => {
                    if (this.searchText.length < 1) return true;

                    const label = Array.isArray(value.label)
                      ? value.label.join().toLowerCase()
                      : value.label.toLowerCase();

                    const searchText = this.searchText.toLowerCase();
                    return label.includes(searchText);
                  }),
                  'label',
                ),
              },
          );
      },
    },
    data() {
      return {
        /*
         * @vuese
         * @type String
         * Search String For Search Filters
         */
        searchText: '',
      };
    },
    methods: {
      /*
       * @vuese
       * @type Number
       * Total collection count
       */
      getCount(filterFn) {
        return this.collection.filter(filterFn).length;
      },
      /*
       * @vuese
       * @type Boolean
       * Determine if nested filter menu is open
       */
      nestedMenuOpened(menu) {
        const input = menu.$el.querySelector('input');
        if (input && input.tagName === 'INPUT') {
          setTimeout(() => input.focus());
        }
      },
      /*
       * @vuese
       * Reset search query to empty string
       */
      clearSearchText() {
        this.searchText = '';
      },
      /*
       * @vuese
       * Filter menu offset for scss
       */
      getOffset(length) {
        if (length === 1) return '';
        if (length > 12) return 'overflow-offset-12';
        return `overflow-offset-${length}`;
      },
      /*
       * @vuese
       * Trigger search when user uses their enter key
       */
      onFilterSearchEnter({ id, values: [filter] }: DynamicFilter<any, any> & { values: FilterPrimitive<any>[] }) {
        // Copy the current query parameter object
        const currentQuery = cloneDeep(this.$route.query || {});

        // Get the values of the existing query parameter array with this ID (if any)
        const currentQueryValues = get(this.$route.query, [id], []);

        // Determine if this filter is already active
        const isActive = currentQueryValues.includes(filter.queryValue);

        const newValue = isActive
          ? [...currentQueryValues.filter(value => value !== filter.queryValue)]
          : [...currentQueryValues, filter.queryValue];

        // Update the URL
        this.$router.replace({
          ...this.$route,
          query: set({ ...currentQuery }, id, newValue),
        });
      },
    },
  };
</script>
