<template>
  <div>
    <span class="listing-group-by-label m-r-5">
      {{ $i18n('workplace.groupBy') }}:
    </span>
    <ur-menu
      :closeOnButtonClick="true"
      :title="label"
      icon="icon-before-arrow-down"
      :button-class="'ur-menu-button ur-menu-button--filter button--secondary'">
      <div slot-scope="{ close }" class="ur-menu-group">
        <span class="ur-menu-group-description">{{ $i18n('workplace.groupListingBy') }}</span>
        <div
          v-for="(grouper, index) in groupers" :key="index"
          class="ur-menu-group-item selectable">
          <ur-query-link
            param="groupBy"
            activeClass="active"
            :key="grouper.id"
            :replace="true"
            :value="grouper.id"
            @activated="close()"
            class="ur-menu-group-item-link">
            <i class="icon icon-before-check"/>{{ grouper.label }}
          </ur-query-link>
        </div>
      </div>
    </ur-menu>
  </div>
</template>

<script>
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import UrMenu from '@/components/common/ur-menu';
  import UrQueryLink from '@/components/common/ur-query-link.vue';

  /*
   * @vuese
   * @group Workplace
   * GroupByDropdwon
   */
  export default {
    name: 'GroupByDropdown',
    components: { UrMenu, UrQueryLink },
    data() {
      return {
        /*
         * @vuese
         * @type Boolean
         * Determine if dropdown is active
         */
        dropdownIsActive: false,
        /*
         * @vuese
         * @type String
         * Group By Description
         */
        description: 'Group Listings by:',
        /*
         * @vuese
         * @type String
         * Group By Icon Class
         */
        iconClass: '',
        /*
         * @vuese
         * @type String
         * Group By Title Class
         */
        titleClass: '',
      };
    },
    computed: {
      ...mapGetters([
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is small
         */
        'small',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is medium
         */
        'medium',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is large
         */
        'large',
      ]),
      ...mapGetters({
        /*
         * @vuese
         * @type Grouper[]
         * Get the current workplace collection groupers
         */
        groupers: types.workplace.groupers,
      }),
      /*
       * @vuese
       * Get Current groupBy Group by filtering this.groupers id property against the current groupBy query parameter
       */
      groupingBy() {
        const { groupBy } = this.$route.query;
        return groupBy;
      },
      /*
       * @vuese
       * Find the label for the active groupBy option
       */
      label() {
        if (this.medium || this.small) return this.$i18n('workplace.group');
        const grouper = this.groupers.find(({ id }) => id === this.groupingBy);
        // if search is invalid, return 'none' grouper at last index.
        return !grouper ? this.groupers[this.groupers.length - 1].label : grouper.label;
      },
    },
  };
</script>

<style lang="scss" scoped>
    .listing-group-by-label {
      height: 20px;
      width: 66px;
      color: #72777E;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      white-space: nowrap;
  }
</style>
