<template>
  <div class="workplace-equipment__header p-y-5 flex-row flex-wrap justify-between w-100">
    <div class="w-100 flex-row justify-left flex-wrap mobile-search" v-if="small">
      <search-listings :uniqueResourceKey="({ orderNumber }) => `${orderNumber}`" class="w-100 m-b-10"/>
      <filter-badges class="p-1-0 w-100 m-t-10"/>
    </div>
    <div class="w-66 flex-row justify-left m-t-5">
      <search-listings :uniqueResourceKey="({ orderNumber }) => `${orderNumber}`" v-if="!small"/>
      <filters-dropdown class="button-wrapper--filter" />
      <group-by-dropdown class="button-wrapper--group" />
      <customize-column-visibility class="button-wrapper--customize" />
    </div>
    <div class="w-33 flex-row justify-right m-t-5">
      <table-layout-toggle/>
    </div>
    <filter-badges class="p-l-0 w-100 filter-badges" v-if="!small"/>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import TableLayoutToggle from './table-layout-toggle';
  import CustomizeColumnVisibility from './customize-column-visibility';
  import FiltersDropdown from '../shared/filters-dropdown';
  import SearchListings from '../shared/search-listings';
  import GroupByDropdown from '../shared/group-by-dropdown';
  import FilterBadges from '../shared/filter-badges';

  /*
   * @vuese
   * @group Workplace
   * Workplace Listing Controls Manager
   */
  export default {
    name: 'WorkplaceListingControlsManager',
    components: {
      FilterBadges,
      TableLayoutToggle,
      CustomizeColumnVisibility,
      FiltersDropdown,
      SearchListings,
      GroupByDropdown,
    },
    computed: {
      ...mapGetters([
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is small
         */
        'small',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is medium
         */
        'medium',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is large
         */
        'large',
      ]),
    },
  };
</script>

<style lang="scss" scoped>

  .left-listing-actions {
    width: 80vw;
  }
  .filter-badges {
    position:relative;
    top:15px;
  }
</style>
