<template>
  <div class="dashboard__sign-in">
    <div class="dashboard__sign-in__col dashboard__sign-in--copy">
      <h1 class="dashboard__sign-in__heading">{{ this.heading }}</h1>
      <p class="dashboard__sign-in__subheading">{{ this.subHeading }}</p>
      <div class="dashboard__sign-in__buttons">
        <button
          :class="['btn',  userIsLoggedIn ? 'btn-style--primary' : 'btn-style--secondary', 'btn-size--regular', 'dashboard__sign-in--rent-button']"
          @click.prevent="redirectMarketplace">{{ $i18n('dashboard.nullState.buttonRent') }}
        </button>
        <button
          v-if="!userIsLoggedIn"
          class="btn btn-style--primary btn-size--regular  dashboard__sign-in--login-button"
          @click.prevent="redirectLogin">{{ $i18n('dashboard.nullState.buttonLogin') }}
        </button>
      </div>
      <!-- TODO: Learn More to be defined in later sprint. UR-128 - Support - Workplace v1 Onboarding Vignette DISCOVERY -->
      <!--<a href="">Learn more about Workplace</a>-->
    </div>
    <div class="dashboard__sign-in__col dashboard__unauthenticated--image">
      <img alt="Workplace nullstate" src="/themes/custom/urone/images/UR_workplace_nullstate.png"/>
    </div>
  </div>
</template>
<script>
  import BrowserInfo from '@/mixins/browser-info';
  import { mapState } from 'vuex';

  /*
   * @vuese
   * @group Workplace
   * Workplace Null Dashboard Sign In
   */
  export default {
    name: 'NullDashboardSignIn',
    props: {
      /*
       * @vuese
       * @type String
       * dashboard header
       */
      heading: {
        type: String,
        required: true,
        default: '',
      },
      /*
       * @vuese
       * @type String
       * dashboard sub-header
       */
      subHeading: {
        type: String,
        required: true,
        default: '',
      },
    },
    computed: {
      ...mapState({
        /*
         * @vuese
         * @type Boolean
         * Determine if user is logged in
         */
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
    },
    methods: {
      /*
       * @vuese
       * @type HardLink
       * Redirect user to to marketplace
       */
      redirectMarketplace() {
        window.location.href = '/marketplace/equipment';
      },
      /*
       * @vuese
       * @type HardLink
       * Redirect user to login
       */
      redirectLogin() {
        // This won't work for local as we cannot use SSO from our local.
        window.location.href = drupalSettings.ur.sign_in_register_path;
      },
    },
    mixins: [
      BrowserInfo,
    ],
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';
  .dashboard__sign-in__col {
    &.dashboard__sign-in--copy {
      flex-basis: auto;

      @include media('>=640px') {
        flex-basis: 0px;
      }
    }

    &.dashboard__unauthenticated--image {
      flex-shrink: 0;
      flex-basis: auto;
      flex-grow: 0;

      @include bs-ie() {
        // for scaling in mobile size.
        flex-direction: row;
      }

      @include media('>=640px') {
        flex-grow: 1;
        flex-basis: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dashboard__sign-in__buttons {
    button {
      margin-bottom: rem(8);
      width: 100%;

      @include media('>=m') {
        width: 48.5%;
      }
    }
  }

</style>
