<template>
  <div class="flex-row flex-gap-0">
    <div v-for="(layout, key) in layouts" :key="`layout.view.${key}`" :class="layout.class" @click="activate(layout)" class="flex-row flex-gap-0 justify--space-around align-items-center p-5 cursor-hover-pointer">
      <i :class="`icon icon-before-${layout.icon}`"></i> {{ layout.label }}
    </div>
  </div>
</template>

<script lang="ts">
  import { types } from '@/store';
  import { mapGetters } from 'vuex';
  import { WorkplaceListingLayout } from '@/lib/workplace';

  /*
   * @vuese
   * @group Workplace
   * TableLayoutToggle
   */
  export default {
    name: 'TableLayoutToggle',
    methods: {
      /*
       * @vuese
       * Activate the layout
       */
      activate(layout) {
        // clear listing actions menus
        this.$root.$emit('workplace-close-actions', true);

        this.$nextTick(() => {
          this.$router.push({
            ...this.$route,
            query: {
              ...this.$route.query,
              layout: layout.key,
            },
          });
        });
      },
    },
    computed: {
      ...mapGetters({
        /*
         * @vuese
         * @type WorkplaceListingLayout
         * Determine the current listing layout (cards or table)
         */
        layout: types.workplace.listingLayout,
      }),
      /*
       * @vuese
       * @type Objects
       * Array Of Objects Defining Settings Required For Each Workplace Listing Layout
       */
      layouts() {
        return [
          {
            key: WorkplaceListingLayout.Cards,
            label: WorkplaceListingLayout.Cards.charAt(0).toUpperCase() + WorkplaceListingLayout.Cards.slice(1),
            active: this.layout === WorkplaceListingLayout.Cards,
            class: this.layout === WorkplaceListingLayout.Cards ? 'active' : 'inactive',
            icon: 'view-module',
          },
          {
            key: WorkplaceListingLayout.Table,
            label: WorkplaceListingLayout.Table.charAt(0).toUpperCase() + WorkplaceListingLayout.Table.slice(1),
            active: this.layout === WorkplaceListingLayout.Table,
            class: this.layout === WorkplaceListingLayout.Table ? 'active' : 'inactive',
            icon: 'view-list',
          },
        ];
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import 'styles/globals';

  div {
    div:first-child {
      border-radius: 4px 0 0 4px;
    }
    div:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  div.inactive, div.active {
    height: 40px;
    width: 96px;
    border: 1px solid #DDE0E2;
  }
  .inactive {
    color: #72777E;
    border: 1px solid #DDE0E2;
    background-color: #f9f9f9;
  }
  .active {
    color: #FFFFFF;
    background-color: #0050AA;
  }
  i {
    font-size:rem(20);
    vertical-align: bottom;

    &::before {
      margin-right:0;
    }
  }
</style>
