.page-node-type-droga-landing-page {
  .page.layout-container {
    height: 100vh;
  }

  .region-content {
    max-width: none;
  }

  p,
  p:last-of-type {
    margin: 1em 0;
  }

  hr {
    overflow: visible;
  }
}
