@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Press releases and events
// Content type specific styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Landing page regions
 */
body.page-node-type-press-releases,
body.page-node-type-events {
  .region-content .node__content > .text-formatted {
    max-width: 100%;
  }

  .node--type-events,
  .node--type-press-releases {
    @include gap(
      $sizes: $gap-d
    );

    .node__content > h2 {
      @include type-preset(
        $version: 30,
        $type: header
      );

      @include media('>=s') {
        @include type-preset(
          $version: 50,
          $type: header
        );
      }

      .datetime:not(:first-of-type) {
        display: none;
      }
    }
  }

  .field--name-body {
    @include gap(
      $sizes: $gap-d
    )
  }
}
