@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: landing pages
// Landing page content type specific styles
//
// sass-lint:disable bem-depth, class-name-format
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Landing page regions
 */
body.page-node-type-item {
  .region-content {
    @include gap(
      $sizes: $gap-e
    );
  }

  // Hide the h1 title
  .block-page-title-block {
    @include media('>=s') {
      @include visually-hidden();
    }

    .page-title {
      @include type-preset(
        $version: 60,
        $type: header
      );
    }
  }

  // Page layout
  .node--type-item.node--view-mode-full {
    @include media('>=s') {
      @include grid-parent();
    }

    .node__aside--first {
      margin-top: rem($gap-d);

      @include media('>=s') {
        @include grid-col(4);
        margin-top: 0;
      }

      @include media('>=m') {
        @include grid-col(3);
      }
    }

    .node__primary-content {
      margin-top: rem($gap-d);

      @include media('>=s') {
        @include grid-col(8);

        @include gap(
          $property: padding,
          $sizes: 0 $gap-e
        );

        margin-top: 0;
      }

      @include media('>=m') {
        @include grid-col(6);
      }

      .field--name-field-item-cat-class-code {
        display: none;

        @include media('>=s') {
          display: block;
        }
      }
    }

    .node__aside--second {
      @include grid-col(12);
      border: $border-width-light solid $color-utility-border;
      border-radius: $border-radius-large;
      margin-top: rem($gap-d);
      padding: rem($gap-c);

      @include media('>=m') {
        @include grid-col(3);

        margin-top: 0;
      }
    }

    .calendar_container {
      span::after {
        bottom: rem($gap-b);
        right: rem($scale-3);
      }
    }
  }

  // Sliders

  .field--name-field-images-unlimited {
    .field__item {
      border: $border-width-light solid $color-utility-border;
    }
  }

  .field--name-field-images-unlimited:first-of-type {
    img {
      display: block;
      height: rem(175);
      margin: 0 auto;
      width: auto;
    }
  }

  .field--name-field-images-unlimited:first-of-type:not(.slick-initialized) {
    .field__item {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  .field--name-field-images-unlimited:last-of-type:not(.slick-initialized) {
    .field__item {
      display: none;
    }
  }

  .slick-arrow.slick-prev {
    right: 95%;
  }

  .slick-arrow.slick-next {
    left: 95%;
  }

  .slick-slide {
    @include focus-state($reset: true);
  }

  .jsa-slider-nav {
    display: none;
    margin: rem($gap-b) 0 0;

    @include media('>=s') {
      display: block;
      width: 100%;
    }

    .slick-track {
      margin: 0;
    }

    .slick-slide {
      @include focus-state($reset: true);
      cursor: pointer;
      margin: 0 (rem($gap-a) / 2);
      opacity: 0.5;
      transition: $transition-base;

      &:only-of-type {
        display: none;
      }
    }

    .slick-slide.slick-active:last-child {
      margin-right: 0;
    }

    .slick-slide:hover,
    .slick-slide:focus {
      box-shadow: $shadow-depth-one;
      opacity: 0.75;
    }

    .slick-slide.slick-center,
    .slick-slide.slick-current {
      box-shadow: $shadow-depth-two;
      opacity: 1;
    }
  }

  .field--name-field-item-cat-class-code {
    @include type-preset(
      $version: 30
    );

    color: $color-text-subtle;
  }

  // content header
  .node__primary-content > header {
    > div {
      align-items: center;
      display: flex;
      justify-content: space-between;

      > div {
        flex: 1 1 auto;
      }

      .flag {
        text-align: right;
      }
    }
  }

  .node__title {
    @include gap(
      $sizes: $gap-d
    );

    h2 {
      @include type-preset(
        $version: 80,
        $type: header
      );

      display: none;

      @include media('>=s') {
        display: block;
      }
    }
  }

  // Content area
  .node__content {
    @include gap(
      $sizes: $gap-c
    );

    .field--name-field-item-highlights {
      @include gap(
        $sizes: $gap-d
      );
    }

    .object-detail__loc-pricing {
      @include gap(
        $sizes: $gap-d
      );

      @include gap(
        $property: padding-top,
        $sizes: $gap-d
      );

      border-top: $border-width-light solid $color-utility-border;
      display: block;

      &:empty {
        display: none;
      }
    }
  }
}

// VUE THINGS
// TODO: move VUE styles
.object-detail__loc-pricing-content h3 {
  @include type-preset(
    $version: 60
  );
}

.object-detail__loc-pricing .location-message {
  @include gap(
    $sizes: $gap-c
  );

  color: $color-text-subtle;
}

.object-detail__loc-pricing-content .group-full {
  display: flex;
  flex-direction: row;
}

.object_listing__details__pricing {
  @include type-preset(
    $version: 30
  );

  border: 0 none;
  color: $color-text-subtle;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media('>=640px') {
    flex-direction: row;
  }
}

.object_listing__details__pricing .pricing-content {
  display: flex;
  flex-direction: row;
  flex-grow: 0.3;
  justify-content: space-between;
  max-width: 28.2rem;
}

.object_listing__details__pricing .time-period {
  @include type-preset(
    $version: 30
  );

  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.object_listing__details__pricing .time-period span {
  @include type-preset(
    $version: 40
  );

  color: $color-text;
}
