@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: landing pages
// Landing page content type specific styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Landing page regions
 */
body.page-node-type-landing.path-frontpage {
  .region-header {
    @include trl();
    background-color: transparent;
    z-index: 300;
  }

  .region-pre-content {
    display: none;
  }

  .region-content {
    padding-top: 0;
  }
}
