@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: No Results Found
// No results page specific styles
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * No Results Found
 */

.empty-results-container {
  @include gap($gap-g);

  .empty-results-subhead {
    @include type-preset(70);

    .subhead {
      font-weight: $font-weight-bold;
    }
  }

  .better-results.subhead,
  .better-results a {
    @include type-preset(
      $version: 40,
      $type: header
    );
  }

  .better-results.subhead {
    @include gap($gap-d);
  }

  .better-results.customer-care {
    display: flex;
    flex-direction: row;

    a {
      padding-left: rem($scale-1);
    }
  }

  .better-results {
    @include gap($gap-c);
    @include type-preset(40);
  }
}
