@charset 'UTF-8';

// ---------------------------------------------------------------------------------------------------------------------
// Libraries/Node: Search
// Search pages specific styles
// ---------------------------------------------------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

// global search styles ------------------------------------------------------------------------------------------------
.path-search {
  // hide expanding global search on search pages
  .region-header-second .global-search {
    display: none;
  }

  // global search styles specific to search pages
  .region-content .block .block__content .views-element-container .global-search {
    // sass-lint:disable-block no-important
    background: none !important;
    display: none; // do not show global search on mobile
    margin: rem($gap-d) 0 rem($gap-e);
    top: inherit; // not needed on results page
    transform: inherit; // not needed on results page

    // location and equip inputs will use global search style widths
    .global-search__location,
    .global-search__location + div {
      flex: auto;
    }

    @include media('>=s') {
      display: flex;
      padding: 0;

      .global-search__location {
        border-radius: $border-radius-med 0 0 $border-radius-med;

        .icon.icon-map-marker {
          transform: translate(0, -50%); // override legacy
          z-index: 1;

          &::before {
            content: icon-char(location); // override legacy icon char
          }
        }
      }

      .global-search__search-box {
        margin-right: 0;
      }

      .icon {
        color: $color-text-subtle;
        left: rem($gap-b);
      }

      .global-search__button {
        border-radius: 0 $border-radius-med $border-radius-med 0;
      }

      .global-search__field {
        border-color: $color-utility-border;
        border-width: $border-width-light;

        // overriding legacy styles below
        .input-wrapper input {
          border-left: unset;
        }

        input {
          margin: 0;
          padding-left: 2.5rem; // override legacy
          padding-right: 2.5rem; // override legacy
        }
      }
    }
  }


}

// TODO: refactor these search results styles --------------------------------------------------------------------------
.page-search {
  .heading-4 {
    margin-top: 1.33em;
  }

  .block-system-breadcrumb-block {
    display: none;
  }

  .views-row > article {
    border-bottom: rem(1) solid #DEE1E3;
    // padding: 1.5rem 0;

    .icon-file-text-o::before {
      color: #0050A9;
      content: '\E017';
      font-family: 'themeIcons';
      font-size: 3.14286rem;
    }

    .search-result-wrapper > * {
      margin: rem(16) auto;
    }

    .search-result-wrapper {
      display: flex;
    }

    .search-result-image {
      margin-right: rem(18);
      padding-top: rem(9);
      width: rem(44);
    }

    .search-result-details {
      align-items: flex-start;
      flex: 8;
      flex-direction: column;
      position: relative;
    }
  }
}

.catalog-listing {
  display: flex;

  .equipment-listing-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2%;
    max-width: 95%;

    @include media ('>=s') {
      max-width: 100%;
      width: 100%;
    }

    .list--container {
      flex-grow: 2;
      min-height: 100vh;
    }

    .pricing-content .time-period {
      flex-direction: row;

      span {
        padding-left: rem(5);
      }
    }

  }
}

.object-listing--wrapper {
  border-bottom: $border-width-light solid $color-utility-border;
  display: flex;

  > * {
    margin: rem(16) auto;
  }
}

.object-listing--image {
  margin-right: rem(18);
  padding-top: rem(9);
}

.object-listing--details {
  align-items: flex-start;
  flex: 8;
  flex-direction: column;
  position: relative;

  .icon-angle-down {
    position: absolute;
    right: 7%;
    top: rem(28);

    &.is-active {
      transform: rotate(180deg);
    }

    @include media ('>=s') {
      left: 0;
      position: relative;
      top: 0;
    }
  }
}

.object-listing--details--cat-class-code {
  color: $color-text-subtle;
  height: rem(24);
  line-height: rem(24);
}

.object-listing--details--name {
  @include type-preset(
    $version: 60,
    $type: header
  );
  color: $color-brand-primary;
  cursor: pointer;
  display: inline-block;
  margin-bottom: rem(5);
  margin-right: rem(40);
}

.object-listing--details--pricing {
  color: $color-text-subtle;
  margin: rem(12) 0;
  text-transform: uppercase;

  span span {
    color: $color-text;
    margin-right: rem(5);
  }

  > * {
    margin: auto rem(3);
  }

  &:first-child {
    margin-left: 0;
  }
}

.object-listing--details--pricing--chip {
  background-color: $color-utility-attention;
  border-radius: rem(100);
  color: $color-text-reverse;
  float: left;
  font-weight: $font-weight-bold;
  height: rem(14);
  line-height: rem(9);
  margin-bottom: rem(7);
  margin-right: 90%;
  max-width: rem(112);
  min-width: rem(72);
  padding: rem(3);
  text-align: center;
  width: auto;

  @include media ('>=s') {
    margin: auto rem(3);
  }
}

.object-listing--details--pricing--daily,
.object-listing--details--pricing--weekly,
.object-listing--details--pricing--monthly {
  float: left;
}


.object-listing--details--quick-view {
  color: $color-brand-primary;
  line-height: rem(14);
  margin-top: rem(12);
  position: relative;

  a {
    width: rem(82);
  }

  .icon {
    margin-right: rem(30);
  }

  .icon-angle-down {
    cursor: pointer;
    left: rem(66);
    pointer-events: auto;
    position: absolute;
    width: rem(15);

    &.is-active {
      transform: rotate(180deg);
    }
  }

  ul li {
    color: $color-text-subtle;
  }

  .view-details-quick-view-button {
    align-items: center;
    background-color: $color-grey-11;
    border: 0;
    color: $color-brand-primary;
    display: flex;
    float: left;
    font-weight: $font-weight-bold;
    justify-content: center;
    margin-right: rem(7);
    min-height: 1.9rem;
    width: 45%;

    @include media ('>=s') {
      border-radius: rem(2);
      float: none;
      height: 2.2857142857em;
    }
  }
}

.object-listing--actions {
  padding-top: rem(10);
}

.object-listing--actions--alert {
  color: $color-grey-38;
  font-weight: $font-weight-bold;
  line-height: rem(16);
  text-align: center;
  width: rem(128);
}

.object-listing--actions button {
  @include btn(
    $style: primary
  );

  &.primary-reverse {
    @include btn(
      $style: primary-reverse
    );
  }
}

.object-listing--actions--sub {
  display: flex;
  width: rem(128);

  a {
    display: inline;
    text-decoration: none;

    @include media ('>=s') {
      display: flex;
    }
  }

  .icon {
    color: $color-brand-primary;
    flex: 0 1 auto;
    flex-direction: row;
    margin: rem(13);
  }

  :hover {
    cursor: pointer;
  }
}

.object-listing--actions--object-detail {
  @include media ('>=s') {
    float: right;
    padding: 0;
    position: relative;
    top: rem(-10);
  }
}

.add-to-cart--img-pricing .spinner {
  margin: rem(2) rem(10) rem(10);
}
