@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Node: Teaser
// -----------------------------------------------------------------------------

/**
 * Globals
 * An import of all abstracts
 */
@import '../../globals';

/**
 * Node
 */
.node--view-mode-teaser {
  display: flex;
  padding: rem($scale-8) 0;
  position: relative;

  .node__media {
    margin-right: rem($scale-5);
    max-width: rem(115);

    img {
      max-width: 100%;
    }
  }

  .node__title {
    @include type-preset(
      $version: 50,
      $type: header
    );

    margin-bottom: rem($scale-1);
  }

  > .link-read-more {
    @include trbl();
    z-index: 1;
  }

  a {
    position: relative;
    z-index: 2;
  }

  .file--application-pdf {
    background: transparent;
    margin-right: rem($scale-4);
    padding: 0;

    + .file--application-pdf {
      &::before {
        color: $color-brand-primary;
        content: '|';
        margin-right: rem($scale-4);
      }
    }
  }

  .field--name-field-awards-external-link {
    margin-top: em($scale-5);
  }
}

.views-row {
  border-bottom: $border-width-light solid $color-utility-border;

  &:last-of-type {
    border: 0;
  }
}

.view-display-id-annual_reports_current .views-row { // sass-lint:disable-line class-name-format
  border-bottom: $border-width-light solid $color-utility-border;
}

.node--type-styleguide {
  display: block;
}
