.jobsite-address-container {

  h6 {
    margin: 15px 0 10px 0;
  }


  .code-number {
    display: flex;
    flex-direction: column;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    .code {
      .select {
        width: 75px;
      }

      select {
        width: 75px;
      }
    }

    .phone-number {
      margin-left: 0;

      input {
        max-width: 400px;
      }

      @include breakpoint($break-small) {
        margin-left: 15px;

        input {
          max-width: 310px;
        }
      }
    }
  }

  .zip-code-input,
  .city-input {
    width: 200px;
  }

  .city-state {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-between;

    @include breakpoint($break-small) {
      flex-direction: row;
    }

    select,
    .select {
      width: 92.5px;
    }
  }

  input {
    height: 32px;
    max-width: 400px;
    margin: 0;
    border: $border-grey;
    border-radius: 2px;
    background-color: $color-white;
    appearance: none;
    outline: none;
  }

  textarea {
    border: $border-grey;
    background: $color-white;
    max-width: 400px;
    height: 100px;
  }

  button {
    margin-top: 20px;
    width: 150px;
  }
}
