{% include '@atoms/02-text/00-headings/heading-2/heading-2.twig'
  with {
    heading_2: heading_2
  }
%}

{% include '@atoms/02-text/text/01-paragraph.twig'
  with {
    paragraph_content: subheading_paragraph_content,
    paragraph_blockname: 'sub-heading'
  }
%}

<div class="jobsite-address-container">
  <div class="jobsite-name">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Jobsite Name"
      }
    %}
    <input placeholder="Enter your Jobsite Name">
  </div>

  <div class="contact-name">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Contact Name"
      }
    %}
    <input placeholder="Enter the Contact's Name">
  </div>

  <div class="code-number">
    <div class="code">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Code"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: select_options
        }
      %}
    </div>

    <div class="phone-number">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Phone Number"
        }
      %}
      <input placeholder="In the format 123-456-7890">
    </div>
  </div>

  <div class="email">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Email"
      }
    %}
    <input placeholder="Enter your email">
  </div>

  <div class="address-1">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Address 1"
      }
    %}
    <input placeholder="Enter the job address">
  </div>

  <div class="address-2">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Address 2"
      }
    %}
    <input placeholder="Enter billing address (optional)">
  </div>

  <div class="zip-code">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Zip/Postal Code"
      }
    %}
    <input class="zip-code-input" placeholder="Enter the zip code">
  </div>

  <div class="city-state">
    <div class="city">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "City"
        }
      %}
      <input class="city-input" placeholder="Enter the City">
    </div>
    <div class="state">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "State"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: state_select_options
        }
      %}
    </div>
    <div class="country">
      {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
        with {
          heading_6: "Country"
        }
      %}
      {% include '@atoms/05-forms/select/select.twig'
        with {
          select_options: country_select_options
        }
      %}
    </div>
  </div>
  <div class="delivery-instructions">
    {% include '@atoms/02-text/00-headings/heading-6/heading-6.twig'
      with {
        heading_6: "Delivery Instructions"
      }
    %}
    <textarea placeholder="Enter any delivery instructions (optional)"></textarea>
  </div>

  {% include '@atoms/06-buttons/style-1/01-button.twig'
    with {
      button_content: 'Next',
      button_modifiers: button_modifiers
    }
  %}
</div>