$breadcrumb-active: #color-blue;

.breadcrumb {
  @include list-reset;
  margin-bottom: 20px;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-blue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.breadcrumb__link:hover {
  color: $color-blue;
}

.breadcrumb__item {
  display: inline-block;
  font-size: .75rem;

  &::after {
    content: " >";
  }

  &:last-child {
    color: $breadcrumb-active;

    &::after {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $breadcrumb-active;
}
