{% macro menu_links(menu_tree, route_tid, current_depth, max_depth) %}
{% import _self as macros %}
{% for item in menu_tree %}
{%
set liClass = [
item.subitem and current_depth < max_depth ? 'menu-item menu-item--expanded block-taxonomymenu__menu-item block-taxonomymenu__menu-item--expanded' : 'menu-item block-taxonomymenu__menu-item',
route_tid == item.tid ? 'menu-item--active block-taxonomymenu__menu-item--active' : ''
]
%}
<li class="{{ liClass|join(' ') }}">
  {% if item.image %}
  <img class="menu-item-image block-taxonomymenu__image" src="{{ item.image }}" {% if item.use_image_style == false %}height="{{ item.height }}" width="{{ item.width }}"{% endif %} />
  {% endif %}
  {% if item.subitem and current_depth < max_depth %}
  <button class="block-taxonomymenu__link {% if route_tid == item.tid %}active block-taxonomymenu__link--active{% endif %}">{{ item.name }}{% if item.show_count == true %} [{{ item.nodes|length }}]{% endif %}</button>
  {% else %}
  <a href="{{ item.url }}" class="block-taxonomymenu__link {% if route_tid == item.tid %}active block-taxonomymenu__link--active{% endif %}">{{ item.name }}{% if item.show_count == true %} [{{ item.nodes|length }}]{% endif %}</a>
  {% endif %}
  {% if item.subitem and current_depth < max_depth %}
  {% if item.interactive_parent %}
  <i class="arrow-right parent-toggle" aria-hidden="true"></i><span class="visually-hidden">Expand Secondary Navigation Menu</span>
  {% endif %}
  <ul class="menu block-taxonomymenu__submenu">
    <a href="{{ item.url }}" class="block-taxonomymenu__view-all">{{ 'View All' | t }}</a>
    {{ macros.menu_links(item.subitem, route_tid, current_depth + 1, max_depth) }}
  </ul>
  {% endif %}
</li>
{% endfor %}
{% endmacro %}

{% import _self as macros %}
<ul class="menu hierarchical-taxonomy-menu block-taxonomymenu__menu">
  {{ macros.menu_links(menu_tree, route_tid, 0, max_depth) }}
</ul>
