.probox-item-list-description {
  display: flex;
  flex-wrap: wrap;

  &__mobile-filters {
    padding-bottom: 20px;
    min-width: 100%;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    flex: 0 0 67%;
    padding-right: 50px;
  }
  
  &__heading {
    display: flex;
  }

  &__description {
    .item-description {
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
  }

  &__sort {
    display: none;
    align-items: center;
    padding-left: 20px;
    flex: 0 0 33%;
    justify-content: flex-end;

    .sort-select {
      position: relative;
      display: flex;
      flex: 0 0 200px;
    }

    label {
      border: $border-grey;
      border-right: 0;
      border-radius: $border-radius-small 0 0 $border-radius-small;
      color: $gray;
      padding: 3px 6px 3px 8px;
      flex: 0 0 70px;
    }

    select {
      border: $border-grey;
      border-left: 0;
      border-radius: 0 $border-radius-small $border-radius-small 0;
      -webkit-appearance: none;
      color: $gray-dark;
      padding: 3px 6px;
      flex: 1;
    }
  }

  .heading-item {
    font-size: 2rem;
    font-weight: 600;
    padding-right: .6rem;
  }
  .heading-quantity {
    font-size: 2rem;
    font-weight: 400;
  }

  .filter-box {
    background-color: $gray-lightest;
    border: 1px solid $gray-light;
    border-radius: $border-radius-small;
    padding: 2px 20px 2px 8px;
    margin-right: 6px;
    margin-top: 5px;
  }

  @include breakpoint($break-small) {
    &__mobile-filters {
      display: none;
    }
    &__sort {
      display: flex;
    }  
  }
}
