<div class="probox-item-list-description">
  <div class="probox-item-list-description__mobile-filters">
    {% include "@molecules/filter-sort-buttons/filter-sort-buttons.twig" %}
  </div>
  <div class="probox-item-list-description__container">
    <div class="probox-item-list-description__heading">
      <span class="heading-item">{{ probox_item_list_description_item }}</span>
      <span class="heading-quantity">({{ probox_item_list_description_quantity }})</span>
    </div>
    <div class="probox-item-list-description__description">
      <p class="item-description">
        {{ probox_item_list_description_description }}
        <a href="{{ probox_item_list_description_description_read_more_link }}">{{ probox_item_list_description_description_read_more }}</a>
      </p>
    </div>
    <div class="probox-item-list-description__filters">
      {% for filter in probox_item_list_description_filters %}
        <div class="filter-box">
          <i class="icon icon-close"></i>
          <span>{{ filter }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="probox-item-list-description__sort">
    <label>Sort by:</label>
    <div class="sort-select">
      <select>
        {% for option in probox_item_list_description_select_options %}
          <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
      </select>
      <i class="icon icon-angle-down"></i>
    </div>
  </div>
</div>