#block-urcallusblock {
  position:relative;
  z-index: 10001; // just above Egain, which lies at 10,000.
}
.call-us {
  position: fixed;
  bottom: -1px;
  right: 204px;
  z-index: 10000;

  &__trigger {
    background: $color-blue-highlight;
    bottom: 0;
    color: white;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    padding: 0.75rem;
    left: 0;
    text-align: center;
    width: 100px;
    z-index: 1;

    &.is-active,
    &:hover {
      background: $color-blue-lowlight;
    }
  }

  &__heading { margin: 0.25em 0; }

  &__content {
    background: $color-blue-lowlight;
    padding: 1rem 1rem 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;

    * { color: white; }
  }

  &__tel-num {
    color: white;
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;

    &:visited,
    &:hover {
      color: white;
      font-size: 18px;
      font-weight: lighter;
      line-height: 24px;
    }
  }

  &__branch {
    color: $color-grey-11;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
  }

  &__link {
    font-size: 12px;

    &:hover,
    &:visited {
      color: white;
    }
  }

  &__hr {
    border: none;
    margin-bottom: 1em;
  }
}
.underlined {
  border-bottom: 1px solid rgba(221, 224, 226, 0.2); /* $color-grey-11 @ 20% opacity */
}
