.maintenance-page {
  height: 100%;
  display: flex;
  margin: 0;
}

.maintenance-page .layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  margin: 0;
}

.maintenance-page main {
  flex-grow: 1;
  margin: 0 5rem;
  text-align: center;
}

.maintenance_content {
  font-size: 1.2em;
}