.pika-single {
  background: white;
  padding: 1rem;
  border: 1px solid $color-grey-11;
  margin-top: 10px;
  border-radius: 2px;
  width: 299px;

  // only on mobile need to override what the js plugin is doing
  @media (max-width: $break-small) {
    position: fixed !important;
    top:0  !important;
    left: 2.5% !important;
    right: 2.5 !important;
    width: 95%;
  }


  @include breakpoint($break-medium) {
    width: 327px;
  }

  &.is-hidden {
    display: none;
  }

  .pika-lendar {

    .pika-select {
      display: none;
    }

    .pika-title {
      position: relative;
    }

    .pika-label {
      color: $color-grey-38;
      margin-bottom: 5px;
    }

    .pika-label + .pika-label {
      display: inline;
      font-size: $font-size-h2;
      color: $color-blue;
      font-weight: 600;
    }

    .pika-prev {
      border: none;
      position: absolute;
      bottom: 0;
      right: 60px;
    }

    .pika-next {
      border: none;
      position: absolute;
      bottom: 0;
      right: 15px;
    }

    .pika-table {
      height: 200px;
      width: 275px;
      margin-top: 15px;
      margin-left: 5px;

      tr {
        height: 35px;
      }

      .pika-button {
        border: none;
      }

      th {
        abbr {
          font-size: $font-size-h5;
          color: $color-grey-38;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      td {
        .pika-button {
          color: $color-blue;
          float: right;
          position: relative;
          right: 20%;
        }
      }

      .is-disabled,
      .is-outside-current-month {
        .pika-button {
          color: $color-grey-11;
        }
      }

      .is-selected {
        background: $color-blue;

        .pika-button {
          color: $color-white;
        }

        &.in-range {
          background: $color-blue !important;
          .pika-button {
            color: $color-white;
          }
        }
      }

      .in-range {
        background: $color-blue-subtle;
      }
    }
  }
}

// On the Catalog Listing page, this needs to be 10,000. On the Checkout page, 9999.
// On the Cart page, the calendar is shown BELOW modals, so it appears behind
// the Pickup/Delivery Date Change Warning Modal
// On the Empty Cart page, the carousels appear. The carousels link to the Add
// to Cart Modal, so the calendar needs to appear above those as well (at 10,000).
.pika-single,
.path-cart.add-to-cart .pika-single {
  z-index: 3141593;
}
.path-cart .pika-single {
  z-index: 10002;
}
