@media print {
  body,
  html {
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;
  }

  #block-unitedrentals-content,
  .cart-block,
  .reservation-billing {
    display: block;
  }

  .reservation-billing {
    min-height: 152px;
  }

  .reservation-pickup-delivery {
    page-break-after: always;
  }

  .call-us,
  .bcFloat {
    display: none !important;
  }
  .photo_area {
    &__active {
      margin-bottom: 2rem;
    }
  }

  .group-left {
    width: auto;
    max-width: 100%;
  }

  .basic-field--cat-class-code {
    margin: 2rem 0;
  }

  html,
  body,
  .main-sidebar,
  .main-content,
  .main-content--with-sidebar,
  .block-unitedrentals-content {
    height: auto;
  }

  .header,
  .footer,
  .tabs__nav {
    display: none !important;
  }

  .checkout-page {
    .checkout-page-layout-left {
      margin-bottom: 0;
      width: 100%;

      &-top {
        display: none;
      }

      &-bottom {
        padding: 0 calc(2% + 1.5rem);

        .icon-group {
          display: none;
        }

        .cart__job-title-area {
          float: right;
        }
      }
    }

    .cart-cost-summary__container {
      width: 100%;
      max-width: none;
      box-shadow: none;
    }

    .checkout-page-layout-right {
      box-shadow: none;
      background: $color-white;
      display: block;
      width: 100%;
      padding: 0 calc(2% + 1.5rem);
    }
  }

  .dashboard {
    .widget-body {
      column-count: 1;
    }

    .widget-data-visualization__map {
      position: relative;
      width: 100%;

      .vue-map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .gmnoprint,
  .gmnoscreen {
    display: none !important;
  }
}
