h5{
  margin: 0;
}

table{
  width: 100%;
}
th {
  background: #DDE0E2;
  border: 1px solid #91969B;
  padding: 10px 15px;
  text-align: left;
}
th:first-child{
  width: 30%;
}
td {
  font-family: monospace;
  font-size: 1rem;
  padding: 15px;
}
.font-family-sans-serif td{
  font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
}
td{
  border: 1px solid #ddd;
  position: relative;
}
td:first-child:after{
  border: 5px solid white;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
td.bgc-white:after{
  border-color: #91969B;
}
a[href="#back-to-top"]{
  float: right;
  margin-top: 10px;
}
.styleguide__subnav{
  margin-left: 0;
  padding-left: 0;
}
.styleguide__subnav li{
  list-style: none;
  margin: none;
  padding: none;
}
.styleguide__subnav li li{
  list-style:disc;
}

.font-example{
  font-size: 1.5rem;
}
pre{
  margin: 0 0 0 -60px;
}
pre.short{
  margin: 0;
}
.header-display-1, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6{
  width: auto;
}

.grid{
  background: #48BD00;
  border: 1px solid #333;
}
.grid--example{
  background: #fff;
  border: 1px solid #ddd;
  height:50px;
}

.icon-wrapper tr td:last-child{
  text-transform: uppercase;
}
.status-pill{
  font-family: "Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;
}

/* Default VueCarousel Styles */

.VueCarousel{
    position:relative;
}
.VueCarousel-wrapper{
    width:100%;
    position:relative;
    overflow:hidden;
}
.VueCarousel-inner{
    display:flex;
    flex-direction:row;
    backface-visibility:hidden;
}
 .VueCarousel-slide{
    flex-basis:inherit;
    flex-grow:0;
    flex-shrink:0;
    user-select:none;
    }
    .VueCarousel-navigation-button{
        position:absolute;
        top:50%;
        box-sizing:border-box;
        color:#000;
        text-decoration:none;
    }
    .VueCarousel-navigation-next{
        right:0;
        transform:translateY(-50%) translateX(100%);
    }
    .VueCarousel-navigation-prev{
        left:0;
        transform:translateY(-50%) translateX(-100%);
    }
    .VueCarousel-navigation--disabled{
        opacity:.5;
        cursor:default;
    }
     .VueCarousel-pagination{
        width:100%;
        float:left;
        text-align:center
    }
    .VueCarousel-dot-container{
        display:inline-block;
        margin:0 auto;
    }
    .VueCarousel-dot{
        float:left;
        cursor:pointer;
    }
    .VueCarousel-dot-inner{
        border-radius:100%;
    }
     .VueCarousel-slide{
        flex-basis:inherit;
        flex-grow:0;
        flex-shrink:0;
        user-select:none;
    }
    .catalog-listing .equipment-listing-full .list__container{
      min-height: auto;
    }
    .global-search__location{
      background: #DDE0E2;
      padding: 10px;
    }
