.path-user {
  form#user-login-form {
    width: 90%;
    margin: 1rem;

    @include breakpoint($break-small) {
      width: 95%;
    }

    @include breakpoint($break-medium) {
      width: 70%;
      margin: 2rem auto;

      input#edit-submit {
        max-width: 25%;
        margin-top: 1rem;
      }
    }

    input#edit-pass {
      width: 100%;
    }

    div#edit-actions {
      margin-top: 1rem;
    }
  }

  .drupal-tabs {
    @include breakpoint($break-medium) {
      margin: 0 auto;
      width: 70%;
    }
  }

  .drupal-tabs ul li {
    display: block;
    margin-bottom: 0.6rem;

    @include breakpoint($break-small) {
      display: inline;
    }
  }
}