.slide-enter-active, .slide-leave-active {
  transition: max-height $animation-speed-long ease;
  overflow-y: hidden;
  max-height: 300px;
}

.slide-enter, .slide-leave-to {
  max-height: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $animation-speed-long;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

//fade in-out for toast
.toastFade-enter-active, .toastFade-leave-active {
  transition: opacity $animation-speed-long $anim-ease;
  transition-delay: $animation-speed;
}

.toastFade-enter-to, .toastFade-leave {
  opacity: 1;
}

.toastFade-enter, .toastFade-leave-to {
  opacity: 0;
}

//fade on enter only
.fadeEnterOnly-enter-active {
  transition: opacity $animation-speed;
  transition-delay: $animation-speed-quick;
}

.fadeEnterOnly-enter {
  opacity: 0;
}

.fadeEnterOnly-enter-to {
  opacity: 1;
}

//fade on enter only long delay
.fadeEnterOnlyLongDelay-enter-active {
  transition: opacity $animation-speed;
  transition-delay: $animation-speed-long;
}

.fadeEnterOnlyLongDelay-enter {
  opacity: 0;
}

.fadeEnterOnlyLongDelay-enter-to {
  opacity: 1;
}

// Fade/slide in from left to right
.lrSlideFade-enter-active, .lrSlideFade-leave-active {
  transition: opacity $animation-speed $anim-ease,
  transform $animation-speed $anim-ease,
  max-height $animation-speed $anim-ease;
}

.lrSlideFade-enter-to {
  transform: translate(0, 0);
  opacity: 1;
  max-height: 1000px;
}

.lrSlideFade-enter, .lrSlideFade-leave-to {
  opacity: 0;
  transform: translate(-10%, 0);
  max-height: 0;
}

// Fade In on Enter and slide from right to left on Leave
.fadeInrlSlideLeave-enter-active, .fadeInrlSlideLeave-leave-active {
  transition: opacity $animation-speed-long $anim-ease,
  transform $animation-speed $anim-ease;
}

.fadeInrlSlideLeave-enter-to, .fadeInrlSlideLeave-leave {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeInrlSlideLeave-enter {
   opacity: 0;
 }

.fadeInrlSlideLeave-leave-to {
  opacity: 0;
  transform: translate(-10%, 0);
}

// Fade/slide in from bottom to top
.btSlideFade-enter-active, .btSlideFade-leave-active {
  transition: all $animation-speed $anim-ease;
}

.btSlideFade-enter-to {
  transform: translate(0, 0);
  opacity: 1;
  max-height: 1000px;
}

.btSlideFade-enter, .btSlideFade-leave-to {
  opacity: 0;
  transform: translate(0, 10%);
  max-height: 0;
}

// Fade/slide out Only from bottom to top
.btSlideFadeLeave-leave-active {
  transition: all $animation-speed $anim-ease;
}

.btSlideFadeLeave-leave {
  opacity: 1;
  max-height: 1000px;
}

.btSlideFadeLeave-leave-to {
  opacity: 0;
  max-height: 0;
}

// Fade/slide in from top to bottom
.tbSlideFade-enter-active, .tbSlideFade-leave-active {
  transition: opacity $animation-speed $anim-ease,
  transform $animation-speed $anim-ease,
  max-height $animation-speed-long $anim-ease;
}

.tbSlideFade-enter-to, .tbSlideFade-leave {
  transform: translate(0, 0);
  opacity: 1;
  max-height: 1000px;
}

.tbSlideFade-enter, .tbSlideFade-leave-to {
  opacity: 0;
  transform: translate(0, -10%);
  max-height: 0;
}

// Fade/slide in from top to bottom without translate
.tbSlideFadeNoTranslate-enter-active, .tbSlideFadeNoTranslate-leave-active {
  transition: opacity $animation-speed $anim-ease,
  max-height $animation-speed-long $anim-ease;
}

.tbSlideFadeNoTranslate-enter-to, .tbSlideFadeNoTranslate-leave {
  opacity: 1;
  max-height: 1000px;
}

.tbSlideFadeNoTranslate-enter, .tbSlideFadeNoTranslate-leave-to {
  opacity: 0;
  max-height: 0;
}

// Cart page inner edit form Fade/slide in from bottom to top
.btEditSlideFade1-enter-active, .btEditSlideFade1-leave-active {
  transition: all $animation-speed $anim-ease;
  transition-delay: $animation-speed;
}

.btEditSlideFade1-enter-to {
  transform: translate(0, 0);
  opacity: 1;
}

.btEditSlideFade1-enter, .btEditSlideFade1-leave-to {
  opacity: 0;
  transform: translate(0, 10%);
}

// Cart page inner edit form Fade/slide in from bottom to top
.btEditSlideFade2-enter-active, .btEditSlideFade2-leave-active {
  transition: all $animation-speed $anim-ease;
  transition-delay: 0.45s;
}

.btEditSlideFade2-enter-to {
  transform: translate(0, 0);
  opacity: 1;
}

.btEditSlideFade2-enter, .btEditSlideFade2-leave-to {
  opacity: 0;
  transform: translate(0, 10%);
}

// Cart page inner edit form Fade/slide in from bottom to top
.btEditSlideFade3-enter-active, .btEditSlideFade3-leave-active {
  transition: all $animation-speed $anim-ease;
  transition-delay: 0.6s;
}

.btEditSlideFade3-enter-to {
  transform: translate(0, 0);
  opacity: 1;
}

.btEditSlideFade3-enter, .btEditSlideFade3-leave-to {
  opacity: 0;
  transform: translate(0, 10%);
}


/*
---
name: Add To Cart Notification
category: Organisms
---
### Behaviors
* Add To Cart notifications appear and remain on screen for a total of four seconds.
* When the user clicks/taps on the notification, the user is taken to their cart.
```add-to-cart-notification:03-organisms/add-to-cart/add-to-cart-notification-example.html
```
```add-to-cart-notification.css hidden
@media (min-width: 640px){
  .item-added-message{
    left: 0;
    top: 0;
  }
}
.item-added-message{
  margin: 5px;
}
```
```add-to-cart-notification-layout:03-organisms/add-to-cart/add-to-cart-notification-layout-example.html hidden
```
```add-to-cart-notification-layout.css hidden

.item-added-message{
  margin-bottom: 5px;
}
```

*/
