// Start libs
// Sanitize css reset. https://github.com/jonathantneal/sanitize.css
@import "sanitize.css/sanitize";
// Grid system, https://github.com/at-import/Singularity
// @import "singularitygs/stylesheets/singularitygs";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// leaflet base styles for location finder
@import "leaflet/dist/leaflet";
// End libs

html{
  font-size: 87.5% //sets base at 14
}

@import "00-base/**/*.scss";
@import "01-atoms/**/*.scss";
@import "02-molecules/**/*.scss";
@import "03-organisms/**/*.scss";
@import "04-templates/**/*.scss";
@import "05-pages/*.scss";
@import "vue-transitions.scss";
@import "vue-toolTip.scss";
@import "pika-calendar.scss";
@import "call-us.scss";
@import "print.scss";
@import "user_login.scss";
@import "maintenance.scss";

// Removing browser defaulted outline from all elements.
*:focus {
  outline: none;
}

//// (Temporarily?) remove egain from mobile devices
//// The "!importants" are required so we can override the <iframe> styles
//#egain-chat-wrapper.egain-launch-chat, #egain-chat-wrapper.egain-launch-va {
//  display: none!important;
//  @include breakpoint($break-medium) {
//    display: block!important;
//  }
//}

#egain-chat-wrapper.egain-launch-chat,
#egain-chat-wrapper.egain-launch-va {
  height: 33px!important;
  width: 105px!important;
}


.path-locations #egain-chat-wrapper.egain-launch-chat,
.path-locations #egain-chat-wrapper.egain-launch-va,
.path-placeable-branch #egain-chat-wrapper.egain-launch-chat,
.path-placeable-branch #egain-chat-wrapper.egain-launch-va,
.path-placeable-location #egain-chat-wrapper.egain-launch-chat,
.path-placeable-location #egain-chat-wrapper.egain-launch-va {
  display: none!important;
}



// TODO this style should be integrated into Quark. See JIRA tickets UR-5136 and Quark Issue 12
// This fixes the width of QQuantityPicker's buttons in IE11 / Edge
// (Quark assigns a width:32px via this same selector, but the QButtons inline a "reactiveStyle", overriding this to width:auto, which IE11
// breaks IE11. (The button becomes ~10px wide instead of 32...)  By assigning the min-width, the "reactiveStyle" of
// QButton is prevented from collapsing to ~10px.)
.q-quantity-picker.small button.q-button {
  min-width: 32px;
}

// Removes the white search icon in the header on the new homepage
// New home page is not currently being applied, so this setting will take effect once the new home page is in use
body.path-frontpage .header__primary-navigation .icon-search {
  display: none;
}

// Displays the white search icon in the header of the old home page and temporary (8/28/19) new non-default hompage
// When the new home page is in use, the above display style will remove the search icon
body.path-frontpage.path-node-100921 .header__primary-navigation .icon-search {
  display: inline-block;
}
