<template>
  <div>
    <div class="authentication-panel">
      <div class="container-inline titles">
        <h5>{{ $i18n('ur.location') }}</h5>
        <ur-tooltip :position="`right-start`" :message="accountTooltip" :messageIsHtml="true" v-if="userIsLoggedIn && !editing && ratesPlaceAddress"/>
        <span @click="setLocationModalPopup" v-if="!editing && ratesPlaceAddress" class="edit__paragraph link"> <strong><a>{{ $i18n('ur.edit') }}</a></strong></span>
      </div>

      <div v-if="!editing && !requestInFlight" class="p-t-10">
        <template v-if="!defaultAccount.id && !ratesPlaceCreated && !requestInFlight">
          <button class="button button--filled" @click="setLocationModalPopup">
            {{$i18n('locationFinder.chooseLocation.setLocation')}}
          </button>
          <button class="button button--style-2 q-button q-button--secondary auth-signin-btn" @click.prevent="redirectLogin" v-if="!userIsLoggedIn" data-tracking="sign-in" data-tracking-description="Sign In Button Left Sidebar Equipment Listing">
            {{ $i18n('dashboard.nullState.signInOrReg') }}
          </button>
        </template>
        <template v-if="hasDefaultAccount && !requestInFlight">
          <div class="container-inline" v-if="ratesPlaceAddress">
            <label>{{ $i18n('catalog.accountLabel') }}</label>
            <p class="selection__paragraph">{{ accountName | ellipses(12)}}</p>
          </div>
          <div class="container-inline" v-if="!editing && defaultJob.length > 0 && userIsLoggedIn">
            <label>{{ $i18n('catalog.jobLabel') }}</label>
            <p class="selection__paragraph paragraph--no-space">{{ defaultJob.name | ellipses(15) }}</p>
          </div>

          <button class="button button--filled" @click="setLocationModalPopup" v-if="!ratesPlaceAddress">
            {{ $i18n('locationFinder.chooseLocation.setLocation') }}
          </button>
        </template>

        <template v-if="ratesPlaceCreated">
          <div class="container-inline second-block">
            <span>{{ defaultJob.name ? $i18n('cartItem.jobsite') : $i18n('ur.city') }}</span>
            <span class="selection__paragraph w-auto p-t-0">
              <p class="font-weight-normal" v-html="jobName"/>{{ !jobName ? ratesPlaceAddressWithTrim : formattedAddress }}<br/>{{ hasDefaultAccount && !defaultJob.name ? $i18n('dashboard.or') : '' }}
              <strong v-if="hasDefaultAccount && !defaultJob.name" @click="setLocationModalPopup">
                <a>{{ $i18n('user.selectJobsite') }}</a>
              </strong>
            </span>
          </div>
        </template>
        <div v-bind:class="{'p-t-10' : userIsLoggedIn}" v-else>
          <span v-html="userIsLoggedIn ? $i18n('user.authenthicatedLocationMsg') : $i18n('user.unAuthenthicatedLocationMsg')" class="selection__paragraph-left"></span>
        </div>
      </div>

      <template v-if="!editing && requestInFlight">
        <ur-loading-spinner/>
      </template>

    </div>
  </div>
</template>
<script type="text/babel">
  import UrTooltip from '@/components/common/ur-tooltip.vue';
  import UrLoadingSpinner from '@/components/common/ur-loading-spinner.vue';

  import autocomplete from '@/utils/autocomplete';
  import isEmpty from 'lodash/isEmpty';
  import { FlightToken } from '@/api/flight-track';
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';

  export default {
    components: {
      UrTooltip,
      UrLoadingSpinner,
    },
    computed: {
      ...mapGetters({
        defaultAccount: types.user.defaultAccount,
        defaultJob: types.user.defaultJob,
        ratesPlaceAddress: types.user.ratesPlaceAddress,
        ratesPlaceCreated: types.user.ratesPlaceCreated,
      }),
      ...mapState({
        ratesPlace: state => state.user.ratesPlace,
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
        userIsLoggedIn: state => state.user.isLoggedIn,
        userRatesPlace: state => state.user.ratesPlace,
        allAccounts: state => state.accounts.all,
      }),
      accountName() {
        return this.defaultAccount.name;
      },
      hasDefaultAccount() {
        return !isEmpty(this.defaultAccount);
      },
      hasMultipleAccounts() {
        return this.allAccounts && Object.keys(this.allAccounts).length >= 2;
      },
      jobName() {
        const jobName = this.defaultJob.name;
        return jobName ? `${jobName}<br/>` : '';
      },
      formattedAddress() {
        const {
          city, state,
        } = this.defaultJob;

        // To keep the first 5 digits of US zipcode. Canadian zipcodes DOES NOT have '-'
        const zip = this.defaultJob.zip.split('-')[0];

        return `${city} ${state}, ${zip}`;
      },
      ratesPlaceAddressWithTrim() {
        return this.ratesPlaceAddress.trim();
      },
      accountTooltip() {
        if (!this.hasDefaultAccount) {
          return '';
        }

        const {
          name, id,
        } = this.defaultAccount;

        const jobName = this.defaultJob.name;
        const jobId = this.defaultJob.customerJobId !== '' ? `${this.defaultJob.customerJobId}<br/>` : '';

        const emptyString = '';
        const ratesPlace = this.ratesPlaceAddressWithTrim;

        return jobName ? `<strong>${name}</strong><br/>#${id}<br/><br/>
          <strong>${jobName || emptyString}</strong><br/>${jobId || emptyString}${this.formattedAddress}`
          : `<strong>${name}<br/>#${id}</strong><br/><br/>${ratesPlace}`;
      },
      requestInFlight() {
        return this.$store.getters[types.inFlightRequests.tokensAreInFlight](
          FlightToken.saveUserPreferences,
          FlightToken.fetchJobsites,
          FlightToken.fetchRequesters,
          FlightToken.fetchAccount,
        );
      },
    },
    data() {
      return {
        editing: false,
      };
    },
    props: {
      refreshOnChange: {
        required: false,
        type: String,
      },
      getLocationOnInit: {
        required: false,
        type: String,
      },
    },
    mounted() {
      if (this.getLocationOnInit === '1') {
        if (!this.ratesPlaceCreated) {
          this.getLocationFromUser();
        }
      }
    },
    methods: {
      ...autocomplete,
      ...mapActions({
        clearRatesPlaceBranch: types.user.clearRatesPlaceBranch,
        updateRatesPlace: types.user.ratesPlace,
      }),
      setLocationModalPopup() {
        const paramsIn = {};
        if (this.refreshOnChange === '1') {
          paramsIn.refreshOnChange = '1';
        }
        this.$router.push({
          path: '/locations/chooseLocationModal',
          query: paramsIn,
        });
      },
      onSave() {
        this.editing = false;
        if (isEmpty(this.userRatesPlace)) {
          this.clearRatesPlaceBranch();
        }
      },
      getLocationFromUser() {
        if (!this.$route.path.includes('/add-to-cart')) {
          this.setLocationModalPopup();
        }
      },
      redirectLogin() {
        // This won't work for local as we cannot use SSO from our local.
        window.location.href = drupalSettings.ur.sign_in_register_path;
      },
    },
    name: 'authenticationPanel',
  };
</script>

<style lang="scss">
  .auth-signin-btn {
    text-transform: none;
  }

  .selection__paragraph-left {
    line-height: 20px;
  }

  .second-block {
    margin-top: -8%;
  }

  .authentication-panel .container-inline {
    align-items: baseline;
  }

  .container-inline.titles {
    display: flex;
    align-items: center;
  }
</style>
