<template>
  <search-by-term
    itemKey="catClass"
    @matchingTermClick="addNewContextualFilter($event)"
    :itemLexicon="equipmentLexicon"
    :items="searchableEquipmentList"
    :placeholder="placeholder"
    :matching-term-click-callback="clickCallback"
    @focus="setFocus(true)"
    @blur="setFocus(false)"
  />
</template>
<script type="text/babel">
  import { mapActions, mapGetters, mapState } from 'vuex';
  import types from '@/store/types';
  import { SearchByTerm } from '@/components/common/listings';
  import api from '@/api';

  export default {
    components: {
      SearchByTerm,
    },
    computed: {
      ...mapGetters([
        'filteredEquipment',
      ]),
      ...mapState({
        ratesPlaceBranch: state => state.user.ratesPlaceBranch,
      }),
      clickCallback() {
        if (this.useViewCallback === true) {
          return this.viewMatchingTermClickCallback;
        }
        return null;
      },
      searchableEquipmentList() {
        return this.equipmentList;
      },
    },
    data() {
      return {
        equipmentList: [],
      };
    },
    methods: {
      /*
        TODO: Ultimately, we should have one unified model for search and filters
        for all things searchable site-wide. Once we do, this here transform patch
        can be removed.
        The incoming filter is generic, so we have to shuffle the data a bit to
        get it to work with out createEquipmentFilter action.
     */
      addNewContextualFilter({ id, term, matchingItemKeyValues }) {
        this.createContextualFilter({
          id,
          name: term,
          catClasses: matchingItemKeyValues,
        });
      },
      async loadSearchableEquipmentList() {
        if (!this.equipmentList || this.equipmentList.length <= 0) {
          if (this.useViewCallback) {
            api.catalog.fetchEquipmentByTermId(
              {
                termId: this.termId,
                branchId: this.ratesPlaceBranch,
                offset: 0,
              },
            ).then(({ data }) => {
              this.equipmentList = Object.values(data);
            });
          }
          else {
            this.equipmentList = Object.values(this.filteredEquipment);
          }
        }
      },
      viewMatchingTermClickCallback(term) {
        const key = 'search_within';
        const searchTerm = term.term;
        if (window.location.search.includes(`${key}=`)) {
          const searchParts = window.location.search.replace('?', '').split('&');
          const values = Object.values(searchParts);
          for (let i = 0; i < values.length; i += 1) {
            searchParts[i] = searchParts[i].split('=');
            if (searchParts[i].length === 2 && searchParts[i][0] === key) {
              searchParts[i][1] = searchTerm;
            }
            searchParts[i] = searchParts[i].join('=');
          }
          window.location.search = searchParts.join('&');
        }
        else {
          let questionOrAmp = '?';
          if (window.location.search.includes('?')) {
            questionOrAmp = '&';
          }
          window.location.search += `${questionOrAmp}${key}=${searchTerm}`;
        }
      },
      equipmentLexicon({ title, highlights }) {
        const wordsInTitle = title.toLowerCase().split(' ');
        const wordsInHighlights = highlights.join(' ').toLowerCase().split(' ');
        return wordsInTitle.concat(wordsInHighlights);
      },
      setFocus(value) {
        if (value) {
          this.$emit('focus');
        }
        else {
          this.$emit('blur');
        }
      },
      ...mapActions({
        createContextualFilter: types.facets.createContextualFilter,
      }),
    },
    mounted() {
      this.loadSearchableEquipmentList();
    },
    props: {
      placeholder: String,
      useViewCallback: Boolean,
      termId: String,
    },
  };
</script>
