<template>
  <div class="confirm-card-and-address-container">
    <div class="confirm-card-and-address">
      <div class="confirm-card" v-if="Object.keys(blockCard).length">
        <img :src="blockCard.cardType | ccTypeImg"/>
        <div class="card-and-expiration">
          <p class="card-type">{{blockCard.cardType | ccTypeName}} ...{{blockCard.ccNum4}}</p>
          <p class="paragraph">{{ $i18n('checkout.expires') }} {{blockCard.expireDate | ccMonthYear}}</p>
        </div>
      </div>
      <div class="controls">
        <router-link class="credit-card-link" :to="`/convert-quote/${quote.quoteId}/select-credit-card`" v-if="allCards.length > 1">{{ $i18n('checkout.selectADifferentCard') }}</router-link>
        <router-link class="credit-card-link" :to="`/convert-quote/${quote.quoteId}/add-credit-card`">{{ $i18n('checkout.addANewCard') }}</router-link>
      </div>
      <label v-if="defaultCcIsExpired" class="error-message">{{ $i18n('card.errorExpiredDefaultCard') }}</label>
      <div class="confirm-address">
        <label class="cc-billing-address-heading">{{ $i18n('checkout.billingAddress') }}</label>
        <p class="paragraph">{{blockAccount.address1}}</p>
        <p class="paragraph" v-if="blockAccount.address2">{{blockAccount.address2}}</p>
        <p class="paragraph">{{blockAccount.city}}, {{blockAccount.state}} {{blockAccount.zip}}</p>
          {{ `ACCOUNT ID: ${quote.accountId}` }}
        <router-link class="credit-card-link" :to="`/convert-quote/${quote.accountId}/account-details-form/${quote.quoteId}`">{{ $i18n('ur.edit') }}</router-link>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { find, get, padStart } from 'lodash';
  import moment from 'moment';

  export default {
    name: 'credit-card-and-billing-address',
    data() {
      return {
        expired: false,
      };
    },
    components: {},
    computed: {
      // Import State from Vuex
      ...mapState({
        allAccounts: state => state.accounts.all,
        allCards: state => state.creditCards.all,
        blockBilling(state) {
          return state.convertQuotes.billing;
        },
        defaultCardId: state => get(state.creditCards.all.filter(({ defaultCard }) => defaultCard === true)[0], ['id']),
        defaultCardExpDate: state => get(state.creditCards.all.filter(({ defaultCard }) => defaultCard === true)[0], ['expireDate']),
        currentCardId(state) {
          return state.convertQuotes.billing.cardId;
        },
      }),
      defaultCcIsExpired() {
        if (this.defaultCardId === this.blockCard) {
          const formattedExpDate = padStart(Number(this.defaultCardExpDate), 4, '0');
          const expDateMoment = moment(formattedExpDate, 'MMYY');
          this.expired = expDateMoment.isBefore(moment().add(1, 'm').startOf('month')); // eslint-disable-line
          this.$emit('expired', this.expired);
          return this.expired;
        }
        else {
          return false;
        }
      },
      blockAccount() {
        return get(this.allAccounts, [this.account.id], {});
      },
      blockCard() {
        return find(this.allCards, ({ id }) => id === this.currentCardId) || {};
      },
    },
    methods: {
      // Import Vuex actions
      ...mapActions({
        fetchCreditCards: types.creditCards.fetch,
        updateBillingCreditCard: types.convertQuotes.billingCreditCard,
      }),

      // Selects the default card if-and-only-if none other has been selected
      selectInitialCard() {
        if (this.blockBilling.cardId) {
          return;
        }

        this.updateBillingCreditCard({
          cardId: this.defaultCardId || this.allCards[0].id,
        });
      },
    },
    mounted() {
      if (!this.allCards.length) {
        this.fetchCreditCards().then(this.selectInitialCard);
      }
      else {
        this.selectInitialCard();
      }
    },
    props: {
      account: Object,
      quote: {
        type: Object,
        required: true,
      },
    },
  };
</script>
