<template>
  <div>
    <div class="modal-header">
      <h3>{{ $i18n('checkout.billingAddress') }}</h3>
    </div>

    <div class="modal-body modal-body-account-details-form">
      <account-details-form :reservation="requisition"></account-details-form>
    </div>

    <div class="modal-footer">
      <button
        class="button button--style-1 button--secondary"
        @click="cancel"
      >
        {{ $i18n('ur.cancel') }}
      </button>
      <button
        class="button button--style-1 button--filled"
        @click="save"
      >
        {{ $i18n('ur.save') }}
      </button>
    </div>
  </div>
</template>
<script type="text/babel">
  import AccountDetailsForm from '@/components/platform-account/quotes/convert-quote/billing/convert-quotes-account-form.vue';
  import UrGtm from '@/mixins/ur-gtm.js';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';
  import { get } from 'lodash';

  export default {
    name: 'convert-quote-account-modal',
    components: {
      AccountDetailsForm,
    },
    computed: {
      ...mapState({
        allQuotes: state => state.quotes.all,
        accountForm: state => state.accounts.form,
        currentAccount(state) {
          const aid = this.accountId;
          return get(state.accounts.all, [aid], {});
        },
        defaultAccountId: state => state.user.defaultAccountId,
      }),
      requisition() {
        return this.allQuotes[this.requisitionId];
      },
    },
    methods: {
      ...mapActions({
        updateAccountFormField: types.accounts.updateFormField,
        saveAccountForm: types.accounts.saveForm,
      }),
      init() {
        const {
          name, address1, address2, city, state, zip, phone, email,
        } = this.currentAccount;
        this.updateAccountFormField({
          accountId: this.accountId,
          name,
          address1,
          address2,
          city,
          state,
          zip,
          phone,
          email,
        });
      },
      save() {
        this.saveAccountForm()
          .then(this.gtmTrackFormSubmissions('account-details', 'save'))
          .then(this.$router.push({
            path: `/convert-quote/${this.quoteId}/${this.defaultAccountId}`,
          }));
      },
      cancel() {
        this.$router.push({
          path: `/convert-quote/${this.quoteId}/${this.defaultAccountId}`,
        });
      },
    },
    mixins: [
      UrGtm,
    ],
    mounted() {
      this.init();
    },
    props: {
      quoteId: String,
      accountId: String,
    },
  };
</script>
