// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Cart Editing
// -----------------------------------------------------------------------------

$calendar-input-height: 40px;

@mixin dropdown-style($padding-left) {
  position: relative;
  background: $color-white;
  width: 100%;
  //height: 32px;
  font-size: $font-size-preset-50;
  padding-left: $padding-left;
}

%calendar-span{
  display: inline-block;
  height: $calendar-input-height;
  margin-bottom: 7px;
  position: relative;
}

%calendar-span-icon{
  bottom: 0;
  color: $color-blue;
  content: "\E01F";
  font-family: "themeIcons";
  font-size: $font-size-preset-50;
  height: $calendar-input-height/2;
  margin: auto 0;
  pointer-events: none;
  position: absolute;
  right: 14px;
  top: 0;
  z-index: 1;
}

.cart {

  &__editing {
    border: 1px solid $color-grey-11;
    margin-top: 0.5rem;

    &__body {
      padding: 14px;
      background: $color-grey-2;

      .calendar_container {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        @include media('>=640px')  {
          margin-top: 0;
        }

        .calendar_start,
        .calendar_end {
          display: flex;
          flex-direction: column;
          position: relative;

          input {
            &:active,
            &:focus {
              background: $color-blue-subtle;
            }

            width: 141px;

            @include media('>=m')  {
              width: 155px;
            }
          }

          span{
            @extend %calendar-span;
            &:after {
              @extend %calendar-span-icon;

              @include media('>=640px')  {
                right: 8px;
              }
            }
          }
        }

        .calendar_start {
          margin-right: 17px;
        }
      }

      .more_less_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media('>=640px')  {
          width: 100%;
        }

        input {
          //height: 32px;
          margin: 0 10px;
          border: 1px solid $color-grey-11;
          border-radius: 4px;
          background-color: $color-white;
          text-align: center;
          appearance: none;
        }

        .more,
        .less {
          //height: 32px;
          width: 36px;
          border-radius: 4px;
          background-color: $color-grey-11;
          padding: 1%;
          border: none;
        }
      }
    }

    &__section-1 {
      display: flex;
      padding: 10px 0;
      flex-direction: column;
      border-bottom: 1px solid $color-grey-11;

      @include media('>=640px')  {
        flex-direction: row;
        justify-content: space-between;
      }

      p {
        font-size: $font-size-preset-30;
        color: $color-grey-38;
      }

      .left-quantity {
        margin-right: 10px;
      }
      .right-calendar {
        width: 299px;

        .calendar_container {
          display: flex;
          flex-wrap: wrap;
        }

        .error-message {
          flex: 0 0 100%;
        }

        @include media('>=m')  {
          width: 327px;
        }
      }
    }

    &__section-2 {
      padding: 10px 0 20px 0;
      border-bottom: 1px solid $color-grey-11;

      .requester__select {
        .icon-angle-down {
          top: 16px;

        }
        &:before {
          content: "\f007";
          font-family: icomoon;
          position: absolute;
          top: 16px;
          left: 21px;
        }

        .dropdown-style1 {
          @include dropdown-style(52px);
        }
      }

      .select--job {
        margin: 0;
      }

      .select-grouping-left,
      .select-grouping-right {
        margin: 10px 0;
      }

      @include media('>=640px')  {
        .select-grouping {
          margin: 10px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .select-grouping-left,
        .select-grouping-right {
          width: 45%;
          margin: 0;
        }
      }
    }

    &__notes {
      padding: 15px 0 27px 0;
      display: flex;
      flex-direction: column;

      textarea {
        border: 1px solid $color-grey-11;
        background: $color-white;
        height: 100px;
      }

      .links-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        top: 13px;

        a {
          color: $color-blue;
          margin-right: 20px;
          font-weight: bold;
          font-size: $font-size-preset-30;
        }

        @include media('>=640px')  {
          display: none;
        }
      }
    }
  }
}

.cart__editing .place-autocomplete-container {
  margin-top: 25px;

  @include media('>=m')  {
    width: 50%;
  }
}
