// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Cart
// -----------------------------------------------------------------------------

.cart {
  &__header {
    padding: 2% 0;

    h1 {
      font-size: 22px;
      line-height: 24px;

      @include  media('>=640px')  {
        font-size: 28px;
        line-height: 1.2857142857;
        margin-top: rem(19);
        margin-bottom: rem(19);
      }
    }

    h2 {
      font-size: 18px;
      margin-top: rem(15);
      margin-bottom: rem(15);

      @include  media('>=640px')  {
        font-size: 22px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2%;

    @include media('>=m')  {
      flex-direction: row;
      padding: 0 0 0 2%;
    }
  }

  &__jobs {

    @include media('>=m')  {
      width: 74%;
    }

    h1 {
      font-weight: bold;
      padding: 2%;
      margin-bottom: 0;
    }
  }

  &__job-grouping {
    border-radius: 4px;
    margin: 0;
    padding: 2%;

    @include media('>=m')  {
      margin: 0 15px 16px 0;
    }
  }

  &__info-container {
    @include  media('>=640px')  {
      width: 40%;
    }
    &.reservation-header {
      width: 100%;
    }
  }


  &__job-title-area {
    background: $color-blue-lowlight;
    padding: 2% 4%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 11;

    @include media('>=640px')  {
      display: flex;
    }

    .heading-3, h3 {
      display: inline-block;
      width: auto;
      color: $color-white;
      font-size: $font-size-preset-40;
      margin-top: rem(14);
      margin-bottom: rem(14);

      @include media('>=640px')  {
        font-size: $font-size-preset-60;
      }
    }

    .account_name__paragraph {
      color: $color-grey-11;
      font-size: $font-size-preset-30;
      font-weight: bold;
      margin: 0;

      @include media('>=640px')  {
        display: inline-block;
        float: right;
      }
    }

    .address__paragraph {
      display: block;
      color: $color-white;
      font-size: $font-size-preset-30;
      margin: 0;
    }
  }

  &__needed-by p {
    padding: 2% 4%;
    background: $color-grey-2;
    border: 1px solid $color-grey-11;
    font-size: $font-size-preset-30;
    font-weight: bold;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    padding: 27px 27px 0 27px;
    background: $color-white;
  }

  &__img {
    height: 44px;
    width: 44px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media('>=640px')  {
      position: static;
      margin-right: 33px;
    }
  }

  &__details {
    width: 100%;

    $icon-size: 16px;
    .error-message {
      .q-icon {
        color: $color-red;
        font-size: $icon-size;
        height: $icon-size;
        margin-left: $icon-size;
        vertical-align: text-bottom;
      }
      span {
        display: inline-block;
        font-weight: normal;
        margin-bottom: 10px;
      }
    }

    &__name {
      display: inline-block;
      font-weight: bold;
      font-size: $font-size-preset-40;
      margin: 0;
      margin-left: 55px;

      @include media('>=640px')  {
        margin-left: 0;
      }
    }

    &__pricing {
      display: none;
      margin: 10px 0;

      @include media('>=640px')  {
        display: inline;
        float: right;
        margin: 0 15px 10px 0;
      }

      .icon {
        cursor: pointer;
      }
    }

    &__content {
      margin: 11px 0 22px 0;

      p {
        margin: 4px 0;
        color: $color-grey-38;
      }

      .notes {
        min-height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &__cat_class_code {
    color: $color-grey-38;
    height: 24px;
    font-size: $font-size-preset-30;
    line-height: 24px;
    margin: 0;
    margin-left: 55px;

    @include media('>=640px')  {
      margin-left: 0;
    }
  }

  &__login-block {
    border: 1px solid $color-grey-11;
    padding: 27px;
    background: $color-white;
    position: relative;

    .button {
      width: 200px;
    }
  }

  &__jobsite-detail-block {
    border: 1px solid $color-grey-11;
    min-height: 120px;
    position: relative;

    &.inactive {
      label,
      strong,
      span {
        opacity: 0.3;
      }
    }
  }

  &__jobsite-raw-blocks {
    padding: 27px 27px 27px 27px;
    background: $color-white;
    position: initial;
    @include media('>=640px')  {
      display: flex;
      flex-direction: row;
    }
  }

  &__item-container {
    display: flex;
    flex-direction: column;

    @include media('>=640px')  {
      flex-direction: row;
    }

    & > .cart__item-inner {
      .cart__jobsite-name, .cart__jobsite-contact {
        @include media('>=640px')  {
          padding-top: 5px;
          line-height: 24px;
        }
      }
    }
    & > .cart__item-inner:nth-of-type(1) {
      @include media('>=640px')  {
        width:230px;
        padding-right:1rem;
      }
    }
  }

  &__item-inner {
    padding-bottom: 8px;

    @include media('>=640px')  {
      padding-bottom: 12px;
      margin-left: 0;
    }
  }

  &__jobsite-block-title {
    color: $color-grey-38;
    height: 24px;
    font-size: $font-size-preset-20;
    font-weight:700;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;

    @include media('>=640px')  {
      margin-left: 0;
      padding-top:5px;
      width:73px;
    }
  }

  &__jobsite-details-action {
    color: $color-blue;
    margin-top: -170px;
    float: right;
    margin-right: 15px;
    font-size: $font-size-preset-30;
    text-align: right;
    vertical-align: top;

    @include media('>=640px')  {
      margin-top: 0;
    }
  }

  &__jobsite-contact-detail,
  &__jobsite-address {
    color: $color-grey-69;
    font-size: $font-size-preset-30;
  }

  &__sticky-reservation-header {
    position: fixed;
    top: 0;
  }
}

.cart-details-title-price {
  display: flex;
  flex-direction: column;
  @include media('>=640px')  {
    flex-direction: row;
  }

  .inner-column_centered {
    max-width: 100%;
    @include media('>=640px')  {
      max-width: 50%;
    }
  }

  .cart-details-item-title {
    font-size: $font-size-preset-50;
  }
}

.editable-cart-item {
  border: 1px solid $color-grey-11;

  .select {
    height: 32px;

    .icon-angle-down {
      top: 50%;

      @include media('>=640px')  {
        top: 65%;
      }
    }
  }

  .requester-select .error-message,
  .select--job .error {
    margin-top: 0;
    margin-bottom: 7px;
  }

  .cart {
    &__item {
      flex-direction: column;

      @include media('>=640px')  {
        flex-direction: row;
        padding: 27px 27px 0 27px;
      }
    }

    &__img {
      height: 100%;
      margin-right: 29px;
      align-items: start;
      position: static;

      img {
        height: 44px;
        width: 44px;
        min-width: 44px;
      }
    }

    &__details {
      display:flex;
      flex-direction: row;

      div:nth-of-type(2) {
        display:flex;
        flex-direction: column;
      }
      &__content {
        strong {
          font-size: 12px;
        }
      }

      &__account,
      &__jobsite {
        display: none;
      }

      &__item_details {
        color: $color-grey-69;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }

      &__item_discount {
        color: $color-grey-38;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
      }

      &__name {
        margin-left:0px;
        line-height:18px;
      }
      &__pricing {
        line-height:18px;
        margin: 24px 0 14px 0;

        @include media('>=640px')  {
          display: flex;
          float: none;
          padding-left: 0;
        }

        .ur-chip-base{
          margin-right:7px;
          font-size: 8px;
          line-height:18px;
          display:flex;
          height:18px;
          align-items:center;
          cursor: default;
        }
      }

      &__notes,
      &__requester {
        display: block;
      }

      &__actions {
        padding: 0 0 27px 100px;
        text-align: left;
        background: $color-white;

        a {
          color: $color-blue;
          font-size: $font-size-preset-30;
          margin-right: 15px;
          text-decoration: underline;

          @include media('>=640px')  {
            margin-right: 30px;
          }
        }
      }

      &__actions__editing {
        padding: 15px 27px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid $color-grey-11;
        background: $color-white;

        a {
          color: $color-blue;
          margin-right: 20px;
          font-weight: bold;
          font-size: $font-size-preset-30;

          @include media('>=640px')  {
            margin-right: 33px;
          }
        }

        .links-left {
          align-items: center;
          display: flex;
          flex-direction: row;
        }

        .links-right {
          display: flex;
          flex-direction: row;
          align-items: center;

          .button--style-2 {
            font-size: $font-size-preset-30;
            color: $color-white;
            margin-left: 20px;
            min-width: 90px;
          }
        }
      }
    }
    &__cat_class_code {
      margin-left:0px;
    }
  }
}

.editable-cart-item--saved-for-later .cart__details {

  &__account,
  &__jobsite {
    display: block;
  }

  &__notes,
  &__requester {
    display: none;
  }
}

.full-cart-state-continue .icon-long-arrow-right {
  color: $color-orange;
}

.cart {
  .ur-text-input > label,
  .ur-select > label,
  .ur-textarea > label,
  .ur-calendar > label {
    margin-bottom: 2px;
  }
}
