// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Forms
// -----------------------------------------------------------------------------

// TODO: revisit this variable before the end of the input refactor
$input_height_xsmall: 32px;
$input_height_small: 2.8571428571em; //40px
$input_height_medium: 40px;
$input_icon_size_xsmall: 16px;
$input_icon_size_small: 20px;
$input_icon_size_medium: 28px;
$input_spacer_small: 4px;
$input_spacer_medium: 8px;

%type-paragraph-small {
  font-family: $font-family-base;
  font-size: $font-size-preset-30;
  line-height: 20px
}

label {
  color: $color-grey-69;
  display: block;
  font-weight: bold;
  font-size: $font-size-preset-30;
  line-height: 1;
  margin-bottom: 7px;
  padding: 5px 0px;

  &.label-selection {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    font-family: $font-family-base;
    font-size: $font-size-preset-40;
    color: $color-blue-lowlight;
  }

  &.label-field-name {
    position: relative;
    display: block;
    width: 100%;
    font-weight: 700;
    color: $color-brand-primary;
    font-family: $font-family-base;
    text-transform: uppercase;
    font-size: $font-size-preset-30;
    letter-spacing: 0.05em;
  }

  &.label-account-selection {
    font-size: $font-size-preset-70;
    font-weight: 300;
  }

  &.error {
    line-height: 1.5;
    color: $color-red !important;
  }
}

input {
  cursor: pointer;

  &[type=text],
  &[type=number],
  &[type=email],
  &[type=tel] {
    background-color: $color-white;
    margin-bottom: 0.8571428571rem;
    position: relative;
    width: 100%;
    height: $input_height_small;
    font-size: $font-size-preset-40;
    font-family: $font-family-base;
    line-height: 1.5;
    font-weight: 400;
    padding-left: 0.5714285714rem; //8px
    color: $color-text;
    cursor: text;
    border: 1px solid $color-grey-11;
    border-radius: $border-radius-med;

    @media (min-width: $break-small) {
      //mirrors style 2 until breakpoint
      height: $input_height_medium;
      border-radius: $border-radius-small;
    }

    // on iOS it will zoom screen if font size isn't 16px
    @media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:$break-medium) {
      font-size: 16px
    }

    &::placeholder {
      color: $color-grey-38;
    }

    &::-ms-clear {
      display: none;
    }
  }

  // on iOS it will zoom screen if font size isn't 16px
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    font-size: 16px
  }
}

button[disabled] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.spinner.icon-form-item {
  position: absolute;
  font-size: 1rem;
  margin: 0;
  top: 9px;
  right: 15px;
  pointer-events: none;
}

.spinner.icon-button {
  font-size: 1.5em;
  top: 0;
  margin: 0;
  right: 0.5em;
}

.error-message {
  @extend %type-paragraph-small;
  color: $color-red!important;
  margin-top: 8px;
  padding: 0;
  font-weight: 400;
}

a.disabled,
.ur-select .disabled {
  opacity: 0.5;
  cursor: default;
}
