// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Mixins
// -----------------------------------------------------------------------------

@mixin setColumn($span, $total: $_columns-default) {
  flex-basis: _calcWidth($span, $total);
  max-width: _calcWidth($span, $total);
}

@function _calcWidth($span, $total) {
  $multiplier: 100 / $total;
  @return ($span * $multiplier) * 1%;
}

@mixin dropdown-style($padding-left) {
  position: relative;
  background: $color-white;
  width: 100%;
  //height: 32px;
  font-size: $font-size-preset-50;
  padding-left: $padding-left;
}