// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Pickup Location
// -----------------------------------------------------------------------------

$border-grey: 1px solid $color-grey-11;

.pickup-location-container{
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
  background: $color-grey-2;
  border-left: $border-grey;
  border-right: $border-grey;

  @include media('>=640px') {
    flex-direction: row;
  }

  //.reservations-and-quotes & {
    background: transparent;
    border: none;
    padding: 2% 0;
  //}

  .pickup-location-img {
    width: 100%;
    height: 150px;
    margin-bottom: 0;
    background: $color-grey-11;
    margin-right: 15px;

    @include media('>=640px') {
      width: 200px;
      height: 200px;
      margin-bottom: 1rem;
    }

    .vue-map-container {
      width: 100%;
      height: 100%;
    }
  }

  p:first-of-type {
    margin-top: 15px;

    @include media('>=640px') {
      margin-top: 0;
    }
  }

  p {
    color: $color-grey-38;
    margin: 8px 0;
    padding: 0;
  }

  h6 {
    margin: 5px auto;
    width:100%;
  }

  a {
    color: $color-blue;
    margin-right: 15px;
    font-weight: bold;
    font-size: $font-size-preset-30;
  }

  .pickup-location-controls {
    display: flex;
    justify-content: space-around;

    @include media('>=640px') {
      justify-content: flex-start;
    }
  }
}
