// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Platform Account Reservation
// -----------------------------------------------------------------------------

.object-listing-spinner {
  .spinner.icon-button {
    left: 20px;
    position: relative;
    top: -10px;
    @include media('>=m') {
      left: 0px;
      position: absolute;
      top: -65px;
    }
  }
}

.platform-account-item-list-status,
.platform-account-item-list-description,
.platform-account-reservation-details-jobsite,
.platform-account-reservation-details-delivery-pickup,
.platform-account-reservation-details-billing,
.platform-account-terms-and-conditions,
.platform-account-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0;
  @include media('>=m') {
    padding: 20px;
  }
  flex-direction: column;
  @include media('>=640px') {
    flex-direction: row;
  }

  .small__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: .5rem;
    width: 100%;
  }

  .inner-column_first {
    @include media('>=640px') {
      @include setColumn(1, 12);
      margin-right: 2.5rem;
    }
  }

  .inner-column_small {
    @include setColumn(3, 12);
    margin-right: 1rem;
    @include media('>=640px') {
      margin-right: 0;
      @include setColumn(3, 12);
    }

    .price {
      font-size: 1.3rem;
    }
  }

  .inner-column_small_heading {
    .price {
      font-size: 1.3rem;
    }
  }

  .three-column {
    @include setColumn(3, 12);
  }

  .inner-column_medium {
    @include setColumn(4, 12);
  }

  .inner-column_five-column {
    @include setColumn(5, 12);
    justify-content: space-between;
  }

  .inner-column_five-column.edit {
    margin-right: 1rem;
  }

  .inner-column_small_left,
  .inner-column_small_right {
    @include setColumn(6, 12);
    justify-content: space-between;
  }

  .inner-column_edit_link {
    @include setColumn(2, 12);
    justify-content: space-between;
  }

  .inner-column_small_right {
    text-align: right;
  }

  .instructions {
    color: $color-grey-38;
  }

  .flex-row {
    justify-content: space-between;
  }

  .form-item {
    width: 30%;
  }

  &__chip {
    border-radius: 100px;
    color: $color-white;
    height: 14px;
    width: 90px;
    padding: 3px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-preset-20;
    font-weight: bold;
    line-height: 9px;
    text-align: center;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 3px;

    //.quote-progress-container & {
    //  margin-top: 7px;
    //}
  }
}
.quote-progress-container {
  .platform-account-item-list-status,
  .platform-account-item-list-description,
  .platform-account-reservation-details-jobsite,
  .platform-account-reservation-details-delivery-pickup,
  .platform-account-reservation-details-billing,
  .platform-account-terms-and-conditions,
  .platform-account-buttons {
    margin-top: 7px;
  }
}

.platform-account-item-list-status,
.platform-account-item-list-description,
.platform-account-reservation-details-jobsite,
.platform-account-reservation-details-delivery-pickup,
.platform-account-reservation-details-billing,
.platform-account-terms-and-conditions,
.platform-account-buttons {
  // Chip/status colors
  &__chip.progress {
    background-color: $color-orange;
  }

  &__chip.pending {
    background-color: $color-orange;
  }

  &__chip.scheduled {
    background-color: $color-blue-highlight;
  }

  &__chip.delivered {
    background-color: $color-grey-69;
  }

  &__chip.completed {
    background-color: $color-blue-lowlight;
  }

  &__chip.cancelled {
    background-color: $color-grey-69;
  }

  p {
    margin-top: rem(14);
    margin-bottom: rem(14);
  }

  .edit-link {
    margin: 5px 1rem 0 0;
  }

  .label {
    font-size: 0.7rem;
    font-weight: normal;
    color: $color-grey-38;
    display: block;
    @include media('>=m') {
      display: inline;
    }
  }

  .inner-label {
    display: block;
    @include media('>=m') {
      display: inline;
    }
    font-size: 0.9rem;
  }

  .group-full {
    @include setColumn(12, 12);

    p.label {
      margin: 10px 0 0 0;
    }

    h4 {
      margin-top: 8px;
    }
  }

  &__mobile-filters {
    padding: 20px 0;
    min-width: 100%;

    label {
      display: none;
    }

    .inner-column_right,
    .inner-column_middle {
      margin: 10px 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }

  &__heading {
    display: flex;
    .spinner.icon-button {
      right: 0rem;
      top: 1.8px;
      font-size: 1.25rem;
    }
  }

  &__description {
    .item-description {
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
  }

  &__sort {
    display: none;
    align-items: center;
    padding-left: 20px;
    flex: 0 0 33%;
    justify-content: flex-end;

    .sort-select {
      position: relative;
      display: flex;
      flex: 0 0 200px;
    }

    label {
      border: 1px solid $color-grey-11;
      border-right: 0;
      border-radius: $border-radius-small 0 0 $border-radius-small;
      color: $color-grey-38;
      padding: 3px 6px 3px 8px;
      flex: 0 0 70px;
    }

    select {
      border: 1px solid $color-grey-11;
      border-left: 0;
      border-radius: 0 $border-radius-small $border-radius-small 0;
      -webkit-appearance: none;
      color: $color-grey-69;
      padding: 3px 6px;
      flex: 1;
    }
  }

  .heading-item {
    font-size: 2rem;
    font-weight: 600;
    padding-right: .6rem;
  }
  .heading-quantity {
    font-size: 2rem;
    font-weight: 400;
  }

  .filter-box {
    background-color: $color-grey-2;
    border: 1px solid $color-grey-11;
    border-radius: $border-radius-small;
    padding: 2px 20px 2px 8px;
    margin-right: 6px;
    margin-top: 5px;
  }

  @include media('>=640px') {
    &__sort {
      display: flex;
    }
  }

  .file-sort-buttons {
    display: flex;

    button {
      display: block;
      text-align: center;
      font-weight: 400;
      padding: 3px;
      position: relative;
    }

    i {
      font-size: 18px;
      position: relative;
      right: 8px;
    }

    span {
      line-height: 1;
      position: relative;
      right: 10px;
      top: -3px;
    }
  }
  .platform-account-list-item {
    display: flex;
    justify-content: space-between;

    &__details {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 20px;
      flex: 1;
    }

    &__item-name {
      line-height: 1.1;
      .spinner {
        font-size: 1.5rem;
      }
    }

    &__rates, &__rates-mobile {

      .rate {
        color: $color-grey-38;
        border-right: 1px solid $color-grey-38;
        padding-right: 10px;
        padding-left: 8px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          border-right: 0;
        }
      }
    }

    &__rates-mobile {
      display: flex;
      padding-top: 5px;
    }

    &__quick-view {
      margin-top: 6px;

      .quick-view-link {
        position: relative;
      }

      .icon {
        position: absolute;
        bottom: 1px;
        right: -16px;
      }
    }

    &__button {
      display: none;
      align-items: center;
      flex: 1;
      justify-content: flex-end;

      button {
        display: block;
        line-height: 1;
        width: 160px;
      }
    }

    @include media('>=640px') {
      &__quick-view {
        margin-top: 1rem;
      }

      &__rates-mobile {
        padding-top: 0;
      }

      &__button {
        display: flex;
      }
    }

    @include media('>=m') {
      &__rates {
        display: flex;
      }
    }
  }
  textarea.notes {
    border: 1px solid $color-grey-11;
  }
}

.platform-account-reservation-details-billing__container {

  & > div {
    width: 100%;
  }

  @include media('>=m') {
    margin: 20px 0;
  }

  .confirm-card {
    img {
      bottom: 0;
    }
  }

  .credit-card-link {
    @include media('>=m') {
      margin-top: 10px;
    }
  }
}

.platform-account-container {
  display: flex;
  flex-wrap: wrap;
}

.platform-account-search {
  display: none;
  @include media('>=640px') {
    display: flex;
    width: 100%;
  }
  .group-full{
    .search-by-term{
      margin-top: 0;
    }
  }

  i.icon.icon-search {
    position: relative;
    left: 10px;
    bottom: 38px;
  }

  input[type="text"] {
    padding-left: 30px;
    height: 37px;
    margin-top: 0px;
  }

  input[type="text"]::placeholder {
    font-size: 12px;
  }

  /* For IE */
  input[type="text"]:-ms-input-placeholder {
    font-size: 12px;
  }

  /* For Edge, note the double-colon */
  input[type="text"]::-ms-input-placeholder {
    font-size: 12px;
  }

  .filter-field {
    flex: 1 1 auto;
    margin: 0px;
    padding: 0px;

    &:last-child {
      @include media('>=640px') {
        padding-right: 25px;
      }
    }
    &:not(:first-child) {
      margin-left: 1rem;
    }

    label {
      display: none;
    }

    .search-by-term {
      margin: 0px;
    }
  }

  &-small {
    label {
      @extend .heading-4;
      display: block;
    }
    margin-bottom: 1rem;
  }
}

// theme-crossover parent selector is .reservations-and-quotes
// .reservations-and-quotes {

  .account-selector-reservation-listing {

    @include media('>=m') {

      label {
        display: none;
      }
    }
  }
  .reservationDetailsSpinner {
    padding-left: 40px;
  }

  .message {
    width: 100%;
  }

  .advanced-pickup-checkbox i {
    color: $color-blue;;
    margin-left: 10px;
  }


  .calendar_container {
    display: flex;
    flex-direction: row;
    min-height:auto;
    width:100%;

    .calendar_start,
    .calendar_end {
      width: 100%;

      span{
        @extend %calendar-span;
        width: 100%;

        &:after {
          @extend %calendar-span-icon;

          @include media('>=640px') {
            right: 8px;
          }
        }

        input[type=text] {
          //height: 32px;
        }
      }
    }
  }

  .probox-form__form__name  {
    width: 100%;
  }

  .col-3 .probox-form__form__name  {
    width: 30%;
  }


#block-menu-blockaccount h2 {
  display: none;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.ghost {
  opacity: 0.6;
}
