// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Platform Account Details Item List
// -----------------------------------------------------------------------------

@include media('>=640px') {
  .platform-account-list-item,
  .platform-account-item-list-description {
    margin: 0;
  }
}

@include media('>=m') {
  .platform-account-list-item-container {
    padding-right: 25px;
  }
  .platform-account-item-list-description {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin: 0 0 0 20px;

    &__sort {
      label {
        display: none;
      }
    }

    &__view {
      label {
        display: none;
      }
    }

    .platform-account-list-item-filters {
      flex-direction: row;
      display: flex;
    }
  }
  .platform-account-list-item, .platform-account-item-list-description {
    max-width: 900px;
  }
}

.platform-account-list-item,
.platform-account-reservation-details-status {
  display: flex;
  justify-content: space-between;

  &__details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
    flex: 1;
    line-height: 1.55;
    border-top: 1px solid $color-grey-11;
    padding-top: 20px;
  }

  &__item-name {
    line-height: 1.1;
    color: $color-blue;
    font-size: $font-size-preset-60;
    font-weight: bold;
  }

  &__rates-mobile {
    .price {
      color: $color-grey-69;
      padding-right: 10px;
      padding-left: 8px;
      font-size: $font-size-preset-60;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  &__rates-mobile {
    display: flex;
    padding-top: 5px;
  }

  &__reservation-status-chip {
    border-radius: 100px;
    color: $color_white;
    width: 110px;
    min-width: 92px;
    padding: 3px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-preset-20;
    line-height: 10px;
    text-align: center;
    float: left;
    margin-right: 90%;
    height: 18px;

    @include media('>=640px') {
      margin: auto 3px;
      max-width: 100px;
    }
  }

  .inprogress {
    background-color: $color-orange;
  }

  .pending {
    background-color: $color-orange;
  }

  .scheduled {
    background-color: $color-blue-highlight;
  }

  .delivered {
    background-color: $color-grey-79;
  }

  .completed {
    background-color: $color-blue-lowlight;
  }

  .cancelled {
    background-color: $color-grey-38;
  }

  &__item-label {
    font-size: .71429rem;
    color: $color-grey-38;
  }

  &__item-date-quantity {
  }

  &__quick-view {
    margin-top: 6px;
    padding-bottom: 10px;

    .quick-view-link {
      position: relative;
    }

    .icon {
      transform: rotate(180deg) translateY(-1px);
      display: inline-block;
      color: #f99222;
      font-size: 13px;
      margin-left: 4px;
    }
  }

  &__button {
    display: none;
    align-items: center;
    flex: 1;
    justify-content: flex-end;

    button {
      display: block;
      line-height: 1;
      width: 160px;
    }
  }

  @include media('>=640px') {
    &__quick-view {
      margin-top: auto;
    }

    &__rates-mobile {
      padding-top: 0;
    }

    &__button {
      display: flex;
    }
  }
}

