// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Platform Account Quotes
// -----------------------------------------------------------------------------

.quote-list-status {
  border-bottom: $border-grey;
  flex-direction: column;
  padding: rem(20) rem(20) 1.25rem;

  @include media('>=m') {
    padding: rem(20);
  }

  @include media('>=640px') {
    flex-direction: row;
  }

  .quote-container.mobile-quote-layout-arrow {
    display: flex;
    justify-content: flex-end;
    .platform-account-list-item__quick-view {
      margin-bottom: 0;
      padding-bottom: rem(1);
    }
  }

  .quote-container .inner-column_medium.right-convert-quote {
    display: none;
    @include media('>=640px') {
      display: flex;
      justify-content: flex-end;
    }

    .button {
      margin-top: 0;
    }
  }

  @include media('>=640px') {
    .bottom-convert-quote {
      display: none;
    }
  }

  .quote-container {
    display: flex;
    flex-wrap: wrap;

    .large-icon-container {
      display: none;

      @include media('>=640px') {
        display: block;
      }

      .icon-container {
        margin-right: 3rem;
      }
    }

    .platform-account-reservation-details-item {
      width: 100%;
    }

    .quote-progress-container {
      width: 100%;

      @include media('>=640px') {
        width: auto;
        display: flex;
        flex-direction: column;
      }
    }

    .inner-column_small_left,
    .inner-column_small_right {
      @include setColumn(6, 12);
      justify-content: space-between;
    }

    .inner-column_small {
      @include media('>=640px') {
        @include setColumn(2, 12);
        justify-content: space-between;
      }

      .price {
        font-size: 1.3rem;
        margin-right: rem(42);
        margin-bottom: rem(10);
      }

      .inner-label {
        margin-right: rem(5);
      }
    }

    .inner-column_medium {
      @include setColumn(4, 12);
      justify-content: space-between;
    }

    .price {
      float: right;
      font-size: 1.3rem;
      margin-right: rem(42);
      margin-bottom: rem(10);
    }

    &.item {
      border: $border-grey;
      padding: 0.25rem;

      @include media('>=640px') {
        @include setColumn(6, 12);
      }
    }
    span {
      display: inline-block;
    }

    .inner_column_small {
      @include media('>=640px') {
        margin-right: 1rem;
      }
    }

    .label {
      font-size: 0.7rem;
      font-weight: normal;
      color: $color-grey-38;

      @include media('>=640px') {
        display: inline-block;
      }
    }

    .inner-label {
      display: inline-block;
      font-size: 0.9rem;
    }

    .cart__item {
      padding: 0;
    }

    .cart__details {
      padding-left: 1rem;

      .grid {
        display: flex;
        justify-content: space-between;
      }
    }

    ul {
      color: $color-grey-38;
      margin-bottom: 1rem;
      margin-top: 0;
      margin-left: 0.3rem;

      .quote-detail-list-item {
        margin-bottom: 0.5rem;
      }
    }
  }

  .icon-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include media('>=640px') {
      float: right;
      margin: 0;
    }
  }

  .small-icon-container {
    @include media('>=640px') {
      display: none;
    }

    .icon-envelope-o {
      margin: 0 2rem 0 0;
    }
  }

  .icon-envelope-o {
    margin: 0 2rem 0 1rem;
  }

  .button {
    margin: 1rem 0;
  }

  button.button.button--filled {
    @include media('>=640px') {
      width: rem(150);
      float: right;
    }
  }

  .platform-account-list-item__quick-view {
    .icon {
      color: $color-blue;
    }

    .edit-quote {
      margin-left: .5rem;
    }
  }
  button.quote-details {
    width: 100%;

    @include media('>=640px') {
      width: 25%;
    }
  }

  .cart__details__pricing {
    margin: 0;
    font-weight: 700;
  }

  .spinner {
    font-size: 1.5rem;
  }
}

.quote-component-shimmer {
  height: rem(300);
  background-color: #eee!important;
  width: 100%
}

@media print {
  .header,
  #printDiv,
  #printDiv.is-active * {
    visibility: visible !important;
    padding-top: 0 !important;
    border: hidden !important;
  }
}
