// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Reservation Block
// -----------------------------------------------------------------------------

$input_height_xsmall: 32px;
$input_height_small: 2.8571428571em; //40px
$input_height_medium: 40px;
$input_icon_size_xsmall: 16px;
$input_icon_size_small: 20px;
$input_icon_size_medium: 28px;
$input_spacer_small: 4px;
$input_spacer_medium: 8px;

.ur-text-input > input {
  margin-bottom: 0!important;
}

.form-item--checkbox__item{
  .q-checkbox > label:not(.input-error){
    margin-top:0;
  }
}

.account-details-form {
  label {
    margin-top: 24px;
  }

  label.error-message {
    margin-top: 8px;
  }
}

.reservation-block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 1rem;
  @include media('>=l') {
    margin-bottom: 3rem;
  }

  label {
    margin-top: 0;
    @include media('>=m') {
      margin-top: 16px;
    }
  }
  label.error-message {
    margin-top: 8px;
  }

  .cart__info-container {
    h3 {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      display: inline-block;
    }

    p:first-of-type {
      margin-left: 10px;
    }

    p.paragraph-predicate {
      display: block;
      font-size: 10px;
      padding-bottom: 10px;

      @include media('>=640px') {
        display: inline-block;
      }
    }

    .dash {
      color: $color-white;
      font-weight: bold;
    }
  }

  .cart__jobsite-block-title {
    font-weight: 700;
    text-transform: uppercase;
  }

  .cart__jobsite-detail-block.ready .add-preferences {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
  }

  .jobsite-active {

    input {
      margin-bottom:0;
    }
    input,
    select {
      font-size: $font-size-preset-50;
    }

    textarea {
      width: 100%;
      border: 1px solid $color-grey-11;
      padding: 5px;
    }

    .buttons {
      margin: 10px 0 0;

      @include media('>=640px') {
        margin: 2rem 0 1rem;
      }

      button {
        width: 100%;
        margin-top: 10px;

        @include media('>=640px') {
          margin-top: 0px;
          display: inline-block;
          width: 150px;
        }
      }
    }
  }

  .cart__jobsite-details-action {
    flex: 1;
    margin-right: 15px;
  }
}

.reservation-block.is-submitting {
  pointer-events: none;
  opacity: 0;
}

.reservation-info {
  padding-bottom: 52px; // yields space for the Cost Summary
  width: 100%;

  .select .dropdown-style1,
  .select > button,
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel] {
    height: $input_height_xsmall;
    max-height: 32px;

    @include media('>=640px') {
      height: $input_height_small;
      max-height: 40px;
    }
  }

  @include media('>=m') {
    @include setColumn(69, 100);
    padding-bottom: 0;
  }
}

.reservation-heading {
  line-height: 24px;
  word-break: break-all;

  &.heading-5 {
    margin-top: rem(24);
    margin-bottom: rem(24);
  }

  @include media('>=640px') {
    width: auto;
    min-width: 120px;
  }
}

.reservation-heading-supplement {
  font-size: $font-size-preset-40;
  line-height: 24px;
  font-weight: normal;
  min-width: 100px;
  margin-left: 10px;
  word-break: break-all;

  @include media('>=640px') {
    width: auto;
    min-width: 100px;
  }
}

.reservation-billing {
  .reservation-heading {
    width: auto;
    min-width: 0;
  }
}

.reservation-progress {
  display: flex;
  justify-content: space-between;

  @include media('>=640px') {
    justify-content: flex-end;
    line-height: 20px;
    min-width: 400px;
  }

  button {
    margin: 0 auto;
    max-width: 300px;
    padding: 0 15px;
    white-space: nowrap;

    @include media('>=640px') {
      margin: 0;
    }
  }

  &__step {
    font-size: $font-size-preset-20;
    color: $color-grey-11;

    @include media('>=640px') {
      font-size: $font-size-preset-30;
    }

    .icon {
      display: none;
      color: #3DCB02;
      margin-right: 6.5px;

      &::before {
        margin-right: 0;
      }

      @include media('>=640px') {
        font-size: 18px;
        line-height: 20px;
      }
    }

    // Step modifiers
    &.summary {
      display: flex;
      align-items: center;
      @include media('>=640px') {
        margin-left: 18px;
      }

      @include media('>=m') {
        margin-left: 42.5px;
      }

      .icon {
        display: inline;
      }
    }

    &.active,
    &.ready {
      color: $color-white;
      font-weight: bold;
      @include media('>=640px') {
        margin-left: 18px;
      }

      @include media('>=m') {
        margin-left: 42.5px;
      }
    }

    &.inactive {
      color: $color-grey-38;

      @include media('>=640px') {
        margin-left: 18px;
      }

      @include media('>=m') {
        margin-left: 42.5px;
      }
    }
  }
}


/****************************************************************************************
 Ad hoc snowflaky-alignment overrides. UR-5244.
*/
.cart {
  // Jobsite form alignment across Progress states
  .cart__jobsite-detail-block {

    // Ready state
    &.ready a {
      line-height: 23px;
    }

    // Active State
    &.active {
      // Set the first form element's label to have a margin inline with the form's label
      .edit-jobsite-form .account-selector label,
      .jobsite-form .company-name label,
      .jobsite-form .jobsite-name label {
        margin-top: 1px;
      }
      // The first form element can vary. Sometimes its company name, sometimes jobsite name
      // When it's company name, ensure there is padding between it and the jobsite name.
      .company-name + .jobsite-name {
        label {
          margin-top: 8px;

          @include media('>=640px') {
            margin-top:16px;
          }
        }
      }
    }

    // Summary state
    &.summary {
      .cart__jobsite-name,
      .cart__jobsite-contact {
        margin-top: 1px;
      }
    }
  }

  // Pickup/Delivery Form alignment across Progress states
  .reservation-pickup-delivery {

    // Inactive, ready, active, & summary states
    &.inactive,
    &.ready,
    &.active,
    &.summary {
      .info-section {
        .reservation-label {
          margin-top: 0;
          line-height: 1rem;
        }
      }
      // Remove the margin from the last info section
      // .info-section:nth-last-child(2) {
      .info-section:nth-of-type(2) {
        margin-bottom: 0;
      }
    }

    // Active state
    &.active {
      .delivery-tool label {
        margin-top: 1px;
      }
      .pickup-location-container {
        padding: 0;
        @include media('>=640px') {
          padding: 24px 0 16px;
        }
      }
      // Delivery and Pickup are both .info-sections, but the Pickup .info-section's instance of .delivery-tool (misnomer)
      // needs to have its margin bottom removed (while the first instance requires it).
      // .info-section:nth-last-child(3) { // Pickup instance of .info-section
      .info-section:nth-of-type(2) { // Pickup instance of .info-section
        .delivery-tool {
          margin-bottom: 0;
        }
      }
    }

    &.summary {
      .additional-notes {
        margin-top: 1rem;
      }
    }
  }

  .reservation-billing {
    // Inactive, ready, active, & summary states
    &.inactive,
    &.ready,
    &.active,
    &.summary {
      .info-section {
        .reservation-label {
          margin-top: 0;
          line-height: 1rem;
        }
      }
    }

    &.ready .add-preferences {
      margin-left: 0;
    }
  }
}

/*
 End of Ad hoc snowflaky-alignment overrides. UR-5244.
****************************************************************************************/

.reservation-block .edit-jobsite-form {
  .select--job {
    margin: 0;
  }

  label {
    margin: 8px 0 2px;
    @include media('>=640px') {
      margin: 16px 0 2px;
    }
  }
}
.reservation-block .jobsite-active {
  @include media('>=640px') {
    padding-top: 5px;
  }
  label.form-item__label.form-item__label--textfield {
    @include media('>=640px') {
      margin: 16px 0 2px;
    }
  }
}
