// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Saved For Later
// -----------------------------------------------------------------------------

.saved-for-later {
  @extend .m-b-10;
  border-top: 1px solid $color-grey-11;
  border-bottom: 1px solid $color-grey-11;
}

.saved-for-later__header span {
  font-weight: normal;
}

.editable-cart-item--saved-for-later {
  @extend .reservation-info;
  border: 0;
  border-bottom: 1px solid $color-grey-11;

  &:last-child {
    border: 0;
  }
}
