// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Select
// -----------------------------------------------------------------------------

.select {
  cursor: pointer;
  margin: 0;
  position: relative;

  select {
    appearance: none;
    border: #dde0e2 1px solid;
    border-radius: 2px;
    cursor: pointer;

    @include focus-state(
      $reset: true
    );
  }

  .dropdown-style1 {
    @include dropdown-style(10px);

    &::-ms-expand {
      // Remove native IE arrow for selects.
      display: none;
    }
  }

}

.error .select .dropdown-style1 {
  border-color: red;
}

.select {
  .icon-before-arrow-down {
    position: absolute;
    // Dropdown inputs are 32px in height
    // but not always - mobile, for instance.
    top: 50%;
    transform: translateY(-50%);
    right: 17px;
    color: $color-blue;
    pointer-events: none;
  }

  &--search {
    background: $color-white;
    margin: 0.5rem auto 0;
    position: relative;

    &:before {
      content: "\f002";
      font-family: icomoon;
      position: absolute;
      top: 8px;
      left: 10px;
    }

    select {
      appearance: none;
      border: #dde0e2 1px solid;
      border-radius: 2px;
      cursor: pointer;
    }
  }

  &--job {
    margin: 0.5rem auto 0;

    select {
      appearance: none;
      border: #dde0e2 1px solid;
      border-radius: 2px;
    }

    .dropdown-style1 {
      @include dropdown-style(10px);
    }

    .icon-angle-down {
      right: 39px;
    }

    .error {
      margin-bottom: 21px;
      margin-top: -21px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 32px;
      width: 27px;
      background-color: $color-blue;
      color: $color-white;
      border: none;
      justify-content: center;
    }
  }

  &--location_finder {
    margin: 0.5rem auto 0;
    width: 93%;
    z-index: 1;

    @include media('>=640px') {
      margin: 0 auto;
      width: 100%;
    }

    select {
      appearance: none;
      border: #dde0e2 1px solid;
      border-radius: 2px;
      cursor: pointer;

      &::-ms-value {
        background: transparent;
      }
    }

    .dropdown-style1 {
      @include dropdown-style(15px);
    }
  }
}

