// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Status
// -----------------------------------------------------------------------------

$shadow-heavy: 0px 0px 8px rgba($color-grey-69, .24);

%feedback-style1 {
  position: relative;
  background-color: $color-grey-2;
  border-left: 8px solid $color-grey-2;
  border-radius: $border-radius-med;
  box-shadow: $shadow-heavy;
  padding: 1.1428571429rem;
  margin-bottom: 1rem;
}

.feedback-style1 {
  @extend %feedback-style1;

  .icon {
    position: absolute;
    top: 1.1428571429rem; //16
    right: 1.1428571429rem; //16
    cursor: pointer;
  }

  p {
    margin: 0 2rem 0 0;
    padding: 0;

    &:first-of-type {
      font-weight: 500;
    }
    &:not(:first-of-type) {
      margin-top: 0.8571428571rem; //12
      margin-bottom: 0.2857142857rem; //4
      //is set as not first instead of at the base, so that single line is spaced properly.
    }
  }

  /**
    * Mapping design team lingo to Drupal status types
    * positive = status
    * caution = warning
    * negative = error
   */
  &--status {
    border-color: $color-utility-positive;
    background-color: $color-utility-positive-subtle;

    .icon {
      color: $color-utility-positive;
    }
  }

  &--warning {
    border-color: $color-utility-attention;
    background-color: $color-utility-attention-subtle;
    .icon {
      color: $color-utility-attention;
    }
  }
  &--error {
    border-color: $color-utility-negative;
    background-color: $color-utility-negative-subtle;

    .icon {
      color: $color-utility-negative;
    }
  }
}
