// -----------------------------------------------------------------------------
// Libraries/Theme Crossover/Reservations And Quotes/Terms And Conditions
// -----------------------------------------------------------------------------

.terms-and-conditions {
  .reservation-heading {
    margin: 0 0 rem(7);
  }

  .terms-and-conditions-paragraph {
    @include type-preset(
      $version: 30
    );
    opacity: 0.71;
    margin-bottom: rem(22);

    @include media('>=640px') {
      max-width: 79%;
    }
  }

  .form-item--checkbox__item {
    label {
      cursor: pointer;
      font-weight: normal;
    }
  }
}
