input[type=text][disabled] {
  opacity: 0.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  background: $color-white;
  border: $color-border $border-light solid;
  font-family: $font-family-sans-serif;
  padding: 0.5rem;
}

.text-error {
  border: $color-utility-negative $border-med solid !important;
}

.form-item__textfield--full-width {
  width: 100%;
}

.input-field-wrapper > .form-item__textfield:focus {
  box-shadow: none;
}