<template>
  <form class="edit-jobsite-form" v-if="job">
    <transition name="btEditSlideFade1" tag="div">
      <account-selector
        :value="accountId"
        @change="onAccountChange"
      />
    </transition>

    <transition name="btEditSlideFade2" tag="div">
      <jobsite-selector
        :account-id="accountId"
        :create-jobsite-router-path="`${$route.path}/create-jobsite/${accountId}/${blockId}`"
        :value="jobsiteId"
        @change="onJobsiteChange"
      />
    </transition>

    <transition name="btEditSlideFade2" tag="div">
      <contact-text-input
        :disabled="disabledTextInputs"
        :value="job.contact"
        @input="contact => updateForm({contact})"
      />
    </transition>

    <transition name="btEditSlideFade3" tag="div">
      <phone-text-input
        :disabled="disabledTextInputs"
        :value="job.mobilePhone"
        @input="mobilePhone => updateForm({mobilePhone})"
      />
    </transition>

    <transition name="btEditSlideFade3" tag="div">
      <email-text-input
        :disabled="disabledTextInputs"
        :value="job.email"
        :err="emailErr" @input="onInputEmail"
      />
    </transition>

    <transition name="btEditSlideFade3" tag="div">
      <delivery-instructions-textarea
        :disabled="disabledTextInputs"
        :value="job.notes"
        @input="notes => updateForm({notes})"
      />
    </transition>
  </form>
</template>
<script type="text/babel">
  import AccountSelector from '@/components/common/account-selector';
  import JobsiteSelector from '@/components/common/job-selector';
  import ContactTextInput from '@/components/common/form/text-input/contact';
  import EmailTextInput from '@/components/common/form/text-input/email';
  import PhoneTextInput from '@/components/common/form/text-input/phone';
  import DeliveryInstructionsTextarea from '@/components/common/form/textarea/delivery-instructions';
  import { mapActions, mapState } from 'vuex';
  import types from '@/store/types';

  import usStates from '@/data/states-hash.json';
  import caProvinces from '@/data/provinces-hash.json';
  import phoneCodes from '@/data/phone-codes';


  export default {
    components: {
      AccountSelector,
      JobsiteSelector,
      ContactTextInput,
      EmailTextInput,
      PhoneTextInput,
      DeliveryInstructionsTextarea,
    },
    computed: {
      ...mapState({
        allJobsites: state => state.jobs.all,
        createdJobsiteIds: state => state.jobs.created,
        closestBranchToJobsite: state => state.jobs.closestBranchToJobsite,
        savedForm(state) {
          return state.jobs.form[this.blockIdString];
        },

        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
      emailErr() {
        return this.errors ? this.errors.includes('email') : false;
      },
      blockIdString(){
        return this.blockId || 'anon'
      },
    },
    data() {
      return {
        phoneCodes,
        statesAndProvinces: { ...usStates, ...caProvinces },
        // form fields...
        contact: '',
        email: '',
        mobilePhone: '',
        disabledTextInputs: false,
        job: {}
      };
    },
    methods: {
      ...mapActions({
        loadForm: types.jobs.loadForm,
        resetForm: types.jobs.resetForm,
        updateFormField: types.jobs.updateFormField,
      }),

      updateForm(field) {
        this.job = {
          ...this.job,
          ...field
        }
        const payload = {
          blockId: this.blockId,
          ...field
        }
        this.updateFormField(payload)
      },

      onAccountChange(value) {
        this.$emit('editAccount', value);
        this.resetForm();
      },

      onInputEmail(email) {
        const label = 'email';

        this.updateForm({ email });

        if (this.$v.job.email.$invalid) {
          return this.emailErr ? false : this.errors.push(label);
        }

        this.errors.splice(this.errors.indexOf(label), 1);
      },

      onJobsiteChange(value) {
        this.$emit('editJobsite', value);
        this.disabledTextInputs = !value;
        this.loadForm({ accountId: this.accountId, jobId: value, blockId: this.blockIdString });
        this.job = this.allJobsites[this.accountId][value];
        this.populateForm(this.job);
      },
      populateForm(newJobsite) {
        for (var key in newJobsite) {
          if (newJobsite.hasOwnProperty(key)) {
            this.updateForm({[key]: newJobsite[key]})
          }
        }
      }
    },
    mounted() {
      this.loadForm({ accountId: this.accountId, jobId: this.jobsiteId });
      this.$nextTick(() => {
        this.job = this.jobsite;
        this.populateForm(this.job);

      })
    },
    name: 'edit-jobsite-form',
    props: {
      accountId: String,
      blockId: String,
      jobsiteId: String,
      errors: Array,
      jobsite: Object
    },

    validations: {
      job: {
        email: {
          email(value) {
            const regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; // eslint-disable-line
            return regex.test(value);
          },
        },
      },
    },

    watch: {
      // When a new jobsite is created, we update the reservation to use this jobsite and the branch closest to it
      createdJobsiteIds(list) {
        const newestJobsiteId = list[list.length - 1]; // do not .pop(), causes infinite loop mutation
        this.onJobsiteChange(newestJobsiteId);
      },
      jobsiteId(jobId) {
        this.loadForm({ accountId: this.accountId, jobId });
      },
      accountId(accountId) {
        this.loadForm({ accountId, jobId: '' });
      },
    },
  };
</script>
