.search-term-badge {
  @extend %button;

  background-color: $color-grey-2;
  border-radius: $border-radius-small;
  border: $border-grey;
  display: flex;
  font-size: $font-size-small;
  height: 20px;
  justify-content: center;
  padding: 0 5px;
  width:  auto;

  &::before {
    content: '\e5cd';
    font-family: icomoon;
    padding-right: 15px;
    width: 6px;
  }

  &:hover {
    &::before {
      color: $color-blue-highlight;
    }
  }
}
