.object_listing__details__pricing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  line-height: 24px;
  color: $color-grey-38;
  font-family: $font-family-sans-serif;
  font-size: $font-size-small;
  margin-top: 10px;

  @include breakpoint($break-small) {
    flex-direction: row;
    margin-top: 0;
  }

  .pricing-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0.3;
  }

  .time-period {
    font-size: $font-size-small;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

    span {
      font-size: $font-size-base;
      color: $color-grey-79;
      margin-right: 5px;
    }
  }

  > * {
    margin: auto 3px;
  }

  :first-child {
    margin-left: 0px;
  }

  &__chip {
    background-color: $color-orange;
    border-radius: 100px;
    color: white;
    height: 14px;
    width: 72px;
    padding: 3px;
    font-family: $font-family-sans-serif;
    font-size: $font-size-xsmall;
    font-weight: bold;
    line-height: 9px;
    text-align: center;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;

    @include breakpoint($break-small) {
      margin: auto 3px;
    }
  }

  @include breakpoint($break-small) {
    line-height: 40px;
  }
}
