<div class="object_listing__details__pricing">

  <div class="object_listing__details__pricing__chip">
    CONTRACT $
  </div>

  <div class="pricing-content">
    <span class="time-period">Daily
      <span style="transition: color 1s;">$450</span>
    </span>
    <span class="time-period">Weekly
      <span style="transition: color 1s;">$213</span>
    </span>
    <span class="time-period">Monthly
      <span style="transition: color 1s;">$1,218</span>
    </span>
  </div>
</div>