<div class="content-panel__content">
  {% include "@molecules/location-finder/content-panel-header/content-panel-header.twig" %}

  {% if list_ul_items %}

    {% include "@molecules/location-finder/state-list/state-list.twig"
      with {
        "list_item_label": list_ul_item.label,
        "list_item_content": list_ul_item.content,
        "list_item_link": list_ul_item.link,
        "list_item_blockname": list_ul_item.block_name
      }
    %}

    {% elseif contentpanel_resultsblocks %}

      {% include "@organisms/location-finder/content-results-blocks/content-results-blocks.twig" %}

    {% elseif contentpanel_branchdetails %}

      {% include "@organisms/location-finder/branch-details/branch-details.twig" %}

    {% else %}

      <h3>There isn't any content ... how embarrassing."</h3>

  {% endif %}
</div>
