<div class="search-term-badge-container">
  <button class="search-term-badge">Electric</button>
  <button class="search-term-badge">Scissor</button>
  <button class="search-term-badge">20-21'</button>
  <p class="clear-all">Clear all</p>
</div>
