<div style="height: 147px;">
  {% include "@base/layouts/placeholders/_placeholders.twig"
    with {
      title: "Global Header"
    }
  %}
</div>

{% include "@organisms/article-1/article-1.twig" %}
