@charset 'UTF-8';
@import '../../globals';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: equipment-listing
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------

/*! CSS Used from: https://dev2.unitedrentals.com/core/themes/stable/css/system/components/hidden.module.css?pzfjb4 ; media=all */
@media all {
  .hidden {
    display: none;
  }
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
}

/*! CSS Used from: https://dev2.unitedrentals.com/modules/custom/ur_equipment/css/ur-equipment.css?pzfjb4 ; media=all */
@media all {
  .hidden {
    display: none;
  }
  .views-element-container {
    width: 100%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 96%;
  }
  #catalog-listing.catalog-listing {
    display: block;
  }
  #catalog-listing.catalog-listing .views-element-container .equipment-listing-full {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  #catalog-listing.catalog-listing aside.equipment-listing--siderail {
    height: auto;
    padding: 0;
    width: 100%;
    background: none;
  }
  .block-equipment-listing-siderail-block {
    position: relative;
    top: 1rem;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    padding: 22px 24px 20px 24px;
    background: #f9f9f9;
    height: auto;
    display: none;
  }
  .object_listing__actions {
    display: none;

    .icon {
      color: $color-brand-primary;
    }
  }
  .object_listing__details > .ur-quick-view-toggle {
    display: inline-block;
  }
  .object_listing__details__quick_view .ur-quick-view-toggle {
    display: none;
  }
  .mobile-only {
    display: initial;
  }
  .object-list-header #filter-sort-buttons.filter-sort-buttons {
    display: block;
    position: absolute;
    top: 0;
    margin: 0 1rem;
    width: calc(100% - 2rem);
    left: 0;

    .button.filters__button {
      margin-top:0;
    }
  }
  .equipment-listing-full nav.pager {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .authentication-panel .container-inline {
    margin: 0;
  }
  @media (min-width: 640px) {
    .mobile-only {
      display: none;
    }
    .object_listing__actions {
      display: block;
    }
    .object_listing__details__quick_view .ur-quick-view-toggle {
      display: inline-block;
    }
    .object_listing__details > .ur-quick-view-toggle {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    #catalog-listing.catalog-listing {
      display: flex;
    }
    .block-equipment-listing-siderail-block {
      position: static;
      top: 0;
      display: block;
      width: 264px;
      padding: 22px 24px 20px 24px;
      margin: 0;
    }
    .object-list-header #filter-sort-buttons.filter-sort-buttons {
      display: none;
    }
  }
}

/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/slab/css/odo.css?pzfjb4 ; media=all */
@media all {
  svg {
    height: 1em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: inherit;
    width: auto;
  }
  *, :after, :before {
    border: 0 solid #dde0e2;
  }
  img {
    border-style: solid;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  input::-webkit-input-placeholder {
    color: inherit;
    opacity: .5;
  }
  input:-ms-input-placeholder {
    color: inherit;
    opacity: .5;
  }
  input::-ms-input-placeholder {
    color: inherit;
    opacity: .5;
  }
  input::placeholder {
    color: inherit;
    opacity: .5;
  }
  button {
    cursor: pointer;
  }
  input::-webkit-input-placeholder {
    color: #91969b;
    font-weight: 400;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: #91969b;
    font-weight: 400;
    opacity: 1;
  }
  input::-ms-input-placeholder {
    color: #91969b;
    font-weight: 400;
    opacity: 1;
  }
  input::placeholder {
    color: #91969b;
    font-weight: 400;
    opacity: 1;
  }
}

/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/style.css?pzfjb4 ; media=all */
@media all {
  *, ::after, ::before {
    background-repeat: no-repeat;
    box-sizing: inherit;
  }
  ::after, ::before {
    text-decoration: inherit;
    vertical-align: inherit;
  }
  aside, footer, nav {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  nav ol, nav ul {
    list-style: none;
  }
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  strong {
    font-weight: inherit;
  }
  strong {
    font-weight: bolder;
  }
  ::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
  }
  img, svg {
    vertical-align: middle;
  }
  img {
    border-style: none;
  }
  svg {
    fill: currentColor;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  button, input {
    margin: 0;
  }
  button, input {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button, input {
    overflow: visible;
  }
  button {
    text-transform: none;
  }
  button {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  a, button, input, label {
    touch-action: manipulation;
  }
  .p-t-10 {
    padding-top: 1rem !important;
  }
  .link, a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
  }
  .link:hover, a:hover {
    color: #008cff;
    text-decoration: underline;
  }
  .link:visited, a:visited {
    color: #0050a9;
  }
  .link:active, a:active {
    color: #0050a9;
  }
  .heading-1, .heading-5, .heading-6, h1, h2, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    color: #414b50;
    font-variant: none;
    font-weight: 700;
    width: 100%;
  }
  .heading-1, h1 {
    font-size: 2rem;
    line-height: 1.28571;
  }
  h2 {
    font-size: 1.57143rem;
    line-height: 1.090909;
  }
  h4 {
    font-size: 1.14286rem;
    line-height: 1.25;
  }
  .heading-5, h5 {
    font-size: 1rem;
    line-height: 1.4285714286;
  }
  .heading-6, h6 {
    font-size: .85714rem;
    line-height: 1.333333;
  }
  .icon, .search-by-term::before {
    font-family: icomoon !important;
    color: inherit;
    font-size: inherit;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-angle-down:before {
    content: "\f107";
  }
  .icon-print:before {
    content: "\e907";
  }
  .icon-angle-up:before {
    content: "\f106";
  }
  .icon-envelope-o:before {
    content: "\f003";
  }
  ol, ul {
    margin-left: 1em;
    padding-left: 12px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  .list-item {
    padding-left: 1em;
    font-size: 1rem;
    line-height: 1.7142857143;
    margin-bottom: .5714285714rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  label {
    color: #414b50;
    display: block;
    font-weight: 700;
    font-size: .85714rem;
    line-height: 1;
    margin-bottom: 7px;
    padding: 5px 0;
  }
  input {
    cursor: pointer;
  }
  input[type=text] {
    background-color: #fff;
    margin-bottom: .8571428571rem;
    position: relative;
    width: 100%;
    height: 2.85714em;
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding-left: .5714285714rem;
    color: #414b50;
    cursor: text;
    border: #dde0e2 1px solid;
    border-radius: 4px;
  }
  @media (min-width: 640px) {
    input[type=text] {
      height: 40px;
      border-radius: 2px;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 1024px) {
    input[type=text] {
      font-size: 16px;
    }
  }
  input[type=text]::-webkit-input-placeholder {
    color: #91969b;
  }
  input[type=text]::-ms-input-placeholder {
    color: #91969b;
  }
  input[type=text]::placeholder {
    color: #91969b;
  }
  input[type=text]::-ms-clear {
    display: none;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input {
      font-size: 16px;
    }
  }
  button[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }
  .form-item--checkbox__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + label span {
    display: inline-block;
    width: 1.1428571429rem;
    height: 1.1428571429rem;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: #dde0e2 1px solid;
    border-radius: 2px;
    margin-right: .5714285714rem;
  }
  input[type=checkbox] + label span svg {
    display: none;
  }
  input[type=checkbox]:checked + label span {
    background-color: #0050a9;
    border: none;
  }
  input[type=checkbox]:checked + label span svg {
    fill: #fff;
    display: block;
  }
  .button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.85714em;
    border: #dde0e2 solid 2px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: .01em;
    text-transform: capitalize;
    text-align: center;
  }
  .button {
    display: inline-block;
  }
  .button--style-2 {
    font-weight: 700;
  }
  .button--filled {
    background-color: #0050a9;
    color: #fff;
    border: none;
  }
  .button--filled:hover {
    background-color: #003e83;
  }
  .button--secondary-alt {
    background-color: #008cff;
    color: #fff;
    border: none;
  }
  .button--secondary-alt:hover {
    background-color: #0077d9;
  }
  .icon-button {
    color: #fff;
    font-size: 1rem;
    background-color: #008cff;
    border-radius: 20px;
    padding: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .link, a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
  }
  .link:hover, a:hover {
    color: #008cff;
    text-decoration: underline;
  }
  .link:visited, a:visited {
    color: #0050a9;
  }
  .link:active, a:active {
    color: #0050a9;
  }
  .link, a {
    color: #0050a9;
    cursor: pointer;
    text-decoration: none;
  }
  .link:hover, a:hover {
    color: #008cff;
    text-decoration: underline;
  }
  .link:visited, a:visited {
    color: #0050a9;
  }
  .link:active, a:active {
    color: #0050a9;
  }
  .breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .breadcrumb__item, .breadcrumb__link, .breadcrumb__link:focus, .breadcrumb__link:link, .breadcrumb__link:visited {
    color: #0050a9;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .breadcrumb__link:hover {
    color: #0050a9;
  }
  .breadcrumb__item {
    display: inline-block;
    font-size: .75rem;
  }
  .breadcrumb__item::after {
    content: " >";
  }
  .breadcrumb__item:last-child {
    color: #color-blue;
  }
  .breadcrumb__item:last-child::after {
    content: "";
  }
  .object_listing__details__pricing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    line-height: 24px;
    color: #91969b;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: .85714rem;
    margin-top: 10px;
  }
  @media (min-width: 640px) {
    .object_listing__details__pricing {
      flex-direction: row;
      margin-top: 0;
    }
  }
  .object_listing__details__pricing .pricing-content {
    max-width: 28.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: .3;
  }
  .object_listing__details__pricing .time-period {
    font-size: .85714rem;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-transform: capitalize;
  }
  .object_listing__details__pricing .time-period span {
    font-size: 1rem;
    color: #161718;
    margin-right: 5px;
  }
  .object_listing__details__pricing > * {
    margin: auto 3px;
  }
  .object_listing__details__pricing :first-child {
    margin-left: 0;
  }
  @media (min-width: 640px) {
    .object_listing__details__pricing {
      line-height: 40px;
    }
  }
  .pager {
    margin: 2em 0;
  }
  .pager__items {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .pager__item {
    display: inline-block;
    margin: 0 .7em;
    height: 20px;
  }
  .pager__item a span {
    display: none;
  }
  @media (min-width: 48em) {
    .pager__item {
      margin: 0 1em;
    }
  }
  .pager__link, .pager__link:link, .pager__link:visited {
    color: #0050a9;
    font-weight: 600;
    text-decoration: none;
  }
  .pager__link.is-active, .pager__link:link.is-active, .pager__link:visited.is-active {
    border-bottom: 2px solid #008cff;
  }
  .pager__link.is-active span, .pager__link:link.is-active span, .pager__link:visited.is-active span {
    display: inherit;
  }
  .pager__link:hover, .pager__link:link:hover, .pager__link:visited:hover {
    text-decoration: none;
  }
  .left-arrow-link:before, .right-arrow-link:before {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde0e2;
    color: #0050a9;
    line-height: 10px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    opacity: .75;
    cursor: pointer;
    font-size: 0;
  }
  .left-arrow-link:hover:before, .right-arrow-link:hover:before {
    text-decoration: none;
  }
  .left-arrow-link:before, .right-arrow-link:before {
    font-size: 1rem !important;
    font-family: icomoon !important;
    color: inherit;
    font-size: inherit;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    position: relative;
    z-index: -1;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .left-arrow-link:before {
    content: "\e901";
  }
  .right-arrow-link:before {
    content: "\e900";
  }
  .disabled-arrow:before {
    opacity: .25;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10002;
    overflow-y: scroll;
  }
  .modal__background {
    background-color: rgba(65, 75, 80, .8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .modal.ur-drawer-banner__modal .modal__background {
    display: none;
  }
  .modal.ur-drawer-banner__modal {
    bottom: -200px;
    top: auto;
    transition: bottom .3s ease-in-out;
    visibility: hidden;
  }
  .modal.ur-drawer-banner__modal .modal__content {
    max-width: 100%;
    width: 100%;
  }
  .modal__content {
    display: block;
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .1);
    border-radius: 4px;
  }
  @media (min-width: 640px) {
    .modal__content {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: auto;
    }
  }
  @media (min-width: 1024px) {
    .modal__content {
      width: 70%;
      height: auto;
    }
  }
  @media (min-width: 1440px) {
    .modal__content {
      max-width: 1000px;
    }
  }
  .modal__content .close-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
  }
  .modal__content .close-icon i:before {
    content: "\e5cd";
  }
  .modal .ur-drawer-banner__content {
    display: flex;
  }
  .ur-drawer-banner {
    display: none;
  }
  @media (min-width: 640px) {
    .ur-drawer-banner {
      display: block;
    }
  }
  .ur-drawer-banner__wrapper {
    position: relative;
    z-index: 2147483548;
  }
  .ur-drawer-banner__modal .modal__content {
    background: #2e2e2e;
    border-radius: 0;
    border-width: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 40px 45px 35px;
  }
  .ur-drawer-banner__modal .modal__content h2 {
    color: #008cff;
    font-size: 1.714rem;
    line-height: 1;
    margin: -2px 0 0;
    text-transform: uppercase;
  }
  .ur-drawer-banner__modal .modal__content > a {
    flex: 5%;
    margin-top: -12px;
  }
  .ur-drawer-banner__modal .modal__content > a:hover {
    text-decoration: none;
  }
  .ur-drawer-banner__modal .modal__content .close-icon {
    background: 0 0;
    font-size: 3.857rem;
    position: static;
  }
  .ur-drawer-banner__modal .modal__content .close-icon:before {
    -webkit-text-stroke: #2e2e2e;
    -webkit-text-stroke-width: 3px;
    -moz-text-stroke: #2e2e2e;
    -moz-text-stroke-width: 3px;
  }
  .ur-drawer-banner__modal .modal__content .ur-drawer-banner__subhead {
    color: #fff;
    font-size: 1.143rem;
    line-height: 1.429rem;
    margin: 10px 0 0;
    padding-right: 20px;
  }
  .ur-drawer-banner__content {
    flex: 95%;
  }
  .ur-drawer-banner__headline {
    flex: 58%;
  }
  .ur-drawer-banner__cta {
    align-self: center;
    flex: 25%;
  }
  .ur-drawer-banner__cta .button {
    border-radius: 4px;
    font-size: 1.143rem;
    font-weight: 700;
    height: 3rem;
  }
  .ur-drawer-banner__cta .cta__narrow {
    display: inline;
  }
  @media (min-width: 960px) {
    .ur-drawer-banner__cta .cta__narrow {
      display: none;
    }
  }
  .ur-drawer-banner__cta .cta__wide {
    display: none;
  }
  @media (min-width: 960px) {
    .ur-drawer-banner__cta .cta__wide {
      display: inline;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .modal .modal__content {
      height: 100%;
    }
  }
  .nested-navigation {
    height: auto;
    min-height: 0;
  }
  .catalog-listing {
    display: flex;
  }
  .catalog-listing .equipment-listing-full {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 96%;

    @media (min-width: 640px) {
      max-width: 100%;
    }
    @media (min-width: 1024px) {
      width: 100%;
    }
  }
  .catalog-listing .equipment-listing-full .list__container {
    min-height: 100vh;
    flex-grow: 2;
  }
  .catalog-listing .equipment-listing-full .pricing-content .time-period {
    flex-direction: row;
  }
  .catalog-listing .equipment-listing-full .pricing-content .time-period span {
    padding-left: 5px;
  }
  .object_listing__wrapper {
    display: flex;
    box-shadow: 0 1px 0 0 #dee1e3;
  }
  .object_listing__wrapper > * {
    margin: 16px auto;
  }
  .object_listing__image {
    padding-top: 9px;
    margin-right: 18px;
  }
  .object_listing__details {
    flex: 8;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .object_listing__details .icon-angle-down {
    position: absolute;
    top: 28px;
    right: 7%;
  }
  @media (min-width: 640px) {
    .object_listing__details .icon-angle-down {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .object_listing__details__cat_class_code {
    color: #91969b;
    height: 24px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: .85714rem;
    line-height: 24px;
  }
  .object_listing__details__name {
    color: #0050a9;
    height: 24px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: 1.28571rem;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
    margin-right: 40px;
    cursor: pointer;
    display: inline-block;
  }
  .object_listing__details__pricing {
    color: #91969b;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: .71429rem;
    line-height: 16px;
    text-transform: uppercase;
    margin: 12px 0;
  }
  .object_listing__details__pricing span span {
    font-size: .85714rem;
    color: #161718;
    margin-right: 5px;
  }
  .object_listing__details__pricing > * {
    margin: auto 3px;
  }
  .object_listing__details__pricing :first-child {
    margin-left: 0;
  }
  .object_listing__details__quick_view {
    color: #0050a9;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: .85714rem;
    line-height: 14px;
    margin-top: 12px;
    position: relative;
  }
  .object_listing__details__quick_view a {
    width: 82px;
  }
  .object_listing__details__quick_view .icon {
    margin-right: 30px;
    font-size: 1.28571rem;
  }
  @media (min-width: 640px) {
    .object_listing__details__quick_view .icon {
      font-size: 1rem;
    }
  }
  .object_listing__details__quick_view .icon-angle-down {
    position: absolute;
    width: 15px;
    left: 66px;
    pointer-events: auto;
    cursor: pointer;
  }
  .object_listing__details__quick_view ul li {
    color: #91969b;
    font-size: .85714rem;
  }
  .object_listing__details__quick_view .view-details-quickView-button {
    background-color: #dde0e2;
    color: #0050a9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 1.9rem;
    font-weight: 600;
    margin-right: 7px;
    float: left;
  }
  @media (min-width: 640px) {
    .object_listing__details__quick_view .view-details-quickView-button {
      height: 2.2857142857em;
      border-radius: 2px;
      float: none;
    }
  }
  .object_listing__actions {
    padding-top: 10px;
  }
  .object_listing__actions__alert {
    width: 128px;
    color: #91969b;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: .85714rem;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
  .object_listing__actions button {
    height: 32px;
    width: 128px;
    margin-top: 6px;
    border: none;
    border-radius: 2px;
    background-color: #0050a9;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Roboto, Noto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    outline: 0;
    text-align: center;
    padding: 3px;
    cursor: pointer;
  }
  .object_listing__actions__sub {
    display: flex;
    width: 128px;
  }
  .object_listing__actions__sub a {
    text-decoration: none;
    display: inline;
  }
  @media (min-width: 640px) {
    .object_listing__actions__sub a {
      display: flex;
    }
  }
  .object_listing__actions__sub .icon {
    color: #0050a9;
    flex: 0 1 auto;
    flex-direction: row;
    margin: 13px;
  }
  .object_listing__actions__sub :hover {
    cursor: pointer;
  }
  .catalog-listing .nested-navigation {
    padding: 22px 24px 20px 24px;
    width: 264px;
    background: #f9f9f9;
  }
  .authentication-panel {
    box-shadow: 0 1px 0 0 #dde0e2;
    padding-bottom: 20px;
  }
  .authentication-panel h5 {
    margin: 0;
    width: auto;
  }
  .authentication-panel .container-inline {
    display: flex;
    justify-content: space-between;

    .edit__paragraph {
      float: right;
      margin-left: auto;
      width: auto;
    }

    span {
      padding-top: 5px;
      width: 30%;
      font-weight: 600;
    }

    .selection__paragraph {
      margin: 0;
      float: right;
      text-align: right;
      width: 66%;
      font-weight: 400;
      word-break: break-word;

      .font-weight-normal {
        margin: 0;
      }
    }
  }
  .authentication-panel .selection__paragraph-left {
    font-size: 12px;
  }
  .contextual-links-panel__label {
    margin: 36px 0 0 0;
  }
  .contextual-links-panel__label .container-inline {
    display: flex;
    justify-content: space-between;
  }
  .contextual-links-panel__label .container-inline .collapse__paragraph {
    color: #91969b;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: 400;
    margin: 0;
  }
  .contextual-links-panel__label .heading-5, .contextual-links-panel__label h5 {
    margin: 0;
  }
  .contextual-links-panel__parent a {
    display: block;
    color: #91969b;
    font-size: 12px;
    margin: 20px 0;
  }
  .filter-panel__label {
    margin: 38px 0 6px 0;
  }
  .filter-panel__label .container-inline {
    display: flex;
    justify-content: space-between;
  }
  .filter-panel__label .container-inline .collapse__paragraph {
    color: #91969b;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: 400;
    margin: 0;
  }
  .filter-panel__label .heading-5, .filter-panel__label h5 {
    margin: 0;
  }
  .filter-panel__content-container {
    border-bottom: 1px solid #dde0e2;
  }
  .filter-panel__parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .filter-panel__parent a {
    color: #91969b;
    font-size: 12px;
    margin: 10px 0;
  }
  .filter-panel__content {
    margin: 0 10px;
  }
  .filter-panel__content h6:first-child {
    margin-top: 5px;
  }
  .filter-panel__content ul {
    margin-left: 0;
    padding-left: 0;
  }
  .filter-panel__content li:last-of-type {
    margin-bottom: 15px;
  }
  .filter-panel__content .heading-6, .filter-panel__content h6 {
    margin-top: 16px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  .filter-panel__content .form-item--checkbox__item {
    margin: 5px 0;
  }
  .navigation-panel .heading-5, .navigation-panel h5 {
    margin: 0;
  }
  .navigation-panel__label {
    height: 18px;
  }
  .navigation-panel .container-inline {
    display: flex;
    justify-content: space-between;
  }
  .navigation-panel .container-inline .collapse__paragraph {
    color: #91969b;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    margin: 0;
  }
  .navigation-panel__parent {
    padding: 8px 0;
  }
  .navigation-panel__parent .link, .navigation-panel__parent .link:visited, .navigation-panel__parent a, .navigation-panel__parent a:visited {
    color: #91969b;
    display: inline-block;
    font-size: 12px;
    width: 150px;
  }
  .navigation-panel__parent .link.is-active, .navigation-panel__parent .link:visited.is-active, .navigation-panel__parent a.is-active, .navigation-panel__parent a:visited.is-active {
    font-weight: 600;
    color: #161718;
  }
  .navigation-panel__parent .icon-angle-up {
    float: right;
    cursor: pointer;
  }
  .navigation-panel__parent .navigation-panel__child {
    padding: 8px 0 0 20px;
  }
  .navigation-panel__parent .navigation-panel__child a {
    display: block;
    color: #91969b;
    font-size: 12px;
    margin: 0;
    padding: 8px 0;
  }
  .navigation-panel__parent .navigation-panel__child a.is-active, .navigation-panel__parent .navigation-panel__child a:active {
    font-weight: 600;
    color: #0050a9;
  }
  .navigation-panel .viewMore_link a {
    font-size: 12px;
    color: #91969b;
    text-decoration: underline;
  }
  .object-list-header {
    display: flex;
    flex-direction: column;
  }
  .object-list-header .filter-sort-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .object-list-header .filter-sort-buttons .filters__button {
    justify-content: center;
    border: 1px solid #dde0e2;
    border-radius: 1px;
    background-color: #fff;
    margin: 12px 0;
    color: #0050a9;

    &.is-active {
      background-color: #dde0e2;
      border: 1px solid #dde0e2;
    }
  }
  .object-list-header .filter-sort-buttons .filters__button:active, .object-list-header .filter-sort-buttons .filters__button:hover {
    background-color: #dde0e2;
    border: 1px solid #dde0e2;
  }
  .object-list-header .filter-sort-buttons .filters__button:before {
    content: "\f0b0";
    font-family: icomoon;
    padding-right: 5px;
  }
  .object-list-header .label-select_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid #dde0e2;
  }
  .object-list-header .label-select_container .label-side {
    width: 100%;
  }
  .object-list-header .label-select_container .label-side .heading-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .object-list-header .label-select_container .label-side .heading-label h1 {
    width: auto;
    margin-right: 7px;
    line-height: 1em;
    margin-top: 2.5rem;
  }
  @media (min-width: 1024px) {
    .object-list-header .label-select_container .label-side .heading-label h1 {
      margin: 1rem 0;
    }
  }
  .object-list-header .label-select_container .label-side .heading-label .results-number__heading-1 {
    font-weight: 300;
  }
  .object-list-header .label-select_container .label-side .description_container {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .object-list-header .label-select_container .label-side .description_container {
      display: inline-block;
    }
  }
  .object-list-header .label-select_container .label-side .description_container .description__paragraph {
    margin: 0 15px 0 0;
  }
  @media (min-width: 1024px) {
    .object-list-header .label-select_container .label-side .description_container .description__paragraph {
      max-width: 80vw;
    }
  }
  .object-list-header .label-select_container .label-side .description_container .description__paragraph.less {
    display: inline-block;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70vw;
    white-space: nowrap;
    vertical-align: text-bottom;

    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-inline-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 44px;
    }

    p {
      margin: 0;
      display: inline;
    }

  }
  @media (min-width: 640px) {
    .object-list-header .label-select_container .label-side .description_container .description__paragraph.less {
      width: 375px;
    }
  }
  .object-list-header .label-select_container .label-side .description_container .description__paragraph.less + .more_less_toggle {
    vertical-align: super;
  }
  .object-list-header .label-select_container .label-side .description_container .more_less_toggle {
    font-size: .85714rem;
    font-weight: 700;
    height: 14px;
    margin-top: 0;
    width: 75px;
    display: inline;
  }
  .object-list-header .breadcrumbs_container {
    margin-top: 10px;
  }
  .object-list-header .breadcrumbs_container li:last-child {
    color: #91969b;
  }
  .object_listing__footer {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    justify-content: center;
  }
  @media (min-width: 640px) {
    .object_listing__footer {
      justify-content: space-between;
    }
  }
  .object_listing__footer p {
    display: none;
    margin: 0;
  }
  @media (min-width: 640px) {
    .object_listing__footer p {
      display: flex;
    }
  }
  .search-by-term {
    position: relative;
    margin: 1.5rem 0;
    z-index: 0;
  }
  .search-by-term::before {
    content: "\f002";
    position: absolute;
    height: .938em;
    line-height: 40px;
    text-align: center;
    width: 40px;
    top: -2px;
    z-index: 1;
  }
  .search-by-term input[type=text] {
    margin: 0;
    padding-left: 2rem;
    line-height: 40px;
    font-size: .938em;
    height: 40px;
  }
  .search-by-term input::-ms-clear {
    width: 0;
    height: 0;
  }
  .search-by-term .results {
    border: #dde0e2 1px solid;
    border-top-width: 0;
    display: none;
    overflow: auto;
    padding: 11px 11px 11px 40px;
    background: #fff;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 2px rgba(65, 75, 80, .12);
    flex-direction: column;
    z-index: 999;
  }
  .search-by-term.show-results input {
    outline: 0;
    border-bottom: 0;
    box-shadow: 0 2px 2px rgba(65, 75, 80, .12);
  }
  .search-by-term.show-results .results {
    display: flex;
  }
  .search-by-term.show-results::after {
    content: "\21B3";
    position: absolute;
    z-index: 1;
    right: 0;
    -ms-right: 20px;
    top: 0;
    height: .938em;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }
  .search-by-term.show-no-results .results {
    display: flex;
    padding-bottom: 1.25rem;
  }
  :focus {
    outline: 0;
  }
}

/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/vue/css/vendor.css?pzfjb4 ; media=all */
@media all {
  svg {
    height: 1em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: inherit;
    width: auto;
  }
  .q-button {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-line-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-content: center;
    align-items: center;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
    justify-content: center;
    margin: 16px 0;
    text-align: center;
    width: 100%;
  }
  .q-button--secondary {
    background-color: #f9f9f9;
    border: 1px solid #dde0e2;
    color: #414b50;
  }
  .q-button--secondary:hover {
    background-color: #eaebec;
  }
  .q-button--secondary:active {
    background-color: #dde0e2;
  }
  .q-button--secondary:disabled {
    color: rgba(65, 75, 80, .6);
  }
  .q-button--secondary:disabled:hover {
    background-color: #f9f9f9;
  }
  img[lazy=loading] {
    opacity: .25;
  }
  img[lazy=loaded] {
    -webkit-transition: all .35s cubic-bezier(.645, .045, .355, 1);
    opacity: 1;
    transition: all .35s cubic-bezier(.645, .045, .355, 1);
  }
  img[lazy=error] {
    opacity: 0;
  }
  label {
    color: #414b50;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 7px;
    padding: 5px 0;
  }
  input {
    cursor: pointer;
  }
  input[type=text] {
    color: #414b50;
    cursor: text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
    padding-left: 8px;
    position: relative;
  }
  @media screen and (max-device-width: 768px) {
    input[type=text] {
      font-size: 16px;
    }
  }
  input[type=text]::-webkit-input-placeholder {
    color: #91969b;
  }
  input[type=text]:-ms-input-placeholder {
    color: #91969b;
  }
  input[type=text]::-ms-input-placeholder {
    color: #91969b;
  }
  input[type=text]::placeholder {
    color: #91969b;
  }
  button[disabled] {
    cursor: default;
    pointer-events: none;
  }
}

/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/vue/css/app.css?pzfjb4 ; media=all */
@media all {
  .icon {
    transition: transform .5s ease;
  }
}

/*! CSS Used from: Embedded */
.chip-tooltip[data-v-f4cf7594] {
  margin-bottom: 10px;
}

/*! CSS Used from: Embedded */
.sign-in-link-rates {
  text-decoration: underline;
}

/*! CSS Used from: Embedded */
.auth-signin-btn {
  text-transform: none;
}

.selection__paragraph-left {
  line-height: 20px;
}

.authentication-panel .container-inline {
  align-items: baseline;
}

.container-inline.titles {
  display: flex;
  align-items: center;
}

.tooltip {
  display: block !important;
  max-width: 600px;
  z-index: 10000;

  .tooltip-inner {
    background: white;
    color: $color-grey-69;
    border-radius: 14px;
    padding: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 18px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 10px;
    border-color: white;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 10px 10px 0 10px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -10px;
      left: calc(50% - 10px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 10px 10px 10px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -10px;
      left: calc(50% - 10px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 10px 10px 10px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -10px;
      top: calc(50% - 10px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 10px 0 10px 10px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -10px;
      top: calc(50% - 10px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.v-popover {
  span.trigger {
    display: block !important;
  }

  .flex { height: 40px; } // height fix for IE 11. This is the height of a QButton
}

// Shimmer.

.shimmer {
  overflow: hidden;
  position: relative;
  user-select: none;
  color:transparent;
  a,
  button,
  input,
  // input::placeholder, /* this selector breaks shimmers in Edge! */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  img,
  select,
  span,
  textarea,
  th, td {
    background-color: #eee !important;
    color: #eee !important;
    border: none;
    border-radius: 1px;
    pointer-events: none;
    user-select: none;
  }

  h1, h2, h3, h4, h5, h6 {
    display: table;
    width: auto;
  }

  input[type='radio'], input[type='checkbox'] {
    display: none;
  }
}

.shimmer:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 100%;

  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.5) 55%,
      rgba(255, 255, 255, 0.5) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 200% 100%;
  background-clip: content-box; /* a value of "text" breaks shimmers in Edge */
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@keyframes shimmer {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.form-item--checkbox__item {
  label {
    cursor: pointer;
  }
}

.search-term-badge-container {
  @include type-preset(30);

  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .search-term-badge {
    @include icon($filename: close);

    background-color: $color-bg-light-secondary;
    border-radius: rem(2);
    border: $border-width-light solid $color-utility-border;
    display: flex;
    height: rem($scale-5);
    margin: 0 rem($gap-a);
    justify-content: center;
    width: auto;

    @include on-event() {
      &::before {
        color: $color-text-link-hover;
        transition: $transition-base;
      }
    }
  }

  .clear-all {
    @include on-event() {
      color: $color-text-link-hover;
      text-decoration: underline;
    };

    color: $color-brand-primary;
    cursor: pointer;
    font-weight: $font-weight-bold;
    height: rem($scale-5);
    margin: 0 rem($gap-a);
    transition: $transition-base;
  }
}

.ur-quick-view {
  .list-ul {
    @include gap($gap-b);
  }
}
