@charset 'UTF-8';
@import '../../globals';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: Loading Spinner
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------

$spinner-color: $color-grey-38 !default;
$spinner-size: $font-size-preset-80 !default;

.spinner {
  animation: spinning 1s infinite steps(12);
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 83 83'%3E%3Cdefs%3E%3Cstyle%3E.cls-1,.cls-10,.cls-11,.cls-12,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9%7Bfill:%23979ca0;%7D.cls-2%7Bopacity:0.5;%7D.cls-3%7Bopacity:0.75;%7D.cls-4%7Bopacity:0.25;%7D.cls-5%7Bopacity:0.92;%7D.cls-6%7Bopacity:0.42;%7D.cls-7%7Bopacity:0.83;%7D.cls-8%7Bopacity:0.33;%7D.cls-9%7Bopacity:0.67;%7D.cls-10%7Bopacity:0.17;%7D.cls-11%7Bopacity:0.58;%7D.cls-12%7Bopacity:0.04;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Crect class='cls-1' x='38.5' width='6' height='23' rx='3' ry='3' transform='translate(83 23) rotate(180)'/%3E%3Crect class='cls-2' x='38.5' y='60' width='6' height='23' rx='3' ry='3' transform='translate(83 143) rotate(180)'/%3E%3Crect class='cls-3' x='8.5' y='30' width='6' height='23' rx='3' ry='3' transform='translate(53 30) rotate(90)'/%3E%3Crect class='cls-4' x='68.5' y='30' width='6' height='23' rx='3' ry='3' transform='translate(113 -30) rotate(90)'/%3E%3Crect class='cls-5' x='23.33' y='4.12' width='6' height='23' rx='3' ry='3' transform='translate(56.95 15.78) rotate(149.63)'/%3E%3Crect class='cls-6' x='53.67' y='55.88' width='6' height='23' rx='3' ry='3' transform='translate(139.62 96.88) rotate(149.63)'/%3E%3Crect class='cls-7' x='12.48' y='15.06' width='6' height='23' rx='3' ry='3' transform='translate(46.23 26.36) rotate(119.86)'/%3E%3Crect class='cls-8' x='64.52' y='44.94' width='6' height='23' rx='3' ry='3' transform='translate(150.08 25.98) rotate(119.86)'/%3E%3Crect class='cls-9' x='12.55' y='45.05' width='6' height='23' rx='3' ry='3' transform='translate(56.67 14.73) rotate(59.89)'/%3E%3Crect class='cls-10' x='64.45' y='14.95' width='6' height='23' rx='3' ry='3' transform='translate(56.5 -45.17) rotate(59.89)'/%3E%3Crect class='cls-11' x='23.45' y='55.95' width='6' height='23' rx='3' ry='3' transform='translate(37.42 -4.16) rotate(30.12)'/%3E%3Crect class='cls-12' x='53.55' y='4.05' width='6' height='23' rx='3' ry='3' transform='translate(15.44 -26.28) rotate(30.12)'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  font-size: $spinner-size;
  position: relative;
  top: 5px;
  margin: 0 10px;
  display: inline-block;
  width: 1em;
  height: 1em;

  &.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
