@charset 'UTF-8';
@import '../../globals';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: modal
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------

/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/slab/css/odo.css?pzfjb4 ; media=all */
@media all{
*,:after,:before{border:0 solid #dde0e2;}
input::-webkit-input-placeholder{color:inherit;opacity:.5;}
input:-ms-input-placeholder{color:inherit;opacity:.5;}
input::-ms-input-placeholder{color:inherit;opacity:.5;}
input::placeholder{color:inherit;opacity:.5;}
button{cursor:pointer;}
input::-webkit-input-placeholder{color:#91969b;font-weight:400;opacity:1;}
input:-ms-input-placeholder{color:#91969b;font-weight:400;opacity:1;}
input::-ms-input-placeholder{color:#91969b;font-weight:400;opacity:1;}
input::placeholder{color:#91969b;font-weight:400;opacity:1;}
}
/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/style.css?pzfjb4 ; media=all */
@media all{
*,::after,::before{background-repeat:no-repeat;box-sizing:inherit;}
::after,::before{text-decoration:inherit;vertical-align:inherit;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
button,input{margin:0;}
button,input{background-color:transparent;color:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;}
button::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring{outline:1px dotted ButtonText;}
[tabindex],a,button,input{touch-action:manipulation;}
.overflow-visible{overflow:visible!important;}
.p-t-10{padding-top:1rem!important;}
.link,a{color:#0050a9;cursor:pointer;text-decoration:none;}
.link:hover,a:hover{color:#008cff;text-decoration:underline;}
.link:visited,a:visited{color:#0050a9;}
.link:active,a:active{color:#0050a9;}
h3{font-family:"Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;color:#414b50;font-variant:none;font-weight:700;width:100%;}
h3{font-size:1.28571rem;line-height:1.333333;}
.icon{font-family:icomoon!important;color:inherit;font-size:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-before-location:before{color:$color-text;}
.icon-long-arrow-left:before{content:"\f177";}
ul{margin-left:1em;padding-left:12px;}
ul{list-style-type:disc;}
input{cursor:pointer;}
input[type=text]{background-color:#fff;margin-bottom:.8571428571rem;position:relative;width:100%;height:2.85714em;font-size:1rem;font-family:"Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;line-height:1.5;font-weight:400;padding-left:.5714285714rem;color:#414b50;cursor:text;border:#dde0e2 1px solid;border-radius:4px;}
@media (min-width:640px){
input[type=text]{height:40px;border-radius:2px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px){
input[type=text]{font-size:16px;}
}
input[type=text]::-webkit-input-placeholder{color:#91969b;}
input[type=text]::-ms-input-placeholder{color:#91969b;}
input[type=text]::placeholder{color:#91969b;}
input[type=text]::-ms-clear{display:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
input{font-size:16px;}
}
.button{cursor:pointer;display:flex;justify-content:center;align-items:center;width:100%;height:2.85714em;border:#dde0e2 solid 2px;border-radius:4px;font-family:"Helvetica Neue",Helvetica,Roboto,Noto,Arial,sans-serif;font-size:1rem;letter-spacing:.01em;text-transform:capitalize;text-align:center;}
.button{display:inline-block;}
.button--style-2{font-weight:700;}
.button--filled{background-color:#0050a9;color:#fff;border:none;}
.button--filled:hover{background-color:#003e83;}
.button--secondary{background-color:#dde0e2;color:#0050a9;border:none;}
.button--secondary:hover{background-color:#c8cdd0;}
.icon-button{color:#fff;font-size:1rem;background-color:#008cff;border-radius:20px;padding:3px;width:20px;height:20px;cursor:pointer;}
.link,a{color:#0050a9;cursor:pointer;text-decoration:none;}
.link:hover,a:hover{color:#008cff;text-decoration:underline;}
.link:visited,a:visited{color:#0050a9;}
.link:active,a:active{color:#0050a9;}
.link,a{color:#0050a9;cursor:pointer;text-decoration:none;}
.link:hover,a:hover{color:#008cff;text-decoration:underline;}
.link:visited,a:visited{color:#0050a9;}
.link:active,a:active{color:#0050a9;}
.input-group{position:relative;}
.input-group::after{content:"";clear:both;display:table;}
.location-autocomplete .icon{position:absolute;top:50%;left:1.5rem;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#0050a9;}
.location-autocomplete .clearspan{position:absolute;right:10px;top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:#0050a9;z-index:1;}
.location-autocomplete input[type=text]{margin-bottom:0;padding-left:2.5rem;margin-top:0;width:100%;}
.location-autocomplete input[type=text]::-ms-clear{display:none;}
.location-autocomplete .input-wrapper{position:relative;}
.location-autocomplete .suggestions{display:block;position:absolute;width:100vw;margin:0;background:#fff;left:auto;height:auto;box-shadow:0 2px 12px 0 rgba(0,0,0,.25);padding-bottom:1rem;z-index:500;list-style:none;list-style-type:none;}
.location-autocomplete .suggestions::after{content:"";clear:both;display:table;}
@media (min-width:640px){
.location-autocomplete .suggestions{position:absolute;left:auto;box-shadow:0 2px 12px 0 rgba(0,0,0,.25);width:100%;height:auto;}
}
.homepage-cta__link{height:24px;width:236px;color:#0050a9!important;font-size:13px;font-weight:700;line-height:24px;margin-bottom:16px;}
.homepage-cta__link .icon{-webkit-transform:rotate(180deg) translateY(-1px);transform:rotate(180deg) translateY(-1px);display:inline-block;color:#f99222;font-size:13px;margin-left:4px;}
.modal{position:fixed;top:0;height:100vh;left:0;bottom:0;right:0;z-index:10002;overflow-y:scroll;}
.modal__background{background-color:rgba(65,75,80,.8);position:fixed;top:0;left:0;bottom:0;right:0;}
.modal__content{display:block;height:auto;width:100%;max-width:800px;min-height:50px;background:#fff;border:1px solid #d3d3d3;box-shadow:10px 10px 5px rgba(0,0,0,.1);border-radius:4px;}
@media (min-width:640px){
.modal__content{display:flex;flex-direction:column;width:80%;height:auto;}
}
@media (min-width:1024px){
.modal__content{width:70%;height:auto;}
}
@media (min-width:1440px){
.modal__content{max-width:1000px;}
}
.modal__content .close-icon{position:absolute;right:12px;top:12px;z-index:1;}
.modal__content .close-icon i:before{content:"\e5cd";}
.modal__content--center{top:0;left:0;-webkit-transform:translate(0,0);transform:translate(0,0);height:100%;width:100%;}
@media (min-width:640px){
.modal__content--center{position:fixed;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:auto;max-height:100vh;}
}
@media (min-width:1024px){
.modal__content--center{max-height:85vh;}
}
@media (min-width:1440px){
.modal__content--center{max-height:83vh;}
}
.modal__content--small{width:100%;max-width:none;}
@media (min-width:1024px){
.modal__content--small{width:50%;max-width:480px;}
}
@media (min-width:1024px){
.modal__content--small{width:80%;}
}
@media (min-width:640px){
.modal__content--small{width:90%;}
}
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
.modal .modal__content{height:100%;}
}
.modal-framed{height:80vh;}
.modal-framed.height-auto{height:auto;}
.modal-framed.height-auto .modal-framed__main{height:auto;}
.modal-framed__header{height:92px;border-bottom:1px solid #dde0e2;padding:20px 15px;}
.modal-framed__header h3{margin:0;}
.modal-framed__header p{margin-bottom:0;}
.modal-framed__main{height:calc((80vh - 2px) - (92px + 71px));background-color:#f9f9f9;overflow:auto;}
.modal-framed__footer{height:71px;border-top:1px solid #dde0e2;display:flex;align-items:center;justify-content:flex-end;}
.modal-framed__footer .button{width:150px;margin-right:15px;}
.modal-framed__content{display:inline-block;padding:20px;}
:focus{outline:0;}
}
/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/vue/css/vendor.css?pzfjb4 ; media=all */
@media all{
input{cursor:pointer;}
input[type=text]{color:#414b50;cursor:text;font-size:14px;font-weight:400;line-height:1.5;margin-bottom:12px;padding-left:8px;position:relative;}
@media screen and (max-device-width:768px){
input[type=text]{font-size:16px;}
}
input[type=text]::-webkit-input-placeholder{color:#91969b;}
input[type=text]:-ms-input-placeholder{color:#91969b;}
input[type=text]::-ms-input-placeholder{color:#91969b;}
input[type=text]::placeholder{color:#91969b;}
}
/*! CSS Used from: https://dev2.unitedrentals.com/themes/custom/unitedrentals/dist/vue/css/app.css?pzfjb4 ; media=all */
@media all{
.icon{transition:transform .5s ease;}
}
/*! CSS Used from: Embedded */
.modal-framed__content{width:100%;}
.location-autocomplete.input-group.location-modal{width:100%;}
@media (min-width: 640px){
.location-autocomplete.input-group.location-modal{width:65%;}
}
