@charset 'UTF-8';
@import '../../globals';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: object listing actions
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------

/*! CSS Used from: https://unitedrentals.docksal/core/assets/vendor/normalize-css/normalize.css?q05eji ; media=all */
@media all{
a{background-color:transparent;}
a:active,a:hover{outline:0;}
}
/*! CSS Used from: https://unitedrentals.docksal/themes/custom/urone/css/libraries/theme-crossover/equipment-listing.css?q05eji ; media=all */
@media all{
@media all{
*,:after,:before{border:0 solid #dde0e2;}
}
@media all{
*,::after,::before{background-repeat:no-repeat;-webkit-box-sizing:inherit;box-sizing:inherit;}
::after,::before{text-decoration:inherit;vertical-align:inherit;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
.icon{font-family:icomoon!important;color:inherit;font-size:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-print:before{content:"\e907";}
.icon-envelope-o:before{content:"\f003";}
}
@media all{
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
}
@media all{
.object_listing__actions__sub{display:-webkit-box;display:-ms-flexbox;display:flex;width:128px;}
.object_listing__actions__sub a{text-decoration:none;display:inline;}
}
@media all and (min-width: 640px){
.object_listing__actions__sub a{display:-webkit-box;display:-ms-flexbox;display:flex;}
}
@media all{
.object_listing__actions__sub .icon{color:#0050a9;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin:13px;}
.object_listing__actions__sub :hover{cursor:pointer;}
}
@media all{
:focus{outline:0;}
}
@media all{
.icon{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease, -webkit-transform .5s ease;}
}
}
/*! CSS Used from: https://unitedrentals.docksal/themes/custom/urone/css/libraries/theme-crossover/modal.css?q05eji ; media=all */
@media all{
@media all{
*,:after,:before{border:0 solid #dde0e2;}
}
@media all{
*,::after,::before{background-repeat:no-repeat;-webkit-box-sizing:inherit;box-sizing:inherit;}
::after,::before{text-decoration:inherit;vertical-align:inherit;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
.icon{font-family:icomoon!important;color:inherit;font-size:inherit;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
}
@media all{
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
a{color:#0050a9;cursor:pointer;text-decoration:none;}
a:hover{color:#008cff;text-decoration:underline;}
a:visited{color:#0050a9;}
a:active{color:#0050a9;}
}
@media all{
:focus{outline:0;}
}
@media all{
.icon{-webkit-transition:-webkit-transform .5s ease;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease, -webkit-transform .5s ease;}
}
}
/*! CSS Used from: https://unitedrentals.docksal/themes/custom/urone/css/libraries/library/favorites.css?q05eji ; media=all */
@media all{
.action-unflag a::before{font-family:"themeIcons";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:normal;speak:none;text-decoration:none;text-transform:none;}
.flag{min-height:1.42857rem;position:relative;text-align:right;}
.flag a{position:relative;z-index:5;}
.action-unflag a::before{content:"";font-size:1.14286rem;margin-right:0.28571em;margin:0;}
@media (min-width: 1024px){
.action-unflag a::before{font-size:1.71429rem;}
}
}
/*! CSS Used from: https://unitedrentals.docksal/themes/custom/urone/css/main.css?q05eji ; media=all */
@media all{
*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit;}
::-moz-selection{background:#008CFF;color:#FFFFFF;}
::selection{background:#008CFF;color:#FFFFFF;}
a{text-decoration:none;color:#0050A9;-webkit-transition:color 300ms ease-in-out;transition:color 300ms ease-in-out;}
a:hover,a:active,a:focus{color:#008CFF;text-decoration:underline;}
a:visited{color:#0050A9;outline:none;}
div:focus{-webkit-box-shadow:0 0;box-shadow:0 0;outline:none;}
*:not(.region-content):focus{outline:0.28571rem solid rgba(0, 140, 255, 0.5);outline-offset:0.28571rem;}
}
/*! CSS Used from: Embedded */
.icon{transition:transform 0.5s ease;}
/*! CSS Used fontfaces */
@font-face{font-family:"icomoon";font-style:normal;font-weight:normal;src:url("https://unitedrentals.docksal/themes/custom/urone/fonts/icomoon/icomoon.eot?l697v4");src:url("https://unitedrentals.docksal/themes/custom/urone/fonts/icomoon/icomoon.eot?l697v4#iefix") format("embedded-opentype"), url("https://unitedrentals.docksal/themes/custom/urone/fonts/icomoon/icomoon.ttf?l697v4") format("truetype"), url("https://unitedrentals.docksal/themes/custom/urone/fonts/icomoon/icomoon.woff?l697v4") format("woff"), url("https://unitedrentals.docksal/themes/custom/urone/fonts/icomoon/icomoon.svg?l697v4#icomoon") format("svg");}
@font-face{font-family:'themeIcons';src:url("https://unitedrentals.docksal/themes/custom/urone/fonts/icons/themeIcons.eot");src:url("https://unitedrentals.docksal/themes/custom/urone/fonts/icons/themeIcons.ttf") format("truetype"), url("https://unitedrentals.docksal/themes/custom/urone/fonts/icons/themeIcons.eot#iefix") format("eot"), url("https://unitedrentals.docksal/themes/custom/urone/fonts/icons/themeIcons.woff") format("woff");}
