@charset 'UTF-8';
@import '../../globals';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: UR Calendar
// Vue styles brought into new theme
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------

/*! CSS Used from: https://stage.unitedrentals.com/sites/default/files/css/css_Xn6YVTCKf4qGuPrh_YngCP1MmqQR5vzQVGHv6ZHhz0A.css?q0w02q ; media=all */
@media all{
  *,:after,:before{border:0 solid #dde0e2;}
  button{cursor:pointer;}
  table{border-collapse:collapse;}
  *,::after,::before{background-repeat:no-repeat;box-sizing:inherit;}
  ::after,::before{text-decoration:inherit;vertical-align:inherit;}
  abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;}
  ::selection{background-color:#b3d4fc;color:#000;text-shadow:none;}
  table{border-collapse:collapse;}
  button,select{margin:0;}
  button,select{background-color:transparent;color:inherit;font-size:inherit;line-height:inherit;}
  button{overflow:visible;}
  button,select{text-transform:none;}
  button,html [type=button]{-webkit-appearance:button;}
  [type=button]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
  [type=button]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
  [tabindex],button,select{touch-action:manipulation;}
  .pika-single{background:#fff;padding:1rem;border:1px solid #dde0e2;margin-top:10px;border-radius:2px;width:299px;}
  @media (max-width:640px){
    .pika-single{position:fixed!important;top:0!important;left:2.5%!important;right:2.5!important;width:95%;}
  }
  @media (min-width:1024px){
    .pika-single{width:327px;}
  }
  .pika-single .pika-lendar .pika-select{display:none;}
  .pika-single.is-hidden {display: none;}
  .pika-single .pika-lendar .pika-title{position:relative;}
  .pika-single .pika-lendar .pika-label{color:#91969b;margin-bottom:5px;}
  .pika-single .pika-lendar .pika-label+.pika-label{display:inline;font-size:1.57143rem;color:#0050a9;font-weight:600;}
  .pika-single .pika-lendar .pika-prev{border:none;position:absolute;bottom:0;right:60px;}
  .pika-single .pika-lendar .pika-next{border:none;position:absolute;bottom:0;right:15px;}
  .pika-single .pika-lendar .pika-table{height:200px;width:275px;margin-top:15px;margin-left:5px;}
  .pika-single .pika-lendar .pika-table tr{height:35px;}
  .pika-single .pika-lendar .pika-table .pika-button{border:none;}
  .pika-single .pika-lendar .pika-table th abbr{font-size:1rem;color:#91969b;text-transform:uppercase;text-decoration:none;}
  .pika-single .pika-lendar .pika-table td .pika-button{color:#0050a9;float:right;position:relative;right:20%;}
  .pika-single .pika-lendar .pika-table .is-disabled .pika-button,.pika-single .pika-lendar .pika-table .is-outside-current-month .pika-button{color:#dde0e2;}
  .pika-single{z-index:3141593;}
  :focus{outline:0;}
}
