@charset 'UTF-8';

// -----------------------------------------------------------------------------
// Libraries/Theme Crossover: legacy-tailwind
// Tailwind classes used in workplace. (grabbed as needed from ur_legacy_styles.css)
//
// sass-lint:disable-all
// -----------------------------------------------------------------------------


.display-block {
  display: block!important
}

.display-flex {
  display: flex!important
}

.display-inline {
  display: inline!important
}

.display-inline-block {
  display: inline-block!important
}

.display-none {
  display: none!important
}

.display-grid {
  display: grid!important
}

.w-0 {
  width: 0%!important
}

.w-10 {
  width: 10%!important
}

.w-20 {
  width: 20%!important
}

.w-25 {
  width: 25%!important
}

.w-33 {
  width: 33.33333%!important
}

.w-50 {
  width: 50%!important
}

.w-66 {
  width: 66.66667%!important
}

.w-75 {
  width: 75%!important
}

.w-100 {
  width: 100%!important
}

.w-auto {
  width: auto!important
}

.overflow-visible {
  overflow: visible!important
}

.overflow-hidden {
  overflow: hidden!important
}

.overflow-scroll {
  overflow: scroll!important
}

.overflow-auto {
  overflow: auto!important
}

.flex {
  display: flex!important;
  flex-direction: column!important
}

.m-0 {
  margin-left: 0!important;
  margin-right: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important
}

.p-0 {
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important
}

.m-l-0 {
  margin-left: 0!important
}

.p-l-0 {
  padding-left: 0!important
}

.m-r-0 {
  margin-right: 0!important
}

.p-r-0 {
  padding-right: 0!important
}

.m-t-0 {
  margin-top: 0!important
}

.p-t-0 {
  padding-top: 0!important
}

.m-b-0 {
  margin-bottom: 0!important
}

.p-b-0 {
  padding-bottom: 0!important
}

.m-x-0 {
  margin-left: 0!important;
  margin-right: 0!important
}

.p-x-0 {
  padding-left: 0!important;
  padding-right: 0!important
}

.m-y-0 {
  margin-top: 0!important;
  margin-bottom: 0!important
}

.p-y-0 {
  padding-top: 0!important;
  padding-bottom: 0!important
}

.m-2 {
  margin-left: .2rem!important;
  margin-right: .2rem!important;
  margin-top: .2rem!important;
  margin-bottom: .2rem!important
}

.p-2 {
  padding-left: .2rem!important;
  padding-right: .2rem!important;
  padding-top: .2rem!important;
  padding-bottom: .2rem!important
}

.m-l-2 {
  margin-left: .2rem!important
}

.p-l-2 {
  padding-left: .2rem!important
}

.m-r-2 {
  margin-right: .2rem!important
}

.p-r-2 {
  padding-right: .2rem!important
}

.m-t-2 {
  margin-top: .2rem!important
}

.p-t-2 {
  padding-top: .2rem!important
}

.m-b-2 {
  margin-bottom: .2rem!important
}

.p-b-2 {
  padding-bottom: .2rem!important
}

.m-x-2 {
  margin-left: .2rem!important;
  margin-right: .2rem!important
}

.p-x-2 {
  padding-left: .2rem!important;
  padding-right: .2rem!important
}

.m-y-2 {
  margin-top: .2rem!important;
  margin-bottom: .2rem!important
}

.p-y-2 {
  padding-top: .2rem!important;
  padding-bottom: .2rem!important
}

.m-5 {
  margin-left: .5rem!important;
  margin-right: .5rem!important;
  margin-top: .5rem!important;
  margin-bottom: .5rem!important
}

.p-5 {
  padding-left: .5rem!important;
  padding-right: .5rem!important;
  padding-top: .5rem!important;
  padding-bottom: .5rem!important
}

.m-l-5 {
  margin-left: .5rem!important
}

.p-l-5 {
  padding-left: .5rem!important
}

.m-r-5 {
  margin-right: .5rem!important
}

.p-r-5 {
  padding-right: .5rem!important
}

.m-t-5 {
  margin-top: .5rem!important
}

.p-t-5 {
  padding-top: .5rem!important
}

.m-b-5 {
  margin-bottom: .5rem!important
}

.p-b-5 {
  padding-bottom: .5rem!important
}

.m-x-5 {
  margin-left: .5rem!important;
  margin-right: .5rem!important
}

.p-x-5 {
  padding-left: .5rem!important;
  padding-right: .5rem!important
}

.m-y-5 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important
}

.p-y-5 {
  padding-top: .5rem!important;
  padding-bottom: .5rem!important
}

.m-10 {
  margin-left: 1rem!important;
  margin-right: 1rem!important;
  margin-top: 1rem!important;
  margin-bottom: 1rem!important
}

.p-10 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important
}

.m-l-10 {
  margin-left: 1rem!important
}

.p-l-10 {
  padding-left: 1rem!important
}

.m-r-10 {
  margin-right: 1rem!important
}

.p-r-10 {
  padding-right: 1rem!important
}

.m-t-10 {
  margin-top: 1rem!important
}

.p-t-10 {
  padding-top: 1rem!important
}

.m-b-10,
.saved-for-later {
  margin-bottom: 1rem!important
}

.p-b-10 {
  padding-bottom: 1rem!important
}

.m-x-10 {
  margin-left: 1rem!important;
  margin-right: 1rem!important
}

.p-x-10 {
  padding-left: 1rem!important;
  padding-right: 1rem!important
}

.m-y-10 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important
}

.p-y-10 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important
}

.m-20 {
  margin-left: 2rem!important;
  margin-right: 2rem!important;
  margin-top: 2rem!important;
  margin-bottom: 2rem!important
}

.p-20 {
  padding-left: 2rem!important;
  padding-right: 2rem!important;
  padding-top: 2rem!important;
  padding-bottom: 2rem!important
}

.m-l-20 {
  margin-left: 2rem!important
}

.p-l-20 {
  padding-left: 2rem!important
}

.m-r-20 {
  margin-right: 2rem!important
}

.p-r-20 {
  padding-right: 2rem!important
}

.m-t-20 {
  margin-top: 2rem!important
}

.p-t-20 {
  padding-top: 2rem!important
}

.m-b-20 {
  margin-bottom: 2rem!important
}

.p-b-20 {
  padding-bottom: 2rem!important
}

.m-x-20 {
  margin-left: 2rem!important;
  margin-right: 2rem!important
}

.p-x-20 {
  padding-left: 2rem!important;
  padding-right: 2rem!important
}

.m-y-20 {
  margin-top: 2rem!important;
  margin-bottom: 2rem!important
}

.p-y-20 {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important
}

.m-30 {
  margin-left: 3rem!important;
  margin-right: 3rem!important;
  margin-top: 3rem!important;
  margin-bottom: 3rem!important
}

.p-30 {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  padding-top: 3rem!important;
  padding-bottom: 3rem!important
}

.m-l-30 {
  margin-left: 3rem!important
}

.p-l-30 {
  padding-left: 3rem!important
}

.m-r-30 {
  margin-right: 3rem!important
}

.p-r-30 {
  padding-right: 3rem!important
}

.m-t-30 {
  margin-top: 3rem!important
}

.p-t-30 {
  padding-top: 3rem!important
}

.m-b-30 {
  margin-bottom: 3rem!important
}

.p-b-30 {
  padding-bottom: 3rem!important
}

.m-x-30 {
  margin-left: 3rem!important;
  margin-right: 3rem!important
}

.p-x-30 {
  padding-left: 3rem!important;
  padding-right: 3rem!important
}

.m-y-30 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important
}

.p-y-30 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important
}

.m-40 {
  margin-left: 4rem!important;
  margin-right: 4rem!important;
  margin-top: 4rem!important;
  margin-bottom: 4rem!important
}

.p-40 {
  padding-left: 4rem!important;
  padding-right: 4rem!important;
  padding-top: 4rem!important;
  padding-bottom: 4rem!important
}

.m-l-40 {
  margin-left: 4rem!important
}

.p-l-40 {
  padding-left: 4rem!important
}

.m-r-40 {
  margin-right: 4rem!important
}

.p-r-40 {
  padding-right: 4rem!important
}

.m-t-40 {
  margin-top: 4rem!important
}

.p-t-40 {
  padding-top: 4rem!important
}

.m-b-40 {
  margin-bottom: 4rem!important
}

.p-b-40 {
  padding-bottom: 4rem!important
}

.m-x-40 {
  margin-left: 4rem!important;
  margin-right: 4rem!important
}

.p-x-40 {
  padding-left: 4rem!important;
  padding-right: 4rem!important
}

.m-y-40 {
  margin-top: 4rem!important;
  margin-bottom: 4rem!important
}

.p-y-40 {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important
}

.m-60 {
  margin-left: 6rem!important;
  margin-right: 6rem!important;
  margin-top: 6rem!important;
  margin-bottom: 6rem!important
}

.p-60 {
  padding-left: 6rem!important;
  padding-right: 6rem!important;
  padding-top: 6rem!important;
  padding-bottom: 6rem!important
}

.m-l-60 {
  margin-left: 6rem!important
}

.p-l-60 {
  padding-left: 6rem!important
}

.m-r-60 {
  margin-right: 6rem!important
}

.p-r-60 {
  padding-right: 6rem!important
}

.m-t-60 {
  margin-top: 6rem!important
}

.p-t-60 {
  padding-top: 6rem!important
}

.m-b-60 {
  margin-bottom: 6rem!important
}

.p-b-60 {
  padding-bottom: 6rem!important
}

.m-x-60 {
  margin-left: 6rem!important;
  margin-right: 6rem!important
}

.p-x-60 {
  padding-left: 6rem!important;
  padding-right: 6rem!important
}

.m-y-60 {
  margin-top: 6rem!important;
  margin-bottom: 6rem!important
}

.p-y-60 {
  padding-top: 6rem!important;
  padding-bottom: 6rem!important
}

.m-100 {
  margin-left: 10rem!important;
  margin-right: 10rem!important;
  margin-top: 10rem!important;
  margin-bottom: 10rem!important
}

.p-100 {
  padding-left: 10rem!important;
  padding-right: 10rem!important;
  padding-top: 10rem!important;
  padding-bottom: 10rem!important
}

.m-l-100 {
  margin-left: 10rem!important
}

.p-l-100 {
  padding-left: 10rem!important
}

.m-r-100 {
  margin-right: 10rem!important
}

.p-r-100 {
  padding-right: 10rem!important
}

.m-t-100 {
  margin-top: 10rem!important
}

.p-t-100 {
  padding-top: 10rem!important
}

.m-b-100 {
  margin-bottom: 10rem!important
}

.p-b-100 {
  padding-bottom: 10rem!important
}

.m-x-100 {
  margin-left: 10rem!important;
  margin-right: 10rem!important
}

.p-x-100 {
  padding-left: 10rem!important;
  padding-right: 10rem!important
}

.m-y-100 {
  margin-top: 10rem!important;
  margin-bottom: 10rem!important
}

.p-y-100 {
  padding-top: 10rem!important;
  padding-bottom: 10rem!important
}

.align--center {
  align-items: center
}

.justify--right {
  justify-content: flex-end
}

.justify--space-between {
  justify-content: space-between
}

.justify--space-around {
  justify-content: space-around
}

.flex-column {
  display: flex!important;
  flex-direction: column!important
}


.flex-column.flex-gap-0>:not(:last-child) {
  margin-bottom: 0
}

.flex-column.flex-gap-2>:not(:last-child) {
  margin-bottom: .2rem
}

.flex-column.flex-gap-5>:not(:last-child) {
  margin-bottom: .5rem
}

.flex-column.flex-gap-10>:not(:last-child) {
  margin-bottom: 1rem
}

.flex-column.flex-gap-20>:not(:last-child) {
  margin-bottom: 2rem
}

.flex-column.flex-gap-30>:not(:last-child) {
  margin-bottom: 3rem
}

.flex-column.flex-gap-40>:not(:last-child) {
  margin-bottom: 4rem
}

.flex-column.flex-gap-60>:not(:last-child) {
  margin-bottom: 6rem
}

.flex-column.flex-gap-100>:not(:last-child) {
  margin-bottom: 10rem
}


.flex-col-width-5 {
  width: 5%!important
}

.flex-col-width-10 {
  width: 10%!important
}

.flex-col-width-15 {
  width: 15%!important
}

.flex-col-width-20 {
  width: 20%!important
}

.flex-col-width-25 {
  width: 25%!important
}

.flex-col-width-30 {
  width: 30%!important
}

.flex-col-width-35 {
  width: 35%!important
}

.flex-col-width-40 {
  width: 40%!important
}

.flex-col-width-45 {
  width: 45%!important
}

.flex-col-width-50 {
  width: 50%!important
}

.flex-col-width-55 {
  width: 55%!important
}

.flex-col-width-60 {
  width: 60%!important
}

.flex-col-width-65 {
  width: 65%!important
}

.flex-col-width-70 {
  width: 70%!important
}

.flex-col-width-75 {
  width: 75%!important
}

.flex-col-width-80 {
  width: 80%!important
}

.flex-col-width-85 {
  width: 85%!important
}

.flex-col-width-90 {
  width: 90%!important
}

.flex-col-width-95 {
  width: 95%!important
}

.flex-col-width-100 {
  width: 100%!important
}


.flex-row {
  display: flex!important;
  flex-direction: row!important
}

.justify-baseline {
  justify-content: baseline!important
}

.align-baseline {
  align-items: baseline!important
}

.align-baseline:first-child {
  margin-top: 0
}

.justify-self-baseline {
  justify-self: baseline!important
}

.align-self-baseline {
  align-self: baseline!important
}

.justify-center {
  justify-content: center!important
}

.align-center {
  align-items: center!important
}

.align-center:first-child {
  margin-top: 0
}

.justify-self-center {
  justify-self: center!important
}

.align-self-center {
  align-self: center!important
}

.justify-items-center {
  justify-content: center!important
}

.align-items-center {
  align-items: center!important
}

.align-items-center:first-child {
  margin-top: 0
}

.justify-self-items-center {
  justify-self: center!important
}

.align-self-items-center {
  align-self: center!important
}

.justify-end {
  justify-content: flex-end!important
}

.align-end {
  align-items: flex-end!important
}

.align-end:first-child {
  margin-top: 0
}

.justify-self-end {
  justify-self: flex-end!important
}

.align-self-end {
  align-self: flex-end!important
}

.justify-left {
  justify-content: flex-start!important
}

.align-left {
  align-items: flex-start!important;
  margin: 1rem 1rem 0 0
}

.align-left:first-child {
  margin-top: 0
}

.justify-self-left {
  justify-self: flex-start!important
}

.align-self-left {
  align-self: flex-start!important
}

.justify-right {
  justify-content: flex-end!important
}

.align-right {
  align-items: flex-end!important;
  margin: 1rem 0 0 1rem
}

.align-right:first-child {
  margin-top: 0
}

.justify-self-right {
  justify-self: flex-end!important
}

.align-self-right {
  align-self: flex-end!important
}

.justify-safe {
  justify-content: safe!important
}

.align-safe {
  align-items: safe!important
}

.align-safe:first-child {
  margin-top: 0
}

.justify-self-safe {
  justify-self: safe!important
}

.align-self-safe {
  align-self: safe!important
}

.justify-space-around {
  justify-content: space-around!important
}

.align-space-around {
  align-items: space-around!important
}

.align-space-around:first-child {
  margin-top: 0
}

.justify-self-space-around {
  justify-self: space-around!important
}

.align-self-space-around {
  align-self: space-around!important
}

.justify-space-between {
  justify-content: space-between!important
}

.align-space-between {
  align-items: space-between!important
}

.align-space-between:first-child {
  margin-top: 0
}

.justify-self-space-between {
  justify-self: space-between!important
}

.align-self-space-between {
  align-self: space-between!important
}

.justify-start {
  justify-content: flex-start!important
}

.align-start {
  align-items: flex-start!important
}

.align-start:first-child {
  margin-top: 0
}

.justify-self-start {
  justify-self: flex-start!important
}

.align-self-start {
  align-self: flex-start!important
}

.justify-stretch {
  justify-content: stretch!important
}

.align-stretch {
  align-items: stretch!important
}

.align-stretch:first-child {
  margin-top: 0
}

.justify-self-stretch {
  justify-self: stretch!important
}

.align-self-stretch {
  align-self: stretch!important
}

.no-grow {
  flex-grow: 0!important
}

.no-shrink {
  flex-shrink: 0!important
}

.grow {
  flex-grow: 1!important
}

.shrink {
  flex-shrink: 1!important
}

.flex-wrap {
  flex-wrap: wrap!important
}

.flex-nowrap {
  flex-wrap: nowrap!important
}

.pos-absolute {
  position: absolute!important
}

.pos-fixed {
  position: fixed!important
}

.pos-relative {
  position: relative!important
}



.flex-row.flex-gap-0>:not(:last-child) {
  margin-right: 0
}

.flex-row.flex-gap-2>:not(:last-child) {
  margin-right: .2rem
}

.flex-row.flex-gap-5>:not(:last-child) {
  margin-right: .5rem
}

.flex-row.flex-gap-10>:not(:last-child) {
  margin-right: 1rem
}

.flex-row.flex-gap-20>:not(:last-child) {
  margin-right: 2rem
}

.flex-row.flex-gap-30>:not(:last-child) {
  margin-right: 3rem
}

.flex-row.flex-gap-40>:not(:last-child) {
  margin-right: 4rem
}

.flex-row.flex-gap-60>:not(:last-child) {
  margin-right: 6rem
}

.flex-row.flex-gap-100>:not(:last-child) {
  margin-right: 10rem
}

.c-gray {
  color: #91969b!important
}

.fw-lightest {
  font-weight: 100!important
}

.fw-light {
  font-weight: 300!important
}

.fw-normal {
  font-weight: 400!important
}

.fw-bold {
  font-weight: 700!important
}



.border-normal {
  border-left: 1px solid #dde0e2!important;
  border-right: 1px solid #dde0e2!important;
  border-top: 1px solid #dde0e2!important;
  border-bottom: 1px solid #dde0e2!important
}

.border-thick {
  border-left: 2px solid #dde0e2!important;
  border-right: 2px solid #dde0e2!important;
  border-top: 2px solid #dde0e2!important;
  border-bottom: 2px solid #dde0e2!important
}

.border-none {
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  border-bottom: none!important
}

.border-l-normal {
  border-left: 1px solid #dde0e2!important
}

.border-l-thick {
  border-left: 2px solid #dde0e2!important
}

.border-l-none {
  border-left: none!important
}

.border-r-normal {
  border-right: 1px solid #dde0e2!important
}

.border-r-thick {
  border-right: 2px solid #dde0e2!important
}

.border-r-none {
  border-right: none!important
}

.border-t-normal {
  border-top: 1px solid #dde0e2!important
}

.border-t-thick {
  border-top: 2px solid #dde0e2!important
}

.border-t-none {
  border-top: none!important
}

.border-b-normal {
  border-bottom: 1px solid #dde0e2!important
}

.border-b-thick {
  border-bottom: 2px solid #dde0e2!important
}

.border-b-none {
  border-bottom: none!important
}

.border-x-normal {
  border-left: 1px solid #dde0e2!important;
  border-right: 1px solid #dde0e2!important
}

.border-x-thick {
  border-left: 2px solid #dde0e2!important;
  border-right: 2px solid #dde0e2!important
}

.border-x-none {
  border-left: none!important;
  border-right: none!important
}

.border-y-normal {
  border-top: 1px solid #dde0e2!important;
  border-bottom: 1px solid #dde0e2!important
}

.border-y-thick {
  border-top: 2px solid #dde0e2!important;
  border-bottom: 2px solid #dde0e2!important
}

.border-y-none {
  border-top: none!important;
  border-bottom: none!important
}

.c-blue {
  color: #0050a9!important
}

.bgc-blue {
  background-color: #0050a9!important
}

.border-color-blue {
  border-color: #0050a9!important
}

.c-blue-lowlight {
  color: #002f55!important
}

.bgc-blue-lowlight {
  background-color: #002f55!important
}

.border-color-blue-lowlight {
  border-color: #002f55!important
}

.c-blue-highlight {
  color: #008cff!important
}

.bgc-blue-highlight {
  background-color: #008cff!important
}

.border-color-blue-highlight {
  border-color: #008cff!important
}

.c-blue-subtle {
  color: #edf8ff!important
}

.bgc-blue-subtle {
  background-color: #edf8ff!important
}

.border-color-blue-subtle {
  border-color: #edf8ff!important
}

.c-border {
  color: #dde0e2!important
}

.bgc-border {
  background-color: #dde0e2!important
}

.border-color-border {
  border-color: #dde0e2!important
}

.c-orange {
  color: #f99222!important
}

.bgc-orange {
  background-color: #f99222!important
}

.border-color-orange {
  border-color: #f99222!important
}

.c-orange-lowlight {
  color: #b03712!important
}

.bgc-orange-lowlight {
  background-color: #b03712!important
}

.border-color-orange-lowlight {
  border-color: #b03712!important
}

.c-orange-highlight {
  color: #ffcf3d!important
}

.bgc-orange-highlight {
  background-color: #ffcf3d!important
}

.border-color-orange-highlight {
  border-color: #ffcf3d!important
}

.c-orange-subtle {
  color: #fff2ec!important
}

.bgc-orange-subtle {
  background-color: #fff2ec!important
}

.border-color-orange-subtle {
  border-color: #fff2ec!important
}

.c-bright-red {
  color: #e10000!important
}

.bgc-bright-red {
  background-color: #e10000!important
}

.border-color-bright-red {
  border-color: #e10000!important
}

.c-bright-red-lowlight {
  color: #840000!important
}

.bgc-bright-red-lowlight {
  background-color: #840000!important
}

.border-color-bright-red-lowlight {
  border-color: #840000!important
}

.c-bright-red-highlight {
  color: #ff4f4f!important
}

.bgc-bright-red-highlight {
  background-color: #ff4f4f!important
}

.border-color-bright-red-highlight {
  border-color: #ff4f4f!important
}

.c-bright-red-subtle {
  color: #ffecec!important
}

.bgc-bright-red-subtle {
  background-color: #ffecec!important
}

.border-color-bright-red-subtle {
  border-color: #ffecec!important
}

.c-white {
  color: #fff!important
}

.bgc-white {
  background-color: #fff!important
}

.border-color-white {
  border-color: #fff!important
}

.c-gray-lightest {
  color: #f9f9f9!important
}

.bgc-gray-lightest {
  background-color: #f9f9f9!important
}

.border-color-gray-lightest {
  border-color: #f9f9f9!important
}

.c-near-white {
  color: #f9f9f9!important
}

.bgc-near-white {
  background-color: #f9f9f9!important
}

.border-color-near-white {
  border-color: #f9f9f9!important
}

.c-gray-light {
  color: #dde0e2!important
}

.bgc-gray-light {
  background-color: #dde0e2!important
}

.border-color-gray-light {
  border-color: #dde0e2!important
}

.c-gray {
  color: #91969b!important
}

.bgc-gray {
  background-color: #91969b!important
}

.border-color-gray {
  border-color: #91969b!important
}

.c-united-gray {
  color: #91969b!important
}

.bgc-united-gray {
  background-color: #91969b!important
}

.border-color-united-gray {
  border-color: #91969b!important
}

.c-gray-dark {
  color: #414b50!important
}

.bgc-gray-dark {
  background-color: #414b50!important
}

.border-color-gray-dark {
  border-color: #414b50!important
}

.c-gray-darker {
  color: #414b50!important
}

.bgc-gray-darker {
  background-color: #414b50!important
}

.border-color-gray-darker {
  border-color: #414b50!important
}

.c-gray-darkest {
  color: #161718!important
}

.bgc-gray-darkest {
  background-color: #161718!important
}

.border-color-gray-darkest {
  border-color: #161718!important
}

.c-green {
  color: #48bd00!important
}

.bgc-green {
  background-color: #48bd00!important
}

.border-color-green {
  border-color: #48bd00!important
}

.c-green-highlight {
  color: #237000!important
}

.bgc-green-highlight {
  background-color: #237000!important
}

.border-color-green-highlight {
  border-color: #237000!important
}

.c-black {
  color: #000!important
}

.bgc-black {
  background-color: #000!important
}

.border-color-black {
  border-color: #000!important
}

.c-transparent {
  color: transparent!important
}

.bgc-transparent {
  background-color: transparent!important
}

.border-color-transparent {
  border-color: transparent!important
}

.cursor-auto {
  cursor: auto
}

.cursor-hover-auto:hover {
  cursor: auto
}

.cursor-default {
  cursor: default
}

.cursor-hover-default:hover {
  cursor: default
}

.cursor-none {
  cursor: none
}

.cursor-hover-none:hover {
  cursor: none
}

.cursor-help {
  cursor: help
}

.cursor-hover-help:hover {
  cursor: help
}

.cursor-pointer {
  cursor: pointer
}

.cursor-hover-pointer:hover {
  cursor: pointer
}

.cursor-wait {
  cursor: wait
}

.cursor-hover-wait:hover {
  cursor: wait
}

.cursor-text {
  cursor: text
}

.cursor-hover-text:hover {
  cursor: text
}

.cursor-move {
  cursor: move
}

.cursor-hover-move:hover {
  cursor: move
}

.cursor-not-allowed {
  cursor: not-allowed
}

.cursor-hover-not-allowed:hover {
  cursor: not-allowed
}

.cursor-col-resize {
  cursor: col-resize
}

.cursor-hover-col-resize:hover {
  cursor: col-resize
}

.cursor-row-resize {
  cursor: row-resize
}

.cursor-hover-row-resize:hover {
  cursor: row-resize
}

.cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in
}

.cursor-hover-zoom-in:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in
}

.cursor-zoom-out {
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

.cursor-hover-zoom-out:hover {
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

.cursor-grab {
  cursor: -webkit-grab;
  cursor: grab
}

.cursor-hover-grab:hover {
  cursor: -webkit-grab;
  cursor: grab
}

.cursor-grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.cursor-hover-grabbing:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

.cursor-n-resize {
  cursor: n-resize
}

.cursor-hover-n-resize:hover {
  cursor: n-resize
}

.cursor-e-resize {
  cursor: e-resize
}

.cursor-hover-e-resize:hover {
  cursor: e-resize
}

.cursor-s-resize {
  cursor: s-resize
}

.cursor-hover-s-resize:hover {
  cursor: s-resize
}

.cursor-w-resize {
  cursor: w-resize
}

.cursor-hover-w-resize:hover {
  cursor: w-resize
}

.fs-base {
  font-size: 1rem!important
}

.fs-large {
  font-size: 1.14286rem!important
}

.fs-plh {
  font-size: 1.71429rem!important
}

.fs-small {
  font-size: .85714rem!important
}

.fs-xsmall {
  font-size: .71429rem!important
}

.fs-display1 {
  font-size: 3.14286rem!important
}

.fs-h1 {
  font-size: 2rem!important
}

.fs-h2 {
  font-size: 1.57143rem!important
}

.fs-h3 {
  font-size: 1.28571rem!important
}

.fs-h4 {
  font-size: 1.14286rem!important
}

.fs-h5 {
  font-size: 1rem!important
}

.fs-h6 {
  font-size: .85714rem!important
}


.header-display-1 {
  font-size: 3.14286rem;
  line-height: 1.0909;
  margin: 0
}

.header-display-1--thin {
  font-weight: 100
}

.heading-1,
.marketing-subcategory-hero .content .hero-title,
h1 {
  font-size: 2rem;
  line-height: 1.28571
}

.heading-1--thin {
  font-weight: 100
}

.heading-2,
.heading-2__link,
.marketing-subcategory-hero .content .rightcol .content .telephone,
h2 {
  font-size: 1.57143rem;
  line-height: 1.090909
}

.heading-2--thin,
.heading-2__link--thin {
  font-weight: 300
}

.heading-2--no-space {
  margin-bottom: 0
}

.heading-3,
h3 {
  font-size: 1.28571rem;
  line-height: 1.333333
}

.heading-3--thin {
  font-weight: 300
}

.heading-3--centered {
  text-align: center
}

.heading-4,
.heading-4__link,
.intro-content.intro-content-with-subnav .col-right h3,
.platform-account-search-small label,
h4 {
  font-size: 1.14286rem;
  line-height: 1.25
}

.heading-5,
h5 {
  font-size: 1rem;
  line-height: 1.4285714286
}

.heading-6,
.heading-6__link,
.marketing-subcategory-hero .content .hero-heading,
h6 {
  font-size: .85714rem;
  line-height: 1.333333
}

.heading-6--thin,
.heading-6__link--thin {
  font-weight: 300
}

.heading-6--centered,
.heading-6__link--centered {
  text-align: center
}


.column--half {
  flex-basis: 50%;
  max-width: 50%
}

.column--third {
  flex-basis: 33.33333%;
  max-width: 33.33333%
}

.column--two-thirds {
  flex-basis: 66.66667%;
  max-width: 66.66667%
}

.column--three-quarters {
  padding: 0 4px;
  flex: 1 0 auto;
  max-width: 100%
}

.column--three-quarters--full-width {
  flex-basis: 100%;
  padding: 0 4px
}

.column--three-quarters:first-child {
  padding-left: 0
}

.column--three-quarters:last-child {
  padding-right: 0
}

@media (min-width:640px) {
  .column--three-quarters {
    padding: 0 8px
  }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
  .column--three-quarters {
    flex: 1 0 0%
  }
}

@media (min-width:640px) {
  .column--three-quarters {
    flex-basis: 75%;
    max-width: 75%
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}


.font-weight--bold {
  font-weight: 700
}

.font-color--black {
  color: #000
}

.text-transform--uppercase {
  text-transform: uppercase
}

.margin--none {
  margin: 0
}

.word-break {
  word-break: break-word!important
}


.mt-20 {
  margin-top: 20px
}

.ml-onesixth {
  margin-left: 16.67%
}
