{#
/**
 * Available variables:
 * - display_1_modifiers - array of modifiers to add to the base classname
 * - display_1_blockname - blockname prepended to the base classname
 * - display_1_url - (optional) the url the heading should poing to
 * - display_1 - the content of the heading (typically text)
 */
#}
<p class="header-display-1{% for modifier in display_1_modifiers %} header-display-1--{{ modifier }}{% endfor %}{% if diplay_1_blockname %} {{ heading_1_blockname }}__header-display-1{% endif %}">
  {% if heading_1_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_blockname": "display-1",
        "link_url": display_1_url,
        "link_content": display_1,
      }
    %}
  {% else %}
    {{ display_1 }}
  {% endif %}
</p>
