
$input_height_smaller: 1.5em; //24px
$input_font_smaller: .938em; //15px
.search-by-term {
  position: relative;
  margin: 1.5rem 0;
  z-index: 0;

  &::before {
    @extend .icon;
    content: "\f002";
    position: absolute;
    height: $input_font_smaller;
    line-height: $input_height_medium;
    text-align: center;
    width: $input_height_medium;
    top: -2px;
    z-index: 1;
  }

  input[type="text"]  {
    margin: 0;
    padding-left: 2rem;
    line-height: $input_height_medium;
    font-size: $input_font_smaller;
    height: $input_height_medium;
  }

  input::-ms-clear {
    width: 0;
    height: 0;
  }

  .results {
    border: $color-border $border-light solid;
    border-top-width: 0px;
    display: none;
    overflow: auto;
    padding: 11px 11px 11px $input_height_medium;
    background: $color-white;
    position: absolute;
    width: 100%;
    box-shadow: $shadow-light;
    flex-direction: column;
    z-index: 999;
  }

  .result-wrapper {
    margin-bottom: 8px;

    a {
      color: $color-grey-69;
      text-decoration: none;
      font-weight: 400;
    }

    .active-search-text {
      font-weight: 600;
      color: $color-blue;
    }
  }

  &.show-results {
    input {
      outline: 0;
      border-bottom: 0;
      box-shadow: $shadow-light;
    }

    .results {
      display: flex;
    }

    &::after {
      content: "\21B3";
      position: absolute;
      z-index: 1;
      right: 0;
      -ms-right: 20px;
      top: 0;
      height: $input_font_smaller;
      line-height: $input_height_medium;
      text-align: center;
      width: $input_height_medium;
    }
  }

  &.show-no-results {

    .results {
      display: flex;
      padding-bottom: 1.25rem;
    }
  }
}

/*
---
name: Contextual Search
category: Organisms
---
Contextual Search will refine results by querying data within current results. Based on the search result group selected, the list of products will be further refined.
```contextual-search.html
<div class="navigation-panel">
    <div class="search-by-term show-results"><input type="text" placeholder="Search within...">
        <div class="results">
            <!---->
            <div class="result-wrapper"><a href="#"><span class="active-search-text">15</span>0 (2)</a></div>
            <div class="result-wrapper"><a href="#"><span class="active-search-text">15</span>-20 (1)</a></div>
            <div class="result-wrapper"><a href="#"><span class="active-search-text">15</span>0hp (1)</a></div>
            <div class="result-wrapper"><a href="#">125-<span class="active-search-text">15</span>0 (1)</a></div>
            <div class="result-wrapper"><a href="#">100-<span class="active-search-text">15</span>0 (1)</a></div>
        </div>
    </div>
    <div class="navigation-panel__label">
        <div class="container-inline">
            <h5 class="heading-5">Navigation</h5>
            <p class="collapse__paragraph link">Collapse</p>
        </div>
    </div>
    <div class="navigation-panel__parent"><a class="link" href="/marketplace/equipment/air-compressors-air-tools">
        Air Compressors &amp; Air Tools
      </a> <i class="icon icon-angle-up"></i>
        <div class="navigation-panel__child"><a href="/marketplace/equipment/air-compressors-air-tools/air-compressors" class="link is-active">
            Air Compressors
          </a><a href="/marketplace/equipment/air-compressors-air-tools/air-tools" class="link">
            Air Tools
          </a><a href="/marketplace/equipment/air-compressors-air-tools/air-tool-accessories" class="link">
            &nbsp;
          </a></div>
    </div> <span></span>
    <div class="viewMore_link"><a href="#" class="link">View More</a></div>
</div>
```
### Product Search Example
```product-search:contextual-search-example.html hidden
```
```product-search.css hidden
.catalog-listing .equipment-listing-full .list__container{
  min-height: auto;
}
.navigation-panel{
  outline: 3px double #0050A9;
}
```

*/
