<div class="search-by-term">
  <input type="text" placeholder="Search"/>
  <div class="result-wrapper">
    <div class="result">
      <!-- <a href="#" v-html="matchingTermLabel(term)"></a> -->
    </div>
  </div>
</div>
