.mobile-list-view {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .map-list-toggle {
    cursor: pointer;
  }

  .form-item {
    margin-bottom: 8px;
  }

  .heading-4,
  .media_block {
    display: none;
  }

  .content-panel__content {
    margin: 0;

    .small-grey__paragraph {
      margin-right: 17px;
    }
  }

  .map-list-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-grey-2;
    padding: 15px 0 12px 0;
    box-shadow: 0 1px 0 0 $color-grey-11;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    .map-list-toggle__paragraph {
      padding-left: 5px;
      margin: 0;
    }

    .icon-map:before,
    .icon-th-list:before {
      position: relative;
      top: 5px;
    }
  }

  @include breakpoint($break-small) {
    display: none;
  }
}