<div class="mobile-list-view">
  <div class="map-list-toggle">
    <i class="icon icon-th-list"></i>
    {% include "@atoms/02-text/text/01-paragraph.twig"
      with {
        "paragraph_content": paragraph_content,
        "paragraph_blockname": paragraph_blockname
      }
    %}
  </div>

  <div class="location-finder-content-panel">
    {% include "@organisms/location-finder/content-panel/content-panel.twig" %}
    {% include "@molecules/location-finder/content-panel-footer/content-panel-footer.twig" %}
  </div>
</div>