.calendar_container {
  display: flex;
  flex-direction: row;

  .calendar_start {
    margin-right: 10px;
  }

  .calendar_start,
  .calendar_end {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    position: relative;
    z-index: 0;

    input {
      &:active,
      &:focus {
        background: $color-blue-subtle;
      }
      height: $calendar-input-height;
    }
    span {
      @extend %calendar-span;
      &:after {
        @extend %calendar-span-icon;
        @include breakpoint($break-small) {
          right: 8px;
        }
      }
    }
  }
}
