<template>
  <button
    class="actions-button btn btn-style--secondary btn-size--regular"
    :class="noInactiveBorder && 'no-inactive-border'"
    @blur="closeMenu"
    ref="button"
    :icon="buttonIcon"
    :text="buttonText"
    @click.stop="openMenu"
  > {{ buttonText}}
    <!-- more-vert icon -->
    <svg v-if="buttonIcon=='more-vert'" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path
        d="M9 5.5c.83 0 1.5-.67 1.5-1.5S9.83 2.5 9 2.5 7.5 3.17 7.5 4 8.17 5.5 9 5.5zm0 2c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5S9.83 7.5 9 7.5zm0 5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z"/>
    </svg>

    <span v-else><i class="icon icon-close"/></span>
  </button>
</template>

<style lang="scss">
  .q-option-menu.scrolling.actions-menu {
    margin: rem(1) 0 !important;
    max-width: rem(250);
    overflow: auto;
    position: fixed;
    z-index: 999;
  }
</style>

<style lang="scss" scoped>
  @import "../../../../../components/_patterns/00-base/layouts/grid/foundation/util/_unit.scss";

  @function rem($value) {
    @return rem-calc($value);
  }

  .actions-button {
    outline: none;
    margin: 0;
    width: rem(40);
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;

    svg {
      height: rem(20);
      width: rem(20);
    }

    span {
      vertical-align: middle;
      font-size: 1.25rem;
      display: flex;
    }
  }

  .actions-button:not(:active):not(:focus):not(:hover).no-inactive-border {
    border: rem(1) solid rgba(0, 0, 0, 0);
    background-color: transparent;
  }
</style>

<script lang="ts" src="./equipment-item-action-menu.ts"></script>
