<template>
  <div v-if="!small" class="faux-widgets-container">
    <div class="faux-container faux-widgets">
      <template v-if="large">
        <div v-for="item in 3" :key="item" class="faux-widget">
          <div class="faux-widget__img"></div>
          <div class="faux-widget__title"></div>
        </div>
      </template>
      <template v-if="xlarge">
        <div v-for="item in 4" :key="item" class="faux-widget">
          <div class="faux-widget__img"></div>
          <div class="faux-widget__title"></div>
        </div>
      </template>
    </div>
    <div class="faux-container faux-text-widget">
      <div class="faux-text-widget__tag"></div>
      <div class="faux-text-widget__text"></div>
      <div class="faux-text-widget__small-text"></div>
    </div>
    <div class="faux-container faux-graphs">
      <div class="faux-graph">
        <div class="faux-graph__header">
          <div class="faux-graph__title"></div>
          <div class="faux-graph__secondary-title"></div>
        </div>
        <div class="faux-graph__bar-container">
          <div
            v-for="(item, key) in 4"
            :key="key"
            :class="`faux-graph__wide-bar faux-graph__wide-bar-${key + 1}`">
          </div>
        </div>
      </div>
      <div class="faux-graph">
        <div class="faux-graph__header">
          <div class="faux-graph__title"></div>
          <div class="faux-graph__secondary-title"></div>
        </div>
        <div class="faux-graph__bar-container">
          <div
            v-for="(item, key) in 7"
            :key="key"
            :class="`faux-graph__skinny-bar faux-graph__skinny-bar-${key + 1}`"></div>
        </div>
      </div>
      <div class="faux-fade-out"></div>
    </div>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex';
  /*
   * @vuese
   * @group Workplace
   * Null Dashboard Faux Widgets
   */
  export default {
    name: 'NullDashboardFauxWidgets',
    computed: {
      ...mapGetters([
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is small
         */
        'small',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is medium
         */
        'medium',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is large
         */
        'large',
        /*
         * @vuese
         * @type Boolean
         * Determine if screen view is xlarge
         */
        'xlarge',
      ]),
    },
  };
</script>
