<template>
  <div class="dashboard__sign-in">
    <div class="dashboard__sign-in__col dashboard__sign-in--copy">
      <h1 class="dashboard__sign-in__heading">{{ this.heading }}</h1>
      <p class="dashboard__sign-in__subheading">{{ this.subHeading }}</p>
      <div class="dashboard__sign-in__buttons">
        <button
          :class="['button', 'button--style-2', userIsLoggedIn ? 'button--filled' : 'button--secondary','dashboard__sign-in--rent-button']"
          @click.prevent="redirectMarketplace">{{ $i18n('dashboard.nullState.buttonRent') }}
        </button>
        <button
          v-if="!userIsLoggedIn"
          class="button button--style-2 button--filled dashboard__sign-in--login-button"
          @click.prevent="redirectLogin">{{ $i18n('dashboard.nullState.buttonLogin') }}
        </button>
      </div>
      <!-- TODO: Learn More to be defined in later sprint. UR-128 - Support - Workplace v1 Onboarding Vignette DISCOVERY -->
      <!--<a href="">Learn more about Workplace</a>-->
    </div>

    <div class="dashboard__sign-in__col dashboard__unauthenticated--image">
      <img v-if="!isIE11()" alt="Workplace nullstate" srcset="
            /themes/custom/unitedrentals/dist/vue/img/UR_workplace_nullstate.png 1x,
            /themes/custom/unitedrentals/dist/vue/img/UR_workplace_nullstate@2x.png 2x
          "/>
      <img v-else alt="Workplace nullstate" src="/themes/custom/unitedrentals/dist/vue/img/UR_workplace_nullstate.png" />
    </div>
  </div>
</template>
<script>
  import BrowserInfo from '@/mixins/browser-info';
  import { mapState } from 'vuex';

  /*
   * @vuese
   * @group Workplace
   * Workplace Null Dashboard Sign In
   */
  export default {
    name: 'NullDashboardSignIn',
    props: {
      /*
       * @vuese
       * @type String
       * dashboard header
       */
      heading: {
        type: String,
        required: true,
        default: '',
      },
      /*
       * @vuese
       * @type String
       * dashboard sub-header
       */
      subHeading: {
        type: String,
        required: true,
        default: '',
      },
    },
    computed: {
      ...mapState({
        /*
         * @vuese
         * @type Boolean
         * Determine if user is logged in
         */
        userIsLoggedIn: state => state.user.isLoggedIn,
      }),
    },
    methods: {
      /*
       * @vuese
       * @type HardLink
       * Redirect user to to marketplace
       */
      redirectMarketplace() {
        window.location.href = '/marketplace/equipment';
      },
      /*
       * @vuese
       * @type HardLink
       * Redirect user to login
       */
      redirectLogin() {
        // This won't work for local as we cannot use SSO from our local.
        window.location.href = drupalSettings.ur.sign_in_register_path;
      },
    },
    mixins: [
      BrowserInfo,
    ],
  };
</script>
